@charset "utf-8";
/* CSS Document */


.addtocartplus {
    margin-left: 205px;
    margin-top: 128px;
    position: absolute;
}



/*Css for 1920*/

@media screen and (max-width: 1920px) {



.addtocartplus {
    float: left;
    margin-top: 0px;
    /* position: relative; */
    right: 36px;
    /* vertical-align: bottom; */
}


/*#addtocartplus {
float: right;
margin-left:75%;
margin-top: 128px;
position: absolute;

}*/
	
}

@media screen and (max-width: 1900px) {

.addtocartplus {
    float: right;
    right: 35px;
    margin-top: 0px;
    vertical-align: bottom;
}




@media screen and (max-width: 1498px) {

.addtocartplus {
    float: right;
    margin-top: 0;
/*    position: relative;
*/    right: 1px;
    vertical-align: bottom;
}
}

/*Css for 1280*/

@media screen and (max-width: 1280px) {


.addtocartplus {
    float: right;
    margin-left: 103px;
    margin-top: 0px;
    position: relative;
    right: 1px;
}




/*#addtocartplus {
    float: right;
    margin-left: 101px;
    margin-top: 58px;
    position: absolute;*/}
	
}
	


/*css for 980*/

@media screen and (max-width: 980px) {


.addtocartplus {
    float: right;
    margin-left: 90px;
    margin-top: 0;
   /* position: relative;*/
    z-index: 9;
}


/*#addtocartplus {
    float: right;
    margin-left: 90px;
    margin-top: 52px;
    position: absolute;
    z-index: 9;
}
*/

}





/*Css for 800*/


@media screen and (max-width: 800px) {
	
.addtocartplus {float: right;
margin-left: -34px;
margin-top: 0px;
z-index: 9999999;
margin-right: 11px;}

/*#addtocartplus {
    float: right;
    margin-left: 60px;
    margin-top: 31px;
    position: absolute;
    z-index: 9;
}
*/
}



/*Css For 768*/

@media screen and (max-width: 768px) {




.addtocartplus {
    float: right;
    margin-right: 119px;
    margin-top: 0px;
    z-index: 9999999;
    margin-right: 11px;
    position: absolute;
}


/* #addtocartplus {
    float: right;
    margin-left: 55px;
   margin-top: 0px;
    position: relative;
    z-index: 9;
}*/

/*#addtocartplus {
    float: right;
    margin-left: 55px;
    margin-top: 28px;
    position: absolute;
    z-index: 9;
}*/
}


/*Css For 360*/

@media screen and (max-width: 360px) {



.addtocartplus {
    float: right;
    margin-right: 86px;
    margin-top: 0px;
    position: absolute;
    z-index: 9;
}


.dashboard-stat{ margin-top:20%;;
                 background-color:#F00;
}

/*#addtocartplus {
    float: right;
    margin-left: 273px;
    margin-top: 129px;
    position: absolute;
    z-index: 9;
}*/
}



/*Css For 320*/

@media screen and (max-width: 320px) {
	
.addtocartplus {
    float: right;
    margin-right: 46px;
    margin-top: 0px;
    position: absolute;
    z-index: 9;
}



.dashboard-stat{ margin-top:20%;;
                 background-color:#F00;
}
	
/*#addtocartplus {
    float: right;
    margin-left: 233px;
    margin-top: 129px;
    position: absolute;
    z-index: 9;
}*/


}
