body {
    background: #fff;
    font-family: Arial, sans-serif;
}

p {
    margin-bottom: 20px;
}

.clearout {
    height: 20px;
    clear: both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display: none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

.nbs-flexisel-inner {
    overflow: hidden;
    float: left;
    width: 100%;
    background: #fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}

    .nbs-flexisel-item img {
        width: 100%;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 45px;
    }

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../images/button-next.png) no-repeat;
}



/*Added by danyal manzoor on admin panel revamp on 12-19-2016*/

.toggle-group .btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.toggle-group .btn-default {
    background-color: #ddd;
}

.toggle-group .btn-success :hover {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}

.bread-Crumb-Top {
    margin-right: -20px !important;
    margin-left: -20px;
    background-color: rgb(33, 100, 129);
    /*position: fixed;*/
    /*width: 100%;*/
    width: auto;
    margin-top: -16px;
    z-index: 1000;
}

.topAddNewButton {
    padding: 0px 10px !important;
    color: white !important;
    border: 1px solid rgb(255, 255, 255) !important;
    /*position: absolute !important;*/
    top: 6px !important;
    height: 28px !important;
    /*right: 257px !important;*/
    background-color: rgb(198, 50, 38) !important;
    font-weight: 600 !important;
}

    .topAddNewButton:hover, .topAddNewButton:active, .topAddNewButton:focus {
        color: white;
        background-color: rgb(220, 38, 29) !important;
        border: 1px solid rgb(255, 255, 255) !important;
    }



.os-admin-tabs {
    margin: 0px 0;
}

    .os-admin-tabs .nav-tabs li {
        float: none;
        display: inline-block;
    }

    .os-admin-tabs .nav-tabs {
        border: 1px solid #eee !important;
        padding: 0 0 1px;
        text-align: center;
        border: none;
    }

        .os-admin-tabs .nav-tabs a {
            color: #333;
        }

.location-tab-one {
    margin: 10px 0 0;
}

.os-admin-tabs .nav-tabs {
    border: 1px solid #eee !important;
    padding: 0 0 1px;
    text-align: center;
    border: none;
    background: rgba(238, 238, 238, 0.44);
}

.update-btn button {
    float: right;
    margin-right: 20px;
}

.back-btn button {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}


.nav-tabs {
    border-bottom: 2px solid #DDD;
    margin-bottom: 0px !important;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #666;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #3b9cd3 !important;
            background: transparent;
            text-decoration: none;
            background-color: #eee;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #c63226;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs .active {
        background-color: #eee;
    }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-content {
    padding: 20px;
}

.nav-tabs.top-tabs-border {
    border-top: medium none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: transparent;
    text-decoration: none !important;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.tab-content input, .tab-content select, .tab-content p, .tab-content .toggle {
    margin-bottom: 15px;
}

/*For Autocomplete Drop down selec2 style custom start*/


/*COMPANY*/
.os-admin-companies {
    margin: 40px 0;
}

.location-tab-one {
    margin: 10px 0 0;
}

.os-admin-companies input, .os-admin-companies select, .os-admin-companies p {
    margin-bottom: 15px;
}

.add-companies button {
    float: right;
    margin-bottom: 10px;
}
/*.update-btn button { float: right; margin-right: 20px;}
.back-btn button { float: right; margin-right: 20px; margin-top: 10px;}*/
/*COMPANY*/



.blueBtn {
    background-color: #3b9cd3 !important;
    border: medium none !important;
    color: #fff !important;
}


/*For Quote*/
.validation-summary-valid {
    display: none;
}


/*19-Jan-2017*/

/*20-Jan-2017*/
/*ADMIN*/
/*#ss_menu { width: 100%;}*/
.ss_button {
    background-color: #3c5665;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.ss_content {
    background-color: #EFEFEF;
    display: none;
    margin-bottom: 10px;
    padding: 10px;
}

    .ss_content ul {
        list-style: outside none none;
        padding: 0;
    }

    .ss_content a {
        color: #333;
        font-size: 16px;
        line-height: 30px;
        transition: all 0.3s ease;
    }

        .ss_content a:hover {
            color: #666;
            font-size: 16px;
            line-height: 30px;
            text-decoration: none;
        }

    .ss_content i {
        position: relative;
        top: -2px;
    }

.ss_button img {
    margin-right: 10px;
    margin-top: -4px;
    width: 25px;
}

.ss_button .fa-angle-down {
    display: inline-block;
    float: right;
    position: relative;
    top: 4px;
}


.ss_button1 {
    background-color: #216481;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.ss_content1 {
    background-color: #EFEFEF;
    display: none;
    margin-bottom: 10px;
    padding: 10px;
}

    .ss_content1 ul {
        list-style: outside none none;
        padding: 0;
    }

    .ss_content1 a {
        color: #333;
        font-size: 16px;
        line-height: 30px;
        transition: all 0.3s ease;
    }

        .ss_content1 a:hover {
            color: #666;
            font-size: 16px;
            line-height: 30px;
            text-decoration: none;
        }

    .ss_content1 i {
        position: relative;
        top: -2px;
    }

.ss_button1 img {
    margin-right: 10px;
    margin-top: -4px;
    width: 25px;
}

.ss_button1 .fa-angle-down {
    display: inline-block;
    float: right;
    position: relative;
    top: 4px;
}
/*ADMIN*/
/*20-Jan-2017*/

/*23-Jan-2017*/
.location-tab-one textarea {
    margin-bottom: 15px;
}

.pp-limit {
    position: relative;
    top: -12px;
}

.head-first {
    margin-bottom: 15px;
    text-align: center;
}

    .head-first h4 {
        display: inline-block;
        font-weight: normal;
        margin-right: 20px;
    }

    .head-first a {
        color: #333;
        display: inline-block;
        font-weight: bold;
        text-decoration: underline;
    }

        .head-first a:hover, .head-first a:visited, .head-first a:focus, .head-first a:link {
            color: #333;
        }

.head-sec label {
    font-weight: bold;
}

.head-sec1 label {
    display: block;
    font-weight: bold;
}

.head-sec1 input[type="search"] {
    display: inline-block;
    width: 69%;
}

.head-sec1 button {
    background-color: #3b9cd3;
    color: #fff;
    display: inline-block;
    float: right;
    padding: 0;
    width: 29%;
}

.head-sec2 button {
    color: #333;
    float: right;
    font-size: 16px;
    margin-top: 22px;
    transition: ease 0.2s;
}

.back-to-address {
    background: red none repeat scroll 0 0;
    border: 1px solid #fff;
    padding: 6px 20px;
}

.dag .col-md-6 {
    padding: 0;
}
/*23-Jan-2017*/

/*24-Jan-2017*/
.my-cus-grid tr th .grid-header-title a {
    color: #333;
    text-align: center;
}

.my-cus-grid .grid-row td span a, .my-cus-grid .grid-row td a {
    color: #333;
}

.my-cus-grid .grid-row input[type="checkbox"] {
    width: auto;
}

.my-cus-grid .grid-row a i {
    font-size: 18px;
    margin-top: 14px;
    text-align: center;
    width: 100%;
}

.shp-adr button {
    float: right;
    padding: 6px 10px;
}

.shipping-addresses .col-md-6.col-sm-6.col-xs-6 {
    padding: 0 2px;
}

.shipping-addresses h2 {
    text-align: center;
}

.shipping-addresses label {
    font-size: 18px;
    text-align: right;
    width: 100%;
}

.shipping-addresses span {
    font-size: 16px;
    text-transform: uppercase;
}

.select-country-dd select {
    width: 300px;
}

.checkboxes input[type="checkbox"] {
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.users-btns .back-to-address {
    background: red none repeat scroll 0 0;
    border: 1px solid #fff;
    display: inline-block;
    float: right;
    padding: 7px 20px;
}

.users-btns button {
    margin-right: 15px;
}

.top-head-buttons-users {
    margin-bottom: 10px;
}

.users-liau {
    position: relative;
    text-decoration: underline;
    top: -10px;
}
/*24-Jan-2017*/

/*25-Jan-2017*/
.tab-head {
    background: #3b9ad2 none repeat scroll 0 0;
    color: #fff;
    margin: 30px 0;
    text-align: center;
}

    .tab-head h3 {
        margin-top: 8px;
    }

.os-update-contact input, .os-update-contact select {
    margin-bottom: 10px;
}

    .os-update-contact input[type=radio] {
        height: auto;
    }

.os-update-contact p {
    margin-top: 2px;
}

.os-update-contact textarea {
    margin: 0 auto;
    width: 50%;
}

.os-update-contact input[type="file"] {
    border: medium none;
    padding: 0;
}
/*25-Jan-2017*/

/*26-Jan-2017*/
/*MENUFACTURER*/
.manufacturer input[type=radio], .manufacturer-info input[type=checkbox] {
    width: auto;
}

.update-btn1 button {
    float: right;
}
/*MENUFACTURER*/
/*26-Jan-2017*/

/*26-Jan-2017*/
/*SUPPLIER*/
.supplier-tab-head {
    background: #3b9ad2 none repeat scroll 0 0;
    color: #fff;
    margin: 10px 0;
    text-align: center;
}

    .supplier-tab-head h3 {
        display: inline-block;
        margin: 12px 0 15px;
    }

.supplier-info-tab input[type=checkbox], .supplier-info-tab input[type=radio] {
    width: auto;
}

.supplier-info-tab span {
    position: relative;
    top: -12px;
}

    .supplier-info-tab span a {
        color: #333;
    }
/*SUPPLIER*/
/*26-Jan-2017*/

/*27-Jan-2017*/
.supplier-multi-slt .ms-options a {
    color: #333;
}

.supplier-multi-slt .ms-options ul {
    list-style: outside none none;
    padding-left: 6px;
}

.supplier-multi-slt .ms-search input {
    height: 40px;
    margin-bottom: 0;
}

.supplier-multi-slt .ms-options-wrap button {
    height: 40px;
}

.accre-supp input[type="radio"] {
    float: left;
    height: auto;
    margin-right: 10px;
    width: auto;
}

.dist-up, .d-up-div {
    margin-top: 30px;
}

.uplifts-select2 {
    margin-bottom: 15px;
}
/*27-Jan-2017*/

/*27-Jan-2017*/
.update-btn2 button {
    float: right;
    margin: 20px 0;
}

.mfg-users .grid-row td span a, .mfg-users .grid-row td a, .mfg-users .grid-header-title a {
    color: #333;
}

.mfg-users input[type="checkbox"] {
    width: auto;
}

.mfg-users i {
    margin-top: 15px;
}

.back-to-users-profile {
    background: red none repeat scroll 0 0;
    border: 1px solid #fff;
    float: right;
    margin-right: 20px;
    padding: 7px 20px;
}

.user-edit-spe {
    float: left !important;
    margin-bottom: 20px;
}

.active-yes-no {
    padding: 0;
}

.up-log-user a {
    color: #333;
    font-size: 11px;
    position: relative;
    top: -12px;
}

    .up-log-user a:hover, .up-log-user a:visited, .up-log-user a:focus {
        color: #333;
    }

/*CUSTOMER*/
.update-btn-gsp-pref button {
    float: right;
    margin: 30px 0 0;
}
/*CUSTOMER*/
/*27-Jan-2017*/

/*31-Jan-2017*/
.gsp-gs-up input[type=checkbox] {
    width: auto;
}

.special-uplifts-tab {
    margin-top: 20px;
}

    .special-uplifts-tab .ms-options-wrap button {
        height: 40px;
    }

    .special-uplifts-tab .ms-options-wrap {
        margin-top: 20px;
    }

.sl {
    margin-top: 20px;
}

.special-uplifts-tab .ms-options-wrap .ms-search input {
    height: 40px;
    margin-bottom: 5px;
}

.special-uplifts-tab .ms-options-wrap .ms-selectall.global {
    color: #333;
    position: relative;
    top: -2px;
}

.special-uplifts-tab .ms-options-wrap .ms-options ul {
    list-style: outside none none;
    padding: 0 0 0 6px;
}

.cus-sup-grid {
    margin-top: 20px;
}
/*31-Jan-2017*/

/*1-Feb-2017*/
.mfg-users-btns button, .mfg-users-btns a {
    border: medium none;
    float: right;
    margin-left: 5px;
}

.mfg-form-section {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

    .mfg-form-section a {
        color: #333;
        font-size: 12px;
        position: relative;
        top: -10px;
    }

        .mfg-form-section a:hover, .mfg-form-section a:visited, .mfg-form-section a:focus {
            color: #333;
        }

    .mfg-form-section input[type="radio"] {
        width: auto;
        float: left;
    }

.my-radio-btn {
    padding: 0;
}

    .my-radio-btn p {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        top: 10px;
    }

.mfg-new-user-btn {
    background-color: #3b9cd3;
    padding: 6px 13px 7px;
}

    .mfg-new-user-btn:hover {
        text-decoration: none;
    }

.mfg-users-bck-btns {
    margin-bottom: 20px;
}

    .mfg-users-bck-btns a {
        float: right;
    }

    .mfg-users-bck-btns button {
        float: right;
        margin-left: 5px;
        border: none;
    }
/*1-Feb-2017*/

/*Dropdown button*/

.dropdown-menu {
    min-width: 150px !important;         
    float:right;
}



/*product manufacturer parts*/

.cus-radio { display: inline-block; float: left; height: auto; margin-bottom: 0 !important; margin-right: 10px !important; width: auto;}

 
 


/*product manufacturer parts*/

#s2id_columnsDrp{
    display:none !important;
}
#s2id_customerDrp{
    display:none !important;
}

/*sunny gohar on 18th Jan 2018 ============= ASSET BULK UPLOAD =======================================*/


/*Toast*/
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    /*background-color: #333; /* Black background color */ /*
    color: #fff; /* White text color */
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size:18px;
    font-weight:800;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 0%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }


    #errmsg {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    /*background-color: #333; /* Black background color */ /*
    color: #fff; /* White text color */
    color: #fff;
    background-color: #fa5b5b;
    border-color: #d6e9c6;
    font-size:18px;
    font-weight:800;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 0%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
    #errmsg.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 4s;
        animation: fadein 0.5s, fadeout 0.5s 4s;
    }

/*========================================================================================*/
