﻿
@model OneSourceAdminCore.Model.AssetPopupModel
@using (Html.BeginForm("GetAssetGrid", "TicketSearch", FormMethod.Post, new { @name = "AssetForm", @id = "AssetForm" }))
{
    <input type="hidden" name="ParentCompanyId" value="@Model.ParentCompanyId">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Support - Asset Search</h4>        
        Select the criteria for your search.
    </div>
    <div class="modal-body">
        <div class="col-lg-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Serial Number:</label>

                    <div class="col-md-8">
                        <input type="text" style="width: 100%;" maxlength="50" name="SerialNumber" class="form-control">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label class="control-label col-md-4"> Location:</label>

                    <div class="col-md-8">
                        <input type="hidden" name="AssetLocationId" id="AssetLocationId" value="" />
                        <select class="ddlAssetLocation" idfor="AssetLocationId">
                            <option value="0">(None)</option>
                            @foreach (var item in Model.AssetTagAddress)
                            {
                                <option value="@item.CustomerAddressId">@item.CustomerAddress</option>
                            }
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Manufacturer:
                    </label>
                    <div class="col-md-8">
                        <input type="hidden" id="AssetManufactureIds" name="AssetManufactureIds" value="" />
                        <select class="ddlAssetManufacture form-control" multiselectidfor = "AssetManufactureIds" id="AssetManufactureId"  multiple="">                           
                            @foreach (var item in Model.AssetManufacturList)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label class="control-label col-md-4">Part #: </label>

                    <div class="col-md-8">
                        <input type="text" style="width: 100%;" maxlength="100" name="AssetPartNumber" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Asset Tag:</label>

                    <div class="col-md-8">
                        <input type="text" style="width: 100%;" maxlength="50" name="AssetTag" class="form-control">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label class="control-label col-md-4">Status:</label>

                    <div class="col-md-8">
                        <input type="hidden" name="AssetStatusId" value="" id="AssetStatusId" />
                        <select class="ddlAssetStatus" idfor="AssetStatusId">
                            <option value="0">(None)</option>
                            @foreach (var items in Model.AssetStatuses)
                            {
                                <option value="@items.Key">@items.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <br><br>

                <div class="form-group">
                    <label class="col-md-4 control-label">Category:</label>
                    <div class="col-md-8">
                        <input type="hidden" name="AssetCategoryIds" id="AssetCategoryIds" value="" />
                        <select class="ddlAssetCategory form-control"  multiselectidfor = "AssetCategoryIds" id="AssetCategoryId" multiple="">                          
                            @foreach (var items in Model.AssetCategoryList)
                            {
                                <option value="@items.Key">@items.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <br><br><br><br><br>
                <input type="button" value="Reset" class="btn btn-default btnReset" style="float: right; margin-left: 20px;" />
                <button type="submit" class="btn btn-default btnSubmit" id="per" style="float: right; ">Search</button>
                
            </div>
        </div>
    </div>
    <div class="modal-footer" style="border: 0px !important;">

    </div>

}
<script>

    $("select[idFor]").change(function () {

        var textBoxId = ("#" + $(this).attr("idFor"));
        $(textBoxId).val($(this).val());
    });
    $('.btnReset').click(function () {
        GetAssetTagSearch();
    });
    ///for multiselect comma septrated ids
    $("select[multiselectidfor]").change(function () {
        var element = ("#" + $(this).attr("multiselectidfor"));
        var thisselect = ("#" + $(this).attr("id"));
        $(element).val("");
        var selMulti = $.map($(thisselect + " option:selected"), function (el, i) {
            return $(el).val();
        });
        $(element).val(selMulti.join(", "));
    });
</script>
<style>
    .modal-body label {
        font-size: 13px;
    }

    .modal-body .col-lg-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .modal-body .col-md-6 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
</style>