﻿@model OneSourceAdminCore.Model.TicketStatusScheduleModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Support Ticket Status Schedule.</h4>
    <p>Use the fields below to add or modify target and actual status dates for the ticket.</p>

</div>
@using (Html.BeginForm("UpdateTicketStatusSchedule", "TicketSearch", FormMethod.Post, new { @id = "TicketStatusScheduleForm" }))
{
<div class="modal-body" style="height:500px;overflow-y: scroll;">


    <div class="col-md-12 update-btn">
        <table class="table table-striped grid-table mfg-users">
            <tr style="color: white;font-size: 15px;">
                <th class="grid-header" style="width:5px;">
                    <div class="grid-header-title">
                        Status
                    </div>
                </th>
                <th class="grid-header" style="width:30px;">
                    <div class="grid-header-title">
                        Target Date
                    </div>
                </th>
                <th class="grid-header" style="width:30px;">
                    <div class="grid-header-title">
                        Actual Date
                    </div>
                </th>
            </tr>
            @{ int count = 1;}
            @for (int j=0;j<Model.TicketStatusList.Count;j++)
            {
                <tr class="grid-row ">
                   
                    <td class="grid-cell" data-name="CountryName">
                        <input type="hidden" name="model[@j].TktStatusID" value="@Model.TicketStatusList[j].TktStatusID"/>
                        <input type="hidden" name="model[@j].ticketid" value="@Model.TicketId" />
                      @count)  @Model.TicketStatusList[j].TktStatusName
                    </td>
                    @{
                        var statusSchedule = Model.TktStatusScheduleList.FirstOrDefault(x => x.tktstatusid == Model.TicketStatusList[j].TktStatusID);
                        count++;
                    }
                    <td class="grid-cell" data-name="CustomerName">

                       
                        <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">
                            <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                                (MM/DD/YYYY)
                            </div>
                         
                                <div class="col-md-8" style="padding-right: 0px;">
                                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                        @if (statusSchedule != null)
                                        {
                                        <input type="text" name="model[@j].targetdate" id="targetdate" value="@(statusSchedule.targetdate == null ? "" : Convert.ToDateTime(statusSchedule.targetdate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                        }
                                        else
                                        {
                                            <input type="text" name="model[@j].targetdate" id="targetdate" value="" class="form-control" readonly>
                                        }
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button" style="height:33px"><i class="fa fa-calendar" style="margin-top: 4px;"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;    float: left !important;">
                                        <img src="/Content/images/reset-btn.png">
                                    </button>
                                </div>
                          
                        </div>
                        <div class="col-md-12">
                            @{
                                int intHH = 0;
                                int intMM = 0;
                                if (statusSchedule != null && statusSchedule.targetdate != null)
                                {
                                    intHH = Convert.ToInt32(Convert.ToDateTime(statusSchedule.targetdate).ToString("HH"));
                                    intMM = Convert.ToInt32(Convert.ToDateTime(statusSchedule.targetdate).ToString("mm"));
                                }
                            }
                            <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                                (HH)
                            </div>
                            <div class="col-md-4" style="padding-left: 0px;">
                                <select name="targethours">

                                    @for (int i = 0; i < 24; i++)
                                    {
                                        if (intHH == i)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }

                                    }

                                </select>
                            </div>
                            <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                                (MM)
                            </div>
                            <div class="col-md-4" style="padding-left: 0px;">
                                <select name="targetminutes">

                                    @for (int i = 0; i < 60; i++)
                                    {
                                        if (intMM == i)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }

                                    }


                                </select>
                            </div>
                        </div>
                                

                    </td>
                    <td class="grid-cell" data-name="strStartDate">
                       
                        <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">
                            <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                                (MM/DD/YYYY)
                            </div>
                           
                                <div class="col-md-8" style="padding-right: 0px;">
                                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                        @if (statusSchedule != null)
                                        {
                                        <input type="text" name="model[@j].actualdate" id="actualdate" value="@(statusSchedule.actualdate == null ? "" : Convert.ToDateTime(statusSchedule.actualdate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                        }
                                        else
                                        {
                                            <input type="text" name="model[@j].actualdate" id="actualdate" value="" class="form-control" readonly>
                                        }
                                         <span class="input-group-btn">
                                            <button class="btn default" type="button" style="height:33px"><i class="fa fa-calendar" style="margin-top: 4px;"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;  float: left !important;">
                                        <img src="/Content/images/reset-btn.png">
                                    </button>
                                </div>
                            </div>
                        
                        <div class="col-md-12">
                            @{
                                int intHH2 = 0;
                                int intMM2 = 0;
                                if (statusSchedule != null && statusSchedule.actualdate != null)
                                {
                                    intHH2 = Convert.ToInt32(Convert.ToDateTime(statusSchedule.actualdate).ToString("HH"));
                                    intMM2 = Convert.ToInt32(Convert.ToDateTime(statusSchedule.actualdate).ToString("mm"));
                                }
                            }
                            <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                                (HH)
                            </div>
                            <div class="col-md-4" style="padding-left: 0px;">
                                <select name="actualhours">

                                    @for (int i = 0; i < 24; i++)
                                    {
                                        if (intHH2 == i)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }

                                    }

                                </select>
                            </div>
                            <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                                (MM)
                            </div>
                            <div class="col-md-4" style="padding-left: 0px;">
                                <select name="actualminutes">

                                    @for (int i = 0; i < 60; i++)
                                    {
                                        if (intMM2 == i)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }

                                    }


                                </select>
                            </div>
                        </div>
                                
                    </td>
                </tr>
                                }
         
    
        </table>
    </div>

</div>
<div class="modal-footer">
    <div class="col-md-12 back-btn">
        <button type="button" class="btn btn-default btnSubmit btnClose" id="per">Close</button>
        <button type="button" class="btn btn-default btnSubmit btnReset" id="per">Reset</button>
        <button type="submit" class="btn btn-default btnSubmit " id="per">Update</button>
    </div>
</div>
    }

<script>
    $('.btnClose').click(function(){        
        $('.close').click();
    });
    $('#TicketStatusScheduleForm').submit(function () {
        for (var i = 0; i < @Model.TicketStatusList.Count; i++) {
            if($('input[name="model['+i+'].targetdate"]').val().trim()!="")
            {
                var date=$('input[name="model['+i+'].targetdate"]').val();
                $('input[name="model['+i+'].targetdate"]').val(date+" "+$($('select[name="targethours"]')[i]).val()+":"+$($('select[name="targetminutes"]')[i]).val()+":00")
            }
            if($('input[name="model['+i+'].actualdate"]').val().trim()!="")
            {
                var date=$('input[name="model['+i+'].actualdate"]').val();
                $('input[name="model['+i+'].actualdate"]').val(date+" "+$($('select[name="actualhours"]')[i]).val()+":"+$($('select[name="actualminutes"]')[i]).val()+":00")
            }
        }
        StartLoader();
    });
    $('.btnReset').click(function(){
        GetTicketStatusSchedule(@Model.TicketId);
    });
    
    $('.resetDate').click(function(){
        $(this).parent().parent().find('input').val("");
        if ($(this).parent().parent().parent().find('select').length>0) {
            $(this).parent().parent().parent().find('select').select2('val', '0')
        }
    });
</script>
