﻿@model OneSourceAdminCore.Model.TicketDispositionAssetsModel
@{
    ViewBag.Title = "Asset Disposition";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b>  Search > Ticket Detail > Disposition Assets </b></div>
    <div class="col-md-6" style="padding:10px;"></div>
    <div class="col-md-3" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToDetail" value="Back" type="button" style="float:right">
    </div>
</div>
@using (Html.BeginForm("AddDispositionAssetSummary", "TicketSearch", FormMethod.Post, new { @id = "CountryForm" }))
{
    <div class="row" style="margin-top:20px;">
        <h4 style="margin-left:10px">Summary:</h4>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Currency </label>
                <div class="col-md-7">
                    @Html.DropDownList("CurrencyId", new SelectList(Model.CurrencyList,
                 "Key", "Value", Model.CurrencyId), "(None)",
new { @id = "CurrencyID", @valueFor = "CurrencyName", @class = "form-control ", @tabindex = "-1" })
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>  PreTax Invoice Amount  </label>
                <div class="col-md-7">
                    <input type="text" class="form-control numericwithdecimal" maxlength="8" value="@(Model.PreTaxInvoiceAmount==null?"": string.Format("{0:0.00}", Convert.ToDecimal(Model.PreTaxInvoiceAmount)))" name="PreTaxInvoiceAmount">
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top: 15px;">

        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-left: 23px;">
            <div class="col-md-3"></div>
            <div class="col-md-7"><button type="submit" class="btn btn-default btnSubmit" style="float: right; margin-left: 20px; margin: 0px;" id="per">Update</button></div>

        </div>
        <br>
        <br>
    </div>

}
<div class="clearfix"></div>
@if (Model.DispositionAssets != null && Model.DispositionAssets.Count > 0)
{
    <div class="row">
        <h4 style="margin-left:10px">Disposition Assets:</h4>
        <div class="col-md-12">
            <button type="button" class="btn btn-default btnDeleteAssets" style="float: right; margin-left: 20px; margin: 0px;" id="per">Delete</button>
        </div>
        <div class="col-md-12 update-btn my-table-ovrflw">
            <div class="col-md-12 table-scrollable" style="max-height:500px;    overflow-y: scroll;    padding-left: 0px;
    padding-right: 0px;">
                <table class="table">
                    <thead style="color: #fff;background-color: #399bd3;">
                        <tr>
                            <th style="font-size: 10px;"></th>
                            <th style="width: 50px;font-size: 10px;">
                                <input type="checkbox" class="pItemChk"><br />
                                Check/Uncheck All
                            </th>
                            <th style="font-size: 10px;">Model</th>
                            <th style="font-size: 10px;">Serial Number</th>
                            <th style="font-size: 10px;">Asset Tag</th>
                            <th style="font-size: 10px;">OEM</th>
                            <th style="font-size: 10px;">Category</th>
                            <th style="font-size: 10px;">Screen Size</th>
                            <th style="font-size: 10px;">Processor</th>
                            <th style="font-size: 10px;">RAM</th>
                            <th style="font-size: 10px;">HardDrive</th>
                            <th style="font-size: 10px;">Service Type</th>
                            <th style="font-size: 10px;">Graphics Card Part Number</th>
                            <th style="font-size: 10px;">Graphics Card Serial Number</th>
                            <th style="font-size: 10px;">Route Switch Processor Part Number</th>
                            <th style="font-size: 10px;">Route Switch Processor Serial Number</th>
                            <th style="font-size: 10px;">Optical Drive Part Number</th>
                            <th style="font-size: 10px;">Optical Drive Serial Number</th>
                            <th style="font-size: 10px;">Comments</th>
                            <th style="font-size: 10px;">Remarketing Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.DispositionAssets)
                        {
                            <tr>
                                <td><i class="glyphicon glyphicon-remove-circle" onclick="DeleteAssets(@item.DispositionAssetID)" style="color: red;"></i></td>
                                <td>
                                    <input type="checkbox" class="cItemChk" ItemId="@item.DispositionAssetID">
                                </td>
                                <td style="">
                                    <span title="Model" data-toggle="tooltip">@(item.Model ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Serial Number" data-toggle="tooltip">@(item.SerialNumber ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Asset Tag" data-toggle="tooltip">@(item.AssetTag ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="OEM" data-toggle="tooltip">@(item.OEM ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Category" data-toggle="tooltip">@(item.Category ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Screen Size" data-toggle="tooltip">@(item.ScreenSize ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Processor" data-toggle="tooltip">@(item.Processor ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="RAM" data-toggle="tooltip">@(item.RAM ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="HardDrive" data-toggle="tooltip">@(item.HardDrive ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Service Type" data-toggle="tooltip">@(item.ServiceType ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Graphics Card Part Number" data-toggle="tooltip">@(item.GraphicsCardPartNumber ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Graphics Card Serial Number" data-toggle="tooltip">@(item.GraphicsCardSerialNumber ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Route Switch Processor Part Number" data-toggle="tooltip">@(item.RouteSwitchProcessorPartNumber ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Route Switch Processor Serial Number" data-toggle="tooltip">@(item.RouteSwitchProcessorSerialNumber ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Optical Drive Part Number" data-toggle="tooltip">@(item.OpticalDrivePartNumber ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Optical Drive Serial Number" data-toggle="tooltip">@(item.OpticalDriveSerialNumber ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Comments" data-toggle="tooltip">@(item.Comments ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Remarketing Amount" data-toggle="tooltip">@(item.RemarketingAmount == null ? "" : Convert.ToDecimal(item.RemarketingAmount).ToString())</span>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h4>Disposition Assets:</h4>
    <p>Your search returned no results.</p>
}

<div class="row">
    @if (Model.DispositionAssetAttachments == null || Model.DispositionAssetAttachments.Count == 0)
    {
        <h4 style="margin-left:15px">Attachments:</h4>
        <p style="margin-left:15px">Your search returned no results.</p>
    }
    else
    {
        <h4 style="margin-left:15px">Attachments:</h4>
        <div class="col-md-12" style="padding-left: 50px;">
            @foreach (var item in Model.DispositionAssetAttachments)
            {
                <div class="row" style="margin-bottom:5px">
                    <div class="col-md-10" style="padding: 0px;margin: 0px;">
                        <img style="width:16px;height:16px" src="/Content/images/mime_types/mime_types/@item.mimetypeicon" style="cursor: default;">
                        <a style="color: blue;" href="@item.daurl"> @item.daname</a> &nbsp;&nbsp;
                        <i class="glyphicon glyphicon-remove-circle removeAttachment" daid="@item.daid" style="color: red;"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
            }
        </div>
    }
</div>
<div class="clearfix"></div>
@if (Model.CurrencyId > 0 || Model.PreTaxInvoiceAmount != null)
{
    <div class="row">
        <h4 style="margin-left:15px">Upload Disposition Assets:</h4>
        <div class="col-md-12">
            @using (Html.BeginForm("UploadBulkDispositionAssets", "TicketSearch", FormMethod.Post, new { id = "UploadForm", @enctype = "multipart/form-data" }))
            {
                <div class="col-md-6" style="padding-top: 15px;">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="padding-left: 25px;">Choose File</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse… <input id="fileQuoteRequest" class="btn btn-default attachFile" name="attachFile" type="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control fileUploadTxtBox" name="FileName" readonly="">
                            </div>
                            <span style="font-size: 10px;"><b>Note: The maximum size of attachment is 10MB</b></span>
                        </div>
                        <div class="col-md-1">
                            <button class="resetFile" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="padding-top: 15px;">
                    <button type="submit" class="btn btn-default btnSubmit" id="per">Upload</button>
                    <a href="/TicketSearch/DownloadTemplate" style="color: #23527c;">Download Template</a>
                </div>
            }
        </div>
    </div>
}
<script>
    $(function () {
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });



    $('#UploadForm').submit(function () {
        if ($('.attachFile').val() != "") {
            if ($('.attachFile')[0].files[0].size >= 10485760) {
                alert("File Size Must Be 10 MB OR Less");
                return false;
            }
            if ($('.attachFile')[0].files[0].name.split('.')[1] == "xls" || $('.attachFile')[0].files[0].name.split('.')[1] == "xlsx") {

            }
            else {
                alert("File Size Must Be xls or xlsx");
                return false;
            }

            StartLoader();
            $("body").scrollTop(0);
        } else {
            alert("Please Select File");
            event.preventDefault();
        }
        $(this).append('<input type="hidden" name="currencyId" value="' + @Model.CurrencyId + '" />');
    });
    $('.pItemChk').click(function () {

        if ($(this).prop("checked")) {
            $('.cItemChk').prop("checked", true);
        }
        else {
            $('.cItemChk').prop("checked", false);
        }
    });

    $(".btnDeleteAssets").click(function () {
        var strCheckBoxValue = "";
        $('.cItemChk').each(function () {
            if ($(this).prop("checked")) {
                strCheckBoxValue = strCheckBoxValue + $(this).attr("ItemId") + ",";
            }

        });
        if (strCheckBoxValue != "") {
            strCheckBoxValue = strCheckBoxValue.substring(0, strCheckBoxValue.length - 1);
        }
        showHideLoader(1);


        DeleteAssets(strCheckBoxValue);
    });
    function DeleteAssets(data) {
        if (confirm("Are you sure you want to delete selected asset(s)?  You will not be able to undo this action.")) {
            showHideLoader(1);
            var model = {
                DispositionAssetIDs: data
            };
            showHideLoader(1);

            $.ajax({
                url: '/TicketSearch/DeleteDispositionAssets',
                type: 'POST',
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == "1") {
                        showNotification("Item(s) Deleted successfully.");
                        showHideLoader(1);
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                    else if (data == "-1") {
                        showNotification("Error occured");
                    }
                    else if (data == "0") {
                        showNotification("Please provide correct data");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
    }
    $('.removeAttachment').click(function () {
        var daid = $(this).attr("daid");
        if (confirm("Are you sure you want to delete this attachment?  You will not be able to undo this action.")) {
            showHideLoader(1);
            data = {
                daid: daid
            }
            $.ajax({
                url: '/TicketSearch/DeleteAttachment',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data == "1") {
                        showNotification("Attachment successfully deleted");
                        showHideLoader(1);
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                    else if (data == "-1") {
                        showNotification("Error occured");
                    }
                    else if (data == "0") {
                        showNotification("Please provide correct data");
                    }

                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
    });
    $('.resetFile').click(function () {
        $(this).parent().parent().find('.attachFile').val("");
        $('.fileUploadTxtBox').val("");
    });
    $('#backToDetail').click(function () {
        window.location.href='@Session["DispositionBackUrl"].ToString()';
    });

</script>