﻿@using System.Configuration
@using GridMvc.Html
@model OneSourceAdminCore.Model.AssetDataGridModel
@{
    ViewBag.Title = "Asset";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>

<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Ticket Detail > Assign Asset </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right">
    </div>
</div>
<div class="clearfix"></div>
<div class="row" style="margin-top: 40px;">
    @using (Html.BeginForm("GetAssetRequestData", "TicketSearch", FormMethod.Post, new { @name = "TicketSearchForm", @id = "TicketSearchForm" }))
    {
        <input type="hidden" name="SerialNumber" value="" id="SerialNumber" />
        <input type="hidden" name="AssetTag" value="" id="AssetTag" />
        <input type="hidden" name="AssetId" value="" id="AssetId" />
        <input type="hidden" name="AssetLocation" value="" id="AssetLocation" />
        <input type="hidden" name="AssetDescription" value="" id="AssetDescription" />


        <input type="button" class="btn btn-default searchBtn" name="SubmitAsset" id="SubmitAsset" value="Add To Request" style="margin-left: 16px; margin-bottom: 20px;" />


    }
    <div class="col-md-12">

        @Html.Grid(Model.AssetDataGridDataList).Named("AssetGrid").Columns(columns =>
   {

       columns.Add(false).Titled("").RenderValueAs(p => Html.RadioButton("AssetId", false, new { id = p.assetid }))
           .Encoded(false).Sanitized(false).Css("assetId").SetWidth(40);

       columns.Add(p => p.MFG)
           .Titled("MFG").Filterable(true).Sortable(true).Encoded(false).Sanitized(false).Css("MFG");



       columns.Add(p => p.Category)
           .Titled("Category").Filterable(true).Sortable(true).Encoded(false).Sanitized(false).Css("Category");


       columns.Add(p => p.description)
           .Titled("Description").Filterable(true).Sortable(true).Encoded(false).Sanitized(false).Css("Description");
       
       columns.Add(p => p.Location)
           .Titled("Location").Filterable(true).Sortable(true).Encoded(false).Sanitized(false).Css("Location");

       columns.Add(p => p.SerialNo)
        .Titled("SerialNo").Filterable(true).Sortable(true).Encoded(false).Sanitized(false).Css("SerialNo");

       columns.Add(p => p.AssetTag)
           .Titled("AssetTag").Filterable(true).Sortable(true).Encoded(false).Sanitized(false).Css("AssetTag");

       columns.Add(p => p.Coverage)
         .Titled("Coverage").Filterable(true).Sortable(true).Encoded(false).Sanitized(false).Css("Coverage");

   }).WithPaging(15)

    </div>
</div>

<style>
    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        position: relative;
        margin-left: 0px;
    }

    #orderNavMenu {
        display: none !important;
    }
</style>
<script>
    //on checkbox change set particular values in hidden fields from grid
    $(document).ready(function () {
        $('input:radio[name="AssetId"]').change(function () {

            if ($(this).is(':checked')) {

                $("#AssetId").val($(this).attr("id"));
                var assetTag = $(this).closest("tr").find(".AssetTag").text();
                $("#AssetTag").val(assetTag);
                var assetLocation = $(this).closest("tr").find(".Location").text();
                $("#AssetLocation").val(assetLocation);
                var serialNumber = $(this).closest("tr").find(".SerialNo").text();
                $("#SerialNumber").val(serialNumber);
                var assetDescription = $(this).closest("tr").find(".Description").text();
                $("#AssetDescription").val(assetDescription);

            }

        });

       //check if any asset row is selected
        $("#SubmitAsset").click(function () {

            var chkId = $("#AssetId").val();

            if (chkId == "") {
                alert("Please Select Asset to process!");
            } else {
                $("#TicketSearchForm").submit();
            }


        });

    });

    $('#backToSearch').click(function () {
        window.location.href = '@ViewBag.BackUrl';
    });

</script>

