﻿@model OneSourceAdminCore.Model.TicketSearchModel
@{
    ViewBag.Title = "Ticket Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Ticket </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right">
    </div>
</div>
@using (Html.BeginForm("TicketSearchRequest", "TicketSearch", FormMethod.Post, new { @id = "TicketSearchForm" }))
{
<div class="os-admin-companies">
    <!-- Tab panes -->
    <div class="clearfix"></div>
    <div class="col-md-6">
        <div class="col-md-4">
            <label>Search Options:</label>
        </div>
        <div class="col-md-8 order-tracking-radio" style="padding-bottom:15px">
            <form>
                <label class="radio-inline">
                    <input type="radio" value="simple" @( (string.IsNullOrEmpty(Model.TicketType??"") || (Model.TicketType??"") == "simple") ? "Checked" : "") name="optradio">Simple
                </label>
                <label class="radio-inline" style="margin-left: 100px;">
                    <input type="radio"  value="advance" @((Model.TicketType??"") == "advance" ? "Checked" : "") name="optradio">Advanced
                </label>
            </form>
            <input type="hidden" name="TicketType" id="TicketType" value="@( (string.IsNullOrEmpty(Model.TicketType??"") || (Model.TicketType??"") == "simple") ? "simple" : "advance")">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Ticket #:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="6" name="TicketNumber" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Supplier Ticket #:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="100" name="STicketNumber" class="form-control" />
        </div>

        <div class="advanceOption" style="display:none;">
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Submitted By:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("SubmittedById", new SelectList(Model.SubmittedBy,
          "submittedbyuserid", "username"),
              new { @id = "SubmittedById" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Priority:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("PriorityId", new SelectList(Model.Priorities,
          "priorityid", "priority"),
              new { @id = "PriorityId" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Location:</label>
            </div>
            <div class="col-md-8 pm-mp">
                <input type="hidden" name="StrLocations" id="StrLocations">
                @Html.DropDownList("AddressId", new SelectList(Model.Locations,
          "addressid", "addressname"),
              new { @id = "AddressId", @multiselectidfor = "StrLocations", @class = "form-control", @multiple = "multiple" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Country:</label>
            </div>
            <div class="col-md-8 pm-mp">
                <input type="hidden" name="StrCountries" id="StrCountries">
                @Html.DropDownList("CountryId", new SelectList(Model.Countries,
          "countryid", "countryname"),
              new { @id = "CountryId", @multiselectidfor = "StrCountries", @class = "form-control", @multiple = "multiple" })
            </div>
            <div class="clearfix"></div>

        </div>

        <div class="col-md-4">
            <label>Assigned Supplier:</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("SFAId", new SelectList(Model.AssignedSuppliers,
              "sfaid", "sfaname"),
                  new { @id = "SFAId" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Requested After:</label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" name="RequestedAfterDate" value="" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Closed After:</label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" name="ClosedAfterDate" value="" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Serial Number:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="50" name="SerialNumber" class="form-control" />
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <label>&nbsp;</label>
        </div>
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Customer Ticket #:</label>
        </div>
        <div class="col-md-8 order-tracking-input">
            <input type="text" maxlength="100" name="CTicketNumber" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Company:</label>
        </div>
        <div class="col-md-8">
             @Html.DropDownList("CompanyId", new SelectList(Model.Companies,
             "companyid", "parentcompanyname"),
                 new { @id = "CompanyId" })
        </div>
        <div class="clearfix"></div>

        <div class="advanceOption" style="display:none;">
            <div class="col-md-4">
                <label>Affected User:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("AffectedUserContactId", new SelectList(Model.AffectedUsers,
          "affectedusercontactid", "contactname"),
              new { @id = "AffectedUserContactId" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Request Type:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("ArtypeId", new SelectList(Model.RequestTypes,
          "artypeid", "requesttype"),
              new { @id = "ArtypeId" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Status:</label>
            </div>
            <div class="col-md-8 pm-mp">
                <input type="hidden" name="StrStatuses" id="StrStatuses">
                @Html.DropDownList("TktstatusId", new SelectList(Model.Statuses,
          "tktstatusid", "ticketstatus"),
              new { @id = "TktstatusId", @multiselectidfor = "StrStatuses", @class = "form-control", @multiple = "multiple" })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Assigned CSM:</label>
        </div>
        <div class="col-md-8 pm-mp">
            @Html.DropDownList("CSRId", new SelectList(Model.AssignedCSM,
              "csrid", "contactname"),
                  new { @id = "CSRId" })
        </div>

        <div class="clearfix"></div>
    
        <div class="col-md-4">
            <label>Requested Before:</label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" name="RequestedBeforeDate" value="" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Closed Before:</label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" name="ClosedBeforeDate" value="" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Asset Tag:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="50" name="AssetTag" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button type="button" class="btn btn-default resetcontrol" style="float:right; margin-left:20PX; " id="per">Reset</button>
                    <a href="#">
                        <button id="btnSearchOrder" type="submit" class="btn btn-default" style="float:right;  margin-left:20PX;" id="per" onclick="">Search</button>
                    </a>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="clearfix"></div>
}
<script>
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
    });
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        $('.select2-container').parent().css("margin-bottom", "15px");
        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });
    });
    $('#TicketSearchForm').submit(function () {
        StartLoader();
    });

    $("input[name=optradio]:radio").change(function () {

        if ($(this).val() == "advance")
            $('.advanceOption').css("display", "block");
        else
            $('.advanceOption').css("display", "none");

    });
    $('.resetcontrol').click(function () {
        $('input:text').val("");
        $('.select2-container').select2('val', '0');
        $('select[multiple="multiple"]').val("");
        $('#StrLocations').val("");
        $('#StrCountries').val("");
        $('#StrStatuses').val("");
        
    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    $('#CompanyId').change(function () {
        StartLoader();
        window.location.href = "/search-ticket/"+$(this).val();
    });
</script>