﻿@model OneSourceAdminCore.Model.TicketDetailModel
@{
    ViewBag.Title = "Ticket Detail";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
@if (Model != null)
{
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Ticket > Ticket Detail (@Model.TicketId)</b></div>
}
else
{
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Ticket > Ticket Detail </b></div>
}
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right">
    </div>
</div>


<div class="os-admin-tabs cards">
    @if (Model != null)
    {
    <ul class="nav nav-tabs" role="tablist" style="margin-top: 25px;">
        <input type="hidden" id="currentTabId" value="@(Convert.ToString(Session["currentTabId"]))" />
        <li role="presentation" class="active"><a href="#ticket-detail" aria-controls="home" role="tab" data-toggle="tab">Ticket Details</a></li>
        <li role="presentation"><a href="#ticket-history" onclick="GetView('TicketHistory')" aria-controls="ticket-history" role="tab" data-toggle="tab">History</a></li>
        <li role="presentation"><a href="#ticket-attachment" onclick="GetView('TicketAttachment')" aria-controls="ticket-attachment" role="tab" data-toggle="tab">Attachments</a></li>
        <li role="presentation"><a href="#ticket-email" onclick="GetView('TicketEmail')" aria-controls="ticket-email" role="tab" data-toggle="tab">Email Ticket</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="col-md-12 tab-content">
        <div role="tabpanel" class="tab-pane active" id="ticket-detail">
            <input type="hidden" id="TicketId" value="@Model.TicketId">
            <input type="hidden" id="hDateFormatId" value="@(Convert.ToString(Session["DateFormatID"]))">

            @if (Session["UserGroupName"].ToString() == "ISD")
            {
                @Html.Partial("~/Views/TicketSearch/ISD/_TicketDetail.cshtml", Model)
            }
            else
            {
                @Html.Partial("~/Views/TicketSearch/SFA/_TicketDetail.cshtml", Model)
            }


        </div>
        <div role="tabpanel" class="tab-pane" id="ticket-history">
        </div>
        <div role="tabpanel" class="tab-pane" id="ticket-attachment">
        </div>
        <div role="tabpanel" class="tab-pane" id="ticket-email">
        </div>
    </div>
    <div class="clearfix"></div>
    }
    else
    {
        <div style="color:red  ; padding-top: 40px;font-size: x-large;"><p>No record found.</p></div>
    }
</div>
<script>
    $(window).load(function () {
        ActivateTabFromUrlOrSession();
    });
    $(function () {

        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        HtmlActions();
        $('.select2-choice a').css("padding-right", "0px !important;");
    });
    $('.resetDate').click(function () {
      
        $(this).parent().parent().find('input').val("");
        if ($(this).parent().parent().parent().siblings().length>0) {
            $(this).parent().parent().parent().siblings().find('select').eq(0).select2('val', '0');
            $(this).parent().parent().parent().siblings().find('select').eq(1).select2('val', '0');
        }
    });

    function GetView(viewName) {
        if (viewName == 'TicketHistory') {

            var data = {
                ticketId: $('#TicketId').val()
            };

            showHideLoader(1);
            $.ajax({
                url: '/TicketSearch/GetTicketHistory',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#ticket-history').html(data);                       
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else if (viewName == 'TicketAttachment') {

            var data = {
                ticketId: $('#TicketId').val()
            };

            showHideLoader(1);
            $.ajax({
                url: '/TicketSearch/GetTicketAttachment',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#ticket-attachment').html(data);
                        HtmlActionsForAttachment();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else if (viewName == 'TicketEmail') {

            var data = {
                ticketId: $('#TicketId').val()
            };

            showHideLoader(1);
            $.ajax({
                url: '/TicketSearch/GetTicketEmail',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#ticket-email').html(data);                       
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
    }
    function HtmlActions() {
        $('.date-picker').datepicker({
            autoclose: true
        });
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('.select2-container').parent().css("margin-bottom", "15px");
    }
    $('#backToSearch').click(function () {
        window.location.href = "/searched-ticket-list";
    });
    function HtmlActionsForAttachment() {

        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
            $('#headerMsg').text("");
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $('input[type="file"]').change(function () {


            if ($(this).get(0).files.length > 0) {

                for (var i = 0; i < $(this).get(0).files.length; i++) {

                    var name = $(this).get(0).files[i].name;
                    name = name.substring(0, name.lastIndexOf('.'));

                    if (name.length > 100) {
                        alert('File name is too long, File name must have 100 or less characters');
                        $(this).val('');
                        return false;
                    }

                }


            }
        });

    }
</script>