﻿
@model OneSourceAdminCore.Model.TicketListModel
@{
    ViewBag.Title = "Ticket List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Ticket </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;"> 
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float:right">
    </div>
</div>
<div class="clearfix"></div>

<div class="row" style="margin-top:40px">
    <div class="col-md-1" style="margin-top: 5px;  padding-right: 0px;"><label>Record Size:</label></div>
    <div class="col-md-2">
        @if (ViewBag.TotalCount != null)
        {
            int totalcount = ViewBag.TotalCount;

            <select class="form-control ddlTotalrecord">
                @if (totalcount <= 500)
                {
                    <option value="500">500</option>
                }
                else if (totalcount <= 1000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                }
                else if (totalcount <= 2000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                }
                else if (totalcount <= 5000 || totalcount >= 5000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                }
                @*else if (totalcount <= 10000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                }
                else if (totalcount <= 20000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                }
                else if (totalcount <= 50000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                    <option value="50000">50000</option>
                }
                else if (totalcount > 50000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                    <option value="50000">50000</option>
                    <option value="50001">50000+ </option>
                }*@
            </select>
        }
    </div>
    <div class="col-md-6" style="margin-top: 5px;"></div>
    <div class="col-md-1" style="margin-top: 5px;"><label>Page Size:</label></div>
    <div class="col-md-2">
        @if (ViewBag.TotalCount != null)
        {
            int requiredRecord = ViewBag.RequiredRecord;

            <select class="form-control ddlPageSize">
                @if (requiredRecord == 500)
                {
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                }
                else if (requiredRecord > 500)
                {
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                }

            </select>
        }
    </div>

</div>



@using GridMvc.Html
@if (Model.LstTicket != null && Model.LstTicket.Count > 0)
{

    <div class="" style="margin-top: 10px;">
        @Html.Grid(Model.LstTicket).Columns(columns =>
       {
       columns.Add(C => C.ticketid).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Ticket #").SetWidth(50);
       columns.Add(C => C.parentcompanyname).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Company").SetWidth(50);
       columns.Add(C => C.CreateDate).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Create Date").SetWidth(50);
       columns.Add(C => C.tktstatusname).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Status").SetWidth(50);
       columns.Add(C => C.RequestType).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Request Type").SetWidth(50);
       columns.Add(C => C.CloseDate).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Close Date").SetWidth(50);
       columns.Add(C => C.priorityname).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Priority").SetWidth(50);
       columns.Add(C => C.countryname).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Country").SetWidth(50);
       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" onclick="TicketDetail(@o.ticketid)">Edit </a>);
       }).WithPaging(ViewBag.PageSize)
    </div>


}
<script>
    $(function () {

        var data = '@Model.LstTicket';
        if (data.length == 0) {
            StartLoader();
            window.location.href = "/search-ticket";
        }
    })
    function TicketDetail(ticketId) {
        StartLoader();
        window.location.href = "/ticket-detail/" + ticketId;
    }
    $(function () {
        $('.ddlTotalrecord').val(@ViewBag.RequiredRecord);
        $('.ddlPageSize').val(@ViewBag.PageSize);
    });
    $('#backToSearch').click(function () {
        StartLoader();
        window.location.href = "/search-ticket";
    });
    $('.ddlTotalrecord').change(function () {
        StartLoader();
        if (parseInt($(this).val()) < parseInt($('.ddlPageSize').val())) {
            $('.ddlPageSize').val("50");
        }
        window.location.href = "/searched-ticket-list/" + ($(this).val() == null ? "500" : $(this).val()) + "/" + ($('.ddlPageSize').val() == null ? "50" : $('.ddlPageSize').val());


    });
    $('.ddlPageSize').change(function () {
        StartLoader();
        window.location.href = "/searched-ticket-list/" + ($('.ddlTotalrecord').val() == null ? "500" : $('.ddlTotalrecord').val()) + "/" + ($(this).val() == null ? "50" : $(this).val());

    });
</script>

