﻿@model OneSourceAdminCore.Model.SLAReportModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Procurement Dashboard";
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}

<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_customerDrp.summary {
        display: block !important;
    }

    #s2id_manufacturerDrp.summary {
        display: block !important;
    }

    /*#s2id_customerCountries.summary {
        display: block !important;
    }*/
</style>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Dashboard > Procurement Dashboard </b>
        }
    </div>
</div>


<div class="row" style="margin-top:48px;">

    <div class="col-md-8 col-md-offset-3">

        @*Customer List*@

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Customer:
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                    {
                        @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
      "CustomerId", "CustomerName", Model.CustomerId),
      new { @id = "customerDrp", @idFor = "Key", @valueFor = "Value", @class = "summary", @tabindex = "-1" });
                    }

                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblCustomer" style="color:red">

                </span>

            </div>
        </div>

        @*Manufacturer List*@
        <div class="row">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                OEM:
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    @if (Model.ListManufacturers != null && Model.ListManufacturers.Count > 0)
                    {
                        @Html.DropDownList("ManufacturerId", new SelectList(Model.ListManufacturers,
                            "Key", "Value"),
                            new { @id = "manufacturerDrp", @idFor = "Key", @valueFor = "Value", @class = "summary", @tabindex = "-1" });
                    }

                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblManufacturer" style="color:red">

                </span>

            </div>
        </div>


        @*Countries List*@


        <div class="row" style="margin-top: 0px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Country:
            </div>
            <div class="col-md-6">
                <div class="form-group customerCountries">
                    <select id="customerCountries" class="summary"></select>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblCountries" style="color:red">

                </span>

            </div>
        </div>



        <br />
        <div class="row">

            <div class="col-md-2 col-md-offset-2" style="text-align:left; ">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Generate</button> &nbsp;
                </span>
                @*<span class="input-group-btn" style="">
                        <a href="/procurement-dashboard" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                    </span>*@
            </div>
        </div>

    </div>



</div>
<br />
<br />
<div class="row">
    <div class="portlet-body" style="margin-top: 10px;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div id="DeliveryMetrics"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div id="OrderAcceptance"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div id="QuoteAcceptance"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $(function () {
        var firstTime = true;
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 5000);

        $("#customerDrp,#customerCountries ,#manufacturerDrp").select2({ allowClear: true });
        $("#customerDrp").change(function () {
            var customerId = $(this).val();
            var selectedId = $("#customerCountries").val();
            if (selectedId == null || selectedId == "") {
                selectedId = 0;
            }
            getcountriesbycustomer(customerId, selectedId);
           
        });

        function getcountriesbycustomer(customerId, selectedId) {
            showHideLoader(1);
            $.ajax({
                url: '/SLAReports/GetCountryByCustomerId?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 0) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#customerCountries").html(options);
                        if (data != null && data.length > 0) {
                            $("#customerCountries").select2({ width: 'resolve' });
                            if (firstTime) {
                                showHideLoader(1);
                                $("#btnGenerate").trigger("click");
                                firstTime = false;
                                showHideLoader(0);
                            }
                        }
                    }
                    else {

                        $("#customerCountries").html("");
                        $("#customerCountries").prepend("<option value='0' selected='selected'>--Select--</option>");
                        $("#customerCountries").val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        $("#customerDrp").trigger("change");
    });

    $("#btnGenerate").on("click", function (e) {

        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {
            showValidationError('Please select customer', 'lblCustomer');
            return false;
        }

        if (($("#manufacturerDrp").val() == "" || $("#manufacturerDrp").val() == null || $("#manufacturerDrp").val() == "0") || $("#manufacturerDrp").val() == "null") {
            showValidationError('Please select manufacturer', 'lblManufacturer');
            return false;
        }

        if (($("#customerCountries").val() == "" || $("#customerCountries").val() == null || $("#customerCountries").val() == "0") || $("#customerCountries").val() == "null") {
            showValidationError('Please select countries', 'lblCountries');
            return false;
        }

        var customerId = $("#customerDrp").val();
        var countryIds = $("#customerCountries").val();
        var manufacturerId = $("#manufacturerDrp").val();

        var values = {
            "CustomerIds": customerId,
            "CountryIDs": countryIds,
            "ManufacturerIds": manufacturerId
        }

        showHideLoader(1);
        $.ajax({
            url: '/ProcurementDashboard/GetReportChartData',
            type: 'POST',
            data: values,
            success: function (data) {
                var DeliveryMetrics = data.DeliveryMetrics;
                var OrderAcceptance = data.OrderAcceptance;
                var QuoteAcceptance = data.QuoteAcceptance;
                var chartId = "";
                var result = null;
                if (DeliveryMetrics != null && DeliveryMetrics != "" && DeliveryMetrics != undefined) {
                    result = DeliveryMetrics;
                    chartId = "DeliveryMetrics";
                    RenderChart(result.dataList, result.seriesList, result.reportName, result.subtitle, chartId);
                }
                else {
                    $('#DeliveryMetrics').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center'>Delivery Metrics</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
                }

                if (OrderAcceptance != null && OrderAcceptance != "" && OrderAcceptance != undefined) {
                    result = OrderAcceptance;
                    chartId = "OrderAcceptance";
                    RenderChart(result.dataList, result.seriesList, result.reportName, result.subtitle, chartId);
                }
                else {
                    $('#OrderAcceptance').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center'>Order Acceptance</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
                }

                if (QuoteAcceptance != null && QuoteAcceptance != "" && QuoteAcceptance != undefined) {
                    result = QuoteAcceptance;
                    chartId = "QuoteAcceptance";
                    RenderChart(result.dataList, result.seriesList, result.reportName, result.subtitle, chartId);
                }
                else {
                    $('#QuoteAcceptance').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center'>Quote Acceptance</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart 
                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });

        function RenderChart(data, category, title, subtitle, chartId) {
            Highcharts.chart(chartId, {
                chart: {
                    type: 'column'
                },
                title: {
                    text: title
                },
                subtitle: {
                    text: subtitle
                },
                xAxis: {
                    categories: category
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Score %'
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'normal'
                    }
                },
                series: data,
                credits: {
                    enabled: false
                },
            });
        }
    });

    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }
</script>