﻿
@model OneSourceAdminCore.Model.QuoteDetailModel
<div class="col-md-12 back-btn" style="margin-bottom: 15px;">
    @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print Excel</button>*@
    <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="downloadPDF()">Print PDF</button>
</div>
@{var statusCode = Model.OldQuoteDetail.partquotestatuscode; }

    <div class="col-md-12"><p><b>Quote Request:</b></p></div>

    <div class="col-md-6">
        <input type="hidden" id="quoteId" name="quoteId" value="@Model.QuoteId">
        <input type="hidden" id="quoteType" name="quoteType" value="@Model.QuoteType">
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Quote #:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OldQuoteDetail.partquoteid)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Country:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OldQuoteDetail.countryname ?? "")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Total Price:</label>
        </div>
        <div class="col-md-8">
            <p>@(Convert.ToDecimal(Model.TotalPrice) == 0 ? "-" : ((string.IsNullOrEmpty(Model.Symbol) ? "" : Model.Symbol + " ") + string.Format("{0:0.00}", Convert.ToDecimal(Model.TotalPrice))))</p>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">

        <div class="col-md-4">
            <label>Company:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OldQuoteDetail.customername ?? "")</p>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            <label>Currency:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OldQuoteDetail.currencyname ?? "")</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    @if (statusCode != "X" && statusCode != "N")
    {
        <div class="col-md-12"><p><b>Actions</b></p></div>

        <div class="col-md-8">
            <div class="clearfix"></div>
            <div class="col-md-12"> <label>Status:</label> <b><label>@Model.OldQuoteDetail.partquotestatus</label></b></div>
        </div>
        <div class="col-md-4">
            @if (statusCode == "C")
            {
                <div class="col-md-8" style="float:right">
                    <input type="button" class="form-control" id="per" onclick="Inprogress()" value="Change to In Progress" />
                    </div>
            }
            else if (statusCode == "P")
            {
                <div class="col-md-8" style="float:right">
                    <input type="button" class="form-control" id="per" onclick="Quotecomplete()" value="Change to Complete" />
                </div>
            }
                </div>
            }


<script>

  @if (statusCode == "C")
  {
    <text>
    function Inprogress() {

        var data = {
            quoteId: $('#QuoteId').val(),
            status: "In Progress",
            quoteType: '@Model.QuoteType'
        };
        showHideLoader(1);
        $.ajax({
            url: '/QuoteSearch/ChangeQuoteStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    showNotification("Quote Status has been changed.");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
    </text>
  }
  else if (statusCode == "P")
  {
    <text>
    function Quotecomplete() {

        var data = {
            quoteId: $('#QuoteId').val(),
            status: "Complete",
            quoteType: '@Model.QuoteType'
        };
        showHideLoader(1);
        $.ajax({
            url: '/QuoteSearch/ChangeQuoteStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    showNotification("Quote Status has been changed.");
                    window.location.reload();
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
    </text>
  }

    $('#QuoteDetailForm').submit(function () {
        StartLoader();
    });

    function downloadPDF() {
        window.location = "/QuoteSearch/ExportQuoteDetailToPdf?quoteId=" + '@Model.QuoteId' + "&quoteType=" + '@Model.QuoteType';
    }


</script>
