﻿
@model OneSourceAdminCore.Model.QuoteCommentHistoryModel
@using System.Data

<div class="col-md-12">
    <h2>Comments:</h2>
</div>
<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="col-md-4" style="padding-left: 0;">
        <label pull-left>Add Comments:</label>
    </div>
    <div class="col-md-4">
        @if (Session["UserGroupName"].ToString() == "ISD")
        {
            <span class="pull-right">GS Only</span>
            <input type="checkbox" class="form-control pull-right isGSOnly" style="width: auto; height: auto; margin-right: 5px;" />
        }
    </div>
    <div class="col-md-4" style="padding-right: 0;">
        <input type="submit" id="per" class="form-control pull-right addComment" value="Add Comments" />
    </div>

    @Html.CheckBox("isUrgent")
    <label for="isUrgent">Urgent Request</label>
    <br />
    <textarea name="add-comments" cols="10" rows="6" maxlength="2000" class="form-control quoteComment"></textarea>
    <span><b>Note: The maximum character length of comments is 2000.</b></span>
</div>
<div class="col-md-3"></div>
<div class="col-md-12">
    @if (Model.QuoteHistory == null || Model.QuoteHistory.Count == 0)
    {
        <h4>History : </h4>
        <p>Your search returned no results.</p>
    }
    else
    {
        <h4>History : </h4>
        <div >
            <div class="row" style="max-height: 300px;overflow-y:auto;  padding-left: 15px;">
                <div class="panel panel-default">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Log Date</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Logged By</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Company</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.QuoteHistory)
                            {
                                <tr>
                                    <td class="col-xs-2">@item.logdate</td>
                                    <td class="col-xs-2">@item.loggedby</td>
                                    <td class="col-xs-2">@item.company</td>
                                    <td class="col-xs-1">@Html.Raw(item.comments)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
@if (Session["UserGroupName"].ToString() == "ISD")
{
    <div class="col-md-12">
        @if (Model.GSQuoteComment.Count == 0)
        {
            <h4>GS Only Comments:</h4>
            <p>Your search returned no results.</p>
        }
        else
        {
            <h4>GS Only Comments:</h4>
            <div class="container" style="max-height: 300px;overflow:auto">
                <div class="row">
                    <div class="panel panel-default">
                        <table class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Log Date</th>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Logged By</th>
                                    <th class="col-xs-2 " style="color: #fff;background-color: #399bd3;">Company</th>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Event</th>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Status</th>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GSQuoteComment)
                                {
                                    <tr>
                                        <td class="col-xs-2">@item.logdate</td>
                                        <td class="col-xs-2">@item.loggedby</td>
                                        <td class="col-xs-2">@item.company</td>
                                        <td class="col-xs-2">@(item.@event)</td>
                                        <td class="col-xs-1">@item.status</td>
                                        <td class="col-xs-3">@Html.Raw(item.comments)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
}
<script>
    $('.addComment').click(function () {

        if ($('.quoteComment').val().trim() == "") {
            alert("Comments are required to process.");
            return false;
        }
        showHideLoader(1);
        var data = {
            quoteId:$('#quoteId').val(),
            isGSOnly: $('.isGSOnly').prop("checked"),
            comments: $('.quoteComment').val(),
            quoteType: '@Model.quoteType',
            IsUrgent: $('#isUrgent:checked').val() == "true" ? true : false
        }

        $.ajax({
            url: '/QuoteSearch/AddQuoteComment',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    showNotification("Comments has been added successfully.");
                    setTimeout(function () {
                        GetView('QuoteHistoryComments');
                    }, 2000);
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    });

</script>