﻿@using GridMvc.Html
@model OneSourceAdminCore.Model.SoftwareSettingsModel

@{
    ViewBag.Title = "Customer Settings";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                      margin-right: -19px;">
    <div class="col-md-6" style="padding:10px; color:#FFF;"><b> Software Settings  > Customer Settings</b></div>
    <div class="col-md-6" style="padding: 5px 10px;">
        <a href="/software/customer-settings/@Model.CustomerId/-1"><input class="btn btn-default topAddNewButton" value="Add New" type="button" style="float:right !important;"></a>
    </div>

</div>


<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Customer Settings</h1>
        <hr />
        @using (Html.BeginForm("AddUpdateSoftwareCustomerSettings", "SoftwareCatalog", FormMethod.Post, new { @id = "softwareSettingsForm", @name = "softwareSettingsForm" }))
        {
            <div class="col-md-12">
                <input type="hidden" name="SettingId" value="@Model.SettingId" />
                <div class="col-md-12">
                    <div class="col-md-3"></div>
                        <div class="col-md-2" style="margin-top: 5px;">
                            <label> <b>Select Customer : </b></label>
                        </div>

                        <div class="col-md-4">
                            @Html.DropDownList("CustomerId", new SelectList(Model.CustomersList,
                    "Key", "Value"),
                    new { @id = "drpCustomer", @class = "selectDrp" })
                        </div>
                        <div class="clearfix"></div>
                        <br />

                    </div>

                <div class="col-md-12 softwareFieldsDiv" >
                    <div class="col-md-6">

                        <div class="col-md-4">
                            <label>Agreement Type : </label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("AgreementTypeId", new SelectList(Model.AgreementTypeList,
                    "Key", "Value"),
                    new { @id = "drpAgreementType", @class = "selectDrp" })
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-4">
                            <label>PCN Number : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="PcnNumber" maxlength="50" value="@Model.PcnNumber" id="pcnNumber">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <label>Purchasing Account # : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="PusrchasingAccountNumber" maxlength="255" value="@Model.PusrchasingAccountNumber" id="pusrchasingAccountNumber">
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-4">
                            <label>Legal Name : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="LegalEntityName" maxlength="255" value="@Model.LegalEntityName">
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-4">
                            <label>Effective Date : </label>
                        </div>
                        <div class="col-md-8">
                            @{
                            var effectiveDate = (Model.EffectiveDate != null ? Convert.ToDateTime(Model.EffectiveDate).ToString("MM/dd/yyyy") : @DateTime.Now.ToString("MM/dd/yyyy"));
                            }
                            <div class="input-group input-medium date date-picker" data-date="@effectiveDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="EffectiveDate" value="@effectiveDate" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-4">
                            <label>Expire Date : </label>
                        </div>
                        <div class="col-md-8">

                            @{
                            var expireDate = Model.ExpireDate != null ? Convert.ToDateTime(Model.ExpireDate).ToString("MM/dd/yyyy") : "";
                            }
                            <div class="input-group input-medium date date-picker" data-date="@expireDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="ExpireDate" value="@expireDate" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>


                        </div>
                        <div class="clearfix"></div>
                        @if (@Model.SettingId > 0)
                    {<br />
                    <div class="col-md-4">
                        <label>Is Active:</label>
                    </div>
                    <div class="col-md-8">
                        @{
                                var chk2 = "checked";
                                if (!Model.IsActive)
                                {
                                    chk2 = "";
                                }
                            <input type="hidden" name="IsActive" id="IsActive" data-isbit="false" value="@Model.IsActive.ToString()">
                            <input class="" @chk2 data-toggle="toggle" name="IsActivechkBtn" checkboxfor="IsActive" value="@Model.IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                        }
                    </div>
                                }

                    </div>

                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>Program :</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("ProgramId", new SelectList(Model.ProgramsList,
                    "Key", "Value"),
                    new { @id = "drpProgram", @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-4">
                            <label>Contract Type : </label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("ContractTypeId", new SelectList(Model.ContractTypeList,
                    "Key", "Value"),
                    new { @id = "drpContractType", @class = "selectDrp" })
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-4">
                            <label>Enrollment Number : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="EnrollmentNumber" maxlength="255" value="@Model.EnrollmentNumber" id="enrollmentNumber">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <span style="color:red;">*</span>  <label>Agreement # : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="AgreementNumber" maxlength="100" value="@Model.AgreementNumber" required="">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <span style="color:red;">*</span>     <label>Connection Id : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" required="" name="ConnectionSourceId" maxlength="100" value="@Model.ConnectionSourceId">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Source : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="Source" maxlength="100" value="@Model.Source">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <span style="color:red;">*</span>    <label>Anniversry Month : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="number" min="1" max="12" maxlength="2" name="AnniversryMonth" required value="@(Model.AnniversryMonth==0 ?"": Model.AnniversryMonth.ToString())">
                        </div>
                        <div class="clearfix"></div>


                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label>Pool Settings :</label>
                        </div>
                        @{ int counter = 0; }
                        @foreach (var item in Model.PoolList)
                    {
                        var priceLevel = "";
                        if (Model.PoolSettingList != null && Model.PoolSettingList.Any(x => item.Key == x.PoolId))
                        {
                            priceLevel = Model.PoolSettingList.FirstOrDefault(x => item.Key == x.PoolId).PoolLevel;
                        }

                    @*<input type="hidden" class="txtPoolSetting" Pool="@item.Value" name="PoolSettingList[@counter].PoolLevel" value="@priceLevel"/>*@
                    <input type="hidden" name="PoolSettingList[@counter].PoolId" value="@item.Key" />
                    <div class="col-md-2 pool_@item.Value">

                        <h4 style="margin-top: 5px;">@item.Value</h4>
                        <div class="clearfix"></div>
                        <select class="form-control" name="PoolSettingList[@counter].PoolLevel">
                            <option value="">Select</option>
                            <option value="A" @(priceLevel == "A" ? "selected" : "")>A</option>
                            <option value="B" @(priceLevel == "B" ? "selected" : "")>B</option>
                            <option value="C" @(priceLevel == "C" ? "selected" : "")>C</option>
                            <option value="D" @(priceLevel == "D" ? "selected" : "")>D</option>
                        </select>


                    </div>

                        {
                            counter += 1;
                        }


                    }
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2 pull-right text-right">
                            <input type="submit" class="btn btn-primary" value="@(Model.SettingId > 0 ? "Update":"Submit")" />
                        </div>
                    </div>
                    </div>
                    <div class="clearfix"></div>

                    <hr />
                    @if (Model != null && Model.CustomerSettings != null)
                {

                        <div>

                            @Html.Grid(Model.CustomerSettings.OrderByDescending(x => x.Id)).Columns(columns =>
                   {
                   columns.Add(C => C.LegalEntityName).RenderValueAs(x => x.LegalEntityName ?? "-").Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Legal Name").SetWidth(200);
                   columns.Add(C => C.ConnectionsSourceId).RenderValueAs(x => x.ConnectionsSourceId ?? "-").Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Connection Id").SetWidth(50);
                   columns.Add(C => C.PcnNumber).RenderValueAs(x => x.PcnNumber ?? "-").Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("PCN Number").SetWidth(50);
                   columns.Add(C => C.EnrollmentNo).RenderValueAs(x => x.EnrollmentNo ?? "-").Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Enrollment Number").SetWidth(50);
                   columns.Add(C => C.Purchasing_Account_No).RenderValueAs(x => x.Purchasing_Account_No ?? "-").Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Purchasing Account #").SetWidth(50);
                   columns.Add(C => C.IsActive).Encoded(false).Sanitized(false).RenderValueAs(x => x.IsActive ? "Yes" : "No").Titled("Is Active").SetWidth(20);
                   columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/software/customer-settings/@o.GsCustomerId/@o.Id" class="isoCountryEdit">Edit </a>);
                       //columns.Add(C => C.IsActive, "customerIsActive").Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Active").RenderValueAs(p => RenderIsActiveButton(p.UserID, Convert.ToBoolean(p.IsActive))).SetWidth(10);

                       //columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/admin/customer/user/@o.UserID/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId" class="isoCountryEdit">Edit </a>);
                   }).WithPaging(50)

                        </div>
                    }
                </div>
                        }

    </div>

</div>



    @if (Model != null && Model.SettingId <= 0 && Model.SettingId != -1)
    {
    <style>
           .softwareFieldsDiv
        {
            display: none;
        }
    </style>
    }



<script type="text/javascript">
    $(document).ready(function () {

        $(".selectDrp").select2({ allowClear: true });
        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true,
            //    clearBtn: true

        });


        $('#drpCustomer').on('change', function () {
            var id = $(this).val(); // get selected value

            location.href = "/software/customer-settings/" + id; // redirect

        });

        if ('@ViewBag.Message' != null && '@ViewBag.Message' != "") {
            showNotification("@ViewBag.Message");
        }




        function SetPropertiesByProgramType() {

            var getProgram = $("#drpProgram option:selected").text();

            if (getProgram == "MPSA") {
                $("#pcnNumber").attr("disabled", "disabled");

                $("#pcnNumber").val("");
                $("#enrollmentNumber").attr("disabled", "disabled");
                $("#enrollmentNumber").val("");
                $("#pusrchasingAccountNumber").removeAttr("disabled");
            } else {
                $("#pusrchasingAccountNumber").attr("disabled", "disabled");
                $("#pusrchasingAccountNumber").val("");

                $("#enrollmentNumber").removeAttr("disabled");
                $("#pcnNumber").removeAttr("disabled");

            }

        }

        SetPropertiesByProgramType();
        $("#drpProgram").change(function () {
            SetPropertiesByProgramType();
        });


        $("#softwareSettingsForm").submit(function (e) {

            var program = $("#drpProgram  option:selected").text();
            if (program == "Select Plus") {
                var pcnNumber = $("#pcnNumber").val();
                var enrollmentNumber = $("#enrollmentNumber").val();
                if ((pcnNumber == null || pcnNumber.trim().length == 0) && (enrollmentNumber == null || enrollmentNumber.trim().length == 0)) {
                    alert("For Select Plus please insert pcn or enrollment number.");
                    e.preventDefault();
                }
            }
            if (program == "MPSA") {
                var psNumber = $("#pusrchasingAccountNumber").val();
                if ((psNumber == null || psNumber.trim().length == 0)) {
                    alert("For MPSA please insert purchasing account number.");
                    e.preventDefault();
                }

            }


        });


    });


</script>