﻿@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Upload Software Catalog";
}

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        <b> Dashboard > Upload Software Catalog</b>
    </div>
</div>

<br />


<div class="row" style="margin-top:48px;">

    <div class="col-md-8 col-md-offset-3">

        @using (Html.BeginForm("UploadSoftwareCatalog", "SoftwareCatalog", FormMethod.Post, new { @id = "SoftwareCatalogForm", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-2" style="margin-top:10px;">
                    <span style="color:red">
                        *
                    </span>
                    File Type:
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <select id="ddlFileType" name="fileType" value="fileType" class="form-control">
                            <option value="0">--Select--</option>
                            <option value="MPSA">MPSA</option>
                            <option value="SelectPlus">Select Plus</option>
                        </select>

                    </div>

                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblFileType" style="color:red">

                    </span>
                </div>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-md-2" style="margin-top:5px;">
                    <span style="color:red">
                        *
                    </span>
                    Select File:
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="input-group-btn btn-file">
                            <span class="btn btn-primary">
                                Browse<input type="file" name="file" id="file" style="display: none;" />
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>

                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblFile" style="color:red">

                    </span>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">

                <div class="col-md-6 col-md-offset-2">
                    @if (TempData["Message"].ToString() != "")
                    {
                        <div class="alert alert-warning">
                            @TempData["Message"].ToString()
                        </div>
                    }

                </div>

            </div>



            <div class="row" style="margin-top:10px;">

                <div class="col-md-2 col-md-offset-6" style="text-align:right; ">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" value="Upload" name="Upload" id="btnUpload" style="color: #399BD3;">Upload</button> &nbsp;
                    </span>

                </div>
            </div>

        }
    </div>

</div>

<script>

    $('#SoftwareCatalogForm').submit(function () {
        StartLoader();
    });

    setTimeout(function () {
        $('.alert-warning').slideUp();
    }, 8000);


    $('#btnUpload').click(function () {
        var ddlvalue = $("#ddlFileType").val();
        var fileUploader = document.getElementById("file");
        if (ddlvalue == '0') {
            event.preventDefault();
            showValidationError('Please select file type', 'lblFileType');
        }
        else {
            if (file.files.length > 0) {
                return true;
            }
            else {
                event.preventDefault();
                showValidationError('Please select a file', 'lblFile');
            }
        }
    });

    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }
</script>