﻿@model OneSourceAdminCore.Model.SupplierAccreditationModel
@using System.Configuration;
@{
    ViewBag.Title = "Accreditation";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-8" style="padding:10px; color:#FFF;"><b> My Settings > Manufacturer Accreditation</b></div>
    <div class="col-md-4" style="padding:10px;"><input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right"></div>
</div>

@*<div class="col-md-12 update-btn1" style="margin-top:60px">
    <button type="submit" class="btn btn-default updateMfg" id="per">Update</button>
</div>*@
<div class="col-md-12 supplier-multi-slt" style="margin-top:60px">
    <div class="col-md-2" ></div>
    <div class="col-md-4 accre-supp">
        <input type="radio" class="form-control" name="accre" value="PROCURE" @(Model.custserviceId == Convert.ToInt32(ConfigurationManager.AppSettings["OfferingProcurementId"]) ? "Checked" : "") data-id="procurement" />
        Procurement
    </div>
    <div class="col-md-4 accre-supp">
        <input type="radio" class="form-control" name="accre" value="SUPPORT" @(Model.custserviceId == Convert.ToInt32(ConfigurationManager.AppSettings["OfferingSupportId"]) ? "Checked" : "") data-id="support" />
        Support
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    @*<select id="ddlMfgId" multiple="multiple">
        @foreach (var item in Model.Mfgs.Where(x => x.SelectedMfg != null).ToList())
            {
            <option value="@item.ManufacturerID" @(item.SelectedMfg == null ? "" : "selected")>@item.ManufacturerName</option>
        }
        @foreach (var item in Model.Mfgs.Where(x => x.SelectedMfg == null).ToList())
            {
            <option value="@item.ManufacturerID" @(item.SelectedMfg == null ? "" : "selected")>@item.ManufacturerName</option>
        }
    </select>*@

    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-12 supplier-tab-head">
        <h3>@(Model.custserviceId == Convert.ToInt32(ConfigurationManager.AppSettings["OfferingProcurementId"]) ? "Procurement" : "Support") Manufacturer</h3>
    </div>

    <div class="col-md-12 location-tab-one supplier-info-tab " style="padding-left: 0px;padding-right: 0px;">
        <div class="menuScroller1" style="max-height:400px !important;">
            @if (Model!= null &&  Model.Mfgs != null && Model.Mfgs.Any(x => x.SelectedMfg != null))
            {
                var count = 1;
                <table class="table">
                    <tbody>

                        @foreach (var item in Model.Mfgs.Where(x => x.SelectedMfg != null))
                        {
                            <tr>
                                <td>@count) @item.ManufacturerName</td>

                            </tr>
                            count++;
                        }


                    </tbody>
                </table>
            }
            else
            {
                <p>No @(Model.custserviceId == Convert.ToInt32(ConfigurationManager.AppSettings["OfferingProcurementId"]) ? "procurement" : "support") manufacturer assign to this supplier</p>
            }

        </div>
    </div>


</div>

<script>
    $(function () {
        $('#ddlMfgId').multipleSelect(
        {
            placeholder: 'Manufacturers',
            selectAll: true,
            filter: true,
        });
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('.select2-container').parent().css("margin-bottom", "15px");

        $('.menuScroller1')
          .slimscroll({ destroy: true })
          .slimscroll({ height: '200px' });

        var Message = "@ViewBag.Message";
        if (Message != "") {
            showNotification(Message);
        }


        @*$('.updateMfg').click(function () {
            var mfgIds = $('#ddlMfgId').multipleSelect('getSelects');
            if (mfgIds.length > 0) {
                var form = $(document.createElement('form'));
                $(form).attr("action", "/SFAPreferences/UpdateSupplierAccreditation");
                $(form).attr("method", "POST");
                form.appendTo(document.body);
                var input = $("<input>").attr("type", "hidden").attr("name", "mfgIds").val(mfgIds.join());
                $(form).append($(input));
                $(form).submit();
            }
        });*@
        $("input[name=accre]:radio").change(function () {
            window.location.href = "/accreditations?service=" + $(this).val();
        });
    });
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
        StartLoader();
    });

</script>