﻿@model List<OneSourceAdminCore.Entity.sp_GetAddressByPartyId_AdminR_Result>
@{
    ViewBag.Title = "Addresses";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-8" style="padding:10px; color:#FFF;"><b> My Settings > Addresses</b></div>
    <div class="col-md-4" style="padding: 10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right">
    </div>
</div>
<div class="col-md-12">
    <a class="addAddress" href="/address/0">
        <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 0px !important;margin-top: 20px !important;float:right !important ">Add Address</button>
    </a>
</div>
<div class="row" style="margin-top: 60px;">

    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model != null && Model.Count > 0)
            {
            @Html.Grid(Model).Columns(columns =>
           {
           columns.Add(c => c.addressname).Sortable(true).Filterable(true).Titled("Address").SetWidth(30);
           columns.Add(c => c.AddressType).Sortable(true).Filterable(true).Titled("Address Type").SetWidth(30);
           columns.Add(c => c.City).Sortable(true).Filterable(true).Titled("City").SetWidth(30);
           columns.Add(c => c.StateProvinceRegion).Sortable(true).Filterable(true).Titled("State/Province/Region").SetWidth(30);
           columns.Add(c => c.countryname).Sortable(true).Filterable(true).Titled("Country").SetWidth(30);
           columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").
               RenderValueAs(o => @<a style="color: blue" class="EditAddress" onclick="Edit(@o.AddressID)" >Edit </a>);

           }).WithPaging(50)
        }
    </div>
</div>
<script>
    $(function () {
        var message = '@ViewBag.Message';
        if (message != '') {          
            showNotification(message);
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
        StartLoader();
    });
    function Edit(addressId){
        window.location.href="/address/"+addressId;
        StartLoader();
    }
</script>
