﻿@{
    ViewBag.Title = "Change  Password";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-8" style="padding:10px; color:#FFF;"><b> My Settings > Password Maintenance</b></div>
    <div class="col-md-4" style="padding:10px;"><input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right"></div>  
</div>


@using (Html.BeginForm("ChangePassword", "SFAPreferences", FormMethod.Post, new { @id = "ChangePasswordForm" }))
{
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Old Password: </label>
                <div class="col-md-7">
                    <input type="password" name="oldPassword" maxlength="50" id="oldPassword" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>New Password: </label>
                <div class="col-md-7">
                    <input type="password" name="newPassword" maxlength="50"  id="newPassword" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Confirm New Password: </label>
                <div class="col-md-7">
                    <input type="password" name="confirmPassword" maxlength="50"  id="confirmPassword" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-left: 23px;">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <button type="submit" class="btn btn-default btnSubmit" style="float: right; margin-left: 20px; margin: 0px;" id="per">Submit</button>
            </div>
        </div>
        <br>
        <br>
    </div>
}
<script>
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
        StartLoader();
    });
    $(function () {
        showNotification("@ViewBag.Message");
    });
    $('#ChangePasswordForm').submit(function () {

        if ($('#oldPassword').val().trim() == "") {
            alert("Please provide a value for old password");
            return false;
        }
        else if ($('#newPassword').val().trim() == "") {
            alert("Please provide a value for new password");
            return false;
        }
        else if ($('#confirmPassword').val().trim() == "") {
            alert("Please confirm the new password");
            return false;
        }
        if ($('#newPassword').val().trim() != $('#confirmPassword').val()) {
            alert("The new password entered does not match the confirmed password");
            return false;
        }

        if ($('#oldPassword').val().trim() == $('#newPassword').val().trim()) {
            alert("Same Password are not alowed");
            return false;
        }
    });
</script>