﻿@model OneSourceAdminCore.Entity.sp_getCompanyContactInfo_AdminR_Result
@{
    ViewBag.Title = "Contact Info";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .col-md-4,.col-md-8 {
        padding-top:15px !important
    }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-8" style="padding:10px; color:#FFF;"><b> My Settings > Contact Info</b></div>
    <div class="col-md-4" style="padding:10px;"><input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right"></div>
</div>

@using (Html.BeginForm("ContactInfo", "SFAPreferences", FormMethod.Post, new { @id = "ContactInfoForm" }))
{
<div class="col-md-6" style="margin-top: 60px;">
    <div class="col-md-4">
        <label>First Name:</label>
    </div>
    <div class="col-md-8">
        <input type="text" name="firstname" maxlength="250" value="@(Model.firstname ?? "")" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Middle Name:</label>
    </div>
    <div class="col-md-8">
        <input type="text" name="middlename" maxlength="250" value="@(Model.middlename ?? "")" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Tile:</label>
    </div>
    <div class="col-md-8" >    
        <input type="text" name="title" maxlength="250" value="@(Model.title ?? "")" class="form-control" />    
    </div>
    <div class="col-md-4">
        <label>Email:</label>
    </div>
    <div class="col-md-8 abc" >
        <input type="email" name="email" maxlength="250" value="@(Model.email ?? "")" class="form-control" />    
    </div>
    <div class="col-md-4">
        <label>Mobile:</label>
    </div>
    <div class="col-md-8" >
        <input type="text" name="mobilephonenumber" maxlength="250" value="@(Model.mobilephonenumber ?? "")" error-msg="Please provide valid mobile number" class="form-control phoneOnly" />    
    </div>
    <div class="col-md-4">
        <label>Department:</label>
    </div>
    <div class="col-md-8">
        <input type="text" name="department" maxlength="250" value="@(Model.department ?? "")" class="form-control" />
    </div>
</div>
<div class="col-md-6" style="margin-top: 60px;">
    <div class="col-md-4">
        <label><span style="color: red">*</span> Last Name:</label>
    </div>
    <div class="col-md-8">
        <input name="lastname" id="lastname" type="text" maxlength="250" value="@(Model.lastname ?? "")" class="form-control" />
    </div>
    <div class="col-md-4">
        <label><span style="color: red">&nbsp;&nbsp; </span>Salutation:</label>
    </div>
    <div class="col-md-8">
        <input name="salutation" maxlength="250" type="text" value="@(Model.salutation ?? "")" class="form-control" />
    </div>
    <div class="col-md-4">
        <label><span style="color: red">&nbsp;&nbsp; </span>Work Phone:</label>
    </div>
    <div class="col-md-8" >
        <input name="workphonenumber" maxlength="250" type="text" value="@(Model.workphonenumber ?? "")" error-msg="Please provide valid phone number" class="form-control phoneOnly" />
    </div>
    <div class="col-md-4">
        <label><span style="color: red">&nbsp;&nbsp; </span>Fax:</label>
    </div>
    <div class="col-md-8" >
        <input name="faxnumber" maxlength="250" type="text" value="@(Model.faxnumber ?? "")" class="form-control" />
    </div>
    <div class="col-md-4">
        <label><span style="color: red">&nbsp;&nbsp; </span>Pager:</label>
    </div>
    <div class="col-md-8" >
        <input name="pagernumber" maxlength="250" type="text" value="@(Model.pagernumber ?? "")" class="form-control" />
    </div>
    <div class="col-md-4">        
    </div>
    <div class="col-md-8">

        <button style="margin-right: 0px;float:right;" type="button" class="btn btn-default btnSubmit btnReset" id="addContactBtn" >Reset</button>

        <button style="margin-right: 10px;float:right;" type="submit" class="btn btn-default btnSubmit blueBtn" id="addContactBtn">Update</button>
       
    </div>
</div>
}

<script>
    $(function () {
        showNotification("@ViewBag.Message");
    });
    $('#ContactInfoForm').submit(function () {
        if ($('#lastname').val() == "") {
            alert("Please provide last name");
            return false;
        }
        StartLoader();
    });

    $('.btnReset').click(function () {
        window.location.reload();
        StartLoader();
    });
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
        StartLoader();
    });
</script>