﻿@model OneSourceAdminCore.Model.PreferenceModel
@{
    ViewBag.Title = "Preferences";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-8" style="padding:10px; color:#FFF;"><b> My Settings > Preferences</b></div>
    <div class="col-md-4" style="padding:10px;"><input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right"></div>
</div>

@{ string[,] defaultHomePages =
                                                                         {
       {"Welcome Page", "Index"}, {"Search Page", "Search"}, {"Report Page", "Report"},
       {"Quote Page", "Quote"}, {"Tracking Page", "Tracking"}, {"Request Page", "Request"},
       {"Service Page", "Service"}
   };

}

@using (Html.BeginForm("ChangePreference", "SFAPreferences", FormMethod.Post, new { @id = "ChangePreferenceForm" }))
{
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Default Homepage: </label>
                <div class="col-md-7">
                    <input type="hidden" name="DefaultHomePage" id="DefaultHomePage" />
                    <select id="DefaultHomePageId" name="DHomePage">
                        @for (var i = 0; i <= defaultHomePages.GetUpperBound(0); i++)
                        {
                            if (defaultHomePages[i, 1] == Model.DHomePage)
                            {
                                <option selected value="@defaultHomePages[i, 1]">@defaultHomePages[i, 0]</option>
                            }
                            else
                            {
                                <option value="@defaultHomePages[i, 1]">@defaultHomePages[i, 0]</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Default Search Page: </label>
                <div class="col-md-7">


                    @Html.DropDownList("DSearchPage", new SelectList(new SelectListItem[] {
                     new SelectListItem { Value="0",Text="(None)"},
                new SelectListItem { Value="Product",Text="Product"},
                new SelectListItem { Value="Order",Text="Order"},
                new SelectListItem { Value="Asset",Text="Asset"},
                new SelectListItem { Value="Ticket",Text="Ticket"},
                new SelectListItem { Value="Quote",Text="Quote"}
                },
       "Value", "Text", Model.DSearchPage), new { @id = "DefaultSearchPageId" })



                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Date Format: </label>
                <div class="col-md-7">
                    @Html.DropDownList("DDateFormatId", new SelectList(Model.DateTimeList,
                            "Key", "Value", Model.DDateFormatId),
                   new { @id = "DateFormatID", @style = "top:0px !important;" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Default Country: </label>
                <div class="col-md-7">
                    @Html.DropDownList("DCountryId", new SelectList(Model.CountryList,
                            "Key", "Value", Model.DCountryId),
                   new { @id = "CountryId", @style = "top:0px !important;" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Report Viewer: </label>
                <div class="col-md-7">
                    @Html.DropDownList("DReportViewer", new SelectList(new SelectListItem[] {
                new SelectListItem { Value="ActiveX",Text="ActiveX Control"},
                new SelectListItem { Value="DHTML",Text="Dynamic HTML"}
                },
       "Value", "Text", Model.DReportViewer), new { @id = "ReportViewerId" })

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-left: 23px;">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <button type="submit" class="btn btn-default btnSubmit" style="float: right; margin-left: 20px; margin: 0px;" id="per">Submit</button>
            </div>
        </div>
        <br>
        <br>
    </div>
}
<script>
    $("select").each(function (i, e) {
        if ($(this).attr("multiple") != "multiple") {
            $(this).select2({ allowClear: true });
        }
    });
    $(function () {
        showNotification("@ViewBag.Message");
    });

    $('#ChangePreferenceForm').submit(function () {

        if ($('#DefaultHomePageId').val() == "0" || $('#DefaultSearchPageId').val() == "0" || $('#DateFormatID').val() == "0" || $('#CountryId').val() == "0" || $('#ReportViewerId').val() == "0") {
            alert("Please provide all required fields.");
            return false;
        }
        StartLoader();
    });
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
        StartLoader();
    });
</script>