﻿
@model List<OneSourceAdminCore.Model.GenericList>
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-8" style="padding:10px; color:#FFF;"><b> My Settings > Services</b></div>
    <div class="col-md-4" style="padding:10px;"><input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right"></div>
</div>

<div class="col-md-12 update-btn1" style="padding-bottom:10px;margin-top:60px">
    <button type="submit" class="btn btn-default updateMfg" id="per">Update</button>
</div>
<div class="col-md-12 supplier-multi-slt">
    <div class="col-md-2"></div>
    <select id="ddlServiceId" multiple>
        @foreach (var item in Model.Where(x => x.Count != 0).ToList())
        {
            <option value="@item.Key" @(item.Count == 0 ? "" : "selected")>@item.Value</option>
        }
        @foreach (var item in Model.Where(x => x.Count == 0).ToList())
        {
            <option value="@item.Key" @(item.Count == 0 ? "" : "selected")>@item.Value</option>
        }
    </select>

    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-12 supplier-tab-head">
        <h3>Services</h3>
    </div>
    <div class="col-md-12 location-tab-one supplier-info-tab" style="padding-left: 0px;padding-right: 0px;">
        <div class="menuScroller1" style="max-height:400px !important;">
            @if (Model.Where(x => x.Count != 0).ToList().Count > 0)
            {
                var count = 1;
                <table class="table">
                    <tbody>

                        @foreach (var item in Model.Where(x => x.Count != 0))
                {
                            <tr>
                                <td>@count) @item.Value</td>

                            </tr>
                            count++;
                        }


                    </tbody>
                </table>
            }
            else
            {
                <p>No service assign to this supplier.</p>
            }
        </div>
    </div>


</div>
<script>

    $(function () {
        var Message = "@ViewBag.Message";
        if (Message != "") {
            showNotification(Message);
        }

        $('.menuScroller1').slimscroll({ destroy: true, height: '400px' });

        $('#ddlServiceId').multipleSelect({
            placeholder: 'Services',
            selectAll: true,
            filter: true,
            onClose: function (view) { }
        });

        $('.updateMfg').click(function () {
            var serviceIds = $('#ddlServiceId').multipleSelect('getSelects');
         
                var form = $(document.createElement('form'));
                $(form).attr("action", "/SFAPreferences/UpdateSupplierService");
                $(form).attr("method", "POST");
                form.appendTo(document.body);
                var input = $("<input>").attr("type", "hidden").attr("name", "serviceIds").val(serviceIds.join());
                $(form).append($(input));
                $(form).submit();
            
                StartLoader();

        });
        $('#backToSearch').click(function () {
            window.location.href = "/admin-dashboard";
            StartLoader();
        });
    });

</script>
