﻿@model List<OneSourceAdminCore.Model.SupplierUpliftsDutiesModel>
@{
    ViewBag.Title = "Duties & Uplifts";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-8" style="padding:10px; color:#FFF;"><b> My Settings > Duties and Uplifts</b></div>
    <div class="col-md-4" style="padding: 10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right">
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-12"     style="padding-top: 15px;">
        @using GridMvc.Html;
        @if (Model != null && Model.Count > 0)
        {
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.Manufacturer).Sortable(true).Filterable(true).Titled("Manufacturer").SetWidth(30);
           columns.Add(c => c.Country).Sortable(true).Filterable(true).Titled("Country").SetWidth(30);
           columns.Add(c => c.TradeBlockUplift).Sortable(true).Filterable(true).Titled("Trade Block Uplift").SetWidth(30);
           columns.Add(c => c.Duties).Sortable(true).Filterable(true).Titled("Duties").SetWidth(30);
           columns.Add(c => c.DistributionUplift).Sortable(true).Filterable(true).Titled("Distribution Uplift").SetWidth(30);

       }).WithPaging(50)
        }
    </div>
</div>
<script>
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
        StartLoader();
    });
</script>