﻿@model OneSourceAdminCore.Model.ReportSchedulerModel

@{
    ViewBag.Title = "Report Scheduler";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/css/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
<script src="~/Content/js/jquery.floatingscroll.js"></script>
<script src="~/Content/js/gijgo.min.js"></script>
<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_reportType.scheduler {
        display: block !important;
    }

    #s2id_subReports.scheduler {
        display: block !important;
    }
</style>


<div class="row bread-Crumb-Top">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        <b> Dashboard > Settings</b>
    </div>
</div>



<div class="row" style="margin-top:48px;">


    <div class="col-md-8 col-md-offset-3">

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Report Type:
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @if (Model.ReportTypes != null && Model.ReportTypes.Count > 0)
                    {
                        @Html.DropDownList("mainModel.ReportTypeId", new SelectList(Model.ReportTypes,
"Key", "Value", Model.mainModel.ReportTypeId),
new { @id = "reportType", @class = "scheduler", @tabindex = "-1" });
                    }
                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblReportType" style="color:red">
                </span>
            </div>
        </div>

        <div class="row" style="margin-top: 0px; margin-bottom: -10px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Reports:
            </div>
            <div class="col-md-6">
                <div class="form-group subReports">
                    <select id="subReports" class="scheduler"></select>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblSubReport" style="color:red">
                </span>
            </div>
        </div>

        <br />

        <div class="row">

            <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" value="Continue" name="submit" id="btnContinue" style="color: #399BD3;">Continue</button> &nbsp;
                </span>
                <span class="input-group-btn" style="">
                    @*<button class="btn btn-default" type="submit" value="Reset" name="submit" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</button>*@
                    <a href="/report_scheduler" id="btnReset" class="btn btn-default" style="color: #399BD3; margin-left:10px;">Reset</a>
                </span>

            </div>
        </div>




    </div>

</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">

        @helper RenderDetailButton(int id, string reportName)
        {
if (reportName == "Open Orders Report" || reportName == "Open Quotes Report" || reportName == "Open Orders Comment")
{
        <text>
            <div style="text-align:center"><a style="color:blue" onclick="Delete(@id)">Remove</a></div>
        </text>
}
else
{
        <text>
            <div style="text-align:center">
                <a style="color:blue" onclick="Delete(@id)">Remove</a>|
                <a style="color:blue" href="/ReportScheduler/GetSettingDetailById?id=@id"> Details </a>
            </div>
        </text>
}

}

        @helper RenderEmails(string email)
        {
if (!String.IsNullOrEmpty(email))
{
    if (email.Contains(";"))
    {
        var emails = email.Split(';');
            <text>
                <span>@emails[0].ToString()....</span>
            </text>
    }
    else
    {
            <text>
                <span>@email.ToString()</span>
            </text>
    }

}
else
{
        <text>
        <span style="text-align:center;">-</span>
        </text>
}

}
        @using GridMvc.Html;
        @if (Model.ReportSettingsList != null && Model.ReportSettingsList.Count > 0)
        {
            @Html.Grid(Model.ReportSettingsList).Columns(columns =>
       {
           columns.Add(C => C.Report).Sortable(true).Filterable(true).Titled("Report").Encoded(false).SetWidth(200);
           columns.Add(c => c.ReportType).Sortable(true).Filterable(true).Titled("Report Type").SetWidth(20);
           columns.Add(c => c.WeekDay).Sortable(true).Filterable(true).Titled("Day Of Week").SetWidth(20);
           columns.Add(c => c.ReportTime).Sortable(true).Filterable(true).Titled("Report Time").SetWidth(20);
           columns.Add(c => c.RecieverEmail).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Reciever Email").SetWidth(20)
           .RenderValueAs(o => RenderEmails(o.RecieverEmail));
           columns.Add(c => c.CreateDate).Sortable(true).Filterable(true).Titled("Created On").SetWidth(20);
           columns.Add(c => c.CreatedBy).Sortable(true).Filterable(true).Titled("Created By").SetWidth(20);
           columns.Add(c => c.Id).Sortable(true).Encoded(false).Sanitized(false).Css("text-center").Titled("Action").SetWidth(200)
           .RenderValueAs(o => RenderDetailButton(o.Id, o.Report));
       }).WithPaging(20);
        }
        @*if (ViewBag.AddEditAccess == true)
            {
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
                    RenderValueAs(o => @<a style="color: blue" onclick=" EditAlert(this) ">Edit </a>);
                     columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
                         RenderValueAs(o => @<a style="color: blue" onclick=" DeleteAlert(this) ">Delete </a>);

                     }
                 }
             }*@
    </div>
</div>

<script>

    function Delete(id) {
        var r = confirm("Are you sure want to remove this setting?");
        if (r == true) {
            StartLoader();
            window.location = "/ReportScheduler/RemoveSettingDetailById?id=" + id;
        }
    }


    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    $(function () {
        $("#subReports").html('<option value="0" selected>--Select--</option>');

        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 5000);

        @if (ViewBag.Message != null)
        {
            <text>
        showNotification('@ViewBag.Message');
        </text>
        }

        $("#reportType, #subReports").select2({ allowClear: true });

        $("#reportType").change(function () {
            var reportId = $(this).val();
            getReportsByReportType(reportId);
        });

        function getReportsByReportType(reportId) {
            $.ajax({
                url: '/ReportScheduler/GetSubReportsByReportId?reportId=' + reportId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '<option value="0" selected>--Select--</option>';
                    if (data != null && data.length > 0) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#subReports").html(options);
                        if (data != null && data.length > 0) {

                            $("#subReports").select2({ width: 'resolve' });
                        }
                    }
                    else {
                        $("#subReports").html("");
                        $("#subReports").html('<option value="0" selected>--Select--</option>');
                        $("#subReports").select2({ width: 'resolve' });
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
    });

    $('#ReportSchedulerForm').submit(function () {
        StartLoader();
    });

    $("#btnContinue").on("click", function (e) {
        if (($("#reportType").val() == "" || $("#reportType").val() == null || $("#reportType").val() == "0") || $("#reportType").val() == "null") {
            showValidationError('Please select report type', 'lblReportType');
            return false;
        }
        if (($("#subReports").val() == "" || $("#subReports").val() == null || $("#subReports").val() == "0") || $("#subReports").val() == "null") {
            showValidationError('Please select report', 'lblSubReport');
            return false;
        }

        var reportTypeId = $("#reportType").val();
        var reportId = $("#subReports").val();


        var values = {
            "ReportTypeId": reportTypeId,
            "ReportId": reportId
        }

        StartLoader();
        $.ajax({
            url: "/ReportScheduler/ReportTypeSubmission",
            type: "POST",
            data: values,
            success: function (data) {
                EndLoader();
                window.location = "/ReportScheduler/ReportDetail";
            }
        });
    });


    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }


    //$("#ViewSettings").on("click", function (e) {

    //    $(".gridDiv").html("");
    //    $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
    //    StartLoader();
    //    $.ajax({
    //        url: "/ReportScheduler/GetReportSchedulerSettings",
    //        type: "GET",
    //        success: function (data) {
    //            EndLoader();
    //            if (data != null && data != "") {

    //                var table = JSON.parse(data);
    //                var tableObj = [];
    //                if (table.length > 0) {

    //                    for (i = 0; i < Object.keys(table[0]).length; i++) {

    //                        var obj = {};
    //                        obj.field = Object.keys(table[0])[i];
    //                        obj.sortable = true;
    //                        obj.width = "300px";
    //                        obj.align = 'center';
    //                        obj.headerCssClass = 'headerClass';
    //                        obj.cssClass = 'rowClass';

    //                        if (obj.field == "Id") {
    //                            obj.hidden = true;
    //                        }

    //                        if (obj.field == "ReportName") {
    //                            obj.title = "Report";
    //                        }
    //                        if (obj.field == "ReportType") {
    //                            obj.title = "Type";
    //                        }
    //                        if (obj.field == "WeekDayNumber") {
    //                            obj.title = "Week Day";
    //                        }
    //                        if (obj.field == "ReportTime") {
    //                            obj.title = "Report Time";
    //                        }
    //                        if (obj.field == "CustomerNames") {
    //                            obj.title = "Customers";
    //                        }
    //                        if (obj.field == "UserName") {
    //                            obj.title = "User";
    //                        }
    //                        if (obj.field == "OrderStatuses") {
    //                            obj.title = "Order Statuses";
    //                        }
    //                        if (obj.field == "SupplierNames") {
    //                            obj.title = "Suppliers";
    //                        }
    //                        if (obj.field == "RequestTypes") {
    //                            obj.title = "Request Types";
    //                        }
    //                        if (obj.field == "CompanyNames") {
    //                            obj.title = "Companies";
    //                        }
    //                        if (obj.field == "BusinessSegments") {
    //                            obj.title = "Business Segments";
    //                        }
    //                        if (obj.field == "ProductCategories") {
    //                            obj.title = "Product Categories";
    //                        }
    //                        if (obj.field == "ProductCategories") {
    //                            obj.title = "ProductCategories";
    //                        }
    //                        if (obj.field == "AssetTypes") {
    //                            obj.title = "Asset Types";
    //                        }
    //                        if (obj.field == "AccountManager") {
    //                            obj.title = "Account Manager";
    //                        }
    //                        if (obj.field == "QuoteTypeId") {
    //                            obj.title = "Quote Type";
    //                        }
    //                        if (obj.field == "SearchType") {
    //                            obj.title = "Search Type";
    //                        }
    //                        if (obj.field == "StartDate") {
    //                            obj.title = "Start Date";
    //                        }
    //                        if (obj.field == "StartDate") {
    //                            obj.title = "Start Date";
    //                        }
    //                        if (obj.field == "EndDate") {
    //                            obj.title = "End Date";
    //                        }
    //                        if (obj.field == "CreatedDate") {
    //                            obj.title = "Created On";
    //                        }
    //                        if (obj.field == "CreatedBy") {
    //                            obj.title = "Created By User";
    //                        }
    //                        if (obj.field == "CreatedBy") {
    //                            obj.title = "Created By User";
    //                        }


    //                        tableObj.push(obj);
    //                    }
    //                }

    //                if (table.length > 50) {
    //                    var grid = $('#grid').grid({
    //                        dataSource: table,
    //                        columns: tableObj,
    //                        pager: { limit: 50, sizes: [50, 100, 500, 1000] },
    //                        cache: false,
    //                        uiLibrary: 'bootstrap'
    //                    });
    //                }
    //                else {
    //                    var grid = $('#grid').grid({
    //                        dataSource: table,
    //                        columns: tableObj,
    //                        pager: null,
    //                        cache: false,
    //                        uiLibrary: 'bootstrap'
    //                    });
    //                }

    //                var refreshButton = $("button[data-role='page-refresh']");
    //                if (refreshButton != undefined) {
    //                    refreshButton.hide();
    //                }
    //                var selectCounter = $("select[data-role='page-size']")[0];
    //                if (selectCounter != undefined) {
    //                    selectCounter.style.width = "80px";
    //                }
    //                $(".gj-grid-wrapper").floatingScroll();
    //                $(".gj-grid-wrapper").attr("style", "overflow:auto");

    //            }
    //            else {
    //                showNotification("No records found");
    //            }
    //        }
    //    });
    //})

</script>