﻿@model OneSourceAdminCore.Model.ReportSchedulerModel
@{
    ViewBag.Title = "ReportSettingDetail";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    #s2id_locationDrp {
        display: none !important;
    }
    #s2id_countryDrp {
        display: none !important;
    }
     #s2id_currencyDrp {
        display: none !important;
    } 
     #s2id_manufacturerDrp {
        display: none !important;
    }
      #s2id_SupplierId {
        display: none !important;
    }   #s2id_companyDrp {
        display: none !important;
    } #s2id_categoryDrp {
        display: none !important;
    }
</style>
<div class="row bread-Crumb-Top">
    <div class="col-md-5" style="padding: 10px; color: #FFF;">
        <b> Dashboard > Settings > @Model.ReportSettings.Report.ToString() </b>
    </div>
    <div class="col-md-7" style="padding: 7px; text-align:right;">
        <div>
            @*<button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;">Back</button>*@
            <a style="float:right;" href="/report_scheduler">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
            </a>
        </div>
    </div>
</div>
<br />
<br />
@if (Model.ReportSettings != null)
{
    <div class="col-md-8 col-md-offset-3">

        @if (Model.ReportSettings.Customers != null && Model.ReportSettings.Customers != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Customers:
                </div>
                <div class="col-md-6 customerDrp">
                    <select multiple="multiple" id="customerDrp" name="customerDrp">

                        @if (Model.ListPartDetailCustomers != null && Model.ListPartDetailCustomers.Count > 0)
                        {
                            foreach (var item in Model.ListPartDetailCustomers)
                            {
                                if (item.Selected == true)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }

                            }
                        }
                    </select>
                </div>
            </div>
        } 
        @if (Model.ReportSettings.CountryIds != null && Model.ReportSettings.CountryIds != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Countries:
                </div>
                <div class="col-md-6 countryDrp">
                    <select multiple="multiple" id="countryDrp" name="countryDrp">
                        @if (Model.ListCountries != null && Model.ListCountries.Count > 0)
                        {
                            foreach (var item in Model.ListCountries)
                            {
                                if (item.Selected == true)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Locations != null && Model.ReportSettings.Locations != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Locations:
                </div>
                <div class="col-md-6 locationDrp">
                    <select multiple="multiple" id="locationDrp" name="locationDrp">
                        @if (Model.ListLocations != null && Model.ListLocations.Count > 0)
                        {
                            foreach (var item in Model.ListLocations)
                            {
                                if (item.Selected == true)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Currencies != null && Model.ReportSettings.Currencies != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Currencies:
                </div>
                <div class="col-md-6 currencyDrp">
                    <select multiple="multiple" id="currencyDrp" name="currencyDrp">
                        @if (Model.SelectedCurrencies != null && Model.SelectedCurrencies.Count > 0)
                        {
                            foreach (var item in Model.SelectedCurrencies)
                            {
                                if (item.Selected == true)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Manufacturers != null && Model.ReportSettings.Manufacturers != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Manufacturers:
                </div>
                <div class="col-md-6 manufacturerDrp">
                    <select multiple="multiple" id="manufacturerDrp" name="manufacturerDrp">
                        @if (Model.SelectedManufacturers != null && Model.SelectedManufacturers.Count > 0)
                        {
                            foreach (var item in Model.SelectedManufacturers)
                            {
                                if (item.Selected == true)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Suppliers != null && Model.ReportSettings.Suppliers != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Suppliers:
                </div>
                <div class="col-md-6 SupplierId">
                    <select multiple="multiple" id="SupplierId" name="SupplierId">
                        @if (Model.SelectedSuppliers != null && Model.SelectedSuppliers.Count > 0)
                        {
                            foreach (var item in Model.SelectedSuppliers)
                            {
                                if (item.Selected == true)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Companies != null && Model.ReportSettings.Companies != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Companies:
                </div>
                <div class="col-md-6 companyDrp">
                    <select multiple="multiple" id="companyDrp" name="companyDrp">
                        @if (Model.ListCompanies != null && Model.ListCompanies.Count > 0)
                        {
                            foreach (var item in Model.ListCompanies)
                            {
                                if (item.Selected == true)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Categories != null && Model.ReportSettings.Categories != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Categories:
                </div>
                <div class="col-md-6 categoryDrp">
                    <select multiple="multiple" id="categoryDrp" name="categoryDrp">
                        @if (Model.ListProductCategories != null && Model.ListProductCategories.Count > 0)
                        {
                            foreach (var item in Model.ListProductCategories)
                            {
                                if (item.Selected == true)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        }

        @if (Model.ReportSettings.Users != null && Model.ReportSettings.Users != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Users:
                </div>
                <div class="col-md-6 categoryDrp">
                   <span><b>@Model.ReportSettings.Users</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.OrderStatuses != null && Model.ReportSettings.OrderStatuses != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Order Statuses:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.OrderStatuses</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.RequestTypes != null && Model.ReportSettings.RequestTypes != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Request Types:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.RequestTypes</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.BusinessSegments != null && Model.ReportSettings.BusinessSegments != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Business Segments:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.BusinessSegments</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Report.ToString() != "Asset Summary Report")
        {
            if (Model.ReportSettings.Assets != null && Model.ReportSettings.Assets != "")
            {

                <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                    <div class="col-md-2">
                        Assets:
                    </div>
                    <div class="col-md-6 categoryDrp">
                        <span><b>@Model.ReportSettings.Assets</b></span>
                    </div>
                </div>
            }
        }
       
        @if (Model.ReportSettings.AssetTypes != null && Model.ReportSettings.AssetTypes != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Asset Types:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.AssetTypes</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Regions != null && Model.ReportSettings.Regions != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Regions:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.Regions</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.AccountManager != null && Model.ReportSettings.AccountManager != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Account Manager:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.AccountManager</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.QuoteType != null && Model.ReportSettings.QuoteType != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Quote Type:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.QuoteType</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.Status != null && Model.ReportSettings.Status != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Status:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.Status</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.FilterType != null && Model.ReportSettings.FilterType != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Filter Type:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.FilterType</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.StartDate != null && Model.ReportSettings.StartDate != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    Start Date:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.StartDate</b></span>
                </div>
            </div>
        }
        @if (Model.ReportSettings.EndDate != null && Model.ReportSettings.EndDate != "")
        {

            <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
                <div class="col-md-2">
                    End Date:
                </div>
                <div class="col-md-6 categoryDrp">
                    <span><b>@Model.ReportSettings.EndDate</b></span>
                </div>
            </div>
        }
    </div>
}
<script>

    $(document).ready(function () {
        $('#customerDrp,#countryDrp,#locationDrp,#currencyDrp,#manufacturerDrp,#SupplierId,#companyDrp,#categoryDrp').multipleSelect(
                               {
                                   placeholder: 'All selected',
                                   filter: true,
                                   allowClear: true
                               });
        $("#customerDrp,#countryDrp,#locationDrp,#currencyDrp,#manufacturerDrp,#SupplierId,#companyDrp,#categoryDrp").select2({ width: 'resolve' });

        
        $(".ms-select-all").hide();
        $('.customerDrp input:checkbox').prop('disabled', true);
        $('.countryDrp input:checkbox').prop('disabled', true);
        $('.locationDrp input:checkbox').prop('disabled', true);
        $('.currencyDrp input:checkbox').prop('disabled', true);
        $('.manufacturerDrp input:checkbox').prop('disabled', true);
        $('.SupplierId input:checkbox').prop('disabled', true);
        $('.companyDrp input:checkbox').prop('disabled', true);
        $('.categoryDrp input:checkbox').prop('disabled', true);
    });
</script>

