﻿@model OneSourceAdminCore.Model.OneStreetSFAsUpliftsModel
@{
    ViewBag.Title = "Supplier Setting";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    #s2id_CustomerId.onestreet {
        display: block !important;
    }

    #s2id_SupplierID.onestreet {
        display: block !important;
    }

    #s2id_Country.onestreet {
        display: block !important;
    }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">

    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> OneStreet > Supplier Setting </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-3" style="padding:10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>


<div class="col-md-12">
    @using (Html.BeginForm("AddEditSFAUplifts", "SFAs", FormMethod.Post, new { @id = "SFAsForm" }))
    {
        <input type="hidden" value="@Model.OneStreetUplift" name="OneStreetUpliftID" />
        //added (SUNNY GOHAR)
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>OneStreet Customer: </label>
                    <div class="col-md-7">
                        @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
       "Value", "Text"), "--Select--",
new { @id = "CustomerId", @class = "onestreet", @tabindex = "-1" })

                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>OneStreet Supplier: </label>
                    <div class="col-md-7">
                        @Html.DropDownList("SupplierID", new SelectList(Model.SFAsSuppliers,
          "Key", "Value"), "--Select--",
new { @id = "SupplierID", @valueFor = "SFAName", @class = "onestreet ", @tabindex = "-1" })
                    </div>
                </div>

            </div>
        </div>
        if (ViewBag.AddEditAccess == true)
        {
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Country: </label>
                        <div class="col-md-7">
                            <input type="hidden" name="CustomerName" id="CustomerName">
                            @Html.DropDownList("Country", new SelectList(Model.Countries,
       "Key", "Value"), "--Select--",
new { @id = "Country", @valueFor = "CountryName", @class = "onestreet ", @tabindex = "-1" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">*</span>Globalserve Uplifts:</label>
                        <div class="col-md-7">
                            <input type="text" name="GSUplift" maxlength="6" value="@(Model.GSUplift == null ? "" : Convert.ToDecimal(Model.GSUplift).ToString("G29"))" class="form-control numericwithdecimal">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Supplier Uplifts:</label>
                        <div class="col-md-7">
                            <input type="text" name="GSPUplift" maxlength="6" value="@(Model.GSPUplift == null ? "" : Convert.ToDecimal(Model.GSPUplift).ToString("G29"))" class="form-control numericwithdecimal">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="text-align:right;">
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-3">
                            <button type="button" class="btn btn-default btnReset" style="margin-left: 20px; margin: 0px;" id="per" ng-click="reset()">Reset</button>
                            <button type="submit" class="btn btn-default btnSubmit" style="margin-left: 5px;" id="per">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>
            @*<div class="row" style="margin-top: 15px;">
                    <div class="col-md-9">
                        <div style="text-align:right;">
                            <button type="button" class="btn btn-default btnReset" style="margin-left: 20px; margin: 0px;" id="per" ng-click="reset()">Reset</button>
                            <button type="submit" class="btn btn-default btnSubmit" style="margin-left: 5px;" id="per">Submit</button>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>*@
        }
    }
</div>

<br>
<br>
<div class="row">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.supplierDetail != null && Model.supplierDetail.Count > 0)
        {
            @Html.Grid(Model.supplierDetail).Columns(columns =>
       {
       columns.Add(c => c.CustomerName).Sortable(true).Filterable(true).Titled("Customer").SetWidth(50);
       columns.Add(c => c.CountryName).Sortable(true).Filterable(true).Titled("Country").SetWidth(50);
       columns.Add(c => c.SFAName).Sortable(true).Filterable(true).Titled("Supplier").SetWidth(50);
       columns.Add(c => c.GSUplift).Sortable(true).Filterable(true).Titled("Globalserve Uplifts").SetWidth(30);
       columns.Add(c => c.GSPUplift).Sortable(true).Filterable(true).Titled("Supplier Uplifts").SetWidth(30);
       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action")
           .RenderValueAs(x => @<span><a style="color: blue" href="/supplier-setting?OneStreetUplift=@x.OneStreetUpliftID">Edit </a> | <span class="deleteSetting" settingId="@x.OneStreetUpliftID" sfaId="@x.SupplierID" countryId="@x.Country" style="color: blue;cursor: pointer">Delete</span></span>);
         }).WithPaging(15)
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 5000);
        $(".page-sidebar-menu").find(".onestreet").addClass("open");
        $(".page-sidebar-menu .onestreet").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .onestreet").find(".supplier").addClass("active");

        $("#CustomerId").select2({ allowClear: true });
        $("#SupplierID").select2({ allowClear: true });
        $("#Country").select2({ allowClear: true });

        var customerId = $("#CustomerId").val();
        var supplierId = $("#SupplierID").val();
        var country = $("#Country").val();

        if (customerId != "") {
            $("#CustomerId").select2("val", customerId);
        }
        else {
            $("#CustomerId").select2("val", "");
        }

        if (supplierId != "") {
            $("#SupplierID").select2("val", supplierId);
        }
        else {
            $("#SupplierID").select2("val", "");
        }

        if (country != "") {
            $("#Country").select2("val", country);
        }
        else {
            $("#Country").select2("val", "");
        }
    });

    $('.btnReset').click(function () {
        //$('#SupplierID').val("");
        //$('#Country').val("");
        $("#CustomerId").select2("val", "");
        $("#SupplierID").select2("val", "");
        $("#Country").select2("val", "");
        $("#SupplierID").val("0").trigger("change");
        $('input[name="GSUplift"]').val("");
        $('input[name="GSPUplift"]').val("");
        //$('#CustomerId').val("0");


    });
    $('#SFAsForm').submit(function () {
        var gspUplift = $('input[name="GSPUplift"]').val();
        var gsUplift = $('input[name="GSUplift"]').val();

        if ($('#SupplierID').val() == "" || $('#Country').val() == "" || $('#CustomerId').val() == "") {
            alert("Please provide required fields");
            return false;
        }

        if (gspUplift == "" || gsUplift == null || gspUplift == "" || gspUplift == null) {
            alert("Please enter a valid 'Globalserve' and 'Supplier' uplifts");
            return false;
        }

        StartLoader();

    });
    //$('#Country').change(function () {
    //    $('input[name="GSUplift"]').val("");
    //    $('input[name="GSPUplift"]').val("");

    //    var customerId = $("#CustomerId").val();
    //    var supplierId = $("#SupplierID").val();
    //    var country = $(this).val();

    //    getInfo(customerId, supplierId, country);

    //});

    //$('#CustomerId').change(function ()  //added (SUNNY GOHAR)
    //{
    //    $('input[name="GSUplift"]').val("");
    //    $('input[name="GSPUplift"]').val("");

    //    var customerId = $(this).val();
    //    var supplierId = $("#SupplierID").val();
    //    var country = $("#Country").val();

    //    getInfo(customerId, supplierId, country);

    //});


    function getInfo(customerId, supplierId, country)  //added (SUNNY GOHAR)
    {

        if (customerId != "" && supplierId != "" && country != "") {
            StartLoader();
            var data = {
                supplierId: supplierId,
                countryId: country,
                customerId: customerId
            };
            $.ajax({
                url: '/SFAs/OneStreetUpliftInfo',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != "0") {

                        $('input[name="GSUplift"]').val(data.GSUplift);
                        $('input[name="GSPUplift"]').val(data.GSPUplift);
                    }
                    EndLoader();
                }
            });
        }
    }

    //$('#SupplierID').change(function () {
    //    //$('#Country').val("");
    //    $("#Country").select2("val", "");
    //    $('input[name="GSUplift"]').val("");
    //    $('input[name="GSPUplift"]').val("");
    //});

    $('#SupplierID').change(function () {
        StartLoader();
        window.location.href = "/supplier-setting?supplierId=" + $(this).val() + "&customerId=" + $('#CustomerId').val() + "&country=" + $('#Country').val(); //add (SUNNY GOHAR);
    });

    $('#CustomerId').change(function () {

        StartLoader();
        window.location.href = "/supplier-setting?supplierId=" + $("#SupplierID").val() + "&customerId=" + $(this).val() + "&country=" + $('#Country').val(); //add (SUNNY GOHAR);

    });

    $('#Country').change(function () {

        StartLoader();
        window.location.href = "/supplier-setting?supplierId=" + $("#SupplierID").val() + "&customerId=" + $("#CustomerId").val() + "&country=" + $(this).val(); //add (SUNNY GOHAR);

    });


    $(".deleteSetting").click(function () {

        var customerId = $(this).attr("customerId");
        var countryId = $(this).attr("countryId");
        var sfaId = $(this).attr("sfaId");
        var settingId = $(this).attr("settingId");

        var chkConfirm = confirm("Are you sure you want to delete supplier settings?");
        if (chkConfirm) {

            window.location.href =
                "delete-sfa-settings/" + settingId + "/" + countryId + "/" + sfaId;

        }
    });




</script>