﻿
@model List<OneSourceAdminCore.Entity.sp_GetAttachments_R_Result>
<div class="col-md-12">
    <h2>Attachment:</h2>
</div>
<div class="col-md-3"></div>
<div class="col-md-6">

    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                Browse… <input id="fileQuoteRequest" class="btn btn-default attachFile" name="attachFile" type="file">
            </span>
        </span>
        <input type="text" class="form-control fileUploadTxtBox" name="FileName" readonly="">
    </div>
    <span style="font-size: 10px;"><b>Note: The maximum size of attachment is 10MB</b></span>
    <div class="col-md-8" style="padding-left: 0;">

    </div>
    <div class="col-md-4" style="padding-right: 0;">
        <input type="submit" id="per" class="form-control pull-right btnAddAttachment" value="Add Attachment" />
    </div>
</div>
<div class="col-md-3"></div>
<div class="clearfix"></div>
<div class="row">
    @if (Model.Count == 0)
    {
        <h4>Attachments:</h4>
        <p>Your search returned no results.</p>
    }
    else
    {
        <h4>Attachments:</h4>
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <div class="row" style="margin-bottom:5px">
                    <div class="col-md-10" style="padding: 0px;margin: 0px;">
                        <img style="width:16px;height:16px" src="/Content/images/mime_types/mime_types/@item.mimetypeicon" style="cursor: default;">&nbsp;
                        <a style="color: blue;" href="@item.daurl"> @item.daname</a> &nbsp;&nbsp;
                        @if (Convert.ToString(Session["UserGroupName"]) == "ISD")
                    {
                            <i class="glyphicon glyphicon-remove-circle removeAssetAttachment" daid="@item.daid" style="color: red;"></i>
                        }
                    </div>

                </div>
                <div class="clearfix"></div>
            }
        </div>
    }
</div>
<script>
    $('.attachFile').change(function()
    {

        if ($('.attachFile').get(0).files.length >0){
            var fileName=$('.attachFile').get(0).files[0].name;
            if(fileName.indexOf('#')!=-1 || fileName.indexOf('%')!=-1 ||   fileName.indexOf('+')!=-1 ){
                alert("Please provide valid file without special character like %,#,+ etc ");
                $('.attachFile').get(0).value ="";
                return false;
            }
        }
    });
    $('.btnAddAttachment').click(function () {

        if ($('.attachFile').get(0).files.length <= 0) {
            alert("Please provide file in order to add attachment");
            return false;
        } else {
            var length = $('.attachFile').get(0).files[0].name.split('.').length;
            var fileExtension = '.' + ($('.attachFile').get(0).files[0].name.split('.')[length - 1]).toLowerCase();
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" ||  fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, csv, txt extension');
                return false;
            }

        }
        if ($('.attachFile').get(0).files.length > 0) {
            if ($('.attachFile').get(0).files[0].name.length > 176) {
                alert('File name is too long, File name must have 175 or less characters');
                return false;
            }
            if ($('.attachFile').get(0).files[0].size > 10485760) {
                alert('File size must be less than 10 MB');
                return false;
            }
        }

        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementsByClassName('attachFile');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput[i].name, fileInput[i]);

        }

        var assetId = @(Convert.ToInt32(Session["assetId"]));
        var data = new FormData();
        data.append('attachFile', jQuery('.attachFile')[0].files[0]);
        data.append('assetId', assetId);
        showHideLoader(1);
        jQuery.ajax({
            url: '/AssetSearch/AddAssetAttachment',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                if (data != null) {
                    if (data.isSuccess) {
                        showNotification(data.msg);

                        setTimeout(function () {
                            GetView('AssetAttachment');
                        }, 2000);

                    }
                    else {
                        showNotification(data.msg);
                    }
                }
            },
            complete: function (data) {
                showHideLoader(0);

            }
        });
    });


    $('.removeAssetAttachment').click(function () {
        var daid = $(this).attr("daid");
        if (confirm("Are you sure you want to delete this attachment?  You will not be able to undo this action.")) {
            showHideLoader(1);
            data = {
                daid: daid
            }
            $.ajax({
                url: '/AssetSearch/MarkIsActiveAssetAttachment',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data == "1") {
                        showNotification("Attachment successfully deleted");
                        setTimeout(function () {
                            GetView('AssetAttachment');
                        }, 2000)
                    }
                    else if (data == "-1") {
                        showNotification("Error occured");
                    }
                    else if (data == "0") {
                        showNotification("Please provide correct data");
                    }

                },
                complete: function (data) {
                    showHideLoader(0);

                }
            });
        }
    });

</script>
