﻿@model OneSourceAdminCore.Model.CompanyModel
<div class="alert alert-warning">
    Click on Add/Update button to save changes before switching tabs.
</div>
<ul class="nav nav-tabs" role="tablist">
    <input type="hidden" id="updateMsg" value="@(ViewBag.Editmsg)" />
    <input type="hidden" id="currentTabId" value="@(Session["currentTabId"])" />

    <li role="presentation" class="active"><a href="#companyInfo" aria-controls="companyInfo" role="tab" data-toggle="tab">Company Info</a></li>

    <li role="presentation"><a href="#customer-info" aria-controls="customer-info" role="tab" data-toggle="tab">Customer Info</a></li>
    <li role="presentation"><a href="#customer-countries" aria-controls="profile" role="tab" data-toggle="tab">Countries</a></li>
    <li role="presentation"><a href="#customer-user" aria-controls="pc-users" role="tab" data-toggle="tab">Users</a></li>
    <li role="presentation"><a href="#customer-address" aria-controls="customer-address" role="tab" data-toggle="tab">Addresses</a></li>
    <li role="presentation"><a href="#contact-list" aria-controls="customer-address" role="tab" data-toggle="tab">Contacts</a></li>
    <li role="presentation"><a href="#add-l-setup" aria-controls="add-l-setup" role="tab" data-toggle="tab">Add'l Setup</a></li>
    <li role="presentation"><a href="#customer-catalog" aria-controls="customer-catalog" role="tab" data-toggle="tab">Catalog</a></li>
</ul>

<div class="col-md-12 tab-content">
    @if (Model != null)
    {

        @Html.Partial("_CompanyInfo", Model)

        @Html.Partial("~/Views/Company/Customer/_CustomerInfoPartial.cshtml", Model.CompanyRoleModel.CompanyCustomerModel)

        @Html.Partial("~/Views/Company/Customer/_CustomerCountryCurrencySetup.cshtml", Model.CompanyRoleModel.CompanyCustomerModel)



        @Html.Partial("~/Views/Company/Customer/_CustomerUserListPartial.cshtml", Model.CompanyRoleModel.CompanyCustomerModel.CustomerUsersList)

        @Html.Partial("~/Views/Company/Customer/_CustomerAddressListPartial.cshtml", Model.CompanyRoleModel.CompanyCustomerModel.CustomerAddressList)

        @Html.Partial("~/Views/Company/_GenericContactListPartialView.cshtml", Model.CompanyRoleModel.CompanyCustomerModel.ContactList)

        @Html.Partial("~/Views/Company/Customer/_customerAdditionalSetupPartialView.cshtml", Model.CompanyRoleModel.CompanyCustomerModel)

        @Html.Partial("~/Views/Company/Customer/_CustomerCatalogListPartial.cshtml", Model.CompanyRoleModel.CompanyCustomerModel)
    }
    else
    {<text>No Data Found</text>
    }
</div>

<div class="clearfix"></div>


<script>
    $(document).ready(function () {


        //$(".serviceLeveltxt").on("keypress keyup blur", function (event) {
        //    $(this).val($(this).val().replace(/[^\d].+/, ""));
        //    if ((event.which !== 8) && (event.which < 48 || event.which > 57)) {
        //        event.preventDefault();
        //    }
        //});

        //For customer Country disclaimer

        //$("#customerCountryDisclaimerDrp").select2({ allowClear: true });

        $('#customerCountryDisclaimerDrp').multipleSelect(
                              {
                                  placeholder: 'Countries',
                                  selectAll: true,
                                  filter: true,

                              });
        $("#customerCountryDisclaimerDrp").multipleSelect("setSelects", "");

        //for User dropdown category Restriction Popup
        $("#userForCategoryDrp").select2({ allowClear: true });



        //for customer version drp set
        if ($("#OnesourceVersion").val() != null && $("#OnesourceVersion").val() != "") {
            $("#versionDrp").val($("#OnesourceVersion").val());
        }


        //for select 2
        $("#customerCountryDrp").select2({ allowClear: true });


        //to set country drp value none
        $("#customerCountryDrp").prepend("<option value='0' selected='selected'>None</option>");
        $("#customerCountryDrp").select2().val("0").trigger("change");


        //for ck editor
        CKEDITOR.replace('txtDisclaimer',
       {
           toolbar: 'MA'
       });


        //to check ck editor character length
        $("#customerUpdateForm").submit(function (e) {
            var disclaimer = CKEDITOR.instances['txtDisclaimer'].getData().length;
            if (disclaimer > 1950) {
                e.preventDefault();
                showNotification("Disclaimer should not exceed 2000 characters.");
                return false;
            }
        });


        //to show msg
        var updateMsg = $("#updateMsg").val();
        if (updateMsg == "True") {
            showNotification("Record updated successfully.");
        } else if (updateMsg == "False") {
            showNotification("Error while updating.");
        }



        var countryData = [];


        function checkForDefaultCurrency() {
            var selectedIds = $('#customerCurrencyDrp').multipleSelect('getSelects');
            $("#defaultCurrencyDrp").html("");
            if (countryData != null && selectedIds != '') {
                var ids = selectedIds.toString().split(',');
                $.each(ids, function (index, item) {

                    var currency = $.grep(countryData, function (v) {
                        return v.CurrencyId.toString().trim() === item.toString().trim();
                    });

                    var checkDefault = $("#defaultCurrencyId").val();

                    var selected = '';
                    if (currency[0].CurrencyId == checkDefault) {

                        selected = "selected";
                    }
                    $("#defaultCurrencyDrp").append(' <option value="' + currency[0].CurrencyId + '" ' + selected + '>' + currency[0].CurrencyName + '</option>');
                });
            } else {
                $("#defaultCurrencyDrp").prepend("<option value='0' selected='selected'>None</option>");
                $("#defaultCurrencyDrp").val("0").trigger("change");
            }

        }

        $("#customerCountryDrp").on("change", function (e) {
            var countryId = $(this).val();
            var customerId = $("input[name='Customer.CustomerID']").val();
            if (countryId != '0') {

                showHideLoader(1);
                $.ajax({
                    url: '/Company/GetCustomerCurrencyByCountryId',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ customerId: customerId, countryId: countryId }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        var options = '';
                        var defaultCurrencyOptions = '';
                        var selectedIds = '';
                        if (data != null) {
                            countryData = data;
                            $.each(data, function (index, item) {
                                var checkSelected = "";
                                var checkIsDefault = "";

                                if (item.IsDefaultCurrency) {
                                    checkIsDefault = "selected";
                                    $("#defaultCurrencyId").val(item.CurrencyId);
                                }
                                if (item.IsSelected) {
                                    checkSelected = "selected";
                                    defaultCurrencyOptions = options + ' <option value="' + item.CurrencyId + '" ' + checkSelected + '>' + item.CurrencyName + '</option>';
                                }
                                options = options + ' <option value="' + item.CurrencyId + '" ' + checkSelected + '>' + item.CurrencyName + '</option>';
                            });
                            $("#customerCurrencyDrp").html(options);
                            $("#defaultCurrencyDrp").html(defaultCurrencyOptions);
                            $('#customerCurrencyDrp').multipleSelect(
                                {
                                    placeholder: 'currencies',
                                    selectAll: false,
                                    filter: true,
                                    onClose: function (view) {

                                        checkForDefaultCurrency();
                                    }
                                });

                        }
                    }, complete: function (data) {
                        $("#currencyDiv").show();
                        $("#defaultCurrencyDiv").show();
                        $("#currencyUpdateDiv").show();
                        //$("#defaultCurrencyDrp").select2({ allowClear: true });
                        var defaultCurrencyId = $("#defaultCurrencyId").val();
                        if (defaultCurrencyId != '0') {
                            $("#defaultCurrencyDrp").val(defaultCurrencyId);
                        } else {
                            $("#defaultCurrencyDrp").prepend("<option value='0' selected='selected'>None</option>");
                            $("#defaultCurrencyDrp").val("0").trigger("change");
                        }

                        showHideLoader(0);
                    }
                });

            }
            else {

                $("#currencyDiv").hide();
                $("#defaultCurrencyDiv").hide();
                $("#currencyUpdateDiv").hide();
            }
        });

        $("#setupUpdate").click(function () {


            var countryId = $("#customerCountryDrp").val();
            var customerId = $("#currentCustomerId").val();
            var selectedIds = $('#customerCurrencyDrp').multipleSelect('getSelects');
            var defaultCountry = $("#defaultCurrencyDrp").val();
            var ids = selectedIds.toString().split(',');
            var setups = [];
            showHideLoader(1);
            if (ids != null && ids != '') {

                $.each(ids, function (index, item) {
                    var defaultCurrency = false;
                    if (item == defaultCountry) {
                        defaultCurrency = true;
                    }
                    setups.push({
                        CurrencyId: item,
                        CountryId: countryId,
                        CustomerId: customerId,
                        IsSelected: true,
                        IsDefaultCurrency: defaultCurrency
                    });
                });
            } else {
                setups.push({
                    CurrencyId: 0,
                    CountryId: countryId,
                    CustomerId: customerId,
                    IsSelected: false,
                    IsDefaultCurrency: 0
                });
            }

            $.ajax({
                url: '/Company/UpdateCustomerCountryCurrency',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ list: setups }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        showNotification("Record updated successfully.");
                    } else {
                        showNotification("Error while updating.");
                    }

                }, complete: function (data) {
                    location.reload();
                }
            });


        });

        ///Customer User List Start
        $('#customer-user .isActiveListButton').change(function () {
            showHideLoader(1);
            var data = {
                userId: $(this).data("userid"),
                isActive: $(this).prop("checked")
            };
            $.ajax({
                url: '/primecontractor/UpdateUserStatus',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        showNotification("Record update successfully.");
                    } else if (data == false) {
                        showNotification("Error while processing.");
                    } else if (data == "sessionOut") {
                        showNotification("Login session expired.");
                        window.location.href = "/account/logout";
                    }
                    showHideLoader(0);
                }
            });

        });

        ///Change user access
        $('#customer-user .userAccessChk').change(function (e) {

            if (this.checked) {
                showHideLoader(1);
                var currentChk = $(this);
                var thisRow = $(currentChk).closest("tr");
                var currentSecurityLevel = $(this).data("securitylevel");

                var data = {
                    userId: $(this).data("userid"),
                    securityLevel: $(this).data("securitylevel"),
                    userGroupName: "customer"
                };
                $.ajax({
                    url: '/primecontractor/UpdateUserAccess',
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data == null) {
                            showNotification("Error while processing.");
                            showHideLoader(0);
                            return false;
                        }
                        if (data == true) {
                            showNotification("Record update successfully.");

                            $(thisRow).find("input.userAccessChk[data-securitylevel!='" + currentSecurityLevel + "']").each(function () {
                                $(this).prop('checked', false);
                            });
                        } else if (data == false) {
                            showNotification("Error while processing.");
                        }
                        showHideLoader(0);
                    }
                });
            } else {
                $(this).prop('checked', true);
                return false;
            }

        });

        ///Customer User List END


        ///Customer default homepage view start
        $("#updateHomePageBtn").click(function () {

            var customerId = $("#currentCustomerId").val();
            var defaultHomePageVal = $('#customerhomePages').val();
            var ifForAllUser = $("#homePageChk").prop("checked");

            var data = {
                customerId: customerId,
                homePageValue: defaultHomePageVal,
                isForAllusers: ifForAllUser,

            };
            showHideLoader(1);


            $.ajax({
                url: '/Company/GetDefaultHomepageByCustomerId',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        showNotification("Preference updated successfully.");
                    } else {
                        showNotification("Error while updating.");
                    }

                }, complete: function (data) {

                    showHideLoader(0);

                }
            });


        });

        ///Customer default homepage view end


        $("#customerUpdateForm").submit(function (e) {

            $("#customerUpdateForm :input").each(function () {
                var input = $(this);
                if (!(input)[0].checkValidity()) {
                    $('html, body').animate({
                        scrollTop: $(input).offset().top - 170
                    });
                    if ((input).attr("required") != null && (input).val().length < 1) {
                        alert("Please fill all mandatory fields.");
                        $(input).focus();
                        return false;
                    } else {

                        if ((input).attr("type").toLowerCase() == 'email') {
                            alert("Invalid email address.");
                            $(input).focus();
                            return false;

                        } else if ((input).attr("type").toLowerCase() == 'number') {
                            var min = (input).attr("min");
                            var max = (input).attr("max");
                            var addition = "";
                            if (min != null && max != null) {
                                addition = "ie (" + min + "-" + max + ")";
                            }
                            alert("Enter valid number. " + addition);
                            $(input).focus();
                            return false;
                        } else {

                            alert("Please valid input value.");
                            $(input).focus();
                            return false;


                        }
                    }
                    e.preventDefault();
                }
                if ($(input).hasClass("txtPercent") && $(input).val().length > 0) {

                    var x = parseFloat(input.val());
                    if (isNaN(x) || x < 0 || x > 100 || (input.val()).split(".").length > 2) {
                        alert("Please enter valid percentage. ie(0-100)");
                        $(input).focus();
                        e.preventDefault();
                    }
                } else if ($(input).hasClass("txtDecimal") && $(input).val().length > 0) {

                    var x = parseFloat(input.val());
                    //   var num = parseFloat(input.val());
                    //return !Number.isNaN(num) && num.toFixed(2).toString() === str;

                    if (isNaN(x) || x < 0 || (input.val()).split(".").length > 2) {
                        alert("Please enter valid decimal number.");
                        $(input).focus();
                        e.preventDefault();
                    }
                }


            });

        });

        //user categories Restriction start

        $("#userForCategoryDrp").on("change", function (e) {
            var userId = $(this).val();
            var customerId = $("input[name='Customer.CustomerID']").val();
            if (userId != '0' && userId != null) {
                showHideLoader(1);
                $.ajax({
                    url: '/Company/GetCategoriesListForUserRestriction',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ customerId: customerId, userId: userId }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        var options = '';
                        var selectedVals = [];
                        if (data != null) {
                            $.each(data, function (index, item) {

                                var checkRestricted = "";
                                if (item.IsRestricted != null && item.IsRestricted == true) {
                                    selectedVals.push(item.PartCategoryID);
                                }

                                options = options + '<option value="' + item.PartCategoryID + '">' + item.PartCategoryName + '</option>';

                            });
                            $("#restrictedCategoriesDrp").html('');
                            $("#restrictedCategoriesDrp").html(options);
                            $('#restrictedCategoriesDrp').multipleSelect(
                                {
                                    placeholder: 'categories',
                                    selectAll: true,
                                    filter: true,

                                });

                            $("#restrictedCategoriesDrp").multipleSelect("setSelects", selectedVals);
                        }
                    }, complete: function (data) {
                        $(".restrictedCategoryDiv").show();
                        $("#categoryRestrictionUpdateDiv").show();
                        showHideLoader(0);
                    }
                });
            }
            else {
                $(".restrictedCategoryDiv").hide();
                $("#categoryRestrictionUpdateDiv").hide();
                alert("Category not available");
            }
        });


        $("#userCategoryPopup").on('shown.bs.modal', function () {
            $("#userForCategoryDrp").val($("#userForCategoryDrp option:first").val());
            $(".restrictedCategoryDiv").hide();
            $("#categoryRestrictionUpdateDiv").hide();
            $("#userForCategoryDrp").change();
        });




        $("#addRestrictedCategoriesBtn").click(function (e) {

            var customerId = $("#currentCustomerId").val();
            var userId = $("#userForCategoryDrp").val();

            var restrictedCategories = $("#restrictedCategoriesDrp").multipleSelect("getSelects").join(",");
            var data = {
                customerId: customerId,
                userId: userId,
                categoryIds: restrictedCategories,
            };
            showHideLoader(1);


            $.ajax({
                url: '/Company/AddRestrictedCategoriesByUser',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        showNotification("Categories updated successfully.");
                    } else {
                        showNotification("Error while updating.");
                    }

                }, complete: function (data) {

                    showHideLoader(0);

                }
            });


        });


        $("#updateDisclaimer").click(function (e) {

            var customerId = $("#currentCustomerId").val();

            var countryIds = $("#customerCountryDisclaimerDrp").multipleSelect("getSelects").join(",");
            if (countryIds == null || countryIds == "") {
                alert("Please select at least one country to process!");
                e.preventDefault();
                return false;
            }
            var disclaimer = $("#customerDisclaimerTxt").val();

            var data = {
                customerId: customerId,
                disclaimer: disclaimer,
                countryIds: countryIds,
            };
            showHideLoader(1);


            $.ajax({
                url: '/Company/AddCustomerCountryDisclaimers',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == false) {
                        showNotification("Error while updating.");
                    } else if (data == "AllDeleted") {
                        $(".disclaimerList table tbody").html("");

                    }else {


                        $(".disclaimerList table tbody").html("");

                        if (data != null && data[0].CountryId != null && data[0].CountryId != undefined) {
                            var disclaimerList = "";
                            $.each(data, function (index, item) {

                                disclaimerList = disclaimerList + "<tr><td><i id="+ data[0].CountryId +" class='glyphicon glyphicon-remove remove-disclaimer' style='color:red;cursor:pointer'></i></td><td>" + data[index].CountryName + "</td><td>" + data[index].Disclaimer + "</td></tr>";

                            });
                            $(".disclaimerList table tbody").html(disclaimerList);
                            showNotification("Disclaimer updated successfully.");
                        }

                    }

                }, complete: function (data) {

                    showHideLoader(0);
                    $("#customerCountryDisclaimerDrp").multipleSelect("setSelects", "");
                    $("#customerDisclaimerTxt").val("");
                }
            });


        });

        $( document ).on( "click", ".remove-disclaimer", function() {
        //$("").live("click", function () {
            var customerId = $("#currentCustomerId").val();
            var countryId= $(this).attr("id");
            var thisRaw = $(this);
            if (confirm("Are you sure you want to delete this item?")) {

                $.ajax({
                    url: '/Company/RemoveCustomerCountryDisclaimer',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ "customerId": customerId, "countryId": countryId }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data = true) {
                            $(thisRaw).parent().parent().remove();
                        } else {
                            alert("Error while processing, Please try again!");
                        }

                    }
                });





            }

        });

        $('#customerDisclaimerPopup').on('shown.bs.modal', function () {

            $("#customerCountryDisclaimerDrp").multipleSelect("setSelects", "");
            $("#customerDisclaimerTxt").val("");
        })
        //user categories Restriction end



    });
</script>