﻿@using GridMvc.Html
@model List<OneSourceAdminCore.Entity.Sp_getCustomerAddress_AdminR_Result>



@helper RenderIsActiveButton(byte? isActive)
{
    if (@isActive == 1)
    {
        <input type="checkbox" disabled="" checked="" style="outline: 1px solid #585858;">
    }
    else
    {
        <input type="checkbox" disabled="" style="outline: 1px solid #585858;">
    }
}

@helper RenderAddressLinkButton(byte? shipTo, byte? billTo, int customerAddressId)
{
    byte shipToChk = 0;
    byte billToChk = 0;
    if (shipTo != null)
    {
        shipToChk = Convert.ToByte(shipTo);
    }

    if (billToChk != null)
    {
        billToChk = Convert.ToByte(billTo);
    }

    if (shipToChk == 1)
    {
        <a style="color: black; font-size: 18px; text-decoration: none;" class="shiftToPopup" data-customer="@ViewBag.CustomerId" data-destinationid="@customerAddressId"> <i class="fa fa-link" style="font-size: 18px; display: block; margin-top: 2px; text-align: center;"></i></a>
    }
    else
    {
        <span style="text-align: center; display: block; ">-</span>
    }

}

<div role="tabpanel" class="tab-pane" id="customer-address">
    <a href="/admin/customer/address/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId/@ViewBag.CustomerId/">
        <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right !important;margin-bottom:10px">Add New Address</button>
    </a>
    <br />
    @if (Model != null && Model.Count > 0)
    {

        <div>
            

            @Html.Grid(Model.OrderBy(x => x.CondensedAddress)).Named("custAddressGrid").Columns(columns =>
            {
                columns.Add(C => C.CondensedAddress).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Address").SetWidth(150);

                columns.Add(C => C.CountryName,"addressCountry").Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Country").SetWidth(100);

                columns.Add(C => C.IsShipToSetup).Encoded(false).Sanitized(false).Sortable(true).Titled("Ship-To").
                    RenderValueAs(p => RenderIsActiveButton(p.IsShipToSetup)).SetWidth(5);

                columns.Add(C => C.ShipToIsGlobal).Encoded(false).Sanitized(false).Sortable(true).Titled("Ship-To Is Global")
                    .RenderValueAs(p => RenderIsActiveButton(p.ShipToIsGlobal)).SetWidth(5);

                columns.Add(C => C.IsBillToSetup).Encoded(false).Sanitized(false).Sortable(true).Titled("Bill-To")
                    .RenderValueAs(p => RenderIsActiveButton(p.IsBillToSetup)).SetWidth(5);

                columns.Add(C => C.BillToIsGlobal).Encoded(false).Sanitized(false).Sortable(true).Titled("Bill-To Is Global")
                    .RenderValueAs(p => RenderIsActiveButton(p.BillToIsGlobal)).SetWidth(5);

                columns.Add(C => C.BillingAddressSetup).Encoded(false).Sanitized(false).Sortable(true).Titled("Setup Bill-To")
                    .RenderValueAs(p => RenderIsActiveButton(p.BillingAddressSetup)).SetWidth(5);

                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(5).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/admin/customer/address/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId/@ViewBag.CustomerId/@o.CustomerAddressID" class="isoCountryEdit">Edit </a>);

                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(5).Titled("Ship To / Bill To").RenderValueAs(x => RenderAddressLinkButton((x.IsShipToSetup), (x.IsBillToSetup), x.CustomerAddressID));
            }).WithPaging(50, 3, "cusAddressList")


        </div>
    }


</div>

<div class="modal" id="customerAddressModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style=" border-bottom: 1px solid #3b9ad2; color: white;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(59, 154, 210);background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><b>Ship To / Bill To Associations</b></h3>
            </div>
            <div class="modal-body">
                <div class="ShippingAddDetails">
                    <h3>Shipping Address :</h3>
                    <div class="col-md-12">
                        <input type="hidden" id="destAddId" value="0" />
                        <input type="hidden" id="customerId" value="0" />
                        <input type="hidden" id="countryToSelect" value="0" />
                        <div class="col-md-6">
                            <label>Address Name :</label>
                        </div>
                        <div class="col-md-6 lblAddName">
                            <label>-</label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <label>Address :</label>

                        </div>
                        <div class="col-md-6 lblAddress">
                            <label class="add1">-</label>
                            <label class="add2"></label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <label>City :</label>
                        </div>
                        <div class="col-md-6 lblCity">
                            <label>-</label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <label>State/Province/Region :</label>

                        </div>
                        <div class="col-md-6 lblStatePro">
                            <label>-</label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <label>Postal Code :</label>
                        </div>
                        <div class="col-md-6 lblPostalCode">
                            <label>-</label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <label>Country : </label>

                        </div>
                        <div class="col-md-6 lblCountry">
                            <label>-</label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <label>Condensed Address : </label>

                        </div>
                        <div class="col-md-6 lblConAdd">
                            <label>-</label>
                        </div><div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="inVoiceCountryDiv">
                    <h3>Invoice Country :</h3>
                    <select id="invCountryDrp" class=""></select>
                </div>
                <div class="clearfix"></div>
                <div class="invoiceAddDiv">
                    <h3>Invoice Address :</h3>
                    <select id="invAddressDrp" class="" multiple=""></select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a id="updateAddressPermission" href="#" class="btn btn-primary">Update</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="clearfix"></div>
<style>
    #customer-user .btn-sm {
        margin-bottom: 0px !important;
    }

    .ShippingAddDetails label {
        font-size: 13px !important;
    }
</style>



<script>
    $(document).ready(function () {

        function GetCustomerInvoiceAddressByCountry(customerId, countryId, destAddressId) {
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetCustomerInvoiceAddressByDestinationId',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ customerId: customerId, destinationId: destAddressId, countryId: countryId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                    var options = "";
                    var selectedIds = '';
                    if (data != null) {
                        $.each(data, function (index, item) {
                            var checkSelected = "";
                            if (item.IsSelected) {
                                checkSelected = "selected";
                            }
                            options = options + '<option ' + checkSelected + ' value="' + item.InvoiceAddressId + '">' + item.InVoiceAddressName + '</option>';
                        });
                        $("#invAddressDrp").html(options);

                        $('#invAddressDrp').multipleSelect(
                                     {
                                         placeholder: 'Billing address',
                                         selectAll: false,
                                         filter: true,
                                     });

                    }
                }, complete: function (data) {

                    showHideLoader(0);
                }
            });
        }
        function GetCustomerCountries(customerId) {


            showHideLoader(1);
            $.ajax({
                url: '/Company/GetCustomerInvoiceAddressCountries',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ customerId: customerId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data != '') {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $("#invCountryDrp").html(options);
                        $('#invCountryDrp').select2({ allowClear: true });
                        //$("#invCountryDrp").select2().trigger("change");
                        if ($("#countryToSelect").val() != "0") {
                            if ($("#invCountryDrp option[value='" + $("#countryToSelect").val() + "']").length > 0) {
                                $("#invCountryDrp").select2().val($("#countryToSelect").val()).trigger("change");
                            } else {
                                $("#invCountryDrp").select2().trigger("change");
                            }
                         
                        } else {
                            $("#invCountryDrp").select2().trigger("change");
                        }
                        
                    }
                    else {

                        $("#invCountryDrp").html('<option value="0" selected>None</option>');
                        $("#invCountryDrp").select2().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                    //$("#invCountryDrp").select2().val($("#countryToSelect").val()).trigger("change");


                }
            });


        }

        $("#invCountryDrp").change(function () {
            var customerId = $(".ShippingAddDetails #customerId").val();
            var destAddId = $(".ShippingAddDetails #destAddId").val();
            var countryId = $(this).val();
            if (countryId != null && countryId != '0') {
                GetCustomerInvoiceAddressByCountry(customerId, countryId, destAddId);
            } else {

                $('#invAddressDrp').multipleSelect(
                             {
                                 placeholder: 'Billing address',
                                 selectAll: false,
                                 filter: true,
                             });
            }

        });
        function GetShippAddressDetails(customerId, destAddId) {

            showHideLoader(1);
            $.ajax({
                url: '/Company/GetCustomerDestinationAddressDetails',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ customerId: customerId, destinationId: destAddId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null && data != 'false') {
                        $(".ShippingAddDetails #destAddId").val(data.AddressId);
                        $(".ShippingAddDetails #customerId").val(customerId);
                        $(".ShippingAddDetails .lblAddName label").text(data.AddressName);
                        $(".ShippingAddDetails .lblAddress label.add1").text(data.Address1);
                        $(".ShippingAddDetails .lblAddress label.add2").text(data.Address2);
                        $(".ShippingAddDetails .lblCity label").text(data.City);
                        $(".ShippingAddDetails .lblStatePro label").text(data.StatProvice);
                        $(".ShippingAddDetails .lblPostalCode label").text(data.PostalCode);
                        $(".ShippingAddDetails .lblConAdd label").text(data.ConAddress);
                        $(".ShippingAddDetails .lblCountry label").text(data.Country);
                        $(".ShippingAddDetails #countryToSelect").val(data.CountryIdToSelect);
                    }
                }, complete: function (data) {

                    $("#customerAddressModal").modal('show');
                    GetCustomerCountries(customerId);

                }
            });

        }



        $(".shiftToPopup").click(function () {
            var customerId = $(this).data("customer");
            var destAddId = $(this).data("destinationid");

            GetShippAddressDetails(customerId, destAddId);

        });

        $("#updateAddressPermission").click(function () {

            var customerId = $(".ShippingAddDetails #customerId").val();
            var destAddId = $(".ShippingAddDetails #destAddId").val();
            var inCountryId = $("#invCountryDrp").val();
            if ($('#invAddressDrp option').length < 1) {
                alert("No address to update.");
                return false;
            }
            var selectedIds = $('#invAddressDrp').multipleSelect('getSelects');
            if (destAddId == null) {
                alert("Please select valid data to proccess.");
                return false;
            }
            var ids = selectedIds.toString().split(',');

            var setups = [];
            showHideLoader(1);
            if (ids != null && ids != '') {

                $.each(ids, function (index, item) {

                    setups.push({
                        InvoiceAddressId: item,
                        CustomerId: customerId,
                        IsSelected: true,
                        DestinationId: destAddId,
                        CountryId: inCountryId
                    });
                });
            } else {
                setups.push({
                    InvoiceAddressId: 0,
                    CustomerId: customerId,
                    IsSelected: false,
                    DestinationId: destAddId,
                    CountryId: inCountryId
                });
            }

            $.ajax({
                url: '/Company/UpdateCustomerInvoiceAddress',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ list: setups }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        showNotification("Record updated successfully.");
                    } else {
                        showNotification("Error while updating.");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                    $("#customerAddressModal").modal('hide');
                }
            });


        });
    });

</script>