﻿@model OneSourceAdminCore.Model.CompanyCustomerModel

<div role="tabpanel" class="tab-pane" id="customer-countries">

    <a href="#customerDisclaimerPopup" data-toggle="modal">
        <button type="button" class="btn blue-Btn topAddNewButton" id="" style="right: 145px !important;float:right !important">Add Countries Disclaimer</button>
    </a>
    <!--<div class="col-md-12 back-btn">
        <button type="submit" class="btn btn-default btnSubmit" id="per">Back</button>
    </div>-->
    @using (Html.BeginForm("UpdateCompanyCustomer", "Company", FormMethod.Post, new { @id = "customerUpdateForm" }))
    {

        <input type="hidden" name="Customer.CustomerID" value="@Model.Customer.CustomerID" />
        <input type="hidden" name="companyId" value="@ViewBag.CompanyId" />
        <input type="hidden" name="partyId" value="@ViewBag.PartyId" />
        <input type="hidden" name="roleId" value="@ViewBag.roleId" />

        <div class="col-md-12" style="margin-bottom: 15px;">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label>Country : </label>
            </div>
            <div class="col-md-4">

                <input type="hidden" id="cutomerCountryId" value="" />
                @Html.DropDownList("customerCountryDrp", new SelectList(Model.CustomerCountryList,
                 "Key", "Value"), new { @idFor = "cutomerCountryId" })
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="col-md-12" id="currencyDiv" style="display: none">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label>Currencies : </label>
            </div>
            <div class="col-md-4">
                <select id="customerCurrencyDrp" multiple="multiple"></select>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="col-md-12" id="defaultCurrencyDiv" style="display: none">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label>Default Currency : </label>
            </div>
            <div class="col-md-4">
                <input type="hidden" id="defaultCurrencyId" value="0" />
                <select id="defaultCurrencyDrp" class="form-control"></select>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="col-md-12 update-btn" id="currencyUpdateDiv" style="display: none">
            <div class="col-md-5"></div>
            <div class="col-md-4" style="right: -21px;">
                <button type="button" class="blueBtn btn btn-default" id="setupUpdate">Update</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
</div>



<div class="modal" id="customerDisclaimerPopup">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">
                    <b>Country Disclaimer</b>
                </h3>
            </div>
            <div class="modal-body">
                <div class="">
                    <h3>Countries :</h3>
                    <select class="" idfor="disclaimerCountries" id="customerCountryDisclaimerDrp">
                        @foreach (var item in Model.CountryDisclaimerList.OrderBy(x=>x.CountryName))
                        {
                            <option data-disclaimer="@item.Disclaimer" value="@item.CountryId">@item.CountryName</option>
                        }
                    </select>
                </div>

                <div class="destAddDiv">
                    <h3>Disclaimer :</h3>
                    <textarea id="customerDisclaimerTxt" class="form-control" maxlength="1000"></textarea>
                </div>
                <br />
                <div class="disclaimerList" style="max-height:200px;overflow-y:auto">

                    <table class="table table-striped grid-table">
                        <thead>
                            <tr>
                                <th class="grid-header" style="width: 50px;color:#fff"></th>
                                <th class="grid-header" style="width: 200px;color:#fff">Country</th>
                                <th class="grid-header" style="color:#fff">Disclaimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CountryDisclaimerList.Where(x => !string.IsNullOrWhiteSpace(x.Disclaimer)).OrderBy(x => x.CountryName))
                            {

                                <tr>
                                    <td><i id="@item.CountryId" class="glyphicon glyphicon-remove remove-disclaimer" style="color:red;cursor:pointer"></i></td>
                                    <td>@item.CountryName</td>
                                    <td>@item.Disclaimer</td>
                                </tr>

                            }
                        </tbody>
                    </table>


                </div>



            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <span id="updateDisclaimer" class="btn btn-primary">Update</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
