﻿@model OneSourceAdminCore.Model.CompanyCustomerModel
<div role="tabpanel" class="tab-pane" id="customer-info">
    <!--<div class="col-md-12 back-btn">
        <button type="submit" class="btn btn-default btnSubmit" id="per">Back</button>
    </div>-->
    @using (Html.BeginForm("UpdateCompanyCustomer", "Company", FormMethod.Post, new { @id = "customerUpdateForm" }))
    {

        <div class="col-md-6 location-tab-one">

            <input type="hidden" name="Customer.CustomerID" id="currentCustomerId" value="@Model.Customer.CustomerID" />
            <input type="hidden" name="companyId" value="@ViewBag.CompanyId" />
            <input type="hidden" name="partyId" value="@ViewBag.PartyId" />
            <input type="hidden" name="roleId" value="@ViewBag.roleId" />

            <div class="col-md-4">
                <label>Email : </label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" maxlength="100" name="Customer.Email" value="@Model.Customer.Email" />

            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Prime Contractor Uplift (%) : </label>
            </div>
            <div class="col-md-8">
                <input class="form-control txtPercent" type="text" name="Customer.PrimeContractorUplift" value="@Model.Customer.PrimeContractorUplift" />
            </div>
            <div class="col-md-4">
                <label><span style="color: red">*</span>Service Level (Days) : </label>
            </div>
            <div class="col-md-8">
                <input class="form-control serviceLeveltxt" required="" type="number" min="0" max="999" name="Customer.ServiceLevel" value="@Model.Customer.ServiceLevel" />
            </div>
            <div class="col-md-4">
                <label>Quote E-Mail : </label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" maxlength="200" name="Customer.NetpQuoteEmail" value="@Model.Customer.NetpQuoteEmail" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Offerings : </label>
            </div>
            <div class="col-md-8">
                <input type="hidden" name="CustomerOfferingIds" value="@Model.CustomerOfferingIds" id="CustomerOfferingIds" />
                <select class="form-control" multiple="" multiselectidfor="CustomerOfferingIds" id="customerOfferingsMulti">
                    @foreach (var item in @Model.OfferingList)
                    {
                        if (@Model.CustomerOfferingIds.Contains(item.OfferingID.ToString()))
                        {
                            <option value="@item.OfferingID" selected>@item.OfferingName.Trim()</option>
                        }
                        else
                        {
                            <option value="@item.OfferingID">@item.OfferingName.Trim()</option>
                        }

                    }
                </select>
            </div>

            <div class="col-md-4">
                <label>Last Updated (mm/dd/yyyy) : </label>
            </div>
            <div class="col-md-8">
                <p>@Model.Customer.LastUpdated.ToString("MM/dd/yyyy")</p>
            </div>
        </div>
        <div class="col-md-6 location-tab-one">
            <div class="col-md-4">
                <label><span style="color: red">*</span>Prime Contractor : </label>
            </div>
            <div class="col-md-8" style="margin-bottom :  15px;">
                @Html.DropDownList("Customer.PrimeContractorID", new SelectList(Model.PrimeContractorList,
                    "PrimeContractorID", "PrimeContractorName", @Model.Customer.PrimeContractorID),
                    new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label><span style="color: red">*</span>Contract Start Date : </label>
            </div>
            <div class="col-md-8" style="margin-bottom :  15px;">
                @{
        var startDate = (Model.Customer.ContractStartDate != null ? Convert.ToDateTime(Model.Customer.ContractStartDate).ToString("MM/dd/yyyy") : @DateTime.Now.ToString("MM/dd/yyyy"));
                }
                <div class="input-group input-medium date date-picker" data-date="@startDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                    <input type="text" name="Customer.ContractStartDate" value="@startDate" class="form-control" readonly>
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <label>Order E-Mail : </label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" maxlength="200" name="Customer.NetpOrderEmail" value="@Model.Customer.NetpOrderEmail" />
            </div>
            <div class="col-md-4">
                <label>Enquiry E-Mail : </label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" maxlength="200" name="Customer.NetpEnquiryEmail" value="@Model.Customer.NetpEnquiryEmail" />
            </div>
            <div class="col-md-4">
                <label>Part Price Limit : </label>
            </div>
            <div class="col-md-8">
                <input class="form-control txtDecimal" type="text" name="Customer.PartPriceLimitUSD" min="0" maxlength="6" value="@Decimal.Round(Model.Customer.PartPriceLimitUSD??0,2)">
                <span class="pp-limit">USD</span>
            </div>
            <div class="col-md-4">
                <label>Onesource : </label>
            </div>
            <div class="col-md-8">
                <input type="hidden" name="Customer.OnesourceVersion" id="OnesourceVersion" value="@Model.Customer.OnesourceVersion" />
                <select idfor="OnesourceVersion" class="form-control" id="versionDrp">
                    <option value="Old">V1-OneSource</option>
                    <option value="New">V2-OneSource New</option>
                    <option value="V3">V3-GsOneSource</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Updated By : </label>
            </div>
            <div class="col-md-8">
                <p>@Model.UpdatedByUser</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12" style="margin-bottom :  15px;">
            <div class="col-md-2">
                <label>Disclaimer : </label>
            </div>
            <div class="col-md-10">
                <textarea id="txtDisclaimer" class="ckeditor form-control" name="Customer.Disclaimer" rows="6">@Model.Customer.Disclaimer</textarea>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8" style="font-style :  italic; color :  black;">Note : Disclaimer should not exceed 2000 characters. Styling is included in count.</div>
        </div>
        <br />
        <div class="clearfix"></div>
        <div class="col-md-12 update-btn">
            <button type="submit" class="btn btn-default blueBtn" id="customerInfoBtn">Update</button>
        </div>
    }
</div>