﻿@using GridMvc.Html
@model CompanyCustomerModel
@using OneSourceAdminCore.Model



<div role="tabpanel" class="tab-pane" id="customer-catalog">
    @{
        string select1 = "", select2 = "", select3 = "", select4 = "";
        var skuTxt = "";
        var partPrice = 1;
        if ((CatalogSearchModel)Session["SearchCatalogModel"] != null)
        {
            var data = (CatalogSearchModel)(Session["SearchCatalogModel"]);
            skuTxt = data.SearchText;
            if (data.PriceCodeId == 1)
            {
                select1 = "selected";
                partPrice = data.PriceCodeId;
            }
            else
            {
                select2 = "selected";
                partPrice = data.PriceCodeId;
            }
            if (data.CatalogType == 1)
            {
                select3 = "selected";

            }
            else
            {
                select4 = "selected";

            }
        }

    }
    @if (string.IsNullOrWhiteSpace(select4))
    {
        <a href="/admin/customer/bundlecategorysort/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.CustomerId">
            <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right;width: 158px;">Categories Ordering</button>
        </a>
        
        <a href="/admin/customer/catalog/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.CustomerId/0/@partPrice">
            <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right;width: 158px;">Add New Part</button>
        </a>
    }
    else
    {
        <a href="/admin/customer/bundlecategorysort/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.CustomerId">
            <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right;width: 158px;">Categories Ordering</button>
        </a>
     
        <a href="/admin/customer/bundle/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.CustomerId/0">
            <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right;width: 158px;">Add New Bundle</button>
        </a>
    }
    <br /><br />
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label>Catalog :</label>
    </div>
    <div class="col-md-4">
        <select name="catalog" class="form-control" id="catTypeDrp" onchange="SearchPartCatalog()">
            <option value="1" @select3>Catalog Parts</option>
            <option value="2" @select4>Catalog Bundles</option>
        </select>
    </div>
    <div class="col-md-2"></div>

    @if (string.IsNullOrWhiteSpace(select4))
    {
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Catalog Type :</label>
        </div>
        <div class="col-md-4">

            <select name="catalog" class="form-control drpCatalogType" onchange="SearchPartCatalog()">
                <option value="1" @select1>Global</option>
                <option value="2" @select2>Domestic</option>
            </select>
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>SKU :</label>
        </div>
        <div class="col-md-4">
            <input type="search" class="form-control catalogSkuTxt" maxlength="50" placeholder="SKU Search..." value="@skuTxt" />
        </div>
        <div class="col-md-2"></div>
    }
    else
    {
        <div class="clearfix"></div>

        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Description :</label>
        </div>
        <div class="col-md-4">
            <input type="search" class="form-control catalogSkuTxt" maxlength="50" placeholder="Description Search..." value="@skuTxt" />
        </div>
        <div class="col-md-2"></div>
    }
    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <div class="col-md-10">
        <button type="submit" class="btn btn-default blueBtn pull-right" id="btnSearchCatalog">Search</button>
    </div>
    <div class="clearfix"></div>
    <hr />
    <br />



    @if (Model != null)
    {

        <div>
            @if (string.IsNullOrWhiteSpace(select4))
            {
                @Html.Grid(Model.CatalogList.OrderBy(x => x.ManufacturerSku)).Columns(columns =>
                {
                    columns.Add(C => C.ManufacturerSku).Encoded(false).Sanitized(false).Sortable(true).Filterable(false).Titled("SKU");

                    columns.Add(C => C.Description).Encoded(false).Sanitized(false).Sortable(true).Filterable(false).Titled("Description").SetWidth(700);

                    columns.Add(C => C.ManufacturerName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Manufacturer");

                    columns.Add(C => C.IsActive, "catalogIsActive").RenderValueAs(o => (o.IsActive ? "Yes" : "No")).Encoded(false).Sanitized(false).Sortable(true).Filterable(false).Titled("Active");

                    columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(5).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/admin/customer/catalog/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.CustomerId/@o.CatalogPartId/@o.PriceCodeID" class="isoCountryEdit">Edit </a>);

                }).WithPaging(50).Named("catalogGRid")

            }
            else
            {
                @Html.Grid(Model.BundlelList.OrderBy(x => x.Description)).Columns(columns =>
                {

                    columns.Add(C => C.Description, "bundleDesc").Encoded(false).Sanitized(false).Sortable(true).Filterable(false).Titled("Description").SetWidth(700);

                    columns.Add(C => C.KeyIdentifier).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Key Identifier");

                    columns.Add(C => C.IsActive, "bundleIsActive").RenderValueAs(o => (o.IsActive ? "Yes" : "No")).Encoded(false).Sanitized(false).Sortable(true).Filterable(false).Titled("Active");

                    columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(5).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/admin/customer/bundle/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.CustomerId/@o.CatalogStandardID" class="isoCountryEdit">Edit </a>);

                }).WithPaging(50).Named("bundleGRid")
            }
        </div>
    }


</div>

<div class="clearfix"></div>
<style>
    #customer-user .btn-sm {
        margin-bottom: 0px !important;
    }

    .ShippingAddDetails label {
        font-size: 13px !important;
    }
</style>


<script>
    $("#btnSearchCatalog").click(function () {
        SearchPartCatalog();
    });

    function SearchPartCatalog() {
        var priceCodeId = $(".drpCatalogType").val();
        var catTypeId = $("#catTypeDrp").val();

        var data = {
            searchTxt: $(".catalogSkuTxt").val(),
            priceCodeId: priceCodeId,
            catalogType: catTypeId
        };
        showHideLoader(1);
        $.ajax({
            url: '/Company/CatalogSearch',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    location.reload();
                } else if (data == "-1") {
                    showNotification("Login session expired.");
                    window.location.href = "/account/logout";
                } else if (data == "0") {
                    showNotification("Login session expired.");
                    window.location.href = "/account/logout";
                }
            }

        });
    }
</script>