﻿@model OneSourceAdminCore.Model.CompanyCustomerModel

<div role="tabpanel" class="tab-pane" id="add-l-setup">
    <div class="col-md-12 tab-content">
        <ul class="nav nav-tabs subTabs" role="tablist">
            <li role="presentation" class="active"><a href="#gsp-pref-gen" aria-controls="gsp-pref-gen" role="tab" data-toggle="tab">GSP Preferences (GEN)</a></li>
            <li role="presentation"><a href="#gsp-pref" aria-controls="gsp-pref" role="tab" data-toggle="tab">GSP Preferences</a></li>
            <li role="presentation"><a href="#gsp-gs-uplifts" aria-controls="gsp-gs-uplifts" role="tab" data-toggle="tab">GSP & GlobalServe Uplifts</a></li>
            <li role="presentation"><a href="#tbu-and-duties" aria-controls="tbu-and-duties" role="tab" data-toggle="tab">TBU & Duties</a></li>
            <li role="presentation"><a href="#special-uplifts" aria-controls="special-uplifts" role="tab" data-toggle="tab">Special Uplifts</a></li>
        </ul>

        @Html.Partial("Customer/_GspCountryPrefParial", Model)
        @Html.Partial("Customer/_GspAddressPrefPartial", Model)
        @Html.Partial("Customer/_GsUpliftsPartial")
        @Html.Partial("Customer/_TbuAndDutiesPartial")
        @Html.Partial("Customer/_SpecialUpliftsPartial")


    </div>
</div>

<div class="clearfix"></div>

<script type="text/javascript">


    $(document).ready(function () {

        //GSP Gen Supplier
        function getGspSuppliers(manufacturerId, coutnryId, customerId) {
            if (manufacturerId == null || coutnryId == null || coutnryId == 0 || customerId == null || customerId == 0) {
                
                $("#gspSuppliersDrp").html('<option value="0" selected>None</option>');
                $("#gspSuppliersDrp").select2().val("0").trigger("change");
                return;
            }
            showHideLoader(1);
            var data = {
                basedOn: "country",
                basedOnId: coutnryId,
                manufacturerId: manufacturerId,
                customerId: customerId
            };
            $.ajax({
                url: '/Company/GetPreferredSupplierByCountryAndManufacturer',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '<option value="0" selected>Select</option>';

                    if (data != null && data.suppliers != null) {
                        $.each(data.suppliers, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $("#gspSuppliersDrp").html(options);
                        $('#gspSuppliersDrp').select2({ allowClear: true });
                        if (data.selectedId != null && data.selectedId > 0) {
                            if ($("#gspSuppliersDrp option[value='" + data.selectedId + "']").length !== 0) {
                                $("#gspSuppliersDrp").select2().val(data.selectedId).trigger("change");
                            }
                            else {
                                $("#gspSuppliersDrp").select2().val("0").trigger("change");
                            }

                        } else {
                            $("#gspSuppliersDrp").select2().val("0").trigger("change");
                        }
                    }
                    else {

                        $("#gspSuppliersDrp").html('<option value="0" selected>Select</option>');
                        $("#gspSuppliersDrp").select2().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }

        $("#destCountryDrp").change(function () {
            var customerId = $("#currentCustomerId").val();
            var manuId = $("#gspCounManufDrp").val();
            var countryId = $(this).val();
            getGspSuppliers(manuId, countryId, customerId);
        });

        $("#gspCounManufDrp").change(function () {
            var customerId = $("#currentCustomerId").val();
            var manuId = $(this).val();
            var countryId = $("#destCountryDrp").val();
            getGspSuppliers(manuId, countryId, customerId);
        });

        //Gsp COuntry
        $("#destCountryDrp").select2({ allowClear: true });
        $("#gspCounManufDrp").select2({ allowClear: true });

        $("#gspCounManufDrp").prepend("<option value='0'>(Non-Accredited Manufacturers)</option>");
        $("#gspCounManufDrp").prepend("<option value='-1'>(All Manufacturers)</option>");
        $("#gspCounManufDrp").select2().val("-1").trigger("change");

        $("#updateGspPrefBtn").click(function () {
            var supplierId = $("#gspSuppliersDrp").val();
            var manufId = $("#gspCounManufDrp").val();
            var countryId = $("#destCountryDrp").val();
            var customerId = $("#currentCustomerId").val();

            if (supplierId == null || supplierId <= 0 || supplierId == '') {
                showNotification("Please select supplier to process.");
                return false;
            }
            showHideLoader(1);
            var data = {
                customerId: customerId,
                countryId: countryId,
                manufacturerId: manufId,
                sfaId: supplierId
            };
            $.ajax({
                url: '/Company/UpdateSupplierGenPrefernce',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            showNotification("Records updated successfully.");

                        } else {
                            showNotification("Error while updating.");

                        }

                    } else {

                        showNotification("Error while processing.");

                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });




        });

        //Gsp address
        function getGspAddressSuppliers(manufacturerId, destinationId, customerId) {


            if (manufacturerId == null || destinationId == null || destinationId == 0 || customerId == null || customerId == 0) {

                $("#gspAddressSuppliersDrp").html('<option value="0" selected>None</option>');
                $("#gspAddressSuppliersDrp").select2().val("0").trigger("change");
                return;
            }
            showHideLoader(1);
            var data = {
                basedOn: "address",
                basedOnId: destinationId,
                manufacturerId: manufacturerId,
                customerId: customerId
            };
            $.ajax({
                url: '/Company/GetPreferredSupplierByCountryAndManufacturer',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '<option value="0" selected>Select</option>';

                    if (data != null && data.suppliers != null) {
                        $.each(data.suppliers, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $("#gspAddressSuppliersDrp").html(options);
                        $('#gspAddressSuppliersDrp').select2({ allowClear: true });
                        if (data.selectedId != null && data.selectedId > 0) {
                            if ($("#gspAddressSuppliersDrp option[value='" + data.selectedId + "']").length !== 0) {
                                $("#gspAddressSuppliersDrp").select2().val(data.selectedId).trigger("change");
                            }
                            else {
                                $("#gspAddressSuppliersDrp").select2().val("0").trigger("change");
                            }

                        } else {
                            $("#gspAddressSuppliersDrp").select2().val("0").trigger("change");
                        }
                    }
                    else {

                        $("#gspAddressSuppliersDrp").html('<option value="0" selected>Select</option>');
                        $("#gspAddressSuppliersDrp").select2().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }

        function getGspAddresses(customerId, countryId) {
            if (countryId == null || countryId == 0 || customerId == null || customerId == 0) {

                $("#gspDestAddressDrp").html('<option value="0" selected>None</option>');
                $("#gspDestAddressDrp").select2().val("0").trigger("change");
                return;
            }
            showHideLoader(1);
            var data = {
                customerId: customerId,
                countryId: countryId
            };
            $.ajax({
                url: '/Company/GetCustomerAddressesByCountryId',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '<option value="0" selected>Select</option>';

                    if (data != null) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $("#gspDestAddressDrp").html(options);
                        $('#gspDestAddressDrp').select2({ allowClear: true });
                        if (data.selectedId != null && data.selectedId > 0) {
                            if ($("#gspDestAddressDrp option[value='" + data.selectedId + "']").length !== 0) {
                                $("#gspDestAddressDrp").select2().val(data.selectedId).trigger("change");
                            }
                            else {
                                $("#gspDestAddressDrp").select2().val("0").trigger("change");
                            }

                        } else {
                            $("#gspDestAddressDrp").select2().val("0").trigger("change");
                        }
                    }
                    else {

                        $("#gspDestAddressDrp").html('<option value="0" selected>Select</option>');
                        $("#gspDestAddressDrp").select2().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }

        $("#gspDestCountryDrp").change(function () {
            var customerId = $("#currentCustomerId").val();
            var countryId = $(this).val();
            getGspAddresses(customerId, countryId);
        });

        $("#gspDestAddressDrp").change(function () {
            var customerId = $("#currentCustomerId").val();
            var manuId = $("#gspAddressManufDrp").val();
            var countryId = $(this).val();
            getGspAddressSuppliers(manuId, countryId, customerId);
        });

        $("#gspAddressManufDrp").change(function () {
            var customerId = $("#currentCustomerId").val();
            var manuId = $(this).val();
            var countryId = $("#gspDestAddressDrp").val();
            getGspAddressSuppliers(manuId, countryId, customerId);
        });

        $("#gspDestCountryDrp").select2({ allowClear: true });
        $("#gspDestAddressDrp").select2({ allowClear: true });
        $("#gspAddressManufDrp").select2({ allowClear: true });

        $("#gspAddressManufDrp").prepend("<option value='0'>(Non-Accredited Manufacturers)</option>");
        $("#gspAddressManufDrp").prepend("<option value='-1'>(All Manufacturers)</option>");
        $("#gspAddressManufDrp").select2().val("-1").trigger("change");


        $("#updateGspAddressPrefBtn").click(function () {
            var supplierId = $("#gspAddressSuppliersDrp").val();
            var manufId = $("#gspAddressManufDrp").val();
            var destinationId = $("#gspDestAddressDrp").val();
            var customerId = $("#currentCustomerId").val();

            if (supplierId == null || supplierId <= 0 || supplierId == '') {
                showNotification("Please select supplier to process.");
                return false;
            }
            showHideLoader(1);
            var data = {
                customerId: customerId,
                destinationId: destinationId,
                manufacturerId: manufId,
                sfaId: supplierId
            };
            $.ajax({
                url: '/Company/UpdateSupplierPreferenceByDestination',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            showNotification("Records updated successfully.");

                        } else {
                            showNotification("Error while updating.");
                        }
                    } else {

                        showNotification("Error while processing.");

                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });




        });

        //suppliers uplifts

        function getUpliftsSuppliers(countryId, customerId, forDrp) {

            showHideLoader(1);
            var data = {
                customerId: customerId,
                countryId: countryId
            };
            $.ajax({
                url: '/Company/GetCustomerCountryPreferedSuppliers',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                   
                    var options = '<option value="0" selected>Select</option>';
                    
                    if (data != null) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $('#' + forDrp).html(options);
                        $('#' + forDrp).select2({ allowClear: true });

                    }
                    else {
                
                        $('#' + forDrp).html('<option value="0">None</option>').select2({ allowClear: true });
                    }
                }, complete: function (data) {
                    if ($('#' + forDrp).find("option").length > 0) {
                        $('#' + forDrp).select2().val("0").trigger("change");
                    } else {
                        $('#' + forDrp).html('<option value="0">None</option>').select2({ allowClear: true });
                    }
                    
                    showHideLoader(0);
                }
            });

        }

        $("#uplCountryDrp").change(function () {
            var customerId = $("#currentCustomerId").val();
            var countryId = $(this).val();
            $("#sfaUpliftTxt").val("");
            $("#gsUpliftTxt").val("");
            getUpliftsSuppliers(countryId, customerId, "upliftSfaDrp");
        });

        $("#uplCountryDrp").select2({ allowClear: true });
        $("#uplCountryDrp").trigger("change");

        $("#upliftSfaDrp").change(function () {
            if ($(this).val() == null || $(this).val() == '' || $(this).val() == '0') {
                $("#sfaUpliftTxt").val("");
                $("#gsUpliftTxt").val("");
                return false;
            }
            var customerId = $("#currentCustomerId").val();
            var sfaId = $(this).val();
            var countryId = $("#uplCountryDrp").val();

            var data = {
                customerId: customerId,
                countryId: countryId,
                sfaId: sfaId
            }
            $("#sfaUpliftTxt").val("");
            $("#gsUpliftTxt").val("");
            $("#upliftsIsprefered ").bootstrapToggle("off");
            if (sfaId == 0) {
                return false;
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetSfaUpliftsById',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {

                        $("#sfaUpliftTxt").val(data.SfaStandardUplift);
                        $("#gsUpliftTxt").val(data.PcUplifts);
                        if (data.IsPreferred) {
                            $("#upliftsIsprefered ").bootstrapToggle("on");
                        } else {

                            $("#upliftsIsprefered ").bootstrapToggle("off");
                        }
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        });

        $("#addUpliftdBtn").click(function () {

            var customerId = $("#currentCustomerId").val();
            var sfaId = $("#upliftSfaDrp").val();
            var countryId = $("#uplCountryDrp").val();
            var pcUplift = $("#gsUpliftTxt").val();
            var sfaUplift = $("#sfaUpliftTxt").val();
            var isPref = ($("#upliftsIsprefered").val() == "on" ? true : false);



            if (sfaId == 0) {
                alert("Please select supplier to process.");
                return false;
            }

            if ($('#gsUpliftTxt').val() != "" && !$.isNumeric($('#gsUpliftTxt').val())) {
                alert("Please enter a valid GlobalServe Uplift percentage (0-100).");
                return false;
            }

            if ($('#sfaUpliftTxt').val() != "" && !$.isNumeric($('#sfaUpliftTxt').val())) {
                alert("Please enter a valid Supplier Uplift percentage (0-100).");
                return false;
            }

            if ($('#gsUpliftTxt').val() != "" && (parseFloat($('#gsUpliftTxt').val()) < 0 || parseFloat($('#gsUpliftTxt').val()) > 100)) {
                alert("Please enter a valid GlobalServe Uplift percentage (0-100).");
                return false;
            }

            if ($('#sfaUpliftTxt').val() != "" && (parseFloat($('#sfaUpliftTxt').val()) < 0 || parseFloat($('#sfaUpliftTxt').val()) > 100)) {
                alert("Please enter a valid Supplier Uplift percentage (0-100).");
                return false;
            }
           
            var data = {
                customerId: customerId,
                countryId: countryId,
                sfaId: sfaId,
                sfaStandardUplifts: parseFloat(sfaUplift),
                gsUplifts: parseFloat(pcUplift),
                isPrefered: isPref
            }

            showHideLoader(1);
            $.ajax({
                url: '/Company/UpdateSfaUplifts',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            showNotification("Record updated successfully.");
                        } else {
                            showNotification("Error while processing.");
                        }


                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        });

        //special uplifts
        $("#spUpCountryDrp").select2({ allowClear: true });


        function GetSpecialUplifts(customerId, countryId) {

            var data = {
                customerId: parseInt(customerId),
                countryId: parseInt(countryId)
            };
            $(".specialUpliftsDiv").css("text-align", "center");
            $(".specialUpliftsDiv").html('<img src="/Content/images/loading.gif">');
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetSpecialUpliftsByCountry',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'html',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        $(".specialUpliftsDiv").css("text-align", "left");
                        $(".specialUpliftsDiv").html(data);
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }

        function GetSpecialUpliftsManufacturers(countryId, customerId, sfaId) {

            showHideLoader(1);
            var data = {
                customerId: customerId,
                countryId: countryId,
                sfaId: sfaId
            };
            $.ajax({
                url: '/Company/GetSpecialUpliftsManufacturersBySupplier',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '<option value="0" selected>Select</option>';
                    if (data != null) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $('#spUpManfDrp').html(options);
                        $('#spUpManfDrp').select2({ allowClear: true });

                    }
                    else {
                        $('#spUpManfDrp').select2({ allowClear: true });
                    }
                }, complete: function (data) {
                    $('#spUpManfDrp').select2().val("0").trigger("change");
                    showHideLoader(0);
                }
            });

        }

        $("#spUpCountryDrp").change(function () {

            var customerId = $("#currentCustomerId").val();
            var countryId = $(this).val();

            getUpliftsSuppliers(countryId, customerId, "spUpSuppliersDrp");
            GetSpecialUplifts(customerId, countryId);
             
            $('#spUpManfDrp').select2({ allowClear: true });
        });
        $("#spUpCountryDrp").trigger("change");

        $("#spUpSuppliersDrp").change(function () {
          
            var countryId = $("#spUpCountryDrp").val();
            var customerId = $("#currentCustomerId").val();
            var sfaId = $(this).val();
            $("#spUpliftSupTxt").val("");
            $("#spUpliftgsTxt").val("");
             if (sfaId == '0') {
                $(".divToHide").hide();
                 return;
             }

            GetSpecialUpliftsManufacturers(countryId, customerId, sfaId);
            $(".divToHide").show();

        });

        $("#addSpUpliftdBtn").click(function () {

            var customerId = $("#currentCustomerId").val();
            var sfaId = $("#spUpSuppliersDrp").val();
            var countryId = $("#spUpCountryDrp").val();
            var spSupUplift = $("#spUpliftSupTxt").val();
            var spGsUplift = $("#spUpliftgsTxt").val();
            var manfId = $("#spUpManfDrp").val();


            if (manfId == 0) {
                alert("Please select a valid manufacturer.");
                return false;
            }

            if (spSupUplift.trim() == "" && spGsUplift.trim() == "") {
                alert("Please enter a valid Uplift(s) percentage (0-100) to add.");
                return false;
            }

            if (!$('#spUpliftSupTxt')[0].checkValidity()) {
                alert("Please enter a valid Supplier Uplift percentage (0-100).");
                return false;
            }
            if (!$('#spUpliftgsTxt')[0].checkValidity()) {
                alert("Please enter a valid GlobalServe Uplift  percentage (0-100).");
                return false;
            }

            var data = {
                customerId: customerId,
                countryId: countryId,
                sfaId: sfaId,
                manfId: manfId,
                supplierUplifts: parseInt(spSupUplift),
                gsUplifts: parseInt(spGsUplift)
            }

            showHideLoader(1);
            $.ajax({
                url: '/Company/AddSpecialUplifts',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            showNotification("Record updated successfully.");
                        } else {
                            showNotification("Error while processing.");
                        }


                    }
                }, complete: function (data) {
                    $("#spUpCountryDrp").trigger("change");
                    showHideLoader(0);
                }
            });
        });

        //$(".spUpliftsUpdate").click(function () {
        $('body').on('click', '.spUpliftsUpdate', function () {
            var sfaUplift = $(this).parent().parent().find(".spGridSfaUplift");
            var gsUplift = $(this).parent().parent().find(".spGridGsUplift");
            var upliftId = $(this).data("spid");

            if (sfaUplift.val().trim() == "" && gsUplift.val().trim() == "") {
                alert("Please enter a value (0 - 100) for Uplifts %");
                return false;
            }
            if (!$(sfaUplift)[0].checkValidity()) {
                alert("Please enter a valid Supplier Uplift percentage (0-100).");
                return false;
            }
            if (!$(gsUplift)[0].checkValidity()) {
                alert("Please enter a valid GlobalServe Uplift  percentage (0-100).");
                return false;
            }
            var data = {
                sfaUpliftId: parseInt(upliftId),
                supplierUplifts: parseInt(sfaUplift.val()),
                gsUplifts: parseInt(gsUplift.val())
            }

            showHideLoader(1);
            $.ajax({
                url: '/Company/UpdateSpecialUplifts',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            showNotification("Record updated successfully.");
                        } else {
                            showNotification("Error while processing.");
                        }

                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });


        });

        $('body').on('click', '.spUpliftsDelete', function () {

            var upliftId = $(this).data("spid");
            var thisRow = $(this).parent().parent();
            showHideLoader(1);
            $.ajax({
                url: '/Company/DeleteSfaUpliftById',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ sfaUpliftId: parseInt(upliftId) }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            $("#spUpCountryDrp").trigger("change");
                            showNotification("Record deleted successfully.");
                        } else {
                            showNotification("Error while processing.");
                        }

                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });


        });


    });



</script>