﻿@using GridMvc.Html
@model List<OneSourceAdminCore.Entity.Sp_GetUserByCustomerId_AdminR_Result>


@{ string[,] defaultHomePages =
                               {
      {"Home", "Home-Index"}, {"Search - Order", "Order-Search"}, {"Search - Quote", "Quote-Search"},
       {"Search - Request", "Request-Search"}, {"Search - Asset", "Asset-Index"}, {"Reports - Procurement", "ProcurementReport-Index"},
       {"Reports - Lifecycle Management", "LifecycleManagementReport-Index"}, {"Reports - Asset Management", "AssetManagement-Index"},
       {"Tools", "Tool-Index"},{"Dashboard - Order", "OrderReport-Index"},{"Dashboard - Quote", "QuoteReport-Index"},
       {"Dashboard - Request", "RequestReport-Index"},{"Dashboard - Summary", "DashboardSummary-Index"},
   };

}

@helper RenderSecurityLevelCheckBox(int userId, int value, string checkBoxId, int currentChkBoxId)
{
if (value == currentChkBoxId)
{
        <input class="@checkBoxId userAccessChk" data-userid="@userId" data-securitylevel="@currentChkBoxId" checked="checked" type="checkbox">
}
else
{
        <input class="@checkBoxId userAccessChk" data-userid="@userId" data-securitylevel="@currentChkBoxId" type="checkbox">
}
}

@helper RenderIsActiveButton(int userId, bool isActive)
{
if (@isActive)
{
        <input class="isActiveListButton" data-userid="@userId" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
}
else
{
        <input class="isActiveListButton" data-userid="@userId" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
}

}

<div role="tabpanel" class="tab-pane" id="customer-user">
    <a href="/admin/customer/user/0/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId">
        <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right !important">Add New User</button>
    </a>
    <a href="#usersHomePageSettingPopup" data-toggle="modal">
        <button type="button" class="btn blue-Btn topAddNewButton" id="" style="right: 145px !important;float:right !important">Homepage Settings</button>
    </a>
    <a href="#userCategoryPopup" data-toggle="modal">
        <button type="button" class="btn blue-Btn topAddNewButton" id="" style="right: 145px !important;float:right !important">Category Restriction</button>
    </a>
    <br />
    @if (Model != null && Model.Count > 0)
    {

        <div>

            @Html.Grid(Model.OrderBy(x => x.UserName)).Columns(columns =>
       {
       columns.Add(C => C.UserName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("User Name").SetWidth(100);
       columns.Add(C => C.CountryName, "userCountry").Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Country").SetWidth(100);
       columns.Add().Encoded(false).Sanitized(false).Titled("View Only").
           RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "customerAccessChk", 1)).SetWidth(10);

       columns.Add().Encoded(false).Sanitized(false).Titled("Low Level Buyer")
           .RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "managerAccessChk", 2)).SetWidth(10);

       columns.Add().Encoded(false).Sanitized(false).Titled("Mid Level Buyer").
           RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "adminAccessChk", 3)).SetWidth(10);

       columns.Add().Encoded(false).Sanitized(false).Titled("Manager").
           RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "adminAccessChk", 4)).SetWidth(10);

       columns.Add().Encoded(false).Sanitized(false).Titled("Executive").
           RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "adminAccessChk", 5)).SetWidth(10);

       columns.Add(C => C.IsActive, "customerIsActive").Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Active").RenderValueAs(p => RenderIsActiveButton(p.UserID, Convert.ToBoolean(p.IsActive))).SetWidth(10);

       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/admin/customer/user/@o.UserID/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId" class="isoCountryEdit">Edit </a>);
       }).WithPaging(50, 3, "cusUserList")

        </div>
    }


</div>

<div class="modal" id="usersHomePageSettingPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">
                    <b>Default Homepage Settings</b>
                </h3>
            </div>
            <div class="modal-body">
                <div class="">
                    <h3>Default Homepage :</h3>
                    <select class="form-control " idfor="DefaultHomePage" id="customerhomePages">

                        @for (var i = 0; i <= defaultHomePages.GetUpperBound(0); i++)
                        {
                        <option value="@defaultHomePages[i, 1]">@defaultHomePages[i, 0]</option>
                        }
                    </select>
                </div>
                <div class="destAddDiv">
                    <h3>For all users :</h3>
                    <input type="checkbox" name="name" value="" id="homePageChk" />
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <span id="updateHomePageBtn" class="btn btn-primary">Update</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<div class="modal" id="userCategoryPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">
                    <b>User Category Restriction</b>
                </h3>
            </div>
            <div class="modal-body">
                <div class="">
                    <h3>User Name :</h3>

                    @Html.DropDownList("userForCategoryDrp", Model.OrderBy(x => x.UserName).Select(m => new SelectListItem
               {
                   Value = m.UserID.ToString(),
                   Text = m.UserName
               }))

                    
                </div>
                <div class="restrictedCategoryDiv"  style="display: none">
                <h3>Restrict Categories :</h3>
                <select id="restrictedCategoriesDrp"></select>

                </div>

            </div>
            <div class="modal-footer"  id="categoryRestrictionUpdateDiv" style="display: none">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <span id="addRestrictedCategoriesBtn" class="btn btn-primary">Update</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<style>
    #customer-user .btn-sm {
        margin-bottom: 0px !important;
    }
</style>


<script>


    //$(document).ready(function () {

    //});

</script>