﻿@model OneSourceAdminCore.Model.CompanyCustomerModel

<div role="tabpanel" class="tab-pane dist-up" id="gsp-pref">
    <div class="col-md-12">

        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Destination Country :</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 15px;">
            <input type="hidden" id="gspCountryId" value="" />
            @if (Model.CustomerDestinationCountryList.Count > 0)
            {
                @Html.DropDownList("gspDestCountryDrp", new SelectList(Model.CustomerDestinationCountryList,
                    "Key", "Value"), new { @idFor = "gspCountryId" })
            }
            else
            {
                <select id="gspDestCountryDrp">
                    <option value="0">None</option>
                </select>
            }

        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Destination Address :</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 15px;">
            @if (Model.CustomerDestinationAddressList.Count > 0)
            {
                @Html.DropDownList("gspDestAddressDrp", new SelectList(Model.CustomerDestinationAddressList,
                         "Key", "Value"))
            }
            else
            {
                <select id="gspDestAddressDrp">
                    <option value="0">None</option>
                </select>
            }

        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Manufacturers :</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 15px;">
            @Html.DropDownList("gspAddressManufDrp", new SelectList(Model.SetupManufacturersList,
                         "Key", "Value"))
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Preferred Supplier :</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 15px;">
            <select id="gspAddressSuppliersDrp" class=""></select>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-6 update-btn1">
            <button type="submit" class="btn btn-default blueBtn" id="updateGspAddressPrefBtn">Update</button>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>
