﻿@model OneSourceAdminCore.Model.CompanyCustomerModel

<div role="tabpanel" class="tab-pane active dist-up" id="gsp-pref-gen">
    <div class="col-md-12">

        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Destination Country :</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 15px;">
            <input type="hidden" id="destCountryId" value="" />
            @if (Model.CustomerDestinationCountryList.Count > 0)
            {
                @Html.DropDownList("destCountryDrp", new SelectList(Model.CustomerDestinationCountryList,
                    "Key", "Value"), new { @idFor = "destCountryId" })
            }
            else
            {
                <select id="destCountryDrp">
                    <option value="0">None</option>
                </select>
            }

        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Manufacturers :</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 15px;">
            <input type="hidden" id="gspCounManufId" value="" />
            @Html.DropDownList("gspCounManufDrp", new SelectList(Model.SetupManufacturersList,
                         "Key", "Value"), new { @idFor = "gspCounManufId" })
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Preferred Supplier :</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 15px;">
            <select id="gspSuppliersDrp" class=""></select>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-6 update-btn1">
            <button type="submit" class="btn btn-default blueBtn" id="updateGspPrefBtn">Update</button>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>



