﻿@model OneSourceAdminCore.Model.CompanyCustomerModel

<div role="tabpanel" class="tab-pane dist-up" id="gsp-gs-uplifts">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            Country :
        </div>
        <div class="col-md-4" style="margin-bottom: 15px">
            @if (Model.CustomerUpliftsCountryList.Count > 0)
            {
                @Html.DropDownList("uplCountryDrp", new SelectList(Model.CustomerUpliftsCountryList,
                "Key", "Value"))
            }
            else
            {
                <select id="uplCountryDrp">
                    <option value="0">None</option>
                </select>
            }
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            Supplier :
        </div>
        <div class="col-md-4" style="margin-bottom: 15px">
            <select id="upliftSfaDrp"></select>
        </div>
        <div class="col-md-2"></div>

        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            Supplier Uplift % :
        </div>
        <div class="col-md-4 gsp-gs-up">
            <input type="text" maxlength="4" class="form-control" id="sfaUpliftTxt" />
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            GlobalServe Uplift % :
        </div>
        <div class="col-md-4 gsp-gs-up">
            <input type="text" maxlength="4" class="form-control" id="gsUpliftTxt" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            IsPreferred :
        </div>
        <div class="col-md-4 gsp-gs-up">
            <input id="upliftsIsprefered" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-4"></div>
        <div class="col-md-6 update-btn2">
            <button type="button" class="btn btn-default blueBtn" id="addUpliftdBtn">Insert / Update</button>
        </div>
    </div>
</div>





