﻿

<div role="tabpanel" class="tab-pane" id="special-uplifts">
    <div class="col-md-12 special-uplifts-tab">
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <label>Country :</label>
        </div>
        <div id="support" class="col-md-6" style="margin-bottom: 15px">

            @if (Model.CustomerUpliftsCountryList.Count > 0)
            {
               
            @Html.DropDownList("spUpCountryDrp", new SelectList(Model.CustomerUpliftsCountryList,
                "Key", "Value"))
            }
            else
            {
                <select id="spUpCountryDrp">
                    <option value="0">None</option>
                </select>
            }


        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <label>Supplier :</label>
        </div>
        <div id="procurement" class="col-md-6" style="margin-bottom: 15px">
            <select id="spUpSuppliersDrp"></select>
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="divToHide">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>Manufacturer :</label>
            </div>
            <div id="" class="col-md-6" style="margin-bottom: 15px">
                <select id="spUpManfDrp"><option value="0">None</option></select>
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                Supplier Uplift % :
            </div>
            <div class="col-md-6 gsp-gs-up">
                <input type="number" min="0" max="100" class="form-control" id="spUpliftSupTxt" />
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                GlobalServe Uplift % :
            </div>
            <div class="col-md-6 gsp-gs-up">
                <input type="number" min="0" max="100" class="form-control" id="spUpliftgsTxt" />
            </div>
            <div class="col-md-10 ">
                <button type="button" class="btn btn-default blueBtn" id="addSpUpliftdBtn" style="float: right;">Add</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <hr>
    <div class="col-md-12 specialUpliftsDiv">

    </div>
</div>


<script>

    $(document).ready(function () {

   
    });


</script>


<style>
    .specialUpliftsDiv .grid-header-title > span {
        color: white;
    } 
    .specialUpliftsDiv .grid-cell input {
        margin-bottom: 0px !important;
        width: 50%;
    }
</style>