﻿@using GridMvc.Html

@model List<OneSourceAdminCore.Entity.Sp_GetSpecialUpliftsByCountryId_AdminR_Result>


@if (Model != null && Model.Count > 0)
{

    @helper RenderUpliftsTxtBox(string name, int value)
{
    <input type="number" class="@name form-control" min="0" max="100" value="@value" />
}

    @helper RenderActionBtns(int spUpliftsId)
{
    <a style="color: blue;" class="spUpliftsUpdate"  data-spid="@spUpliftsId">Update</a>
    <text>|</text>
    <a style="color: blue;" class="spUpliftsDelete" data-spid="@spUpliftsId">Delete</a>
}

    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(C => C.SfaName).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Supplier").SetWidth(50);
        columns.Add(C => C.ManufacturerName).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Manufacturer").SetWidth(50);
        columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).RenderValueAs(x => RenderUpliftsTxtBox("spGridSfaUplift", Convert.ToInt32(x.SfaUplifts))).Titled("Supplier Uplift %").SetWidth(50);
        columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).RenderValueAs(x => RenderUpliftsTxtBox("spGridGsUplift", Convert.ToInt32(x.GsUplifts))).Titled("GlobalServe Uplift %").SetWidth(50);
        columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(50).Titled("Action")
       .RenderValueAs(o => RenderActionBtns(o.ManufacturerUpliftID));

    }).WithPaging(100)
}
else
{
    <b>Data not found</b>
}


