﻿@model OneSourceAdminCore.Model.CompanyCustomerModel
<div role="tabpanel" class="tab-pane dist-up" id="tbu-and-duties">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            Manufacturer :
        </div>
        <div class="col-md-4" style="margin-bottom: 15px">
            @Html.DropDownList("tbuManufDrp", new SelectList(Model.TbuManufacturerList,
                "Key", "Value"))
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            Country :
        </div>
        <div class="col-md-4" style="margin-bottom: 15px">
            @if (Model.CustomerDestinationCountryList.Count > 0)
            {
                @Html.DropDownList("tbuCountryDrp", new SelectList(Model.CustomerDestinationCountryList,
                "Key", "Value"))
            }
            else
            {
                <select id="tbuCountryDrp">
                    <option value="0">None</option>
                </select>
            }

        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            Trade Block Uplift % :
        </div>
        <div class="col-md-4 gsp-gs-up">
            <input type="text"   class="form-control" id="tbuBlockUplift" />
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            Duties % :
        </div>
        <div class="col-md-4 gsp-gs-up">
            <input type="text"  class="form-control" id="tbuDuties" />
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-6 update-btn1">
        <button type="submit" class="btn btn-default blueBtn" id="tbuUpdateBtn">Update</button>
    </div>
</div>




<script>
    $(document).ready(function () {

        $("#tbuManufDrp").select2({ allowClear: true });
        $("#tbuCountryDrp").select2({ allowClear: true });

        function GetTbuUplifts(manufacturerId, coutnryId, customerId) {

            showHideLoader(1);
            var data = {
                countryId: coutnryId,
                manufacturerId: manufacturerId,
                customerId: customerId
            };

            $("#tbuBlockUplift").val("");
            $("#tbuDuties").val("");
            $.ajax({
                url: '/Company/GetCustomerTbuUpliftsById',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {

                        if (data.blockUplifts != null) {
                            $("#tbuBlockUplift").val(data.blockUplifts);
                        }
                        if (data.duties != null) {

                            $("#tbuDuties").val(data.duties);
                        }


                    }
                    else {

                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }

        $("#tbuManufDrp").change(function () {

            var customerId = $("#currentCustomerId").val();
            var countryId = $("#tbuCountryDrp").val();
            var manuId = $(this).val();
            GetTbuUplifts(manuId, countryId, customerId);

        });

        $("#tbuCountryDrp").change(function () {
            var customerId = $("#currentCustomerId").val();
            var countryId = $(this).val();
            var manuId = $("#tbuManufDrp").val();
            GetTbuUplifts(manuId, countryId, customerId);
        });
        $("#tbuCountryDrp").trigger("change");
        $("#tbuUpdateBtn").click(function () {


            var customerId = $("#currentCustomerId").val();
            var manuId = $("#tbuManufDrp").val();
            var countryId = $("#tbuCountryDrp").val();
            var tbuBlockUplifts = $("#tbuBlockUplift").val();
            var tbuDuties = $("#tbuDuties").val();

            if (countryId == null || countryId <= 0) {
                alert("Please select country to process.");
                return false;
            }

            if ($('#tbuBlockUplift').val() != "" && !$.isNumeric($('#tbuBlockUplift').val())) {
                alert("Please enter a valid uplift percentage (0-99).");
                return false;
            }
            if ($('#tbuBlockUplift').val() != "" && (parseFloat($('#tbuBlockUplift').val()) < 0 || parseFloat($('#tbuBlockUplift').val()) > 99)) {
                alert("Please enter a valid uplift percentage (0-99).");
                return false;
            }
            if ($('#tbuDuties').val() != "" && !$.isNumeric($('#tbuDuties').val())) {
                alert("Please enter a valid duty percentage (0-99).");
                return false;
            }
            if ($('#tbuDuties').val() != "" && (parseFloat($('#tbuDuties').val()) < 0 || parseFloat($('#tbuDuties').val()) > 99)) {
                alert("Please enter a valid duty percentage (0-99).");
                return false;
            }
            var data = {
                customerId: customerId,
                countryId: countryId,
                manufacturerId: manuId,
                blockUplifts: parseFloat(tbuBlockUplifts),
                duties: parseFloat(tbuDuties),
            }

            showHideLoader(1);
            $.ajax({
                url: '/Company/UpdateTbuDuties',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            showNotification("Record updated successfully.");
                        } else {
                            showNotification("Error while processing.");
                        }


                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        });

    });
</script>
