﻿@model OneSourceAdminCore.Model.CompanyCustomerModel
@{
    ViewBag.Title = "Customer Address";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top">
    <div class="col-md-8" style="padding :  10px; color :  #FFF;">
        <b> Dashboard > @(Session["CurrentCompanyRole"] != null ? Session["CurrentCompanyRole"] : "") @(Session["currentCompanyName"] != null ? "(" + Session["currentCompanyName"] + ")" : "") > Address </b>
    </div>
    <div class="col-md-4" style="padding :  10px;">
        <a href="/admin/company/@Model.CompanyId/@Model.PartyId/@Model.RoleId">
            <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
            <input type="hidden" id="addMsg" value="@ViewBag.addMsg" />
            <input type="hidden" id="updateMsg" value="@ViewBag.Editmsg" />
        </a>
    </div>
</div>
<div class="col-md-12 tab-content">
    <div role="tabpanel" class="tab-pane active" id="address">
    <br/><h1>Customer Address</h1>
        @if (Model != null && Model.CountryList != null && Model.CountryList.Count > 0)
        {
            <hr />
            using (Html.BeginForm("AddEditCustomerAddressPost", "Company", FormMethod.Post, new { @id = "customerAddressForm" }))
            {
                <div class="col-md-12 shp-adr">
                    <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
                    <input type="hidden" name="RoleId" value="@Model.RoleId" />
                    <input type="hidden" name="PartyId" value="@Model.PartyId" />
                    <input type="hidden" name="Address.CustomerAddressID" value="@Model.Address.CustomerAddressID" />
                    <input type="hidden" name="Address.DeliveryLocationInformation" value="@Model.Address.DeliveryLocationInformation" />
                    <input type="hidden" name="Address.PrimaryReceiver" value="@Model.Address.PrimaryReceiver" />
                    <input type="hidden" name="Address.SecondaryReceiver" value="@Model.Address.SecondaryReceiver" />
                    <input type="hidden" name="Address.TertiaryReceiver" value="@Model.Address.TertiaryReceiver" />
                    <input type="hidden" name="Address.PrimeContractorLocationID" value="@Model.Address.PrimeContractorLocationID" />
                    <input type="hidden" name="Customer.CustomerID" value="@ViewBag.CustomerId" />
                    <div class="col-md-6 location-tab-one">
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Full Name : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" required="" maxlength="255" name="Address.CustomerAddressName" value="@Model.Address.CustomerAddressName" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Address #1 : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Address.Address1" required="" maxlength="255" value="@Model.Address.Address1" />
                        </div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>City : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Address.City" required="" maxlength="255" value="@Model.Address.City" />
                        </div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Postal Code : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control postalCode" name="Address.PostalCode" required="" maxlength="255" value="@Model.Address.PostalCode" pattern="[a-zA-Z0-9-]+$" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Time Zone : </label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("Address.TimeZoneID", new SelectList(Model.TimeZoneList,
                        "Key", "Value", @Model.Address.TimeZoneID),
                        new { @class = "drpSelect2" })
                        </div>
                        <div class="col-md-4">
                            <label>Notes : </label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" name="Address.Notes" maxlength="2000" value="@Model.Address.Notes">@Model.Address.Notes</textarea>
                        </div>
                       
                       
                    </div>
                    <div class="col-md-6 location-tab-one">
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Condensed Name : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required="" class="form-control" maxlength="255" name="address.condensedaddress" value="@Model.Address.CondensedAddress" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Address #2 : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" maxlength="255" name="address.address2" value="@Model.Address.Address2" />
                        </div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>State / Province / Region : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" maxlength="255" name="address.stateProvinceRegion" required="" maxlength="255" value="@Model.Address.StateProvinceRegion" />
                        </div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Country : </label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("Address.CountryID", new SelectList(Model.CountryList,
                        "Key", "Value", @Model.Address.CountryID),
                        new { @class = "drpSelect2" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Region : </label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("Address.RegionID", new SelectList(Model.RegionsList,
                        "Key", "Value", @Model.Address.RegionID),
                        new { @class = "drpSelect2" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Xref Code : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" maxlength="255" name="Address.XrefCode" value="@Model.Address.XrefCode" />
                        </div>
                     
                        <div class="col-md-4">
                            <label>Business Segment : </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" name="Address.BuisnessSegment" maxlength="500" value="@Model.Address.BuisnessSegment"/>
                        </div>

                    </div>

                    <div class="col-md-12" style="padding: 0px;">
                        <div class="col-md-6">
                            <div class="col-md-4">
                                <label></label>
                            </div>
                            <div class="col-md-8 dag">
                                <div class="col-md-6">
                                    <p>
                                        @{
                var inIsActiveCheck = "";
                if (Model.Address.InIsActive == 1)
                {
                    inIsActiveCheck = "checked";
                }

                        <text> <input type="checkbox" class="byteCheckBox" @inIsActiveCheck id="InIsActive" name="Address.InIsActive" /> Invoice Address </text>
                                        }
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        @{
                var inIsGlobalCheck = "";
                if (Model.Address.InIsGlobal == 1)
                {
                    inIsGlobalCheck = "checked";
                }

                        <text> <input type="checkbox" class="byteCheckBox" @inIsGlobalCheck name="Address.InIsGlobal" id="InIsGlobal" /> Global </text>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: red">*</span>Contact Name : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control InRequired" name="Address.InContact" maxlength="255" value="@Model.Address.InContact" />
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: red">*</span>Email : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="email" class="form-control InRequired" name="Address.InEmail" maxlength="255" value="@Model.Address.InEmail" />
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: red">*</span>Phone (Voice) : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control InRequired" name="Address.InPhone" pattern="[0-9]+$" maxlength="255" value="@Model.Address.InPhone" />
                            </div>
                            <div class="col-md-4">
                                <label>Phone (Fax) : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Address.InFax" maxlength="255" pattern="[0-9]+$" value="@Model.Address.InFax" />
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: red">*</span>Account Number : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control InRequired" name="Address.AccountNumber" maxlength="255" value="@Model.Address.AccountNumber" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-4">
                                <label></label>
                            </div>
                            <div class="col-md-8 dag">
                                <div class="col-md-6">
                                    <p>

                                        @{
                var cdActiveCheck = "";
                if (Model.Address.CdIsActive == 1)
                {
                    cdActiveCheck = "checked";
                }

                        <text> <input type="checkbox" class="byteCheckBox" @cdActiveCheck id="CdIsActive" name="Address.CdIsActive" value="@Model.Address.CdIsActive" /> Delivery Address </text>
                                        }
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        @{
                var cdGlobalCheck = "";
                if (Model.Address.CdIsGlobal == 1)
                {
                    cdGlobalCheck = "checked";
                }

                        <text> <input type="checkbox" class="byteCheckBox" @cdGlobalCheck name="Address.CdIsGlobal" id="CdIsGLobal" value="@Model.Address.CdIsGlobal" /> Global </text>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: red">*</span>Contact Name : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control cdRequired" name="Address.CdContact" maxlength="255" value="@Model.Address.CdContact" />
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: red">*</span>Email : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="email" class="form-control cdRequired" name="Address.CdEmail" maxlength="255" value="@Model.Address.CdEmail" />
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: red">*</span>Phone (Voice) : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control cdRequired" name="Address.CdPhone" maxlength="255" pattern="[0-9]+$" value="@Model.Address.CdPhone" />
                            </div>
                            <div class="col-md-4">
                                <label>Phone (Fax) : </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Address.CdFax" pattern="[0-9]+$" maxlength="255" value="@Model.Address.CdFax" />
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: red">*</span>Preferred Carrier : </label>
                            </div>
                            <div class="col-md-8">
                                @if (@Model.Address.PreferredFreightCarrierID != null && @Model.Address.PreferredFreightCarrierID > 0)
                                {
                                    @Html.DropDownList("Address.PreferredFreightCarrierID", new SelectList(Model.CarrierList,
                                        "Key", "Value", @Model.Address.PreferredFreightCarrierID),
                                        new {@class = "drpSelect2"})
                                }
                                else
                                {
                                    @Html.DropDownList("Address.PreferredFreightCarrierID", new SelectList(Model.CarrierList,
                                        "Key", "Value", 7),
                                        new {@class = "drpSelect2"})
                                }
                             
                            </div>
                        </div>

                    </div>
                <div class="col-md-12 users-btns">
                        <button type="submit" class="blueBtn" id="addressFormSubmit">
                            @if (@Model.Address.CustomerAddressID > 0)
                            {
                                <text>Update</text>
                            }
                            else
                            {
                                <text>Add</text>
                            }
                        </button>
                    </div>
                </div>
            }
        }
        else
        {
            <hr><h2 style="color: red; font-weight: 400;">Setup country to add/edit address.</h2>
        }
    </div>
</div>
<div class="clearfix"></div>

<style>
    .drpSelect2 {
        margin-bottom: 15px;
    }
</style>
<script>

    $(document).ready(function () {


        var addMsg = $("#addMsg").val();

        if (addMsg == "True") {
            showNotification("Record added successfully.");
        } else if (addMsg == "False") {
            showNotification("Error while adding.");
        }

        var updateMsg = $("#updateMsg").val();
        if (updateMsg == "True") {
            showNotification("Record updated successfully.");
        } else if (updateMsg == "False") {
            showNotification("Error while updating.");
        }

        $(".drpSelect2").select2(
        {
            allowClear: true
        });

        $(".byteCheckBox").change(function () {
            if (this.checked) {
                $(this).attr("value", "1");
            } else {
                $(this).attr("value", "0");
            }
        });

        $("#CdIsActive").change(function () {
            if (this.checked) {
                $(this).attr("value", "1");
                $("input.cdRequired").attr("required", "required");
            } else {
                $(this).attr("value", "0");
                $(".cdRequired").removeAttr("required");
            }
        });

        $("#CdIsActive").change(function () {
            if (this.checked) {
                $(this).attr("value", "1");
                $("input.cdRequired").attr("required", "required");
            } else {
                $(this).attr("value", "0");
                $(".cdRequired").removeAttr("required");
            }
        });

        $("#InIsActive").change(function () {
            if (this.checked) {
                $(this).attr("value", "1");
                $("input.InRequired").attr("required", "required");
            } else {
                $("input.InRequired").removeAttr("required");
                $(this).attr("value", "0");
            }
        });

        $(".byteCheckBox").trigger("change");


        $("#addressFormSubmit").click(function (e) {



            $("#customerAddressForm :input").each(function () {
                var input = $(this);
                if (!(input)[0].checkValidity()) {
                    $('html, body').animate({
                        scrollTop: $(input).offset().top - 170
                    });
                    if ((input).attr("required") != null && (input).val() == "") {
                        alert("Please fill all mandatory fields.");
                        $(input).focus();
                        return false;
                    } else {

                        if ((input).attr("type") == 'email') {
                            alert("Invalid email value.");
                            $(input).focus();
                            return false;

                        } else if ((input).attr("type") == 'number') {
                            alert("Enter valid integer value.");
                            $(input).focus();
                            return false;
                        } else if ((input).hasClass('postalCode')) {
                            alert("Please enter valid postal code.");
                            $(input).focus();
                            return false
                        }
                        else {
                            alert("Invalid input value.");
                            $(input).focus();
                            return false;
                        }
                    }
                }
            });



        });


    });



</script>