﻿@model OneSourceAdminCore.Model.CompanyCustomerModel
@using System.Configuration;
@{
    ViewBag.Title = "Customer User";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row bread-Crumb-Top">
    <div class="col-md-8" style="padding: 10px; color: #FFF;">
        <b> Dashboard > @(Session["CurrentCompanyRole"] != null ? Session["CurrentCompanyRole"] : "") @(Session["currentCompanyName"] != null ? "(" + Session["currentCompanyName"] + ")" : "") > User  </b>
    </div>

    <div class="col-md-4" style="padding: 10px;">
        <a href="/admin/company/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId">
            <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
            <input type="hidden" id="addMsg" value="@(TempData["addMsg"] != null ? TempData["addMsg"].ToString() : "")" />
            <input type="hidden" id="updateMsg" value="@(TempData["editMsg"] != null ? TempData["editMsg"].ToString() : "")" />
            <input type="hidden" id="emailMsg" value="@(TempData["emailMsg"] != null ? TempData["emailMsg"].ToString() : "")" />

        </a>
    </div>
</div>

<div class="col-md-12 tab-content">
    <div role="tabpanel" class="tab-pane active" id="user-edit">
        <br /><h1>Customer User</h1>
        @if (Model != null && Model.CountryList != null && Model.CountryList.Count > 0)
            {
            <hr />


            <div class="col-md-12 shp-adr">
                @if (Model.CustomerUser != null && Model.CustomerUser.UserID > 0)
                {
                    <div class="col-md-12 top-head-buttons-users">

                        <div class="col-md-4"> </div>
                        <div class="col-md-8">
                            <button id="userAddressPermissionBtn" type="button" class="blueBtn" style="float: right !important; margin-left: 10px !important;">User Address Permissions</button>
                            <a href="/company/contact/uc/@ViewBag.userContactId/@Model.CompanyId"> <button type="button" class="blueBtn" style="float: right !important; margin-left: 10px !important;">Contact Info</button></a>
                            @using (Html.BeginForm("SendCredentialToUser", "Company", FormMethod.Post, new { @id = "sendCredentialsForm" }))
                            {
                                <input type="hidden" name="customerId" value="@Model.Customer.CustomerID" />
                                <input type="hidden" name="userId" value="@Model.CustomerUser.UserID" />
                                <input type="hidden" name="company" value="@Model.CompanyId" />
                                <input type="hidden" name="role" value="@Model.RoleId" />
                                    <input type="hidden" name="party" value="@Model.PartyId" />
                                    <button type="submit" class="blueBtn" style="float: right !important;">Send Password Email</button>
                            }
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "http://207.45.160.142:807/Account/Login", target = "_blank" }))
                            {
                                <input type="hidden" name="username" value="@Model.CustomerUser.UserName" />
                                <input type="hidden" name="password" value="@Model.CustomerUser.UserPassword" />
                                <input type="hidden" name="adminuserid" value="@Session["UserID"]" />
                                <button type="submit" class="blueBtn" id="loginAsUser" style="float: right !important;margin-right: 10px !important;">Login as User</button>
                            }
                        </div>


                    </div>
                }
                @using (Html.BeginForm("AddEditCustomerUserPost", "Company", FormMethod.Post, new { @id = "customerUserForm" }))
                {
                    <div class="col-md-6 location-tab-one">
                        <input type="hidden" name="CustomerUser.UserID" id="currentUserId" value="@Model.CustomerUser.UserID" />
                        <input type="hidden" name="Customer.CustomerID" id="customerId" value="@Model.Customer.CustomerID" />
                        <input type="hidden" name="PartyId" id="PartyId" value="@Model.PartyId" />
                        <input type="hidden" name="CompanyId" id="CompanyId" value="@Model.CompanyId" />
                        <input type="hidden" name="RoleId" id="RoleId" value="@Model.RoleId" />
                        <div class="col-md-4">
                            <label><span style="color: red">*</span> User Name : </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control userNameTxt" value="@Model.CustomerUser.UserName" data-preval="@Model.CustomerUser.UserName" name="CustomerUser.UserName" required="" maxlength="50" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span> Password:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required="" class="form-control" value="@Model.CustomerUser.UserPassword" name="CustomerUser.UserPassword" maxlength="50" />
                            @*<span class="users-liau">Login As User</span>*@
                        </div>
                        <div class="col-md-4">
                            <label>Expected Monthly Expenditure (USD):</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="expectedMonthylySpend" min="0" max="922337203685477" class="form-control" name="ExpectedMonthlySpend" value="@Model.ExpectedMonthlySpend" />
                        </div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span> Email:</label>
                        </div>
                        <div class="col-md-8">

                            <input type="text" class="form-control" name="CustomerUser.EMail" maxlength="999" value="@Model.CustomerUser.EMail" required="" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Default Country:</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("CustomerUser.UserDefaultCountryID", new SelectList(Model.CountryList,
                    "Key", "Value", @Model.CustomerUser.UserDefaultCountryID),
                    new { @class = "drpSelect2" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Default Address:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px">
                            <input type="hidden" id="defaultAddressVal" value="@Model.CustomerUser.UserDefaultAddressID" />
                            <select id="countryAddressDrp" name="CustomerUser.UserDefaultAddressID">
                                <option id="0" selected="">None</option>
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Spending Limit:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" min="0" max="922337203685477" style="float: left; width: 40%; margin-right: 35px;" type="number" name="CustomerUser.OrderSpendingLimit" value="@Model.CustomerUser.UserSpendingLimit">
                            @Html.DropDownList("CustomerUser.OrderSpendingLimitCurrencyID", new SelectList(Model.CurrencyList,
                    "Key", "Value", @Model.CustomerUser.OrderSpendingLimitCurrencyID),
                    new { @class = "drpSelect2", @style = "width: 50% !important" })
                        </div>
                        <div class="col-md-4">
                            <label>Spending Limit Per Order:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" max="922337203685477" style="float: left; width: 40%; margin-right: 35px;" type="number" name="CustomerUser.UserSpendingLimit" value="@Model.CustomerUser.OrderSpendingLimit" min="0">
                            @Html.DropDownList("CustomerUser.UserSpendingLimitCurrencyID", new SelectList(Model.CurrencyList,
                    "Key", "Value", @Model.CustomerUser.UserSpendingLimitCurrencyID),
                    new { @class = "drpSelect2", @style = "width: 50% !important" })
                        </div>
                        <div class="col-md-4">
                            <label>Custom User Group:</label>
                        </div>
                        <div class="col-md-8">
                            @if (Model.CustomerUserGroupList != null && Model.CustomerUserGroupList.Count > 0)
                            {

                                @Html.DropDownList("CustomerUser.CustomUserGroupID", new SelectList(Model.CustomerUserGroupList,
                        "Key", "Value", @Model.CustomerUser.CustomUserGroupID),
                        new { @class = "form-control" })
                            }
                            else
                            {
                                <select id="CustomUserGroupID" class="form-control" name="CustomerUser.CustomUserGroupID">
                                    <option id="0">None</option>
                                </select>
                            }
                        </div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Date Format:</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("CustomerUser.DateFormatID", new SelectList(Model.DateFormatList,
                    "Key", "Value", @Model.CustomerUser.DateFormatID),
                    new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-md-6 location-tab-one">

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Country:</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("CustomerUser.CountryID", new SelectList(Model.CountryList,
                    "Key", "Value", @Model.CustomerUser.CountryID),
                    new { @class = "drpSelect2" })
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Approver Type:</label>
                        </div>
                        <div class="col-md-8 dag">
                            <input type="hidden" id="approverTypeTxt" name="CustomerUser.ApproverType" value="@Model.CustomerUser.ApproverType.ToString()" />
                            <select name="approverTypeDrp" id="approverTypeDrp" class="form-control" idfor="approverTypeTxt">
                                <option value="0">None</option>
                                <option value="1">Is approver</option>
                                <option value="2">Is master approver</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Order Approval Code:</label>
                        </div>
                        <div class="col-md-8 dag">
                            
                            <input type="hidden" id="isdOrderApproval" name="CustomerUser.IsISDOrderApprovalRequired" value="@Model.CustomerUser.IsISDOrderApprovalRequired"/>
                            <select id="orderApprovalDrp" name="orderApprovalDrp" class="form-control" idfor="isdOrderApproval">

                                <option value="0">No approval required</option>
                                <option value="1">GlobalServe approval required</option>
                                <option value="2">Customer approval required</option>
                                <option value="3">Master approval required</option>

                            </select>
                        </div>
                        <div class="col-md-4">
                            <label><span style="color: red">*</span>Order Spending Limit Approval Code:</label>
                        </div>
                        <div class="col-md-8 dag">
                            <input type="hidden" id="orderApprovalId" name="CustomerUser.OrderSpendingLimitApprovalCode" value="@Model.CustomerUser.OrderSpendingLimitApprovalCode" />
                            <select name="CustomerUser.OrderSpendingLimitApprovalCode" class="form-control" idfor="orderApprovalId">
                                <option value="0">No approval required</option>
                                <option value="1">User forced to reduce order amount</option>
                                <option value="2">Customer approval required</option>
                            </select>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Spending Total To Date:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" step="0.01" class="form-control" name="CustomerUser.UserSpendingTotalToDate" value="@Model.CustomerUser.UserSpendingTotalToDate" min="0" max="922337203685477" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Spending Limit Start Date:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            @{
                                var startDate = (Model.CustomerUser.UserSpendingLimitStartDate != null ? Convert.ToDateTime(Model.CustomerUser.UserSpendingLimitStartDate).ToString("MM/dd/yyyy") : @DateTime.Now.ToString("MM/dd/yyyy"));
                            }
                            <div class="input-group input-medium date date-picker" data-date="@startDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" id="slStartLimit" name="CustomerUser.UserSpendingLimitStartDate" value="@startDate" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Spending Limit End Date:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            @{
                                var endDate = (Model.CustomerUser.UserSpendingLimitEndDate != null ? Convert.ToDateTime(Model.CustomerUser.UserSpendingLimitEndDate).ToString("MM/dd/yyyy") : @DateTime.Now.ToString("MM/dd/yyyy"));
                            }
                            <div class="input-group input-medium date date-picker" data-date="@endDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" id="slEndLimit" name="CustomerUser.UserSpendingLimitEndDate" value="@endDate" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Address Adding Privilege:</label>
                        </div>
                        <div class="col-md-8 addressApprovalDiv" style="margin-bottom: 15px;">
                            @{
                                var chk = "checked";
                                if (!Model.CustomerUser.AddAddressCode)
                                {
                                    chk = "";
                                }
                                <input type="hidden" name="CustomerUser.AddAddressCode" id="AddAddressCode" value="@Model.CustomerUser.AddAddressCode.ToString()">
                                <input class="" @chk data-toggle="toggle" name="AddAddressCodebtn" checkboxfor="AddAddressCode" value="@Model.CustomerUser.AddAddressCode" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                            }

                        </div>
                        @if (Model.CustomerUser != null && Model.CustomerUser.UserID > 0)
                        {

                            <div class="col-md-4">
                                <label>Is Active:</label>
                            </div>
                            <div class="col-md-8">
                                @{
                                    var chk2 = "checked";
                                    if (Model.CustomerUser.IsActive == 0)
                                    {
                                        chk2 = "";
                                    }
                                    <input type="hidden" name="CustomerUser.IsActive" id="IsActive" data-isbit="true" value="@Model.CustomerUser.IsActive.ToString()">
                                    <input class="" @chk2 data-toggle="toggle" name="IsActivechkBtn" checkboxfor="IsActive" value="@Model.CustomerUser.IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                                }
                            </div>
                            <div class="col-md-4">
                                <label>Last Updated (mm/dd/yyyy):</label>
                            </div>
                                <div class="col-md-8">
                                    <p>@Model.CustomerUser.LastUpdated</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-4">
                                    <label>Updated By:</label>
                                </div>
                                <div class="col-md-8">
                                    <p>@Model.UpdatedByUser</p>
                                </div>

                                    }
                    </div>
                    <div class="col-md-12 users-btns">
                        <button type="submit" class="blueBtn" id="submitFormBtn">
                            @if (@Model.CustomerUser.UserID > 0)
                            {
                                <text>Update</text>
                            }
                            else
                            {
                                <text>Add</text>
                            }
                        </button>
                    </div>
                                    }
            </div>
                                    }
                                    else
                                    {
                                        <hr><h2 style="color: red; font-weight: 400;">Setup country to add/edit user.</h2>
                                    }
    </div>
</div>
<div class="modal" id="addressPermissionsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style=" border-bottom: 1px solid #3b9ad2; color: white;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(59, 154, 210);background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><b>User Address Permissions</b></h3>
            </div>
            <div class="modal-body">
                <div class="destCountryDiv">
                    <h3>Destination Country:</h3>
                    <select id="destCountryDrp" class=""></select>
                </div>
                <div class="destAddDiv">
                    <h3>Destination Address:</h3>
                    <select id="destAddressDrp" class=""></select>
                </div>
                <div class="inVoiceCountryDiv">
                    <h3>Invoice Country:</h3>
                    <select id="invCountryDrp" class=""></select>
                </div><div class="invoiceAddDiv" style="display: none;">
                    <h3>Invoice Address:</h3>
                    <select id="invAddressDrp" class="" multiple=""><option value="0">None</option></select>
                </div>
                <div class="isGlobalChk" style="display: none;">
                    <h3>Is Global:</h3>
                    <input type="checkbox" name="name" value="" id="isGlobalChkBox" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a id="updateAddressPermission" href="#" class="btn btn-primary">Update</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="clearfix"></div>

<style>
    .drpSelect2 {
        margin-bottom: 15px;
    }

    #s2id_CustomerUser_UserSpendingLimitCurrencyID, #s2id_CustomerUser_OrderSpendingLimitCurrencyID {
        width: 50% !important;
    }

    .addressApprovalDiv .btn-sm {
        margin-bottom: 0px !important;
    }

    .dag p {
        margin-bottom: 0px;
    }
</style>

<script>

    $(document).ready(function () {


        $(".drpSelect2").select2(
      {
          allowClear: true
      });

        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true
        });




        $("#CustomerUser_UserDefaultCountryID").on("change", function (e) {
            var countryId = $(this).val();
            var customerId = $("#customerId").val();

            if (countryId != '0') {

                showHideLoader(1);
                $.ajax({
                    url: '/Company/GetCustomerDefaultAddressByCountryId',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ countryId: countryId, customerId: customerId }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        var options = '';

                        if (data != null && data != '') {
                            $.each(data, function (index, item) {
                                options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                            });
                            $("#countryAddressDrp").html(options);

                            $('#countryAddressDrp').select2({ allowClear: true });

                        }
                        else {

                            $("#countryAddressDrp").html('<option value="0" selected>None</option>');

                            $("#countryAddressDrp").select2().val("0").trigger("change");

                        }
                    }, complete: function (data) {


                        showHideLoader(0);
                    }
                });
            }

        });

        $("#CustomerUser_UserDefaultCountryID").trigger("change");



        var isdApproval = $("#isdOrderApproval").val();
        $("select[idFor='isdOrderApproval']").val(isdApproval);

        var spendingLimitApproval = $("#approverTypeTxt").val();
        $("select[idFor='approverTypeTxt']").val(spendingLimitApproval);
        
        var addMsg = $("#addMsg").val();
        if (addMsg == "userExist") {
            showNotification("User already exist please try another!");
        } else {
            if (addMsg == "True") {
                showNotification("Record added successfully.");
            } else if (addMsg == "False") {
                showNotification("Error while adding.");
            }

            var updateMsg = $("#updateMsg").val();
            if (updateMsg == "True") {
                showNotification("Record updated successfully.");
            } else if (updateMsg == "False") {
                showNotification("Error while updating.");
            }
            var updateMsg = $("#emailMsg").val();
            if (updateMsg == "True") {
                showNotification("Email sent successfully");
            } else if (updateMsg == "False") {
                showNotification("Error while sending email.");
            }
        }

        $("#userAddressPermissionBtn").click(function () {
            var customerId = $("#customerId").val();

            showHideLoader(1);
            $.ajax({
                url: '/Company/GetCustomerDesitnationCountries',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ customerId: customerId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';

                    if (data != null && data != '') {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $("#destCountryDrp").html(options);
                        $('#destCountryDrp').select2({ allowClear: true });
                        $("#destCountryDrp").select2().trigger("change");
                    }
                    else {

                        $("#destCountryDrp").html('<option value="0" selected>None</option>');
                        $("#destCountryDrp").select2().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    $(".invoiceAddDiv").css("display", "none");
                    $(".isGlobalChk").css("display", "none");
                    $("#addressPermissionsModal").modal('show');
                    showHideLoader(0);
                }
            });

        });



        $("#destCountryDrp").change(function () {
            var customerId = $("#customerId").val();
            var countryId = $(this).val();
            if (countryId == '0') {

                $("#destAddressDrp").html('<option value="0" selected>None</option>');
                $("#destAddressDrp").select2().val("0").trigger("change");
                return false;
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetCustomerDestinationAddressByCountryId',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ customerId: customerId, countryId: countryId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';

                    if (data != null && data != '') {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $("#destAddressDrp").html(options);
                        $('#destAddressDrp').select2({ allowClear: true });
                        $("#destAddressDrp").select2().trigger("change");
                    }
                    else {

                        $("#destAddressDrp").html('<option value="0" selected>None</option>');
                        $("#destAddressDrp").select2().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        });



        $("#destAddressDrp").change(function () {
            var customerId = $("#customerId").val();


            showHideLoader(1);
            $.ajax({
                url: '/Company/GetCustomerInvoiceCountries',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ customerId: customerId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';

                    if (data != null && data != '') {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });
                        $("#invCountryDrp").html(options);
                        $('#invCountryDrp').select2({ allowClear: true });
                        var selectedDestCountry = $("#destCountryDrp").val();
                        if ($("#invCountryDrp option[value='" + selectedDestCountry + "']").length > 0 && selectedDestCountry != "0") {
                            $("#invCountryDrp").select2().val(selectedDestCountry).trigger("change");
                        }
                    }
                    else {

                        $("#invCountryDrp").html('<option value="0" selected>None</option>');
                        $("#invCountryDrp").select2().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                    $("#invCountryDrp").select2().trigger("change");
                }
            });
        });

        $("#invCountryDrp").change(function () {
            var customerId = $("#customerId").val();
            var userId = $("#currentUserId").val();
            var countryId = $(this).val();
            var destinationId = $("#destAddressDrp").val();

            showHideLoader(1);
            $.ajax({
                url: '/Company/GetCustomerInvoiceAddressByUserIdAndDestinationId',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ customerId: customerId, destinationId: destinationId, countryId: countryId, userId: userId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                    var options = "";
                    var selectedIds = '';
                    if (data != null) {
                        $.each(data, function (index, item) {
                            var checkSelected = "";
                            if (item.IsSelected) {
                                checkSelected = "selected";
                            }
                            if (item.IsGlobal) {
                                $("#isGlobalChkBox").prop("checked", true);
                            } else {

                                $("#isGlobalChkBox").prop("checked", false);

                            }
                            options = options + '<option ' + checkSelected + ' value="' + item.InvoiceAddressId + '">' + item.InVoiceAddressName + '</option>';
                        });
                        $("#invAddressDrp").html(options);

                        $('#invAddressDrp').multipleSelect(
                                     {
                                         placeholder: 'Billing address',
                                         selectAll: false,
                                         filter: true,
                                     });
                        $(".invoiceAddDiv").css("display", "block");
                        $(".isGlobalChk").css("display", "block");
                    }
                }, complete: function (data) {

                    showHideLoader(0);
                }
            });
        });

        $("#updateAddressPermission").click(function () {

            var customerId = $("#customerId").val();
            var userId = $("#currentUserId").val();
            var countryId = $("#invCountryDrp").val();
            var destinationId = $("#destAddressDrp").val();
            var chkIsGlobal = $("#isGlobalChkBox").prop("checked");
            var selectedIds = $('#invAddressDrp').multipleSelect('getSelects');
            if (userId == null || countryId == null || countryId == '0' || destinationId == null || destinationId == '0') {
                alert("Please select valid data to proccess.");
                return false;
            }
            var ids = selectedIds.toString().split(',');
            var setups = [];
            showHideLoader(1);

            if (ids != null && ids != '') {

                $.each(ids, function (index, item) {


                    setups.push({
                        InvoiceAddressId: item,
                        CountryId: countryId,
                        CustomerId: customerId,
                        IsSelected: true,
                        IsGlobal: chkIsGlobal,
                        DestinationId: destinationId,
                        UserId: userId
                    });
                });
            } else {
                setups.push({
                    InvoiceAddressId: 0,
                    CountryId: countryId,
                    CustomerId: customerId,
                    IsSelected: false,
                    IsGlobal: false,
                    DestinationId: destinationId,
                    UserId: userId
                });
            }

            $.ajax({
                url: '/Company/UpdateUserPermissions',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ list: setups }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        showNotification("Record updated successfully.");
                    } else {
                        showNotification("Error while updating.");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                    $("#addressPermissionsModal").modal('hide');
                }
            });


        });



        $("#submitFormBtn").click(function (e) {



            $("#customerUserForm :input").each(function () {
                var input = $(this);
                if (!(input)[0].checkValidity()) {
                    $('html, body').animate({
                        scrollTop: $(input).offset().top - 170
                    });
                    if ((input).attr("required") != null && (input).val() == "") {
                        alert("Please fill all mandatory fields.");
                        $(input).focus();
                        return false;
                    } else {

                        if ((input).attr("type") == 'email') {
                            alert("Invalid email value.");
                            $(input).focus();
                            return false;

                        } else if ((input).attr("type") == 'number') {
                            alert("Enter valid integer value.");
                            $(input).focus();
                            return false;
                        } else {
                            alert("Invalid input value.");
                            $(input).focus();
                            return false;
                        }
                    }


                }
            });

            $("#slEndLimit").datepicker("update");
            $("#slStartLimit").datepicker("update");
            if ($('#slStartLimit').datepicker('getDate') > $('#slEndLimit').datepicker('getDate')) {
                alert("Spending limit start date should be less than or equal end date");
                return false;
            }



        });

       

        function UpdateApproverSettingsByType() {
            var typeValue = $("#approverTypeDrp").val();
            var existingVal = $("#isdOrderApproval").val();
            if (typeValue == 1) {
                $("#orderApprovalDrp option").attr("disabled", true);
                $("#orderApprovalDrp option[value='0']").removeAttr("disabled");
                $("#orderApprovalDrp option[value='3']").removeAttr("disabled");
                if (existingVal == 0 || existingVal == 3) {
                    $("#orderApprovalDrp").val(existingVal);
                } else {
                    $("#orderApprovalDrp").val(0);
                }
                
                $("#orderApprovalDrp").change();
                $("select[idfor='orderApprovalId']").attr("disabled", false).val(0);
            }
            if (typeValue == 0) {
                
                $("#orderApprovalDrp option").removeAttr("disabled");
                
                    $("#orderApprovalDrp").val(existingVal);
                 
                    $("#orderApprovalDrp").change();
                $("select[idfor='orderApprovalId']").attr("disabled", false).val(0);
            }
            if (typeValue == 2) {
                $("#orderApprovalDrp option").attr("disabled", true);
                $("#orderApprovalDrp option[value='0']").removeAttr("disabled");
                $("#orderApprovalDrp").val(0);
                $("#orderApprovalDrp").change();
                $("select[idfor='orderApprovalId']").attr("disabled",true).val(0);
            }
        }

        $("#approverTypeDrp").change(function () {
            UpdateApproverSettingsByType();
        });


        $("#approverTypeDrp").change();
      
    });

   

    $(window).load(function () {
        var defaultAddressId = $("#defaultAddressVal").val();

        if (defaultAddressId != '' && defaultAddressId != '0') {

            $("#countryAddressDrp").select2().val(defaultAddressId).trigger("change");
        }
        $("select[idfor='orderApprovalId']").val($("#orderApprovalId").val());


        $(".userNameTxt").focusout(function () {

            var getValue = $(this).val();
            var getUserId = $("#currentUserId").val();
            var exitValue = $(this).data("preval");
            if (getValue.trim() != null && getValue.trim() != "" && getValue.trim() != exitValue.trim()) {
                //showHideLoader(1);
                $.ajax({
                    url: '/Company/ChkDuplicateUserByName',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ userName: getValue, userId: getUserId }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data != null) {

                            if (data == true) {
                                $(".userNameTxt").val("");
                                alert("User already exist please try another!");
                            }

                        }
                    }, complete: function (data) {
                        // showHideLoader(0);
                    }
                });
            }
        });


    });

</script>