﻿@model OneSourceAdminCore.Model.NewRequestFilterModel
@using (Html.BeginForm("AddRequestFilter", "SupportRequest", FormMethod.Post, new { @id = "RequestSubmitForm", @enctype = "multipart/form-data" }))
{
    <div class="col-md-12 tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="col-md-12 back-btn">
                <h3>Support - Filter Wizard</h3>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <label><span style="color:red">* </span>Name:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" maxlength="50" class="form-control" name="Name" value="@(Model.Name ?? "")">
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-8" style="margin-bottom: 15px;">
                    <input type="hidden" value="@(string.IsNullOrEmpty(Model.FilterType) ? "private" : Model.FilterType)" name="FilterType" id="FilterType">
                    <div class="col-md-12">
                        <label class="radio-inline">
                            <input type="radio" name="optradio" checkboxFor="FilterType" value="private" @(string.IsNullOrEmpty(Model.FilterType) ? "checked" : (Model.FilterType == "private" ? "checked" : ""))>This filter should be visible only to me.
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label class="radio-inline">
                            <input type="radio" value="public" checkboxFor="FilterType" name="optradio" @(string.IsNullOrEmpty(Model.FilterType) ? "" : (Model.FilterType == "public" ? "checked" : ""))>This filter should be visible to everyone.
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Dates:</label>
                </div>
                <div class="col-md-8 ">
                    <select name="DateId" id="DateId" class="form-control">
                        <option value="0">All</option>
                        <option value="1">Last Hour</option>
                        <option value="2">Last 2 Hours</option>
                        <option value="3">Last 3 Hours</option>
                        <option value="4">Last 4 Hours</option>
                        <option value="5">Last 5 Hours</option>
                        <option value="6">Last 6 Hours</option>
                        <option value="12">Last 12 Hours</option>
                        <option value="24">Last Day</option>
                        <option value="48">Last 2 Days</option>
                        <option value="72">Last 3 Days</option>
                        <option value="168">Last 7 Days</option>
                        <option value="336">Last 14 Days</option>
                        <option value="720">Last 30 Days</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Statuses:</label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="StatusIds" id="StatusIds">
                    @Html.DropDownList("StatusId", new SelectList(Model.Statuses,
"Key", "Value"),
new { @id = "StatusId", @tabindex = "-1", @class = "form-control", @multiselectidfor = "StatusIds", @multiple = "multiple" })
                </div>

            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Customer:</label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="CompanyIds" id="CompanyIds">
                    @Html.DropDownList("CompanyId", new SelectList(Model.Companies,
"Key", "Value"),
new { @id = "CompanyId", @tabindex = "-1", @class = "form-control", @multiselectidfor = "CompanyIds", @multiple = "multiple" })
                </div>

                <div class="col-md-4">
                    <label>Types:</label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="TypeIds" id="TypeIds">
                    @Html.DropDownList("ActionTypeId", new SelectList(Model.ActionTypes,
"Key", "Value"),
new { @id = "ActionTypeId", @tabindex = "-1", @class = "form-control", @multiselectidfor = "TypeIds", @multiple = "multiple" })
                </div>

                <div class="col-md-4">
                    <label>Priority:</label>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="PriorityIds" id="PriorityIds">
                    @Html.DropDownList("PriorityId", new SelectList(Model.Priorities,
"Key", "Value"),
new { @id = "PriorityId", @tabindex = "-1", @class = "form-control", @multiselectidfor = "PriorityIds", @multiple = "multiple" })
                </div>

            </div>
            <div class="col-md-12 back-btn">
                <button type="submit" class="btn btn-default btnSubmit" id="per">Reset</button>
                <button type="submit" class="btn btn-default btnSubmit" id="per">Submit</button>
            </div>
        </div>
    </div>
}
<script>
    $("select[multiselectidfor]").change(function () {
        var element = ("#" + $(this).attr("multiselectidfor"));
        var thisselect = ("#" + $(this).attr("id"));
        $(element).val("");
        var selMulti = $.map($(thisselect + " option:selected"), function (el, i) {
            return $(el).val();
        });
        $(element).val(selMulti.join(", "));
    });

    function selectOptions() {
        $('#CompanyIds').val('@Model.CompanyIds');
        var companies = '@Model.CompanyIds';
        if (companies != '') {
            for (var i = 0; i < companies.split(',').length; i++) {
                $('#CompanyId').find('option[value=' + (companies.split(',')[i]).trim() + ']').prop('selected', true);
            }
        }

        $('#TypeIds').val('@Model.TypeIds');
        var types = '@Model.TypeIds';
        if (types != '') {
            for (var i = 0; i < types.split(',').length; i++) {
                $('#ActionTypeId').find('option[value=' + (types.split(',')[i]).trim() + ']').prop('selected', true);
            }
        }
        $('#StatusIds').val('@Model.StatusIds');
        var statuses = '@Model.StatusIds';
        if (statuses != '') {
            for (var i = 0; i < statuses.split(',').length; i++) {
                $('#StatusId').find('option[value=' + (statuses.split(',')[i]).trim() + ']').prop('selected', true);
            }
        }
        $('#PriorityIds').val('@Model.PriorityIds');
        var priorities = '@Model.PriorityIds';
        if (priorities != '') {
            for (var i = 0; i < priorities.split(',').length; i++) {
                $('#PriorityId').find('option[value=' + (priorities.split(',')[i]).trim() + ']').prop('selected', true);
            }
        }
        $('#DateId').val('@Model.DateId');
    }

    $('#RequestSubmitForm').submit(function () {
        if ($('input[name="Name"]').val().trim() == "") {
            alert("Please provide filter name.");
            return false;
        }
        StartLoader();
    });
    $('input[name="optradio"]').change(function () {
        $('#FilterType').val($('input[name="optradio"]:checked').val());
    });
</script>