﻿@model OneSourceAdminCore.Model.SupportRequestSearchModel
@{
    ViewBag.Title = "New Request";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Support > Requests </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float:right">
    </div>
</div>
<div class="os-admin-tabs cards">
    <!-- Tab panes -->

    <div class="col-md-12 tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="col-md-12 back-btn">
                @if (ViewBag.Message != null)
                {
                    <div style="margin-top: 30px;">
                        @Html.Raw(ViewBag.Message)
                    </div>
                }
            </div>
            <div class="col-md-12 back-btn">
                <h3>Support - New Request</h3>
                <p>Complete the form below to submit your request. Required fields are in boldface.</p>
            </div>
            @using (Html.BeginForm("AddRequest", "SupportRequest", FormMethod.Post, new { @id = "RequestSubmitForm", @enctype = "multipart/form-data" }))
            {

                <input type="hidden" name="gmtoffset" value="">
                <input type="hidden" name="gmtoffsetstring" value="">

                <input type="hidden" name="assetId" id="assetId" value="@(Session["FinalAssetId"]==null ? "": Session["FinalAssetId"].ToString())">
                <input type="hidden" name="serialNum" value="@(Session["FinalSerialNumber"]==null ? "": Session["FinalSerialNumber"].ToString())">
                <input type="hidden" name="assetTag" value="@( Session["FinalAssetTag"]==null ? "": Session["FinalAssetTag"].ToString())" id="Hidden2">

                <div class="col-md-6">
                    <div class="col-md-4">
                        <label><span style="color:red;">*</span> Request Type:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" name="RequestTypeName" id="RequestTypeName" value="@(Model.RequestTypeName??"")">
                        @Html.DropDownList("requestTypeId", new SelectList(Model.RequestType,
"Key", "Value"),
new { @id = "requestTypeId", @tabindex = "-1", @valueFor = "RequestTypeName" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
                        <label>Serial #:</label>
                    </div>
                    <div class="col-md-8 my-cus-links" style="padding-top: 10px;padding-bottom: 10px;">
                        @(Session["FinalSerialNumber"] == null ? "" : Session["FinalSerialNumber"].ToString())  <a style="color:#3b9cd3" onclick="GetAssetTagSearch()"><i class="fa fa-link"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Customer Ticket #:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="CustomerTicket" maxlength="100" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Contact Name:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="ContactName" maxlength="250" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label><span style="color:red;">*</span> Request Date/Time:</label>
                    </div>
                    <div class="col-md-8">

                        <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">
                            <div class="col-md-2" style="font-size: 8px;padding-left: 0px;">
                                (MM/DD/YY)
                            </div>
                            <div class="form-group">
                                <div class="col-md-8" style="padding-left: 0px;">
                                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                        <input type="text" name="RequestDateTime" value="@(DateTime.Now.Date.ToString("MM/dd/yyy"))" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                        <img src="/Content/images/reset-btn.png">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-left: 0px;">
                            @{
                                int intHH1 = 0;
                                int intMM1 = 0;
                                intHH1 = Convert.ToInt32(DateTime.Now.ToString("HH"));
                                intMM1 = Convert.ToInt32(DateTime.Now.ToString("mm"));

                            }
                            <div class="col-md-2" style="font-size: 9px;padding-left: 0px;">
                                (HH)
                            </div>
                            <div class="col-md-3" style="padding-left: 0px;">
                                <select name="Hour">
                                    @for (int i = 0; i < 24; i++)
                                    {
                                        if (intHH1 == i)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }

                                    }

                                </select>
                            </div>
                            <div class="col-md-2" style="font-size: 9px;padding-left: 0px;">
                                (MM)
                            </div>
                            <div class="col-md-3" style="padding-left:0px">
                                <select name="Minute">
                                    @for (int i = 0; i < 60; i++)
                                    {
                                        if (intMM1 == i)
                                        {
                                            <option value="@i" selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }

                                    }



                                </select>
                            </div>
                            <div class="col-md-12" style="padding-left:0px;padding-top: 10px;padding-bottom: 10px;">
                                @Html.DropDownList("TimeZoneId", new SelectList(Model.TimeZone,
                  "Bias", "Location", Model.TimeZone),
                  new { @id = "TimeZone" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label><span style="color:red">*</span> On Behalf Of:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-9" style="padding-left: 0;    padding-bottom: 10px;">
                            <input type="hidden" id="CompanyName" name="CompanyName" value="@(Model.CompanyName??"")">
                            @Html.DropDownList("companyId", new SelectList(Model.Companies,
                                   "Key", "Value"),
                          new { @id = "companyId", @tabindex = "-1", @valueFor = "CompanyName" })
                        </div>
                        <div class="col-md-3" style="padding-left: 0;">
                            (Company)
                        </div>
                        <div class="col-md-9" style="padding-left: 0;    padding-bottom: 10px;">
                            <input type="hidden" id="LocationName" name="LocationName">
                            @Html.DropDownList("locationId", new SelectList(Model.Locations,
                                   "Key", "Value"),
                              new { @id = "locationId", @tabindex = "-1", @valueFor = "LocationName" })
                        </div>
                        <div class="col-md-3" style="padding-left: 0;">
                            (Location)
                        </div>
                        <div class="col-md-9" style="padding-left: 0;    padding-bottom: 10px;">
                            <input type="hidden" value="" id="AffectedUserName" name="AffectedUserName">
                            @Html.DropDownList("affectedUserId", new SelectList(Model.AffectedUser,
                                   "Key", "Value"),
                              new { @id = "affectedUserId", @tabindex = "-1", @valueFor = "AffectedUserName" })
                        </div>
                        <div class="col-md-3" style="padding-left: 0;">
                            (Affected User)
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label><span style="color:red">*</span> Summary:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        <textarea name="Summary" maxlength="500" class="form-control"></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Description:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        <textarea name="Description" maxlength="2000" class="form-control"></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label><span style="color:red">*</span> Priority:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" id="PriorityName" name="PriorityName" value="@(Model.PriorityName??"")">
                        @Html.DropDownList("priorityId", new SelectList(Model.Priorities,
                                           "Key", "Value"),
                          new { @id = "priorityId", @tabindex = "-1", @valueFor = "PriorityName" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
                        <label>Asset Tag:</label>
                    </div>
                    <div class="col-md-8 my-cus-links" style="padding-top: 10px;padding-bottom: 10px;">
                        @( Session["FinalAssetTag"] == null ? "" : Session["FinalAssetTag"].ToString())   <a style="color:#3b9cd3" onclick="GetAssetTagSearch()"><i class="fa fa-link"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Supplier Ticket #:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="SupplierTicket" maxlength="100" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Contact Phone:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="ContactPhone" maxlength="50" error-msg="Invalid phone number"  class="form-control phoneOnly" />
                    </div>

                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>GS-Only Comment:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="GSOnlyComment" maxlength="2000" class="form-control" />
                        </div>
                    }

                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Attach File:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group input-large"></div>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse… <input id="fileQuoteRequest" class="btn btn-default attachFiles" name="attachFiles" type="file" multiple="">
                                </span>
                            </span>
                            <input type="text" class="form-control fileUploadTxtBox" readonly="">
                        </div>
                        <div class="col-md-12" id="text" style="padding: 0px">
                            <b style="font-size: 8px;">Note the maximum size of attachment file is 10MB</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 back-btn">
                    <button type="submit" class="btn btn-default btnSubmit" id="per">Reset</button>
                    <button type="submit" class="btn btn-default btnSubmit" id="per">Submit</button>
                </div>
                                }

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="support-ticket-status">
            <div class="modal-dialog" role="document" style="width: 800px;">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var message = '@ViewBag.ErrorMessage';
        if (message.length > 0) {
            showNotification(message);
        }
    });
    $("select").each(function (i, e) {
        if ($(this).attr("multiple") != "multiple") {
            $(this).select2({ allowClear: true });
        }
    });
    $('#RequestSubmitForm').submit(function () {
        @*if ($('#assetId').val().trim() == "") {
            alert("Please select an existing asset.");
            return false;
        }*@
        if ($('#requestTypeId').val().trim() == "") {
            alert("Please select request type.");
            return false;
        }
        if ($('textarea[name="Summary"]').val().trim() == "") {
            alert("Please provide summary.");
            return false;
        }
        if ($('input[name="RequestDateTime"]').val().trim() == "") {
            alert("Please select request date.");
            return false;
        }
        if ($('#priorityId').val().trim() == "") {
            alert("Please select priority.");
            return false;
        }
        if ($('#companyId').val().trim() == "") {
            alert("Please provide company.");
            return false;
        }
        if ($('.attachFiles').val() != "") {

            for (var i = 0; i < $('.attachFiles')[0].files.length; i++) {

                if ($('.attachFiles')[0].files[i].size >= 10485760) {
                    alert("File Size Must Be 10 MB OR Less");
                    return false;
                }
                var name = $('.attachFiles')[0].files[i].name;

                var fileExtension = $('.attachFiles')[0].files[i].name.substring(name.lastIndexOf('.'), name.length).toLowerCase();

                if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" || fileExtension == ".msg" || fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

                }
                else {
                    alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, png, jpeg, gif, msg, csv, txt extension');
                    return false;
                }


            }

        }
      
        if ($('#LocationName').val().trim() == "") {
            $('#LocationName').val($('#locationId option:selected').text().trim());
        }
        if ($('#AffectedUserName').val().trim() == "") {
            $('#AffectedUserName').val($('#affectedUserId option:selected').text().trim());
        }

        if ($('#RequestTypeName').val().trim() == "") {
            $('#RequestTypeName').val($('#requestTypeId option:selected').text().trim());
        }

        if ($('#PriorityName').val().trim() == "") {
            $('#PriorityName').val($('#priorityId option:selected').text().trim());
        }
        if ($('#CompanyName').val().trim() == "") {
            $('#CompanyName').val($('#companyId option:selected').text().trim());
        }

        StartLoader();
    });

    $('#companyId').change(function () {
        window.location.href = "/SupportRequest/NewRequest?companyId=" + $(this).val();
        StartLoader();
    });

    function GetAssetTagSearch() {

        showHideLoader(1);
        $.ajax({
            url: '/SupportRequest/GetAssetTagSearchData',
            type: 'POST',
            data: { parentCompanyId: $('#companyId').val() },
            dataType: 'html',
            success: function (data) {

                if (data != null && data != "0") {
                    $('#myModal3 .modal-content').html(data);
                    HtmlActions();
                    $('#myModal3').modal('show');
                }
                else {
                    showNotification("Error while processing.");
                    showHideLoader(0);
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }

    function HtmlActions() {
        $('.date-picker').datepicker({
            autoclose: true
        });
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('.select2-container').parent().css("margin-bottom", "15px");
    }

    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        HtmlActions();
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });

        //$('.date-picker').on('changeDate', function (ev) {
        //    $(this).datepicker('hide');
        //});
    });

    $('.resetDate').click(function () {
        $(this).parent().parent().find('.date-picker').datepicker("setDate", "+0");
        $(this).parent().siblings().find('input').val("");
    });

    $('#backToSearch').click(function () {
        window.location.href = "/requests";
    });
</script>
<script language="JavaScript">
    document.forms[0].gmtoffset.value = new Date().getTimezoneOffset();
    var tz = new Date().getTimezoneOffset() / 60;
    // pad right of decimal if one exists
    var s = ''
    s = s.concat('', tz);
    var ltz = '';
    var isBefore = false;
    var isAfter = false

    if (tz < 0)
        isBefore = true
    else if (tz > 0)
        isAfter = true;

    if (s.indexOf(".") >= 0) {
        ltz = s.substring(0, s.indexOf("."));
    }
    else {
        ltz = s
    }

    ltz = ltz.replace('-', '');

    if (ltz.length < 2) {
        var sTmp = '0';
        ltz = sTmp.concat(ltz);
    }

    var sTmp = '';
    if (s.indexOf(".") > 0) {
        var tmp = s.substring(s.indexOf("."));
        if (tmp == ".5")
            s = sTmp.concat(ltz, ":30");
        else if (tmp == ".75")
            s = sTmp.concat(ltz, ":45");
        else if (tmp == ".25")
            s = sTmp.concat(ltz, ":15");
    }
    else
        s = sTmp.concat(ltz, ":00");

    if (isBefore) {
        var sBefore = 'GMT+';
        s = sBefore.concat(s);
    }
    else if (isAfter) {
        var sAfter = ('GMT-');
        s = sAfter.concat(s);
    }
    else s = 'GMT'

    document.forms[0].gmtoffsetstring.value = s;
</script>