﻿@model OneSourceAdminCore.Model.NewRequestFilterModel
@{
    ViewBag.Title = "New Request Filter";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Support > Requests </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float:right">
    </div>
</div>
<div class="os-admin-tabs cards">
    @Html.Partial("~/Views/SupportRequest/SFA/_newRequestFilter.cshtml", Model)
</div>
<script>
    $(function () {
        var message = '@ViewBag.Message';
        if (message.length > 0) {
            showNotification(message);
        }
    });
    $(function () {
        $('body').on('change', '#CompanyId, #ActionTypeId', function () {
           
            showHideLoader(1);
            $.ajax({
                url: '/createrequestfilter',
                type: 'POST',
                data: {
                    CompanyIds: $('#CompanyIds').val(),
                    TypeIds: $('#TypeIds').val(),
                    Name: $('input[name="Name"]').val(),
                    DateId: $('#DateId').val(),
                    FilterType: $('input[name="optradio"]:checked').val(),
                    StatusIds: $('#StatusIds').val(),
                    PriorityIds: $('#PriorityIds').val(),
                },
                dataType: 'html',
                success: function (data) {

                    if (data != null && data != "0") {
                        $('.os-admin-tabs').html("");
                        $('.os-admin-tabs').html(data);
                        selectOptions();
                    }
                    else {
                        showNotification("Error while processing.");
                        showHideLoader(0);
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        });
    });
    $(window).ready(function () {
       // selectOptions();
    });

 
</script>