﻿@model OneSourceAdminCore.Model.SupportRequestListModel
@{
    ViewBag.Title = "Support Request List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Support > Requests </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right">
    </div>
</div>

<div class="os-admin-tabs cards" style="margin-top:60px">
    <div class="col-md-12">
        <div class="col-md-1">
            <label>Filter:</label>
        </div>
        <div class="col-md-4">
            <select name="filter" id="filter">
                @foreach (var item in Model.Filters)
                {
                    if (Model.FilterId == item.Key.ToString())
                    {
                        <option value="@item.Key" selected="selected">@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                }
                <option value="openonly" @(Model.FilterId=="openonly"?"selected":"")>Not Closed or Cancelled</option>
                <option value="0" @((Model.FilterId=="0" || Model.FilterId=="") ?"selected":"")>All</option>
                @if (Session["UserGroupName"].ToString() == "SFA")
                {
                    <option value="special" @(Model.FilterId== "special" ? "selected":"")>WSL Priority and Special Coverage (Open)</option>
                }
            </select>
        </div>

        <div class="col-md-1">
            <a style="color:#3b9cd3" href="javascript:filterwizard()">(New)</a>
        </div>
        <div class="col-md-2">
            <a style="color:#3b9cd3" href="javascript:makedefault()">(Make Default)</a>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-1">
            <a style="color:#3b9cd3" href="/supportrequest/newrequest"><i class="glyphicon glyphicon-phone-alt"></i></a>
        </div>

    </div>
</div>
<div class="row" style="padding-top: 50px;">
    <div class="col-md-12">

        @using GridMvc.Html;
        @if (Model != null && Model.Request != null && Model.Request.Count > 0)
        {
            @Html.Grid(Model.Request).Columns(columns =>
       {

       columns.Add(C => C.ticketid).Sortable(true).Filterable(true).Titled("Ticket #").Encoded(false).Sanitized(false).SetWidth(5)
       .RenderValueAs(o => @<span>
            <input type="hidden" value="@o.ticketid"><a style="color:#3b9cd3" href=@("/ticket-detail/" + o.ticketid) class="companyGridAnc">@o.ticketid</a></span>);

           columns.Add(c => c.GSPTicketId).Sortable(true).Filterable(true).Titled("GSP Ticket #").SetWidth(30);
           columns.Add(c => c.Customer).Sortable(true).Filterable(true).Titled("Customer").SetWidth(30);
           columns.Add(c => c.arTypeName).Sortable(true).Filterable(true).Titled("Type").SetWidth(30);
           columns.Add(c => c.DateReceived).Sortable(true).Filterable(true).Titled("Date").SetWidth(30);
           columns.Add(c => c.tktStatusName).Sortable(true).Filterable(true).Titled("Status").SetWidth(30);
           columns.Add(c => c.PriorityName).Sortable(true).Filterable(true).Titled("Priority").SetWidth(30);
           columns.Add(c => c.Manufacturer).Sortable(true).Filterable(true).Titled("Mfg").SetWidth(30);
           columns.Add(c => c.model).Sortable(true).Filterable(true).Titled("Model").SetWidth(30);
           columns.Add(c => c.Coverage).Sortable(true).Filterable(true).Titled("Coverage").SetWidth(30);
           columns.Add(c => c.condensedaddress).Sortable(true).Filterable(true).Titled("Location").SetWidth(30);
           columns.Add(c => c.lastupdate).Sortable(true).Filterable(true).Titled("Last Updated").SetWidth(30);


       }).WithPaging(15)
        }
    </div>
</div>
<script>
    $(function () {
        var message = '@ViewBag.Message';
        if (message.length > 0) {
            showNotification(message);
        }
    });
    $("select").each(function (i, e) {
        if ($(this).attr("multiple") != "multiple") {
            $(this).select2({ allowClear: true });
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "admin-dashboard";
    });

    $('#filter').change(function () {
        window.location.href = "/requests/"+$(this).val();
    });

    function makedefault() {
        StartLoader();
        $.ajax({
            url: '/SupportRequest/MakeDefaultFilter',
            type: 'POST',
            data: { filterValue: $('#filter').val() },
            dataType: 'Json',
            success: function (data) {
                if (data > 0) {
                    showNotification("Record updated successfully.");
                }
                else
                {
                    showNotification("No record updated successfully.");
                }
               
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
    function filterwizard() {
        window.location.href = "/newrequestfilter";
    }
</script>