﻿@model OneSourceAdminCore.Model.NewInvoiceModel

<div class="portlet box">
    <div class="portlet-body form ">

        @*<link href="~/Content/css/gijgo.min.css" rel="stylesheet" />*@
        @*<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
            <script src="~/Content/js/jquery.floatingscroll.js"></script>*@
        <script src="~/Content/js/gijgo.min.js"></script>




        @using (Html.BeginForm("AddInvoiceLineItemDetails", "Invoice", FormMethod.Post, new { @id = "invoiceDetailsForm" }))
        {

        }


    </div>

</div>
<div class="clearfix"></div>
<div class="col-md-12" style="padding-bottom:10px;"><div class="row gridDiv"></div></div>

<script>

    $(document).ready(function () {


        @{
                var count = 0;
            <text>
        if(@count==0){
            $("#invoiceDetailsForm").append("<br/><div class='row'><div class='col-md-8 col-md-offset-2 row1'></div></div>")
            $("#invoiceDetailsForm").append("<input type='hidden' value='' id='columnNames' />")

        }

        </text>

            var rowName = ".row1";
            foreach (var item in Model.InvoiceDetailColumnsList)
            {

                count++;
                <text>
        var columnName =  $("#columnNames").val();
        if (columnName != "" && columnName != null)
        {
            $("#columnNames").val(columnName + "," + "@item.ToString()");
        }
        else
        {
            $("#columnNames").val("@item.ToString()");
        }
        </text>

                if (count == 3 || count == 5 || count == 7 || count == 9)
                {
                    <text>
        $("#invoiceDetailsForm").append("<div class='row'><div class='col-md-8 col-md-offset-2 row"+@count+"'></div></div>")

        @rowName = ".row" + @count;
        $("@rowName").append("<div class='col-md-6'><div class='col-md-4'><label>@item :</label> </div> <div class='col-md-8'>" +
                       "<input type='text' name='@item' id='@item' class='form-control'>" +
                       "</div><div class='clearfix'></div></div>");
        </text>

                }
                else
                {
                    <text>
        $("@rowName").append("<div class='col-md-6'><div class='col-md-4'><label>@item :</label> </div> <div class='col-md-8'>" +
                        "<input type='text' name='@item' id='@item' class='form-control'>" +
                        "</div><div class='clearfix'></div></div>");

        </text>
                }



            }


            <text>

        $("#invoiceDetailsForm").append("<div class='row'><div class='col-md-12 text-center row"+@count+"'><h4 id='invoiceTotal'>Invoice Total : </h4></div></div>")
        $("#invoiceDetailsForm").append("<div class='row'> <div class='col-md-12 back-btn'><button type='button' class='btn btn-default btnSubmit' onclick='Finish()' id='per'>Finish</button><button type='button' class='btn btn-default btnSubmit' onclick='AddInvoiceLineItems()' id='per'>Add</button>"+
                            '<button type="button" class="btn btn-default btnSubmit" onclick="ShowTab('+"'create-update'"+')" id="per">Back</button></div></div>');

        </text>

        }






    });


    function AddInvoiceLineItems() {


        var invoiceTypeId = $("#InvoiceTypeId").val();
        var description = $("#Description").val();
        var orderNumber = $("#OrderNumber").val();
        var orderTotal = $("#OrderTotal").val();
        var gSFee = $("#GSFee").val();
        var po = $("#PO").val();
        var quantity = $("#Quantity").val();
        var rate = $("#Rate").val();
        var vat = $("#VAT").val();
        var amount = $("#Amount").val();
        var ticket = $("#Ticket").val();
        var colNames = $("#columnNames").val();

        var rowCount = $('#grid tr').length;

        var object = {InvoiceTypeId:invoiceTypeId,Description:description,OrderNumber:orderNumber,OrderTotal:orderTotal,GSFee:gSFee,PO:po,Quantity:quantity,
            Rate:rate,VAT:vat,Amount:amount,Ticket:ticket,ColumnNames:colNames,RowCount:rowCount,InvoiceId:$("#invoiceId").val(),InvoiceTypeId: $("#InvoiceTypeId").val()}

        StartLoader();
        $(".gridDiv").html("");
        $(".gridDiv").html("<table id='grid'></table>");
        $.ajax({
            url: '/Invoice/AddInvoiceLineItemDetails',
            type: 'POST',
            data: object,
            success: function (data) {
                EndLoader();


                var table = JSON.parse(data.data);
                var tableObj = [];
                if (table.length > 0) {

                    for (i = 0; i < Object.keys(table[0]).length; i++) {


                        var obj = {};
                        obj.field = Object.keys(table[0])[i];
                        obj.sortable = true;
                        obj.align = 'center';
                        obj.headerCssClass = 'headerClass';
                        obj.cssClass = 'rowClass';

                        var index = data.columnNames.indexOf(obj.field);
                        if(index==-1 && obj.field!="Action"){
                            obj.hidden = true;
                        }


                        tableObj.push(obj);
                    }
                }


                if(table.length>50){

                    var grid = $('#grid').grid({
                        primaryKey: 'ID',
                        dataSource: table,
                        columns: tableObj,
                        pager: { limit: 50, sizes: [50,100,500,1000] },
                        cache: false,
                        uiLibrary: 'bootstrap'
                    });

                }
                else
                {

                    var grid = $('#grid').grid({
                        primaryKey: 'ID',
                        dataSource: table,
                        columns: tableObj,
                        pager: null,
                        cache: false,
                        uiLibrary: 'bootstrap'
                    });

                }

                var refreshButton = $("button[data-role='page-refresh']");
                if (refreshButton != undefined)
                {
                    refreshButton.hide();
                }
                var selectCounter = $("select[data-role='page-size']")[0];
                if (selectCounter != undefined) {
                    selectCounter.style.width = "80px";
                }
                // $(".gj-grid-wrapper").floatingScroll();
                $(".gj-grid-wrapper").attr("style","overflow:auto");

                $("#invoiceTotal").text("Invoice Total : "+data.invoiceTotal);

            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
        // window.location = "/Invoice/CreateOrUpdateInvoice?invoiceTypeId=" + invoiceTypeId + "&selectedType=" + selectedProcessType;

    }


    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }

    $("#invoiceTemplateName").keypress(function () {
        $("#invoiceTemplateName").css("border-color", "");
    });

    function deleteRow(a,seqNum,invoiceId) {
        if (confirm('Are you sure?')) {

            StartLoader();

            $.ajax({
                url: '/Invoice/DeleteLineItemDetail?invoiceId='+invoiceId+"&seqNum="+seqNum,
                type: 'GET',
                success: function (data) {
                    EndLoader();
                    $(a).closest('tr').remove();

                    var rowCount = $('#grid tr').length;
                    if(rowCount==1){
                        $(".gridDiv").html("");
                    }
                    $("#invoiceTotal").text("Invoice Total : "+data.data);
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
    }

    function Finish(){
        window.location = "/Invoice/InvoiceDetails?invoiceId="+$("#invoiceId").val()
    }
    
</script>
