﻿@model OneSourceAdminCore.Model.NewInvoiceModel

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content" id="content">

        @if (Model != null)
        {

            if (Model.SelectedProcessType == "template")
            {

                <h1>Finance - New Invoice </h1>

                <span>Change the below fields and click "Next >" to continue creating the invoice.</span>
                <hr />

                using (Html.BeginForm("CreateOrUpdateInvoice", "Invoice", FormMethod.Post, new { @id = "invoiceBillFromCompanyDrpOnChange" }))
                {
                <div role="tabpanel" class="tab-pane active" id="home">

                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>Invoice #:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" disabled="disabled" name="InvoiceNumber" maxlength="20" id="InvoiceNumber" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Bill-From Company:</label>
                        </div>
                       
                            <div class="col-md-8">

                                <input type="hidden" id="InvoiceTypeId" name="InvoiceTypeId" value="@Model.InvoiceTypeId" />
                                <input type="hidden" id="invoiceId" name="invoiceId" value="@Model.InvoiceId" />
                                <input type="hidden" id="SelectedProcessType" name="SelectedProcessType" value="@Model.SelectedProcessType" />
                                <input type="hidden" id="SelectedTab" name="SelectedTab" value="@Model.SelectedTab" />
                                <select id="invoiceBillFromCompanyDrp" name="invoiceBillFromCompanyDrp" class="invoiceBillFromCompanyDrp" onchange="$('#invoiceBillFromCompanyDrpOnChange').submit();">

                                    @if (Model.BillFromCompanyList != null && Model.BillFromCompanyList.Count > 0)
                                    {
                                        foreach (var item in Model.BillFromCompanyList)
                                        {
                                            if (item.Selected == true)
                                            {
                                        <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                        <option value="@item.Value">@item.Text</option>
                                            }

                                        }
                                    }
                                </select>

                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-4">
                                <label>Bill-To Company:</label>
                            </div>
                            <div class="col-md-8">
                                <select id="invoiceBillToCompanyDrp" name="invoiceBillToCompanyDrp" class="invoiceBillToCompanyDrp" onchange="$('#invoiceBillFromCompanyDrpOnChange').submit();">

                                    @if (Model.BillToCompanyList != null && Model.BillToCompanyList.Count > 0)
                                    {
                                        foreach (var item in Model.BillToCompanyList)
                                        {
                                            if (item.Selected == true)
                                            {
                                        <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                        <option value="@item.Value">@item.Text</option>
                                            }

                                        }
                                    }
                                </select>
                            </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Pay-To Address:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoicePayToAddressListDrp" name="invoicePayToAddressListDrp" class="invoicePayToAddressListDrp">

                                @if (Model.PayToAddressList != null && Model.PayToAddressList.Count > 0)
                                {
                                    foreach (var item in Model.PayToAddressList)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>OBO Company:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceOBOCompanyDrp" name="invoiceOBOCompanyDrp" class="invoiceOBOCompanyDrp">

                                @if (Model.InvoiceOBOCompanies != null && Model.InvoiceOBOCompanies.Count > 0)
                                {
                                    foreach (var item in Model.InvoiceOBOCompanies)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Create Date:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="createdDate" class="form-control" id="createdDate" readonly value="@Model.CreateDate" />
                                <span class="input-group-btn">
                                    <button class="btn default" id="dueDatePicker" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Start Date:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="startDate" class="form-control" id="startDate" readonly value="@Model.StartDate" />
                                <span class="input-group-btn">
                                    <button class="btn default" id="dueDatePicker" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Currency:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceCurrencyDrp" name="invoiceCurrencyDrp" class="invoiceCurrencyDrp">

                                @if (Model.CurrencyList != null && Model.CurrencyList.Count > 0)
                                {
                                    foreach (var item in Model.CurrencyList)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Total:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="InvoiceTotal" id="InvoiceTotal" maxlength="20" value="@Model.InvoiceTotalPayment" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>VAT Rate %:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="InvoiceVatRate" id="InvoiceVatRate"  min="0" max="100"  value="@Model.InvoiceVatRate" class="form-control">
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Owner:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceOwnerDrp" name="invoiceOwnerDrp" class="invoiceOwnerDrp">

                                @if (Model.InvoiceOwnerList != null && Model.InvoiceOwnerList.Count > 0)
                                {
                                    foreach (var item in Model.InvoiceOwnerList)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Payment Instructions:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <textarea class="form-control" cols="80" rows="4" maxlength="4000" id="PaymentInstructions" name="PaymentInstructions">@Model.PaymentInstructions</textarea>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Comments:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <textarea class="form-control" cols="80" rows="4" maxlength="4000" id="Comments" name="Comments">@Model.Comments</textarea>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>PO #:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="PO" id="PO" value="@Model.PO" class="form-control">
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Bill-From Address:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceBillFromAddressDrp" name="invoiceBillFromAddressDrp" class="invoiceBillFromAddressDrp">

                                @if (Model.BillfromAddressList != null && Model.BillfromAddressList.Count > 0)
                                {
                                    foreach (var item in Model.BillfromAddressList)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Bill-To Address:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceBillToAddressDrp" name="invoiceBillToAddressDrp" class="invoiceBillToAddressDrp">

                                @if (Model.BillToAddressList != null && Model.BillToAddressList.Count > 0)
                                {
                                    foreach (var item in Model.BillToAddressList)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Payment Terms:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoicePaymentTermDrp" name="invoicePaymentTermDrp" class="invoicePaymentTermDrp">

                                @if (Model.PaymentTermsList != null && Model.PaymentTermsList.Count > 0)
                                {
                                    foreach (var item in Model.PaymentTermsList)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Tax Date:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="taxDate" class="form-control" id="taxDate" readonly value="@(Model.TaxDate)" />
                                <span class="input-group-btn">
                                    <button class="btn default" id="dueDatePicker" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Due Date:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="InvoiceInfo.dueDate" class="form-control" id="dueDate" readonly value="@(Model.DueDate)" />
                                <span class="input-group-btn">
                                    <button class="btn default" id="dueDatePicker" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>End Date:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="endDate" class="form-control" id="endDate" readonly value="@(Model.EndDate)" />
                                <span class="input-group-btn">
                                    <button class="btn default" id="dueDatePicker" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Preferred Payment Method:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoicePaymentMethodListDrp" name="invoicePaymentMethodListDrp" class="invoicePaymentMethodListDrp">

                                @if (Model.PaymentMethodList != null && Model.PaymentMethodList.Count > 0)
                                {
                                    foreach (var item in Model.PaymentMethodList)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <label>Invoice Total (USD):</label>
                        </div>
                        <div class="col-md-8">
                            <p name="InvoiceTotalUsd" id="InvoiceTotalUsd">@Model.InvoiceTotalUsd</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>VAT Reg #:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="VATReg" id="VATReg" maxlength="20" value="@Model.VATReg" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Recipient:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceRecipientListDrp" name="invoiceRecipientListDrp" class="invoiceRecipientListDrp">

                                @if (Model.InvoiceRecipientList != null && Model.InvoiceRecipientList.Count > 0)
                                {
                                    foreach (var item in Model.InvoiceRecipientList)
                                    {
                                        if (item.Selected == true)
                                        {
                                    <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                    </div>
                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <div class="col-md-12 back-btn">
                            <button type="button" class="btn btn-default btnSubmit" id="per" onclick="GotoDetailTab()">Next</button>
                            <button type="button" class="btn btn-default btnSubmit" onclick="ShowTab('process-type')" id="per">Back</button>
                        </div>
                    }
                    <div class="clearfix"></div>
                    <div class="col-md-12 table-responsive" style="margin-top: 20px;">
                        <div class="row gridDiv">
                        </div>
                    </div>
                </div>
                    }
                }
            else
            {

                <h1> Finance - Invoice Template Edit </h1>

                <span>Update the fields of invoice template, or click "Next" to create the invoice.</span>
                <hr />
                <div role="tabpanel" class="tab-pane active" id="home">

                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>Invoice Template Name:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="@Model.InvoiceType.InvoiceTypeName" maxlength="20" name="invoicetemplatename" id="invoicetemplatename" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Bill-From Company:</label>
                        </div>
                        @using (Html.BeginForm("CreateOrUpdateInvoice", "Invoice", FormMethod.Post, new { @id = "invoiceBillFromCompanyDrpOnChange" }))
                        {
                            <div class="col-md-8">

                                <input type="hidden" id="InvoiceTypeId" name="InvoiceTypeId" value="@Model.InvoiceTypeId" />
                                <input type="hidden" id="invoiceId" name="invoiceId" value="@Model.InvoiceId" />
                                <input type="hidden" id="SelectedProcessType" name="SelectedProcessType" value="@Model.SelectedProcessType" />
                                <input type="hidden" id="SelectedTab" name="SelectedTab" value="@Model.SelectedTab" />
                                <select id="invoiceTypeBillFromCompanyDrp" name="invoiceTypeBillFromCompanyDrp" class="invoiceTypeBillFromCompanyDrp" onchange="$('#invoiceTypeBillFromCompanyDrp').submit();">

                                    @if (Model.BillFromCompanyList != null && Model.BillFromCompanyList.Count > 0)
                                    {
                                        foreach (var item in Model.BillFromCompanyList)
                                        {
                                            if (item.Selected == true)
                                            {
                                    <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                    <option value="@item.Value">@item.Text</option>
                                            }

                                        }
                                    }
                                </select>

                            </div>
                        }
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Bill-From Address:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypeBillFromAddressDrp" name="invoiceTypeBillFromAddressDrp" class="invoiceTypeBillFromAddressDrp">

                                @if (Model.BillfromAddressList != null && Model.BillfromAddressList.Count > 0)
                                {
                                    foreach (var item in Model.BillfromAddressList)
                                    {
                                        if (item.Selected == true)
                                        {
                                <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Bill-To Company:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypeBillToCompanyDrp" name="invoiceTypeBillToCompanyDrp" class="invoiceTypeBillToCompanyDrp" onchange="$('#invoiceBillFromCompanyDrpOnChange').submit();">

                                @if (Model.BillToCompanyList != null && Model.BillToCompanyList.Count > 0)
                                {
                                    foreach (var item in Model.BillToCompanyList)
                                    {
                                        if (item.Selected == true)
                                        {
                                <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Start Date:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="TypeStartDate" class="form-control" id="TypeStartDate" readonly value="@Model.StartDate" />
                                <span class="input-group-btn">
                                    <button class="btn default" id="dueDatePicker" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Num. Format:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="InvoiceNumFormatDrp" name="InvoiceNumFormatDrp" class="InvoiceNumFormatDrp">
                                <option value="0">--Select--</option>
                                <option value="3-##USINVOICE##">3-##USINVOICE##</option>
                                <option value="##UKINVOICE##">##UKINVOICE##</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Currency:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypeCurrencyDrp" name="invoiceTypeCurrencyDrp" class="invoiceTypeCurrencyDrp">

                                @if (Model.CurrencyList != null && Model.CurrencyList.Count > 0)
                                {
                                    foreach (var item in Model.CurrencyList)
                                    {
                                        if (item.Selected == true)
                                        {
                                <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label> VAT Rate %:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="InvoiceTypeVatRate" id="InvoiceTypeVatRate" min="0" max="100" maxlength="20" value="@Model.InvoiceType.VATRate" size="5"  class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Parent Invoice Template :</label>
                        </div>
                        <div class="col-md-8">
                            <select id="ParentInvoiceTemplateDrp" name="ParentInvoiceTemplateDrp" class="ParentInvoiceTemplateDrp">

                                @if (Model.InvoiceTypeList != null && Model.InvoiceTypeList.Count > 0)
                                {
                                    foreach (var item in Model.InvoiceTypeList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Payment Terms:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypePaymentTermDrp" name="invoiceTypePaymentTermDrp" class="invoiceTypePaymentTermDrp">

                                @if (Model.PaymentTermsList != null && Model.PaymentTermsList.Count > 0)
                                {
                                    foreach (var item in Model.PaymentTermsList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Recipient:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypeRecipientListDrp" name="invoiceTypeRecipientListDrp" class="invoiceTypeRecipientListDrp">

                                @if (Model.InvoiceRecipientList != null && Model.InvoiceRecipientList.Count > 0)
                                {
                                    foreach (var item in Model.InvoiceRecipientList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>PO #:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="TypePO" id="TypePO" maxlength="20" value="@Model.InvoiceType.PO" class="form-control">
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Payment Instructions:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <textarea class="form-control" cols="80" rows="4" maxlength="4000" id="TypePaymentInstructions" name="TypePaymentInstructions">@Model.InvoiceType.PaymentInstr</textarea>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Comments:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <textarea class="form-control" cols="80" rows="4" maxlength="4000" id="TypeComments" name="TypeComments">@Model.InvoiceType.Comments</textarea>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Is Active:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" name="IsActive" id="IsActive" value="1" checked>Yes &nbsp;&nbsp;
                            <input type="radio" name="IsActive" id="IsActive" value="0">No
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Description:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="InvoiceTypeDesc" id="InvoiceTypeDesc" value="@Model.InvoiceType.InvoiceTypeDesc" class="form-control">
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Owner Contact:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypeOwnerDrp" name="invoiceTypeOwnerDrp" class="invoiceOwnerDrp">

                                @if (Model.InvoiceOwnerList != null && Model.InvoiceOwnerList.Count > 0)
                                {
                                    foreach (var item in Model.InvoiceOwnerList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Pay-To Address:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypePayToAddressListDrp" name="invoiceTypePayToAddressListDrp" class="invoicePayToAddressListDrp">

                                @if (Model.PayToAddressList != null && Model.PayToAddressList.Count > 0)
                                {
                                    foreach (var item in Model.PayToAddressList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Bill-To Address:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypeBillToAddressDrp" name="invoiceTypeBillToAddressDrp" class="invoiceBillToAddressDrp">

                                @if (Model.BillToAddressList != null && Model.BillToAddressList.Count > 0)
                                {
                                    foreach (var item in Model.BillToAddressList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>End Date:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom: 10px;">
                            <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="TypeendDate" class="form-control" id="TypeendDate" readonly value="@(Model.InvoiceType.EndDate!=null?Model.InvoiceType.EndDate.Value.ToShortDateString():"")" />
                                <span class="input-group-btn">
                                    <button class="btn default" id="dueDatePicker" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>ReOccurs:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="reOccursListDrp" name="reOccursListDrp" class="reOccursListDrp">

                                @if (Model.ReOccursList != null && Model.ReOccursList.Count > 0)
                                {
                                    foreach (var item in Model.ReOccursList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Amount:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="TypeInvoiceAmount" id="TypeInvoiceAmount" value="@Model.InvoiceType.InvoiceAmount" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Invoice Amount (USD):</label>
                        </div>
                        <div class="col-md-8">
                           <p id="Typeinvoiceamountusd" name="Typeinvoiceamountusd">@Model.InvoiceAmountUSD</p>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <label>Day of Month (Invoiced) :</label>
                        </div>
                        <div class="col-md-8">
                            <select id="DayOfMonthDrp" name="DayOfMonthDrp" class="DayOfMonthDrp">
                                <option value="0">--Select--</option>
                                @for (int i = 1; i <= 31; i++)
                                {
                                        <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Preferred Payment Method:</label>
                        </div>
                        <div class="col-md-8">
                            <select id="invoiceTypePaymentMethodListDrp" name="invoiceTypePaymentMethodListDrp" class="invoiceTypePaymentMethodListDrp">

                                @if (Model.PaymentMethodList != null && Model.PaymentMethodList.Count > 0)
                                {
                                    foreach (var item in Model.PaymentMethodList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>VAT Reg #:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="TypeVATReg" id="TypeVATReg" maxlength="20" value="@Model.InvoiceType.VATReg" class="form-control">
                        </div>
                    </div>
                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <div class="col-md-12 back-btn">
                            <button type="button" class="btn btn-default btnSubmit" id="per" onclick="UpdateInvoiceTemplate()">Update</button>
                            <button type="button" class="btn btn-default btnSubmit" onclick="ShowTab('process-type')" id="per">Back</button>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>

            }




        }
    </div>

</div>

<script>


    function GotoDetailTab() {

        var selectedProcessType = "@Model.SelectedProcessType";
        var invoiceTypeId = "0";
        var invoiceTemplateName = "";
        if (selectedProcessType == "template") {
            invoiceTypeId = $("#invoiceTypeDrp1").val();
        }
        if (selectedProcessType == "copytemplate") {
            invoiceTypeId = $("#invoiceTypeDrp2").val();
            @{ Model.SelectedProcessType = "copytemplate"; }

        }
        if (selectedProcessType == "edittemplate") {
            invoiceTypeId = $("#invoiceTypeDrp3").val();
            @{ Model.SelectedProcessType = "edittemplate"; }
        }


        var billtoco = $("#invoiceBillToCompanyDrp").val();
        var billtoaddress = $("#invoiceBillToAddressDrp").val();
        var billfromco = $("#invoiceBillFromCompanyDrp").val();
        var billfromaddress = $("#invoiceBillFromAddressDrp").val();
        var paytoaddress = $("#invoicePayToAddressListDrp").val();
        var currencyid = $("#invoiceCurrencyDrp").val();
        var preferredPayment = $("#invoicePaymentMethodListDrp").val();
        var invoiceterm = $("#invoicePaymentTermDrp").val();

        if (billtoco.length == 0) {
            showNotification("You cannot create invoice with empty Bill-To Company. Kindly go back and select different template.");
            return false;
        }
        if (billtoaddress.length == 0) {
            showNotification("You cannot create invoice with empty Bill-To Address. Kindly go back and select different template.");
            return false;
        }
        if (billfromco.length == 0) {
            showNotification("You cannot create invoice with empty Bill-From Company. Kindly go back and select different template.");
            return false;
        }
        if (billfromaddress.length == 0) {
            showNotification("You cannot create invoice with empty Bill-From Address. Kindly go back and select different template.");
            return false;
        }
        if (paytoaddress.length == 0) {
            showNotification("You cannot create invoice with empty Pay-To Address. Kindly go back and select different template.");
            return false;
        }
        if (currencyid.length == 0) {
            showNotification("You cannot create invoice with empty Invoice Currency. Kindly go back and select different template.");
            return false;
        }
        if (preferredPayment.length == 0) {
            showNotification("You cannot create invoice with empty Preferred Payment Method. Kindly go back and select different template.");
            return false;
        }
        if (invoiceterm.length == 0) {
            showNotification("You cannot create invoice with empty Payment Terms. Kindly go back and select different template.");
            return false;
        }

        var typevatrate = $("#InvoiceTypeVatRate").val();
        var vatrate = $("#InvoiceVatRate").val();
        if (typevatrate != "" && typevatrate != null) {
            if (typevatrate > 99 || typevatrate < 0) {
                showNotification("Vat Rate % should be in between 0-99");
                return false;
            }
        }
        if (vatrate != "" && vatrate != null) {
            if (vatrate > 99 || vatrate < 0) {
                showNotification("Vat Rate % should be in between 0-99");
                return false;
            }
        }

        AddInvoice();
    }

    function UpdateInvoiceTemplate() {

        var invoicetemplatename = $("#invoicetemplatename").val();
        var description = $("#InvoiceTypeDesc").val();
        var billFromCompanyId = $("#invoiceTypeBillFromCompanyDrp").val();
        var billToCompanyId = $("#invoiceTypeBillToCompanyDrp").val();
        var isActive = $("#IsActive").val();
        var startdate = $("#TypeStartDate").val();
        var endDate = $("#TypeendDate").val();
        var PaymentInstructions = $("#TypePaymentInstructions").val();
        var numstring = $("#InvoiceNumFormatDrp").val();
        var invoiceCurrencyId = $("#invoiceTypeCurrencyDrp").val();
        var InvoiceAmount = $("#TypeInvoiceAmount").val();
        var invoiceamountusd = $("#Typeinvoiceamountusd").text();
        var reOccursListDrp = $("#reOccursListDrp").text();
        var ParentInvoiceTemplateDrp = $("#ParentInvoiceTemplateDrp").val();
        var invoiceOwnerContact = $("#invoiceTypeOwnerDrp").val();
        var billFromAddressId = $("#invoiceTypeBillFromAddressDrp").val();
        var billToAddressId = $("#invoiceTypeBillToAddressDrp").val();
        var payToAddressId = $("#invoiceTypePayToAddressListDrp").val();
        var prefPaymentId = $("#invoiceTypePaymentMethodListDrp").val();
        var comments = $("#TypeComments").val();
        var VATReg = $("#TypeVATReg").val();
        var vatrate = $("#InvoiceTypeVatRate").val();
        var po = $("#PO").val();
        var paymentTermId = $("#invoiceTypePaymentTermDrp").val();
        var DayOfMonthDrp = $("#DayOfMonthDrp").val();

        if (invoicetemplatename == "" || invoicetemplatename == null) {
            showNotification("Please enter invoice template name");
            return false;
        }
        if (description == "" || description == null) {
            showNotification("Please enter invoice description");
            return false;
        }
        if (billFromCompanyId == "0" || billFromCompanyId == "" || billFromCompanyId == null) {
            showNotification("Please select bill-from company");
            return false;
        }
        if (billToCompanyId == "0" || billToCompanyId == "" || billToCompanyId == null) {
            showNotification("Please select bill to company");
            return false;
        }
        if (startdate == "" || startdate == null) {
            showNotification("Please enter start date");
            return false;
        }
        if (endDate == "" || endDate == null) {
            showNotification("Please enter end date");
            return false;
        }
        if (numstring == "0" || numstring == "" || numstring == null) {
            showNotification("Please select invoice number format");
            return false;
        }
        if (invoiceCurrencyId == "0" || invoiceCurrencyId == "" || invoiceCurrencyId == null) {
            showNotification("Please select currency");
            return false;
        }
        if (InvoiceAmount == "" || InvoiceAmount == null) {
            showNotification("Please select invoice amount");
            return false;
        }
        var invoiceTypeId = $("#InvoiceTypeId").val();

        var object = {
            InvoiceTypeName: invoicetemplatename,
            InvoiceTypeDesc: description,
            ParentTypeID: ParentInvoiceTemplateDrp,
            CompanyID: billFromCompanyId,
            BillFromAddressID: billFromAddressId,
            BillToAddressID: billToAddressId,
            PayToAddressID: payToAddressId,
            BillToCompanyID: billToCompanyId,
            StartDate: startdate,
            EndDate: endDate,
            InvoiceCurrencyID: invoiceCurrencyId,
            InvoiceAmount: InvoiceAmount,
            InvoiceAmountUSD: invoiceamountusd,
            VATRate: vatrate,
            NumberStr: numstring,
            PO: po,
            Recurs: reOccursListDrp,
            OwnerContactID: invoiceOwnerContact,
            InvoiceTermID: paymentTermId,
            DayOfMonth: DayOfMonthDrp,
            PaymentInstr: PaymentInstructions,
            PrefPaymentType: prefPaymentId,
            VATReg: VATReg,
            Comments: comments,
            IsActive: isActive,
            InvoiceTypeID: invoiceTypeId

        };

        var json = JSON.stringify(object);

        var postData = { col: object };


        StartLoader();


        $.ajax({
            url: '/Invoice/UpdateInvoiceTemplate',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (data) {
                EndLoader();
                if (data.msg != null && data.msg != "") {
                    showNotification(data.msg);
                }
            },
            error: function (xhr, status, exception) {
                EndLoader();
                showNotification("Something went wrong, please try again later");
                console.log("Error: " + exception + ", Status: " + status);
            }
        });


    }

    function getcountriesbycustomer(billfromcompanyid) {
        $.ajax({
            url: '/ProcurementReports/GetBillFromAddresses?billFromCompanyId=' + billfromcompanyid,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var options = '';
                if (data != null) {

                    $.each(data, function (index, item) {
                        options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                    });
                    $("#customerCountries").html(options);
                    if (data != null && data.length > 0) {
                        $("#customerCountries").multipleSelect(
                           {
                               placeholder: 'Countries',
                               filter: true,
                               allowClear: true,
                               includeSelectAllOption: true,
                               selectAllValue: -1
                           });
                        $("#customerCountries").select2({ width: 'resolve' });
                        //$("#customerCountries").select2().val(data[0].SelectedId).trigger("change");
                        $('.customerCountries input:checkbox').prop('checked', true);

                    }
                }
                else {

                    $("#customerCountries").multipleSelect(
                           {
                               placeholder: 'All selected',
                               filter: true,
                               allowClear: true,
                               includeSelectAllOption: true,
                               selectAllValue: -1
                           });
                    $("#customerCountries").select2({ width: 'resolve' });
                    //$("#customerCountries").select().val("0").trigger("change");
                    $('.customerCountries input:checkbox').prop('checked', true);
                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });

    }

    function AddInvoice() {

        var invoiceCurrencyId = $("#invoiceCurrencyDrp").val();
        var billToAddressId = $("#invoiceBillToAddressDrp").val();
        var billFromAddressId = $("#invoiceBillFromAddressDrp").val();
        var billFromCompanyId = $("#invoiceBillFromCompanyDrp").val();
        var billToCompanyId = $("#invoiceBillToCompanyDrp").val();
        var payToAddressId = $("#invoicePayToAddressListDrp").val();
        var prefPaymentId = $("#invoicePaymentMethodListDrp").val();
        var paymentTermId = $("#invoicePaymentTermDrp").val();
        var invoiceTypeId = $("#InvoiceTypeId").val();
        var invoiceRecipient = $("#invoiceRecipientListDrp").val();
        var invoiceOwner = $("#invoiceOwnerDrp").val();
        var invoiceOBO = $("#invoiceOBOCompanyDrp").val();
        var vatrate = $("#InvoiceVatRate").val();
        var VATReg = $("#VATReg").val();
        var InvoiceTotal = $("#InvoiceTotal").val();
        var InvoiceTotalUsd = $("#InvoiceTotalUsd").val();
        var invoicePeriodStart = $("#startDate").val();
        var invoicePeriodEnd = $("#endDate").val();
        var taxDate = $("#taxDate").val();
        var dueDate = $("#dueDate").val();
        var createdDate = $("#createdDate").val();
        var paymentinstr = $("#PaymentInstructions").val();
        var comments = $("#Comments").val();
        var po = $("#PO").val();

        if (invoiceCurrencyId == "0" || invoiceCurrencyId == "" || invoiceCurrencyId == null) {
            showNotification("Please select currency");
            return false;
        }
        if (billToAddressId == "0" || billToAddressId == "" || billToAddressId == null) {
            showNotification("Please select bill-to address");
            return false;
        }
        if (billFromAddressId == "0" || billFromAddressId == "" || billFromAddressId == null) {
            showNotification("Please select bill-from address");
            return false;
        }
        if (billFromCompanyId == "0" || billFromCompanyId == "" || billFromCompanyId == null) {
            showNotification("Please select bill to company");
            return false;
        }
        if (billToCompanyId == "0" || billToCompanyId == "" || billToCompanyId == null) {
            showNotification("Please select bill to company");
            return false;
        }
        if (payToAddressId == "0" || payToAddressId == "" || payToAddressId == null) {
            showNotification("Please select pay to address");
            return false;
        }
        if (prefPaymentId == "0" || prefPaymentId == "" || prefPaymentId == null) {
            showNotification("Please select pref. payment");
            return false;
        }
        if (paymentTermId == "0" || paymentTermId == "" || paymentTermId == null) {
            showNotification("Please select payment term");
            return false;
        }
        if (invoicePeriodStart == "" || invoicePeriodStart == null) {
            showNotification("Please select start date");
            return false;
        }
        if (invoicePeriodEnd == "" || invoicePeriodEnd == null) {
            showNotification("Please select end date");
            return false;
        }
        if (taxDate == "" || taxDate == null) {
            showNotification("Please select tax date");
            return false;
        }
        if (dueDate == "" || dueDate == null) {
            showNotification("Please select due date");
            return false;
        }
        if (createdDate == "" || createdDate == null) {
            showNotification("Please select create date");
            return false;
        }


        var form = new FormData();

        form.append("invoiceCurrencyDrp", invoiceCurrencyId);
        form.append("invoiceBillToAddressDrp", billToAddressId);
        form.append("invoiceBillFromAddressDrp", billFromAddressId);
        form.append("invoiceBillFromCompanyDrp", billFromCompanyId);
        form.append("invoiceBillToCompanyDrp", billToCompanyId);
        form.append("invoicePayToAddressListDrp", payToAddressId);
        form.append("invoicePaymentMethodListDrp", prefPaymentId);
        form.append("invoicePaymentTermDrp", paymentTermId);
        form.append("InvoiceTypeId", invoiceTypeId);
        form.append("invoiceRecipientListDrp", invoiceRecipient);
        form.append("invoiceOwnerDrp", invoiceOwner);
        form.append("invoiceOBOCompanyDrp", invoiceOBO);
        form.append("InvoiceVatRate", vatrate);
        form.append("VATReg", VATReg);
        form.append("InvoiceTotalPayment", InvoiceTotal);
        form.append("InvoiceTotalUsd", InvoiceTotalUsd);
        form.append("StartDate", invoicePeriodStart);
        form.append("EndDate", invoicePeriodEnd);
        form.append("TaxDate", taxDate);
        form.append("DueDate", dueDate);
        form.append("PaymentInstructions", paymentinstr);
        form.append("Comments", comments);
        form.append("PO", po);
        form.append("CreateDate", createdDate);

        var object = {};
        form.forEach(function (value, key) {
            object[key] = value;
        });
        var json = JSON.stringify(object);

        var postData = { col: object };

        StartLoader();

        $.ajax({
            url: '/Invoice/AddNewInvoice',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (data) {
                EndLoader();
                if (data.msg != null && data.msg != "") {
                    showNotification(data.msg);
                }
                $("#invoiceId").val(data.invoiceId);
                $("#InvoiceTypeId").val(data.invoiceTypeId);
                ShowTab("invoice-details");
            },
            error: function (xhr, status, exception) {
                EndLoader();
                showNotification("Something went wrong, please try again later");
                console.log("Error: " + exception + ", Status: " + status);
            }
        });
    }
</script>
