﻿@model OneSourceAdminCore.Model.NewInvoiceModel
<div class="portlet box green">
    <div class="portlet-body form">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-md-offset-2 radio">
                        <label><input type="radio" name="invoicetype" checked="checked" value="template">I would like to generate an invoice based on an existing template:</label>

                    </div>
                    <div class="col-md-3" style="margin-top: 5px; padding-bottom:10px">
                        <select id="invoiceTypeDrp1" name="invoiceTypeDrp1" class="invoiceTypeDrp1">

                            @if (Model.InvoiceTypeList != null && Model.InvoiceTypeList.Count > 0)
                        {
                            foreach (var item in Model.InvoiceTypeList)
                            {
                                if (item.Selected == true)
                                {
                        <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                        <option value="@item.Value">@item.Text</option>
                                }

                            }
                        }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-md-offset-2 radio">
                        <label><input type="radio" name="invoicetype" value="copytemplate">I would like to generate an invoice template based on an existing template:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3" style="padding-left:0px">
                            <input type="text" name="invoiceTemplateName" id="invoiceTemplateName" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <select id="invoiceTypeDrp2" name="invoiceTypeDrp2" class="invoiceTypeDrp2">

                                @if (Model.InvoiceTypeList != null && Model.InvoiceTypeList.Count > 0)
                            {
                                foreach (var item in Model.InvoiceTypeList)
                                {
                                    if (item.Selected == true)
                                    {
                            <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                            <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            }
                            </select>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblinvoiceTemplateName" style="color:red">
                            </span>
                        </div>

                    </div>



                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-md-offset-2 radio">
                        <label>
                            <input type="radio" name="invoicetype" value="edittemplate">

                            @if (Session["UserGroupName"].ToString() == "ISD")
                        {
                        <text>
                            I would like to edit an existing invoice template:
                        </text>
                        }
                        else
                        {
                        <text>
                            I would like to view an existing invoice template:
                        </text>
                        }
                        </label>

                    </div>
                    <div class="col-md-3" style="margin-top: 5px; padding-bottom:10px">
                        <select id="invoiceTypeDrp3" name="invoiceTypeDrp3" class="invoiceTypeDrp3">

                            @if (Model.InvoiceTypeActiveOrInActiveList != null && Model.InvoiceTypeActiveOrInActiveList.Count > 0)
                        {
                            foreach (var item in Model.InvoiceTypeActiveOrInActiveList)
                            {
                                if (item.Selected == true)
                                {
                        <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                        <option value="@item.Value">@item.Text</option>
                                }

                            }
                        }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-md-offset-6">
                        <ul class="pull-right">
                            <a href="#" onclick="GotoNextTab()"> <li><button style="margin-left: 104px;" type="button" class="btn btn-default btnSubmit" id="per">Next</button></li></a>
                        </ul>
                    </div>
                </div>
            </div>

    </div>
</div>
<script>
    
    function GotoNextTab() {
        var selectedProcessType = $("input[name='invoicetype']:checked").val();
        var invoiceTypeId = "0";
        var invoiceTemplateName = "";
        if(selectedProcessType=="template"){
            invoiceTypeId =  $("#invoiceTypeDrp1").val();
        }
        if(selectedProcessType=="copytemplate"){
            invoiceTypeId = $("#invoiceTypeDrp2").val();
            invoiceTemplateName = $("#invoiceTemplateName").val();
            if (invoiceTemplateName == "" || invoiceTemplateName == null || invoiceTemplateName == undefined) {
                $("#invoiceTemplateName").css("border-color", "red");
                showNotification("Please enter invoice template name");
                return false;
            }
        }
        if(selectedProcessType=="edittemplate"){
            invoiceTypeId =  $("#invoiceTypeDrp3").val();
        }
        StartLoader();
        window.location = "/Invoice/CreateOrUpdateInvoice?invoiceTypeId=" + invoiceTypeId + "&selectedType=" + selectedProcessType + "&invoiceTemplateName=" + invoiceTemplateName

    }


    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }

    $("#invoiceTemplateName").keypress(function () {
        $("#invoiceTemplateName").css("border-color", "");
    });
</script>