﻿@using GridMvc.Html
@model List<OneSourceAdminCore.Entity.Sp_GetInvoiceList_AdminR_Result>
@{
    ViewBag.Title = "InvoicesListView";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Finance > Invoices</b>
        
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 5px 10px 0px;">
        <a href="/finance/invoice-search?back=1" style="float:right !important"><input class="btn btn-default topAddNewButton" value="Back" type="button"></a>
        <a href="/invoice/InvoiceWizard" style="float: right !important;margin-right: 10px;"><input class="btn btn-default topAddNewButton" value="Add Invoice" type="button"></a>
    </div>
</div>


@helper RenderActionLink(int? invoiceId, string companyInvoiceId)
{
    <a href="/finance/invoices/details/@invoiceId" style="color: blue;cursor: pointer">@companyInvoiceId</a>
}


<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Finance - Invoices</h1>
        
        <span>Use the links below to view detailed information about the selected invoice, or click the icon to the right to create a new invoice.</span>
        <hr />
        <div style="font-size: 11px;">
            @if (Model != null && Model.Count > 0)
            {
                <div>
                    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(C => C.CompanyInvoiceId).RenderValueAs(x => @RenderActionLink(x.Invoiceid, x.CompanyInvoiceId)).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Invoice #").SetWidth(30);

                        columns.Add(C => C.ToCompany).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("TO").SetWidth(20);

                        columns.Add(C => C.OboCompany).Encoded(false).Sanitized(false).Sortable(true).Titled("OBO").SetWidth(20);

                        columns.Add(C => C.InvoiceType).Encoded(false).Sanitized(false).Sortable(true).Titled("Type").SetWidth(20);

                        columns.Add(C => C.OrderPoNumber).Encoded(false).Sanitized(false).Sortable(true).Titled("PO #").SetWidth(20);

                        columns.Add(C => C.TotalUsd).Encoded(false).Sanitized(false).Sortable(true).Titled("Total(USD)").SetWidth(20);

                        columns.Add(C => C.StatusName).Encoded(false).Sanitized(false).Sortable(true).Titled("Status").SetWidth(20);

                        columns.Add(C => C.Created).Encoded(false).Sanitized(false).Sortable(true).Titled("Created").SetWidth(20);

                        columns.Add(C => C.SentDate).Encoded(false).Sanitized(false).Sortable(true).Titled("Sent").SetWidth(20);

                    }).WithPaging(50)
                </div>
            }


        </div>
    </div>
</div>

<div class="clearfix"></div>

<script>

    $(document).ready(function () {

        
        @if (ViewBag.ErrorMessage != null)
        {
        <text>
        showNotification("@ViewBag.ErrorMessage.ToString()");
        </text>
    }

    });

</script>

