﻿@model OneSourceAdminCore.Model.NewInvoiceModel
@{
    ViewBag.Title = "InvoiceWizard";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Finance > Invoices</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">
        <a href="/finance/invoice-search" style="float:right !important"><input class="btn btn-default topAddNewButton" value="Back" type="button"></a>
    </div>
</div>

<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }
</style>
<div class="os-admin-tabs cards">


    @if (Model != null)
    {
        <ul class="nav nav-tabs" role="tablist" style="margin-top: 25px;">
            <li role="presentation" class="active"><a href="#process-type" aria-controls="home" role="tab" data-toggle="tab" id="type" style="text-decoration:none">Type</a></li>
            <li role="presentation"><a href="#create-update" aria-controls="quote-reqres" role="tab" data-toggle="tab" id="createupdate" style="text-decoration:none">Create / Update</a></li>
            @if (Session["AddInvoice"] != null)
            {
                <li id="invoicedetailsLink" role="presentation"><a href="#invoice-details" aria-controls="quote-hiscom" role="tab" data-toggle="tab" id="invoicedetails" style="text-decoration:none">Invoice Details</a></li>
            }
        </ul>
    <!-- Tab panes -->
        <div class="col-md-12 tab-content">
            <div role="tabpanel" class="tab-pane active" id="process-type">
                @Html.Partial("~/Views/Invoice/_ProcessType.cshtml", Model)
            </div>
            <div role="tabpanel" class="tab-pane" id="invoice-details">
                @Html.Partial("~/Views/Invoice/_AddInvoiceDetails.cshtml", Model)
            </div>
            <div role="tabpanel" class="tab-pane" id="create-update">
                @Html.Partial("~/Views/Invoice/_CreateOrUpdate.cshtml", Model)
            </div>
        </div>
        <div class="clearfix"></div>

    }
    else
    {
        <div style="color:red  ; padding-top: 40px;font-size: x-large;"><p>No record found.</p></div>
    }
</div>


<script>
    //$(window).load(function () {
    //    ActivateTabFromUrlOrSession();
    //});

    $('#type,#createupdate,#invoicedetails').on("click", function (e) {
        e.preventDefault();
        return false;
    });

    $(function () {



        @if (Model.SelectedTab != null)
        {
            @*if(Model.SelectedTab=="process-type")
            {
               

                <text>

        $("#invoicedetailsLink").hide();

                </text>
            }*@
            <text>
        ShowTab("@Model.SelectedTab");
        </text>
        }

        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        HtmlActions();
    });

    function HtmlActions() {
        $('.date-picker').datepicker({
            autoclose: true
        });
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('.select2-container').parent().css("margin-bottom", "15px");
    }


    $('body').on('click', '.resetDate', function () {

        $(this).parent().parent().find('input').val("");
    });


    function ShowTab(tab) {

        if (tab == "process-type") {
            @{ Session["AddInvoice"] = null;}
            $("#invoicedetailsLink").hide();
        }

        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    }
</script>


