﻿@model OneSourceAdminCore.Model.InvoicedetailsModel
@{
    ViewBag.Title = "Invoice Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/css/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
<script src="~/Content/js/jquery.floatingscroll.js"></script>
<script src="~/Content/js/gijgo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }
</style>
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Finance > Invoices</b>

    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 5px 10px 0px;">
        <a href="/finance/invoices" style="float:right !important"><input class="btn btn-default topAddNewButton" value="Back" type="button"></a>
        <a href="#" style="float: right !important; margin-right: 10px;"><input class="btn btn-default topAddNewButton" value="Export to PDF" type="button"  onclick="downloadPDF()"></a>
    </div>
</div>

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content" id="content">
        @if (Model != null && Model.InvoiceInfo != null)
        {

            <h1>Finance - Invoices - @Model.InvoiceInfo.companyInvoiceID</h1>

            <span>Use the fields below to view/edit details of this invoice, or click the icon to the right for a printable version.</span>
            <hr />
            <div role="tabpanel" class="tab-pane active" id="home">

                <div class="col-md-6">
                    <div class="col-md-4">
                        <label>Invoice Ref:</label>
                    </div>
                    <div class="col-md-8">
                        @Model.InvoiceInfo.companyInvoiceID
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Amount:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-2" style="padding: 10px;">
                            @Model.InvoiceInfo.invoicetotal.ToString("F")
                        </div>
                        <div class="col-md-10" style="padding: 10px;margin-top:-10px">
                            <select id="invoiceCurrency" name="invoiceCurrency" class="invoiceCurrency">

                                @if (Model.CurrencyList != null && Model.CurrencyList.Count > 0)
                                {
                                    foreach (var item in Model.CurrencyList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>PO #:</label>
                    </div>
                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                            <input type="text" class="form-control" value="@Model.InvoiceInfo.po" id="po" maxlength="255" />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8">
                            @Model.InvoiceInfo.po
                        </div>
                    }
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Sent:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-20px">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="InvoiceInfo.sendDate" class="form-control" id="sendDate" readonly value="@(Model.InvoiceInfo.sendDate!=null?Model.InvoiceInfo.sendDate.Value.ToShortDateString():"")" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button" id="sendDatePicker"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Due:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="InvoiceInfo.dueDate" class="form-control" id="dueDate" readonly value="@(Model.InvoiceInfo.dueDate!=null?Model.InvoiceInfo.dueDate.ToShortDateString():"")" />
                            <span class="input-group-btn">
                                <button class="btn default" id="dueDatePicker" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Period Begin:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="InvoiceInfo.invoicePeriodStart" class="form-control" id="periodBeginDate" readonly value="@(Model.InvoiceInfo.invoicePeriodStart!=null?Model.InvoiceInfo.invoicePeriodStart.Value.ToShortDateString():"")" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button" id="periodBeginDatePicker"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Bill From Company:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        @(Model.InvoiceInfo.billfromco ?? "-")
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Bill-From Address:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <select id="invoiceBillFromAddressDrp" name="invoiceBillFromAddressDrp" class="invoiceBillFromAddressDrp">

                            @if (Model.BillfromAddressList != null && Model.BillfromAddressList.Count > 0)
                            {
                                foreach (var item in Model.BillfromAddressList)
                                {
                                    if (item.Selected == true)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Pay-To Address:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <select id="invoicePayToAddressListDrp" name="invoicePayToAddressListDrp" class="invoicePayToAddressListDrp">

                            @if (Model.PayToAddressList != null && Model.PayToAddressList.Count > 0)
                            {
                                foreach (var item in Model.PayToAddressList)
                                {
                                    if (item.Selected == true)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Vat Reg #:</label>
                    </div>
                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                            <input type="text" class="form-control" value="@Model.InvoiceInfo.vatReg" id="vatReg" maxlength="50" />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                            @Model.InvoiceInfo.vatReg
                        </div>
                    }

                    <div class="clearfix"></div>
                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <div class="col-md-4">
                            <label>Create Date:</label>
                        </div>
                        <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                            @Model.InvoiceInfo.createDate
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Last Updated:</label>
                        </div>
                        <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                            @Model.InvoiceInfo.lastUpdate
                        </div>
                        <div class="clearfix"></div>
                    }
                    <div class="col-md-4">
                        <label>Payment Instructions:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        @if (Session["UserGroupName"].ToString() == "ISD")
                        {
                            <textarea name="payment-instruction" cols="80" rows="4" class="form-control" maxlength="2000" id="paymentInstr">@Model.InvoiceInfo.paymentInstr</textarea>

                        }
                        else
                        {
                            <textarea name="payment-instruction" cols="80" rows="4" class="form-control" maxlength="2000" readonly id="paymentInstr">@Model.InvoiceInfo.paymentInstr</textarea>
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6">
                    @if (Session["UserGroupName"].ToString() != "ISD") //if else added for showing user specific fields : Sunny Gohar (13th August 2018
                    {
                        <div class="col-md-4">
                            <label>Create Date:</label>
                        </div>
                        <div class="col-md-8">
                            @Model.InvoiceInfo.createDate
                        </div>
                    }
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Status:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <select id="statusDrp" name="statusDrp" class="statusDrp">

                            @if (Model.StatusList != null && Model.StatusList.Count > 0)
                            {
                                foreach (var item in Model.StatusList)
                                {
                                    if (item.Selected == true)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            }
                        </select>
                    </div>

                    <div class="clearfix"></div>
                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <div class="col-md-4">
                            <label>Invoice Owner:</label>
                        </div>
                        <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                            <select id="invoiceOwnerDrp" name="invoiceOwnerDrp" class="invoiceOwnerDrp">

                                @if (Model.InvoiceOwnerList != null && Model.InvoiceOwnerList.Count > 0)
                                {
                                    foreach (var item in Model.InvoiceOwnerList)
                                    {
                                        if (item.Selected == true)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                    }
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Received:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="InvoiceInfo.recdDate" class="form-control" id="receiveDate" readonly value="@(Model.InvoiceInfo.recdDate!=null?Model.InvoiceInfo.recdDate.Value.ToShortDateString():"")" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button" id="receiveDatePicker"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Tax Date:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="InvoiceInfo.taxDate" id="taxDate" class="form-control" readonly value="@(Model.InvoiceInfo.taxDate!=null?Model.InvoiceInfo.taxDate.Value.ToShortDateString():"")" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button" id="taxDatePicker"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Period End:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="InvoiceInfo.invoicePeriodEnd" class="form-control" id="periodEndDate" readonly value="@(Model.InvoiceInfo.invoicePeriodEnd!=null?Model.InvoiceInfo.invoicePeriodEnd.Value.ToShortDateString():"")" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button" id="periodEndDatePicker"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Bill To Company:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        @(Model.InvoiceInfo.billtoco ?? "-")
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Bill To Address:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <select id="invoiceBillToAddressDrp" name="invoiceBillToAddressDrp" class="invoiceBillToAddressDrp">

                            @if (Model.BillToAddressList != null && Model.BillToAddressList.Count > 0)
                            {
                                foreach (var item in Model.BillToAddressList)
                                {
                                    if (item.Selected == true)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Payment Terms:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <select id="invoicePaymentTermsListDrp" name="invoicePaymentTermsListDrp" class="invoicePaymentTermsListDrp">

                            @if (Model.PaymentTermsList != null && Model.PaymentTermsList.Count > 0)
                            {
                                foreach (var item in Model.PaymentTermsList)
                                {
                                    if (item.Selected == true)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Pref. Payment Method:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        <select id="invoicePaymentMethodListDrp" name="invoicePaymentMethodListDrp" class="invoicePaymentMethodListDrp">

                            @if (Model.PaymentMethodList != null && Model.PaymentMethodList.Count > 0)
                            {
                                foreach (var item in Model.PaymentMethodList)
                                {
                                    if (item.Selected == true)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <div class="col-md-4">
                            <label>Created By:</label>
                        </div>
                        <div class="col-md-8">
                            @(Model.InvoiceInfo.createdby ?? "-")
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Updated By:</label>
                        </div>
                        <div class="col-md-8">
                            @(Model.InvoiceInfo.updatedby ?? "-")
                        </div>
                        <div class="clearfix"></div>
                    }

                    <div class="col-md-4">
                        <label>Comments:</label>
                    </div>
                    <div class="col-md-8" style="padding: 10px;margin-top:-10px">
                        @if (Session["UserGroupName"].ToString() == "ISD")
                        {
                            <textarea name="comments" class="form-control" cols="80" rows="4" maxlength="4000" id="comments">@Model.InvoiceInfo.comments</textarea>
                        }
                        else
                        {
                            <textarea name="comments" class="form-control" cols="80" rows="4" readonly maxlength="4000" id="comments">@Model.InvoiceInfo.comments</textarea>                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    <div class="col-md-12 back-btn">
                        <button type="button" class="btn btn-default btnSubmit" id="per" onclick="location.reload()">Reset</button>
                        <button type="button" class="btn btn-default btnSubmit" onclick="UpdateInvoice()" id="per">Update</button>
                    </div>
                }
                <div class="clearfix"></div>
                <div class="col-md-12 table-responsive" style="margin-top: 20px;">
                    <div class="row gridDiv">
                    </div>
                </div>
            </div>

            
       }
    </div>

</div>





<script>


    $(document).ready(function () {

        //$("select").prepend("<option value='0' selected='selected'>None</option>");
        $("select").select2({ allowClear: true });
        //$("select").val("0").trigger("change");


        //var dateToday = new Date();
        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true
        });

        @if (Session["UserGroupName"].ToString() != "ISD")
        {
            <text>

        //invoiceCurrency
        $("#s2id_invoiceCurrency").select2('destroy');
        $("#invoiceCurrency").attr("disabled", "disabled");

        //InvoiceBillFromAddressDrp
        $("#s2id_invoiceBillFromAddressDrp").select2('destroy');
        $("#invoiceBillFromAddressDrp").attr("disabled", "disabled");
        $("#invoiceBillFromAddressDrp").addClass("form-control");

        //InvoiceBilltoAddressDrp
        $("#s2id_invoiceBillToAddressDrp").select2('destroy');
        $("#invoiceBillToAddressDrp").attr("disabled", "disabled");
        $("#invoiceBillToAddressDrp").addClass("form-control");

        //InvoicePayToAddressListDrp
        $("#s2id_invoicePayToAddressListDrp").select2('destroy');
        $("#invoicePayToAddressListDrp").attr("disabled", "disabled");
        $("#invoicePayToAddressListDrp").addClass("form-control");

        //invoicePaymentTermsListDrp
        $("#s2id_invoicePaymentTermsListDrp").select2('destroy');
        $("#invoicePaymentTermsListDrp").attr("disabled", "disabled");
        $("#invoicePaymentTermsListDrp").addClass("form-control");

        //invoicePaymentMethodListDrp
        $("#s2id_invoicePaymentMethodListDrp").select2('destroy');
        $("#invoicePaymentMethodListDrp").attr("disabled", "disabled");
        $("#invoicePaymentMethodListDrp").addClass("form-control");

        //InvoiceSentDate
        $("#sendDatePicker").attr("disabled", "disabled");
        $("#sendDate").attr("disabled", "disabled");

        //InvoiceReceiveDate
        $("#receiveDatePicker").attr("disabled", "disabled");
        $("#receiveDate").attr("disabled", "disabled");

        //InvoiceDueDate
        $("#dueDatePicker").attr("disabled", "disabled");
        $("#dueDate").attr("disabled", "disabled");

        //InvoiceTaxDate
        $("#taxDatePicker").attr("disabled", "disabled");
        $("#taxDate").attr("disabled", "disabled");

        //InvoicePeriodBeginDate
        $("#periodBeginDatePicker").attr("disabled", "disabled");
        $("#periodBeginDate").attr("disabled", "disabled");

        //InvoicePeriodEndDate
        $("#periodEndDatePicker").attr("disabled", "disabled");
        $("#periodEndDate").attr("disabled", "disabled");

        </text>

        }
        else
        {
             <text>

        //invoiceCurrency
        $("#invoiceCurrency").removeAttr('disabled');
        $("#invoiceCurrency").select2({ allowClear: true });

        //InvoiceBillFromAddressDrp
        $("#invoiceBillFromAddressDrp").removeClass("form-control");
        $("#invoiceBillFromAddressDrp").removeAttr('disabled');
        $("#invoiceBillFromAddressDrp").select2({ allowClear: true });


        //InvoiceBilltoAddressDrp
        $("#invoiceBillToAddressDrp").removeClass("form-control");
        $("#invoiceBillToAddressDrp").removeAttr('disabled');
        $("#invoiceBillToAddressDrp").select2({ allowClear: true });

        //InvoicePayToAddressListDrp
        $("#invoicePayToAddressListDrp").removeClass("form-control");
        $("#invoicePayToAddressListDrp").removeAttr('disabled');
        $("#invoicePayToAddressListDrp").select2({ allowClear: true });

        //invoicePaymentTermsListDrp
        $("#invoicePaymentTermsListDrp").removeClass("form-control");
        $("#invoicePaymentTermsListDrp").removeAttr('disabled');
        $("#invoicePaymentTermsListDrp").select2({ allowClear: true });

        //invoicePaymentMethodListDrp
        $("#invoicePaymentMethodListDrp").removeClass("form-control");
        $("#invoicePaymentMethodListDrp").removeAttr('disabled');
        $("#invoicePaymentMethodListDrp").select2({ allowClear: true });

        //InvoiceSentDate
        $("#sendDatePicker").removeAttr('disabled');
        $("#sendDate").removeAttr('disabled');

        //InvoiceReceiveDate
        $("#receiveDatePicker").removeAttr('disabled');
        $("#receiveDate").removeAttr('disabled');

        //InvoiceDueDate
        $("#dueDatePicker").removeAttr('disabled');
        $("#dueDate").removeAttr('disabled');

        //InvoiceTaxDate
        $("#taxDatePicker").removeAttr('disabled');
        $("#taxDate").removeAttr('disabled');

        //InvoicePeriodBeginDate
        $("#periodBeginDatePicker").removeAttr('disabled');
        $("#periodBeginDate").removeAttr('disabled');

        //InvoicePeriodEndDate
        $("#periodEndDatePicker").removeAttr('disabled');
        $("#periodEndDate").removeAttr('disabled');

        </text>
        }


        @if (Model.EnableStatusDropDown==false)
        {
            <text>


        $("#s2id_statusDrp").select2('destroy');
        $("#statusDrp").attr("disabled", "disabled");
        $("#statusDrp").addClass("form-control");

        </text>

        }
        else
        {
            <text>

        $("#statusDrp").removeClass("form-control");
        $("#statusDrp").removeAttr('disabled');
        $("#statusDrp").select2({ allowClear: true });

        </text>
        }



        $(".gridDiv").html("");
        $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
        StartLoader();
        $.ajax({
            url: "/Invoice/GetInvoiceLineItemsDetail?invoiceId=" + '@Model.InvoiceId' + "&invoiceTypeId=" + '@Model.InvoiceInfo.invoiceTypeID' + "&vatRate=" + '@Model.InvoiceInfo.vatrate' + "&vatTotal=" + '@Model.InvoiceInfo.vatTotal' + "&total=" + '@Model.InvoiceInfo.invoicetotal',
            type: "GET",
            success: function (data) {
                EndLoader();
                if (data.msg != null && data.msg != "") {

                    if (data.msg == "No Invoice Line Items Available") {

                        $(".gridDiv").html("<p class='text-center' style='font-size:large;'>No Invoice Line Items Available</p>");
                    }

                }
                else {
                    if (data.data != null && data.data != "") {

                        var table = JSON.parse(data.data);
                        var tableObj = [];
                        if (table.length > 0) {

                            for (i = 0; i < Object.keys(table[0]).length; i++) {

                                var obj = {};
                                obj.field = Object.keys(table[0])[i];
                                if (obj.field == "DetailId" || obj.field == "LineItemSeqNum" || obj.field == "ColDisplaySeqNum" || obj.field == "InvoiceId" || obj.field == "InvoiceTypeId") {
                                    obj.hidden = true;
                                }
                                if (obj.field == "Description") {
                                    obj.width = 600;
                                }
                                //else if (obj.field == "Order_Comments" || obj.field == "Delivery_Address" || obj.field == "Ordered_Created_By" || obj.field == "Bundle" || obj.field == "Countryname" || obj.field == "Customer" || obj.field == "Requested By") {
                                //    obj.width = 300;
                                //}
                                //else if (obj.field == "Order_Currency" || obj.field == "Billing_Address" || obj.field == "Manufacturer" || obj.field == "MFG_Tracking_Info" || obj.field == "TrackingNumber" || obj.field == "Order_Country" || obj.field == "Shipping_Address" || obj.field == "Destination_PO" || obj.field == "Last Updated" || obj.field == "SLA - Business Days") {
                                //    obj.width = 150;
                                //}
                                //else {
                                //    obj.width = 100;
                                //}

                                obj.sortable = true;
                                obj.align = 'center';
                                obj.headerCssClass = 'headerClass';
                                obj.cssClass = 'rowClass';
                                tableObj.push(obj);
                            }
                        }

                        if (table.length > 50) {

                            var grid = $('#grid').grid({
                                dataSource: table,
                                columns: tableObj,
                                pager: { limit: 50, sizes: [50, 100, 500, 1000] },
                                cache: false,
                                uiLibrary: 'bootstrap'
                            });
                        }
                        else {
                            var grid = $('#grid').grid({
                                dataSource: table,
                                columns: tableObj,
                                pager: null,
                                cache: false,
                                uiLibrary: 'bootstrap'
                            });

                        }

                        var refreshButton = $("button[data-role='page-refresh']");
                        if (refreshButton != undefined) {
                            refreshButton.hide();
                        }
                        var selectCounter = $("select[data-role='page-size']")[0];
                        if (selectCounter != undefined) {
                            selectCounter.style.width = "80px";
                        }
                        $(".gj-grid-wrapper").floatingScroll();
                        $(".gj-grid-wrapper").attr("style", "overflow:auto");

                        if (data.userType == "admin") {
                            var vatRateValue = $("div[title='<b>VAT RATE(%):</b>']").parent().next("td").text();
                            $("div[title='<b>VAT RATE(%):</b>']").parent().next().html("<input type='text' id='vatRateValue' value='" + vatRateValue + "' class='form-control text-center'  /> ");

                            $("input[id*='vatRateValue']").keydown(function (event) {


                                if (event.shiftKey == true) {
                                    event.preventDefault();
                                }

                                if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

                                } else {
                                    event.preventDefault();
                                }

                                if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                                    event.preventDefault();

                            });
                        }
                    }

                }
            }
        })



    });

    function UpdateInvoice() {
        var invoiceCurrencyId = $("#invoiceCurrency").val();
        if(invoiceCurrencyId=="0" || invoiceCurrencyId=="" || invoiceCurrencyId==null){
            showNotification("Please select currency");
            return false;
        }
        var invoiceBillToAddressDrp = $("#invoiceBillToAddressDrp").val();
        if(invoiceBillToAddressDrp=="0" || invoiceBillToAddressDrp=="" || invoiceBillToAddressDrp==null){
            showNotification("Please select bill-to address");
            return false;
        }
        var invoiceBillFromAddressDrp = $("#invoiceBillFromAddressDrp").val();
        if(invoiceBillFromAddressDrp=="0" || invoiceBillFromAddressDrp=="" || invoiceBillFromAddressDrp==null){
            showNotification("Please select bill-from address");
            return false;
        }
        var invoicePayToAddressListDrp = $("#invoicePayToAddressListDrp").val();
        if(invoicePayToAddressListDrp=="0" || invoicePayToAddressListDrp=="" || invoicePayToAddressListDrp==null){
            showNotification("Please select pay-to address");
            return false;
        }
        var invoicePaymentTermsListDrp = $("#invoicePaymentTermsListDrp").val();
        if(invoicePaymentTermsListDrp=="0" || invoicePaymentTermsListDrp=="" || invoicePaymentTermsListDrp==null){
            showNotification("Please select payment term");
            return false;
        }
        var invoicePaymentMethodListDrp = $("#invoicePaymentMethodListDrp").val();
        if(invoicePaymentMethodListDrp=="0" || invoicePaymentMethodListDrp=="" || invoicePaymentMethodListDrp==null){
            showNotification("Please select payment method");
            return false;
        }
        
        var invoiceOwnerDrp = $("#invoiceOwnerDrp").val();
        var statusDrp = $("#statusDrp").val();
        if(statusDrp=="0" || statusDrp=="" || statusDrp==null){
            showNotification("Please select status");
            return false;
        }

        StartLoader();

        var sendDate = $("#sendDate").val();
        var receiveDate = $("#receiveDate").val();
        var dueDate = $("#dueDate").val();
        var taxDate = $("#taxDate").val();
        var periodBeginDate = $("#periodBeginDate").val();
        var periodEndDate = $("#periodEndDate").val();
        var vatReg = $("#vatReg").val();
        var paymentInstr = $("#paymentInstr").val();
        var comments = $("#comments").val();
        var po = "";
        if($("#po").length >0){
            po = $("#po").val();
        }
        else
        {
            po = "@Model.InvoiceInfo.po";
        } 
        var vatRateValue = "";
        if($("#vatRateValue").length >0){
            vatRateValue = $("#vatRateValue").val();
        }
        else
        {
            vatRateValue = "@Model.InvoiceInfo.vatrate";
        }

        var form = new FormData();

        form.append("invoiceId", @Model.InvoiceId);
        form.append("invoiceCurrencyId", invoiceCurrencyId);
        form.append("billToAddressId", invoiceBillToAddressDrp);
        form.append("billFromAddressId", invoiceBillFromAddressDrp);
        form.append("payToAddressId", invoicePayToAddressListDrp);
        form.append("sendDate", sendDate);
        form.append("recdDate", receiveDate);
        form.append("dueDate", dueDate);
        form.append("taxDate", taxDate);
        form.append("invoicePeriodStart", periodBeginDate);
        form.append("invoicePeriodEnd", periodEndDate);
        form.append("vatReg", vatReg);
        form.append("invoiceStatusId", statusDrp);
        form.append("paymentTermId", invoicePaymentTermsListDrp);
        form.append("prefPaymentId", invoicePaymentMethodListDrp);
        form.append("paymentInstr",paymentInstr);
        form.append("comments", comments);
        form.append("invoiceTypeId", "@Model.InvoiceInfo.invoiceTypeID");
        form.append("vatrate", vatRateValue);
        form.append("po", po);
        form.append("invoiceOwnerId", invoiceOwnerDrp);

        $.ajax({
            url: '/Invoice/UpdateInvoice',
            type: 'POST',
            data: form,
            processData: false,
            contentType: false,
            success: function (data) {
                EndLoader();
                if(data.msg!=null&&data.msg!=""){
                    showNotification(data.msg);
                }
                StartLoader();
                location.reload();
            },
            error: function (xhr, status, exception) {
                EndLoader();
                console.log("Error: " + exception + ", Status: " + status);
            }
        });
    }

    function downloadPDF() {

        window.location = "/Invoice/ExportToPdf?invoiceCompanyId="+'@Model.InvoiceInfo.companyInvoiceID';
    }

</script>