﻿@model OneSourceAdminCore.Model.InvoiceModel
@{
    ViewBag.Title = "Finance - Invoice Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Finance > Invoices</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">
        <a href="/invoice/InvoiceWizard" style="float: right !important;margin-right: 10px;"><input class="btn btn-default topAddNewButton" value="Add Invoice" type="button"></a>
    </div>
</div>

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Finance - Invoice Search</h1>
        <span>Select the criteria for your search, or click the icon to the right to create a new invoice.</span>
        <hr />

        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Invoice", FormMethod.Post, new { @id = "invoiceSearch" }))
            {
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label>Invoice #:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="InvoiceNumber" value="@Model.InvoiceNumber" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Order Tracking #:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="OrderTrackingNumber" value="@Model.OrderTrackingNumber" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Sent To:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("SentToCompanyId", new SelectList(Model.SentToList,
                            "Key", "Value"))
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Status:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("StatusId", new SelectList(Model.StatusList,
                            "Key", "Value"))
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Created After:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">

                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="CreatedAfter" class="form-control" readonly value="@Model.CreatedAfter" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Sent After:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="SentAfter" class="form-control" readonly value="@Model.SentAfter" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Received After:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="RecievedAfter" class="form-control" readonly value="@Model.RecievedAfter" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label>PO #:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="PoNumber" value="@Model.PoNumber" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Order PO #:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="OrderPoNumber" value="@Model.OrderPoNumber" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>On Behalf Of:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("OnBehlafCompanyId", new SelectList(Model.OnBehalfOfList,
                            "Key", "Value"))

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Type:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("TypeId", new SelectList(Model.TypeList,
                            "Key", "Value"))
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Created Before:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="CreatedBefore" class="form-control" readonly value="@Model.CreatedBefore" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Sent Before:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="SentBefore" class="form-control" readonly value="@Model.SentBefore" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Received Before:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        <div class="input-group input-medium date date-picker" data-date="" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="RecievedBefore" class="form-control" readonly value="@Model.RecievedBefore" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12 back-btn">
                    <button type="submit" class="btn btn-default btnSubmit" id="per">Search</button>
                    <button type="button" class="btn btn-default btnSubmit" id="per">Reset</button>

                </div>
            }
        </div>


    </div>
</div>




<script>


    $(document).ready(function () {

        //$("select").prepend("<option value='0' selected='selected'>None</option>");
        $("select").select2({ allowClear: true });
        //$("select").val("0").trigger("change");


        //var dateToday = new Date();
        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true
        });

          @if (ViewBag.ErrorMessage != null)
        {
            <text>
            showNotification("@ViewBag.ErrorMessage.ToString()");
            </text>
        }
    });

</script>