﻿@model OneSourceAdminCore.Model.RegionModel
@{
    ViewBag.Title = "Region";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style type="text/css">
    .input-medium {
        width: 270px !important;
    }
</style>

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;padding-bottom: 20px;">
        <b> Settings > Region </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
<div class="row" style="background-color:#FFF; padding: -10px; margin-left: -20px;
  margin-right: -19px; height:30px;"></div>
<!-- CLOSED TABLE DIV -->
<div class="row menuDiv" style="padding: -10px; margin-left: -20px;margin-right: -19px; background-color: #399bd3; color: #FFF;">
    <div class="col-md-4" style="margin-top: -8px;">
        <h1>Region</h1>
    </div>

    <div class="col-md-3" style="margin-left: -40px;margin-top: -8px;">
        <div class="col-md-1" style="padding-top:25px">
            <h4><b>Customer</b></h4>
        </div>
        <div class="col-md-2" style="width:200px;padding-left:65px;padding-top:25px">
            @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
            {
                @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
                "CustomerId", "CustomerName", Model.CustomerId), "--Select--",
                new { @id = "MainCustomerId", @idFor = "CustomerId", @valueFor = "CustomerName", @class = "form-control ", @tabindex = "-1" });
            }
        </div>
    </div>
    <div class="col-md-3" style="margin-left: -40px;margin-top: -8px;">
        <div class="col-md-1" style="padding-top:25px">
            <h4><b>Region</b></h4>
        </div>
        <div class="col-md-2" style="width:200px;padding-left:65px;padding-top:25px">
            @if (Model.LstRegion != null && Model.LstRegion.Count > 0)
            {
                @Html.DropDownList("RegionId", new SelectList(Model.LstRegion,
                "Key", "Value", Model.RegionId), "--Select--",
                new { @id = "MainRegionId", @idFor = "RegionId", @valueFor = "RegionName", @class = "form-control ", @tabindex = "-1" });
            }
            else
            {
                <select class="form-control" value="All Manufactures"></select>
            }
        </div>
    </div>
    <div class="col-md-2" style="margin-left: -40px;margin-top: -8px;">
        <div class="input-group" style="padding-top:  25px;">
            <span class="input-group-btn">
                @using (Html.BeginForm("Index", "Region", FormMethod.Post, new { @id = "RegionCountryForm" }))
                {
                    <input type="hidden" name="defaultRegionId" id="defaultRegionId" value="@Model.RegionId">
                    <input type="hidden" name="customerId" id="customerId" value="@Model.CustomerId">
                    <button class="btn btn-default" type="submit" style="color: #399BD3;width:100px">Search</button>
                }
            </span>
            @if (ViewBag.AddEditAccess == true)
            {
                <span class="input-group-btn" style="padding-left:  10px;">
                    <a data-toggle="modal" href="#region" id="topstyle1" style="color: #adaeb0; float:right;padding-right:5px">
                        <button class="btn btn-default btnMapping" type="button" style="color: #399BD3;">Add Country</button>
                    </a>
                </span>
                <span class="input-group-btn" style="padding-left:10px;float:right">
                    <a data-toggle="modal" href="#addregion" id="topstyle1" style="color: #adaeb0; float:right;padding-right:5px">
                        <button class="btn btn-default btnAddRegion" type="button" style="color: #399BD3;">Add Region</button>
                    </a>
                </span>
            }
        </div><!-- /input-group -->
    </div>

    @*<div class="col-md-2" style="float: right; margin-top: 20px;padding-right:0px">
            @if (Model.LstRegion != null && Model.LstRegion.Count > 0)
            {
                @Html.DropDownList("RegionId", new SelectList(Model.LstRegion,
                    "Key", "Value", Model.RegionId), "--Select--",
                    new { @id = "MainRegionId", @idFor = "RegionId", @valueFor = "RegionName", @class = "form-control ", @tabindex = "-1" });
            }
            else
            {
                <select class="form-control" value="All Manufactures"></select>
            }
        </div>*@
    @*<div class="col-md-1" style="float: right; margin-top: 21px;">
            <h4><b style="float:right">Region</b></h4>
        </div>*@
</div>
<br>
<div class="row" style="margin-top: -18px;">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"></div>
            </div>
            <div class="portlet-body form">

                @using (Html.BeginForm("DeleteRegionCountryMap", "Region", FormMethod.Post, new { id = "DeleteRegionCountryForm" }))
                {

                    <input type="hidden" name="countryRegionMappingId" id="countryRegionMappingId">
                    <input type="hidden" name="CurrentRegionId" id="currentRegionId">
                    <input type="hidden" name="CurrentCustomerId" id="currentCustomerId">
                    <table border="0" class="table table-bordered table-striped">
                        <tbody>
                            @if (Model.LstRegionWiseCountry != null && Model.LstRegionWiseCountry.Count > 0)
                            {
                                <tr style="background-color: #399bd3; color: #FFF;">
                                    <td style="width: 94%;"><h4><b>Country</b></h4></td>
                                    @if (ViewBag.AddEditAccess == true)
                                    {
                                        <td><h4><b></b></h4></td>
                                    }
                                </tr>
                                bool toggle = true;

                                foreach (var item in Model.LstRegionWiseCountry)
                                {
                                    if (toggle)
                                    {
                                        <tr style="background-color: #cbdee5;">
                                            <td>@item.CountryName</td>
                                            @if (ViewBag.AddEditAccess == true)
                                            {
                                                <td>
                                                    <input type="hidden" value="@item.CountryRegionMappingId" name="CountryRegionMappingCurrent">
                                                    <input type="hidden" value="@item.RegionId" name="CurrentRegionId">
                                                    <input type="hidden" value="@item.CustomerID" name="CurrentCustomerId">

                                                    <button class="btn btn-default btnDeleteCountryMapping" type="button" style="color: #399BD3;">Delete</button>

                                                </td>
                                            }
                                        </tr>
                                        toggle = false;
                                    }
                                    else
                                    {
                                        <tr style="background-color: #e4eef3;">
                                            <td>@item.CountryName</td>
                                            @if (ViewBag.AddEditAccess == true)
                                            {
                                                <td>
                                                    <input type="hidden" value="@item.CountryRegionMappingId" name="CountryRegionMappingCurrent">
                                                    <input type="hidden" value="@item.RegionId" name="CurrentRegionId">
                                                    <input type="hidden" value="@item.CustomerID" name="CurrentCustomerId">

                                                    <button class="btn btn-default btnDeleteCountryMapping" type="button" style="color: #399BD3;">Delete</button>

                                                </td>
                                            }
                                        </tr>
                                        toggle = true;
                                    }
                                }
                            }

                        </tbody>
                    </table>

                }
                <div class="page-bar" style="background-color:#399bd3; margin-top:-19px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="region">
    <div class="modal-dialog" id="dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddRegionCountryMap", "Region", FormMethod.Post, new { @id = "RegionForm" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Country For Mapping</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 50px;">
                    <h3>
                        <span style="color: red">*</span>Country
                    </h3>
                    <div class="col-md-11">
                        <input type="hidden" name="RegionName" id="RegionName" value="@Model.RegionName">
                        <input type="hidden" name="RegionId" id="RegionId" value="@Model.RegionId">
                        <input type="hidden" name="CustomerId" id="CustomerId" value="@Model.CustomerId">
                        <input type="hidden" name="CustomerName" id="CustomerName" value="@Model.CustomerName">
                        <input type="hidden" name="CountryName" id="CountryName">
                        @Html.DropDownList("CountryId", new SelectList(Model.LstCountries,
                   "Key", "Value"), "--Select--",
                new { @id = "CountryId", @valueFor = "CountryName", @class = "form-control ", @tabindex = "-1" })
                    </div>
                    <img id="countryImg" />

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btnSubmit" id="per" style=" background-color: #428bca; border-color: #357ebd; margin-left: 20px;" type="submit">Submit</button>
                    <a href="#" class="btn btn-primary cancel">Cancel</a>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal" id="addregion">
    <div class="modal-dialog" id="dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddRegion", "Region", FormMethod.Post, new { @id = "AddRegionForm" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Region</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 50px;">
                    <h3>
                        <span style="color: red">*</span>Region Name
                    </h3>
                    <div class="col-md-6">
                        <input type="hidden" name="DefaultRegionId" id="AddRegionId" value="@Model.RegionId">
                        <input type="hidden" name="CustomerId" id="AddCustomerId" value="@Model.CustomerId">
                        <input type="text" id="RegionName2" value="@Model.RegionName" name="RegionName" onkeypress="return alphaNumeric(event)" required class="form-control" />

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="per" style=" background-color: #428bca; border-color: #357ebd; margin-left: 20px;" type="submit">Submit</button>
                    <a href="#" class="btn btn-primary cancel">Cancel</a>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        StartLoader();
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);
    });
    $(window).load(function () {
        EndLoader();
    });
    $('.cancel').click(function () {
        $('.close').click();

    });
    $('.btnMapping').click(function () {
        if ($('#MainRegionId').val() === '' || $('#MainCustomerId').val() === '') {
            $('.menuDiv').after('<div style="margin-top: 10px;margin-bottom: 0px;" class="alert alert-warning"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Warning!</strong> In Order To Map Region With Country And Customer, Please Select Region And Customer.</div>');

            $('.alert-warning').fadeTo(2000, 500).slideUp(500, function () {
                $('.alert-warning').alert('close');
            });
            return false;
        }
    });
    $('#RegionForm').submit(function () {
        if ($('#CountryId').val() === '') {
            return false;
        }
        StartLoader();
    });
    $('.btnDeleteCountryMapping').click(function () {
        var currentValue = $($(this).siblings()[0]).val();
        $("#countryRegionMappingId").val(currentValue);
        currentValue = $($(this).siblings()[1]).val();
        $("#currentRegionId").val(currentValue);
        currentValue = $($(this).siblings()[2]).val();
        $("#currentCustomerId").val(currentValue);
        $('#DeleteRegionCountryForm').submit();
    });
    $('#DeleteRegionCountryForm').submit(function () {
        if (confirm("Are you sure you want to delete this record?")) {
            StartLoader();
        } else {
            return false;
        }
        return true;
    });
    $('#MainRegionId').change(function () {
        $('#defaultRegionId').val($(this).val());
        $('#AddRegionId').val($(this).val());
    });

    //sunny gohar on 9th Jan 2018 =====================================

    $('#MainCustomerId').change(function () {
        $('#customerId').val($(this).val());
        $('#AddCustomerId').val($(this).val());
    });

    //===================================================================
    $('#CountryId').change(function () {
        if ($('#CountryId').val() !== '') {
            $('#countryImg').attr('src', "/Content/images_onesource/images_content/flags/flags/32/" + $(this).val() + ".png");
        } else {

            $('#countryImg').attr('src', '');
        }
    });
    $('#RegionCountryForm').submit(function () {
        StartLoader();
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".regionsetting").addClass("active");
    });

    function alphaNumeric(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }
</script>