﻿@model OneSourceAdminCore.Model.DomesticAddPartModel
@{
    ViewBag.Title = "Domestic Part";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-6" style="padding:10px; color:#FFF;"><b> Tracking > Domestic Catalog >Add Catalog Part </b></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
@using (Html.BeginForm("AddDomesticCatPart", "Catalog", FormMethod.Post, new { @id = "CatalogForm" }))
{
 <input type="hidden" name="MfgPartId" value="@(Model.MfgPartId)">
    <div class="col-md-12" style="padding-top: 50px;">
        <div class="col-md-2"><span style="color:red;">*</span> Customer:</div>
        <div class="col-md-6">
            @Html.DropDownList("CustomerId", new SelectList(Model.CustomerList,
                         "Key", "Value",Model.CustomerId),
                         new { @id = "CustomerId", @tabindex = "-1" })
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2"><span style="color:red;">*</span> MFG Part:</div>
        <div class="col-md-6"><a style="color:#3b9cd3" onclick="GetSKU()" href="javascript:;"><i class="fa fa-link"></i></a> @(Model.SKU?? "Select a MFG Part")  </div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2"><span style="color:red;">*</span> Description:</div>
        <div class="col-md-6"><input type="text" maxlength="3500" class="form-control" name="Description" value="@(Model.Description??"")"></div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2"> Category:</div>
        <div class="col-md-6">
            @Html.DropDownList("CategoryId", new SelectList(Model.CategoryList,
                         "Key", "Value"),
                         new { @id = "CategoryId", @tabindex = "-1" })
        </div>
    </div>
    <div class="col-md-12" >
        <div class="col-md-2"><span style="color:red;">*</span> Cost Price:</div>
        <div class="col-md-6"><input type="text" maxlength="6" class="form-control numericwithdecimal" name="CostPrice"></div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2">Currency:</div>
        <div class="col-md-6">
            @Html.DropDownList("CurrencyId", new SelectList(Model.CurrencyList,
                         "Key", "Value","12"),
                         new { @id = "CurrencyId", @tabindex = "-1" })@*12 for us dollar*@
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2"><span style="color:red;">*</span> EOL:</div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;padding-right: 5px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToString("MM/dd/yyy")" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" name="EOL" value="" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2"><span style="color:red;">* </span> Countrify In:</div>
        <div class="col-md-6">
            <input type="hidden" name="Countries" id="countries">
            @Html.DropDownList("CountryId", new SelectList(Model.CountryList,
                         "countryId", "countryName"),
                         new { @id = "CountryId",@class="form-control", @multiselectidfor = "countries", @tabindex = "-1",@multiple="multiple" })
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <input type="submit" style="float:right;" class="btn btn-default" value="Add Part">
        </div>
    </div>
}


<script>    

    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        $('.select2-container').parent().css("margin-bottom", "15px");
        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });
    });
    $("input[name=optradio]:radio").change(function () {

        if ($(this).val() == "yes")
            $('#IsActive').val("true");
        else
            $('#IsActive').val("false");

    });

    $('#backToSearch').click(function () {
        window.location.href = "/catalog/searchdomesticcataloglist";
    });

    $('#CatalogForm').submit(function () {        
        if ($('#CustomerId').val().trim() == "") {
            alert("Please provide customer.");
            return false;
        }
        if ($('input[name="MfgPartId"]').val().trim() == "0") {
            alert("Please provide manufacturer part.");
            return false;
        }

        if ($('input[name="Description"]').val().trim() == "") {
            alert("Please provide a value for the part's description.");
            return false;
        }
        if ($('input[name="CostPrice"]').val().trim() == "") {
            alert("Please provide a numeric value for the part's price.");
            return false;
        }

        if ($('input[name="EOL"]').val().trim() == "") {
            alert("Please provide EOL.");
            return false;
        }

        if (new Date($('input[name="EOL"]').val()) <= new Date()) {
            alert("EOL should be a future date.");        
            return false;
        }
        var date1 = new Date();
        var date2 = new Date();
        var diff = new Date();

        var date1temp = new Date();
        date1.setTime(date1temp.getTime());

        var date2temp = new Date($('input[name="EOL"]').val().trim() + " 00:00:00");
        date2.setTime(date2temp.getTime());

        diff.setTime(Math.abs(date1.getTime() - date2.getTime()));

        var timediff = diff.getTime();
        var days = Math.floor(timediff / (1000 * 60 * 60 * 24));
        if (days > 60) {
            alert("Lifespan of the part should be less than 60 days.");
            return false;
        }
        if ($('#countries').val().trim()=="") {
            alert("Please provide atleast one country.");
            return false;
        }
        StartLoader();
    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('.date-picker').datepicker("setDate", "+0");
        $(this).parent().siblings().find('input').val("");
    });
    function GetSKU() {
        window.location.href = "/manufacturer-part-search/0";
        StartLoader();
    }

    $('#CustomerId').change(function () {
        if ($(this).val().trim() != "0") {
            window.location.href = "/add-domestic-part/" + $(this).val()+"/0";
            StartLoader();
        }
    });
</script>
