﻿@model List<OneSourceAdminCore.Entity.usp_GetPartInfoAdjustedPrice_R_Result>
@{
    ViewBag.Title = "Catalog List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Tracking > Catalog </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
<div class="row" style="padding-top: 50px;">
    @if (Model != null && Model.Count >= 500)
    {  <div class="col-md-12">
        <div style="float: right;font-size: 12px;font-weight: 700;font-style: italic;padding-top: 10px;">Returning the first 500 results; try narrowing your search criteria</div>
    </div>
    }



    <div class="col-md-12" style="color:red"> Price in @(ViewBag.CurrencyName ?? "")</div>
    <div class="col-md-12">

        @using GridMvc.Html;
        @if (Model != null)
            {
            @Html.Grid(Model).Columns(columns =>
           {
           columns.Add(c => c.ManufacturerSKU).Sortable(true).Filterable(true).Titled("SKU").SetWidth(30);


           columns.Add(C => C.PartDescription).Sortable(true).Filterable(true).Titled("Description").Encoded(false).Sanitized(false).SetWidth(5)
    .RenderValueAs(o => @<span>

                <input type="hidden" class="ManufacturerPartID" value="@o.ManufacturerPartID">
                @if (!string.IsNullOrEmpty(o.PartInfo))
                {
                    <a style="color:#3b9cd3" onclick="GoToDescription('@(o.ManufacturerPartID)')" data-href="@(o.PartInfo)" class="companyGridAnc">@o.PartDescription</a>
                }
                else if (o.IsCnetUpdate != null && o.IsCnetUpdate == true)
                {
                    <a style="color:#3b9cd3" onclick="GoToDescription('@(o.ManufacturerPartID)')" data-href="@("/partinfo.asp?mfgpartid=" + o.ManufacturerPartID+"&sku="+o.ManufacturerSKU)" class="companyGridAnc">@o.PartDescription</a>
                }
                else
                {
                    <text>@o.PartDescription</text>
                }
            </span>);

               columns.Add(c => c.AdjustedGlobalPrice).Sortable(true).Filterable(true).Titled("Price").SetWidth(30);
               columns.Add(c => c.ManufacturerName).Sortable(true).Filterable(true).Titled("Manufacturer").SetWidth(30);
               columns.Add(c => c.PartCategoryName).Sortable(true).Filterable(true).Titled("PartCategory").SetWidth(30);

           }).WithPaging(15)
        }
    </div>
</div>
<script>

    function GoToDescription(urldata) {
        window.location.href = "/part-detail/" + urldata;
        StartLoader();
    }
    $(function () {
        var message = '@ViewBag.Message';
        if (message.length > 0) {
            showNotification(message);
        }
    });
    $("select").each(function (i, e) {
        if ($(this).attr("multiple") != "multiple") {
            $(this).select2({ allowClear: true });
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "/catalog";
    });
</script>