﻿@model OneSourceAdminCore.Model.CatalogBundleDetailModel
@{
    ViewBag.Title = "Catalog Bundle Info";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Tracking >  Catalog Bundles > Detail</b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <h3><b>@(Model.ProductSpecification.Description ?? "")</b></h3>
    <div class="col-md-12" style="padding-top:10px">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            <img src="/osimages/bundles/@(Model.DefaultImage?? "GS_PNA.jpg")" alt="No Image Found" border="1">
        </div>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <h3><b>Product Specifications</b></h3>
    <table class="table table-bordered">
        <tbody>

            <tr>
                <td>@(Html.Raw(Model.ProductSpecification.Comments ?? ""))</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="row" style="padding-top: 20px;">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:#3b9cd3;color:white">
                <td>Description</td>
                <td>Manufacturer</td>
                <td>SKU</td>
                <td>Quantity</td>
                <td> Optional</td>
            </tr>
        </thead>
        <tbody>

            @if (Model.ItemList.Count > 0)
            {
                foreach (var item in Model.ItemList)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.SKU</td>
                        <td>@item.Quantity</td>
                        <td>@(item.IsOption == true ? "Yes" : "No")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>No record Found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('#backToSearch').click(function () {
        window.location.href = "/catalog/searchcatalogbundlelist";
    });
</script>