﻿@model List<OneSourceAdminCore.Entity.sp_getCatalogBundles_AdminR_Result>
@{
    ViewBag.Title = "Catalog List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Tracking > Catalog Bundle List </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
<div class="row" style="padding-top: 50px;">
    @if (Model != null && Model.Count >= 500)
    {  <div class="col-md-12">
        <div style="float: right;font-size: 12px;font-weight: 700;font-style: italic;padding-top: 10px;">Returning the first 500 results; try narrowing your search criteria</div>
    </div>
    }

    <div class="col-md-12">

        @using GridMvc.Html;
        @if (Model != null)
            {
            @Html.Grid(Model).Columns(columns =>
           {          
           columns.Add(C => C.Description).Sortable(true).Filterable(true).Titled("Description").Encoded(false).Sanitized(false).SetWidth(5)
    .RenderValueAs(o => @<span>

                <input type="hidden" class="CatalogStandardID" value="@o.CatalogStandardID">
               
                <a style="color:#3b9cd3" onclick="GoToDescription('@(o.CatalogStandardID)')" data-href="@("/catalog-bundle-detail/" + o.CatalogStandardID)" class="companyGridAnc">@Html.Raw(o.Description)</a>
                          
            </span>);

               columns.Add(c => c.KeyIdentifier).Sortable(true).Filterable(true).Titled("Identifier").SetWidth(30);
               columns.Add(c => c.Type).Sortable(true).Filterable(true).Titled("Type").SetWidth(30);
               columns.Add(c => c.Category).Sortable(true).Filterable(true).Titled("Category").SetWidth(30);
               columns.Add(c => c.Active).Sortable(true).Filterable(true).Titled("Active").SetWidth(30);

           }).WithPaging(15)
        }
    </div>
</div>
<script>

    function GoToDescription(urldata) {
        window.location.href = "/catalog-bundle-detail/" + urldata;
        StartLoader();
    }
    $(function () {
        var message = '@ViewBag.Message';
        if (message.length > 0) {
            showNotification(message);
        }
    });
    $("select").each(function (i, e) {
        if ($(this).attr("multiple") != "multiple") {
            $(this).select2({ allowClear: true });
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "/catalog-bundle";
    });
</script>