﻿@model List<OneSourceAdminCore.Entity.sp_getDomesticCatalog_AdminR_Result>
@{
    ViewBag.Title = "Catalog List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Tracking > Catalog </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
<div class="row" style="padding-top: 50px;">
    <div class="col-md-12">
        <div class="col-md-3" style="padding-bottom: 10px;    padding-left: 0px;">
            <input type="button" value="Add New Part" class="btn btn-default" id="btnAddPart">
        </div>
        @if (Model != null && Model.Count >= 500)
        {  <div class="col-md-9">
            <div style="float: right;font-size: 12px;font-weight: 700;font-style: italic;padding-top: 10px;">Returning the first 500 results; try narrowing your search criteria</div>
        </div>
        }
    </div>
    <div class="col-md-12">

        @using GridMvc.Html;
        @if (Model != null)
            {
            @Html.Grid(Model).Columns(columns =>
       {



       columns.Add(C => C.ManufacturerSKU).Sortable(true).Filterable(true).Titled("SKU").Encoded(false).Sanitized(false).SetWidth(5)
.RenderValueAs(o => @<span>
            <a style="color:#3b9cd3" onclick="GoToDescription('@(o.CustomerPartID)','@(o.CustomerId)')" class="companyGridAnc">@o.ManufacturerSKU</a>

        </span>);
           columns.Add(c => c.PartDescription).Sortable(true).Filterable(true).Titled("Description").SetWidth(30);
           columns.Add(c => c.PartCategoryName).Sortable(true).Filterable(true).Titled("Category").SetWidth(30);
           columns.Add(c => c.ManufacturerName).Sortable(true).Filterable(true).Titled("MFG").SetWidth(30);
           columns.Add(c => c.CountryName).Sortable(true).Filterable(true).Titled("Country").SetWidth(30);
           columns.Add(c => c.isactive).Sortable(true).Filterable(true).Titled("Active").SetWidth(30);



       }).WithPaging(15)
        }
    </div>
</div>
<script>

    function GoToDescription(customerPartId, customerId) {
        window.location.href = "/domestic-part/" + customerPartId + "/" + customerId;
        StartLoader();
    }
    $(function () {
        var message = '@ViewBag.Message';
        if (message.length > 0) {
            showNotification(message);
        }
    });
    $("select").each(function (i, e) {
        if ($(this).attr("multiple") != "multiple") {
            $(this).select2({ allowClear: true });
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "/domestic-catalog";
    });

    $('#btnAddPart').click(function () {
        window.location.href = "/add-domestic-part/0/0"
    });
</script>