﻿@model OneSourceAdminCore.Model.DomesticCatalogPartModel
@{
    ViewBag.Title = "Domestic Part";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-6" style="padding:10px; color:#FFF;"><b> Tracking > Domestic Catalog > View/Edit Catalog Part </b></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
@using (Html.BeginForm("AddUpdateDomesticPart", "Catalog", FormMethod.Post, new { @id = "CatalogForm" }))
{
    <input type="hidden" name="CustomerPartID" value="@(Model.Partdetail.CustomerPartID)">
    <input type="hidden" name="CustomerID" value="@(Model.Partdetail.CustomerID)">

    <div class="col-md-12" style="padding-top: 50px;">
        <div class="col-md-2">Customer:</div>
        <div class="col-md-6">

            @(Model.Partdetail.CustomerName ?? "")

        </div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2">Country:</div>
        <div class="col-md-6">@(Model.Partdetail.CountryName ?? "")</div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2">SKU:</div>
        <div class="col-md-6">@(Model.Partdetail.ManufacturerSKU ?? "")</div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2"><span style="color:red;">*</span> Description:</div>
        <div class="col-md-5"><input type="text" maxlength="3500" class="form-control" name="PartDescription" value="@(Model.Partdetail.PartDescription ?? "")"></div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2"><span style="color:red;">*</span> Cost Price:</div>
        <div class="col-md-5"><input type="text" maxlength="6" class="form-control numericwithdecimal" name="PartPrice" value="@(String.Format("{0:0.00}", Model.Partdetail.PartPrice))"></div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2">Currency:</div>
        <div class="col-md-5">
            @Html.DropDownList("PartPriceCurrencyID", new SelectList(Model.Currencies,
                         "Key", "Value", Model.Partdetail.PartPriceCurrencyID),
                         new { @id = "PartPriceCurrencyID", @tabindex = "-1" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2"><span style="color:red;">*</span> EOL:</div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;padding-right: 5px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" name="EOL" value="@(Model.Partdetail.EOL==null?"":Convert.ToDateTime(Model.Partdetail.EOL).ToString("MM/dd/yyy"))" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2">Active:</div>
        <div class="col-md-6">
            @if (Model.Partdetail.IsActive)
            {

                <label class="radio-inline">
                    <input type="radio" value="yes" checked name="optradio">Yes
                </label>
                <label class="radio-inline" style="margin-left: 100px;">
                    <input type="radio" value="no" name="optradio">No
                </label>

                <input type="hidden" name="IsActive" id="IsActive" value="true">
            }
            else
            {

                <label class="radio-inline">
                    <input type="radio" value="yes" name="optradio">Yes
                </label>
                <label class="radio-inline" style="margin-left: 100px;">
                    <input type="radio" value="no" checked name="optradio">No
                </label>

                <input type="hidden" name="IsActive" id="IsActive" value="false">
            }
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <input type="submit" style="float:right" class="btn btn-default" value="@(Model.Partdetail.CustomerPartID==0?"Add":"Update")">
        </div>
    </div>
}

<div class="col-md-12" style="padding-top: 15px;">
    <hr>
</div>


@using (Html.BeginForm("CountrifyPart", "Catalog", FormMethod.Post, new { @id = "CountrifyForm" }))
{
    <div class="col-md-12" style="padding-top: 15px;">
        <div><input type="submit" class="btn btn-default" value="Countrify+"></div>
    </div>
    <div class="col-md-12" style="padding-top: 15px;">
        <input type="hidden" name="customerPartId" value="@(Model.Partdetail.CustomerPartID)">
        <input type="hidden" name="customerId" value="@(Model.Partdetail.CustomerID)">

        <input type="hidden" name="countries" id="countries">
        @Html.DropDownList("CountryID", new SelectList(Model.Partcountry, "CountryID", "CountryName"),
                            new { @id = "CountryID", @class = "form-control", @multiselectidfor = "countries", @multiple = "multiple", @tabindex = "-1", @style = "height: 150px !important;" })
    </div>
}



<script>
    $('.resetDate').click(function () {
        $(this).parent().parent().find('.date-picker').datepicker("setDate", "+0");
        $(this).parent().siblings().find('input').val("");
    });
    $('#CountrifyForm').submit(function () {
        if ($('#CountryID').val() == null) {
            alert("Please select atleast one country.");
            return false;
        }
        StartLoader();
    });

    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        $('.select2-container').parent().css("margin-bottom", "15px");
        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });
    });
    $("input[name=optradio]:radio").change(function () {

        if ($(this).val() == "yes")
            $('#IsActive').val("true");
        else
            $('#IsActive').val("false");

    });

    $('#backToSearch').click(function () {
        window.location.href = "/catalog/searchdomesticcataloglist";
    });

    $('#CatalogForm').submit(function () {      
        if ($('input[name="PartDescription"]').val().trim() == "") {
            alert("Please provide a value for the part's description.");
            return false;
        }
        if ($('input[name="PartPrice"]').val().trim() == "") {
            alert("Please provide a numeric value for the part's price.");
            return false;
        }
 
        if ($('input[name="EOL"]').val().trim() == "") {
            alert("Please provide EOL.");
            return false;
        }

        if (new Date($('input[name="EOL"]').val()) <= new Date()) {
            alert("EOL should be a future date.");            
            return false;
        }
        var date1 = new Date();
        var date2 = new Date();
        var diff = new Date();

        var date1temp = new Date();
        date1.setTime(date1temp.getTime());

        var date2temp = new Date($('input[name="EOL"]').val().trim() + " 00:00:00");
        date2.setTime(date2temp.getTime());

        diff.setTime(Math.abs(date1.getTime() - date2.getTime()));

        var timediff = diff.getTime();
        var days = Math.floor(timediff / (1000 * 60 * 60 * 24));
        if (days > 60) {
            alert("Lifespan of the part should be less than 60 days.");
            return false;
        }
        
        StartLoader();
    });

</script>
