﻿@model List<OneSourceAdminCore.Model.ManufacturerPartModel>
@{
    ViewBag.Title = "Manufacturer Part Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-8" style="padding:10px; color:#FFF;"><b> Tracking > Domestic Catalog >Add Catalog Part >Manufacturer Part Search</b></div>
    <div class="col-md-4" style="padding:10px;">    
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">  
    </div>
</div>
@using (Html.BeginForm("GetManufacturerPartP", "Catalog", FormMethod.Get, new { @id = "CatalogForm" }))
{
<div class="col-md-12" style="padding-top: 50px;">
    <div class="col-md-2"><span style="color:red;">*</span> Enter SKU:</div>
    <div class="col-md-6">

        @if (string.IsNullOrEmpty(ViewBag.CurrentSKU) || ViewBag.CurrentSKU.ToString() == "0" || ViewBag.CurrentSKU.ToString() == "-1")
        {
            <input type="text" name="sku" class="form-control" value="">
        }
        else
        {
            <input type="text" name="sku" class="form-control" value="@ViewBag.CurrentSKU.ToString()">
        }
   
     </div>
    <div class="col-md-2"><input type="submit" value="Search" class="btn btn-default btnSearchSKU"></div>
</div>
}
<div class="col-md-12" style="padding-top:15px">

    @using GridMvc.Html;
    @if (Model != null)
            {
        @Html.Grid(Model).Columns(columns =>
       {
       
       columns.Add(C => C.ManufacturerSKU).Sortable(true).Filterable(true).Titled("SKU").Encoded(false).Sanitized(false).SetWidth(5)
.RenderValueAs(o => @<span>
            <a style="color:#3b9cd3" onclick="GoToDescription('@(o.ManufacturerPartID)')" class="companyGridAnc">@o.ManufacturerSKU</a>

        </span>);
           columns.Add(c => c.Description).Sortable(true).Filterable(true).Titled("Description").SetWidth(30);
           columns.Add(c => c.PartCategoryName).Sortable(true).Filterable(true).Titled("Part Category").SetWidth(30);
           columns.Add(c => c.ManufacturerName).Sortable(true).Filterable(true).Titled("Manufacturer").SetWidth(30);           

       }).WithPaging(15)
    }
</div>
<script>
    function GoToDescription(manufacturerPartId) {
        window.location.href = "/add-domestic-part/@Session["CurrentCatCustId"].ToString()/" + manufacturerPartId;
        StartLoader();
    }
    //$('.btnSearchSKU').click(function () {       
    //    window.location.href = "/manufacturer-part-search/" + $('input[name="sku"]').val();
    //    StartLoader();
    //});
    $('#backToSearch').click(function () {
        window.location.href = "/add-domestic-part/0/0";
    });
   
</script>