﻿@model OneSourceAdminCore.Model.PartDetailModel
@{
    ViewBag.Title = "Part Info";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Tracking > Part Info</b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <h3><b>@(Model.partInfoModel.StdnDesc ?? "")</b></h3>
    <div class="col-md-12">
        <div class="col-md-4"><b>Manufacturer:</b></div>
        <div class="col-md-4">@(Model.partInfoModel.Manufacturer ?? "-")</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4"><b>SKU:</b></div>
        <div class="col-md-4">@(Model.partInfoModel.SKU ?? "-")</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4"><b>Product line:</b></div>
        <div class="col-md-4">@(Model.partInfoModel.ProdLine ?? "-")</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4"><b>Model:</b></div>
        <div class="col-md-4">@(Model.partInfoModel.Model ?? "-")</div>
    </div>
    <div class="col-md-12" style="padding-top:10px">
        <div class="col-md-11">
            @Html.Raw(Model.partInfoModel.MarketingDesc ?? "-")
        </div>
        <div class="col-md-1">
            <img src="/cnetimages/@(Model.partInfoModel.ImageID).jpg" alt="No Image Found" border="1">
        </div>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <h3><b>Main Specifications</b></h3>
    <table class="table table-bordered">
        <tbody>
            @if (Model.partMainSpecification.Count > 0)
            {
                foreach (var item in Model.partMainSpecification)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Body</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>No record Found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row" style="padding-top: 20px;">
    <h3><b>Extended Specifications</b></h3>
    <table class="table table-bordered">
        <tbody>
            @{
                var data = Model.partExtendedSpecification.GroupBy(x => x.Section, (key, g) => new { section = key, lst = g.ToList() }).ToList();
            }
            @if (Model.partExtendedSpecification.Count > 0)
            {
                foreach (var item in data)
                {
                    <tr style="background-color:lightgray;font-size:15px">
                        <td colspan="2">@(item.section ?? "")</td>
                    </tr>
                    foreach (var item1 in item.lst)
                    {
                        <tr>
                            <td>@item1.Header</td>
                            <td>@item1.Body</td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td>No record Found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('#backToSearch').click(function () {
        window.location.href = "/catalog/searchcataloglist";
    });
</script>