﻿
@model OneSourceAdminCore.Model.SFACatalogModel
@{
    ViewBag.Title = "Search Catalog Parts";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .col-md-8 {
        padding-bottom: 10px;
    }
</style>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Tracking > Search Catalog Parts</b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
@*<div class="col-md-12" style="margin-top: 40px;">
  
        <input type="button" style="float:right;" value="Add New Part" class="btn btn-default" id="btnAddPart">
  
</div>*@

<div class="os-admin-tabs cards">
    <!-- Tab panes -->

    <div class="col-md-12 tab-content" style="margin-top: 40px;">
        <div role="tabpanel" class="tab-pane active" id="home">
            @using (Html.BeginForm("SearchDomesticCatalogRequest", "Catalog", FormMethod.Post, new { @id = "SubmitForm", @enctype = "multipart/form-data" }))
            {
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label>Customer:</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownList("customerId", new SelectList(Model.CustomerList, "Key", "Value"), new { @id = "customerId", @tabindex = "-1" })
                    </div>                
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Country:</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownList("countryId", new SelectList(Model.CountryList, "Key", "Value", Model.countryId), new { @id = "countryId", @tabindex = "-1" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Manufactured:</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownList("manufacturerId", new SelectList(Model.ManufacturerList, "Key", "Value"), new { @id = "manufacturerId", @tabindex = "-1" })
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label>Enter Product SKU or Description:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" name="productSearchBy" id="productSearchBy" value="SKU">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <input type="radio" style="height: 15px;" checked class="form-control" name="productSearchType" value="SKU" data-id="procurement" />
                            </div><div class="col-md-6">SKU</div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="col-md-6">
                                <input type="radio" style="height: 15px;" class="form-control" name="productSearchType" value="Name" data-id="procurement" />
                            </div>
                            <div class="col-md-6">Description</div>
                        </div>
                        <div>
                            <input type="text" value="<All>" style="margin-bottom: 0px;" maxlength="50" name="ProductSKUName" id="ProductSKUName" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Category:</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownList("partCategoryId", new SelectList(Model.CategoryList, "Key", "Value"), new { @id = "partCategoryId", @tabindex = "-1" })
                    </div>                  
                    <div class="clearfix"></div>       
                </div>
                <div class="col-md-12 back-btn">
                    <button type="submit" class="btn btn-default btnSubmit" id="per">GO</button>
                </div>
            }
            </div>
        </div>
    </div>
    <script>
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('input[name="productSearchType"]').change(function () {           
            $('#productSearchBy').val($(this).val());
        });

        $('#SubmitForm').submit(function () {          
            if ($('#ProductSKUName').val().trim() != "<All>") {
                if ($('#ProductSKUName').val().trim() == "") {
                    alert("Please enter product description or SKU");
                    return false;
                }
            }
            else {                
                $('#ProductSKUName').val('');
            }
            StartLoader();
        });
        $('#backToSearch').click(function () {
            window.location.href = "/admin-dashboard";
        });
        $('#btnAddPart').click(function () {
            window.location.href = "/add-domestic-part/0/0"
        });
    </script>