﻿@model List<OneSourceAdminCore.Entity.tblAdminMenu>

@{
    ViewBag.Title = @ViewBag.MenuName + " Reports";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    .subMenu a:hover {
        color: #d23023!important;
        text-decoration :none
    }
    .subMenu a {
    display: list-item !important;
    list-style: square;
}
</style>

<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Dashboard > @ViewBag.MenuName</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">
    </div>
</div>
<div class="os-admin-companies">

    <h1>@ViewBag.MenuName</h1>
    <hr />
    <br />
    @if (Model != null && Model.Count > 0)
    {

        foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="subMenu" style="margin-bottom:30px; font-weight:bold; font-size:1.1em;border-bottom: solid 1px #a2a2a2;height:50px">
                    @*<i class=""></i><a href="@item.MenuLink" style="text-decoration: none;color: white"> @item.MenuName </a>*@
                    @if (item.MenuName == "Part Detail Report" || item.MenuName == "SLA - GSP Pricing - Old Quotes"
                      || item.MenuName == "New Quote Response" || item.MenuName == "Old Quote Response")
                    {
                        @Html.ActionLink(item.MenuName, "RouteToURL", "Report", new { route = item.MenuLink, id = item.MenuId, typeId = item.ParentMenuId }, new { title="MSRP", style = "color:#3f80ab;" })
                    }
                    else
                    {
                        @Html.ActionLink(item.MenuName, "RouteToURL", "Report", new { route = item.MenuLink, id = item.MenuId, typeId = item.ParentMenuId }, new { style = "color:#3f80ab;" })
                    }
                  </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-12">
            <div style='margin-top:10px;margin-bottom:0px;' class='alert alert-warning'> No reports found in this section!</div>
        </div>
    }
</div>


