﻿
@model OneSourceAdminCore.Model.OrderDetailModel
<link href="~/Content/assets/admin/layout/css/OrderStatusBar.css" rel="stylesheet" />

<div class="col-md-12 back-btn" style="padding-bottom: 15px;">
    @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print Excel</button>*@
    <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="downloadPDF()">Print PDF</button>
    @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print</button>*@
</div>
<div class="clearfix"></div>
<div class="container" style="max-width: 1000px !important;">
    <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-xs-2 bs-wizard-step  N">
            <div class="text-center bs-wizard-stepnum"><b>Order placed</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-2 bs-wizard-step  A">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum"><b>Order accepted by supplier</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-2 bs-wizard-step Z">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum"><b>Order placed with OEM</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-2 bs-wizard-step P">
            <!-- active -->
            <div class="text-center bs-wizard-stepnum"><b>Order partially shipped</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-2 bs-wizard-step C">
            <!-- active -->
            <div class="text-center bs-wizard-stepnum"><b>Order complete/Delivered</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
    </div>
</div>
@using (Html.BeginForm("UpdateOrderDetail", "OrderSearch", FormMethod.Post, new { @id = "OrderDetailForm", @enctype = "multipart/form-data" }))
{
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;    
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }

    <div class="col-md-6">
        <div class="col-md-4">
            <label>Order No:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.SessionTrackingNumber + "-" + Model.OrderDetail.OrderTrackingNumber + "-" + Model.OrderDetail.DestinationTrackingNumber)</p>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Ordered By:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.UserName ?? "")</p>
            <input type="hidden" id="SessionTrackingNumber" name="SessionTrackingNumber" value="@(Model.OrderDetail.SessionTrackingNumber)">
            <input type="hidden" id="OrderTrackingNumber" name="OrderTrackingNumber" value="@(Model.OrderDetail.OrderTrackingNumber)">
            <input type="hidden" id="DestinationTrackingNumber" name="DestinationTrackingNumber" value="@(Model.OrderDetail.DestinationTrackingNumber)">
            <input type="hidden" name="OrderDate" value="@(Model.OrderDetail.OrderDate)">
           

        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Order Date: <span style="font-size: 10px;">(@DateFormate)</span></label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.OrderDate == null ? "" : Model.OrderDetail.OrderDate.ToString(DateFormateView))</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>User Email:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.Email ?? "")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Order PO:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.OrderPO ?? "")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Destination PO:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.DestinationPO == null ? "" : Model.OrderDetail.DestinationPO.ToString())</p>
        </div>
        <div class="clearfix"></div>   
        <div class="col-md-4">
            <label>Country:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.OrderCountry ?? "")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Delivery Address:</label>
        </div>
        <div class="col-md-8">
            <p>
                @(Model.OrderDetail.ShippingCondensedAddress ?? "-")<br>@(Model.OrderDetail.ShippingAddress1 ?? "-")<br>
                @(Model.OrderDetail.ShippingAddress2 ?? "-")<br>@(Model.OrderDetail.ShippingCity ?? "-")<br>
                @(Model.OrderDetail.ShippingStateProvinceRegion ?? "-")<br> @(Model.OrderDetail.ShippingPostalCode ?? "-")<br>@(Model.OrderDetail.ShippingCountryName ?? "-")
            </p>
        </div>
        <div class="clearfix"></div>
      
        <div class="col-md-4">
            <label>Contact:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.ShippingContact ?? "-")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Basket Name:</label>
        </div>
        <div class="col-md-8">
            <p>@(string.IsNullOrEmpty(Model.BasketName) ? "-" : Model.BasketName) </p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Quote#:</label>
        </div>
        <div class="col-md-8">
            @(Model.QuoteId > 0 ? Model.QuoteId.ToString() : "-")
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>SMB Quote#:</label>
        </div>
        <div class="col-md-8">
            @(Model.SMBQuoteId > 0 ? Model.SMBQuoteId.ToString() : "-")
        </div>
        <div class="clearfix"></div>   
        <div class="col-md-4" style="display:none">
            <label>Supplier Invoice Date: <span style="font-size: 10px;">(@DateFormate)</span></label>
        </div>
        <div class="col-md-8" style="display:none">
            <div class="form-group">
                <div class="col-md-9" style="padding-left: 0px;">
                    <div style="width:190px!important" class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="@DateFormate" data-date-viewmode="years">
                        <input type="text" name="SFAInvoiceDate" value="@(Model.OrderDetail.SupplierInvoiceDate == null ? "" : Convert.ToDateTime(Model.OrderDetail.SupplierInvoiceDate).ToString(DateFormateView))" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
 
        
        <div class="clearfix"></div>
    </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <label>Company:</label>
            </div>
            <div class="col-md-8">
                @(Model.OrderDetail.CustomerName ?? "-")
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>User Phone:</label>
            </div>
            <div class="col-md-8">
                @(Model.OrderDetail.WorkPhoneNumber ?? "-")
            </div>         
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Order Total:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.OrderDetail.Total == null ? "" : String.Format("{0:0.##}", Model.OrderDetail.Total))</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Currency:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.OrderDetail.Currency ?? Model.OrderDetail.Currency)</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Shipping Method:</label>
            </div>
            <div class="col-md-8">
                <p style="color:red">@(Model.ShippingMethod ?? "-")</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Accepted Date: <span style="font-size: 10px;">(@DateFormate)</span></label>
            </div>
            <div class="col-md-8" style="padding-bottom: 15px;">
                <div class="form-group">
                    <div class="col-md-9" style="padding-left: 0px;">
                        <div style="width:190px!important" class="input-group input-medium date date-picker" @*data-date="@DateTime.Now"*@ data-date-format="@DateFormate" data-date-viewmode="years">
                            <input type="text" name="DateAcceptedBySupplier" value="@(Model.OrderDetail.DateAcceptedBySupplier == null ? "" : Convert.ToDateTime(Model.OrderDetail.DateAcceptedBySupplier).ToString(DateFormateView))" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Total VAT:</label>
            </div>
            <div class="col-md-8">
                <input type="text" maxlength="8" value="@(Model.OrderDetail.VAT == null ? "" :  String.Format("{0:0.##}",Model.OrderDetail.VAT))" name="VAT" class="form-control numericwithdecimal" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Shipping Charges:</label>
            </div>
            <div class="col-md-8">
                <input type="text" maxlength="8" value="@(Model.OrderDetail.ShippingAmount == null ? "" :String.Format("{0:0.##}", Model.OrderDetail.ShippingAmount))" name="ShippingAmount" class="form-control numericwithdecimal" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Invoice Number:</label>
            </div>
            <div class="col-md-8">
                <input type="text" maxlength="250" value="@(Model.OrderDetail.InvoiceNumber == null ? "" : Model.OrderDetail.InvoiceNumber.ToString())" name="InvoiceNumber" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>Invoice Address:</label>
            </div>
            <div class="col-md-8">
                <p>
                    @(Model.OrderDetail.BillingCondensedAddress ?? "-")<br>@(Model.OrderDetail.BillingAddress1 ?? "-")<br>
                    @(Model.OrderDetail.BillingAddress2 ?? "-")<br>@(Model.OrderDetail.BillingCity ?? "-")<br>
                    @(Model.OrderDetail.BillingStateProvinceRegion ?? "-")<br> @(Model.OrderDetail.BillingPostalCode ?? "-")<br>@(Model.OrderDetail.BillingCountryName ?? "-")
                </p>
            </div>
            <div class="clearfix"></div>
            
            <div class="clearfix"></div>
            <div style="display:none" class="col-md-4">
                <label>Supplier Invoice Number:</label>
            </div>
            <div style="display:none" class="col-md-8" style="padding-bottom: 15px;">
                <input type="text" maxlength="250" value="@(Model.OrderDetail.SupplierInvoiceNumber == null ? "" : Model.OrderDetail.SupplierInvoiceNumber.ToString())" name="SupplierInvoiceNumber" class="form-control" />

            </div>
       
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Contact:</label>
            </div>
            <div class="col-md-8">
                @(Model.OrderDetail.BillingContact ?? "-")
            </div>

            <div class="clearfix"></div>
            <div class="col-md-4" style="display:none">
            </div>
            <div class="col-md-8" style="display:none">
                <button type="button" class="btn btn-default btnUpdateInvoiceDetail">Update Invoice Details</button>
            </div>

        </div>
     
        <div class="clearfix"></div>
       
        <div class="col-md-12 back-btn">
            <button type="button" class="btn btn-default btnCancel" id="per">Cancel</button>
            <button type="submit" class="btn btn-default btnSubmit" id="per">Update</button>
        </div>
}

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            @using (Html.BeginForm("ChangesAndCancellationRequest", "OrderSearch", FormMethod.Post, new { @id = "sendCommentForm", @enctype = "multipart/form-data" }))
            {
                <div class="modal-header" style="background-color: #399bd3;color: white;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="font-weight:800">Order Change/Cancellation Request - Comments</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-12"><p><b>Note: This request will be handled on a best effort basis.</b></p></div>
                    <div class="clearfix"></div>
                    <input type="hidden" id="SessionTrackingNumber" name="SessionTrackingNumber" value="@(Model.OrderDetail.SessionTrackingNumber)">
                    <input type="hidden" id="OrderTrackingNumber" name="OrderTrackingNumber" value="@(Model.OrderDetail.OrderTrackingNumber)">
                    <input type="hidden" id="DestinationTrackingNumber" name="DestinationTrackingNumber" value="@(Model.OrderDetail.DestinationTrackingNumber)">
                    <div class="col-md-12">
                        <textarea cols="15" rows="6" class="form-control" name="Comments"></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <p>
                            <b>
                                Enter order change/cancellation comments for the
                                current order (destination) only.
                            </b>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }

        </div>
    </div>
</div>
<script>

    $(function () {
        getOrderStatus(@Model.OrderDetail.SessionTrackingNumber);
    });

    $('.btnUpdateInvoiceDetail').click(function () {

        var SFAInvoiceDate = $('input[name="SFAInvoiceDate"]').val();
        if (SFAInvoiceDate != "") {
            SFAInvoiceDate = new Date(SFAInvoiceDate);

            if (SFAInvoiceDate > new Date()) {
                alert('Invoice Date cannot be after current day.');
                return false;
            }
        }
        else {
            alert('Please provide Invoice Date.');
            return false;
        }
        if ($('input[name="SupplierInvoiceNumber"]').val().trim() == "") {
            alert("Supplier Invoice Number is required.");

            $("input[name='SupplierInvoiceNumber']").focus();
            return false;
        }
        showHideLoader(1);
        var data = {
            SessionTrackingNumber: $('#SessionTrackingNumber').val(),
            OrderTrackingNumber: $('#OrderTrackingNumber').val(),
            DestinationTrackingNumber: $('#DestinationTrackingNumber').val(),
            SFAInvoiceDate: $('input[name="SFAInvoiceDate"]').val(),
            SFAInvoiceNumber: $('input[name="SupplierInvoiceNumber"]').val()
        }


        $.ajax({
            url: '/OrderSearch/UpdateInvoiceDetail',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data!="0" && data!="-1" ) {

                    window.location.href = "/order-detail/" + data;
                }
                else if (data == "0") {
                    showNotification("No Record was updated.");
                }
                else if (data == "-1") {
                    showNotification("Error Occured");
                }

            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    });
    $(".btnCancel").click(function () {
        location.reload();
    });


    $("#OrderDetailForm").submit(function () {

        if ($('#hDateFormatId').val() == "0" || $('#hDateFormatId').val() == "1") {
            var strDate = "";

            if ($("input[name='SFAInvoiceDate']").val().trim() != "") {
                strDate = $("input[name='SFAInvoiceDate']").val();
                var arrStrDate = strDate.split('/');
                strDate = arrStrDate[1] + "/" + arrStrDate[0] + "/" + arrStrDate[2];
                $("input[name='SFAInvoiceDate']").val(strDate);
            }
            if ($("input[name='DateAcceptedBySupplier']").val().trim() != "") {
                strDate = $("input[name='DateAcceptedBySupplier']").val();
                var arrStrDate = strDate.split('/');
                strDate = arrStrDate[1] + "/" + arrStrDate[0] + "/" + arrStrDate[2];
                $("input[name='DateAcceptedBySupplier']").val(strDate);
            }
        }


        var orderDate=$("input[name='OrderDate']").val().trim();
        if (orderDate == "") {
            alert("Order Date is required");
            return false;
        }
        var DateAcceptedBySupplier = $('input[name="DateAcceptedBySupplier"]').val();

        if(DateAcceptedBySupplier!=""){
            DateAcceptedBySupplier=new Date(DateAcceptedBySupplier);
            orderDate = new Date(orderDate);
            if (orderDate > DateAcceptedBySupplier) {
                alert("Order Date cannot be after Date Accepted.");
                return false;
            }
        }
        showHideLoader(1);
    });
    function getOrderStatus(sessionTrackingNo) {
        $.ajax({
            url: '/OrderSearch/GetOrderStatusCode?sessionTrackingNo=' + sessionTrackingNo,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (response) {
                $('.container').find('.' + response).addClass('complete').next().addClass('active disabled').nextAll().addClass('disabled');
                $('.container').find('.' + response).prevAll().addClass('complete');
            }
        });
    }

    function downloadPDF() {
        window.location = "/OrderSearch/ExportOrderDetailToPdf?sessionTrackingNumber=" + '@Model.SessionTrackingNumber' + "-" + '@(Model.OrderDetail.OrderTrackingNumber)' + "-" + '@Model.OrderDetail.DestinationTrackingNumber';
    }
</script>
