﻿@model OneSourceAdminCore.Model.OrderDetailModel
@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    @if (Model != null)
    {
        <div class="col-md-6" style="padding:10px; color:#FFF;"><b> Search > Order > Order Detail (@(Model.OrderDetail.SessionTrackingNumber)-@(Model.OrderDetail.OrderTrackingNumber)-@(Model.OrderDetail.DestinationTrackingNumber)) </b></div>
    }
    else
    {
        <div class="col-md-6" style="padding:10px; color:#FFF;"><b> Search > Order > Order Detail  </b></div>

    }
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important;">
    </div>
</div>
<div class="os-admin-tabs cards">
    <!-- Nav tabs -->
    @if (Model != null)
    {
        <input type="hidden" id="SessionTrackingNumber" name="SessionTrackingNumber" value="@(Model.OrderDetail.SessionTrackingNumber)">
        <input type="hidden" id="OrderTrackingNumber" name="OrderTrackingNumber" value="@(Model.OrderDetail.OrderTrackingNumber)">
        <input type="hidden" id="DestinationTrackingNumber" name="DestinationTrackingNumber" value="@(Model.OrderDetail.DestinationTrackingNumber)">
        <input type="hidden" id="CustomerName" name="CustomerName" value="@(Model.OrderDetail.CustomerName)">
        <input type="hidden" id="Status" name="Status" value="@(Model.OrderDetail.Status)">
        <input type="hidden" id="hDateAcceptedBySupplier" name="hDateAcceptedBySupplier" value="@(Model.OrderDetail.DateAcceptedBySupplier)">
        <input type="hidden" id="hDateFormatId" value="@Session["DateFormatID"].ToString()">

        <ul class="nav nav-tabs" role="tablist" style="margin-top: 25px;">
            <input type="hidden" id="currentTabId" value="@(Session["currentTabId"])" />
            <li role="presentation" class="active"><a href="#order-detail" aria-controls="home" role="tab" data-toggle="tab">Order Details</a></li>
            <li role="presentation"><a href="#order-item" onclick="GetView('OrderItem')" aria-controls="order-item" role="tab" data-toggle="tab">Order Item</a></li>
            <li role="presentation"><a href="#order-comments" onclick="GetView('OrderComments')" aria-controls="order-comments" role="tab" data-toggle="tab">Comments</a></li>
            <li role="presentation"><a href="#order-attachment" onclick="GetView('OrderAttachments')" aria-controls="order-attachment" role="tab" data-toggle="tab">Attachments</a></li>
        </ul>

    <!-- Tab panes -->
        <div class="col-md-12 tab-content">
            <div role="tabpanel" class="tab-pane active" id="order-detail">
                @Html.Partial("~/Views/OrderSearch/SFA/_OrderDetail_SFA.cshtml", Model)
            </div>
            <div role="tabpanel" class="tab-pane" id="order-item">

            </div>
            <div role="tabpanel" class="tab-pane" id="order-comments">

            </div>
            <div role="tabpanel" class="tab-pane" id="order-attachment">

            </div>


        </div>
        <div class="clearfix"></div>
    }
    else
    {
        <div style="color:red  ; padding-top: 40px;font-size: x-large;"><p>No record found.</p></div>
    }
</div>


<script>
    $(window).load(function () {
        ActivateTabFromUrlOrSession();
    });
    $(function () {

        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        HtmlActions();
    });

    function HtmlActions() {
        $('.date-picker').datepicker({
            autoclose: true,
            //onSelect: function (dateText, inst) {
            //    var date = $(this).val();
            //    var time = $('#time').val();
            //    alert('on select triggered');
            //    $("#start").val(date + time.toString(' HH:mm').toString());

            //}
        });

        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('.select2-container').parent().css("margin-bottom", "15px");
    }


    $('body').on('click', '.resetDate', function () {

        $(this).parent().parent().find('input').val("");
    });



    $('#backToSearch').click(function () {
        window.location.href = "/searched-order-list";
    });
    function GetView(viewName) {

        var data = {
            SessionTrackingNumber: $('#SessionTrackingNumber').val(),
            OrderTrackingNumber: $('#OrderTrackingNumber').val(),
            DestinationTrackingNumber: $('#DestinationTrackingNumber').val(),
            CustomerName: $('#CustomerName').val(),
            Status: $('#Status').val(),
            DateAcceptedBySupplier: $('#hDateAcceptedBySupplier').val()
        }
        if (viewName == 'OrderItem') {
            showHideLoader(1);
            $.ajax({
                url: '/OrderSearch/GetOrderItems',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#order-item').html(data);
                        HtmlActions();
                        $('[data-toggle="tooltip"]').tooltip();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                    if ($('input[name="deleteItem"]').val() == "true") {
                        alert("All Items related to this order has been deleted, redirecting to search page....");
                        window.location.href = "/searched-order-list/500/50/" + $('#SessionTrackingNumber').val() + "-" + $('#OrderTrackingNumber').val() + "-" + $('#DestinationTrackingNumber').val();
                    }
                }
            });
        }
        else if (viewName == 'OrderComments') {
            showHideLoader(1);
            $.ajax({
                url: '/OrderSearch/GetOrderComments',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#order-comments').html(data);
                    }
                    else {
                        showNotification("Error occured.");
                    }

                },
                complete: function (data) {
                    showHideLoader(0);

                }
            });
        }
        else if (viewName == 'OrderAttachments') {
            showHideLoader(1);
            $.ajax({
                url: '/OrderSearch/GetOrderAttachments',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#order-attachment').html(data);
                        HtmlActionsForAttachment();
                    }

                },
                complete: function (data) {
                    showHideLoader(0);

                }
            });
        }

    }
    function HtmlActionsForAttachment() {

        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
            $('#headerMsg').text("");
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $('input[type="file"]').change(function () {


            if ($(this).get(0).files.length > 0) {

                for (var i = 0; i < $(this).get(0).files.length; i++) {

                    var name = $(this).get(0).files[i].name;
                    name = name.substring(0, name.lastIndexOf('.'));

                    if (name.length > 100) {
                        alert('File name is too long, File name must have 100 or less characters');
                        $(this).val('');
                        return false;
                    }

                }


            }
        });

    }

</script>

