﻿@model OneSourceAdminCore.Model.AMModel
@{
    ViewBag.Title = "AM Communication";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > AM Communication </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
@if (ViewBag.AddEditAccess == true)
{
    using (Html.BeginForm("AddAMData", "AM", FormMethod.Post, new { @id = "AMForm" }))
    {
        @*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
                <div class="col-md-4">
                    <h1 style="color: #fff;">AM Communication</h1>
                </div>
                <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
                </div>
                <div class="col-md-4"></div>
            </div>*@

        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>Customer</label>
                    <div class="col-md-6">
                        <input type="hidden" name="CustomerName" id="CustomerName">
                        <input type="hidden" name="tblAMCommunicationId" id="tblAMCommunicationId">
                        <input type="hidden" name="Month">
                        <input type="hidden" name="Year">
                        @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
                 "Key", "Value"), "--Select--",
new { @id = "CustomerID", @valueFor = "CustomerName", @class = "form-control ", @tabindex = "-1"/*, ng_change = "updateCustomer(id)"*/ })

                    </div>
                </div>
            </div>
        </div>
        @*<div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Month-Year</label>
                        <div class="col-md-5">

                            <div class="input-group input-medium date date-picker" id="datepicker" data-date="@DateTime.Now.Date" data-date-format="mm-yyyy" data-date-viewmode="years">
                                <input type="text" name="datetime" value="@DateTime.Now.Date.Date.ToString("MM-yyyy")" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>

                        </div>
                        <div class="col-md-1">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>Start Date</label>
                    <div class="col-md-5">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.Date.AddMonths(-3).Date.ToString("MM/dd/yyyy")" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="DurationStartDate" value="@DateTime.Now.Date.AddMonths(-3).Date.ToString("MM/dd/yyyy")" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>End Date</label>
                    <div class="col-md-5">
                        <div class="input-group input-medium date date-picker endDate" data-date="@DateTime.Now.Date" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="DurationEndDate" value="@DateTime.Now.Date.Date.ToString("MM/dd/yyyy")" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>Live Chats </label>
                    <div class="col-md-6">
                        <input type="text" maxlength="8" class="form-control" name="LiveChats" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>Phone Calls </label>
                    <div class="col-md-6">
                        <input type="text" maxlength="8" class="form-control" name="PhoneCalls" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>Emails </label>
                    <div class="col-md-6">
                        <input type="text" maxlength="8" class="form-control" name="Emails" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-4"></div>
            <div class="col-md-7" style=" padding-left: 23px;">
                <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
            </div>
            <br>
            <br>
        </div>
    }
}
<br>
<br>
<div class="row">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.AMDataList != null && Model.AMDataList.Count > 0)
        {
            @Html.Grid(Model.AMDataList).Columns(columns =>
              {
                  columns.Add(C => C.CustomerName).Sortable(true).Filterable(true).Titled("Customer").Encoded(false).Sanitized(false).SetWidth(5)
        .RenderValueAs(o => @<span><input type="hidden" value="@o.tblAMCommunicationId"><input type="hidden" value="@o.CustomerId">@o.CustomerName</span>);
              // columns.Add(c => c.Year).Sortable(true).Filterable(true).Titled("Year").SetWidth(30);
              //columns.Add(c => c.Month).Sortable(true).Filterable(true).Titled("Month").SetWidth(30);
              columns.Add(c => c.strStartDate).Sortable(true).Filterable(true).Titled("Start Date").SetWidth(30);
              columns.Add(c => c.strEndDate).Sortable(true).Filterable(true).Titled("End Date").SetWidth(30);
              columns.Add(c => c.LiveChats).Sortable(true).Filterable(true).Titled("Live Chats").SetWidth(30);
              columns.Add(c => c.PhoneCalls).Sortable(true).Filterable(true).Titled("Phone Calls").SetWidth(30);
              columns.Add(c => c.Emails).Sortable(true).Filterable(true).Titled("Emails").SetWidth(30);
              if (ViewBag.AddEditAccess == true)
              {
                  columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
          RenderValueAs(o => @<a style="color:blue" onclick="EditAlert(this)">Edit </a>);
                  columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
                       RenderValueAs(o => @<a style="color:blue" onclick="DeleteAlert(this)">Delete </a>);
                  }

              }).WithPaging(15)
        }
    </div>
</div>
<script>

    $('#CustomerID').change(function () {

        $('.grid-row').each(function () {
            var grid = $(this);

            if ($(grid.find('input')[1]).val() == $('#CustomerID').val()) {
                $(grid.find('a')[0]).click();
            }

        });


        // $($($('.grid-row')[0]).find('input')[0]).val()
    });

    function DeleteAlert(event) {
        if (confirm("Are you sure you want to delete this record?")) {
            StartLoader();
            var tblAMCommunicationId = $(event).parent().parent().find('input:hidden').val();
            window.location.href = '/AM/Delete?id=' + tblAMCommunicationId;
        }
    }
    $('#AMForm').submit(function () {



        if ($("#CustomerID").val() === '') {
            alert('Please provide customer');
            return false;
        }
        //if ($("input[name='datetime']:text").val().trim() === '') {
        //    alert("Please provide date");
        //    return false;
        //}
        if ($("input[name='LiveChats']").val() === '') {
            alert('Please provide live chat');
            return false;
        }

        if ($("input[name='PhoneCalls']").val() === '') {
            alert('Please provide phone call');
            return false;
        }

        if ($("input[name='Emails']").val() === '') {
            alert('Please provide email');
            return false;
        }

        // if (!isvalid) {  };
        var isValidForm = true;
        $('input[style]').each(function () {
            if ($(this).css('border-color') == "rgb(255, 0, 0)") {

                isValidForm = false;
                return false;
            }
        });
        if (!isValidForm) {
            alert("Please provide correct data");
            return false;
        }
        if ($("input[name='DurationStartDate']:text").val().trim() === '') {
            alert("Please provide start date");
            return false;
        }
        if ($("input[name='DurationEndDate']:text").val().trim() === '') {
            alert("Please provide end date");
            return false;
        }
        if ($("input[name='DurationEndDate']:text").val().trim() !== '') {
            if (new Date($("input[name='DurationStartDate']:text").val()) >= new Date($("input[name='DurationEndDate']:text").val())) {
                alert("Please provide start date less than end date");
                return false;
            }
        }


        var data = $("input[name='datetime']").val();
        $("input[name='Month']").val(data.split('-')[0]);
        $("input[name='Year']").val(data.split('-')[1]);
    });


    $('.btnReset').click(function () {
        $('#CustomerID').val("").removeAttr('disabled');
        $("input[name='LiveChats']").val('');
        $("input[name='PhoneCalls']").val('');
        $("input[name='Emails']").val('');
        $("input[name='datetime']").val('');
        $("input[name='tblAMCommunicationId']").val('');
        $("input[name='DurationStartDate']").val('');
        $("input[name='DurationEndDate']").val('');

    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('.date-picker').datepicker("setDate", "+0");
        $(this).parent().siblings().find('input').val("");
    });
    function EditAlert(event) {
        var id = $($(event).parent().parent().find('input:hidden')[0]).val();
        $('#tblAMCommunicationId').val(id);

        var data = $(event).parent().parent().find("td[data-name='Month']").text() + "-" + $(event).parent().parent().find("td[data-name='Year']").text();
        $("input[name='datetime']").val(data);

        data = $(event).parent().parent().find("td[data-name='CustomerName']").text();
        $("input[name='CustomerName']").val(data);


        data = $(event).parent().parent().find("td[data-name='LiveChats']").text();
        $("input[name='LiveChats']").val(data);

        data = $(event).parent().parent().find("td[data-name='PhoneCalls']").text();
        $("input[name='PhoneCalls']").val(data);

        data = $(event).parent().parent().find("td[data-name='Emails']").text();
        $("input[name='Emails']").val(data);

        data = $(event).parent().parent().find("td[data-name='strStartDate']").text();
        $("input[name='DurationStartDate']").val(data);

        data = $(event).parent().parent().find("td[data-name='strEndDate']").text();
        $("input[name='DurationEndDate']").val(data);

        $('#CustomerID').val($($(event).parent().parent().find('input:hidden')[1]).val()).attr('disabled', 'disabled');

        $('body').animate({ scrollTop: 0 }, 'slow');


        isvalid = true;


    }
    $(document).ready(function () {
        StartLoader();
        var dateToday = new Date();
        //  dateToday.setMonth(0);
        //$('.date-picker').datepicker({
        //    todayHighlight: true,
        //    startDate: dateToday,
        //    minViewMode: 'months',
        //    viewMode: 'months',
        //    pickTime: false,
        //    autoclose: true
        //});

        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true
        });

        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);
    });
    $(window).load(function () {
        EndLoader();
    });
    var isvalid = false;
    $('body').on('keyup change', 'input[name="LiveChats"], input[name="Emails"],input[name="PhoneCalls"]', function () {
        var inputField = $(this);
        var value = inputField.val();
        var intRegex = /^\d+$/;

        var isvalid1 = intRegex.test(value);

        if (isvalid1 || value == "") {
            $(this).css('border-color', '#e5e5e5');
            isvalid = true;
        } else {

            $(this).css('border-color', 'red');
            isvalid = false;
        }
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".amcommunicationsetting").addClass("active");
    });
</script>