﻿@model OneSourceAdminCore.Model.ExchageRateModel
@{
    ViewBag.Title = "Exchange Rate";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Alert > Exchange Rate </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
@if (ViewBag.AddEditAccess == true)
{
    using (Html.BeginForm("AddExchangeRateAlert", "ExchangeRate", FormMethod.Post, new { @id = "ExchangeRateForm", @enctype = "multipart/form-data" }))
    {
    @*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
        <div class="col-md-4">
            <h1 style="color: #fff;">Exchange Rate</h1>
        </div>
        <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
        </div>
        <div class="col-md-4"></div>
    </div>*@
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3" ><span style="color:red">* </span>Country </label>
                <div class="col-md-7">
                    <input type="hidden" name="CountryName" id="CountryName">
                    <input type="hidden" name="ExchangeRateAlertId" id="ExchangeRateAlertId">
                    <input type="hidden" name="CountryId" id="hCountryId">
                    @Html.DropDownList("CountryID", new SelectList(Model.Countries,
                 "Key", "Value"), "--Select--",
new { @id = "CountryID", @valueFor = "CountryName", @class = "form-control ", @tabindex = "-1" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">&nbsp;&nbsp; </span>Customer </label>
                <div class="col-md-7">
                    <input type="hidden" name="CustomerName" id="CustomerName">
                    @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
                 "Key", "Value"), "All",
new { @id = "CustomerID", @valueFor = "CustomerName", @class = "form-control ", @tabindex = "-1" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Start Date</label>
                <div class="col-md-5">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.Date" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                        <input type="text" name="StartDate" value="@DateTime.Now.Date.Date.ToString("MM/dd/yyyy")" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color: red; padding-left: 11px;"> </span>End Date</label>
                <div class="col-md-5">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.Date" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                        <input type="text" name="EndDate" value="@DateTime.Now.Date.Date.ToString("MM/dd/yyyy")" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">

                <label class="control-label col-md-3" style=" padding-left: 25px;">Choose File</label>
                <div class="col-md-5">
                    <div class="input-group" style="width: 270px;">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse… <input id="fileQuoteRequest" class="btn btn-default attachFile" name="attachFile" type="file">
                            </span>
                        </span>
                        <input type="text" class="form-control fileUploadTxtBox" name="FileName" readonly="">
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="resetFile" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <label style="font-weight: 700;font-size: 10px;margin-left: 7px;">Note: the maximum size of attachment file is 10MB</label>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Alert</label>
                <div class="col-md-7" style=" height: 100px !important;">
                    <textarea rows="4" name="Alert" class="form-control" cols="45"></textarea>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="col-md-4"></div>
        <div class="col-md-7" style=" padding-left: 23px;">
            <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
            <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
        </div>
        <br>
        <br>
    </div>

    }
}
<br>
<br>
<div class="row">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.ExchangeRateAlerts != null && Model.ExchangeRateAlerts.Count > 0)
        {
            @Html.Grid(Model.ExchangeRateAlerts).Columns(columns =>
            {
                columns.Add(C => C.CountryName).Sortable(true).Filterable(true).Titled("Country").Encoded(false).Sanitized(false).SetWidth(5)
                    .RenderValueAs(o => @<span><input type="hidden" value="@o.ExchangeRateAlertId"><input type="hidden" value="@o.CountryId"><input type="hidden" value="@o.FileName"><input type="hidden" value="@o.CustomerId.ToString()">@o.CountryName</span>);
            columns.Add(c => c.CustomerName).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Customer").SetWidth(30)
            .RenderValueAs(x => @<span>@(!string.IsNullOrEmpty(x.CustomerName) == true ? x.CustomerName : "All")</span>);


            columns.Add(c => c.strStartDate).Sortable(true).Filterable(true).Titled("Start Date").SetWidth(30);
            columns.Add(c => c.strEndDate).Sortable(true).Filterable(true).Titled("End Date").SetWidth(30);
            columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Alert").
                SetWidth(30).RenderValueAs(x => @<span fullval="@x.Alert">@(x.Alert.Length > 50 ? x.Alert.Substring(0, 50) + "..." : x.Alert)</span>);
                columns.Add(c => c.FileName).Sortable(true).Filterable(true).Titled("FileName").Encoded(false).Sanitized(false).SetWidth(5) 
               .RenderValueAs(o => @<a style="color: blue" onclick="Download(this)">@o.FileName </a>);
            if (ViewBag.AddEditAccess == true)
            {
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
                    RenderValueAs(o => @<a style="color: blue" onclick=" EditAlert(this) ">Edit </a>);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
                    RenderValueAs(o => @<a style="color: blue" onclick=" DeleteAlert(this) ">Delete </a>);
                }
            }).WithPaging(15)
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        StartLoader();
        var dateToday = new Date();
        $('.date-picker').datepicker({
            todayHighlight: true,
            startDate: dateToday,
            autoclose: true
        });
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);
    });
    $(window).load(function () {
        EndLoader();
    });
    function Download(event) {
        window.location = '/ExchangeRate/DownloadAttachement?csaId=' + $(event).parent().parent().find('input:hidden').val();
    }
    function EditAlert(event) {
        var id = $($(event).parent().parent().find('input:hidden')[0]).val();
        $('#ExchangeRateAlertId').val(id);
        id = $($(event).parent().parent().find('input:hidden')[1]).val();
        $('#CountryID').val(id);
        $('#CountryName').val($(event).parent().parent().find("td[data-name='CountryName']").find('span').text());
        var date = $(event).parent().parent().find("td[data-name='strStartDate']").text();
        $("input[name='StartDate']").val(date);
        date = $(event).parent().parent().find("td[data-name='strEndDate']").text();
        $("input[name='EndDate']").val(date);
        $("textarea[name='Alert']").val($(event).parent().parent().find("td[data-name='strEndDate']").next().find('span').attr('fullval'));
        $('body').animate({ scrollTop: 0 }, 'slow');
        $('.fileUploadTxtBox').val($($(event).parent().parent().find('input:hidden')[2]).val());
        $('#CountryID').attr('disabled', 'disabled');
        $('#hCountryId').val(id);

        var id = $($(event).parent().parent().find('input:hidden')[3]).val();
        $('#CustomerID').val(id == 0 ? '' : id);
        $('#CustomerName').val(id == 0 ? '' : $('#CustomerID option:selected').text());
    }

    function DeleteAlert(event) {
        if (confirm("Are you sure you want to delete this record?")) {
            StartLoader();
            var currentExchangeRateId = $(event).parent().parent().find('input:hidden').val();
            window.location.href = '/ExchangeRate/DeleteAlert?id=' + currentExchangeRateId;
        }
    }

    //For Country
    $("#CountryID").change(function () {
        $('#ExchangeRateAlertId').val('0');
        $("#hCountryId").val($(this).val());
    });

    $('#ExchangeRateForm').submit(function () {
        if ($("#CountryID").val() === '') {
            alert('Please provide country');
            return false;
        }
        if ($("input[name='StartDate']:text").val().trim() === '') {
            alert("Please provide start date");
            return false;
        }
        if ($("input[name='EndDate']:text").val().trim() !== '') {
            if (new Date($("input[name='StartDate']:text").val()) > new Date($("input[name='EndDate']:text").val())) {
                alert("Please provide start date less than end date");
                return false;
            }
        }

        if ($("textarea[name='Alert']").val().trim() === '') {
            alert('Please provide alert');
            return false;
        }

        if ($('.attachFile').get(0).files.length <= 0) {
            //alert('Please provide file');
            //return false;
        } else {
            var length = $('.attachFile').get(0).files[0].name.split('.').length;
            var fileExtension = '.' + ($('.attachFile').get(0).files[0].name.split('.')[length-1]).toLowerCase();
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" || fileExtension == ".msg" || fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt extension');
                return false;
            }

        }
        if ($('.attachFile').get(0).files.length > 0) {
            if ($('.attachFile').get(0).files[0].name.length > 176) {
                alert('File name is too long, File name must have 175 or less characters');
                return false;
            }
            if ($('.attachFile').get(0).files[0].size > 10485760) {
                alert('File size must be less than 10 MB');
                return false;
            }
        }

        $('#CountryID').removeAttr('disabled');
        $('#CustomerName').val($('#CustomerID').val() == '' ? '' : $('#CustomerID option:selected').text());

        StartLoader();
    });

    $('.btnReset').click(function () {
        $('#ExchangeRateAlertId').val('0');
        $('#hCountryId').val('');
        $('#CountryID').val('');
        $("input[name='StartDate']").val('');
        $("input[name='EndDate']").val('');
        $("textarea[name='Alert']").val('');
        $('#CountryID').removeAttr('disabled');
        $('.attachFile').val("");
        $('.fileUploadTxtBox').val("");
        $('#CustomerID').val("");
        $('#CustomerName').val("");
    });

    $('.date-picker').click(function () {
        if ($(this).find('input').val().trim() !== '') {
            $(this).datepicker("setDate", new Date($(this).find('input').val()));
        }
    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('.date-picker').datepicker("setDate", "+0");
        $(this).parent().siblings().find('input').val("");
    });

    $('.resetFile').click(function () {
        $(this).parent().parent().find('.attachFile').val("");
        $('.fileUploadTxtBox').val("");
    });



    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });

        //$('.date-picker').on('changeDate', function (ev) {
        //    $(this).datepicker('hide');
        //});
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".alert").addClass("open");
        $(".page-sidebar-menu .alert").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .alert").find(".exchangeratealert").addClass("active");
    });
</script>