﻿@using GridMvc.Html
@model List<OneSourceAdminCore.Entity.Sp_GetServicesList_AdminR_Result>
@{
    ViewBag.Title = "Services ";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Support > Services</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">

    </div>
</div>




<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Support - Service Quotes</h1>

        <hr />
        <div style="font-size: 11px;">
            @if (Model != null && Model.Count > 0)
            {
                <div>
                    @Html.Grid(Model).Columns(columns =>
               {
                   columns.Add(C => C.QuoteTrackingNo).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Quote Tracking #").SetWidth(30);

                   columns.Add(C => C.QuoteName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Name").SetWidth(20);

                   columns.Add(C => C.Company).Encoded(false).Sanitized(false).Sortable(true).Titled("Company").SetWidth(20);

                   columns.Add(C => C.User).Encoded(false).Sanitized(false).Sortable(true).Titled("User").SetWidth(20);

                   columns.Add(C => C.StartDate).Encoded(false).RenderValueAs(x=>(x.StartDate != null)? x.StartDate.Value.ToString("M/dd/yyyy"):"-").Sanitized(false).Sortable(true).Titled("Start Date").SetWidth(60);

                   columns.Add(C => C.EndDate).Encoded(false).RenderValueAs(x => (x.EndDate != null) ? x.EndDate.Value.ToString("M/dd/yyyy") : "-").Sanitized(false).Sortable(true).Titled("End Date").SetWidth(40);


               }).WithPaging(50)
                </div>
            }


        </div>
    </div>
</div>