﻿@model OneSourceAdminCore.Model.CurrencySetupModel
@{
    ViewBag.Title = "Currencies";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Locale Settings > Currencies </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        @if (ViewBag.AddEditAccess == true)
        {
            <input class="btn btn-default topAddNewButton" style="float:right !important;" id="addNewCurrency" value="Add New Currency" type="button">
        }
    </div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
<div class="addEditDiv">
    @if (ViewBag.AddEditAccess == true)
    {
        using (Html.BeginForm("AddEditCurrency", "Currency", FormMethod.Post, new { @id = "CurrencyForm" }))
        {
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>ISO Currency </label>
                        <div class="col-md-7">
                            <input type="hidden" name="ISOCurrencyName" id="ISOCurrencyName">
                            <input type="hidden" name="ISOCurrencyId" id="ISOCurrencyId">
                            @Html.DropDownList("CurrencyCodeID", new SelectList(Model.ISOCurrenciesList,
             "CurrencyCodeID", "ISOCurrencyName"), "--Select--",
new { @id = "CurrencyCodeID", @valueFor = "ISOCurrencyName", @class = "form-control ", @tabindex = "-1" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Currency Name</label>
                        <div class="col-md-7">
                            <input type="text" name="CurrencyName" maxlength="50" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Currency Symbol</label>
                        <div class="col-md-7">
                            <input type="text" name="CurrencySymbol" maxlength="3" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Symbol</label>
                        <div class="col-md-7">
                            <input type="text" name="Symbol" maxlength="3" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Country </label>
                        <div class="col-md-7">
                            <input type="hidden" name="CurrencyID" id="CurrencyID">
                            <input type="hidden" name="hCountryId" id="hCountryId">
                            @Html.DropDownList("CountryID", new SelectList(Model.CountriesList,
             "Key", "Value"), "--Select--",
new { @id = "CountryId", @valueFor = "CountryName", @class = "form-control ", @tabindex = "-1" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <label class="control-label col-md-3"><span style="color: red; padding-left: 11px;"> </span>Is Active</label>
                    <div class="col-md-7">
                        <div class="">
                            <input type="hidden" name="IsActive" id="IsActive">
                            <input type="checkbox" id="chkIsActive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row updatedDateDiv" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3">&nbsp;&nbsp;&nbsp;Updated(mm/dd/yyyy)</label>
                        <div class="col-md-7">
                            <label style="padding-left: 0px;" class="control-label col-md-5 updatedDate">-</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row updatedByDiv" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3">&nbsp;&nbsp; Last Updated By</label>
                        <div class="col-md-7">
                            <label style="padding-left: 0px;" class="control-label col-md-5 updatedBy">-</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-4"></div>
                <div class="col-md-7" style=" padding-left: 23px;">
                    <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                    <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
                </div>
                <br>
                <br>
            </div>

        }
    }
</div>
<br>
<br>
@helper RenderIsActiveButton(int currencyid, string isActive)
{
if (@ViewBag.AddEditAccess == true)
{
    if (isActive == "Yes")
    {
            <input class="isActiveListButton" data-currencyid="@currencyid" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
    }
    else
    {
            <input class="isActiveListButton" data-currencyid="@currencyid" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
    }
}
else
{
    if (isActive == "True")
    {
            <text>Yes</text>
    }
    else
    {
            <text>No</text>
    }

}
}
<div class="row">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.CurrenciesList != null && Model.CurrenciesList.Count > 0)
        {
            @Html.Grid(Model.CurrenciesList).Columns(columns =>
              {
                  columns.Add(C => C.currencyname).Sortable(true).Filterable(true).Titled("Currency").Encoded(false).Sanitized(false).SetWidth(5)
        .RenderValueAs(o => @<span><input type="hidden" value="@o.CurrencyCodeID"><input type="hidden" value="@o.CountryID"><input type="hidden" value="@o.CurrencySymbol"><input type="hidden" value="@o.Symbol"><input type="hidden" class="hIsactive" value="@o.Active"><input type="hidden" value="@o.currencyid">@o.currencyname</span>);
              columns.Add(c => c.Symbol).Sortable(true).Filterable(true).Titled("Symbol").SetWidth(30);
              columns.Add(c => c.Country).Sortable(true).Filterable(true).Titled("Country").SetWidth(30);
              columns.Add(C => C.Active).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Active").RenderValueAs(p => RenderIsActiveButton(p.currencyid, p.Active)).SetWidth(10);
              if (@ViewBag.AddEditAccess == true)
              {
                  columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
              RenderValueAs(o => @<a style="color:blue" onclick="Edit(this)">Edit </a>);
                  }

              }).WithPaging(15)
        }
    </div>
</div>
<script>
    $(function () {
        StartLoader();
        $('.addEditDiv').hide();
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);


    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".currency").addClass("active");
    });
    $('#addNewCurrency').click(function () {
        //$('.addEditDiv').toggle();

        $('input[name="CurrencyName"]').attr('disabled', 'disabled');
        $('input[name="CurrencySymbol"]').attr('disabled', 'disabled');
        $('#CurrencyCodeID').removeAttr('disabled');
        //$('input[name="Symbol"]').removeAttr('disabled');
        $('.updatedDateDiv').hide();
        $('.updatedByDiv').hide();

        if ($('.addEditDiv:visible').length == 0) {
            $('.addEditDiv').show();
        }
        else {
            $('.btnReset').click();
        }

        $.ajax({
            url: '/Currency/GetISOCurrenciesForAdd',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "0") {
                    alert("Error Occured");
                }
                else {
                    var s = '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value=' + data[i].CurrencyCodeID + '>' + data[i].ISOCurrencyName + '</option>';
                    }
                    $('#CurrencyCodeID').html(s);
                }
            }
        });



    });
    $(window).load(function () {
        EndLoader();
    });
    $('#CurrencyCodeID').change(function () {

        if ($(this).val() != "") {
            //$('input[name="Symbol"]').val("");
            //$('#CountryId').val("");
            if (data == "0") {
                alert("Error Occured");
            }
            else {
                var currencyCodeID = $(this).val();
                var data = { currencyCodeID: currencyCodeID }
                StartLoader();
                $.ajax({
                    url: '/Currency/GetNewISOInfo',
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        $('input[name="CurrencyName"]').val(data.ISOCurrencyName);
                        $('input[name="CurrencySymbol"]').val(data.ISOCurrencyCode);

                        EndLoader();
                    }
                });
            }
        }
        else {
            $('.btnReset').click();
        }
    });

    function Edit(event) {
        StartLoader();
        $('input[name="CurrencyName"]').removeAttr('disabled');
        $('input[name="CurrencySymbol"]').removeAttr('disabled');
        $('#CurrencyCodeID').attr('disabled', 'disabled');
        $('.updatedDateDiv').show();
        $('.updatedByDiv').show();

        var currencyId = $($(event).parent().parent().find('input:hidden')[5]).val();
        var data = { currencyId: currencyId }

        $.ajax({
            url: '/Currency/GetISOCurrencies',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "0") {
                    alert("Error Occured");
                }
                else {
                    var s = '<option value="">--Select--</option>';
                    for (var i = 0; i < data.IsoCurrencies.length; i++) {
                        s += '<option value=' + data.IsoCurrencies[i].CurrencyCodeID + '>' + data.IsoCurrencies[i].ISOCurrencyName + '</option>';
                    }
                    $('#CurrencyCodeID').html(s);


                    var id = $($(event).parent().parent().find('input:hidden')[0]).val();
                    $('#CurrencyCodeID').val(id);
                    id = $($(event).parent().parent().find('input:hidden')[1]).val();
                    $('#CountryId').val(id);
                    $('input[name="CurrencyName"]').val($(event).parent().parent().find("td[data-name='currencyname']").find('span').text());
                    $('input[name="Symbol"]').val($($(event).parent().parent().find('input:hidden')[3]).val());
                    $('input[name="CurrencySymbol"]').val($($(event).parent().parent().find('input:hidden')[2]).val());
                    $('input[name="CurrencyID"]').val($($(event).parent().parent().find('input:hidden')[5]).val());

                    if (data.currenciesInfo[0].LastUpdated.length > 0) {
                        var jsonDate = data.currenciesInfo[0].LastUpdated;


                        $('.updatedDate').text(getStringDateFromJsonDate(jsonDate, '@DateTime.Now'));
                    }
                    $('.updatedBy').text(data.currenciesInfo[0].UserName);


                    $('body').animate({ scrollTop: 0 }, 'slow');

                    var isActive = $($(event).parent().parent().find('input:hidden')[4]).val();
                    if (isActive === "Yes") {
                        $('#chkIsActive').prop("checked", true);
                        $('#IsActive').val('True');
                    } else {
                        $('#chkIsActive').prop("checked", false);
                        $('#IsActive').val('False');
                    }
                    $('.addEditDiv').show();
                    EndLoader();
                }
            }
        });


    }
    $('#CurrencyForm').submit(function () {
        StartLoader();
        if ($('#CountryId').val() == "" || $('#CurrencyCodeID').val() == "" || $("input[name='CurrencyName']").val().trim() == "" || $("input[name='CurrencySymbol']").val().trim() == "" || $("input[name='Symbol']").val().trim() == "") {
            EndLoader();
            alert("Please provide required fields");
            return false;
        }
        $('input[name="CurrencyName"]').removeAttr('disabled');
        $('input[name="CurrencySymbol"]').removeAttr('disabled');
        $('input[name="Symbol"]').removeAttr('disabled');
        $('#CurrencyCodeID').removeAttr('disabled');
    });
    $('.btnReset').click(function () {

        $('input[name="CurrencyName"]').attr('disabled', 'disabled');
        $('input[name="CurrencySymbol"]').attr('disabled', 'disabled');
        $('#CurrencyCodeID').removeAttr('disabled');

        $('.updatedDateDiv').hide();
        $('.updatedByDiv').hide();



        $('#CurrencyCodeID').val('');
        $("input[name='CurrencyID']").val('0');
        $("input[name='CurrencyName']").val('');
        $("input[name='CurrencySymbol']").val('');
        $("input[name='Symbol']").val('');
        $('#CountryId').val("");
        $('#chkIsActive').prop("checked", false);
        $('.updatedDate').text("-");
        $('.updatedBy').text("-");

    });
    $('#chkIsActive').click(function () {
        $('#IsActive').val($(this).prop('checked'));
    });
    $('.isActiveListButton').change(function () {
        StartLoader();
        var checkbox = $(this);
        var data = {
            currencyId: $(this).data("currencyid"),
            isActive: $(this).prop("checked")
        };
        $.ajax({
            url: '/Currency/SetActiveStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "0") {
                    alert("Error Occured");
                }

                if (data > 0) {
                    alert("Currency has been updated successfully");
                    $(checkbox).parent().parent().parent().find('.hIsactive').val($(checkbox).prop("checked") == true ? "Yes" : "No");
                }
                else {
                    alert("No record was updated");
                }
                EndLoader();
            }
        });

    });
</script>