﻿@model OneSourceAdminCore.Model.ISOCurrencySetupModel
@{
    ViewBag.Title = "ISO Currencies";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Locale Settings > ISO Currencies </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        @if (ViewBag.AddEditAccess == true)
        {
            <input class="btn btn-default topAddNewButton" style="float:right !important;" id="addNewCurrency" value="Add New ISO Currency" type="button">
        }
    </div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
<div class="addEditDiv">
    @if (ViewBag.AddEditAccess == true)
    {
        using (Html.BeginForm("AddEditISOCurrency", "Currency", FormMethod.Post, new { @id = "CurrencyForm" }))
        {
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span style="color:red">* </span>ISO Currency Name:</label>
                        <div class="col-md-7">
                            <input type="text" name="ISOCurrencyName" maxlength="50" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span style="color:red">* </span>ISO Currency Code:</label>
                        <div class="col-md-7">
                            <input type="text" name="ISOCurrencyCode" maxlength="3" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span style="color:red">* </span>ISO Currency Code Num:</label>
                        <div class="col-md-7">
                            <input type="text" name="ISOCurrencyCodeNumber" maxlength="3" class="form-control allownumericwithoutdecimal">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span style="color:red">* </span>Default ISO Country: </label>
                        <div class="col-md-7">
                            @Html.DropDownList("CountryCodeID", new SelectList(Model.DefaultISOCurrencyList,
             "Key", "Value"), "--Select--",
new { @id = "CountryCodeID", @class = "form-control ", @tabindex = "-1" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;"> </span>Is Active:</label>
                    <div class="col-md-7">
                        <div class="">
                            <input type="hidden" name="IsActive" id="IsActive">
                            <input type="checkbox" id="chkIsActive">
                            <input type="hidden" name="CurrencyCodeId" id="CurrencyCodeId">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row updatedDateDiv" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">&nbsp;&nbsp;&nbsp;Updated(mm/dd/yyyy):</label>
                        <div class="col-md-7">
                            <label style="padding-left: 0px;" class="control-label col-md-5 updatedDate">-</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row updatedByDiv" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">&nbsp;&nbsp; Last Updated By:</label>
                        <div class="col-md-7">
                            <label style="padding-left: 0px;" class="control-label col-md-5 updatedBy">-</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <label class="control-label col-md-4"></label><div class="col-md-7">
                        <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                        <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
                    </div>
                </div>
                <br>
                <br>
            </div>
        }
    }
</div>
<br>
<br>
@helper RenderIsActiveButton(int currencycodeid, string isActive)
{
if (@ViewBag.AddEditAccess == true)
{
    if (isActive == "Yes")
    {
            <input class="isActiveListButton" data-isocurrencyid="@currencycodeid" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
    }
    else
    {
            <input class="isActiveListButton" data-isocurrencyid="@currencycodeid" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
    }
}
else
{
    if (isActive == "True")
    {
            <text>Yes</text>
    }
    else
    {
            <text>No</text>
    }
}

}
<div class="row">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.ISOCurrencyList != null && Model.ISOCurrencyList.Count > 0)
        {
            @Html.Grid(Model.ISOCurrencyList).Columns(columns =>
              {
                  columns.Add(C => C.isocurrencyname).Sortable(true).Filterable(true).Titled("ISO Currency").Encoded(false).Sanitized(false).SetWidth(5)
        .RenderValueAs(o => @<span><input type="hidden" value="@o.currencycodeid"><input type="hidden" value="@o.CountryCodeID"><input type="hidden" class="hIsactive" value="@o.Active"><input type="hidden" value="@o.UserName"><input type="hidden" value="@o.LastUpdated"><input type="hidden" value="@o.ISOCurrencyCodeNumber">@o.isocurrencyname</span>);
              columns.Add(c => c.Code).Sortable(true).Filterable(true).Titled("Code").SetWidth(30);
              columns.Add(c => c.Default_Country).Sortable(true).Filterable(true).Titled("Default Country").SetWidth(30);
              columns.Add(C => C.Active).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Active").RenderValueAs(p => RenderIsActiveButton(p.currencycodeid, p.Active)).SetWidth(10);

              if (@ViewBag.AddEditAccess == true)
              {
                  columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
              RenderValueAs(o => @<a style="color:blue" onclick="Edit(this)">Edit </a>);
                  }

              }).WithPaging(15)
        }
    </div>
</div>

<script>
    $(function () {
        StartLoader();
        $('.addEditDiv').hide();
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 3000);


    });
    $(window).load(function () {
        EndLoader();
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".isocurrency").addClass("active");
    });
    $('#chkIsActive').click(function () {
        $('#IsActive').val($(this).prop('checked'));
    });
    $('.btnReset').click(function () {
        $("input[name='CurrencyCodeId']").val('0');
        $('.updatedDateDiv').hide();
        $('.updatedByDiv').hide();

        $("input[name='ISOCurrencyName']").val('');
        $("input[name='ISOCurrencyCode']").val('');
        $('#CountryCodeID').val("");

        $('#chkIsActive').prop("checked", false);
        $('.updatedDate').text("-");
        $('.updatedBy').text("-");
        $('input[name="ISOCurrencyCodeNumber"]').val('')
    });
    $('#addNewCurrency').click(function () {
        $('.updatedDateDiv').hide();
        $('.updatedByDiv').hide();

        if ($('.addEditDiv:visible').length == 0) {
            $('.addEditDiv').show();
        }
        else {
            $('.btnReset').click();
        }

    });
    $('#CurrencyForm').submit(function () {
        StartLoader();
        if ($("input[name='ISOCurrencyName']").val() == "" || $("input[name='ISOCurrencyCode']").val() == "" || $('#CountryCodeID').val() == "" || $("input[name='ISOCurrencyCodeNumber']").val() == "") {
            EndLoader();
            alert("Please provide required fields");
            return false;
        }
        if ($("input[name='ISOCurrencyCode']").val().length != 3) {
            EndLoader();
            alert("Please enter a 3 character ISO Currency Code");
            return false;
        }
        if ($("input[name='ISOCurrencyCodeNumber']").val().length != 3) {
            EndLoader();
            alert("Please enter a 3 character ISO Currency Code Number");
            return false;
        }

    });
    $('.isActiveListButton').change(function () {
        StartLoader();
        var checkbox = $(this);
        var data = {
            isocurrencyId: $(this).data("isocurrencyid"),
            isActive: $(this).prop("checked")
        };
        $.ajax({
            url: '/Currency/SetISOActiveStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "0") {
                    alert("Error Occured");
                }

                if (data > 0) {
                    alert("ISO Currency has been updated successfully");
                    $(checkbox).parent().parent().parent().find('.hIsactive').val($(checkbox).prop("checked") == true ? "Yes" : "No");
                }
                else {
                    alert("No record was updated");
                }
                EndLoader();
            }
        });

    });
    function Edit(event) {
        StartLoader();
        $('.updatedDateDiv').show();
        $('.updatedByDiv').show();

        var id = $($(event).parent().parent().find('input:hidden')[0]).val();
        $('#CurrencyCodeId').val(id);
        id = $($(event).parent().parent().find('input:hidden')[1]).val();
        $('#CountryCodeID').val(id);

        $('input[name="ISOCurrencyName"]').val($(event).parent().parent().find("td[data-name='isocurrencyname']").find('span').text());
        $('input[name="ISOCurrencyCode"]').val($(event).parent().parent().find("td[data-name='Code']").text());
        $('input[name="ISOCurrencyCodeNumber"]').val($($(event).parent().parent().find('input:hidden')[5]).val());
        $('.updatedDate').text($($(event).parent().parent().find('input:hidden')[4]).val());

        $('.updatedBy').text($($(event).parent().parent().find('input:hidden')[3]).val());


        $('body').animate({ scrollTop: 0 }, 'slow');

        var isActive = $($(event).parent().parent().find('input:hidden')[2]).val();

        if (isActive === "Yes") {
            $('#chkIsActive').prop("checked", true);
            $('#IsActive').val('True');
        } else {
            $('#chkIsActive').prop("checked", false);
            $('#IsActive').val('False');
        }
        $('.addEditDiv').show();
        EndLoader();



    }

</script>
