﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GlobalServe</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../../Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../../Content/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../Content/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../Content/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../../Content/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />

</head>
<body class="login">

    @*<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'de,en,es,fr,it,ja,pt,ru,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
        }
    </script>*@
    @*<style>
        iframe.goog-te-banner-frame {
            visibility: hidden !important;
        }
    </style>*@
    @*<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>*@



    <div class="menu-toggler sidebar-toggler">
    </div>

    <div class="col-lg-12" style=" margin-top: -1%;">


        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="col-lg-2"></div>
            <div class="col-lg-2" style=""></div>
            <div class="col-lg-2" style=""></div>
            <div class="col-lg-4" style=""><div id="google_translate_element"></div></div>

        </div>


    </div>




    <div class="logo">
        <a>
            <img src="../../Content/assets/images/logo.png" class="img-responsive" alt="" />
        </a>
    </div>

    <div>
        @RenderBody()
    </div>

    
    <div class="copyright">Copyright © @DateTime.Now.Year GlobalServe, Inc - All Rights Reserved V4.1.3</div>

    <script src="../../Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../Content/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../Content/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="../../Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="../../Content/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="../../Content/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../../Content/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="../../Content/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="../../Content/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init();
        });
        //when user enter after giving password
        $(function () {
            $('input[name^=password]').keypress(function (e) {
                if (e.which == 13) {
                    $('.btn-success').click();
                }
            });
        });
    </script>

</body>
</html>
