﻿<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title> @ViewBag.Title | OneSource - GlobalServe Inc.</title>
    <meta content="" name="description" />
    <link href="/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="/Content/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/Content/Gridmvc.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" />
    <link href="/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.css" rel="stylesheet" />
    <link href="~/Content/multiple-select.css" rel="stylesheet" />

    <style>
        .icon-setting:before {
            content: url("/Content/images/settting.png");
        }

        .icon-procurement:before {
            content: url("/Content/images/alert13.png");
        }

        .icon-onestreet:before {
            content: url("/Content/images/onestreet.png");
        }

        table.grid-table .grid-header {
            position: relative;
            background-color: #3b9ad2;
            border: 0px solid #ddd;
        }

        #adshowblock {
            z-index: 99999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
        }

            #adshowblock .loader {
                z-index: 1;
                top: 50%;
                left: 50%;
                position: absolute;
                width: 65px;
            }

                #adshowblock .loader img {
                    width: 65px;
                }

                #adshowblockmaster {
            z-index: 99999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
        }

            #adshowblockmaster .loader {
                z-index: 1;
                top: 50%;
                left: 50%;
                position: absolute;
                width: 65px;
            }

                #adshowblockmaster .loader img {
                    width: 65px;
                }

        .searchGridResult {
            color: black;
            font-size: 12px;
            font-weight: 400;
            float: right;
            height: 30px;
            width: 200px;
        }

        .msgDiv {
            right: 0px;
            bottom: 0px;
            position: fixed;
            color: white;
            margin: auto;
            float: left;
            background: rgb(60, 86, 101) none repeat scroll 0% 0%;
            font-weight: bold;
            font-size: 150%;
            width: auto;
            border: 1px solid rgb(13, 39, 54);
            height: auto;
            padding: 10px 5px;
            opacity: 0.9;
            display: none;
            z-index: 999;
        }

        .select2-drop {
            z-index: 10055;
        }

        .datepicker-dropdown {
            z-index: 99999 !important;
        }

        .bread-Crumb-Top .col-md-8 b {
            font-size: 12px;
        }

        #back-to-top {
            position: fixed;
            bottom: 40px;
            right: 40px;
            z-index: 9999;
            width: 45px;
            height: 40px;
            text-align: center;
            line-height: 30px;
            background: #3b9cd3 !important;
            color: #ffffff;
            cursor: pointer;
            border: 0;
            border-radius: 2px;
            text-decoration: none;
            transition: opacity 0.2s ease-out;
            opacity: 0;
        }

            #back-to-top:hover {
                background: #e9ebec;
            }

            #back-to-top.show {
                opacity: 0.9;
            }
    </style>


    <script src="/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/select2.min.js"></script>
    @*<script src="~/Scripts/jquery.multiselect.js"></script>*@
    <script type="text/javascript" src="/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="/Content/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
    <link href="~/Content/css/gijgo.min.css" rel="stylesheet" />
    <script src="~/Content/js/gijgo.min.js"></script>
    <script src="~/Content/js/highcharts.js"></script>
    <script src="~/Content/js/highcharts-3d.js"></script>
    <script src="~/Content/js/exporting.js"></script>
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-style-square" onscroll="scrollActionPerfrom();">
    <a style="font-size: x-large" href="#" id="back-to-top" title="Back to top"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <input type="hidden" value="@Session["UserGroupName"].ToString()" id="chkCustomerGrpName" />
    <div class="page-header navbar navbar-fixed-top" style="background-color: #c63226;">
        <div class="page-header-inner">
            <div class="page-logo">
                <span class="logo-default"> Welcome, @Session["FirstName"] @Session["LastName"] </span>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right" id="topmenu">
                    <li style="float: right">
                        <a href="/Account/Logout">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <div class=" fextitle" style="">
        <a><img src="/Content/assets/images/logo.png" class="img-responsive"></a>
    </div>
    <div class="page-sidebar navbar-collapse collapse ">
        <div style="position: relative; overflow: hidden; width: auto;">
            <ul class="page-sidebar-menu menuScroller" data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200" style="height: 650px !important; overflow-x: hidden !important;">
                <li class="sidebar-toggler-wrapper">
                    <div class="sidebar-toggler">
                    </div>
                </li>

                <li class="start active adminDashboard">
                    <a href="/admin-dashboard">
                        <i class="glyphicon glyphicon-th"></i>
                        <span class="title">Admin Dashboard</span>

                    </a>

                </li>
                @{ Html.RenderAction("RenderCurrentUserMenu", "Master"); }

            </ul>




            <div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 580px;">
            </div>
            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;">
            </div>
        </div>
    </div>
    <div class="page-content-wrapper mrgn-scr-qy">
        <div class="page-content">
            @RenderBody()
            <div id="adshowblock">
                <!-- For Loader -->
            </div>
            <div id="adshowblockmaster">
            </div>
            <div class="msgDiv"> </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <script src="~/Content/multiple-select.js"></script>
    <script src="/Content/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/js/side_menu.js"></script>
    <script src="/Content/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Scripts/gridmvc.js"></script>
    <script src="/Scripts/CustomScript.js"></script>
    <script src="/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>

    <script>
        showHideLoaderMaster(1);

        if ($('#back-to-top').length) {
            var scrollTrigger = 400, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('#back-to-top').addClass('show');
                    } else {
                        $('#back-to-top').removeClass('show');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 700);
            });
        }

        //Customizable ck editor
        CKEDITOR.config.toolbar_MA = [
            { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
            { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-'] },
            '/',
            { name: 'styles', items: ['Size', 'TextColor', 'BackgroundColor'] },
            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', '-'] },
            { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', 'Indent', '-', 'Blockquote'] }
        ];
        //
        jQuery(document).ready(function () {
            $("label").closest(".col-md-4").css("padding-right", "2px");
            var chkCus = $("#chkCustomerGrpName").val();
            if (chkCus === 'Customer') {
                location.href = "/account/login";
            }
            // initiate layout and plugins
            // Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            //  QuickSidebar.init(); // init quick sidebar
            //Demo.init(); // init demo features
            //  ComponentsPickers.init();
            $('.menuScroller').slimScroll({});

            $('input[type="email"]').focusout(function () {
                var emailaddress = $(this);
                if ($(emailaddress).val() != null && $(emailaddress).val().trim() != '') {
                    if (!isEmail($(emailaddress).val())) {

                        $(emailaddress).val(emailaddress.attr("preemail"));
                        $('html, body').animate({
                            scrollTop: $(emailaddress).offset().top - 170
                        });
                        alert("Please enter valid email address");
                        $(emailaddress).focus();
                    }
                }

            });

            $('input[type="email"]').focus(function () {
                var emailaddress = $(this);
                if ($(emailaddress).val() != null && $(emailaddress).val().trim() != '') {
                    if (isEmail($(emailaddress).val())) {
                        $(emailaddress).attr("preEmail", emailaddress.val());
                    }
                }

            });

        });
        $(function () {

            var urlName = window.location.pathname.split('/')[1].toLowerCase();
            if (urlName === 'customer-country-budget') urlName = 'Customer Country Budget';
            if (urlName === 'customer-site-budget') urlName = 'Customer Site Budget';
            var elementName = $("a:contains('" + urlName + "')").text().trim();
            if (elementName != "Customer Country Budget" && elementName != "Customer Site Budget") {
                $('.start li ul').css("display", "none");
            }



            //adjust scroll on load
            $('.menuScroller').css("height", ($(window).height() - 120));
        });
        //for scroll when window resize
        $(window).resize(function () {
            $('.menuScroller').css("height", ($(window).height() - 120));
        });


        $('.start').click(function () {
            $(this).siblings().removeClass('open');
            $(this).siblings().find('.sub-menu').css("display", "none");
        });

        $(document).ready(function () {
            $(".page-sidebar-menu").find(".@ViewBag.currentPageClassName").parent().parent().addClass("open");
            $(".page-sidebar-menu .@ViewBag.currentPageClassName").parent().css("display", "block");
            $(".page-sidebar-menu").find(".@ViewBag.currentPageClassName").addClass("active");
            var container = $(".menuScroller");
            var currentMenu = $(".@ViewBag.currentPageClassName");

            if (currentMenu != null && currentMenu != "" && currentMenu.length > 0) {
                container.animate({
                    scrollTop: $(currentMenu).offset().top - container.offset().top + container.scrollTop()
                });

            }

        });
        function scrollActionPerfrom() {
            $(".select2-drop").select2("close");
        }
        //$('.date-picker').datepicker({ autoclose: true });
        $(function () {
            $(document).ajaxComplete(function (a, xhr, c) {
                if (xhr.status == 403 && xhr.responseText.indexOf("Forbidden") != -1) {
                    window.location.href = "@Url.Action("Login", "Login")";
                }
            });
        });


        $(window).load(function () {
            showHideLoaderMaster(0);
        });
    </script>
    <!-- END JAVASCRIPTS -->

</body>
<!-- END BODY -->
</html>
