﻿@model ModelStateDictionary
<script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<div class="@(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors") panel panel-danger"data-valmsg-summary="true">
    <div class="panel-heading">
        Please fill in the mandatory fields:
    </div>
    <div class="panel-body">
        <ul>
            @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>
    </div>
</div>
