﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div>

    @if (ViewBag.Message != null)
    {
        <h2 class="text-danger">@ViewBag.Message</h2>
    }
    else
    {
        <h2 class="text-danger">An error occurred while processing your request, please try again later</h2>
    }
</div>



