﻿@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

    <div>

        @if (ViewBag.ErrorType != null)
        {
             <h1 class="text-danger">@ViewBag.ErrorType</h1>
        }
        else
        { 
        <h1 class="text-danger">Error 404.</h1>
        }
        @if (ViewBag.Message != null)
        {
              <h2 class="text-danger">@ViewBag.Message</h2>
        }
        else
        { 
                    <h2 class="text-danger">File Not Found.</h2>
        }
    </div>


