﻿@model OneSourceAdmin.Models.AssetDisposalEntryModel
@{
    ViewBag.Title = "Asset Disposal Quote";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<div class="clearfix"></div>
<div id="asset-disposal">
    <div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
        <div class="col-md-3" style="padding-top: 15px; padding-bottom: 10px; color: #FFF;">
            <b><a href="asset-disposal">Asset Disposal Quote</a></b> &raquo; Add Asset Disposal Quote
        </div>
        <div class="col-md-3" style="padding: 10px;"></div>
        <div class="col-md-3" style="padding: 10px;"></div>
    </div>

    <div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span>@ViewBag.Message</span>
            </div>
        }
    </div>
    <div class="clearfix" style="padding-top:25px;"></div>
    <div id="divform">
        <h3>New Asset Disposal Quote</h3>
        <hr />


        @using (Html.BeginForm("SaveAssetDisposalQuote", "Quotes", FormMethod.Post, new { @class = "form-horizontal", id = "form-asset", role = "form", enctype = "multipart/form-data" }))
        {
            @*@Html.Partial("_ValidationSummary", ViewData.ModelState)*@
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Account Manager<span class="text-danger">*</span>
                    <br /><span style="font-size:11px; color:#999"> Name / Email(Referring Partner)</span>
                </label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.AssetDisposalQuote.AccountManagerName, new { @class = "form-control", @id = "txtDeliveyAddress", type = "text", @maxlength = "225", placeholder = "Name/Email (Referring Partner)" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.AssetDisposalQuote.AccountManagerName)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Customer Name<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.AssetDisposalQuote.CustomerName, new { @class = "form-control", @id = "txtCustomerName", @maxlength = "225", type = "text", placeholder = "Customer Name" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.AssetDisposalQuote.CustomerName)
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                    <label class="col-sm-3 control-label">Customer Pick-up Address</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.PickAddress, new { @class = "form-control", @id = "txtPickup", type = "text", placeholder = "Pick-up Address" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.PickAddress)
                        </div>
                    </div>
                </div>*@

            <div class="form-group">
                <label class="col-sm-3 control-label">Customer Pick-up Address<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.AssetDisposalQuote.PickAddress, new { @class = "form-control", @id = "txtPickup", @maxlength = "1500", type = "text", placeholder = "Pick-up Address" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.AssetDisposalQuote.PickAddress)
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col-sm-2 control-label">City<span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.AssetDisposalQuote.City, new { @class = "form-control col-sm-2", @id = "txtCity", @maxlength = "225", type = "text", placeholder = "City" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.AssetDisposalQuote.City)
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                    <label class="col-sm-3 control-label">Customer Pick-up Address<span class="text-danger">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.PickAddress, new { @class = "form-control col-sm-4", @id = "txtPickup", type = "text", placeholder = "Pick-up Address" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.PickAddress)
                        </div>
                    </div>
                    @*<label class="col-sm-1 control-label">Contact</label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.PickupContact, new { @class = "form-control", @id = "txtPickContact", type = "text", placeholder = "Contact" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.PickupContact)
                        </div>
                    </div>
                </div>*@
            @*<div class="form-group">
                        <label class="col-sm-3 control-label">Customer Invoice Address</label>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(x => x.InvoiceAddress, new { @class = "form-control", @id = "txtInvoiceAddress", type = "text", placeholder = "Invoice Address" })
                            <div class="text-danger">
                                @Html.ValidationMessageFor(x => x.InvoiceAddress)
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Supplier</label>
                    <div class="col-sm-5">
                        @Html.DropDownListFor(x => x.SupplierID, Model.SupplierList, new { @class = "form-control", @id = "drSupplier", })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.SupplierID)
                        </div>
                    </div>
                </div>*@
            <div class="form-group">
                <label class="col-sm-3 control-label">Country<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(x => x.AssetDisposalQuote.CountryId, Model.AssetDisposalQuote.CountryList, new { @class = "form-control", @id = "drCountry", })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.AssetDisposalQuote.CountryId)
                    </div>
                </div>
            </div>
            @*<div class="form-group" id="divCurrency" style="display:none;">
                    <label class="col-sm-3 control-label">Local Currency<span class="text-danger">*</span></label>
                    <div class="col-sm-5">
                        <label id="lblCurrency"></label>
                        @Html.HiddenFor(x => x.CurrencyId, new { @id = "hdCurrency" })
                        Html.DropDownListFor(x => x.CurrencyId, Model.CurrencyList, new { @class = "form-control", @id = "drCurrency", })
                            <div style="font-size:11px; color:#999">Local currency will be preferable</div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(x => x.CountryId)
                            </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">City<span class="text-danger">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.City, new { @class = "form-control", @id = "txtCity", type = "text", placeholder = "City" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.City)
                        </div>
                    </div>
                </div>*@
            @*<div class="form-group">
                    <label class="col-sm-3 control-label">Project Timeline</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.ProjectTimeLine, new { @class = "form-control", @id = "txtTimeline", type = "text", placeholder = "Timeline" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.ProjectTimeLine)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Expected Price Point</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.ExpectedPricePoint, new { @class = "form-control", @id = "txtPricePoint", type = "text", placeholder = "Price Point" })
                    </div>
                </div>*@
            <div class="form-group">
                <label class="col-sm-3 control-label">Quantity<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.AssetDisposalQuote.Quantity, new { @class = "form-control number", @id = "txtQuantity", @maxlength = "4", type = "text", placeholder = "Quantity" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.AssetDisposalQuote.Quantity)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    @Html.TextAreaFor(x => x.AssetDisposalQuote.Description, new { @class = "form-control", @id = "txtDescripton", @maxlength = "5000", rows = "5", type = "text" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.AssetDisposalQuote.Description)
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-sm-3 control-label">Category<span class="text-danger">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.AssetDisposalQuote.Category, new { @class = "form-control", @id = "txtCategory", @maxlength = "225", type = "text" })
                        <div style="font-size:11px; color:#999;">Example: Monitors, Desktops, Laptops, Accessories, Servers, Printers, Mobile Phones etc.</div>
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.AssetDisposalQuote.Category)
                        </div>
                    </div>
                </div>*@

            <div class="form-group">
                <label class="col-sm-3 control-label">Category<span class="text-danger">*</span></label>
                <div class="col-sm-7">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(x => x.AssetDisposalQuote.Category, new { @class = "form-control", @id = "txtManufacturer", @maxlength = "225", type = "text", @style = "width:70%; display: inline-block" })
                        <a onclick="AddLineItem()" class="btn btn-info" style="margin-left:10px;margin-top:-2px;min-height:36px; cursor:pointer;">
                            Add More Item
                        </a>
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.AssetDisposalQuote.Category)
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-8">
                <div class="table-responsive" style="display:none;" id="tblLineItem">

                </div>
            </div>
            <div class="col-sm-2">&nbsp;</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Comments
                    <br /><span style="font-size:11px; color:#999">Additional Requirements/Information</span>
                </label>
                <div class="col-sm-5">
                    @Html.TextAreaFor(x => x.AssetDisposalQuote.Comments, new { @class = "form-control", @id = "txtComments", @maxlength = "5000", rows = "5", type = "text" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.AssetDisposalQuote.Comments)
                    </div>
                </div>
            </div>

            <hr />
            <h4>Attachments</h4>
            <div class="form-group">
                <label class="col-sm-3 control-label">Attachment 1</label>
                <div class="col-sm-5">
                    <input type="file" id="file1" name="file1" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Attachment 2</label>
                <div class="col-sm-5">
                    <input type="file" id="file2" name="file2" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Attachment 3</label>
                <div class="col-sm-5">
                    <input type="file" id="file3" name="file3" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Attachment 4</label>
                <div class="col-sm-5">
                    <input type="file" id="file4" name="file4" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Attachment 5</label>
                <div class="col-sm-5">
                    <input type="file" id="file5" name="file5" />
                </div>
            </div>
            <div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px; display:none;" id="message-content">

                <div class="alert alert-info fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <div id="message"></div>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-5"></div>
                <div class="col-md-7" style="padding-left: 35px;">
                    <button type="submit" class="btn btn-default" style="float: left; margin-left: 20px;margin: 0px;" id="per" ng-disabled="isStandard">Save</button>
                    <button type="reset" class="btn btn-default btnReset1" style="float: left; margin-left: 5px;" id="per">Reset</button>
                </div>
                <br>
                <br>
            </div>
        }
    </div>

    <div class="modal fade" id="mdlAddLineItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Asset Disposal Quote</h4>
                </div>
                <div class="modal-body" style="max-height:400px; overflow-y:auto; ">
                    @using (Html.BeginForm("InsertAssetLineItem", "Quotes", FormMethod.Post, new { @class = "form-horizontal", id = "form-lineItem", role = "form", enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" id="hdQuoteId" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Quantity<span class="text-danger">*</span></label>
                            <div class="col-sm-6" id="quantity">
                                @Html.TextBoxFor(x => x.LineItems.Quantity, new { @class = "form-control number", @id = "txtQuantity1", @maxlength = "4", type = "text", placeholder = "Quantity" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.LineItems.Quantity)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description<span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                @Html.TextAreaFor(x => x.LineItems.Description, new { @class = "form-control", @id = "txtDescripton1", @maxlength = "5000", rows = "5", type = "text" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.LineItems.Description)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Category<span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    @Html.TextBoxFor(x => x.LineItems.Category, new { @class = "form-control", @id = "txtCategory1", @maxlength = "225", type = "text", })
                                    <div class="text-danger">
                                        @Html.ValidationMessageFor(x => x.LineItems.Category)
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row text-center" style="margin-top: 15px;">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-info">Inset Item</button>
                            </div>

                        </div>
                    }

                </div>
                <div class="modal-footer">
                    <div class="col-8">
                        <div class="alert alert-success" id="message" style="display:none;">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script>


    $("#txtQuantity1").val("");
    $("#txtQuantity").val("");

    //$(function () {
    //    $('#asset-disposal').on('keydown', '.number', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) &&  e.preventDefault() });
    //});

    $('.number').keydown(function (event) {
        // Allow special chars + arrows 
        if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9
            || event.keyCode == 27 || event.keyCode == 13
            || (event.keyCode == 65 && event.ctrlKey === true)
            || (event.keyCode >= 35 && event.keyCode <= 39)) {
            return;
        } else {
            // If it's not a number stop the keypress
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                event.preventDefault();
            }
        }
    });

    //$(".integer").on("keypress keyup blur", function (event) {
    //    $(this).val($(this).val().replace(/[^\d].+/, ""));
    //    if ((event.which < 48 || event.which > 57)) {
    //        event.preventDefault();
    //    }
    //});


    function AddLineItem() {
        $('#mdlAddLineItem').modal('show');
        $("#form-lineItem").trigger("reset");
        $("#txtQuantity1").val("");
    }

    function DeleteLineItem(id) {
        $.ajax({
            url: "delete-line-item?id=" + id,
            type: "GET",
            success: function (data) {
                $("#tblLineItem").html(data);
                $("#tblLineItem").css({ 'display': 'block' });
            }
        });
    }

    $("#mdlAddLineItem").on("submit", "#form-lineItem", function (e) {
        e.preventDefault();  // prevent standard form submission

        if ($("#txtQuantity1").val() == "0") {
            alert("Quantity must be greater than Zero");
            return false;
        }

        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            method: form.attr("method"),  // post
            data: form.serialize(),
            success: function (data) {
                $("#tblLineItem").html(data);
                $("#tblLineItem").css({ 'display': 'block' });
                $("#form-lineItem").trigger("reset");
                $("#txtQuantity1").val("");
            }
        });
    });


    $(".page-sidebar-menu").find(".quote").addClass("open");
    $(".page-sidebar-menu .quote").find(".sub-menu").css("display", "block");
    $(".page-sidebar-menu .quote").find(".asset-disposal-quote").addClass("active");

    $("#drCountry").change(function () {
        $.ajax({
            url: "get-local-currency?id=" + this.value,
            type: "GET",
            dataType: "text",
            success: function (data) {
                var _data = data.replace('"', '').split(";");
                var currency = _data[0];
                var id = _data[1];
                //$("#lblCurrency").html(currency.replace('"', ''));
                //$("#hdCurrency").val(id.replace('"', ''));
                //$("#divCurrency").css({ 'display': 'block' });
                $("#hdCurrency").val(id.replace('"', ''));
            }
        });
    });

    $("#divform").on("submit", "#form-asset", function (e) {

        e.preventDefault();  // prevent standard form submission
        if ($('#file1').get(0).files.length > 0) {

            //attachment1 = $("#file1").get(0);
            var length = $('#file1').get(0).files[0].name.split('.').length;
            var fileExtension = '.' + $('#file1').get(0).files[0].name.split('.')[length - 1];
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" || fileExtension == ".msg" || fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt, png extension');
                return false;
            }

            if ($('#file1').get(0).files[0].name.length > 176) {
                alert('File name is too long, File name must have 175 or less characters');
                return false;
            }
            if ($('#file1').get(0).files[0].size > 10485760) {
                alert('File size must be less than 10 MB');
                return false;
            }

        }

        if ($("#txtQuantity").val() < 1) {
            alert("Quantity must be greater than Zero");
            $("#txtQuantity").focus();
            return false;
        }

        if ($('#file2').get(0).files.length > 0) {

            //attachment2 = $("#file2").get(0);
            var length = $('#file2').get(0).files[0].name.split('.').length;
            var fileExtension = '.' + $('#file2').get(0).files[0].name.split('.')[length - 1];
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" || fileExtension == ".msg" || fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt, png extension');
                return false;
            }

            if ($('#file2').get(0).files[0].name.length > 176) {
                alert('File name is too long, File name must have 175 or less characters');
                return false;
            }
            if ($('#file2').get(0).files[0].size > 10485760) {
                alert('File size must be less than 10 MB');
                return false;
            }

        }

        if ($('#file3').get(0).files.length > 0) {

            //attachment3 = $("#file3").get(0);
            var length = $('#file3').get(0).files[0].name.split('.').length;
            var fileExtension = '.' + $('#file3').get(0).files[0].name.split('.')[length - 1];
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" || fileExtension == ".msg" || fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt, png extension');
                return false;
            }

            if ($('#file3').get(0).files[0].name.length > 176) {
                alert('File name is too long, File name must have 175 or less characters');
                return false;
            }
            if ($('#file3').get(0).files[0].size > 10485760) {
                alert('File size must be less than 10 MB');
                return false;
            }

        }

        if ($('#file4').get(0).files.length > 0) {

            //attachment4 = $("#file4").get(0);
            var length = $('#file4').get(0).files[0].name.split('.').length;
            var fileExtension = '.' + $('#file4').get(0).files[0].name.split('.')[length - 1];
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" || fileExtension == ".msg" || fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt, png extension');
                return false;
            }

            if ($('#file4').get(0).files[0].name.length > 176) {
                alert('File name is too long, File name must have 175 or less characters');
                return false;
            }
            if ($('#file4').get(0).files[0].size > 10485760) {
                alert('File size must be less than 10 MB');
                return false;
            }

        }

        if ($('#file5').get(0).files.length > 0) {

            //attachment5 = $("#file5").get(0);
            var length = $('#file5').get(0).files[0].name.split('.').length;
            var fileExtension = '.' + $('#file5').get(0).files[0].name.split('.')[length - 1];
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" || fileExtension == ".msg" || fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt, png extension');
                return false;
            }

            if ($('#file5').get(0).files[0].name.length > 176) {
                alert('File name is too long, File name must have 175 or less characters');
                return false;
            }
            if ($('#file5').get(0).files[0].size > 10485760) {
                alert('File size must be less than 10 MB');
                return false;
            }

        }

        var form = new FormData(this);

        $.ajax({
            url: $(this).attr("action"),
            method: $(this).attr("method"),  // post
            data: form,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
                if (data == "success") {
                    $("#message-content").css({ 'display': 'block' });
                    $("#message").html("Your quote has been successfully added");
                    $("#message").removeClass("alert-danger");
                    $("#message").addClass("alert-info");
                    $("#frmHardware").focus();
                    $("#summaryError").removeClass("validation-summary-errors");
                    $("#summaryError").addClass("validation-summary-valid");
                }
                else {
                    $("#message-content").css({ 'display': 'block' });
                    $("#message").removeClass("alert-info");
                    $("#message").addClass("alert-danger");
                    $("#message").html(data);
                    $("#message").focus();
                }
            }
        });
    });
</script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
