﻿@using GridMvc.Html
@using System.Configuration;
@model OneSourceAdmin.Models.AssetDisposalQuoteList

@{
    ViewBag.Title = "Asset Disposal List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var siteLocation = ConfigurationManager.AppSettings["sitelocation"].ToString();
}
<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<div class="clearfix"></div>

<div id="asset-disposal">

    <div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
        <div class="col-md-3" style="padding: 10px; color: #FFF;">
            <b> Asset Disposal Quotes </b>
        </div>
        <div class="col-md-3" style="padding: 10px;"></div>
        <div class="col-md-3" style="padding: 10px;"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="padding-top:25px; padding-bottom:10px;">
        <div class="col-md-8">
            <h2>Asset Disposal Quotes</h2>
        </div>
        <div class="col-md-4 text-right" style="padding-top:10px;">
            <a href="asset-disposal-quote" class="btn btn-lg btn-danger"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Quote</a>
        </div>
    </div>

    <div>

        @Html.Grid(Model.AssetDisposalList).Columns(columns =>
   {
   columns.Add(C => C.AssertDisposalId).Sortable(true).Filterable(true).Titled("Quote #").SetWidth(50);
   columns.Add(C => C.AccountManagerName).Sortable(true).Filterable(true).Titled("Account Manager").SetWidth(200);
   columns.Add(C => C.CustomerName).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Customer Name").SetWidth(100);
   //columns.Add(C => C.ProjectTimeline).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Timeline").SetWidth(100);
   columns.Add(C => C.Country).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Country").SetWidth(100);
   columns.Add(C => C.City).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("City").SetWidth(100);
   columns.Add(C => C.CreatedDate).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Date").SetWidth(100);
   columns.Add(C => C.LineItems).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Items").SetWidth(100).RenderValueAs(C => @<span>
            @*@if (C.LineItems > 0)
                {
                    <a onclick="LineItemView(@C.SoftwareQuoteId)" style="color:#0094ff; cursor:pointer;">@C.LineItems</a>
                }
                else
                {
                    @C.LineItems
                }*@
            @C.LineItems
        </span>);
   columns.Add().Titled("").Encoded(false).Sanitized(false).SetWidth(100).RenderValueAs(C => @<div class="dropdown show">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon glyphicon-cog"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">


                    <li><a onclick="OpenView(@C.AssertDisposalId)" style="color:#fff">View</a></li>
                    @if (Session["UserGroupID"].ToString() != "4")
                    {
                        <li><a onclick="LineItemView('@C.AssertDisposalId')" style="color:#fff">Assign Supplier</a></li>
                    }
                </ul>
            @*<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" onclick="OpenView(@C.AssertDisposalId)" style="color:#fff">View</a>
                @if (Session["UserGroupID"].ToString() != "4")
                {
                    <a class="dropdown-item" onclick="LineItemView('@C.AssertDisposalId')" style="color:#fff">Assign Supplier</a>
                }
                
            </div>*@
        </div>);
   }).WithPaging(25)
    </div>



    <!--Modal View-->

    <div class="modal fade" id="mdlAsset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Asset Disposal Quote #: <span id="divId"></span></h4>
                </div>
                <div class="modal-body" style="max-height:400px; overflow-y:auto; ">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            Account Manager
                        </label>
                        <div class="col-sm-7">
                            <label id="lblAccountManager"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">Customer Name</label>
                        <div class="col-sm-7">
                            <label id="lblCustomerName"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="">
                        <label class="col-sm-4 control-label">Supplier</label>
                        <div class="col-sm-7">
                            <label id="lblSupplier"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div>
                        <label class="col-sm-4 control-label">Pick-up Address</label>
                        <div class="col-sm-8">
                            <label id="lblPicupAddress"></label>
                        </div>
                        @*<label class="col-sm-2 control-label">Contact</label>
                            <div class="col-sm-2">
                                <label id="lblContact"></label>
                            </div>*@
                        <div class="clearfix"></div>
                    </div>
                    @*<div class="">
                            <label class="col-sm-4 control-label">Supplier</label>
                            <div class="col-sm-8">
                                <label id="lblSupplier"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                    <div class="">
                        <label class="col-sm-4 control-label">Country</label>
                        <div class="col-sm-8">
                            <label id="lblCountry"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    @*<div class="">
                            <label class="col-sm-4 control-label">Currency</label>
                            <div class="col-sm-8">
                                <label id="lblCurrency"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                    <div class="">
                        <label class="col-sm-4 control-label">City</label>
                        <div class="col-sm-8">
                            <label id="lblCity"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    @*<div class="">
                            <label class="col-sm-4 control-label">Project Timeline</label>
                            <div class="col-sm-8">
                                <label id="lblTimeLine"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                    @*<div class="">
                            <label class="col-sm-4 control-label">Expected Price Point</label>
                            <div class="col-sm-8">
                                <label id="lblExpectedPrice"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                    <div style="display:none;">
                        <div class="">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-8">
                                <label id="lblQuantity"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="">
                            <label class="col-sm-4 control-label">Description</label>
                            <div class="col-sm-8">
                                <label id="lblDiscription"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="">
                            <label class="col-sm-4 control-label">Category</label>
                            <div class="col-sm-8">
                                <label id="lblCategory"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">
                            Comments
                        </label>
                        <div class="col-sm-8">
                            <label id="lblComments"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment1">
                        <hr />
                        <h4>Attachments</h4>
                        <label class="col-sm-4 control-label">Attachment 1</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment1"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment2">
                        <label class="col-sm-4 control-label">Attachment 2</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment2"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment3">
                        <label class="col-sm-4 control-label">Attachment 3</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment3"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment4">
                        <label class="col-sm-4 control-label">Attachment 4</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment4"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment5">
                        <label class="col-sm-4 control-label">Attachment 5</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment5"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <div class="table-responsive" style="display:none;" id="tblLineItemView">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlEditAsset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Asset Disposal Quote #: <span id="divId"></span></h4>
                </div>
                <div class="modal-body" style="max-height:400px; overflow-y:auto; ">
                    <div class="">
                        <label class="col-sm-4 control-label">
                            Account Manager
                        </label>
                        <div class="col-sm-7">
                            <label id="lblEAccountManager"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">Customer Name</label>
                        <div class="col-sm-7">
                            <label id="lblECustomerName"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div>
                        <label class="col-sm-4 control-label">Pick-up Address</label>
                        <div class="col-sm-8">
                            <label id="lblEPicupAddress"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">Country</label>
                        <div class="col-sm-8">
                            <label id="lblECountry"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">Currency</label>
                        <div class="col-sm-8">
                            <label id="lblECurrency"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">City</label>
                        <div class="col-sm-8">
                            <label id="lblECity"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">
                            Comments
                        </label>
                        <div class="col-sm-8">
                            <label id="lblEComments"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <h4>Update Quote</h4>
                    <input type="hidden" id="hdQuoteId" />
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Quantity</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtQuantity" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-8">
                            <textarea id="txtDescription" class="form-control"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Category</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtCategory" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">
                            Set Supplier
                        </label>
                        <div class="col-sm-8">
                            <select id="drESupplier" class="form-control">
                                <option value="0">--Select--</option>
                                @foreach (var item in Model.Suppliers)
                                {
                                <option value="@item.SFAID">@item.SFAName</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment1">
                        <hr />
                        <h4>Attachments</h4>
                        <label class="col-sm-4 control-label">Attachment 1</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment1"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment2">
                        <label class="col-sm-4 control-label">Attachment 2</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment2"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment3">
                        <label class="col-sm-4 control-label">Attachment 3</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment3"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment4">
                        <label class="col-sm-4 control-label">Attachment 4</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment4"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment5">
                        <label class="col-sm-4 control-label">Attachment 5</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment5"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-8">
                        <div class="alert alert-success" id="message" style="display:none;">
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="#!" onclick="UpdateInfo()" class="btn btn-info">Update</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlLineItems" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" @*data-dismiss="modal"*@ onclick="Refresh()">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Line Items</h4>
                </div>
                <div class="modal-body" style="max-height:500px; overflow-y:auto;">
                    <input type="hidden" id="hdQuoteId1" />
                    <div id="divmessage" style="display:none;" class="alert alert-success"></div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Select Supplier</label>
                        <div class="col-sm-8">
                            <div class="form-horizontal">
                                <select id="drEditSupplier" class="form-control" style="display:inline-block; width:75%">
                                    <option value="0">--Select--</option>
                                    @foreach (var item in Model.Suppliers)
                                    {
                                    <option value="@item.SFAID">@item.SFAName</option>
                                    }
                                </select>
                                <a href="#" class="btn btn-info" onclick="UpdateInfo()">Update</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEditForm" style="display:none;">
                        <form method="post" action="update-line-item" id="frm-Update">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Quantity<span class="text-danger">*</span></label>
                                <div class="col-sm-8" id="quantity">
                                    <input type="text" class="form-control number" id="txtLineQuantity" name="txtLineQuantity" maxlength="4" required />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Description<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <textarea id="txtLineDescription" class="form-control" maxlength="5000" required></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <input type="hidden" id="hidLineItemId" />
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Category<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtLineCategory" maxlength="500" required />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-info" value="Update Item" />
                            </div>

                        </form>
                    </div>
                    <hr />
                    <div class="table-responsive" style="display:none;" id="tblLineItem">

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-8">
                        <div class="alert alert-success" id="message" style="display:none;">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-default" @*data-dismiss="modal"*@ onclick="Refresh()">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!--end-->

<script>

    //$(function () {
    //    $('#asset-disposal').on('keydown', '.number', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    //})

    $('.number').keydown(function (event) {
        // Allow special chars + arrows 
        if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9
            || event.keyCode == 27 || event.keyCode == 13
            || (event.keyCode == 65 && event.ctrlKey === true)
            || (event.keyCode >= 35 && event.keyCode <= 39)) {
            return;
        } else {
            // If it's not a number stop the keypress
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                event.preventDefault();
            }
        }
    });

    $("#mdlLineItems").on("submit", "#frm-Update", function (e) {
        e.preventDefault();  // prevent standard form submission

        var data;

        data = new FormData();
        data.append('quantity', $('#txtLineQuantity').val());
        data.append('description', $('#txtLineDescription').val());
        data.append('category', $('#txtLineCategory').val());
        //data.append('manufacturer', $('#txtLineManufacturer').val());
        data.append('id', $('#hidLineItemId').val());

        $.ajax({
            url: 'update-line-item',
            cache: false,
            data: data,
            type: 'POST',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
                if (data != "Error") {
                    $("#tblLineItem").html(data);
                    $("#tblLineItem").css({ 'display': 'block' });
                    $("#divmessage").css({ 'display': 'block' });
                    $("#divmessage").html("Item has been successfully updated");
                    $("#divEditForm").css({ 'display': 'none' });
                    $(".fa fa-trash-o").css({ "display": "block" });
                }

            }
        });

    });

    function DeleteLineItem(id, quoteid, quotetypeid) {
        if ($('#divEditForm').css('display') == 'block') {
            return false;
        }

        if (confirm("Are you sure you want to delete?")) {
            $.ajax({
                cache: false,
                url: "delete-line-item-byid?id=" + id + "&quoteid=" + quoteid + "&qoutetype=" + quotetypeid,
                type: "GET",
                success: function (data) {
                    $("#tblLineItem").html(data);
                    $("#tblLineItem").css({ 'display': 'block' });
                }
            });
        }
    }

    function Refresh() {
        window.location.replace("asset-disposal");
    }

    function LineItemView(id) {
        $('#frm-Update').trigger("reset");
        $("#divmessage").css({ 'display': 'none' });
        $.ajax({
            cache: false,
            url: "get-line-item?id=" + id + "&quotetype=3",
            type: "GET",
            success: function (data) {
                $("#tblLineItem").html(data);
                $("#tblLineItem").css({ 'display': 'block' });
                $('#mdlLineItems').modal('show');
                $("#hdQuoteId1").val(id);
            }
        });

        $.ajax({
            url: "get-asset-disposal-byid?id=" + id,
            cache: false,
            type: "GET",
            dataType: "text",
            success: function (data) {
                var json = $.parseJSON(data);

                if (json != "Error") {
                    $("#drEditSupplier").val(json.SfaId);
                }
                else {
                    alert("Error");

                }
            }
        });
    }

    function EditLineItem(id) {
        $.ajax({
            cache: false,
            url: "get-line-item-byid?id=" + id,
            type: "GET",
            dataType: "text",
            success: function (data) {
                var json = $.parseJSON(data);

                if (json != "Error") {
                    $("#txtLineQuantity").val(json.Quantity);
                    $("#txtLineDescription").val(json.Description);
                    $("#txtLineCategory").val(json.Category);
                    //$("#txtLineManufacturer").val(json.Manufacturer);
                    $("#hidLineItemId").val(json.QuoteLineItemId);
                    $('#txtLineQuantity').focus();
                    $("#divEditForm").css({ 'display': 'block' });
                }
            }
        });
    }

    $(".page-sidebar-menu").find(".quote").addClass("open");
    $(".page-sidebar-menu .quote").find(".sub-menu").css("display", "block");
    $(".page-sidebar-menu .quote").find(".asset-disposal-quote").addClass("active");

    function UpdateInfo() {
        var data;

        if ($("#drEditSupplier").val() == "0") {
            alert("Please Select Supplier");
            return false;
        }


        data = new FormData();
        //data.append('quantity', $('#txtQuantity').val());
        //data.append('description', $('#txtDescription').val());
        //data.append('category', $('#txtCategory').val());
        data.append('supplierid', $('#drEditSupplier').val());
        data.append('quoteid', $('#hdQuoteId1').val());

        $.ajax({
            url: 'update-asset-disposal-quote',
            cache: false,
            data: data,
            type: 'POST',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
                $("#divmessage").css({ 'display': 'block' });
                $("#divmessage").html("Quote has been updated successfully");
            }
        });

    }


    function OpenView(id) {
        $.ajax({
            url: "get-asset-disposal-byid?id=" + id,
            type: "GET",
            cache: false,
            dataType: "text",
            success: function (data) {
                var json = $.parseJSON(data);

                if (json != "Error") {

                    $("#lblCustomerName").html(json.CustomerName);
                    $("#lblAccountManager").html(json.AccountManagerName);
                    $("#lblPicupAddress").html(json.PickUpAddress);
                    $("#lblSupplier").html(json.Supplier);
                    $("#lblCountry").html(json.Country);
                    //$("#lblCurrency").html(json.Currency);
                    $("#lblCity").html(json.City);
                    $("#lblTimeLine").html(json.ProjectTimeline);
                    //$("#lblExpectedPrice").html(json.ExpectedPricePoint);
                    $("#lblQuantity").html(json.Quantity);
                    $("#lblDiscription").html(json.Description);
                    $("#lblCategory").html(json.Category);
                    $("#lblComments").html(json.Comments);
                    $("#lblAttachment1").html("<a href='@siteLocation" + json.Attachment1 + "' style='color:blue'>" + json.Attachment1 + "</a>");
                    $("#lblAttachment2").html("<a href='@siteLocation" + json.Attachment2 + "' style='color:blue'>" + json.Attachment2 + "</a>");
                    $("#lblAttachment3").html("<a href='@siteLocation" + json.Attachment3 + "' style='color:blue'>" + json.Attachment3 + "</a>");
                    $("#lblAttachment4").html("<a href='@siteLocation" + json.Attachment4 + "' style='color:blue'>" + json.Attachment4 + "</a>");
                    $("#lblAttachment5").html("<a href='@siteLocation" + json.Attachment5 + "' style='color:blue'>" + json.Attachment5 + "</a>");
                    $("#divId").html(id);
                    if (json.Attachment1 == "") {
                        $("#divAttachment1").css({ 'display': 'none' });
                    }

                    if (json.Attachment2 == "") {
                        $("#divAttachment2").css({ 'display': 'none' });
                    }

                    if (json.Attachment3 == "") {
                        $("#divAttachment3").css({ 'display': 'none' });
                    }

                    if (json.Attachment4 == "") {
                        $("#divAttachment4").css({ 'display': 'none' });
                    }

                    if (json.Attachment5 == "") {
                        $("#divAttachment5").css({ 'display': 'none' });
                    }

                    $.ajax({
                        url: "get-line-item?id=" + id + "&quotetype=3",
                        cache: false,
                        type: "GET",
                        success: function (data) {
                            $("#tblLineItemView").html(data);
                            $("#tblLineItemView").css({ 'display': 'block' });
                            $(".editHead").css({ 'display': 'none' });
                            $(".editCol").css({ 'display': 'none' });

                        }
                    });

                    $('#mdlAsset').modal('show');
                }
                else {
                    alert("Error");

                }
            }
        });
    }

    function OpenEditView(id) {
        $.ajax({
            url: "get-asset-disposal-byid?id=" + id,
            type: "GET",
            cache: false,
            dataType: "text",
            success: function (data) {
                var json = $.parseJSON(data);

                if (json != "Error") {

                    $("#lblECustomerName").html(json.CustomerName);
                    $("#lblEAccountManager").html(json.AccountManagerName);
                    $("#lblEPicupAddress").html(json.PickUpAddress);
                    $("#lblECountry").html(json.Country);
                    //$("#lblECurrency").html(json.Currency);
                    $("#lblECity").html(json.City);
                    $("#txtQuantity").val(json.Quantity);
                    $("#txtDescription").val(json.Description);
                    $("#txtCategory").val(json.Category);
                    $("#drESupplier").val(json.SfaId);
                    $("#lblEComments").html(json.Comments);
                    $("#lblEAttachment1").html("<a href='@siteLocation" + json.Attachment1 + "' style='color:blue'>" + json.Attachment1 + "</a>");
                    $("#lblEAttachment2").html("<a href='@siteLocation" + json.Attachment2 + "' style='color:blue'>" + json.Attachment2 + "</a>");
                    $("#lblEAttachment3").html("<a href='@siteLocation" + json.Attachment3 + "' style='color:blue'>" + json.Attachment3 + "</a>");
                    $("#lblEAttachment4").html("<a href='@siteLocation" + json.Attachment4 + "' style='color:blue'>" + json.Attachment4 + "</a>");
                    $("#lblEAttachment5").html("<a href='@siteLocation" + json.Attachment5 + "' style='color:blue'>" + json.Attachment5 + "</a>");
                    $("#hdQuoteId").val(id);
                    $('#mdlEditAsset').modal('show');
                    $("#message").css({ 'display': 'none' });

                    if (json.Attachment1 == "") {
                        $("#divEAttachment1").css({ 'display': 'none' });
                    }

                    if (json.Attachment2 == "") {
                        $("#divEAttachment2").css({ 'display': 'none' });
                    }

                    if (json.Attachment3 == "") {
                        $("#divEAttachment3").css({ 'display': 'none' });
                    }

                    if (json.Attachment4 == "") {
                        $("#divEAttachment4").css({ 'display': 'none' });
                    }

                    if (json.Attachment5 == "") {
                        $("#divEAttachment5").css({ 'display': 'none' });
                    }


                }
                else {
                    alert("Error");

                }
            }
        });
    }


</script>
