﻿@model OneSourceAdmin.Models.BulkQuoteRequestModel
@{
    ViewBag.Title = "BulkQuotesUpload";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>
<script>

    var myApp = angular.module("myModule", []);
    myApp.controller("myController", function ($scope, $http) {
        $scope.getGetCountry = function (id) {

            $scope.$apply(function () {

                $scope.countries = null;

            });


            if (id != "" && id != "0") {
                StartLoader();
                $http.get('/Quotes/GetCountries' + '?' + new Date().toString(), { params: { customerId: id } }).success(function (response) {

                    $scope.countries = response;

                    EndLoader();

                });
            }



        };

        $scope.getGetCustomerUser = function (id) {

            $scope.$apply(function () {

                $scope.customerusers = null;

            });


            if (id != "" && id != "0") {
                StartLoader();
                $http.get('/Quotes/GetCustomerUsers' + '?' + new Date().toString(), { params: { customerId: id } }).success(function (response) {

                    $scope.customerusers = response;

                    EndLoader();

                });
            }



        };

        $scope.getGetCustomerCountryCurrency = function (customerid, countryid) {

            $scope.$apply(function () {

                $scope.currencies = null;

            });


            if (customerid != "" && countryid != "" && customerid != "0" && countryid != "0") {
                StartLoader();
                $http.get('/Quotes/GetCustomerCountryCurrencies' + '?' + new Date().toString(), { params: { customerId: customerid,countryId :countryid } }).success(function (response) {

                    $scope.currencies = response;

                    EndLoader();

                });
            }



        };

       

        $scope.getSuppliers = function (customerid, countryid) {

            $scope.$apply(function () {

                $scope.suppliers = null;

            });


            if (customerid != "" && countryid != "" && customerid != "0" && countryid != "0") {
                StartLoader();
                $http.get('/Quotes/GetSFAs' + '?' + new Date().toString(), { params: { customerId: customerid, countryId: countryid } }).success(function (response) {

                    $scope.suppliers = response;

                    EndLoader();

                });
            }



        };

        $scope.reset = function () {
            $scope.countries = null;
            $scope.currencies = null;
            $scope.suppliers = null;
            $("#CustomerID").prop('selected',true);
        };
    });
</script>

<div ng-app="myModule" ng-controller="myController" id="myController">
    <div class="clearfix"></div>
    <div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
        margin-right: -19px;">
        <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Settings > Bulk Quote Request</b></div>
        <div class="col-md-3" style="padding:10px;"></div>
        <div class="col-md-3" style="padding:10px;"></div>
        <div  class="col-md-3" style="padding:10px; float:right">
          
            <div style="float:right">

                @if (Model.ErrorDataTable != null)
                {
                    <a style="float:right;" href="/Quotes/BulkQuotesUpload">
                        <span class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</span>
                    </a>
                }

            </div>
        </div>

    </div>
    <div style="text-align:center;color:blue; font-weight:600; margin-top:10px; margin-bottom:-20px;">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span>@ViewBag.Message</span>
            </div>
        }
    </div>

    <div style="text-align:center;color:blue; font-weight:600; margin-top:23px; margin-bottom:-20px;">
      @if (TempData["QuoteRequestMessage"] != null && TempData["QuoteRequestMessage"] != "")
      {
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span>@TempData["QuoteRequestMessage"].ToString()</span>
            </div>
        }
    </div>
 
    @if (Model.ErrorDataTable != null)
    {
        <div class="col-md-12">
            
            @if (Model.ErrorDataTable != null)
            {
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <h4 style="color:red;">Please resolve the errors in the file</h4>
                    </div>
                    <div class="col-md-4">
                       
                    </div>
                </div>
                <br />
                @*<div style="height:600px;overflow-y:auto;">
                    <table class="scrollbar-inner gj-grid gj-grid-bootstrap gj-grid-bootstrap-3 table table-bordered table-hover table-wrapper-responsive" border="1">
                        <thead style="color:white;">
                            <tr>
                                @foreach (System.Data.DataColumn col in Model.ErrorDataTable.Columns)
                                {
                                    <th style="background-color:#3b9ad2;">@(col.Caption)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow row in Model.ErrorDataTable.Rows)
                            {
                                <tr>
                                    @foreach (var cell in row.ItemArray)
                                    {
                                        <td>@(cell.ToString())</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>*@
            }
        </div>
    }
    else
    {
        using (Html.BeginForm("UploadBundleQuotes", "Quotes", FormMethod.Post, new { @id = "BulkQuotesForm", enctype = "multipart/form-data" }))
        {
            
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Reference No. </label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="CustomerRef" id="CustomerRef">


                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCustomerRef" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Customer </label>
                        <div class="col-md-8">
                            <input type="hidden" name="CustomerName" id="CustomerName">
                            <input type="hidden" name="CustomerAlertId" id="CustomerAlertId">
                            @Html.DropDownList("customerId", new SelectList(Model.CustomerList,
"Key", "Value"),
new { @id = "CustomerID", @valueFor = "CustomerName", @class = "", @tabindex = "-1" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCustomer" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>User</label>
                        <div class="col-md-8">
                            <select id="ddlCustomerUser" class="" name="CustomerUserID" tabindex="-1">

                                <option ng-repeat="row in customerusers" value="{{row.Key}}">{{row.Value}}</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCustomerUser" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Country</label>
                        <div class="col-md-8">
                            <select id="ddlCountry" class="" name="CountryID" tabindex="-1">

                                <option ng-repeat="row in countries" value="{{row.Key}}">{{row.Value}}</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCountry" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Currency</label>
                        <div class="col-md-8">
                            <select id="ddlCurrency" class="" name="CurrencyID" tabindex="-1">

                                <option ng-repeat="row in currencies" value="{{row.Key}}">{{row.Value}}</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCurrency" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Supplier</label>
                        <div class="col-md-8">
                            <select id="ddlSupplier" class="" name="SupplierID" tabindex="-1">

                                <option ng-repeat="row in suppliers" value="{{row.Key}}">{{row.Value}}</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblSupplier" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="col-md-4">
                        <span style="color:red">
                            *
                        </span>
                        Select File:
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <label class="input-group-btn btn-file">
                                <span class="btn btn-primary">
                                    Browse<input type="file" name="file" id="file" style="display:none;" />
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <span><a href="~/Template/BulkQuoteRequestTemplate.xls" style="color:#999; text-decoration:underline;">Download Template</a></span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblFile" style="color:red">

                    </span>

                </div>
                                        
                </div>
            <div class="row" style="margin-top: 15px;">

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="control-label col-md-4" style="padding-left: 20px;"> </div>
                        <div class="col-md-8 ">
                            <button type="submit" class="btn btn-primary btnSubmit" style="float: right;margin-left:10px;" id="btnGenerate">Submit</button>
                            <button type="button" class="btn btn-default btnReset" style="float: right;"  ng-click="reset()">Reset</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCustomerRef" style="color:red">

                    </span>

                </div>




 
            </div>


        }
    }
   

</div>

<script type="text/javascript">
    $(document).ready(function () {
     @if (TempData["Message"] != null)
     {
         <text>
     showNotification('@TempData["Message"].ToString()');
         </text>
     }



        $("#CustomerID").prepend("<option value='0'>--Select--</option>");
        $("#CustomerID").select2().val("0").trigger("change");

        $("#ddlCustomerUser").prepend("<option value='0'>--All--</option>");
        $("#ddlCustomerUser").select2().val("0").trigger("change");

        $("#ddlCountry").prepend("<option value='0'>--All--</option>");
        $("#ddlCountry").select2().val("0").trigger("change");

        $("#ddlCurrency").prepend("<option value='0'>--All--</option>");
        $("#ddlCurrency").select2().val("0").trigger("change");


        //ddlSupplier

        $("#ddlSupplier").prepend("<option value='0'>--All--</option>");
        $("#ddlSupplier").select2().val("0").trigger("change");

        $('#CustomerID').change(function () {
            $("#customerId").val($(this).val());
            angular.element(document.getElementById('myController')).scope().getGetCountry($(this).val(), false);
            angular.element(document.getElementById('myController')).scope().getGetCustomerUser($(this).val(), false);
        });

      

        $('#ddlCountry').change(function () {
            var customerId = $("#CustomerID").val();
            var countryId = $(this).val()
            angular.element(document.getElementById('myController')).scope().getGetCustomerCountryCurrency(customerId, countryId);
            angular.element(document.getElementById('myController')).scope().getSuppliers(customerId, countryId);
        });
        function showValidationError(msg, label) {
            $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
        }
        $("#btnGenerate").on("click", function (e) {

            if (($("#CustomerRef").val() == "" || $("#CustomerRef").val() == null) || $("#CustomerRef").val() == "null") {

                showValidationError('Please enter the reference no.', 'lblCustomerRef');
                return false;
            }
            if (($("#CustomerID").val() == "" || $("#CustomerID").val() == null || $("#CustomerID").val() == "0") || $("#CustomerID").val() == "null") {
                showValidationError('Please select customer', 'lblCustomer');
                return false;
            }
            if (($("#ddlCustomerUser").val() == "" || $("#ddlCustomerUser").val() == null || $("#ddlCustomerUser").val() == "0") || $("#ddlCustomerUser").val() == "null") {
                showValidationError('Please select customer user', 'lblCustomerUser');
                return false;
            }
            if (($("#ddlCountry").val() == "" || $("#ddlCountry").val() == null || $("#ddlCountry").val() == "0") || $("#ddlCountry").val() == "null") {

                showValidationError('Please select country', 'lblCountry');
                return false;
            }

            if (($("#ddlCurrency").val() == "" || $("#ddlCurrency").val() == null || $("#ddlCurrency").val() == "0") || $("#ddlCurrency").val() == "null") {

                showValidationError('Please select currency', 'lblCurrency');
                return false;
            }

            if (($("#ddlSupplier").val() == "" || $("#ddlSupplier").val() == null || $("#ddlSupplier").val() == "0") || $("#ddlSupplier").val() == "null") {

                showValidationError('Please select the supplier', 'lblSupplier');
                return false;
            }
           


            if (file.files.length > 0) {
                var ext = file.files[0].name.split('.').pop();
                if (ext == "xlsx" || ext == "xls") {

                }
                else {
                    showValidationError('Please upload file in excel format', 'lblFile');
                    return false;
                }
            }
            else {
                showValidationError('Please select a file', 'lblFile');
                return false;
            }

            StartLoader();
        });

    });
</script>
