﻿@using GridMvc.Html
@model OneSourceAdmin.Models.ITServiceListModel
@using System.Configuration;
@{
    ViewBag.Title = "IT Service Quotes List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var siteLocation = ConfigurationManager.AppSettings["sitelocation"].ToString();
}
<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<div id="servicequote">
    <div class="clearfix"></div>
    <div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
        <div class="col-md-3" style="padding: 10px; color: #FFF;">
            <b> IT Service Quotes List </b>
        </div>
        <div class="col-md-3" style="padding: 10px;"></div>
        <div class="col-md-3" style="padding: 10px;"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="padding-top:25px; padding-bottom:10px;">
        <div class="col-md-8">
            <h2>IT Service Quotes</h2>
        </div>
        <div class="col-md-4 text-right" style="padding-top:15px;">
            <a href="it-service-quote" class="btn btn-lg btn-danger"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Quote</a>
        </div>
    </div>

    <div>

        @Html.Grid(Model.ITServiceList).Columns(columns =>
{
columns.Add(C => C.ISQuoteId).Sortable(true).Filterable(true).Titled("Quote #").SetWidth(50);
columns.Add(C => C.AccountManagerName).Sortable(true).Filterable(true).Titled("Account Manager").SetWidth(200);
columns.Add(C => C.CustomerName).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Customer Name").SetWidth(100);
columns.Add(C => C.Country).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Country").SetWidth(100);
columns.Add(C => C.City).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("City").SetWidth(100);
//columns.Add(C => C.NoofResources).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Resources").SetWidth(100);
columns.Add(C => C.CreatedDate).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Date").SetWidth(150);
columns.Add(C => C.LineItems).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Items").SetWidth(100).RenderValueAs(C => @<span>
        @*@if (C.LineItems > 0)
            {
                <a onclick="LineItemView(@C.SoftwareQuoteId)" style="color:#0094ff; cursor:pointer;">@C.LineItems</a>
            }
            else
            {
                @C.LineItems
            }*@
        @C.LineItems
    </span>);
columns.Add().Titled("").Encoded(false).Sanitized(false).SetWidth(50).RenderValueAs(C => @<div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon glyphicon-cog"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a onclick="OpenView('@C.ISQuoteId')" style="color:#FFF">View</a></li>
            @if (Session["UserGroupID"].ToString() != "4")
            {
                <li><a onclick="LineItemView('@C.ISQuoteId')" style="color:#fff">Assign Supplier</a></li>
            }
        </ul>
    </div>);
}).WithPaging(25)
    </div>

    <!--Modal View-->

    <div class="modal fade" id="mdlService" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">IT Service Quote #: <span id="divId"></span></h4>
                </div>
                <div class="modal-body" style="max-height:400px; overflow-y:auto; ">
                    <div>
                        <label class="col-sm-4 control-label">
                            Account Manager
                        </label>
                        <div class="col-sm-8">
                            <label id="lblAccountManger"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Customer Name</label>
                        <div class="col-sm-8">
                            <label id="lblCustomerName"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <label class="col-sm-4 control-label">Supplier</label>
                        <div class="col-sm-7">
                            <label id="lblSupplier"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Customer Site Address</label>
                        <div class="col-sm-8">
                            <label id="lblSiteAddress"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Country</label>
                        <div class="col-sm-8">
                            <label id="lblCountry"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    @*<div>
                            <label class="col-sm-4 control-label">Currency</label>
                            <div class="col-sm-8">
                                <label id="lblCurrency"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@

                    <div>
                        <label class="col-sm-4 control-label">City</label>
                        <div class="col-sm-8">
                            <label id="lblCity"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Equipment Details</label>
                        <div class="col-sm-8">
                            <label id="lblEqDetails"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div style="display:none;">
                        <div>
                            <label class="col-sm-4 control-label">No of Resources </label>
                            <div class="col-sm-8">
                                <label id="lblResources"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <label class="col-sm-4 control-label">Detailed Scope of Work</label>
                            <div class="col-sm-8">
                                <label id="lblScopeOfwork"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <label class="col-sm-4 control-label">Service Type</label>
                            <div class="col-sm-8">
                                <label id="lblServiceType"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <label class="col-sm-4 control-label">SLA</label>
                            <div class="col-sm-8">
                                <label id="lblSla"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <label class="col-sm-4 control-label">Engineer Availability</label>
                            <div class="col-sm-8">
                                <label id="lblEngAv"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Comment</label>
                        <div class="col-sm-8">
                            <label id="lblComments"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment1">
                        <hr />
                        <h4>Attachments</h4>
                        <label class="col-sm-4 control-label">Attachment 1</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment1"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment2">
                        <label class="col-sm-4 control-label">Attachment 2</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment2"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment3">
                        <label class="col-sm-4 control-label">Attachment 3</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment3"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment4">
                        <label class="col-sm-4 control-label">Attachment 4</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment4"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divAttachment5">
                        <label class="col-sm-4 control-label">Attachment 5</label>
                        <div class="col-sm-8">
                            <label id="lblAttachment5"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <hr />
                    <div class="table-responsive" style="display:none;" id="tblLineItemView">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlEditService" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">IT Service Quote</h4>
                </div>
                <div class="modal-body" style="max-height:400px; overflow-y:auto; ">
                    <div>
                        <label class="col-sm-4 control-label">
                            Account Manager
                        </label>
                        <div class="col-sm-8">
                            <label id="lblEAccountManger"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Customer Name</label>
                        <div class="col-sm-8">
                            <label id="lblECustomerName"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Customer Site Address</label>
                        <div class="col-sm-8">
                            <label id="lblESiteAddress"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Country</label>
                        <div class="col-sm-8">
                            <label id="lblECountry"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Currency</label>
                        <div class="col-sm-8">
                            <label id="lblECurrency"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">City</label>
                        <div class="col-sm-8">
                            <label id="lblECity"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Equipment Details</label>
                        <div class="col-sm-8">
                            <label id="lblEqDetails"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Engineer Availability</label>
                        <div class="col-sm-8">
                            <label id="lblEEngAv"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label class="col-sm-4 control-label">Comment</label>
                        <div class="col-sm-8">
                            <label id="lblEComments"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr />
                    <h4>Update Quote</h4>
                    <input type="hidden" id="hdQuoteId" />
                    <div class="form-group">
                        <label class="col-sm-4 control-label">No of Resources </label>
                        <div class="col-sm-8">
                            <input type="text" id="txtResources" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Detailed Scope of Work</label>
                        <div class="col-sm-8">
                            <textarea id="txtscope" class="form-control"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Service Type</label>
                        <div class="col-sm-8">
                            <select id="drServiceType" class="form-control">
                                <option value="0">--Select--</option>
                                @foreach (var item in Model.ServiceType)
                                {
                                    <option value="@item.ServiceTypeId">@item.ServiceTypeName</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">SLA</label>
                        <div class="col-sm-8">
                            <select id="drSLA" class="form-control">
                                <option value="0">--Select--</option>
                                @foreach (var item in Model.SLATypes)
                                {
                                    <option value="@item.SLATypeId">@item.SLAName</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Select Supplier</label>
                        <div class="col-sm-8">
                            <select id="drSupplier" class="form-control">
                                <option value="0">--Select--</option>
                                @foreach (var item in Model.Suppliers)
                                {
                                    <option value="@item.SFAID">@item.SFAName</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment1">
                        <hr />
                        <h4>Attachments</h4>
                        <label class="col-sm-4 control-label">Attachment 1</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment1"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment2">
                        <label class="col-sm-4 control-label">Attachment 2</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment2"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment3">
                        <label class="col-sm-4 control-label">Attachment 3</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment3"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment4">
                        <label class="col-sm-4 control-label">Attachment 4</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment4"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEAttachment5">
                        <label class="col-sm-4 control-label">Attachment 5</label>
                        <div class="col-sm-8">
                            <label id="lblEAttachment5"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-8">
                        <div class="alert alert-success" id="message" style="display:none;">
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="#!" onclick="UpdateInfo()" class="btn btn-info">Update</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlLineItems" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" @*data-dismiss="modal"*@ onclick="Refresh()">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Line Items</h4>
                </div>
                <div class="modal-body" style="max-height:500px; overflow-y:auto;">
                    <div id="divmessage" style="display:none;" class="alert alert-success"></div>
                    <input type="hidden" id="hdQuoteId1" />
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Select Supplier</label>
                        <div class="col-sm-8">
                            <div class="form-horizontal">
                                <select id="drEditSupplier" class="form-control" style="display:inline-block; width:75%">
                                    <option value="0">--Select--</option>
                                    @foreach (var item in Model.Suppliers)
                                    {
                                        <option value="@item.SFAID">@item.SFAName</option>
                                    }
                                </select>
                                <a href="#" class="btn btn-info" onclick="UpdateInfo()">Update</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="divEditForm" style="display:none;">
                        <form method="post" action="update-line-item" id="frm-Update">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Resources<span class="text-danger">*</span></label>
                                <div class="col-sm-8" id="resources">
                                    <input type="text" class="form-control number" id="txtLineResource" required maxlength="4" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Detailed Scope of Work<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <textarea id="txtScope" class="form-control" required maxlength="5000"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Select Service Type<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select id="drLineServiceType" class="form-control" required>
                                        <option value="">--Select--</option>
                                        @foreach (var item in Model.ServiceType)
                                        {
                                            <option value="@item.ServiceTypeId">@item.ServiceTypeName</option>
                                        }
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Select SLA<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select id="drLineSLA" class="form-control" required>
                                        <option value="">--Select--</option>
                                        @foreach (var item in Model.SLATypes)
                                        {
                                            <option value="@item.SLATypeId">@item.SLAName</option>
                                        }
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <input type="hidden" id="hidLineItemId" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Select Engineer Availability<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select required class="form-control" data-val="true" data-val-required="Please select engineer availability" id="drLineEngineer" name="LineItems.EngineerAvailability">
                                        <option selected="selected" value="">--Select--</option>
                                        <option value="1">Dispatch Onsite</option>
                                        <option value="2">FTE (Full time Engineer)</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-info" value="Update Item" />
                            </div>

                        </form>
                    </div>
                    <hr />
                    <div class="table-responsive" style="display:none;" id="tblLineItem">

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-8">
                        <div class="alert alert-success" id="message" style="display:none;">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-default" @*data-dismiss="modal"*@ onclick="Refresh()">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!--end-->


<script>
    $(".page-sidebar-menu").find(".quote").addClass("open");
    $(".page-sidebar-menu .quote").find(".sub-menu").css("display", "block");
    $(".page-sidebar-menu .quote").find(".it-service-quote").addClass("active");

    //$(function () {
    //    $('#servicequote').on('keydown', '.number', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    //})

    $('.number').keydown(function (event) {
        // Allow special chars + arrows 
        if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9
            || event.keyCode == 27 || event.keyCode == 13
            || (event.keyCode == 65 && event.ctrlKey === true)
            || (event.keyCode >= 35 && event.keyCode <= 39)) {
            return;
        } else {
            // If it's not a number stop the keypress
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                event.preventDefault();
            }
        }
    });


    $("#mdlLineItems").on("submit", "#frm-Update", function (e) {
        e.preventDefault();  // prevent standard form submission

        var data;

        data = new FormData();
        data.append('resource', $('#txtLineResource').val());
        data.append('scopeofwork', $('#txtScope').val());
        data.append('servicetype', $('#drLineServiceType').val());
        data.append('slaid', $('#drLineSLA').val());
        data.append('engid', $('#drLineEngineer').val());
        data.append('id', $('#hidLineItemId').val());

        $.ajax({
            url: 'update-line-item',
            data: data,
            type: 'POST',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
                if (data != "Error") {
                    $("#tblLineItem").html(data);
                    $("#tblLineItem").css({ 'display': 'block' });
                    $("#divmessage").css({ 'display': 'block' });
                    $("#divmessage").html("Item has been successfully updated");
                    $("#divEditForm").css({ 'display': 'none' });
                }

            }
        });

    });

    function DeleteLineItem(id, quoteid, quotetypeid) {
        if ($('#divEditForm').css('display') == 'block') {
            return false;
        }

        if (confirm("Are you sure you want to delete?")) {
            $.ajax({
                url: "delete-line-item-byid?id=" + id + "&quoteid=" + quoteid + "&qoutetype=" + quotetypeid,
                type: "GET",
                success: function (data) {
                    $("#tblLineItem").html(data);
                    $("#tblLineItem").css({ 'display': 'block' });
                }
            });
        }
    }

    function Refresh() {
        window.location.replace("it-services");
    }

    function LineItemView(id) {
        $('#frm-Update').trigger("reset");
        $("#divmessage").css({ 'display': 'none' });
        $.ajax({
            url: "get-line-item?id=" + id + "&quotetype=4",
            type: "GET",
            success: function (data) {
                $("#tblLineItem").html(data);
                $("#tblLineItem").css({ 'display': 'block' });
                $('#mdlLineItems').modal('show');
                $("#hdQuoteId1").val(id);
            }
        });

        $.ajax({
            url: "get-it-service-byid?id=" + id,
            type: "GET",
            dataType: "text",
            success: function (data) {
                var json = $.parseJSON(data);

                if (json != "Error") {
                    $("#drEditSupplier").val(json.SfaId);
                }
                else {
                    alert("Error");

                }
            }
        });
    }


    function EditLineItem(id) {
        $.ajax({
            url: "get-line-item-byid?id=" + id,
            type: "GET",
            dataType: "text",
            success: function (data) {
                var json = $.parseJSON(data);

                if (json != "Error") {
                    $("#txtLineResource").val(json.Resources);
                    $("#txtScope").val(json.Description);
                    $("#drLineServiceType").val(json.ServiceTypeId);
                    $("#drLineSLA").val(json.SLATypeId);
                    $("#drLineEngineer").val(json.EngineerAvailability);
                    $("#hidLineItemId").val(json.QuoteLineItemId);
                    $('#txtLineQuantity').focus();
                    $("#divEditForm").css({ 'display': 'block' });
                }
            }
        });
    }



    function UpdateInfo() {
        var data;

        if ($("#drEditSupplier").val() == "0") {
            alert("Please Select Supplier");
            return false;
        }

        data = new FormData();
        //data.append('resources', $('#txtResources').val());
        //data.append('scopeofwork', $('#txtscope').val());
        //data.append('servicetypeid', $('#drEditSupplier').val());
        ////data.append('slatypeid', $('#drSLA').val());
        data.append('supplierid', $('#drEditSupplier').val());
        data.append('quoteid', $('#hdQuoteId1').val());

        $.ajax({
            url: 'update-it-service-quote',
            data: data,
            type: 'POST',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
                $("#divmessage").css({ 'display': 'block' });
                $("#divmessage").html("Quote has been updated successfully");
            }
        });

    }


    function OpenView(id) {
        $.ajax({
            url: "get-it-service-byid?id=" + id,
            type: "GET",
            dataType: "text",
            success: function (data) {
                var json = $.parseJSON(data);

                if (json != "Error") {

                    $("#lblCustomerName").html(json.CustomerName);
                    $("#lblAccountManger").html(json.AccountManagerName);
                    $("#lblSiteAddress").html(json.SiteAddress);
                    $("#lblCountry").html(json.Country);
                    $("#lblSupplier").html(json.Supplier);
                    $("#lblCity").html(json.City);
                    $("#lblResources").html(json.NoofResources);
                    $("#lblScopeOfwork").html(json.ScopeofWork);
                    $("#lblEqDetails").html(json.EquipmentDetails);
                    $("#lblServiceType").html(json.ServiceType);
                    $("#lblSla").html(json.SLAType);
                    $("#lblEngAv").html(json.EngineerAvailabilityId == 1 ? "Dispatch Onsite" : "FTE (Full time Engineer)");
                    $("#lblComments").html(json.Comments);
                    $("#lblAttachment1").html("<a href='@siteLocation" + json.Attachment1 + "' style='color:blue'>" + json.Attachment1 + "</a>");
                    $("#lblAttachment2").html("<a href='@siteLocation" + json.Attachment2 + "' style='color:blue'>" + json.Attachment2 + "</a>");
                    $("#lblAttachment3").html("<a href='@siteLocation" + json.Attachment3 + "' style='color:blue'>" + json.Attachment3 + "</a>");
                    $("#lblAttachment4").html("<a href='@siteLocation" + json.Attachment4 + "' style='color:blue'>" + json.Attachment4 + "</a>");
                    $("#lblAttachment5").html("<a href='@siteLocation" + json.Attachment5 + "' style='color:blue'>" + json.Attachment5 + "</a>");
                    $("#divId").html(id);

                    if (json.Attachment1 == "") {
                        $("#divAttachment1").css({ 'display': 'none' });
                    }

                    if (json.Attachment2 == "") {
                        $("#divAttachment2").css({ 'display': 'none' });
                    }

                    if (json.Attachment3 == "") {
                        $("#divAttachment3").css({ 'display': 'none' });
                    }

                    if (json.Attachment4 == "") {
                        $("#divAttachment4").css({ 'display': 'none' });
                    }

                    if (json.Attachment5 == "") {
                        $("#divAttachment5").css({ 'display': 'none' });
                    }

                    $.ajax({
                        url: "get-line-item?id=" + id + "&quotetype=4",
                        type: "GET",
                        success: function (data) {
                            $("#tblLineItemView").html(data);
                            $("#tblLineItemView").css({ 'display': 'block' });
                            $(".editHead").css({ 'display': 'none' });
                            $(".editCol").css({ 'display': 'none' });
                        }
                    });

                    $('#mdlService').modal('show');
                }
                else {
                    alert("Error");

                }
            }
        });
    }

    function OpenEditView(id) {
        $.ajax({
            url: "get-it-service-byid?id=" + id,
            type: "GET",
            dataType: "text",
            success: function (data) {
                var json = $.parseJSON(data);

                if (json != "Error") {

                    $("#lblECustomerName").html(json.CustomerName);
                    $("#lblEAccountManger").html(json.AccountManagerName);
                    $("#lblESiteAddress").html(json.SiteAddress);
                    $("#lblECountry").html(json.Country);
                    $("#lblECurrency").html(json.Currency);
                    $("#lblECity").html(json.City);
                    $("#txtResources").val(json.NoofResources);
                    $("#txtscope").val(json.ScopeofWork);
                    $("#lblEqDetails").html(json.EquipmentDetails);
                    $("#drServiceType").val(json.ServiceTypeId);
                    $("#drSLA").val(json.SLAId);
                    $("#drSupplier").val(json.SfaId);
                    //$("#lblEngAv").html(json.EngineerAvailabilityId == 1 ? "Dispatch Onsite" : "FTE (Full time Engineer)");
                    $("#lblEComments").html(json.Comments);

                    $("#lblEAttachment").html("<a href='@siteLocation" + json.Attachment1 + "' style='color:blue'>" + json.Attachment1 + "</a>");
                    $("#lblEAttachment2").html("<a href='@siteLocation" + json.Attachment2 + "' style='color:blue'>" + json.Attachment2 + "</a>");
                    $("#lblEAttachment3").html("<a href='@siteLocation" + json.Attachment3 + "' style='color:blue'>" + json.Attachment3 + "</a>");
                    $("#lblEAttachment4").html("<a href='@siteLocation" + json.Attachment4 + "' style='color:blue'>" + json.Attachment4 + "</a>");
                    $("#lblEAttachment5").html("<a href='@siteLocation" + json.Attachment5 + "' style='color:blue'>" + json.Attachment5 + "</a>");
                    $("#hdQuoteId").val(id);
                    $('#mdlEditService').modal('show');

                    if (json.Attachment1 == "") {
                        $("#divEAttachment1").css({ 'display': 'none' });
                    }

                    if (json.Attachment2 == "") {
                        $("#divEAttachment2").css({ 'display': 'none' });
                    }

                    if (json.Attachment3 == "") {
                        $("#divEAttachment3").css({ 'display': 'none' });
                    }

                    if (json.Attachment4 == "") {
                        $("#divEAttachment4").css({ 'display': 'none' });
                    }

                    if (json.Attachment5 == "") {
                        $("#divEAttachment5").css({ 'display': 'none' });
                    }

                    $("#divmessage").css({ 'display': 'none' });
                }
                else {
                    alert("Error");

                }
            }
        });
    }

</script>
