﻿@model OneSourceAdmin.ViewModels.OneStreetPropertyViewModel
@{
    ViewBag.Title = "Catalog Setup";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px; margin-right: -19px;">
    <div class="col-md-6" style="padding: 10px; color: #FFF;">
        <b> OneStreet > Catalog Setup </b>
    </div>
    <div class="col-md-6" style="padding: 10px;">
        @using (Html.BeginForm("GetDataToExport", "OstCustomerProduct", FormMethod.Post, new { @id = "ManufacturerCategoryMappingReportForm" }))
        {
            <button class="btn btn-default topAddNewButton" type="button" id="ExportExcel" style="float:right;margin-right:10px;">
                Export Mapped Categories
            </button>
            <input type="hidden" id="customerIdForExport" name="customerIdForExport" value="0" />
        }
    </div>
</div>
@using (Html.BeginForm("UpdateCustomerProductSetting", "OstCustomerProduct", FormMethod.Post, new { enctype = "multipart/form-data", id = "form", style = "margin-top: 40px;" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div id="msg" class=" text-danger"></div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>Customer : </label>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("customerNameDrp", new SelectList(Model.CustomerName, "Value", "Text"), new { @idFor = "customerList" })
            <input type="hidden" id="customerId" name="customerId" value="@Model.CustomerId" />
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>Manufacturer: </label>
        </div>
        <div class="col-md-4">
            <select id="manufacturerDrp"></select>
            <input type="hidden" name="manufacturerId" value="@Model.ManufacturerId" />
        </div>
        <div class="col-md-3"></div>
    </div>



    <div class="col-md-12" id="CategoryDiv" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>Category: </label>
        </div>
        <div class="col-md-4">
            <input type="hidden" name="CategoryId" id="CategoryId" value="" />
            <div id="divCategoryDrp" style="padding-right:13px !important"><select id="CategoryDrp" multiple="multiple"></select></div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div id="categoryMsg" class=" text-danger"></div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="col-md-12 update-btn">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <button type="button" class="blueBtn btn btn-default" id="setupUpdate" style="margin-right:0;">Update</button>
        </div>
        <div class="col-md-3"></div>
    </div>
}

<script>

    var customerId;
    var manufacturerId;

    $(document).ready(function () {

        function GetCategories(customerId, manufacturerId) {
            var selectedVals = [];

            $("input[name='manufacturerId']").val(manufacturerId);
            var url = "OstCustomerProduct/GetCategories";
            $('#CategoryDrp').empty();
            $.getJSON(url, { customerId: customerId, manufacturerId: manufacturerId }, function (data) {

                var options = '';
                var checked = '';

                $.each(data.categories, function (index, value) {
                    if ((value.selected != null && value.selected > 0)) {
                        checked = "checked"
                        selectedVals.push(value.TreeClassClassificationID);
                        options = options + '<option value="' + value.TreeClassClassificationID + '" ' + checked + '>' + value.TreeClassClassificationName + '</option>';
                    }
                    else // APPEND OR INSERT DATA TO SELECT ELEMENT.
                        options = options + '<option value="' + value.TreeClassClassificationID + '">' + value.TreeClassClassificationName + '</option>';
                });

                $("#CategoryDrp").html(options);
                $('#CategoryDrp').multipleSelect({
                    placeholder: 'Select Categories',
                    selectAll: true,
                    filter: true,
                });

                $("#CategoryDrp").multipleSelect("setSelects", selectedVals);
                if (data.checkSelect != null && data.checkSelect == "SelectAll")
                    $("#CategoryDrp").multipleSelect("checkAll");

            });
        }

        $("#customerNameDrp").select2({
            placeholder: "Select",
            allowClear: true
        });
        $("#customerNameDrp").prepend("<option value='0' selected='selected'>None</option>");
        $("#customerNameDrp").select2().val("0").trigger("change");

        $("#manufacturerDrp").select2({
            placeholder: "Select",
            allowClear: true
        });
        $("#manufacturerDrp").prepend("<option value='0' selected='selected'>None</option>");
        $("#manufacturerDrp").select2().val("0").trigger("change");

        $("#customerNameDrp").change(function () {
            $("#msg").html("");
            $("#categoryMsg").html("");
            customerId = $(this).val();
            $("input[name='customerId']").val(customerId);
            $("input[name='customerIdForExport']").val(customerId);
            var url = "OstCustomerCategory/GetManufacturersCatalogSetup/" + customerId;
            $('#manufacturerDrp').empty();
            $.getJSON(url, function (data) {
                $.each(data, function (index, item) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#manufacturerDrp').append('<option value="' + item.Key + '">' + item.Value + '</option>');
                });
                $('#manufacturerDrp').prepend('<option value="0" selected>All</option>');
                $('#manufacturerDrp').change();
            });
        });

        $("#manufacturerDrp").change(function () {
            manufacturerId = $(this).val();
            GetCategories(customerId, manufacturerId);
        });

        $('#CategoryDrp').multipleSelect({
            placeholder: 'Select Categories',
            selectAll: true,
            filter: true,
        });

        $("#setupUpdate").click(function () {
            var manufacturerId = $("input[name='manufacturerId']").val();
            if (manufacturerId == 0) { }
            var categoryId = [];
            $('#divCategoryDrp li.selected').find('input[type="checkbox"]')
            $.each($('#divCategoryDrp li.selected').find('input[type="checkbox"]'), function (index, element) { categoryId.push($(element).val()) });
            $("input[name='CategoryId']").val(categoryId);
            var customerId = $("#customerId").val();
            var category = $("input[name='CategoryId']").val();

            if (customerId == "0") {
                $("#msg").html("Please select a customer");
                return false;
            }
            if (category == "") {
                if (confirm("Are you sure you want to unmap products? This action will unmap all your mapped products with respect to categories")) {
                    var setups = {
                    CustomerId: customerId,
                    ManufacturerId: manufacturerId,
                    CategoryId: category.toString()
                    };
                    StartLoader();
                    $.ajax({
                        url: '/OstCustomerProduct/UpdateCustomerProductSetting',
                        type: 'POST',
                        cache: false,
                        data: JSON.stringify({ model: setups }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "true") {
                                EndLoader();
                                showNotification("Record updated successfully.");
                            } else {
                                EndLoader();
                                showNotification("Error while updating.");
                            }
                        },
                    });
                }
            }
                //$("#categoryMsg").html("Please select category");
            else {
                var setups = {
                    CustomerId: customerId,
                    ManufacturerId: manufacturerId,
                    CategoryId: category.toString()
                };
                StartLoader();
                $.ajax({
                    url: '/OstCustomerProduct/UpdateCustomerProductSetting',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ model: setups }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "true") {
                            EndLoader();
                            showNotification("Record updated successfully.");
                        } else {
                            EndLoader();
                            showNotification("Error while updating.");
                        }
                    },
                });
            }
        });

        $("#ExportExcel").click(function () {
            if ($("input[name=customerIdForExport]").val() == "0")
                $("#msg").html("Please select a customer");
            else
                $("#ManufacturerCategoryMappingReportForm").submit();
        });
    });

</script>


@*<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>*@

@*<script>
        var myApp = angular.module("myModule", []);
        myApp.controller("myController", function ($scope, $http) {
            debugger;
            $scope.getManufacturers = function (id, fromQS) {

                $scope.$apply(function () {
                    $scope.products = null;
                    $scope.manufacturers = null;
                    $scope.categories = null;
                });
                $('input[name="productIds"]').val("");
                $('#ManufacturerID').val("");
                debugger;
                if (id != "") {
                    StartLoader();
                    $http.get('/OstCustomerCategory/GetManufacturers' + '?' + new Date().toString(), { params: { customerId: id } }).success(function (response) {
                        debugger;
                        $scope.manufacturers = response;
                        $scope.GetCategories(0, id);

                        if (!fromQS) {
                            debugger;
                            if (response.length > 0) {

                                $scope.showCategoryGrid = true;
                                debugger;
                                $('#ManufacturerID').removeAttr("disabled");
                                $('#CategoryTreeFamilyID').removeAttr("disabled");
                            }
                            else {
                                debugger;
                                $('#ManufacturerID').val("0").attr("disabled", "disabled");
                                //$('#CategoryTreeFamilyID').val("0").attr("disabled", "disabled");
                                $scope.showCategoryGrid = false;
                            }

                        }
                        if ($('#ManufacturerID').val() == "0") {
                            //$('#CategoryTreeFamilyID').attr("disabled", "disabled");

                        }
                        else {
                            debugger;
                            $('#CategoryTreeFamilyID').removeAttr("disabled");

                        }
                        EndLoader();

                    });
                }



            };
            debugger;
            $scope.GetCategories = function (mfgId, id, showcat) {
                debugger;
                $scope.$apply(function () {
                    debugger;
                    $scope.products = null;
                    $scope.categories = null;
                    debugger;
                });
                debugger;
                $('input[name="productIds"]').val("");
                $('#CategoryTreeFamilyID').val("0");

                //if (mfgId != "") {
                StartLoader();
                $http.get('/OstCustomerProduct/GetCategories' + '?' + new Date().toString(), { params: { customerId: id, manufacturerId: mfgId } }).success(function (response) {
                    $scope.categories = response;
                    //------------------------- Adnan 20-june-2019  ------------------------------
                    //$('.chkCat').prop("checked", false);
                    //var selectedCategories = "";
                    //$.each(response, function (i, v) {
                    //    if (v.status > 0) {
                    //        $('.table :input[value="' + v.status + '"]').prev().prop("checked", "true");
                    //        selectedCategories += v.status + ",";
                    //    }
                    //});




                    //selectedCategories.length == 0 ? $('input[name="catIds"]').val("") : $('input[name="catIds"]').val(selectedCategories.substring(0, selectedCategories.length - 1));


                    //setTimeout(function () {
                    //    setcheckboxesCategory();
                    //    //for rearrange seleted rows
                    //    var selectedCol = [];
                    //    $('.chkCat').each(function (e, t) {
                    //        if ($(t).prop("checked")) {
                    //            selectedCol.push($(t).parent());
                    //        }

                    //    });
                    //    if (selectedCol.length > 0) {
                    //        var options = [];
                    //        $.each(selectedCol, function (e, r) {
                    //            var row = $(r).parent();
                    //            if ($('.tblCat tr').length > 1) {
                    //                $('.tblCat').find(row).remove();
                    //            }
                    //            options.push($(row));
                    //        });
                    //        $('.tblCat tr:first').before(options);
                    //    }
                    //    setTimeout(function () {
                    //        if ($('.chkCat').length == selectedCol.length) {
                    //            $('.pchkCat').prop("checked", true);
                    //        }
                    //        else {
                    //            $('.pchkCat').prop("checked", false);
                    //        }
                    //    }, 100);
                    //    //
                    //    EndLoader();
                    //}, 500);
                    //-------------------------------------------------------------------
                    if (response.length > 0) {
                        $scope.showCategoryGrid = true;
                        if ($('#ManufacturerID').val() != "0") {
                            $('#CategoryTreeFamilyID').removeAttr("disabled");
                        } else {
                            $('#CategoryTreeFamilyID').attr("disabled", "disabled");
                        }
                    }
                    else {
                        $('#CategoryTreeFamilyID').val("0");
                        $('#CategoryTreeFamilyID').attr("disabled", "disabled");
                        $scope.showCategoryGrid = false;
                    }

                    EndLoader();

                });
                //  }
                if (showcat) {
                    $scope.showCategoryGrid = true;
                }


            };
            $scope.GetProducts = function (id, cId, mId) {
                $scope.showCategoryGrid = false;
                $('input[name="productIds"]').val("");
                if (id != "") {
                    StartLoader();
                    $http.get('/OstCustomerProduct/GetProducts' + '?' + new Date().toString(), { params: { categoryId: id, manufacturerId: mId, customerId: cId } }).success(function (response) {
                        $scope.products = response;

                        $('.chkProd').prop("checked", false);
                        var selectedproducts = "";
                        $.each(response, function (i, v) {
                            if (v.status > 0) {
                                $('.table :input[value="' + v.status + '"]').prev().prop("checked", "true");
                                selectedproducts += v.ProductID + ";" + v.ManufacturerPartCode + ",";
                            }
                        });

                        selectedproducts.length == 0 ? $('input[name="productIds"]').val("") : $('input[name="productIds"]').val(selectedproducts.substring(0, selectedproducts.length - 1));
                        setTimeout(function () {
                            setcheckboxes();
                            //for rearrange seleted rows
                            var selectedCol = [];
                            $('.chkProd').each(function (e, t) {
                                if ($(t).prop("checked")) {
                                    selectedCol.push($(t).parent());
                                }
                            });
                            if (selectedCol.length > 0) {
                                var options = [];
                                $.each(selectedCol, function (e, r) {
                                    var row = $(r).parent();
                                    if ($('.tblProd tr').length > 1) {
                                        $('.tblProd').find(row).remove();
                                    }
                                    options.push($(row));
                                });
                                $('.tblProd tr:first').before(options);
                            }
                            setTimeout(function () {
                                if ($('.chkProd').length == selectedCol.length) {
                                    $('.pchkProd').prop("checked", true);
                                }
                                else {
                                    $('.pchkProd').prop("checked", false);
                                }
                            }, 100);
                            //
                            EndLoader();

                        }, 500);

                    });
                }
                else {
                    $scope.$apply(function () {
                        $scope.products = null;
                        $scope.showCategoryGrid = true;
                    });

                }
            };
            $scope.reset = function () {
                $scope.categories = null;
                $scope.manufacturers = null;
                $scope.products = null;
                $scope.showCategoryGrid = false;
                $('#CustomerID').val("");
                $('#ManufacturerID').val("");
                $('#CategoryTreeFamilyID').val("");
                $('input[name="productIds"]').val("");
                $('.chkProd').prop("checked", false);
                $('.pchkProd').prop("checked", false);

                $('input[name="catIds"]').val("");
                $('.chkCat').prop("checked", false);
                $('.pchkCat').prop("checked", false);

            };
        });

    </script>*@
@*<div ng-app="myModule" ng-controller="myController" id="myController">
    <div class="clearfix"></div>
    <div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
        margin-right: -19px;">
        <div class="col-md-7" style="padding: 10px; color: #FFF;">
            <div class="col-md-3" style="padding:10px; color:#FFF;"><b> OneStreet > Catalog Setup </b></div>
            <div class="col-md-3" style="padding:10px;"></div>
            <div class="col-md-3" style="padding:10px;"></div>
        </div>
        <div class="col-md-5" style="padding: 7px; text-align:right;">
                <div style="float:right">
                @using (Html.BeginForm("ExportToExcel", "OstCustomerProduct", FormMethod.Post, new { @id = "CatalogReportExcel" }))
                {
                    <input type="hidden" name="customerId"  id="customerId" value="@ViewBag.CustomerId "/>
                    <input type="hidden" name="manufactureId" id="manufactureId" value="@ViewBag.ManufacturerId"/>
                        <div style="">
                        <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="margin-right: 13px;margin-top: 10px;">Export to excel</button>
                       </div>
                }
                </div>

        </div>
    </div>
    <div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span>@ViewBag.Message</span>
            </div>
        }
    </div>
    @using (Html.BeginForm("UpdateCustomerProductSetting", "OstCustomerProduct", FormMethod.Post, new { @id = "CCForm" }))
    {
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Customer </label>
                    <div class="col-md-6">
                        <input type="hidden" name="CustomerName" id="CustomerName">
                        <input type="hidden" name="CustomerAlertId" id="CustomerAlertId">
                        @Html.DropDownList("customerId", new SelectList(Model,
                         "Key", "Value"),
                        new { @id = "CustomerID", @valueFor = "CustomerName", @class = "", @tabindex = "-1", @placeholder = "Customer" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Manufacturer</label>
                    <div class="col-md-6">
                        <select id="ManufacturerID" class="" name="manufacturerId" tabindex="-1">
                            @*<option value="0">--All--</option>*@
@*<option ng-repeat="row in manufacturers" value="{{row.ManufacturerID}}">{{row.ManufacturerName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Category</label>
                <div class="col-md-6">
                    <select id="CategoryTreeFamilyID" class="" name="categoryTreeFamilyID" tabindex="-1">
                        @*<option value="0">--All--</option>*@
@*<option ng-repeat="row in categories" value="{{row.TreeClassClassificationID}}">{{row.TreeClassClassificationName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="products.length>0">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15px;padding-right:0px">
            <b style="float:right"><span id="totalCount">Selected Product(s) : 0</span></b>
            <input type="hidden" name="TotalProductCount" id="TotalProductCount" value="" />
            <table class="table" style="margin-bottom: 0px;">
                <thead style="color: #fff;background-color: #399bd3;">
                    <tr>
                        @if (ViewBag.AddEditAccess == true)
                        {
                            <th style="width: 22%;font-size: 10px;">
                                <input type="checkbox" class="pchkProd"><br />
                                Check/Uncheck All
                            </th>
                        }
                        <th style="width: 85%;font-size: 17px;">Products <input type="text" placeholder="Search products" class="form-control searchGridResult" /></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8" style="max-height:350px;overflow-x:hidden">
            <table class="table tblProd">

                <tbody>
                    <tr ng-repeat="a in products">
                        <td class="productName" style="width:22%">
                            <input type="checkbox" class="chkProd" ng-checked="{{a.status>0==true?true:false}}" @(ViewBag.AddEditAccess == true ? "" : "disabled")>
                            @*<input type="hidden" value="{{a.ProductID +';'+a.ManufacturerPartCode}}"/>*@
@*<input type="hidden" value="{{a.ProductID}}" />
                        </td>
                        <td>
                            <span><b>{{a.ManufacturerPartCode}}</b> - {{a.Description}}</span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <input type="hidden" name="productIds" />

        </div>

    </div>
    <div ng-show="products.length==0 && !showCategoryGrid" style="margin-top:15px">
        <div class="alert alert-warning fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>No Record Found!</span>
        </div>
    </div>

            //if all manufacturer and all category of customer

    <div class="row" ng-show="showCategoryGrid">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15px;padding-right:0px">
            <b style="float:right"><span id="totalCountCat">Selected Category(ies) : 0</span></b>
            <table class="table" style="margin-bottom: 0px;">
                <thead style="color: #fff;background-color: #399bd3;">
                    <tr>
                        @if (ViewBag.AddEditAccess == true)
                        {
                            <th style="width: 22%;font-size: 10px;">
                                <input type="checkbox" class="pchkCat"><br />
                                Check/Uncheck All
                            </th>
                        }
                        <th style="width: 85%;font-size: 17px;">Categories <input type="text" placeholder="Search categories" class="form-control searchGridResult" /></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8" style="max-height:350px;overflow-x:hidden">
            <table class="table tblCat">
                <tbody>
                    <tr ng-repeat="a in categories">
                        <td class="catName" style="width:22%">
                            <input type="checkbox" class="chkCat" @*ng-checked="{{a.status>0==true?true:false}}"*@ @*@(ViewBag.AddEditAccess == true ? "" : "disabled")>*@
                            @*<input type="hidden" value="{{a.TreeClassClassificationID}}" />
                                                    </td>
                                                    <td>

                                                        <span>{{a.TreeClassClassificationName}}</span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <input type="hidden" name="catIds" />

                                    </div>

                                </div>
                                @*<div ng-show="products.length==0" style="margin-top:15px">
                                        <div class="alert alert-warning fade in">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <span>No Record Found!</span>
                                        </div>
                                    </div>*@




                            @*if (ViewBag.AddEditAccess == true)
                                        {
                                <div class="row" style="margin-top: 15px;">

                                    <div class="col-md-4"></div>
                                    <div class="col-md-7" style=" padding-left:23px;">
                                        <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                                        <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per" ng-click="reset()">Reset</button>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                                        }

                                    }
                                </div>*@
                            @*<script>
                                    //$(function () {
                                    //    $('.menuScroller').slimScroll({});
                                    //});
                                    $(function () {
                                        setTimeout(function () {
                                            $('.alert-info').slideUp();
                                        }, 2000);

                                        var url = window.location.href.split('?');
                                        if (url.length > 1) {
                                            var customerId = url[1].split('&')[0].split('=')[1];
                                            var manufacturerId = url[1].split('&')[1].split('=')[1];
                                            var catId = url[1].split('&')[2].split('=')[1];

                                            angular.element(document.getElementById('myController')).scope().getManufacturers(customerId, true);

                                            if (manufacturerId == "0") {
                                                angular.element(document.getElementById('myController')).scope().GetCategories(manufacturerId, customerId, true);
                                            } else {
                                                angular.element(document.getElementById('myController')).scope().GetCategories(manufacturerId, customerId, false);

                                            }
                                            if (catId == "0") {
                                                angular.element(document.getElementById('myController')).scope().GetCategories(manufacturerId, customerId, true);
                                            }
                                            else {
                                                angular.element(document.getElementById('myController')).scope().GetProducts(catId, customerId, manufacturerId);
                                            }
                                            setTimeout(function () {
                                                StartLoader();
                                                $('#ManufacturerID').val(parseInt(manufacturerId));
                                                if ($('#ManufacturerID').val() == "0") {
                                                    $('#CategoryTreeFamilyID').attr("disabled", "disabled");
                                                }
                                                else {
                                                    $('#CategoryTreeFamilyID').removeAttr("disabled");
                                                }
                                                setTimeout(function () {
                                                    $('#CategoryTreeFamilyID').val(parseInt(catId));
                                                    EndLoader();
                                                }, 1000);
                                            }, 1000);


                                        }
                                    });
                                    $('#CustomerID').change(function () {
                                        $("#customerId").val($(this).val());//adnan 21-june-2019
                                        angular.element(document.getElementById('myController')).scope().getManufacturers($(this).val(), false);
                                    });
                                    $('#ManufacturerID').change(function () {
                                        $("#manufactureId").val($(this).val());//adnan 21-june-2019
                                        if ($(this).val() == "0") {
                                            angular.element(document.getElementById('myController')).scope().GetCategories($(this).val(), $('#CustomerID').val(), true);
                                            //  $('#CategoryTreeFamilyID').attr("disabled", "disabled");
                                        }
                                        else {
                                            angular.element(document.getElementById('myController')).scope().GetCategories($(this).val(), $('#CustomerID').val(), false);
                                            // $('#CategoryTreeFamilyID').removeAttr("disabled");
                                        }
                                    });
                                    $('#CategoryTreeFamilyID').change(function () {
                                        if ($(this).val() == "0")
                                            angular.element(document.getElementById('myController')).scope().GetCategories($('#ManufacturerID').val(), $('#CustomerID').val(), true);
                                        else
                                            angular.element(document.getElementById('myController')).scope().GetProducts($(this).val(), $('#CustomerID').val(), $('#ManufacturerID').val());
                                    });

                                    var globalCount = 0;
                                    function setcheckboxes() {
                                        debugger;
                                        var count = 0;
                                        var products = "";
                                        //var flag;
                                        $('.chkProd').each(function () {
                                            if ($(this).is(":checked")) {
                                                products += $(this).siblings().val() + ",";
                                                count++;
                                            }
                                        });
                                        if (products.length > 0) {
                                            products = products.substring(0, products.length - 1);
                                            $('input[name="productIds"]').val(products);
                                        }
                                        else {
                                            $('input[name="productIds"]').val("");
                                        }
                                        //if (flag == false) {
                                        //    globalCount = count;
                                        //    flag = true;
                                        //}

                                        debugger;
                                        $('#TotalProductCount').val(count);
                                        $('#totalCount').text("Selected Product(s) : " + count);

                                    }
                                    debugger;


                                    $('body').on('click', 'input.chkProd', function () {
                                        setcheckboxes();
                                    });
                                    $('body').on('click', 'input.pchkProd', function () {
                                        if ($(this).is(":checked")) {
                                            $('.chkProd').prop("checked", true);
                                            setcheckboxes();
                                        }
                                        else {
                                            $('input[name="productIds"]').val("");
                                            $('.chkProd').prop("checked", false);
                                            $('#totalCount').text("Selected Product(s) : 0");

                                        }
                                    });

                                    var count = 0;

                                    function setcheckboxesCategory() {
                                        var cats = "";
                                        $('.chkCat').each(function () {
                                            if ($(this).is(":checked")) {
                                                cats += $(this).siblings().val() + ",";
                                                count++;
                                            }

                                        });

                                        if (cats.length > 0) {
                                            cats = cats.substring(0, cats.length - 1);
                                            $('input[name="catIds"]').val(cats);
                                        }
                                        else {
                                            $('input[name="catIds"]').val("");
                                        }
                                        debugger;
                                        $('input[name="TotalProductCount"]').val(count);
                                        $('#totalCountCat').text("Selected Category(ies) : " + count);

                                    }
                                    $('body').on('click', 'input.chkCat', function () {
                                        setcheckboxesCategory();
                                    });
                                    $('body').on('click', 'input.pchkCat', function () {
                                        if ($(this).is(":checked")) {
                                            $('.chkCat').prop("checked", true);
                                            setcheckboxesCategory();
                                        }
                                        else {
                                            $('input[name="catIds"]').val("");
                                            $('.chkCat').prop("checked", false);
                                            $('#totalCountCat').text("Selected Category(ies) : 0");

                                        }
                                    });






                                    $('#CCForm').submit(function () {
                                        if ($('#CustomerID').val() == "" || $('#CategoryTreeFamilyID').val() == "" || $('#ManufacturerID').val() == "" || $('#CustomerID').val() == "0") {
                                            alert("Customer, manufacturer, category and products are required");
                                            return false;
                                        }
                                        if ($('.tblProd tbody tr').length == 0 && $('.tblCat').parent().parent().css("display") == "none") {
                                            alert("No item to update");
                                            return false;
                                        }
                                        $('#CategoryTreeFamilyID').removeAttr("disabled");
                                        StartLoader();
                                        setcheckboxes();
                                    });
                                    $(document).ready(function () {
                                        // Added by Adnan 13-06-19


                                        $("#CustomerID").prepend("<option value='0'>--Select--</option>");
                                        $("#CustomerID").select2().val("0").trigger("change");




                                        $("#ManufacturerID").prepend("<option value='0'>--All--</option>");
                                        $("#ManufacturerID").select2().val("0").trigger("change");

                                        $("#CategoryTreeFamilyID").prepend("<option value='0'>--All--</option>");
                                        $("#CategoryTreeFamilyID").select2().val("0").trigger("change");

                                        //----------------------------------------------------------
                                        $(".page-sidebar-menu").find(".onestreet").addClass("open");
                                        $(".page-sidebar-menu .onestreet").find(".sub-menu").css("display", "block");
                                        $(".page-sidebar-menu .onestreet").find(".catalogsetup").addClass("active");
                                    });

                                    $("#exportExcel").on("click", function (e) {
                                        var customerId = parseInt($("#customerId").val() || 0);
                                        if (customerId == 0) {
                                            alert("please select customer");
                                            return false;
                                        } else {
                                            StartLoader();
                                            var newForm = $('#CatalogReportExcel');
                                            checkExcelCookie();
                                            newForm.submit();
                                        }


                                    });
                                    function checkExcelCookie() {
                                        var cookieVal = $.cookie('excelDownloadStatus');
                                        if (cookieVal == null || cookieVal === 'undefined' || cookieVal === 'pending') {
                                            setTimeout("checkExcelCookie();", 1000);
                                        }
                                        else {
                                            $.removeCookie('excelDownloadStatus', { path: '/' })
                                            EndLoader();
                                        }
                                    }
                                </script>*@
