﻿@{
    ViewBag.Title = "AccessDeniedView";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div>


    <h1 class="text-danger"><b><i class="glyphicon icon-lock" style="font-weight: bolder; font-size: 28px;"></i> @ViewBag.ErrorType</b></h1>


    <span class="" style="font-size: 18px;">@ViewBag.Message</span><br>

    <a style="color: blue; text-decoration: underline; font-size: 15px;" href="/admin-dashboard">Return to Dashboard</a><a></a>




</div>