﻿@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<script src="/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

<div class="content" style="background-color: #3b9ad2;">
    <!-- BEGIN LOGIN FORM -->

    <div class="pagebar"><h4>Sign In</h4></div>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
    {


        <h3 class="form-title"></h3>

        if (ViewBag.error != "")
        {
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <span>
                    @ViewBag.error
                </span>
            </div>
            ViewBag.error = "";
        }

        <div class="alert alert-danger display-hide ">
            <button class="close" data-close="alert"></button>
            <span>
                Enter any username and password.
            </span>
        </div>


        <div class="form-group" id="cookieCheckDiv">
            <div style="background-color:lightyellow; color:black; text-align:center; padding:10px 0px">
                <h5 style="font-weight:bold;">Cookies Required</h5>
                <p style="font-size:0.9em;">Cookies are not enabled on your browser. Please enable cookies in your browser preferences to continue.</p>
            </div>
        </div>

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
        </div>
        <div class="form-actions">

          @*  @Html.ActionLink("Forgot Password?", "forgotPassword", null, new { @class = "forget-password", @style = "float:left;" })*@


            <button type="submit" id="btnLogin" class="btn btn-success uppercase" style="float:right;">Login</button>

            <br>
            <br />
            <br />
            <br />
        </div>

    }
    @*</form>*@

    <script>
        $(document).ready(function () {

            if (cookiesEnabled()) {
                $('#cookieCheckDiv').hide();
            }
            else {
                $('#cookieCheckDiv').show();
            }
        });

        function cookiesEnabled() {
            var cookiesEnabled = (navigator.cookieEnabled) ? true : false;
            if (typeof navigator.cookieEnabled == "undefined" && !cookiesEnabled) {
                document.cookie = "mytestcookie";
                cookiesEnabled = (document.cookie.indexOf("mytestcookie") != -1) ? true : false;
            }
            return cookiesEnabled;
        }
    </script>
</div>
