﻿@model  OneSourceAdminCore.Model.RequestSettingModel
@{
    ViewBag.Title = "Request Settings";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>
<script>
    var myApp = angular.module("myModule", []);
    myApp.controller("myController", function ($scope, $http) {
        $scope.getPriorities = function (id, companyId) {
            StartLoader();
            $scope.$apply(function () {
                $scope.priorities = null;
                $scope.genericpriorities = null;
            });
            if (id !== "") {

                $http.get('/RequestSetting/GetPriorities' + '?' + new Date().toString(), { params: { customerid: id, companyId: companyId } }).success(function (response) {

                    $scope.priorities = response.LstPriorities;
                    $scope.genericpriorities = response.LstGenericPriorities;
                    $scope.parentCompanyId = response.ParentCompanyId;
                    $scope.isStandard = response.ParentCompanyId == 15 ? true : false;
                    $scope.showStandard = response.ParentCompanyId == 15 ? true : false;

                    if (response.LstPriorities.length > 0) {
                        $('.RequestGrid').show();
                    }
                    else {
                        $('.RequestGrid').hide();
                    }
                });
            }
            EndLoader();

        };
        $scope.updateStandard = function () {
            $scope.$apply(function () {
                $('#CustomerID').val('');
                $scope.isStandard = false;
                $scope.showStandard = false;
            });
        };
        $scope.showLists = function () {
            if ($('#CustomerID').val() == "") return false;
            else return true;
        };


    });

</script>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Request Settings </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
@*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
        <div class="col-md-12">
            <h1 style="color: #fff;">Request Settings > Engineer Level</h1>
        </div>
        <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
        </div>
        <div class="col-md-4"></div>
    </div>*@
<div ng-app="myModule" ng-controller="myController" id="myController">
    @if (ViewBag.AddEditAccess == true)
    {
        using (Html.BeginForm("AddEngineerLevel", "RequestSetting", FormMethod.Post, new { @id = "EngineerLevelForm" }))
        {
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3" style="padding-right:0px"><span style="color:red">* </span>Add Engineer Level </label>
                        <div class="col-md-6">
                            <input type="text" maxlength="50" class="form-control" name="PriorityName" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-4"></div>
                <div class="col-md-7" style="padding-left: 23px;">
                    <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Add</button>
                    <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
                </div>
                <br>
                <br>
            </div>
        }
    

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-12"><h4>Set engineer level for customer</h4> </label>
            </div>
        </div>
    </div>
    }
    @using (Html.BeginForm("AddEngineerLevelToCustomer", "RequestSetting", FormMethod.Post, new { @id = "EngineerLevelToCustomerForm" }))
    {
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Customer</label>
                    <div class="col-md-6">
                        <input type="hidden" name="CustomerName" id="CustomerName">
                        <input type="hidden" name="CustomerId" id="CustomerId">
                        <input type="hidden" name="CompanyId" id="CompanyId">
                        <input type="hidden" name="GenericsPriorityNames" id="GenericsPriorityNames">
                        <select class="form-control " id="CustomerID" valuefor="CustomerName" idfor="CustomerId" tabindex="-1" @*ng-disabled="showStandard"*@>
                            <option value="">--Select--</option>
                            @foreach (var item in Model.Customers)
                            {

                                <option value="@item.CustomerId" companyid="@item.ParentCompanyId">@item.CustomerName</option>
                            }
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;" ng-show="showStandard">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span>&nbsp;</span>Standard</label>
                    <div class="col-md-6">
                        <input type="checkbox" ng-checked="isStandard" ng-model="isStandard">
                        <input type="hidden" name="wasStandard" value="{{showStandard}}">

                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 40px;" ng-show="showLists()">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        <div ng-show="genericpriorities.length>0">
                            <select class="form-control " id="GenericPriorityId" name="GenericPriorityIds" tabindex="-1" multiple style="height: 150px;">
                                <option ng-repeat="row in genericpriorities" value="{{row.Key}}">{{row.Value}}</option>
                                @* <option ng-show="genericpriorities.length==0" disabled value="">No Records to update</option>*@
                            </select>
                        </div>
                        <div ng-show="genericpriorities.length==0">
                            <select class="form-control " id="GenericPriorityId" name="GenericPriorityIds" tabindex="-1" multiple style="height: 150px;">
                                <option disabled value="">No Records to update</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control " id="PriorityId" name="PriorityIds" tabindex="-1" multiple disabled style="height: 150px;">
                            <option ng-repeat="row in priorities" value="{{row.PriorityId}}">{{row.PriorityName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        if (ViewBag.AddEditAccess == true)
        {
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-4"></div>
                <div class="col-md-7" style="padding-left: 23px;">
                    <button type="submit" class="btn btn-default" style="float: left; margin-left: 20px;margin: 0px;" id="per" ng-disabled="isStandard">Update</button>
                    <button type="button" class="btn btn-default btnReset1" style="float: left; margin-left: 5px;" id="per">Reset</button>
                </div>
                <br>
                <br>
            </div>
        }

    }
    @using (Html.BeginForm("DeleteRequest", "RequestSetting", FormMethod.Post, new { @id = "RequestDeleteForm" }))
    {
        <div ng-show="showLists()" class="RequestGrid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="margin-top: 15px;padding-right:0px">
                    <table class="table" style="margin-bottom: 0px;">
                        <thead style="color: #fff;background-color: #399bd3;">
                            <tr>
                                @if (ViewBag.AddEditAccess == true)
                                {
                                    <th style="width: 22%;font-size: 10px;">
                                        <input type="checkbox" class="pchkRequest"><br />
                                        Check/Uncheck All
                                    </th>
                                }
                                <th style="width: 85%;font-size: 17px;">Engineer Level</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-12"></div>
                <div class="col-md-2"></div>
                <div class="col-md-8" style="max-height:350px;overflow-x:hidden">
                    <table class="table tblProd">
                        <tbody>
                            <tr ng-repeat="row in priorities">
                                @if (ViewBag.AddEditAccess == true)
                                {
                                    <td style="width:22%">
                                        <input type="checkbox" class="chkRequest">
                                        <input type="hidden" value="{{row.PriorityId}}" />
                                    </td>
                                }
                                <td>
                                    <span>{{row.PriorityName}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" name="RequestIds" />
                    <input type="hidden" name="hCompanyId" id="hCompanyId">
                    <input type="hidden" name="hCustomerId" id="hCustomerId">
                </div>
            </div>
            @if (ViewBag.AddEditAccess == true)
            {
                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-7" style="padding-left: 23px;">
                        <button type="submit" class="btn btn-default" style="float: left; margin-left: 5px;" id="per" ng-disabled="showStandard">Delete</button>
                    </div>
                    <br>
                    <br>
                </div>
            }
        </div>
    }
</div>
<script>
    function setcheckboxes() {
        var count = 0;
        var Request = "";
        $('.chkRequest').each(function () {
            if ($(this).is(":checked")) {
                Request += $(this).siblings().val() + ",";
                count++;
            }
        });
        if (Request.length > 0) {
            Request = Request.substring(0, Request.length - 1);
            $('input[name="RequestIds"]').val(Request);
        }
        else {
            $('input[name="RequestIds"]').val("");
        }



    }
    $('body').on('click', 'input.chkRequest', function () {
        setcheckboxes();
    });
    $('body').on('click', 'input.pchkRequest', function () {
        if ($(this).is(":checked")) {
            $('.chkRequest').prop("checked", true);
            setcheckboxes();
        }
        else {
            $('input[name="RequestIds"]').val("");
            $('.chkRequest').prop("checked", false);
        }
    });
    $('#RequestDeleteForm').submit(function () {

        var totalItems = $('.chkRequest').length;
        var count = 0;
        $('.chkRequest').each(function () {
            if ($(this).is(":checked")) {
                count++;
            }
        });
        if (count == totalItems) {
            alert("Atleast one Engineer level required for this customer");
            return false;
        }

        if ($('#CustomerID').val() == "" || $('input[name="RequestIds"]').val() == "") {
            alert("Please select customer and Engineer Level to delete");
            return false;
        }
        var companyId = $('#' + $('#CustomerID').attr('id') + " option:selected").attr('companyid');
        $('#hCompanyId').val(companyId);
        $('#hCustomerId').val($('#CustomerID').val());
    });
    $(window).ready(function () {


        var customerId = "@Model.CustomerId";
        if (customerId.length > 0) {
            //angular.element(document.getElementById('myController')).scope().getPriorities(0, companyId);
            $('#CustomerID').val(customerId).change();


        }
    });
    $(function () {
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 3000);
    });
    $("#EngineerLevelForm").submit(function () {
        if ($('input[name="PriorityName"]').val() == "") {
            alert("Please provide engineer level");
            return false;
        }
    });
    $('#EngineerLevelToCustomerForm').submit(function () {

        if ($('#CustomerID').val() == "") {
            alert('Customer is required');
            return false;
        }

        var GenericsPriorityNames = '';
        $('#GenericPriorityId option:selected').each(function (e, t) {
            GenericsPriorityNames += $(t).text().trim() + ",";
        });
        GenericsPriorityNames = GenericsPriorityNames.substring(0, GenericsPriorityNames.length - 1);
        $('#GenericsPriorityNames').val(GenericsPriorityNames);

        if (GenericsPriorityNames == '') {
            alert("Please select atleast one engineer level");
            return false;
        }
    });


    $('#CustomerID').change(function () {
        $('.pchkRequest').prop("checked", false);
        var companyId = $('#' + $(this).attr('id') + " option:selected").attr('companyid');
        angular.element(document.getElementById('myController')).scope().getPriorities($(this).val(), companyId);

        $('#CompanyId').val(companyId);
    });

    $('.btnReset').click(function () {
        $('input[name="PriorityName"]').val("");
    });
    $('.btnReset1').click(function () {
        angular.element(document.getElementById('myController')).scope().updateStandard();
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".requestsetting").addClass("active");
    });
</script>
