﻿@model OneSourceAdminCore.Model.AssetDispositionModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Asset Disposition Dashboard";
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }


}
<style>
    #s2id_columnsDrp {
        display: none !important;
    }

    #s2id_customerDrp.asset {
        display: block !important;
    }

    a.highcharts-menu-item:hover {
        color: red;
    }
</style>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">

        <b> Dashboard > Asset Disposition Dashboard </b>

    </div>
</div>
<h3 style="text-align:center;color:#226381">Asset Disposition Dashboard</h3>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-3">

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <span style="color:red">* </span>Customer:
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    <select id="customerDrp" name="customerDrp" class="asset">
                        @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                        {
                            foreach (var item in Model.ListCustomers)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>

                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblCustomer" style="color:red">
                </span>

            </div>
        </div>
    </div>
</div>
<div class="portlet-body" style="margin-top: 10px;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div id="assetCollectionChart"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div id="financialTrendingChart"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-body">
                <div>
                    <div id="assetTrendingChart"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="tableDetails" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding:2%;">
    <div class="modal-dialog" style="padding-top:1% 2%;">

        <div class="modal-content">
            <div class="modal-header" style=" border-bottom: 1px solid #3b9ad2; color: white;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(59, 154, 210);background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><b id="detailTitle"></b></h3>
            </div>
            <div class="modal-body" id="modalbody" style="max-height:900px;height:auto;">
                <div class="col-md-12 table-responsive">
                    <div class="row gridDiv">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span>
                    <input type="button" class="btn btn-default" name="resetComment" id="resetComment" value="Reset" style="color: #399BD3;">
                </span>
                <span>
                    <input type="submit" class="btn btn-primary" name="AddItem" id="AddItem" value="Save">
                </span>
            </div>
        </div>


    </div>
</div>

<script>

    $(document).ready(function () {
        $("#customerDrp").select2({ allowClear: true });
        $("#customerDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
        var value = 0;
        $("#customerDrp option").filter(function () {
            //may want to use $.trim in here
            if ($(this).text().trim() == "Mars") {
                value = $(this).val();
            };

        });

        @{
            if (!String.IsNullOrEmpty(Model.CustomerId))
            {
                @:$("#customerDrp").val("@Model.CustomerId").trigger("change");
                    }
            else
            {
                @:$("#customerDrp").val(value).trigger("change");
                    }
        }


    });


    function goToDetails(name) {
        var customerId = $("#customerDrp").val();
        StartLoader();
        window.location = "/AssetDisposition/GoToDetails?name=" + name + "&customerId=" + customerId;
    }


    $("#customerDrp").change(function () {

        var customerId = $(this).val();
        if (customerId != null && customerId != '' && customerId != undefined && customerId != '0') {
            StartLoader();
            customerId = parseInt(customerId);
            $.ajax({
                url: '/AssetDisposition/GetData?customerId=' + customerId,
                type: 'GET',
                cache: false,
                success: function (data) {
                    var assetTrendingData = data.assetTrendingData;
                    var financialTrendingData = data.financialTrendingData;
                    var assetCollectionData = data.assetCollectionData;
                    var assetTrendingDetailTable = data.assetTrendingDetailTable;

                    var chartId = "";
                    var result = null;
                    if (assetTrendingData != null && assetTrendingData != "" && assetTrendingData != undefined) {
                        result = assetTrendingData;
                        chartId = "assetTrendingChart";
                        RenderChart(result.data, result.categories, result.name, chartId);
                    }
                    else {
                        $('#assetTrendingChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Asset Trending Review</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
                    }

                    if (financialTrendingData != null && financialTrendingData != "" && financialTrendingData != undefined) {
                        result = financialTrendingData;
                        chartId = "financialTrendingChart";
                        RenderChart(result.data, result.categories, result.name, chartId);
                    }
                    else {
                        $('#financialTrendingChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Financial Trending Review</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
                    }

                    if (assetCollectionData != null && assetCollectionData != "" && assetCollectionData != undefined) {
                        result = assetCollectionData;
                        chartId = "assetCollectionChart";
                        RenderChart(result.data, result.categories, result.name, chartId);
                    }
                    else {
                        $('#assetCollectionChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Asset Collection Summary</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
                    }

                }, complete: function (data) {
                    EndLoader();
                },
                error: function (jqXHR, exception) {
                    $('#financialTrendingChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Financial Trending Review</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
                    $('#assetTrendingChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Asset Trending Review</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
                    $('#assetCollectionChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Asset Collection Summary</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
                }
            });
        }
        else {
            $('#financialTrendingChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Financial Trending Review</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
            $('#assetTrendingChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Asset Trending Review</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
            $('#assetCollectionChart').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Asset Collection Summary</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
            showNotification("Please select a customer");
        }



    });

    function RenderChart(data, xaxis, title, chartId) {


        Highcharts.setOptions({
            lang: {
                thousandsSep: ','
            }
        });

        var pointformat = "Total : {point.y:,.0f}";

        var objChart = {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 5,
                beta: 10,
                depth: 50,
                viewDistance: 100
            }
        };

        var plotOptions = {
            column: {
                stacking: 'percent',
                depth: 40
            }
        };

        if (title == "Financial Trending Review") {
            objChart = {
                type: 'bar',
                options3d: {
                    enabled: true,
                    alpha: 5,
                    beta: 10,
                    depth: 50,
                    viewDistance: 100
                }
            };

            plotOptions = {
                series: {
                    stacking: 'normal'
                }
            };
        }

        if (title == "Asset Trending Review") {
            objChart = {
                type: 'areaspline',
                //options3d: {
                //    enabled: true,
                //    alpha: 5,
                //    beta: 10,
                //    depth: 50,
                //    viewDistance: 100
                //}
            };

            plotOptions = {
                areaspline: {
                    fillOpacity: 0.5
                }
            };
        }

        var lable = {
            skew3d: true,
            style: {
                fontSize: '14px',
                fontFamily: 'Verdana, sans-serif'
            }
        };

        pointformat = "{series.name}: {point.y:,.0f}<br/>Total: {point.total:,.0f}";



        if (data.length > 0) {
            var chart = new Highcharts.Chart(chartId, {
                chart: objChart,
                title: {
                    text: title
                },
                xAxis: {
                    categories: xaxis,
                    labels: lable
                },
                yAxis: {
                    title: {
                        text: 'Total'
                    },
                    skew3d: true,
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            //color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },

                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                    shared: true
                },
                plotOptions: plotOptions,
                series: data,
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        customButton: {
                            text: 'View Details',
                            onclick: function () {
                                goToDetails(title);
                            }
                        }
                    }
                },
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'bottom',
                                layout: 'horizontal'
                            },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            });
        }
        else {
            $('#chartContainer').html("<p style='color:#333333;font-size:18px;fill:#333333;text-align:center;padding-top:10px'>Financial Trending Review</p><div class='empty-chart' style='font-size:  15px;text-align:  center;padding: 10%;'>No data available</div>"); //now show some information about chart
        }



    }

    function alertFunction(title) {
        window.location = "http://www.google.com";
    }
</script>