﻿@model OneSourceAdminCore.Model.AssetDispositionModel

@{
    ViewBag.Title = "DashboardDetails";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }
</style>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">

        <b> Dashboard > @Model.DetailName > Details </b>

    </div>

    <div class="col-md-4 col-md-offset-4" style="padding: 7px; text-align:right;">
            <div style="float:right">

                <a  href="/AssetDisposition/Dashboard?customerId=@Model.CustomerId.ToString()" class="btn btn-default topAddNewButton" id="redirectToParent" style="float:right;padding-top:4px !important;">Back</a>

            </div>
        </div>
</div>
<h3 style="text-align:center;color:#226381">@Model.DetailName</h3>
<hr />
<div class="col-md-12 table-responsive" style="margin-top:20px">
    <div class="row gridDiv">
    </div>
</div>
<script>
    $(document).ready(function () {
        ViewDetails();
    });

    function ViewDetails() {
        
        $(".gridDiv").html("");
        $(".gridDiv").html("<table id='grid'></table>");
        StartLoader();
        $.ajax({
            url: "/AssetDisposition/GetTableData?name=" + '@Model.DetailName',
            type: "GET",
            success: function (data) {
                if (data.data != null && data.data != "") {
                    var table = JSON.parse(data.data);
                    var tableObj = [];
                    if (table.length > 0) {

                        for (i = 0; i < Object.keys(table[0]).length; i++) {

                            var obj = {};
                            obj.field = Object.keys(table[0])[i];
                            obj.width = 100;
                            obj.sortable = true;
                            obj.align = 'center';
                            obj.headerCssClass = 'headerClass';
                            obj.cssClass = 'rowClass';

                            if (obj.field == "RemarketablePerc") {
                                obj.title = "Remarketable %";
                            }
                            if (obj.field == "RecycledPerc") {
                                obj.title = "Recycled %";
                            }
                            if (obj.field == "TotalFees") {
                                obj.title = "Fees";
                            }
                            if (obj.field == "TotalPickups") {
                                obj.title = "Pickups";
                            }
                            if (obj.field == "RemarketingValue") {
                                obj.title = "AR Value";
                            }
                            if (obj.field == "TotalAssets") {
                                obj.title = "Assets";
                            }

                            tableObj.push(obj);
                        }
                    }
                    if (table.length > 10) {

                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: { limit: 10, sizes: [10, 100, 500, 1000] },
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    else {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: null,
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }

                    $('#tableDetails').modal('show');
                }
                else {
                    showNotification("Something went wrong, please try again later!");
                }
            }, complete: function (data) {
                EndLoader();
            }
        });
    }
</script>
