﻿@model OneSourceAdminCore.Model.AssetDispositionModel
@using System.Data;
<style>
    .row {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        direction: ltr;
    }

    #pdftable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ccc;
        font-size: 9pt;
        font-family: "Open Sans", sans-serif;
    }
</style>
<div class="row" style="text-align:center; margin-top:10px;">
    <h4><strong>@Model.reportName </strong></h4>
</div>
<div>
    <div class="row" style="margin-top:48px; margin-left:50px;">

        @if (Model.RegionCountry == "CountryWise")
        {
            <div class="row" style="margin-top: 10px;">
                <div>
                    <b>Countries:</b>

                    @Model.CountryNames
                </div>
            </div>
        }
        else
        {
            <div class="row" style="margin-top: 10px;">
                <div>
                    <b>Regions:</b>

                    @Model.RegionNames
                </div>
            </div>
        }


        <div class="row" style="margin-top: 10px;">
            <div>
                <b>   Assets:</b>

                @Model.AssetTypeNames
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div>
                <b> Categories:</b>

                @Model.CategoryNames
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div>
                <b> Customer:</b>

                @Model.CustomerName
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div>
                <b> Report Date:</b>

                @DateTime.Now.ToShortDateString()
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div>
                <b> Report Period:</b>

                @(Model.StartDate) - @(Model.EndDate)
            </div>
        </div>
        @if (Model.routeName == "assetfinancialreport" || Model.routeName == "assetsummaryreport")
        {
            <div class="row" style="margin-top: 10px;">
                <div>
                    <b> Total Assets:</b>

                    @Model.TotalAssets
                </div>
            </div>
            if (Model.routeName == "assetfinancialreport")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b> Total Fees:</b>

                        <label>@TempData["getTotalFee"]</label>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b> Total AR Value:</b>

                        <label>@TempData["totalAr"]</label>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b>@TempData["netGainOrlossName"]</b>

                        <label id="TotalNetGainOrLoss">@TempData["netGainOrLoss"]</label>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b>@TempData["totalNetLossPerAssetName"]</b>

                        <label id="TotalNetGainOrLossPerAsset">@TempData["totalNetLossPerAsset"]</label>
                    </div>
                </div>
            }
        }
        else if (Model.routeName == "assetcollectionreport")
        {
            <div class="row" style="margin-top: 10px;">
                <div>
                    <b> Total Items:</b>

                    @Model.TotalItems
                </div>
            </div>
        }

    </div>

    <br /><br />

    <div>
        @if (Model.routeName == "assetsummaryreport")
        {
            if (Model.SubType != "Details")
            {
                <table cellpadding="5" cellspacing="0" id="pdftable">
                    <thead style="color:white;">
                        <tr>
                            @if (Model.RegionCountry == "CountryWise")
                            {
                                <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Country</th>
                            }
                            else
                            {
                                <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Region</th>
                            }
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">TotalPickups</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">TotalAssets</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">%</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Remarketable %</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Recycled </th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">TotalFees</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">RemarketingValue</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow item in Model.dt.Rows)
                        {
                            <tr>
                                @if (Model.RegionCountry == "CountryWise")
                                {
                                    <td align="center" style="border: 1px solid #ccc">@item["Country"]</td>
                                }
                                else
                                {
                                    <td align="center" style="border: 1px solid #ccc">@item["Region"]</td>
                                }
                                <td align="center" style="border: 1px solid #ccc">@item["TotalPickups"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["TotalAssets"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["%"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["Remarketable"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["Recycled"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["TotalFees"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["RemarketingValue"]</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <table cellpadding="5" cellspacing="0" id="pdftable">
                    <thead style="color:white;">
                        <tr>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Region</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Country</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">TotalPickups</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">TotalAssets</th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Recycled </th>
                            <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow item in Model.dt.Rows)
                        {
                            <tr>
                                <td align="center" style="border: 1px solid #ccc">@item["Region"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["Country"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["TotalPickups"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["TotalAssets"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["Recycled"]</td>
                                <td align="center" style="border: 1px solid #ccc">@item["RecycledPerc"]</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        }
        else if (Model.routeName == "assetcollectionreport")
        {
            <table cellpadding="5" cellspacing="0" id="pdftable">
                <thead style="color:white;">
                    <tr>
                        <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Year</th>
                        <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Month</th>
                        <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Product Category</th>
                        <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Total Items</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in Model.dt.Rows)
                    {
                        <tr>
                            <td align="center" style="border: 1px solid #ccc">@item["Year"]</td>
                            <td align="center" style="border: 1px solid #ccc">@item["Month"]</td>
                            <td align="center" style="border: 1px solid #ccc">@item["ProductCategory"]</td>
                            <td align="center" style="border: 1px solid #ccc">@item["TotalItems"]</td>

                        </tr>
                    }

                </tbody>
            </table>
        }
        else if (Model.routeName == "assetfinancialreport")
        {
            <table cellpadding="5" cellspacing="0" id="pdftable">
                <thead style="color:white;">
                    <tr>
                        <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Year</th>
                        <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Month</th>
                        @*<th style="background-color: #3b9ad2;border: 1px solid #ccc">Month No.</th>*@
                        <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Fee</th>
                        <th align="center" style="background-color: #3b9ad2;border: 1px solid #ccc">Asset Recovery</th>
                        @*<th style="background-color: #3b9ad2;border: 1px solid #ccc">Total Assets</th>*@

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in Model.dt.Rows)
                    {
                        <tr>
                            <td align="center" style="border: 1px solid #ccc">@item["Year"]</td>
                            <td align="center" style="border: 1px solid #ccc">@item["Month"]</td>
                            @*<td style="border: 1px solid #ccc">@item["MonthNo"]</td>*@
                            <td align="center" style="border: 1px solid #ccc">@item["Fee"]</td>
                            <td align="center" style="border: 1px solid #ccc">@item["AssetRecovery"]</td>
                            @*<td style="border: 1px solid #ccc">@item["TotalAssets"]</td>*@

                        </tr>
                    }

                </tbody>
            </table>
        }

    </div>
</div>

<script>
    $(document).ready(function () {
        if ($("#TotalNetGainOrLoss").val() > 0) {
            $("#NetGainOrLoss").text("Net Gain");
        }
        else {
            $("#NetGainOrLoss").text("Net Loss");
        }
        if (NetGainOrLoss > 0) {
                $("#NetGainOrLoss").text("Net Gain");
                $("#TotalNetGainOrLoss").text(netGainOrLoss);
                $("#NetGainOrLossPerAsset").text("Net Gain Per Asset");
        }
        else {
            $("#NetGainOrLoss").text("Net Loss");
            $("#TotalNetGainOrLoss").text(Math.abs('' + netGainOrLoss + ''));
            $("#NetGainOrLossPerAsset").text("Net Loss Per Asset");
        }
        if (totalAr > getTotalFee) {
            var num = (totalAr - getTotalFee) / totalAr;
            totalNetLossPerAsset = num.toFixed(2);
        }
        else {
            var num = (getTotalFee - totalAr) / @Model.TotalAssets;
            totalNetLossPerAsset = num.toFixed(2);
        }
        $("#TotalNetGainOrLossPerAsset").text(totalNetLossPerAsset);
    });
</script>



