﻿@model OneSourceAdminCore.Model.AssetDispositionModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = Model.reportName;
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}
<script src="~/Content/js/jquery.table2excel.js"></script>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            //<b> Reports > @Session["parentName"].ToString() > @Session["reportName"].ToString() </b>
            <b> Reports > @Model.parentName > @Model.reportName </b>
        }
    </div>

    <div class="col-md-4 col-md-offset-4" style="padding: 7px; text-align:right;">
        <div style="float:right">
            @using (Html.BeginForm("RedirectToParent", "AssetDisposition", FormMethod.Post, new { @id = "AssetReportRedirectToParent" }))
            {
                <input type="hidden" name="routeId" value="@Model.routeId" />
                <input type="hidden" name="parentRoute" value="@Model.parentRoute" />
                <input type="hidden" name="parentRouteId" value="@Model.parentRouteId" />
                <input type="hidden" id="CustomerIdRD" name="CustomerId" value="@Model.CustomerId" />
                <input type="hidden" id="StartDateRD" name="StartDate" value="@Model.StartDate" />
                <input type="hidden" id="EndDateRD" name="EndDate" value="@Model.EndDate" />
                <input type="hidden" id="AssetTypesRD" name="AssetTypes" value="@Model.AssetTypes" />
                <input type="hidden" id="CountryIdsRD" name="CountryIds" value="@Model.CountryIds" />
                <input type="hidden" id="PartCategoryIdsRD" name="PartCategoryIds" value="@Model.PartCategoryIds" />
                <input type="hidden" id="RegionIdsRD" name="RegionIds" value="@Model.RegionIds" />
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
            }
        </div>
        @*@using (Html.BeginForm("ReportResult", "AssetDisposition", FormMethod.Post, new { @id = "reportResultId" }))
        {
            <input type="hidden" id="parentRoute" name="parentRoute" value="@Model.parentRoute" />
            <input type="hidden" id="parentRouteId" name="parentRouteId" value="@Model.parentRouteId" />
            <input type="hidden" id="reportName" name="reportName" value="@Model.reportName" />
            <input type="hidden" id="routeName" name="routeName" value="@Model.routeName" />
            <input type="hidden" id="routeId" name="routeId" value="@Model.routeId" />
            <input type="hidden" id="TempAssetDispositionTable" name="TempAssetDispositionTable" value="@Model.TempAssetDispositionTable" />
            <input type="hidden" id="TotalAssets" name="TotalAssets" value="@Model.TotalAssets" />
            <input type="hidden" id="CustomerIdRR" name="CustomerId" value="" />
            <input type="hidden" id="CountryIdsRR" name="CountryIds" value="" />
            <input type="hidden" id="AssetTypesRR" name="AssetTypes" value="" />
            <input type="hidden" id="PartCategoryIdsRR" name="PartCategoryIds" value="" />
            <input type="hidden" id="StartDateRR" name="StartDate" value="" />
            <input type="hidden" id="EndDateRR" name="EndDate" value="" />
            <input type="hidden" id="CustomerNameRR" name="CustomerName" value="" />
            <input type="hidden" id="CountryNamesRR" name="CountryNames" value="" />
            <input type="hidden" id="CategoryNamesRR" name="CategoryNames" value="" />
            <input type="hidden" id="RegionCountryRR" name="RegionCountry" value="" />
            <input type="hidden" id="RegionIdsRR" name="RegionIds" value="" />
            <input type="hidden" id="RegionNamesRR" name="RegionNames" value="" />
            <input type="hidden" id="SubTypeRR" name="SubType" value="" />
        }*@
        @*<div style="">
            @using (Html.BeginForm("ExportToExcel", "AssetReports", FormMethod.Post, new { @id = "ReportExportToExcel" }))
            {
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px;">Export to excel</button>
            }
        </div>
        <div style="">
            @using (Html.BeginForm("ExportToPdf", "AssetReports", FormMethod.Post, new { @id = "ReportExportToPdf" }))
            {
                <input type="hidden" name="pdfTable" id="pdfTable" />

                <input type="hidden" name="totalaffectedassets" id="totalaffectedassets" />
                <input type="hidden" name="avglife" id="avglife" />
                <input type="hidden" name="totalaffectedcountries" id="totalaffectedcountries" />
                <input type="hidden" name="totalaffectedmfgs" id="totalaffectedmfgs" />
                <input type="hidden" name="totalexpiredassets" id="totalexpiredassets" />
                <input type="hidden" name="valueofexpiredassets" id="valueofexpiredassets" />
                <input type="hidden" name="assetvaluationtotalstrdate" id="assetvaluationtotalstrdate" />
                <input type="hidden" name="assetvaluationtotalenddate" id="assetvaluationtotalenddate" />
                <input type="hidden" name="totalassetvaluationchange" id="totalassetvaluationchange" />
                <input type="hidden" name="startdt" id="startdt" />
                <input type="hidden" name="enddt" id="enddt" />

                <button class="btn btn-default topAddNewButton" type="button" id="exportPdf" style="margin-right:10px;">Export to pdf</button>
            }
        </div>*@
        @*<input type="hidden" id="CustomerIdAtTemp" value="@TempData["CustomerId"]" />
        <input type="hidden" id="RegionCustomerAtTemp" value="@TempData["CountryNames"]" />*@
    </div>
</div>

<div class="row" style="margin-top:48px;">
    <div class="col-md-8 col-md-offset-3">

        @using (Html.BeginForm("GetReportData", "AssetDisposition", FormMethod.Post, new { @id = "ReportForm" }))
        {
            <input type="hidden" id="parentRoute" name="parentRoute" value="@Model.parentRoute" />
            <input type="hidden" id="parentRouteId" name="parentRouteId" value="@Model.parentRouteId" />
            <input type="hidden" id="reportName" name="reportName" value="@Model.reportName" />
            <input type="hidden" id="routeName" name="routeName" value="@Model.routeName" />
            <input type="hidden" id="routeId" name="routeId" value="@Model.routeId" />
            if (Model.routeName == "assetsummaryreport")
            {
                <div class="row" style="margin-top: 10px;">

                    <div class="col-md-2">
                        <span style="color:red">* </span>Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="customerDrp" name="customerDrp" class="asset">
                                @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                {
                                    foreach (var item in Model.ListCustomers)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">From Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="StartDate" name="StartDate" value="@TempData["StartDate"]" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblFromDate" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2">To Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="EndDate" name="EndDate" value="@TempData["EndDate"]" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblToDate" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2">
                        <span style="color:red">* </span>Filter Type:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="regionCountryDrp" name="regionCountryDrp" class="form-control">
                                <option value="0">--Select--</option>
                                <option value="Region">Region</option>
                                <option value="Country">Country</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblRegionCountry" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;display:none;" id="Countries">
                    <div class="col-md-2">
                        <span style="color:red">* </span>Countries:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="countryDrp" name="countryDrp" class="asset countryDrp" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCountries" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;display:none;" id="Regions">
                    <div class="col-md-2">
                        <span style="color:red">* </span>Regions:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="regionDrp" name="regionDrp" class="asset" multiple="multiple"></select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblRegions" style="color:red">
                        </span>
                    </div>
                    <div class="col-md-2" style="margin-top:-5px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" name="AddRegion" id="AddRegion" style="color: #399BD3;">Add</button> &nbsp;
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" name="EditRegion" id="EditRegion" style="color: #399BD3;display:none;">Edit</button> &nbsp;
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;display:none;" id="Segments">
                    <div class="col-md-2">
                        Business Segments:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="segmentsDrp" name="segmentsDrp" class="form-control segmentsDrp"></select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCountries" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        Asset Types:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="assetTypeDrp" name="assetTypeDrp" class="asset" multiple="multiple">
                                @if (Model.ListAssetTypes != null && Model.ListAssetTypes.Count > 0)
                                {
                                    foreach (var item in Model.ListAssetTypes)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblRegions" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        Product Categories:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="productCatDrp" name="productCatDrp" class="asset" multiple="multiple">
                                @if (Model.ListProductCategories != null && Model.ListProductCategories.Count > 0)
                                {
                                    foreach (var item in Model.ListProductCategories)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblRegions" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="Generate" id="BTN" style="color: #399BD3;">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn">
                            <a href="/AssetDisposition/Report/@Model.routeId" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                        </span>
                    </div>
                </div>
            }
            else if (Model.routeName == "assetcollectionreport" || Model.routeName == "assetfinancialreport")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">* </span>Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="customerDrp" name="customerDrp" class="asset">
                                @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                {
                                    foreach (var item in Model.ListCustomers)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">From Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="StartDate" name="StartDate" value="@TempData["StartDate"]" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblFromDate" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2">To Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="EndDate" name="EndDate" value="@TempData["EndDate"]" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblToDate" style="color:red">
                        </span>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;display:none;" id="Countries">
                    <div class="col-md-2">
                        @*<span style="color:red">* </span>*@Countries:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="countryDrp" name="countryDrp" class="asset countryDrp" multiple="multiple"></select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCountries" style="color:red">
                        </span>
                    </div>
                </div>


                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        Asset Types:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="assetTypeDrp" name="assetTypeDrp" class="asset" multiple="multiple">
                                @if (Model.ListAssetTypes != null && Model.ListAssetTypes.Count > 0)
                                {
                                    foreach (var item in Model.ListAssetTypes)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblRegions" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        Product Categories:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="productCatDrp" name="productCatDrp" class="asset" multiple="multiple">
                                @if (Model.ListProductCategories != null && Model.ListProductCategories.Count > 0)
                                {
                                    foreach (var item in Model.ListProductCategories)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblRegions" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="Generate" id="BTN" style="color: #399BD3;">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn">
                            <a href="/AssetDisposition/Report/@Model.routeId" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                        </span>
                    </div>
                </div>
            }
            else if (Model.routeName == "pendingtickets")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">* </span>Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="customerDrp" name="customerDrp" class="asset">
                                @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                {
                                    foreach (var item in Model.ListCustomers)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">* </span>Supplier:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="supplierDrp" name="supplierDrp" class="asset">
                                @if (Model.ListSuppliers != null && Model.ListSuppliers.Count > 0)
                                {
                                    foreach (var item in Model.ListSuppliers)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblSupplier" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2"><span style="color:red">* </span> From Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="StartDate" name="StartDate" value="@TempData["StartDate"]" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblFromDate" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"> <span style="color:red">* </span> To Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="EndDate" name="EndDate" value="@TempData["EndDate"]" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblToDate" style="color:red">
                        </span>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        Has Attachment:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <input type="checkbox" id="hasAttachment" name="hasAttachment" />

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="Generate" id="BTN" style="color: #399BD3;">Show Tickets</button> &nbsp;
                        </span>
                        <span class="input-group-btn">
                            <a href="/AssetDisposition/Report/@Model.routeId" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="Generate" id="BTN_excel" style="color: #399BD3; margin-left:10px;">Export</button> &nbsp;
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        Pending Tickets:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <select id="pendingticketsDrp" name="pendingticketsDrp" class="asset">
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblPendingTickets" style="color:red">
                        </span>
                    </div>
                </div>
            }
        }

    </div>

</div>

<div class="modal fade" id="addRegionModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding:2%;">
    <div class="modal-dialog" style="width: 80%; padding-top:1% 2%;">

        <div class="modal-content col-md-12">

            <div class="modal-header" style="padding-bottom:22px;">
                Add Region
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="float:right">&times;</button>
            </div>
            <div class="modal-body" id="modalbody" style="max-height:900px;height:600px; overflow-y:auto; ">
                <div class="row" style="margin-top: 10px;" id="createCheckDiv">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="col-md-2">
                            Create New:
                        </div>
                        <div class="col-md-6">
                            <div>
                                <input type="checkbox" id="createNewCheck" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;" id="region_customerdropdown">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="col-md-2">
                            <span style="color:red">* </span>Customer:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <select id="regionCustomerDrp" name="regionCustomerDrp" class="asset">
                                    @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                    {
                                        foreach (var item in Model.ListCustomers)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblregionCustomerDrp" style="color:red">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="col-md-2">
                            <span style="color:red">* </span>Regions:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <select id="region_regionDrp" name="region_regionDrp" class="asset region_regionDrp"></select>

                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblregion_regionDrp" style="color:red">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;" id="region_regionName">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="col-md-2"><span style="color:red">* </span>Region Name:</div>
                        <div class="col-md-4">
                            <input type="text" id="regionName" name="regionName" value="@Model.RegionName" class="form-control">
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblRegionName" style="color:red">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="col-md-2">
                            <span style="color:red">* </span>Countries:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <select id="region_countryDrp" name="region_countryDrp" class="asset region_countryDrp" multiple="multiple"></select>

                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblregion_countryDrp" style="color:red">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" name="SaveRegion" id="SaveRegion" style="color: #399BD3;">Save</button> &nbsp;
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" name="DeleteRegion" id="DeleteRegion" style="color: #399BD3;margin-left:10px">Delete</button> &nbsp;
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" value="Reset" name="submit" id="resetRegion" style="color: #399BD3;margin-left:10px">Reset</button> &nbsp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_customerDrp.asset {
        display: block !important;
    }

    #s2id_regionCustomerDrp.asset {
        display: block !important;
    }

    #s2id_countryDrp.asset {
        display: none !important;
    }

    #s2id_region_regionDrp.asset {
        display: block !important;
    }

    #s2id_region_countryDrp.asset {
        display: none !important;
    }

    #s2id_regionDrp.asset {
        display: none !important;
    }

    #s2id_assetTypeDrp.asset {
        display: none !important;
    }

    #s2id_productCatDrp.asset {
        display: none !important;
    }

    .modal {
        overflow: hidden !important;
    }
</style>
<script src="~/Content/js/jquery.cookie.js"></script>
<script>

     $(window).on('pageshow', function () {
        //debugger;
         //console.log('Entered the page!');

         if (localStorage.getItem(window.location.href) != null)
         {
             $('#customerDrp').val(localStorage.getItem(window.location.href)).trigger("change");
             localStorage.removeItem(window.location.href);
         }

     });

    $(document).ready(function () {

        $('#createCheckDiv').css('visibility', 'hidden');

        $('.modal-body').slimscroll({ destroy: true });

        $("#customerDrp").select2({ allowClear: false });
        $("#customerDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#customerDrp").val("0").trigger("change");
        //var customerIdValue = $("#CustomerIdAtTemp").val();
        //if (customerIdValue > 0) {
        //    $("#customerDrp").val(customerIdValue).trigger("change");
        //}
            


        $("#supplierDrp").select2({ allowClear: true });
        $("#supplierDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#supplierDrp").val("0").trigger("change");


        $("#pendingticketsDrp").select2({ allowClear: true });
        $("#pendingticketsDrp").prepend("<option value='0' selected='selected'>--No tickets--</option>");
        $("#pendingticketsDrp").val("0").trigger("change");


        $("#productCatDrp").multipleSelect(
                                       {
                                           placeholder: '--Select--',
                                           filter: true,
                                           allowClear: true,
                                           selectAll: true
                                       });
        $("#productCatDrp").select2({ width: 'resolve' });
        //$(".ms-select-all").hide();

        $("#assetTypeDrp").multipleSelect(
                                       {
                                           placeholder: '--Select--',
                                           filter: true,
                                           allowClear: true,
                                           selectAll: false
                                       });
        $("#assetTypeDrp").select2({ width: 'resolve' });

        $("#regionDrp").multipleSelect(
                                  {
                                      placeholder: '--Select--',
                                      filter: true,
                                      allowClear: true,
                                      selectAll: false
                                  });
        $("#regionDrp").select2({ width: 'resolve' });

        $("#regionCustomerDrp").select2({ allowClear: true });
        $("#regionCustomerDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#regionCustomerDrp").val("0").trigger("change");
        //var regionCustomersValue = $("#RegionCustomerAtTemp").val();
        //if (regionCustomersValue > 0) {
        //    $("#RegionCustomerAtTemp").val(regionCustomersValue).trigger("change");
        //}


        $("#region_regionDrp").select2({ allowClear: true });
        $("#region_regionDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#region_regionDrp").val("0").trigger("change");
        

        $("#region_countryDrp").multipleSelect(
                                     {
                                         placeholder: '--Select--',
                                         filter: true,
                                         allowClear: true
                                     });
        $("#region_countryDrp").select2({ width: 'resolve' });

        //$(".ms-select-all").hide();



        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });
       // $(".ms-select-all").hide()
    });

    $('#ReportForm').submit(function () {
        StartLoader();
    });

    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    function fillsupplier(customerId)
    {
        StartLoader();
        $.ajax({
            url: '/AssetDisposition/GetSuppliers?customerId=' + customerId,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var options = '';

                if (data != null) {
                    if (data.data.length > 0) {
                        options = options + ' <option value="0">--select--</option>';
                        $.each(data.data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });

                            $("#supplierDrp").html(options);




                    } else if (data.data.length == 0) {
                        options = options + ' <option value="0">--select--</option>';
                        $("#supplierDrp").html(options);
                    }

                }

            }, complete: function (data) {
                EndLoader();
            }
        });
    }

    function getRegionsOrCountriesByCustomer(customerId, type, isEditRegion, isAddRegion, regionOptions) {
        StartLoader();
        $.ajax({
            url: '/AssetDisposition/GetRegionsCountries?customerId=' + customerId + '&type=' + type,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var options = '';

                if (data != null) {
                    if (data.data.length > 0) {

                        if (isAddRegion == true) {
                            $("#regionCustomerDrp").val(customerId).trigger("change");
                            $("#region_countryDrp").multipleSelect("setSelects", []);
                        }

                        $.each(data.data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        if (type == "Region") {
                            $("#regionDrp").html(options);
                            $("#region_regionDrp").html(options);
                        }
                        else if (type == "Country") {
                            $("#countryDrp").html(options);
                            $("#region_countryDrp").html(options);
                        }

                        if (data.data.length > 0) {

                            //$('#regionCustomerDrp').val(customerId).trigger('change');

                            if (type == "Region") {

                                $("#regionDrp").multipleSelect(
                                        {
                                            placeholder: '--Select--',
                                            filter: true,
                                            allowClear: true,
                                            selectAll: false
                                        });
                                $("#regionDrp").select2({ width: 'resolve' });
                                //$(".ms-select-all").hide();
                                //$('.regionDrp input:checkbox').prop('checked', true);


                                $('#EditRegion').show();

                                if (isAddRegion == true) {
                                    $("#region_regionDrp").select2('destroy');
                                    $("#region_regionDrp").attr('disabled', 'disabled');
                                    $('#region_regionDrp').val('0');
                                    $("#region_regionDrp").addClass("form-control");
                                }
                                else {
                                    $("#region_regionDrp").select2({ allowClear: true });
                                    $("#region_regionDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
                                    $("#region_regionDrp").val("0").trigger("change");
                                    $("#region_regionDrp").removeClass("form-control");
                                }

                            }
                            else if (type == "Country") {

                                $("#countryDrp").multipleSelect(
                                        {
                                            placeholder: '--Select--',
                                            filter: true,
                                            allowClear: true,
                                            selectAll: true
                                        });
                                $("#countryDrp").select2({ width: 'resolve' });
                              //  $(".ms-select-all").hide();

                                $("#region_countryDrp").multipleSelect(
                                       {
                                           placeholder: '--Select--',
                                           filter: true,
                                           allowClear: true
                                       });
                                $("#region_countryDrp").select2({ width: 'resolve' });
                               // $(".ms-select-all").hide();

                                if (isEditRegion == true) {

                                    $("#region_regionDrp").html("");
                                    $("#region_regionDrp").html(regionOptions);
                                    $("#region_regionDrp").select2({ allowClear: true });
                                    var regionId = $("#region_regionDrp").val();
                                    GetRegionCountryIds(regionId);

                                }
                                //$('.countryDrp input:checkbox').prop('checked', true);

                            }


                        }
                        else {

                            if (type == "Region") {
                                $("#regionDrp").html("");
                                $("#regionDrp").multipleSelect(
                                      {
                                          placeholder: '--Select--',
                                          filter: true,
                                          allowClear: true,
                                          selectAll: false
                                      });
                                $("#regionDrp").select2({ width: 'resolve' });
                                //$(".ms-select-all").hide();

                                $("#region_regionDrp").select2({ allowClear: true });
                                $("#region_regionDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
                                $("#region_regionDrp").val("0").trigger("change");
                                //$('.regionDrp input:checkbox').prop('checked', true);
                            }
                            else if (type == "Country") {
                                $("#countryDrp").html("");

                                $("#countryDrp").multipleSelect(
                                      {
                                          placeholder: '--Select--',
                                          filter: true,
                                          allowClear: true,
                                          selectAll: true
                                      });
                                $("#countryDrp").select2({ width: 'resolve' });
                               // $(".ms-select-all").hide();

                                $("#region_countryDrp").multipleSelect(
                                      {
                                          placeholder: '--Select--',
                                          filter: true,
                                          allowClear: true
                                      });
                                $("#region_countryDrp").select2({ width: 'resolve' });
                                //$(".ms-select-all").hide();
                                //$('.countryDrp input:checkbox').prop('checked', true);
                            }

                        }
                    }

                }
                else {
                    if (type == "Region") {
                        $("#regionDrp").html("");
                        $("#regionDrp").multipleSelect(
                                  {
                                      placeholder: '--Select--',
                                      filter: true,
                                      allowClear: true,
                                      selectAll: false
                                  });
                        $("#regionDrp").select2({ width: 'resolve' });
                       // $(".ms-select-all").hide();

                        $("#region_regionDrp").select2({ allowClear: true });
                        $("#region_regionDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
                        $("#region_regionDrp").val("0").trigger("change");
                        //$('.regionDrp input:checkbox').prop('checked', true);
                    }
                    else if (type == "Country") {
                        $("#countryDrp").html("");

                        $("#countryDrp").multipleSelect(
                                  {
                                      placeholder: '--Select--',
                                      filter: true,
                                      allowClear: true,
                                      selectAll: true
                                  });
                        $("#countryDrp").select2({ width: 'resolve' });
                       // $(".ms-select-all").hide();

                        //$('.countryDrp input:checkbox').prop('checked', true);
                    }
                }
            }, complete: function (data) {
                EndLoader();
            }
        });
    }

    function GetRegionCountryIds(regionId) {
        StartLoader();
        $.ajax({
            url: '/AssetDisposition/GetRegionCountryIds?regionId=' + regionId,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var options = '';

                if (data != null) {

                    if (data.data.length > 0) {
                        $("#region_countryDrp").multipleSelect("setSelects", data.data);
                    }

                }
            }
        , complete: function (data) {
            EndLoader();
        }
        });
    }

    $("#regionCountryDrp").change(function () {

        var customerId = $("#customerDrp").val();
        var regionCountry = $(this).val();
        if (regionCountry == "Region") {
            if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
                showNotification("Please select customer");
                $(this).val('0');
                return false;
            }
            else {
                $("#Countries").hide();
                $("#Regions").show();
            }
        }
        else if (regionCountry == "Country") {
            if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
                showNotification("Please select customer");
                $(this).val('0');
                return false;
            }
            else {
                $("#Countries").show();
                $("#Regions").hide();
            }
        }
        else {
            $("#Countries").hide();
            $("#Regions").hide();
        }

        if (regionCountry == "Country" || regionCountry == "Region") {
            getRegionsOrCountriesByCustomer(customerId, regionCountry, false, null);
        }

    });

    @if (Session["ErrorMessage"] != null)
        {
            if (Session["ErrorMessage"].ToString() == "NoCustomerError")
            {
                <text>
    showValidationError("Please select customer", "lblCustomer");
    </text>
            }
            if(Session["ErrorMessage"].ToString() == "DateError")
            {
                <text>
    showNotification("From date should not be greater than to date");
    </text>
            }
            if(Session["ErrorMessage"].ToString() == "NoData")
            {
                <text>
    showNotification("Please generate the data");
    </text>
            }
            if(Session["ErrorMessage"].ToString() == "Error")
            {
                <text>
    showNotification("Something went wrong,please try again later!");
    </text>
            }
        }

    $("#BTN_excel").on("click", function (e) {

        var customerid = $("#customerDrp").val();
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();
        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {

            //showNotification(" Please select customer.");
            showValidationError("Please select customer", "lblCustomer");

            return false;
        }


        if (($("#supplierDrp").val() == "" || $("#supplierDrp").val() == null || $("#supplierDrp").val() == "0") || $("#supplierDrp").val() == "null") {


            showValidationError("Please select supplier", "lblSupplier");

            return false;
        }

        if ($("#StartDate").val() == "" || $("#StartDate").val() == null) {


            showValidationError("Please select from date", "lblFromDate");

            return false;
        }
        if ($("#EndDate").val() == "" || $("#EndDate").val() == null) {


            showValidationError("Please select To date", "lblToDate");

            return false;
        }
        values = {
            "CustomerId": customerid, "HasAttachment": $("#hasAttachment").prop('checked'), "SupplierId": $("#supplierDrp").val(),
            "StartDate": startDate, "EndDate": endDate
        }



        var url = "/AssetDisposition/ExportPendingTicketstoExcel";

        var urlParams = $.param(values);
        window.location.href = "/AssetDisposition/ExportPendingTicketstoExcel?" + urlParams;

    });

    function checkExcelCookie() {
        var cookieVal = $.cookie('excelDownloadStatus');
        if (cookieVal == null || cookieVal === 'undefined' || cookieVal === 'pending') {
            setTimeout("checkExcelCookie();", 1000);
        }
        else {
            $.removeCookie('excelDownloadStatus', { path: '/' })
            EndLoader();
        }
    }

    $("#BTN").on("click", function (e) {

        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {

            //showNotification(" Please select customer.");
            showValidationError("Please select customer", "lblCustomer");

            return false;
        }

        localStorage.setItem(window.location.href ,$('#customerDrp').val());

        var routeId = $("#routeId").val();
        var routeName = $("#routeName").val();
        var reportName = $("#reportName").val();
        var parentRoute = $("#parentRoute").val();
        var parentRouteId = $("#parentRouteId").val();

        var values = {};
        @if (Model.routeName == "assetsummaryreport")
        {
            <text>

                var regionCountry = $("#regionCountryDrp").val();
                if (regionCountry != "Country" && regionCountry != "Region") {
                    showNotification("Please select filter type");
                    return false;
                }
                var customerid = $("#customerDrp").val();
                
                var countryIdsArray = $("#countryDrp").val();
                var countryIds = "";
                if (countryIdsArray != null && countryIdsArray != "") {
                    countryIds = countryIdsArray.join(',');
                }

                var regionIdsArray = $("#regionDrp").val();
                var regionIds = "";
                if (regionIdsArray != null && regionIdsArray != "") {
                    regionIds = regionIdsArray.join(',');
                }
                var assetTypeArray = $("#assetTypeDrp").val();
                var assetTypes = "";
                if (assetTypeArray != null && assetTypeArray != "") {
                    assetTypeArray.forEach(function (item) {
                        assetTypes += "'" + item + "',";
                    });
                }
                var productCatArray = $("#productCatDrp").val();
                var productCat = "";
                if (productCatArray != null && productCatArray != "") {
                    productCat = productCatArray.join(',');
                }

                var startDate = $("#StartDate").val();
                var endDate = $("#EndDate").val();
                var customer = $('#customerDrp').select2('data');
                var customerName = customer.text;
                var country = $('#countryDrp').select2('data');
                var countryNames = "";
                if (country.context == undefined) {
                    country.forEach(function (item) {
                        countryNames += item.text + ',';
                    });
                }

                var region = $('#regionDrp').select2('data');
                var regionNames = "";
                if (region.context == undefined) {
                    region.forEach(function (item) {
                        regionNames += item.text + ',';
                    });
                }

                var asset = $('#assetTypeDrp').select2('data');
                var assetNames = "";
                asset.forEach(function (item) {
                    assetNames += item.text + ',';
                });
                var category = $('#productCatDrp').select2('data');
                var categoryNames = "";
                category.forEach(function (item) {
                    categoryNames += item.text + ',';
                });
                var type = $('#regionCountryDrp').val();
                if (type == "Country") {
                    type = "CountryWise";
                }
                else {
                    type = "RegionWise";
                }

                values = {
                    "CustomerId": customerid, "CountryIds": countryIds, "AssetTypes": assetTypes, "PartCategoryIds": productCat,
                    "StartDate": startDate, "EndDate": endDate, "CustomerName": customerName, "CountryNames": countryNames, "AssetNames": assetNames,
                    "CategoryNames": categoryNames, "RegionCountry": type, "RegionIds": regionIds, "RegionNames": regionNames, "SubType": "Main",
                    "routeId": routeId, "routeName": routeName, "reportName": reportName, "parentRoute": parentRoute, "parentRouteId": parentRouteId
                }
                //$("#CustomerIdRD").val(customerid);                
                //$("#RegionIdsRD").val(regionIds);
                //$("#StartDateRD").val(startDate);
                //$("#EndDate").val(endDate);
                //$("#AssetTypesRD").val();
                //$("#CountryIdsRD").val();
                //$("#PartCategoryIdsRD").val();                

            </text>

        }
            //$("#CustomerIdRR").val(customerid);
            //$("#CountryIdsRR").val(countryIds);
            //$("#AssetTypesRR").val(assetTypes);
            //$("#PartCategoryIdsRR").val(productCat);
            //$("#StartDateRR").val(startDate);
            //$("#EndDateRR").val(endDate);
            //$("#CustomerNameRR").val(customerName);
            //$("#CountryNamesRR").val(countryNames);
            //$("#CategoryNamesRR").val(categoryNames);
            //$("#RegionCountryRR").val(type);
            //$("#RegionIdsRR").val(regionIds);
            //$("#RegionNamesRR").val(regionNames);
            //$("#SubTypeRR").val("Main");
        else if (Model.routeName == "assetcollectionreport" || Model.routeName == "assetfinancialreport")
        {
            <text>
        var customerid = $("#customerDrp").val();
        var countryIdsArray = $("#countryDrp").val();
        var countryIds = "";
        if (countryIdsArray != null && countryIdsArray != "") {
            countryIds = countryIdsArray.join(',');
        }
        var assetTypeArray = $("#assetTypeDrp").val();
        var assetTypes = "";
        if (assetTypeArray != null && assetTypeArray != "") {
            assetTypeArray.forEach(function (item) {
                assetTypes += "'" + item + "',";
            });
        }
        var productCatArray = $("#productCatDrp").val();
        var productCat = "";
        if (productCatArray != null && productCatArray != "") {
            productCat = productCatArray.join(',');
        }

        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();
        var customer = $('#customerDrp').select2('data');
        var customerName = customer.text;
        var country = $('#countryDrp').select2('data');
        var countryNames = "";
        if (country.context == undefined) {
            country.forEach(function (item) {
                countryNames += item.text + ',';
            });
        }
        var asset = $('#assetTypeDrp').select2('data');
        var assetNames = "";
        asset.forEach(function (item) {
            assetNames += item.text + ',';
        });
        var category = $('#productCatDrp').select2('data');
        var categoryNames = "";
        category.forEach(function (item) {
            categoryNames += item.text + ',';
        });
        var type = "CountryWise";


        values = {
            "CustomerId": customerid, "CountryIds": countryIds, "AssetTypes": assetTypes, "PartCategoryIds": productCat,
            "StartDate": startDate, "EndDate": endDate, "CustomerName": customerName, "CountryNames": countryNames, "AssetNames": assetNames,
            "CategoryNames": categoryNames, "RegionCountry": type, "RegionIds": "", "RegionNames": "", "SubType": "Main",
            "routeId": routeId, "routeName": routeName, "reportName": reportName, "parentRoute": parentRoute, "parentRouteId": parentRouteId
        }
        </text>
        }
        @if (Model.routeName == "assetsummaryreport" || Model.routeName == "assetcollectionreport" || Model.routeName == "assetfinancialreport") {
            <text>
        StartLoader();
        $.ajax({
            url: "/AssetDisposition/GetReportData",
            type: "POST",
            data: values,
            success: function (data) {
                //debugger;
                EndLoader();

                if (data.msg != null && data.msg != "" && data.msg != "[]" && data.msg != "DateError") {

                    if (data.msg == "Redirect") {
                        window.location = "/AssetDisposition/ReportResult";
                        //$("#reportResultId").submit();
                        //window.location = "/AssetDisposition/ReportResult?values="+values;
                        //$.ajax({
                        //    url: "/AssetDisposition/ReportResult",
                        //    type: "GET",
                        //    data: values,
                        //    success: function () {
                        //        window.location = "/AssetDisposition/ReportResult";
                        //        showHideLoader();
                        //    }
                        //});

                        //?assettypesname = " + Model.AssetTypes ;
                    }
                }
                else {
                    if (data.msg == "DateError") {
                        $(".depricationsummary").hide();
                        showNotification("From Date should not be greater than To Date");

                    }
                    else {
                        $(".depricationsummary").hide();
                        showNotification("No records found.");
                    }
                }
            }

        });
        </text>
        }
        else if (Model.routeName == "pendingtickets") {

             <text>
        var customerid = $("#customerDrp").val();
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();
        if (($("#supplierDrp").val() == "" || $("#supplierDrp").val() == null || $("#supplierDrp").val() == "0") || $("#supplierDrp").val() == "null") {


            showValidationError("Please select supplier", "lblSupplier");

            return false;
        }

        if ($("#StartDate").val() == "" || $("#StartDate").val() == null) {


            showValidationError("Please select from date", "lblFromDate");

            return false;
        }
        if ($("#EndDate").val() == "" || $("#EndDate").val() == null) {


            showValidationError("Please select To date", "lblToDate");

            return false;
        }
        values = {
            "CustomerId": customerid, "HasAttachment": $("#hasAttachment").prop('checked'), "SupplierId": $("#supplierDrp").val(),
            "StartDate": startDate, "EndDate": endDate,
            "routeId": routeId, "routeName": routeName, "reportName": reportName, "parentRoute": parentRoute, "parentRouteId": parentRouteId

        }
        StartLoader();
        $.ajax({
            url: "/AssetDisposition/GetTicketNumber",
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            data: values,
            success: function (data) {
                EndLoader();
                var options = '';

                if (data != null) {
                    if (data.data.length > 0) {

                        $.each(data.data, function (index, item) {
                            options = options + ' <option value="' + item + '">' + item + '</option>';
                        });

                        $("#pendingticketsDrp").html(options);




                    } else if (data.data.length == 0) {
                        options = options + ' <option value="0">--no tickets--</option>';
                        $("#pendingticketsDrp").html(options);
                        showNotification("No pending tickets found");
                    }

                }
            }

        });

        </text>
        }


    });

    function addCommas(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function showValidationError(msg, lable) {
        $('#' + lable).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }

    $("#AddRegion").on("click", function (e) {

        $("#region_countryDrp").select2("destroy");
        $("#region_countryDrp").select2();
        $("#region_customerdropdown").show();
        $("#region_regionName").show();
        $("#regionName").val("");
        var customerId = $("#customerDrp").val();
        $('#createNewCheck').prop('checked', true);
        $("#region_regionDrp").select2('destroy');
        $("#region_regionDrp").attr('disabled', 'disabled');
        $('#region_regionDrp').val('0');
        $("#region_regionDrp").addClass("form-control");
        var customerId = $("#customerDrp").val();
        $("#resetRegion").show();
        getRegionsOrCountriesByCustomer(customerId, "Region", false, true, null);
        $('#addRegionModal').modal('show');

    })

    $("#EditRegion").on("click", function (e) {
        $('#createNewCheck').prop('checked', false);
        $('#createCheckDiv').hide();
        var customerId = $("#customerDrp").val();
        var regionId = $("#regionDrp").val();
        if (regionId == null || regionId == "" || regionId == "0" || regionId == "null") {
            showNotification("Please select single region to edit");
            return false;
        }
        var selectedRegion = $('#regionDrp').select2('data');
        var options = "";
        if (selectedRegion.context == undefined) {
            if (selectedRegion.length > 1) {
                showNotification("Please select single region to edit");
                return false;
            }

            selectedRegion.forEach(function (item) {
                options = options + ' <option value="' + item.id + '">' + item.text + '</option>';
            });

        }

        $("#region_customerdropdown").hide();
        $("#region_regionName").hide();
        getRegionsOrCountriesByCustomer(customerId, "Country", true, false, options);
        $("#resetRegion").hide();
        $('#addRegionModal').modal('show');

    })

    $("#SaveRegion").on("click", function (e) {

        var createCheck = $('#createNewCheck').is(":checked");
        if (createCheck == true) {
            var customerId = $("#regionCustomerDrp").val();
            if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
                showValidationError("Please select a customer", "lblregionCustomerDrp");
                return false;
            }
        }

        var customerId = $("#customerDrp").val();
        if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
            showNotification("Please select customer");
            return false;
        }
        var contIds = $("#region_countryDrp").val();
        var countryIds = "";
        if (contIds != null && contIds != "" && contIds != "0" && contIds != "null") {
            countryIds = contIds.join(',');
        }
        else {
            showValidationError("Please select atleast one country", "lblregion_countryDrp");
            return false;
        }


        var regionName = $("#regionName").val();
        if (createCheck == true) {
            if (regionName == null || regionName == "") {
                showValidationError("Please enter region name", "lblRegionName");
                return false;
            }
        }

        var selectedCountries = $('#region_countryDrp').select2('data');
        var selectedCountryArray = [];

        selectedCountries.forEach(function (item) {
            var obj = {
                Key: item.id,
                Value: item.text
            }
            selectedCountryArray.push(obj);
        });

        var Url = '/AssetDisposition/AddRegion?countryIds=' + countryIds + '&customerId=' + customerId + '&regionName=' + regionName + '&selectedCountries=' + JSON.stringify(selectedCountryArray);

        var regionId = $("#region_regionDrp").val();

        if (regionId != null && regionId != "" && regionId != "0" && regionId != "null") {

            var selectedRegionCountries = $('#region_countryDrp').select2('data');
            var selectedRegionCountryArray = [];

            selectedRegionCountries.forEach(function (item) {
                var obj = {
                    Key: item.id,
                    Value: item.text
                }
                selectedRegionCountryArray.push(obj);
            });

            Url = '/AssetDisposition/UpdateRegion?regionId=' + regionId + '&selectedCountries=' + JSON.stringify(selectedRegionCountryArray);
        }

        StartLoader();
        $.ajax({
            url: Url,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var options = '';

                if (data != null) {
                    if (data.msg != null && data.msg != "") {

                        showNotification(data.msg);
                        $("#regionCountryDrp").trigger("change");
                        $('#addRegionModal').modal('hide');
                    }
                    else {
                        showNotification("Something went wrong, please try again later!");
                        $('#addRegionModal').modal('hide');
                    }

                }
            }, complete: function (data) {
                EndLoader();
            }
        });

    })

    $("#DeleteRegion").on("click", function (e) {

        var customerId = $("#customerDrp").val();
        if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
            showNotification("Please select a customer");
            return false;
        }

        var regionId = $("#region_regionDrp").val();
        if (regionId == null || regionId == "" || regionId == "0" || regionId == "null") {
            showNotification("Please select a region");
            return false;
        }

        StartLoader();
        $.ajax({
            url: '/AssetDisposition/DeleteRegion?regionId=' + regionId + '&customerId=' + customerId,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var options = '';

                if (data != null) {
                    if (data.msg != null && data.msg != "") {
                        showNotification(data.msg);
                        $("#regionCountryDrp").trigger("change");
                        $('#addRegionModal').modal('hide');
                    }
                    else {
                        showNotification("Something went wrong, please try again later!");
                    }

                }
            }, complete: function (data) {
                EndLoader();
            }
        });

    })

    $("#customerDrp").change(function () {
        //debugger;
        var customerId = $(this).val();
        @if (Model.routeName == "assetsummaryreport")
        {
            <text>
        if (customerId == "245") {
            StartLoader();
            $.ajax({
                url: '/AssetDisposition/GetSegments?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '<option value="0">--Select--</option>';

                    if (data != null) {
                        if (data.data.length > 0) {

                            $.each(data.data, function (index, item) {
                                options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                            });
                            $("#segmentsDrp").html(options);

                            $("#Segments").show();
                        }
                    }
                }, complete: function (data) {
                    EndLoader();
                }
            });
        }
        else {
            $("#Segments").hide();
        }
        </text>
        }
        else if (Model.routeName == "assetcollectionreport" || Model.routeName == "assetfinancialreport")
        {
            <text>

      //  var customerId = $(this).val();

        if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
            //showNotification("Please select customer");
            $(this).val('0');
            $("#Countries").hide();
            return false;
        }
        else {
            getRegionsOrCountriesByCustomer(customerId, "Country", false, false, null);
            $("#Countries").show();
          //  $("#Regions").hide();
        }

        </text>
        }
        else if (Model.routeName == "pendingtickets")
        {
            <text>
        if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
            //showNotification("Please select customer");
            $(this).val('0');

            return false;
        } else {
            fillsupplier(customerId);
        }
    </text>

        }


        $('#regionCountryDrp').val('0');
        $("#regionCountryDrp").val("0").trigger("change");


    });

    $("#regionCustomerDrp").change(function () {
        var customerId = $(this).val();
        getRegionsOrCountriesByCustomer(customerId, "Country", false, false, null);
    });

    $("#resetRegion").on("click", function (e) {
        $("#regionCustomerDrp").val("0").trigger("change");
        $("#region_regionName").show();
        $("#regionName").val("");
        $('#createNewCheck').prop('checked', true);
        $("#region_regionDrp").select2('destroy');
        $("#region_regionDrp").attr('disabled', 'disabled');
        $('#region_regionDrp').val('0');
        $("#region_regionDrp").addClass("form-control");
        $("#region_countryDrp").select2('destroy');
        $("#region_countryDrp").multipleSelect(
                                    {
                                        placeholder: '--Select--',
                                        filter: true,
                                        allowClear: true
                                    });
        $("#region_countryDrp").select2({ width: 'resolve' });

       // $(".ms-select-all").hide();
    })

</script>
@*...skipping...
            return false;
        }
            return false;
        }
        }
        else {
            getRegionsOrCountriesByCustomer(customerId, "Country", false, false, null);
            $("#Countries").show();
          //  $("#Regions").hide();
        }

        </text>
        }
        else if (Model.routeName == "pendingtickets")
        {
<text>
    if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
    //showNotification("Please select customer");
    $(this).val('0');

    return false;
    } else {
    fillsupplier(customerId);
    }
</text>

        }


        $('#regionCountryDrp').val('0');
        $("#regionCountryDrp").val("0").trigger("change");


    });

    $("#regionCustomerDrp").change(function () {
        var customerId = $(this).val();
        getRegionsOrCountriesByCustomer(customerId, "Country", false, false, null);
    });

    $("#resetRegion").on("click", function (e) {
        $("#regionCustomerDrp").val("0").trigger("change");
        $("#region_regionName").show();
        $("#regionName").val("");
        $('#createNewCheck').prop('checked', true);
        $("#region_regionDrp").select2('destroy');
        $("#region_regionDrp").attr('disabled', 'disabled');
        $('#region_regionDrp').val('0');
        $("#region_regionDrp").addClass("form-control");
        $("#region_countryDrp").select2('destroy');
        $("#region_countryDrp").multipleSelect(
                                    {
                                        placeholder: '--Select--',
                                        filter: true,
                                        allowClear: true
                                    });
        $("#region_countryDrp").select2({ width: 'resolve' });

       // $(".ms-select-all").hide();
    })

</script>
        else {
            getRegionsOrCountriesByCustomer(customerId, "Country", false, false, null);
            $("#Countries").show();
          //  $("#Regions").hide();
        }

        </text>
        }
        else if (Model.routeName == "pendingtickets")
        {
<text>
    if (customerId == null || customerId == "" || customerId == "0" || customerId == "null") {
    //showNotification("Please select customer");
    $(this).val('0');

    return false;
    } else {
    fillsupplier(customerId);
    }
</text>

        }


        $('#regionCountryDrp').val('0');
        $("#regionCountryDrp").val("0").trigger("change");


    });

    $("#regionCustomerDrp").change(function () {
        var customerId = $(this).val();
        getRegionsOrCountriesByCustomer(customerId, "Country", false, false, null);
    });

    $("#resetRegion").on("click", function (e) {
        $("#regionCustomerDrp").val("0").trigger("change");
        $("#region_regionName").show();
        $("#regionName").val("");
        $('#createNewCheck').prop('checked', true);
        $("#region_regionDrp").select2('destroy');
        $("#region_regionDrp").attr('disabled', 'disabled');
        $('#region_regionDrp').val('0');
        $("#region_regionDrp").addClass("form-control");
        $("#region_countryDrp").select2('destroy');
        $("#region_countryDrp").multipleSelect(
                                    {
                                        placeholder: '--Select--',
                                        filter: true,
                                        allowClear: true
                                    });
        $("#region_countryDrp").select2({ width: 'resolve' });

       // $(".ms-select-all").hide();
    })

</script>*@