﻿@model OneSourceAdminCore.Model.AssetDispositionModel

@{
    ViewBag.Title = "ReportResult";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div id="printpdf" class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-6" style="padding: 10px; color: #FFF;">
        @{
            <b> Reports > Asset Disposition > @Model.reportName > Result </b>
        }
    </div>


    <div class="col-md-6" style="padding: 7px; text-align:right;">

        @if (Model.SubType == "Details")
        {

            <a href="/AssetDisposition/RedirectToReport?goBack=true" class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;padding-top:5px !important">Back</a>

        }
        else
        {
            @*using (Html.BeginForm("RedirectToReport", "AssetDisposition", FormMethod.Post, new { @id = "AssetReportRedirectToParent" }))
            {
                <input type="hidden" name="routeId" value="@Model.routeId" />
                <input type="hidden" name="parentRoute" value="@Model.parentRoute" />
                <input type="hidden" name="parentRouteId" value="@Model.parentRouteId" />
                <input type="hidden" id="CustomerIdRD" name="CustomerId" value="@Model.CustomerId" />
                <input type="hidden" id="StartDateRD" name="StartDate" value="@Model.StartDate" />
                <input type="hidden" id="EndDateRD" name="EndDate" value="@Model.EndDate" />
                <input type="hidden" id="AssetTypesRD" name="AssetTypes" value="@Model.AssetTypes" />
                <input type="hidden" id="CountryIdsRD" name="CountryIds" value="@Model.CountryIds" />
                <input type="hidden" id="PartCategoryIdsRD" name="PartCategoryIds" value="@Model.PartCategoryIds" />
                <input type="hidden" id="RegionIdsRD" name="RegionIds" value="@Model.RegionIds" />
                <input type="hidden" id="RegionCountryRD" name="RegionCountry" value="@Model.RegionCountry" />
                <input type="hidden" id="CountryNamesRD" name="CountryNames" value="@Model.CountryNames" />*@
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" onclick="goBack();" style="float:right;background-color:green">Back</button>
            
            @*<a href="/AssetDisposition/RedirectToReport" class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;padding-top:5px !important">Back</a>*@

        }

        @using (Html.BeginForm("GetReportDataInPDF", "AssetDisposition", FormMethod.Post, new { @id = "GetReportToExportIntoPDF" }))
        {
            <input type="hidden" name="routeId" value="@Model.routeId" />
            <input type="hidden" name="parentRoute" value="@Model.parentRoute" />
            <input type="hidden" name="parentRouteId" value="@Model.parentRouteId" />
            <input type="hidden" id="parentRoute" name="parentRoute" value="@Model.parentRoute" />
            <input type="hidden" id="parentRouteId" name="parentRouteId" value="@Model.parentRouteId" />
            <input type="hidden" id="reportName" name="reportName" value="@Model.reportName" />
            <input type="hidden" id="routeName" name="routeName" value="@Model.routeName" />
            <input type="hidden" id="routeId" name="routeId" value="@Model.routeId" />
            <input type="hidden" id="TotalAssetsPDF" name="TotalAssets" value="@Model.TotalAssets" />
            <input type="hidden" id="AssetTypeNamesPDF" name="AssetTypeNames" value="@Model.AssetTypeNames" />
            <input type="hidden" id="StartDatePDF" name="StartDate" value="@Model.StartDate" />
            <input type="hidden" id="EndDatePDF" name="EndDate" value="@Model.EndDate" />
            <input type="hidden" id="CustomerNamePDF" name="CustomerName" value="@Model.CustomerName" />
            <input type="hidden" id="RegionNamesPDF" name="RegionNames" value="@Model.RegionNames" />
            <input type="hidden" id="CategoryNamesPDF" name="CategoryNames" value="@Model.CategoryNames" />
            <input type="hidden" id="CountryNamesRR" name="CountryNames" value="@Model.CountryNames" />
            <input type="hidden" id="AssetTypesRR" name="AssetTypes" value="@Model.AssetTypes" />
            <input type="hidden" id="CustomerIdRR" name="CustomerId" value="@Model.CustomerId" />
            <input type="hidden" id="CountryIdsRR" name="CountryIds" value="@Model.CountryIds" />
            <input type="hidden" id="PartCategoryIdsRR" name="PartCategoryIds" value="@Model.PartCategoryIds" />
            <input type="hidden" id="RegionCountryRR" name="RegionCountry" value="@Model.RegionCountry" />
            <input type="hidden" id="RegionIdsRR" name="RegionIds" value="@Model.RegionIds" />
            <input type="hidden" id="SubTypeRR" name="SubType" value="@Model.SubType" />
            if (Model.routeName == "assetfinancialreport")
            {
                <input type="hidden" id="TotalFeesPDF" name="TotalFees" value="@Model.TotalFees" />
                <input type="hidden" id="TotalArPDF" name="TotalAr" value="@Model.TotalAr" />
                <input type="hidden" id="NetGainOrLossPDF" name="NetGainOrLoss" value="@Model.NetGainOrLoss" />
                <input type="hidden" id="TotalNetLossPerAssetPDF" name="TotalNetLossPerAsset" value="@Model.TotalNetLossPerAsset" />
                @*<input type="hidden" id="SubTypeRR" name="SubType" value="" />*@
            }

            //<button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
        }
        <button class="btn btn-default topAddNewButton" id="pdf" style="margin-right:10px;">Export</button>

        @if (Model.RegionCountry == "RegionWise")
        {
            <button class="btn btn-default topAddNewButton" type="button" id="getCountryDetails" style="margin-right:10px;">Get Region Details</button>
        }
    </div>
</div>

<div class="row" style="text-align:center; margin-top:10px;">
    <h4><strong>@Model.reportName</strong></h4>
</div>
<div class="col-md-12" style="height:800px;">
    <div class="row" style="margin-top:48px; margin-left:50px;">

        @if (Model.RegionCountry == "CountryWise")
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b>Countries:</b>
                </div>
                <div class="col-md-9">
                    @Model.CountryNames
                </div>
            </div>
        }
        else
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b>Regions:</b>
                </div>
                <div class="col-md-9">
                    @Model.RegionNames
                </div>
            </div>
        }


        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <b>   Assets:</b>
            </div>
            <div class="col-md-9">
                @Model.AssetTypeNames
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <b> Categories:</b>
            </div>
            <div class="col-md-9">
                @Model.CategoryNames
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <b> Customer:</b>
            </div>
            <div class="col-md-9">
                @Model.CustomerName
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <b> Report Date:</b>
            </div>
            <div class="col-md-9">
                @DateTime.Now.ToShortDateString()
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <b> Report Period:</b>
            </div>
            <div class="col-md-9">
                @(Model.StartDate) - @(Model.EndDate)
            </div>
        </div>
        @if (Model.routeName == "assetfinancialreport" || Model.routeName == "assetsummaryreport")
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b> Total Assets:</b>
                </div>
                <div class="col-md-9">
                    @Model.TotalAssets
                </div>
            </div>
            if (Model.routeName == "assetfinancialreport")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b> Total Fees:</b>
                    </div>
                    <div class="col-md-9">
                        <label id="totalFees"></label>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b> Total AR Value:</b>
                    </div>
                    <div class="col-md-9">
                        <label id="totalAr"></label>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b id="NetGainOrLoss"> </b>
                    </div>
                    <div class="col-md-9">
                        <label id="TotalNetGainOrLoss"></label>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b id="NetGainOrLossPerAsset"> </b>
                    </div>
                    <div class="col-md-9">
                        <label id="TotalNetGainOrLossPerAsset"></label>
                    </div>
                </div>
            }


        }
        else if (Model.routeName == "assetcollectionreport")
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b> Total Items:</b>
                </div>
                <div class="col-md-9">
                    @Model.TotalItems
                </div>
            </div>
        }

    </div>

    @*@if (Session["ReportType"].ToString() == "Summary")
        {
            @Html.Partial("~/Views/SLAReports/_ReportSummary.cshtml", Model)
        }
        @if (Session["ReportType"].ToString() == "Detail")
        {

        }*@

    <br /><br />
    <div class="col-md-12 table-responsive">
        <div class="row gridDiv">
        </div>
    </div>


</div>
<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }
</style>
<script>
    function goBack() {
        window.history.back();
    }

    //$("#redirectToParent").addEventListener('click', function() {
    //    window.location = document.referrer + '?CustomerId=135';
    //}, false);

  

    $(document).ready(function () {

         

        $('.modal-body').slimscroll({ destroy: true });

        $("#customerDrp").select2({ allowClear: true });
        $("#customerDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#customerDrp").val("0").trigger("change");

        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });

        StartLoader();
        $(".gridDiv").html("");
        $(".gridDiv").html("<table id='grid'></table>");
        $.ajax({
            url: "/AssetDisposition/GetReportResults",
            type: "GET",
            success: function (data) {
                EndLoader();
                if (data.data != null && data.data != "" && data.data != "[]" && data.data != "DateError") {

                    if (data.msg == "FromDetails") {
                        $("#getCountryDetails").hide();
                    }
                    else {
                        $("#getCountryDetails").show();
                    }

                    var table = JSON.parse(data.data);
                    var tableObj = [];
                    var totalfees = 0;
                    if (table.length > 0) {
                        for (i = 0; i < Object.keys(table[0]).length; i++) {

                            var obj = {};
                            obj.field = Object.keys(table[0])[i];
                            obj.width = 100;
                            obj.sortable = true;
                            obj.align = 'center';
                            obj.headerCssClass = 'headerClass';
                            obj.cssClass = 'rowClass';
                            if (obj.field == "Fee") {
                                obj.headerCssClass = 'headerClass customFee';
                            }
                            if (obj.field == "AssetRecovery") {
                                obj.headerCssClass = 'headerClass customAr';
                            }
                            if (data.msg != "FromDetails") {

                                if (obj.field == "Remarketable") {
                                    obj.title = "Remarketable %";
                                }
                                if (obj.field == "Recycled") {
                                    obj.title = "Recycled %";
                                }

                            }
                            else {
                                if (obj.field == "RemarketablePerc") {
                                    obj.hidden = true;
                                }
                                if (obj.field == "Remarketable") {
                                    obj.hidden = true;
                                }
                                if (obj.field == "RecycledPerc") {
                                    obj.title = "%";
                                }
                                if (obj.field == "TotalFees") {
                                    obj.hidden = true;
                                }
                                if (obj.field == "RemarketingValue") {
                                    obj.hidden = true;
                                }
                            }
                            tableObj.push(obj);
                        }
                    }
                    if (table.length > 50) {

                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: { limit: 50, sizes: [50, 100, 500, 1000] },
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    else {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: null,
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    var refreshButton = $("button[data-role='page-refresh']");
                    if (refreshButton != undefined) {
                        refreshButton.hide();
                    }
                    var selectCounter = $("select[data-role='page-size']")[0];
                    if (selectCounter != undefined) {
                        selectCounter.style.width = "80px";
                    }
                }
                else {
                    if (data.msg == "DateError") {
                        $(".depricationsummary").hide();
                        showNotification("From Date should not be greater than To Date");
                    }
                    else {
                        $(".depricationsummary").hide();
                        showNotification("No records found.");
                    }
                }
                getTotalFees();
            }
        });
    });

    var getTotalFee = 0;
    var totalAr = 0;
    var netGainOrLoss = 0;
    var totalNetLossPerAsset = 0;

    function getTotalFees() {
        //debugger;
        var getFeeIndex = $('#grid thead tr th[class="headerClass customFee"]').index();
        var getArIndex = $('#grid thead tr th[class="headerClass customAr"]').index();
        if (getFeeIndex > 0 && getArIndex > 0) {
            $('#grid tbody tr').find('td:eq(' + getFeeIndex + ')').each(function (index, item) {
                getTotalFee += parseFloat($(this).find("div").attr("title"));
            });
            $('#grid tbody tr').find('td:eq(' + getArIndex + ')').each(function (index, item) {
                totalAr += parseInt($(this).find("div").attr("title"));
            });
            $("#totalFees").text(getTotalFee);
            $("#totalAr").text(totalAr);
            netGainOrLoss = totalAr - getTotalFee;
            if (NetGainOrLoss > 0) {
                $("#NetGainOrLoss").text("Net Gain");
                $("#TotalNetGainOrLoss").text(netGainOrLoss);
                $("#NetGainOrLossPerAsset").text("Net Gain Per Asset");
            }
            else {
                $("#NetGainOrLoss").text("Net Loss");
                $("#TotalNetGainOrLoss").text(Math.abs('' + netGainOrLoss + ''));
                $("#NetGainOrLossPerAsset").text("Net Loss Per Asset");
            }
            if (totalAr > getTotalFee) {
                var num = (totalAr - getTotalFee) / totalAr;
                totalNetLossPerAsset = num.toFixed(2);
            }
            else {
                var num = (getTotalFee - totalAr) / @Model.TotalAssets;
                totalNetLossPerAsset = num.toFixed(2);
            }
            $("#TotalNetGainOrLossPerAsset").text(totalNetLossPerAsset);

        }
    }

    function nameRenderer(value, record, $cell, $displayEl) {
        $displayEl.text(value);
    };

    $(document).ready(function () {

        $("#manufacturers").multipleSelect(
            {
                placeholder: '--Select--',
                filter: true,
                allowClear: true,
                includeSelectAllOption: false,
                selectAllValue: -1
            });
        $("#manufacturers").select2({ width: 'resolve' });
        $("#manufacturers").select().val("-1").trigger("change");
        $(".ms-select-all").hide()

    });

    function addCommas(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function showValidationError(msg, lable) {
        $('#' + lable).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }

    $("#getCountryDetails").on("click", function (e) {

        var values = {
            "SubType": "Details"
        }
        StartLoader();
        $.ajax({
            url: "/AssetDisposition/GetReportData?regionDetails=true",
            type: "POST",
            data: values,
            success: function (data) {
                EndLoader();
                //debugger;
                if (data.msg != null && data.msg != "" && data.msg != "[]" && data.msg != "DateError") {

                    if (data.msg == "Redirect") {
                        window.location = "/AssetDisposition/ReportResult"
                    }
                }
                else {
                    if (data.msg == "DateError") {
                        $(".depricationsummary").hide();
                        showNotification("From Date should not be greater than To Date");

                    }
                    else {
                        $(".depricationsummary").hide();
                        showNotification("No records found.");
                    }
                }
            }

        });
    });
    //$("#pdf").click(function () {
    //    $("input[name='GridHtml']").val($(".gridDiv").html());
    //});
    $("#pdf").on("click", function (e) {
        //var netGainOrLoss = $("#NetGainOrLoss").text();
        //var getTotalFee = $("#").text();
        $("#NetGainOrLossPDF").val(netGainOrLoss);
        $("#TotalFeesPDF").val(getTotalFee);
        $("#TotalArPDF").val(totalAr);
        $("#TotalNetLossPerAssetPDF").val(totalNetLossPerAsset);
        $("#GetReportToExportIntoPDF").submit();
            //window.location.href = "/AssetDisposition/GetReportDataInPDF?getTotalFee=" + getTotalFee + "&totalAr=" + totalAr + "&netGainOrLoss=" + netGainOrLoss + "&totalNetLossPerAsset=" + totalNetLossPerAsset;
            //}
            //else {
            //window.location.href = "/AssetDisposition/GetReportDataInPDF";
            //}          
        });
</script>
