﻿@using GridMvc.Html
@model List<OneSourceAdminCore.Presenter.CustomerMenuModel>

@{
    ViewBag.Title = "Customer Menu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="clearfix"></div>

<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Customer Menu</b>
    </div>
    <div class="col-md-3" style="; padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">

    </div>
</div>

<div class="clearfix"></div>
<br /><br />
<div id="customerMenuSetup">
    <div class="clearfix"></div>
    @if (Model != null)
    {


        @helper RenderCheckBox(int menuId, bool value, string checkBoxName, int customerId)
{
var menuName = "";
if (menuId == 1)
{
    menuName = "Dashboard";
}
else if (menuId == 2)
{
    menuName = "Reports";
}
else if (menuId == 3)
{
    menuName = "SMB Quotes";
}
else if (menuId == 4)
{
    menuName = "Software";
}

    <input class="customerAccess" data-chktype="@checkBoxName" data-customerid="@customerId" data-menuname="@menuName" data-menuid="@menuId" value="@value" @(value == false ? "checked" : "") type="checkbox">
}
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(C => C.CustomerName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Customer").SetWidth(150);
       columns.Add(C => C.IsRestrictedDashBoard).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).RenderValueAs(p => RenderCheckBox(1, p.IsRestrictedDashBoard, "dashboardchk", p.CustomerId)).Titled("Dashboard Access").SetWidth(30);
       columns.Add(C => C.IsRestrictedReports).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Reports Access").RenderValueAs(p => RenderCheckBox(2, p.IsRestrictedReports, "reportsChk", p.CustomerId)).Titled("Reports Access").SetWidth(30);
       columns.Add(C => C.IsRestrictedSmbQuotes).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("SMB Quotes Access").RenderValueAs(p => RenderCheckBox(3, p.IsRestrictedSmbQuotes, "smbChk", p.CustomerId)).Titled("SMB Quotes Access").SetWidth(30);
       columns.Add(C => C.IsRestrictedSoftware).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).RenderValueAs(p => RenderCheckBox(4, p.IsRestrictedSoftware, "softwareChk", p.CustomerId)).Titled("Software Access").SetWidth(30);
   }).WithPaging(50)

    }
</div>


<script>
    $(document).ready(function () {
        $('#customerMenuSetup .customerAccess').change(function (e) {
            showHideLoader(1);
            var currentChkValue = this.checked;
            var menuId = $(this).data("menuid");
            var customerId = $(this).data("customerid");
            var menuName = $(this).data("menuname");

            var data = {
                menuId: menuId,
                menuName: menuName,
                customerId: customerId,
                isRestricted: currentChkValue
            };

            $.ajax({
                url: '/CustomerMenuSetup/UpdateCustomerMenu',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        showNotification("Record updated successfully.");
                    } else if (data == false) {
                        showNotification("Error while processing.");
                    }
                    showHideLoader(0);
                }
            });
        });
    });
</script>