﻿@model OneSourceAdminCore.Model.BudgetModel
@{
    ViewBag.Title = "Customer Site Budget";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>
<script>
    var myApp = angular.module("myModule", []);
    myApp.controller("myController", function ($scope, $http) {
        $scope.totalAmount = "";
        // $scope.isvalid = true;
        $scope.getCountry = function (id) {

            StartLoader();
            //if (id == "") {
            $scope.$apply(function () {
                $scope.countries = null;
                $scope.totalAmount = null;
                $scope.addresses = null;
                $('#CurrencyID').val('');
            });
            //}
            //else {
            $http.get('/SiteBudget/GetCountryByCustomer' + '?' + new Date().toString(), { params: { value: id } }).success(function (response) {
                $scope.countries = response;
            });
            //    }

            EndLoader();

        };
        $scope.getTotalAmountByCountry = function (id) {

            if ($('#CustomerID').val() !== "" && id != "") {
                $http.get('/SiteBudget/GetTotalAmountByCountryCustomer' + '?' + new Date().toString(), { params: { countryId: id, customerId: $('#CustomerID').val() } }).success(function (response) {

                    $scope.totalAmount = response.amount;
                    $scope.addresses = response.listOfAddresses;
                    $('#CurrencyID').val(response.currencyId).attr('disabled', 'disabled');
                    EndLoader();
                });
            }
            if (id == "" && $scope.totalAmount != "") {

                $scope.$apply(function () {
                    $scope.totalAmount = "";
                    $scope.addresses = null;
                });


            }
        };
        //$scope.validateForm = function (bol) {
        //    $scope.isvalid = bol;
        //}
        @if (ViewBag.AddEditAccess == true)
        {<text>
        $scope.update = function (value) {
            $scope.postedData = [];

            if ($('#CustomerID').val() != "" && $('#CountryID').val() != "") {

                if ($scope.totalAmount == null) {
                    alert("Total country budget should be available");
                    return false;
                }
                if ($('#CurrencyID').val() == "") {
                    alert("Currency is required");
                    return false;
                }

                $('.amount').each(function (event) {
                    if ($(this).val() != "" && $(this).val() != "0") {
                        var data = {
                            CustomerID: $('#CustomerID').val(),
                            CurrencyID: $('#CurrencyID').val(),
                            CountryID: $('#CountryID').val(),
                            BudgetAmount: $(this).val(),
                            SiteID: $(this).parent().parent().find('input[type="hidden"]').val()
                        };
                        $scope.postedData.push(data);
                    }
                });


                var totalAmountToCompare = 0;
                $('.amount').each(function () {

                    if (!isNaN(parseFloat($(this).val()))) {
                        totalAmountToCompare += parseFloat($(this).val());
                    }
                });

                if (totalAmountToCompare > parseFloat($scope.totalAmount)) {
                    alert('Please provide site budget less than total budget');
                    return false;
                }

                var isValidForm = true;
                $('.amount[style]').each(function () {
                    if ($(this).css('border-color') == "rgb(255, 0, 0)") {

                        isValidForm = false;
                        return false;
                    }
                });
                if (!isValidForm) {
                    alert("Please provide correct data");
                    return false;
                }

                if ($scope.postedData.length > 0) {
                    StartLoader();
                    var req = {
                        method: 'POST',
                        url: '/SiteBudget/UpdateCustomerSiteBudget',
                        headers: {
                            'contentType': 'application/json; charset=utf-8',
                            'dataType': 'json',
                        },
                        data: JSON.stringify($scope.postedData)
                    }

                    $http(req).success(function (response) {
                        if (response == "0") {
                            alert("Error Occurred");
                        }
                        else {

                            alert("Record Update Successfuly");
                            $scope.getTotalAmountByCountry($('#CountryID').val());
                            EndLoader();

                        }
                    });
                }
                else {

                    StartLoader();
                    var dataArr = [];
                    var data = {
                        CustomerID: $('#CustomerID').val(),
                        CurrencyID: 0,
                        CountryID: 0,
                        BudgetAmount: 0,
                        SiteID: 0
                    };
                    dataArr.push(data);
                    var req = {
                        method: 'POST',
                        url: '/SiteBudget/UpdateCustomerSiteBudget',
                        headers: {
                            'contentType': 'application/json; charset=utf-8',
                            'dataType': 'json',
                        },
                        data: JSON.stringify(dataArr)
                    }

                    $http(req).success(function (response) {
                        alert("Record Update Successfuly");
                        $scope.getTotalAmountByCountry($('#CountryID').val());
                        EndLoader();


                    });
                }



                ///


            }
            else {
                alert('Please select Customer, Country and Currency');
            }


        }
        </text>
    }

    });
</script>
<script>
    $(function () {

        $('#CustomerID').change(function () {
            angular.element(document.getElementById('myController')).scope().getCountry($(this).val());
            if ($(this).val() == "") {
                $('.btnUpdate').css("display", "none");
            }
        });
        $('#CountryID').change(function () {
            angular.element(document.getElementById('myController')).scope().getTotalAmountByCountry($(this).val());

            if ($(this).val() != "") {
                $('.btnUpdate').css("display", "block");
            }
            else {
                $('.btnUpdate').css("display", "none");
            }


        });
        $('body').on('keyup change', 'input.amount', function () {
            var inputField = $(this);
            var value = inputField.val();
            var invalid = value.match(/^-?(?!.{12})\d+(?:\.\d+)?$/);
            if (invalid || value == "") {
                $(this).css('border-color', '#e5e5e5');
                //    angular.element(document.getElementById('myController')).scope().validateForm(true);
            } else {
                //  angular.element(document.getElementById('myController')).scope().validateForm(false);

                $(this).css('border-color', 'red');

            }
        });
        $(document).ready(function () {
            $(".page-sidebar-menu").find(".settings").addClass("open");
            $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
            $(".page-sidebar-menu .settings").find(".customersitebudget").addClass("active");
        });
    });
</script>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Customer Site Budget </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
@*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
        <div class="col-md-4">
            <h1 style="color: #fff;">Customer Site Budget</h1>
        </div>
        <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
        </div>
        <div class="col-md-4"></div>
    </div>*@
<div ng-app="myModule" ng-controller="myController" id="myController">
    <div class="row" style="margin-top:60px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Customer</label>
                <div class="col-md-6">
                    <input type="hidden" name="CustomerName" id="CustomerName">
                    @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
                        "Key", "Value"), "--Select--",
  new { @id = "CustomerID", @valueFor = "CustomerName", @class = "form-control ", @tabindex = "-1"/*, ng_change = "updateCustomer(id)"*/ })

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Country</label>
                <div class="col-md-6">
                    <select class="form-control " id="CountryID" name="CountryID" tabindex="-1">
                        <option value="">--Select--</option>
                        <option ng-repeat="row in countries" value="{{row.CountryID}}">{{row.CountryName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Country Total Budget</label>
                <div class="col-md-6">
                    <input type="text" class="form-control totalBudget" ng-model="totalAmount" disabled="disabled" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-4" style="padding-left: 20px;"><span style="color:red">* </span>Currency</label>
                <div class="col-md-6">
                    @Html.DropDownList("CurrencyId", new SelectList(Model.Currencies,
                        "Key", "Value"), "--Select--",
new { @id = "CurrencyID", @valueFor = "CurrencyName", @class = "form-control ", @tabindex = "-1" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table" style="width:100%;" ng-show="addresses.length>0">
                    <thead style="color: #fff;background-color: #399bd3;">
                        <tr>
                            <th style="width: 33%;font-size: 17px;">Address</th>
                            <th style="width: 33%;font-size: 17px;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in addresses">
                            <td class="countryName">{{a.CondensedAddress}}</td>
                            <td>
                                <input type="hidden" value="{{a.CustomerAddressID}}" />
                                <input type="text" class="form-control amount" maxlength="10" value="{{a.BudgetAmount}}"  @(ViewBag.AddEditAccess == true?"":"disabled")>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12">
                    <div class="col-md-11"></div><div class="col-md-1">
                        @if (ViewBag.AddEditAccess == true)
                        {
                            <button class="btn btn-primary btnUpdate" style="display:none;" ng-click="update()">Update</button>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
