﻿@using GridMvc.Html
@model List<OneSourceAdminCore.Entity.Sp_GetActionsList_AdminR_Result>
@{
    ViewBag.Title = "Actions";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Support > Actions</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">
    <a href="/support/actions/update" style="float:right !important"><input class="btn btn-default topAddNewButton" value="Schedule/New" type="button"></a>
    </div>
</div>


@helper RenderActionLink(int actionId, string actionName)
{
    <span actionid="@actionId" class="actionLink" style="color: blue;cursor: pointer">@(!string.IsNullOrWhiteSpace(actionName) ? @actionName : "-")</span>
}


<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Support - Actions</h1>
        <span>Select a link below to view detailed information on recent actions, or click the button to the top right to view scheduled actions or launch a new one.</span>
        <hr />
        <div style="font-size: 11px;">
            @if (Model != null && Model.Count > 0)
            {
                <div>
                    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(C => C.actionname).RenderValueAs(x => @RenderActionLink(x.actioninstanceid, x.actionname)).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Action Name").SetWidth(30);

                        columns.Add(C => C.actionStart).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Start").SetWidth(20);

                        columns.Add(C => C.actionEnd).Encoded(false).Sanitized(false).Sortable(true).Titled("End").SetWidth(20);

                        columns.Add(C => C.username).Encoded(false).Sanitized(false).Sortable(true).Titled("Initiated By").SetWidth(20);

                        columns.Add(C => C.workflowname).Encoded(false).Sanitized(false).Sortable(true).Titled("Workflow").SetWidth(60);

                        columns.Add(C => C.scheduleid).Encoded(false).Sanitized(false).Sortable(true).Titled("Schedule").SetWidth(40);

                        columns.Add(C => C.ActionStatusName).Encoded(false).Sanitized(false).Sortable(true).Titled("Status").SetWidth(40);

                    }).WithPaging(50)
                </div>
            }


        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="modal" id="actionDetailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <b>-</b>
                </h4>
            </div>
            <div class="modal-body">



                <div class="col-md-6">
                    <label>Action Start Date :</label>
                </div>
                <div class="col-md-6 aStartDate">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Action End Date :</label>

                </div>
                <div class="col-md-6 aEndDate">
                    <label class="add1">-</label>
                    <label class="add2"></label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Is Error :</label>
                </div>
                <div class="col-md-6 aError">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Initiated By :</label>

                </div>
                <div class="col-md-6 aUserName">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Current Status :</label>
                </div>
                <div class="col-md-6 aStatus">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Ticket # :</label>

                </div>
                <div class="col-md-6 aTicket">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Workflow : </label>

                </div>
                <div class="col-md-6 aWorkflow">
                    <label>-</label>
                </div><div class="clearfix"></div>

                <div class="col-md-6">
                    <label>Comments : </label>

                </div>
                <div class="col-md-6 aComments">
                    <label>-</label>
                </div><div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" style="color: white" data-dismiss="modal">Close</a>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="clearfix"></div>


<script>


    $(document).ready(function () {

        $(".actionLink").click(function () {
            var actionId = $(this).attr("actionid");
            var actionModal = $("#actionDetailModal");
            showHideLoader(1);
            $.ajax({
                url: '/Actions/GetActionDetails',
                type: 'Get',
                cache: false,
                data: { actionId: actionId },
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null && data != 'null' && data != "0") {

                        $(actionModal).find("h4 b").text("Action " + data.ActionName);
                        $(".aStartDate").text(data.StartDate);
                        $(".aEndDate").text(data.EndDate);
                        $(".aError").text(data.IsError);
                        $(".aUserName").text(data.UserName);
                        $(".aComments").html(data.Comments);
                        $(".aStatus").text(data.ActionStatusName);
                        if (data.WorkflowName != null && data.WorkflowId != null) {
                            $(".aWorkflow").html('<a href="/support/workflow/' + data.WorkflowId + '">' + data.WorkflowName + '</a>');
                        }

                        $(".aTicket").html('<a href="/support/ticket/' + data.TicketId + '">' + data.TicketId + '</a>');

                        $("#actionDetailModal").modal("show");
                    } else {
                        alert("Error while processing.");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });


        });

    });

</script>

<style>
    #actionDetailModal div a {
        color: blue;
    }

    #actionDetailModal {
        font-size: 11px;
    }
</style>