﻿@model OneSourceAdminCore.Model.ActionsModel
@{
    ViewBag.Title = "Create Action ";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Support > Actions </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;"><a href="/support/actions" style="float:right !important"><input class="btn btn-default topAddNewButton" value="Back" type="button"></a></div>
</div>

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Support - Actions</h1>
        <span>Select an action and execution type.</span>
        <hr />
    </div>


    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>Action : </label>
        </div>
        <div class="col-md-4">

            <input type="hidden" id="actionId" value="" />
            @Html.DropDownList("actionsDrp", new SelectList(Model.ActionsList,
                "Key", "Value"))
        </div>

        <div class="col-md-3"><span id="addActionLink" style="display: block !important; position: absolute !important; color: blue; cursor: pointer; margin-top: 6px;">Add/Edit</span></div>

    </div>


    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2">

            <input type="button" name="runAction" id="runActionBtn" value="Run this action" class="form-control blueBtn" />
        </div>

        <div class="col-md-3"></div>

    </div>


    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4 actionRunMsgDiv" style="font-size: 12px;">

        </div>

        <div class="col-md-3"></div>

    </div>

</div>




<div class="modal" id="addActionModal">
    <div class="modal-dialog" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <b>Action Parameters</b>
                </h4>
            </div>
            <form name="actionFieldsForm" id="actionFieldsForm" action="actions/AddUpdateAction">
                <div class="modal-body body1">


                </div>
                <div class="body2" style="display: none; padding: 10px;">
                    <h4>Action Default Settings Confirmation</h4>
                    <hr>
                    <div class="col-md-1" style="padding: 0px 10px; text-align: right;">
                        <input type="radio" name="SaveNewChk" value="false" checked="">
                    </div>
                    <div class="col-md-7">
                        <label>I would like to modify the default values for the CURRENT action. </label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-1" style="padding: 0px 10px; text-align: right;">
                        <input type="radio" name="SaveNewChk" value="true">
                    </div>
                    <div class="col-md-7 aStartDate">
                        <label>I would like to save the changes I've made as a NEW action named:</label>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-1">

                    </div>
                    <div class="col-md-6 aError">
                        <input class="form-control" type="text" name="ActionName">
                    </div>
                    <br>
                    <br><br>


                    <div class="clearfix"></div>
                </div>
            </form>

            <div class="modal-footer">
                <a href="#" class="btn btn-primary saveAction1" style="color: white">Save</a>
                <a href="#" class="btn btn-primary saveAction2" style="color: white; display: none;">Save</a>
                <a href="#" class="btn btn-primary" style="color: white" data-dismiss="modal">Close</a>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<div class="clearfix"></div>


<script>


    $(document).ready(function () {

        function AddTextField(labelName, fieldName, defaultvalue) {
            $("#addActionModal .modal-body").append('<div class="col-md-6"><label>' + labelName + ':</label></div><div class="col-md-6"><input class="form-control" name="' + fieldName + '" value="' + defaultvalue + '" type="text"></div><div class="clearfix"></div><br/>');
        }

        function AddTextArea(labelName, fieldName, defaultvalue) {
            $("#addActionModal .modal-body").append('<div class="col-md-6"><label>' + labelName + ':</label></div><div class="col-md-6">' +
                '<textarea  rows="3" class="form-control" name="' + fieldName + '">' + defaultvalue + '</textarea></div><div class="clearfix"></div><br/>');
        }

        function AddDrpDown(labelName, listName, fieldName, defaultvalue) {
            $("#addActionModal .modal-body").append('<div class="col-md-6"><label>' + labelName + ':</label></div>');

            showHideLoader(1);

            $.ajax({
                url: '/Actions/GetActionListsByName',
                type: 'Get',
                cache: false,
                async: false,
                data: { "glistName": listName },
                dataType: 'json',
                success: function (data) {
                    var options = '<option value="0" selected>None</option>';

                    if (data != null) {

                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });

                        $("#addActionModal .modal-body").append('<div class="col-md-6"><select class="form-control" name="' + fieldName + '">' + options + '</select></div><div class="clearfix"></div><br/>');
                        if (defaultvalue != null && defaultvalue > 0) {

                            $("select[name='" + fieldName + "']").val(defaultvalue);

                        }

                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }




        function AddActionNotifyFields() {

            showHideLoader(1);

            $.ajax({
                url: '/Actions/GetActionNotificationsFieldsSample',
                type: 'Get',
                dataType: 'json',
                success: function (data) {
                    var options = '<option value="0" selected>--Select Field--</option>';

                    if (data != null) {

                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Key + '">' + item.Value + '</option>';
                        });

                        $("#addActionModal .modal-body").append('<hr><div class="col-md-12" style=""><div class="col-md-2" style=""></div><div class="col-md-8" style=""><select class="form-control" id="drpFieldsSample">' + options + '</select><br>    <input class="form-control" id="txtSample" type="text"><span style="font-size: 11px !important; color: grey;">Cut and paste code to include action request field values in your message.</span></div><div class="col-md-2" style=""></div></div><div class="clearfix"></div>');

                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }
        $(document).on('change', "#drpFieldsSample", function () {
            //$("#drpFieldsSample").on('change', function () {
            $("#txtSample").val("");
            if ($(this).val() != 0) {
                $("#txtSample").val($(this).val());
            }
        });

        $("#actionsDrp").select2({ allowClear: true });


        $("#addActionLink").click(function () {

            var actionId = $("#actionsDrp").val();
            $("#addActionModal .modal-body").html('');
            $("#addActionModal .modal-body").append('<input type="hidden" name="ActionId" value="' + actionId + '">');
            $("input[name='ActionName']").val("");
            showHideLoader(1);
            $.ajax({
                url: '/Actions/GetFieldsByAction',
                type: 'Get',
                data: { actionId: actionId },
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null && data != 'null' && data != "0" && data.length > 0) {

                        $.each(data, function (index, value) {

                            if (value.FieldMethod.toLowerCase().indexOf("list") >= 0) {

                                var listName = value.FieldMethod.split(' ')[0];

                                AddDrpDown(value.FieldLabel, listName, value.FieldName, value.DefaultValue);
                            }
                            if (value.FieldMethod.toLowerCase().indexOf("textfield") >= 0) {
                                AddTextField(value.FieldLabel, value.FieldName, value.DefaultValue);
                            }
                            if (value.FieldMethod.toLowerCase().indexOf("textarea") >= 0) {
                                AddTextArea(value.FieldLabel, value.FieldName, value.DefaultValue);
                            }


                        });

                        if (data[0].ActionTypeName == "Notification") {

                            AddActionNotifyFields();
                        }

                        $("#addActionModal").modal("show");
                        $(".body1").show();
                        $(".saveAction1").show();
                        $(".saveAction2").hide();
                        $(".body2").hide();
                        $("#addActionModal .saveAction1").show();
                    } else {
                        $("#addActionModal .modal-body").append('<b>No data found!</b>');
                        $("#addActionModal .saveAction1").hide();
                        $("#addActionModal").modal("show");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });


        });

        $(".saveAction1").click(function () {

            $(".body1").hide();
            $(".saveAction1").hide();
            $(".saveAction2").show();
            $(".body2").show();

        });

        $(".saveAction2").click(function () {
            if ($('input[name="SaveNewChk"]:checked').val() == "true") {
                if ($('input[name="ActionName"]').val().trim() == "" || $('input[name="ActionName"]').val() == null) {
                    alert("Enter valid action name.");
                    return false;
                }
            }
            showHideLoader(1);
            var form = $("#actionFieldsForm").serialize();
            $.ajax({
                type: 'POST',
                url: "/actions/AddUpdateAction",
                data: form,
                dataType: 'json',
                success: function (data) {
                    if (data == true) {
                        alert("Your changes have been submitted successfully.");
                    } else {
                        alert("Error while processing your request.");
                    }
                    location.reload();
                }
            });

        });

        $("#runActionBtn").click(function () {
            var actionId = $("#actionsDrp").val();
            if (actionId < 1) {
                alert("Select action to process.");
                return false;
            }
            showHideLoader(1);
            $.ajax({
                type: 'POST',
                url: "/actions/RunAction",
                data: { "actionId": actionId },
                dataType: 'json',
                success: function (data) {
                    if (data == true) {
                        $(".actionRunMsgDiv").html("Your action has been launched successfully.<br/>You may view the status by clicking <a style='color:blue;cursor:pointer' href='/support/actions'>here.</a>");
                        $(".actionRunMsgDiv").css("color", "green");
                    } else {
                        $(".actionRunMsgDiv").html("You request was unable to be processed at this time.");
                        $(".actionRunMsgDiv").css("color","red");
                    }
                
                },
                complete: function () {

                    showHideLoader(0);
                }
            });


        });


    });





</script>