﻿@using GridMvc.Html
@using OneSourceAdminCore.Entity
@model OneSourceAdminCore.Model.AdminMenuModel
@{
    ViewBag.Title = "Add Menu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<input type="hidden" id="addMsg" value="@(TempData["addMsg"] != null ? TempData["addMsg"].ToString() : "")" />
<input type="hidden" id="updateMsg" value="@(TempData["editMsg"] != null ? TempData["editMsg"].ToString() : "")" />
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Add Menu</b>
    </div>
    <div class="col-md-3" style=";padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">

    </div>
</div>



@using (Html.BeginForm("AddUpdateMenu", "AdminMenuSetup", FormMethod.Post, new { @id = "adminMenuForm" }))
{
    <div class="os-admin-tabs cards">
        <div class="col-md-12 tab-content">
            <h1>Admin Menu</h1>
            <hr />

            <div>
                <input type="hidden" name="MenuId" id="MenuId" value="@Model.AdminMenu.MenuId" />


                <div class="col-md-12">

                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>Menu Name : </label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="MenuName" maxlength="100" required="" value="@Model.AdminMenu.MenuName">
                    </div>
                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>


                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>Menu Link :</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="MenuLink" required="" maxlength="100" value="@Model.AdminMenu.MenuLink">

                    </div>

                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>Is Main Menu :</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" name="IsMainMenu" class="isMainMenu" value="@Model.AdminMenu.IsMainMenu.ToString()">
                    </div>
                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>Parent Menu :</label>
                    </div>
                    <div class="col-md-4">
                        @{
    var selectedMenuId = 0;
    if (@Model.AdminMenu.ParentMenuId != null && Model.AdminMenu.ParentMenuId > 0)
    {
        selectedMenuId = Convert.ToInt32(@Model.AdminMenu.ParentMenuId);
    }
    else
    {
        var firstOrDefault = Model.MenuList.FirstOrDefault(x => x.IsActive && x.IsMainMenu);
        if (firstOrDefault != null)
        {
            selectedMenuId = firstOrDefault.MenuId;
        }
    }
                        }
                        <input type="hidden" name="ParentMenuId" value="@selectedMenuId" id="ParentMenuId" />

                        @Html.DropDownList("ParentMenuDrp", new SelectList(Model.MenuList.Where(x => x.IsActive && (x.IsMainMenu || x.MenuType == "Dashboard Sub-Menu")).ToList(),
             "MenuId", "MenuName", @selectedMenuId),
                            new { @class = "form-control", @idFor = "ParentMenuId" })
                    </div>
                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>Icon Class :</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="IconClassName" maxlength="50" value="@Model.AdminMenu.IconClassName">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>Menu Type :</label>
                    </div>
                    <div class="col-md-4">
                        <input type="hidden" class="menuType" value="@Model.AdminMenu.MenuType" />
                        <select name="MenuType" class="form-control menuTypeDrp">
                            <option value="Side Menu">Side Menu</option>
                            <option value="Dashboard Menu">Dashboard Menu</option>
                            <option value="Dashboard Sub-Menu">Dashboard Sub-Menu</option>
                            <option value="Dashboard Sub-Menu Item">Dashboard Sub-Menu Item</option>
                            <option value="Hidden Menu">Hidden Menu</option>
                        </select>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>Data Token Name:</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="DataTokenName" maxlength="50" required="" value="@Model.AdminMenu.DataTokenName">
                    </div>
                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>
                    @if (@Model.AdminMenu.MenuId > 0)
                    {

                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label>Is Active :</label>
                        </div>
                        <div class="col-md-4">
                            <input class="isActiveChk" type="checkbox" name="IsActive" value="@Model.AdminMenu.IsActive.ToString()">
                        </div>
                        <div class="col-md-3"></div>
                        <div class="clearfix">

                        </div>
                    }
                    <div class="col-md-3"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-default btnSubmit" style="float: right" id="per">
                            @if (Model.AdminMenu.MenuId > 0)
                            {
                                <text> Update </text>
                            }
                            else
                            {
                                <text> Add </text>
                            }
                        </button>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div class="clearfix">

</div>

@if (Model != null && Model.MenuList.Count > 0)
{
    <hr />
    <div class="clearfix">

    </div>
    <div>
        @helper GetMenuNameById(int? menuId)
{

    if (menuId != null && menuId > 0)
    {
        var menu = Model.MenuList.FirstOrDefault(x => x.MenuId == menuId);
        if (menu != null)
        {
            <text> @menu.MenuName</text>
        }
    }
    else
    {
        <text>-</text>;
    }

}
        @Html.Grid(Model.MenuList.OrderBy(x => x.MenuName)).Columns(columns =>
            {
                columns.Add(C => C.MenuName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Menu Name").SetWidth(50);
                columns.Add(C => C.MenuLink).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Menu Link").SetWidth(50);
                columns.Add(C => C.ParentMenuId).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).RenderValueAs(x => GetMenuNameById(x.ParentMenuId)).Titled("Parent Menu").SetWidth(50);
                columns.Add(C => C.DataTokenName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Data Token").SetWidth(50);

                columns.Add(C => C.IsActive).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Active").SetWidth(10);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/admin-menu/manage/@o.MenuId/">Edit </a>);
            }).WithPaging(50)


    </div>
}



<script type="text/javascript">

    $(document).ready(function () {


        //var chkIsmain = $("#adminMenuForm .isMainMenu");


        if ($("#adminMenuForm .isMainMenu").val().toLowerCase() == "true") {
            $("#adminMenuForm .isMainMenu").prop('checked', true);
            $("#ParentMenuId").val("");
            $("#ParentMenuDrp").attr("disabled", "true");
        }

        if ($(".menuType").val() != null && $(".menuType").val() != "") {
            $(".menuTypeDrp").val($(".menuType").val());
        }

        //var chkIsActiveVal = $("form.#adminMenuForm .isActiveChk");

        if ($("#MenuId").val() !== '0') {

            if ($("#adminMenuForm .isActiveChk").val().toLowerCase() == "true") {
                $("#adminMenuForm .isActiveChk").prop('checked', true);
            }

        }
        $("input[type='checkbox']").change(function () {
            $(this).val($(this).prop("checked"));

            if ($(this).attr("name").toLowerCase() == "ismainmenu") {

                if ($(this).prop("checked")) {
                    $("#ParentMenuId").val("");
                    $("#ParentMenuDrp").attr("disabled", "true");
                } else {
                    $("#ParentMenuId").val("");
                    $("#ParentMenuDrp").removeAttr("disabled");
                    $("#ParentMenuDrp").change();
                }
            }

        });

        var addMsg = $("#addMsg").val();

        if (addMsg == "True") {
            showNotification("Record added successfully.");
        } else if (addMsg == "False") {
            showNotification("Error while adding.");
        }

        var updateMsg = $("#editMsg").val();
        if (updateMsg == "True") {
            showNotification("Record updated successfully.");
        } else if (updateMsg == "False") {
            showNotification("Error while updating.");
        }


    
    });
</script>