﻿@using GridMvc.Html
@model OneSourceAdminCore.Model.AdminMenuModel
@{
    ViewBag.Title = "Role Menu Settings";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<input type="hidden" id="addMsg" value="@(TempData["addMsg"] != null ? TempData["addMsg"].ToString() : "")" />
<input type="hidden" id="updateMsg" value="@(TempData["editMsg"] != null ? TempData["editMsg"].ToString() : "")" />
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Role Menu Settings</b>
    </div>
    <div class="col-md-3" style=";padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">

    </div>
</div>



@using (Html.BeginForm("AddUpdateMenu", "AdminMenuSetup", FormMethod.Post, new { @id = "adminMenuForm" }))
{
    <div class="os-admin-tabs cards">
        <div class="col-md-12 tab-content">
            <h1>Role Menu Settings</h1>
            <hr />

            <div>
                <div class="col-md-12">

                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>User Group :</label>
                    </div>
                    <div class="col-md-4">
                        <input type="hidden" name="name1" value="@ViewBag.currentRoleId" id="currentUserGroup" />

                        @Html.DropDownList("UserGroupList", new SelectList(Model.UserGroupList,
             "Key", "Value"), "Select",
                            new { @class = "form-control" })
                    </div>
                    <div class="col-md-3"></div>
                    <div class="clearfix">

                    </div>

                </div>

            </div>
        </div>
    </div>
}

<div class="clearfix">

</div>

@if (Model != null && Model.RoleMenuList != null && Model.RoleMenuList.Count > 0)
{

    @helper RenderCheckBox(int menuId, bool value, string checkBoxName, int userGroupId)
{

    <input class="roleAccessChk" data-chktype="@checkBoxName" data-usergrp="@userGroupId" data-menuid="@menuId" value="@value" @(value == true ? "checked" : "") type="checkbox">

}

    <hr />
    <div class="clearfix">

    </div>
    <div id="roleMenuGrid">
        @if (Model.RoleMenuList.Any(x => !x.ViewOnlyAccess))
        {
            <div>
                <a id="selectAllLink" style="color: blue; text-decoration: underline; float: right; font-size: 14px; margin-right: 20px;" data-action="true">
                    Select All
                </a>
            </div>
        }
        else
        {
            <div>
                <a id="selectAllLink" style="color: blue; text-decoration: underline; float: right; font-size: 14px; margin-right: 20px;" data-action="false">
                    Unselect All
                </a>
            </div>

        }


        @Html.Grid(Model.RoleMenuList.OrderByDescending(x => x.ViewOnlyAccess).ThenByDescending(x => x.AddEditAccess)).Columns(columns =>
        {
            columns.Add(C => C.UserGroupName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("User Group Name").SetWidth(150);
            columns.Add(C => C.MenuName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Menu Name").SetWidth(50);
            columns.Add(C => C.ParentMenu).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Parent Menu").SetWidth(50);
            columns.Add(C => C.ViewOnlyAccess).Encoded(false).Sanitized(false).Sortable(true).Filterable(false).RenderValueAs(p => RenderCheckBox(p.MenuId, p.ViewOnlyAccess, "viewAccessChk", p.UserGroupId)).Titled("View Access").SetWidth(20);
            columns.Add(C => C.AddEditAccess).Encoded(false).Sanitized(false).Sortable(true).Filterable(false).RenderValueAs(p => RenderCheckBox(p.MenuId, p.AddEditAccess, "AddEditAccess", p.UserGroupId)).Titled("Add/Edit Access").SetWidth(20);

        }).WithPaging(50)


    </div>
}



<script type="text/javascript">

    $(document).ready(function () {

        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".admin-menu-setup").addClass("active");

        if ($("#currentUserGroup").val() != "0") {
            $("#UserGroupList").val($("#currentUserGroup").val());
        }
        //var chkIsmain = $("#adminMenuForm .isMainMenu");

        $("#UserGroupList").change(function () {
            if ($(this).val() !== "") {
                showHideLoader(1);
                window.location.href = '/admin-menu/role-mapping/' + $(this).val();

            }
        });


        ///CHange user access
        $('#roleMenuGrid .roleAccessChk').change(function (e) {

            showHideLoader(1);
            var currentChkValue = this.checked;

            var chkType = $(this).data("chktype");
            var menuId = $(this).data("menuid");
            var usrGroup = $(this).data("usergrp");
            var data = {
                menuId: menuId,
                roleId: usrGroup,
                accessType: chkType,
                accessValue: currentChkValue
            };

            $.ajax({
                url: '/AdminMenuSetup/AddEditRoleMenuSettings',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                    if (data == true) {
                        showNotification("Record updated successfully.");
                    } else if (data == false) {
                        showNotification("Error while processing.");
                    }
                    showHideLoader(0);
                }
            });
        });

        $('#roleMenuGrid #selectAllLink').click(function (e) {
           
            showHideLoader(1);
            var item = [];
            var currenctActionVal = $(this).data("action");
            $('#roleMenuGrid input[data-chktype="viewAccessChk"]').each(function () {

                var data = {
                    MenuId: $(this).data("menuid"),
                    RoleId: $(this).data("usergrp"),
                    SelectAll: currenctActionVal
                };
                item.push(data);
            });


            $.ajax({
                url: '/AdminMenuSetup/UpdateAllRoleMenu',
                type: 'POST',
                data: JSON.stringify({ items: item }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == true) { 
                        showNotification("Records updated successfully.");
         
                    } else if (data == false) {
                        showNotification("Error while processing.");
                    }
                    showHideLoader(0);
                },complete:function() {
                    location.reload();
                }
            });
        });

    });
</script>