﻿@using GridMvc.Html
@model OneSourceAdminCore.Model.AdminMenuModel
@{
    ViewBag.Title = "User Menu Settings";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<input type="hidden" id="addMsg" value="@(TempData["addMsg"] != null ? TempData["addMsg"].ToString() : "")" />
<input type="hidden" id="updateMsg" value="@(TempData["editMsg"] != null ? TempData["editMsg"].ToString() : "")" />
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Role Menu Settings</b>
    </div>
    <div class="col-md-3" style=";padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">

    </div>
</div>

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>User Menu Settings</h1>
        <hr />
        <div>
            <div class="col-md-12">

                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <label>User Group Type :</label>
                </div>
                <div class="col-md-4">
                    <input type="hidden" name="name1" value="@ViewBag.typeName" id="currentGrpType" />

                    @Html.DropDownList("grpTypeDrp", new SelectList(Model.UserGroupType,
             "Key", "Value"), "Select",
                            new { @class = "form-control" })
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix">

                </div>

                @if (!string.IsNullOrWhiteSpace(@ViewBag.typeName) && @ViewBag.typeName != "null")
                {

                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <label>User Security Level :</label>
                </div>
                <div class="col-md-4">
                    <input type="hidden" name="name1" value="@ViewBag.roleId" id="userGroup" />

                    @Html.DropDownList("userGrpDrp", new SelectList(Model.UserGroupList,
             "Key", "Value"), "Select",
                            new { @class = "form-control" })
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix">

                </div>


                <div class="col-md-3"></div>
                <div class="col-md-2">

                    <label>
                        @if (@ViewBag.typeName == "sfa")
                            {
                            <text>Suppliers : </text>

                            }
                        @if (@ViewBag.typeName == "manufacturer")
                            {
                            <text>Manufacturers : </text>
                            }
                        @if (@ViewBag.typeName == "isd" || @ViewBag.typeName == "subisd")
                            {
                            <text>Prime Contractors : </text>
                            }

                    </label>
                </div>
                <div class="col-md-4" style="margin-bottom: 15px;">
                    <input type="hidden" name="name1" value="@ViewBag.typeId" id="entityTypeId" />

                    @Html.DropDownList("entityTypeDrp", new SelectList(Model.EntityTypeList,
             "Key", "Value"),
                            new { @class = "forSelect2" })
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix">

                </div>




                    if (Model.EntityUsersList != null && Model.EntityUsersList.Count > 0)
                    {

                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <label>Users :</label>
                </div>
                <div class="col-md-4" style="margin-bottom: 15px">
                    <input type="hidden" name="name1" value="@ViewBag.userId" id="userId" />

                    @Html.DropDownList("usersDrp", new SelectList(Model.EntityUsersList,
             "Key", "Value"),
                             new { @class = "forSelect2" })
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix">

                </div>



                <div class="col-md-3"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default blueBtn" style="float: right" id="getMenuBtn"> Go </button>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix">

                </div>
                    }
                }


            </div>

        </div>
    </div>
</div>


<div class="clearfix">

</div>



@if (Model != null && Model.RoleMenuList != null && @ViewBag.userID > 0)
{
    @*<input type="hidden" id="currentUserId" value="@ViewBag.CurrentUserId" />
        <input type="hidden" id="currentRoleId" value="@ViewBag.CurrentRoleId" />
        <input type="hidden" id="currentGrpType" value="@ViewBag.CurrentGrpType" />
        <input type="hidden" id="currentEntityTypeId" value="@ViewBag.CurrentEntityTypeId" />*@

    @helper RenderCheckBox(int menuId, bool value, int userGroupId)
{

    <input class="userRestrictionChk" data-userid="@ViewBag.userId" data-grptype="@ViewBag.typeName" data-entitytypeid="@ViewBag.typeId" data-usergrp="@ViewBag.roleId" data-menuid="@menuId" value="@value" @(value == true ? "checked" : "") type="checkbox">

}

    <hr />
    <div class="clearfix">

    </div>
    <div id="roleMenuGrid">
        @if (Model.RoleMenuList != null && Model.RoleMenuList.Count > 0)
        {
            if (Model.RoleMenuList.Any(x => !x.ViewOnlyAccess))
             {
                 <div>
                     <a id="selectAllLink" style="color: blue; text-decoration: underline; float: right; font-size: 14px; margin-right: 20px;" data-action="true">
                         Select All
                     </a>
                 </div>
             }
             else
             {
                 <div>
                     <a id="selectAllLink" style="color: blue; text-decoration: underline; float: right; font-size: 14px; margin-right: 20px;" data-action="false">
                         Unselect All
                     </a>
                 </div>

             }
        }
        @Html.Grid(Model.RoleMenuList.OrderByDescending(x => x.ViewOnlyAccess).ThenByDescending(x => x.AddEditAccess)).Columns(columns =>
        {

            columns.Add(C => C.MenuName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Menu Name").SetWidth(50);
            columns.Add(C => C.ParentMenu).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Parent Menu").SetWidth(50);
            columns.Add(C => C.ViewOnlyAccess).Encoded(false).Sanitized(false).Sortable(true).Filterable(false).RenderValueAs(p => RenderCheckBox(p.MenuId, p.ViewOnlyAccess, p.UserGroupId)).Titled("Accessible").SetWidth(20);
        }).WithPaging(50)


    </div>
}



<script type="text/javascript">

    $(document).ready(function () {


        $(".forSelect2").select2(
       {
           allowClear: true
       });

        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".user-menu-setup").addClass("active");

        if ($("#currentGrpType").val() != null && $("#currentGrpType").val() != "null") {
            $("#grpTypeDrp").val($("#currentGrpType").val());
        }
        if ($("#entityTypeId").val() != null && $("#entityTypeId").val() != "") {

            $("#entityTypeDrp").select2().val($("#entityTypeId").val()).trigger("change");;
        }
        if ($("#userId").val() != null && $("#userId").val() != "") {

            $("#usersDrp").select2().val($("#userId").val()).trigger("change");;
        }
        if ($("#userGroup").val() != null && $("#userGroup").val() != "") {
            $("#userGrpDrp").val($("#userGroup").val());
        }
        //var chkIsmain = $("#adminMenuForm .isMainMenu");

        $("#grpTypeDrp").change(function () {
            var thisVal = 'null';
            if ($(this).val() != null && $(this).val() != "") {
                thisVal = $(this).val();
            }
            showHideLoader(1);
            window.location.href = '/admin-menu/customer-user-menu/' + thisVal;

        });

        $("#entityTypeDrp").change(function () {

            var grpTypeName = $("#grpTypeDrp").val();
            var userGrpName = $("#userGrpDrp").val();
            var entityTypeId = $("#entityTypeDrp").val();

            if (grpTypeName == '') {
                alert("Please select user group type!");
                return;
            }
            if (entityTypeId == '' || entityTypeId == null) {
                alert("Please select entity type!");
                return;
            }

            if (userGrpName == '' || userGrpName == null) {
                alert("Please select user security level!");
                return;
            }
            showHideLoader(1);
            window.location.href = '/admin-menu/customer-user-menu/' + grpTypeName + '/' + userGrpName + '/' + entityTypeId;

        });


        $("#userGrpDrp").change(function () {

            var grpTypeName = $("#grpTypeDrp").val();
            var userGrpName = $("#userGrpDrp").val();
            var entityTypeId = $("#entityTypeDrp").val();

            if (grpTypeName == '') {
                alert("Please select user group type!");
                return;
            }
            if (entityTypeId == '' || entityTypeId == null) {
                alert("Please select entity type!");
                return;
            }

            if (userGrpName == '' || userGrpName == null) {
                alert("Please select user security level!");
                return;
            }
            showHideLoader(1);
            window.location.href = '/admin-menu/customer-user-menu/' + grpTypeName + '/' + userGrpName + '/' + entityTypeId;

        });

        $("#getMenuBtn").click(function () {

            var grpTypeName = $("#grpTypeDrp").val();
            var userGrpName = $("#userGrpDrp").val();
            var entityTypeId = $("#entityTypeDrp").val();
            var userId = $("#usersDrp").val();
            if (grpTypeName == '') {
                alert("Please select user group type!");
                return;
            }
            if (entityTypeId == '' || entityTypeId == null) {
                alert("Please select entity type!");
                return;
            }

            if (userGrpName == '' || userGrpName == null) {
                alert("Please select user security level!");
                return;
            }


            if (userId == '' || userId == null) {
                alert("Please select user!");
                return;
            }

            showHideLoader(1);
            window.location.href = '/admin-menu/customer-user-menu/' + grpTypeName + '/' + userGrpName + '/' + entityTypeId + '/' + userId;

        });


        ///CHange user access
        $('#roleMenuGrid .userRestrictionChk').change(function (e) {

            showHideLoader(1);

            var currentChkValue = this.checked;
            var menuId = $(this).data("menuid");
            var grpTypeName = $(this).data("grptype");
            var userGrpId = $(this).data("usergrp");
            var entityTypeId = $(this).data("entitytypeid");
            var userId = $(this).data("userid");

            var data = {
                menuId: menuId,
                roleId: userGrpId,
                userId: userId,
                accessiable: currentChkValue,
                userType: grpTypeName,
                entityTypeId: entityTypeId
            };

            $.ajax({
                url: '/AdminMenuSetup/RestrictAdminMenuByUser',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                    if (data == true) {
                        showNotification("Record updated successfully.");
                    } else if (data == false) {
                        showNotification("Error while processing.");
                    }
                    showHideLoader(0);
                }
            });


        });


        $('#roleMenuGrid #selectAllLink').click(function (e) {


            var item = [];
            var currenctActionVal = $(this).data("action");

            $('#roleMenuGrid input[class="userRestrictionChk"]').each(function () {

                var data = {
                    MenuId: $(this).data("menuid"),
                    RoleId: $(this).data("usergrp"),
                    EntityTypeId: $(this).data("entitytypeid"),
                    UserType: $(this).data("grptype"),
                    Accessiable: currenctActionVal,
                    UserId: $(this).data("userid")
                };
                item.push(data);
            });
            if (item.length > 0) {
                showHideLoader(1);

                $.ajax({
                    url: '/AdminMenuSetup/RestrictAllAdminMenuByUser',
                    type: 'POST',
                    data: JSON.stringify({ items: item }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data == true) {
                            showNotification("Records updated successfully.");

                        } else if (data == false) {
                            showNotification("Error while processing.");
                        }
                        showHideLoader(0);
                    }, complete: function () {
                        location.reload();
                    }
                });
            }
        });

    });
</script>