﻿
@model OneSourceAdminCore.Model.AssetListModel
@{
    ViewBag.Title = "Asset List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script>

    $(function () {

        var data = '@Model.LstAsset';
        if (data.length == 0) {
            StartLoader();
            window.location.href = "/search-asset";
        }
    })

</script>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-6" style="padding:10px; color:#FFF;"><b> Search > Asset </b></div>
   
    <div class="col-md-6" style="margin-top: 5px">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float:right !important">
    </div>
</div>
<div class="clearfix"></div>
<div id="snackbar" class="alert alert-success"></div>
<div id="errmsg" class="alert alert-warning"></div>

<div class="row" style="margin-top:40px">
    <div class="col-md-1" style="margin-top: 5px;padding-right: 0px;"><label>Record Size:</label></div>
    <div class="col-md-2">
        @if (ViewBag.TotalCount != null)
        {
            int totalcount = ViewBag.TotalCount;

            <select class="form-control ddlTotalrecord">
                @if (totalcount <= 500)
                {
                    <option value="500">500</option>
                }
                else if (totalcount <= 1000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                }
                else if (totalcount <= 2000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                }
                else if (totalcount <= 5000 || totalcount >= 5000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                }
                @*else if (totalcount <= 10000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                }
                else if (totalcount <= 20000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                }
                else if (totalcount <= 50000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                    <option value="50000">50000</option>
                }
                else if (totalcount > 50000)
                {
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                    <option value="20000">20000</option>
                    <option value="50000">50000</option>
                    <option value="50001">50000+ </option>
                }*@
            </select>
        }
    </div>
    @if (Session["ParentCompanyName"] != null)
    {
        var companyName = Session["ParentCompanyName"].ToString();

        if (companyName == "Customer Demo" || companyName == "Mars")
        {
            <div class="col-md-1" style="margin-top: 5px;"><label>Click to:</label></div>
            <div class="col-md-4" style="margin-top: 5px;"><span><a data-toggle="modal" data-target="#UpdateAsset" style="color: #999; text-decoration: underline;">Update Asset Details</a></span> | <span><a href="/Template/Asset-Template.xlsx" style="color: #999; text-decoration: underline;">Download Asset Template</a></span></div>
        }
        else
        {
            <div class="col-md-1" style="margin-top: 5px;"></div>
            <div class="col-md-4" style="margin-top: 5px;"></div>
        }
    }
    else
    {
        <div class="col-md-1" style="margin-top: 5px;"></div>
        <div class="col-md-4" style="margin-top: 5px;"></div>
    }
    <div class="col-md-1" style="margin-top: 5px;"><label>Page Size:</label></div>
    <div class="col-md-2">
        @if (ViewBag.TotalCount != null)
        {
            int requiredRecord = ViewBag.RequiredRecord;

            <select class="form-control ddlPageSize">
                @if (requiredRecord == 500)
                {
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                }
                else if (requiredRecord > 500)
                {
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                }

            </select>
        }
    </div>

</div>


@using GridMvc.Html
@if (Model.LstAsset != null && Model.LstAsset.Count > 0)
{

    <div class="" style="margin-top: 10px;">
        @Html.Grid(Model.LstAsset).Columns(columns =>
   {
   columns.Add(C => C.manufacturer).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("MFG").SetWidth(50);
   columns.Add(C => C.assettypeid).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Part#").SetWidth(50);
   columns.Add(C => C.partcategoryname).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Category").SetWidth(50);

   columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(100).Titled("Description").
      RenderValueAs(o => @<a style="color: blue" onclick="AssetDetail(@o.assetid)">@o.description </a>);

        columns.Add(C => C.condensedaddress).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Location").SetWidth(100);
        columns.Add(C => C.countryname).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Country").SetWidth(50);
        columns.Add(C => C.serialnum).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Serial No").SetWidth(50);
        columns.Add(C => C.assettagnum).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Asset Tag").SetWidth(50);
    }).WithPaging(ViewBag.PageSize)
    </div>


}

<div class="modal fade" id="UpdateAsset" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Update Asset Details Template<span id="divId"></span></h4>
            </div>
            <div class="modal-body text-center">
                <div class="table-responsive">
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input id="fileAssetDetail" class="btn btn-default nextone" type="file">
                                </span>
                            </span>
                            <input type="text" class="form-control fileUploadTxtBox" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input id="btnUploadAssetDetail" type="button" class="btn btn-default pernew" style="margin-left: -58px;" value="Upload Items" />
                    </div>
                    <div class="col-md-4" id="text"><span><a href="/Template/Asset-Template.xlsx" style="color: #999; text-decoration: underline;">Download Asset Template</a></span></div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="alert alert-warning">Note: Make sure to upload a valid excel file with provided columns in template.</div>
                    <div class="clearfix"></div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>


    function AssetDetail(assetId) {
        StartLoader();
        window.location.href = "/asset-detail/" + assetId;
    }   
    $(function () {
        $('.ddlTotalrecord').val(@ViewBag.RequiredRecord);
        $('.ddlPageSize').val(@ViewBag.PageSize);
    });
    $('#backToSearch').click(function () {
        StartLoader();
        window.location.href = "/search-asset";
    });
    $('.ddlTotalrecord').change(function () {
        StartLoader();
        if (parseInt($(this).val()) < parseInt($('.ddlPageSize').val())) {
            $('.ddlPageSize').val("50");
        }
        window.location.href = "/searched-asset-list/" + ($(this).val() == null ? "500" : $(this).val()) + "/" + ($('.ddlPageSize').val() == null ? "50" : $('.ddlPageSize').val());

    });
    $('.ddlPageSize').change(function () {
        StartLoader();
        window.location.href = "/searched-asset-list/" + ($('.ddlTotalrecord').val() == null ? "500" : $('.ddlTotalrecord').val()) + "/" + ($(this).val() == null ? "50" : $(this).val());
    });

    //sunny gohar on 16th Jan 2018 =============== updating asset details =====================================
    $('#fileAssetDetail').on('change', function () {
        $('.fileUploadTxtBox').val($(this).val());
    });

    // making request to the server for uploading quote requested File
    $('#btnUploadAssetDetail').click(function () {

        if (document.getElementById('fileAssetDetail').files.length > 0) {

            var file = document.getElementById('fileAssetDetail').files[0];
            var fd = new FormData();
            fd.append("file", file);

            var isvalid = IsValidFile(['xls', 'xlsx'], file);

            if (isvalid) {
                StartLoader();
                $.ajax({
                    url: "/AssetSearch/UploadAssetDetail",
                    type: "POST",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        EndLoader();
                        if (data != null && data != "") {
                            if (data.count > 0) {
                                if (data.count == 1) {
                                    ShowSuccessMsg(data.count + " record updated!");
                                }
                                else
                                {
                                    ShowSuccessMsg(data.count + " records updated!");
                                }
                            }
                            else
                            {
                                ShowErrorMsg("Invalid file or data, please download the template and fill the data to import!");
                            }

                            if (data.errorList.length > 0) {
                                var message = "<h3>Following Error(s) Found In Excel File:</h3>";
                                data.errorList.forEach(function (msg) {
                                    message += "<h4>"+msg+"</h4>";
                                });
                                ShowErrorMsg(message);
                            }

                        } else {
                            ShowErrorMsg("Invalid file or data, please download the template and fill the data to import!");
                        }
                        $(".fileUploadTxtBox").val("");
                        document.getElementById('fileAssetDetail').value = null;
                        $('#UpdateAsset').modal('toggle');
                    }
                });
            } else {
                ShowErrorMsg('Please upload valid excel file');
                $(".fileUploadTxtBox").val("");
                document.getElementById('fileAssetDetail').value = null;
            }


        } else {
            $(".fileUploadTxtBox").val("");
            alert('Please upload valid excel file');
        }


    });

    function IsValidFile(validExtensions, file) {

        var isValidExtension = false;
        var isValidFileSize = false;

        var fileSize = file.size;

        if (fileSize < 10485760) {
            isValidFileSize = true;
        }
        else
            alert('Your file is too large. Please try again. Maximum allowed size is 10MB');


        var fileName = file.name;
        var ext = fileName.split('.').pop();
        var index = $.inArray(ext.toLowerCase(), validExtensions);

        if (index != -1) {
            isValidExtension = true;
        }
        else
            alert("Invalid file. Allowed Extensions are doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt, png");

        if (isValidExtension && isValidFileSize) {

            return true;
        }
        else
            return false;
    }


    function ShowErrorMsg(msg) {
        var x = document.getElementById("errmsg")
        // Add the "show" class to DIV
        x.className = "show";
        $("#errmsg").html(msg);
        // After 3 seconds, remove the show class from DIV
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
        setTimeout(function () { window.location.reload(); }, 5000);

    }
    function ShowSuccessMsg(msg) {
        var x = document.getElementById("snackbar")

        // Add the "show" class to DIV
        x.className = "show";
        $("#snackbar").html(msg);
        // After 3 seconds, remove the show class from DIV
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 2500);
        setTimeout(function () { window.location.reload(); }, 3500);
    }



    //=================================================================================================
</script>

