﻿@model OneSourceAdminCore.Model.AssetSearchModel
@{
    ViewBag.Title = "Asset Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Asset </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>
@using (Html.BeginForm("AssetSearchRequest", "AssetSearch", FormMethod.Post, new { @id = "AssetSearchForm" }))
{
    <div class="os-admin-companies">
        <!-- Tab panes -->
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="col-md-4">
                <label>Serial Number:</label>
            </div>
            <div class="col-md-8 order-tracking-input">
                <input type="text" name="SerialNumber" maxlength="50" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Customer:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
          "parentcompanyid", "parentcompanyname"),
              new { @id = "CustomerId" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Location:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("LocationId", new SelectList(Model.Locations,
          "customeraddressid", "customeraddressname"),
              new { @id = "LocationId" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Manufacturer(s):</label>
            </div>
            <div class="col-md-8">
                <input type="hidden" name="StrManufacturers" id="StrManufacturers">
                @Html.DropDownList("ManufacturerId", new SelectList(Model.Manufacturers,
          "manufacturerid", "manufacturername"),
              new { @id = "ManufacturerId", @multiselectidfor = "StrManufacturers", @class = "form-control", @multiple = "multiple" })

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <label>Asset Tag:</label>
            </div>
            <div class="col-md-8 order-tracking-input">
                <input type="text" name="AssetTag" maxlength="50" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Part #:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="PartNumber" maxlength="100" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Status:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("StatusId", new SelectList(Model.Statuses,
          "Key", "Value"),
              new { @id = "StatusId" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Category:</label>
            </div>
            <div class="col-md-8">
                <input type="hidden" name="StrCategories" id="StrCategories">
                @Html.DropDownList("CategoryId", new SelectList(Model.Categories,
          "customerpartcategoryid", "partcategoryname"),
              new { @id = "CategoryId", @multiselectidfor = "StrCategories", @class = "form-control", @multiple = "multiple" })


            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-default resetcontrol" style="float:right; margin-left:20PX; " id="per">Reset</button>
                        <a href="#">
                            <button id="btnSearchOrder" type="submit" class="btn btn-default" style="float:right;  margin-left:20PX;" id="per" onclick="">Search</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}
<script>
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
    });
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        $('.select2-container').parent().css("margin-bottom", "15px");

    });
    $('#AssetSearchForm').submit(function () {
        StartLoader();
    });

    $('.resetcontrol').click(function () {
        $('input:text').val("");
        $('.select2-container').select2('val', '0');
        $('select[multiple="multiple"]').val("");
        $('#StrManufacturers').val("");
        $('#StrCategories').val("");
    });

    $('#CustomerId').change(function () {
        StartLoader();
        window.location.href = "/search-asset/"+$(this).val();
    });
</script>