﻿@model OneSourceAdminCore.Model.AssetDetailModel
@{
    ViewBag.Title = "Asset Detail";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Asset > Asset Detail </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important">
    </div>
</div>



<div class="os-admin-tabs cards">
    @if (Model.AssetDetail != null)
    {
        <ul class="nav nav-tabs" role="tablist" style="margin-top: 25px;">
            <input type="hidden" id="currentTabId" value="@(Session["currentTabId"])" />
            <li role="presentation" class="active"><a href="#asset-detail" aria-controls="home" role="tab" data-toggle="tab">Asset Details</a></li>
            <li role="presentation"><a href="#asset-history" onclick="GetView('AssetHistory')" aria-controls="asset-history" role="tab" data-toggle="tab">History</a></li>
            <li role="presentation"><a href="#asset-attachment" onclick="GetView('AssetAttachment')" aria-controls="asset-attachment" role="tab" data-toggle="tab">Attachments</a></li>
        </ul>
    <!-- Tab panes -->
        <div class="col-md-12 tab-content">
            <div role="tabpanel" class="tab-pane active" id="asset-detail">
                @* <input type="hidden" id="AssetId" value="@Model.AssetId">*@
                <input type="hidden" id="hDateFormatId" value="@Session["DateFormatID"].ToString()">

                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    @Html.Partial("~/Views/AssetSearch/ISD/_AssetDetail.cshtml", Model)
                }
                else
                {

                    @Html.Partial("~/Views/AssetSearch/SFA/_AssetDetail.cshtml", Model)

                }


            </div>
            <div role="tabpanel" class="tab-pane" id="asset-history">
            </div>
            <div role="tabpanel" class="tab-pane" id="asset-attachment">
            </div>
            <div role="tabpanel" class="tab-pane" id="asset-email">
            </div>
        </div>
        <div class="clearfix"></div>
    }
    else
    {
        <div role="tabpanel" class="tab-pane active" id="asset-detail">
            <div class="col-md-12 back-btn" style="margin-top: 25px;">
                <h4 style="color:red">No Record Found.</h4>
            </div>
        </div>
    }
</div>
<script>
    $(window).load(function () {
        ActivateTabFromUrlOrSession();
    });
    $(function () {

        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        HtmlActions();
    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });
    function GetView(viewName) {
        if (viewName == 'AssetHistory') {

            var data = {
                assetId: $('#AssetId').val()
            };

            showHideLoader(1);
            $.ajax({
                url: '/AssetSearch/GetAssetHistory',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#asset-history').html(data);
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else if (viewName == 'AssetAttachment') {

            var data = {
                assetId: $('#AssetId').val()
            };

            showHideLoader(1);
            $.ajax({
                url: '/AssetSearch/GetAssetAttachment',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#asset-attachment').html(data);
                        HtmlActionsForAttachment();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

    }
    function HtmlActions() {
        $('.date-picker').datepicker({
            autoclose: true
        });
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('.select2-container').parent().css("margin-bottom", "15px");
    }
    $('#backToSearch').click(function () {
        window.location.href = "/searched-asset-list";
    });
    function HtmlActionsForAttachment() {

        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
            $('#headerMsg').text("");
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $('input[type="file"]').change(function () {


            if ($(this).get(0).files.length > 0) {

                for (var i = 0; i < $(this).get(0).files.length; i++) {

                    var name = $(this).get(0).files[i].name;
                    name = name.substring(0, name.lastIndexOf('.'));

                    if (name.length > 100) {
                        alert('File name is too long, File name must have 100 or less characters');
                        $(this).val('');
                        return false;
                    }

                }


            }
        });

    }
</script>