﻿@model OneSourceAdminCore.Model.CompanyModel
<!-- Nav tabs -->
<div class="alert alert-warning">
    Click on Add/Update button to save changes before switching tabs.
</div>
<ul class="nav nav-tabs" role="tablist">

    <input type="hidden" id="currentTabId" value="@(Session["currentTabId"])" />
    <li role="presentation" class="active"><a href="#companyInfo" aria-controls="home" role="tab" data-toggle="tab" onclick="TabRequest(this)">Company Info</a></li>
    <li role="presentation"><a href="#mfg-info" aria-controls="mfginfo" role="tab" data-toggle="tab" onclick="TabRequest(this)">Mfg Info</a></li>
    <li role="presentation"><a href="#mfg-addr" aria-controls="profile" role="tab" data-toggle="tab" onclick="TabRequest(this)">Addresses</a></li>
    <li role="presentation"><a href="#mfg-users" aria-controls="messages" role="tab" data-toggle="tab" onclick="TabRequest(this)">Users</a></li>
    <li role="presentation"><a href="#mfg-tbu-duties" aria-controls="messages" role="tab" data-toggle="tab" onclick="TabRequest(this)">TBU & Duties</a></li>
    <li role="presentation"><a href="#mfg-exchange-rates" aria-controls="messages" role="tab" data-toggle="tab" onclick="TabRequest(this)">Exchange Rate</a></li>
    <li role="presentation"><a href="#mfg-contacts" aria-controls="messages" role="tab" data-toggle="tab" onclick="TabRequest(this)">Contacts</a></li>
</ul>
<div class="col-md-12 tab-content manfTabs">
   
    @Html.Partial("_CompanyInfo", Model)

    @Html.Partial("~/Views/Company/Manufacturer/_manufacturerInfo.cshtml", Model.CompanyRoleModel.CompanyManufacturerModel.MfgInfo)

    @Html.Partial("~/Views/Company/Manufacturer/_manufacturerAddress.cshtml", Model.CompanyRoleModel.CompanyManufacturerModel.MfgAddress)

    @Html.Partial("~/Views/Company/Manufacturer/_manufacturerTBUandDuties.cshtml", Model.CompanyRoleModel.CompanyManufacturerModel.MfgAddress.Countries)

    @Html.Partial("~/Views/Company/Manufacturer/_manufacturerUsers.cshtml", Model.CompanyRoleModel.CompanyManufacturerModel.mfgUsers)

    @Html.Partial("~/Views/Company/Manufacturer/_manufacturerExchangeRate.cshtml", Model.CompanyRoleModel.CompanyManufacturerModel.mfgExchangeRate)

    @Html.Partial("~/Views/Company/_ContactList.cshtml", Model.CompanyRoleModel.CompanyManufacturerModel.mfgContacts)
</div>
<div class="clearfix"></div>
<script>

    //$(function () {
    //    $("#CompanyForm").trackChanges();
    //    $("#ManufacturerInfoForm").trackChanges();
    //    $("#TBUDutiesForm").trackChanges();
    //    $("#MFgExchangeRateForm").trackChanges();

    //});


    function TabRequest(tab) {

        $('.os-admin-tabs').find("ul.nav-tabs>li>a").attr("data-toggle='tab'");

       

        if ($("#CompanyForm").isChanged()) {
            if (confirm("Do you want to proceed without saving changes?")) {
                
                resetForm($("#CompanyForm"), "com");
                $("form[name='CompanyForm']").data("changed", false);
                $(tab).attr("data-toggle", "tab");
                //$(tab).tab('show');
                return false;
            }
            else {
                $(tab).removeAttr("data-toggle");
            }
        }

        if ($("#ManufacturerInfoForm").isChanged()) {
            if (confirm("Do you want to proceed without saving changes?")) {
               
                resetForm($("#ManufacturerInfoForm"), "info");
                $("form[name='ManufacturerInfoForm']").data("changed", false);
                $(tab).attr("data-toggle", "tab");
                //$(tab).tab('show');
                return false;
            }
            else {
                $(tab).removeAttr("data-toggle");
            }
        }
        if ($("#TBUDutiesForm").isChanged()) {
            if (confirm("Do you want to proceed without saving changes?")) {
               
                resetForm($("#TBUDutiesForm"), "tbu");
                $("form[name='TBUDutiesForm']").data("changed", false);
                $(tab).attr("data-toggle", "tab");
                return false;
            }
            else {
                $(tab).removeAttr("data-toggle");
            }
        }
        if ($("#MFgExchangeRateForm").isChanged()) {
            if (confirm("Do you want to proceed without saving changes?")) {
                
                resetForm($("#MFgExchangeRateForm"), "exc");
                $("form[name='MFgExchangeRateForm']").data("changed", false);
                $(tab).attr("data-toggle", "tab");
                return false;
            }
            else {
                $(tab).removeAttr("data-toggle");
            }
        }

    }
    function resetForm(form, type) {
        $(form).trigger("reset");

     //   if (type == "tbu" || type == 'exc' || type == 'info') {
            $(".manfTabs select").each(function (i, e) {
                if ($(this).attr("multiple") != "multiple") {
                    $(this).select2({ allowClear: true });
                }
            });
     //   }

        if (type == "info") {
            $("#ManufacturerInfoForm").find('input[type="checkbox"]').each(function () {
                $(this).bootstrapToggle($(this).prop("checked") ? "on" : "off");
            });

        }
        if (type == "com") {
            $("#CompanyForm").find('input[type="checkbox"]').each(function () {
                $(this).bootstrapToggle($(this).prop("checked") ? "on" : "off");
            });
        }
    }

</script>
