﻿@model OneSourceAdminCore.Model.CompanyManufacturerInfoModel
<div role="tabpanel" class="tab-pane" id="mfg-info">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "ManufacturerInfoForm", @name= "ManufacturerInfoForm" }))
    {
    <div class="col-md-12 location-tab-one manufacturer-info">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <label>Gives Accreditation:</label>
        </div>
        <div class="col-md-3">
            <input type="hidden" name="ParentCompanyId" id="ParentCompanyId" value="@Model.ParentCompanyId" >
            <input type="hidden" name="GivesAccreditation"  id="GivesAccreditation" value="@(Model.GivesAccreditation == true ? "true" : "false")">
            @if (Model.GivesAccreditation == true)
            {
                <input class="GivesAccreditation" checkboxfor="GivesAccreditation" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
            }
            else
            {
                <input class="GivesAccreditation" checkboxfor="GivesAccreditation" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
            }
        </div>
        <div class="col-md-3">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <label>Date Format:</label>
        </div>
        <div class="col-md-3" style="margin-bottom:15px;">          
            @if (Model.DateFormates.Count > 0)
            {
                @Html.DropDownList("DateFormatId", new SelectList(Model.DateFormates,
                            "Key", "Value", Model.DateFormatId),
                   new { @id = "DateFormatId", @tabindex = "-1" })
            }
            else
            {
                <select class="form-control" multiple>
                    <option>(None)</option>
                </select>
            }
        </div>
        <div class="col-md-3">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <label>Has Exchange Rates:</label>
        </div>
        <div class="col-md-3">
            <input type="hidden" name="HasExchangeRates"  id="HasExchangeRates" value="@(Model.HasExchangeRates == true ? "true" : "false")">
            @if (Model.HasExchangeRates == true)
            {
                <input class="HasExchangeRates" checkboxfor="HasExchangeRates" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
            }
            else
            {
                <input class="HasExchangeRates" checkboxfor="HasExchangeRates" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
            }
        </div>
        <div class="col-md-3">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <label>ExchRate From MFG:</label>
        </div>
        <div class="col-md-3" style="margin-bottom:15px;">
            @if (Model.MfgExchangeRates.Count > 0)
            {
                @Html.DropDownList("ExRateFromMFG", new SelectList(Model.MfgExchangeRates,
                            "Key", "Value", Model.ExRateFromMFG),
                   new { @id = "ExRateFromMFG", @tabindex = "-1" })
            }
            else
            {
                <select class="form-control" multiple>
                    <option>(None)</option>
                </select>
            }
        </div>
        <div class="col-md-3">
        </div>

        <div class="clearfix"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <label>Last Updated:</label>
        </div>
        <div class="col-md-3">
            <p class="LastUpdated">@Model.LastUpdated</p>
        </div>
        <div class="col-md-3">
        </div>
       
        <div class="clearfix"></div>
        <div class="col-md-3">
        </div>

        <div class="col-md-3">
            <label>Updated By:</label>
        </div>
        <div class="col-md-3">
            <p class="UpdatedBy">@Model.UpdatedBy</p>
        </div>
        <div class="col-md-3">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
        </div>

        <div class="col-md-3">          
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-default btnSubmit BtnMfgInfo" id="per" style="float: right;">Update</button>
        </div>
        <div class="col-md-3">
        </div>

    </div>
  
    <div class="col-md-12 update-btn">
       
    </div>
    }
</div>
<script>
    $('.BtnMfgInfo').click(function () {
        showHideLoader(1);
        var data = {
            ExRateFromMFG: $('#ExRateFromMFG').val(),
            GivesAccreditation: $('#GivesAccreditation').val(),
            HasExchangeRates: $('#HasExchangeRates').val(),
            DateFormatID: $('#DateFormatId').val(),
            ParentCompanyId: $('#ParentCompanyId').val()
        }

        $.ajax({
            url: '/Company/UpdateCompanyManufacturerInfo',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                
                if (data != null) {
                    $('.UpdatedBy').text(data.UpdatedBy);
                    $('.LastUpdated').text(getStringDateFromJsonDate(data.LastUpdated,'@DateTime.Now'));

                        showNotification("Record updated successfully.");                   
                } else {
                    showNotification("Error occured.");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    });
</script>