﻿
@model  List<OneSourceAdminCore.Entity.sp_getManufacturerUsers_AdminR_Result>

@using GridMvc.Html


@helper RenderSecurityLevelCheckBox(int userId, int value, string checkBoxId, int currentChkBoxId)
{
if (value == currentChkBoxId)
{
        <input class="@checkBoxId userAccessChk" data-userid="@userId" data-securitylevel="@currentChkBoxId" checked="checked" type="checkbox">
}
else
{
        <input class="@checkBoxId userAccessChk" data-userid="@userId" data-securitylevel="@currentChkBoxId" type="checkbox">
}
}

@helper RenderIsActiveButton(int userId, bool isActive)
{
if (@isActive)
{
        <input class="isActiveListButton" data-userid="@userId" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
}
else
{
        <input class="isActiveListButton" data-userid="@userId" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
}

}

<div role="tabpanel" class="tab-pane" id="mfg-users" style="padding-top:15px !important;">
    <a class="addUser" href="/company/manufacturer-user/4/0">
        <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;margin-bottom: 15px !important;float:right !important">Add New User</button>
    </a>
    <br />
    @if (Model != null && Model.Count > 0)
    {

        <div class="mfguserDiv">
            		
            @Html.Grid(Model.OrderBy(x => x.UserName)).Columns(columns =>
       {
       columns.Add(C => C.UserName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("User Name").SetWidth(150);
       columns.Add().Encoded(false).Sanitized(false).Titled("Limited Access").
           RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "limitedAccessChk", 1)).SetWidth(10);

       columns.Add().Encoded(false).Sanitized(false).Titled("Moderate Access")
           .RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "moderateAccessChk", 2)).SetWidth(10);

       columns.Add().Encoded(false).Sanitized(false).Titled("Full Access").
           RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "fullAccessChk", 3)).SetWidth(10);

       columns.Add().Encoded(false).Sanitized(false).Titled("Active").RenderValueAs(p=>@<span>@(p.IsActive== "Not Active"?"No":"Yes")</span>).SetWidth(150);

       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/company/manufacturer-user/4/@o.UserID" class="userEdit">Edit </a>);
            }).WithPaging(50,2, "user-page")


        </div>
    }

   
</div>

<style>
    #mfg-users .btn-sm {
        margin-bottom: 0px !important;
    }
</style>
<script>
    $('#mfg-users .userAccessChk').change(function (e) {

        if (this.checked) {
            showHideLoader(1);
            var currentChk = $(this);
            var thisRow = $(currentChk).closest("tr");
            var currentSecurityLevel = $(this).data("securitylevel");

            var data = {
                userId: $(this).data("userid"),
                securityLevel: $(this).data("securitylevel")
            };
            $.ajax({
                url: '/company/UpdateUserAccess',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == null) {
                        showNotification("Error while processing.");
                        showHideLoader(0);
                        return false;
                    }
                    if (data == true) {
                        showNotification("Record update successfully.");

                        $(thisRow).find("input.userAccessChk[data-securitylevel!='" + currentSecurityLevel + "']").each(function () {
                            $(this).prop('checked', false);
                        });
                    } else if (data == false) {
                        showNotification("Error while processing.");
                    }
                    showHideLoader(0);
                }
            });
        } else {

            $(this).prop('checked', true);
            return false;
        }

    });
    $(function () {
        StartLoader();
        // $($('.mfguserDiv .pagination a')[0]).attr("href")
        //$('.mfguserDiv .pagination a').each(function (e,t) {
        //    var href = $(t).attr("href");
        //    $(t).attr("href", href + "#mfg-users")
        //});
    });
    $(window).ready(function () {
        EndLoader();
    });
    $('.addUser').click(function () {
        StartLoader();
    });
    $('.userEdit').click(function () {
        StartLoader();
    });
   
</script>