﻿@model List<OneSourceAdminCore.Model.GenericList>
<div role="tabpanel" class="tab-pane" id="mfg-tbu-duties">
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "TBUDutiesForm",@name= "TBUDutiesForm" }))
{
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <label><span style="color:red">*</span> Country:</label>
    </div>
    <div class="col-md-3" style="margin-bottom: 15px;">
       
        @if (Model.Count > 0)
        {
            @Html.DropDownList("CountryId", new SelectList(Model,
                             "Key", "Value"),
                    new { @id = "CountryId", @tabindex = "-1" })
        }
        else
        {
            <select class="form-control">
                <option>(None)</option>
            </select>
        }
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <label><span style="color:red">&nbsp;&nbsp;&nbsp;</span>Trade Block Uplift %:</label>
    </div>
    <div class="col-md-3">
        <input type="text" name="tbu" id="tbu" maxlength="8" class="form-control numericwithdecimal" />
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <label><span style="color:red">&nbsp;&nbsp;&nbsp;</span>Duties %:</label>
    </div>
    <div class="col-md-3">
        <input type="text" name="duties" id="duties" maxlength="8" class="form-control numericwithdecimal" />
    </div>
    <div class="col-md-3"></div>

    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">        
    </div>
    <div class="col-md-3" >
        <button type="button" class="btn btn-default btnSubmit BtnTBUandDuties" id="per" style="float:right">Update</button>
    </div>
    <div class="col-md-3"></div>


    <div class="col-md-12 update-btn1">
        
    </div>
}
</div>
<script>
    $('.BtnTBUandDuties').click(function () {

        if ($('#CountryId').val() == "0") {
            alert("Please provide country");
            return false;
        }
        if ($('#tbu').val() == "" && $('#duties').val() == "") {
            alert("Please provide Duty or Trade Block Uplift");
            return false;
        }

        if (($('#CountryId').val() != "0" && $('#tbu').val() != "" && $('#duties').val() == "") || ($('#CountryId').val() != "0" && $('#tbu').val() == "" && $('#duties').val() != "") || ($('#CountryId').val() != "0" && $('#tbu').val() != "" && $('#duties').val() != ""))
        {
            if ($('#tbu').val() != "") {
                var tbuValue = parseFloat($('#tbu').val());
                if (tbuValue > 99) {
                    alert("Please enter a valid uplift percentage (0-99)");
                    return false;
                }                
            }
            if ($('#duties').val() != "") {
                var duties = parseFloat($('#duties').val());
                if (duties > 99) {
                    alert("Please enter a valid duty percentage (0-99)");
                    return false;
                }
            }
            showHideLoader(1);
            var data = {
                tbu: $('#tbu').val(),
                duties: $('#duties').val(),
                countryId: $('#CountryId').val()
            }

            $.ajax({
                url: '/Company/UpdateTBUandDuties',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                    if (data != "0") {                     
                        showNotification("Record updated successfully.");
                    } else {
                        showNotification("Error while adding.");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });

        }
        else
        {
            alert("Please provide country with atleast Duty or Trade Block Uplift");
        }
    });

    $('#CountryId').change(function () {
        if($(this).val()!="0")
        {
            showHideLoader(1);
            var data = {
                countryId: $('#CountryId').val()
            }

            $.ajax({
                url: '/Company/GetTBUandDuties',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                    if (data != "0") {
                        $('#tbu').val(data.TradeBlockUplift);
                        $('#duties').val(data.Duties);
                    }
                    else {
                        $('#tbu').val("");
                        $('#duties').val("");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else {
            $('#tbu').val("");
            $('#duties').val("");
        }

    });




    
</script>
