﻿@model OneSourceAdminCore.Model.CompanyManufacturerExchangeRate

<div role="tabpanel" class="tab-pane" id="mfg-exchange-rates">
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "MFgExchangeRateForm" ,@name= "MFgExchangeRateForm" }))
{
    <div class="clearfix"></div>
    <div class="alert-warning col-md-12" style="padding: 10px; margin-bottom: 15px;">
        Update the exchange rate to US Dollars for each currency listed for this Manufacturer. Express the exchange rate as the number of dollars it takes to make one unit of the target currency.
        <br /><br />
        The exchange rate for US Dollars is 1



    </div>
    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label><span style="color:red">&nbsp;&nbsp; </span>Country : </label>
        </div>
        <div class="col-md-4">
            @if (Model.MfgExchangeRateCountries.Count > 0)
            {
                @Html.DropDownList("CountryId", new SelectList(Model.MfgExchangeRateCountries,
                         "Key", "Value"),
                new { @id = "ExCountryId", @tabindex = "-1" })
            }
            else
            {
                <select class="form-control">
                    <option>(None)</option>
                </select>
            }
        </div>
        <div class="col-md-3"></div>

    </div>
    <div class="col-md-12" style="margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label><span style="color:red">* </span>Currency : </label>
        </div>
        <div class="col-md-4">
            @if (Model.MfgExchangeRateInfo.Count > 0)
            {
                @Html.DropDownList("MfgCurrencyID", new SelectList(Model.MfgExchangeRateInfo,
                         "CurrencyID", "CurrencyName"),
                new { @id = "MfgCurrencyID", @tabindex = "-1" })
            }
            else
            {
                <select class="form-control" name="MfgCurrencyID">
                    <option>(None)</option>
                </select>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label><span style="color:red">* </span>Rates : </label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control numericwithdecimal" maxlength="15" id="ex-rate" value="@Model.MfgExchangeRateInfo.FirstOrDefault().ExchangeRateToUsDollars" />
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-12 update-btn">
        <div class="col-md-5"></div>
        <div class="col-md-4" style="right: -21px;">
            <button type="button" class="blueBtn btn btn-default" id="addMfgExRates">Submit</button>
        </div>
        <div class="col-md-3"></div>
    </div>

}
</div>
<script>
    var mfgExchageRateInfo = @Html.Raw(Json.Encode(Model.MfgExchangeRateInfo));
    $('#MfgCurrencyID').change(function(){
        if($(this).val()!=""){
            for (var i = 0; i < mfgExchageRateInfo.length; i++) {
                if (mfgExchageRateInfo[i].CurrencyID == parseInt($(this).val())) {
                    $('#ex-rate').val(mfgExchageRateInfo[i].ExchangeRateToUsDollars);
                }
            }
        }
    });
    $('#ExCountryId').change(function(){
        showHideLoader(1);
        var data = {
            countryId: $('#ExCountryId').val()
        }

        $.ajax({
            url: '/Company/GetExchangeRateInfoByCountry',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {

                if (data != null && data!=undefined) {
                    var html='';
                    for (var i = 0; i < data.length; i++) {
                        html+='<option value="'+data[i].CurrencyID+'">'+data[i].CurrencyName+'</option>';
                    }
                    $('#MfgCurrencyID').html(html);
                    $('#MfgCurrencyID').val(data[0].CurrencyID);
                    $('#ex-rate').val(data[0].ExchangeRateToUsDollars);
                    $('#s2id_MfgCurrencyID span').text(data[0].CurrencyName);
                    mfgExchageRateInfo=data;
                }
                else{

                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    });
    $('#addMfgExRates').click(function(){
        if($('#MfgCurrencyID').val()!="" && $('#ex-rate').val().trim()!=""){

            var data={
                currencyID:$('#MfgCurrencyID').val(),
                exchangeRate:$('#ex-rate').val()
            };
            showHideLoader(1);
            $.ajax({
                url: '/Company/AddUpdateMfgExchangeRate',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                    if (data != "0") {
                        showNotification("Record updated successfully.");
                        var data= {
                            countryId: $('#ExCountryId').val()
                        }
                        GetNewRecord(data);
                    }
                    else{
                        showNotification("Error occured.");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else{
            alert("Please provide all required fields.")
        }

    });
    function GetNewRecord(data){
        $.ajax({
            url: '/Company/GetExchangeRateInfoByCountry',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {

                if (data != null && data!=undefined) {
                    mfgExchageRateInfo=data;
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
</script>
