﻿@model OneSourceAdminCore.Model.SLAReportModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = Model.reportName;
}

<link href="~/Content/css/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
<script src="~/Content/js/jquery.floatingscroll.js"></script>
<script src="~/Content/js/gijgo.min.js"></script>


<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }
</style>


<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-7" style="padding: 10px; color: #FFF;">
        @{
            <b> Reports > @Model.parentName > @Model.reportName > Result </b>
        }
    </div>


    <div class="col-md-5" style="padding: 7px; text-align:right;">
        

        <div style="float:right">
            @using (Html.BeginForm("RedirectToReport", "SLAReports", FormMethod.Post, new { @id = "SLAReportRedirectToParent" }))
            {
                <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
                <input type="hidden" name="routeName" id="routeName" value="@Model.routeName">
                <input type="hidden" name="reportName" id="reportName" value="@Model.reportName">
                <input type="hidden" name="parentRouteId" id="parentRouteId" value="@Model.parentRouteId" />
                <input type="hidden" name="parentName" id="parentName" value="@Model.parentName" />
                <input type="hidden" name="parentRoute" id="parentRoute" value="@Model.parentRoute" />
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
            }

        </div>
        @if (TempData["ReportType"].ToString() == "Summary")
            {
            <div>

                @using (Html.BeginForm("GetCountryDetails", "SLAReports", FormMethod.Post, new { @id = "SLAReportRedirectToParent" }))
                {
                    <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
                    <button class="btn btn-default topAddNewButton" type="submit" id="getCountryDetails" style="margin-right:10px;">Get Country Details</button>
                }
            </div>
        }
    </div>
</div>




<div class="row" style="text-align:center; margin-top:20px;">
    <h4><strong>@Model.reportName</strong></h4>
</div>
<br />
<div class="col-md-12" style="height:700px; overflow-y:scroll">
    <div class="row">
        <div class="col-md-10">

            @if (Model.reportName != "Order Acceptance")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b>OEMs:</b>
                    </div>
                    <div class="col-md-10">
                        @Model.ManufacturerNames
                    </div>
                </div>
            }
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b>   Countries:</b>
                </div>
                <div class="col-md-10">
                    @Model.CountryNames
                </div>
            </div>
            @if (Model.reportName != "Order Acceptance")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <b> Categories:</b>
                    </div>
                    <div class="col-md-10">
                        @Model.Categorynames
                    </div>
                </div>
            }
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b> Company(ies):</b>
                </div>
                <div class="col-md-10">
                    @Model.SubCompanyNames
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b> Customer:</b>
                </div>
                <div class="col-md-10">
                    @Model.CustomerName
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b> Report Date:</b>
                </div>
                <div class="col-md-10">
                    @DateTime.Now.ToShortDateString()
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <b> Report Period:</b>
                </div>
                <div class="col-md-10">
                    @(Model.StartDate) - @(Model.EndDate)
                </div>
            </div>
        </div>
        <div class="col-md-2" style="text-align:center;">
            @if (TempData["ReportType"].ToString() == "Summary")
            {
                <div class="row" style="margin-top:0px;">
                    <h4>Key</h4>
                    <img src="~/Content/images/MetricKeyChart.png" alt="Metric key chart" />
                </div>
            }
        </div>
    </div>
    <br /><br />
    <div class="col-md-12 table-responsive" style="margin-bottom:30px;">
        <div class="row gridDiv">
        </div>
    </div>
</div>



<script>
    $(function () {
        var reportType = '@(TempData["ReportType"].ToString())';
        var inc = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(TempData["SLAReportModel"]))';

        inc= JSON.parse(inc);
        var routeId = $("#routeId").val();
        var reportName = $("#reportName").val();
        var routeName = $("#routeName").val();

        var values = inc;
        values['ReportType'] = reportType;
       // var values = { "ReportType": reportType, "reportName": reportName, "routeName": routeName, "routeId": routeId }

        $(".gridDiv").html("");
        $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
        StartLoader();
        $.ajax({
            url: "/SLAReports/GetSummaryReportData",
            type: "POST",
            data: values,
            success: function (data) {
                EndLoader();
                if (data.msg != null && data.msg != "") {
                    showNotification(data.msg);
                }
                else {

                    var table = JSON.parse(data.data);
                    var tableObj = [];
                    if (table.length > 0) {

                        for (i = 0; i < Object.keys(table[0]).length; i++) {
                            var obj = {};
                            obj.field = Object.keys(table[0])[i];
                            if (obj.field.includes("SLA Standard") || obj.field.includes("Score")) {
                                obj.width = 65;
                            }
                            else {
                                obj.width = 100;
                            }

                            obj.sortable = true;
                            obj.align = 'center';
                            obj.headerCssClass = 'headerClass';
                            obj.cssClass = 'rowClass';
                            tableObj.push(obj);
                        }
                    }

                    if (table.length > 50) {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,

                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    else {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: null,
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    var refreshButton = $("button[data-role='page-refresh']");
                    if (refreshButton != undefined)
                    {
                        refreshButton.hide();
                    }
                    var selectCounter = $("select[data-role='page-size']")[0];
                    if (selectCounter != undefined) {
                        selectCounter.style.width = "80px";
                    }


                    //Custom grid work
                    if (reportType == "Detail") {
                        //var grid = $('#grid');
                        //var body = grid[0].getElementsByTagName('tbody')[0];

                        //var i;
                        //for (i = 0; i < body.rows.length; i++) {

                        //    var tags = body.rows[i].getElementsByTagName('td');
                        //    var j;
                        //    for (j = 0; j < tags.length; j++) {
                        //        if (tags[j].innerText.includes("Avg")) {
                        //            tags[j].style.fontWeight = "bold";
                        //        }

                        //    }
                        //}
                    }
                    else if (reportType == "Summary") {

                        var grid = $('#grid');

                        @if (Model.reportName != "Order Acceptance" && Model.reportName != "Quote Response")
                          {
                            <text>
                        var head = grid[0].getElementsByTagName('thead')[0];
                        var i;
                        for (i = 0; i < head.rows.length; i++) {
                            var headtags = head.rows[i].getElementsByTagName('th');
                            var x;
                            for (x = 0; x < headtags.length; x++) {
                                if (headtags[x].innerText.includes("SLA Standard")) {
                                    headtags[x].innerText = "SLA Standard";
                                }
                                if (headtags[x].innerText.includes("Score")) {
                                    headtags[x].innerText = " ";
                                }
                            }
                        }
                        </text>
                              }

                        var body = grid[0].getElementsByTagName('tbody')[0];
                        i = 0;
                        //loop through all the rows in body
                        for (i = 0; i < body.rows.length; i++) {

                            @if (Model.reportName != "Order Acceptance" && Model.reportName != "Quote Response")
                             {
                                 <text>
                            //if the row is first one in body
                            if (i == 0) {
                                var newtags = body.rows[i].getElementsByTagName('td');
                                body.rows[i].style.backgroundColor = "#3b9ad2";
                                var c;
                                for (c = 0; c < newtags.length; c++) {
                                    if (newtags[c].innerText != "") {
                                        newtags[c].style.color = "white";
                                        newtags[c].style.fontWeight = "bold";

                                    }
                                }
                            }
                            </text>
                        }


                            //check if any column in row has value of percentage
                            var tags = body.rows[i].getElementsByTagName('td');

                            var j;
                            for (j = 0; j < tags.length; j++) {
                                //check if any column in row has value of percentage
                                if (tags[j].innerText.includes("%")) {
                                    //Parse the elements here and check conditions
                                    var temp = tags[j].innerText;
                                    temp = temp.substring(0, temp.length - 2);
                                    var percentage = parseInt(temp);

                                    if (temp >= 81 && temp <= 100) {
                                        tags[j].style.backgroundColor = "green";
                                        tags[j].style.color = "white";
                                    }
                                    if (temp >= 61 && temp <= 80) {
                                        tags[j].style.backgroundColor = "#ffcd48";
                                        tags[j].style.color = "white";
                                    }
                                    if (temp >= 0 && temp <= 60) {
                                        tags[j].style.backgroundColor = "#ea0000";
                                        tags[j].style.color = "white";
                                    }
                                }
                            }
                        }
                    }

                    $(".gj-grid-wrapper").floatingScroll();
                    $(".gj-grid-wrapper").attr("style", "overflow:auto");
                }
            }
        });
    });
</script>