﻿@model OneSourceAdminCore.Model.SLAReportModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = Model.reportName;
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}


<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_customerCountries.summary {
        display: none !important;
    }

    #s2id_productCategories.summary {
        display: none !important;
    }

    #s2id_customerCompanies.summary {
        display: none !important;
    }

    #s2id_businessSegment.summary {
        display: none !important;
    }

    #s2id_regions.summary {
        display: none !important;
    }

    #s2id_customerDrp.summary {
        display: block !important;
    }

    #s2id_manufacturerDrp.summary {
        display: none !important;
    }
</style>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-7" style="padding: 10px; color: #FFF;">
        @{
            <b> Reports > @Model.parentName > @Model.reportName </b>
        }
    </div>


    <div class="col-md-5" style="padding: 7px; text-align:right;">


        <div style="float:right">
            @using (Html.BeginForm("RedirectToParent", "SLAReports", FormMethod.Post, new { @id = "SLAReportRedirectToParent" }))
            {
                <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
                <input type="hidden" name="routeName" id="routeName" value="@Model.routeName">
                <input type="hidden" name="reportName" id="reportName" value="@Model.reportName">
                <input type="hidden" name="parentRouteId" id="parentRouteId" value="@Model.parentRouteId" />
                    <input type="hidden" name="parentName" id="parentName" value="@Model.parentName" />
                    <input type="hidden" name="parentRoute" id="parentRoute" value="@Model.parentRoute" />
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;">Back</button>
            }
        </div>
    </div>
</div>


<div class="row" style="margin-top:48px;">

    <div class="col-md-8 col-md-offset-3">

        @*Customer List*@

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Customer:
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                    {
                        @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
      "CustomerId", "CustomerName", Model.CustomerId),
      new { @id = "customerDrp", @idFor = "Key", @valueFor = "Value", @class = "summary", @tabindex = "-1" });
                    }

                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblCustomer" style="color:red">

                </span>

            </div>
        </div>

        @*Start Date*@

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>Start Date:
            </div>
            <div class="col-md-4">
                <div class="input-group input-medium date date-picker" data-date="@Model.StartDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                    <input type="text" id="DateFrom" name="StartDate" value="@Model.StartDate" class="form-control" readonly>
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                    <img src="/Content/images/reset-btn.png">
                </button>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblStartDate" style="color:red">

                </span>

            </div>
        </div>

        @*End Date*@
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>End Date:
            </div>
            <div class="col-md-4">
                <div class="input-group input-medium date date-picker" data-date="@Model.EndDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                    <input type="text" id="DateTo" name="EndDate" value="@Model.EndDate" class="form-control" readonly>
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                    <img src="/Content/images/reset-btn.png">
                </button>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblEndDate" style="color:red">

                </span>

            </div>

        </div>



        @*Manufacturer List*@
        @if (Model.reportName != "Order Acceptance" && Model.reportName != "Quote Response")
        {
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-2">
                    <span style="color:red">
                        *
                    </span>
                    OEM:
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        @if (Model.ListManufacturers != null && Model.ListManufacturers.Count > 0)
                        {
                            @Html.DropDownList("ManufacturerId", new SelectList(Model.ListManufacturers,
                            "Key", "Value"),
                            new { @id = "manufacturerDrp", @idFor = "Key", @valueFor = "Value", @class = "summary", @tabindex = "-1", @multiple = "multiple" });
                        }

                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblManufacturer" style="color:red">

                    </span>

                </div>
            </div>
        }
        else
        {
            <div class="row" style="margin-top: 20px;"></div>
        }


        @*Companies List*@

        <div class="row" style="margin-top: 0px;">
            <div class="col-md-2">

                Companies:
            </div>
            <div class="col-md-6">
                <div class="form-group customerCompanies">
                    <select id="customerCompanies" multiple="multiple" class="summary"></select>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblcustomerCompanies" style="color:red">

                </span>

            </div>
        </div>

        @*Business Segment List*@

        <div class="row" style="margin-top: 0px;">
            <div class="col-md-2">

                Business Segments:
            </div>
            <div class="col-md-6">
                <div class="form-group businessSegment">
                    <select id="businessSegment" multiple="multiple" class="summary"></select>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblbusinessSegment" style="color:red">

                </span>

            </div>
        </div>

        @if (Model.reportName != "Order Acceptance" && Model.reportName != "Quote Response")
        {
            @*Regions List*@

            <div class="row" style="margin-top: 0px;">
                <div class="col-md-2">

                    Regions:
                </div>
                <div class="col-md-6">
                    <div class="form-group regions">
                        <select id="regions" multiple="multiple" class="summary"></select>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblregions" style="color:red">

                    </span>

                </div>
            </div>
        }

        @*Categories List*@

        @if (Model.reportName != "Order Acceptance" && Model.reportName != "Quote Response")
        {
            <div class="row" style="margin-top: 0px;">
                <div class="col-md-2">
                    <span style="color:red">
                        *
                    </span>
                    Product Categories:
                </div>
                <div class="col-md-6">
                    <div class="form-group productCategories">
                        <select id="productCategories" multiple="multiple" class="summary"></select>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblproductCategories" style="color:red">

                    </span>

                </div>
            </div>
        }


        @*Countries List*@


        <div class="row" style="margin-top: 0px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Countries:
            </div>
            <div class="col-md-6">
                <div class="form-group customerCountries">
                    <select id="customerCountries" multiple="multiple" class="summary"></select>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblCountries" style="color:red">

                </span>

            </div>
        </div>



        <br />

        <div class="row">

            <div class="col-md-2 col-md-offset-2" style="text-align:left; ">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Generate</button> &nbsp;
                </span>
                <span class="input-group-btn" style="">
                    <a href="/SLAReports/Report/@(Model.routeId)" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                </span>
            </div>
        </div>


    </div>

</div>







<script>


    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    $('.modal-body').slimscroll({ destroy: true });

    $(function () {

        
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 5000);

        //$(".select2-container select2-container-multi").attr("display", "none");

        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });


        @*var customerId = @Model.CustomerId;

        getcountriesbycustomer(customerId, "0");*@

        $("#customerCountries , #productCategories , #customerCompanies, #manufacturerDrp, #businessSegment, #regions").multipleSelect(
                                   {
                                       placeholder: '--Select--',
                                       filter: true,
                                       allowClear: true,
                                       includeSelectAllOption: true,
                                       selectAllValue: -1
                                   });

        $("#customerDrp,#customerCountries , #productCategories , #customerCompanies, #manufacturerDrp, #businessSegment,#regions").select2({ allowClear: true });
        //$('.customerCountries input:checkbox').prop('checked', true);

        $("#customerDrp").change(function () {

            var routeId = $("#routeId").val();
            var reportName = $("#reportName").val();
            var routeName = $("#routeName").val();
            var customerId = $(this).val();
            var selectedId = $("#customerCountries").val();
            if (selectedId == null || selectedId == "") {
                selectedId = 0;
            }
            getcountriesbycustomer(customerId, selectedId);
            getcompaniesbycustomer(customerId);
            getcategoriesbycustomer(customerId, reportName);
            getbusinesssegmentbycustomer(customerId);
            getregionsbycustomer(customerId);
        });


        function getbusinesssegmentbycustomer(customerId) {
            $.ajax({
                url: '/SLAReports/GetBusinessSegmentsByCustomerID?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 0) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#businessSegment").html(options);
                        if (data != null && data.length > 0) {
                            $("#businessSegment").multipleSelect(
                               {
                                   placeholder: 'Select',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
                            $("#businessSegment").select2({ width: 'resolve' });
                            $(".ms-select-all").hide();
                            //$('.customerCountries input:checkbox').prop('checked', true);

                            //$("#customerCountries").select2().val(data[0].SelectedId).trigger("change");

                        }
                    }
                    else {
                        $("#businessSegment").html("");
                        $("#businessSegment").multipleSelect(
                               {
                                   placeholder: '--Select--',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
                        $("#businessSegment").select2({ width: 'resolve' });
                        $(".ms-select-all").hide();
                        //$('.customerCountries input:checkbox').prop('checked', true);

                        //$("#customerCountries").select().val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

        function getregionsbycustomer(customerId) {
            $.ajax({
                url: '/SLAReports/GetRegionsByCustomerId?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 0) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#regions").html(options);
                        if (data != null && data.length > 0) {
                            $("#regions").multipleSelect(
                               {
                                   placeholder: 'Select',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
                            $("#regions").select2({ width: 'resolve' });
                            $(".ms-select-all").hide();
                            //$('.customerCountries input:checkbox').prop('checked', true);

                            //$("#customerCountries").select2().val(data[0].SelectedId).trigger("change");

                        }
                    }
                    else {
                        $("#regions").html("");
                        $("#regions").multipleSelect(
                               {
                                   placeholder: '--Select--',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
                        $("#regions").select2({ width: 'resolve' });
                        $(".ms-select-all").hide();
                        //$('.customerCountries input:checkbox').prop('checked', true);

                        //$("#customerCountries").select().val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

        function getcountriesbycustomer(customerId, selectedId) {
            $.ajax({
                url: '/SLAReports/GetCountryByCustomerId?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 0) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#customerCountries").html(options);
                        if (data != null && data.length > 0) {
                            $("#customerCountries").multipleSelect(
                               {
                                   placeholder: 'Select',
                                   filter: true,
                                   allowClear: true
                               });
                            $("#customerCountries").select2({ width: 'resolve' });
                            $(".ms-select-all").hide();
                            //$('.customerCountries input:checkbox').prop('checked', true);

                            //$("#customerCountries").select2().val(data[0].SelectedId).trigger("change");

                        }
                    }
                    else {
                        $("#customerCountries").html("");
                        $("#customerCountries").multipleSelect(
                               {
                                   placeholder: '--Select--',
                                   filter: true,
                                   allowClear: true
                               });
                        $("#customerCountries").select2({ width: 'resolve' });
                        $(".ms-select-all").hide();
                        //$('.customerCountries input:checkbox').prop('checked', true);

                        //$("#customerCountries").select().val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

        function getcompaniesbycustomer(customerId) {
            $.ajax({
                url: '/SLAReports/GetSubcompaniesByCustomerID?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 0) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#customerCompanies").html(options);
                        if (data != null && data.length > 0) {
                            $("#customerCompanies").multipleSelect(
                               {
                                   placeholder: '--Select--',
                                   filter: true,
                                   allowClear: true
                               });
                            $("#customerCompanies").select2({ width: 'resolve' });
                            $(".ms-select-all").hide();
                            //$("#customerCountries").select2().val(data[0].SelectedId).trigger("change");

                        }
                    }
                    else {
                        $("#customerCompanies").html("");
                        $("#customerCompanies").multipleSelect(
                               {
                                   placeholder: '--Select--',
                                   filter: true,
                                   allowClear: true
                               });
                        $("#customerCompanies").select2({ width: 'resolve' });
                        $(".ms-select-all").hide();
                        //$('.customerCompanies input:checkbox').prop('checked', true);

                        //$("#customerCountries").select().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

        function getcategoriesbycustomer(customerId, reportName) {
            var values = {
                'customerId': customerId,
                'reportName': reportName
            }
            $.ajax({
                url: '/SLAReports/GetProductCategoryByCustomerID',
                data : values,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var array = [];
                    var options = '';
                    if (data != null && data.length > 0) {
                        $.each(data, function (index, item) {
                            //options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                            var checkSelected = "";
                            if (item.isSelected == true) {
                                checkSelected = "selected";
                                array.push(item.Value);
                            }
                            options = options + ' <option value="' + item.Value + '" ' + checkSelected + '>' + item.Text + '</option>';

                        });
                        $("#productCategories").html(options);
                        if (data != null && data.length > 0) {
                            $("#productCategories").multipleSelect(
                               {
                                   placeholder: '--Select--',
                                   filter: true,
                                   selectAll: false


                               });
                        }
                        $("#productCategories").multipleSelect("setSelects", array);
                    }
                    else {
                        $("#productCategories").html("");
                        $("#productCategories").multipleSelect(
                               {
                                   placeholder: '--Select--',
                                   filter: true,
                                   allowClear: true
                               });
                        $("#productCategories").select2({ width: 'resolve' });
                        $(".ms-select-all").hide();
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        $(".ms-select-all").hide();
    });

    $('#SLAReportForm').submit(function () {
        StartLoader();
    });


    $("#btnGenerate").on("click", function (e) {

        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {
            showValidationError('Please select customer', 'lblCustomer');
            return false;
        }
        if (($("#DateFrom").val() == "" || $("#DateFrom").val() == null || $("#DateFrom").val() == "0") || $("#DateFrom").val() == "null") {

            showValidationError('Please enter start date', 'lblStartDate');
            return false;
        }

        if (($("#DateTo").val() == "" || $("#DateTo").val() == null || $("#DateTo").val() == "0") || $("#DateTo").val() == "null") {

            showValidationError('Please enter end date', 'lblEndDate');
            return false;
        }



        @if(Model.reportName != "Order Acceptance" && Model.reportName != "Quote Response")
        {
            <text>
        if (($("#manufacturerDrp").val() == "" || $("#manufacturerDrp").val() == null || $("#manufacturerDrp").val() == "0") || $("#manufacturerDrp").val() == "null") {
            showValidationError('Please select manufacturer', 'lblManufacturer');
            return false;
        }
        if (($("#productCategories").val() == "" || $("#productCategories").val() == null || $("#productCategories").val() == "0") || $("#productCategories").val() == "null") {
            showValidationError('Please select categories', 'lblproductCategories');
            return false;
        }
        </text>
        }

        if (($("#customerCountries").val() == "" || $("#customerCountries").val() == null || $("#customerCountries").val() == "0") || $("#customerCountries").val() == "null") {
            showValidationError('Please select countries', 'lblCountries');
            return false;
        }
        var customerId = $("#customerDrp").val();

        var categoryIds = "";
        var manufacturerIds = "";
        var manufacturerNames = "";
        var categoryNames = "";
        var regionIds = "";

        @if(Model.reportName != "Order Acceptance" && Model.reportName != "Quote Response")
        {
            <text>
        var manufacturerId = $("#manufacturerDrp").val();
        if (manufacturerId != null && manufacturerId != "" && manufacturerId != "null") {
            var manufacturerIds = manufacturerId.join(", ");
        }
        var manufacturerName = $('#manufacturerDrp').select2('data');
        manufacturerName.forEach(function (item) {
            manufacturerNames += item.text + ',';
        });

        var regions = $("#regions").val();
        if (regions != null && regions != "" && regions != "null") {
            regionIds = regions.join(", ");
        }

        var categoryId = $("#productCategories").val();

        if (categoryId != null && categoryId != "" && categoryId != "null") {
            var categoryIds = categoryId.join(", ");
        }
        var categoryName = $('#productCategories').select2('data');
        categoryName.forEach(function (item) {
            categoryNames += item.text + ',';
        });
        </text>
        }

        var companyId = $("#customerCompanies").val();
        var companyIds = "";
        if (companyId != null && companyId != "" && companyId != "null") {
            var companyIds = companyId.join(", ");
        }
        if (companyIds != "" && companyIds != null) {
            companyIds = customerId + "," + companyIds;
        }
        else {
            companyIds = customerId;
        }

        var businessSegmentId = $("#businessSegment").val();
        var businessSegmentIds = "";
        if (businessSegmentId != null && businessSegmentId != "" && businessSegmentId != "null") {
            var businessSegmentIds = businessSegmentId.join(", ");
        }

       
        var companyName = $('#customerCompanies').select2('data');
        var companyNames = "";
        companyName.forEach(function (item) {
            companyNames += item.text + ',';
        });
        if (companyNames != "" && companyNames != null) {
            companyNames = $("#customerDrp option:selected").text() + "," + companyNames;
        }
        else {
            companyNames = $("#customerDrp option:selected").text();
        }


        var countryId = $("#customerCountries").val();
        var countryIds = "";
        if (countryId != null && countryId != "" && countryId != "null") {
            var countryIds = countryId.join(", ");
        }
        var countryName = $('#customerCountries').select2('data');
        var countryNames = "";
        countryName.forEach(function (item) {
            countryNames += item.text + ',';
        });


        var routeId = $("#routeId").val();
        var reportName = $("#reportName").val();
        var routeName = $("#routeName").val();

        var startDate = $("#DateFrom").val();
        var endDate = $("#DateTo").val();

        var values = {
            "CustomerId": customerId,
            "StartDate": startDate,
            "EndDate": endDate,
            "CountryIDs": countryIds,
            "ManufacturerIds": manufacturerIds,
            "CustomerIds": companyIds,
            "CategoryIds": categoryIds,
            "CustomerName": $("#customerDrp option:selected").text(),
            "ManufacturerNames": manufacturerNames,
            "SubCompanyNames": companyNames,
            "Categorynames": categoryNames,
            "CountryNames": countryNames,
            "BusinessSegments": businessSegmentIds,
            "RegionIds": regionIds,
            "reportName": reportName, "routeName": routeName, "routeId": routeId,
        }

        $(".gridDiv").html("");
        $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
        StartLoader();
        $.ajax({
            url: "/SLAReports/GetReportData",
            type: "POST",
            data: values,
            success: function (data) {
                EndLoader();
                if (data.msg != null && data.msg != "") {

                    if (data.msg == "NoRecordsFound") {
                        showNotification("No records found");
                    }
                    else if (data.msg == "RedirectToResult") {
                        window.location = "/SLAReports/ReportResult?routeId=" + routeId;
                    }
                    else {
                        showNotification("Start date should not be greater than end date");
                    }

                }
            }
        });

    });

    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }
</script>