﻿
@model OneSourceAdminCore.Model.QuoteDetailModel
<div class="col-md-12 back-btn" style="margin-bottom: 15px;">
    <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="downloadPDFasCustomer()">Export Customer PDF</button>
    <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="downloadPDF()">Export PDF</button>
</div>
@{var statusCode = Model.NewQuoteDetail.quotestatuscode; }
@using (Html.BeginForm("UpdateQuoteDetail", "QuoteSearch", FormMethod.Post, new { @id = "QuoteDetailForm", @enctype = "multipart/form-data" }))
{
    <div class="col-md-6">
        <input type="hidden" id="quoteId" name="quoteId" value="@Model.QuoteId">
        <input type="hidden" id="quoteType" name="quoteType" value="@Model.QuoteType">
        @if (statusCode != "X")
        {
            <div class="col-md-4">
                <label>Actions:</label>
            </div>
            <div class="col-md-8">


                @if (statusCode == "N")
                {
                    <div class="col-md-7" style="padding-left: 0px;">
                        @Html.DropDownList("sfaid", new SelectList(Model.SFAs, "sfaid", "sfaname", Model.NewQuoteDetail.SFAID), new { @id = "sfaid" })
                    </div>
                    <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                        <input type="button" class="form-control" id="per" value="Assign Supplier" onclick="AssignSupplier()" />
                    </div>
                }
                else if (statusCode == "C")
                {<div class="col-md-8">
                    <input type="button" class="btn btn-default form-control" id="per" onclick="Inprogress()" value="Change to In Progress" />
                </div>
                }
                else if (statusCode == "P")
                {
                    <div class="col-md-8">
                        <input type="button" class="btn btn-default form-control" id="per" onclick="Quotecomplete()" value="Change to Complete" />
                    </div>
                }



                    </div>
                <div class="clearfix"></div>
        }
        <div class="col-md-4">
            <label>Quote Request:</label>
        </div>
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Quote #:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.NewQuoteDetail.quoteid)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Country:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.NewQuoteDetail.countryname ?? "")</p>
        </div>
        <div class="clearfix"></div>

        @if (statusCode != "X")
        {
            <div class="col-md-4">
                <label>Quote Reference:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="quoteRef" maxlength="255" value="@(Model.QuoteRef ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
        }
        <div class="col-md-4">
            <label>Customer:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.NewQuoteDetail.customername ?? "")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Requested By:</label>
        </div>
        <div class="col-md-8 pm-mp">
            <p>@(Model.NewQuoteDetail.requestedby ?? "")</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
        @if (statusCode != "X")
        {
            <button type="button" class="btn btn-default btnSubmit pull-right" style="margin-right: 15px;" id="per" onclick="Cancelquote()">Cancel Quote</button>
        }
        <button type="button" class="btn btn-default btnSubmit pull-right" id="per" style="margin-right: 10px;">Add to Quote</button>

        <div class="clearfix"></div>
        <div class="col-md-4" style="padding-top:10px">
            <label>Total Price:</label>
        </div>
        <div class="col-md-8" style="padding-top:10px">
            <p>@(Convert.ToDecimal(Model.TotalPrice) == 0 ? "-" : ((string.IsNullOrEmpty(Model.NewQuoteDetail.Symbol) ? "" : Model.NewQuoteDetail.Symbol + " ") + string.Format("{0:0.00}", Convert.ToDecimal(Model.TotalPrice))))</p>
        </div>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Currency:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.NewQuoteDetail.currencyname ?? "")</p>
        </div>
        <div class="clearfix"></div>
        @if (statusCode != "X")
        {
            <div class="col-md-4">
                <label>Supplier Reference:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="supplierRef" maxlength="255" value="@(Model.SupplierRef ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
        }
        <div class="col-md-4">
            <label>Supplier:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.NewQuoteDetail.sfaname ?? "")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Status:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.NewQuoteDetail.quotestatus ?? "")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 back-btn">
            @if (statusCode != "X")
            {
                <button type="button" class="btn btn-default btnCancel" id="per" style="margin-right: 0px;">Reset</button>
                <button type="submit" class="btn btn-default btnSubmit" id="per">Update</button>
            }

        </div>
        <div class="clearfix"></div>
    </div>
}
<script>
    $(".btnCancel").click(function () {
        StartLoader();
        window.location.reload();
    });
    @if (statusCode == "N")
  {
    <text>
    function AssignSupplier() {
        if ($('#sfaid').val() == "0") {
            alert("Please provide supplier");
            return false;
        }
        var data = {
            quoteId: $('#QuoteId').val(),
            sfaid: $('#sfaid').val(),
            quoteType: '@Model.QuoteType'
        };
        showHideLoader(1);
        $.ajax({
            url: '/QuoteSearch/AssignSupplier',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    showNotification("Supplier has been assigned.");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
    </text>
  }
  else if (statusCode == "C")
  {
    <text>
    function Inprogress() {

        var data = {
            quoteId: $('#QuoteId').val(),
            status: "In Progress",
            quoteType: '@Model.QuoteType'
        };
        showHideLoader(1);
        $.ajax({
            url: '/QuoteSearch/ChangeQuoteStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    showNotification("Quote Status has been changed.");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
    </text>
  }
  else if (statusCode == "P")
  {
    <text>
    function Quotecomplete() {

        var data = {
            quoteId: $('#QuoteId').val(),
            status: "Complete",
            quoteType: '@Model.QuoteType'
        };
        showHideLoader(1);
        $.ajax({
            url: '/QuoteSearch/ChangeQuoteStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    showNotification("Quote Status has been changed.");
                    window.location.reload();
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
    </text>
  }

    function Cancelquote() {
        var data = {
            quoteId: $('#QuoteId').val(),
            status: "Cancelled",
            quoteType: '@Model.QuoteType'
        };
        showHideLoader(1);
        $.ajax({
            url: '/QuoteSearch/ChangeQuoteStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    showNotification("Quote has been cancelled.");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }

    $('#QuoteDetailForm').submit(function () {
        StartLoader();
    });


    function downloadPDF() {
        window.location = "/QuoteSearch/ExportQuoteDetailToPdf?quoteId=" + '@Model.QuoteId' + "&quoteType=" + '@Model.QuoteType';
    }
    function downloadPDFasCustomer() {
       
        window.location = "/QuoteSearch/ExportQuoteDetailToPdfAsCustomer?quoteId=" + '@Model.QuoteId' + "&quoteType=" + '@Model.QuoteType' + "&customerId=" + '@Model.NewQuoteDetail.customerid' + "&customerName=" + '@Model.NewQuoteDetail.customername';
    }
</script>