﻿@model List<OneSourceAdminCore.Entity.tblCaseStudyAttachement>
@{
    ViewBag.Title = "Attachments";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Attachments </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
@if (ViewBag.AddEditAccess == true)
{
    using (Html.BeginForm("AddCaseStudyAttachement", "CaseStudyAttachement", FormMethod.Post, new { @id = "CaseStudyForm", @enctype = "multipart/form-data" }))
    {
        @*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
                <div class="col-md-4">
                    <h1 style="color: #fff;">Attachments</h1>
                </div>
                <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
                </div>
                <div class="col-md-4"></div>
            </div>*@
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style=" padding-left: 75px;"><span style="color:red">* </span>Title </label>
                    <div class="col-md-6">
                        <input type="text" maxlength="100" class="form-control" name="Title" />
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style=" padding-left: 75px;padding-right:0px"><span style="color:red">* </span>Choose File</label>
                    <div class="col-md-5">
                        <div class="input-group" style="width: 270px;">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse… <input id="fileQuoteRequest" class="btn btn-default attachFile" name="attachFile" type="file">
                                </span>
                            </span>
                            <input type="text" class="form-control fileUploadTxtBox" name="FileName" readonly="">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="resetFile" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <label style="font-weight: 700;font-size: 10px;margin-left: 7px;">Note: the maximum size of attachment file is 10MB</label>
            </div>
        </div>


        <div class="row" style="margin-top: 15px;">
            <div class="col-md-4"></div>
            <div class="col-md-7" style=" padding-left: 23px;">
                <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
            </div>
            <br>
            <br>
        </div>
    }
}
<br>
<br>
<div class="row">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model != null && Model.Count > 0)
        {
            @Html.Grid(Model).Columns(columns =>
       {
       columns.Add(c => c.Title).Sortable(true).Filterable(true).Titled("Title").Encoded(false).Sanitized(false).SetWidth(30)
           .RenderValueAs(o => @<span><input type="hidden" value="@o.CaseStudyAttachementId">@o.Title</span>);
       columns.Add(c => c.FileName).Sortable(true).Filterable(true).Titled("FileName").Encoded(false).Sanitized(false).SetWidth(5)
           .RenderValueAs(o => @<a style="color: blue" onclick="Download(this)">@o.FileName </a>);
       columns.Add(c => c.CreatedDate).Sortable(true).Filterable(true).Titled("Created Date").SetWidth(35);
       if (ViewBag.AddEditAccess == true)
       {
           columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
               RenderValueAs(o => @<a style="color: blue" onclick="DeleteAttachement(this) ">Delete </a>);
           }
       }).WithPaging(15)
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        StartLoader();
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);
    });
    $(window).load(function () {
        EndLoader();
    });

    function Download(event) {
        var mydata = {
            csaId: $(event).parent().parent().find('input:hidden').val(),
            fileName: 'ASDSA'
        };
        @*$.ajax(
        {
               url: '@Url.Action("DownloadAttachement", "CaseStudyAttachement")',
               contentType: 'application/json; charset=utf-8',
               datatype: 'json',
               data: JSON.stringify(mydata),
               type: "POST",
               success: function (data) {
                   DownloadAttachement
               }
           });*@
        window.location = '/CaseStudyAttachement/DownloadAttachement?csaId=' + $(event).parent().parent().find('input:hidden').val();

    }

    function DeleteAttachement(event) {
        if (confirm("Are you sure want to delete this record?")) {
            StartLoader();
            var currentCSAI = $(event).parent().parent().find('input:hidden').val();
            window.location.href = '/CaseStudyAttachement/DeleteAttachement?id=' + currentCSAI;
        }
    }


    $('#CaseStudyForm').submit(function () {

        if ($("input[name='Title']").val().trim() === '') {
            alert('Please provide title');
            return false;
        }
        if ($('.attachFile').get(0).files.length <= 0) {
            alert('Please provide file');
            return false;
        } else {
            var length = $('.attachFile').get(0).files[0].name.split('.').length;
            var fileExtension = '.' + ($('.attachFile').get(0).files[0].name.split('.')[length - 1]).toLowerCase();
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" || fileExtension == ".msg" || fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt extension');
                return false;
            }

        }
        if ($('.attachFile').get(0).files[0].name.length > 176) {
            alert('File name is too long, File name must have 175 or less characters');
            return false;
        }
        if ($('.attachFile').get(0).files[0].size > 10485760) {
            alert('File size must be less than 10 MB');
            return false;
        }


        StartLoader();
    });

    $('.btnReset').click(function () {
        $('.attachFile').val("");
        $('.fileUploadTxtBox').val("");
        $("input[name='Title']").val('');
    });


    $('.resetFile').click(function () {
        $(this).parent().parent().find('.attachFile').val("");
        $('.fileUploadTxtBox').val("");
    });



    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });


    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".attachmentsetting").addClass("active");
    });
</script>