﻿@model OneSourceAdminCore.Model.ContactModel
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding :  10px; color :  #FFF;">
        <b> Dashboard > Contacts</b>
    </div>
    <div class="col-md-3" style=" padding :  10px;"></div>
    <div class="col-md-6" style="padding :  10px;">
        @*<a href="/admin/company/@Model.CompanyId/@Model.PartyId/@Model.RoleId">
                <input class="btn btn-default topAddNewButton" value="Back" type="button">
                <input type="hidden" id="addMsg" value="@ViewBag.addMsg" />
                <input type="hidden" id="updateMsg" value="@ViewBag.Editmsg" />
            </a>*@
        <a id="" href="/contact/add">
            <button type="submit" class="btn blue-Btn topAddNewButton" style="float:right !important;">Add New Contact</button>
        </a>
    </div>
</div>
<div class="col-md-12 tab-content">
    <div role="tabpanel" class="tab-pane active" id="address">
        <h1>Contacts</h1>
        <hr />
        @Html.Partial("~/Views/Company/_GenericContactListPartialView.cshtml", Model.ContactList)
    </div>

</div>

<div class="clearfix"></div>

<script>
    $(document).ready(function () {
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });
</script>