﻿@model OneSourceAdminCore.Model.AssetReportModel

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Reports > @Model.parentName > @Model.ReportName </b>
        }
    </div>

    <div class="col-md-4 col-md-offset-4" style="padding: 7px; text-align:right;">
        <div style="float:right">
            @using (Html.BeginForm("RedirectToParent", "AssetReports", FormMethod.Post, new { @id = "ProcurementReportsRedirectToParent" }))
            {
                <input type="hidden" name="parentRoute" value="@Model.parentRoute" />
                <input type="hidden" name="parentRouteId" value="@Model.parentRouteId" />
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
            }
        </div>

        <div style="">
            @if (Model.routeName == "assetbycustomer")//Added by Adnan 12-7-2019
            {
                using (Html.BeginForm("ExportAssetByCustomerToExcel", "AssetReports", FormMethod.Post, new { @id = "ReportExportToExcel" }))
                {
                    <input type="hidden" name="customerId" id="customerId" value="0" />
                    <input type="hidden" name="startDate" id="startDate" value="" />
                    <input type="hidden" name="endDate" id="endDate" value="" />
                    <input type="hidden" name="reportName" value="@Model.ReportName" />
                    <input type="hidden" name="routeName" value="@Model.routeName" />
                    <input type="hidden" name="routeId" value="@Model.routeId" />
                    <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px;visibility:hidden">Export to excel</button>
                }
            }
            else
            {
                using (Html.BeginForm("ExportToExcel", "AssetReports", FormMethod.Post, new { @id = "ReportExportToExcel" }))
                {
                    <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                    <input type="hidden" name="StartDate" value="@Model.StartDate" />
                    <input type="hidden" name="EndDate" value="@Model.EndDate" />
                    <input type="hidden" name="ReportName" value="@Model.ReportName" />
                    <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
                    <input type="hidden" name="routeId" value="@Model.routeId" />
                    <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px;">Export to excel</button>
                }
            }
        </div>
        <div style="">
            @if (Model.routeName != "assetbycustomer")//Added by Adnan 12-7-2019
            {

                using (Html.BeginForm("ExportToPdf", "AssetReports", FormMethod.Post, new { @id = "ReportExportToPdf" }))
                {
                    <input type="hidden" name="pdfTable" id="pdfTable" />

                    <input type="hidden" name="totalaffectedassets" id="totalaffectedassets" />
                    <input type="hidden" name="avglife" id="avglife" />
                    <input type="hidden" name="totalaffectedcountries" id="totalaffectedcountries" />
                    <input type="hidden" name="totalaffectedmfgs" id="totalaffectedmfgs" />
                    <input type="hidden" name="totalexpiredassets" id="totalexpiredassets" />
                    <input type="hidden" name="valueofexpiredassets" id="valueofexpiredassets" />
                    <input type="hidden" name="assetvaluationtotalstrdate" id="assetvaluationtotalstrdate" />
                    <input type="hidden" name="assetvaluationtotalenddate" id="assetvaluationtotalenddate" />
                    <input type="hidden" name="totalassetvaluationchange" id="totalassetvaluationchange" />
                    <input type="hidden" name="startdt" id="startdt" />
                    <input type="hidden" name="enddt" id="enddt" />

                    <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                    <input type="hidden" name="StartDate" value="@Model.StartDate" />
                    <input type="hidden" name="EndDate" value="@Model.EndDate" />
                    <input type="hidden" name="ReportName" value="@Model.ReportName" />
                    <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
                    <input type="hidden" name="routeName" value="@Model.routeName"/>

                    <button class="btn btn-default topAddNewButton" type="button" id="exportPdf" style="margin-right:10px;">Export to pdf</button>
                }
            }
        </div>
    </div>
</div>

<div class="row" style="margin-top:48px;">
    <div class="col-md-8 col-md-offset-3">

        @using (Html.BeginForm("GetReportData", "AssetReports", FormMethod.Post, new { @id = "ReportForm" }))
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">* </span>Customer:
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden" name="ReportName" value="@Model.ReportName" />
                        <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
                        <input type="hidden" name="RouteId" value="@Model.routeId" />
                        <select id="customerDrp" name="customerDrp" class="asset">
                            @if (Model.ListCustomers != null && Model.ListCustomers.Count() > 0)
                            {
                                foreach (var item in Model.ListCustomers)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCustomer" style="color:red">
                    </span>

                </div>
            </div>
            if (Model.routeName == "assetsbylocation") //Assets by location
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">Location:</div>
                    <div class="col-md-6">
                        <div class="form-group customerAddresses">
                            <select id="customerAddresses" multiple="multiple" name="AddressId"></select>
                        </div>
                    </div>
                </div>
            }
            else if (Model.routeName == "assetsbycountry")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">Country:</div>
                    <div class="col-md-6">
                        <div class="form-group customerCountries">
                            <select id="customerCountries" name="CountryIDs" multiple="multiple"></select>
                        </div>
                    </div>
                </div>
            }
            else if (Model.routeName == "assetsbymanufacturer")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">* </span>Manufacturers:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="manufacturers" name="manufacturers" multiple="multiple" class="asset">
                                @if (Model.ListManufacturers != null && Model.ListManufacturers.Count > 0)
                                {
                                    foreach (var item in Model.ListManufacturers)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblManufacturer" style="color:red">
                        </span>

                    </div>
                </div>
            }
            else if (Model.routeName == "assetdepreciationsummary")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2"><span style="color:red">* </span>From Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="StartDate" name="StartDate" value="@Model.StartDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblFromDate" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"><span style="color:red">* </span>To Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="EndDate" name="EndDate" value="@Model.EndDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblToDate" style="color:red">
                        </span>
                    </div>
                </div>
            }
            else if (Model.routeName == "assetbycustomer")//Added by Adnan 12-7-2019
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2"><span style="color:red">* </span>Start Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="StartDate" name="StartDate" value="@Model.StartDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblFromDate" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"><span style="color:red">* </span>End Date:</div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="EndDate" name="EndDate" value="@Model.EndDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblToDate" style="color:red">
                        </span>
                    </div>
                </div>
            }
            if (Model.routeName != "assetbycustomer")//Added by Adnan 12-7-2019
            {
                <div class="row">                    
                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="Generate" id="BTN" style="color: #399BD3;">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn" style="">
                            <button class="btn btn-default" type="button" id="btnViewChart" style="color: #399BD3; margin-left:10px;">View Chart</button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" value="Reset" name="submit" id="Reset" style="color: #399BD3;margin-left:10px">Reset</button> &nbsp;
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="Generate" id="AssetByCustomerBTN" style="color: #399BD3;" onclick="$('#exportExcel').click()">Generate</button> &nbsp;
                        </span>

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" value="Reset" name="submit" id="Reset" style="color: #399BD3;margin-left:10px">Reset</button> &nbsp;
                        </span>
                    </div>
                </div>
            }
        }
    </div>

</div>