﻿@model OneSourceAdminCore.Model.AssetReportModel

<input type="hidden" value="false" id="datafound" />
<br />

@if (Model.routeName == "assetdepreciationsummary")
{

    <text>
    <div id="content">
        <center>
            <table class="table-responsive depricationsummary" style="display:none;" border="0">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2"><h3>Asset Depreciation Summary :</h3></td>

                    <td></td>
                    <td></td>

                    <td colspan="2"><h3><span class="startdt"></span>&nbsp;&nbsp;&nbsp; through &nbsp;&nbsp;&nbsp;<span class="enddt"></span></h3></td>

                </tr>
                <tr>
                    <td colspan="2">
                        <div class="col-md-12 text-right"><h4>Total # of Affected Assets : &nbsp;&nbsp;&nbsp;<span class="totalaffectedassets"></span></h4></div>
                    </td>

                    <td style="width:50px"></td>
                    <td style="width:50px"></td>
                    <td colspan="2">
                        <div class="col-md-12"><h4>Average Life (months) : &nbsp;&nbsp;&nbsp;<span class="avglife"></span></h4></div>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <div class="col-md-12 text-right"><h4>Total # of Affected Countries : &nbsp;&nbsp;&nbsp;<span class="totalaffectedcountries"></span></h4></div>
                    </td>
                    <td style="width:50px"></td>
                    <td style="width:50px"></td>
                    <td colspan="2">
                        <div class="col-md-12"><h4>Total # of Manufacturers : &nbsp;&nbsp;&nbsp;<span class="totalmfgs"></span></h4></div>
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">
                        <div class="col-md-12"><h4>Total Expired (Fully Depreciated) Assets for Period : &nbsp;&nbsp;&nbsp;<span class="totalexpiredassets"></span></h4></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">
                        <div class="col-md-12"><h4>Value of Expired Assets for Period : &nbsp;&nbsp;&nbsp;<span class="valueofexpiredassets"></span></h4></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">
                        <div class="col-md-12"><h4>Asset Valuation Total as of ( <span class="startdt"></span> ) : &nbsp;&nbsp;&nbsp;<span class="assetvaluationtotalstrdate"></span></h4></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">
                        <div class="col-md-12"><h4>Asset Valuation Total as of ( <span class="enddt"></span> ) : &nbsp;&nbsp;&nbsp;<span class="assetvaluationtotalenddate"></span></h4></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">
                        <div class="col-md-12"><h4>Total Asset Valuation Change for Period : &nbsp;&nbsp;&nbsp;<span class="totalassetvaluationchange"></span></h4></div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </center>
    </div>
    </text>
}
else
{
    <text>

        <div class="col-md-12 table-responsive">
            <div class="row gridDiv">
            </div>
        </div>

    </text>
}
