﻿    @model OneSourceAdminCore.Model.AssetReportModel

@{
    
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = Model.ReportName;    
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}
<script src="~/Content/js/jquery.table2excel.js"></script>
@Html.Partial("~/Views/AssetReports/_ReportFilters.cshtml", Model)
<br />
@Html.Partial("~/Views/AssetReports/_ReportGrids.cshtml", Model)


<div class="modal fade" id="reportChartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding:2%;">
    <div class="modal-dialog" style="width: 90%; padding-top:1% 2%;">

        <div class="modal-content">

            <div class="modal-header" style="padding-bottom:22px;">
                @if (Model.routeName == "assetsbystatus")
                {
                    <span style="font-weight: bold">
                        Assets By:
                    </span>
                    <span>
                        <select id="drpdwnChartSelection" style="width:120px; margin-left:10px;color:#399BD3; border-color:#ccc;">
                            <option selected="selected" value="status">Status</option>
                            <option value="assettype">Asset Type</option>
                        </select>
                    </span>
                }
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="modalbody" style="height:100%; overflow-y:auto; ">
                <div id="chartContainer" style="min-width: 430px; height:100%; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_columnsDrp {
        display: none !important;
    }

    #s2id_customerDrp.asset {
        display: block !important;
    }

    #s2id_customerAddresses {
        display: none !important;
    }

    #s2id_customerCountries {
        display: none !important;
    }

    #s2id_manufacturers {
        display: none !important;
    }

    /*.modal {
        overflow: hidden !important;
    }*/
</style>

<script>
    var routeid = @Model.routeId;
    
    
    var myCompanyId;
    //HIGH CHARTS =================

    function RenderChart(data, xaxis, title, isassettype) {


        Highcharts.setOptions({
            lang: {
                thousandsSep: ','
            }
        });

        var pointformat = "Total Quantity: {point.y:,.0f}";

        var objChart = {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 5,
                beta: 10,
                depth: 50,
                viewDistance: 100
            }
        };

        var lable = {
            style: {
                fontSize: '16px',
                fontFamily: 'Verdana, sans-serif'
            }
        };

        @if (Model.routeName == "assetsbylocation")
        {
            <text>

        objChart = {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 5,
                beta: 10,
                depth: 50,
                viewDistance: 100
            }
        };

        lable = {
            skew3d: true,
            style: {
                fontSize: '16px',
                fontFamily: 'Verdana, sans-serif'
            }
        };

        pointformat = "{series.name}: {point.y:,.0f}<br/>Total Quantity: {point.total:,.0f}";

        </text>
        }
        @if (Model.routeName == "assetsbycountry")
        {
            <text>
            objChart = {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 5,
                    beta: 10,
                    depth: 50,
                    viewDistance: 100
                }
            };

            lable = {
                skew3d: true,
                style: {
                    fontSize: '16px',
                    fontFamily: 'Verdana, sans-serif'
                }
            };

            pointformat = "{series.name}: {point.y:,.0f}<br/>Total Quantity: {point.total:,.0f}";
            </text>
        }

        @if (Model.routeName == "assetsbymanufacturer")
        {
             <text>
            objChart = {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 5,
                    beta: 10,
                    depth: 50,
                    viewDistance: 100
                }
            };

            lable = {
                style: {
                    fontSize: '16px',
                    fontFamily: 'Verdana, sans-serif'
                }
            };

            pointformat = "Total Quantity: {point.y:,.0f}";
            </text>
        }
        @if (Model.routeName == "assetdepreciationsummary")
        {
            <text>
            objChart = {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 5,
                    beta: 10,
                    depth: 50,
                    viewDistance: 100
                }
            };
            lable = {
                skew3d: true,
                style: {
                    fontSize: '16px',
                    fontFamily: 'Verdana, sans-serif'
                }
            };
            pointformat = "Depreciation: {point.y:,.0f}";
            title = "Total Depreciation"
            </text>
        }

        if (isassettype == true) {
            if (data.data[0].data.length > 0) {
                var chart = new Highcharts.chart('chartContainer', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0,
                        }
                    }
                ,
                    title: {
                        text: 'Assets By Type'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y}</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            },
                            depth: 25,
                            showInLegend: true
                        }
                    },
                    series: data.data,
                    credits: {
                        enabled: false
                    },
                    exporting: { enabled: false },
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    align: 'center',
                                    verticalAlign: 'bottom',
                                    layout: 'horizontal'
                                },
                                yAxis: {
                                    labels: {
                                        align: 'left',
                                        x: 0,
                                        y: -5
                                    },
                                    title: {
                                        text: null
                                    }
                                },
                                subtitle: {
                                    text: null
                                },
                                credits: {
                                    enabled: false
                                }
                            }
                        }]
                    }
                });
            }
            else {
                $('#chartContainer').html("<div class='empty-chart' style='font-size:  20px;text-align:  center;padding: 10%;'>No data available for the customer!</div>"); //now show some information about chart
            }

        }
        else {
            var chart = new Highcharts.Chart('chartContainer', {
                chart: objChart,
                title: {
                    text: '@Model.ReportName'
                },
                xAxis: {
                    categories: xaxis,
                    labels: lable
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: title
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: pointformat,
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        depth: 50
                    }
                },
                series: data,
                credits: {
                    enabled: false
                },
                exporting: { enabled: false },
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'bottom',
                                layout: 'horizontal'
                            },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            });
        }

    }

    var startDate;
    var endDate;
    var reportName;
    var companyid;


    $("#btnViewChart").click(function () {
        reportName = $("input[name='ReportName']").val();
        companyid = myCompanyId;

        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {
            showValidationError("Please select customer", "lblCustomer");
            return false;
        }
        @if(Model.routeName == "assetdepreciationsummary")
        {
            <text>
        if (($("#StartDate").val() == "" || $("#StartDate").val() == null || $("#StartDate").val() == "null")) {
            showValidationError("Please enter from date", "lblFromDate");
            return false;
        }
            if (($("#EndDate").val() == "" || $("#EndDate").val() == null || $("#EndDate").val() == "null")) {
                showValidationError("Please enter to date", "lblFromDate");
                return false;
            }
            </text>
        }

        customerid = $("#customerDrp").val();
        var routeName = "";

        var values = { "CustomerId": customerid, "ReportName": reportName, "Companyid": myCompanyId, "RouteName": routeName }

        @if(Model.routeName == "assetsbylocation")
        {               
            <text>            
            var locationid = $("#customerAddresses").val();
            var locationIds = -1;
            if (locationid != null && locationid != "" && locationid != "null")
            {
                    var locationIds = locationid.join(", ");
            }
            values.AddressIDs = locationIds ;
            </text>
        }
        @if(Model.routeName == "assetsbycountry")
        {
            <text>
            var countryId = $("#customerCountries").val();
            var countryIds = -1;
            if (countryId != null && countryId != "" && countryId != "null") {
                var countryIds = countryId.join(", ");
            }
            values.CountryIDs = countryIds;
            </text>
        }
        @if(Model.routeName == "assetsbymanufacturer")
        {
            <text>
            if (($("#manufacturers").val() == "" || $("#manufacturers").val() == null || $("#manufacturers").val() == "0") || $("#manufacturers").val() == "null")
            {
                showValidationError("Please select manufacturer", "lblManufacturer");
                return false;
            }
            var manufacturer = $("#manufacturers").val();
            var manufacturers = -1;
            if (manufacturer != null && manufacturer != "" && manufacturer != "null")
            {
                var manufacturers = manufacturer.join(", ");
            }
            values.ManufacturerIDs = manufacturers;
            </text>
        }

        @if (Model.routeName == "assetdepreciationsummary")
        {
            <text>

            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            values.startDate = startDate; 
            values.EndDate = endDate;
            </text>
        }



        $("#drpdwnChartSelection").val("status");

        StartLoader();
        $.ajax({
            url: '/AssetReports/GetReportChartData',
            type: 'POST',
            data: values,
            cache:false,
            success: function (data, model) {
                myCompanyId = model.CompanyId;
                var result = data.data;
                if (result != null && result != "" && result != undefined) {
                    RenderChart(result.data, result.categories, "Total Quantity", false);
                    $(".gridDiv").html("");
                    $(".depricationsummary").hide();
                    $('#reportChartModal').modal('show');
                }
                else {
                    showNotification("No data available for charts, please try again.");
                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });
        //chartModal
    });

    $(document).ready(function () {

        //$('.modal-body').slimscroll({ destroy: true });
        $("#customerDrp").select2({ allowClear: true });
        $("#customerDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#customerDrp").val("0").trigger("change");
    });

    $("#exportPdf").on("click", function (e) {

        var customerid = $("#customerDrp").val();
        startDate = $("input[name='StartDate']").val();
        endDate = $("input[name='EndDate']").val();
        reportName = $("input[name='ReportName']").val();
        @if (Model.routeName == "assetdepreciationsummary")
         {
             <text>
        if ($("#datafound").val() != "true") {
            showNotification("Please generate the summary.");
            return false;

        }
        else {
            var tbl = $("#content").html().toString();

            var totalaffectedassets = $(".totalaffectedassets").html().toString();
            var avglife = $(".avglife").html().toString();
            var totalaffectedcountries = $(".totalaffectedcountries").html().toString();
            var totalaffectedmfgs = $(".totalmfgs").html().toString();
            var totalexpiredassets = $(".totalexpiredassets").html().toString();
            var valueofexpiredassets = $(".valueofexpiredassets").html().toString();
            var assetvaluationtotalstrdate = $(".assetvaluationtotalstrdate").html().toString();
            var assetvaluationtotalenddate = $(".assetvaluationtotalenddate").html().toString();
            var totalassetvaluationchange = $(".totalassetvaluationchange").html().toString();
            var startdt = $(".startdt").html().toString();
            var enddt = $(".enddt").html().toString();

            $("#pdfTable").val(tbl);

            $("#totalaffectedassets").val(totalaffectedassets);
            $("#avglife").val(avglife);
            $("#totalaffectedcountries").val(totalaffectedcountries);
            $("#totalaffectedmfgs").val(totalaffectedmfgs);
            $("#totalexpiredassets").val(totalexpiredassets);
            $("#valueofexpiredassets").val(valueofexpiredassets);
            $("#assetvaluationtotalstrdate").val(assetvaluationtotalstrdate);
            $("#assetvaluationtotalenddate").val(assetvaluationtotalenddate);
            $("#totalassetvaluationchange").val(totalassetvaluationchange);
            $("#startdt").val(startdt);     
            $("#enddt").val(enddt);
            $("input[name='routeName']").val("@Model.routeName.ToString()");

            $("#ReportExportToPdf").submit();
        }
        </text>
    }
    else
    {
            <text>

        if ($("#datafound").val() != "true") {
            showNotification("Please generate the data");
            return false;
        }
        else {
            $("input[name='CustomerId']").val(customerid);
            $("input[name='StartDate']").val(startDate);
            $("input[name='EndDate']").val(endDate);
            $("input[name='ReportName']").val(reportName);
            $("input[name='CompanyId']").val(myCompanyId);
            $("#ReportExportToPdf").submit();
        }
        </text>
    }
    });

    $("#exportExcel").on("click", function (e) {

        var customerid = $("#customerDrp").val();
        startDate = $("input[name='StartDate']").val();
        endDate = $("input[name='EndDate']").val();
        reportName = $("input[name='ReportName']").val();

        var myvalues = { "CustomerId": customerid, "StartDate": startDate, "EndDate": endDate, "ReportName": reportName, "CompanyId": myCompanyId }

        @if (Model.routeName == "assetdepreciationsummary")
        {
            <text>
            if ($("#datafound").val() != "true") {
                showNotification("Please generate the summary.");
                return false;

            }
            else {
                $(".depricationsummary").table2excel({
                    filename: "AssetDepreciationSummary.xls"
                });
            }
            </text>
        }
        else if (Model.routeName == "assetbycustomer")
        {

            <text>
            if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {
                showValidationError("Please select customer", "lblCustomer");
                return false;
            }
            if (($("#StartDate").val() == "" || $("#StartDate").val() == null || $("#StartDate").val() == "null")) {
                showValidationError("Please enter start date", "lblFromDate");

                return false;
            }
            if (($("#EndDate").val() == "" || $("#EndDate").val() == null || $("#EndDate").val() == "null")) {
               showValidationError("Please enter end date", "lblToDate");
                return false;
            }
            else {
                 $("input[name='RouteId']").val(routeid);
                 $("#StartDate").val(startDate);
                 $("#EndDate").val(endDate);
                 $("#ReportName").val(reportName);
                 $("input[name='routeName']").val("@Model.routeName.ToString()");

                 $("#ReportExportToExcel").submit();               
            }
            </text>
        }
        else
        {
            <text>
            if ($("#datafound").val() != "true") 
            {
                showNotification("Please generate the data");
                return false;
            }
            else
            {
                $("input[name='CustomerId']").val(customerid);
                $("#StartDate").val(startDate);
                $("#EndDate").val(endDate);
                $("#ReportName").val(reportName);
                $("input[name='CompanyId']").val(myCompanyId);
                $("#ReportExportToExcel").submit();
            }
            </text>
        }
    });

    $('#ReportForm').submit(function () {
        StartLoader();
    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    function getcountriesbycustomer(customerId, selectedId) {

        if (customerId <= 0) {

            $("#customerCountries").html("");
            $("#customerCountries").multipleSelect(
            {
                placeholder: 'All selected',
                filter: true,
                allowClear: true,
                includeSelectAllOption: true,
                selectAllValue: -1
            });
            $("#customerCountries").select2({ width: 'resolve' });

            $('.customerCountries input:checkbox').prop('checked', true);
            return false;
        }
        $.ajax({
            url: '/AssetReports/GetCountryByCustomerId?customerId=' + customerId + "&selectedId=" + selectedId,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var options = '';

                if (data != null) {
                    $.each(data, function (index, item) {
                        options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                    });
                    $("#customerCountries").html(options);
                    if (data != null && data.length > 0) {
                        $("#customerCountries").val(data[0].SelectedId);
                        $("#customerCountries").multipleSelect(
                                {
                                    placeholder: 'All selected',
                                    filter: true,
                                    allowClear: true,
                                    includeSelectAllOption: true,
                                    selectAllValue: -1
                                });
                        $("#customerCountries").select2({ width: 'resolve' });
                        $('.customerCountries input:checkbox').prop('checked', true);

                    }
                    else {
                        $("#customerCountries").html("");
                        $("#customerCountries").multipleSelect(
                              {
                                  placeholder: 'All selected',
                                  filter: true,
                                  allowClear: true,
                                  includeSelectAllOption: true,
                                  selectAllValue: -1
                              });
                        $("#customerCountries").select2({ width: 'resolve' });
                        $('.customerCountries input:checkbox').prop('checked', true);

                    }
                }
                else {

                    $("#customerCountries").html("");
                    $("#customerCountries").multipleSelect(
                              {
                                  placeholder: 'All selected',
                                  filter: true,
                                  allowClear: true,
                                  includeSelectAllOption: true,
                                  selectAllValue: -1
                              });
                    $("#customerCountries").select2({ width: 'resolve' });
                    $('.customerCountries input:checkbox').prop('checked', true);

                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });

    }

    function getLocationsByCustomer(customerId, selectedId) {

        if (customerId <= 0) {

            $("#customerAddresses").html("");
            $("#customerAddresses").multipleSelect(
                               {
                                   placeholder: 'All selected',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
            $("#customerAddresses").select2({ width: 'resolve' });

            $('.customerAddresses input:checkbox').prop('checked', true);


            return false;
        }
        StartLoader();
        $.ajax({
            url: '/AssetReports/GetAddressesByCustomerId?customerId=' + customerId + "&selectedId=" + selectedId,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                EndLoader();
                var options = "";
                if (data != null) {
                    $.each(data, function (index, item) {
                        options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                    });
                    $("#customerAddresses").html(options);
                    if (data != null && data.length > 0) {
                        $("#customerAddresses").val(data[0].SelectedId);
                        $("#customerAddresses").multipleSelect(
                                {
                                    placeholder: 'All selected',
                                    filter: true,
                                    allowClear: true,
                                    includeSelectAllOption: true,
                                    selectAllValue: -1
                                });
                        $("#customerAddresses").select2({ width: 'resolve' });
                        $('.customerAddresses input:checkbox').prop('checked', true);

                    }
                    else {
                        $("#customerAddresses").html("");
                        $("#customerAddresses").multipleSelect(
                                           {
                                               placeholder: 'All selected',
                                               filter: true,
                                               allowClear: true,
                                               includeSelectAllOption: true,
                                               selectAllValue: -1
                                           });
                        $("#customerAddresses").select2({ width: 'resolve' });

                        $('.customerAddresses input:checkbox').prop('checked', true);

                    }
                }
                else {

                    $("#customerAddresses").html("");
                    $("#customerAddresses").multipleSelect(
                                       {
                                           placeholder: 'All selected',
                                           filter: true,
                                           allowClear: true,
                                           includeSelectAllOption: true,
                                           selectAllValue: -1
                                       });
                    $("#customerAddresses").select2({ width: 'resolve' });

                    $('.customerAddresses input:checkbox').prop('checked', true);

                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });

    }


    $("#BTN").on("click", function (e) {
        var reportName = $("input[name='ReportName']").val();
        
        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {
            showValidationError("Please select customer", "lblCustomer");
            return false;
        }
        @if(Model.routeName == "assetdepreciationsummary")
        {
            <text>
            if (($("#StartDate").val() == "" || $("#StartDate").val() == null || $("#StartDate").val() == "null")) {
                showValidationError("Please enter from date", "lblFromDate");
                return false;
            }
            if (($("#EndDate").val() == "" || $("#EndDate").val() == null || $("#EndDate").val() == "null")) {
                showValidationError("Please enter to date", "lblToDate");
                return false;
            }
            </text>
        }
        var customerid = $("#customerDrp").val();
        var values = { "CustomerId": customerid, "ReportName": reportName}
      
        @if(Model.routeName == "assetsbylocation")
        {
            <text>
            var locationid = $("#customerAddresses").val();
            var locationIds = -1;
            if (locationid != null && locationid != "" && locationid != "null") {
                var locationIds = locationid.join(", ");
            }
            values = { "CustomerId": customerid, "AddressIDs": locationIds }
            </text>
        }

        @if(Model.routeName == "assetsbycountry")
        {
            <text>
            var countryId = $("#customerCountries").val();
            var countryIds = -1;
            if (countryId != null && countryId != "" && countryId != "null") {
                var countryIds = countryId.join(", ");
            }
            values = { "CustomerId": customerid, "CountryIDs": countryIds }
            </text>
        }
        @if(Model.routeName == "assetsbymanufacturer")
        {
            <text>
            if (($("#manufacturers").val() == "" || $("#manufacturers").val() == null || $("#manufacturers").val() == "0") || $("#manufacturers").val() == "null") {
                showValidationError("Please select manufacturer", "lblManufacturer");
                return false;
            }
            var manufacturer = $("#manufacturers").val();
            var manufacturers = -1;
            if (manufacturer != null && manufacturer != "" && manufacturer != "null") {
                var manufacturers = manufacturer.join(", ");
            }
            values = { "CustomerId": customerid, "ManufacturerIDs": manufacturers }
            </text>
        }

        @if (Model.routeName == "assetdepreciationsummary")
        {
            <text>
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();     
            values = { "CustomerId": customerid, "StartDate": startDate, "EndDate": endDate }
            </text>
        }

        $(".gridDiv").html("");
        $(".gridDiv").html("<table id='grid'></table>");
        values["ReportName"] = reportName;
        StartLoader();
        $.ajax({
            url: "/AssetReports/GetReportData",
            type: "POST",
            data: values,
            success: function (data) {            
                EndLoader();
                myCompanyId = data.model;
                @if (Model.routeName == "assetdepreciationsummary")
                {
                    <text>
                    if (data.data != null && data.data != "" && data.data != "[]" && data.msg != "DateError") {

                        $("#datafound").val('true');
                        var summary = JSON.parse(data.data);
                        $(".startdt").html(summary.StartDate);
                        $(".enddt").html(summary.EndDate);
                        $(".totalaffectedassets").html(addCommas(summary.TotalNumberOfAffectedAssets));
                        $(".avglife").html(addCommas(summary.AverageLife));
                        $(".totalaffectedcountries").html(addCommas(summary.TotalNumberOfAffectedCountries));
                        $(".totalmfgs").html(addCommas(summary.TotalNumberOfAffectedManufacturers));
                        $(".totalexpiredassets").html(addCommas(summary.TotalExpiredAssets));
                        $(".valueofexpiredassets").html(addCommas(summary.ValueForExpiredAssets));
                        $(".assetvaluationtotalstrdate").html(addCommas(summary.AssetValuationTotalForStartDate));
                        $(".assetvaluationtotalenddate").html(addCommas(summary.AssetValuationTotalorEndDate));
                        $(".totalassetvaluationchange").html(addCommas(summary.TotalAssetValuationChange));
                        $(".depricationsummary").show();
                    }
                    else {
                        if (data.msg == "DateError")
                        {
                            $(".depricationsummary").hide();
                            showNotification("From Date should not be greater than To Date");
                        }
                        else
                        {
                            $(".depricationsummary").hide();
                           showNotification("No records found.");
                        }
                    }
                    </text>
                }
                else
                {
                    <text>
                    if (data.msg != null && data.msg != "") {
                        if (data.msg == "DateError") {
                            showNotification("From Date should not be greater than To Date!");
                        }
                        else
                        {
                            showNotification(data.msg);
                        }
                    }
                    else if(data.data!=null && data.data!="")
                    {
                        var table = JSON.parse(data.data);                     
                        var tableObj = [];
                        if (table.length > 0)
                        {
                            $("#datafound").val('true');
                            for (i = 0; i < Object.keys(table[0]).length; i++) {
                                var obj = {};
                                obj.field = Object.keys(table[0])[i];
                                obj.width = 100;
                                obj.sortable = true;
                                obj.align = 'center';
                                obj.headerCssClass = 'headerClass';
                                obj.cssClass = 'rowClass';
                                tableObj.push(obj);
                            }
                        }
                        if (table.length > 50) {
                            var grid = $('#grid').grid({
                                dataSource: table,
                                columns: tableObj,
                                pager: { limit: 50, sizes: [50, 100, 500, 1000] },
                                cache: false,
                                uiLibrary: 'bootstrap'
                            });
                        }
                        else
                        {
                            var grid = $('#grid').grid({
                                dataSource: table,
                                columns: tableObj,
                                pager:null,
                                cache: false,
                                uiLibrary: 'bootstrap'
                            });
                        }

                        var refreshButton = $("button[data-role='page-refresh']");
                        if (refreshButton != undefined) {
                            refreshButton.hide();
                        }
                        var selectCounter = $("select[data-role='page-size']")[0];
                        if (selectCounter != undefined) {
                            selectCounter.style.width = "80px";
                        }
                    }
                    else
                    {
                        showNotification("Something went wrong, please try again later!");
                    }

                    </text>
                }


            }
        });
    });

    $("#customerDrp").change(function () {
        var customerId = $(this).val();

        @if (Model.routeName == "assetsbylocation")
        {
            <text>
            $('.ms-choice').removeAttr('disabled');
            var selectedId = $("#customerAddresses").val();
            if (selectedId == null || selectedId == "" || selectedId == "null") {
                selectedId = -1;
            }
            //console.log(customerId, selectedId);
            getLocationsByCustomer(customerId, selectedId);
            </text>
        }

        @if (Model.routeName == "assetsbycountry")
        {
            <text>
            $('.ms-choice').removeAttr('disabled');
            var selectedId = $("#customerAddresses").val();
            if (selectedId == null || selectedId == "" || selectedId == "null") {
                selectedId = -1;
            }
            //console.log(customerId, selectedId);
            getLocationsByCustomer(customerId, selectedId);


            selectedId = $("#customerCountries").val();
            if (selectedId == null || selectedId == "" || selectedId == "null") {
                selectedId = -1;
            }
            //console.log(customerId, selectedId);
            getcountriesbycustomer(customerId, selectedId);

            </text>
        }
        @if (Model.routeName == "assetbycustomer")
        {
            <text>
            $("#customerId").val(customerId)
            </text>

        }

    });

    @if (Model.routeName == "assetbycustomer")
    {
        <text>
        $("#StartDate").change(function () {
            $('#startDate').val($(this).val());

        });

        $("#EndDate").change(function () {
            $('#endDate').val($(this).val());

        });
        $(document).ready(function () {

            var dateToday = new Date();
            $('.date-picker').datepicker({
                autoclose: true
            });

            @if (Session["ErrorMessage"] != null)
            {
             if (Session["ErrorMessage"].ToString() == "NoData")
             {
                <text>
        showNotification("No Record Found");
                </text>
                 }
             }
        });

        </text>
    }
    @if(Model.routeName == "assetsbylocation")
    {
        <text>

        $(document).ready(function () {

            $("#customerAddresses").multipleSelect(
                                    {
                                        placeholder: 'All selected',
                                        filter: true,
                                        allowClear: true,
                                        includeSelectAllOption: true,
                                        selectAllValue: -1
                                    });
            $("#customerAddresses").select2({ width: 'resolve' });
            $('.ms-choice').attr('disabled', 'disabled');


            @if (Session["ErrorMessage"] != null)
            {
                if (Session["ErrorMessage"].ToString() == "NoCustomerError")
                {
                    <text>
            //showNotification("Please select customer.");
            showValidationError("Please select customer", "lblCustomer");
            </text>
                }
                if(Session["ErrorMessage"].ToString() == "DateError")
                {
                    <text>
            showNotification("From date should not be greater than to date");
            </text>
                }
                if(Session["ErrorMessage"].ToString() == "NoData")
                {
                    <text>
            showNotification("Please generate the data");
            </text>
                }
                if(Session["ErrorMessage"].ToString() == "Error")
                {
                    <text>
            showNotification("Something went wrong,please try again later!");
            </text>
                }
            }
        });
        </text>
    }
    @if (Model.routeName == "assetsbycountry")
    {
        <text>
    $(document).ready(function () {

        $("#customerCountries").multipleSelect(
                                    {
                                        placeholder: 'All selected',
                                        filter: true,
                                        allowClear: true,
                                        includeSelectAllOption: true,
                                        selectAllValue: -1
                                    });
        $("#customerCountries").select2({ width: 'resolve' });
        $('.ms-choice').attr('disabled', 'disabled');

        @if (Session["ErrorMessage"] != null)
    {
        if (Session["ErrorMessage"].ToString() == "NoCustomerError")
        {
            <text>
        //showNotification("Please select customer.");
        showValidationError("Please select customer", "lblCustomer");

        </text>
        }
        if(Session["ErrorMessage"].ToString() == "DateError")
        {
            <text>
        showNotification("From date should not be greater than to date");
        </text>
        }
        if(Session["ErrorMessage"].ToString() == "NoData")
        {
            <text>
        showNotification("Please generate the data");
        </text>
        }
        if(Session["ErrorMessage"].ToString() == "Error")
        {
            <text>
        showNotification("Something went wrong,please try again later!");
        </text>
        }
    }

    })

    </text>
    }
    @if (Model.routeName == "assetsbymanufacturer")
    {
         <text>
    $(document).ready(function () {

        $("#manufacturers").multipleSelect(
                                {
                                    placeholder: '--Select--',
                                    filter: true,
                                    allowClear: true,
                                    includeSelectAllOption: false,
                                    selectAllValue: -1
                                });
        $("#manufacturers").select2({ width: 'resolve' });
        $("#manufacturers").select().val("-1").trigger("change");
        $(".ms-select-all").hide()

    });

    @if (Session["ErrorMessage"] != null)
        {
            if (Session["ErrorMessage"].ToString() == "NoCustomerError")
            {
                <text>
    showValidationError("Please select customer", "lblCustomer");
    </text>
            }
            if(Session["ErrorMessage"].ToString() == "DateError")
            {
                <text>
    showNotification("From date should not be greater than to date");
    </text>
            }
            if(Session["ErrorMessage"].ToString() == "NoData")
            {
                <text>
    showNotification("Please generate the data");
    </text>
            }
            if(Session["ErrorMessage"].ToString() == "Error")
            {
                <text>
    showNotification("Something went wrong,please try again later!");
    </text>
            }
        }

    </text>
    }
    @if (Model.routeName == "assetdepreciationsummary")
 {
     <text>
    $(document).ready(function () {

        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });

    });

    function demoFromHTML() {
        var doc = new jsPDF('p', 'pt', 'a4');
        //A4 - 595x842 pts
        //https://www.gnu.org/software/gv/manual/html_node/Paper-Keywords-and-paper-size-in-points.html


        //Html source
        var source = document.getElementById('content').innerHTML;

        var margins = {
            top: 10,
            bottom: 10,
            left: 10,
            width: 595
        };

        doc.fromHTML(
          source, // HTML string or DOM elem ref.
          margins.left,
          margins.top, {
              'width': margins.width
          },

          function (dispose) {
              doc.save('Test.pdf');
          }, margins);
    }
    </text>
 }
    @if (Model.routeName == "assetsbystatus")
 {
     <text>
    $("#drpdwnChartSelection").change(function () {

        var charttype = $("#drpdwnChartSelection").val();

        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {

            showValidationError("Please select customer", "lblCustomer");
            return false;
        }
        @if(Model.routeName == "assetdepreciationsummary")
        {
            <text>
        if (($("#StartDate").val() == "" || $("#StartDate").val() == null || $("#StartDate").val() == "null")) {

            //showNotification("Please enter start date.");
            showValidationError("Please enter from date", "lblFromDate");

            return false;
        }
            if (($("#EndDate").val() == "" || $("#EndDate").val() == null || $("#EndDate").val() == "null")) {

                showValidationError("Please enter to date", "lblFromDate");

                return false;
            }
            </text>
        }
        var customerid = $("#customerDrp").val();

        var values = { "CustomerId": customerid }

        @if(Model.routeName == "assetsbylocation")
        {
            <text>

    var locationid = $("#customerAddresses").val();
            var locationIds = -1;
            if (locationid != null && locationid != "" && locationid != "null") {
                var locationIds = locationid.join(", ");
            }

            values = { "CustomerId": customerid, "AddressIDs": locationIds }

            </text>
        }

        @if(Model.routeName == "assetsbycountry")
        {
            <text>

        var countryId = $("#customerCountries").val();
            var countryIds = -1;
            if (countryId != null && countryId != "" && countryId != "null") {
                var countryIds = countryId.join(", ");
            }

            values = { "CustomerId": customerid, "CountryIDs": countryIds }

            </text>
        }
        @if(Model.routeName == "assetsbymanufacturer")
        {
            <text>

        var manufacturer = $("#manufacturers").val();
            var manufacturers = -1;
            if (manufacturer != null && manufacturer != "" && manufacturer != "null") {
                var manufacturers = manufacturer.join(", ");
            }

            values = { "CustomerId": customerid, "ManufacturerIDs": manufacturers }

            </text>
        }

        @if (Model.routeName == "assetdepreciationsummary")
        {
            <text>

        var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            values = { "CustomerId": customerid, "StartDate": startDate, "EndDate": endDate }
            </text>
        }


        var url = '/AssetReports/GetReportChartData';
        if (charttype == "assettype") {
            var url = '/AssetReports/GetReportChartData?assetType=true';
        }
        StartLoader();
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data:values,
            success: function (data) {
                var result = data.data;
                if (result != null && result != "" && result != undefined) {
                    if (charttype == "assettype") {
                        $("#drpdwnChartSelection").val("assettype");
                        RenderChart(data, result.categories, "Total Quantity", true);
                    }
                    else {
                        $("#drpdwnChartSelection").val("status");
                        RenderChart(result.data, result.categories, "Total Quantity", false);
                    }
                    $(".gridDiv").html("");
                    $(".depricationsummary").hide();
                    $('#reportChartModal').modal('show');
                }
                else {
                    showNotification("No data available for charts, please try again.");
                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });
        //chartModal

    });
    </text>
 }

    function addCommas(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function showValidationError(msg,lable) {
        $('#' + lable).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }

</script>