﻿@model OneSourceAdminCore.Model.RequestEngineerLevelModel
@{
    ViewBag.Title = "Map Request to Engineer";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>

<script>
    var myApp = angular.module("myModule", []);
    myApp.controller("myController", function ($scope, $http) {
        $scope.getRequestTypePrioriry = function (id,companyId) {
            StartLoader();
            $scope.$apply(function () {
                $scope.priorities = null;            
                $scope.requesttypes = null;
            });
            if (id == "") {
                id = 0;
                companyId = 0;
            }
            $http.get('/RequestEngineerLevel/GetPriorityRequestType' + '?' + new Date().toString(), { params: { customerid: id, companyId: companyId } }).success(function (response) {
                $scope.priorities = response.priorities;
                $scope.requesttypes = response.requesttypes;

            });
            EndLoader();

        };
        $scope.reset = function () {
            $('#CustomerID').val('').removeAttr('disabled');
            $('#CustomerId').val('');
            $('#CustomerName').val('');
            $('#EngineerLevelMappingId').val('');
                $scope.priorities = null;
                $scope.requesttypes = null;
                $scope.getRequestTypePrioriry(0,0);
        };
     
    });
</script>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Map Request to Engineer </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
<div ng-app="myModule" ng-controller="myController" id="myController">
    @if (ViewBag.AddEditAccess == true)
    {
        using (Html.BeginForm("UpdateRequestEngineerLevel", "RequestEngineerLevel", FormMethod.Post, new { @id = "RequestEngineerLevelForm" }))
        {
        @*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
            <div class="col-md-4">
                <h1 style="color: #fff;">Request Engineer Level</h1>
            </div>
            <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
            </div>
            <div class="col-md-4"></div>
        </div>*@

        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Customer</label>
                    <div class="col-md-6">
                        <input type="hidden" name="CustomerName" id="CustomerName">
                        <input type="hidden" name="CustomerId" id="CustomerId">
                        <input type="hidden" name="EngineerLevelMappingId" id="EngineerLevelMappingId">
                        <input type="hidden" name="Month">
                        <input type="hidden" name="Year">

                        <select class="form-control " id="CustomerID" valueFor="CustomerName" idFor="CustomerId" tabindex="-1">
                            <option value="">None</option>
                            @foreach (var item in Model.Customers)
                            {

                                <option value="@item.CustomerId" companyId="@item.ParentCompanyId" >@item.CustomerName</option>
                            }
                        </select>


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Request Type</label>
                    <div class="col-md-6">
                        <select class="form-control " id="RequestId" name="RequestId" tabindex="-1">
                            <option value="">--Select--</option>
                            <option ng-repeat="row in requesttypes" value="{{row.RequestId}}">{{row.RequestTypeName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Engineer Level</label>
                    <div class="col-md-6">
                      
                        <select class="form-control " id="PriorityId" name="PriorityId" tabindex="-1">
                            <option value="">--Select--</option>
                            <option ng-repeat="row in priorities" value="{{row.PriorityId}}">{{row.PriorityName}}</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 15px;">

            <div class="col-md-4"></div>
            <div class="col-md-7" style=" padding-left: 23px;">
                <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per" ng-click="reset()">Reset</button>
            </div>
            <br>
            <br>
        </div>
        }
    }
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            @using GridMvc.Html;
            @if (Model.EngineeringLevelData != null && Model.EngineeringLevelData.Count > 0)
            {
                @Html.Grid(Model.EngineeringLevelData).Columns(columns =>
              {
                  columns.Add(C => C.CustomerName).Sortable(true).Filterable(true).Titled("Customer").Encoded(false).Sanitized(false).SetWidth(5)
        .RenderValueAs(o => @<span><input type="hidden" value="@o.EngineerLevelMappingId"><input type="hidden" value="@o.CustomerId"><input type="hidden" value="@o.PriorityId"><input type="hidden" value="@o.RequestId">@(String.IsNullOrEmpty(o.CustomerName)==true?"All Customer": o.CustomerName)</span>);
              columns.Add(c => c.ARTypeName).Sortable(true).Filterable(true).Titled("Request Type").SetWidth(30);
              columns.Add(c => c.PriorityName).Sortable(true).Filterable(true).Titled("Engineer").SetWidth(30);
              if(ViewBag.AddEditAccess == true)
              {
                  columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
          RenderValueAs(o => @<a style="color:blue" onclick="EditAlert(this)">Edit </a>);
                  columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
                       RenderValueAs(o => @<a style="color:blue" onclick="DeleteAlert(this)">Delete </a>);
                  }

              }).WithPaging(15)
            }
        </div>
    </div>

    <script>

        $('#CustomerID').change(function () {
           
            $('.grid-row').each(function () {
                StartLoader();
                var grid = $(this);
                if ($(grid.find('input')[1]).val() == '0') $(grid.find('input')[1]).val('');
                if ($(grid.find('input')[1]).val() == $('#CustomerID').val()) {
                    EndLoader();
                    $(grid.find('a')[0]).click();
                }

            });
           
            var companyId = $('#' + $(this).attr('id') + " option:selected").attr('companyid');
            angular.element(document.getElementById('myController')).scope().getRequestTypePrioriry($(this).val(), companyId);

        });

        function DeleteAlert(event) {
            if (confirm("Are you sure you want to delete this record?")) {
                StartLoader();
                var EngineerLevelMappingId = $(event).parent().parent().find('input:hidden').val();
                window.location.href = '/RequestEngineerLevel/Delete?id=' + EngineerLevelMappingId;
            }
        }
        $('#RequestEngineerLevelForm').submit(function () {
            StartLoader();
            if ( $('#RequestId').val() == "" || $('#PriorityId').val() == "") {
                alert("Please provide Request Type and Priority");
                EndLoader();
                return false;
               
            }

        });

        function EditAlert(event) {
           
            var id = $($(event).parent().parent().find('input:hidden')[0]).val();
            $('#EngineerLevelMappingId').val(id);           

            var customerId = $($(event).parent().parent().find('input:hidden')[1]).val();
            $('#CustomerID').val(customerId == '0' ? '' : customerId).attr('disabled', 'disabled');
            $('#CustomerId').val(customerId);
            $('#CustomerName').val($('#CustomerID option:selected').text().trim());
            var companyId = $('#CustomerID option:selected').attr('companyid');
            var requestId = $($(event).parent().parent().find('input:hidden')[3]).val();
            var priorityid = $($(event).parent().parent().find('input:hidden')[2]).val();
            if (companyId == undefined) companyId = 0;
            angular.element(document.getElementById('myController')).scope().getRequestTypePrioriry(customerId, companyId);
            StartLoader();
            setTimeout(function () {
                $('#RequestId').val(requestId);
                $('#PriorityId').val(priorityid);
                EndLoader();
            }, 1000);

            



            $('body').animate({ scrollTop: 0 }, 'slow');
        }
        $(document).ready(function () {
            StartLoader();
            angular.element(document.getElementById('myController')).scope().getRequestTypePrioriry(0, 0);

            setTimeout(function () {
                $('.alert-info').slideUp();
            }, 2000);
        });
        $(window).load(function () {
            EndLoader();
        });     
        $(document).ready(function () {
            $(".page-sidebar-menu").find(".settings").addClass("open");
            $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
            $(".page-sidebar-menu .settings").find(".requestengineersetting").addClass("active");
        });
    </script>
