﻿@model OneSourceAdminCore.Model.CatalogReportModel
@{
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-7" style="padding: 10px; color: #FFF;">
        @{
            <b> Reports > @Model.parentName > @Model.reportName </b>
        }
    </div>


    <div class="col-md-5" style="padding: 7px; text-align:right;">
        <div style="float:right">
            @using (Html.BeginForm("RedirectToParent", "CatalogReports", FormMethod.Post, new { @id = "CatalogReportsRedirectToParent" }))
            {
                <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
                <input type="hidden" name="routeName" id="routeName" value="@Model.routeName">
                <input type="hidden" name="reportName" id="reportName" value="@Model.reportName">
                <input type="hidden" name="parentRouteId" id="parentRouteId" value="@Model.parentRouteId" />
                    <input type="hidden" name="parentName" id="parentName" value="@Model.parentName" />
                    <input type="hidden" name="parentRoute" id="parentRoute" value="@Model.parentRoute" />

                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;">Back</button>
            }
        </div>

        @using (Html.BeginForm(Model.excelAction, "CatalogReports", FormMethod.Post, new { @id = "CatalogReportsFormExcel" }))//Adnan 18-june-2019
        {
            <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
            <input type="hidden" name="routeName" id="routeName" value="@Model.routeName">
            <input type="hidden" name="reportName" id="reportName" value="@Model.reportName">
            <input type="hidden" name="parentRouteId" id="parentRouteId" value="@Model.parentRouteId" />
                    <input type="hidden" name="parentName" id="parentName" value="@Model.parentName" />
                    <input type="hidden" name="parentRoute" id="parentRoute" value="@Model.parentRoute" />


            if (Model.routeName == "bundlesandassociatedparts")//Adnan 18-june-2019
            {
                <input type="hidden" name="CustomerIds" id="customerIds" value="0">
                <input type="hidden" name="CatalogStandardId" id="catalogStandardId" value="0">
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px;">Export to excel</button>

            }
            else if (Model.routeName == "eolproducts")//Adnan 18-june-2019
            {
                <input type="hidden" name="customerId" id="customerId" value="0">
                <input type="hidden" name="catalogTypeId" id="catalogTypeId" value="1">
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px; visibility:hidden">Export to excel</button>
            }
            else if (Model.routeName == "msrp")
            {
                <input type="hidden" name="customerId" id="customerId" value="0">
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px; visibility:hidden">Export to excel</button>
            }
            else if (Model.routeName == "customerproductbyoem")//Adnan 19-june-2019
            {
                <input type="hidden" name="customerId" id="customerId" value="0">
                <input type="hidden" name="manufacturerId" id="manufacturerId" value="1">
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px; visibility:hidden">Export to excel</button>

            }
            else if (Model.routeName == "catalogcategorybycustomer")//Adnan 27-june-2019
            {
                <input type="hidden" name="customerId" id="customerId" value="0">
                <input type="hidden" name="partcategoryId" id="partcategoryId" value="0">
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px;">Export to excel</button>

            }
            else if (Model.routeName == "catalogbycountry")//Adnan 28-june-2019
            {
                <input type="hidden" name="customerId" id="customerId" value="0">
                <input type="hidden" name="countryId" id="countryId" value="0">
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px;">Export to excel</button>

            }
            else if (Model.routeName == "expiringproducts")
            {
                
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px; visibility:hidden">Export to excel</button>

            }
        }

    </div>
</div>
@if (Model.routeName == "expiringproducts")
{
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-12" id="openOrdersMessage">
                <div style="font-size:large;margin-top:10px;margin-bottom:0px;" class="alert alert-warning text-center">Please <a style="color:blue" id="exportFromLink" onclick="$('#exportExcel').click()">click here</a> to export to excel</div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row" style="margin-top:48px;">

        <div class="col-md-8 col-md-offset-3">
            @if (Model.routeName == "bundlesandassociatedparts")//Adnan 18-june-2019
            {
                using (Html.BeginForm("GetReportData", "SupportReports", FormMethod.Post, new { @id = "SupportReportForm" }))
                {
                    if (Model.routeName == "bundlesandassociatedparts")
                    {
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                Customer:
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                    {
                                        @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
                             "CustomerId", "CustomerName"),
                             new { @id = "customerDrp", @idFor = "CustomerId", @valueFor = "CustomerName", @class = "Catalog", @tabindex = "-1", @multiple = "multiple" });
                                    }
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                <span id="lblCustomer" style="color:red">
                                </span>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="col-md-2">
                                Bundles:
                            </div>
                            <div class="col-md-6">
                                <div class="form-group catalogDrp">
                                    <select id="catalogDrp" multiple="multiple" class="Catalog"></select>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                <span id="lblCatalog" style="color:red">

                                </span>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2 col-md-offset-2" style="text-align:left; ">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Generate</button> &nbsp;
                                </span>
                                <span class="input-group-btn" style="">
                                    <a href="/CatalogReports/Index/@(Model.routeId)" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                                </span>
                            </div>
                        </div>
                    }


                }
            }
            else if (Model.routeName == "eolproducts")//Adnan 18-june-2019
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                            {
                                @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
                             "CustomerId", "CustomerName"),
                             new { @id = "ddlCustomer", @idFor = "CustomerId", @valueFor = "CustomerName", @class = "Catalog", @tabindex = "-1" });
                            }
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red">
                        </span>
                    </div>
                </div>

                <div class="row" style="">
                    <div class="col-md-2">
                        Catalog Type :
                    </div>
                    <div class="col-md-6">
                        <div class="form-group catalogDrp">
                            <select id="ddlCatalogType" name="CatalogTypeID" class="ddlCatalogType">
                                <option value="1">Global</option>
                                <option value="2">Domestic</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCatalog" style="color:red">
                        </span>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="text-align:left;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;" onclick="$('#exportExcel').click()">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn" style="">
                            <a href="/CatalogReports/Index/@(Model.routeId)" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                        </span>
                    </div>
                </div>
            }
            else if (Model.routeName == "msrp")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                            {
                                @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
                             "CustomerId", "CustomerName"),
                             new { @id = "ddlCustomer", @idFor = "CustomerId", @valueFor = "CustomerName", @class = "Catalog", @tabindex = "-1" });
                            }
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="text-align:left;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;" onclick="$('#exportExcel').click()">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn" style="">
                            <a href="/CatalogReports/Index/@(Model.routeId)" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                        </span>
                    </div>
                </div>
            }
            else if (Model.routeName == "customerproductbyoem")//Adnan 19-june-2019
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                            {
                                @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
                     "CustomerId", "CustomerName"),
                     new { @id = "ddlCustomer", @idFor = "CustomerId", @valueFor = "CustomerName", @class = "Catalog", @tabindex = "-1" });
                            }
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red">
                        </span>
                    </div>
                </div>

                <div class="row" style="">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        OEM :
                    </div>
                    <div class="col-md-6">
                        <div class="form-group catalogDrp">
                            <select id="ddlManufacturer" name="CatalogTypeID" class="ddlManufacturer">
                                @foreach (var item in Model.ListManufacturer)
                                {
                                    <option value="@item.Key">@item.Value</option>

                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblManufacturer" style="color:red">
                        </span>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="text-align:left;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;" onclick="$('#exportExcel').click()">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn" style="">
                            <a href="/CatalogReports/Index/@(Model.routeId)" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                        </span>
                    </div>
                </div>
            }
            else if (Model.routeName == "catalogcategorybycustomer")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                            {
                                @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
                 "CustomerId", "CustomerName"),
                 new { @id = "ddlCustomer", @idFor = "CustomerId", @valueFor = "CustomerName", @class = "Catalog", @tabindex = "-1" });
                            }
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Category :
                    </div>
                    <div class="col-md-6">
                        <div class="form-group PartCategoryDrp">
                            <select id="ddlPartCategory" name="PartCategoryID" class="ddlPartCategory">
                                @foreach (var item in Model.ListPartCategories)
                                {
                                    <option value="@item.Key">@item.Value</option>

                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblPartCategory" style="color:red">
                        </span>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn" style="">
                            <a href="/CatalogReports/Index/@(Model.routeId)" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                        </span>
                    </div>
                </div>
            }
            else if (Model.routeName == "catalogbycountry")//Adnan 28-june-2019
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                            {
                                @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
             "CustomerId", "CustomerName"),
             new { @id = "ddlCustomer", @idFor = "CustomerId", @valueFor = "CustomerName", @class = "Catalog", @tabindex = "-1" });
                            }
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red">
                        </span>
                    </div>
                </div>
                <div class="row" style="">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Country :
                    </div>
                    <div class="col-md-6">
                        <div class="form-group CountryDrp">
                            <select id="ddlCountry" name="CountryID" class="ddlCountry">
                                @foreach (var item in Model.ListCountries)
                                {
                                    <option value="@item.Key">@item.Value</option>

                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCountry" style="color:red">
                        </span>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn" style="">
                            <a href="/CatalogReports/Index/@(Model.routeId)" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                        </span>
                    </div>
                </div>
            }
          
        </div>
    </div>
}

