﻿@model OneSourceAdminCore.Model.CatalogReportModel

    <br />
        <div class="col-md-12">
            @if (Model.routeName == "catalogcategoryofcustomer" ||Model.routeName == "catalogbycountry")
            {
                <div id="divtotalCountProduct" style="display:none;">   <b style="float:right"><span id="totalCountProduct">Total Products : 0 </span></b></div>
            }
                <div class="row gridDiv">
                    
                </div>
        </div>

