﻿@model OneSourceAdminCore.Model.CatalogReportModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = Model.reportName;
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}



<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_customerDrp.Catalog {
        display: none !important;
    }

    #s2id_catalogDrp.Catalog {
        display: none !important;
    }

    tr[data-role="details"] {
        background-color: #ddd !important;
    }
</style>



<link href="~/Content/css/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
<script src="~/Content/js/jquery.floatingscroll.js"></script>
<script src="~/Content/js/gijgo.min.js"></script>
<script src="~/Content/js/jquery.cookie.js"></script>

@Html.Partial("~/Views/CatalogReports/_ReportFilters.cshtml", Model)
@Html.Partial("~/Views/CatalogReports/_ReportGrids.cshtml", Model)

<script>

    function checkExcelCookie() {
        var cookieVal = $.cookie('excelDownloadStatus');
        if (cookieVal == null || cookieVal === 'undefined' || cookieVal === 'pending') {
            setTimeout("checkExcelCookie();", 1000);
        }
        else {
            $.removeCookie('excelDownloadStatus', { path: '/' })
            EndLoader();
        }
    }
    function CalculateYearDifferences(d1, d2) {

        var date1 = new Date(d1);
        var date2 = new Date(d2);
        var diff = Math.floor(date2.getTime() - date1.getTime());
        var day = 1000 * 60 * 60 * 24;

        var days = Math.floor(diff / day);
        var months = Math.floor(days / 31);
        var years = Math.floor(months / 12);

        var message = date1.toDateString();
        message += " was ";
        message += days + " days ";
        message += months + " months ";
        message += years + " years ago \n";
        console.log(message);

        return years;
    }
    $(function () {
        @if (ViewBag.Message == "NoData")
         {
             <text>
        showNotification("No records found");
        </text>
         }
        $('.date-picker').datepicker({
            endDate: '+0d',
            autoclose: true
        });
        $('#exportExcel').click(function () {

            @if (Model.routeName == "eolproducts")//Adnan 18-june-2019
            {
                <text>

            if (($("#ddlCustomer").val() == "" || $("#ddlCustomer").val() == null || $("#ddlCustomer").val() == "0")
                || $("#ddlCustomer").val() == "null") {

                //showNotification(" Please select currency!");
                showValidationError("Please select customer", "lblCustomer");
                return false;
            }
            showHideLoader(1);
            var newForm = $('#CatalogReportsFormExcel');
            checkExcelCookie();
            newForm.submit();
            </text>
            }
            @if (Model.routeName == "expiringproducts")
            {
             <text>
       
        showHideLoader(1);
        var newForm = $('#CatalogReportsFormExcel');
        checkExcelCookie();
        newForm.submit();
        </text>

         }
           @if (Model.routeName == "msrp")
            {
                <text>
            if (($("#ddlCustomer").val() == "" || $("#ddlCustomer").val() == null || $("#ddlCustomer").val() == "0")
               || $("#ddlCustomer").val() == "null") {


                showValidationError("Please select customer", "lblCustomer");
                return false;
            }
            showHideLoader(1);
            var newForm = $('#CatalogReportsFormExcel');
            checkExcelCookie();
            newForm.submit();
            </text>
            }
           @if (Model.routeName == "bundlesandassociatedparts")//Adnan 18-june-2019
            {
                <text>
            showHideLoader(1);
            var newForm = $('#CatalogReportsFormExcel');
            checkExcelCookie();
            newForm.submit();
            </text>
            }
            @if (Model.routeName == "customerproductbyoem")//Adnan 19-june-2019
            {
                <text>
            if (($("#ddlCustomer").val() == "" || $("#ddlCustomer").val() == null || $("#ddlCustomer").val() == "0") || $("#ddlCustomer").val() == "null") {

                //showNotification(" Please select currency!");
                showValidationError("Please select customer", "lblCustomer");
                return false;
            }
            if (($("#ddlManufacturer").val() == "" || $("#ddlManufacturer").val() == null || $("#ddlManufacturer").val() == "0") || $("#ddlManufacturer").val() == "null") {

                //showNotification(" Please select currency!");
                showValidationError("Please select manufacturer", "lblManufacturer");
                return false;
            }
            showHideLoader(1);
            var newForm = $('#CatalogReportsFormExcel');
            checkExcelCookie();
            newForm.submit();
            </text>
            }
            @if (Model.routeName == "catalogcategorybycustomer")//Adnan 27-june-2019
            {
                <text>
            if (($("#ddlCustomer").val() == "" || $("#ddlCustomer").val() == null || $("#ddlCustomer").val() == "0") || $("#ddlCustomer").val() == "null") {

                //showNotification(" Please select currency!");
                showValidationError("Please select customer", "lblCustomer");
                return false;
            }
            if (($("#ddlPartCategory").val() == "" || $("#ddlPartCategory").val() == null || $("#ddlPartCategory").val() == "0") || $("#ddlPartCategory").val() == "null") {

                //showNotification(" Please select currency!");
                showValidationError("Please select category", "lblPartCategory");
                return false;
            }
            showHideLoader(1);
            var newForm = $('#CatalogReportsFormExcel');
            checkExcelCookie();
            newForm.submit();
            </text>
            }
            @if (Model.routeName == "catalogbycountry")//Adnan 27-june-2019
            {
                <text>
            if (($("#ddlCustomer").val() == "" || $("#ddlCustomer").val() == null || $("#ddlCustomer").val() == "0") || $("#ddlCustomer").val() == "null") {

                //showNotification(" Please select currency!");
                showValidationError("Please select customer", "lblCustomer");
                return false;
            }
            if (($("#ddlCountry").val() == "" || $("#ddlCountry").val() == null || $("#ddlCountry").val() == "0") || $("#ddlCountry").val() == "null") {

                //showNotification(" Please select currency!");
                showValidationError("Please select country", "lblCountry");
                return false;
            }
            showHideLoader(1);
            var newForm = $('#CatalogReportsFormExcel');
            checkExcelCookie();
            newForm.submit();
            </text>
            }


        });

        @if (Model.routeName == "bundlesandassociatedparts")//Adnan 18-june-2019
        {
            <text>
        $("#customerDrp, #catalogDrp").multipleSelect({
            placeholder: '--Select--',
            filter: true,
            allowClear: true,
            includeSelectAllOption: true,
            selectAllValue: -1
        });
        showHideLoader(1);
        getBundlesByCustomer('');
        </text>
        }
        else if (Model.routeName == "eolproducts")//Adnan 18-june-2019
        {
            <text>

        $("#ddlCustomer").select2({
            width: 'resolve'
        });
        $("#ddlCustomer").change(function () {
            $('#customerId').val($(this).val());

        });
        $("#ddlCatalogType").select2({
            width: 'resolve'
        });
        $("#ddlCatalogType").change(function () {
            $('#catalogTypeId').val($(this).val());

        });

        </text>
        }
        else if (Model.routeName == "msrp")
        {
            <text>

        $("#ddlCustomer").select2({
            width: 'resolve'
        });
        $("#ddlCustomer").change(function () {
            $('#customerId').val($(this).val());

        });



        </text>
    }
    else if (Model.routeName == "customerproductbyoem")//Adnan 19-june-2019
    {
        <text>
        $("#ddlCustomer").select2({
            width: 'resolve'
        });
        $("#ddlCustomer").change(function () {
            $('#customerId').val($(this).val());

        });
        $("#ddlManufacturer").select2({
            width: 'resolve'
        });
        $("#ddlManufacturer").change(function () {
            $('#manufacturerId').val($(this).val());

        });
        </text>
    }
    else if (Model.routeName == "catalogcategorybycustomer")//Adnan 27-june-2019
    {
        <text>

        $("#ddlCustomer").select2({
            width: 'resolve'
        });
        $("#ddlCustomer").change(function () {
            $('#customerId').val($(this).val());

        });
        $("#ddlPartCategory").select2({
            width: 'resolve'
        });
        $("#ddlPartCategory").change(function () {
            $('#partcategoryId').val($(this).val());

        });

        $("#btnGenerate").on("click", function (e) {

            var customerId = parseInt($("#ddlCustomer").val() || 0);


            if (customerId == 0) {
                showValidationError("please select customer", 'lblCustomer')
                return false;
            }

            var partcategoryId = parseInt($("#ddlPartCategory").val() || 0);


            if (partcategoryId == 0) {
                showValidationError("please select category", 'lblPartCategory')
                return false;
            }

            var values = {
                "CustomerID": customerId,
                "PartCategoryID": partcategoryId
            };

            $(".gridDiv").html("");
            $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
            showHideLoader(1);

            $.ajax({
                url: "/CatalogReports/GetReportData",
                type: "POST",
                data: values,
                success: function (data) {

                    if (data.msg !== null && data.msg !== "") {
                        if (data.msg === "NoRecordsFound") {
                            $("#divtotalCountProduct").attr('style', 'display:none;');
                            showNotification("No records found");
                        }
                    }
                    else {

                        var table = JSON.parse(data.data);
                        var tableObj = [];

                        if (table.length > 0) {

                            $("#totalCountProduct").text("Total Products : " + table.length);
                            $("#divtotalCountProduct").removeAttr('style');
                            for (var i = 0; i < Object.keys(table[0]).length; i++) {

                                var obj = {};
                                obj.field = Object.keys(table[0])[i];
                                obj.sortable = true;
                                obj.align = 'center';
                                obj.headerCssClass = 'headerClass';
                                obj.cssClass = 'rowClass';
                                tableObj.push(obj);
                            }
                        } else {
                            $("#divtotalCountProduct").attr('style', 'display:none;');
                        }

                        var detailColumns = [
                            { field: 'OEM', width: 100, title: 'Manfacturer Name', headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'Description', width: 200, title: 'Description', headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'SKU', width: 100, title: 'SKU', headerCssClass: 'headerClass', cssClass: 'rowClass' },

                        ];
                        showNotification("These are only top 500 records, Please export to excel for more");




                        if (table.length > 50) {

                            grid = $('#grid').grid({
                                dataSource: table,
                                columns: tableObj,
                                pager: { limit: 25, sizes: [25, 50, 100, 500, 1000] },
                                cache: false,
                                uiLibrary: 'bootstrap'

                            });


                        } else {
                            var grid = $('#grid').grid({

                                dataSource: table,
                                columns: tableObj,
                                pager: null,
                                cache: false,
                                uiLibrary: 'bootstrap'

                            });
                        }

                        var refreshButton = $("button[data-role='page-refresh']");

                        if (refreshButton != undefined) {
                            refreshButton.hide();
                        }

                        var selectCounter = $("select[data-role='page-size']")[0];

                        if (selectCounter != undefined) {
                            selectCounter.style.width = "80px";
                        }

                        $(".gj-grid-wrapper").floatingScroll();
                        $(".gj-grid-wrapper").attr("style", "overflow:auto");

                    }

                    showHideLoader(0);
                }
            });

        });
        </text>
    }

    else if (Model.routeName == "catalogbycountry")//Adnan 28-june-2019
    {
        <text>

        $("#ddlCustomer").select2({
            width: 'resolve'
        });
        $("#ddlCustomer").change(function () {
            $('#customerId').val($(this).val());

        });
        $("#ddlCountry").select2({
            width: 'resolve'
        });
        $("#ddlCountry").change(function () {
            $('#countryId').val($(this).val());

        });

        $("#btnGenerate").on("click", function (e) {

            var customerId = parseInt($("#ddlCustomer").val() || 0);
            var rotueId = $("#routeId").val();
            var routeName = $("#routeName").val();
            var reportName = $("#reportName").val();

            if (customerId == 0) {
                showValidationError("please select customer", 'lblCustomer')
                return false;
            }

            var countryId = parseInt($("#ddlCountry").val() || 0);


            if (countryId == 0) {
                showValidationError("please select country", 'lblCountry')
                return false;
            }

            var values = {
                "rotueId": rotueId,
                "routeName": routeName,
                "reportName": reportName,
                "CustomerID": customerId,
                "CountryID": countryId
            };

            $(".gridDiv").html("");
            $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
            showHideLoader(1);

            $.ajax({
                url: "/CatalogReports/GetReportData",
                type: "POST",
                data: values,
                success: function (data) {

                    if (data.msg !== null && data.msg !== "") {
                        if (data.msg === "NoRecordsFound") {
                            $("#divtotalCountProduct").attr('style', 'display:none;');
                            showNotification("No records found");
                        }
                    }
                    else {

                        var table = JSON.parse(data.data);
                        var tableObj = [];

                        if (table.length > 0) {

                            $("#totalCountProduct").text("Total Products : " + table.length);
                            $("#divtotalCountProduct").removeAttr('style');
                            for (var i = 0; i < Object.keys(table[0]).length; i++) {

                                var obj = {};
                                obj.field = Object.keys(table[0])[i];
                                obj.sortable = true;
                                obj.align = 'center';
                                obj.headerCssClass = 'headerClass';
                                obj.cssClass = 'rowClass';
                                tableObj.push(obj);
                            }
                        } else {
                            $("#divtotalCountProduct").attr('style', 'display:none;');
                        }

                        var detailColumns = [
                            { field: 'OEM', width: 100, title: 'Manfacturer Name', headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'Description', width: 200, title: 'Description', headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'SKU', width: 100, title: 'SKU', headerCssClass: 'headerClass', cssClass: 'rowClass' },

                        ];
                        showNotification("These are only top 500 records, Please export to excel for more");




                        if (table.length > 50) {

                            grid = $('#grid').grid({
                                dataSource: table,
                                columns: tableObj,
                                pager: { limit: 25, sizes: [25, 50, 100, 500, 1000] },
                                cache: false,
                                uiLibrary: 'bootstrap'

                            });


                        } else {
                            var grid = $('#grid').grid({

                                dataSource: table,
                                columns: tableObj,
                                pager: null,
                                cache: false,
                                uiLibrary: 'bootstrap'

                            });
                        }

                        var refreshButton = $("button[data-role='page-refresh']");

                        if (refreshButton != undefined) {
                            refreshButton.hide();
                        }

                        var selectCounter = $("select[data-role='page-size']")[0];

                        if (selectCounter != undefined) {
                            selectCounter.style.width = "80px";
                        }

                        $(".gj-grid-wrapper").floatingScroll();
                        $(".gj-grid-wrapper").attr("style", "overflow:auto");

                    }

                    showHideLoader(0);
                }
            });

        });
        </text>
    }
    else if (Model.routeName == "expiringproducts")
        {
            <text>
        //$("#StartDate").change(function () {
        //    $('#startDate1').val($(this).val());
       
        //});

        //$("#EndDate").change(function () {
        //    $('#endDate1').val($(this).val());
          
        //});


        //$('.resetStartDate').click(function () {
        //    $(this).parent().parent().find('input').val("");
        //    $('#startDate1').val($(this).val());

        //});
        //$('.resetEndDate').click(function () {
        //    $(this).parent().parent().find('input').val("");
        //    $('#endDate1').val($(this).val());

        //});
        
        //$("#StartDate").change(function () {
        //    $('#dateStart').val($(this).val());

        //});

        //$("#EndDate").change(function () {
        //    $('#dateEnd').val($(this).val());

        //});


        </text>
        }

        @if (Model.routeName == "bundlesandassociatedparts")//Adnan 18-june-2019
     { 
            <text>
        $('#customerDrp').change(function () {

            var customerId = $("#customerDrp").val();
            var customerIds = "";

            if (customerId != null && customerId !== "" && customerId !== "null") {
                customerIds = customerId.join(",");
            }
            $("#customerIds").val(customerIds);
            getBundlesByCustomer(customerIds);
        });

        function getBundlesByCustomer(customerId) {

            $.ajax({
                url: '/CatalogReports/GetBundlesByCustomerID?customerIds=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                    var array = [];
                    var options = '';

                    if (data != null && data.length > 0) {

                        $.each(data, function (index, item) {

                            var checkSelected = "";

                            if (item.isSelected === true) {
                                checkSelected = "selected";
                                array.push(item.Value);
                            }

                            options = options + ' <option value="' + item.Value + '" ' + checkSelected + '>' + item.Text + '</option>';
                        });

                        $("#catalogDrp").html(options);

                        $("#catalogDrp").multipleSelect({
                            placeholder: '--Select--',
                            filter: true,
                            selectAll: false
                        });

                        $("#catalogDrp").multipleSelect("setSelects", array);
                    }
                    else {

                        $("#catalogDrp").html("");

                        $("#catalogDrp").multipleSelect({
                            placeholder: '--Select--',
                            filter: true,
                            allowClear: true
                        });

                        $("#catalogDrp").select2({ width: 'resolve' });
                        $(".ms-select-all").hide();
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        $("#btnGenerate").on("click", function (e) {

            var rotueId = $("#routeId").val();
            var routeName = $("#routeName").val();
            var reportName = $("#reportName").val();
            var customerId = $("#customerDrp").val();
            var customerIds = "";
            
            if (customerId != null && customerId !== "" && customerId !== "null") {
                customerIds = customerId.join(",");
            }

            var bundleId = $("#catalogDrp").val();
            var bundleIds = "";

            if (bundleId != null && bundleId !== "" && bundleId !== "null") {
                bundleIds = bundleId.join(",");
            }

            var values = {
                "rotueId":rotueId,
                "routeName": routeName,
                "reportName": reportName,
                "CustomerIds": customerIds,
                "CatalogStandardId": bundleIds
            };

            $(".gridDiv").html("");
            $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
            showHideLoader(1);

            $.ajax({
                url: "/CatalogReports/GetReportData",
                type: "POST",
                data: values,
                success: function (data) {

                    if (data.msg !== null && data.msg !== "") {
                        if (data.msg === "NoRecordsFound") {
                            showNotification("No records found");
                        }
                    }
                    else {

                        var table = JSON.parse(data.data);
                        var tableObj = [];

                        if (table.length > 0) {

                            for (var i = 0; i < Object.keys(table[0]).length; i++) {

                                var obj = {};
                                obj.field = Object.keys(table[0])[i];
                                obj.sortable = true;
                                obj.align = 'center';
                                obj.headerCssClass = 'headerClass';
                                obj.cssClass = 'rowClass';

                                if (obj.field === "CatalogStandardID") {
                                    obj.hidden = true;
                                }

                                tableObj.push(obj);
                            }
                        }

                        var detailColumns = [
                            { field: 'ManufacturerSKU', width: 100, title: 'SKU', headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'PartDescription', width: 200, title: 'Part Description', headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'Quantity', width: 100, headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'GlobalPrice', width: 100, title: 'Global Price', headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'CurrencySymbol', width: 100, title: 'Currency', headerCssClass: 'headerClass', cssClass: 'rowClass' },
                            { field: 'IsOption', width: 100, title: 'Optional', headerCssClass: 'headerClass', cssClass: 'rowClass' }
                        ];

                        var grid = $('#grid').grid({
                            primaryKey: 'CatalogStandardID',
                            dataSource: table,
                            columns: tableObj,
                            pager: null,
                            cache: false,
                            uiLibrary: 'bootstrap',
                            detailTemplate: '<div><table/></div>'
                        });

                        grid.on('detailExpand', function (e, $detailWrapper, id) {
                            $detailWrapper.find('table').grid({
                                params: { bundleId: id },
                                dataSource: '/CatalogReports/GetBundleItems',
                                columns: detailColumns,
                                cache: false,
                                headerCssClass: 'headerClass',
                                cssClass: 'rowClass',
                                uiLibrary: 'bootstrap'
                            });
                        });

                        grid.on('detailCollapse', function (e, $detailWrapper, id) {
                            $detailWrapper.find('table').grid('destroy', true, true);
                        });

                        if (table.length > 50) {

                            grid = $('#grid').grid({
                                primaryKey: 'CatalogStandardID',
                                dataSource: table,
                                columns: tableObj,
                                pager: { limit: 25, sizes: [25, 50, 100, 500, 1000] },
                                cache: false,
                                uiLibrary: 'bootstrap',
                                detailTemplate: '<div><table/></div>'
                            });

                            grid.on('detailExpand', function (e, $detailWrapper, id) {
                                $detailWrapper.find('table').grid({
                                    params: { bundleId: id },
                                    dataSource: '/CatalogReports/GetBundleItems',
                                    columns: detailColumns,
                                    cache: false,
                                    headerCssClass: 'headerClass',
                                    cssClass: 'rowClass',
                                    uiLibrary: 'bootstrap'
                                });
                            });

                            grid.on('detailCollapse', function (e, $detailWrapper, id) {
                                $detailWrapper.find('table').grid('destroy', true, true);
                            });
                        }

                        var refreshButton = $("button[data-role='page-refresh']");

                        if (refreshButton != undefined) {
                            refreshButton.hide();
                        }

                        var selectCounter = $("select[data-role='page-size']")[0];

                        if (selectCounter != undefined) {
                            selectCounter.style.width = "80px";
                        }

                        $(".gj-grid-wrapper").floatingScroll();
                        $(".gj-grid-wrapper").attr("style", "overflow:auto");
                    }

                    showHideLoader(0);
                }
            });

        });

        $('#catalogDrp').change(function () {

            var catalogTypeId = $("#catalogDrp").val();
            var catalogTypeIds = "";

            if (catalogTypeId != null && catalogTypeId !== "" && catalogTypeId !== "null") {
                catalogTypeIds = catalogTypeId.join(",");
            }
            $("#catalogStandardId").val(catalogTypeIds);
            
        });

        </text>
    }



    });


    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }
</script>