﻿@model OneSourceAdminCore.Model.VendorCodeModel
@{
    ViewBag.Title = "Vendor Code";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Vendor Codes </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float:right">
    </div>
</div>

@using (Html.BeginForm("AddEditVendorCode", "VendorCode", FormMethod.Post, new { @id = "VendorCodeForm" }))
{
<div class="os-admin-companies">
    <input type="hidden" value="@Model.vendorCodeInfo.XrefSFAsID"  name="XrefSFAsID">
    <!-- Tab panes -->
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">* </span>Description:</label>
    </div>
    <div class="col-md-4">
        <textarea name="Description" maxlength="200"  class="form-control" style="margin-bottom: 15px;">@(Model.vendorCodeInfo.Description ?? "")</textarea>
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">* </span>Xref Table ID:</label>
    </div>
    <div class="col-md-4">
        <input type="text" name="XrefTableID" maxlength="4" class="form-control allownumericwithoutdecimal" value="@(Model.VCode==0?"":Model.vendorCodeInfo.XrefTableID.ToString())" />
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">* </span>Supplier:</label>
    </div>
    <div class="col-md-4" style="margin-bottom:15px">
        @if (Model.Suppliers != null && Model.Suppliers.Count > 0)
        {
            @Html.DropDownList("SFAID", new SelectList(Model.Suppliers,
                    "Key", "Value", Model.vendorCodeInfo.SFAID),
           new { @id = "SFAID" })
        }
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">* </span>Xref Code:</label>
    </div>
    <div class="col-md-4">
        <input type="text" name="XrefCode" maxlength="20" class="form-control" value="@(Model.vendorCodeInfo.XrefCode ?? "")" />
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">* </span>Xref Type Name:</label>
    </div>
    <div class="col-md-4" style="margin-bottom:15px">
        @if (Model.XrefTypes != null && Model.XrefTypes.Count > 0)
        {
            @Html.DropDownList("XrefTypeID", new SelectList(Model.XrefTypes,
                    "Key", "Value", Model.vendorCodeInfo.XrefTypeID),
           new { @id = "XrefTypeID" })
        }
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">* </span>Country:</label>
    </div>
    <div class="col-md-4 pm-mp" style="margin-bottom:15px">
        @if (Model.Countries != null && Model.Countries.Count > 0)
        {
            @Html.DropDownList("CountryID", new SelectList(Model.Countries,
                    "Key", "Value", Model.vendorCodeInfo.CountryID),
           new { @id = "CountryID" })
        }
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">&nbsp;&nbsp; </span>Supplier Code:</label>
    </div>
    <div class="col-md-4"> 
        <input type="text" value="@(Model.vendorCodeInfo.SFACode ?? "")" name="SFACode" maxlength="50" class="form-control" />
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">&nbsp;&nbsp; </span>Xref Additional Code</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" name="XrefCodeAdditional" maxlength="50" value="@(Model.vendorCodeInfo.XrefCodeAdditional ?? "")" />
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>

    <div class="col-md-3"></div>
    <div class="col-md-2">       
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-default btnSubmit pull-right" id="per" >@(Model.VCode == 0 ? "Add": "Update")</button>
    </div>
    <div class="col-md-3"></div>

    

    <div class="clearfix"></div>
</div>
}

<script>
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "/vendor-codes";
    });




    $('#VendorCodeForm').submit(function () {
        if($('textarea[name="Description"]').val().trim()=="" || $('input[name="XrefTableID"]').val().trim()=="" ||
            $("#SFAID").val() == "" || $('input[name="XrefCode"]').val().trim() == "" || $("#XrefTypeID").val() == "" || $("#CountryID").val() == "") {
            alert("Please provide required fields");
            return false;
        }
        StartLoader();
    });

</script>   