﻿@model OneSourceAdminCore.Model.OneStreetManufacturerMappingDetailsModel
@{
    ViewBag.Title = "Map OneSource Manufacturers";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    /* Added to fix the height of select2 multiselect dropdown */
    .select2-container {
        height: 30px;
    }
</style>

<div class="clearfix"></div>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px; margin-right: -19px;">
    <div class="col-md-6" style="padding: 10px; color: #FFF;">
        <b> OneStreet > Map OneSource Manufacturers</b>
    </div>
    <div class="col-md-6" style="padding: 10px;">
        @using (Html.BeginForm("ExportManufacturerMappingReportToExcel", "ManufacturerMapping", FormMethod.Post, new { @id = "ManufacturerMappingReportForm" }))
        {
            <button class="btn btn-default topAddNewButton"
                    type="submit" id="ExportExcel" style="float:right;margin-right:10px;">
                Export Mapped Manufacturers
            </button>
        }

        @using (Html.BeginForm("ExportToExcel", "ManufacturerMapping", FormMethod.Post, new { @id = "UnmappedOneStreetManufacturerReportForm" }))
        {
            <button class="btn btn-default topAddNewButton"
                    type="submit" id="ExportUnmappedOneStreetManufacturerExcel" style="float:right;margin-right:10px;">
                Export Unmapped Manufacturers
            </button>
        }
    </div>
</div>

<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>

@if (ViewBag.AddEditAccess == true)
{
    using (Html.BeginForm("UpdateManufacturerMapping", "ManufacturerMapping", FormMethod.Post, new { @id = "ManufacturerMappingForm" }))
    {
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                    <label>OneSource Manufacturers: </label>
                </div>
                <div class="col-sm-4">
                    <input type="hidden" name="OneSourceMan">
                    <select id="OneSourceManId" tabindex="-1" size="@Model.Manufacturers.Count">
                        @foreach (var item in Model.Manufacturers)
                        {
                            <option value="@item.ManufacturerID">@item.ManufacturerName.Trim()</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3 msg" style="display:none;">
                    <span style="font-size: 10px;"><b>Note: Select OneStreet Manufacturers to map with '<span id="OneSourceManName"></span>'</b></span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:20px;">
            <div class="col-md-12" id="OneStreetManDiv" style="display: none">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                    <label>OneStreet Manufacturers : </label>
                </div>
                <div class="col-sm-4">
                    <select id="OneStreetManId" name="OneStreetMan" tabindex="-1"></select>
                </div>
                <div class="col-sm-3 msg" style="display:none;">
                    <span style="font-size: 10px;"><b>Selected Manufacturer(s) : <span id="OneStreetCount"></span></b></span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:20px;">
            <div class="col-md-12 update-btn" id="ManufacturerUpdateDiv" style="display: none">
                <div class="col-sm-5"></div>
                <div class="col-sm-4" style="right: -21px;">
                    <button type="submit" class="btn btn-default" style="float: left; margin-left: 20px;margin: 0px;" id="per" ng-disabled="isStandard">Update</button>
                    <button type="button" class="btn btn-default btnReset1" style="float: left; margin-left: 5px;" id="per">Reset</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    }
}

<div class="row" style="margin-top: 40px;">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.MappingDetails != null && Model.MappingDetails.Count > 0)
            {
            @Html.Grid(Model.MappingDetails.OrderBy(m => m.OneSourceManufacturerName)).Columns(columns =>
       {
       columns.Add(C => C.OneSourceManufacturerName).Sortable(true).Filterable(true).Titled("OneSource Manufacturer").Encoded(false).Sanitized(false).SetWidth(5)
.RenderValueAs(o => @<span>
        <input type="hidden" value="@o.Id">
        <input type="hidden" value="@o.OneSourceManufacturerId">
        <input type="hidden" value="@o.OneStreetManufacturerId">

        @o.OneSourceManufacturerName
    </span>);
              columns.Add(c => c.OneStreetManufacturerName).Sortable(true).Filterable(true).Titled("OneStreet Manufacturer").SetWidth(30);
              if (ViewBag.AddEditAccess == true)
              {
                  columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
               RenderValueAs(o => @<a style="color:blue" onclick="Delete(this)">Delete </a>);
                  }
              }).WithPaging(50)
        }
    </div>
</div>

<script src="~/Content/js/jquery.cookie.js"></script>

<script>

    function isArray(value) {
        return value && typeof value === 'object' && value.constructor === Array;
    }

    function checkExcelCookie() {

        var cookieVal = $.cookie('excelDownloadStatus');

        if (cookieVal == null || cookieVal === 'undefined' || cookieVal === 'pending') {
            setTimeout("checkExcelCookie();", 1000);
        }
        else {
            $.removeCookie('excelDownloadStatus', { path: '/' });
        }
    }

    function Delete(event) {

        if (confirm("Are you sure you want to delete this record?")) {
            showHideLoader(1);
            var osrId = $($(event).parent().parent().find('input:hidden')[1]).val();
            var ostId = $($(event).parent().parent().find('input:hidden')[2]).val();
            window.location.href = '/ManufacturerMapping/DeleteMapping?osrManId=' + osrId + '&ostManId=' + ostId;
        }
    }

    function registerExcelReportHandlers(reportCol) {

        if (!isArray(reportCol)) return;

        $.each(reportCol, function (index, value) {

            if (!value && !value.ButtonId) return;

            $("#" + value.ButtonId).on("click", function (e) {
                var newForm = $("#" + value.FormId);
                checkExcelCookie();
                newForm.submit();
            });

        });
    }

    $(function () {

        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);

        $(".page-sidebar-menu").find(".onestreet").addClass("open");
        $(".page-sidebar-menu .onestreet").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .onestreet").find(".maponesourceman").addClass("active");

        $("#OneSourceManId").select2({ allowClear: true });

        $("#OneStreetManId").multipleSelect({
            placeholder: 'manufacturers',
            selectAll: true,
            filter: true
        });

        $('#OneSourceManId').change(function () {

            $("#OneSourceManId").removeAttr("disabled");
            $(".msg").show();
            $("input[name='OneSourceMan']").val($("#OneSourceManId").val());
            $("#OneSourceManName").text($("#OneSourceManId option:selected").text());
            $("#OneStreetManId").multipleSelect('uncheckAll');

            var data = {
                oneSourceManufacturerId: $("#OneSourceManId option:selected").val()
            };

            var onestreetIds = [];

            if (data.oneSourceManufacturerId === undefined) return;

            showHideLoader(1);

            $.ajax({
                url: '/ManufacturerMapping/GetOneStreetManufacturerMappingDetails',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (result) {

                    showHideLoader(0);

                    var options = [];

                    $.each(result, function (index, item) {

                        options.push($("<option></option>").val(item.OneStreetManufacturerId).text(item.OneStreetManufacturerName));

                        if (item.OneSourceManufacturerId !== null && item.Id !== null) {

                            if ($("#OneSourceManId").val() === item.OneSourceManufacturerId.toString()) {
                                onestreetIds.push(item.OneStreetManufacturerId);
                            }
                        }
                    });

                    setTimeout(function () {
                        $("#OneStreetManId").multipleSelect('setSelects', onestreetIds);
                        $("#OneStreetCount").text(onestreetIds.length);
                    }, 500);

                    $("#OneStreetManId").html(options);
                    $("#OneStreetManDiv, #ManufacturerUpdateDiv").show();

                    $("#OneStreetManId").multipleSelect({
                        placeholder: 'manufacturers',
                        selectAll: true,
                        filter: true
                    });
                },
                complete: function () {
                    showHideLoader(0);
                },
                error: function (result) {
                    showHideLoader(0);
                }
            });
        });

        $('#OneStreetManId').change(function () {

            var oneStreetValue = $("#OneStreetManId").multipleSelect('getSelects', 'text');
            if (oneStreetValue) $('#OneStreetCount').text(oneStreetValue.length);

        });

        $('.btnReset1').click(function () {

            showHideLoader(0);
            $("#OneSourceManId").val(null).trigger('change');
            $("#OneSourceManId").removeAttr("disabled");
            $(".msg").css("display", "none");
            $("#OneStreetManId").multipleSelect('uncheckAll');

        });

        $('#ManufacturerMappingForm').submit(function (e) {

            e.preventDefault();
            showHideLoader(1);

            var data = {
                onesourceMan: $("#OneSourceManId").val(),
                onestreetMan: []
            };

            var oneStreetManIds = $("#OneStreetManId").multipleSelect('getSelects', 'value');

            if (oneStreetManIds === null || oneStreetManIds.length === 0) {
                data.onestreetMan = "0";
            }
            else {
                data.onestreetMan = oneStreetManIds;
            }

            $.ajax({
                url: '/ManufacturerMapping/UpdateManufacturerMapping',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    showHideLoader(0);
                },
                complete: function (result) {
                    window.location.reload();
                },
                error: function (result) {
                    showHideLoader(0);
                }
            });

        });

        var reportCol = [{
            ButtonId: "ExportExcel",
            FormId: "ManufacturerMappingReportForm"
        }, {
            ButtonId: "ExportUnmappedOneStreetManufacturerExcel",
            FormId: "UnmappedOneStreetManufacturerReportForm"
        }];

        registerExcelReportHandlers(reportCol);

    });
</script>