﻿
@model OneSourceAdminCore.Model.SoftwareQuotesDetailModel
@using OneSourceAdminCore.Helper
@using System.Configuration
@{
    string location = ConfigurationManager.AppSettings["SoftwareQuoteAttachement"];
    var fileSavePath = location + "/";
    var dash = "___";
}
<div role="tabpanel" class="tab-pane" id="attachments">
    <div class="col-md-12 tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            @using (Html.BeginForm("UploadAttachment", "SoftwareQuotes", FormMethod.Post, new { @id = "UploadAttachmentForm", enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="@Model.QuoteId" name="QuoteId" id="QuoteId" />
                <div class="table-responsive">
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input id="attachmentQuoteRequest" name="attachmentQuoteRequest" class="btn btn-default nextone" type="file">
                                </span>
                            </span>
                            <input type="text" class="form-control attachmentUploadTxtBox" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input id="btnUploadattachmentQuoteRequest" type="submit" class="btn btn-default pernew" style="float: right; margin-left: 20px;" value="Add Attachment" />
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="alert alert-warning">
                        File size must be less than 10 MB<br />
                        Please don't use special characters. Only - _ () are allowed.
                    </div>

                </div>
            }
            <div class="clearfix"></div>
            @if (Model.Attachments != null)
            {

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <h3 style="color:#216481"> Response Attachments </h3>
                        <hr />
                        @if (Model.Attachments.Count > 0)
                        {
                            <div id="gridStyle" class="ItemsGrid" style="height:180px;">
                                @using GridMvc.Html;
                                @Html.Grid(Model.Attachments).Columns(columns =>
                           {
                           columns.Add(C => C.AttachmentName).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("File Name").SetWidth(10).RenderValueAs(C =>
                        @<a href="@fileSavePath@C.AttachmentUniqueId@dash@C.AttachmentName" target="_blank" style="text-decoration:none;color:#3b9ad2;">
                            @C.AttachmentName


                        </a>);
                           columns.Add(C => C.CreatedDate).Sortable(true).Filterable(true).Titled("Created Date").SetWidth(50);
                           columns.Add(C => C.CreatedBy).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("User").SetWidth(50).RenderValueAs(C => @<span>

                                    @if (C.IsSupplierAttachment == true)
                                    {
                                        @C.Supplier
                                    }
                                    else
                                    {
                                        @C.CreatedBy
                                    }
                                </span>);
                           if (Model.Status != "Complete" && Model.Status != "Cancelled")
                           {
                               columns.Add().Titled("Action").Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Css("text-center").SetWidth(100).RenderValueAs(C => @<span>
                                    @if (Session["UserGroupName"].ToString().ToUpper() == "SFA")
                                    {
                                        if (C.IsSupplierAttachment == true)
                                        {
                                            <a onclick="DeleteAttachment(@C.AttachmentId)" style="color:#0094ff; cursor:pointer;">Delete</a>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    }
                                    else
                                    {
                                        <a onclick="DeleteAttachment(@C.AttachmentId)" style="color:#0094ff; cursor:pointer;">Delete</a>
                                    }

                                </span>);
                               }

                           }).WithPaging(25)
                            </div>
                        }
                        else
                        {
                            <p style="font-size:15px;background-color:#f9f9f9;padding:7px;text-align:center;">There are no items to display</p>
                        }




                    </div>
                </div>

            }
        </div>
    </div>
</div>


<script>
    $('#btnUploadattachmentQuoteRequest').click(function () {




    });

    $('#UploadAttachmentForm').on('submit', function (e) {
        if (document.getElementById('attachmentQuoteRequest').files.length > 0) {

            var file = document.getElementById('attachmentQuoteRequest').files[0];

            var isvalid = IsValidFile(['doc', 'dot', 'wbk',
                'docx', 'docm', 'dotx', 'dotm', 'docb', 'xls',
                'xlt', 'xlm', 'xlsx', 'xlsm', 'xltx', 'xltm',
                'xlsb', 'xla', 'xlam', 'xll', 'xlw', 'ppt', 'pot',
                'pps', 'pptx', 'pptm', 'potx', 'potm', 'ppam',
                'ppsx', 'ppsm', 'sldx', 'sldm', 'pub', 'xps',
                'jpg', 'jpeg', 'png', 'gif', 'tif', 'tiff', 'pdf', 'rtf', 'jpe'], file);

            if (isvalid) {
                StartLoader();
            }
            else {
                e.preventDefault();
                if (!isValidFileSize) {
                    showNotification("Your file is too large. Please try again. Maximum allowed size is 10MB");
                    isValidFileSize = false;
                    isValidExtension = false;
                }
                else {
                    showNotification("Invalid file. Allowed Extensions are doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, msg, csv, txt, png");
                    isValidFileSize = false;
                    isValidExtension = false;
                }
                $(".attachmentUploadTxtBox").val("");
                document.getElementById('attachmentQuoteRequest').value = null;
            }
        } else {
            $(".attachmentUploadTxtBox").val("");
            showNotification("Please select a file!");
            e.preventDefault();
        }
    });

    var isValidExtension = false;
    var isValidFileSize = false;

    function IsValidFile(validExtensions, file) {



        var fileSize = file.size;

        if (fileSize < 10485760) {
            isValidFileSize = true;
        }


        var fileName = file.name;
        var ext = fileName.split('.').pop();
        var index = $.inArray(ext.toLowerCase(), validExtensions);

        if (index != -1) {
            isValidExtension = true;
        }

        if (isValidExtension && isValidFileSize) {

            return true;
        }
        else
            return false;
    }

    function DeleteAttachment(id) {
        if (confirm("Are you sure you want to delete this attachment?")) {
            StartLoader();
            window.location = "/SoftwareQuotes/DeleteAttachment?id=" + id + "&quoteId=@Model.QuoteId";
        }
    }
</script>
