﻿

@model OneSourceAdminCore.Model.SoftwareQuotesDetailModel
@using OneSourceAdminCore.Helper

<div role="tabpanel" class="tab-pane" id="comments">
    <div>
        <div class="col-md-12 tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="clearfix"></div>
                @if (Model.Comments != null)
            {

                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color:#216481"> Response Comments <button style="float:right" class="btn btn-default" onclick="OpenCommentPopup()" id="addResponse">Add Comment</button></h3>
                            <hr />
                            @if (Model.Comments.Count > 0)
                            {
                                <div id="gridStyle" class="ItemsGrid" style="height:180px;">
                                    @using GridMvc.Html;
                                    @Html.Grid(Model.Comments).Columns(columns =>
                               {
                               columns.Add(C => C.Comment).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Comment").SetWidth(10).RenderValueAs(x => @<span>
                                        @Html.Raw(x.Comment.Length > 100 ? x.Comment.Substring(0, 100) + "....." : x.Comment)
                                    </span>);
                               columns.Add(C => C.UpdateBy).Encoded(false).Sortable(true).Filterable(true).Titled("User").SetWidth(50).RenderValueAs(C => @<span>

                                        @if (C.IsSupplierComment == true)
                                        {
                                            @C.Supplier
                                        }
                                        else
                                        {
                                            @C.UpdateBy
                                        }
                                    </span>);
                               columns.Add(C => C.UpdatedDate).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Created Date").SetWidth(50);
                               columns.Add().Titled("Action").Encoded(false).Sanitized(false).SetWidth(100).Css("text-center").RenderValueAs(C => @<span>
                                        @if (C.Comment.Length > 100)
                                        {
                                            <a onclick="ViewComment(@C.CommenId)" id="commentItem" style="color:#0094ff;text-align:center; cursor:pointer;">View More</a>
                                        }
                                        @if (Model.Status != "Complete" && Model.Status != "Cancelled")
                                        {
                                            if (Session["UserGroupName"].ToString().ToUpper() == "SFA")
                                            {
                                                if (C.IsAdminComment != true && C.IsSupplierComment != null)
                                                {

                                                    if (C.Comment.Length > 100)
                                                    {
                                                        <span>|</span>
                                                    }
                                                    <a onclick="DeleteComment(@C.CommenId)" id="commentItem" style="color:#0094ff;text-align:center; cursor:pointer;">Delete</a>
                                                }
                                                else
                                                {
                                                    if (C.Comment.Length <= 100)
                                                    {
                                                        <span>-</span>
                                                    }

                                                }
                                            }
                                            else
                                            {
                                                if (C.Comment.Length > 100)
                                                {
                                                    <span>|</span>
                                                    <a onclick="DeleteComment(@C.CommenId)" id="commentItem" style="color:#0094ff;text-align:center; cursor:pointer;">Delete</a>
                                                }
                                                else
                                                {
                                                    <a onclick="DeleteComment(@C.CommenId)" id="commentItem" style="color:#0094ff;text-align:center; cursor:pointer;">Delete</a>
                                                }
                                            }


                                        }
                                        else if (C.Comment.Length <= 100)
                                        {
                                            <span>-</span>
                                        }
                                    </span>);
                               }).WithPaging(25)
                                </div>
                            }
                            else
                            {
                                <p style="font-size:15px;background-color:#f9f9f9;padding:7px;text-align:center;">There are no items to display</p>
                            }




                        </div>
                    </div>
                }

                <div class="modal fade" id="addComment" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding:2%;">
                    <div class="modal-dialog" style="padding-top:1% 2%;">

                        @using (Html.BeginForm("AddComment", "SoftwareQuotes", FormMethod.Post, new { @id = "AddCommentForm" }))
                        {
                            <input type="hidden" value="@Model.QuoteId" id="SoftwareQuoteId" name="SoftwareQuoteId" />
                            <div class="modal-content">
                                <div class="modal-header" style=" border-bottom: 1px solid #3b9ad2; color: white;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(59, 154, 210);background-color: #3b9ad2;">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title"><b>Add Comment</b></h3>
                                </div>
                                <div class="modal-body" id="modalbody" style="max-height:900px;height:auto;">
                                    <div class="row" style="margin-top: 10px;" id="region_customerdropdown">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea placeholder="Write your comment here....." name="Comment" id="Comment" cols="35" rows="7" style="overflow:auto;resize:none" wrap="soft" class="form-control" required="required"></textarea>
                                            </div>
                                            <div class="col-md-3" style="margin-top:5px;">
                                                <span id="lblSku" style="color:red">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                        <div class="col-md-12" style="margin-top:10px;">
                                            <span class="" style="float:  right;/* padding-right:  5px; */padding: 5px;">
                                                <input type="submit" class="btn btn-default" name="AddItem" id="AddItem" style="color: #399BD3;">
                                            </span>
                                            <span class="" style="padding:5px;float:right;">
                                                <input type="button" class="btn btn-default" name="resetComment" id="resetComment" value="Reset" style="color: #399BD3;">
                                            </span>
                                        </div>
                                    </div>*@
                                </div>
                                <div class="modal-footer">
                                    <span>
                                        <input type="button" class="btn btn-default" name="resetComment" id="resetComment" value="Reset" style="color: #399BD3;">
                                    </span>
                                    <span>
                                        <input type="submit" class="btn btn-primary" name="AddItem" id="AddItem" value="Save">
                                    </span>
                                </div>
                            </div>

                        }
                    </div>
                </div>

                <div class="modal fade" id="commentModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding:2%;">
                    <div class="modal-dialog" style="padding-top:1% 2%;">

                        <div class="modal-content">
                            <div class="modal-header" style=" border-bottom: 1px solid #3b9ad2; color: white;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(59, 154, 210);background-color: #3b9ad2;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title"><b> Comment</b></h3>
                            </div>
                            <div class="modal-body wordwrap" id="modalbody">
                                <div>
                                    <span id="commentTxt"></span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function OpenCommentPopup() {
        $('#addComment').modal('show');
    }
    function DeleteComment(id) {
        if (confirm("Are you sure you want to delete this comment?")) {
            StartLoader();
            window.location = "/SoftwareQuotes/DeleteComment?id=" + id + "&quoteId=@Model.QuoteId";
        }
    }

    $('#AddCommentForm').on('submit', function (e) {
        StartLoader();
    });

    $("#resetComment").click(function () {
        $("#Comment").val("");
    });

    function ViewComment(id) {
        StartLoader();
        $.ajax({
            cache: false,
            url: "/SoftwareQuotes/GetComment?id=" + id,
            type: "GET",
            success: function (data) {
                if (data.data != null && data.data != "" && data.data != undefined) {
                    $("#commentTxt").html(data.data);
                    $('#commentModal').modal('show');
                }
                else {
                    showNotification("Something went wrong, please try again later!");
                }
            }
            , complete: function (data) {
                EndLoader();
            }
        });
    }

</script>
