﻿@model OneSourceAdminCore.Model.SoftwareQuotesDetailModel
@using OneSourceAdminCore.Helper
@using System.Configuration
@{
    string location = ConfigurationManager.AppSettings["SoftwareQuoteAttachement"];
    var fileSavePath = location + "/";
    var dash = "___";
}
<style>
    #s2id_Manufacturer {
        display: none !important;
    }

        #s2id_Manufacturer.response {
            display: block !important;
        }

    .wordwrap {
        word-wrap: break-word;
    }
</style>

<div role="tabpanel" class="tab-pane active" id="details">
    <div>
        <!-- Tab panes -->

        <div class="col-md-12 tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row text-right">
                    @*=============================================================================================*@

                    @if (Model.Status == "New")
                    {
                        <span><a onclick="UpdateStatus(@Model.QuoteId, 'In Progress')" style="cursor:pointer" class="btn btn-sm label-warning ">Mark As In Progress</a></span>
                        if (Session["UserGroupName"].ToString().ToUpper() != "SFA")
                        {
                            <span><a onclick="UpdateStatus(@Model.QuoteId, 'Cancelled')" style="cursor:pointer" class="btn btn-sm label-danger ">Mark As Cancel</a></span>
                        }
                        <span><a onclick="UpdateStatus(@Model.QuoteId, 'Complete')" style="cursor:pointer" class="btn btn-sm label-success ">Mark As Complete</a></span>
                    }
                    else if (Model.Status == "In Progress")
                    {
                        if (Session["UserGroupName"].ToString().ToUpper() != "SFA")
                        {
                            <span><a onclick="UpdateStatus(@Model.QuoteId, 'Cancelled')" style="cursor:pointer" class="btn btn-sm label-danger">Mark As Cancel</a></span>
                        }
                        <span><a onclick="UpdateStatus(@Model.QuoteId, 'Complete')" style="cursor:pointer" class="btn btn-sm label-success ">Mark As Complete</a></span>
                    }
                    else if (Model.Status == "Complete")
                    {
                        if (Session["UserGroupName"].ToString().ToUpper() != "SFA")
                        {
                            <span><a onclick="UpdateStatus(@Model.QuoteId, 'Cancelled')" style="cursor:pointer" class="btn btn-sm label-danger ">Mark As Cancel</a></span>
                        }
                        <span><a onclick="UpdateStatus(@Model.QuoteId, 'In Progress')" style="cursor:pointer" class="btn btn-sm label-warning ">Mark As In Progress</a></span>
                    }
                    else if (Model.Status == "Cancelled")
                    {
                        <span><a onclick="UpdateStatus(@Model.QuoteId, 'Complete')" style="cursor:pointer" class="btn btn-sm label-success ">Mark As Complete</a></span>
                        <span><a onclick="UpdateStatus(@Model.QuoteId, 'In Progress')" style="cursor:pointer" class="btn btn-sm label-warning ">Mark As In Progress</a></span>
                    }

                </div>
                <hr />
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <span style="color:#216481"><b> Quote #:</b></span>
                        </div>
                        <div class="col-md-6">
                            <span>@Model.QuoteId</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <span style="color:#216481"><b> Country:</b></span>
                        </div>
                        <div class="col-md-6">
                            <span>@Model.Country</span>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <span style="color:#216481"><b> Currency:</b></span>
                        </div>
                        <div class="col-md-6">
                            <span>@Model.Currency</span>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <span style="color:#216481"><b> Customer Reference:</b></span>
                        </div>
                        <div class="col-md-6">
                            <span>@Model.CustomerReference</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <span style="color:#216481"><b> Status:</b></span>
                        </div>
                        <div class="col-md-6">
                            @if (Model.Status == "New")
                            {
                                <label class="label" style="background-color:lightslategray;margin-left:-6px;">@Model.Status</label>
                            }
                            else if (Model.Status == "In Progress")
                            {
                                <label class="label label-warning" style="margin-left:-6px;">@Model.Status</label>
                            }
                            else if (Model.Status == "Complete")
                            {
                                <label class="label label-success" style="margin-left:-6px;">@Model.Status</label>
                            }
                            else if (Model.Status == "Cancelled")
                            {
                                <label class="label label-danger" style="margin-left:-6px;">@Model.Status</label>
                            }

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <span style="color:#216481"><b> Supplier:</b></span>
                        </div>
                        <div class="col-md-6">
                            <span>@Model.Supplier</span>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <span style="color:#216481"><b> Created Date:</b></span>
                        </div>
                        <div class="col-md-6">
                            <span>@Model.CreatedDate</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <span style="color:#216481"><b> Created By:</b></span>
                        </div>
                        <div class="col-md-6">
                            <span>@Model.CreatedBy</span>
                        </div>
                    </div>
                    @if (Model.ProgramName != null && !Model.ProgramName.Contains("MPSA") && !Model.ProgramName.Contains("Select"))
                    {
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Program Name:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@(Model.ProgramName)</span> @(Model.ProgramName.Contains("Adobe") && Model.ProgramType != null ? "(" + (Model.ProgramType) + ")" : "")
                            </div>

                        </div>
                    }
                </div>
                @if (Model.ProgramName != null && !Model.ProgramName.Contains("MPSA") && !Model.ProgramName.Contains("Select"))
                {
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Organization Name:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@(Model.OrganizationName ?? "-")</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Contact Name:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@Model.ContactName</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Contact Email:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@Model.ContactEmail</span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Contact Phone:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@(Model.ContactPhone ?? "-")</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Agreement Type:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@Model.AgreementType</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Agreement Number:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@(Model.AgreementNumber ?? "-")</span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Expected Purchase Date:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@(Model.ExpectedPurchaseDate.ToString() != "" ? Convert.ToDateTime(Model.ExpectedPurchaseDate).ToString("MM/dd/yyyy") : "-")</span>
                            </div>
                        </div>
                        @if (Model.ProgramName.Contains("Citrix") || Model.ProgramName.Contains("Adobe"))
                        {
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Invoice Country:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@Model.InvoiceCountry</span>
                            </div>
                        </div>
                        }
                        @if (Model.ProgramName.Contains("Citrix"))
                        {
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <span style="color:#216481"><b> Agreement Level:</b></span>
                            </div>
                            <div class="col-md-6">
                                <span>@(Model.AgreementLevel ?? "-")</span>
                            </div>

                        </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>

        @if (Model.RequestItems != null)
            {

            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <h3 style="color:#216481"> Requests </h3>
                    <hr />

                    @if (Model.RequestItems.Count > 0)
                    {
                    <input type="hidden" id="currentManf" value="@(Model.RequestItems.FirstOrDefault().Manufacturer??"")" />

                        <div class="ItemsGrid" style="height:180px;">
                            @using GridMvc.Html;
                            @Html.Grid(Model.RequestItems).Columns(columns =>
               {
                   columns.Add(C => C.Description).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Description").SetWidth(10);
                   columns.Add(C => C.Sku).Sortable(true).Filterable(true).Titled("SKU").SetWidth(50);
                   columns.Add(C => C.Manufacturer).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Manufacturer").SetWidth(10);
                   columns.Add(C => C.PriceLevel).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Price Level").SetWidth(10);
                   columns.Add(C => C.Quantity).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Quantity").SetWidth(50);
               }).WithPaging(25)
                        </div>
                    }
                    else
                    {
                        <p style="font-size:15px;background-color:#f9f9f9;padding:7px;text-align:center;">There are no items to display</p>
                    }

                </div>
            </div>

        }
        <div class="clearfix"></div>
        @if (Model.ResponseItems != null)
        {


            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    @if (Model.Status == "Complete" || Model.Status == "Cancelled")
                    {
                        <h3 style="color:#216481"> Responses</h3>
                    }
                    else
                    {
                        <h3 style="color:#216481"> Responses <button style="float:right" class="btn btn-default" onclick="OpenPopup('addResponse')" id="addResponse">Add Response</button></h3>
                    }

                    <hr />

                    @if (Model.ResponseItems.Count > 0)
                    {
                        <div id="gridStyle" class="ItemsGrid" style="height:180px;">
                            @using GridMvc.Html;
                            @Html.Grid(Model.ResponseItems).Columns(columns =>
                       {
                       columns.Add(C => C.Description).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Description").SetWidth(10);
                       columns.Add(C => C.Sku).Sortable(true).Filterable(true).Titled("SKU").SetWidth(50);
                       columns.Add(C => C.ManufacturerName).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Manufacturer").SetWidth(50);
                       columns.Add(C => C.CreatedBy).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("User").SetWidth(50).RenderValueAs(C => @<span>

                                @if (C.isSupplier)
                                {
                                    @C.Supplier
                                }
                                else
                                {
                                    @C.CreatedBy
                                }
                            </span>);
                       columns.Add(C => C.Price).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Price").SetWidth(10);
                       columns.Add(C => C.Quantity).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Quantity").SetWidth(50);
                       columns.Add(C => C.Eol).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Eol").SetWidth(50);
                       columns.Add(C => C.LeadTime).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Lead Time").SetWidth(50);
                       if (Model.Status != "Complete" && Model.Status != "Cancelled")
                       {
                           columns.Add().Titled("").Encoded(false).Sanitized(false).SetWidth(100).Css("text-center").RenderValueAs(C => @<span>
                                @if (Session["UserGroupName"].ToString().ToUpper() == "SFA")
                                {
                                    if (C.isSupplier == true)
                                    {
                                        <a onclick='OpenPopup("","@C.Manufacturer","@C.Sku","@C.Quantity","@C.Price","@C.Eol","@C.Description","@C.LeadTime","@C.ResponseItemId")' id="EditLineItem" style="color:#0094ff; cursor:pointer;">Edit </a>
                                        <span>|</span><a onclick="DeleteItem(@C.ResponseItemId,@Model.QuoteId)" style="color:#0094ff; cursor:pointer;"> Delete </a>
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                }
                                else
                                {
                                    <a onclick='OpenPopup("","@C.Manufacturer","@C.Sku","@C.Quantity","@C.Price","@C.Eol","@C.Description","@C.LeadTime","@C.ResponseItemId")' id="EditLineItem" style="color:#0094ff; cursor:pointer;">Edit </a>
                                    <span>|</span><a onclick="DeleteItem(@C.ResponseItemId,@Model.QuoteId)" style="color:#0094ff; cursor:pointer;"> Delete </a>
                                }



                            </span>);
                           }

                       }).WithPaging(25)
                        </div>
                    }
                    else
                    {
                        <p style="font-size:15px;background-color:#f9f9f9;padding:7px;text-align:center;">There are no items to display</p>
                    }




                </div>
            </div>

        }
        <div class="clearfix"></div>
        @if (Model.QuoteAttachments != null)
            {

            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <h3 style="color:#216481"> Attachments </h3>
                    <hr />
                    @if (Model.QuoteAttachments.Count > 0)
                    {
                        <div id="gridStyle" class="ItemsGrid" style="height:180px;">
                            @using GridMvc.Html;
                            @Html.Grid(Model.QuoteAttachments).Columns(columns =>
                       {
                       columns.Add(C => C.AttachmentName).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("File Name").SetWidth(10).RenderValueAs(C =>
                    @<a href="@fileSavePath@C.AttachmentUniqueId@dash@C.AttachmentName" target="_blank" style="text-decoration:none;color:#3b9ad2;">
                        @C.AttachmentName


                    </a>);
                       columns.Add(C => C.CreatedDate).Sortable(true).Filterable(true).Titled("Created Date").SetWidth(50);
                       columns.Add(C => C.CreatedBy).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("User").SetWidth(50).RenderValueAs(C => @<span>

                                @if (C.IsSupplierAttachment == true)
                                {
                                    @C.Supplier
                                }
                                else
                                {
                                    @C.CreatedBy
                                }
                            </span>);
                       }).WithPaging(25)
                        </div>
                    }
                    else
                    {
                        <p style="font-size:15px;background-color:#f9f9f9;padding:7px;text-align:center;">There are no items to display</p>
                    }




                </div>
            </div>

        }
        <div class="clearfix"></div>
        @if (Model.QuoteComments != null)
            {

            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <h3 style="color:#216481"> Comments </h3>
                    <hr />
                    @if (Model.QuoteComments.Count > 0)
                    {
                        <div id="gridStyle" class="ItemsGrid" style="height:180px;">
                            @using GridMvc.Html;
                            @Html.Grid(Model.QuoteComments).Columns(columns =>
                       {
                       columns.Add(C => C.Comment).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Comment").SetWidth(10).RenderValueAs(x => @<span>
                                @Html.Raw(x.Comment.Length > 100 ? x.Comment.Substring(0, 100) + "....." : x.Comment)
                            </span>);
                       columns.Add(C => C.UpdateBy).Encoded(false).Sortable(true).Filterable(true).Titled("User").SetWidth(50).RenderValueAs(C => @<span>

                                @if (C.IsSupplierComment == true)
                                {
                                    @C.Supplier
                                }
                                else
                                {
                                    @C.UpdateBy
                                }
                            </span>);
                       columns.Add(C => C.UpdatedDate).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Created Date").SetWidth(50);
                       columns.Add().Titled("").Encoded(false).Sanitized(false).SetWidth(100).Css("text-center").RenderValueAs(C => @<span>
                                @if (C.Comment.Length > 100)
                                {
                                    <a onclick="ViewQuoteComment(@C.CommenId)" id="EditLineItem" style="color:#0094ff;text-align:center; cursor:pointer;">View More</a>
                                }
                                else
                                {
                                    <a id="EditLineItem" style="color:#0094ff; cursor:pointer;text-align:center;">-</a>
                                }
                            </span>);
                       }).WithPaging(25)
                        </div>
                    }
                    else
                    {
                        <p style="font-size:15px;background-color:#f9f9f9;padding:7px;text-align:center;">There are no items to display</p>
                    }




                </div>
            </div>

        }
    </div>


    <div class="modal fade" id="addLineItem" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding:2%;">
        <div class="modal-dialog" style="padding-top:1% 2%;">

            @using (Html.BeginForm("SaveResponseLineItem", "SoftwareQuotes", FormMethod.Post, new { @id = "AddResponseLineItemForm" }))
            {
                <input type="hidden" value="@Model.QuoteId" id="SoftwareQuoteId" name="SoftwareQuoteId" />
                <input type="hidden" value="0" id="ResponseItemId" name="ResponseItemId" />
                <input type="hidden" value="0" id="Manufacturer" name="Manufacturer" /> //temporary
                                                                                        <div class="modal-content">
                                                                                            <div class="modal-header" style=" border-bottom 1px solid #3b9ad2; color white;border-bottom-width 1px;border-bottom-style solid;border-bottom-color rgb(59, 154, 210);background-color #3b9ad2;">
                                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                                <h3 class="modal-title"><b id="addupdateresponsetitle">Add Response Item</b></h3>
                                                                                            </div>
                                                                                            @*<div class="modal-header" style="padding-bottom:22px;">
                                                                                                    Add Response Item
                                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="float:right">&times;</button>
                                                                                                </div>*@
                                                                                            <div class="modal-body" id="modalbody" style="max-height:900px;height:auto;">
                                                                                                <div class="row" style="margin-top: 10px;" id="createCheckDiv">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="col-md-4">
                                                                                                            Manufacturers:<span style="color:red">&nbsp; * </span>
                                                                                                        </div>
                                                                                                        <div class="col-md-8">
                                                                                                            <div class="form-group">
                                                                                                                <select id="Manufacturers" name="Manufacturers" class="response form-control"></select> @*temporary name change*@
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>
                                                                                                    <div class="col-md-12 col-md-offset-4" style="margin-top:5px;">
                                                                                                        <span id="lblManufacturers" style="color:red">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row" style="margin-top: 10px;" id="region_customerdropdown">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="col-md-4">
                                                                                                            SKU:<span style="color:red">&nbsp; * </span>
                                                                                                        </div>
                                                                                                        <div class="col-md-8">
                                                                                                            <div class="form-group">

                                                                                                                <input type="text" id="Sku" maxlength="20" name="Sku" required="required" class="form-control" />

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-md-offset-4" style="margin-top:5px;">
                                                                                                        <span id="lblSku" style="color:red">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row" style="margin-top: 10px;">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="col-md-4">
                                                                                                            Description:
                                                                                                        </div>
                                                                                                        <div class="col-md-8">
                                                                                                            <div class="form-group">

                                                                                                                <input type="text" id="Description" maxlength="50" name="Description" class="form-control" />

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-md-offset-4" style="margin-top:5px;">
                                                                                                        <span id="lblDesc" style="color:red">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row" style="margin-top: 10px;">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="col-md-4">
                                                                                                            Quantity:<span style="color:red">&nbsp; * </span>
                                                                                                        </div>
                                                                                                        <div class="col-md-8">
                                                                                                            <div class="form-group">

                                                                                                                <input type="number" id="Quantity" min="1" max="2147483647" autocomplete="off" required="required" name="Quantity" class="form-control" />

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-md-offset-4" style="margin-top:5px;">
                                                                                                        <span id="lblQuantity" style="color:red">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row" style="margin-top: 10px;">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="col-md-4">
                                                                                                            Price:<span style="color:red">&nbsp; * </span>
                                                                                                        </div>
                                                                                                        <div class="col-md-8">
                                                                                                            <div class="form-group">

                                                                                                                <input type="text" id="Price" name="Price" min="1" maxlength="7" autocomplete="off" required="required" class="form-control" />

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-md-offset-4" style="margin-top:5px;">
                                                                                                        <span id="lblPrice" style="color:red">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row" style="margin-top: 10px;">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="col-md-4">
                                                                                                            EOL:<span style="color:red">&nbsp; * </span>
                                                                                                        </div>
                                                                                                        <div class="col-md-6">
                                                                                                            <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">

                                                                                                                <input type="text" required id="Eol" name="Eol" class="form-control readonly">
                                                                                                                <span class="input-group-btn">
                                                                                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                                                                                </span>

                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-md-2">
                                                                                                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                                                                                                <img src="/Content/images/reset-btn.png">
                                                                                                            </button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-md-offset-4" style="margin-top:5px;">
                                                                                                        <span id="lblEOL" style="color:red">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row" style="margin-top: 10px;">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="col-md-4">
                                                                                                            Lead Time:
                                                                                                        </div>
                                                                                                        <div class="col-md-8">
                                                                                                            <div class="form-group">

                                                                                                                <input type="number" id="LeadTime" min="0" max="1000" name="LeadTime" class="form-control" />

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-md-offset-4" style="margin-top:5px;">
                                                                                                        <span id="lblLeadTime" style="color:red">
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                @*<div class="row">
                                                                                                        <div class="col-md-12" style="margin-top:10px;">
                                                                                                            <span class="" style="float:  right;/* padding-right:  5px; */padding: 5px;">
                                                                                                                <input type="submit" class="btn btn-default" name="AddItem" id="AddItem" style="color: #399BD3;/* padding-right:  5px; */" value="Save">
                                                                                                            </span>
                                                                                                            <span class="" style="padding:5px;float:right;">
                                                                                                                <input type="button" class="btn btn-default" name="resetItem" id="resetItem" value="Reset" style="color: #399BD3;">
                                                                                                            </span>
                                                                                                        </div>
                                                                                                    </div>*@
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <span>
                                                                                                    <input type="button" class="btn btn-default" name="resetItem" id="resetItem" value="Reset" style="color: #399BD3;margin-right:5px">
                                                                                                </span>
                                                                                                <span>
                                                                                                    <input type="submit" class="btn btn-primary" name="AddItem" id="AddItem" style="margin-right:13px;" value="Save">
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>

            }
        </div>
    </div>

    <div class="modal fade" id="quoteCommentModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding:2%;">
        <div class="modal-dialog" style="padding-top:1% 2%;">


            <div class="modal-content">
                <div class="modal-header" style=" border-bottom 1px solid #3b9ad2; color white;border-bottom-width 1px;border-bottom-style solid;border-bottom-color rgb(59, 154, 210);background-color #3b9ad2;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><b>Quote Comment</b></h3>
                </div>
                <div class="modal-body wordwrap" id="modalbody">
                    <div>
                        <span id="quoteCommentTxt"></span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.date-picker').datepicker({
            autoclose: true
        });

        //$("#Manufacturer").select2({ allowClear: true });

        @if (TempData["Message"] != null)
        {
            var msg = TempData["Message"].ToString();
            <text>
        showNotification("@msg");
        </text>
        }
    });

    $(".readonly").keydown(function (e) {
        e.preventDefault();
    });


    $('#resetItem').click(function () {
        $("#Sku").val("");
        $("#Quantity").val("");
        $("#Price").val("");
        $("#Eol").val("");
        $("#Description").val("");
        $("#LeadTime").val("");
        var itemId = $("#ResponseItemId").val();
        if (itemId <= 0 || itemId == null || itemId == "") {
            $("#ResponseItemId").val(0);
        }
        //$("#Manufacturer").val("0").trigger("change");
    });


    $('#Price').keyup(function () {


        if (/[^0-9\.]/g.test($("#Price").val())) {
            // Filter non-digits from input value.
            $("#Price").val($("#Price").val().replace(/[^0-9\.]/g, ''));
            showValidationError("Price must be numeric", "lblPrice");
        }


    });

    function showValidationError(msg, lable) {
        $('#' + lable).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }

    function DeleteItem(responseItemId, quoteId) {
        if (confirm("Are you sure you want to delete this item?")) {
            StartLoader();
            window.location = "/SoftwareQuotes/DeletelineItem?id=" + responseItemId + "&quoteId=" + quoteId;
        }
    }
    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    $('#AddResponseLineItemForm').on('submit', function (e) {
        var manufacturer = $("#Manufacturers").val();
        if (manufacturer == null || manufacturer == "0" || manufacturer == "null" || manufacturer == undefined) {
            e.preventDefault();
            showValidationError("Please select a manufacturer", "lblManufacturers");
        }

        var sku = $("#Sku").val();
        if (sku == null || sku == "" || sku == "null" || sku == undefined) {
            e.preventDefault();
            showValidationError("Please enter a SKU", "lblSku");
        }

        var qty = $("#Quantity").val();
        if (qty == null || qty == "" || qty == "null" || qty == undefined) {
            e.preventDefault();
            showValidationError("Please enter quantity", "lblQuantity");
        }
        else if (parseInt(qty) <= 0) {
            e.preventDefault();
            showValidationError("Quantity should be greater than 0", "lblQuantity");
        }

        var price = $("#Price").val();
        if (price == null || price == "" || price == "null" || price == undefined) {
            e.preventDefault();
            showValidationError("Please enter price", "lblPrice");
        }
        else if (parseFloat(price) <= 0) {
            e.preventDefault();
            showValidationError("Price should be greater than 0", "lblPrice");
        }

        var eol = $("#Eol").val();
        if (eol == null || eol == "" || eol == "null" || eol == undefined) {
            e.preventDefault();
            showValidationError("Please select EOL", "lblEOL");
        }

        if ((manufacturer != null || manufacturer != "0" || manufacturer != "null" || manufacturer != undefined) && (sku != null || sku != "" || sku != "null" || sku != undefined) &&
            (qty != null || qty != "" || qty != "null" || qty != undefined) && (price != null || price != "" || price != "null" || price != undefined) &&
            (eol != null || eol != "" || eol != "null" || eol != undefined)) {
            StartLoader();
        }
    });

    function ViewQuoteComment(id) {
        StartLoader();
        $.ajax({
            cache: false,
            url: "/SoftwareQuotes/GetComment?id=" + id,
            type: "GET",
            success: function (data) {
                if (data.data != null && data.data != "" && data.data != undefined) {
                    $("#quoteCommentTxt").html(data.data);
                    $('#quoteCommentModal').modal('show');
                }
                else {
                    showNotification("Something went wrong, please try again later!");
                }
            }
            , complete: function (data) {
                EndLoader();
            }
        });
    }




    function OpenPopup(buttonName, manufacturer, sku, quantity, price, eol, desc, leadtime, itemId) {



        if (sku != undefined) {

            $("#Sku").val(sku);
        }
        if (quantity != undefined) {

            $("#Quantity").val(quantity);
        }
        if (price != undefined) {

            $("#Price").val(price);
        }
        if (eol != undefined) {

            $("#Eol").val(eol);
        }
        if (desc != undefined) {

            $("#Description").val(desc);
        }
        if (leadtime != undefined) {

            $("#LeadTime").val(leadtime);
        }
        if (itemId != undefined) {

            $("#ResponseItemId").val(itemId);
            $("#AddItem").attr('value', 'Update');
            $("#addupdateresponsetitle").text("Update Response Item");
        }
        else {
            $("#AddItem").attr('value', 'Save');
            $("#addupdateresponsetitle").text("Add Response Item");
        }

        //var buttonName = this.event.target.id;
        if (buttonName == "addResponse") {
            $("#Sku").val("");
            $("#Quantity").val("");
            $("#Price").val("");
            $("#Eol").val("");
            $("#Description").val("");
            $("#LeadTime").val("");
            $("#ResponseItemId").val(0);
            //$("#Manufacturer").val("0").trigger("change");
        }

        StartLoader();
        $.ajax({
            url: '/SoftwareQuotes/GetManufacturers',
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {

                var options = '<option value="0" selected="selected">--Select--</option>';
                if (data != null && data != "" && data != undefined && data != "null") {
                    $.each(data.data, function (index, item) {
                        options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                    });

                    $("#Manufacturers").html(options);
                    //$("#Manufacturer").select2({ allowClear: true });
                    //$("#Manufacturer").val("0").trigger("change");
                    //if (manufacturer != undefined) {

                    //    $("#Manufacturer").val(manufacturer).trigger("change");
                    //}

                    //temporary for MICROSOFT manufacturer
                    var value = 0;
                    var currenProgram = $("#currentManf").val();
                     
                    $("#Manufacturers option").filter(function () {
                        //may want to use $.trim in here
                        if (currenProgram =="Symantec") {
                            currenProgram = currenProgram + " Corp";
                        }
                        if ($(this).text() == currenProgram) {
                            value = $(this).val();
                        };

                    });
                    $("#Manufacturers").val(value);
                    $("#Manufacturers").attr('disabled', 'disabled');
                    $("#Manufacturer").val(value);
                    //====================================
                }
            }
        , complete: function (data) {
            EndLoader();
            $('#addLineItem').modal('show');
        }
        });
    }

    function UpdateStatus(id, status) {

        StartLoader();
        window.location = "/SoftwareQuotes/UpdateStatus?quoteId=@Model.QuoteId&status=" + status;
    }
</script>