﻿@model OneSourceAdminCore.Model.SoftwareQuotesDetailModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    Session["currentTabId"] = "";
}

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Search > Software Quotes > Details </b>
        }
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding: 7px; text-align:right;">
        <div style="float:right">
            @using (Html.BeginForm("RedirectToList", "SoftwareQuotes", FormMethod.Post, new { @id = "RedirectToList" }))
            {
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToList" style="float:right;background-color:green">Back</button>
            }
        </div>
    </div>
</div>
<style>
    .nav-tabs > li > a::after {
        background-color: #216481 !important;
    }
</style>
<div class="os-admin-tabs cards" style="padding-top:15px;">
    <ul class="nav nav-tabs" role="tablist" style="margin-top:20px">
        <input type="hidden" id="currentTabId" value="@(Session["currentTabId"])" />

        <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab" style="font-size:medium;color:#216481 !important"><b>Details</b></a></li>
        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab" style="font-size:medium;color:#216481 !important"><b>Comments</b></a></li>
        <li role="presentation"><a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab" style="font-size:medium;color:#216481 !important"><b>Attachments</b></a></li>

    </ul>
    <div class="col-md-12 tab-content">

        @if (Model != null)
        {
            @Html.Partial("~/Views/SoftwareQuotes/_Info.cshtml", Model)

            @Html.Partial("~/Views/SoftwareQuotes/_Comments.cshtml", Model)

            @Html.Partial("~/Views/SoftwareQuotes/_Attachments.cshtml", Model)
        }
        else
        {<text>No Data Found</text>
        }
    </div>
</div>
<style>
    #gridStyle table.grid-table tr.grid-row-selected td {
        background-color: transparent !important;
        color: black !important;
    }
</style>
<script>
    $(window).load(function () {
        //ActivateTabFromUrlOrSession();

    });

    $(document).ready(function () {
        $('.ItemsGrid')
   .slimscroll({ destroy: true })
   .slimscroll({ height: '200px' });
    });


</script>


