﻿@model OneSourceAdminCore.Model.SoftwareQuotesSearchModel
@{
    ViewBag.Title = "SoftwareQuotes";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
<script src="~/Content/js/jquery.floatingscroll.js"></script>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Search > Software Quotes </b>
        }
    </div>

    @*<div class="col-md-4 col-md-offset-4" style="padding: 7px; text-align:right;">
            <div style="float:right">
                @using (Html.BeginForm("RedirectToParent", "AssetReports", FormMethod.Post, new { @id = "ProcurementReportsRedirectToParent" }))
                {
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
                }
            </div>

            <div style="">
                @using (Html.BeginForm("ExportToExcel", "AssetReports", FormMethod.Post, new { @id = "ReportExportToExcel" }))
                {
                <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="float:right;margin-right:10px;">Export to excel</button>
                }
            </div>
            <div style="">
                @using (Html.BeginForm("ExportToPdf", "AssetReports", FormMethod.Post, new { @id = "ReportExportToPdf" }))
                {
                <input type="hidden" name="pdfTable" id="pdfTable" />

                <input type="hidden" name="totalaffectedassets" id="totalaffectedassets" />
                <input type="hidden" name="avglife" id="avglife" />
                <input type="hidden" name="totalaffectedcountries" id="totalaffectedcountries" />
                <input type="hidden" name="totalaffectedmfgs" id="totalaffectedmfgs" />
                <input type="hidden" name="totalexpiredassets" id="totalexpiredassets" />
                <input type="hidden" name="valueofexpiredassets" id="valueofexpiredassets" />
                <input type="hidden" name="assetvaluationtotalstrdate" id="assetvaluationtotalstrdate" />
                <input type="hidden" name="assetvaluationtotalenddate" id="assetvaluationtotalenddate" />
                <input type="hidden" name="totalassetvaluationchange" id="totalassetvaluationchange" />
                <input type="hidden" name="startdt" id="startdt" />
                <input type="hidden" name="enddt" id="enddt" />

                <button class="btn btn-default topAddNewButton" type="button" id="exportPdf" style="margin-right:10px;">Export to pdf</button>
                }
            </div>
        </div>*@
</div>

<div class="row" style="margin-top:48px;">
    <div class="col-md-8 col-md-offset-3">

        @using (Html.BeginForm("SoftwareQuotes", "SoftwareQuotes", FormMethod.Post, new { @id = "SoftwareQuotesForm" }))
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">* </span>Customer:
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
                 "Key", "Value"), new { @id = "CustomerId", @class = "form-control ", @tabindex = "-1" })

                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCustomer" style="color:red">
                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">* </span>Program:
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        @Html.DropDownList("ProgramId", new SelectList(Model.SoftwareProgramsList,
                 "Key", "Value"), new { @id = "ProgramId", @class = "form-control ", @tabindex = "-1" })

                    </div>
                    <input type="hidden" id="hdnProgramName" name="ProgramName" value="" />
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblCustomer" style="color:red">
                    </span>

                </div>
            </div>
            @*<div class="row" style="margin-top: 10px;margin-bottom:20px;" id="adobeDiv">
                <div class="col-md-2">
                    <span style="color:red">&nbsp;&nbsp; </span>Program Type:
                </div>
                <div class="col-md-6">
                    <select class="form-control" id="drpProgramType">
                        <option value="CLP">CLP</option>
                        <option value="VIP">VIP</option>
                    </select>
                    <input type="hidden" id="hdnProgramType" name="ProgramType" value="CLP" />
                </div>
            </div>*@
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2"><span style="color:red">&nbsp;&nbsp;  </span>From Date:</div>
                <div class="col-md-4">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" id="StartDate" name="StartDate" value="@Model.StartDate" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblFromDate" style="color:red">
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-2"><span style="color:red"> &nbsp;&nbsp; </span>To Date:</div>
                <div class="col-md-4">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" id="EndDate" name="EndDate" value="@Model.EndDate" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblToDate" style="color:red">
                    </span>
                </div>
            </div>
            <div class="row">

                <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="Search" id="BTN" style="color: #399BD3;">Search</button> &nbsp;
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" name="submit" value="Reset" id="Reset" style="color: #399BD3;margin-left:10px">Reset</button> &nbsp;
                    </span>
                </div>
            </div>

        }
    </div>

</div>

@if (Model.SoftwareQuotes != null)
{
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 table-responsive">
            @using GridMvc.Html;
            @Html.Grid(Model.SoftwareQuotes).Columns(columns =>
       {
       columns.Add(C => C.QuoteId).Sortable(true).Filterable(true).Encoded(false).Sanitized(true).Titled("Quote #").SetWidth(50);
       columns.Add(C => C.CustomerReference).Sortable(true).Filterable(true).Titled("Customer Reference").SetWidth(200);
       columns.Add(C => C.Country).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Country").SetWidth(100);
       columns.Add(C => C.Status).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Status").SetWidth(100).Css("text-center").RenderValueAs(C => @<span>
                @if (C.Status == "New")
                {
                    <label class="label" style="background-color:lightslategray;margin-left:-6px;">@C.Status</label>
                }
                else if (C.Status == "In Progress")
                {
                    <label class="label label-warning" style="margin-left:-6px;">@C.Status</label>
                }
                else if (C.Status == "Complete")
                {
                    <label class="label label-success" style="margin-left:-6px;">@C.Status</label>
                }
                else if (C.Status == "Cancelled")
                {
                    <label class="label label-danger" style="margin-left:-6px;">@C.Status</label>
                }
            </span>);
       columns.Add(C => C.CreatedDate).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Date").SetWidth(100);
       columns.Add().Titled("Action").Encoded(false).Sanitized(false).SetWidth(100).RenderValueAs(C => @<span>
                <a href="\SoftwareQuotes\Details?id=@C.QuoteId" style="color:#0094ff; cursor:pointer;">View Details</a>
            </span>);
       }).WithPaging(25)

        </div>
    </div>

}

<script>
    $(document).ready(function () {

        var selectedOption = $("#ProgramId option:selected").text();
        $("#hdnProgramName").val(selectedOption);

        //if (selectedOption == "Adobe") {
        //    $("#adobeDiv").show();
        //}
        //else {
        //    $("#adobeDiv").hide();
        //}

        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });

        @if (ViewBag.Message == "NoUserError")
        {
            <text>
        showValidationError("Please select user", "lblUser");
        </text>
        }

        @if(TempData["RefreshData"] !=null)
        {
             <text>
        $('#BTN').click();
        </text>
        }

        $(".table-responsive").floatingScroll();

    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    //$('#SoftwareQuotesForm').submit(function () {
    //    StartLoader();
    //});

    //$("#BTN").click(function () {
    //    //var customerId = $("#CustomerId").val();
    //    //if (customerId!="0" && customerId!="" && customerId!=null) {
    //    //    $('#SoftwareQuotesForm').submit();
    //    //}
    //    //else
    //    //{
    //    e.preventDefault();
    //    //    showNotification("Please select a customer");
    //    //}
    //});

    $('#SoftwareQuotesForm').on('submit', function (e) {
        StartLoader();
        var customerId = $("#CustomerId").val();
        if (customerId == "0" || customerId == "" || customerId == null) {
            EndLoader();
            e.preventDefault();
            showNotification("Please select a customer");
        }
        else {
            var programId = $("#ProgramId").val();
            if (programId == "0" || programId == "" || programId == null) {
                EndLoader();
                e.preventDefault();
                showNotification("Please select a program");
            }

        }

    });

    $("#Reset").click(function () {
        StartLoader();
        window.location = "/SoftwareQuotes/ResetData";
    });

    $('#ProgramId').on('change', function (e) {
        var selectedOption = $("#ProgramId option:selected").text();
        $("#hdnProgramName").val(selectedOption);

        //if (selectedOption == "Adobe") {
        //    $("#adobeDiv").show();
        //}
        //else {
        //    $("#adobeDiv").hide();
        //}
    });

</script>
