﻿@{
    ViewBag.Title = "SLA Settings";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>

<script>
    var myApp = angular.module("myModule", []);
    myApp.controller("myController", function ($scope, $http) {
        $scope.getSLAinfo = function (id) {
            
            StartLoader();
            $scope.$apply(function () {
                $scope.priorities = null;
                $scope.genericpriorities = null;
            });
            if (id !== "") {
              
                $http.get('/SLASetting/GetSLAinfo'+'?' + new Date().toString(), { params: { customerid: id } }).success(function (response) {
                  
                    $scope.selectedSLA = response.LstSelectedSLA;
                    $scope.unselectedSLA = response.LstUnselectedSLA;
                    $('input[name="Viewable"]').val(response.Viewable);
                    $('#isViewable').prop('checked', response.Viewable);

                    if (response.LstSelectedSLA.length > 0) {
                        $('.SLAGrid').show();
                    }
                    else {
                        $('.SLAGrid').hide();
                    }
                });
            }
            EndLoader();

        };

        $scope.showLists = function () {
            if ($('#CustomerID').val() == "") return false;
            else return true;
        };


    });

</script>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > SLA Settings </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
@*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
        <div class="col-md-12">
            <h1 style="color: #fff;">Settings > Generic SLA Settings</h1>
        </div>
        <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
        </div>
        <div class="col-md-4"></div>
    </div>*@

<div ng-app="myModule" ng-controller="myController" id="myController">
    @if (ViewBag.AddEditAccess == true)
    {
    using (Html.BeginForm("AddSLA", "SLASetting", FormMethod.Post, new { @id = "SLASettingForm" }))
    {
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">* </span>Add New SLA</label>
                    <div class="col-md-6">
                        <input type="text" maxlength="100" class="form-control" name="SLAName" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">

            <div class="col-md-4"></div>
            <div class="col-md-7" style="padding-left: 23px;">
                <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Add</button>
                <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
            </div>
            <br>
            <br>
        </div>
    }
    <div class="row" style="margin-top: 0px;">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-12"><h4>Set SLA For Customer</h4> </label>

            </div>
        </div>
    </div>
    }
    @using (Html.BeginForm("AddSLAToCustomer", "SLASetting", FormMethod.Post, new { @id = "SLAToCustomerForm" }))
    {
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Customer</label>
                    <div class="col-md-6">
                        <input type="hidden" name="CustomerId" id="CustomerId">
                        <select class="form-control " id="CustomerID" valuefor="CustomerName" idfor="CustomerId" tabindex="-1">
                            <option value="">--Select--</option>
                            @foreach (var item in Model.Customers)
                            {
                                <option value="@item.CustomerId" companyid="@item.ParentCompanyId">@item.CustomerName</option>
                            }
                        </select>


                    </div>
                </div>
            </div>
        </div>

        if (ViewBag.AddEditAccess == true)
        {
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" ><span>&nbsp;&nbsp;&nbsp; </span>Display SLA</label>
                    <div class="col-md-6">
                        <input type="hidden" name="Viewable" value="false">
                        <input type="checkbox" id="isViewable">
                    </div>
                </div>
            </div>
        </div>
        }
        <div class="row" style="margin-top: 40px;" ng-show="showLists()">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">

                    <div class="col-md-6">                     
                            <select class="form-control " id="unselectedSLA" name="unselectedSLA" tabindex="-1" multiple style="height: 150px;">
                                <option ng-repeat="row in unselectedSLA" value="{{row.GenericRequestSLAId}}">{{row.SLAName}}</option>                           
                            </select>                      
                    </div>
                    <div class="col-md-6">
                        <select class="form-control " id="selectedSLA" name="selectedSLA" tabindex="-1" multiple disabled style="height: 150px;">
                            <option ng-repeat="row in selectedSLA" value="{{row.Key}}">{{row.Value}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        if (ViewBag.AddEditAccess == true)
        {
        <div class="row" style="margin-top: 15px;">

            <div class="col-md-4"></div>
            <div class="col-md-7" style="padding-left: 23px;">
                <button type="submit" class="btn btn-default" style="float: left; margin-left: 20px;margin: 0px;" id="per" ng-disabled="isStandard">Update</button>
                <button type="button" class="btn btn-default btnReset1" style="float: left; margin-left: 5px;" id="per">Reset</button>
            </div>
            <br>
            <br>
        </div>
        }

    }
@using (Html.BeginForm("DeleteCustomerSLA", "SLASetting", FormMethod.Post, new { @id = "SLACustomerDeleteForm" }))
{
    <div ng-show="showLists()" class="SLAGrid">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8" style="margin-top: 15px;padding-right:0px">
                <table class="table" style="margin-bottom: 0px;">
                    <thead style="color: #fff;background-color: #399bd3;">
                        <tr>
                            @if (ViewBag.AddEditAccess == true)
                            {
                            <th style="width: 22%;font-size: 10px;">
                                <input type="checkbox" class="pchkSLA"><br />
                                Check/Uncheck All
                            </th>
                            }
                            <th style="width: 85%;font-size: 17px;">SLA</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8" style="max-height:350px;overflow-x:hidden">
                <table class="table tblProd">

                    <tbody>
                        <tr ng-repeat="row in selectedSLA">
                            @if (ViewBag.AddEditAccess == true)
                            {
                            <td style="width:22%">
                                <input type="checkbox" class="chkSLA">
                                <input type="hidden" value="{{row.Key}}" />
                            </td>
                            }
                            <td>

                                <span>{{row.Value}}</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <input type="hidden" name="SLAIds" />
                <input type="hidden" name="hCustomerId" id="hCustomerId">
            </div>

        </div>
        @if (ViewBag.AddEditAccess == true)
        {
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-4"></div>
            <div class="col-md-7" style="padding-left: 23px;">
                <button type="submit" class="btn btn-default" style="float: left; margin-left: 5px;" id="per">Delete</button>
            </div>
            <br>
            <br>
        </div>
        }
    </div>
}
</div>
<script>
    function setcheckboxes() {
        var count = 0;
        var SLA = "";
        $('.chkSLA').each(function () {
            if ($(this).is(":checked")) {
                SLA += $(this).siblings().val() + ",";
                count++;
            }
        });
        if (SLA.length > 0) {
            SLA = SLA.substring(0, SLA.length - 1);
            $('input[name="SLAIds"]').val(SLA);
        }
        else {
            $('input[name="SLAIds"]').val("");
        }

        

    }
    $('body').on('click', 'input.chkSLA', function () {
        setcheckboxes();
    });
    $('body').on('click', 'input.pchkSLA', function () {
        if ($(this).is(":checked")) {
            $('.chkSLA').prop("checked", true);
            setcheckboxes();
        }
        else {
            $('input[name="SLAIds"]').val("");
            $('.chkSLA').prop("checked", false);

        }
    });
    $('#isViewable').click(function () {
        if ($(this).prop('checked')) {
            $('input[name="Viewable"]').val('true');
        }
        else {
            $('input[name="Viewable"]').val('false');
        }
    });


    $(window).ready(function () {


        var customerId = "@Model.CustomerId";
        if (customerId.length > 0) {
            //angular.element(document.getElementById('myController')).scope().getPriorities(0, companyId);
            $('#CustomerID').val(customerId).change();
        }
       
    });
    $("#SLASettingForm").submit(function () {
        if ($('input[name="SLAName"]').val() == "") {
            alert("Please provide SLA");
            return false;
        }
    });

    $('#SLAToCustomerForm').submit(function () {
        //var unselectedSLA = '';
        //$('#unselectedSLA option:selected').each(function (e, t) {
        //    unselectedSLA += $(t).text().trim() + ",";
        //});
        //unselectedSLA = unselectedSLA.substring(0, unselectedSLA.length - 1);
        //$('#unselectedSLA').val(unselectedSLA);

        //if (unselectedSLA == '') {
        //    alert("Please select atleast SLA");
        //    return false;
        //}
        if ($('#CustomerID').val() == "") {
            alert("Please select customer");
            return false;

        }
        //if($('#unselectedSLA option:selected').val() == undefined)
        //{
        //    alert("Please select atleast SLA");
        //        return false;
        //}
    });


    $('#CustomerID').change(function () {

        angular.element(document.getElementById('myController')).scope().getSLAinfo($(this).val());
        $('input[name="SLAIds"]').val("");
        
       
    });

    $('.btnReset').click(function () {
        $('input[name="SLAName"]').val("");
    });
    $('.btnReset1').click(function () {

        $('#CustomerID').val('').change();
        //  angular.element(document.getElementById('myController')).scope().updateStandard();
    });
    $(function () {
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);

    });
    $('#SLACustomerDeleteForm').submit(function () {
        if ($('#CustomerID').val() == "" || $('input[name="SLAIds"]').val() == "") {
            alert("Please select customer and SLA to delete");
            return false;
        }
        $('#hCustomerId').val($('#CustomerID').val());
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".slasetting").addClass("active");
    });
</script>

