﻿@using OneSourceAdminCore.Model;
@{
    ViewBag.Title = "Local Taxes";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Other > OEM Specific SLAs </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>

<div class="os-admin-companies">
    <div class="col-md-12 catalog-add-new">
        <button type="submit" class="btn btn-default btnSubmit pull-right" id="pmfc-back" style="margin-right: 10px;">Back</button>
    </div>
    <!-- Tab panes -->
    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">* </span>Country:</label>
    </div>
    <div class="col-md-4 pm-mp" style="margin-bottom: 15px;">
        @if (ViewBag.Countries != null)
        {
            @Html.DropDownList("countryId", new SelectList((List<GenericList>)ViewBag.Countries,
                   "Key", "Value"),
          new { @id = "countryId" })
        }
    </div>
    <div class="col-md-3"></div>

    <div class="clearfix"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <label><span style="color:red">&nbsp;&nbsp; </span>Local Taxes %:</label>
    </div>
    <div class="col-md-4 pm-mp">
        <input type="text" id="localtax" maxlength="4" class="form-control numericwithdecimal" @(ViewBag.AddEditAccess==true?"":"disabled")/>
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>

    <div class="col-md-3"></div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4 pm-mp">
        @if (ViewBag.AddEditAccess == true)
        {
        <button type="submit" class="btn btn-default btnSubmit pull-right updateTax" id="per">Update</button>
        }
    </div>
</div>

<script>
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
    });

    $('#pmfc-back').click(function () {
        window.location.href = "/admin-dashboard";
    });
    $('#countryId').change(function () {
        if ($(this).val() != "0") {
            showHideLoader(1);
            var data = {
                countryId: $('#countryId').val()
            }

            $.ajax({
                url: '/SLASetting/GetCountryTax',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != "0") {
                        $('#localtax').val(data);
                    }
                    else {
                        $('#localtax').val("");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else if ($(this).val() == "0") {
            $('#localtax').val("");

        }
    });
   @if (ViewBag.AddEditAccess == true)
   {
   <text>
    $('.updateTax').click(function () {

        if ($('#countryId').val() != "0") {
            showHideLoader(1);
            var data = {
                localtax: $('#localtax').val(),
                countryId: $('#countryId').val()
            }

            $.ajax({
                url: '/SLASetting/UpdateCountryTax',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == "0") {
                        showNotification("Error occured.");
                    }
                    else {
                        showNotification("Record updated successfully.");
                    }

                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else {
            alert("Please provide required field");

        }
    });
    </text>
    }
</script>