﻿@model OneSourceAdminCore.Model.OEMSpecificSLAsModel
@{
    ViewBag.Title = "OEM Specific SLAs";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Other > OEM Specific SLAs </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>

<div class="os-admin-companies">
    <div class="col-md-12 catalog-add-new">
        <button type="submit" class="btn btn-default btnSubmit pull-right" id="pmfc-back" style="margin-right: 10px;">Back</button>
    </div>
    <!-- Tab panes -->
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red">* </span>Manufacturer:</label>
    </div>
    <div class="col-md-4 pm-mp" style="margin-bottom: 15px;">
        @if (Model.Manufacturers != null && Model.Manufacturers.Count > 0)
        {
            @Html.DropDownList("manufacturerId", new SelectList(Model.Manufacturers,
                   "Key", "Value"),
          new { @id = "manufacturerId" })
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red">* </span>Country:</label>
    </div>
    <div class="col-md-4 pm-mp" style="margin-bottom: 15px;">
        @if (Model.Countries != null && Model.Countries.Count > 0)
        {
            @Html.DropDownList("countryId", new SelectList(Model.Countries,
                   "Key", "Value"),
          new { @id = "countryId" })
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red">&nbsp;&nbsp; </span>Order Delivery SLA (Business Days):</label>
    </div>
    <div class="col-md-4 pm-mp">
        <input type="text" id="OrderDeliverySLA" maxlength="4" class="form-control allownumericwithoutdecimal" @(ViewBag.AddEditAccess==true?"":"disabled")/>
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red">&nbsp;&nbsp; </span>Order Acceptance SLA (Business Days):</label>
    </div>
    <div class="col-md-4 pm-mp">
        <input type="text" id="OrderAcceptanceSLA" maxlength="4" class="form-control allownumericwithoutdecimal" @(ViewBag.AddEditAccess==true?"":"disabled")/>
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red">&nbsp;&nbsp; </span>Quote Response SLA (Business Days):</label>
    </div>
    <div class="col-md-4 pm-mp">
        <input type="text" id="QuoteResponseSLA" maxlength="4" class="form-control allownumericwithoutdecimal" @(ViewBag.AddEditAccess==true?"":"disabled")/>
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red">&nbsp;&nbsp; </span>Catalog and Bundle Uplaod SLA (Business Days):</label>
    </div>
    <div class="col-md-4 pm-mp">
        <input type="text" id="CatalogUploadSLA" maxlength="4" class="form-control allownumericwithoutdecimal"  @(ViewBag.AddEditAccess==true?"":"disabled") />
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>

    <div class="col-md-2"></div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4 pm-mp">
@if (ViewBag.AddEditAccess == true)
{
        <button type="submit" class="btn btn-default btnSubmit pull-right updateOEMSLA" id="per" >Update</button>       
}
    </div>
</div>

<script>
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
    });

    $('#manufacturerId').change(function () {
        $('#OrderDeliverySLA').val("");
        $('#OrderAcceptanceSLA').val("");
        $('#QuoteResponseSLA').val("");
        $('#CatalogUploadSLA').val("");
        $('#countryId').select2().val("0").trigger("change");
    });

    $('#countryId').change(function () {
        if ($(this).val() != "0" && $('#manufacturerId').val()!="0") {
            showHideLoader(1);
            var data = {
                countryId: $('#countryId').val(),
                manufacturerId: $('#manufacturerId').val(),

            }

            $.ajax({
                url: '/SLASetting/GetOEMSpecificSLAs',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null && data != undefined) {
                        $('#OrderDeliverySLA').val(data.OrderDeliverySLA);
                        $('#OrderAcceptanceSLA').val(data.OrderAcceptanceSLA);
                        $('#QuoteResponseSLA').val(data.QuoteResponseSLA);
                        $('#CatalogUploadSLA').val(data.CatalogUploadSLA);
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else if ($(this).val() == "0") {
            $('#OrderDeliverySLA').val("");
            $('#OrderAcceptanceSLA').val("");
            $('#QuoteResponseSLA').val("");
            $('#CatalogUploadSLA').val("");
        }
    });
    $('#pmfc-back').click(function () {
        window.location.href = "/admin-dashboard";
    });
    @if (ViewBag.AddEditAccess == true)
        {
        <text>
    $('.updateOEMSLA').click(function() {

                if ($('#countryId').val() != "0" && $('#manufacturerId').val() != "0") {
                    showHideLoader(1);
                    var data = {
                OrderDeliverySLA: $('#OrderDeliverySLA').val(),
                OrderAcceptanceSLA: $('#OrderAcceptanceSLA').val(),
                QuoteResponseSLA: $('#QuoteResponseSLA').val(),
                CatalogUploadSLA: $('#CatalogUploadSLA').val(),
                countryId: $('#countryId').val(),
                manufacturerId:$('#manufacturerId').val()
                    }

            $.ajax({
                url: '/SLASetting/UpdateOEMSpecificSLAs',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function(data) {
                        if (data == "0") {
                            showNotification("Error occured.");
                        }
                        else
                        {
                            showNotification("Record updated successfully.");
                        }

                    },
                complete: function(data) {
                        showHideLoader(0);
                    }
                });
            }
        else
        {
                alert("Please provide required field");

            }
        });
        </text>
    }
</script>