﻿@model List<OneSourceAdminCore.Entity.sp_getSLAs_AdminR_Result>
@{
    ViewBag.Title = "Order & Quote SLAs";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Other > Order & Quote SLAs </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>

<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
<div class="clearfix"></div>
<div class="col-md-12 catalog-add-new" style="margin-top: 40px;">
    <button type="submit" class="btn btn-default btnSubmit pull-right" id="pmfc-back" style="margin-right: 10px;">Back</button>
</div>
@using (Html.BeginForm("UpdateOrderQuoteSLA", "SLASetting", FormMethod.Post, new { @id = "OrderQuoteSLAForm" }))
{
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15px;padding-right:0px">
            <table class="table" style="margin-bottom: 0px !important;">
                <thead style="color: #fff;background-color: #399bd3;">
                    <tr>
                        <th style="width: 40%;font-size: 14px;">Country</th>
                        <th style="width: 20%;font-size: 14px;">Order Delivery SLA (Business Days)</th>
                        <th style="width: 20%;font-size: 14px;">Order Acceptance SLA (Business Days)</th>
                        <th style="width: 20%;font-size: 14px;">Quote Response SLA (Business Days)</th>
                    </tr>
                </thead>
            </table>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12"></div>
        <div class="col-md-2"></div>

        <div class="col-md-8" style="height:500px !important;overflow:scroll;overflow-x:hidden">
            <table class="table">
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        if (ViewBag.AddEditAccess == true)
                        {
                            <tr>
                                <td style="width: 40%;" class="countryName">
                                    @Model[i].CountryName
                                    <input type="hidden" name="sp_getSLAs_AdminR_Result[@i].CountryID" value="@Model[i].CountryID">
                                </td>

                                <td style="width: 20%;">
                                    <input type="text" class="form-control allownumericwithoutdecimal" name="sp_getSLAs_AdminR_Result[@i].Days" value="@Model[i].Days" maxlength="8">
                                </td>
                                <td style="width: 20%;">
                                    <input type="text" class="form-control allownumericwithoutdecimal" name="sp_getSLAs_AdminR_Result[@i].AcceptanceDays" value="@Model[i].AcceptanceDays" maxlength="8">
                                </td>
                                <td style="width: 20%;">
                                    <input type="text" class="form-control allownumericwithoutdecimal" name="sp_getSLAs_AdminR_Result[@i].QuoteResponseDays" value="@Model[i].QuoteResponseDays" maxlength="8">
                                </td>
                            </tr>


                        }
                        else
                        {
                            <tr>
                                <td style="width: 40%;text-align: center;" class="countryName">
                                    @Model[i].CountryName
                                </td>

                                <td style="width: 20%;text-align: center;">
                                   @Model[i].Days
                                </td>
                                <td style="width: 20%;text-align: center;">
                                   @Model[i].AcceptanceDays
                                </td>
                                <td style="width: 20%;text-align: center;">
                                    @Model[i].QuoteResponseDays
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="col-md-2"></div>
            <div class="col-md-8">

            </div>
        </div>
        @if (ViewBag.AddEditAccess == true)
        {
            <div class="col-md-12" style="margin-top: 10px;">
                <div class="col-md-11"></div><div class="col-md-1">
                    <button class="btn btn-primary Btnupdate" type="submit">Update</button>
                </div>
            </div>
        }
    </div>

}
<script>
    $(document).ready(function () {
        //$('body').css("overflow", "hidden");
        StartLoader();

        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);

        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".orderquotesla").addClass("active");
    });
    $('#OrderQuoteSLAForm').submit(function () {
        StartLoader();
    });
    $(window).ready(function () {
        EndLoader();

    });
    $('#pmfc-back').click(function () {
        window.location.href = "/admin-dashboard";
    });
</script>