﻿@model OneSourceAdminCore.Model.SLAHistoryModel
@{
    ViewBag.Title = "SLA History";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .col-md-8 {
        padding-bottom: 10px;
    }
</style>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-6" style="padding:10px; color:#FFF;"><b> SLA History for @(Model.SLAHistory.slaname ?? "-") #@(Model.SLAHistory.slainstanceid)</b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-3" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right">
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <h3><b>Summary:</b></h3>
</div>

<div class="clearfix"></div>

@using (Html.BeginForm("ModifySLA", "SLASetting", FormMethod.Post, new { @id = "ModifySLAForm" }))
{
    <input type=hidden name=oldisbreach value="@(Model.SLAHistory.isbreach ? "true" : "false")">
    <input type=hidden name=oldisexception value="@(Model.SLAHistory.isexception?"true":"false")">
    <input type=hidden name=oldisclosedwithinsla value="@(Model.SLAHistory.closedwithinsla?"true":"false")">
    <div class="col-md-6">
        <input type="hidden" value="@Model.SLAHistory.slainstanceid" name="slainstanceid" id="slainstanceid" />
        <div class="col-md-4">
            <label>SLA Begin Date:</label>
        </div>
        <div class="col-md-8">
            @(Model.SLAHistory.begindate == null ? "-" : Convert.ToDateTime(Model.SLAHistory.begindate).ToString())
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Time Zone:</label>
        </div>
        <div class="col-md-8">
            @(Model.SLAHistory.timezonename ?? "-")
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Minutes To Breach:</label>
        </div>
        <div class="col-md-8">
            @if (Convert.ToString(Session["UserGroupName"]) == "ISD")
            {
                <input type="text" maxlength="6" name="minutestobreach" value="@(Model.SLAHistory.minutestobreach ?? 0)" class="form-control allownumericwithoutdecimal">
            }
            else
            {
                @(Model.SLAHistory.minutestobreach ?? 0)
            }
        </div>
        <div class="clearfix"></div>
        @if (Model.SLAHistory.isbreach)
        {
            <div class="col-md-4">
                <label>Breach Cause:</label>
            </div>
            <div class="col-md-8">
                @if (Convert.ToString(Session["UserGroupName"]) == "ISD")
                {
                    @Html.DropDownList("breachCauseID", new SelectList(Model.BreachCauses,
                  "Key", "Value", Model.SLAHistory.breachCauseID),
                  new { @id = "breachCauseID" })
                }
                else
                {
                    @Html.DropDownList("breachCauseID", new SelectList(Model.BreachCauses,
                  "Key", "Value", Model.SLAHistory.breachCauseID),
                  new { @id = "breachCauseID", @disabled = "disabled" })
                }
            </div>
            <div class="clearfix"></div>
        }
        @if (Model.SLAHistory.isbreach)
        {
            <div class="col-md-4">
                <label>Breach Resolution:</label>
            </div>
            <div class="col-md-8">
                @if (Convert.ToString(Session["UserGroupName"]) == "ISD")
                {
                    <textarea name="breachResolutionText" maxlength="1000" cols="50" class="form-control" rows="5">@(Model.SLAHistory.breachResolutionText ?? "")</textarea>
                }
                else
                {
                    <label>@(Model.SLAHistory.breachResolutionText ?? "")</label>
                }
            </div>

            <div class="clearfix"></div>
        }
    </div>

    <div class="col-md-6">
        <div class="col-md-4">
            <label>SLA End Date:</label>
        </div>
        <div class="col-md-8">
            @(Model.SLAHistory.enddate == null ? "-" : Convert.ToDateTime(Model.SLAHistory.enddate).ToString())
        </div>
        @if (Convert.ToString(Session["UserGroupName"]) == "ISD")
        {
            <div class="clearfix"></div>
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <input type="button" class="btn btn-default" value="Stop Timer" onclick="stopTimer()">
                <input type="button" class="btn btn-default" value="Start Timer" onclick="startTimer()">
            </div>
        }

        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Resolution:</label>
        </div>
        <div class="col-md-8">
            @{
                string tmp = string.Empty;
                if (Model.SLAHistory.closedwithinsla)
                {
                    tmp = "checked";
                }

            }
            <form>
                <div class="col-md-12" style="padding-left: 0px;">
                    <label class="radio-inline">
                        @if (Convert.ToString(Session["UserGroupName"]) != "SFA")
                        {
                            <input type="radio" name="resolution" @tmp value="closedwithinsla"><text>Closed Within SLA</text>
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(tmp))
                            {
                                <text>Closed Within SLA</text>
                            }
                        }
                    </label>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                    <label class="radio-inline">
                        @{
                            tmp = string.Empty;
                        }
                        @if (Model.SLAHistory.isbreach)
                        {
                            tmp = "checked";
                        }
                        @if (Convert.ToString(Session["UserGroupName"]) != "SFA")
                        {
                            <input type="radio" name="resolution" value="breach" @tmp><text>SLA Breach</text>
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(tmp))
                            {
                                <text>SLA Breach</text>
                            }
                        }

                    </label>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                    <label class="radio-inline">
                        @{
                            tmp = string.Empty;
                        }
                        @if (Model.SLAHistory.isexception)
                        {
                            tmp = "checked";
                        }
                        @if (Convert.ToString(Session["UserGroupName"]) != "SFA")
                        {
                            <input type="radio" name="resolution" value="exception" @tmp> <text>SLA Exception</text>
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(tmp))
                            {
                                <text>SLA Exception</text>
                            }
                        }
                    </label>
                </div>
            </form>
        </div>
        @if (Convert.ToString(Session["UserGroupName"]) == "ISD")
        {
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-default resetcontrol btnReset" style="float:right; margin-left:20PX; " id="per">Reset</button>
                        <a href="#">
                            <button id="btnSearchOrder" type="submit" class="btn btn-default" style="float:right;  margin-left:20PX;" onclick="">Modify</button>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
                            }

<div class="col-md-12" style="padding-top: 20px;">
    <h4><b>GS Comments:</b></h4>
</div>
<div class="col-md-12">
    <div class="col-md-12">
        @if (!string.IsNullOrEmpty(Model.SLAHistory.comments))
        {
            @Html.Raw(Model.SLAHistory.comments)
        }
    </div>
</div>
@if (Convert.ToString(Session["UserGroupName"]) == "ISD")
{
    <div class="col-md-12" style="padding-top: 20px;">
        <h3><b>Add Comment:</b></h3>
    </div>

    using (Html.BeginForm("AddSLAComment", "SLASetting", FormMethod.Post, new { @id = "SLACommentForm" }))
    {
        <div class="col-md-6">
            <div class="col-md-12">
                <textarea name="comment" cols="50" class="form-control" rows="5" maxlength="4000"></textarea>
                <span><b>Note: The maximum character length of comments is 4000.</b></span>
                <input type="hidden" value="@Model.SLAHistory.slainstanceid" name="slaId" id="slaId" />
            </div>
            <div class="col-md-12" style="padding-top:10px">
                <button type="submit" class="btn btn-default resetcontrol" style="float:right; margin-left:20PX; " id="per">Update</button>
            </div>
        </div>
    }
}
<script>
    $("select").each(function (i, e) {
        if ($(this).attr("multiple") != "multiple") {
            $(this).select2({ allowClear: true });
        }
    });
    function warn() {
        return confirm('You are about to manually override the data pertaining Service Level Agreement.  Are you SURE you want to do this?');
    }

    function startTimer() {
        if (warn()) {
            window.location.href = "/slasetting/starttimer?slaId=" + $('#slaId').val();
            StartLoader();
        }
    }
    function stopTimer() {
        if (warn()) {
            window.location.href = "/slasetting/stoptimer?slaId=" + $('#slaId').val();
            StartLoader();
        }
    }
    $(function () {
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });

    $('#ModifySLAForm').submit(function () {
        if (warn()) {
            StartLoader();
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "@ViewBag.BackUrl";
    });
    $('.btnReset').click(function () {
        window.location.reload();
    });
</script>
