﻿

@model OneSourceAdminCore.Model.OrderCommentsModel
@using System.Data


<div class="col-md-12">
    <h2>Comments:</h2>
    <div class="row" style="">

        <div class="col-md-8 col-md-offset-3">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">*</span> Add Comments:
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.CheckBox("isUrgent")
                        <label for="isUrgent">Urgent Request</label>
                        <br />
                        <textarea name="add-comments" cols="10" rows="6" maxlength="2000" class="form-control orderComment"></textarea>
                        <br />
                        <span><b>Note: The maximum character length of comments is 2000.</b></span>

                    </div>
                </div>
            </div>
            @if (Session["UserGroupName"].ToString() == "ISD")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        Jira Ticket Number:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="jiraTicketNum" name="jiraTicketNum" maxlength="400" class="form-control validateURL" value="@(Model.JiraTicketNumber ?? "" )" />
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        Select Supplier:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            @if (Model.ListSuppliers != null && Model.ListSuppliers.Count > 0)
                            {
                                @Html.DropDownList("SelectedSupplierID", new SelectList(Model.ListSuppliers,
                            "Key", "Value", Model.ListSuppliers), "--Select--",
                            new { @id = "supplierDrp", @class = "form-control" });
                            }

                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-2 col-md-offset-2" style="text-align:left; margin-top:10px; ">
                    @if (Session["UserGroupName"].ToString() == "ISD")
                    {
                        <text><input type="checkbox" text="" class="isGSOnly" style="width: auto; height: auto; margin-right:10px;" />GS Only</text>
                    }

                </div>
                <div class="col-md-4" style="margin-top:10px; text-align:right; ">
                    <input type="submit" id="per" class="btn addComment" value="Add Comments" />
                </div>
            </div>


        </div>

    </div>

</div>
<div class="col-md-12">
    @if (Model.tblComments == null || Model.tblComments.Rows.Count == 0)
    {
        <h4>Comments:</h4>
        <p>Your search returned no results.</p>
    }
    else
    {
        <h4>Comments:</h4>

        <div class="row" style="max-height: 300px;overflow-y: auto;padding-left: 15px;">
            <div class="panel panel-default">

                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Log Date</th>
                            <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Logged By</th>
                            <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Event</th>
                            <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow item in Model.tblComments.Rows)
                        {
                            <tr>
                                <td class="col-xs-2">@item["LogDate"]</td>
                                <td class="col-xs-2">@item["UpdateBy"]</td>
                                <td class="col-xs-2">@item["Event"]</td>
                                <td class="col-xs-1">@item["Comments"]</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>

    }
</div>

@if (Session["UserGroupName"].ToString() == "ISD")
{
    <div class="col-md-12">

        @if (Model.GSComments.Count == 0)
        {
            <h4>GS Only Comments:</h4>
            <p>Your search returned no results.</p>
        }
        else
        {
            <h4>GS Only Comments:</h4>

            <div class="row" style="max-height: 300px;overflow-y: auto;padding-left: 15px;">
                <div class="panel panel-default">

                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Log Date</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Logged By</th>
                                <th class="col-xs-2 " style="color: #fff;background-color: #399bd3;">Company</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Event</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Status</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GSComments)
                            {
                                <tr>
                                    <td class="col-xs-2">@item.logdate</td>
                                    <td class="col-xs-2">@item.loggedby</td>
                                    <td class="col-xs-2">@item.company</td>
                                    <td class="col-xs-2">@(item.@event)</td>
                                    <td class="col-xs-1">@item.status</td>
                                    <td class="col-xs-3">@item.comments</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        }
    </div>
}


    @*New comments section*@

    @*Admin comments*@
    <div style="margin-top:40px;" class="col-md-12">
        @if (Model.OrderCommentsbySupplier.Where(x => x.GSOnly == false && x.PCComment == true).ToList().Count == 0)
        {
            <h4>Admin Comments:</h4>
            <p>Your search returned no results.</p>
        }
        else
        {
            <h4>Admin Comments:</h4>

            <div class="row" style="max-height: 300px;overflow-y: auto;padding-left: 15px;">
                <div class="panel panel-default">

                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Supplier Name</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Log Date</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Logged By</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Company</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderCommentsbySupplier.Where(x => x.GSOnly == false && x.PCComment == true))
                            {
                                <tr>
                                    <td class="col-xs-2">@(item.SupplierName != null ? item.SupplierName : "-")</td>
                                    <td class="col-xs-2">@item.LogDate</td>
                                    <td class="col-xs-2">@item.CreatedBy</td>
                                    <td class="col-xs-2">@item.Company</td>
                                    <td class="col-xs-1">@item.Comments</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        }
    </div>


    @*Supplier Comments*@
    <div class="col-md-12">
        @if (Model.OrderCommentsbySupplier.Where(x => x.GSOnly == false && x.PCComment == false).ToList().Count == 0)
        {
            <h4>Supplier Comments:</h4>
            <p>Your search returned no results.</p>
        }
        else
        {
            <h4>Supplier Comments:</h4>

            <div class="row" style="max-height: 300px;overflow-y: auto;padding-left: 15px;">
                <div class="panel panel-default">

                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Supplier Name</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Log Date</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Logged By</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Company</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderCommentsbySupplier.Where(x => x.GSOnly == false && x.PCComment == false))
                            {
                                <tr>
                                    <td class="col-xs-2">@(item.SupplierName != null ? item.SupplierName : "-")</td>
                                    <td class="col-xs-2">@item.LogDate</td>
                                    <td class="col-xs-2">@item.CreatedBy</td>
                                    <td class="col-xs-2">@item.Company</td>
                                    <td class="col-xs-1">@item.Comments</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        }
    </div>


    @*GS Only Comments*@
    @if (Session["UserGroupName"].ToString() == "ISD")
    {
        <div class="col-md-12">

            @if (Model.OrderCommentsbySupplier.Where(x => x.GSOnly == true).ToList().Count == 0)
            {
                <h4>GS Only Comments:</h4>
                <p>Your search returned no results.</p>
            }
            else
            {
                <h4>GS Only Comments:</h4>

                <div class="row" style="max-height: 300px;overflow-y: auto;padding-left: 15px;">
                    <div class="panel panel-default">

                        <table class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Supplier Name</th>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Log Date</th>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Logged By</th>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Company</th>
                                    <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderCommentsbySupplier.Where(x => x.GSOnly == true))
                                {
                                    <tr>
                                        <td class="col-xs-2">@(item.SupplierName != null ? item.SupplierName : "-")</td>
                                        <td class="col-xs-2">@item.LogDate</td>
                                        <td class="col-xs-2">@item.CreatedBy</td>
                                        <td class="col-xs-2">@item.Company</td>
                                        <td class="col-xs-1">@item.Comments</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>

            }
        </div>
    }


    <script>
        function validateURL(textval) {
            //var urlregex = new RegExp("^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@@)*((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(\:[0-9]+)*(/($|[a-zA-Z0-9\.\,\?\'\\\+&amp;%\$#\=~_\-]+))*$");
            var urlregex = new RegExp("(^[a-zA-Z0-9!@@\.\,\?\'\\\+&amp;://%\$#\=~_\-]+$)");
            return urlregex.test(textval);
        }

        $(".validateURL").on('paste', function (e) {
            var data = "";

            if (window.clipboardData && window.clipboardData.getData) { // IE
                data = window.clipboardData.getData('Text');
            }
            else if (e.originalEvent.clipboardData && e.originalEvent.clipboardData.getData) { // other browsers
                data = e.originalEvent.clipboardData.getData('text/plain');
            }
          
            if (!validateURL(data)) {
                alert('Invalid value');
                $("#jiraTicketNum").val('');
                e.preventDefault();
            }
            else {
                return true;
            }
        });


        $('.validateURL').on('keypress', function (e) {
            var regex = /[a-zA-z0-9!@@#%$^&\-*+()_\\;',./`~\?:"=]+/
            var code = e.charCode ? e.which : e.charCode
            code = code == 0 ? e.keyCode : code;
            var key = String.fromCharCode(code);
           
            var ignoredKeys = [8, 9, 37, 38, 39, 40];

            if (ignoredKeys.indexOf(code) >= 0 || (regex.test(key) && key != "[" && key != "]")) {
                return true;
            }
            else {
                e.preventDefault();
                return false;
            }
        });



        //$('.validateURL').on('input', function (e) {
        //    var regex = /[a-zA-z0-9!@@#$^&\-*+()_\\;',./`~\?:"=]+/
        //    if (!regex.test($("#jiraTicketNum").value)) {
        //        $("#jiraTicketNum").val("");
        //        e.preventDefault();
        //        return false;
        //    }
        //    else {
        //        return true
        //    }
        //});


        $('.addComment').click(function () {
            if ($('.orderComment').val().trim() == "") {
                alert("Comments are required to process.");
                return false;
            }

            showHideLoader(1);
            var data = {
                SessionTrackingNumber: $('#SessionTrackingNumber').val(),
                OrderTrackingNumber: $('#OrderTrackingNumber').val(),
                DestinationTrackingNumber: $('#DestinationTrackingNumber').val(),
                isGSOnly: $('.isGSOnly').prop("checked"),
                IsUrgent: $('#isUrgent:checked').val() == "true" ? true : false,
                Comments: $('.orderComment').val(),
                SupplierId: ($('#supplierDrp').val() != null) && ($('#supplierDrp').val() != 'undefined') && ($('#supplierDrp').val().trim() != "") ? $('#supplierDrp').val() : 0,
                SupplierName: ($('#supplierDrp').val() != null) && ($('#supplierDrp').val() != 'undefined') && ($('#supplierDrp').val().trim() != "") ? $('#supplierDrp option:selected').text() : "",
                JiraTicketNum: $('#jiraTicketNum').val()
            }


            $.ajax({
                url: '/OrderSearch/AddOrderComment',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == "1") {
                        showNotification("Comments has been added successfully.");
                        setTimeout(function () {
                            GetView('OrderComments');
                        }, 2000);
                    }
                    else if (data == "-1") {
                        showNotification("Error occured");
                    }
                    else if (data == "0") {
                        showNotification("Please provide correct data");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        });

    </script>