﻿@model OneSourceAdminCore.Model.OrderItemsModel
@using System.Data
<div class="col-md-6">
    @{
        var DateFormate = string.Empty;
        var DateFormateView = string.Empty;
        if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
        {
            DateFormate = "dd/mm/yyyy";
            DateFormateView = "dd/MM/yyyy";
        }
        else if (Session["DateFormatID"].ToString() == "2")
        {
            DateFormate = "mm/dd/yyyy";
            DateFormateView = "MM/dd/yyyy";
        }
    }

    <div class="clearfix"></div>
    <div class="col-md-4">
        <label>GSP:</label>
    </div>
    <div class="col-md-8 pm-mp">
        @Html.DropDownList("supplierId", new SelectList(Model.GSPList,
           "Key", "Value"),
  new { @id = "supplierId" })
    </div>
    <div class="col-md-4">
        <label>Expected Delivery Date: <span style="font-size: 10px;">@DateFormate</span></label>
    </div>
    <div class="col-md-8" style="padding-bottom: 15px;">
        <div class="form-group">
            <div class="col-md-10" style="padding-left: 0px;">
                <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format=@DateFormate data-date-viewmode="years">
                    <input type="text" name="ExpectedDeliveryDate" class="form-control" readonly>
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                    <img src="/Content/images/reset-btn.png">
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    @if (Session["UserGroupName"].ToString() == "SFA")
    {
        <div class="col-md-4">
            <label>Add Reasons For Delay:</label>
        </div>
        <div class="col-md-8">
            <select name="ChangeR" onchange="toggle(this)" id="ChangeR">
                <option value="0" selected>Select</option>
                <option value="Material Constraint">Material Constraint</option>
                <option value="Part EOL. Opted for replacement">Part EOL.Opted for replacement</option>
                <option value="ETS extended by OEM">ETS extended by OEM</option>
                <option value="Dispatched shipment delayed">Dispatched shipment delayed</option>
                <option value="Stuck at customs">Stuck at customs</option>
                <option value="Delay from Distributor">Delay from Distributor</option>
                <option value="Customer delay">Customer delay</option>
                <option value="National holidays">National holidays</option>
                <option value="Other">Other</option>
            </select>
            <textarea style="display:none;    margin-top: 15px" class="form-control SFADelayReason" name="SFADelayReason"></textarea>

        </div>
        <div class="clearfix"></div>
    }
    <div class="col-md-4">
        <label>Date Shipped: <span style="font-size: 10px;">@DateFormate</span></label>
    </div>
    <div class="col-md-8" style="padding-bottom: 15px;">
        <div class="form-group">
            <div class="col-md-10" style="padding-left: 0px;">
                <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format=@DateFormate data-date-viewmode="years">
                    <input type="text" name="DateShipped" class="form-control" readonly>
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                    <img src="/Content/images/reset-btn.png">
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
        <label>Date Delivered: <span style="font-size: 10px;">@DateFormate</span></label>
    </div>
    <div class="col-md-8" style="padding-bottom: 15px;">
        @*@if (Model.Status == "C")
        {*@
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format=@DateFormate data-date-viewmode="years">
                        <input type="text" name="DateDelivered" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        @*}
        else
        {
            <input type="text" disabled="disabled" name="DateDelivered" class="form-control" />
        }*@
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
        <label>OEM Order #:</label>
    </div>
    <div class="col-md-8 pm-mp">
        <input type="text" name="OEMOrderNo" maxlength="100" class="form-control" />
    </div>
    <div class="clearfix"></div>

    @if (Model.ViewFields.FirstOrDefault(x => x == "CustomClearanceDate") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Custom Clearance Date: <span style="font-size: 10px;">@DateFormate</span></label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            @if (Model.DateAcceptedBySupplier != null)
            {
                <div class="form-group">
                    <div class="col-md-10" style="padding-left: 0px;">
                        <div style="" class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format=@DateFormate data-date-viewmode="years">
                            <input type="text" name="CustomClearanceDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            }
            else
            {
                <input type="text" disabled="disabled" name="CustomClearanceDate" class="form-control" />
            }
        </div>
        <div class="clearfix"></div>
    }
    @if (Model.ViewFields.FirstOrDefault(x => x == "EstimatedInstallationDate") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Estimated Installation Date: <span style="font-size: 10px;">@DateFormate</span></label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            @if (Model.DateAcceptedBySupplier != null)
            {
                <div class="form-group">
                    <div class="col-md-10" style="padding-left: 0px;">
                        <div style="" class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format=@DateFormate data-date-viewmode="years">
                            <input type="text" name="EstimatedInstallationDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            }
            else
            {
                <input type="text" disabled="disabled" name="EstimatedInstallationDate" class="form-control" />
            }
        </div>
        <div class="clearfix"></div>
    }
    @if (Model.ViewFields.FirstOrDefault(x => x == "ActualInstallationDate") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Actual Installation Date: <span style="font-size: 10px;">@DateFormate</span></label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            @if (Model.DateAcceptedBySupplier != null)
            {

                <div class="form-group">
                    <div class="col-md-10" style="padding-left: 0px;">
                        <div style="" class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format=@DateFormate data-date-viewmode="years">
                            <input type="text" name="ActualInstallationDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            }
            else
            {
                <input type="text" disabled="disabled" name="ActualInstallationDate" class="form-control" />
            }
        </div>
        <div class="clearfix"></div>
    }
    @if (Session["UserGroupName"].ToString() == "ISD")
    {
        <div class="col-md-4">
            <label>Add Reasons For Delay:</label>
        </div>
        <div class="col-md-8">
            <textarea class="form-control DelayReason" name="DelayReason"></textarea>
            <button type="button" style="float: right;margin-top: 10px;" class="btn btn-default btnAddReason">Add Reasons</button>
        </div>
        <div class="clearfix"></div>
    }
</div>
<div class="col-md-6">
    @if (Model.DateAcceptedBySupplier == null)
    {
        <div class="col-md-4">
        </div>
        <div class="col-md-8 pm-mp" style="padding-bottom: 10px;">
            <span style="color:red">Accepted Date is not selected</span>
        </div>
        <div class="clearfix"></div>
    }
    else
    {
        <div class="col-md-4">
            <label>Accepted Date: <span style="font-size: 10px;">@DateFormate</span></label>
        </div>
        <div class="col-md-8 pm-mp" style="padding-bottom: 10px;">
            <p>@(Convert.ToDateTime(Model.DateAcceptedBySupplier).ToString(DateFormateView))</p>
        </div>
        <div class="clearfix"></div>

    }
    <div class="col-md-4">
        <label>Currency:</label>
    </div>
    <div class="col-md-8 pm-mp">
        <p>@(Model.CurrencyName ?? "-")</p>
    </div>
    <div class="clearfix"></div>
    @if (Model.ViewFields.FirstOrDefault(x => x == "DistributorName") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Distributor:</label>
        </div>
        <div class="col-md-8 pm-mp">
            @if (Model.DateAcceptedBySupplier == null)
            {
                <select name="distributorId" id="distributorId" disabled="disabled">
                    <option value="0">&lt; Distributor NOT Selected &gt;</option>
                </select>
            }
            else
            {
                @Html.DropDownList("distributorId", new SelectList(Model.Distributors,
                    "Key", "Value"),
           new { @id = "distributorId" })
            }
        </div>
        <div class="clearfix"></div>
    }
    @if (Model.ViewFields.FirstOrDefault(x => x == "GSPToDistriOrderNum") == null ? false : true)
    {
        <div class="col-md-4">
            <label>GSP to Distri #:</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="GSPtoDistriNo" maxlength="50" disabled="disabled" class="form-control" />
        </div>
        <div class="clearfix"></div>
    }
    @if (Model.ViewFields.FirstOrDefault(x => x == "DistriToOEMOrderNum") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Distri to OEM #:</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="DistritoOEMNo" maxlength="50" disabled="disabled" class="form-control" />
        </div>
        <div class="clearfix"></div>
    }
    @if (Model.ViewFields.FirstOrDefault(x => x == "OEMShipDate") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Ship Date (OEM): <span style="font-size: 10px;">@DateFormate</span></label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group ShipDateOEMDiv1" style="display:none">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div style="" class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format=@DateFormate data-date-viewmode="years">
                        <input type="text" name="ShipDateOEM" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
            <div class="ShipDateOEMDiv2">
                <input type="text" disabled="disabled" class="form-control" />
            </div>
        </div>
        <div class="clearfix"></div>
    }
    @if (Model.ViewFields.FirstOrDefault(x => x == "DistriShipDate") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Ship Date (Distri): <span style="font-size: 10px;">@DateFormate</span></label>
        </div>

        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group ShipDateDistri1" style="display:none">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div style="" class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format=@DateFormate data-date-viewmode="years">
                        <input type="text" name="ShipDateDistri" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
            <div class="ShipDateDistri2">
                <input type="text" disabled="disabled" class="form-control" />
            </div>
        </div>
        <div class="clearfix"></div>
    }
    @if (Model.ViewFields.FirstOrDefault(x => x == "ShipperTrackingName") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Shipper Tracking Name:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="100" name="ShipperTrackingName" disabled="disabled" class="form-control" />
        </div>
        <div class="clearfix"></div>
    }
    @if (Model.ViewFields.FirstOrDefault(x => x == "ShipperTrackingNum") == null ? false : true)
    {
        <div class="col-md-4">
            <label>Shipper Tracking #:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="50" name="ShipperTrackingNo" disabled="disabled" class="form-control" />
        </div>
        <div class="clearfix"></div>
    }
    <div class="col-md-4"> @*added (SUNNY GOHAR)*@
        <label>Tracking Reference:</label>
    </div>
    <div class="col-md-8">
        <input type="text" maxlength="50" name="TrackingReferenceUrl" class="form-control" />
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-md-12 update-btn">
    @if (Model.NetPaymentDays != null)
    {
        <span style="color:red">Payment is due @Model.NetPaymentDays days from date of invoice.</span>
    }
    <button type="submit" class="btn btn-default btnSubmit btnOrderItemUpdate" id="per">Update</button>
</div>
<div class="clearfix"></div>
<div class="col-md-12 update-btn my-table-ovrflw">
    <div class="row">
        @*<div class="col-md-12" style="margin-top: 15px;padding-right:0px">
                <table class="table" style="margin-bottom: 0px;">

                </table>
            </div>

            <div class="col-md-12"></div>*@
        <div class="col-md-12 table-scrollable" style="max-height:500px;    overflow-y: scroll;    padding-left: 0px;
    padding-right: 0px;">
            <table class="table">
                <thead style="color: #fff;background-color: #399bd3;">
                    <tr>
                        @*@if (ViewBag.AddEditAccess == true)
                            {*@
                        <th style="width: 50px;font-size: 10px;">
                            <input type="checkbox" class="pItemChk"><br />
                            Check/Uncheck All
                        </th>
                        @*  }*@
                        <th style="font-size: 10px; padding-right:12%;">Description</th>
                        <th style="font-size: 10px;">SKU</th>
                        <th style="font-size: 10px;">OEM</th>
                        <th style="font-size: 10px;">Item Price</th>
                        <th style="font-size: 10px;">Quantity</th>
                        <th style="font-size: 10px;">Total</th>
                        <th style="font-size: 10px;">GSP</th>
                        <th style="font-size: 10px;">Expected Delivery Date <br /> (@DateFormate)</th>
                        <th style="font-size: 10px;">Date Shipped<br /> (@DateFormate)</th>
                        <th style="font-size: 10px;">Date Delivered <br />(@DateFormate)</th>
                        <th style="font-size: 10px;">OEM Order #</th>
                        @if (Model.ViewFields.FirstOrDefault(x => x == "DistributorName") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Distributor</th>
                        }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "GSPToDistriOrderNum") == null ? false : true)
                        {
                        <th style="font-size: 10px;">GSP to Distri #</th>
                        }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "DistriToOEMOrderNum") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Distri to OEM #</th>
                        }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "OEMShipDate") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Ship Date (OEM)<br /> (@DateFormate)</th>
                        }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "DistriShipDate") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Ship Date (Distri) <br />(@DateFormate)</th>
                        }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "ShipperTrackingName") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Shipper Tracking Name</th>
                        }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "ShipperTrackingNum") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Shipper Tracking #</th>
                        }
                        <th style="font-size: 10px;">Tracking Reference</th> @*added (SUNNY GOHAR)*@
                        @if (Model.ViewFields.FirstOrDefault(x => x == "CustomClearanceDate") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Custom Clearance Date <br />(@DateFormate)</th>
                        }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "EstimatedInstallationDate") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Estimated Installation Date<br /> (@DateFormate)</th>
                        }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "ActualInstallationDate") == null ? false : true)
                        {
                        <th style="font-size: 10px;">Actual Installation Date<br /> (@DateFormate)</th>
                        }
                        @if (Session["UserGroupName"].ToString() == "ISD")
                        {
                        <th style="font-size: 10px;"> Action </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        var totalDeletedItem = 0;
                        var previousBundleName = "";
                        bool ispartsCome = false;
                        int count = 1;
                    }
                    @foreach (var item in Model.OrderItems)
                    {
                        var strikeStart = "";
                        var strikeEnd = "";
                        var color = "";

                        if (item.OrderItemStatusCode == "X")
                        {
                            totalDeletedItem++;
                            strikeStart = "<strike>";
                            strikeEnd = "</strike>";
                            color = "#FF6633";
                        }
                    <tr>
                        @if (item.CatalogStandardID != null)
                            {
                                if (previousBundleName == item.StdDescription)
                                {
                            <td colspan="20"><b></b></td>
                                }
                                else
                                {
                            <td colspan="20"><b>@Html.Raw(item.StdDescription) &nbsp;&nbsp;(BUNDLE)</b></td>
                                }
                            }
                            else
                            {
                                if (!ispartsCome)
                                {
                            <td colspan="20"><b>Parts</b></td>
                                    ispartsCome = true;
                                }
                            }
                    </tr>
                    <tr style="background-color:@color">
                        <td style="">
                            @if (!(item.OrderItemStatusCode == "X"))
                                {
                                <input type="checkbox" class="cItemChk" orderItemId="@(item.OrderItemID+"^"+item.OrderDeliveryDetailsID)"><input type="hidden" value="" />
                                }
                        </td>
                        <td style="">
                            <span title="Description" data-toggle="tooltip">@Html.Raw(strikeStart) @(count).  @(item.PartDescription ?? "") @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="SKU" data-toggle="tooltip">@Html.Raw(strikeStart)   @(item.ManufacturerSKU ?? "") @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="OEM" data-toggle="tooltip">@Html.Raw(strikeStart)   @(item.ManufacturerName ?? "") @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="Item Price" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.LineItemPrice == null ? "-" : String.Format("{0:0.##}", item.LineItemPrice)) @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="Quantity" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.Quantity == 0 ? "-" : item.Quantity.ToString()) @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="Total" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.LineItemTotal == null ? "-" : String.Format("{0:0.##}", item.LineItemTotal)) @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="GSP" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.SFAName ?? "-") @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="Expected Delivery Date" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.ETA == null ? "-" : Convert.ToDateTime(item.ETA).ToString(DateFormateView)) @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="Date Shipped" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.DateShipped == null ? "-" : Convert.ToDateTime(item.DateShipped).ToString(DateFormateView)) @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="Date Delivered" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.DateDelivered == null ? "-" : Convert.ToDateTime(item.DateDelivered).ToString(DateFormateView)) @Html.Raw(strikeEnd)</span>
                        </td>
                        <td style="">
                            <span title="OEM Order #" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.MfgTrackingID == null ? "-" : item.MfgTrackingID.ToString()) @Html.Raw(strikeEnd)</span>
                        </td>
                        @if (Model.ViewFields.FirstOrDefault(x => x == "DistributorName") == null ? false : true)
                            {
                            <td>
                                <span style="" title="Distributor" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.DistributorName ?? "-") @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "GSPToDistriOrderNum") == null ? false : true)
                            {
                            <td style="">
                                <span title="GSP to Distri #" data-toggle="tooltip"> @Html.Raw(strikeStart) @(item.GSPToDistriOrderNum ?? "-") @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "DistriToOEMOrderNum") == null ? false : true)
                            {
                            <td style="">
                                <span title="Distri to OEM #" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.DistriToOEMOrderNum ?? "-") @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "OEMShipDate") == null ? false : true)
                            {
                            <td style="">
                                <span title="Ship Date (OEM)" data-toggle="tooltip"> @Html.Raw(strikeStart) @(item.OEMShipDate == null ? "-" : Convert.ToDateTime(item.OEMShipDate).ToString(DateFormateView)) @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "DistriShipDate") == null ? false : true)
                            {
                            <td style="">
                                <span title="Ship Date (Distri)" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.DistriShipDate == null ? "-" : Convert.ToDateTime(item.DistriShipDate).ToString(DateFormateView)) @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "ShipperTrackingName") == null ? false : true)
                            {
                            <td style="">
                                <span title="Shipper Tracking Name" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.ShipperTrackingName ?? "-") @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "ShipperTrackingNum") == null ? false : true)
                            {
                            <td style="">
                                <span title="Shipper Tracking #" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.ShipperTrackingNum ?? "-") @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        <td style=""> @*added(SUNNY GOHAR)*@
                            <span title="Tracking Reference" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.TrackingReference ?? "-") @Html.Raw(strikeEnd)</span>
                        </td>
                        @if (Model.ViewFields.FirstOrDefault(x => x == "CustomClearanceDate") == null ? false : true)
                            {
                            <td style="">
                                <span title="Custom Clearance Date" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.CustomClearanceDate == null ? "-" : Convert.ToDateTime(item.CustomClearanceDate).ToString(DateFormateView)) @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "EstimatedInstallationDate") == null ? false : true)
                            {
                            <td style="">
                                <span title="Estimated Installation Date" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.EstimatedInstallationDate == null ? "-" : Convert.ToDateTime(item.EstimatedInstallationDate).ToString(DateFormateView)) @Html.Raw(strikeEnd)</span>
                            </td>
                            }
                        @if (Model.ViewFields.FirstOrDefault(x => x == "ActualInstallationDate") == null ? false : true)
                            {
                            <td style="">
                                <span title="Actual Installation Date" data-toggle="tooltip">@Html.Raw(strikeStart) @(item.ActualInstallationDate == null ? "-" : Convert.ToDateTime(item.ActualInstallationDate).ToString(DateFormateView)) @Html.Raw(strikeEnd)</span>
                            </td>
                            }

                        @if (Session["UserGroupName"].ToString() == "ISD")
                            {
                            <td style="">
                                @if ((item.OrderItemStatusCode != "X") && (Model.Status == "N" || Model.Status == "R" || Model.Status == "P" || Model.Status == "A" || Model.Status == "U") && (item.DeliveryStatusCode == "N"
|| item.DeliveryStatusCode == "P") && item.DateShipped == null)
                                    {
                                    <a style="color: blue;" onclick="DeleteOrderItem(@item.OrderItemID)">Delete</a>
                                    }
                            </td>
                            }

                    </tr>
                        previousBundleName = item.StdDescription;
                        count++;
                    }

                </tbody>
            </table>
            <input type="hidden" name="deleteItem" value="@(Model.OrderItems.Count == totalDeletedItem?"true":"false")" />
        </div>
    </div>
</div>
@if (Model.DispositionQuoteIds.Count > 0)
{  <div class="col-md-12" style="padding-left: 0px;">
        <h4>Asset Disposition Quotes:</h4>

        @foreach (var item in Model.DispositionQuoteIds)
        {
            <div class="col-md-12" style="padding-left: 10px;">
                Quote @item - <a onclick="ShowDispositionModal(@item)" style="color:#399bd3;">(Detail)</a>
            </div>
        }
    </div>
}

<div class="col-md-12" style="max-height:500px;overflow-y: scroll;padding-left: 0px;">
    @if (Model.tblReason == null || Model.tblReason.Rows.Count == 0)
        {
        <h4>Reasons For Delay:</h4>
        <p>No Reasons available.</p>
        }
        else
        {
        <h4>Reasons For Delay:</h4>
        <div class="container" style="max-height: 300px;overflow:auto">
            <div class="row">
                <div class="panel panel-default">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Log Date</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Logged By</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Event</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.tblReason.Rows)
                                {
                                <tr>
                                    <td class="col-xs-2">@item["LogDate"]</td>
                                    <td class="col-xs-2">@item["UpdateBy"]</td>
                                    <td class="col-xs-2">@item["Event"]</td>
                                    <td class="col-xs-1">@item["Comments"]</td>
                                </tr>
                                }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
</div>

<div class="modal fade" id="myModalPart">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @*@using (Html.BeginForm("PartCancellationRequest", "OrderSearch", FormMethod.Post, new { @id = "sendCommentForm", @enctype = "multipart/form-data" }))
                {*@
            <div class="modal-header" style="background-color: #399bd3;color: white;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="font-weight:800">Part Cancellation/Return Request</h3>
            </div>
            <div class="modal-body">
                <div class="col-md-12"><p><b>Note: This request will be handled on a best effort basis.</b></p></div>
                <div class="clearfix"></div>
                <input type="hidden" id="OrderItemID" name="OrderItemID">
                <div class="col-md-12">
                    <textarea cols="15" rows="6" class="form-control" name="PartCancellationComments"></textarea>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <p>
                        <b>
                            Enter part cancellation/return comments for the current part only.
                        </b>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btnPartCancellation">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            @* } *@
        </div>
    </div>
</div>

<div class="modal fade" id="DispositionQuoteDetail">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header" style="background-color: #399bd3;color: white;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title quoteTitle" style="font-weight:800">Quote#  - Detail</h3>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                        <tr><td align="right" style="width: 150px;font-weight: 600;    vertical-align: text-top;">Pickup Date : &nbsp;&nbsp; </td><td id="pickupdate"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">Payment Type :&nbsp;&nbsp; </td><td id="dispositionpaymenttypename"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">Location Name :&nbsp;&nbsp; </td><td id="locationname"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">Address 1 : &nbsp;&nbsp;</td><td id="address1"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">Address 2 :&nbsp;&nbsp; </td><td id="address2"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">City : &nbsp;&nbsp;</td><td id="city"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">State :&nbsp;&nbsp; </td><td id="state"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">Postal Code :&nbsp;&nbsp; </td><td id="zip"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">Contact Name : &nbsp;&nbsp;</td><td id="contactname"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">Contact Phone :&nbsp;&nbsp; </td><td id="contactphone"></td></tr>
                        <tr><td align="right" style="width: 150px;    font-weight: 600;    vertical-align: text-top;">Contact Email : &nbsp;&nbsp;</td><td id="contactemail"></td></tr>
                        <tr>
                            <td align="right" style="width: 150px;    font-weight: 600;vertical-align: text-top;">Special Instructions :&nbsp;&nbsp; </td>
                            <td id="specialinstructions"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    function DeleteOrderItem(OrderItemID) {
        if (confirm("Are you sure you want to delete this part?")) {
            $('#OrderItemID').val(OrderItemID);
            $('#myModalPart').modal('show');
        }
    }

    $('.pItemChk').click(function () {

        if ($(this).prop("checked")) {
            $('.cItemChk').prop("checked", true);
        }
        else {
            $('.cItemChk').prop("checked", false);
        }
    });
    $('body').on('click', '.btnPartCancellation', function () {

        if ($('textarea[name="PartCancellationComments"]').val() != "") {

            showHideLoader(1);
            var data = {
                OrderItemID: $('#OrderItemID').val(),
                Comments: $('textarea[name="PartCancellationComments"]').val()
            }

            $.ajax({
                url: '/OrderSearch/PartCancellationRequest',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    $('#myModalPart').modal('hide');
                    if (data == "1") {
                        showNotification("Part successfully deleted");

                        setTimeout(function () {
                            GetView('OrderItem');
                        }, 2000)
                    }
                    else if (data == "-1") {
                        showNotification("Error occured");
                    }
                    else if (data == "0") {
                        showNotification("Please provide correct data");
                    }

                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });

        }
        else {
            alert("Comments are required.")
        }
    });

    //$('body').on('click', '.btnOrderItemUpdate', function () {
    $('.btnOrderItemUpdate').click(function () {
        var strCheckBoxValue = "";
        $('.cItemChk').each(function () {
            if ($(this).prop("checked")) {
                strCheckBoxValue = strCheckBoxValue + $(this).attr("orderItemId") + ",";
            }

        });
        if (strCheckBoxValue != "") {
            strCheckBoxValue = strCheckBoxValue.substring(0, strCheckBoxValue.length - 1);
        }
        else {
            alert("Atleast one selection is required for update");
            return false;
        }

        if ($('.SFADelayReason:visible').length > 0 && $('.SFADelayReason').val().trim() == "") {
            alert("Reason for delay is required.");
            return false;

        }

        var isvalidate = Validateform();
        if (isvalidate) {

            showHideLoader(1);

            var updateModel = {
                GSP: $('#supplierId').val(),
                ExpectedDeliveryDate: GetCorrectedDate($('input[name="ExpectedDeliveryDate"]').val()),
                DateShipped: GetCorrectedDate($('input[name="DateShipped"]').val()),
                DateDelivered: GetCorrectedDate($('input[name="DateDelivered"]').val()),
                CustomClearanceDate: GetCorrectedDate($('input[name="CustomClearanceDate"]').val()),
                EstimatedInstallationDate: GetCorrectedDate($('input[name="EstimatedInstallationDate"]').val()),
                ActualInstallationDate: GetCorrectedDate($('input[name="ActualInstallationDate"]').val()),
                OEMOrderNo: $('input[name="OEMOrderNo"]').val(),
                DistributorId: $('#distributorId').val(),
                GSPtoDistriNo: $('input[name="GSPtoDistriNo"]').val(),
                DistritoOEMNo: $('input[name="DistritoOEMNo"]').val(),
                ShipDateOEM: GetCorrectedDate($('input[name="ShipDateOEM"]').val()),
                ShipDateDistri: GetCorrectedDate($('input[name="ShipDateDistri"]').val()),
                ShipperTrackingNo: $('input[name="ShipperTrackingNo"]').val(),
                ShipperTrackingName: $('input[name="ShipperTrackingName"]').val(),
                SessionTrackingNumber: $('#SessionTrackingNumber').val(),
                OrderTrackingNumber: $('#OrderTrackingNumber').val(),
                DestinationTrackingNumber: $('#DestinationTrackingNumber').val(),
                OrderItemIDs: strCheckBoxValue,
                TrackingReferenceUrl: $('input[name="TrackingReferenceUrl"]').val(), //added (SUNNY GOHAR)

                @if (Session["UserGroupName"].ToString() == "SFA") {
                  <text>
                ReasonForDelay: $('.SFADelayReason').val(),
                ReasonType: $('#ChangeR').val()
                </text>
                }

            };

            $.ajax({
                url: '/OrderSearch/UpdateOrderItems',
                type: 'POST',
                data: JSON.stringify(updateModel),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == "1") {
                        showNotification("Order Item(s) Updated successfully.");
                        window.location.reload();
                        //setTimeout(function () {
                        //    GetView('OrderItem');
                        //}, 2000);
                    }
                    else if (data == "-1") {
                        showNotification("Error occured");
                    }
                    else if (data == "0") {
                        showNotification("Please provide correct data");
                    }
                    else if (data == "-2") {
                        alert("The ETA you have entered falls outside of what we would consider to be a reasonable timeframe for delivery.\nPlease provide an explanation in the comments as to why there is a delay for each item, then click on Update again.");

                        $('#ChangeR').click();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });

        }

    });

    function GetCorrectedDate(date) {

        var strDate = "";
        if ($('#hDateFormatId').val() == "0" || $('#hDateFormatId').val() == "1") {
            if (date != undefined && date.trim() != "") {
                var arrStrDate = date.split('/');
                strDate = arrStrDate[1] + "/" + arrStrDate[0] + "/" + arrStrDate[2];
            }
        }
        else {
            strDate = date;
        }
        return strDate;
    }

    function Validateform() {

        var DateAcceptedBySupplier = $('#hDateAcceptedBySupplier').val();
        if (DateAcceptedBySupplier != "") {
            DateAcceptedBySupplier = new Date(DateAcceptedBySupplier);

            var ExpectedDeliveryDate = $('input[name="ExpectedDeliveryDate"]').val();
            if (ExpectedDeliveryDate != "") {
                ExpectedDeliveryDate = new Date(ExpectedDeliveryDate);

                if (ExpectedDeliveryDate < DateAcceptedBySupplier) {
                    alert('Expected Delivery Date cannot be before Date Accepted.');
                    return false;
                }
            }

            var DateShipped = $('input[name="DateShipped"]').val();
            if (DateShipped != "") {
                DateShipped = new Date(DateShipped);
                if (DateShipped > new Date()) {
                    alert('Shipped Date cannot be after current day.');
                    return false;
                }
                if (DateAcceptedBySupplier > DateShipped) {
                    alert('Date Accepted cannot be after Date Shipped.');
                    return false;
                }
            }

            var DateDelivered = $('input[name="DateDelivered"]').val();
            if (DateDelivered != "") {
                if (DateShipped != "")
                {
                    DateDelivered = new Date(DateDelivered);
                    if (DateDelivered < DateShipped)
                    {
                        alert('Delivery date cannot be less than Shipping date.');
                        return false;
                    }
                    else {
                        if (DateDelivered > new Date()) {
                            alert('Date Delivered cannot be after current day.');
                            return false;
                        }
                    }
                }
                else {
                    alert('Please enter Shipped Date first.');
                    return false;
                }
            }


        }
        else {
            alert("Accepted Date is not selected");
            return false;
        }
        return true;
    }
    $('#distributorId').change(function () {
        if ($(this).val() != "0") {
            $('input[name="GSPtoDistriNo"]').removeAttr("disabled");
            $('input[name="DistritoOEMNo"]').removeAttr("disabled");

            //$('input[name="ShipDateOEM"]').removeAttr("disabled");
            //$('input[name="ShipDateDistri"]').removeAttr("disabled");

            $('.ShipDateDistri1').css("display", "block");
            $('.ShipDateDistri2').css("display", "none");

            $('.ShipDateOEMDiv1').css("display", "block");
            $('.ShipDateOEMDiv2').css("display", "none");



            $('input[name="ShipperTrackingNo"]').removeAttr("disabled");
            $('input[name="ShipperTrackingName"]').removeAttr("disabled");

        }
        else {
            $('input[name="GSPtoDistriNo"]').attr("disabled", "disabled");
            $('input[name="DistritoOEMNo"]').attr("disabled", "disabled");

            //$('input[name="ShipDateOEM"]').attr("disabled", "disabled");
            //$('input[name="ShipDateDistri"]').attr("disabled", "disabled");

            $('input[name="ShipperTrackingNo"]').attr("disabled", "disabled");
            $('input[name="ShipperTrackingName"]').attr("disabled", "disabled");


            $('.ShipDateDistri1').css("display", "none");
            $('.ShipDateDistri2').css("display", "block");

            $('.ShipDateOEMDiv1').css("display", "none");
            $('.ShipDateOEMDiv2').css("display", "block");
        }
    });
    function toggle(event) {
        if ($(event).val() == "Other") {
            $(event).parent().find('textarea').css("display", "block");
        }
        else {
            $(event).parent().find('textarea').css("display", "none");
        }
    }
    $('.btnAddReason').click(function () {
        if ($('.DelayReason').val().trim() == "") {
            alert("Please provide reason for delay");
            return false;
        }
        showHideLoader(1);
        var reasonModel = {
            SessionTrackingNumber: $('#SessionTrackingNumber').val(),
            OrderTrackingNumber: $('#OrderTrackingNumber').val(),
            DestinationTrackingNumber: $('#DestinationTrackingNumber').val(),
            Reason: $('.DelayReason').val()
        }

        $.ajax({
            url: '/OrderSearch/AddReasonForDelay',
            type: 'POST',
            data: JSON.stringify(reasonModel),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == "1") {
                    showNotification("Reason for delay has been added successfully");
                    $("html, body").animate({ scrollTop: $(document).height() - $(window).height() });
                    setTimeout(function () {
                        GetView('OrderItem');
                    }, 2000);
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }
                else if (data == "-2") {
                    alert("The ETA you have entered falls outside of what we would consider to be a reasonable timeframe for delivery.\nPlease provide an explanation in the comments as to why there is a delay for each item, then click on Update again.");
                    $('#ChangeR').click();
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });

    });
    function ShowDispositionModal(quoteId) {
        StartLoader();
        var data = {
            quoteId: quoteId
        }
        $.ajax({
            url: '/OrderSearch/GetAssetDisQuoteDetail',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {

                if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("No record found.");
                }
                else {
                    $('#pickupdate').text(data.pickupdate == null ? "-" : data.pickupdate);
                    $('#dispositionpaymenttypename').text(data.dispositionpaymenttypename == null ? "-" : data.dispositionpaymenttypename);
                    $('#locationname').text(data.locationname == null ? "-" : data.locationname);
                    $('#address1').text(data.address1 == null ? "-" : data.address1);
                    $('#address2').text(data.address2 == null ? "-" : data.address2);
                    $('#city').text(data.city == null ? "-" : data.city);
                    $('#state').text(data.state == null ? "-" : data.state);
                    $('#zip').text(data.zip == null ? "-" : data.zip);
                    $('#contactname').text(data.contactname == null ? "-" : data.contactname);
                    $('#contactphone').text(data.contactphone == null ? "-" : data.contactphone);
                    $('#contactemail').text(data.contactemail == null ? "-" : data.contactemail);
                    $('#specialinstructions').html(data.specialinstructions == null ? "-" : data.specialinstructions);
                    $('.quoteTitle').text('Quote# ' + data.quoteId + ' - Detail');
                    $('#DispositionQuoteDetail').modal('show');
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
</script>
