﻿
@{
    ViewBag.Title = "Order Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@model OneSourceAdminCore.Model.OrderSearchModel
@{
    ViewBag.Title = "Order Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Order </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right !important;">
    </div>
</div>

@using (Html.BeginForm("OrderSearchRequest", "OrderSearch", FormMethod.Post, new { @id = "OrderSearchForm" }))
{
    <div class="os-admin-companies">

        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="col-md-4">
                <label>Tracking #:</label>
            </div>
            <div class="col-md-8 order-tracking-input">
                <div class="col-md-5" style="padding-left: 0;">
                    <input type="hidden" name="abc">
                    <input type="text" name="SessionTrackingNumber" maxlength="8" class="form-control allowNumWoutDecimalWPast">
                </div>
                <div class="col-md-1">
                    <span>-</span>
                </div>
                <div class="col-md-2" style="padding-right:0px">
                    <input type="text" name="OrderTrackingNumber" maxlength="1" class="form-control allowNumWoutDecimalWPast">
                </div>
                <div class="col-md-1" style="padding-left: 25px;">
                    <span>-</span>
                </div>
                <div class="col-md-2" style="padding-right:0px">
                    <input type="text" name="DestinationTrackingNumber" maxlength="1" class="form-control allowNumWoutDecimalWPast">
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Order PO:</label>
            </div>
            <div class="col-md-8">
                <input name="OrderPO" type="text" maxlength="50" class="form-control">
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Order Status:</label>
            </div>
            <div class="col-md-8">
                <input type="hidden" name="Statuses" id="Statuses">
                @*<select name="status" id="Select1" class="form-control" multiselectidfor="Statuses" multiple="">
                        <option value="1,2,3">New Order</option>
                        <option value="4">GlobalServe Review Required</option>
                        <option value="9">Under Review</option>
                        <option value="8">Accepted By Supplier</option>
                        <option value="7">Shipped Partial</option>
                        <option value="6">Shipped Complete</option>
                        <option value="13">Cancelled</option>
                    </select>*@
                @Html.DropDownList("status", new SelectList(Model.OrderStatuses,
                 "OrderStatusId", "OrderStatusName"),
        new { @id = "status", @multiselectidfor = "Statuses", @class = "form-control", @multiple = "multiple" })
            </div>

            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Parts:</label>
            </div>
            <div class="col-md-8">
                <input type="hidden" name="Parts" id="Parts">
                @Html.DropDownList("partId", new SelectList(Model.LstParts,
                 "customerpartid", "partdescription"),
        new { @id = "partId", @multiselectidfor = "Parts", @class = "form-control", @multiple = "multiple" })
            </div>


            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>SKU:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="SKU" maxlength="30" class="form-control">
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Manufacturer:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("ManufacturerId", new SelectList(Model.Manufacturers,
                 "manufacturerid", "manufacturername"),
        new { @id = "manufacturerid" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Ordered After:</label>
            </div>
            <div class="col-md-8" style="padding-bottom: 15px;">
                <div class="form-group">
                    <div class="col-md-10" style="padding-left: 0px;">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" name="OrderStartDate" value="" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Shipped After:</label>
            </div>
            <div class="col-md-8" style="padding-bottom: 15px;">
                <div class="form-group">
                    <div class="col-md-10" style="padding-left: 0px;">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" name="ShipStartDate" value="" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <label>Customer:</label>
            </div>
            <div class="col-md-8 order-tracking-input">
                @Html.DropDownList("CustomerID", new SelectList(Model.Customers,
                 "customerid", "customername"),
        new { @id = "customerid" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Dest PO/Ref:</label>
            </div>
            <div class="col-md-8">
                <input name="DestPO" maxlength="50" type="text" class="form-control">
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Country:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("CountryId", new SelectList(Model.Countries,
                 "orderdestinationcountryid", "countryname"),
        new { @id = "countryid" })
            </div>


            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Bundles:</label>
            </div>
            <div class="col-md-8">
                <input type="hidden" name="Bundles" id="Bundles">
                @Html.DropDownList("bundleId", new SelectList(Model.LstBundles,
                 "catalogstandardid", "stddescription"),
        new { @id = "bundleId", @multiselectidfor = "Bundles", @class = "form-control", @multiple = "multiple" })
            </div>


            <div class="clearfix"></div>

            <div class="col-md-4">
                <label>Category:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("PartCategoryID", new SelectList(Model.Categories,
                 "partcategoryid", "partcategoryname"),
        new { @id = "partcategoryid" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Ordered Before:</label>
            </div>
            <div class="col-md-8" style="padding-bottom: 15px;">
                <div class="form-group">
                    <div class="col-md-10" style="padding-left: 0px;">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" name="OrderEndDate" value="" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Shipped Before:</label>
            </div>
            <div class="col-md-8" style="padding-bottom: 15px;">
                <div class="form-group">
                    <div class="col-md-10" style="padding-left: 0px;">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" name="ShipEndDate" value="" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-default resetcontrol" style="float:right; margin-left:20PX; " id="per">Reset</button>
                        <a href="#">
                            <button id="btnSearchOrder" type="submit" class="btn btn-default" style="float:right;  margin-left:20PX;" id="per" onclick="">Search</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {

        $("#backToSearch").click(function () {
            window.location.href = "/admin-dashboard";
        });

        $("select").each(function (i, e) {
            if ($(this).attr("multiple") !== "multiple") {
                $(this).select2({ allowClear: true });
            }
        });

        var message = '@ViewBag.Message';
        showNotification(message);

        $(".select2-container").parent().css("margin-bottom", "15px");


        $(".date-picker").datepicker({
            autoclose: true
        });

        $("#customerid, #countryid").change(function () {
            showHideLoader(1);
            window.location.href = "/search-order/" + $("#customerid").val() + "/" + $('#countryid').val();
        });

        $("input[name=\"SessionTrackingNumber\"]").keypress(function () {
            $(this).siblings().val($(this).val());
        });

        $("#OrderSearchForm").submit(function () {
            showHideLoader(1);
        });

        $(".resetcontrol").click(function() {
            $("input:text").val("");
            $(".select2-container").select2("val", "0");
            $("#status option:selected").prop("selected", false);
            $("#partId option:selected").prop("selected", false);
            $("#bundleId option:selected").prop("selected", false);
            window.location.href = "/search-order/" + $("#customerid").val() + "/" + $("#countryid").val();
        });

        $(".resetDate").click(function () {
            $(this).parent().parent().find("input").val("");
        });
    });
</script>

