﻿@model OneSourceAdminCore.Model.OrderListModel
@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Order </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float:right !important;"> 
    </div>
</div>

<div class="orderlistScroller" style="width:auto;overflow-x:scroll" >
    <div class="clearfix"></div>
    <div class="row" style="margin-top:40px">
        <div class="col-md-1" style="margin-top: 5px;    padding-right: 0px;"><label>Record Size:</label></div>
        <div class="col-md-2">
            @if (ViewBag.TotalCount != null)
        {
            int totalcount = ViewBag.TotalCount;

                <select class="form-control ddlTotalrecord">
                    @if (totalcount <= 500)
                {
                        <option value="500">500</option>
                }
                else if (totalcount <= 1000)
                {
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                }
                else if (totalcount <= 2000)
                {
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                }
                else if (totalcount >= 5000 || totalcount <= 5000)
                {
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                        <option value="5000">5000</option>
                }
                    @*else if (totalcount <= 10000)
                        {
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                        }
                        else if (totalcount <= 20000)
                        {
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="20000">20000</option>
                        }
                        else if (totalcount <= 50000)
                        {
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="20000">20000</option>
                            <option value="50000">50000</option>
                        }
                        else if (totalcount > 50000)
                        {
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="20000">20000</option>
                            <option value="50000">50000</option>
                            <option value="50001">50000+ </option>
                        }*@
                </select>
        }
        </div>
        <div class="col-md-6" style="margin-top: 5px;"></div>
        <div class="col-md-1" style="margin-top: 5px;"><label>Page Size:</label></div>
        <div class="col-md-2">
            @if (ViewBag.TotalCount != null)
        {
            int requiredRecord = ViewBag.RequiredRecord;

                <select class="form-control ddlPageSize">
                    @if (requiredRecord == 500)
                {
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                }
                else if (requiredRecord > 500)
                {
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                }
                </select>
        }
        </div>
    </div>
    <div class="row" style="margin-top:15px">

        <div class="col-md-12">
            <table class="support-back" style="background-color: #dddddd;width:100%" cellspacing="0" cellpadding="4" border="0">
                <tbody>
                    <tr>
                        <td class="orderitemdetail" align="center">
                            <b>Status Legend :</b>&nbsp;&nbsp;
                            <b>N</b>&nbsp;-&nbsp;New&nbsp;&nbsp;
                            <b>R</b>&nbsp;-&nbsp;GS Review Required&nbsp;&nbsp;
                            <b>U</b>&nbsp;-&nbsp;Under Review&nbsp;&nbsp;
                            <b>A</b>&nbsp;-&nbsp;Accepted By Supplier&nbsp;&nbsp;
                            <b>P</b>&nbsp;-&nbsp;Shipped Partial&nbsp;&nbsp;
                            <b>C</b>&nbsp;-&nbsp;Shipped Complete&nbsp;&nbsp;
                            <b>X</b>&nbsp;-&nbsp;Cancelled
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top:15px">

        <div class="col-md-12" style="color:red;">
            * ETS represents the latest estimated ship date for any item in the order.
        </div>
    </div>
    

    @using GridMvc.Html
    @if (Model.ISDOrderSearchlst != null || Model.SFAOrderSearchlst != null)
    {
        if (Convert.ToString(Session["UserGroupName"]) == "SFA")
        {
            <div class="" style="margin-top: 10px;">
                @Html.Grid(Model.SFAOrderSearchlst).Columns(columns =>
           {
           columns.Add(C => C.TrackingNumber).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Tracking #").SetWidth(50);
           columns.Add(C => C.Customer).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Customer").SetWidth(50);
           columns.Add(C => C.OrderPO).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Order PO").SetWidth(50);
           columns.Add(C => C.DestPORef).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Dest PO/Ref").SetWidth(150);
           columns.Add(C => C.OrderDate).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Order Date").SetWidth(150);
           columns.Add(C => C.ETS).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("ETS*").SetWidth(50);
           columns.Add(C => C.DeliveryAddress).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Delivery Address").SetWidth(50);
           columns.Add(C => C.Status).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Status").SetWidth(50);
           columns.Add(C => C.Total).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Total").SetWidth(50);
           columns.Add(C => C.Currency).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Currency").SetWidth(50);
           columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" onclick="OrderDetail('@o.TrackingNumber')">Edit </a>);
           }).WithPaging(ViewBag.PageSize)
            </div>
        }
        else if (Convert.ToString(Session["UserGroupName"]) == "ISD")

        {
            <div class="" style="margin-top: 10px;">
                @Html.Grid(Model.ISDOrderSearchlst).Columns(columns =>
       {
       columns.Add(C => C.TrackingNumber).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Tracking #").SetWidth(50);
       columns.Add(C => C.Customer).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Customer").SetWidth(50);
       columns.Add(C => C.OrderPO).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Order PO").SetWidth(50);
       //columns.Add(C => C.DestPORef).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Dest PO/Ref").SetWidth(150);
       columns.Add(C => C.OrderDate).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Order Date").SetWidth(150);
       columns.Add(C => C.ETS).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("ETS*").SetWidth(50);
       columns.Add(C => C.DeliveryAddress).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Delivery Address").SetWidth(50);
       columns.Add(C => C.Status).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Status").SetWidth(50);
       columns.Add(C => C.Total).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Total").SetWidth(50);
       columns.Add(C => C.Currency).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Currency").SetWidth(50);
       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" onclick="OrderDetail('@o.TrackingNumber')">Edit </a>);
           }).WithPaging(ViewBag.PageSize)

            </div>
        }
    }
</div>
<script>
    function OrderDetail(trackingNo) {
        StartLoader();
        window.location.href = "/order-detail/" + trackingNo;
    }
    $(window).ready(function () {
        $('.grid-header-title').find('a:contains("ETS*")').css("color", "red");
    });
    $(function () {
        $('.ddlTotalrecord').val(@ViewBag.RequiredRecord);
        $('.ddlPageSize').val(@ViewBag.PageSize);
    });
    $('#backToSearch').click(function () {
        StartLoader();
        window.location.href = "/search-order";
    });
    $('.ddlTotalrecord').change(function () {       
        StartLoader();
        if (parseInt($(this).val()) < parseInt($('.ddlPageSize').val())) {
            $('.ddlPageSize').val("50");
        }
        window.location.href = "/searched-order-list/" + ($(this).val() == null ? "500" : $(this).val()) + "/" + ($('.ddlPageSize').val() == null ? "50" : $('.ddlPageSize').val());
    });
    $('.ddlPageSize').change(function () {
        StartLoader();        
        window.location.href = "/searched-order-list/" + ($('.ddlTotalrecord').val() == null ? "500" : $('.ddlTotalrecord').val()) + "/" + ($(this).val() == null ? "50" : $(this).val());
    });
    //$('.orderlistScroller')
    //    .slimscroll({ destroy: true })
    //    .slimscroll({ height: '200px' });
    //$('.orderlistScroller').slimscroll({ destroy: true, width: '400px' });
</script>
