﻿@model OneSourceAdminCore.Model.ADUploadModel


<style>
    #s2id_unmappedCategories.mapping {
        display: none !important;
    }
</style>

<div class="row" style="margin-top:48px;">
    <div class="col-md-8 col-md-offset-3">
        @using (Html.BeginForm("AddCategories", "ADUpload", FormMethod.Post, new { @id = "ADAddCategory" }))
        {
            <h4>Please map the unmapped supplier categories</h4>
            <br />
            @*OS Categories List*@
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">
                        *
                    </span>
                    OS Categories:
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        @if (Model.OSCategoriesList != null && Model.OSCategoriesList.Count > 0)
                        {
                            @Html.DropDownList("CategoryId", new SelectList(Model.OSCategoriesList,
 "Key", "Value", "0"),
 new { @id = "OSCategory", @idFor = "Key", @valueFor = "Value", @class = "summary", @tabindex = "-1" });
                        }
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblOSCategory" style="color:red">

                    </span>

                </div>
            </div>

            <input type="hidden" id="supplierMultipleCategories" name="supplierMultipleCategories" />
            @*Supplier categories List*@
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">
                        *
                    </span>
                    Unmapped Categories:
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        @if (Model.UnmappedCategoiriesList != null && Model.UnmappedCategoiriesList.Count > 0)
                        {
                            @Html.DropDownList("UnmappedCategoryId", new SelectList(Model.UnmappedCategoiriesList,
 "Key", "Value", "0"),
 new { @id = "unmappedCategories", @idFor = "Key", @valueFor = "Value", @class = "mapping", @tabindex = "-1", @multiple = "multiple" });
                        }
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblunmappedCategories" style="color:red">

                    </span>

                </div>
            </div>

            <br />

            <div class="row">

                <div class="col-md-2 col-md-offset-2" style="text-align:left; ">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" value="Generate" name="submit" id="btnSetCategory" style="color: #399BD3;">Map</button> &nbsp;
                    </span>
                </div>
            </div>
        }
    </div>
</div>

<script>

    $(function () {

        @if (TempData["Message"] != null)
        {
            <text>
        showNotification('@TempData["Message"].ToString()');
        </text>
        }

        $("#OSCategory , #unmappedCategories").select2({ allowClear: true });

        $("#unmappedCategories").multipleSelect(
                                  {
                                      placeholder: '--Select--',
                                      filter: true,
                                      allowClear: true,
                                      includeSelectAllOption: true,
                                      selectAllValue: -1
                                  });

        $("#OSCategory").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#OSCategory").val("0").trigger("change");


    });

    $("#btnSetCategory").on("click", function (e) {

        if (($("#OSCategory").val() == "" || $("#OSCategory").val() == null || $("#OSCategory").val() == "0") || $("#OSCategory").val() == "null") {
            showValidationError('Please select category', 'lblOSCategory');
            return false;
        }

        if (($("#unmappedCategories").val() == "" || $("#unmappedCategories").val() == null || $("#unmappedCategories").val() == "0") || $("#unmappedCategories").val() == "null") {

            showValidationError('Please select category', 'lblunmappedCategories');
            return false;
        }

        var categoryNames = "";
        var categoryName = $('#unmappedCategories').select2('data');
        categoryName.forEach(function (item) {
            categoryNames += item.text + ',';
        });

        $('#supplierMultipleCategories').val(categoryNames);

        showHideLoader(1);
        return true;
    });

    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }
</script>