﻿@model OneSourceAdminCore.Model.ADUploadModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Asset Disposition Upload";
}

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Dashboard > AD Upload </b>
        }
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">


        <div style="float:right">
            @*@using (Html.BeginForm("RedirectToReport", "SLAReports", FormMethod.Post, new { @id = "SLAReportRedirectToParent" }))
                {
                    <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
                }*@
           
            <a style="float:right;" href="/ADUpload/ViewAuditFile">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">View Audit File</button>
            </a>

        </div>

        <div>
            @*@using (Html.BeginForm("GetCountryDetails", "SLAReports", FormMethod.Post, new { @id = "SLAReportRedirectToParent" }))
                {
                    <button class="btn btn-default topAddNewButton" type="submit" id="getCountryDetails" style="margin-right:10px;">Get Country Details</button>
                }*@
            <a style="float:right;" href="/ADUpload/UploadAD">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;margin-right:10px;">Upload New</button>
            </a>
        </div>

        @*
            Temporarily commenting this link
            <div>
            
            <button class="btn btn-default topAddNewButton" type="submit" id="getCountryDetails" style="margin-right:10px;">Category Mapping</button>
        </div>*@

    </div>

</div>

@using GridMvc.Html

<div class="col-md-12" style="margin-top:30px;">
    @if (Model != null && Model.listADUpload != null && Model.listADUpload.Count > 0)
    {
        @Html.Grid(Model.listADUpload).Columns(columns =>
   {
       columns.Add(c => c.CustomerName).Sortable(true).Filterable(true).Titled("Customer").SetWidth(30);
       columns.Add(c => c.SFAName).Sortable(true).Filterable(true).Titled("Supplier").SetWidth(30);
       columns.Add(c => c.Representative).Sortable(true).Filterable(true).Titled("Representative").SetWidth(30);
       columns.Add(c => c.Uploaded_Date).Sortable(true).Filterable(true).Titled("Uploaded Date").SetWidth(30);
       columns.Add(c => c.ADPickup_Date).Sortable(true).Filterable(true).Titled("AD Pickup Date").SetWidth(30);
       columns.Add(c => c.Status).Sortable(true).Filterable(true).Titled("Status").SetWidth(30);
       columns.Add(c => c.TicketID).Sortable(true).Filterable(true).Titled("Ticket").SetWidth(30);
       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Select").RenderValueAs(o => @<a style="color: blue" href="/ADUpload/FileDetailView/@o.FileID/">View</a>);
   }).WithPaging(15)
    }
    else
    {
           <text>
        <h5>No records found.</h5>
    </text>
    }
</div>





@*<div class="col-md-12" style="margin-top:30px;">
        <div class="col-md-12 table-responsive">
            <div class="row gridDiv">
            </div>
        </div>
    </div>*@

@*<script>
        $(function () {
            $(".gridDiv").html("");
            $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
            StartLoader();
            $.ajax({
                url: "/ADUpload/GetADUploadFileData",
                type: "GET",
                success: function (data) {
                    EndLoader();
                    if (data.msg != null && data.msg != "") {
                        showNotification(data.msg);
                    }
                    else {
                        var table = JSON.parse(data.data);
                        var tableObj = [];
                        if (table.length > 0) {

                            for (i = 0; i < Object.keys(table[0]).length; i++) {
                                var obj = {};
                                obj.field = Object.keys(table[0])[i];
                                obj.width = 100;
                                obj.sortable = true;
                                obj.align = 'center';
                                obj.headerCssClass = 'headerClass';
                                obj.cssClass = 'rowClass';
                                tableObj.push(obj);
                            }
                        }

                        if (table.length > 50) {
                            var grid = $('#grid').grid({
                                dataSource: table,
                                columns: tableObj,
                                pager: { limit: 50, sizes: [50, 100, 500, 1000] },
                                cache: false,
                                uiLibrary: 'bootstrap'
                            });
                        }
                        else {
                            var grid = $('#grid').grid({
                                dataSource: table,
                                columns: tableObj,
                                pager: null,
                                cache: false,
                                uiLibrary: 'bootstrap'
                            });
                        }


                        $(".gj-grid-wrapper").floatingScroll();
                        $(".gj-grid-wrapper").attr("style", "overflow:auto");
                    }
                }
            });
        });
    </script>*@
