﻿@model OneSourceAdminCore.Model.ADUploadModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Audit File Details";
}

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Dashboard > AD Upload > File Detail Info</b>
        }
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">


        <div style="float:right">
            <a style="float:right;" href="/ad-upload">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
            </a>
        </div>
      
    </div>

</div>

@using GridMvc.Html

<div class="col-md-12" style="margin-top:30px;">
    @if (Model != null && Model.ListFileInfo.Count > 0)
    {
        @Html.Grid(Model.ListFileInfo).Columns(columns =>
   {
       columns.Add(c => c.UnitID).Sortable(true).Filterable(true).Titled("UnitID").SetWidth(30);
       columns.Add(c => c.Manufacturer).Sortable(true).Filterable(true).Titled("Manufacturer").SetWidth(30);
       columns.Add(c => c.Model).Sortable(true).Filterable(true).Titled("Model").SetWidth(30);
       columns.Add(c => c.Category).Sortable(true).Filterable(true).Titled("Category").SetWidth(30);
       columns.Add(c => c.CPU).Sortable(true).Filterable(true).Titled("CPU").SetWidth(30);
       columns.Add(c => c.Screen_Size).Sortable(true).Filterable(true).Titled("Screen_Size").SetWidth(30);
       columns.Add(c => c.Status).Sortable(true).Filterable(true).Titled("Status").SetWidth(30);
       columns.Add(c => c.RAM).Sortable(true).Filterable(true).Titled("RAM").SetWidth(30);
       columns.Add(c => c.HDD).Sortable(true).Filterable(true).Titled("HDD").SetWidth(30);
       columns.Add(c => c.Processing_Fees).Sortable(true).Filterable(true).Titled("Processing_Fees").SetWidth(30);
       columns.Add(c => c.AR_Value).Sortable(true).Filterable(true).Titled("AR_Value").SetWidth(30);

   }).WithPaging(15)
    }
</div>



