﻿@model OneSourceAdminCore.Model.ADUploadModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Upload Audit File";

    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}


<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_customerDrp.summary {
        display: block !important;
    }

    #s2id_customersupliers.summary {
        display: block !important;
    }

    #s2id_ticketNumbers.summary {
        display: block !important;
    }

    #s2id_DrpDwnbusinessSegment.summary {
        display: block !important;
    }

    #s2id_customerCompanies.summary {
        display: block !important;
    }
</style>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Dashboard > AD Upload > Upload AD File</b>
        }
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">

        <div style="float:right">

            @if (Model.UploadDataTable != null || Model.ErrorDataTable != null)
            {
                <a style="float:right;" href="/ADUpload/UploadAD">
                    <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
                </a>
            }
            else
            {
                <a style="float:right;" href="/ad-upload">
                    <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
                </a>
            }
        </div>
    </div>
</div>
@if (Model.UnmappedCategoiriesList != null && Model.UnmappedCategoiriesList.Count > 0)
{
    @Html.Partial("_CategoryMapping", Model)
}
else
{

    if (Model.UploadDataTable != null || Model.ErrorDataTable != null)
    {

        <div class="col-md-12">
            @if (Model.UploadDataTable != null)
            {<br />
            <div class="row">
                <div class="col-md-8">
                    <h4>Please confirm the data before proceeding</h4>
                </div>
                <div class="col-md-4">
                    <div style="float:right">
                        @using (Html.BeginForm("ProceedUpload", "ADUpload", FormMethod.Post, new { @id = "ADUploadProceed" }))
                        {
                            <button class="btn btn-default topAddNewButton showLoaderOnProceed" type="submit" id="proceedUpload" style="float:right;">Proceed</button>
                        }
                    </div>
                </div>
            </div>
            <br />
            <div style="height:600px;overflow-y:auto;">
                <table class="scrollbar-inner gj-grid gj-grid-bootstrap gj-grid-bootstrap-3 table table-bordered table-hover table-wrapper-responsive" border="1">
                    <thead style="color:white;">
                        <tr>
                            @foreach (System.Data.DataColumn col in Model.UploadDataTable.Columns)
                        {
                                <th style="background-color:#3b9ad2;">@(col.Caption)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.UploadDataTable.Rows)
                        {
                            <tr>
                                @foreach (var cell in row.ItemArray)
                            {
                                    <td>@(cell.ToString())</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            }
            else if (Model.ErrorDataTable != null)
            {
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <h4>Please resolve the errors in the file</h4>
                    </div>
                    <div class="col-md-4">
                        @*<a style="float:right;" href="/ADUpload/UploadAD">
                                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Cancel</button>
                            </a>*@
                    </div>
                </div>
                <br />
                <div style="height:600px;overflow-y:auto;">
                    <table class="scrollbar-inner gj-grid gj-grid-bootstrap gj-grid-bootstrap-3 table table-bordered table-hover table-wrapper-responsive" border="1">
                        <thead style="color:white;">
                            <tr>
                                @foreach (System.Data.DataColumn col in Model.ErrorDataTable.Columns)
                        {
                                    <th style="background-color:#3b9ad2;">@(col.Caption)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow row in Model.ErrorDataTable.Rows)
                        {
                                <tr>
                                    @foreach (var cell in row.ItemArray)
                            {
                                        <td>@(cell.ToString())</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row" style="margin-top:48px;">
            <div class="col-md-8 col-md-offset-3">
                @using (Html.BeginForm("UploadAD", "ADUpload", FormMethod.Post, new { @id = "ADUploadForm", enctype = "multipart/form-data" }))
                {
                    @*Customer List*@
                    @Html.HiddenFor(x => x.CustomerName);
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <span style="color:red">
                                *
                            </span>
                            Customer:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                {
                                    @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
"CustomerId", "CustomerName", Model.CustomerId),
new { @id = "customerDrp", @idFor = "Key", @valueFor = "Value", @class = "summary", @tabindex = "-1" });
                                }

                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblCustomer" style="color:red">

                            </span>

                        </div>
                    </div>

                    @*Suppliers List*@
                    @Html.HiddenFor(x => x.SupplierName);
                    <div class="row" style="margin-top: 0px;">
                        <div class="col-md-2">
                            <span style="color:red">
                                *
                            </span>
                            Suppliers:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group customersupliers">
                                <select id="customersupliers" name="SupplierId" class="summary"></select>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblcustomersupliers" style="color:red">

                            </span>

                        </div>
                    </div>

                    @*Tickets List*@

                    <div class="row" style="margin-top: 0px;">
                        <div class="col-md-2">
                            <span style="color:red">
                                *
                            </span>
                            Ticket Number:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ticketNumbers">
                                <select id="ticketNumbers" name="TicketId" class="summary"></select>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblticketNumbers" style="color:red">

                            </span>

                        </div>
                    </div>

                    @*Companies List*@

                    <div class="row" style="margin-top: 0px;">
                        <div class="col-md-2">
                            <span style="color:red">
                                *
                            </span>AD Pickup Date:
                        </div>
                        <div class="col-md-4">
                            <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                <input type="text" id="ADPickUpDate" name="ADPickUpDate" value="@Model.ADPickUpDate" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblADPickUpDate" style="color:red">

                            </span>

                        </div>
                    </div>

                    @*Companies List*@
                    @Html.HiddenFor(x => x.CompanyId);
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-2">
                            Operating Companies:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group customerCompanies">
                                <select id="customerCompanies" name="companyId" class="summary"></select>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblcustomerCompanies" style="color:red">

                            </span>

                        </div>
                    </div>

                    @*Business Segment*@
                    @Html.HiddenFor(x => x.BusinessSegment);
                    <div class="row" style="margin-top: 0px;">
                        <div class="col-md-2">
                            Business Segment:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group businessSegment">
                                <select id="DrpDwnbusinessSegment" name="businessSegment" class="summary"></select>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblbusinessSegment" style="color:red">

                            </span>

                        </div>
                    </div>

                    <div class="row" style="margin-top:0px;">
                        <div class="col-md-2" style="margin-top:5px;">
                            <span style="color:red">
                                *
                            </span>
                            Select File:
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-btn btn-file">
                                    <span class="btn btn-primary">
                                        Browse<input type="file" name="file" id="file" style="display: none;" />
                                    </span>
                                </label>
                                <input type="text" class="form-control" readonly>
                            </div>

                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblFile" style="color:red">

                            </span>
                        </div>
                    </div>


                    <br />

                    <div class="row">

                        <div class="col-md-2 col-md-offset-2" style="text-align:left; ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Generate</button> &nbsp;
                            </span>
                            <span class="input-group-btn" style="">
                                <a href="/ADUpload/UploadAD" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                            </span>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
}
<script>

    $(function () {
        @if (TempData["Message"] != null)
        {
            <text>
        showNotification('@TempData["Message"].ToString()');
        </text>
        }

        $('.resetDate').click(function () {
            $(this).parent().parent().find('input').val("");
        });

        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });

        $("#customerDrp , #customersupliers, #ticketNumbers, #customerCompanies, #DrpDwnbusinessSegment").select2({ allowClear: true });
        $("#customersupliers, #ticketNumbers, #customerCompanies, #DrpDwnbusinessSegment").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#customersupliers, #ticketNumbers, #customerCompanies, #DrpDwnbusinessSegment").val("0").trigger("change");

        $("#customerDrp").change(function () {
            var customerId = $(this).val();
            getSuppliersByCustomer(customerId);
            GetOperatingCompanies(customerId);
            GetBusinessSegment(customerId);
        });

        $("#customersupliers").change(function () {
            var customerId = $("#customerDrp").val();
            var supplierId = $(this).val();
            $("#ticketNumbers").html("");
            $("#ticketNumbers").prepend("<option value='0' selected='selected'>--Select--</option>");
            $("#ticketNumbers").val("0").trigger("change");
            GetTicketNumbersForUpload(customerId, supplierId);
        });


        function getSuppliersByCustomer(customerId) {
            $.ajax({
                url: '/ADUpload/GetSuppliersByCustomerID?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 1) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#customersupliers").html(options);
                    }
                    else {
                        $("#customersupliers").html("");
                        $("#customersupliers").prepend("<option value='0' selected='selected'>--Select--</option>");
                        $("#customersupliers").val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

        function GetOperatingCompanies(customerId) {
            $.ajax({
                url: '/ADUpload/GetOperatingCompanies?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 1) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#customerCompanies").html(options);
                    }
                    else {
                        $("#customerCompanies").html("");
                        $("#customerCompanies").prepend("<option value='0' selected='selected'>--Select--</option>");
                        $("#customerCompanies").val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

        function GetBusinessSegment(customerId) {
            $.ajax({
                url: '/ADUpload/GetBusinessSegment?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 1) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#DrpDwnbusinessSegment").html(options);
                    }
                    else {
                        $("#DrpDwnbusinessSegment").html("");
                        $("#DrpDwnbusinessSegment").prepend("<option value='0' selected='selected'>--Select--</option>");
                        $("#DrpDwnbusinessSegment").val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

        function GetTicketNumbersForUpload(customerId, supplierId) {
            $.ajax({
                url: '/ADUpload/GetTicketNumbersForUpload?customerId=' + customerId + '&supplierId=' + supplierId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 1) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#ticketNumbers").html(options);
                    }
                    else {
                        $("#ticketNumbers").html("");
                        $("#ticketNumbers").prepend("<option value='0' selected='selected'>--Select--</option>");
                        $("#ticketNumbers").val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
    });
    $(".showLoaderOnProceed").on("click", function (e) {
        showHideLoader(1);
    });
    
    $("#btnGenerate").on("click", function (e) {

        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {
            showValidationError('Please select customer', 'lblCustomer');
            return false;
        }

        if (($("#customersupliers").val() == "" || $("#customersupliers").val() == null || $("#customersupliers").val() == "0") || $("#customersupliers").val() == "null") {

            showValidationError('Please select supplier', 'lblcustomersupliers');
            return false;
        }

        if (($("#ticketNumbers").val() == "" || $("#ticketNumbers").val() == null || $("#ticketNumbers").val() == "0") || $("#ticketNumbers").val() == "null") {

            showValidationError('Please select ticket number', 'lblticketNumbers');
            return false;
        }

        if (($("#ADPickUpDate").val() == "" || $("#ADPickUpDate").val() == null || $("#ADPickUpDate").val() == "0") || $("#ADPickUpDate").val() == "null") {

            showValidationError('Please select the date', 'lblADPickUpDate');
            return false;
        }

        if (file.files.length > 0) {
            var ext = file.files[0].name.split('.').pop();
            if (ext == "xlsx" || ext == "xls") {

            }
            else {
                showValidationError('Please upload file in excel format', 'lblFile');
                return false;
            }
        }
        else {
            showValidationError('Please select a file', 'lblFile');
            return false;
        }

        var bsVal = $('#DrpDwnbusinessSegment').val();
        $("#businessSegment").val(bsVal);

        var companyVal = $('#customerCompanies').val();
        $("#CompanyId").val(companyVal);

        var customerName = $("#customerDrp option:selected").text();
        $("#CustomerName").val(customerName);

        var supplierName = $("#customersupliers option:selected").text();
        $("#SupplierName").val(supplierName);
        showHideLoader(1);
        return true;
    });

    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }
</script>