﻿@model OneSourceAdminCore.Model.ADUploadModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "View Audit File";
}

<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_customerDrp.summary {
        display: block !important;
    }

    #s2id_customersupliers.summary {
        display: block !important;
    }

    #s2id_ticketNumbers.summary {
        display: block !important;
    }
</style>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Dashboard > AD Upload > View Audit File</b>
        }
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">


        <div style="float:right">
            <a style="float:right;" href="/ad-upload">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
            </a>
        </div>

    </div>
</div>

<div class="row" style="margin-top:48px;">
    <div class="col-md-8 col-md-offset-3">

        @*Customer List*@

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Customer:
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                    {
                        @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
"CustomerId", "CustomerName", Model.CustomerId),
new { @id = "customerDrp", @idFor = "Key", @valueFor = "Value", @class = "summary", @tabindex = "-1" });
                    }

                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblCustomer" style="color:red">

                </span>

            </div>
        </div>

        @*Suppliers List*@

        <div class="row" style="margin-top: 0px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Suppliers:
            </div>
            <div class="col-md-6">
                <div class="form-group customersupliers">
                    <select id="customersupliers" name="SupplierId" class="summary"></select>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblcustomersupliers" style="color:red">

                </span>

            </div>
        </div>

        @*Tickets List*@

        <div class="row" style="margin-top: 0px;">
            <div class="col-md-2">
                <span style="color:red">
                    *
                </span>
                Ticket Number:
            </div>
            <div class="col-md-6">
                <div class="form-group ticketNumbers">
                    <select id="ticketNumbers" name="TicketId" class="summary"></select>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblticketNumbers" style="color:red">

                </span>

            </div>
        </div>

        <br />

        <div class="row">

            <div class="col-md-2 col-md-offset-2" style="text-align:left; ">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Generate</button> &nbsp;
                </span>
                <span class="input-group-btn" style="">
                    <a href="/ADUpload/ViewAuditFile" class="btn btn-default" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</a>
                </span>
            </div>
        </div>


    </div>
</div>
<br /><br />
<div class="col-md-12 table-responsive" style="margin-bottom:30px;">
    <div class="row gridDiv">
    </div>
</div>



<script>

    $(function () {
        $("#customerDrp , #customersupliers, #ticketNumbers").select2({ allowClear: true });
        $("#customersupliers, #ticketNumbers").prepend("<option value='0' selected='selected'>--Select--</option>");
        $("#customersupliers, #ticketNumbers").val("0").trigger("change");

        $("#customerDrp").change(function () {
            var customerId = $(this).val();
            getSuppliersByCustomer(customerId);
        });

        $("#customersupliers").change(function () {
            var customerId = $("#customerDrp").val();
            var supplierId = $(this).val();
            $("#ticketNumbers").html("");
            $("#ticketNumbers").prepend("<option value='0' selected='selected'>--Select--</option>");
            $("#ticketNumbers").val("0").trigger("change");
            getTicketNumbers(customerId, supplierId);
        });


        function getSuppliersByCustomer(customerId) {
            $.ajax({
                url: '/ADUpload/GetSuppliersByCustomerID?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 1) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#customersupliers").html(options);
                    }
                    else {
                        $("#customersupliers").html("");
                        $("#customersupliers").prepend("<option value='0' selected='selected'>--Select--</option>");
                        $("#customersupliers").val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

        function getTicketNumbers(customerId, supplierId) {
            $.ajax({
                url: '/ADUpload/GetTicketNumbers?customerId=' + customerId + '&supplierId=' + supplierId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null && data.length > 1) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#ticketNumbers").html(options);
                    }
                    else {
                        $("#ticketNumbers").html("");
                        $("#ticketNumbers").prepend("<option value='0' selected='selected'>--Select--</option>");
                        $("#ticketNumbers").val("0").trigger("change");
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
    });

    $("#btnGenerate").on("click", function (e) {

        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null") {
            showValidationError('Please select customer', 'lblCustomer');
            return false;
        }

        if (($("#customersupliers").val() == "" || $("#customersupliers").val() == null || $("#customersupliers").val() == "0") || $("#customersupliers").val() == "null") {

            showValidationError('Please select supplier', 'lblcustomersupliers');
            return false;
        }

        if (($("#ticketNumbers").val() == "" || $("#ticketNumbers").val() == null || $("#ticketNumbers").val() == "0") || $("#ticketNumbers").val() == "null") {

            showValidationError('Please select ticket number', 'lblticketNumbers');
            return false;
        }

        var customerId = $("#customerDrp").val();

        var supplierId = $("#customersupliers").val();

        var ticketNumber = $("#ticketNumbers").val();

        var values = {
            "CustomerId": customerId,
            "SupplierId": supplierId,
            "TicketId": ticketNumber
        }

        $(".gridDiv").html("");
        $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
        StartLoader();
        $.ajax({
            url: "/ADUpload/ViewAuditFile",
            type: "POST",
            data: values,
            success: function (data) {
                EndLoader();
                if (data.msg != null && data.msg != "") {
                    showNotification(data.msg);
                }
                else {
                    var table = JSON.parse(data.data);
                    var tableObj = [];
                    if (table.length > 0) {

                        for (i = 0; i < Object.keys(table[0]).length; i++) {
                            var obj = {};
                            obj.field = Object.keys(table[0])[i];
                            obj.width = 100;
                            obj.sortable = true;
                            obj.align = 'center';
                            obj.headerCssClass = 'headerClass';
                            obj.cssClass = 'rowClass';
                            tableObj.push(obj);
                        }
                    }

                    if (table.length > 50) {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: { limit: 50, sizes: [50, 100, 500, 1000] },
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    else {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: null,
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }

                    $(".gj-grid-wrapper").floatingScroll();
                    $(".gj-grid-wrapper").attr("style", "overflow:auto");
                }
            }
        });

    });
    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }
</script>