﻿@model List<OneSourceAdminCore.Model.GenericList>



<div role="tabpanel" class="tab-pane" id="exchange-rates">
    <div class="clearfix"></div>
    <div class="alert-warning col-md-12" style="padding: 10px; margin-bottom: 15px;">
        Enter the exchange rate to US Dollars for each currency for this Prime Contractor. Express the exchange rate as the number of dollars it takes to make one unit of the target currency.
        <br /><br />
        Example : The exchange rate for French Francs would be 6.36 if it takes that many French Francs to make up one US Dollar. The exchange rate for US Dollars is 1.
    </div>

    <div class="col-md-12" style=" margin-bottom: 15px;">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>Currency : </label>
        </div>
        <div class="col-md-4">
            <input type="hidden" id="currentPrimeContractorId" value="@ViewBag.PrimeContractorId" />
            <input type="hidden" id="pcExCurrencyId" value="@ViewBag.PrimeContractorId" />
            @Html.DropDownList("CurrencyDrp", new SelectList(Model,
                "Key", "Value"), new { @idFor = "pcExCurrencyId" })
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label>Rates : </label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="pcExRates" value="" maxlength="15"/>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="col-md-12 update-btn">
        <div class="col-md-5"></div>
        <div class="col-md-4" style="right: -21px;">
            <button type="button" class="blueBtn btn btn-default" id="addPcExRates">Submit</button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
