﻿@using GridMvc.Html
@model List<OneSourceAdminCore.Entity.tblPrimeContractorserviceLocation>



<div role="tabpanel" class="tab-pane" id="location-list">
    <a href="/prime-contractor/location/0/@ViewBag.PrimeContractorId">
        <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right !important">Add Prime Contractor Location</button>
    </a>
    <br />
    @if (Model != null && Model.Count > 0)
    {

        <div>

            @Html.Grid(Model).Columns(columns =>
            {
                columns.Add(C => C.PrimeContractorLocationName).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Location").SetWidth(150);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/prime-contractor/location/@o.PrimeContractorLocationID/@o.PrimeContractorID" class="isoCountryEdit">Edit </a>);
            }).WithPaging(50)

        </div>
    }
</div>
