﻿@using GridMvc.Html
@model List<OneSourceAdminCore.Entity.Sp_GetPrimeContractorUser_AdminR_Result>


@helper RenderSecurityLevelCheckBox(int userId, int value, string checkBoxId, int currentChkBoxId)
{
    if (value == currentChkBoxId)
    {
        <input class="@checkBoxId userAccessChk" data-userid="@userId" data-securitylevel="@currentChkBoxId" checked="checked" type="checkbox">
    }
    else
    {
        <input class="@checkBoxId userAccessChk" data-userid="@userId" data-securitylevel="@currentChkBoxId" type="checkbox">
    }
}

@helper RenderIsActiveButton(int userId, bool isActive)
{
    if (@isActive)
    {
        <input class="isActiveListButton" data-userid="@userId" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
    }
    else
    {
        <input class="isActiveListButton" data-userid="@userId" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
    }

}

<div role="tabpanel" class="tab-pane" id="pc-users">
    <a href="/prime-contractor/user/0/@ViewBag.PrimeContractorId">
        <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right;margin-bottom:10px">Add New User</button>
    </a>
    <br />
    @if (Model != null && Model.Count > 0)
    {

        <div>

            @Html.Grid(Model.OrderBy(x => x.UserName)).Columns(columns =>
            {
                columns.Add(C => C.UserName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("User Name").SetWidth(150);
                columns.Add().Encoded(false).Sanitized(false).Titled("Customer Center Access").
                    RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "customerAccessChk", 1)).SetWidth(10);

                columns.Add().Encoded(false).Sanitized(false).Titled("Manager Access")
                    .RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "managerAccessChk", 2)).SetWidth(10);

                columns.Add().Encoded(false).Sanitized(false).Titled("Administrative Access").
                    RenderValueAs(p => RenderSecurityLevelCheckBox(p.UserID, p.UserSecurityLevel, "adminAccessChk", 3)).SetWidth(10);
                columns.Add(C => C.IsActive).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Active").RenderValueAs(p => RenderIsActiveButton(p.UserID, Convert.ToBoolean(p.IsActive))).SetWidth(10);

                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/prime-contractor/user/@o.UserID/@ViewBag.PrimeContractorId" class="isoCountryEdit">Edit </a>);
            }).WithPaging(50)


        </div>
    }


</div>

<style>
    #pc-users .btn-sm {
        margin-bottom: 0px !important;
    }
</style>
