﻿@using System.Security.Authentication.ExtendedProtection
@model OneSourceAdminCore.Model.PrimeContractorModel

<div role="tabpanel" class="tab-pane active" id="home">
    @using (Html.BeginForm("AddUpdatePrimeContractorPost", "PrimeContractor", FormMethod.Post, new { @id = "primeContractorAddForm" }))
    {



        <input type="hidden" name="PrimeContractorID" value="@Model.PrimeContractor.PrimeContractorID" />
    <div class="col-md-6 location-tab-one" style="padding-left: 0px;">
        <div class="col-md-4">
            <span style="color: red">*</span>   <label>Prime Contractor Name:</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" maxlength="50" required="" name="PrimeContractorName" value="@Model.PrimeContractor.PrimeContractorName" />
        </div>
        <div class="col-md-4">
            <span style="color: red">*</span>   <label>Address 1:</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" maxlength="50" name="Address1" required="" value="@Model.PrimeContractor.Address1" />
        </div>

        <div class="col-md-4">
            <label>Address 2:</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="Address2" maxlength="50" value="@Model.PrimeContractor.Address2" />
        </div>
        <div class="col-md-4">
            <span style="color: red">*</span>    <label>City:</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="City" required="" maxlength="24" value="@Model.PrimeContractor.City" />
        </div>
        <div class="col-md-4">
            <span style="color: red">*</span>        <label>State / Province / Region:</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="StateProvinceRegion" required="" maxlength="36" value="@Model.PrimeContractor.StateProvinceRegion" />
        </div>
        <div class="col-md-4">
            <label>Postal Code:</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" maxlength="12" name="PostalCode" value="@Model.PrimeContractor.PostalCode" />
        </div>
        <div class="col-md-4">
            <label>Phone (Voice):</label>
        </div>
        <div class="col-md-8">
            <input type="number" class="form-control" maxlength="20" required="" name="Phone" value="@Model.PrimeContractor.Phone" />
        </div>
        <div class="col-md-4">
            <label>Phone (Fax):</label>
        </div>
        <div class="col-md-8">
            <input type="number" class="form-control" name="Fax" maxlength="20" value="@Model.PrimeContractor.Fax" />
        </div>
        <div class="col-md-4">
            <label>Country:</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("CountryID", new SelectList(Model.CountryList,
                        "Key", "Value", @Model.PrimeContractor.CountryID),
  new { @class = "" })
        </div>
    </div>
    <div class="col-md-6 location-tab-one" style="padding-left: 0px;">
        <div class="col-md-4">
            <span style="color: red">*</span>           <label>Contact Name:</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" required="" maxlength="32" name="Contact" value="@Model.PrimeContractor.Contact" />
        </div>
        <div class="col-md-4">
            <span style="color: red">*</span>          <label>Email:</label>
        </div>
        <div class="col-md-8">
            <input type="email" class="form-control" required="" maxlength="50" name="Email" value="@Model.PrimeContractor.Email" />
        </div>
        <div class="col-md-4">
            <label>Logo Image:</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="ImageFileName" maxlength="36" value="@Model.PrimeContractor.ImageFileName" />

            @*<input id="txt" class="form-control" type="text" placeholder="No file selected." onclick=" javascript:document.getElementById('file').click(); ">
                <input id="file" type="file" style='visibility: hidden; display: none;' name="img" onchange=" ChangeText(this, 'txt'); " />
                <script>
                    function ChangeText(oFileInput, sTargetID) {
                        document.getElementById(sTargetID).value = oFileInput.value;
                    }
                </script>*@
        </div>
        <div class="col-md-4">
            <label>Parent Company:</label>
        </div>
        <div class="col-md-8" style="margin-bottom: 15px;">
            @Html.DropDownList("ParentCompanyID", new SelectList(Model.CompanyList,
                        "Key", "Value", @Model.PrimeContractor.ParentCompanyID),
  new { @class = "" })
        </div>

        <div class="col-md-4">
            <label>Order Format:</label>
        </div>
        <div class="col-md-8" style="margin-bottom: 15px;">
            @Html.DropDownList("OrderFormatID", new SelectList(Model.OrderFormatList,
                    "Key", "Value", @Model.PrimeContractor.OrderFormatID),
                    new { @class = "" })
        </div>
        <div class="col-md-4">
            <label>Is Active:</label>
        </div>
        <div class="col-md-8">
            @{
        var chk = "checked";
        if (Model.PrimeContractor.IsActive == 0)
        {
            chk = "";
        }
        <input type="hidden" name="IsActive" id="IsActive" data-isbit="true" value="@Model.PrimeContractor.IsActive.ToString()">
                <input class="" @chk data-toggle="toggle" name="IsActivechkBtn" checkboxfor="IsActive" value="@Model.PrimeContractor.IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
            }
        </div>

        <div class="col-md-4">
            <label>Is Sub Admin :</label>
        </div>
        <div class="col-md-8">

            @{
        var chk2 = "checked";
        if (!Model.PrimeContractor.IsSubAdmin)
        {
            chk2 = "";
        }
        <input type="hidden" name="IsSubAdmin" id="IsSubAdmin" value="@Model.PrimeContractor.IsSubAdmin.ToString()">
                <input class="" @chk2 data-toggle="toggle" name="IsSubAdminBtn" checkboxfor="IsSubAdmin" value="@Model.PrimeContractor.IsSubAdmin" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
            }
        </div>
        @if (@Model.PrimeContractor.PrimeContractorID > 0)
        {
            <div class="col-md-4">
                <label>Last Updated (mm/dd/yyyy) :</label>
            </div>
            <div class="col-md-8">
                <p>@Model.PrimeContractor.LastUpdated</p>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4">
                <label>Updated By:</label>
            </div>
            <div class="col-md-8">
                <p>@Model.LastUpdatedByUser</p>
            </div>
        }


    </div>
        <div class="col-md-12 update-btn">
            <button type="submit" class="btn btn-default btnSubmit blueBtn" id="pcAddBtn">
                @if (Model.PrimeContractor.PrimeContractorID > 0)
                {<text>Update</text>
                }
                else
                {<text>Add</text>

                }

            </button>
        </div>


    }
</div>