﻿@model OneSourceAdminCore.Model.PrimeContractorModel

@{
    ViewBag.Title = "Prime Contractor";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<input type="hidden" id="addMsg" value="@(ViewBag.pcAddmsg)" />
<input type="hidden" id="updateMsg" value="@(ViewBag.pcEditmsg)" />
<div class="clearfix"></div>
<div class="row bread-Crumb-Top">
    <div class="col-md-9" style="padding: 10px; color: #FFF;">
        <b> Company > Prime Contractor @(Session["CurrentPrimeContractorName"] != null ? "(" + Session["CurrentPrimeContractorName"] + ")" : "")</b>
    </div>
    
    @*<div class="col-md-6" style="padding: 10px;">
            <a href="/prime-contractor/profile"><input class="btn btn-default topAddNewButton" value="Add New Prime Contractor" type="button"></a>
        </div>*@
    <div class="col-md-3 back-btn" style="float: right; margin-top: -6px;">
        <a href="/prime-contractor">       <button type="submit" class="btn blue-Btn topAddNewButton" id="backBtn" style="float:right !important;">Back</button></a>
    </div>
</div>
<br /><br />
<div class="os-admin-tabs cards">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <input type="hidden" id="currentTabId" value="@(Session["currentTabId"])" />

        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Prime Contractor</a></li>
        @if (@ViewBag.ViewFor == "Edit")
        {
            <li role="presentation"><a href="#location-list" aria-controls="locationList" role="tab" data-toggle="tab">Location</a></li>
            <li role="presentation"><a href="#exchange-rates" aria-controls="profile" role="tab" data-toggle="tab">Exchange Rates</a></li>
            <li role="presentation"><a href="#pc-users" aria-controls="pc-users" role="tab" data-toggle="tab">Users</a></li>
        }

    </ul>

    <!-- Tab panes -->
    <div class="col-md-12 tab-content">
        @Html.Partial("_PrimeContractorPartial", Model)

        @if (@ViewBag.ViewFor == "Edit")
        {
            @Html.Partial("_PcLocationListingPartial", Model.LocationsList)

            @Html.Partial("_PcExchangeRatesPartial", Model.PcExchangeRatesCurrencyList)

            @Html.Partial("_PcUsersListPartial", Model.PcUsersList)
        }




    </div>
    <div class="clearfix"></div>
</div>



<script>
    $(window).load(function() {
        ActivateTabFromUrlOrSession();
    });
    $(document).ready(function() {


        $("select").select2(
        {
            allowClear: true
        });

        $("#CurrencyDrp").prepend("<option value='0' selected='selected'>None</option>");
        $("#CurrencyDrp").select2().val("0").trigger("change");
        var addMsg = $("#addMsg").val();

        if (addMsg == "True") {
            showNotification("Record added successfully.");
        } else if (addMsg == "False") {
            showNotification("Error while adding.");
        }

        var updateMsg = $("#updateMsg").val();
        if (updateMsg == "True") {
            showNotification("Record updated successfully.");
        } else if (updateMsg == "False") {
            showNotification("Error while updating.");
        }
    });

    $("#CurrencyDrp").on("change", function(e) {
        var currencyId = $(this).val();
        var exRates = $("#pcExRates");
        var pcId = $("#currentPrimeContractorId").val();
        if (currencyId == null || currencyId == "0") {
            exRates.val("");
            return;
        }
        showHideLoader(1);
        $.ajax({
            url: '/PrimeContractor/GetExchangeRatesByCurrencyId',
            type: 'POST',
            data: JSON.stringify({ currencyId: currencyId, pcId: pcId }),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function(data) {
                if (data != null) {
                    if (data == "notFound") {
                        exRates.val("");
                    } else {

                        exRates.val(data.Rates.toFixed(9));
                    }
                } else {
                    exRates.val("");
                }

            },
            complete: function(data) {
                showHideLoader(0);
            }
        });
    });

    $("#addPcExRates").click(function() {
        var currencyId = $("#pcExCurrencyId").val();
        var exRates = $("#pcExRates");
        var pcId = $("#currentPrimeContractorId").val();

        if (($.isNumeric(exRates.val()) == false) || (parseFloat($("#pcExRates").val()) < 0)) {
            alert("Please enter valid exchange rates.");
            return false;
        }
        if (currencyId == null || currencyId == "0") {
            alert("Please select currency.");
            return false;
        }
        $.ajax({
            url: '/PrimeContractor/AddUpdateExchageRates',
            type: 'POST',
            data: JSON.stringify({ currencyId: currencyId, pcId: pcId, exRates: exRates.val() }),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function(data) {
                if (data != null) {
                    if (data == "true") {
                        showNotification("Record updated successfully.");
                    } else {
                        showNotification("Error while adding.");
                    }
                } else {
                    showNotification("Error while adding.");
                }
            },
            complete: function(data) {
                showHideLoader(0);
            }
        });

    });

    ///active in active user
    $('#pc-users .isActiveListButton').change(function() {
        showHideLoader(1);
        var data = {
            userId: $(this).data("userid"),
            isActive: $(this).prop("checked")
        };
        $.ajax({
            url: '/primecontractor/UpdateUserStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function(data) {
                if (data == true) {
                    showNotification("Record update successfully.");
                } else if (data == false) {
                    showNotification("Error while processing.");
                } else if (data == "sessionOut") {
                    showNotification("Login session expired.");
                    window.location.href = "/account/logout";
                }
                showHideLoader(0);
            }
        });

    });


    ///CHange user access
    $('#pc-users .userAccessChk').change(function(e) {

        if (this.checked) {
            showHideLoader(1);
            var currentChk = $(this);
            var thisRow = $(currentChk).closest("tr");
            var currentSecurityLevel = $(this).data("securitylevel");

            var data = {
                userId: $(this).data("userid"),
                securityLevel: $(this).data("securitylevel"),
                userGroupName: "isd"
            };
            $.ajax({
                url: '/primecontractor/UpdateUserAccess',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function(data) {
                    if (data == null) {
                        showNotification("Error while processing.");
                        showHideLoader(0);
                        return false;
                    }
                    if (data == true) {
                        showNotification("Record update successfully.");

                        $(thisRow).find("input.userAccessChk[data-securitylevel!='" + currentSecurityLevel + "']").each(function() {
                            $(this).prop('checked', false);
                        });
                    } else if (data == false) {
                        showNotification("Error while processing.");
                    }
                    showHideLoader(0);
                }
            });
        } else {

            $(this).prop('checked', true);
            return false;
        }

    });


    $("#pcAddBtn").click(function(e) {

        $("#primeContractorAddForm :input").each(function() {
            var input = $(this);
            if (!(input)[0].checkValidity()) {

                if ((input).attr("required") != null && (input).val() == "") {
                    alert("Please fill all mandatory fields.");
                    $(input).focus();
                    return false;
                } else {

                    if ((input).attr("type") == 'email') {
                        alert("Invalid email value.");
                        $(input).focus();
                        return false;

                    } else if ((input).attr("type") == 'number') {
                        alert("Enter valid integer value.");
                        $(input).focus();
                        return false;
                    } else {
                        alert("Invalid input value.");
                        $(input).focus();
                        return false;
                    }
                }
            }
        });
    });

</script>

<style>
    #primeContractorAddForm .col-md-4 {
        padding: 0px;
    }

        #primeContractorAddForm .col-md-4 label {
            font-size: 12px;
        }
</style>