﻿@model OneSourceAdminCore.Model.PrimeContractorModel
@{
    ViewBag.Title = "User View";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="clearfix"></div>
<input type="hidden" id="addMsg" value="@(TempData["addMsg"] != null ? TempData["addMsg"].ToString() : "")" />
<input type="hidden" id="updateMsg" value="@(TempData["editMsg"] != null ? TempData["editMsg"].ToString() : "")" />


@using (Html.BeginForm("AddEditPcUserPost", "PrimeContractor", FormMethod.Post, new { @id = "pcLocationForm" }))
{
    <div class="row bread-Crumb-Top">
        <div class="col-md-6" style="padding: 10px; color: #FFF;">
            <b> Company > Prime Contractor @(Session["CurrentPrimeContractorName"] != null ? "(" + Session["CurrentPrimeContractorName"] + ")" : "") > User</b>
        </div>
        
        <div class="col-md-6" style="padding: 10px;">
            <a href="/prime-contractor-profile/@Model.PrimeContractorUser.PrimeContractorId#pc-users">
                <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
            </a>
            @if (@Model.PrimeContractorUser.UserId > 0)
            {
            <a href="/company/contact/pc/@ViewBag.userContactId/@ViewBag.CompanyId ">
                <input class="btn btn-default topAddNewButton" value="Contact Info" type="button" style="margin-right: 5px;float:right">
            </a>
            }
        </div>
    </div>
    <div class="os-admin-tabs cards">
        <div class="col-md-12 tab-content">
            <h1>Prime Contractor User</h1>
            <hr />
            <input type="hidden" name="UserId" value="@Model.PrimeContractorUser.UserId" />
            <input type="hidden" name="PrimeContractorId" value="@Model.PrimeContractorUser.PrimeContractorId" />
            @if (Model.LocationsList != null && Model.LocationsList.Count > 0)
            {
                <div>

                    <div class="col-md-12" style="">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <span style="color: red">*</span>     <label>User Name : </label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" required="" maxlength="50" name="UserName" id="username" value="@Model.PrimeContractorUser.UserName" type="text">
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <span style="color: red">*</span>      <label>Password : </label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" name="Password" required="" maxlength="50" value="@Model.PrimeContractorUser.Password" type="text">
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <label>Email : </label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" name="Email" value="@Model.PrimeContractorUser.Email" type="email">
                        </div>
                        <div class="col-md-3"></div>
                    </div>


                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <label>Prime Contractor Location : </label>
                        </div>
                        <div class="col-md-4" style="margin-bottom: 15px;">

                            @Html.DropDownList("PrimeContractorLocationId", new SelectList(Model.LocationsList,
                    "PrimeContractorLocationID", "PrimeContractorLocationName", @Model.PrimeContractorUser.PrimeContractorLocationId),
                    new { @class = "" })


                        </div>
                        <div class="col-md-3"></div>
                    </div>



                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <label>Date Format : </label>
                        </div>
                        <div class="col-md-4" style="margin-bottom: 15px;">
                            @if (Model.DateFormatList != null && Model.DateFormatList.Count > 0)
                            {
                                @Html.DropDownList("DateFormatId", new SelectList(Model.DateFormatList,
                        "Key", "Value", @Model.PrimeContractorUser.DateFormatId),
                        new { @class = "" })
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    @if (Model.PrimeContractorUser.UserId > 0)
                    {
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <label>Is Active :</label>
                            </div>
                            <div class="col-md-4">
                                @{
                        var chk = "checked";
                        if (Model.PrimeContractorUser.IsActive == 0)
                        {
                            chk = "";
                        }
                        <input type="hidden" name="IsActive" id="IsActive" data-isbit="true" value="@Model.PrimeContractorUser.IsActive.ToString()" />
                                    <input class="" @chk data-toggle="toggle" name="IsActivechkBtn" checkboxfor="IsActive" value="@Model.PrimeContractorUser.IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                                }
                            </div>

                            <div class="col-md-3"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <label>Last Updated (mm/dd/yyyy) :</label>
                            </div>
                            <div class="col-md-4">
                                <p>@Model.PrimeContractorUser.LastUpdated</p>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <label>Updated By :</label>
                            </div>
                            <div class="col-md-4">
                                <p>@Model.LastUpdatedByUser</p>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    }

                    <div class="col-md-12 update-btn">
                        <div class="col-md-5"></div>
                        <div class="col-md-4" style="right: -21px;">
                            <button type="submit" class="blueBtn btn btn-default" id="addPcExRates">Submit</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            }
            else
            {
                <text>Please <a href="/prime-contractor/location/0/@Model.PrimeContractorUser.PrimeContractorId" style="color: blue; text-decoration: underline;">Add location</a> to continue. </text>
            }
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $("select").select2(
        {
            allowClear: true

        });


        var addMsg = $("#addMsg").val();
        if (addMsg == "userExist") {
            showNotification("Username already exist.");
        } else {
            if (addMsg == "True") {
                showNotification("Record added successfully.");
            } else if (addMsg == "False") {
                showNotification("Error while adding.");
            }

            var updateMsg = $("#updateMsg").val();
            if (updateMsg == "True") {
                showNotification("Record updated successfully.");
            } else if (updateMsg == "False") {
                showNotification("Error while updating.");
            }
        }
     
    });

</script>