﻿@using GridMvc.Html
@model OneSourceAdminCore.Model.PrimeContractorModel

@{
    ViewBag.Title = "Prime Contractors";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Company > Prime Contractors</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="margin-top: 5px;">
        @*<div class="col-md-3 back-btn" style="margin-top: -11px; float: right; right: -37px;">*@
            <a href="/prime-contractor-profile">     
              <button type="submit" class="btn blue-Btn topAddNewButton" id="backBtn" style=" float: right">Add Prime Contractor</button></a>
        @*</div>*@
    </div>
</div>
<style>
  
</style>
<br /><br />
<div class="row" style="text-align: center">
    @using (Html.BeginForm("Index", "PrimeContractor", FormMethod.Post, new { @id = "primeContractorSearch" }))
    {
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <input type="hidden" name="name" id="searchTxt" value="@ViewBag.searchTxt" />
                <select id="primeContractorList" style="width: 300px; text-align: left !important;">

                    <option value="0">All</option>
                    @foreach (var item in @Model.PrimeContractorListForDrpDown)
                    {
                        <option value="@item.PrimeContractorID">@item.PrimeContractorName</option>
                    }

                </select>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">

                <input type="submit" value="Search" class="btn form-control blueBtn" />
            </div>
        </div>
    }
</div>
<br /><br />
<div>

    @Html.Grid(Model.PrimeContractorList).Columns(columns =>
    {
        columns.Add(C => C.PrimeContractorName).Sortable(true).Filterable(true).Titled("Prime Contractor").SetWidth(150);
        columns.Add(C => C.IsActive).Sortable(true).RenderValueAs(o => (@o.IsActive==1?"Yes":"No")).Titled("Active").SetWidth(150);
        columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/prime-contractor-profile/@o.PrimeContractorID" class="isoCountryEdit">Edit </a>);
    }).WithPaging(50)
</div>



<script type="text/javascript">
    $("#primeContractorList").on("change", function (e) {
        $("#searchTxt").val($(this).select2('data').text);

    });
    $(document).ready(function () {

        $("#primeContractorList").select2().val($("#primeContractorList option:contains(" + $("#searchTxt").val() + ")").val()).trigger("change");
        
        //$("#primeContractorList option:contains(" + $("#searchTxt").val() + ")").val();
    });
    $("#primeContractorList").select2(
    {
        allowClear: true
    }
);

</script>