﻿@model OneSourceAdminCore.Model.PrimeContractorModel
@{
    ViewBag.Title = "Prime Contractor Location";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<input type="hidden" id="addMsg" value="@(TempData["Addmsg"] != null ? TempData["Addmsg"].ToString() : "")" />
<input type="hidden" id="updateMsg" value="@(TempData["editMsg"] != null ? TempData["editMsg"].ToString() : "")" />
<div class="row bread-Crumb-Top">
    <div class="col-md-8" style="padding: 10px; color: #FFF;">
        <b> Dashboard > Prime Contractor @(Session["CurrentPrimeContractorName"] != null ? "(" + Session["CurrentPrimeContractorName"] + ")" : "") > Service Location</b>
    </div>
 
    <div class="col-md-4" style="padding: 10px;">
        <a href="/prime-contractor-profile/@Model.PcLocation.PrimeContractorID#location-list">
            <input class="btn btn-default topAddNewButton" value="Back" type="button" style=" float: right">
        </a>
    </div>
</div>
@using (Html.BeginForm("AddEditlocation", "PrimeContractor", FormMethod.Post, new { @id = "pcLocationForm" }))
{
    <div class="os-admin-tabs cards">
        <div class="col-md-12 tab-content">
            <h1>Service Location</h1>
            <hr />

            <div>
                <input type="hidden" name="PrimeContractorLocationID" value="@Model.PcLocation.PrimeContractorLocationID" />
                <input type="hidden" name="PrimeContractorID" value="@Model.PcLocation.PrimeContractorID" />

                <div class="col-md-6 location-tab-one">
                    <div class="col-md-4">
                        <span style="color: red">*</span>    <label>Service Location Name :</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="PrimeContractorLocationName" maxlength="50" required="" value="@Model.PcLocation.PrimeContractorLocationName">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <span style="color: red">*</span>   <label>Address:</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="Address1" required="" maxlength="50" value="@Model.PcLocation.Address1">
                    </div>
                    <div class="col-md-4">
                        <label>Address 2 :</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="Address2" maxlength="50" value="@Model.PcLocation.Address2">
                    </div>
                    <div class="col-md-4">
                        <span style="color: red">*</span>     <label>City :</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="City" maxlength="24" value="@Model.PcLocation.City" required="" />
                    </div>
                    <div class="col-md-4">
                        <span style="color: red">*</span>    <label>State / Province / Region :</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="StateProvinceRegion" required="" maxlength="36" value="@Model.PcLocation.StateProvinceRegion">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label>Postal Code :</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="PostalCode" maxlength="12" value="@Model.PcLocation.PostalCode">
                    </div>
                    <div class="col-md-4">
                        <span style="color: red">*</span>        <label>Phone (Voice):</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="Phone" maxlength="20" pattern="[0-9]+$" required="" value="@Model.PcLocation.Phone">
                    </div>
                    <div class="col-md-4">
                        <label>Phone (Fax) :</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="Fax" maxlength="20" pattern="[0-9]+$" value="@Model.PcLocation.Fax">
                    </div>
                    <div class="col-md-4">
                        <label>Country :</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownList("CountryID", new SelectList(Model.CountryList,
                            "Key", "Value", @Model.PcLocation.CountryID),
                            new { @class = "" })
                    </div>
                </div>
                <div class="col-md-6 location-tab-one" >
                    
                    <div class="col-md-4">
                        <span style="color: red">*</span>        <label>Contact Name :</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" required="" maxlength="32" name="Contact" value="@Model.PcLocation.Contact" />
                    </div>
                    <div class="col-md-4">
                        <span style="color: red">*</span>         <label>Email :</label>
                    </div>
                    <div class="col-md-8">
                        <input type="email" class="form-control" required="" maxlength="50" name="Email" value="@Model.PcLocation.Email" />
                    </div>
                    <div class="col-md-4">
                        <label>Date Format :</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("DateFormatID", new SelectList(Model.DateFormatList,
                            "Key", "Value", @Model.PcLocation.DateFormatID),
                            new { @class = "" })
                    </div>
                    @if (Model.PcLocation.PrimeContractorLocationID > 0)
                    {
                        <div class="col-md-4">
                            <label>Is Active :</label>
                        </div>
                        <div class="col-md-8">
                            @{
                        var chk = "checked";
                        if (Model.PcLocation.IsActive == 0)
                        {
                            chk = "";
                        }
                        <input type="hidden" name="IsActive" id="IsActive" data-isbit="true" value="@Model.PcLocation.IsActive.ToString()">
                                <input class="" @chk data-toggle="toggle" name="IsActivechkBtn" checkboxfor="IsActive" value="@Model.PcLocation.IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                            }
                        </div>
                        <div class="col-md-4">
                            <label>Last Updated (mm/dd/yyyy) :</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Model.PcLocation.LastUpdated</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Updated By :</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Model.LastUpdatedByUser</p>
                        </div>
                    }
                </div>
                <div class="col-md-12 update-btn">
                    <button type="submit" class="btn btn-default btnSubmit blueBtn" id="pcFormSubmit">
                        @if (Model.PcLocation.PrimeContractorLocationID > 0)
                        {
                            <text> Update </text>
                        }
                        else
                        {
                            <text> Add </text>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        $("select").select2(
        {
            allowClear: true

        });

        var addMsg = $("#addMsg").val();

        if (addMsg == "True") {
            showNotification("Record added successfully.");
        } else if (addMsg == "False") {
            showNotification("Error while adding.");
        }

        var updateMsg = $("#updateMsg").val();
        if (updateMsg == "True") {
            showNotification("Record updated successfully.");
        } else if (updateMsg == "False") {
            showNotification("Error while updating.");
        }


        $("#pcFormSubmit").click(function (e) {

            $("#pcLocationForm :input").each(function () {
                var input = $(this);
                if (!(input)[0].checkValidity()) {

                    if ((input).attr("required") != null && (input).val() == "") {
                        alert("Please fill all mandatory fields.");
                        $(input).focus();
                        return false;
                    } else {

                        if ((input).attr("type") == 'email') {
                            alert("Invalid email value.");
                            $(input).focus();
                            return false;

                        } else if ((input).attr("type").toLowerCase() == 'number') {
                            var min = (input).attr("min");
                            var max = (input).attr("max");
                            var addition = "";
                            if (min != null && max != null) {
                                addition = "ie (" + min + "-" + max + ")";
                            }
                            alert("Enter valid number. " + addition);
                            $(input).focus();
                            return false;
                        } else {
                            alert("Invalid input value.");
                            $(input).focus();
                            return false;
                        }
                    }
                }
            });
        });





    });



</script>


<style>
    #pcLocationForm .col-md-4 {
        padding: 0px;
    }
    #pcLocationForm .col-md-4 label{
        font-size: 12px;
    }
</style>