﻿@model OneSourceAdminCore.Model.CatalogModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">


    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Alert > Catalog > Search </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-3" style="padding:10px;"></div>

</div>

<div class="row" style="padding: -10px; margin-left: -20px;
                                      margin-right: -19px; background-color: #399bd3; color: #FFF;">
    @using (Html.BeginForm("Search", "Catalog", FormMethod.Post, new {@id = "CatalogForm"}))
    {
        <div class="col-md-4">
            <h1>Catalog-SKU Search</h1>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="col-lg-12" style="margin-top: 21px;">
                <div class="input-group">
                    <label class="control-label col-md-3" style="padding-left: 25px; padding-top: 5px;">Customer </label>
                    <div class="col-md-5" style="padding: 0px;">
                    
                        @Html.DropDownList("CustomerId", new SelectList(Model.CustomerList,
                        "Key", "Value", Session["SelectedCustomerId"]), "All",
                        new { @id = "CustomerId", @valueFor = "CustomerName", @class = "form-control ", @tabindex = "-1" })
                    </div>
                    <input type="text" class="form-control" name="manufacturerSku" placeholder="SKU..." style="width: 120px;margin-left: 4px;">
                    <span class="input-group-btn" style="padding-left: 3px;">
                        <button class="btn btn-default" type="submit" style="color: #399BD3;">Search</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
    }

</div>
<br>
<div class="row">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model != null && Model.CatalogSearchModel != null)
        {
            @Html.Grid(Model.CatalogSearchModel).Columns(columns =>
            {
                columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.RadioButton("checked", false, new { @class = "checkboxClass", manufacturerSku = o.ManufacturerSKU, ManufacturerPartID = o.ManufacturerPartID }));
                columns.Add(C => C.ManufacturerSKU).Sortable(true).Filterable(true).Titled("SKU").Encoded(false).Sanitized(false).SetWidth(5)
                    .RenderValueAs(o => @<span><input type="hidden" value="@o.ManufacturerPartID">@o.ManufacturerSKU</span>);
                columns.Add(c => c.Description).Sortable(true).Filterable(true).Titled("Description").SetWidth(30);
                columns.Add(c => c.PartCategoryName).Sortable(true).Filterable(true).Titled("Part Category").SetWidth(30);
                columns.Add(c => c.ManufacturerName).Sortable(true).Filterable(true).Titled("Manufacturer").SetWidth(30);


            }).WithPaging(15)
        }


    </div>

</div>

<script>
    $('#CustomerId').change(function () {
        
        $('#hCustomerId').val($(this).val());
    });
    $(document).ready(function () {
        StartLoader();
        if($('#hCustomerId').val()=='')
        {
            $('#CustomerId').val($('#hCustomerId').val());
        }
    });
    $(window).load(function () {
        EndLoader();
    });
    $('#CatalogForm').submit(function() {

        //if ($('input[name="manufacturerSku"]').val().trim() === '') {
        //    alert('Please Provide SKU For Search');
        //    return false;
        //}
        $('input[name="manufacturerSku"]').val($('input[name="manufacturerSku"]').val().trim());
        StartLoader();
    });
    $('.checkboxClass').click(function () {
        StartLoader();        
        var searchParam = {
            manufacturerSku: $(this).attr('manufacturersku'),
            manufacturerPartId: $(this).attr('manufacturerpartid'),
            customerId: $('#CustomerId').val(),
            description: $(this).parent().parent().find('td[data-name="Description"]').text()
        };
        $.ajax({
            url: '/Catalog/GetSku',
            type: 'POST',
            data: JSON.stringify(searchParam),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function(data) {
                if (data == "0") {
                    window.location.href = '/catalogsku';
                } else {
                    window.location.href = '/catalogalert';
                }
            }
        });

    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".alert").addClass("open");
        $(".page-sidebar-menu .alert").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .alert").find(".catalogalert").addClass("active");
    });
</script>