﻿@model List<OneSourceAdminCore.Model.GenericList>
@{
    ViewBag.Title = "National Holidays";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">

    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Locale Settings > National Holidays </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">

        @if (ViewBag.AddEditAccess == true)
        {
            <input class="btn btn-default topAddNewButton" id="addNewHoliday" value="Add New Holiday" type="button" style="float:right !important;">
        }
    </div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>


@using (Html.BeginForm("UpdateHoliday", "Holiday", FormMethod.Post, new { @id = "HolidayForm" }))
{
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Country </label>
                <div class="col-md-7">
                    <input type="hidden" name="hCountryId" id="hCountryId">
                    @Html.DropDownList("CountryID", new SelectList(Model,
                        "Key", "Value"), "--Select--",
new { @id = "CountryId", @idFor = "hCountryId", @class = "form-control ", @tabindex = "-1" })
                </div>
            </div>

        </div>
    </div>

    if (ViewBag.AddEditAccess == true)
    {
        <div class="addEditDiv">
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Name:</label>
                        <div class="col-md-7">
                            <input type="text" name="holidayName" maxlength="50" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Month:</label>
                        <div class="col-md-7">
                            <select name="month" class="form-control">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span style="color:red">* </span>Date:</label>
                        <div class="col-md-7">
                            <select name="day" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.AddEditAccess == true)
            {
                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-7" style="padding-left: 23px;">
                        <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                        <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
                    </div>
                    <br>
                    <br>
                </div>
            }
        </div>
    }
}

<div class="row holidayListDiv">
    <div class="col-md-2"></div>

    <div class="col-md-8" style="margin-top: 15px;padding-right:0px">

        <table class="table" style="margin-bottom: 0px;">
            <thead style="color: #fff;background-color: #399bd3;">
                <tr>

                    <th>National Holidays</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-12"></div>
    <div class="col-md-2"></div>
    <div class="col-md-8" style="max-height:350px;overflow-x:hidden">

        <table class="table tblHoliday">
            <tbody>
                <tr>
                    <td style="width:90%">
                        <span>National Holidays</span>
                    </td>
                    @if (ViewBag.AddEditAccess == true)
                    {
                        <td>
                            <span><a style="color:blue">Delete</a></span>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>

</div>
<script>
    $(function () {
        StartLoader();
        $('.addEditDiv').hide();
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 3000);
        $('.holidayListDiv').hide();

        if (window.location.href.split('?').length > 1) {
            var countryId = window.location.href.split('?')[1].split('=')[1];
            $('#CountryId').val(countryId);
            $('#CountryId').change();
        }
    });
    $(window).load(function () {
        EndLoader();
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".nationalholiday").addClass("active");
    });
    $('#addNewHoliday').click(function () {


        if ($('.addEditDiv:visible').length == 0) {
            $('.addEditDiv').show();
        }
        else {
            $('.btnReset').click();
        }
    });
    $('.btnReset').click(function () {
        $('#CountryId').val("");
        $('input[name="holidayName"]').val("");
        $('select[name="month"]').val("1");
        $('select[name="day"]').val("1");

    });
    $('#CountryId').change(function () {

        if ($(this).val() != "") {
            StartLoader();
            var data = {
                countryId: $(this).val()
            };
            $.ajax({
                url: '/Holiday/GetHolidays',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == "0") {
                        alert("Error Occured");
                    }
                    else {
                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            html += '<tr><td style="width:90%"><input type="hidden" class="holidayMonth" value=' + data[i].holidayMonth + '>'+
                                '<input type="hidden" class="holidayDay" value=' + data[i].holidayDay + '><span>' +
                                 getMonthNameWithDate(data[i].holidaydate) + ' (' + data[i].holidayname + ')' + '</span></td><td><span>';

                                 if('@ViewBag.AddEditAccess' == 'True'){
                                     html += '<a onclick="DeleteHoliday(' + data[i].holidayid + ',' + data[i].countryid + ')"' + ' style="color:blue">Delete</a>';
                                     }
                            html += '</span></td></tr>';
                        }
                        $('.tblHoliday tbody').html(html);
                        $('.holidayListDiv').show();
                    }
                    EndLoader();
                }
            });
        }
        else {
            $('.holidayListDiv').hide();
        }
    });
    $('#HolidayForm').submit(function () {

        if ($('#CountryId').val() == "" || $('input[name="holidayName"]').val() == "") {
            alert("Please provide all fields");
            return false;
        }
        var isAllow = true;
        $('.holidayMonth').each(function (e, t) {
            if ($(t).val() == $('select[name="month"]').val() && $($('.holidayDay')[e]).val() == $('select[name="day"]').val()) {

                if (!confirm("A holiday on same date alreay exists , Are you sure you want to add more?")) {
                    isAllow = false;
                    return false;
                }
                else {
                    isAllow = true;
                    return false;
                }
            }

        });
        if (!isAllow) {
            return false;
        }
    });

    @if (ViewBag.AddEditAccess == true)
    {
        <text>
        function DeleteHoliday(holidayId, countryId) {
            if (confirm("Are you sure you want to delete this record?")) {
                StartLoader();
                window.location.href = "/Holiday/DeleteHoliday?holidayId=" + holidayId + "&countryId=" + countryId;
            }
        }
        </text>
    }

    $('select[name="month"]').change(function () {
        var daysCount = getDaysInMonth($(this).val());
        var dayHtml = "";
        for (var i = 1; i <= daysCount; i++) {
            dayHtml += '<option value="' + i + '">' + i + '</option>';
        }

        $('select[name="day"]').html(dayHtml);

    });
</script>
