﻿@using OneSourceAdminCore.Entity
@model List<OneSourceAdminCore.Entity.tblAdminMenu>
@{
    ViewBag.Title = "DasboardView";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<input type="hidden" id="addMsg" value="@(TempData["addMsg"] != null ? TempData["addMsg"].ToString() : "")" />
<input type="hidden" id="updateMsg" value="@(TempData["editMsg"] != null ? TempData["editMsg"].ToString() : "")" />
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Dashboard</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;">
    </div>
</div>
<div class="os-admin-companies">
    @{ var count = 1;}
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model.Where(x => x.IsMainMenu && x.MenuType == "Dashboard Menu").ToList())
        {
            if (count == 1)
            {
                @:<div class="col-md-4">
            }
            if (item.MenuName == "Contacts")
            {    <div class="ss_button">
                <i class="@item.IconClassName"></i><a href="@item.MenuLink" style="text-decoration: none;color: white"> @item.MenuName </a>
            </div>
            }
            else
            {
                if(Model.Count(x => x.ParentMenuId == item.MenuId) > 0)
                {
                    <div class="ss_button">
                        <i class="@item.IconClassName"></i> @item.MenuName <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="ss_content">
                        <ul>
                            @if (item.MenuName == "Company")
            {
                if (ViewBag.CompanyRoles != null)
                {
                    var listRole = (List<OneSourceAdminCore.Model.GenericList>)ViewBag.CompanyRoles;
                    var customer = listRole.FirstOrDefault(x => x.Value.ToLower().Trim() == "customer");
                    var supplier = listRole.FirstOrDefault(x => x.Value.ToLower().Trim() == "fulfillment service contractor");
                    var manufacturer = listRole.FirstOrDefault(x => x.Value.ToLower().Trim() == "manufacturer");

                    if (customer != null) {
                        <li><i class="fa fa-angle-right"></i><a href="/admin/search-company?roleId=@(customer.Key)&main=true">Customer</a></li>
                    }
                    else
                    {
                        <li><i class="fa fa-angle-right"></i><a href="/admin/search-company">Customer</a></li>

                    }
                    if (supplier != null) {
                        <li><i class="fa fa-angle-right"></i><a href="/admin/search-company?roleId=@(supplier.Key)&main=true">Supplier</a></li>
                    }
                    else
                    {
                        <li><i class="fa fa-angle-right"></i><a href="/admin/search-company">Supplier</a></li>
                    }
                    if (manufacturer != null) {

                        <li><i class="fa fa-angle-right"></i><a href="/admin/search-company?roleId=@(manufacturer.Key)&main=true">Manufacturer</a></li>
                    }
                }
                else
                {
                        <li><i class="fa fa-angle-right"></i><a href="/admin/search-company">Customer</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="/admin/search-company">Supplier</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="/admin/search-company">Manufacturer</a></li>
                }
                foreach (var child in Model.Where(x => x.ParentMenuId == item.MenuId).ToList())
                {
                    if (child.MenuName != "Company")
                    {
                        <li><i class="fa fa-angle-right"></i><a href="@child.MenuLink">@child.MenuName</a></li>
                                    }
                                }
                            }
                            else
                            {
                                /*
                                 * Aurangzeb Khan
                                 * 19th February 2018
                                 * Changed the implementation here for sub menu heirarchy
                                 */

                                foreach (var child in Model.Where(x => x.ParentMenuId == item.MenuId).ToList())
                                {
                                    var menuWithDashBoardSubTypes = Model.Where(y => y.ParentMenuId == child.ParentMenuId && y.MenuType == "Dashboard Sub-Menu").ToList();

                                    if (menuWithDashBoardSubTypes.Count > 0)
                                    {
                                        var subMenuChild = menuWithDashBoardSubTypes.Where(y => y.ParentMenuId == child.ParentMenuId && y.MenuType == "Dashboard Sub-Menu" && y.MenuId == child.MenuId).FirstOrDefault();

                                        if (subMenuChild != null)
                                        {
                                            var link = child.MenuLink + "/" + child.MenuId;
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="@link">@child.MenuName</a>
                                            </li> 
                                        }
                                    }
                                    else
                                    {
                                        <li><i class="fa fa-angle-right"></i><a href="@child.MenuLink">@child.MenuName</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                }
            }
            if (count == 5)
            {
                @:</div>
            }
            {
                count = count + 1;
            }
            if (count == 6)
            {
                count = 1;
            }
        }
    }
</div>

<script>
    jQuery(function () {
        jQuery('.ss_button').on('click', function () {
            jQuery('.ss_content').slideUp('fast');
            jQuery(this).next('.ss_content').slideDown('fast');
        });
    });
    jQuery(function () {
        jQuery('.ss_button1').on('click', function () {
            jQuery('.ss_content1').slideUp('fast');
            jQuery(this).next('.ss_content1').slideDown('fast');
        });
    });

    $(document).ready(function () {
        $(".page-sidebar-menu").find(".adminDashboard").addClass("open");
    });
</script>
