﻿@model OneSourceAdminCore.Model.BudgetModel
@{
    ViewBag.Title = "Customer Country Budget";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .input-medium {
        width: 270px !important;
    }
</style>
<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>
<script>
    var myApp = angular.module("myModule", []);

    myApp.controller("myController", function ($scope, $http) {
        $scope.postedData = [];

        //  $scope.isvalid = true;
        $scope.totalAmount = "";
        $scope.currentCurrency = 0;

        @if (ViewBag.AddEditAccess == true)
        {<text>
        $scope.update = function (value) {

            $scope.postedData = [];

            if ($('#CustomerID').val() != "") {
                $('.amount').each(function (event) {
                    if ($(this).val() != "" && $(this).val() != "0") {

                        var data = {
                            CustomerID: $('#CustomerID').val(),
                            CustomerName: $('#CustomerName').val(),
                            CurrencyID: $(this).parent().parent().find('select').val(),

                            CurrencyName: $(this).parent().parent().find('select option:selected').text().trim(),
                            CountryID: $(this).parent().parent().find('input[type="hidden"]').val(),
                            Countryname: $(this).parent().parent().find('.countryName').text().trim(),
                            BudgetAmount: $(this).val(),
                            Duration: $('#DurationID').val()
                        };
                        $scope.postedData.push(data);
                    }
                });
                if ($('#CurrencyID').val() != "") {

                    if ($scope.totalAmount != "" && $scope.totalAmount != "0") {
                        $scope.postedData.push({
                            CustomerName: $('#CustomerName').val(),
                            CustomerID: $('#CustomerID').val(),
                            CurrencyID: $('#CurrencyID').val(),
                            CurrencyName: $('#CurrencyID option:selected').text().trim(),
                            CountryID: 0,
                            Countryname: "-",
                            BudgetAmount: $('.totalBudget').val(),
                            Duration: $('#DurationID').val()
                        });
                    }
                    else {
                        alert('Please provide total budget');
                        return false;
                    }
                }
                else if ($scope.totalAmount != "" && $('#CurrencyID').val() == "") {
                    alert('Please provide currency for total budget');
                    return false;
                }
                else if ($scope.totalAmount == "" && $('#CurrencyID').val() == "") {
                    alert('Total budget and currency is required');
                    return false;
                }
                var totalAmountToCompare = 0;
                $('.amount').each(function () {
                    if (!isNaN(parseFloat($(this).val()))) {
                        totalAmountToCompare += parseFloat($(this).val());
                    }
                });

                if (totalAmountToCompare > parseFloat($scope.totalAmount)) {
                    alert('Please provide country budget less than total budget');
                    return false;
                }
                var isValidForm = true;
                $('.amount[style]').each(function () {
                    if ($(this).css('border-color') == "rgb(255, 0, 0)") {

                        isValidForm = false;
                        return false;
                    }
                });
                if (!isValidForm) {
                    alert("Please provide correct data");
                    return false;
                }

                if ($scope.postedData.length > 0) {
                    StartLoader();
                    var req = {
                        method: 'POST',
                        url: '/Budget/UpdateCustomerBudget',
                        headers: {
                            'contentType': 'application/json; charset=utf-8',
                            'dataType': 'json',
                        },
                        data: JSON.stringify($scope.postedData)
                    }

                    $http(req).success(function (response) {
                        if (response == "0") {
                            alert("Error Occurred");
                        }
                        else {

                            alert("Record Update Successfuly");
                            $scope.getCustomer($('#CustomerID').val());
                            EndLoader();

                        }
                    });
                }
                else {
                    alert('No record to update');
                }
            }
            else {
                alert('Please select Customer')
            }


        }
        </text>
        }
        $scope.getCustomer = function (id) {

            StartLoader();
            if (id == "") {
                $scope.$apply(function () {
                    $scope.results = null;
                    $scope.totalAmount = null;
                });
            }
            else {

                $http.get('/Budget/GetCustomerBudgetRecord' + '?' + new Date().toString(), { params: { value: id } }).success(function (response) {

                    $scope.results = response.record;
                    $scope.allCurrencies = response.currencies;
                    $('#CurrencyID').val(response.totalbudgetData.CurrencyID == 0 ? "" : response.totalbudgetData.CurrencyID);
                    $scope.totalAmount = response.totalbudgetData.BudgetAmount == 0 ? "" : response.totalbudgetData.BudgetAmount;
                    $('#DurationID').val(response.totalbudgetData.Duration == null ? "Year" : response.totalbudgetData.Duration);
                });
            }

            EndLoader();

        };
        //$scope.getTotalAmountByCurrency = function (id) {

        //    if ($('#CustomerID').val() !== "" && id != "") {
        //        $http.get('/Budget/GetTotalAmountByCurrencyCustomer', { params: { currencyId: id, customerId: $('#CustomerID').val() } }).success(function (response) {

        //            $scope.totalAmount = response;
        //            EndLoader();
        //        });
        //    }
        //    if (id == "" && $scope.totalAmount != "") {

        //        $scope.$apply(function () {
        //            $scope.totalAmount = "";
        //        });


        //    }
        //};

        //$scope.validateForm = function (bol) {
        //    $scope.isvalid = bol;
        //}

    });
</script>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Customer Country Budget </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
@*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
        <div class="col-md-4">
            <h1 style="color: #fff;">Customer Country Budget</h1>
        </div>
        <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
        </div>
        <div class="col-md-4"></div>
    </div>*@
<div ng-app="myModule" ng-controller="myController" id="myController">
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-2" style="padding-left: 20px;"><span style="color:red">* </span>Customer</label>
                <div class="col-md-6">
                    <input type="hidden" name="CustomerName" id="CustomerName">
                    @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
                        "Key", "Value"), "--Select--",
  new { @id = "CustomerID", @valueFor = "CustomerName", @class = "form-control ", @tabindex = "-1"/*, ng_change = "updateCustomer(id)"*/ })

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label col-md-2" style="padding-left: 20px;"><span style="color:red">* </span>Total Budget</label>
                <div class="col-md-2">
                    <input type="text" class="form-control totalBudget" ng-model="totalAmount" maxlength="10" />
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("CurrencyId", new SelectList(Model.Currencies,
                        "Key", "Value"), "--Select--",
new { @id = "CurrencyID", @valueFor = "CurrencyName", @class = "form-control ", @tabindex = "-1" })

                </div>
                <div class="col-md-2">
                    <select class="form-control " id="DurationID" name="Duration" tabindex="-1">
                        <option value="Month">Monthly</option>
                        <option value="Quarter">Quarterly</option>
                        <option value="Year" selected>Yearly</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div>
            <div>
                <table class="table" ng-show="results.length>0">
                    <thead style="color: #fff;background-color: #399bd3;">
                        <tr>
                            <th style="width: 33%;font-size: 17px;">Country</th>
                            <th style="width: 33%;font-size: 17px;">Currency</th>
                            <th style="width: 33%;font-size: 17px;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in results">
                            <td class="countryName">{{a.country}}</td>
                            <td>
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            @*<select class="form-control currencies">

                                                    <option ng-repeat="row in a.Currencies" value="{{row.CurrencyID}}" amount="{{row.BudgetAmount}}">
                                                        {{row.CurrencyName}}

                                                    </option>
                                                </select>
                                                <input type="hidden" value="{{a.Currencies[0].CountryID}}">*@
                                            <select class="form-control currencies"  @(ViewBag.AddEditAccess == true?"": "disabled")>
                                                <option value="">--Select--</option>
                                                <option ng-repeat="row in allCurrencies" value="{{row.Key}}" ng-selected="{{a.Currencies[0].CurrencyName==row.Value && a.Currencies[0].CurrencyID==row.Key}}">
                                                    {{row.Value}}
                                                </option>
                                            </select>
                                            <input type="hidden" value="{{a.Currencies[0].CountryID}}">

                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" class="form-control amount" @(ViewBag.AddEditAccess == true?"":"disabled") maxlength="10" value="{{a.Currencies[0].BudgetAmount}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        @if (ViewBag.AddEditAccess == true)
                        {
                            <div class="col-md-11"></div><div class="col-md-1">
                                <button class="btn btn-primary Btnupdate" style="display:none;" ng-click="update()">Update</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {

        $('#CustomerID').change(function () {
            angular.element(document.getElementById('myController')).scope().getCustomer($(this).val());
            //$('.totalBudget').val("");
            $('#CurrencyID').val("");
            $('#DurationID').val("Year");
            if ($(this).val() != "")
                $('.Btnupdate').css("display", 'block');
            else
                $('.Btnupdate').css("display", 'none');

        });
        $('#CurrencyID').change(function () {
            //if ($(this).val() == "")
            //{
            //    alert("Please Select Currency For   ");
            //}
            // angular.element(document.getElementById('myController')).scope().getTotalAmountByCurrency($(this).val());
        });

        $('body').on('change', '.currencies', function () {
            var selectedAmount = $(this).parent().find('select option:selected').attr('amount');
            $(this).parent().parent().parent().parent().parent().parent().find('.amount').val(selectedAmount);
        });
        $('body').on('keyup change', 'input.amount, input.totalBudget', function () {
            var inputField = $(this);
            var value = inputField.val();
            var invalid = value.match(/^-?(?!.{12})\d+(?:\.\d+)?$/);
            if (invalid || value == "") {
                $(this).css('border-color', '#e5e5e5');
                //angular.element(document.getElementById('myController')).scope().validateForm(true);
            } else {
                //angular.element(document.getElementById('myController')).scope().validateForm(false);

                $(this).css('border-color', 'red');

            }
        });

        //$('body').on('focusout', 'input.amount', function () {
        //    $(this).parent().parent().find('select option:selected').attr('amount', $(this).val());
        //});
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".customercountrybudget").addClass("active");
    });
</script>
