﻿@model OneSourceAdminCore.Model.ModelToUpdate

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Upload Asset File";

    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}

<style>

    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_customerDrp.summary {
        display: block !important;
    }

    #s2id_customersupliers.summary {
        display: block !important;
    }

    #s2id_ticketNumbers.summary {
        display: block !important;
    }

    #s2id_DrpDwnbusinessSegment.summary {
        display: block !important;
    }

    #s2id_customerCompanies.summary {
        display: block !important;
    }
</style>


<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Dashboard > AD Upload > Asset Serial Number Upload</b>
        }
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">

        <div style="float:right">
            <a style="float:right;" href="/admin-dashboard">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
            </a>
        </div>
    </div>
</div>
@using (Html.BeginForm("GetExcelFile", "Asset", FormMethod.Post, new { @id = "AssetUpload", enctype = "multipart/form-data" }))
{
    <div class="row" style="margin-top:48px;">
        <div class="col-md-8 col-md-offset-3">
            <div class="row" style="margin-top:0px;">
                <div class="col-md-2" style="margin-top:5px;">
                    <span style="color:red">
                        *
                    </span>
                    Select File:
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-btn btn-file">
                            <span class="btn btn-primary">
                                Browse<input type="file" name="Excelfile" id="excelFile" style="display: none;" class="form-control"/>
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-2" style="text-align:right; ">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Submit</button> &nbsp;
                    </span>


                </div>
                @if (!string.IsNullOrWhiteSpace(Model.FileError))
                {
                    <div class="col-md-4" style="margin-top:5px;">
                        <span id="lblFile" style="color:red">
                            @Model.FileError
                        </span>
                    </div>
                }

            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-2"><a href="~/Template/AssetTemplate/SerialNumberUpdate.xlsx" style="color:#428bca;">Download Template</a></div>
                
            </div>
        </div>
    </div>
}
@if (Model.ListOfModel != null)
{  
    <div class="row" style="margin-top:48px;">  
        <div class="col-md-8 col-md-offset-3">
            <div class="row" style="margin-top:0px;">
                <label class="col-md-8" style="color:#03862f;">@Model.UpdateMessage</label>
                <br />
                <label class="col-md-8" style="color:#c63226;">@Model.NotUpdateMessage</label>
                <br />
                <br />
                <div class="col-md-8" style="height:510px;overflow:auto;">

                    <table class="table table-responsive table-bordered">
                        <tr>
                            <th style="color:#c63226;text-align:center">Session Tracking #</th>
                            <th style="color:#c63226;text-align:center">SKU</th>
                        </tr>
                        <tbody>
                            @foreach (var items in Model.ListOfModel)
                            {
                                <tr>
                                    <td align="center">@items.SessionTrackingNumber</td>
                                    <td align="center">@items.Sku</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

