﻿
@model OneSourceAdminCore.Entity.tblActionRequestType
@using (Html.BeginForm("AddEditActionRequest", "SupportServiceMaintenance", FormMethod.Post, new { @id = "ActionRequestForm" }))
{
<div class="modal-header" style="background-color: #399bd3;color: white;">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="modal-title" style="font-weight:800">@(Model.ARTypeName ?? "Add New Action Request")</h3>
</div>
<div class="modal-body">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label><span style="color:red">*&nbsp;</span> Name:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="text" name="ARTypeName" maxlength="100" value="@(Model.ARTypeName ?? "")" class="form-control">
        <input type="hidden" name="TktStatusID" value="@(Model.ARTypeID)">
        <input type="hidden" name="CompanyId" id="artypeCompanyId" value="">
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label><span style="color:red">*&nbsp;</span>Description:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <textarea class="form-control" rows="5" maxlength="250" name="ARTypeDesc">@(Model.ARTypeDesc ?? "")</textarea>
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
  
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp; Active:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="hidden" name="IsActive" id="IsActive" value="@(Model.IsActive == true ? "true" : "false")">
        @if (Model.IsActive == true)
        {
            <input class="IsActive" checkboxfor="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
        else
        {
            <input class="IsActive" checkboxfor="IsActive" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;Is Default:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="hidden" name="IsDefault" id="IsDefault" value="@(Model.IsDefault == true ? "true" : "false")">
        @if (Model.IsDefault == true)
        {
            <input class="IsDefault" checkboxfor="IsDefault" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
        else
        {
            <input class="IsDefault" checkboxfor="IsDefault" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>   
    @if (Model.ARTypeID > 0)
    {
        <div class="col-md-1"></div>
        <div class="col-md-3" style="padding-right: 0px;">
            <label>&nbsp;&nbsp;&nbsp;Last Updated By:</label>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            @(ViewBag.UserName)
        </div>
        <div class="col-md-2"></div>

        <div class="clearfix"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <label>&nbsp;&nbsp;&nbsp;Last Updated:</label>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            @(Model.LastUpdate)
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
    }
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">@(Model.ARTypeID > 0? "Update":"Add")</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
}
<script>
    $('#ActionRequestForm').submit(function () {

        if ($('input[name="ARTypeName"]').val().trim() == "" || $('textarea[name="ARTypeDesc"]').val().trim() == "") {
            alert("Please provide required fields");
            return false;
        }
        $('#artypeCompanyId').val($('#CompanyId').val());
        StartLoader();
    });
</script>