﻿@model List<OneSourceAdminCore.Entity.sp_getTicketStatus_AdminR_Result>
@using GridMvc.Html
<div role="tabpanel" class="tab-pane">

    <br />
   

        @Html.Grid(Model).Columns(columns =>
   {
   columns.Add(c => c.TktStatusName).Sortable(true).Filterable(true).Titled("Name").SetWidth(30);
   if (ViewBag.IsVerbose == true)
   {
       columns.Add(c => c.TktStatusDesc).Sortable(true).Filterable(true).Titled("Description").SetWidth(30);
   }
   columns.Add(c => c.StatusIntValue).Sortable(true).Filterable(true).Titled("Value").SetWidth(30);

   columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Active").SetWidth(30).RenderValueAs(o =>@<span>@(o.IsActive == true ? "Yes" : "No")</span>);
   columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Closed").SetWidth(30).RenderValueAs(o =>@<span>@(o.IsClosed == true ? "Yes" : "No")</span>);
   columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Cancelled").SetWidth(30).RenderValueAs(o =>@<span>@(o.IsCancelled == true ? "Yes" : "No")</span>);
   columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Exception").SetWidth(30).RenderValueAs(o =>@<span>@(o.IsException == true ? "Yes" : "No")</span>);
       if (ViewBag.IsVerbose == true)
       {
           columns.Add(c => c.XRefName).Sortable(true).Filterable(true).Titled("XRef Name").SetWidth(30);
           columns.Add(c => c.XRefCode).Sortable(true).Filterable(true).Titled("XRef Code").SetWidth(30);
           columns.Add(c => c.LastUpdatedBy).Sortable(true).Filterable(true).Titled("Last Updated By").SetWidth(30);
           columns.Add(c => c.LastUpdate).Sortable(true).Filterable(true).Titled("When").SetWidth(30);
       }
       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
              RenderValueAs(o => @<a style="color:blue" onclick="EditTicketStatus(@o.TktStatusID)">Edit </a>);
   }).WithPaging(15)
    

    @**@
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          
           
           
        </div>
    </div>
</div>

<script>
    function EditTicketStatus(tktStatusID) {
        
        StartLoader();
        var data = {
            Id: tktStatusID
        };

        $.ajax({
            url: "/SupportServiceMaintenance/TicketStatusModal",
            type: "POST",
            dataType: "html",
            data: data,
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal('show');
                $(".IsException").bootstrapToggle();
                $(".ticketIsActive").bootstrapToggle();
                $(".IsDefault").bootstrapToggle();
                $(".IsClosed").bootstrapToggle();
                $(".IsCancelled").bootstrapToggle();
                $(".IsException").bootstrapToggle();
                EndLoader();
            }
        });

        //$.ajax({
        //    url: "/SupportServiceMaintenance/TicketStatusModal",
        //    type: 'POST',
        //    data: JSON.stringify(data),
        //    dataType: 'json',
        //    contentType: 'application/json;charset=utf-8',
        //    success: function (data) {
        //        $('#myModal .modal-body').html(data);
        //        $('#myModal').show();
        //    },
        //    complete: function (data) {
        //        showHideLoader(0);
        //    }
        //});



    }


</script>