﻿@model OneSourceAdminCore.Model.TicketStatusModalModel
   @using (Html.BeginForm("AddEditTicketStatus", "SupportServiceMaintenance", FormMethod.Post, new { @id = "TicketStatusForm" }))
   {
<div class="modal-header" style="background-color: #399bd3;color: white;">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="modal-title" style="font-weight:800">@(Model.ticketStatus.TktStatusName ?? "Add New Ticket Status")</h3>
</div>
<div class="modal-body">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label><span style="color:red">*&nbsp;</span>Name:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="text" maxlength="50" name="TktStatusName" value="@(Model.ticketStatus.TktStatusName ?? "")" class="form-control">
        <input type="hidden" name="TktStatusID" value="@(Model.ticketStatus.TktStatusID)">     
        <input type="hidden" name="hcompanyId">   
        <input type="hidden" name="hartypeId"> 
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label><span style="color:red">*&nbsp;</span>Description:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <textarea class="form-control" rows="5" maxlength="250" name="TktStatusDesc">@(Model.ticketStatus.TktStatusDesc ?? "")</textarea>
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;Value:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="text" maxlength="4" name="StatusIntValue" value="@(Model.ticketStatus.TktStatusID > 0 ? Convert.ToString(Model.ticketStatus.StatusIntValue) : "")" class="form-control">
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;Active:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="hidden" name="ticketIsActive" id="ticketIsActive" value="@(Model.ticketStatus.IsActive == true ? "true" : "false")">
        @if (Model.ticketStatus.IsActive == true)
        {
            <input class="ticketIsActive" checkboxfor="ticketIsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
        else
        {
            <input class="ticketIsActive" checkboxfor="ticketIsActive" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No"  type="checkbox">
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;Is Closed:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="hidden" name="IsClosed" id="IsClosed" value="@(Model.ticketStatus.IsClosed == true ? "true" : "false")">
        @if (Model.ticketStatus.IsClosed == true)
        {
            <input class="IsClosed" checkboxfor="IsClosed" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
        else
        {
            <input class="IsClosed" checkboxfor="IsClosed" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;Is Canceled:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="hidden" name="IsCancelled" id="IsCancelled" value="@(Model.ticketStatus.IsCancelled == true ? "true" : "false")">
        @if (Model.ticketStatus.IsCancelled == true)
        {
            <input class="IsCancelled" checkboxfor="IsCancelled" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
        else
        {
            <input class="IsCancelled" checkboxfor="IsCancelled" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;Is Exception:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="hidden" name="IsException" id="IsException" value="@(Model.ticketStatus.IsException == true ? "true" : "false")">
        @if (Model.ticketStatus.IsException == true)
        {
            <input class="IsException" checkboxfor="IsException" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
        else
        {
            <input class="IsException" checkboxfor="IsException" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>

    @if (Convert.ToInt32(Session["ArTypeCompanyId"])!=0) {
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;Xref Name:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="text" value="@(Model.XRefStatusName ?? "")" maxlength="100" name="XRefStatusName" class="form-control">

    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;XRef Code:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        <input type="text" value="@(Model.XRefStatusCode ?? "")" maxlength="20" name="XRefStatusCode" class="form-control">
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    }
    @if (Model.ticketStatus.TktStatusID > 0)
    {
    <div class="col-md-1"></div>
    <div class="col-md-3" style="padding-right: 0px;">
        <label>&nbsp;&nbsp;&nbsp;Last Updated By:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        @(Model.UserName)
    </div>
    <div class="col-md-2"></div>

    <div class="clearfix"></div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <label>&nbsp;&nbsp;&nbsp;Last Updated:</label>
    </div>
    <div class="col-md-6" style="margin-bottom:15px">
        @(Model.ticketStatus.LastUpdate)
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    }
    </div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">@(Model.ticketStatus.TktStatusID > 0 ? "Update" : "Add")</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
}
<script>  
    $('input[name="StatusIntValue"]').on("keypress keyup blur", function (event) {
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
    $('#TicketStatusForm').submit(function () {
        
        if ($('input[name="TktStatusName"]').val().trim() == "" || $('textarea[name="TktStatusDesc"]').val().trim() == "")
        {
            alert("Please provide required fields");
            return false;
        }
        $('input[name="hcompanyId"]').val($("#CompanyId").val());
        $('input[name="hartypeId"]').val($("#ARTypeID").val());
        StartLoader();
    });

</script>