﻿@model OneSourceAdminCore.Model.ActionRequestDetailModel
@{
    ViewBag.Title = "Action Request Type";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-6" style="padding:10px; color:#FFF;"><b> Support & Service Maintenance > Request Type / Ticket Status </b></div>
    <div class="col-md-2" style="padding:10px;"></div>
    <div class="col-md-4" style="padding:10px;"> 
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right">
    </div>
</div>
@using (Html.BeginForm("AddEditActionRequest", "SupportServiceMaintenance", FormMethod.Post, new { @id = "ActionRequestForm" }))
{
    <div class="col-md-12 " style="margin-top: 10px;">
        <h2>Action Request</h2>
        <hr>
    </div>
<div class="os-admin-companies" style="margin:0px !important">

    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <label>Name:</label>
    </div>
    <div class="col-md-4" >       
        <input type="hidden" value="@(Model.CompanyId)" id="CompanyId" name="CompanyId">
        <input type="hidden" value="@(Model.ActionRequest.ARTypeID)" name="ARTypeID" id="ARTypeID">
        <input type="text" name="ARTypeName" maxlength="100" value="@(Model.ActionRequest.ARTypeName??"")" class="form-control">
    </div>
    <div class="col-md-3"></div>

    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <label>Description:</label>
    </div>
    <div class="col-md-4" >
        <textarea class="form-control" rows="5" maxlength="250" name="ARTypeDesc">@(Model.ActionRequest.ARTypeDesc ?? "")</textarea>
    </div>
    <div class="col-md-3"></div>

    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3" style="margin-top: 15px;">
        <label>Active:</label>
    </div>
    <div class="col-md-4 pm-mp" style="margin-top: 15px;">
        <div class="col-md-6 pm-gd" style="padding-left: 0px;">

            <input type="hidden" name="IsActive" id="IsActive" value="@(Model.ActionRequest.IsActive == true ? "true" : "false")">
            @if (Model.ActionRequest.IsActive == true)
            {
                <input class="IsActive" checkboxfor="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
            }
            else
            {
                <input class="IsActive" checkboxfor="IsActive" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
            }

        </div>
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3" style="margin-top: 15px;margin-bottom:15px" >
        <label>Default:</label>
    </div>
    <div class="col-md-4 pm-mp" style="margin-top: 15px;">
        <div class="col-md-6 pm-gd" style="padding-left: 0px;">

            <input type="hidden" name="IsDefault" id="IsDefault" value="@(Model.ActionRequest.IsDefault == true ? "true" : "false")">
            @if (Model.ActionRequest.IsDefault == true)
            {
                <input class="IsDefault" checkboxfor="IsDefault" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
            }
            else
            {
                <input class="IsDefault" checkboxfor="IsDefault" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
            }

        </div>
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>

    @if (Model.ActionRequest.ARTypeID > 0)
    {
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <label>Last Updated By:</label>
    </div>
    <div class="col-md-4" style="margin-bottom:15px">
        @(Model.UserName??"")
    </div>
    <div class="col-md-3"></div>

    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <label>Last Updated:</label>
    </div>
    <div class="col-md-4" style="margin-bottom:15px">
        @(Model.ActionRequest.LastUpdate)
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    }
    @if (Model.TicketStatus.Count > 0 || Model.TicketStatus.Count > 0)
    {
        <div class="col-md-2"></div>
        <div class="col-md-3" style="margin-top: 15px;">
            <label>Verbose:</label>
        </div>
        <div class="col-md-4 pm-mp" style="margin-top: 15px;">
            <div class="col-md-6 pm-gd" style="padding-left: 0px;">


                @if (ViewBag.IsVerbose == true)
                {
                    <input class="isVerbose" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
                else
                {
                    <input class="isVerbose" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }

            </div>
        </div>
        <div class="col-md-3"></div>
    }
    <div class="clearfix"></div>

    <div class="col-md-3"></div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-default btnSubmit pull-right" id="per">Update</button>
    </div>
    <div class="col-md-3"></div>

    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3">        
    </div>
    <div class="col-md-4" style="margin-bottom:15px">
        <a style="color:blue" onclick="AddNew()">@("Add New Ticket Status")</a>
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
</div>
}
<div class="clearfix"></div>
<div class="col-md-12 " >
    <h2>Ticket Status</h2>
    <hr>
</div>

@if (Model.TicketStatus != null && Model.TicketStatus.Count > 0)
{
    @Html.Partial("_lstTicketStatus", Model.TicketStatus)
}

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">



        </div>
    </div>
</div>


<script>
    $(function () {
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });
    $('.topAddNewButton').click(function () {
        StartLoader();
        window.location.href = "/support-service-maintenance/actionrequest-ticketstatus/";
    });
    $('.isVerbose').change(function () {
        StartLoader();
        window.location.href = "/support-service-maintenance/actionrequest/" + $("#ARTypeID").val() + "/" + $("#CompanyId").val() + "/" + $(this).prop('checked');
    });
    function AddNew() {
        var data = {
            Id: 0           
        };
        $.ajax({
            url: "/SupportServiceMaintenance/TicketStatusModal",
            type: "POST",
            dataType: "html",
            data: data,
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal('show');
            },
            complete: function (data) {
                $(".IsException").bootstrapToggle();
                $(".ticketIsActive").bootstrapToggle();
                $(".IsDefault").bootstrapToggle();
                $(".IsClosed").bootstrapToggle();
                $(".IsCancelled").bootstrapToggle();
                $(".IsException").bootstrapToggle();

                //$('input[name="StatusIntValue"]').addClass("allownumericwithoutdecimal");
            }
        });

        
    }
    $('#ActionRequestForm').submit(function () {
      
        if ($('input[name="ARTypeName"]').val().trim() == "" || $('textarea[name="ARTypeDesc"]').val().trim() == "") {
            alert("Please provide required fields");
            return false;
        }
        StartLoader();
    });
</script>