﻿@model OneSourceAdminCore.Model.ActionRequestTicketStatusModel
@using OneSourceAdminCore.Model;
@{
    ViewBag.Title = "Action Request Ticket Status";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/css/CustomizedTooltip.css" rel="stylesheet" />
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-4" style="padding:10px; color:#FFF;"><b> Support & Service Maintenance > Request Type/Ticket Status </b></div>
    <div class="col-md-2" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float:right">
    </div>
</div>

<div class="os-admin-companies">
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <label>Company:</label>
    </div>
    <div class="col-md-4" style="margin-bottom:15px">
        @if (Model.Companies != null && Model.Companies.Count > 0)
        {
            @Html.DropDownList("CompanyId", new SelectList(Model.Companies,
                 "ParentCompanyID", "ParentCompanyName", Model.CompanyId),
        new { @id = "CompanyId" })
        }
    </div>
    <div class="col-md-3"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <label>What to Edit:</label>
    </div>
    <div class="col-md-4">
        @{
            List<GenericList> lst = new List<OneSourceAdminCore.Model.GenericList>();
            lst.Add(new GenericList { Key = 1, Value = "Action Requests" });
            lst.Add(new GenericList { Key = 2, Value = "Generic Ticket Status" });
        }

        @Html.DropDownList("editType", new SelectList(lst,
                    "Key", "Value", Model.editType),
           new { @id = "editType" })

    </div>
    <div class="col-md-3" style="padding-top: 6px;"><a style="color:blue" onclick="AddNew(@(Model.editType))">@((Model.editType == 1 || Model.editType == 0) ? "Add New Action Request" : "Add New Ticket Status")</a></div>
    <div class="clearfix"></div>
    @if (Model.lstActionRequests.Count > 0 || Model.lstTicketStatus.Count > 0)
    {
        <div class="col-md-2"></div>
        <div class="col-md-3" style="margin-top: 15px;">
            <label>Verbose:</label>
        </div>
        <div class="col-md-4 pm-mp" style="margin-top: 15px;">
            <div class="col-md-6 pm-gd" style="padding-left: 0px;">


                @if (ViewBag.IsVerbose == true)
                {
                    <input class="isVerbose" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
                else
                {
                    <input class="isVerbose" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }

            </div>
        </div>
        <div class="col-md-3"></div>
    }
</div>

@using GridMvc.Html

<div role="tabpanel" class="tab-pane">

    <br />
    @if (Model != null && Model.lstActionRequests.Count > 0)
    {

        @Html.Grid(Model.lstActionRequests).Columns(columns =>
   {
   columns.Add(c => c.ARTypeName).Sortable(true).Filterable(true).Titled("Name").SetWidth(30);
   if (ViewBag.IsVerbose == true)
   {
       columns.Add(c => c.ARTypeDesc).Sortable(true).Filterable(true).Titled("Description").SetWidth(30);
   }
   columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Active").SetWidth(30).RenderValueAs(o =>@<span>@(o.IsActive == true ? "Yes" : "No")</span>);
   columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Default").SetWidth(30).RenderValueAs(o =>@<span>@(o.IsDefault == true ? "Yes" : "No")</span>);
columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Statuses").
RenderValueAs(o =>@<div class="wrapper" onclick="EditActionRequest(@o.ARTypeID)">
        <img style="height: 35px;width: 30px;" src=@(string.IsNullOrEmpty(o.statuses)==true? "/Content/images/notepad.png" : "/Content/images/notepad_zoom.png") />
        <div class="@(string.IsNullOrEmpty(o.statuses)==true?"":"tooltip")">
            @if (!string.IsNullOrEmpty(o.statuses))
            {
                int count = 0;
                foreach (var a in o.statuses.Split(','))
                {
                    count++;
                    <div>@count) @a</div>
                }
            }

        </div>
    </div>).SetWidth(30);
       if (ViewBag.IsVerbose == true)
       {
           columns.Add(c => c.LastUpdatedBy).Sortable(true).Filterable(true).Titled("Last Updated By").SetWidth(30);
           columns.Add(c => c.LastUpdate).Sortable(true).Filterable(true).Titled("When").SetWidth(30);
       }
    @*columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
        RenderValueAs(o => @<a style="color:blue" onclick="EditActionRequest(@o.ARTypeID)">Edit </a>);*@
   }).WithPaging(15)
    }

    @**@
</div>



@if (Model != null && Model.lstTicketStatus.Count > 0)
{
    @Html.Partial("_lstTicketStatus", Model.lstTicketStatus)
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">



        </div>
    </div>
</div>




<script>
    $(function () {
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });

    function EditActionRequest(artypeId) {
        StartLoader();
        window.location.href = "/support-service-maintenance/actionrequest/" + artypeId + "/" + $('#CompanyId').val();
    }
    $('.isVerbose').change(function () {
        StartLoader();
        window.location.href = "/support-service-maintenance/actionrequest-ticketstatus/" + $("#CompanyId").val() + "/" + $("#editType").val() + "/" + $(this).prop('checked');
    });

    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        $('[data-toggle="tooltip"]').tooltip();
    });
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
    });

    $("#CompanyId, #editType").change(function () {
        window.location.href = "/support-service-maintenance/actionrequest-ticketstatus/" + $("#CompanyId").val() + "/" + $("#editType").val() + "/";
    });

    function AddNew(id) {

        if (id == 2) {
            AjaxRequest("/SupportServiceMaintenance/TicketStatusModal");
        }
        else {
            AjaxRequest("/SupportServiceMaintenance/ActionRequestModal");
        }
    }
    function AjaxRequest(url) {
        StartLoader();
        var data = {
            Id: 0
        };
        $.ajax({
            url: url,
            type: "POST",
            dataType: "html",
            data: data,
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal('show');
            },
            complete: function (data) {
                $(".IsException").bootstrapToggle();
                $(".ticketIsActive").bootstrapToggle();
                $(".IsActive").bootstrapToggle();
                $(".IsDefault").bootstrapToggle();
                $(".IsClosed").bootstrapToggle();
                $(".IsCancelled").bootstrapToggle();
                $(".IsException").bootstrapToggle();
                // $('input[name="StatusIntValue"]').addClass("allownumericwithoutdecimal");
                EndLoader();
            }
        });
    }
</script>

