﻿@model OneSourceAdminCore.Model.SSM_ServiceModel
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Support & Service Maintenance > Services </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float:right">
    </div>
</div>

@using (Html.BeginForm("AddEditService", "SupportServiceMaintenance", FormMethod.Post, new { @id = "ServiceForm" }))
{
    <div class="os-admin-companies">
        <input type="hidden" value="@Model.serviceInfo.ServiceID" name="ServiceID">
        <!-- Tab panes -->
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label><span style="color:red">* </span>Service Name:</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="ServiceName" maxlength="250" class="form-control" value="@(Model.serviceInfo.ServiceName??"")" />
        </div>
        <div class="col-md-3"></div>

        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label><span style="color:red">&nbsp;&nbsp; </span>Description:</label>
        </div>
        <div class="col-md-4" style="margin-bottom:15px">
          <textarea class="form-control" rows="5" maxlength="3000" name="Description">@(Model.serviceInfo.Description ?? "")</textarea>
        </div>
        <div class="col-md-3"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label><span style="color:red">&nbsp;&nbsp; </span>Parent Service:</label>
        </div>
        <div class="col-md-4" style="margin-bottom:15px">
            @if (Model.lstService != null && Model.lstService.Count > 0)
            {
                @Html.DropDownList("ParentServiceID", new SelectList(Model.lstService,
                    "ServiceID", "ServiceName", Model.serviceInfo.ParentServiceID),
           new { @id = "ParentServiceID" })
            }
        </div>
        <div class="col-md-3"></div>
        @if (Model.serviceInfo.ServiceID > 0)
        {
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Is Active:</label>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <input type="hidden" name="IsActive" id="IsActive" value="@(Model.serviceInfo.IsActive == true ? "true" : "false")">
                @if (Model.serviceInfo.IsActive == true)
                {
                    <input class="IsActive" checkboxfor="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
                else
                {
                    <input class="IsActive" checkboxfor="IsActive" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
            </div>
            <div class="col-md-3"></div>

            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Last Updated(mm/dd/yyyy):</label>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                @Model.serviceInfo.LastUpdated
            </div>
            <div class="col-md-3"></div>

            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Updated By:</label>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                @Model.UserName
            </div>
            <div class="col-md-3"></div>
        }


        <div class="clearfix"></div>

        <div class="col-md-3"></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-default btnSubmit pull-right" id="per">@(Model.serviceInfo.ServiceID == 0 ? "Add" : "Update")</button>
        </div>
        <div class="col-md-3"></div>



        <div class="clearfix"></div>
    </div>
}

<script>
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "/support-service-maintenance/services";
    });




    $('#ServiceForm').submit(function () {

        if ($('input[name="ServiceName"]').val().trim() == "") {
            alert("Please provide required fields");
            return false;
        }
        StartLoader();
    });

</script>


