﻿@model List<OneSourceAdminCore.Model.SSM_ServiceModel>
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .subserviceDiv a {
        color: black;
    }

        .subserviceDiv a:hover {
            color: blue;
        }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Support & Service Maintenance > Services </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        @if (ViewBag.AddEditAccess == true)
        {
            <input class="btn btn-default topAddNewButton" id="backToSearch" value="Add New Service" type="button" style="float:right">
        }
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 catalog-add-new" style="margin-top: 40px;">
    <button type="submit" class="btn btn-default btnSubmit pull-right" id="pmfc-back" style="margin-right: 10px;">Back</button>
</div>
<div class="clearfix"></div>
@helper RenderSubService(int serviceId, List<OneSourceAdminCore.Model.SSM_ServiceModel> model)
{
var data = model.FirstOrDefault(x => x.serviceInfo.ServiceID == serviceId).lstService;

    <div class="subserviceDiv" style="display:none">
        @foreach (var item in data)
        {
            if (@ViewBag.AddEditAccess == true)
            {
                <a href="/support-service-maintenance/service/@item.ServiceID" style="color:blue">@item.ServiceName</a>
                <br>
            }
            else
            {
                <span>@item.ServiceName</span><br />
            }
        }
        @(data.Count == 0 ? "No item to display" : "")
    </div>
    <div class="showService" style="margin-top:10px">Show Services &darr;</div>
}
@helper RenderService(string serviceName, int serviceId)
{
    <div class="subserviceDiv">
        @if (@ViewBag.AddEditAccess == true)
        {
            <a href="/support-service-maintenance/service/@serviceId" style="color:blue">@serviceName</a>
            <br>
        }
        else
        {
            <span>@serviceName</span><br>
        }
    </div>
}



@using GridMvc.Html

<div role="tabpanel" class="tab-pane">

    <br />
    @if (Model != null && Model.Count > 0)
    {

        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Parent Service").RenderValueAs(o => RenderService(o.serviceInfo.ServiceName, o.serviceInfo.ServiceID));
       columns.Add().Encoded(false).Sanitized(false).Sortable(true).Filterable(true).SetWidth(500).Titled("Service").RenderValueAs(o => RenderSubService(o.serviceInfo.ServiceID, Model));
   }).WithPaging(15)
    }


</div>
<script>
    $('.showService').click(function () {
        var isVisible = $(this).parent().find('.subserviceDiv').is(":visible");
        $(this).parent().find('.subserviceDiv').toggle();
        if (!isVisible) {
            $(this).html("Hide Services &uarr;");
        }
        else {
            $(this).html("Show Services &darr;");
        }
    });
    @if (ViewBag.AddEditAccess == true)
    {
        <text>
    $('.topAddNewButton').click(function () {
        window.location.href = "/support-service-maintenance/service/0";
    });
    </text>
    }
    $('#pmfc-back').click(function () {
        window.location.href = "/admin-dashboard";
    });
</script>

