﻿@model OneSourceAdminCore.Model.CustomerAddressReportModel
@using GridMvc.Html
@{
    ViewBag.Title = "Customer Address Report";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }
</style>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Reports > Customer Address Reports</b>
    </div>
    <div class="col-md-3 col-md-offset-6" style="padding: 7px; text-align:right;">
        <div style="float:right">
            @using (Html.BeginForm("GetExcelFileDataTable", "CustomerAddressReport", FormMethod.Post, new { @id = "CustomerAddressReportExportToExcel" }))
            {

                <button class="btn btn-default topAddNewButton" type="submit" id="exportExcel" style="">Export to excel</button>
            }
        </div>
        <div style="">
            @using (Html.BeginForm("ExportDataTableToPdf", "CustomerAddressReport", FormMethod.Post, new { @id = "CustomerAddressReportExportToPdf" }))
            {
                <button class="btn btn-default topAddNewButton" type="submit" id="exportPdf" style="margin-right:10px;">Export to pdf</button>
            }
        </div>
    </div>
    @*<div class="col-lg-1 col-md-2" style="padding: 7px;">


        </div>*@
</div>


<!-- CLOSED TABLE DIV -->

<div class="row" style="margin-top:48px;">
    <div class="col-md-8 col-md-offset-3">

        @using (Html.BeginForm("AddressSearchRequest", "CustomerAddressReport", FormMethod.Post, new { @id = "CustomerAddressReportForm" }))
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    Customer:
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                {
                            @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
                "CustomerId", "CustomerName", Model.CustomerId),
                new { @id = "MainCustomerId", @class = "form-control ", @tabindex = "-1" });
                }

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">Country:</div>
                <div class="col-md-6">
                    <div class="form-group">


                        @*@if (Model.ListCountries != null && Model.ListCountries.Count > 0)
                            {
                                    @Html.DropDownList("CountryId", new SelectList(Model.ListCountries,
                            "Key", "Value"),
                            new { @id = "CountryId", @valueFor = "CountryName", @class = "form-control ", @tabindex = "-1" })
                                    }*@

                        <select id="customerCountries" name="CountryId" class="form-control">
                            <option value="0" selected>--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">Type:</div>
                <div class="col-md-6">
                    <div class="form-group">
                        @if (Model.ListAddressType != null && Model.ListAddressType.Count > 0)
                {
                            @Html.DropDownList("AddressTypeId", new SelectList(Model.ListAddressType,
                "Key", "Value"),
                new { @id = "AddressTypeId", @valueFor = "AddressTypeName", @class = "form-control ", @tabindex = "-1" })
                        }
                    </div>
                </div>

            </div>
            
            <div class="row">
                
                <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" value="Generate" name="submit" id="btnGenerate" style="color: #399BD3;">Generate</button> &nbsp;
                    </span>
                    <span class="input-group-btn" style="">
                        <button class="btn btn-default" type="submit" value="Reset" name="submit" id="btnReset" style="color: #399BD3;margin-left:10px;">Reset</button>
                    </span>
                </div>
            </div>
        }
        @*<div class="row">
            <div class="col-md-1" style="margin-left:-3%;">
                <span class="input-group-btn">
                    @using (Html.BeginForm("GetExcelFileDataTable", "CustomerAddressReport", FormMethod.Post, new { @id = "CustomerAddressReportExportToExcel" }))
                    {

                        <button class="btn btn-default exportbutton" type="submit" id="exportExcel" style="background-color:green" title="Download As Excel"><i class="fa fa-file-excel-o" style="font-size: 20px;background-color: green;color:#fff;padding: 10px 10px 10px 10px;" aria-hidden="true"></i></button>
                    }

                    &nbsp;&nbsp;
                    @using (Html.BeginForm("ExportDataTableToPdf", "CustomerAddressReport", FormMethod.Post, new { @id = "CustomerAddressReportExportToPdf" }))
                    {

                        <button class="btn btn-default exportbutton" type="submit" id="exportPdf" style="margin-left:  50px;margin-top: -50px;" title="Download As PDF"><i class="fa fa-file-pdf-o" style="font-size: 20px;background-color: red;color:#fff;padding: 10px 10px 10px 10px;" aria-hidden="true"></i></button>
                    }
                </span>
            </div>
        </div>*@

    </div>

</div>


<br />

@using GridMvc.Html
@if (Model.ListOutputData != null)
{
    <div class="" style="margin-top: 10px;">
        @Html.Grid(Model.ListOutputData).Columns(columns =>
       {
           columns.Add(C => C.CondensedAddress).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Condensed Address").SetWidth(150);
           columns.Add(C => C.Address1).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Address 1").SetWidth(150);
           columns.Add(C => C.City).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("City").SetWidth(50);
           columns.Add(C => C.PostalCode).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Postal Code").SetWidth(50);
           columns.Add(C => C.Country).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Country").SetWidth(50);
           columns.Add(C => C.AddressType).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Address Type").SetWidth(50);
       }).WithPaging(50)
    </div>
}
<script>
    $(function () {
        setTimeout(function () {
            $('.alert-warning').slideUp();
        }, 5000);


        @if (ViewBag.Message == "NoCustomerError")
        {
            <text>
        showNotification("Please select a customer first");
        </text>
        }
        @if(ViewBag.Message == "NoData")
        {
            <text>
        showNotification("Please generate the data first");
        </text>
        }



        var customerId = @Model.CustomerId;
        var selectedId = @Model.CountryId;

        getcountriesbycustomer(customerId, selectedId);
    });

    $('#CustomerAddressReportForm').submit(function () {
        StartLoader();
    });

    $("#MainCustomerId").change(function () {
        var customerId = $(this).val();
        var selectedId = $("#customerCountries").val();
        console.log(customerId, selectedId);
        getcountriesbycustomer(customerId, selectedId);
    });


    function getcountriesbycustomer(customerId, selectedId) {

        //if (customerId != null) {
        //    $("#customerCountries").html('');
        //    $("#customerCountries").select2().val("0").trigger("change");
        //    return;
        //}

        $.ajax({
            url: '/CustomerAddressReport/GetCountryByCustomerId?customerId=' + customerId + "&selectedId=" + selectedId,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var options = '<option value="0" selected>--Select--</option>';

                if (data != null) {
                    $.each(data, function (index, item) {
                        options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                    });
                    $("#customerCountries").html(options);
                    if (data != null && data.length > 0) {
                        $("#customerCountries").val(data[0].SelectedId);

                    }
                }
                else {

                    $("#customerCountries").html('<option value="0" selected>--Select--</option>');
                    $("#customerCountries").select().val("0").trigger("change");
                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });

    }
</script>