﻿@model OneSourceAdminCore.Model.SMBQuotesModel
@{
    ViewBag.Title = "SMBQuotes";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    #s2id_userDrp {
        display: none !important;
    }

        #s2id_userDrp.usersmb {
            display: block !important;
        }

    #s2id_DrpQuoteIds {
        display: none !important;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_DrpQuoteIds.quoteId {
        display: block !important;
    }

    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }
</style>
<link href="~/Content/css/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
<script src="~/Content/js/jquery.floatingscroll.js"></script>
<script src="~/Content/js/gijgo.min.js"></script>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        @{
            <b> Settings > SMB Quotes </b>
        }
    </div>

</div>
<input type="hidden" value="0" id="totalResponseLineItems"/>
<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>SMB Quotes</h1>
        <hr />

        <div>
            @*<input type="hidden" name="MenuId" id="MenuId" value="@Model.AdminMenu.MenuId" />*@


            <div class="col-md-12">

                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <label>Quotes Type :</label>
                </div>
                <div class="col-md-4">

                    <input type="hidden" name="QuotesType" value="" id="QuotesType" />


                    <select id="DrpQuoteType" name="DrpQuoteType" class="form-control">
                        <option value="">--Select--</option>
                        <option value="Asset Disposal Quotes">Asset Disposal Quote</option>
                        <option value="Hardware Quotes">Hardware Quotes</option>
                        <option value="IT Service Quotes">IT Service Quotes</option>
                        <option value="Software Quotes">Software Quotes</option>
                    </select>

                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <label>Account Manager :</label>
                </div>
                <div class="col-md-4">

                    <input type="hidden" name="AccountMangerId" value="" id="AccountMangerId" />

                    <select id="userSMBDrp" name="userSMBDrp" class="usersmb">
                        @if (Model.ListSMBUsers != null && Model.ListSMBUsers.Count > 0)
                        {
                            foreach (var item in Model.ListSMBUsers)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>
                <br />

                

                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <label>Quote Id :</label>
                </div>
                <div class="col-md-4">

                    <input type="hidden" name="AccountMangerId" value="" id="AccountMangerId" />


                    <select id="DrpQuoteIds" name="DrpQuoteIds" class="form-control quoteId">
                        @if (Model.ListQuoteIds != null && Model.ListQuoteIds.Count > 0)
                        {
                            foreach (var item in Model.ListQuoteIds)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
    <span class="input-group-btn deleteBtn" style="display:none;">
        <button class="btn btn-default" type="button" name="deleteBTN" id="deleteBTN" style="color: #399BD3;" onclick="deleteLineItems()">Delete</button> &nbsp;
    </span>
    <br/>
    <div class="col-md-12 table-responsive">
      
        <div class="row gridDiv">
        </div>
    </div>
    <script>

        $(document).ready(function () {

            $("#DrpQuoteIds").attr("disabled", "disabled");
            //$("#DrpQuoteType").attr("disabled", "disabled");
            $("#userSMBDrp").select2({ allowClear: true });
            //$("#selUser").select2({
            //    ajax: { 
            //        url: "/SMBQuotes/GetSMBUsers",
            //        type: "GET",
            //        dataType: 'json',
            //        delay: 250,
            //        data: function (params) {
            //            return {
            //                searchTerm: params.term // search term
            //            };
            //        },
            //        processResults: function (response) {
            //            return {
            //                results: response
            //            };
            //        },
            //        cache: true
            //    }
            //});
            $("#userSMBDrp").val("0").change();


        });

        $("#DrpQuoteType").change(function () {
            showHideLoader(1);
            var quoteType = $(this).val();
            if (quoteType != "") {
                $.ajax({
                    url: '/SMBQuotes/GetSMBUsers?quoteType=' + quoteType,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        var options = '';
                        options = options + ' <option value="0">--Select--</option>';
                        $("#userSMBDrp").removeAttr("disabled");
                        if (data != null) {
                            var smbUsers = data.users;
                            if (smbUsers != null & smbUsers != undefined) {
                                if (smbUsers.length > 0) {
                                    $.each(smbUsers, function (index, item) {
                                        var value = "";
                                        if (item.Value > 0) {
                                            value = item.Value;
                                        }
                                        options = options + ' <option value="' + value + '">' + item.Text + '</option>';
                                    });
                                    $("#userSMBDrp").html(options);

                                    if (smbUsers != null && smbUsers.length > 0) {

                                        $("#userSMBDrp").removeClass("form-control");
                                        $("#userSMBDrp").select2({ allowClear: true });
                                        $("#userSMBDrp").select2().val("0").trigger("change");

                                    }
                                }
                            }

                        }


                    }, complete: function (data) {
                        showHideLoader(0);
                    }
                });
            }
        });

        

        //$("#userSMBDrp").change(function () {
        //    var userId = $(this).val();
        //    if (userId == null || userId == "" || userId == "null" || userId == "0") {
        //        $("#DrpQuoteIds").select2('destroy');
        //        $("#DrpQuoteIds").addClass("form-control");
        //        $("#DrpQuoteIds").attr("disabled", "disabled");
        //        //$("#DrpQuoteType").attr("disabled", "disabled");
        //        $("#DrpQuoteType").val("").change();
        //        $("#DrpQuoteIds").val("0").change();
        //        $(".gridDiv").html("");
        //        $(".deleteBtn").hide();


        //    }
        //    else {
        //        $("#DrpQuoteType").removeAttr("disabled");
        //        $("#DrpQuoteType").val("").change();
        //    }
        //});

        $("#userSMBDrp").change(function () {
           
            var userId = $(this).val();
            var quoteType = $("#DrpQuoteType").val();

            if (userId != "0" && quoteType != "") {
                showHideLoader(1);
                $.ajax({
                    url: '/SMBQuotes/GetQuoteIds?accountManagerId=' + userId + '&quoteType=' + quoteType,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        var options = '';
                        options = options + ' <option value="0">--Select--</option>';
                        $("#DrpQuoteIds").removeAttr("disabled");
                        if (data != null) {
                            var quoteIds = data.QuoteIds;
                            if (quoteIds != null & quoteIds != undefined) {
                                if (quoteIds.length > 0) {
                                    $.each(quoteIds, function (index, item) {
                                        var value = "";
                                        if (item.Value > 0) {
                                            value = item.Value;
                                        }
                                        options = options + ' <option value="' + value + '">' + item.Text + '</option>';
                                    });
                                    $("#DrpQuoteIds").html(options);

                                    if (quoteIds != null && quoteIds.length > 0) {

                                        $("#DrpQuoteIds").removeClass("form-control");
                                        $("#DrpQuoteIds").select2({ allowClear: true });
                                        $("#DrpQuoteIds").select2().val("0").trigger("change");

                                    }
                                }
                            }
                            
                        }


                    }, complete: function (data) {
                        showHideLoader(0);
                    }
                });
            }
            else {
                $("#DrpQuoteIds").select2('destroy');
                $("#DrpQuoteIds").addClass("form-control");
                $("#DrpQuoteIds").attr("disabled", "disabled");
                $("#DrpQuoteIds").val("0").change();
                $(".gridDiv").html("");
                $(".deleteBtn").hide();
            }

        });

        $("#DrpQuoteIds").change(function () {
            var userId = $("#userSMBDrp").val();
            var quoteId = $("#DrpQuoteIds").val();
            var quoteType = $("#DrpQuoteType").val();

            if (quoteId != "0" && quoteId != "" && quoteId != null) {
                if (quoteId != "0" && quoteType != "") {
                    getResponseLineItems(quoteId, quoteType);
                }
            }
            else if (userId != "0" && userId != "" && userId != null && quoteType != "0" && quoteType != "" && quoteType != null && quoteId!="0")
            {
                $(".gridDiv").html("");
                $(".deleteBtn").hide();
                //showNotification("No Line items found");
                $("#DrpQuoteIds").select2('destroy');
                $("#DrpQuoteIds").addClass("form-control");
                $("#DrpQuoteIds").val("0").change();
                $("#userSMBDrp").trigger("change");
                //$("#DrpQuoteIds").attr("disabled", "disabled");
                //$("#DrpQuoteIds").val("0").change();
            }
        });
        function getResponseLineItems(quoteId, quoteType) {
            showHideLoader(1);
            $(".gridDiv").html("");
            $(".deleteBtn").hide();
            $(".gridDiv").html("<table id='grid'></table>");
            $.ajax({
                url: '/SMBQuotes/GetReponseQuoteLineItems?quoteId=' + quoteId + '&quoteType=' + quoteType,
                type: 'GET',
                cache: false,
                success: function (data) {
                    showHideLoader(0);
                    if (data != null) {
                        if (data.LineItems != null) {
                            if (data.LineItems.length > 0) {
                                $("#totalResponseLineItems").val(data.LineItems.length);
                                var table = data.LineItems;
                                var tableObj = [];
                                var quoteType = $("#DrpQuoteType").val();
                                if (table.length > 0) {

                                    var col = 1;
                                    for (i = 0; i < Object.keys(table[0]).length; i++) {


                                        var obj = {};
                                        obj.field = Object.keys(table[0])[i];
                                        obj.sortable = true;
                                        obj.align = 'center';
                                        obj.headerCssClass = 'headerClass';
                                        obj.cssClass = 'rowClass';

                                        if (obj.field == "ResponseLineItemId") {
                                            obj.hidden = true;
                                        }

                                        if (quoteType == "Asset Disposal Quotes") {
                                            if (obj.field == "ServiceType") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "Manufacturer") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "SKU") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "SerialNumber") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "Resources") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "HourlyRate") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "TravelCharges") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "TravelCharges") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "SLAType") {
                                                obj.hidden = true;
                                            }
                                        }
                                        else if (quoteType == "Hardware Quotes") {
                                            if (obj.field == "SerialNumber") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "ServiceType") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "Resources") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "HourlyRate") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "TravelCharges") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "TravelCharges") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "SLAType") {
                                                obj.hidden = true;
                                            }
                                        }
                                        else if (quoteType == "IT Service Quotes") {
                                            if (obj.field == "Manufacturer") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "SKU") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "SerialNumber") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "Description") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "Category") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "LeadTime") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "EOL") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "Quantity") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "UnitPrice") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "GSPMargin") {
                                                obj.hidden = true;
                                            }
                                        }
                                        else if (quoteType == "Software Quotes") {
                                            if (obj.field == "ServiceType") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "SLAType") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "Resources") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "HourlyRate") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "TravelCharges") {
                                                obj.hidden = true;
                                            }
                                            if (obj.field == "TravelCharges") {
                                                obj.hidden = true;
                                            }
                                        }


                                        tableObj.push(obj);
                                    }
                                }

                                if (table.length > 50) {
                                    var grid = $('#grid').grid({
                                        dataSource: table,
                                        selectionType: 'multiple',
                                        selectionMethod: 'checkbox',
                                        columns: tableObj,
                                        dataKey: "ResponseLineItemId",
                                        pager: { limit: 50, sizes: [50, 100, 500, 1000] },
                                        cache: false,
                                        uiLibrary: 'bootstrap'
                                    });
                                }
                                else {
                                    var grid = $('#grid').grid({
                                        dataSource: table,
                                        columns: tableObj,
                                        selectionType: 'multiple',
                                        selectionMethod: 'checkbox',
                                        dataKey: "ResponseLineItemId",
                                        pager: null,
                                        cache: false,
                                        uiLibrary: 'bootstrap'
                                    });
                                }
                                $(".deleteBtn").show();
                                $(".gj-grid-wrapper").attr("style", "overflow:auto");
                            }
                            else {
                                $(".deleteBtn").hide();
                                //showNotification("No Line items found")
                            }
                        }
                        
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }


        function deleteLineItems() {
            var grid = $('#grid').grid();
            var rowNums = grid.getSelections();
            var arr = [];
            $.each(rowNums, function (key, value) {
                var data = grid.get(value);
                arr.push(parseInt(data.ResponseLineItemId));
            });
            if (confirm("Are you sure, you want to delete?")) {
                showHideLoader(1);
                $.ajax({
                    url: '/SMBQuotes/DeleteResponseLineItems',
                    data: { ids: arr },
                    type: 'POST',
                    cache: false,
                    success: function (data) {
                        if (data != null) {
                            var msg = "";
                            var lineitemsCount = $("#totalResponseLineItems").val();
                            var currentAmId = $("#userSMBDrp").val();
                            if (arr.length == parseInt(lineitemsCount)) {
                                $("#userSMBDrp").val(currentAmId).trigger("change");
                            }
                            if (data.data > 1) {
                                msg = "( " + data.data + " ) Line Items has been removed";
                            }
                            else {
                                msg = "( " + data.data + " ) Line Item has been removed";
                            }
                            showNotification(msg);
                            
                            var quoteId = $("#DrpQuoteIds").val();
                            var quoteType = $("#DrpQuoteType").val();
                            getResponseLineItems(quoteId, quoteType);
                        }
                    }, complete: function (data) {
                        showHideLoader(0);
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                    }
                });
            }
            

        }

        


    </script>
