﻿@model OneSourceAdminCore.Model.OneStreetCategoryMappingDetailsModel
@{
    ViewBag.Title = "Map OneSource Manufacturers";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    /* Added to fix the height of select2 multiselect dropdown */
    .select2-container {
        height: 30px;
    }
</style>

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px; margin-right: -19px;">
    <div class="col-md-6" style="padding: 10px; color: #FFF;">
        <b> OneStreet > Map OneSource Categories </b>
    </div>
    <div class="col-md-6" style="padding: 10px;">
        @using (Html.BeginForm("ExportCategoryMappingReportToExcel", "CategoryMapping", FormMethod.Post, new { @id = "CategoryMappingReportForm" }))
        {
            <button class="btn btn-default topAddNewButton"
                    type="submit" id="ExportExcel" style="float:right;margin-right:10px;">
                Export Mapped Categories
            </button>
        }

        @using (Html.BeginForm("ExportToExcel", "CategoryMapping", FormMethod.Post, new { @id = "UnmappedOneStreetCategoriesReportForm" }))
        {
            <button class="btn btn-default topAddNewButton"
                    type="submit" id="ExportUnmappedOneStreetCategoriesExcel" style="float:right;margin-right:10px;">
                Export Unmapped Categories
            </button>
        }
    </div>
</div>

<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>

@if (ViewBag.AddEditAccess == true)
{
    using (Html.BeginForm("UpdateCategoryMapping", "CategoryMapping", FormMethod.Post, new { @id = "CategoryMappingForm" }))
    {
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                    <label>OneSource Categories: </label>
                </div>
                <div class="col-sm-4">
                    <input type="hidden" name="OneSourceCat">
                    <select id="OneSourceCatId" tabindex="-1" size="@Model.Categories.Count">
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.PartCategoryID">@item.PartCategoryName.Trim()</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3 msg" style="display:none;">
                    <span style="font-size: 10px;"><b>Note: Select OneStreet Categories to map with '<span id="OneSourceCatName"></span>'</b></span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:20px;">
            <div class="col-md-12" id="OneStreetCatDiv" style="display: none">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                    <label>OneStreet Categories : </label>
                </div>
                <div class="col-sm-4">
                    <select id="OneStreetCatId" name="OneStreetCat" tabindex="-1"></select>
                </div>
                <div class="col-sm-3 msg" style="display:none;">
                    <span style="font-size: 10px;"><b>Selected Category(ies) : <span id="OneStreetCount"></span></b></span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:20px;">
            <div class="col-md-12 update-btn" id="CategoryUpdateDiv" style="display: none">
                <div class="col-sm-5"></div>
                <div class="col-sm-4" style="right: -21px;">
                    <button type="submit" class="btn btn-default" style="float: left; margin-left: 20px;margin: 0px;" id="per" ng-disabled="isStandard">Update</button>
                    <button type="button" class="btn btn-default btnReset1" style="float: left; margin-left: 5px;" id="per">Reset</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    }
}

<div class="row" style="margin-top: 40px;">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.MappingDetails != null && Model.MappingDetails.Count > 0)
            {
            @Html.Grid(Model.MappingDetails.OrderBy(m=>m.PartCategoryName)).Columns(columns =>
              {
                  columns.Add(C => C.PartCategoryName).Sortable(true).Filterable(true).Titled("OneSource Category").Encoded(false).Sanitized(false).SetWidth(5)
        .RenderValueAs(o => @<span>
            <input type="hidden" value="@o.OneStreetCategoryMappingId">
            <input type="hidden" value="@o.PartCategoryID">
            <input type="hidden" value="@o.TreeClassClassificationID">@o.PartCategoryName
        </span>);

              columns.Add(c => c.TreeClassClassificationName).Sortable(true).Filterable(true).Titled("OneStreet Category").SetWidth(30);
              if (ViewBag.AddEditAccess == true)
              {
                  columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
               RenderValueAs(o => @<a style="color:blue" onclick="Delete(this)">Delete </a>);
                  }
              }).WithPaging(50)
        }
    </div>
</div>

<script src="~/Content/js/jquery.cookie.js"></script>

<script>

    function isArray(value) {
        return value && typeof value === 'object' && value.constructor === Array;
    }

    function checkExcelCookie() {
        var cookieVal = $.cookie('excelDownloadStatus');

        if (cookieVal == null || cookieVal === 'undefined' || cookieVal === 'pending') {
            setTimeout("checkExcelCookie();", 1000);
        }
        else {
            $.removeCookie('excelDownloadStatus', { path: '/' });
        }
    }

    function Delete(event) {
        if (confirm("Are you sure you want to delete this record?")) {
            showHideLoader(1);
            var osrId = $($(event).parent().parent().find('input:hidden')[1]).val();
            var ostId = $($(event).parent().parent().find('input:hidden')[2]).val();
            window.location.href = '/CategoryMapping/DeleteMapping?osrCatId=' + osrId + '&ostCatId=' + ostId;
        }
    }

    function registerExcelReportHandlers(reportCol) {

        if (!isArray(reportCol)) return;

        $.each(reportCol, function (index, value) {

            if (!value && !value.ButtonId) return;

            $("#" + value.ButtonId).on("click", function (e) {
                var newForm = $("#" + value.FormId);
                checkExcelCookie();
                newForm.submit();
            });

        });
    }

    $(document).ready(function () {

        setTimeout(function () {
            $(".alert-info").slideUp();
        }, 2000);

        $(".page-sidebar-menu").find(".onestreet").addClass("open");
        $(".page-sidebar-menu .onestreet").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .onestreet").find(".maponesourcecat").addClass("active");

        $("#OneStreetCatDiv").hide();
        $("#CategoryUpdateDiv").hide();
        $(".msg, #message").hide();

        $("#OneSourceCatId").select2({ allowClear: true });

        $("#OneStreetCatId").multipleSelect({
            placeholder: 'categories',
            selectAll: true,
            filter: true
        });

        $("#OneSourceCatId").on("change", function () {

            $("#OneSourceCatId").removeAttr("disabled");
            $(".msg").show();
            $("input[name='OneSourceCat']").val($("#OneSourceCatId").val());
            $("#OneSourceCatName").text($("#OneSourceCatId option:selected").text());
            $("#OneStreetCatId").multipleSelect('uncheckAll');

            var data = {
                oneSourceCategoryId: $("#OneSourceCatId option:selected").val()
            };

            var onestreetIds = [];

            if (data.oneSourceCategoryId === undefined) return;

            showHideLoader(1);

            $.ajax({
                url: '/CategoryMapping/GetOneStreetCategoryMappingDetails',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (result) {

                    showHideLoader(0);

                    var options = [];

                    $.each(result, function (index, item) {

                        options.push($("<option></option>").val(item.TreeClassClassificationID).text(item.TreeClassClassificationName));

                        if (item.PartCategoryID !== null && item.OneStreetCategoryMappingId !== null) {

                            if ($("#OneSourceCatId").val() === item.PartCategoryID.toString()) {
                                onestreetIds.push(item.TreeClassClassificationID);
                            }
                        }
                    });

                    setTimeout(function () {
                        $("#OneStreetCatId").multipleSelect('setSelects', onestreetIds);
                        $("#OneStreetCount").text(onestreetIds.length);
                    }, 500);

                    $("#OneStreetCatId").html(options);
                    $("#OneStreetCatDiv, #CategoryUpdateDiv").show();

                    $("#OneStreetCatId").multipleSelect({
                        placeholder: 'categories',
                        selectAll: true,
                        filter: true
                    });
                },
                complete: function () {
                    showHideLoader(0);
                },
                error: function (result) {
                    showHideLoader(0);
                }
            });
        });

        $('#OneStreetCatId').change(function () {

            var oneStreetValue = $("#OneStreetCatId").multipleSelect('getSelects', 'text');
            if (oneStreetValue) $('#OneStreetCount').text(oneStreetValue.length);

        });

        $('.btnReset1').on("click", function () {

            showHideLoader(0);
            $("#OneSourceCatId").val(null).trigger('change');
            $("#OneSourceCatId").removeAttr("disabled");
            $(".msg").css("display", "none");
            $("#OneStreetCatId").multipleSelect('uncheckAll');

        });

        $('#CategoryMappingForm').submit(function (e) {

            e.preventDefault();
            showHideLoader(1);

            var data = {
                onesourceCat: $("#OneSourceCatId").val(),
                onestreetCat: []
            };

            var oneStreetCatIds = $("#OneStreetCatId").multipleSelect('getSelects', 'value');

            if (oneStreetCatIds === null || oneStreetCatIds.length === 0) {
                data.onestreetCat = "0";
            }
            else {
                data.onestreetCat = oneStreetCatIds;
            }

            $.ajax({
                url: '/CategoryMapping/UpdateCategoryMapping',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    showHideLoader(0);
                },
                complete: function (result) {
                    window.location.reload();
                },
                error: function (result) {
                    showHideLoader(0);
                }
            });

        });

        var reportCol = [{
            ButtonId: "ExportExcel",
            FormId: "CategoryMappingReportForm"
        }, {
            ButtonId: "ExportUnmappedOneStreetCategoriesExcel",
            FormId: "UnmappedOneStreetCategoriesReportForm"
        }];

        registerExcelReportHandlers(reportCol);

    });
</script>