﻿@model OneSourceAdminCore.Model.ProcurementReportModel
@using OneSourceAdminCore.Model
@using GridMvc.Html

@if (Model.routeName == "quotesummaryreport")
{
    if (Model.QuoteSummaryReportModel.ListOutputData != null)
    {

        <div class="" style="margin-top: 10px;">

            @Html.Grid(Model.QuoteSummaryReportModel.ListOutputData).Columns(columns =>
           {
           columns.Add(C => C.QuoteId).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Quote #").SetWidth(50);
           columns.Add(C => C.CustomerReference).RenderValueAs(x => x.CustomerReference ?? "-").Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Customer Reference").SetWidth(50);
           columns.Add(C => C.CreatedBy).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Created By").SetWidth(50);
           columns.Add(C => C.CreatedDate).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Created On").SetWidth(50);
           columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" onclick="QuoteDetail('@o.QuoteId','@o.CurrencySymbol')">View Response</a>);
           }).WithPaging(50)
        </div>
    }

    <div class="modal fade" id="quoteDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white;border-bottom-width: 1px;border-bottom-style :solid;border-bottom-color: rgb(59, 154, 210);background-color: #3b9ad2;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Quote Response Details <span id="divId"></span></h4>
                </div>
                <div class="modal-body" id="modalbody" style="max-height:400px; overflow-y:auto; ">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.routeName == "amountspentbyuser")
{
    if (Model.ISDAmountSpendByUserReportModel.ListOrders != null)
    {
        <div class="" style="margin-top: 10px;">
            <div style="text-align:right;color:black; font-weight:bold; font-size:medium;">
                @if (Model.ISDAmountSpendByUserReportModel.TotalOrderValueCount != "" || Model.ISDAmountSpendByUserReportModel.TotalOrderValueCount != null)
                    {
                    <label style="color:black; font-size:small;">Total Orders Value:</label> @Html.LabelFor(m => m.ISDAmountSpendByUserReportModel.TotalOrderValueCount, Model.ISDAmountSpendByUserReportModel.TotalOrderValueCount, new { style = "font-weight:bold;font-size:medium;" }) @: USD
            }
            </div>
            <br />
            @Html.Grid(Model.ISDAmountSpendByUserReportModel.ListOrders).Columns(columns =>
   {
       columns.Add(C => C.SessionTrackingNumber).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Session Tracking #").SetWidth(50);
       columns.Add(C => C.OrderPO).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Order PO").SetWidth(50);
       columns.Add(C => C.OrderDate).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Order Date").SetWidth(50);
       columns.Add(C => C.TotalOrderValueUSD).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Total Order Value(USD)").SetWidth(50);
   }).WithPaging(50)
        </div>
    }
   
}
else if (Model.routeName == "preferredsupplierbycountry")
{
    <input type="hidden" value="false" id="datafound" />
    <div class="col-md-12">
        <div class="row gridDiv scrollbar-inner">
        </div>
    </div>
}
else if (Model.routeName == "partdetailreport")
{
    <input type="hidden" value="false" id="datafound" />
    <div class="col-md-12 table-responsive">
        <div class="row gridDiv">
        </div>
    </div>
}
else if (Model.routeName == "customerordersreport")
{
    <div class="col-md-12">
        <div class="row gridDiv" style="margin-top: -18px;">
            @if (Model.CustomerOrderReportListModel.CustomerOrderDetails != null)
                {
                <div class="" style="margin-top: 10px;">
                    @Html.Grid(Model.CustomerOrderReportListModel.CustomerOrderDetails).Columns(columns =>
                   {
                   columns.Add(C => C.SessionTrackingNumber).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Session Tracking #").SetWidth(50);
                   columns.Add(C => C.OrderDate).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Order Date").SetWidth(50);
                   columns.Add(C => C.OrderPO).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Order PO").SetWidth(50);
                   columns.Add(C => C.OrderedByUser).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Ordered By User").SetWidth(150);
                   columns.Add(C => C.DateShipped).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Date Shipped").SetWidth(150);
                   columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" onclick="OrderDetail('@o.SessionTrackingNumber','@o.OrderTrackingNumber','@o.DestinationTrackingNumber')">Details </a>);
                   }).WithPaging(50)
                </div>
            }
        </div>
    </div>
    <!--Modal View-->
        <div class="modal fade" id="orderItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 750px;">
                    <div class="modal-header" style=" border-bottom 1px solid #3b9ad2; color white;border-bottom-width 1px;border-bottom-style solid;border-bottom-color rgb(59, 154, 210);background-color #3b9ad2;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Order Items <span id="divId"></span></h4>
                    </div>
                    <div class="modal-body" id="modalbody" style="max-height:400px; overflow-y:auto; ">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
}
else
{
    <br />
        <div class="col-md-12">
                <div class="row gridDiv">
                </div>
        
            
        </div>


        if (Model.routeName == "openorderswithregion" || Model.routeName == "openquoteswithregion")
        {

            <div class="modal fade" id="regionDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 30%;">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white;border-bottom-width: 1px;border-bottom-style :solid;border-bottom-color: rgb(59, 154, 210);background-color: #3b9ad2;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Region Details 
                          
                                <span id="divId">(<a href="/Region">Go to region mapping</a>)</span>
                            
                            </h4>
                        </div>
                        <div class="modal-body" id="modalbody" style="max-height:400px; overflow-y:auto; ">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="commentModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding:2%;">
                <div class="modal-dialog" style="padding-top:1% 2%; width:70%; height:">

                    <div class="modal-content">
                        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                        @*<h3 class="modal-title"><b> Comment</b></h3>*@
                        <div class="modal-body wordwrap" id="modalbody" style="max-height:600px; overflow-y:auto;">
                            <div class="gridCommentDiv">

                            </div>
                        </div>
                    </div>


                </div>
            </div>
    }
}

