﻿@model OneSourceAdminCore.Model.AssetDetailModel


<div role="tabpanel" class="tab-pane active" id="asset-detail">
    <div class="col-md-12 back-btn">
        @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print Excel</button>*@
        <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="downloadPDF()">Print PDF</button>
        @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print</button>*@
    </div>
    @using (Html.BeginForm("UpdateAsset", "AssetSearch", FormMethod.Post, new { @id = "AssetSearchForm" }))
    {
        <input type="hidden" name="parentcompanyid" value="@(Model.AssetDetail.parentcompanyid ?? 0)">
        <input type="hidden" name="AssetId" value="@(Model.AssetId)">
        <div class="col-md-6">
            <div class="col-md-4">
                <label>Customer:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.AssetDetail.customername ?? "")</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label><span style="color:red;">* &nbsp;</span>Description:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="description" maxlength="1000" value="@(Model.AssetDetail.description ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Manufacturer:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("manufacturerid", new SelectList(Model.Manufacturers,
"Key", "Value", (Model.AssetDetail.manufacturerid ?? 0)),
new { @id = "manufacturerid" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Part #:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="SKU" maxlength="500" value="@(Model.AssetDetail.SKU ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Category:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("customerpartcategoryid", new SelectList(Model.Categories,
"Key", "Value", (Model.AssetDetail.customerpartcategoryid ?? 0)),
new { @id = "customerpartcategoryid" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label><span style="color:red;">* &nbsp;</span>Status:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("assetstatusid", new SelectList(Model.Statuses,
"Key", "Value", (Model.AssetDetail.assetstatusid ?? 0)),
new { @id = "assetstatusid" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Serial Number:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="serialnum" maxlength="50" value="@(Model.AssetDetail.serialnum ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Model:</label>
            </div>
            <div class="col-md-8 pm-mp">
                <input type="text" class="form-control" maxlength="255" name="model" value="@(Model.AssetDetail.model ?? "")" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Location:</label>
            </div>
            <div class="col-md-8 pm-mp">
                <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                    @Html.DropDownList("customeraddressid", new SelectList(Model.Locations,
"Key", "Value", (Model.AssetDetail.customeraddressid ?? 0)),
new { @id = "customeraddressid" })
                </div>
                @if (Model.AssetDetail.customeraddressid != null)
                {
                    <div class="col-md-12">
                        @(Model.AssetDetail.customeraddressname ?? "-")
                    </div>
                        <div class="col-md-12">
                            @(Model.AssetDetail.address1 ?? "-")
                        </div>
                        <div class="col-md-12">
                            @(Model.AssetDetail.address2 ?? "-")
                        </div>
                        <div class="col-md-12">
                            @(Model.AssetDetail.city ?? "-") &nbsp;&nbsp; @(Model.AssetDetail.stateprovinceregion ?? "-") &nbsp;&nbsp; @(Model.AssetDetail.postalcode ?? "-")
                        </div>
                        <div class="col-md-12">
                            @(Model.AssetDetail.countryname ?? "-")
                        </div>
                }
            </div>
            <div class="clearfix"></div>
            @if (Session["UserGroupName"].ToString() == "ISD")
                {
                <div class="col-md-4" style="padding-top:10px">
                    <label>Supported By:</label>
                </div>
                    <div class="col-md-8" style="padding-top:10px">
                        @Html.DropDownList("supportedbysfaid", new SelectList(Model.SupportedByList,
"Key", "Value", (Model.AssetDetail.supportedbysfaid)),
new { @id = "supportedbysfaid" })
                    </div>
            }
            else
            {
                <div class="col-md-4" style="padding-top:10px">
                    <label>Supported By:</label>
                </div>
                    <div class="col-md-8" style="padding-top:10px">
                        <p>@(Model.AssetDetail.sfaname ?? "")</p>
                    </div>
            }

            <div class="clearfix"></div>
            @if (Session["UserGroupName"].ToString() == "ISD")
                {
                <div class="col-md-4">
                    <label>Current Owner:</label>
                </div>
                    <div class="col-md-8">
                        @Html.DropDownList("currentownerid", new SelectList(Model.CurrentOwnerList,
"Key", "Value", (Model.AssetDetail.currentownerid ?? 0)),
new { @id = "currentownerid" })
                    </div>
            }
            else
            {
                <div class="col-md-4" style="padding-top:10px;padding-bottom: 10px;">
                    <label>Current Owner:</label>
                </div>

                    <div class="col-md-8" style="padding-top:10px;padding-bottom: 10px;">
                        <p>@(Model.AssetDetail.Owner ?? "")</p>
                    </div>
            }

            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Warranty:</label>
            </div>
            <div class="col-md-8">

                @Html.DropDownList("warrantytypeid", new SelectList(Model.WarrantyList,
"Key", "Value", (Model.AssetDetail.warrantytypeid)),
new { @id = "warrantytypeid" })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Warranty Start Date: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
            </div>
            <div class="col-md-8">
                <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">

                    <div class="form-group">
                        <div class="col-md-10" style="padding-left: 0px;">
                            <div class="input-group input-medium date date-picker" data-date="@(Model.AssetDetail.warrantystartdate == null?DateTime.Now.ToString("MM/dd/yyy"):Convert.ToDateTime(Model.AssetDetail.warrantystartdate).ToString("MM/dd/yyy"))" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                <input type="text" name="warrantystartdate" value="@(Model.AssetDetail.warrantystartdate == null ? "" : System.Convert.ToDateTime(Model.AssetDetail.warrantystartdate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Cost Center:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="costcenter" maxlength="255" value="@(Model.AssetDetail.costcenter ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Old Asset Name:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="OldAssetName" maxlength="255" value="@(Model.AssetDetail.OldAssetName ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Old Asset Tag:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="OldAssetTag" maxlength="50" value="@(Model.AssetDetail.OldAssetTag ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Globalserve Imaging:</label>
            </div>
            <div class="col-md-8">
                @if (Model.AssetDetail.Imaging == null || Model.AssetDetail.Imaging == true)
                {
                    <input type="hidden" name="IsGlobalServeImaging" id="IsGlobalServeImaging" value="True">
                    <div class="col-md-6">
                        <input type="radio" class="form-control" name="Imaging" checked value="True" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Yes
                    </div>
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="Imaging" value="False" style="width: auto; height: auto; margin-right: 10px; float: left;" /> No
                        </div>
                }
                else
                {
                    <input type="hidden" name="IsGlobalServeImaging" id="IsGlobalServeImaging" value="False">
                    <div class="col-md-6">
                        <input type="radio" class="form-control" name="Imaging" value="True" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Yes
                    </div>
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="Imaging" checked value="False" style="width: auto; height: auto; margin-right: 10px; float: left;" /> No
                        </div>
                }


            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>White Glove Delivery Service:</label>
            </div>
            <div class="col-md-8">

                @if (Model.AssetDetail.WhiteGloveDelivery == null || Model.AssetDetail.WhiteGloveDelivery == true)
                {
                    <input type="hidden" name="IsWhiteGloveDeliveryServe" id="IsWhiteGloveDeliveryServe" value="True">
                    <div class="col-md-6">
                        <input type="radio" class="form-control" name="WhiteGloveDelivery" value="True" checked style="width: auto; height: auto; margin-right: 10px; float: left;" /> Yes
                    </div>
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="WhiteGloveDelivery" value="False" style="width: auto; height: auto; margin-right: 10px; float: left;" /> No
                        </div>
                }
                else
                {
                    <input type="hidden" name="IsWhiteGloveDeliveryServe" id="IsWhiteGloveDeliveryServe" value="False">
                    <div class="col-md-6">
                        <input type="radio" class="form-control" name="WhiteGloveDelivery" value="True" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Yes
                    </div>
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="WhiteGloveDelivery" value="False" checked style="width: auto; height: auto; margin-right: 10px; float: left;" /> No
                        </div>
                }



            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Asset Rental Amount:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="AssetRentalAmount" maxlength="8" value="@(Model.AssetDetail.AssetRentalAmount != null ? String.Format("{0:0.00}", Convert.ToDecimal(Model.AssetDetail.AssetRentalAmount)) : "")" class="form-control numericwithdecimal" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Old Asset Model:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="OldAssetModel" maxlength="255" value="@(Model.AssetDetail.OldAssetModel ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Old Asset Model Number:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="OldAssetModelNumber" maxlength="255" value="@(Model.AssetDetail.OldAssetModelNumber ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Scheduled Return Date: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
            </div>
            <div class="col-md-8">
                <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">
                    <div class="form-group">
                        <div class="col-md-10" style="padding-left: 0px;">
                            <div class="input-group input-medium date date-picker" data-date="@(Model.AssetDetail.ScheduledReturnDate == null?DateTime.Now.ToString("MM/dd/yyy"):Convert.ToDateTime(Model.AssetDetail.ScheduledReturnDate).ToString("MM/dd/yyy"))" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                <input type="text" name="ScheduledReturnDate" value="@(Model.AssetDetail.ScheduledReturnDate == null ? "" : System.Convert.ToDateTime(Model.AssetDetail.ScheduledReturnDate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Lease Start Date: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
            </div>
            <div class="col-md-8">
                <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">

                    <div class="form-group">
                        <div class="col-md-10" style="padding-left: 0px;">
                            <div class="input-group input-medium date date-picker" data-date="@(Model.AssetDetail.leaseStartDate == null?DateTime.Now.ToString("MM/dd/yyy"):Convert.ToDateTime(Model.AssetDetail.leaseStartDate).ToString("MM/dd/yyy"))" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                <input type="text" name="leaseStartDate" value="@(Model.AssetDetail.leaseStartDate == null ? "" : System.Convert.ToDateTime(Model.AssetDetail.leaseStartDate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Lease End Date: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
            </div>
            <div class="col-md-8">
                <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">

                    <div class="form-group">
                        <div class="col-md-10" style="padding-left: 0px;">
                            <div class="input-group input-medium date date-picker" data-date="@(Model.AssetDetail.leaseEndDate == null?DateTime.Now.ToString("MM/dd/yyy"):Convert.ToDateTime(Model.AssetDetail.leaseEndDate).ToString("MM/dd/yyy"))" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                <input type="text" name="leaseEndDate" value="@(Model.AssetDetail.leaseEndDate == null ? "" : System.Convert.ToDateTime(Model.AssetDetail.leaseEndDate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Install Date: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
            </div>
            <div class="col-md-8">
                <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">

                    <div class="form-group">
                        <div class="col-md-10" style="padding-left: 0px;">
                            <div class="input-group input-medium date date-picker" data-date="@(Model.AssetDetail.InstallDate == null?DateTime.Now.ToString("MM/dd/yyy"):Convert.ToDateTime(Model.AssetDetail.InstallDate).ToString("MM/dd/yyy"))" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                <input type="text" name="InstallDate" value="@(Model.AssetDetail.InstallDate == null ? "" : System.Convert.ToDateTime(Model.AssetDetail.InstallDate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
            <div class="col-md-6">
                <div class="col-md-12 no-image">
                    @if (string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="\Content\assets\images\img.jpg" alt="Asset No Image" style="float:right;" />
                    }
                    else
                    {
                        <img src="/cnetimages/@Model.ImageUrl.Trim()" alt="Asset No Image" style="float:right;" />
                    }
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Asset Tag:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="assettagnum" maxlength="50" value="@(Model.AssetDetail.assettagnum ?? "")" class="form-control" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Model Number:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="modelnumber" maxlength="255" value="@(Model.AssetDetail.modelnumber ?? "")" class="form-control" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4" style="padding-bottom:10px">
                    <label>Coverage:</label>
                </div>
                <div class="col-md-8" style="padding-bottom:10px">
                    <p>@(Model.AssetDetail.coveragename ?? "")</p>
                </div>
                <div class="clearfix"></div>


                @if (Session["UserGroupName"].ToString() == "ISD")
                { <div class="col-md-4">
                    <label>System Name:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="systemname" maxlength="255" value="@(Model.AssetDetail.systemname ?? "")" class="form-control" />
                </div>
                }
                else
                { <div class="col-md-4" style="padding-bottom:10px">
                    <label>System Name:</label>
                </div>
                <div class="col-md-8" style="padding-bottom:10px">
                    <p>@(Model.AssetDetail.systemname ?? "")</p>
                </div>
                }
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Warranty End Date: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">
                        <div class="form-group">
                            <div class="col-md-10" style="padding-left: 0px;">
                                <div class="input-group input-medium date date-picker" data-date="@(Model.AssetDetail.warrantyenddate == null ? "" : System.Convert.ToDateTime(Model.AssetDetail.warrantyenddate).ToString("MM/dd/yyy"))" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                    <input type="text" name="warrantyenddate" value="@(Model.AssetDetail.warrantyenddate == null ? "" : System.Convert.ToDateTime(Model.AssetDetail.warrantyenddate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                    <img src="/Content/images/reset-btn.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Ticket #:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="ticketid" maxlength="6" value="@(Model.AssetDetail.ticketid == null ? "" : Convert.ToString(Model.AssetDetail.ticketid))" class="form-control allowNumWoutDecimalWPast" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Region:</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownList("region", new SelectList(new SelectListItem[] {
             new SelectListItem { Text = "(None)", Value = "0" },
            new SelectListItem { Text = "EAM", Value = "EAM" } ,
            new SelectListItem { Text = "FEAP", Value = "FEAP" } ,
            new SelectListItem { Text = "LAM", Value = "LAM" },
            new SelectListItem { Text = "NA", Value = "NA" },
            new SelectListItem { Text = "SLC", Value = "SLC" }
       },
    "Value", "Text", (Model.AssetDetail.region ?? "")),
    new { @id = "region" })
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Old Asset Purchase Type:</label>
                </div>
                <div class="col-md-8">

                    @if (Model.AssetDetail.OldLeasedorPurchased == null || Model.AssetDetail.OldLeasedorPurchased == "Leased")
                    {
                        <input type="hidden" name="OldAssetPurchaseType" id="OldAssetPurchaseType" value="Leased">
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="OldLeasedorPurchased" checked value="Leased" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Leased
                        </div>
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="OldLeasedorPurchased" value="Purchased" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Purchased
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="OldAssetPurchaseType" id="OldAssetPurchaseType" value="Purchased">
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="OldLeasedorPurchased" value="Leased" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Leased
                        </div>
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="OldLeasedorPurchased" checked value="Purchased" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Purchased
                        </div>
                    }



                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>New Asset Purchase Type:</label>
                </div>
                <div class="col-md-8">

                    @if (Model.AssetDetail.NewLeasedorPurchased == null || Model.AssetDetail.NewLeasedorPurchased == "Leased")
                    {
                        <input type="hidden" name="NewAssetPurchaseType" id="NewAssetPurchaseType" value="Leased">
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="NewLeasedorPurchased" value="Leased" checked style="width: auto; height: auto; margin-right: 10px; float: left;" /> Leased
                        </div>
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="NewLeasedorPurchased" value="Purchased" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Purchased
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="NewAssetPurchaseType" id="NewAssetPurchaseType" value="Purchased">
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="NewLeasedorPurchased" value="Leased" style="width: auto; height: auto; margin-right: 10px; float: left;" /> Leased
                        </div>
                        <div class="col-md-6">
                            <input type="radio" class="form-control" name="NewLeasedorPurchased" value="Purchased" checked style="width: auto; height: auto; margin-right: 10px; float: left;" /> Purchased
                        </div>
                    }




                </div>
                <div class="clearfix"></div>
                <div class="col-md-4" style="padding-bottom:10px">
                    <label>Vendor Invoice Number:</label>
                </div>
                <div class="col-md-8" style="padding-bottom:10px">
                    <p>@(Model.AssetDetail.InvoiceNumber ?? "")</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>User Logon Name:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="UserLoginName" maxlength="100" value="@(Model.AssetDetail.UserLoginName ?? "")" class="form-control" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>User Email Address:</label>
                </div>
                <div class="col-md-8">
                    <input type="email" name="UserEmailAddress" maxlength="255" value="@(Model.AssetDetail.UserEmailAddress ?? "")" class="form-control" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>User First Name:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="UserFirstName" maxlength="100" value="@(Model.AssetDetail.UserFirstName ?? "")" class="form-control" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>User Last Name:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="UserLastName" maxlength="100" value="@(Model.AssetDetail.UserLastName ?? "")" class="form-control" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>User Phone Number:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="UserPhoneNumber" maxlength="25" value="@(Model.AssetDetail.UserPhoneNumber ?? "")" error-msg="Please provide correct phone number" class="form-control phoneOnly" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Purchase Date: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
                </div>
                <div class="col-md-8">
                    @if (Model.AssetDetail.Purchase_Date != null)
                    {
                        if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
                        {
                            var date = Convert.ToDateTime(Model.AssetDetail.Purchase_Date);
                            <p>@date.Date.Day/@date.Date.Month/@date.Date.Year</p>
                        }
                        else
                        {
                            var date = Convert.ToDateTime(Model.AssetDetail.Purchase_Date);
                            <p>@date.Date.Month/@date.Date.Day/@date.Date.Year</p>
                        }
                    }
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Price:</label>
                </div>
                <div class="col-md-8">

                    @if (Model.AssetDetail.price != null)
                    {
                        <p id="price">@Model.AssetDetail.price @(Model.AssetDetail.currencysymbol ?? "")</p>
                    }

                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Order #:</label>
                </div>
                <div class="col-md-8">
                    <p>
                        @if (Model.AssetDetail.sessiontrackingnumber != null && Model.AssetDetail.ordertrackingnumber != null && Model.AssetDetail.destinationtrackingnumber != null)
                        {
                            <a href="/order-detail/@(Model.AssetDetail.sessiontrackingnumber)-@(Model.AssetDetail.ordertrackingnumber)-@(Model.AssetDetail.destinationtrackingnumber)" style="color:#3b9cd3">
                                @(Model.AssetDetail.sessiontrackingnumber + "-" + Model.AssetDetail.ordertrackingnumber + "-" + Model.AssetDetail.destinationtrackingnumber)
                            </a>
                        }
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Customer PO:</label>
                </div>
                <div class="col-md-8">
                    <p>@(Model.AssetDetail.ponumber ?? "")</p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 back-btn">
                <button type="button" class="btn btn-default btnSubmit" id="per">Cancel</button>
                <button type="submit" class="btn btn-default btnSubmit" id="per">Update</button>
            </div>
    }
    <div class="col-md-12">
        <h2>Parts/Peripherals:</h2>
    </div>
    @if (Model.PartsPeripherals.Count > 0)
    {
        <div class="col-md-12 update-btn my-table-ovrflw">
            <div class="col-md-12 table-scrollable" style="max-height:350px;    overflow-y: scroll;    padding-left: 0px;
    padding-right: 0px;">
                <table class="table">
                    <thead style="color: #fff;background-color: #399bd3;">
                        <tr>
                            <th style="font-size: 10px;">Category</th>
                            <th style="font-size: 10px;">Manufacturer</th>
                            <th style="font-size: 10px;">Model</th>
                            <th style="font-size: 10px;">Description</th>
                            <th style="font-size: 10px;">Serial #</th>
                            <th style="width: 50px;font-size: 10px;">Asset</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.PartsPeripherals)
                        {
                            <tr>
                                <td style="">
                                    <span title="Category" data-toggle="tooltip">@(item.Category ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Manufacturer" data-toggle="tooltip">@(item.Manufacturer ?? "")</span>
                                </td>
                                <td style="">
                                    <span title="Model" data-toggle="tooltip">@(item.Model ?? "")</span>
                                </td>
                                <td style="">
                                    <a style="color:#3b9cd3" href="/asset-detail/@item.AssetId" title="Description" data-toggle="tooltip">@(item.Description ?? "")</a>
                                </td>
                                <td style="">
                                    <span title="Serial" data-toggle="tooltip">@(item.Serial ?? "")</span>
                                </td>
                                <td>
                                    <span title="Asset" data-toggle="tooltip">@(item.AssetTagNum ?? "")</span>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <p style="padding-left: 10px;">Your search returned no results.</p>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        var price = document.getElementById('price');
        if (price != null && price != "" && price != undefined) {
            price = price.innerHTML;
            document.getElementById('price').innerHTML = parseFloat(price).toFixed(2);
        }
    });

    $('#AssetSearchForm').submit(function () {
        if ($($("input[name=Imaging]:radio")[0]).prop('checked')) {
            $("#IsGlobalServeImaging").val("True");
        }
        else {
            $("#IsGlobalServeImaging").val("False");
        }

        if ($($("input[name=WhiteGloveDelivery]:radio")[0]).prop('checked')) {
            $("#IsWhiteGloveDeliveryServe").val("True");
        }
        else {
            $("#IsWhiteGloveDeliveryServe").val("False");
        }

        if ($($("input[name=OldLeasedorPurchased]:radio")[0]).prop('checked')) {
            $("#OldAssetPurchaseType").val("Leased");
        }
        else {
            $("#OldAssetPurchaseType").val("Purchased");
        }
        if ($($("input[name=NewLeasedorPurchased]:radio")[0]).prop('checked')) {
            $("#NewAssetPurchaseType").val("Leased");
        }
        else {
            $("#NewAssetPurchaseType").val("Purchased");
        }

        if ($('input[name="description"]').val() == "") {
            alert("Please provide a description for the asset");
            return false;
        }
        if ($("#warrantytypeid").val() != "0" && $("input[name='warrantystartdate']").val() == "" && $("input[name='warrantyenddate']").val() == "") {
            alert("Warrenty start date and end date should be selected if warrenty type is selected.");
            return false;
        }
        if ($("input[name='warrantystartdate']").val() == "" && $("input[name='warrantyenddate']").val() != "") {
            alert("Warrenty start date should be selected if warrenty end date selected");
            return false;
        }
        if ($("input[name='warrantystartdate']").val() != "" && $("input[name='warrantyenddate']").val() == "") {
            alert("Warrenty end date should be selected if warrenty start date selected");
            return false;
        }
        if (new Date($("input[name='warrantystartdate']").val()) > new Date($("input[name='warrantyenddate']").val())) {
            alert("Warranty start date cannot be after the end Date.");
            return false;
        }

        if ($("input[name='warrantystartdate']").val() != "" && $("#warrantytypeid").val() == "0") {
            alert("Please provide warranty type in order to update warranty start and end date");
            return false;
        }

        if ($("input[name='leaseStartDate']").val() == "" && $("input[name='leaseEndDate']").val() != "") {
            alert("Lease start date should be selected if lease end date selected");
            return false;
        }
        if ($("input[name='leaseStartDate']").val() != "" && $("input[name='leaseEndDate']").val() == "") {
            alert("Lease end date should be selected if lease start date selected");
            return false;
        }
        if (new Date($("input[name='leaseStartDate']").val()) > new Date($("input[name='leaseEndDate']").val())) {
            alert("Lease start date cannot be after the end Date.");
            return false;
        }
        StartLoader();
    });

    function downloadPDF() {
        window.location = "/AssetSearch/ExportAssetDetailToPdf?assetId=" + '@Model.AssetId';
    }
</script>

