﻿@model List<OneSourceAdminCore.Model.AssetHistory>
<div class="col-md-12">
    <h2>History:</h2>
</div>
<div class="row">
    @if (Model.Count == 0)
    {        
        <p style="padding-left: 60px;">Your search returned no results.</p>
    }
    else
    {
        <div class="col-md-1"></div>
    <div class="col-md-10 update-btn my-table-ovrflw">
        <div class="col-md-12 table-scrollable" style="max-height:350px;    overflow-y: scroll;    padding-left: 0px;
    padding-right: 0px;">
            <table class="table">
                <thead style="color: #fff;background-color: #399bd3;">
                    <tr>
                        <th style="font-size: 10px;">Log Date</th>
                        <th style="font-size: 10px;">Update By</th>
                        <th style="font-size: 10px;">Event</th>
                        <th style="font-size: 10px;">Status</th>
                        <th style="font-size: 10px;">Comments</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="">
                                <span title="Log Date" data-toggle="tooltip">@(item.Logdate)</span>
                            </td>
                            <td style="">
                                <span title="Update By" data-toggle="tooltip">@(item.UserName ?? "")</span>
                            </td>
                            <td style="">
                                <span title="Event" data-toggle="tooltip">@(item.ActionName ?? "")</span>
                            </td>
                            <td style="">
                                <span title="Status" data-toggle="tooltip">@(item.Status ?? "")</span>
                            </td>
                            <td style="">
                              

                                @{
                                    var comment = item.Comments;
                                    if (comment.Contains("#<a"))
                                    {
                                        var indexGreaterThan = comment.IndexOf('>');
                                        var lastIndexLessThan = comment.LastIndexOf('<');
                                        var ticketNo = comment.Substring(indexGreaterThan + 1, lastIndexLessThan - indexGreaterThan - 1);
                                        comment = comment.Replace("<a href=/support/requests/ticket.asp?ticketid=" + ticketNo + ">" + ticketNo + "</a>", "<a style='color:#399bd3;     text-decoration-line: underline;' href='/ticket-detail/" + ticketNo + "'>" + ticketNo + "</a>");
                                    }
                                }
                                <span title="Comments" data-toggle="tooltip">@(Html.Raw(comment ?? "")  )</span>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>
    }
</div>
<div class="col-md-12">
    <h2>Comments:</h2>
</div>
<div class="col-md-3"></div>
<div class="col-md-6">
    @using (Html.BeginForm("UpdateAssetComment", "AssetSearch", FormMethod.Post, new { @id = "AssetSearchCForm" }))
    {

        <div class="col-md-4" style="padding-left: 0;">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="padding-right: 0;">
            <input type="submit" id="per" class="form-control pull-right addComment" value="Add Comments" />
        </div>
        <textarea name="hcomments" id="hcomments" cols="10" rows="6" maxlength="500" class="form-control orderComment"></textarea>
        <span><b>Note: The maximum character length of comments is 500.</b></span>
    }
</div>
<div class="col-md-3"></div>
<script>
    $('#AssetSearchCForm').submit(function () {
        if ($('#hcomments').val() == "") {
            alert("Please provide comments");
            return false;
        }
        StartLoader();
    });
</script>