﻿@model OneSourceAdmin.Models.HardwareResponseModel
@{
    ViewBag.Title = "Hardware Quote Response";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var i = 0;   
}

<div class="row" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Hardware Quote Response </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<br />

<div style="padding:0px;">
    <div class="bs-box">
        <h4>Quote Request</h4>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Account Manager:
            </label>
            <div class="col-md-4">@Model.HardwareQuotes.AccountManagerName</div>
            <label class="col-md-2 control-label">Customer Name:</label>
            <div class="col-md-4">@Model.HardwareQuotes.CustomerName</div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Customer Delivery Address:</label>
            <div class="col-md-4">@Model.HardwareQuotes.CustomerDeliveryAddress</div>
            <label class="col-md-2 control-label">
                City:
            </label>
            <div class="col-md-4">@Model.HardwareQuotes.City</div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Country:</label>
            <div class="col-md-4">@Model.HardwareQuotes.Country</div>
            <label class="col-md-2 control-label">Expected Price Point:</label>
            <div class="col-md-4">@Model.HardwareQuotes.ExpectedPricePoint</div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Selected Lead Time:</label>
            <div class="col-md-10">@Model.HardwareQuotes.HQOption</div>
            <div class="clearfix"></div>
        </div>
        @if (Model.HardwareQuotes.HQOptionId == 1)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Global Deal Id:</label>
                <div class="col-md-4">@Model.HardwareQuotes.GlobalDealId</div>
                <label class="col-md-2 control-label">
                    OEM Account Manager Contact Details
                </label>
                <div class="col-md-4">@Model.HardwareQuotes.OEMAccountManager:</div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group" id="divLeadTime2">
                <label class="col-md-2 control-label">End User Contact Details:</label>
                <div class="col-md-8">@Model.HardwareQuotes.EndUserAccountDetails</div>
                <div class="clearfix"></div>
            </div>
        }
        else if (Model.HardwareQuotes.HQOptionId == 2)
        {
            <div class="form-group" id="divLeadTime2">
                <label class="col-md-2 control-label">End User Contact Details:</label>
                <div class="col-md-8">@Model.HardwareQuotes.EndUserAccountDetails</div>
                <div class="clearfix"></div>
            </div>
        }
        <div class="form-group" id="divLeadTime2">
            <label class="col-md-2 control-label">Comments:</label>
            <div class="col-md-8">@{ 
                if (Model.HardwareQuotes.Comments != null)
                {
                    <span>@Model.HardwareQuotes.Comments</span>
                }
            }</div>
            <div class="clearfix"></div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.HardwareQuotes.Attachment1) || !string.IsNullOrWhiteSpace(Model.HardwareQuotes.Attachment2) || !string.IsNullOrWhiteSpace(Model.HardwareQuotes.Attachment3) || !string.IsNullOrWhiteSpace(Model.HardwareQuotes.Attachment4) || !string.IsNullOrWhiteSpace(Model.HardwareQuotes.Attachment5))
        {
            <div class="form-group">
                <div class="col-md-12"><h4>Attachments</h4></div>
            </div>
            <div class="form-group">
                @if (!string.IsNullOrWhiteSpace(Model.HardwareQuotes.Attachment1))
                {
                    <label class="col-md-2 control-label">Attachment 1:</label>
                    <div class="col-md-10">@Model.HardwareQuotes.Attachment1</div>
                    <div class="clearfix"></div>
                }
                @if (Model.HardwareQuotes.Attachment2 != "")
                {
                    <label class="col-md-2 control-label">Attachment 2:</label>
                    <div class="col-md-10">@Model.HardwareQuotes.Attachment2</div>
                    <div class="clearfix"></div>
                }
                @if (Model.HardwareQuotes.Attachment3 != "")
                {
                    <label class="col-md-2 control-label">Attachment 3:</label>
                    <div class="col-md-10">@Model.HardwareQuotes.Attachment3</div>
                    <div class="clearfix"></div>
                }
                @if (Model.HardwareQuotes.Attachment4 != "")
                {
                    <label class="col-md-2 control-label">
                        Attachment 4:
                    </label>
                    <div class="col-md-10">@Model.HardwareQuotes.Attachment4</div>
                    <div class="clearfix"></div>
                }
                @if (Model.HardwareQuotes.Attachment5 != "")
                {
                    <label class="col-md-2 control-label">
                        Attachment 5:
                    </label>
                    <div class="col-md-10">@Model.HardwareQuotes.Attachment5</div>
                    <div class="clearfix"></div>
                }
            </div>

        }
    </div>
</div>
<div class="clearfix"></div>

@if (Model.HardwareQuoteResponse != null)
{

<div id="frmQuoteResponse">
    <div class="row">
        <div class="col-md-12">
            <h4>Add Response</h4>
            <hr />
        </div>
    </div>
    <form class="form-horizontal" id="frm-response" method="post" action="/ResponseQuote/SaveHardwareResponse">
        <div class="form-group">
            <label class="col-sm-2 control-label">Delivery Charges<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control number" id="txtDeliveryCharges" name="txtDeliveryCharges" value="@Model.HardwareQuoteResponse.DeliveryCharges" maxlength="500" required />
            </div>
            @*<label class="col-sm-2 control-label">Lead Time<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtLeadTime" name="txtLeadTime" maxlength="500" value="@Model.HardwareQuoteResponse.LeadTime" required />
            </div>*@
            <label class="col-sm-2 control-label">Payment Terms<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtPaymentTerms" name="txtPaymentTerms" value="@Model.HardwareQuoteResponse.PaymentTerms" maxlength="500" required />
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label">Price Validity Date<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtPriceValidityDate" name="txtPriceValidityDate" value="@Model.HardwareQuoteResponse.PriceValidityDate" maxlength="500" required />
            </div>
            <label class="col-sm-2 control-label">Payment Terms<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtPaymentTerms" name="txtPaymentTerms" value="@Model.HardwareQuoteResponse.PaymentTerms" maxlength="500" required />
            </div>
        </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label">GSP Quote Reference #</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtGSPRef" name="txtGSPRef" value="@Model.HardwareQuoteResponse.GSPQuoteReferenceNo" maxlength="500" required />
            </div>
            <label class="col-sm-2 control-label">Select Currency<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                <select id="drCurrency" name="drCurrency" class="form-control" required>
                    <option value="">--Select--</option>
                    @foreach (var item in Model.CurrencyList)
                    {
                        if (item.CurrencyID == Model.HardwareQuoteResponse.CurrencyId)
                        {
                            <option selected value="@item.CurrencyID">@(item.CurrencyName + " " + item.CurrencySymbol)</option>
                        }
                        else
                        {
                            <option value="@item.CurrencyID">@(item.CurrencyName + " " + item.CurrencySymbol)</option>
                        }

                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">GSP Details<span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <textarea rows="5" class="form-control" id="txtGSPDetails" name="txtGSPDetails" maxlength="5000" required>@Model.HardwareQuoteResponse.GSPDetails</textarea>
                <span style="font-size:11px; color:#999;">Example: Company Name, POC Name, Email, Phone, Company Address</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Details/Documents/Forms<span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <textarea rows="5" class="form-control" id="txtDetails" name="txtDetails" maxlength="5000" required>@Model.HardwareQuoteResponse.Details</textarea>
                <span style="font-size:11px; color:#999;">Required for Order Placement</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Additional Information Regarding Product<span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <textarea rows="5" class="form-control" id="txtAdditionalInfo" name="txtAdditionalInfo" maxlength="5000" required>@Model.HardwareQuoteResponse.AdditionalInformation</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Special Instructions/ Terms and Conditions</label>
            <div class="col-sm-10">
                <textarea rows="5" class="form-control" id="txtSpecailIns" name="txtSpecailIns" maxlength="5000" required>@Model.HardwareQuoteResponse.SpecialInstructions</textarea>
            </div>
        </div>
        <input type="hidden" id="hdHardwareQuoteId" name="hdHardwareQuoteId" value="@Model.HardwareQuotes.HardwareQuoteId" />
        <input type="hidden" id="hdResponseQuoteId" name="hdResponseQuoteId" value="@Model.HardwareQuoteResponse.HardwareResponseID" />
        <div class="form-group" style="text-align:center;">
            <input type="submit" value="Save Response" id="btnSave" class="btn btn-info" />
            <input type="reset" value="Reset" id="btnSave" class="btn btn-info" />
        </div>
    </form>
</div>

<div id="divQuoteResponse" style="display:none;">
    <div class="row">
        <div class="col-md-10">
            <h4>Quote Response</h4>
        </div>
        <div class="col-md-2">
            <a onclick="ViewEditModel()" style="cursor:pointer;" class="btn btn-danger">Edit Quote</a>
        </div>
        <hr />
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Delivery Charges<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                @Model.HardwareQuoteResponse.DeliveryCharges
            </div>
            <label class="col-sm-2 control-label">Payment Terms<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                @Model.HardwareQuoteResponse.PaymentTerms
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-sm-2 control-label">Price Validity Date<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                @Model.HardwareQuoteResponse.PriceValidityDate
            </div>
            <label class="col-sm-2 control-label">Payment Terms<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                @Model.HardwareQuoteResponse.PaymentTerms
            </div>
        </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label">GSP Quote Reference #</label>
            <div class="col-sm-4">
                @Model.HardwareQuoteResponse.GSPQuoteReferenceNo
            </div>
            <label class="col-sm-2 control-label">Select Currency<span class="text-danger">*</span></label>
            <div class="col-sm-4">
                @Model.CurrencyList.FirstOrDefault(x => x.CurrencyID == @Model.HardwareQuoteResponse.CurrencyId).CurrencyName
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">GSP Details<span class="text-danger">*</span></label>
            <div class="col-sm-10">
                @Model.HardwareQuoteResponse.GSPDetails
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Details/Documents/Forms<span class="text-danger">*</span></label>
            <div class="col-sm-10">
                @Model.HardwareQuoteResponse.Details
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Additional Information Regarding Product<span class="text-danger">*</span></label>
            <div class="col-sm-10">
                @Model.HardwareQuoteResponse.AdditionalInformation
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Special Instructions/ Terms and Conditions</label>
            <div class="col-sm-10">
                @Model.HardwareQuoteResponse.SpecialInstructions
            </div>
        </div>
    </form>
</div>
}
else
{
    <div id="frmQuoteResponse">
        <div class="row">
            <div class="col-md-12">
                <h4>Add Response</h4>
                <hr />
            </div>
        </div>
        <form class="form-horizontal" id="frm-response" method="post" action="/ResponseQuote/SaveHardwareResponse">
            <div class="form-group">
                <label class="col-sm-2 control-label">Delivery Charges<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control number" id="txtDeliveryCharges" name="txtDeliveryCharges" value="" maxlength="500" required />
                </div>
                <label class="col-sm-2 control-label">Payment Terms<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txtPaymentTerms" name="txtLeadTime" maxlength="500" value="" required />
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-sm-2 control-label">Price Validity Date<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txtPriceValidityDate" name="txtPriceValidityDate" value="" maxlength="500" required />
                </div>
                <label class="col-sm-2 control-label">Payment Terms<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txtPaymentTerms" name="txtPaymentTerms" value="" maxlength="500" required />
                </div>
            </div>*@
            <div class="form-group">
                <label class="col-sm-2 control-label">GSP Quote Reference #</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txtGSPRef" name="txtGSPRef" value="" maxlength="500" required />
                </div>
                <label class="col-sm-2 control-label">Select Currency<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <select id="drCurrency" name="drCurrency" class="form-control" required>
                        <option value="">--Select--</option>
                        @foreach (var item in Model.CurrencyList)
                        {
                            <option value="@item.CurrencyID">@(item.CurrencyName + " " + item.CurrencySymbol)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">GSP Details<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <textarea rows="5" class="form-control" id="txtGSPDetails" name="txtGSPDetails" maxlength="5000" required></textarea>
                    <span style="font-size:11px; color:#999;">Example: Company Name, POC Name, Email, Phone, Company Address</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Details/Documents/Forms<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <textarea rows="5" class="form-control" id="txtDetails" name="txtDetails" maxlength="5000" required></textarea>
                    <span style="font-size:11px; color:#999;">Required for Order Placement</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Additional Information Regarding Product<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <textarea rows="5" class="form-control" id="txtAdditionalInfo" name="txtAdditionalInfo" maxlength="5000" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Special Instructions/ Terms and Conditions</label>
                <div class="col-sm-10">
                    <textarea rows="5" class="form-control" id="txtSpecailIns" name="txtSpecailIns" maxlength="5000" required></textarea>
                </div>
            </div>
            <input type="hidden" id="hdHardwareQuoteId" name="hdHardwareQuoteId" value="@Model.HardwareQuotes.HardwareQuoteId" />
            <input type="hidden" id="hdResponseQuoteId" name="hdResponseQuoteId" value="0" />
            <div class="form-group" style="text-align:center;">
                <input type="submit" value="Save Response" id="btnSave" class="btn btn-info" />
                <input type="reset" value="Reset" id="btnSave" class="btn btn-info" />
            </div>
        </form>
    </div>

   <div id="divQuoteResponse" style="display:none;">
        <div class="row">
            <div class="col-md-10">
                <h4>Quote Response</h4>
            </div>
            <div class="col-md-2">
                <a onclick="ViewEditModel()" style="cursor:pointer;" class="btn btn-danger">Edit Quote</a>
            </div>
            <hr />
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Delivery Charges<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                   <span id="divDeliveryCharges"></span>
                </div>
                <label class="col-sm-2 control-label">Payment Terms<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <span id="divPaymentTerms"></span>
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-sm-2 control-label">Price Validity Date<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <span id="divValidityDate"></span>
                </div>
                <label class="col-sm-2 control-label">Payment Terms<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <span id="divPaymentTerms"></span>
                </div>
            </div>*@
            <div class="form-group">
                <label class="col-sm-2 control-label">GSP Quote Reference #</label>
                <div class="col-sm-4">
                    <span id="divQuoteRef"></span>
                </div>
                <label class="col-sm-2 control-label">Currency<span class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <span id="divCurrency"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">GSP Details<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <span id="devGSPDetails"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Details/Documents/Forms<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <span id="divDetails"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Additional Information Regarding Product<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <span id="divAdditional"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Special Instructions/ Terms and Conditions</label>
                <div class="col-sm-10">
                    <span id="divSpecial"></span>
                </div>
            </div>
        </form>
    </div>
}

<hr />
<h4>Requested Items</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>SKU</th>
                <th>Description</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LineItemes)
            {
            <tr>
                <td>@item.Manufacturer</td>
                <td>@item.SKU</td>
                <td>@item.Description</td>
                <td>@item.Quantity</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<h4>Quote Response</h4>
<div id="divResponseTable" class="table-responsive" style="overflow-x:scroll;">
    @using (Html.BeginForm("SaveResponseLineItems", "ResponseQuote", FormMethod.Post, new { @class = "form-horizontal", id = "form-lineItem", role = "form", enctype = "multipart/form-data" }))
    {
    <table class="table table-striped" style="max-width:120% !important; width:120% !important;">
        <thead>
            <tr>
                <th>Manufacturer<span class="text-danger">*</span></th>
                <th>SKU<span class="text-danger">*</span></th>
                <th>Category<span class="text-danger">*</span></th>
                <th>Lead Time<span class="text-danger">*</span></th>
                <th>EOL<span class="text-danger">*</span></th>
                <th>Quantity<span class="text-danger">*</span></th>
                <th>Unit Price<span class="text-danger">*</span></th>
                <th>GSP Margin<span class="text-danger">*</span></th>
                <th>GS Margin<span class="text-danger">*</span></th>
                <th>Final Price<span class="text-danger">*</span></th>
                <th>TAX/VAT<span class="text-danger">*</span></th>
                <th>Total TAX/VAT<span class="text-danger">*</span></th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model.LineItemes)
                {*@
            <tr>
                <td class="form-group">
                    <select id="EntryLineModel[@i].ManfuacturerId" name="EntryLineModel[@i].ManfuacturerId" required class="form-control">
                        <option value="">--Select--</option>
                        @foreach (var maf in Model.Manufacturers)
                            {
                            <option value="@maf.Key">@maf.Value</option>
                            }
                    </select>
                </td>
                <td class="form-group">
                    <input type="text" class="form-control" id="SKU" name="EntryLineModel[@i].SKU" required placeholder="SKU" />
                </td>
                <td class="form-group">
                    <select id="EntryLineModel[@i].CategoryId" name="EntryLineModel[@i].CategoryId" required class="form-control">
                        <option value="">--Select--</option>
                        @foreach (var cat in Model.Category)
                            {
                            <option value="@cat.PartCategoryID">@cat.PartCategoryName</option>
                            }
                    </select>
                </td>
                <td class="form-group">
                    <input type="text" class="form-control" id="Lead Time" name="EntryLineModel[@i].LeadTime" required placeholder="SKU" />
                </td>
                <td class="form-group">
                    <div class="input-group date date-picker" data-date="@DateTime.Now.Date" data-date-format="mm/dd/yyyy" data-date-viewmode="years">                        
                        <input type="text" class="form-control" id="EOL" style="width:100px;" name="EntryLineModel[@i].EOL" value="@DateTime.Now.Date.Date.ToString("MM/dd/yyyy")" readonly required placeholder="SKU" />
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                   
                </td>
                <td class="form-group">
                    <input type="text" class="form-control number" id="Quantity" required name="EntryLineModel[@i].Quantity" placeholder="Qunatity" />
                </td>
                <td class="form-group">
                    <input type="text" class="form-control number" id="UnitCost" required name="EntryLineModel[@i].UnitCost" placeholder="Unit Price" />
                </td>
                <td class="form-group">
                    <input type="text" class="form-control number" id="Uplift" required name="EntryLineModel[@i].GSPMargin" placeholder="GSP Margin %" />
                </td>
                <td class="form-group">
                    <input type="text" class="form-control number" id="GSMargin" required name="EntryLineModel[@i].GSMargin" placeholder="GS Margin %" />
                </td>
                <td class="form-group">
                    <input type="text" class="form-control number" id="FinalPrice" readonly required name="EntryLineModel[@i].FinalPrice" placeholder="Final Price" />
                </td>
                <td class="form-group">
                    <input type="text" class="form-control number" id="Tax" required name="EntryLineModel[@i].Tax" placeholder="Tax %" />
                </td>
                <td class="form-group">
                    <input type="text" class="form-control number" id="PriceWithTax" readonly required name="EntryLineModel[@i].PriceWithTax" placeholder="Price Wtih Tax" />
                    @*<input type="hidden" name="EntryLineModel[@i].ResponseQuoteId" value="@Model.HardwareQuotes.HardwareQuoteId" />*@
                    @if (Model.HardwareQuoteResponse != null)
                    {
                        <input type="hidden" id="responsequoteId" name="EntryLineModel[@i].ResponseQuoteId" value="@Model.HardwareQuoteResponse.HardwareResponseID" />
                    }
                    else
                    {
                        <input type="hidden" id="responsequoteId" name="EntryLineModel[@i].ResponseQuoteId" value="0" />
                    }

                    <input type="hidden" name="EntryLineModel[@i].ResonseQuoteType" value="1" />
                </td>
                <td class="from-group">
                    <input type="submit" id="btnSaveItem" class="btn btn-info" value="Save" />
                </td>
            </tr>
            @*i++;
                }*@
        </tbody>
    </table>
    <div class="form-group" style="text-align:center;">
        <input type="hidden" name="hdQuoteId" value="@Model.HardwareQuotes.HardwareQuoteId" />
        @if (Model.HardwareQuoteResponse != null)
        {
            <input type="hidden" name="hdResponseId" value="@Model.HardwareQuoteResponse.HardwareResponseID" />
        }
        else
        {
            <input type="hidden" id="hdResponseId" name="EntryLineModel[@i].ResponseQuoteId" value="0" />
        }
        
        <input type="hidden" name="hdResponseTypeId" value="1" />
        @*<input type="reset" id="btnReset" class="btn btn-info" value="Reset" />*@
    </div>
    }
    <div>
        @*<form id="frm-lineitem" action="/ResponseQuote/SaveResponeLineItem" method="post">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Manufacturer</th>
                            <th>SKU</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Final Price</th>
                            <th>TAX/VAT</th>
                            <th>Total TAX/VAT</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LineItemes)
                        {
                            <tr>
                                <td class="form-group">
                                    <select id="drManufacturer" name="drManufacturer" required class="form-control">
                                        <option>--Select--</option>
                                        @foreach (var maf in Model.Manufacturers)
                                        {
                                            <option value="@maf.Key">@maf.Value</option>
                                        }
                                    </select>
                                </td>
                                <td class="form-group">
                                    <input type="text" class="form-control" id="txtSKU" name="txtSKU" placeholder="SKU" />
                                </td>
                                <td class="form-group">
                                    <select id="drCategory" name="drCategory" class="form-control">
                                        <option>--Select--</option>
                                        @foreach (var cat in Model.Category)
                                        {
                                            <option value="@cat.PartCategoryID">@cat.PartCategoryName</option>
                                        }
                                    </select>
                                </td>
                                <td class="form-group">
                                    <input type="text" class="form-control" id="txtQuauntity" name="txtQuauntity" placeholder="Qunatity" />
                                </td>
                                <td class="form-group">
                                    <input type="text" class="form-control" id="txtUnitPrice" name="txtUnitPrice" placeholder="Unit Price" />
                                </td>
                                <td class="form-group">
                                    <input type="text" class="form-control" id="txtFinalPrice" name="txtFinalPrice" placeholder="Final Price" />
                                </td>
                                <td class="form-group">
                                    <input type="text" class="form-control" id="txtTax" name="txtTax" placeholder="Tax" />
                                </td>
                                <td class="form-group">
                                    <input type="text" class="form-control" id="txtPriceWithTax" name="txtPriceWithTax" placeholder="Price Wtih Tax" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group" style="text-align:center;">
                    <input type="hidden" name="hdQuoteId" value="@Model.HardwareQuotes.HardwareQuoteId" />
                    <input type="hidden" name="hdResponseId" value="1" />
                    <input type="hidden" name="hdResponseTypeId" value="1" />
                    <input type="submit" id="btnSaveItem" class="btn btn-info" value="Save Items" />
                    <input type="reset" id="btnReset" class="btn btn-info" value="Reset" />
                </div>
            </form>*@
    </div>
</div>

<hr />
@*<h4>Quote Response</h4>*@
<div class="table-responsive" id="tblResponse">
    @if (Model.ResponseLineItemes.Count > 0)
    {
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>SKU</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>GSP Margin</th>
                <th>Final Price</th>
                <th>TAX/VAT</th>
                <th>Total TAX/VAT</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ResponseLineItemes.OrderByDescending(x => x.ResponseLineItemId))
                {
                <tr>
                    <td>@Model.Manufacturers.FirstOrDefault(x => x.Key == item.ManufacturerId).Value</td>
                    <td>@item.SKU</td>
                    <td>@Model.Category.FirstOrDefault(x => x.PartCategoryID == @item.CategoryId).PartCategoryName</td>
                    <td>@item.Quantity</td>
                    <td>@item.UnitCostPrice</td>
                    <td>@item.GSPMargin</td>
                    <td>@item.FinalPriceWithoutTax</td>
                    <td>@item.Tax</td>
                    <td>@item.FinalPriceWithTax</td>
                    <td><a onclick='DeleteLineItem(@item.ResponseLineItemId)' style='color: black'><i class='fa fa-trash-o' aria-hidden='true'></i></a></td>
                </tr>
                }
        </tbody>
    </table>
    }

</div>


<script>



    $(function () {
        $('#form-lineItem').on('keydown', '.number', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    });

    $(function () {
        $('#frm-response').on('keydown', '.number', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    });

    function ViewEditModel() {
        $("#divQuoteResponse").css({ 'display': 'none' });
        $("#frmQuoteResponse").css({ 'display': 'block' });
    }

    function DeleteLineItem(id) {
        if (confirm("Are you sure you want to delete?")) {
            $.ajax({
                url: "delete-response-lineitem?id=" + id,
                type: "GET",
                success: function (data) {
                    $("#tblResponse").html(data);
                    $("#tblResponse").css({ 'display': 'block' });
                }
            });
        }
    }

    $(document).ready(function () {

        var dateToday = new Date();
        $('.date-picker').datepicker({
            todayHighlight: true,
            startDate: dateToday,
            autoclose: true
        });

        if ($("#responsequoteId").val() != "0") {
            $("#divQuoteResponse").css({ 'display': 'block' });
            $("#frmQuoteResponse").css({ 'display': 'none' });
        }

        $('.number').keyup(function () {
            var quantity = $("#Quantity").val();
            var cost = $("#UnitCost").val();
            var gspMargin = $("#Uplift").val();
            var finalPrice1 = $("#FinalPrice").val();
            var tax = $("#Tax").val();
            var pricewithtax = $("#PriceWithTax").val();

            finalPrice = quantity * cost;
            $("#FinalPrice").val(finalPrice);

            if (gspMargin > 0) {
                gspMargin1 = (gspMargin / 100) * parseFloat(finalPrice);
                totalVal = gspMargin1 + finalPrice;
                $("#FinalPrice").val(totalVal.toFixed(2));
            }

            if (tax > 0) {
                finalPrice1 = $("#FinalPrice").val();
                tax1 = ((tax / 100) * finalPrice1) + parseFloat(finalPrice1);
                $("#PriceWithTax").val(tax1.toFixed(2));
            }



        });

        

        $("#divResponseTable").on("submit", "#form-lineItem", function (e) {
            e.preventDefault();  // prevent standard form submission

            if ($("#responsequoteId").val() == "0") {
                alert("Please create quote respose.");
                return false;
            }


            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),  // post
                data: form.serialize(),
                success: function (data) {
                    $("#tblResponse").html(data);
                    $("#tblResponse").css({ 'display': 'block' });
                    $('#form-lineItem').trigger("reset");
                }
            });
        });

        $("#frmQuoteResponse").on("submit", "#frm-response", function (e) {
            e.preventDefault();  // prevent standard form submission
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),  // post
                data: form.serialize(),
                dataType: "text",
                success: function (data) {
                    //if($.isNumeric(data))
                    //{
                    //    $("#responsequoteId").val(data);
                    //    $("#frmQuoteResponse").css({ 'display': 'none' });
                    //}
                    //else{
                    //    alert("Quote response already exist.");
                    //}

                    var json = $.parseJSON(data);

                   
                    $("#responsequoteId").val(data);
                    $("#divQuoteResponse").css({ 'display': 'block' });
                    $("#frmQuoteResponse").css({ 'display': 'none' });

                    if (json != "Error") {

                        $("#divDeliveryCharges").html(json.DeliveryCharges);
                        $("#divLeadTime").html(json.LeadTime);
                        $("#divValidityDate").html(json.PriceValidityDate);
                        $("#divPaymentTerms").html(json.PaymentTerms);
                        $("#divQuoteRef").html(json.GSPQuoteReferenceNo);
                        $("#divCurrency").html(json.CurrencyId);
                        $("#devGSPDetails").html(json.GSPDetails);
                        $("#divDetails").html(json.Details);
                        $("#divAdditional").html(json.AdditionalInformation);
                        $("#divSpecial").html(json.SpecialInstructions);


                    }


                }
            });
        });

    });


</script>
