﻿@model OneSourceAdminCore.Model.QuoteDetailModel
@{
    ViewBag.Title = "Quote Detail";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
@if (Model != null)
{
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Quote > Quote Detail (@(Model.QuoteId > 0 ? Model.QuoteId.ToString() : "-")) </b></div>
}
else
{
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Quote > Quote Detail  </b></div>
}
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right">
    </div>
</div>


<div class="os-admin-tabs cards">
    @if (Model != null)
    {
        <ul class="nav nav-tabs" role="tablist" style="margin-top: 25px;">
            <input type="hidden" id="currentTabId" value="@(Session["currentTabId"])" />
            <li role="presentation" class="active"><a href="#quote-detail" aria-controls="home" role="tab" data-toggle="tab">Quote Details</a></li>
            <li role="presentation"><a href="#quote-reqres" onclick="GetView('QuoteRequestResponse')" aria-controls="quote-reqres" role="tab" data-toggle="tab">Request / Response</a></li>
            <li role="presentation"><a href="#quote-hiscom" onclick="GetView('QuoteHistoryComments')" aria-controls="quote-hiscom" role="tab" data-toggle="tab">History / Comments</a></li>
            <li role="presentation"><a href="#quote-attachment" onclick="GetView('QuoteAttachments')" aria-controls="quote-attachment" role="tab" data-toggle="tab">Attachments</a></li>
        </ul>
    <!-- Tab panes -->
        <div class="col-md-12 tab-content">
            <div role="tabpanel" class="tab-pane active" id="quote-detail">
                <input type="hidden" id="QuoteId" value="@(Model == null ? "" : Model.QuoteId.ToString())">
                <input type="hidden" id="hDateFormatId" value="@Session["DateFormatID"].ToString()">


                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    if (Model.QuoteType == "new")
                    {
                        @Html.Partial("~/Views/QuoteSearch/ISD/NewQuote/_QuoteDetail.cshtml", Model)
                    }
                    else
                    {
                        @Html.Partial("~/Views/QuoteSearch/ISD/OldQuote/_QuoteDetail.cshtml", Model)
                    }
                }
                else
                {
                    if (Model.QuoteType == "new")
                    {
                        @Html.Partial("~/Views/QuoteSearch/SFA/NewQuote/_QuoteDetail.cshtml", Model)
                    }
                    else
                    {
                        @Html.Partial("~/Views/QuoteSearch/SFA/OldQuote/_QuoteDetail.cshtml", Model)
                    }
                }


            </div>
            <div role="tabpanel" class="tab-pane" id="quote-reqres">
            </div>
            <div role="tabpanel" class="tab-pane" id="quote-hiscom">
            </div>
            <div role="tabpanel" class="tab-pane" id="quote-attachment">
            </div>
        </div>
        <div class="clearfix"></div>

    }
    else
    {
        <div style="color:red  ; padding-top: 40px;font-size: x-large;"><p>No record found.</p></div>
    }
</div>


<script>
    $(window).load(function () {
        ActivateTabFromUrlOrSession();
    });
    $(function () {

        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        HtmlActions();
    });

    function HtmlActions() {
        $('.date-picker').datepicker({
            autoclose: true
        });
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('.select2-container').parent().css("margin-bottom", "15px");
    }


    $('body').on('click', '.resetDate', function () {

        $(this).parent().parent().find('input').val("");
    });



    $('#backToSearch').click(function () {
        window.location.href = "/searched-quote-list";
    });
    function GetView(viewName) {

        var data = {
            quoteId: $('#quoteId').val(),
            quoteType: '@Model.QuoteType'
        };

        if (viewName == 'QuoteRequestResponse') {

            showHideLoader(1);
            $.ajax({
                url: '/QuoteSearch/GetQuoteRequestResponse',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#quote-reqres').html(data);
                        $('.date-picker').datepicker({
                            autoclose: true
                        });
                        $(".allownumericwithoutdecimal").on("keypress keyup blur", function (event) { if ((event.which < 48 || event.which > 57) && event.which != 8 && event.which != 0 && !event.ctrlKey) { event.preventDefault(); } }).bind("paste", function (e) { e.preventDefault(); });
                        $(".numericwithdecimal").on("keypress keyup blur", function (event) { if ((event.which < 46 || event.which > 57 || event.which == 47) && event.which != 8 && event.which != 0 && !event.ctrlKey) { event.preventDefault(); } if (event.which == 46 && $(this).val().indexOf('.') != -1) { event.preventDefault(); } }).bind("paste", function (e) { e.preventDefault(); });

                        HtmlActionsForAttachment();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else if (viewName == 'QuoteHistoryComments') {
            //
            showHideLoader(1);
            $.ajax({
                url: '/QuoteSearch/GetQuoteHistoryComment',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#quote-hiscom').html(data);
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else if (viewName == 'QuoteAttachments') {
            showHideLoader(1);
            $.ajax({
                url: '/QuoteSearch/GetQuoteAttachments',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#quote-attachment').html(data);
                        
                        HtmlActionsForAttachment();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

    }
    function HtmlActionsForAttachment() {         
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
            $('#headerMsg').text("");
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $('input[type="file"]').change(function () {
            

            if ($(this).get(0).files.length > 0) {

                for (var i = 0; i < $(this).get(0).files.length; i++) {

                    var name = $(this).get(0).files[i].name;
                    name = name.substring(0, name.lastIndexOf('.'));

                    if (name.length > 100) {
                        alert('File name is too long, File name must have 100 or less characters');
                        $(this).val('');
                        return false;
                    }

                }


            }
        });

    }
</script>

