﻿@model OneSourceAdminCore.Model.QuoteSearchModel
@{
    ViewBag.Title = "Quote Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Search > Quote </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back" type="button" style="float: right">
    </div>
</div>
@using (Html.BeginForm("QuoteSearchRequest", "QuoteSearch", FormMethod.Post, new { @id = "QuoteSearchForm" }))
{
<div class="os-admin-companies">
    <!-- Tab panes -->
    <div class="clearfix"></div>
    <div class="col-md-6">
                
        <div class="col-md-12" style="margin-bottom: 15px;">
            <form>
                <label class="radio-inline">
                    <input type="radio" value="new" @(Model.quoteType=="new"?"Checked":"") name="optradio">New
                </label>
                <label class="radio-inline" style="margin-left: 100px;">
                    <input type="radio" value="old" @(Model.quoteType=="old"?"Checked":"") name="optradio">Old / Historic</label>                
            </form>
            <input type="hidden" name="quoteType" id="quoteType"  value="@(Model.quoteType)">
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            <label>Quote #:</label>
        </div>
        <div class="col-md-8 order-tracking-input">
            <input type="text" name="quoteNumber" maxlength="6" class="form-control allowNumWoutDecimalWPast">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Customer:</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("customerid", new SelectList(Model.Customers,
                 "customerid", "customername"),
        new { @id = "customerid" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Quote Status:</label>
        </div>
        <div class="col-md-8">
            <input type="hidden" name="StrStatus" id="StrStatus">
            @Html.DropDownList("quoteStatusId", new SelectList(Model.QuoteStatus,
                 "Key", "Value"),
        new { @id = "quoteStatusId", @multiselectidfor = "StrStatus", @class = "form-control", @multiple = "multiple" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Country:</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("countryid", new SelectList(Model.Countries,
                 "countryid", "countryname"),
        new { @id = "countryid" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Description (Request):</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="descriptionRequest" maxlength="50" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>SKU (Response):</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="skuResponse" maxlength="30" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Category (Response):</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("partcategoryid", new SelectList(Model.CategoryResponses,
                 "partcategoryid", "partcategoryname"),
        new { @id = "partcategoryid" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Requested After:</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" name="requestedAfterDate" value="" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <label>Quote Reference:</label>
        </div>
        <div class="col-md-8 order-tracking-input">
            <input type="text" name="quoteReference" maxlength="50" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Requested By:</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("contactid", new SelectList(Model.RequestedBy,
                 "contactid", "contactname"),
        new { @id = "contactid" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Supplier:</label>
        </div>
        <div class="col-md-8">
            <input type="hidden" name="StrSuppliers" id="StrSuppliers">
            @Html.DropDownList("sfaid", new SelectList(Model.Suppliers,
                 "sfaid", "sfaname"),
        new { @id = "sfaid", @multiselectidfor = "StrSuppliers", @class = "form-control", @multiple = "multiple" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Manufacturer (Request):</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="manufacturerRequest" maxlength="50" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Manufacturer (Response):</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("manufacturerid", new SelectList(Model.ManufacturerResponses,
                 "manufacturerid", "manufacturername"),
        new { @id = "manufacturerid" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Description (Response):</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="descriptionResponse" maxlength="50" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Requested Before:</label>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" name="requestedBeforeDate" value="" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button type="button" class="btn btn-default resetcontrol" style="float:right; margin-left:20PX; " id="per">Reset</button>
                    <a href="#">
                        <button id="btnSearchOrder" type="submit" class="btn btn-default" style="float:right;  margin-left:20PX;" id="per" onclick="">Search</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
  
</div>
}
<script>
    $('#backToSearch').click(function () {
        window.location.href = "/admin-dashboard";
    });
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
        $('.select2-container').parent().css("margin-bottom", "15px");
        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });
    });

    $('#customerid').change(function () {
        StartLoader();
        window.location.href = "/search-quote/" + $('#customerid').val() + "/" + $('#quoteType').val();
    });
    $('input[name="SessionTrackingNumber"]').keypress(function () {
        $(this).siblings().val($(this).val())
    });
    $('#OrderSearchForm').submit(function () {
        StartLoader();
    });
    $('.resetcontrol').click(function () {
        $('input:text').val("");
        $('.select2-container').select2('val', '0');
        $('select[multiple="multiple"]').val("");
        $('#StrStatus').val("");
        $('#StrSuppliers').val("");
        
    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    $("input[name=optradio]:radio").change(function () {
        StartLoader();
        window.location.href = "/search-quote/" + $('#customerid').val() + "/" + $(this).val();
    });
    $('#QuoteSearchForm').submit(function () {
        StartLoader();
    });
</script>