﻿@model OneSourceAdminCore.Model.TicketHistoryModel
<div class="col-md-12">
    <h2>History:</h2>
</div> 
    <div class="col-md-12 update-btn my-table-ovrflw">
        <div class="col-md-12 table-scrollable" style="max-height:350px;    overflow-y: scroll;    padding-left: 0px;
    padding-right: 0px;">
            <table class="table">
                <thead style="color: #fff;background-color: #399bd3;">
                    <tr>                                               
                        <th style="font-size: 10px;">Log Date</th>
                        <th style="font-size: 10px;">Update By</th>
                        <th style="font-size: 10px;">Event</th>
                        <th style="font-size: 10px;">Status</th>
                        <th style="font-size: 10px;">Comments</th>
                        <th style="width: 50px;font-size: 10px;">Visible?</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.LstTicketHistory)
                    {
                        if (!string.IsNullOrEmpty(item.Comments))
                        {
                        <tr>      
                            <td style="">
                                <span title="Log Date" data-toggle="tooltip">@(item.Logdate)</span>
                            </td>
                            <td style="">
                                <span title="Update By" data-toggle="tooltip">@(item.UserName ?? "")</span>
                            </td>
                            <td style="">
                                <span title="Event" data-toggle="tooltip">@(item.ActionName ?? "")</span>
                            </td>
                            <td style="">
                                <span title="Status" data-toggle="tooltip">@(item.TktStatusName ?? "")</span>
                            </td>
                            <td style="">
                                <span title="Comments" data-toggle="tooltip">@(item.Comments ?? "")</span>
                            </td>
                            <td>
                                <input type="checkbox" class="cItemChk" @(item.IsPublic ? "checked" : "") onclick="changeVisible(this,@item.TicketLogID)">
                            </td>

                        </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
@*@using GridMvc.Html
@if (Model != null && Model.LstTicketHistory.Count > 0)
{
    <div>
        
        @Html.Grid(Model.LstTicketHistory).Columns(columns =>
   {
   columns.Add(C => C.Logdate).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Log Date").SetWidth(150);
   columns.Add(C => C.UserName).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Update By").SetWidth(150);
   columns.Add(C => C.ActionName).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Event").SetWidth(150);
   columns.Add(C => C.TktStatusName).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Status").SetWidth(150);
   columns.Add(C => C.Comments).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Comments").SetWidth(150);
   columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Visible?").RenderValueAs(o => @<input type="checkbox" class="cItemChk" @(o.IsPublic ? "checked" : "") onclick="changeVisible(this,@o.TicketLogID)">);
   }).WithPaging(15, 2, "address-page")
    </div>
}*@

<div class="col-md-12">
    <h2>Comments:</h2>
</div>
<div class="col-md-3"></div>
<div class="col-md-6">
@using (Html.BeginForm("UpdateTicketComment", "TicketSearch", FormMethod.Post, new { @id = "TicketSearchCForm" }))
{

    <div class="col-md-4" style="padding-left: 0;">       
    </div>
    <div class="col-md-4">     
    </div>
    <div class="col-md-4" style="padding-right: 0;">
        <input type="submit" id="per" class="form-control pull-right addComment" value="Add Comments" />
    </div>
    <textarea name="hcomments" cols="10" rows="6" maxlength="2000" class="form-control orderComment"></textarea>
    <span><b>Note: The maximum character length of comments is 2000.</b></span>
}
</div>
<div class="col-md-3"></div>

<div class="col-md-12">
    <h2>Resolution:</h2>
</div>
<div class="col-md-3"></div>
<div class="col-md-6">
@using (Html.BeginForm("UpdateTicketResolution", "TicketSearch", FormMethod.Post, new { @id = "TicketSearchRForm" }))
{
    <div class="col-md-4" style="padding-left: 0;">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4" style="padding-right: 0;">
        <input type="submit" id="per" class="form-control pull-right addResolution" value="Add Resolution" />
    </div>
    <textarea name="resolution" cols="10" rows="6" maxlength="1000" class="form-control orderComment" >@(Model.resolution??"")</textarea>
    <span><b>Note: The maximum character length of resolution is 1000.</b></span>
}
</div>
<div class="col-md-3"></div>

<script>
    function changeVisible(element, TicketLogID) {
        
        showHideLoader(1);
        data = {
            ticketLogID: TicketLogID,
            isPublic: $(element).prop("checked")
        }
        $.ajax({
            url: '/TicketSearch/UpdateTicketLog',
            type: 'POST',
            data: data,
            dataType: 'html',
            success: function (data) {               
                if (data == "1") {
                    showNotification("Ticket log visible is change successfully");
                    
                    setTimeout(function () {
                        GetView("TicketHistory");
                    }, 2000);
                    HtmlActions();
                }
                else if (data == "-1") {
                    showNotification("Error occured");
                }
                else if (data == "0") {
                    showNotification("Please provide correct data");
                }

            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }
    $('#TicketSearchCForm').submit(function () {       
        if ($('textarea[name="hcomments"]').val().trim()=="") {
            alert("Please provide comments");
            return false;
        }
        StartLoader();
    });
    $('#TicketSearchRForm').submit(function () {
        if ($('textarea[name="resolution"]').val().trim() == "") {
            alert("Please provide resolution");
            return false;
        }
        StartLoader();
    });
</script>