﻿@model OneSourceAdminCore.Model.OneStreetCustomerManufacturerModel
@{
    ViewBag.Title = "Manufacturer Setup";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>
<script src="~/Content/js/jquery.cookie.js"></script>
<script>
    var myApp = angular.module("myModule", []);
    myApp.controller("myController", function ($scope, $http) {
       
        $scope.getManufacturers = function (id) {
          //  sortManufacturer();
            if (id != "") {
                StartLoader();
                sortManufacturer();
                $http.get('/OstCustomerManufacturer/GetCustomerManufacturer' + '?' + new Date().toString(), { params: { customerId: id } }).success(function (response) {

                    $('.chkMan').prop("checked", false);
                    var selectedManufacturer = "";
                    $.each(response, function (i, v) {
                        if (v > 0) {
                            $('.table :input[value="' + v + '"]').prev().prop("checked", "true");
                            selectedManufacturer += v + ",";
                        }
                    });

                    //for rearrange seleted rows
                    var selectedRows = [];
                    $('.chkMan').each(function (e, t) {
                        if ($(t).prop("checked")) {
                            selectedRows.push($(t).parent().parent());
                            //
                            $('.tblMfg').find($(t).parent().parent()).remove();//find tr and remove
                        }

                    });
                    if (selectedRows.length > 0) {

                        var options = [];
                        $.each(selectedRows, function (e, r) {
                            options.push(r);
                        });
                        $('.tblMfg').prepend(options);

                    }
                    setTimeout(function () {
                        if ($('.chkMan').length == selectedRows.length) {
                            $('.pchkMan').prop("checked", true);
                        }
                        else {
                            $('.pchkMan').prop("checked", false);
                        }
                    }, 100);
                    //


                    selectedManufacturer.length == 0 ? $('input[name="manufacturerIds"]').val("") : $('input[name="manufacturerIds"]').val(selectedManufacturer.substring(0, selectedManufacturer.length - 1));

                    setcheckboxes();
                    EndLoader();
                });
            }
            else {
                $('.btnReset').click();
                setcheckboxes();
            }
        };
    });
    function sortManufacturer() {
        var spans = $('.tblMfg').find('td span');
        function Comparator(a, b) {
            if ($(a).text().toLowerCase() < $(b).text().toLowerCase()) return -1;
            if ($(a).text().toLowerCase() > $(b).text().toLowerCase()) return 1;
            return 0;
        }
        spans = spans.sort(Comparator);
        trHtml = [];
        $.each(spans, function (i, v) {
            trHtml.push($('td span:contains("' + $(v).text() + '")').parent().parent());
        });
        $('.tblMfg').html(trHtml);
    }
</script>
<div ng-app="myModule" ng-controller="myController" id="myController">
    <div class="clearfix"></div>
    <div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
        margin-right: -19px;">
        @* Adnan 21-june-2019 *@
        <div class="col-md-7" style="padding: 10px; color: #FFF;">

            <div class="col-md-3" style="padding:10px; color:#FFF;"><b> OneStreet > Manufacturer Setup</b></div>
            <div class="col-md-3" style="padding:10px;"></div>
            <div class="col-md-3" style="padding:10px;"></div>
        </div>
        <div class="col-md-5" style="padding: 7px; text-align:right;">
            <div style="float:right">
                @using (Html.BeginForm("ExportToExcel", "OstCustomerManufacturer", FormMethod.Post, new { @id = "CatalogReportExcel" }))
                {
                    <input type="hidden" name="customerId" id="customerId" value="@ViewBag.CustomerId " />
                    <div style="">
                        <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="margin-right: 13px;margin-top: 10px;">Export to excel</button>
                    </div>
                }
            </div>

        </div>
    </div>
    <div style=" text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span>@ViewBag.Message</span>
            </div>
        }
    </div>

    @using (Html.BeginForm("UpdateCustomerManufacturerSetting", "OstCustomerManufacturer", FormMethod.Post, new { @id = "CMForm" }))
    {
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">* </span>Customer </label>
                    <div class="col-md-6">
                        <input type="hidden" name="CustomerName" id="CustomerName">
                        <input type="hidden" name="CustomerAlertId" id="CustomerAlertId">
                        @Html.DropDownList("customerId", new SelectList(Model.Customers,
             "Key", "Value"),
new { @id = "CustomerID", @valueFor = "CustomerName", @class = "", @tabindex = "-1" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8" style="margin-top: 15px;padding-right:0px">
                <b style="float: right;"><span id="totalCount">Selected Manufacturer(s) : 0</span></b>
                <table class="table" style="margin-bottom: 0px;">
                    <thead style="color: #fff;background-color: #399bd3;">
                       
                        <tr>
@if (ViewBag.AddEditAccess == true)
{
                            <th style="width: 22%;font-size: 10px;">
                                <input type="checkbox" class="pchkMan"><br />
                                Check/Uncheck All
                            </th>
}
                            <th style="width: 85%;font-size: 17px;">Manufacturers <input type="text" placeholder="Search manufacturers" class="form-control searchMfg searchGridResult" /></th>
                        </tr>
                        
                    </thead>
                </table>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8" style="max-height:350px;overflow-x:hidden">

                <table class="table tblMfg">
                    <tbody>
                        @foreach (var item in Model.Manufacturers)
                        {
                            <tr>
                                <td style="width: 22%"><input type="checkbox" class="chkMan" @(ViewBag.AddEditAccess == true?"":"disabled")><input type="hidden" value="@item.Key" /></td>
                                <td>
                                    <span>@item.Value</span>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                <input type="hidden" name="manufacturerIds" />

            </div>

        </div>

        if (ViewBag.AddEditAccess == true)
        {
        <div class="row" style="margin-top: 15px;">

            <div class="col-md-4"></div>
            <div class="col-md-7" style="padding-left: 23px;">
                <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
            </div>
            <br>
            <br>
        </div>
            }
        }

</div>
<script>

    $(function () {
        StartLoader();

        var url = window.location.href.split('?');
        if (url.length > 1) {
            var customerId = url[1].split('&')[0].split('=')[1];
            angular.element(document.getElementById('myController')).scope().getManufacturers(customerId);
        }


        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);
    });

    $(window).ready(function () {
        EndLoader();

    });


    $('#CustomerID').change(function () {
        $("#customerId").val($(this).val());//Adnan 21-june-2019
        angular.element(document.getElementById('myController')).scope().getManufacturers($(this).val());
    });

    function setcheckboxes() {
        var count = 0;
        var manufacturers = "";
        $('.chkMan').each(function () {
            if ($(this).is(":checked")) {
                manufacturers += $(this).siblings().val() + ",";
                count++;
            }
        });
        if (manufacturers.length > 0) {
            manufacturers = manufacturers.substring(0, manufacturers.length - 1);
            $('input[name="manufacturerIds"]').val(manufacturers);
        }
        else {
            $('input[name="manufacturerIds"]').val("");
        }

        $('#totalCount').text("Selected Manufacturer(s) : " + count);

    }

    $('.chkMan').click(function () {
        setcheckboxes();
    });
    $('body').on('click', 'input.chkMan', function () {
        setcheckboxes();
    });
    $('body').on('click', 'input.pchkMan', function () {

        if ($(this).is(":checked")) {
            $('.chkMan').prop("checked", true);
            setcheckboxes();
        }
        else {
            $('input[name="manufacturerIds"]').val("");
            $('.chkMan').prop("checked", false);
            $('#totalCount').text("Selected Manufacturer(s) : 0");
        }
    });
    $('.btnReset').click(function () {
        $('#CustomerID').val("");
        $('input[name="manufacturerIds"]').val("");
        $('.chkMan').prop("checked", false);
        $('.pchkMan').prop("checked", false);
        setcheckboxes();
    });
    $('#CMForm').submit(function () {

        if ($('#CustomerID').val() == "") {
            alert("Customer and manufacturer are required");
            return false;
        }
        StartLoader();
        setcheckboxes();
    });

    $(document).ready(function () {
        $(".page-sidebar-menu").find(".onestreet").addClass("open");
        $(".page-sidebar-menu .onestreet").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .onestreet").find(".manufacturersetup").addClass("active");

        $("#CustomerID").prepend("<option value='0'>--Select--</option>");
        $("#CustomerID").select2().val("0").trigger("change");
    });
    $("#exportExcel").on("click", function (e) {
        var customerId = parseInt($("#customerId").val() || 0);
        if (customerId == 0) {
            alert("please select customer");
            return false;
        } else {
            StartLoader();
            var newForm = $('#CatalogReportExcel');
            checkExcelCookie();
            newForm.submit();
        }


    });
    function checkExcelCookie() {
        var cookieVal = $.cookie('excelDownloadStatus');
        if (cookieVal == null || cookieVal === 'undefined' || cookieVal === 'pending') {
            setTimeout("checkExcelCookie();", 1000);
        }
        else {
            $.removeCookie('excelDownloadStatus', { path: '/' })
            EndLoader();
        }
    }
</script>