﻿@model IEnumerable<OneSourceAdminCore.Entity.sp_getShippingCostInfo_R_Result>
@using GridMvc.Html


<div class="row">


    @if (Model != null)
    {
        @Html.Grid(Model).Columns(columns =>
{
columns.Add(c => c.CustomerName).Sortable(true).Filterable(true).Titled("Customer").SetWidth(50);
columns.Add(c => c.SFAName).Sortable(true).Filterable(true).Titled("Supplier").SetWidth(50);
columns.Add(c => c.PartCategoryName).Sortable(true).Filterable(true).Titled("Category").SetWidth(50);
//columns.Add(c => c.MinQty).Sortable(true).Filterable(true).Titled("Min").SetWidth(30);
columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Quantity Range").RenderValueAs(x => @<span>@x.MinQty <span> - </span> @x.MaxQty</span>);
columns.Add(c => c.ShippingCostInUSD).Sortable(true).Filterable(true).Titled("Shipping Cost ($)").SetWidth(30);

columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action")
.RenderValueAs(x => @<span><a style="color: blue" href="/shippingcost/index?shippingcostId=@x.ShippingCostId">Edit </a> | <span class="deleteShippingCost" shippingcostId="@x.ShippingCostId" supplierId="@x.SupplierId" customerId="@x.CustomerId" categoryId="@x.CategoryId" style="color: blue;cursor: pointer">Delete</span></span>);
}).WithPaging(15)
    }



</div>
