﻿@model OneSourceAdminCore.Model.ShippingCostModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">

    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Setting > Shipping Cost </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-3" style="padding:10px;"></div>
</div>


<input name="ShippingCostID" value="@Model.ShippingCostID" type="hidden" id="ShippingCostID" />
<div class="row" style="margin-top: 48px;">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-3"><span style="color:red">* </span> Customer:</label>
            <div class="col-md-6">
                <select id="Customerddl" name="CustomerId">
                    <option value="0">--select--</option>
                    @foreach (var item in Model.ListCustomer)
                    {
                        <option @(Model.CustomerID.ToString() == item.Value ? "selected=selected" : "") value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblCustomer" style="color:red">

                </span>

            </div>
        </div>
    </div>

</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-3"><span style="color:red">* </span> Supplier:</label>
            <div class="col-md-6">
                <select id="Supplierddl"  name="SupplierId">
                    <option value="0">--select--</option>
                    @foreach (var item in Model.ListSupplier)
                    {
                        <option @(Model.SupplierID.ToString() == item.Value ? "selected=selected" : "") value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblSupplier" style="color:red">

                </span>

            </div>
        </div>

    </div>

</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">


    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-3"><span style="color:red">* </span> Category:</label>
            <div class="col-md-6">
                <select id="Categoryddl" name="CategoryId">
                    <option value="0">--select--</option>
                    @foreach (var item in Model.ListPartCategory)
                    {
                        <option @(Model.CategoryID.ToString() == item.Value ? "selected=selected" : "") value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="col-md-3" style="margin-top:5px;">
                <span id="lblCategory" style="color:red">

                </span>

            </div>
        </div>

    </div>

</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-3">
                <span style="color:red">* </span> Quantity Range :
            </label>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <input id="MinQtytxt" type="number" min="0" class="form-control" name="MinQty" value="@Model.MinQty" placeholder="Min">
                    </div>
                    <div class="col-md-3">
                        <input id="MaxQtytxt" type="number" min="0" class="form-control" name="MaxQty" value="@Model.MaxQty" placeholder="Max">
                    </div>

                </div>
            </div>

            <div class="col-md-2" style="margin-top:5px;">
                <span id="lblQtyLimit" style="color:red">

                </span>

            </div>


        </div>

    </div>

</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">


    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-3">
                <span style="color:red">* </span> Shipping Cost:
            </label>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control" type="number" min="0" name="ShippingCostInUSD" value="@Model.ShippingCostInUSD" id="ShippingCostInUSDtxt" />
                    <span class="input-group-addon">$</span>
                </div>
            </div>
            <div class="col-md-2" style="margin-top:5px;">
                <span id="lblShippingCost" style="color:red">

                </span>

            </div>
        </div>


    </div>

</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align:right;">
        <div class="form-group">
            <div class="col-md-7 col-md-offset-2">
                <button type="button" class="btn btn-default btnReset" style="margin-left:20px;margin:0px;background-color: #3b9cd3; color:white;" id="btn_reset">Reset</button>
                <button type="submit" class="btn btn-default btnSubmit" style="margin-left: 5px;background-color: #3b9cd3; color:white;" id="AddEditShippingCost">Submit</button>
            </div>
        </div>
    </div>

</div>



<br>
<br>
<div class="row">
    <div class="col-md-12">


        @using GridMvc.Html;

        @Html.Grid(Model.ShippingCostList).Columns(columns =>
             {
             columns.Add(c => c.CustomerName).Sortable(true).Filterable(true).Titled("Customer").SetWidth(50);
             columns.Add(c => c.SFAName).Sortable(true).Filterable(true).Titled("Supplier").SetWidth(50);
             columns.Add(c => c.PartCategoryName).Sortable(true).Filterable(true).Titled("Category").SetWidth(50);
             //columns.Add(c => c.MinQty).Sortable(true).Filterable(true).Titled("Min").SetWidth(30);
             columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Quantity Range").RenderValueAs(x => @<span>@x.MinQty <span> - </span> @x.MaxQty</span>);
             columns.Add(c => c.ShippingCostInUSD).Sortable(true).Filterable(true).Titled("Shipping Cost ($)").SetWidth(30);

             columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action")
            .RenderValueAs(x => @<span><a style="color: blue" href="/shippingcost/index?shippingcostId=@x.ShippingCostId">Edit </a> | <span class="deleteShippingCost" shippingcostId="@x.ShippingCostId" supplierId="@x.SupplierId" customerId="@x.CustomerId" categoryId="@x.CategoryId" style="color: blue;cursor: pointer">Delete</span></span>);
             }).WithPaging(15)

    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        $('#Customerddl').select2();
        $("#Supplierddl").select2();

        $('#Categoryddl').select2();



    });

    $('#Supplierddl').change(function () {
        StartLoader();
        window.location.href = "/ShippingCost/Index?customerId=" + $("#Customerddl").val() + "&supplierId=" + $(this).val() + "&categoryId=" + $("#Categoryddl").val();

    });

    $('#Customerddl').change(function () {

        StartLoader();
        window.location.href = "/ShippingCost/Index?customerId=" + $(this).val() + "&supplierId=" + $('#Supplierddl').val() + "&categoryId=" + $('#Categoryddl').val();

    });

    $('#Categoryddl').change(function () {

        StartLoader();
        window.location.href = "/ShippingCost/Index?customerId=" + $("#Customerddl").val() + "&supplierId=" + $('#Supplierddl').val() + "&categoryId=" + $(this).val();

    });

    $(".deleteShippingCost").click(function () {

        var customerId = $(this).attr("customerId");
        var categoryId = $(this).attr("categoryId");
        var supplierId = $(this).attr("supplierId");
        var shippingCostId = $(this).attr("shippingcostId");

        var chkConfirm = confirm("Are you sure you want to delete shipping cost?");

        if (chkConfirm) {
            StartLoader();
            $.ajax({
                url: "/ShippingCost/DeleteShippingCost?shippingCostId=" + shippingCostId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    EndLoader();
                    if (data.Result) {
                        showNotification(data.Message);
                        window.location.href = "/ShippingCost/Index?customerId=" + customerId;
                    }
                },
                error: function (err) {
                    EndLoader();
                    alert(err);
                }
            });


        }
    });

    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }

    $('#AddEditShippingCost').click(function () {
        var jsonData = {};
        var minQty = parseInt($('#MinQtytxt').val() || 0);
        var maxQty = parseInt($('#MaxQtytxt').val() || 0);
        var ShippingCostInUSD = parseFloat($("#ShippingCostInUSDtxt").val() || 0);

        if (($("#Customerddl").val() == "" || $("#Customerddl").val() == null || $("#Customerddl").val() == "0") || $("#Customerddl").val() == "null") {
            showValidationError("Please select customer", "lblCustomer");
            return false;

        }
        if (($("#Supplierddl").val() == "" || $("#Supplierddl").val() == null || $("#Supplierddl").val() == "0") || $("#Supplierddl").val() == "null") {
            showValidationError("Please select supplier", "lblSupplier");
            return false;

        }
        if (($("#Categoryddl").val() == "" || $("#Categoryddl").val() == null || $("#Categoryddl").val() == "0") || $("#Categoryddl").val() == "null") {
            showValidationError("Please select category", "lblCategory");
            return false;

        }

        if (minQty == "" || minQty == null || minQty == 0 || maxQty == "" || maxQty == null || maxQty == 0) {
            showValidationError("Please enter a Qty Limit", "lblQtyLimit");
            return false;
        }
        if (minQty == maxQty) {
            showValidationError("min qty cannot be equal to max qty", "lblQtyLimit");
            return false;
        }
        if (minQty > maxQty) {
            showValidationError("min qty cannot be greater then max qty", "lblQtyLimit");
            return false;
        }
        if (ShippingCostInUSD == 0) {
            showValidationError("Please enter a Shipping Cost", "lblShippingCost");
            return false;
        }

        jsonData["MinQty"] = minQty;
        jsonData["MaxQty"] = maxQty;
        jsonData["ShippingCostInUSD"] = ShippingCostInUSD;
        jsonData["CustomerID"] = $("#Customerddl").val();
        jsonData["SupplierID"] = $("#Supplierddl").val();
        jsonData["CategoryID"] = $("#Categoryddl").val();
        jsonData["ShippingCostID"] = $("#ShippingCostID").val();

        StartLoader();

        $.ajax({
            url: '/ShippingCost/AddEditShippingCost',
            type: 'GET',
            data: jsonData,
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                EndLoader();
                if (data.Result) {
                    showNotification(data.Message);
                    window.location.href = "/ShippingCost/Index?customerId=" + $("#Customerddl").val();
                } else {
                    showNotification(data.Message);
                }
            },
            error: function (err) {
                EndLoader();
                alert(err);

            }
        });
    });

    $('#btn_reset').click(function () {

        window.location.href = '/shippingcost/index';
    });


</script>
