﻿@model OneSourceAdminCore.Model.CustomerModel
@{
    ViewBag.Title = "Customer Alerts";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .input-medium {
        width: 270px !important;
    }
</style>

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;"><b> Alert > Customer </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
@if (ViewBag.AddEditAccess == true)
{
    using (Html.BeginForm("AddCustomerAlert", "Customer", FormMethod.Post, new { @id = "CustomerForm" }))
    {
    @*<div class="row" style="background-color: #3a9ada; padding: -10px; margin-left: -20px; margin-top: 30px; margin-right: -19px;">
        <div class="col-md-4">
            <h1 style="color: #fff;">Customer</h1>
        </div>
        <div class="col-md-4" style="font-size: 32px; color: #FFF; padding: 18px; padding-top: 2px;">
        </div>
        <div class="col-md-4"></div>
    </div>*@
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3" ><span style="color:red">* </span>Customer </label>
                <div class="col-md-7">
                    <input type="hidden" name="CustomerName" id="CustomerName">
                    <input type="hidden" name="CustomerAlertId" id="CustomerAlertId">
                    @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
                 "Key", "Value"), "--Select--",
new { @id = "CustomerID", @valueFor = "CustomerName", @class = "form-control ", @tabindex = "-1" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Start Date</label>
                <div class="col-md-5">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.Date" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                        <input type="text" name="StartDate" value="@DateTime.Now.Date.Date.ToString("MM/dd/yyyy")" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color: red; padding-left: 11px;"> </span>End Date</label>
                <div class="col-md-5">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.Date" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                        <input type="text" name="EndDate" value="@DateTime.Now.Date.Date.ToString("MM/dd/yyyy")" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">* </span>Alert</label>
                <div class="col-md-7" style=" height: 100px !important;">
                    <textarea rows="4" name="Alert" class="form-control" cols="45"></textarea>
                  
                    @*<button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
            <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <label class="control-label col-md-3"><span style="color: red; padding-left: 11px;"> </span>Top Story</label>
            <div class="col-md-7">
                <div class="">
                    <input type="hidden" name="IsTopStory" id="IsTopStory">
                    <input type="checkbox" id="chkTopStory">
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top: 15px;">

        <div class="col-md-4"></div>
        <div class="col-md-7" style=" padding-left: 23px;">
            <button type="submit" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
            <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
        </div>
        <br>
        <br>
    </div>

    }
}
<br>
<br>
<div class="row">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.CustomerAlerts != null && Model.CustomerAlerts.Count > 0)
        {
            @Html.Grid(Model.CustomerAlerts).Columns(columns =>
            {
                columns.Add(C => C.CustomerName).Sortable(true).Filterable(true).Titled("Customer").Encoded(false).Sanitized(false).SetWidth(5)
                    .RenderValueAs(o => @<span><input type="hidden" value="@o.CustomerAlertId"><input type="hidden" value="@o.CustomerId"><input type="hidden" value="@o.IsTopStory.ToString()">@o.CustomerName</span>);
                columns.Add(c => c.strStartDate).Sortable(true).Filterable(true).Titled("Start Date").SetWidth(30);
                columns.Add(c => c.strEndDate).Sortable(true).Filterable(true).Titled("End Date").SetWidth(30);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Alert").
                    SetWidth(30).RenderValueAs(x => @<span fullval="@x.Alert">@(x.Alert.Length > 50 ? x.Alert.Substring(0, 50) + "..." : x.Alert)</span>);
            if (ViewBag.AddEditAccess == true)
            {
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
                    RenderValueAs(o => @<a style="color: blue" onclick=" EditAlert(this) ">Edit </a>);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
                    RenderValueAs(o => @<a style="color: blue" onclick=" DeleteAlert(this) ">Delete </a>);

                }
            }).WithPaging(15)
        }
    </div>
</div>


<script>
    $(document).ready(function () {
        StartLoader();
        var dateToday = new Date();
        $('.date-picker').datepicker({
            todayHighlight: true,
            startDate: dateToday,
            autoclose: true
        });
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);
    });
    $(window).load(function () {
        EndLoader();
    });
    function EditAlert(event) {
        var id = $($(event).parent().parent().find('input:hidden')[0]).val();
        $('#CustomerAlertId').val(id);
        id = $($(event).parent().parent().find('input:hidden')[1]).val();
        $('#CustomerID').val(id);
        $('#CustomerName').val($(event).parent().parent().find("td[data-name='CustomerName']").find('span').text());
        var date = $(event).parent().parent().find("td[data-name='strStartDate']").text();
        $("input[name='StartDate']").val(date);
        date = $(event).parent().parent().find("td[data-name='strEndDate']").text();
        $("input[name='EndDate']").val(date);
        $("textarea[name='Alert']").val($(event).parent().parent().find("td[data-name='strEndDate']").next().find('span').attr('fullval'));
        $('body').animate({ scrollTop: 0 }, 'slow');

        $('#CustomerID').attr('disabled', 'disabled');
        var isTopStory = $($(event).parent().parent().find('input:hidden')[2]).val();
        if (isTopStory === "True") {
            $('#chkTopStory').prop("checked", true);
            $('#IsTopStory').val('True');
        } else {
            $('#chkTopStory').prop("checked", false); 
            $('#IsTopStory').val('False');
        }
      
    }

    function DeleteAlert(event) {
        if (confirm("Are you sure you want to delete this record?")) {
            StartLoader();
            var currentCustomerId = $(event).parent().parent().find('input:hidden').val();
            window.location.href = '/Customer/DeleteAlert?id=' + currentCustomerId;
        }
    }

    //For Customer
    $("#CustomerID").change(function () {
        $('#CustomerAlertId').val('0');
    });

    $('#CustomerForm').submit(function () {
        if ($("#CustomerID").val() === '') {
            alert('Please provide customer');
            return false;
        }
        if ($("input[name='StartDate']:text").val().trim() === '') {
            alert("Please provide start date");
            return false;
        }
        if ($("input[name='EndDate']:text").val().trim() !== '') {
            if (new Date($("input[name='StartDate']:text").val()) > new Date($("input[name='EndDate']:text").val())) {
                alert("Please provide start date less than end date");
                return false;
            }
        }

        if ($("textarea[name='Alert']").val().trim() === '') {
            alert('Please provide alert');
            return false;
        }
        $('#CustomerID').removeAttr('disabled');
        StartLoader();
    });

    $('.btnReset').click(function () {
        $('#CustomerAlertId').val('0');
        $('#CustomerID').val('');
        $("input[name='StartDate']").val('');
        $("input[name='EndDate']").val('');
        $("textarea[name='Alert']").val('');
        $('#CustomerID').removeAttr('disabled');
        $('#chkTopStory').prop("checked", false);
    });

    $('.date-picker').click(function () {
        if ($(this).find('input').val().trim() !== '') {
            $(this).datepicker("setDate", new Date($(this).find('input').val()));
        }
    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('.date-picker').datepicker("setDate", "+0");
        $(this).parent().siblings().find('input').val("");
    });
    $('#chkTopStory').click(function () {
        $('#IsTopStory').val($(this).prop('checked'));
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".alert").addClass("open");
        $(".page-sidebar-menu .alert").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .alert").find(".customeralert").addClass("active");
    });
</script>
