﻿@model OneSourceAdminCore.Model.TicketDetailModel
@using System.Configuration;
@using System;
<div role="tabpanel" class="tab-pane active" id="home">
    <div class="col-md-12 back-btn" style="padding-bottom: 15px;">
        @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print Excel</button>*@
        <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="downloadPDF()">Print PDF</button>
        @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print</button>*@
    </div>

    @using (Html.BeginForm("UpdateTicket", "TicketSearch", FormMethod.Post, new { @id = "TicketSearchForm" }))
    {

        <div class="col-md-6">

            <input type="hidden" name="assetid" value="@(Session["FinalAssetId"]==null ? "": Session["FinalAssetId"].ToString())" id="Hidden1">
            <input type="hidden" name="serialnum" value="@(Session["FinalSerialNumber"]==null ? "": Session["FinalSerialNumber"].ToString())">
            <input type="hidden" name="assettagnum" value="@( Session["FinalAssetTag"]==null ? "": Session["FinalAssetTag"].ToString())" id="Hidden2">
            <input type="hidden" name="ticketid" value="@(Model.TicketId)">
            <input type="hidden" name="addressid" value="@(Model.TicketDetail.addressid)">
            <input type="hidden" name="requesttimezoneid" value="@(Model.TicketDetail.requesttimezoneid)">

            <div class="col-md-4">
                <label>Submitted By:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.TicketDetail.username ?? "")</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Company:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.TicketDetail.parentcompanyname ?? "")</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Location:</label>
            </div>
            <div class="col-md-8">
                @if (Model.IsCustomer > 0)
                {
                    <p>@( string.IsNullOrEmpty(Model.TicketDetail.condensedaddress) ? "-" : Model.TicketDetail.condensedaddress)</p>
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.address1) ? "-" : Model.TicketDetail.address1)</p>
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.address2) ? "-" : Model.TicketDetail.address2)</p>
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.city) ? "-" : Model.TicketDetail.city) @(string.IsNullOrEmpty(Model.TicketDetail.stateprovinceregion) ? "-" : Model.TicketDetail.stateprovinceregion) @(string.IsNullOrEmpty(Model.TicketDetail.postalcode) ? "-" : Model.TicketDetail.postalcode)</p>
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.custcountry) ? "-" : Model.TicketDetail.custcountry)</p>
                }
                else
                {
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.nccondensedaddress) ? "-" : Model.TicketDetail.nccondensedaddress)</p>
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.ncaddress1) ? "-" : Model.TicketDetail.ncaddress1)</p>
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.ncaddress2) ? "-" : Model.TicketDetail.ncaddress2) </p>
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.nccity) ? "-" : Model.TicketDetail.nccity) @(string.IsNullOrEmpty(Model.TicketDetail.ncstateprovinceregion) ? "-" : Model.TicketDetail.ncstateprovinceregion) @(string.IsNullOrEmpty(Model.TicketDetail.ncpostalcode) ? "-" : Model.TicketDetail.ncpostalcode)</p>
                    <p>@(string.IsNullOrEmpty(Model.TicketDetail.nccountryname) ? "-" : Model.TicketDetail.nccountryname)</p>
                }

            </div>


            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Supplier Ticket #:</label>
            </div>
            <div class="col-md-8">
                <input type="text" value="@(Model.TicketDetail.sfaticketid ?? "")" maxlength="100" name="SFAticketID" class="form-control" />
            </div>


            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Ticket Contact Name:</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="ticketcontactname" maxlength="250" value="@(Model.TicketDetail.ticketcontactname ?? "")" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4" style="padding-bottom:10px">
                <label>Request Date: <span style="font-size: 8px">(MM/DD/YYYY)</span></label>
            </div>
            <div class="col-md-8" style="padding-bottom:10px">
                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">
                       
                        <div class="form-group">
                            <div class="col-md-9" style="padding-left: 0px;">
                                <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                    <input type="text" name="requestdate" value="@(Model.TicketDetail.requestdate == null ? "" : System.Convert.ToDateTime(Model.TicketDetail.requestdate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                    <img src="/Content/images/reset-btn.png">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-left:0px">
                        @{
                            int intHH = 0;
                            int intMM = 0;
                            if (Model.TicketDetail.requestdate != null)
                            {
                                intHH = Convert.ToInt32(Convert.ToDateTime(Model.TicketDetail.requestdate).ToString("HH"));
                                intMM = Convert.ToInt32(Convert.ToDateTime(Model.TicketDetail.requestdate).ToString("mm"));
                            }
                        }
                        <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                            (HH)
                        </div>
                        <div class="col-md-4" style="padding-left: 0px;">
                            <select name="requesthours">

                                @for (int i = 0; i < 24; i++)
                                {
                                    if (intHH == i)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }

                                }


                            </select>
                        </div>
                        <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                            (MM)
                        </div>

                        <div class="col-md-4" style="padding-left:0px">
                            <select name="requestminutes">
                                @for (int i = 0; i < 60; i++)
                                {
                                    if (intMM == i)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }

                                }

                            </select>
                        </div>
                        <div class="col-md-12" style="padding-left:0px">
                            @Html.DropDownList("tzbias", new SelectList(Model.TimeZone,
"Bias", "Location", Model.TimeZoneId),
new { @id = "tzbias" })

                            @if (Model.WorldTimeServer.ThisYearDSTStart != null && Model.WorldTimeServer.ThisYearDSTEnd != null && Model.WorldTimeServer.NextYearDSTStart != null && Model.WorldTimeServer.NextYearDSTEnd != null)
                            {
                                if (Model.ServerDST)
                                {
                                    if ((DateTime.Now >= Model.WorldTimeServer.ThisYearDSTStart && DateTime.Now <= Model.WorldTimeServer.ThisYearDSTEnd) ||
                                        (DateTime.Now >= Model.WorldTimeServer.NextYearDSTStart && DateTime.Now <= Model.WorldTimeServer.NextYearDSTEnd))
                                    {

                                    }
                                    else
                                    {
                                        <b>+1*</b>
                                    }
                                }
                                else
                                {
                                    if ((DateTime.Now >= Model.WorldTimeServer.ThisYearDSTStart && DateTime.Now <= Model.WorldTimeServer.ThisYearDSTEnd) ||
                                        (DateTime.Now >= Model.WorldTimeServer.NextYearDSTStart && DateTime.Now <= Model.WorldTimeServer.NextYearDSTEnd))
                                    {
                                        <b>-1*</b>
                                    }
                                }
                            }
                        </div>
                    </div>

                            }
                            else
                            {
                                if (Model.ServerDST)
                                {
                                    @(Model.TicketDetail.requestdate == null ? "" : Convert.ToDateTime(Model.TicketDetail.requestdate).ToString()) @GetGMTOffsetString(Convert.ToString(Model.WorldTimeServer.DstBias)) @(Model.WorldTimeServer.StdZoneName ?? "")
                                }
                                else
                                {
                                    @(Model.TicketDetail.requestdate == null ? "" : Convert.ToDateTime(Model.TicketDetail.requestdate).ToString())  @GetGMTOffsetString(Convert.ToString(Model.WorldTimeServer.StdBias)) @(Model.WorldTimeServer.StdZoneName ?? "")
                                }

                            }
            </div>
            @helper GetGMTOffsetString(string TimezoneBias)
            {
string Hrs = string.Empty, Mins = string.Empty;
if (TimezoneBias.Contains("+"))
{

    var TimeZoneArr = TimezoneBias.Split('+');
    if (TimeZoneArr[1].Length == 3)
    {
        Hrs = "+" + TimeZoneArr[1].Substring(0, 1);
        Mins = TimeZoneArr[1].Substring(TimeZoneArr[1].Length - 2, TimeZoneArr[1].Length);
    }
    else if (TimeZoneArr[1].Length == 4)
    {
        Hrs = "+" + TimeZoneArr[1].Substring(0, 2);
        Mins = TimeZoneArr[1].Substring(TimeZoneArr[1].Length - 2, TimeZoneArr[1].Length);
    }
}
else if (TimezoneBias.Contains("-"))
{

    var TimeZoneArr = TimezoneBias.Split('-');
    if (TimeZoneArr[1].Length == 3)
    {
        Hrs = "-" + TimeZoneArr[1].Substring(0, 1);
        Mins = TimeZoneArr[1].Substring(TimeZoneArr[1].Length - 2, TimeZoneArr[1].Length - 1);
    }
    else if (TimeZoneArr[1].Length == 4)
    {
        Hrs = "-" + TimeZoneArr[1].Substring(0, 2);
        Mins = TimeZoneArr[1].Substring(TimeZoneArr[1].Length - 2, TimeZoneArr[1].Length - 1);
    }
}
else
{

    if (TimezoneBias.Length == 3)
    {
        Hrs = "+" + TimezoneBias.Substring(0, 1);
        Mins = TimezoneBias.Substring(TimezoneBias.Length - 2, TimezoneBias.Length - 1);
    }
    else if (TimezoneBias.Length == 4)
    {
        Hrs = "+" + TimezoneBias.Substring(0, 2);
        Mins = TimezoneBias.Substring(TimezoneBias.Length - 2, TimezoneBias.Length - 1);
    }
}
if (Hrs.Length == 0 && Mins.Length == 0)
{
        <span> (GMT)</span>
}
else
{
        <span>
            (GMT @Hrs:@Mins)
        </span>
}

}
            @if (Session["UserGroupName"].ToString() == "ISD")
            {
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Request Date (Local): <span style="font-size:8px">(MM/DD/YYYY)</span></label>
                </div>
                <div class="col-md-8">
                    <p>@(Model.TicketDetail.requestdatelocal == null ? "" : Convert.ToDateTime(Model.TicketDetail.requestdatelocal).ToString()) @(Model.TicketDetail.requestgmtoffsetstring ?? "")</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Ticket Created: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
                </div>
                <div class="col-md-8">
                    @if (Model.TicketDetail.createdate != null && Model.WorldTimeServer.ThisYearDSTStart != null && Model.WorldTimeServer.ThisYearDSTEnd != null
                                        && Model.WorldTimeServer.NextYearDSTStart != null && Model.WorldTimeServer.NextYearDSTEnd != null)
                    {
                        if ((Model.TicketDetail.createdate >= Model.WorldTimeServer.ThisYearDSTStart && Model.TicketDetail.createdate <= Model.WorldTimeServer.ThisYearDSTEnd) ||
                    (Model.TicketDetail.createdate >= Model.WorldTimeServer.NextYearDSTStart && Model.TicketDetail.createdate <= Model.WorldTimeServer.NextYearDSTEnd)
                    )
                        {
                            <p>@(Model.TicketDetail.createdate == null ? "" : Convert.ToDateTime(Model.TicketDetail.createdate).ToString()) @GetGMTOffsetString(Convert.ToString(Model.WorldTimeServer.DstBias))</p>
                        }
                        else
                        {
                            <p>@(Model.TicketDetail.createdate == null ? "" : Convert.ToDateTime(Model.TicketDetail.createdate).ToString()) @GetGMTOffsetString(Convert.ToString(Model.WorldTimeServer.StdBias))</p>

                        }
                    }
                </div>
            }

            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Close Date: <span style="font-size: 8px">(MM/DD/YYYY)</span></label>
            </div>
            <div class="col-md-8">

                <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">
               
                    <div class="form-group">
                        <div class="col-md-9" style="padding-left: 0px;">
                            <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                <input type="text" name="closedate" value="@(Model.TicketDetail.closedate == null ? "" : Convert.ToDateTime(Model.TicketDetail.closedate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                    @{
                        int intHH1 = 0;
                        int intMM1 = 0;
                        if (Model.TicketDetail.closedate != null)
                        {
                            intHH1 = Convert.ToInt32(Convert.ToDateTime(Model.TicketDetail.closedate).ToString("HH"));
                            intMM1 = Convert.ToInt32(Convert.ToDateTime(Model.TicketDetail.closedate).ToString("mm"));
                        }
                    }
                    <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                        (HH)
                    </div>
                    <div class="col-md-4" style="padding-left: 0px;">
                        <select name="closehours">
                            @for (int i = 0; i < 24; i++)
                            {
                                if (intHH1 == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }

                            }

                        </select>
                    </div>
                    <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                        (MM)
                    </div>
                    <div class="col-md-4" style="padding-left:0px">
                        <select name="closeminutes">
                            @for (int i = 0; i < 60; i++)
                            {
                                if (intMM1 == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }

                            }



                        </select>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Request Type:</label>
            </div>
            <div class="col-md-8">
                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    @Html.DropDownList("tkttypeid", new SelectList(Model.RequestType,
           "Key", "Value", Model.TicketDetail.tkttypeid),
           new { @id = "tkttypeid" })
                }
                else
                {
                    <p>@(Model.TicketDetail.artypename)</p>
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Priority:</label>
            </div>
            <div class="col-md-8">
                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    @Html.DropDownList("priorityid", new SelectList(Model.Priorities,
                  "Key", "Value", Model.TicketDetail.priorityid),
                  new { @id = "priorityid" })
                }
                else
                {
                    <p>@(Model.TicketDetail.priorityname)</p>
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4" style="padding-bottom: 10px;">
                <label>Service Levels:</label>
            </div>
            <div class="col-md-8 my-cus-links">
                @foreach (var item in Model.ServiceLevel)
                {
                    <p>
                        <a style="color:#3b9cd3" href="/support/sla/history.asp?slaiid=@item.slaInstanceID">
                            @(item.SLAName).@(item.tacname)
                        </a>
                    </p>
                }
                @*<p><a href="javascript:;">Customer Demo. 1 Hour Response</a><br /><a href="javascript:;">Customer Demo. 8 Hour Resolution</a></p>*@

            </div>

            @if (Session["UserGroupName"].ToString() == "ISD")
            {
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Assigned Supplier:</label>
                </div>
                <div class="col-md-8">
                    <div class="col-md-9" style="padding-left: 0;">
                        @Html.DropDownList("sfaid", new SelectList(Model.AssignSuppliers,
          "Key", "Value", Model.TicketDetail.sfaid),
          new { @id = "sfaid" })
                    </div>
                    <div class="col-md-3 my-cus-links">
                        @if (Model.TicketDetail.sfaid > 0)
                    {
                        if (Model.TicketDetail.sfacompanyid != null && Model.TicketDetail.sfapartyid != null && Model.TicketDetail.sfarole != null)
                        {
                                <p><a style="color:#3b9cd3" href="/admin/company/@(Model.TicketDetail.sfacompanyid)/@(Model.TicketDetail.sfapartyid)/@(Model.TicketDetail.sfarole)">(Details)</a></p>
                            }
                        }
                    </div>
                </div>
            }

            @if (Session["UserGroupName"].ToString() == "ISD" && Model.TicketDetail.sfaid > 0)
            {

                <div class="clearfix"></div>
                <div class="col-md-4" style="padding-bottom: 10px;">
                    <label>Supplier Contacts:</label>
                </div>
                <div class="col-md-8 my-cus-links">
                    @{var a = 1;}
                    @foreach (var item in Model.SupplierContacts)
                    {
                        <div class="col-md-12" style="padding-left: 0px;">
                            <div class="col-md-4" style="padding-left: 0px;">@a) @(item.ContactName ?? "")</div>
                            <div class="col-md-4" style="padding-left: 0px;">@(item.SFAPhone ?? "")</div>
                            <div class="col-md-4" style="padding-left: 0px;">@(item.Email ?? "")</div>
                        </div>
                        a++;
                    }

                </div>
                        }



            <div class="clearfix"></div>
            <div class="col-md-4" style="padding-bottom: 10px;">
                <label>Serial Number:</label>
            </div>
            <div class="col-md-8 my-cus-links">

                @if (Session["FinalSerialNumber"] != null)
                {
                    <a style="color:#3b9cd3" href="/asset-detail/@(Session["FinalAssetId"] == null ? "0" : Session["FinalAssetId"].ToString())">@( Session["FinalSerialNumber"] == null ? "" : Session["FinalSerialNumber"].ToString())</a>

                    <a style="color:#3b9cd3" onclick="GetAssetTagSearch()" href="javascript:;"><i class="fa fa-link"></i></a>
                }
                else
                {


                    if (!string.IsNullOrEmpty(Model.TicketDetail.serialnum))
                    {
                        if (Model.TicketDetail.assetid != null)
                        {

                        <a style="color:#3b9cd3" href="/support/asset/asset.asp?assetid=@Model.TicketDetail.assetid">@(Model.TicketDetail.serialnum ?? "")</a>
                        }
                    <a style="color:#3b9cd3" onclick="GetAssetTagSearch()" href="javascript:;"><i class="fa fa-link"></i></a>
                    }
                    else
                    {
                        if (Model.TicketDetail.assetid != null && Model.TicketDetail.assetid > 0)
                        {
                        <a style="color:#3b9cd3" href="/support/asset/asset.asp?assetid=@Model.TicketDetail.assetid">
                            @(Model.TicketDetail.serialnum ?? "")
                        </a>
                        }
                        else
                        {
                        @(Model.TicketDetail.override_serialnum ?? "")
                        }
                    <a style="color:#3b9cd3" onclick="GetAssetTagSearch()" href="javascript:;"><i class="fa fa-link"></i></a>
                    }
                }


            </div>
            <div class="clearfix"></div>
            <div class="col-md-4" style="padding-bottom:10px;">
                <label>Asset Manufacturer:</label>
            </div>
            <div class="col-md-8">


                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    @Html.DropDownList("tmpmfgid", new SelectList(Model.AssetManufacturer,
    "Key", "Value", Model.tmpmfgid),
    new { @id = "tmpmfgid" })
                }
                else
                {
                    if (Model.tmpmfgid > 0)
                    {
                        var assetMfg = Model.AssetManufacturer.FirstOrDefault(x => x.Key == Model.tmpmfgid);
                        if (assetMfg != null)
                        {
                            <p>@assetMfg.Value</p>
                        }
                    }
                }

            </div>

            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Is Active:</label>
            </div>
            <div class="col-md-8">
                <input type="hidden" name="IsActive" id="IsActive" value="@(Model.TicketDetail.IsActive == true ? "true" : "false")">
                @if (Model.TicketDetail.IsActive != null && Model.TicketDetail.IsActive == true)
                {
                    <input class="IsActive" checkboxfor="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
                else
                {
                    <input class="IsActive" checkboxfor="IsActive" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12" style="padding-bottom: 10px;">
                <label>GS Comments:</label>
                <div class="col-md-12">
                    @if (!string.IsNullOrEmpty(Model.TicketDetail.gscomments))
                    {

                        @Html.Raw(Model.TicketDetail.gscomments.Replace("/n", "<br>"))
                    }
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4" style="padding-bottom: 10px;">
                <label>Summary:</label>
            </div>
            <div class="col-md-8">
                @if (!string.IsNullOrEmpty(Model.TicketDetail.arname))
                {

                    @Html.Raw(Model.TicketDetail.arname.Replace("/n", "<br>"))
                }
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4" style="padding-bottom: 10px;">
                <label>Description:</label>
            </div>
            @if (!string.IsNullOrEmpty(Model.TicketDetail.ardesc))
            {

                <div class="col-md-8" style="padding-bottom:10px">@Html.Raw(Model.TicketDetail.ardesc.Replace("/n", "<br>"))</div>
            }
            <div class="clearfix"></div>

            <div class="col-md-4">
                <label>Add Comment With Update:</label>
            </div>

            <div class="col-md-8">
                <textarea name="comments" maxlength="2000" class="form-control"></textarea>
                <b><span style="font-size:10px"> Note: The maximum character length of comments is 2000.</span></b>
            </div>

            <div class="clearfix"></div>

        </div>
        <div class="col-md-6">
            <div class="col-md-4" style="padding-bottom: 10px;">
                <label>Affected User:</label>
            </div>
            <div class="col-md-8">
                @(Model.TicketDetail.firstname ?? "") &nbsp; @(Model.TicketDetail.lastname ?? "")
            </div>

            @if (Session["UserGroupName"].ToString() == "ISD")
            {
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Assigned CSM:</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownList("csrid", new SelectList(Model.CSRList,
       "Key", "Value", Model.TicketDetail.csrid ?? 0),
       new { @id = "csrid" })
                </div>
            }
            <div class="clearfix"></div>
            <div class="col-md-4" style="padding-bottom: 10px;">
                <label>Customer Ticket#:</label>
            </div>
            <div class="col-md-8">
                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    <input type="text" name="customerticketid" maxlength="100" value="@(Model.TicketDetail.customerticketid ?? "")" class="form-control" />
                }
                else
                {
                    <p>@(Model.TicketDetail.customerticketid ?? "")</p>
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Ticket Contact Phone:</label>
            </div>
            <div class="col-md-8">
                <input type="text" value="@(Model.TicketDetail.ticketcontactphonevoice??"")" maxlength="50" name="ticketcontactphonevoice" error-msg="Invalid Contact Phone Number" class="form-control phoneOnly" />
            </div>

            @if (Session["UserGroupName"].ToString() == "ISD")
            {
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Request Received: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
                </div>
                <div class="col-md-8">

                    @if (Model.TicketDetail.createdate != null && Model.WorldTimeServer.ThisYearDSTStart != null
                                        && Model.WorldTimeServer.ThisYearDSTEnd != null && Model.WorldTimeServer.NextYearDSTStart != null && Model.WorldTimeServer.NextYearDSTEnd != null)
                    {

                        if ((Model.TicketDetail.createdate >= Model.WorldTimeServer.ThisYearDSTStart && Model.TicketDetail.createdate <= Model.WorldTimeServer.ThisYearDSTEnd) ||
        (Model.TicketDetail.createdate >= Model.WorldTimeServer.NextYearDSTStart && Model.TicketDetail.createdate <= Model.WorldTimeServer.NextYearDSTEnd)
        )
                        {
                            <p>@(Model.TicketDetail.createdate == null ? "" : Convert.ToDateTime(Model.TicketDetail.createdate).ToString()) @GetGMTOffsetString(Convert.ToString(Model.WorldTimeServer.DstBias))</p>
                        }
                        else
                        {
                            <p>@(Model.TicketDetail.createdate == null ? "" : Convert.ToDateTime(Model.TicketDetail.createdate).ToString()) @GetGMTOffsetString(Convert.ToString(Model.WorldTimeServer.StdBias))</p>

                        }
                    }
                </div>
            }

            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Status:</label>
            </div>
            <div class="col-md-8">
                <div class="col-md-10" style="padding-left: 0;">
                    @if (Session["UserGroupName"].ToString() == "ISD")
                {
                        @Html.DropDownList("tktstatusid", new SelectList(Model.TicketStatuses,
"Key", "Value", Model.TicketDetail.tktstatusid ?? 0),
new { @id = "tktstatusid" })
                    }
                    else
                    {
                        @Html.DropDownList("tktstatusid", new SelectList(Model.TicketStatuses,
"Key", "Value", Model.TicketDetail.tktstatusid ?? 0),
new { @id = "tktstatusid", @onchange = "tktmessage()" })

                    }
                </div>
                <div class="col-md-2 my-cus-links">
                    @*<a href="javascript:;" data-toggle="modal" data-target="#myModal" style="position: relative; top: 8px;color:#3b9cd3;"><i class="fa fa-clock-o" style="font-size: 30px;"></i></a>*@
                    <a href="javascript:;" onclick="GetTicketStatusSchedule(@Model.TicketId)" style="position: relative; top: 8px;color:#3b9cd3;"><i class="fa fa-clock-o" style="font-size: 30px;"></i></a>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Escalation Level:</label>
            </div>
            <div class="col-md-8">
                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    @Html.DropDownList("escalationLevel", new SelectList(new SelectListItem[] {
                new SelectListItem { Value="1",Text="1"},
                new SelectListItem { Value="2",Text="2"},
                new SelectListItem { Value="3",Text="3"},
                new SelectListItem { Value="4",Text="4"},
                new SelectListItem { Value="5",Text="5"}
                },
       "Value", "Text", Model.TicketDetail.escalationLevel ?? 0), new { @id = "escalationLevel" })
                }
                else
                {
                    <p>@(Model.TicketDetail.escalationLevel ?? 0)</p>
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4" style="padding-bottom: 10px;">
                <label>Asset Tag:</label>
            </div>
            <div class="col-md-8 my-cus-links">

                @if (Session["FinalAssetTag"] != null)
                {
                    <a style="color:#3b9cd3" href="/asset-detail/@(Session["FinalAssetId"] == null ? "0" : Session["FinalAssetId"].ToString())">@( Session["FinalAssetTag"] == null ? "" : Session["FinalAssetTag"].ToString())</a>

                    <a style="color:#3b9cd3" href="javascript:;" onclick="GetAssetTagSearch()" data-toggle="modal" data-target="#myModal3"><i class="fa fa-link"></i></a>
                }
                else
                {
                    if (Model.TicketDetail.assetid != null && Model.TicketDetail.assetid > 0)
                    {
                        <a style="color:#3b9cd3" href="/support/asset/asset.asp?assetid=@Model.TicketDetail.assetid">
                            @(Model.TicketDetail.assettagnum ?? "")
                        </a>
                    }
                    else
                    {
                        @(Model.TicketDetail.override_assettagnum ?? "")
                    }
                    <a href="javascript:;" onclick="GetAssetTagSearch()" style="color:#3b9cd3" data-toggle="modal" data-target="#myModal3"><i class="fa fa-link"></i></a>
                }

                @*<a href="javascript:;" data-toggle="modal" data-target="#myModal3"><i class="fa fa-link"></i></a>*@
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4" style="padding-bottom:10px;">
                <label>Asset Model:</label>
            </div>
            <div class="col-md-8">
                @if (Session["UserGroupName"].ToString() == "ISD")
                {
                    <input type="text" name="tmpmodel" value="@(Model.tmpmodel ?? "")" maxlength="250" class="form-control" />
                }
                else
                {
                    <p>@(Model.tmpmodel ?? "")</p>
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Worked On Serial:</label>
            </div>
            <div class="col-md-8">
                <input type="text" value="@(Model.TicketDetail.workedonserial ?? "")" maxlength="250" name="workedonserial" class="form-control" />
            </div>
            @if (Session["UserGroupName"].ToString() == "ISD")
            {
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Customer PO#:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="customerpo" value="@(Model.TicketDetail.customerpo ?? "")" maxlength="50" class="form-control" />
                </div>
            }

            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Travel Time:</label>
            </div>
            <div class="col-md-8" style="padding-right: 0px;">
                <div class="col-md-1" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                    (HH)
                </div>
                <div class="col-md-4">
                    <input type="text" name="hourstravel" maxlength="4" id="hourstravel" value="@(Model.TicketDetail.hourstravel == null ? "" : Convert.ToInt32(Model.TicketDetail.hourstravel).ToString())" class="form-control allownumericwithoutdecimal" />
                </div>
                <div class="col-md-1" style="padding-top: 5px;">:</div>
                <div class="col-md-1" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                    (MM)
                </div>
                <div class="col-md-4">
                    <input type="text" name="minstravel" maxlength="4" id="minstravel" value="@(Model.TicketDetail.minstravel == null ? "" : Convert.ToInt32(Model.TicketDetail.minstravel).ToString())" class="form-control allownumericwithoutdecimal" />
                </div>
                @if (Model.TicketDetail.parentcompanyid == 3399)
                {
                    <div class="col-md-12">
                        <b>*</b> Travel Time is mandatory on Ticket Close
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Repl. Serial Number:</label>
            </div>
            <div class="col-md-8">
                <input type="text" value="@(Model.TicketDetail.replaceserial??"")" maxlength="250" name="replaceserial" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Supplier PO#:</label>
            </div>
            <div class="col-md-8">
                <input type="text" value="@(Model.TicketDetail.sfapo ?? "")" maxlength="50" name="sfapo" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Elapsed Time Onsite:</label>
            </div>
            <div class="col-md-8" style="padding-right:0px">
                <div class="col-md-1" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                    (HH)
                </div>
                <div class="col-md-4">
                    <input type="text" name="hoursonsite" maxlength="4" id="hoursonsite" value="@(Model.TicketDetail.hoursonsite == null ? "" : Convert.ToInt32(Model.TicketDetail.hoursonsite).ToString())" class="form-control allownumericwithoutdecimal" />
                </div>
                <div class="col-md-1" style="padding-top:5px">:</div>
                <div class="col-md-1" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                    (MM)
                </div>
                <div class="col-md-4">
                    <input type="text" name="minsonsite" id="minsonsite" maxlength="4" value="@(Model.TicketDetail.minsonsite == null ? "" : Convert.ToInt32(Model.TicketDetail.minsonsite).ToString())" class="form-control allownumericwithoutdecimal" />
                </div>
                @if (Model.TicketDetail.parentcompanyid == 3399)
                {
                    <div class="col-md-12">
                        <b>*</b> Elapsed Time Onsite is mandatory on Ticket Close
                    </div>
                }
            </div>

            @if (Session["UserGroupName"].ToString() == "ISD")
            {
                <div class="clearfix"></div>
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                    <input type="hidden" name="isbillable" id="isbillable" value="@(Model.TicketDetail.isbillable ? "true" : "false") ">
                    <input type="checkbox" checkboxfor="isbillable" @(Model.TicketDetail.isbillable ? "Checked" : "") class="form-control" style="width: auto; height: auto; margin-right: 10px; float: left;" />
                    <div class="col-md-12" style="padding-bottom: 10px;padding-left: 0px;">Billable:</div>
                    <div class="col-md-6" style="padding-left: 0;">
                        <input type="text" name="billamount" maxlength="8" value="@(String.Format("{0:0.00}", Model.TicketDetail.billamount))" class="form-control numericwithdecimal" />
                    </div>
                    <div class="col-md-6" style="padding-right: 0;">

                        @Html.DropDownList("billamountcurrencyid", new SelectList(Model.Currencies,
          "Key", "Value", Model.TicketDetail.billamountcurrencyid),
          new { @id = "billamountcurrencyid" })

                    </div>
                </div>
            }

            @if (Model.TicketDetail.isdisposition != null && Model.TicketDetail.isdisposition == true)
            {
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Asset Deposition:</label>
                </div>
                <div class="col-md-8 my-cus-links">
                    <p><a style="color:#3b9cd3" href="/TicketSearch/GetDispositionAssets">Details</a></p>
                </div>
            }



            <div class="clearfix"></div>
            <div class="col-md-4">
                <label>Appointment Date: <span style="font-size:8px">(MM/DD/YYYY)</span></label>
            </div>
            <div class="col-md-8">
                <div class="col-md-12" style="padding-left: 0px;padding-bottom:15px">
                    
                    <div class="form-group">
                        <div class="col-md-9" style="padding-left: 0px;">
                            <div class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                                <input type="text" name="appointmentdate" id="appointmentdate" value="@(Model.TicketDetail.appointmentdate == null ? "" : Convert.ToDateTime(Model.TicketDetail.appointmentdate).ToString("MM/dd/yyy"))" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                <img src="/Content/images/reset-btn.png">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-left: 0px;">
                    @{
                        int intHH2 = 0;
                        int intMM2 = 0;
                        if (Model.TicketDetail.appointmentdate != null)
                        {
                            intHH2 = Convert.ToInt32(Convert.ToDateTime(Model.TicketDetail.appointmentdate).ToString("HH"));
                            intMM2 = Convert.ToInt32(Convert.ToDateTime(Model.TicketDetail.appointmentdate).ToString("mm"));
                        }
                    }
                    <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                        (HH)
                    </div>
                    <div class="col-md-4" style="padding-left: 0px;">
                        <select name="appointmenthours">

                            @for (int i = 0; i < 24; i++)
                            {
                                if (intHH2 == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }

                            }

                        </select>
                    </div>
                    <div class="col-md-2" style="font-size: 9px;padding-left: 0px;padding-top:10px">
                        (MM)
                    </div>
                    <div class="col-md-4" style="padding-left: 0px;">
                        <select name="appointmentminutes">

                            @for (int i = 0; i < 60; i++)
                            {
                                if (intMM2 == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }

                            }


                        </select>
                    </div>
                </div>
                <div class="col-md-12" style="padding-bottom:15px;padding-left: 0px;color: red;">
                    * Appointment Date is mandatory on Ticket Close
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 back-btn">
            <button type="button" class="btn btn-default btnSubmit btnCancel" id="per">Cancel</button>
            <button type="submit" class="btn btn-default btnSubmit" id="per">Update</button>
        </div>

                        }

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="support-ticket-status">
        <div class="modal-dialog" role="document" style="width: 1000px;">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="support-ticket-status">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="support-ticket-status">
        <div class="modal-dialog" role="document" style="width: 800px;">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

<script>
    $('.btnCancel').click(function () {
        window.location.reload();
        StartLoader();
    });
    $('#TicketSearchForm').submit(function () {
        if(@Model.TicketDetail.parentcompanyid=="1056")
        {
            var TicketIds = @Html.Raw(Json.Encode(Model.CloseTicketStatusIds));
            for (var i = 0; i < TicketIds.length; i++) {
                if($('#tktstatusid').val()==TicketIds[i] || $('#tktstatusid').val()==118 ){
                    if($('#hoursonsite').val().trim()=="" || $('#minsonsite').val().trim()=="" ){
                        alert("Please provide the value for Elapsed Time Onsite HH and MM.");
                        return false;
                    }
                    if($('#hourstravel').val().trim()=="" || $('#minstravel').val().trim()=="" ){
                        alert("Please provide the value for Travel Time HH and MM.");
                        return false;
                    }
                    if($('#appointmentdate').val().trim()=="" ){
                        alert("Please provide Appointment Date.");
                        return false;
                    }

                }
            }
        }
        StartLoader();
    });
    function GetTicketStatusSchedule() {

        var data={
            ticketId:@Model.TicketId};
        showHideLoader(1);
        $.ajax({
            url: '/TicketSearch/GetTicketStatusSchedule',
            type: 'POST',
            dataType: 'html',
            data:data,
            success: function (data) {
                if (data != null && data != "0") {
                    $('#myModal .modal-content').html(data);
                    HtmlActions();
                    $('#myModal').modal('show');
                }
                else {
                    showNotification("Error while processing.");
                    showHideLoader(0);
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });

    }
    function GetAssetTagSearch() {

        showHideLoader(1);
        $.ajax({
            url: '/TicketSearch/GetAssetTagSearchData',
            type: 'POST',
            data:{parentCompanyId:@Model.TicketDetail.parentcompanyid},
            dataType: 'html',
            success: function (data) {
                if (data != null && data != "0") {
                    $('#myModal3 .modal-content').html(data);
                    HtmlActions();
                    $('#myModal3').modal('show');
                }
                else {
                    showNotification("Error while processing.");
                    showHideLoader(0);
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    }

    function downloadPDF() {
        window.location = "/TicketSearch/ExportTicketDetailToPdf?ticketId=" + '@Model.TicketId';
    }
</script>