﻿

<div class="col-md-3"></div>
<div class="col-md-6">
    <h4>Email Ticket:</h4>
    <div class="col-md-1" style="padding-left: 0;">
        <label>To:</label>
    </div>
    <div class="col-md-6" style="padding-left: 0;">
        <input type="email" id="email" class="form-control email" />
    </div>
    @*<div class="col-md-5 my-cus-links" style="padding-left: 0;">
        <a href="javascript:;" style="color:#3b9cd3" onclick="addgsp()">(Assigned GSP)</a>
        <a href="javascript:;" style="color:#3b9cd3" onclick="addcsm()">(Assigned CSM)</a>
        <a href="javascript:;" style="color:#3b9cd3" onclick="addsubuser()">(Submitting User)</a>
    </div>*@
    <div class="clearfix"></div>
    <div class="col-md-8" style="padding-left: 0;">
        <label pull-left>Message:</label>
    </div>
    <div class="col-md-4" style="padding-right: 0;">
        <input type="submit" id="per" class="form-control pull-right" onclick="emailTicket()" value="Send" />
    </div>
    <textarea name="add-comments" id="emailComments" class="form-control"></textarea>
</div>
<div class="col-md-3"></div>
<script>

    function addgsp() {
        emailAddress = $('#email').val();
        if (emailAddress.length > 0) {
            $('#email').val(emailAddress + ";##ASSIGNEDFSCEMAIL##");
        }
        else {
            $('#email').val("##ASSIGNEDFSCEMAIL##");
        }
    }
    function addcsm() {
        emailAddress = $('#email').val();
        if (emailAddress.length > 0) {
            $('#email').val(emailAddress + ";##ASSIGNEDCSREMAIL##");
        }
        else {
            $('#email').val("##ASSIGNEDCSREMAIL##");
        }
    }
    function addsubuser() {
        emailAddress = $('#email').val();
        if (emailAddress.length > 0) {
            $('#email').val(emailAddress + ";##SUBMITTINGUSEREMAIL##");
        }
        else {
            $('#email').val("##SUBMITTINGUSEREMAIL##");
        }
    }
    function emailTicket() {

        emailAddress = $('#email').val();
        emailAddress = emailAddress.replace(" ", "");
        arrEmails = emailAddress.split(';');      
        for (var i = 0; i < arrEmails.length; i++) {
            if (arrEmails[i].indexOf('#') > -1) {
                var currentEmailLength = arrEmails[i].length - 1;
                var lastIndexOfEmail = arrEmails[i].lastIndexOf('#');
                if (currentEmailLength != lastIndexOfEmail) {
                    alert("Please provide valid email address. Use a semicolon (;) to separate multiple addresses.");
                    return false;
                }
            }
            else {

                var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!regex.test(arrEmails[i])) {
                    alert("Please provide valid email address. Use a semicolon (;) to separate multiple addresses.");
                    return false;
                }
            }
        }

       
        if ((emailAddress.indexOf("@@") < 0 && emailAddress.indexOf("##") < 0) || emailAddress.length < 1) {
            alert("Please enter at least one valid email address.  Use a semicolon (;) to separate multiple addresses.");
            $('#email').focus();
            return false;
        }

        showHideLoader(1);
        data = {
            email: $('#email').val(),
            emailMessage: $('#emailComments').val()
        }
        $.ajax({
            url: '/TicketSearch/SendTicketEmail',
            type: 'POST',
            data: data,
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    showNotification(data);

                    setTimeout(function () {
                        GetView('TicketEmail');
                    }, 2000);
                    HtmlActions();
                }

            },
            complete: function (data) {
                showHideLoader(0);
            }
        });


    }
</script>
