﻿@using OneSourceAdminCore.Model
@model OneSourceAdminCore.Model.CustomerCatalogModel
@{
    ViewBag.Title = "Countrified Part Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link href="~/Content/grid-0.4.5.min.css" rel="stylesheet" />
<script src="~/Content/grid-0.4.5.min.js"></script>
<link href="~/Content/grid-0.4.5.css" rel="stylesheet" />
<script src="~/Content/grid-0.4.5.min.js"></script>
@using (Html.BeginForm("AddEditCustomerCountrifyCatalog", "Company", FormMethod.Post, new { @id = "customerCatalogForm" }))
{
    <div class="row bread-Crumb-Top">
        <div class="col-md-8" style="padding: 10px; color: #FFF;">
            <b> Dashboard > Customer > Catalog > Countrified Part Detail</b>
        </div>

        <div class="col-md-4" style="padding: 10px;">
            <a href="/admin/customer/catalog/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.CustomerId/@ViewBag.PartId/@ViewBag.PriceCode">
                <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
            </a>
            <input type="hidden" name="CustomerId" id="customerId" value="@ViewBag.CustomerId" />
            <input type="hidden" name="CompanyId" id="companyId" value="@ViewBag.CompanyId" />
            <input type="hidden" name="PartyId" id="partyId" value="@ViewBag.PartyId" />
            <input type="hidden" name="CatalogPart.CatalogPartID" id="partId" value="@ViewBag.PartId" />
            <input type="hidden" name="CatalogPart.PriceCodeID" id="priceCodeId" value="@ViewBag.PriceCode" />
            <input type="hidden" name="CatalogPart.UNSPSC" id="UNSPSC" value="@Model.CatalogPart.UNSPSC" />

            <input type="hidden" id="addMsg" value="@(ViewBag.AddMsg)" />
            <input type="hidden" id="editMsg" value="@(ViewBag.EditMsg)" />
            <input type="hidden" id="resultMsg" value="@(ViewBag.result)" />
        </div>
    </div>

    <div class="col-md-12 tab-content">
        <div role="tabpanel" class="tab-pane active" id="countrify-part">

            <input type="hidden" name="CountryPartInfo.CatalogPartID" value="@Model.CountryPartInfo.CatalogPartID" id="catalogPartId" />
            <input type="hidden" name="CountryPartInfo.ManufacturerPartID" value="@Model.CountryPartInfo.ManufacturerPartID" id="manfPartIdHdn" />
            <input type="hidden" name="CountryPartInfo.CustomerPartID" value="@Model.CountryPartInfo.CustomerPartID" id="customerPartId" />

            <h1>Catalog - Countrified Part Detail</h1>
            <hr>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>SKU:</label>
            </div>
            <div class="col-md-4">
                <span id="">
                    <b>
                        @Model.ManfPart.ManufacturerSKU
                    </b>
                </span>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Description:</label>
            </div>
            <div class="col-md-4">
                @Html.Raw(@Model.CatalogPart.Description)
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2"></div>

            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Global Price:</label>
            </div>
            <div class="col-md-4">
                @Model.CatalogPart.GlobalPrice
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2"></div>

            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Currency :</label>
            </div>
            <div class="col-md-4">

                @{
    GenericList first = null;
    foreach (var x in Model.CurrencyList)
    {
        if (x.Key == Model.CatalogPart.GlobalPriceCurrencyID)
        {
            first = x;
            break;
        }
    }
                }
                @first.Value
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2"></div>


            <div class="clearfix"></div>
            <hr />
            <div class="col-md-12">

                <div class="clearfix"></div>
                <div class="col-md-2"></div>
                <div class="clearfix"></div>
                <br />
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label><b>Destination Country:</b></label>
                </div>
                <div class="col-md-4" style="margin-bottom: 15px">
                    @Html.DropDownList("CountryPartInfo.DestinationCountryID", new SelectList(Model.CountrifyCountryList,
                "Key", "Value", @Model.CountryPartInfo.DestinationCountryID), new { @class = "drpSelect2" })
                </div>
                <div class="col-md-4"></div>

                <div class="clearfix"></div>
                <br />
            </div>



            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Manufacturer SKU:</label>

                </div>
                <div class="col-md-8">
                    @if (!string.IsNullOrWhiteSpace(Model.CountryPartInfo.ManufacturerSKU))
                    {
                        <span id="lblManfSKU">
                            <b>
                                @(Model.CountryPartInfo.ManufacturerSKU)
                            </b>
                        </span>
                    }
                    else
                    {
                        <span id="lblManfSKU">< Select a MFG Part ></span>
                    }

                    <br />

                    <a href="#manfPartModal" id="openPopupLink" data-toggle="modal" style="color: blue;">
                        Add/Replace
                    </a>
                </div>
                <div class="clearfix"></div>

                <br />
                <div class="col-md-4">
                    <label>Part Price :</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="CountryPartInfo.PartPrice" value="@Model.CountryPartInfo.PartPrice" required="" maxlength="7" class="form-control txtDecimal">
                </div>

                <div class="clearfix"></div>

                <div class="col-md-4">
                    <label>Currency:</label>
                </div>
                <div class="col-md-8" style="margin-bottom: 15px">
                    @Html.DropDownList("CountryPartInfo.PartPriceCurrencyID", new SelectList(Model.CurrencyList,
                "Key", "Value", Model.CountryPartInfo.PartPriceCurrencyID),
                new { @class = "drpSelect2" })
                </div>
                <div class="col-md-4">
                    <label>Discount (%):</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control txtPercent" type="text" name="CountryPartInfo.Discount" value="@(Convert.ToInt32(Model.CountryPartInfo.Discount * 100))" required="" />
                </div>
                <div class="col-md-4">
                    <label>Price Code:</label>
                </div>
                <div class="col-md-8" style="margin-bottom: 15px">

                    @Html.DropDownList("CountryPartInfo.PriceCodeID", new SelectList(Model.PriceCodeList,
                "Key", "Value", Model.CatalogPart.PriceCodeID),
                new { @class = "drpSelect2", @disabled = "disabled" })
                    <input type="hidden" name="CountryPartInfo.PriceCodeID" value="@Model.CountryPartInfo.PriceCodeID" />

                </div>
                <div class="col-md-4">
                    <label>Trade Block Uplifts%:</label>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12" style="padding: 0;">
                        <div class="col-md-6" style="padding-left: 0;">
                            <p>
                                Standard Uplifts
                            </p>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control txtPercent" type="text" name="CountryPartInfo.TradeBlockUplift" value="@(Convert.ToDecimal(Model.CountryPartInfo.TradeBlockUplift*100).ToString("##.##"))" />
                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 0;">
                        <div class="col-md-6" style="padding-left: 0;">
                            <p>
                                PartTrade Block Uplift
                            </p>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control txtPercent" type="text" name="CountryPartInfo.PartTradeBlockUplift" value="@(Convert.ToDecimal(Model.CountryPartInfo.PartTradeBlockUplift*100).ToString("##.##"))" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Duties:</label>
                </div>
                <div class="col-md-8">
                    <p>@(Convert.ToInt32(Model.CountryPartInfo.Duties * 100)) %</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Supplier Uplift:</label>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12" style="padding: 0;">
                        <div class="col-md-6" style="padding-left: 0;">
                            <p>
                                Standard Uplifts
                            </p>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control txtPercent" type="text" name="CountryPartInfo.SFAStandardUplift" value="@(Convert.ToDecimal(Model.CountryPartInfo.SFAStandardUplift*100).ToString("##.##"))" />
                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 0;">
                        <div class="col-md-6" style="padding-left: 0;">
                            <p>
                                Specical Uplift
                            </p>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control txtPercent" type="text" name="CountryPartInfo.SFASpecialUplift" value="@(Convert.ToDecimal(Model.CountryPartInfo.SFASpecialUplift*100).ToString("##.##"))" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    <label>Manufacturer:</label>

                </div>
                <div class="col-md-8">
                    <span class="manfLbl">
                        <b>@(Model.CountryPartInfo.ManufacturerName ?? "-")</b>
                    </span>

                </div>
                <div class="clearfix"></div><br /><br />
                <div class="col-md-4">
                    <label>EOL:</label>
                </div>


                <div class="col-md-8" style="margin-bottom: 15px">

                    <div class="input-group input-medium date date-picker" style="width: 100% !important" data-date="@Model.CountryPartInfo.EOL.ToString("MM/dd/yyyy")" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                        <input type="text" id="eolddate" name="CountryPartInfo.EOL" value="@Model.CountryPartInfo.EOL.ToString("MM/dd/yyyy")" class="form-control" readonly required>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>


                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Non-Direct Purchase Uplift(%):</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control txtPercent" type="text" name="CountryPartInfo.NonDirectPurchaseUplift" value="@Convert.ToInt32(Model.CountryPartInfo.NonDirectPurchaseUplift * 100)" required="" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Part Category:</label>
                </div>
                <div class="col-md-8" style="margin-bottom: 15px">
                    @Html.DropDownList("CountryPartInfo.PartCategoryID", new SelectList(Model.PartCategoryList,
                "Key", "Value", Model.CountryPartInfo.PartCategoryID),
                new { @class = "drpSelect2" })
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Exclusive Supplier:</label>
                </div>
                <div class="col-md-8" style="margin-bottom: 15px">

                    @if (ViewBag.PriceCode == 1)
                    {
                        @Html.DropDownList("CountryPartInfo.SFAID", new SelectList(Model.SupplierList,
                        "Key", "Value", Model.CountryPartInfo.SFAID),
                        new { @class = "drpSelect2", @disabled = "disabled" })
                        <input type="hidden" name="CountryPartInfo.SFAID" value="@Model.CountryPartInfo.SFAID" />
                    }
                    else
                    {

                        @Html.DropDownList("CountryPartInfo.SFAID", new SelectList(Model.SupplierList,
                        "Key", "Value", Model.CountryPartInfo.SFAID),
                        new { @class = "drpSelect2" })
                    }

                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <label>Country Specific Description:</label>
                </div>
                <div class="col-md-8">
                    <textarea name="CountryPartInfo.PartDescription" id="txtDescription" required maxlength="3500" class="form-control">@Model.CountryPartInfo.PartDescription</textarea>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-md-4">
                    <label>Is Active:</label>
                </div>
                <div class="col-md-8" style="margin-bottom: 15px">
                    @{
                    var chk2 = "checked";
                    if (!Model.CountryPartInfo.IsActive)
                    {
                        chk2 = "";
                    }
                    <input type="hidden" name="CountryPartInfo.IsActive" id="IsActive" value="@Model.CountryPartInfo.IsActive.ToString()">
                        <input class="" @chk2 data-toggle="toggle" name="IsActivechkBtn" checkboxfor="IsActive" value="@Model.CountryPartInfo.IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                    }
                </div>
            </div>
            <div class="col-md-12 catalog-add-new">
                <button type="submit" class="btn btn-default btnSubmit pull-right" id="per" style="margin-top: 15px;">
                    @if (Model.CountryPartInfo.CustomerPartID > 0)
                    {
                        <text> Update</text>
                    }
                    else
                    {
                        <text> Add</text>
                    }

                </button>
            </div>
        </div>
    </div>
}

<div class="modal" id="manfPartModal">
    <input type="hidden" id="selectedManfPart" value="0" />
    <div class="modal-dialog" style="width: 55%;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">
                    <b>Manufacturer Part Search</b>
                </h3>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height: 500px;">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label><b>Manufacturer SKU:</b></label>
                </div>

                <div class="col-md-5">
                    <input type="search" class="form-control manfPartTxt" placeholder="Enter manufacturer part sku" maxlength="50" style="float: left;" />
                    <span style="display: block; width: 100% !important; float: right; color: rgb(128, 128, 128);font-size: 11px;">Try narrowing your search criteria.</span>
                </div>
                <div class="col-md-3">
                    <button type="button" id="manfPartSearchBtn" class="search-replace blue-Btn" style="padding: 8px; font-size: 11px; border-color: rgba(136, 136, 136, 0.533);">Search</button>
                </div>
                <br />
                <div id="manfResult"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a id="addManfPartBtn" href="#" class="btn btn-primary">Add/Update</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<div class="clearfix"></div>

<style>
    #grid td {
        font-size: 12px;
    }

    #grid thead tr th {
        background-color: #3b9ad2;
        color: white;
    }
</style>




<script type="text/javascript">
    $(document).ready(function () {


        var addMsg = $("#addMsg").val();
        var result = $("#resultMsg").val();
        var updateMsg = $("#editMsg").val();

        if (result == "invalid") {
            showNotification("Please provide an appropriate description and price for this part.");
        } else {

            if (addMsg == "true") {
                showNotification("Record added successfully.");
            } else if (addMsg == "False") {
                showNotification("Error while adding.");
            }

            if (updateMsg == "true") {
                showNotification("Record updated successfully.");
            } else if (updateMsg == "False") {
                showNotification("Error while updating.");
            }

        }



        $(".drpSelect2").select2(
        {
            allowClear: true
        });

        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true
        });



        //search manf part and open result in popup
        $("#openPopupLink").click(function () {
            $(".modal-body #manfResult").html('<table id="grid" ></table>');
            $(".manfPartTxt").val("");
        });

        $("#manfPartSearchBtn").click(function () {
            $(".modal-body #manfResult").html('<table id="grid" ></table>');
            var grid = $("#grid").html("");

            showHideLoader(1);
            $("#grid").grid({
                dataKey: "ManfId",
                dataSource: {
                    url: "/Company/GetManfPartSearch",
                    cache: false,
                    data: { searchString: $(".manfPartTxt").val() },
                    complete: function () {
                        $(".gj-grid-bootstrap-tfoot-cell").attr("colspan", "5");
                        $("#manfPartModal").modal("show");
                        showHideLoader(0);
                    }
                },
                uiLibrary: "bootstrap",
                columns: [
                    //{ field: "ManfId", sortable: true, title: "ManfId" },
                    { field: "ManfSku", sortable: true, title: "SKU" },
                    { field: "Description", sortable: true },
                    { field: "Category", title: "Part Category", sortable: true },
                    { field: "Manufacturer", title: "Manfacturer", sortable: true },
                    { field: "ManfId", title: "ManfId", hidden: true },
                    { field: "CategoryId", title: "CategoryId", hidden: true },
                    { field: "ManufacturerId", title: "ManufacturerId", hidden: true },
                ],
                pager: { enable: true, limit: 25, sizes: [25, 50] },
                selectionType: "single",
                selectionMethod: "checkbox",

            });

            grid.on("rowSelect", function (e, $row, id, record) {

                var id = id;
                $("#grid input[type='checkbox']").removeAttr("checked");
                $("#grid input[value='" + id + "']").attr("checked", "checked");
                $("#selectedManfPart").val(id);
            });


        });

        $('body').on('change', "#grid input[type='checkbox']", function () {

            $("#grid input[type='checkbox']").not(this).prop('checked', false);
            $("#selectedManfPart").val($(this).attr("value"));

        });


        $("#customerCatalogForm").submit(function (e) {
            var manfId = $("#manfPartIdHdn").val();
            if (manfId == null || manfId == "0") {
                alert("Please select a manufacturer part.");
                e.preventDefault();
                return false;

            }
            $("#customerCatalogForm :input").each(function () {
                var input = $(this);
                if (!(input)[0].checkValidity()) {
                    $('html, body').animate({
                        scrollTop: $(input).offset().top - 170
                    });
                    if ((input).attr("required") != null && (input).val().length < 1) {
                        alert("Please fill all mandatory fields.");
                        $(input).focus();
                        return false;
                    } else {

                        if ((input).attr("type").toLowerCase() == 'email') {
                            alert("Invalid email address.");
                            $(input).focus();
                            return false;

                        } else if ((input).attr("type").toLowerCase() == 'number') {
                            var min = (input).attr("min");
                            var max = (input).attr("max");
                            var addition = "";
                            if (min != null && max != null) {
                                addition = "ie (" + min + "-" + max + ")";
                            }
                            alert("Enter valid number. " + addition);
                            $(input).focus();
                            return false;
                        } else {

                            alert("Please valid input value.");
                            $(input).focus();
                            return false;


                        }
                    }
                    e.preventDefault();
                }
                if ($(input).hasClass("txtPercent") && $(input).val().length > 0) {

                    var x = parseFloat(input.val());
                    if (isNaN(x) || x < 0 || x > 100 || (input.val()).split(".").length > 2) {
                        alert("Please enter valid percentage. ie(0-100)");
                        $(input).focus();
                        e.preventDefault();
                    }
                } else if ($(input).hasClass("txtDecimal") && $(input).val().length > 0) {

                    var x = parseFloat(input.val());
                    //   var num = parseFloat(input.val());
                    //return !Number.isNaN(num) && num.toFixed(2).toString() === str;

                    if (isNaN(x) || x < 0 || (input.val()).split(".").length > 2) {
                        alert("Please enter valid decimal number.");
                        $(input).focus();
                        e.preventDefault();
                    }
                }


            });

        });


        $("#addManfPartBtn").click(function () {

            var td = $("#grid").find("input[type='checkbox']:checked").closest("tr").find("td");

            if (td.length > 0) {

                $("#txtDescription").text(td.eq(2).text());
                $("#lblManfSKU").html("<b>" + td.eq(1).text() + "</b>");

                $(".manfLbl").html("<b>" + td.eq(4).text() + "</b> ");

                $("#manfPartIdHdn").val(td.eq(5).text());
                if ($("#CountryPartInfo_PartCategoryID option[value='" + td.eq(6).text() + "']").length > 0) {
                    $("#CountryPartInfo_PartCategoryID").select2().val(td.eq(6).text()).trigger("change");
                }
                $("#manfPartModal").modal("hide");
            } else {
                alert("Please select manufacturer to process.");
            }

        });


        $('#CountryPartInfo_DestinationCountryID').bind('change', function () {


            var customerId = $("#customerId").val();
            var companyId = $("#companyId").val();
            var partyId = $("#partyId").val();
            var partId = $("#partId").val();
            var priceCodeId = $("#priceCodeId").val();
            var countryId = $(this).val();

            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                location.href = "/admin/customer/catalog/countrified/" + companyId + "/" + partyId + "/" + customerId + "/" + partId + "/" + priceCodeId + "/" + countryId;
            }
            return false;
        });



    });





</script>