﻿@model List<OneSourceAdminCore.Entity.sp_GetBundleCategoriesSorted_AdminR_Result>
@{
    ViewBag.Title = "Bundle Categories Ordering";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row bread-Crumb-Top">
    <div class="col-md-8" style="padding: 10px; color: #FFF;">
        <b> Dashboard > Customer > Categories Ordering  </b>
    </div>
    <div class="col-md-4" style="padding: 10px;">

        <a href="/admin/company/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId">
            <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
        </a>
    </div>
</div>

<div class="col-md-12">
    @using (Html.BeginForm("BundleCategorySortEdit", "Company", FormMethod.Post, new { @id = "customerBundleCategoriesForm" }))
    {
        <input type="hidden" name="companyId" value="@ViewBag.CompanyId" id="companyId" />
        <input type="hidden" name="partyId" value="@ViewBag.PartyId" id="partyId" />

        <div role="tabpanel" class="tab-pane active">


            <div class="col-md-6 col-md-offset-3" style="margin-top: 10px;">
                @{
                    if (Model != null && Model.Count > 0)
                    {
                        <button type="submit" class="btn btn-default btnSubmit pull-right" id="per" style="margin-top: 15px;">
                            Update
                        </button>
                    }
                }
                <br />

                <h4>Order the categories according to the sort numbers.</h4>
                <hr />

                <div style="max-height:600px; overflow-y:auto;">
                    <table class="table grid-table">
                        <thead>
                            <tr style="color: white;" class="grid-header">
                                <th style="text-align:center;">Part Category Name</th>
                                <th style="text-align:center;">Sort Number</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null && Model.Count > 0)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr class="catPartRow row_@(i)" style="text-align:center;">

                                            <td style="padding-left:20px; padding-top: 15px;">@Model[i].PartCategoryName</td>
                                            <td>
                                                <div style="width:120px;" class="col-md-offset-4">
                                                    <input type="number" style="" name="bundleCategorySortList[@(i)].SortNumber" class="form-control" min="1" value="@Model[i].SortNumber" />
                                                </div>
                                            </td>

                                            <input type="hidden" name="bundleCategorySortList[@(i)].PartCategoryID" value="@Model[i].PartCategoryID" />
                                            <input type="hidden" name="bundleCategorySortList[@(i)].BundleCategorySortID" value="@Model[i].BundleCategorySortID" />
                                            <input type="hidden" name="bundleCategorySortList[@(i)].CustomerID" value="@Model[i].CustomerID" />
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr class="emptyTr"><td colspan="7"><b>Data Not Found</b></td></tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
                                }
</div>

<script>
    $(function () {
        $('#customerBundleCategoriesForm').submit(function () {
            StartLoader();
        });

        @if (TempData["Message"] != null)
    {
        <text>
        showNotification('@(TempData["Message"].ToString())');
        </text>
    }
    });

</script>
