﻿@model OneSourceAdminCore.Model.CustomerCatalogModel
@{
    ViewBag.Title = "Add / Edit Bundle";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/grid-0.4.5.min.css" rel="stylesheet" />
<script src="~/Content/grid-0.4.5.min.js"></script>


<div class="row bread-Crumb-Top">
    <div class="col-md-8" style="padding: 10px; color: #FFF;">
        <b> Dashboard > Customer > Bundles  </b>
    </div>

    <div class="col-md-4" style="padding: 10px;">

        <a href="/admin/company/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId">

            <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">

        </a>
        <input type="hidden" id="addMsg" value="@(ViewBag.AddMsg)" />
        <input type="hidden" id="editMsg" value="@(ViewBag.EditMsg)" />
        <input type="hidden" id="catalogDuplicate" value="@(ViewBag.CatalogDuplicate)" />
        <input type="hidden" id="resultMsg" value="@(ViewBag.result)" />

    </div>
</div>
<div class="col-md-12 tab-content">
    @using (Html.BeginForm("AddEditCustomerBundle", "Company", FormMethod.Post, new { @id = "customerBundleForm" }))
    {
        <div role="tabpanel" class="tab-pane active" id="edit-bundle-info">

            <h1>Bundles</h1>
            <hr>
            <div class="clearfix"></div>
            <div class="alert alert-warning">
                Click on Add/Update button to save changes.
            </div>
            <input type="hidden" name="CatalogStandard.CustomerID" value="@Model.CatalogStandard.CustomerID" />
            <input type="hidden" name="PartyId" value="@Model.PartyId" id="partyId" />
            <input type="hidden" name="CompanyId" value="@Model.CompanyId" id="companyId" />


            <input type="hidden" name="CustomerId" id="customerId" value="@ViewBag.CustomerId" />
            <input type="hidden" name="CatalogStandard.CatalogStandardID" id="catStdIdhdn" value="@Model.CatalogStandard.CatalogStandardID" />

            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Key Identifier:</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" maxlength="50" name="CatalogStandard.KeyIdentifier" value="@Model.CatalogStandard.KeyIdentifier" />
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>

            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Part Categories:</label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px">
                @Html.DropDownList("CatalogStandard.PartCategoryID", new SelectList(Model.PartCategoryList,
                    "Key", "Value", Model.CatalogStandard.PartCategoryID),
                    new { @class = "drpSelect2" })
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Image File:</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" maxlength="100" name="CatalogStandard.ImageFile" value="@Model.CatalogStandard.ImageFile" />
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Display Position:</label>
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" name="CatalogStandard.DisplayPosition" value="@Model.CatalogStandard.DisplayPosition" />
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Description:</label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px;">
                <textarea name="CatalogStandard.Description" maxlength="500" rows="3" required="" class="form-control">@Model.CatalogStandard.Description</textarea>
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Comments:</label>
            </div>
            <div class="col-md-4">
                <textarea name="CatalogStandard.Comments" maxlength="1980" rows="4" class="form-control" id="bundleCommentTxt">@Model.CatalogStandard.Comments</textarea>
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            @if (Model.CatalogStandard.CatalogStandardID > 0)
            {
                <div class="col-md-2"></div>
                <div class="col-md-4" style="margin-top: 15px;">
                    <label>Is Active:</label>
                </div>
                <div class="col-md-4" style="margin-top: 15px;">

                    @{

                        var chk2 = "checked";
                        if (!Model.CatalogStandard.IsActive)
                        {
                            chk2 = "";
                        }
                        <input type="hidden" name="CatalogStandard.IsActive" id="IsActive" value="@Model.CatalogStandard.IsActive.ToString()">
                        <input class="" @chk2 data-toggle="toggle" name="IsActivechkBtn" checkboxfor="IsActive" value="@Model.CatalogStandard.IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />

                    }
                </div>
                <div class="col-md-2"></div>
            }
            else
            {
                <input type="hidden" name="CatalogPart.IsActive" id="" value="true">
                <br />
            }
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Countries:</label>
            </div>
            <div class="col-md-4" style="">
                <input type="hidden" name="CatalogStandard.CountryIDList" value="@Model.CatalogStandard.CountryIDList" id="countryIds" />
                @Html.DropDownList("pCountries", new SelectList(Model.CountriFyList,
                    "Key", "Value"), new { @id = "countryDrp", @multiple = "multiple" })
            </div>

            @* to add sfaid to catalog standards  *@
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Supplier:</label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px">


                @Html.DropDownList("CatalogStandard.SFAID", new SelectList(Model.SupplierList,
            "Key", "Value", Model.CatalogStandard.SFAID),
            new { @class = "drpSelect2" })

            </div>







            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label style="font-weight: bold;">Bundle Part Configuration : </label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px">
                <a href="#manfPartModal" id="openPopupLink" data-toggle="modal" style="color: blue; text-decoration: underline;">
                    Add Catalog Parts
                </a>
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>


            <div class="col-md-1"></div>
            <div class="col-md-10 bundlesPartDiv" style="padding: 0px; max-height: 400px; overflow-y: auto;">

                <table class="table table-striped grid-table partsTbl">
                    <thead>
                        <tr style="color: white">
                            <th class="grid-header">SKU</th>
                            <th class="grid-header">Description</th>
                            <th class="grid-header">Catalog</th>
                            <th class="grid-header">Active</th>
                            <th class="grid-header" style="width: 20%">Priority</th>
                            <th class="grid-header" style="width: 20%">Quantity</th>
                            <th class="grid-header">Optional</th>
                            <th class="grid-header">OptionalSelected</th>
                            <th class="grid-header">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.BundleParts != null && Model.BundleParts.Count > 0)
                            {
                                for (int i = 0; i < Model.BundleParts.Count; i++)
                                {
                                    string chkd = "checked";

                                    <tr class="catPartRow row_@(i)">
                                        <td>@Model.BundleParts[i].ManfSku</td>
                                        <td>@Model.BundleParts[i].Description</td>
                                        <td>@Model.BundleParts[i].PriceCode</td>
                                        <td>@(Model.BundleParts[i].IsActive == true ? "Yes" : "No")</td>
                                        <td><input type="number" name="BundleParts[@(i)].Priority" class="form-control" min="1" value="@Model.BundleParts[i].Priority" /></td>
                                        <td><input type="number" name="BundleParts[@(i)].Quantity" class="form-control" min="1" required="" value="@Model.BundleParts[i].Quantity" /></td>
                                        <td style="vertical-align: middle; text-align: center">
                                            <input type="checkbox" @((Model.BundleParts[i].IsOptional == true) ? @chkd : "") class="isOptionalChk" name="BundleParts[@(i)].IsOptional" value="@Model.BundleParts[i].IsOptional.ToString()" />
                                        </td>
                                        <td style="vertical-align: middle; text-align: center">

                                            @if (Model.BundleParts[i].IsOptional != false)
                                            {
                                                <input type="checkbox" @((Model.BundleParts[i].OptionalSelected == true) ? @chkd : "") class="isOptionalSelectedChk" name="BundleParts[@(i)].OptionalSelected" value="@Model.BundleParts[i].OptionalSelected.ToString()" />
                                            }
                                            else
                                            {
                                                <text>
                                                    <input type="checkbox" @((Model.BundleParts[i].OptionalSelected == true) ? @chkd : "") class="isOptionalSelectedChk" name="BundleParts[@(i)].OptionalSelected" value="@Model.BundleParts[i].OptionalSelected.ToString()" disabled="true" />
                                                </text>
                                            }

                                        </td>
                                        <td style="vertical-align: middle;">
                                            <input type="hidden" name="BundleParts[@(i)].IsRemoved" value="0" class="partRemovedHdn" />
                                            <input type="hidden" name="BundleParts[@(i)].CatalogPartId" value="@Model.BundleParts[i].CatalogPartId" class="catPartId" />
                                            <input type="hidden" name="BundleParts[@(i)].CatalogStdId" value="@Model.BundleParts[i].CatalogStdId" class="catStdIdhdn" />
                                            <span class="catPartDeleteBtn">Delete</span>
                                        </td>
                                    </tr>

                                }

                            }
                            else
                            {
                                <tr class="emptyTr"><td colspan="7"><b>Data Not Found</b></td></tr>
                            }
                        }
                    </tbody>
                </table>


            </div>

            <div class="clearfix"></div>
            <div class="col-md-1"></div>
            <div class="col-md-10 catalog-add-new" style="padding: 0px; ">
                <button type="submit" class="btn btn-default btnSubmit pull-right" id="per" style="margin-top: 15px;">
                    @if (Model.CatalogStandard.CatalogStandardID > 0)
                    {
                        <text> Update</text>
                    }
                    else
                    {
                        <text> Add</text>
                    }
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    }
</div>

<div class="clearfix"></div>

<div class="modal" id="manfPartModal">
    <input type="hidden" id="selectedManfPart" value="0" />
    <div class="modal-dialog" style="width: 55%;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">
                    <b>Catalog Part Search</b>
                </h3>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height: 500px;">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label><b>Manufacturer SKU:</b></label>
                </div>

                <div class="col-md-5">
                    <input type="search" class="form-control manfPartTxt" placeholder="Enter manufacturer part sku" maxlength="50" style="float: left;" />
                    <span style="display: block; width: 100% !important; float: right; color: rgb(128, 128, 128);font-size: 11px;">Try narrowing your search criteria.</span>
                </div>
                <div class="col-md-3">
                    <button type="button" id="manfPartSearchBtn" class="search-replace blue-Btn" style="padding: 8px; font-size: 11px; border-color: rgba(136, 136, 136, 0.533);">Search</button>
                </div>
                <br /><br />
                <div id="manfResult"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a id="addCatPartsBtn" href="#" class="btn btn-primary">Add</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="clearfix"></div>

<style>
    .partsTbl {
        font-size: 11px;
    }

        .partsTbl span {
            color: blue;
            cursor: pointer;
        }

        .partsTbl input {
            margin-bottom: 0px;
        }

    #grid td {
        font-size: 12px;
    }

    #grid thead tr th {
        background-color: #3b9ad2;
        color: white;
    }
</style>



<script>

    $(document).ready(function () {

        $(".drpSelect2").select2(
            {
                allowClear: true
            });

        $('#countryDrp').multipleSelect(
            {
                placeholder: 'countries',
                selectAll: true,
                filter: true,
                onClick: function (view) {
                    $("#countryIds").val($('#countryDrp').multipleSelect("getSelects"));
                },
                onCheckAll: function (view) {
                    $("#countryIds").val($('#countryDrp').multipleSelect("getSelects"));
                },
                onUncheckAll: function (view) {
                    $("#countryIds").val($('#countryDrp').multipleSelect("getSelects"));
                }
            });

        var countryIds = $("#countryIds").val();

        if (countryIds.length > 0 && countryIds.split(',').length > 0) {
            $('#countryDrp').multipleSelect("setSelects", countryIds.split(',').map(Number));
        }

        var addMsg = $("#addMsg").val();
        var result = $("#resultMsg").val();
        var updateMsg = $("#editMsg").val();
        var duplicateMsg = $("#catalogDuplicate").val();
        if (result == "invalid") {
            showNotification("Please provide an appropriate description, country, and catalog part.");
        } else {
            if (duplicateMsg == "true") {
                showNotification("A bundle with this description already exists.");
            } else {
                if (addMsg == "true") {
                    showNotification("Record added successfully.");
                } else if (addMsg == "False") {
                    showNotification("Error while adding.");
                }


                if (updateMsg == "true") {
                    showNotification("Record updated successfully.");
                } else if (updateMsg == "False") {
                    showNotification("Error while updating.");
                }

            }
        }


        $('body').on('click', ".isOptionalChk", function () {

            $(this).attr("value", this.checked);
            var name = this.name.split('.');
            var index = name[0].substring(name[0].lastIndexOf("[") + 1, name[0].lastIndexOf("]"));

            var a = document.getElementsByName('BundleParts[' + index + '].OptionalSelected')

            if (this.checked == false) {
                a[0].checked = false;
                a[0].value = false;
                a[0].disabled = true;
            }
            if (this.checked == true) {
                a[0].checked = false;
                a[0].value = false;
                a[0].disabled = false;
            }


        });

        $('body').on('click', ".isOptionalSelectedChk", function () {
            $(this).attr("value", this.checked);
        });


        var grid;
        //search catalog part and open result in popup
        function GetCatalogParts() {
            $(".modal-body #manfResult").html('<table id="grid" ></table>');
            //var grid = $("#grid").html("");
            var customerId = $("#customerId").val();

            showHideLoader(1);
            grid = $("#grid").grid({
                dataKey: "CatalogPartID",
                dataSource: {
                    url: "/Company/GetCustomerCatalogParts", cache: false,
                    data: { customerId: customerId, searchString: $(".manfPartTxt").val() }
                    , complete: function () {
                        $(".gj-grid-bootstrap-tfoot-cell").attr("colspan", "4");
                        $("#manfPartModal").modal("show");
                        showHideLoader(0);
                    }
                },
                uiLibrary: "bootstrap",
                columns: [
                    //{ field: "ManfId", sortable: true, title: "ManfId" },
                    { field: "ManufacturerSKU", sortable: true, title: "SKU", width: 150, cssClass: "pSku" },
                    { field: "Description", sortable: true, width: 470, cssClass: "pDesc" },
                    { field: "PriceCode", sortable: true, title: "Catalog Type", width: 150, cssClass: "catType" },
                    { field: "CatalogPartID", hidden: true, cssClass: "pCatId" },
                ],
                pager: { enable: true, limit: 25, sizes: [25, 50] },
                selectionType: "multiple",
                selectionMethod: "checkbox"

            });


        }


        $("#manfPartSearchBtn").click(function () {
            GetCatalogParts();
        });

        $("#openPopupLink").click(function () {
            $(".manfPartTxt").val("");
            GetCatalogParts();

        });

        $("#addCatPartsBtn").click(function () {
            var catStd = $("#catStdIdhdn").val();

            var selections = [];
            $.each($("#grid input[type='checkbox']"), function (i, v) {
                if (v.checked == true) {
                    if ($.isNumeric($(v).val())) {
                        selections.push(parseInt($(v).val()));
                    }
                }
            });

            var existingCount = $(".partsTbl tbody .catPartRow").length;

            if (selections.length == 0) {
                alert("Please select catalog part to add!");
                return false;
            }


            var chkExisting = false;
            var trs = '';
            $.each(selections, function (i, v) {

                if ($(".partsTbl tr td input[value='" + v + "']").length == 0) {

                    trs = trs + '<tr class="catPartRow row_' + (i + existingCount) + '"><td>' + grid.getById(v).ManufacturerSKU + '</td>' +
                        '<td>' + grid.getById(v).Description + '</td>' +
                        '<td>' + grid.getById(v).PriceCode + '</td>' +
                        '<td>Yes</td>' +
                        '<td><input type="number" name="BundleParts[' + (i + existingCount) + '].Priority" class="form-control" min="1" value="" /></td>' +
                        '<td><input name="BundleParts[' + (i + existingCount) + '].Quantity" class="form-control" min="1" required="" value="1" type="number"></td>' +
                        '<td style="vertical-align: middle;text-align: center">' +
                        '<input class="isOptionalChk" name="BundleParts[' + (i + existingCount) + '].IsOptional" value="false" type="checkbox"></td>' +
                        '<td style="vertical-align: middle; text-align: center"> ' +
                        '<input type="checkbox"  class="isOptionalSelectedChk" name="BundleParts[' + (i + existingCount) + '].OptionalSelected" value="false" disabled="true" /> </td>' +
                        '<td style="vertical-align: middle;">' +
                        '<input name="BundleParts[' + (i + existingCount) + '].IsRemoved" value="0" type="hidden">' +
                        '<input name="BundleParts[' + (i + existingCount) + '].CatalogPartId" value="' + grid.getById(v).CatalogPartID + '" class="catPartId" type="hidden">' +
                        '<input name="BundleParts[' + (i + existingCount) + '].CatalogStdId" value="' + catStd + '" class="catStdIdhdn" type="hidden">' +
                        '<span class="catPartDeleteBtn">Delete</span></td></tr>';
                } else {
                    chkExisting = true;
                    existingCount = existingCount - 1;
                }
            });

            $(".partsTbl tbody").append(trs);

            if (chkExisting) {
                alert("Some part(s) already exist in the bundle!");
            }
            if (trs.length != 0) {
                $(".partsTbl tbody .emptyTr").remove();
            }
            $("#manfPartModal").modal("hide");
            showNotification("Catalog Part(s) updated!");

        });

        $('body').on('click', ".catPartDeleteBtn", function () {

            $(this).closest('td').find('.catPartId').val("0");

            $(this).closest("tr").hide();

            if ($(".partsTbl tbody tr:visible").length == 0) {
                $(".partsTbl tbody").html('<tr class="emptyTr"><td colspan="7"><b>Data Not Found</b></td></tr>');
            }
        });

        var unsaved = false;

        $(":input").change(function () { //trigers change in all input fields including text type
            unsaved = true;
        });

        $("#customerBundleForm").submit(function (e) {
            unsaved = false;
            if ($('#countryDrp').multipleSelect("getSelects").length == 0) {
                alert("Please select country.");
                e.preventDefault();
                return false;
            }

            if ($(".partsTbl tbody tr.catPartRow:visible").length == 0) {
                alert("Please select catalog part.");
                e.preventDefault();
                return false;
            }


            $("#customerBundleForm :input").each(function () {
                var input = $(this);
                if (!(input)[0].checkValidity()) {
                    $('html, body').animate({
                        scrollTop: $(input).offset().top - 170
                    });
                    if ((input).attr("required") != null && (input).val().length < 1) {
                        alert("Please fill all mandatory fields.");
                        $(input).focus();
                        return false;
                    } else {

                        if ((input).attr("type").toLowerCase() == 'email') {
                            alert("Invalid email address.");
                            $(input).focus();
                            return false;

                        } else if ((input).attr("type").toLowerCase() == 'number') {
                            var min = (input).attr("min");
                            var max = (input).attr("max");
                            var addition = "";
                            if (min != null && max != null) {
                                addition = "ie (" + min + "-" + max + ")";
                            }
                            alert("Enter valid number. " + addition);
                            $(input).focus();
                            return false;
                        } else {

                            alert("Please valid input value.");
                            $(input).focus();
                            return false;


                        }
                    }
                    e.preventDefault();
                }
                if ($(input).hasClass("txtPercent") && $(input).val().length > 0) {

                    var x = parseFloat(input.val());
                    if (isNaN(x) || x < 0 || x > 100 || (input.val()).split(".").length > 2) {
                        alert("Please enter valid percentage. ie(0-100)");
                        $(input).focus();
                        e.preventDefault();
                    }
                } else if ($(input).hasClass("txtDecimal") && $(input).val().length > 0) {

                    var x = parseFloat(input.val());
                    //   var num = parseFloat(input.val());
                    //return !Number.isNaN(num) && num.toFixed(2).toString() === str;

                    if (isNaN(x) || x < 0 || (input.val()).split(".").length > 2) {
                        alert("Please enter valid decimal number.");
                        $(input).focus();
                        e.preventDefault();
                    }
                }


            });

            if ($("#bundleCommentTxt").val().length > 2000) {
                alert("Comments max length is 2000 character.");
                e.preventDefault();
                return false;
            }


        });

        var $limitNum = 2000;
        $('#bundleCommentTxt').keydown(function () {
            var $this = $(this);

            if ($this.val().length > $limitNum) {

                $this.val($this.val().substring(0, $limitNum));
            }
        });

        function unloadPage() {
            if (unsaved) {
                return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
            }
        }

        window.onbeforeunload = unloadPage;

    });






</script>