﻿@model OneSourceAdminCore.Model.CustomerCatalogModel

@{
    ViewBag.Title = "CatalogCrudView";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@*<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>*@
<link href="~/Content/grid-0.4.5.min.css" rel="stylesheet" />
<script src="~/Content/GijgoGrid-Core.js"></script>
<script src="~/Content/grid-0.4.5.min.js"></script>


<div class="row bread-Crumb-Top">
    <div class="col-md-8" style="padding: 10px; color: #FFF;">
        <b> Dashboard > Customer > Catalog  </b>
    </div>

    <div class="col-md-4" style="padding: 10px;">

        @if (Model.CatalogPart.CatalogPartID > 0)
        {
            <a href="/admin/customer/catalog/countrified/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.CustomerId/@ViewBag.PartId/@ViewBag.PriceCode/@ViewBag.CountryId">
                <button type="submit" class="btn btn-default topAddNewButton" style="margin-right: 60px;float:right !important">Countrify</button>
            </a>
         if (Model.CountrifyCountryList.Count> 0)
          {
              <a href="#quickSettingsModal" data-toggle="modal" >
                  <button type="submit" class="btn btn-default topAddNewButton" id="quickSettingBtn" style="margin-right: 152px;float:right">Quick Settings</button>
              </a>
          }
        }
        <a href="/admin/company/@ViewBag.CompanyId/@ViewBag.PartyId/@ViewBag.RoleId">

            <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">

            <input type="hidden" id="addMsg" value="@(ViewBag.AddMsg)" />
            <input type="hidden" id="editMsg" value="@(ViewBag.EditMsg)" />
            <input type="hidden" id="catalogDuplicate" value="@(ViewBag.CatalogDuplicate)" />
            <input type="hidden" id="resultMsg" value="@(ViewBag.result)" />

        </a>
    </div>
</div>

<div class="col-md-12 tab-content">
    <div role="tabpanel" class="tab-pane active" id="edit-sku-info">
        <h1>Catalog</h1>
        <hr>
        <div class="clearfix"></div>

        <div class="col-md-2"></div>
        <div class="clearfix"></div>

        @using (Html.BeginForm("AddEditCustomerCatalog", "Company", FormMethod.Post, new { @id = "customerCatalogForm" }))
        {

            <input type="hidden" name="CatalogPart.CatalogPartID" value="@Model.CatalogPart.CatalogPartID" id="catalogPartIdHdn" />
            <input type="hidden" name="CatalogPart.ManufacturerPartID" value="@Model.CatalogPart.ManufacturerPartID" id="manfPartIdHdn" />
            <input type="hidden" name="CatalogPart.CustomerID" value="@Model.CatalogPart.CustomerID" id="customerId" />
            <input type="hidden" name="CustomerId" value="@Model.CatalogPart.CustomerID" id="" />
            <input type="hidden" name="PartyId" value="@Model.PartyId" id="partyId" />
            <input type="hidden" name="CompanyId" value="@Model.CompanyId" id="companyId" />
            <input type="hidden" value="@ViewBag.PriceCode" id="priceCodeId" />


            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>MFG Part:</label>
            </div>
            <div class="col-md-4">
                @if (Model.ManfPart != null)
                {
                    <span id="lblManfSKU">
                        <b>
                            (@Model.ManfPart.ManufacturerSKU)
                        </b>
                        @Model.ManfPart.Description
                    </span>
                }
                else
                {
                    <span id="lblManfSKU">< Select a MFG Part ></span>
                }
                <br />

                <a href="#manfPartModal" id="openPopupLink" data-toggle="modal" style="color: blue;">
                    Add/Replace
                </a>
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Part Category:</label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px">
                @Html.DropDownList("CatalogPart.PartCategoryID", new SelectList(Model.PartCategoryList,
            "Key", "Value", Model.CatalogPart.PartCategoryID),
            new { @class = "drpSelect2" })
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Global Price:</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="CatalogPart.GlobalPrice" value="@Model.CatalogPart.GlobalPrice" required="" maxlength="7" class="form-control txtDecimal">
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Currency:</label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px">
                @Html.DropDownList("CatalogPart.GlobalPriceCurrencyID", new SelectList(Model.CurrencyList,
            "Key", "Value", Model.CatalogPart.GlobalPriceCurrencyID),
            new { @class = "drpSelect2" })
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>UNSPSC:</label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px">
                @Html.DropDownList("CatalogPart.UNSPSC", new SelectList(Model.UnspscList,
            "Key", "Value", Model.CatalogPart.UNSPSC),
            new { @class = "drpSelect2" })
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Price Code:</label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px">


                @if ((ViewBag.PriceCode == 1 || ViewBag.PriceCode == 2) && ViewBag.PartId == 0)
                {
                    @Html.DropDownList("CatalogPart.PriceCodeID", new SelectList(Model.PriceCodeList,
                "Key", "Value", Model.CatalogPart.PriceCodeID),
                new { @class = "drpSelect2", @disabled = "disabled" })
                    <input type="hidden" name="CatalogPart.PriceCodeID" value="@Model.CatalogPart.PriceCodeID" />
                }
                else
                {
                    @Html.DropDownList("CatalogPart.PriceCodeID", new SelectList(Model.PriceCodeList,
                "Key", "Value", Model.CatalogPart.PriceCodeID),
                new { @class = "drpSelect2" })

                }

            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Exclusive Supplier:</label>
            </div>
            <div class="col-md-4" style="margin-bottom: 15px">

                @if (ViewBag.PriceCode == 1)
                {
                    @Html.DropDownList("CatalogPart.SFAID", new SelectList(Model.SupplierList,
                "Key", "Value", Model.CatalogPart.SFAID),
                new { @class = "drpSelect2", @disabled = "disabled" })
                    <input type="hidden" name="CatalogPart.SFAID" value="@Model.CatalogPart.SFAID" />
                }
                else
                {

                    @Html.DropDownList("CatalogPart.SFAID", new SelectList(Model.SupplierList,
                "Key", "Value", Model.CatalogPart.SFAID),
                new { @class = "drpSelect2" })
                }


            </div>
            <div class="col-md-2"></div>
            if (Model.CatalogPart.CatalogPartID < 1)
            {
                <div class="clearfix"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label>Countrify In:</label>
                </div>
                <div class="col-md-4" style="margin-bottom: 15px">


                    @Html.DropDownList("CountrifyIn", new SelectList(Model.CountriFyList,
                "Key", "Value"),
                new { @class = "drpSelect2", Model.CountrifyIn })


                </div>
                <div class="col-md-2"></div>
                <div class="clearfix"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label>EOL :</label>
                </div>

                <div class="col-md-4" style="margin-bottom: 15px">

                    <div class="input-group input-medium date date-picker" style="width: 100% !important" data-date="@Model.Eol.ToString("MM/dd/yyyy")" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                        <input type="text" id="eolddate" name="Eol" value="@Model.Eol.ToString("MM/dd/yyyy")" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>


                </div>
                <div class="col-md-2"></div>
                <div class="clearfix"></div>
            }
            if (Model.CatalogPart.CatalogPartID > 0)
            {
                <div class="clearfix"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label>Is Active:</label>
                </div>
                <div class="col-md-4">
                    @{
                var chk2 = "checked";
                if (!Model.CatalogPart.IsActive)
                {
                    chk2 = "";
                }
                <input type="hidden" name="CatalogPart.IsActive" id="IsActive" value="@Model.CatalogPart.IsActive.ToString()">
                        <input class="" @chk2 data-toggle="toggle" name="IsActivechkBtn" checkboxfor="IsActive" value="@Model.CatalogPart.IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                    }
                </div>
                <div class="col-md-2"></div>
                <div class="clearfix"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label>Is Hidden:</label>
                </div>
                <div class="col-md-4">
                    @{
                var chk1 = "checked";
                if (!Model.CatalogPart.hide)
                {
                    chk1 = "";
                }
                <input type="hidden" name="CatalogPart.hide" id="ishidden" value="@Model.CatalogPart.hide.ToString()">
                        <input class="" @chk1 data-toggle="toggle" name="IsActivechkBtn" checkboxfor="ishidden" value="@Model.CatalogPart.hide" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                    }
                </div>
                <div class="col-md-2"></div>
                <div class="clearfix"></div>
            }
            else
            { <input type="hidden" name="CatalogPart.hide" id="" value="true">
            <input type="hidden" name="CatalogPart.IsActive" id="" value="true">
            }
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Description:</label>
            </div>
            <div class="col-md-4">
                <textarea name="CatalogPart.Description" id="txtDescription" required maxlength="3500" class="form-control">@Model.CatalogPart.Description</textarea>
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-10 catalog-add-new">
                <button type="submit" class="btn btn-default btnSubmit pull-right" id="per" style="margin-top: 15px;">
                    @if (Model.CatalogPart.CatalogPartID > 0)
                    {
                        <text> Update</text>
                    }
                    else
                    {
                         <text> Add</text> 
                    }
                </button>
            </div>
        }
    </div>


</div>


<div class="modal" id="manfPartModal">
    <input type="hidden" id="selectedManfPart" value="0" />
    <div class="modal-dialog" style="width: 55%;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">
                    <b>Manufacturer Part Search</b>
                </h3>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height: 500px;">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label><b>Manufacturer SKU:</b></label>
                </div>

                <div class="col-md-5">
                    <input type="search" class="form-control manfPartTxt" placeholder="Enter manufacturer part sku" maxlength="50" style="float: left;" />
                    <span style="display: block; width: 100% !important; float: right; color: rgb(128, 128, 128);font-size: 11px;">Try narrowing your search criteria.</span>
                </div>
                <div class="col-md-3">
                    <button type="button" id="manfPartSearchBtn" class="search-replace blue-Btn" style="padding: 8px; font-size: 11px; border-color: rgba(136, 136, 136, 0.533);">Search</button>
                </div>
                <br /><br />
                <div id="manfResult"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a id="addManfPartBtn" href="#" class="btn btn-primary">Add/Update</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="clearfix"></div>


<div class="modal" id="quickSettingsModal">

    <div class="modal-dialog" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">
                    <b>Countrified Parts Settings</b>
                </h3>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height: 500px;">

                <div class="pSKu">
                    <h4>Manufacturere Sku :</h4>
                    <b>-</b>
                </div>

                <hr />
                <div class="">
                    <h3>Destination Countries :</h3>
                    @if (Model.CountrifyCountryList.Count> 0)
                    {
                    @Html.DropDownList("pCountries", new SelectList(Model.CountrifyCountryList,
            "Key", "Value"), new { @id = "destCountryDrp", @multiple = "multiple" })}
                </div>

                <div class="">
                    <h3>EOL :</h3>
                    <div class="input-group input-medium date date-picker" style="width: 100% !important" data-date="@(DateTime.Now.AddMonths(1).ToString("MM/dd/yyyy"))" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                        <input type="text" id="pEol" value="@(DateTime.Now.AddMonths(1).ToString("MM/dd/yyyy"))" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>

                <div class="">
                    <h3>Price :</h3>
                    <input type="text" value="@(Model.CatalogPart.GlobalPrice)" class="form-control" id="pPrice" />
                </div>

                <div class="">
                    <h3>Currency :</h3>
                    @Html.DropDownList("pCurrency", new SelectList(Model.CurrencyList,
            "Key", "Value", Model.CatalogPart.GlobalPriceCurrencyID),
            new { @class = "drpSelect2" })
                </div>

                <div class="">
                    <h3>Active :</h3>

                    @{

                        <input type="hidden" name="" id="pActive" value="true">
                        <input id="pActiveBtn" checked data-toggle="toggle" name="IsActivechkBtn" checkboxfor="pActive" value="true" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox" />
                    }

                </div>
                <div class="">
                    <h3>Update Eol Only :</h3>

                    @{

                        <input id="pEOlOnly" type="checkbox" />
                    }

                </div>
                <br />

            </div><!-- /.modal-content -->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a id="updateSettings" href="#" class="btn btn-primary">Update</a>
            </div>
        </div><!-- /.modal-dialog -->
    </div>
</div>
<div class="clearfix"></div>

<style>
    #grid td {
        font-size: 12px;
    }

    #grid thead tr th {
        background-color: #3b9ad2;
        color: white;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $(".drpSelect2").select2(
        {
            allowClear: true
        });

        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true
        });

        var addMsg = $("#addMsg").val();
        var result = $("#resultMsg").val();
        var updateMsg = $("#editMsg").val();
        var duplicateMsg = $("#catalogDuplicate").val();
        if (result == "invalid") {
            showNotification("Please provide an appropriate description and price for this part.");
        } else {
            if (duplicateMsg == "true") {
                showNotification("A part with this manufacturer, SKU, pricecode and supplier already exists.");
            } else {
                if (addMsg == "true") {
                    showNotification("Record added successfully.");
                } else if (addMsg == "False") {
                    showNotification("Error while adding.");
                }


                if (updateMsg == "true") {
                    showNotification("Record updated successfully.");
                } else if (updateMsg == "False") {
                    showNotification("Error while updating.");
                }

            }
        }


        $("#updateSettings").click(function () {


            var customerId = $("#customerId").val();
            var catalogId = $("#catalogPartIdHdn").val();
            var isActive = $("#pActive").val();
            var currencyId = $("#pCurrency").val();
            var eol = $("#pEol").val();
            var onlyEol = $("#pEOlOnly").val();
            var price = parseFloat($("#pPrice").val());

            var selectedIds = $('#destCountryDrp').multipleSelect('getSelects');
            var ids = selectedIds.toString().split(',');
            var setups = [];

     

            if (ids != null && ids != '') {

                if ($('#pEOlOnly').is(':checked') == false) {

                    if (price == "" || isNaN(price) || price < 0 || $("#pPrice").val().split(".").length > 2) {
                        alert("Please enter valid price.");
                        e.preventDefault();
                        return false;
                    }
                    if (eol == null || eol == "") {
                        alert("Please select valid EOL date.");
                        e.preventDefault();
                        return false;
                    }
                } else {
                    if (eol == null || eol == "") {
                        alert("Please select valid EOL date.");
                        e.preventDefault();
                        return false;
                    }
                }

                $.each(ids, function (index, item) {

                    setups.push({
                        Eol: eol,
                        CatalogId: catalogId,
                        CustomerId: customerId,
                        IsActive: isActive,
                        CurrencyId: currencyId,
                        Price: price,
                        UpdateEol: $('#pEOlOnly').is(':checked'),
                        CountryId : item
                    });
                });

                showHideLoader(1);
                $.ajax({
                    url: '/Company/UpdateCatalogPartQuickSettings',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ list: setups }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data == true) {
                            showNotification("Record updated successfully.");
                        } else {
                            showNotification("Error while updating.");
                        }

                    }, complete: function (data) {
                        location.reload();
                    }
                });

            } else {
                alert("Please select atleast 1 country to process!");
                return false;
            }
        });



        $("#openPopupLink").click(function () {
            $(".modal-body #manfResult").html('<table id="grid" ></table>');
            $(".manfPartTxt").val("");
        });

        //search manf part and open result in popup
        $("#manfPartSearchBtn").click(function () {
            $(".modal-body #manfResult").html('<table id="grid" ></table>');
            var grid = $("#grid").html("");

            showHideLoader(1);
            $("#grid").grid({
                dataKey: "ManfId",
                dataSource: {
                    url: "/Company/GetManfPartSearch", cache: false,
                    data: { searchString: $(".manfPartTxt").val() }
                    , complete: function () {
                        $(".gj-grid-bootstrap-tfoot-cell").attr("colspan", "5");
                        $("#manfPartModal").modal("show");
                        showHideLoader(0);
                    }
                },
                uiLibrary: "bootstrap",
                columns: [
                    //{ field: "ManfId", sortable: true, title: "ManfId" },
                    { field: "ManfSku", sortable: true, title: "SKU" },
                    { field: "Description", sortable: true },
                    { field: "Category", title: "Part Category", sortable: true },
                    { field: "Manufacturer", title: "Manfacturer", sortable: true },
                    { field: "ManfId", title: "ManfId", hidden: true },
                    { field: "CategoryId", title: "CategoryId", hidden: true },
                    { field: "ManufacturerId", title: "ManufacturerId", hidden: true },


                ],
                pager: { enable: true, limit: 25, sizes: [25, 50] },
                selectionType: "single",
                selectionMethod: "checkbox"

            });

            grid.on("rowSelect", function (e, $row, id, record) {

                var id = id;
                $("#grid input[type='checkbox']").removeAttr("checked");
                $("#grid input[value='" + id + "']").attr("checked", "checked");
                $("#selectedManfPart").val(id);
            });




        });

        $('body').on('change', "#grid input[type='checkbox']", function () {

            $("#grid input[type='checkbox']").not(this).prop('checked', false);
            $("#selectedManfPart").val($(this).attr("value"));

        });


        $("#customerCatalogForm").submit(function (e) {
            var manfId = $("#manfPartIdHdn").val();
            if (manfId == null || manfId == "0") {
                alert("Please select a manufacturer part.");
                e.preventDefault();
                return false;

            }
            $("#customerCatalogForm :input").each(function () {
                var input = $(this);
                if (!(input)[0].checkValidity()) {
                    $('html, body').animate({
                        scrollTop: $(input).offset().top - 170
                    });
                    if ((input).attr("required") != null && (input).val().length < 1) {
                        alert("Please fill all mandatory fields.");
                        $(input).focus();
                        return false;
                    } else {

                        if ((input).attr("type").toLowerCase() == 'email') {
                            alert("Invalid email address.");
                            $(input).focus();
                            return false;

                        } else if ((input).attr("type").toLowerCase() == 'number') {
                            var min = (input).attr("min");
                            var max = (input).attr("max");
                            var addition = "";
                            if (min != null && max != null) {
                                addition = "ie (" + min + "-" + max + ")";
                            }
                            alert("Enter valid number. " + addition);
                            $(input).focus();
                            return false;
                        } else {

                            alert("Please valid input value.");
                            $(input).focus();
                            return false;


                        }
                    }
                    e.preventDefault();
                }
                if ($(input).hasClass("txtPercent") && $(input).val().length > 0) {

                    var x = parseFloat(input.val());
                    if (isNaN(x) || x < 0 || x > 100 || (input.val()).split(".").length > 2) {
                        alert("Please enter valid percentage. ie(0-100)");
                        $(input).focus();
                        e.preventDefault();
                    }
                } else if ($(input).hasClass("txtDecimal") && $(input).val().length > 0) {

                    var x = parseFloat(input.val());
                    //   var num = parseFloat(input.val());
                    //return !Number.isNaN(num) && num.toFixed(2).toString() === str;

                    if (isNaN(x) || x < 0 || (input.val()).split(".").length > 2) {
                        alert("Please enter valid decimal number.");
                        $(input).focus();
                        e.preventDefault();
                    }
                }


            });

        });




        $("#addManfPartBtn").click(function () {

            var td = $("#grid").find("input[type='checkbox']:checked").closest("tr").find("td");

            if (td.length > 0) {

                $("#txtDescription").text(td.eq(2).text());
                $("#lblManfSKU").html("<b>(" + td.eq(1).text() + ")</b> " + td.eq(2).text() + "");
                $("#manfPartIdHdn").val(td.eq(5).text());
                if ($("#CatalogPart_PartCategoryID option[value='" + td.eq(6).text() + "']").length > 0) {
                    $("#CatalogPart_PartCategoryID").select2().val(td.eq(6).text()).trigger("change");
                }
                $("#manfPartModal").modal("hide");
            } else {
                alert("Please select manufacturer to process.");
            }

        });


        ///Quick settings

        $('#destCountryDrp').multipleSelect(
                               {
                                   placeholder: 'countries',
                                   selectAll: true,
                                   filter: true,
                               });

        $("#quickSettingBtn").click(function() {
            
            $(".pSKu b").html($("#lblManfSKU b").text().trim());
            $("#destCountryDrp").multipleSelect("uncheckAll");
            $("#pPrice").val($("input[name='CatalogPart.GlobalPrice']").val());
            $("#pActiveBtn").bootstrapToggle("on");
            $("#pEOlOnly").removeAttr("checked");
        });

    });





</script>
