﻿@model OneSourceAdminCore.Model.CustomerModel
@{
    ViewBag.Title = "Disclaimer Setting";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>
<script>
    var myApp = angular.module("myModule", []);
    myApp.controller("myController", function ($scope, $http) {
        $scope.getCustomerDisclaimer = function (id) {
            StartLoader();
            $scope.$apply(function () {
                $scope.disclaimer = null;
            });
            if (id !== "") {

                $http.get('/DisclaimerSetting/GetDisclaimer' + '?' + new Date().toString(), { params: { customerid: id } }).success(function (response) {

                    if (response != "") {
                        $("#cke_txtDisclaimer iframe").contents().find("body").html(JSON.parse(response).replace(/\n/g, ""));

                        if ($("#cke_txtDisclaimer iframe").contents().find("body").html().length > 0) {
                            $('.btnDelete').removeAttr("disabled");
                        }
                        else {
                            $('.btnDelete').attr("disabled", "disabled");
                        }

                    }
                    else {
                        $("#cke_txtDisclaimer iframe").contents().find("body").html("");
                        $('.btnDelete').attr("disabled", "disabled");
                    }
                    EndLoader();
                });

            }
            else {
                $('.btnDelete').attr("disabled", "disabled");
                $("#cke_txtDisclaimer iframe").contents().find("body").html("");
                EndLoader();
            }


        };

        @if (ViewBag.AddEditAccess == true)
        {
            <text>
        $scope.update = function () {

            if (CKEDITOR.instances["txtDisclaimer"].getData().length > 7000) {
                alert("The Maximum Character Length of Disclaimer 7000");
                return false;
            }

            if ($('#CustomerID').val() != "" && CKEDITOR.instances["txtDisclaimer"].getData().length > 0) {
                var postedData = {
                    customerId: $('#CustomerID').val(),
                    disclaimer: CKEDITOR.instances["txtDisclaimer"].getData()
                };
                StartLoader();
                var req = {
                    method: 'POST',
                    url: '/DisclaimerSetting/UpdateDisclaimer',
                    headers: {
                        'contentType': 'application/json; charset=utf-8',
                        'dataType': 'json',
                    },
                    data: JSON.stringify(postedData)
                }

                $http(req).success(function (response) {
                    if (response == "0") {
                        alert("Error Occurred");
                    }
                    else {
                        $('.btnDelete').removeAttr("disabled");
                        alert('Disclaimer successfully updated');
                        EndLoader();

                    }
                });
            }
            else {
                alert('Customer and Disclaimer is required');
            }

        };</text>}


        $scope.delete = function () {

            var postedData = {
                customerId: $('#CustomerID').val()
            }

            StartLoader();
            var req = {
                method: 'POST',
                url: '/DisclaimerSetting/DeleteDisclaimer',
                headers: {
                    'contentType': 'application/json; charset=utf-8',
                    'dataType': 'json',
                },
                data: JSON.stringify(postedData)
            }

            $http(req).success(function (response) {
                if (response == "0") {
                    alert("Error Occurred");
                }
                else {
                    $('.btnDelete').attr("disabled", "disabled");
                    $("#cke_txtDisclaimer iframe").contents().find("body").html("");
                    alert("Record delete successfuly");
                }
                EndLoader();
            });

        };



    });
</script>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Setting > Disclaimer Setting </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-3" style="padding:10px;"></div>
</div>
<div style=" text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
<div ng-app="myModule" ng-controller="myController" id="myController">
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3" style=" padding-left: 20px;"><span style="color:red">* </span>Customer </label>
                <div class="col-md-7">
                    <input type="hidden" name="CustomerName" id="CustomerName">
                    <input type="hidden" name="CustomerAlertId" id="CustomerAlertId">
                    @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
                        "Key", "Value"), "--Select--",
  new { @id = "CustomerID", @valueFor = "CustomerName", @class = "form-control ", @tabindex = "-1" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXTRAS PORTLET-->
                    <div class="portlet box green">
                        <!--<div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>CKEditor Editor
                        </div>-->
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="#portlet-config" data-toggle="modal" class="config">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                            <a href="javascript:;" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group last">
                                    <!--<label class="control-label col-md-3">CKEditor</label>-->
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <textarea id="txtDisclaimer" class="ckeditor form-control" ng-model="disclaimer" name="editor1" rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-8" style="font-weight: 600;">Note: The Maximum Character Length of Disclaimer 7000.</div>
                            </div>
                            <br />
                            <br />
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END EXTRAS PORTLET-->
            </div>
            <!-- END FORM-->
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-4"></div>
        <div class="col-md-7" style="padding-left: 23px;">
            @if (ViewBag.AddEditAccess == true)
            {
                <button type="button" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per" ng-click="update()">Submit</button>
            }
            else
            {
                <button type="button" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per" onclick="Redirect()">Submit</button>

            }
            @if (ViewBag.AddEditAccess == true)
            {
                <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
            }
            else
            {
                <button type="button" class="btn btn-default" style="float: left; margin-left: 5px;" id="per" onclick="Redirect()">Reset</button>
            }
            @if (ViewBag.AddEditAccess == true)
            {
                <button type="button" class="btn btn-default btnDelete" style="float: left; margin-left: 5px;" id="per">Delete</button>
            }
            else
            {
                <button type="button" class="btn btn-default" style="float: left; margin-left: 5px;" id="per" onclick="Redirect()">Delete</button>
            }
        </div>
        <br>
        <br>
    </div>
</div>
<script>
    function Redirect() {
        window.location.href = "/access-denied";
    }

    @if (ViewBag.AddEditAccess == true)
     {
    <text>
    $('.btnReset').click(function () {

        $('#CustomerID').val('');
        $("#cke_txtDisclaimer iframe").contents().find("body").text("");
        $('.btnDelete').attr("disabled", "disabled");
    });
    $('.btnDelete').click(function () {
        if (confirm("Are you sure you want to delete this record")) {
            angular.element(document.getElementById('myController')).scope().delete();
        }
    });
    </text>
     }
    $(document).ready(function () {
        $('.btnDelete').attr("disabled", "disabled");
        CKEDITOR.replace('txtDisclaimer',
{
    toolbar: 'MA'
});
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);
    });
    $('#CustomerID').change(function () {
        angular.element(document.getElementById('myController')).scope().getCustomerDisclaimer($(this).val());
    });
  

    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".disclaimersetting").addClass("active");
    });
</script>
