﻿@model OneSourceAdminCore.Model.CompanyModel
@using OneSourceAdminCore.Helper

<div role="tabpanel" class="tab-pane active" id="companyInfo">
    @using (Html.BeginForm("AddUpdateCompany", "Company", FormMethod.Post, new { @id = "CompanyForm", @name = "CompanyForm" }))
    {
        <div class="os-admin-companies" style="margin-top: 0px;">
            <!-- Tab panes -->
            <div class="col-md-12 tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="col-md-6 location-tab-one">
                        <input type="hidden" name="CompanyId" value="@(Model.parentcompanyid)">
                        @* <input type="hidden" name="partyId" value="@(StaticHelper.GetParameter( new Uri(HttpContext.Current.Request.Url.AbsoluteUri).OriginalString, "partyId"))">*@
                        <input type="hidden" name="partyId" value="@(Model.PartyId)">
                        <div class="col-md-4">
                            <label><span style="color:red">* </span>Name:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="1" name="companyName" maxlength="250" value="@Model.parentcompanyname" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label><span style="color:red">* </span>Role(s):</label>
                        </div>
                        <div class="col-md-8">
                            @if (Model.roles.Count > 0)
                            {
                                @Html.DropDownList("roleId", new SelectList(Model.roles,
                           "roleid", "rolename"),
                  new { @id = "roleid", @multiple = "multiple", @class = "form-control ", @tabindex = "2" })
                            }
                            else
                            {
                                <select class="form-control" multiple>
                                    <option>(None)</option>
                                </select>
                            }
                        </div>
                        <div class="col-md-4">
                            <label>Number of Employees:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="3" name="numEmployees" value="@Model.numEmployees" maxlength="6" class="form-control allownumericwithoutdecimal" />
                        </div>
                        <div class="col-md-4">
                            <label>Market Cap:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="4" name="marketCap" value="@(String.Format("{0:0.##}", Model.marketCap))" maxlength="9" class="form-control numericwithdecimal" />
                        </div>
                        <div class="col-md-4">
                            <label>Tax ID:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="5" name="taxID" value="@Model.taxID" maxlength="250" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label>Annual IT Procurement Expenditure:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="6" value="@(String.Format("{0:0.##}",Model.annualitspending))" name="annualitspending" maxlength="9" class="form-control numericwithdecimal" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>Parent Company:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            @if (Model.parentCompanies.Count > 0)
                            {
                                @Html.DropDownList("ParentParentCompanyID", new SelectList(Model.parentCompanies,
                           "Key", "Value"),
                  new { @id = "ParentParentCompanyID", @tabindex = "7" })
                            }
                            else
                            {
                                <select class="form-control">
                                    <option>(None)</option>
                                </select>
                            }
                        </div>
                        <div class="col-md-4">
                            <label><span style="color:red">* </span>DocMgmt Visible:</label>
                        </div>
                        <div class="col-md-8" style="padding-bottom:15px">
                            <input type="hidden" name="docmgtvisible" data-isbit="true" id="docmgtvisible" value="@(Model.docmgtvisible??0)">
                            @if (Model.docmgtvisible == 1)
                            {
                                <input class="isdocmgvisible" tabindex="8" checkboxfor="docmgtvisible" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                            }
                            else
                            {
                                <input class="isdocmgvisible" tabindex="8" checkboxfor="docmgtvisible" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                            }

                        </div>
                        @if (Model.parentcompanyid != -1 && Model.parentcompanyid != 0)
                        {
                            <div class="col-md-4">
                                <label><span style="color:red">* </span>IsActive:</label>
                            </div>
                            <div class="col-md-8">

                                <input type="hidden" name="isActive" id="isActive" value="@Model.isActive.ToString()">
                                @if (Model.isActive == true)
                                {
                                    <input class="isActiveListButton" tabindex="9" checked data-toggle="toggle" data-onstyle="success" checkboxfor="isActive" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                                }
                                else
                                {
                                    <input class="isActiveListButton" tabindex="9" data-toggle="toggle" checkboxfor="isActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                                }


                            </div>}
                        @if (ViewBag.IsSupplier!=null && ViewBag.IsSupplier)
                        {
                            <div class="col-md-4">
                                <label><span style="color:red"></span>Is Live (Linked to Customer):</label>
                            </div>
                            <div class="col-md-8">
                                @ViewBag.ISLive
                            </div>
                        }
                    </div>
                    <div class="col-md-6 location-tab-one">

                        <div class="col-md-4">
                            <label>Industry(s):</label>
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" name="roleIds" id="roleIds">
                            <input type="hidden" name="sicIds" id="sicIds">
                            @*@if (Model.industries.Count > 0)
                                          {
                                              @Html.DropDownList("sic", new SelectList(Model.industries,
                                         "sic", "sicCategory"),
                                new { @id = "sic", @multiple = "multiple", @class = "form-control ", @tabindex = "10" })
                                          }
                                          else
                                          {
                                              <select class="form-control" multiple>
                                                  <option>(None)</option>
                                              </select>
                                          }*@

                            @if (Model.industries.Count > 0)
                            {

                                <select id="sic" name="sic" style="overflow-x:auto !important;" class="form-control" multiple>
                                    @foreach (var item in Model.industries)
                                    {
                                        <option value="@item.sic" title="@item.sicCategory">@item.sicCategory</option>

                                    }
                                </select>



                            }
                            else
                            {
                                <select class="form-control" multiple>
                                    <option>(None)</option>
                                </select>
                            }

                        </div>
                        <div class="col-md-4">
                            <label>Year Incorporated:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="11" name="yearInc" value="@(Model.yearInc==0?"":Model.yearInc.ToString())" maxlength="4" class="form-control allownumericwithoutdecimal" />
                            @*<div class="col-md-10" style="padding-left:0px">
                                    <div class="input-group input-medium date date-picker" style="width:300px !important;    margin-bottom: 15px;" data-date="@DateTime.Now.Date" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                        <input type="text" name="yearInc" value="@DateTime.Now.Date.Date.ToString("MM/dd/yyyy")" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                        <img src="/Content/images/reset-btn.png">
                                    </button>
                                </div>*@

                        </div>
                        <div class="col-md-4">
                            <label>Company URL:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="12" name="companyURL" value="@Model.companyURL" maxlength="50" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label>DUNS:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="13" name="DUNS" maxlength="50" value="@Model.DUNS" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label>Annual IT Services Expenditure:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="14" name="annualsvcsspending" value="@(String.Format("{0:0.##}",Model.annualsvcsspending))" maxlength="9" class="form-control numericwithdecimal" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label>GS Contact:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            @if (Model.contacts.Count > 0)
                            {
                                @Html.DropDownList("gscontactId", new SelectList(Model.contacts,
                           "ContactID", "ContactName", Model.gscontactId),
                  new { @id = "ContactID", @tabindex = "15" })
                            }
                            else
                            {
                                <select class="form-control">
                                    <option>(None)</option>
                                </select>
                            }
                        </div>
                        <div class="col-md-4">
                            <label>GS Contact Email:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" tabindex="16" name="gscontactEmail" value="@Model.gscontactEmail" maxlength="250" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 add-companies">
                            @if (Model.parentcompanyid == -1 || Model.parentcompanyid == 0)
                            {
                                <button type="submit" tabindex="17" class="btn btn-default btnSubmit" id="per">Add</button>
                            }
                            else
                            {
                                <button type="submit" tabindex="17" class="btn btn-default btnSubmit" id="per">Update</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    }
</div>