﻿@model List<OneSourceAdminCore.Entity.sp_getCompanyContacts_AdminR_Result>
@using GridMvc.Html
<div role="tabpanel" class="tab-pane" id="mfg-contacts" style="padding-top:15px !important;">
 
        <a id="Acontact" href="#">
            <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;    margin-bottom: 10px !important;float:right !important">Add New Contact</button>
        </a>
    

    <br />
    @if (Model != null && Model.Count > 0)
    {

        <div class="">

            @Html.Grid(Model.OrderBy(x => x.FirstName)).Columns(columns =>
            {
                columns.Add(C => C.FirstName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("First Name").SetWidth(150);
                columns.Add(C => C.LastName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Last Name").SetWidth(150);
                columns.Add(C => C.Company).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Company").SetWidth(150);
                columns.Add(C => C.Title).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Title").SetWidth(150);
                columns.Add(C => C.Department).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Department").SetWidth(150);
                columns.Add(C => C.WorkPhone).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Work Phone").SetWidth(150);
                columns.Add(C => C.Email).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Email").SetWidth(150);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).RenderValueAs(o => @<a style="color: blue" href="/company/contact/c/@o.ContactId/@o.CompanyId" class="contactEdit">Edit </a>);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).RenderValueAs(o => @<a style="color: blue" onclick="DeleteContact(@o.ContactId)" class="isocountryedit">Delete </a>);

            }).WithPaging(50,2, "contact-page")


        </div>
    }


</div>
<script>
    $(function () {
        StartLoader();
        $('#Acontact').attr("href", "/company/contact/c/0/" + $('input[name="CompanyId"]').val());
    });
    function DeleteContact(contactId){
        if(confirm('Are you sure you want to delete this contact?\nYou will not be able to undo this operation.'))
        {
            StartLoader();
            window.location.href="/company/deletecontact?contactId="+contactId;
        }
    }
    $('.contactEdit, #Acontact').click(function(){
        StartLoader();
    });
</script>
