﻿@model List<OneSourceAdminCore.Entity.Sp_GetContactList_AdminR_Result>
@using GridMvc.Html
<div role="tabpanel" class="tab-pane" id="contact-list">
    @if (@ViewBag.source == "c")
    {
        <a id="Acontact" href="#">
            <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;float:right !important" >Add New Contact</button>
        </a>
    }
    <br />
    @if (Model != null && Model.Count > 0)
    {

        <div class="contact-list">

            @Html.Grid(Model.OrderBy(x => x.FirstName)).Columns(columns =>
            {
                columns.Add(C => C.FirstName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("First Name").SetWidth(150);
                columns.Add(C => C.LastName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Last Name").SetWidth(150);
                columns.Add(C => C.CompanyName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Company").SetWidth(150);
                columns.Add(C => C.Title).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Title").SetWidth(150);
                columns.Add(C => C.Department).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Department").SetWidth(150);
                columns.Add(C => C.WorkPhone).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Work Phone").SetWidth(150);
                columns.Add(C => C.Email).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Email").SetWidth(150);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Edit").RenderValueAs(o => @<a style="color: blue" href="/company/contact/@ViewBag.source/@o.ContactId/@o.CompanyId" class="isoCountryEdit">Edit </a>);
                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Delete").RenderValueAs(o => @<a style="color: blue" onclick="DeleteContact(@o.ContactId) " class=" isocountryedit">Delete </a>);
            }).WithPaging(50, 3, "ContactsList")


        </div>
    }


</div>
<script>
    $(function () {
        $('#Acontact').attr("href", "/company/contact/c/0/" + $('input[name="CompanyId"]').val());
    });
    function DeleteContact(contactId) {
        if (confirm('Are you sure you want to delete this contact?\n\rYou will not be able to undo this operation.')) {
            StartLoader();
            window.location.href = "/company/deletecontact?contactId=" + contactId;
        }
    }
</script>
