﻿@model OneSourceAdminCore.Model.CompanyContactModel
@{
    ViewBag.Title = "Add Update Contact";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top">
    <div class="col-md-9" style="padding: 10px; color: #FFF;">
        @if (ViewBag.source == "pc")
        {
            <b> Dashboard > Prime Contractor @(Session["CurrentPrimeContractorName"] != null ? "(" + Session["CurrentPrimeContractorName"] + ")" : "") > Contact</b>
        }
        else
        {
            <b> Dashboard > @(Session["CurrentCompanyRole"] != null ? Session["CurrentCompanyRole"] : "") @(Session["currentCompanyName"] != null ? "(" + Session["currentCompanyName"] + ") >" : "") Contact</b>
        }
        

    </div>
 
    <div class="col-md-3" style="padding: 10px;">
        @if (ViewBag.source == "c")
        {
            var companyId = Session["cCompanyId"] != null ? Convert.ToInt32(Session["cCompanyId"]) : 0;
            var partyId = Session["cPartyId"] != null ? Convert.ToInt32(Session["cPartyId"]) : 0;
            var roleId = Session["cRoleId"] != null ? Convert.ToInt32(Session["cRoleId"]) : 0;
            @*<a href="/admin/company/@companyId/@partyId/@roleId">
                <input class="btn btn-default topAddNewButton" value="Back" type="button">
            </a>*@

            <a href="@Session["BackUrl"].ToString()">
                <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right;">
            </a>
        }
        else if (ViewBag.source == "uc" || ViewBag.source == "pc")
        {
            if (Session["BackUrl"] != null)
            {
                <a href="@Session["BackUrl"].ToString()">
                    <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
                </a>
            }
            else
            {
                <a href="/contacts">
                    <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
                </a>
            }

        }
        else
        {
            <a href="/contacts">
                <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
            </a>
        }

    </div>
</div>
<br/>
<div class="os-update-contact">

@using (Html.BeginForm("AddEditContact", "Company", FormMethod.Post, new {@id = "ContactForm", @enctype = "multipart/form-data"}))
{
    <input type="hidden" name="source" id="source" value="@ViewBag.source"/>
    <br/>
    <div class="col-md-12 tab-head" style="margin: 15px 0px 30px 0px;">
        <h3>Contact Info</h3>
    </div>
    <input type="hidden" name="ContactID" value="@(Model.ContactInfo.ContactID)">
    <input type="hidden" name="partyid" value="@(Model.ContactInfo.partyid)">
    <div class="col-md-6">
        <div class="col-md-4">
            <label>First Name:</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="firstname" maxlength="250" value="@(Model.ContactInfo.firstname ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label>Middle Name:</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="middlename" maxlength="250" value="@(Model.ContactInfo.middlename ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label>Referral Type:</label>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px">
            @if (Model.Referrals != null && Model.Referrals.Count > 0)
            {
                @Html.DropDownList("referralID", new SelectList(Model.Referrals,
                    "Key", "Value", Model.ContactInfo.referralID),
                    new {@id = "referralID"})
            }
            else
            {
                <select class="form-control">
                    <option>(None)</option>
                </select>
            }
        </div>
        <div class="col-md-4">
            <label>User Name:</label>
        </div>
        <div class="col-md-8 abc" style="margin-bottom: 10px">
            @if (Model.Users != null && Model.Users.Count > 0)
            {
                @Html.DropDownList("userid", new SelectList(Model.Users,
                    "Key", "Value", Model.ContactInfo.userid),
                    new {@id = "userid"})


            }
            else
            {
                <select class="form-control">
                    <option>(None)</option>
                </select>
            }
        </div>
        <div class="col-md-4">
            <label>Access:</label>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px">
            <input type="hidden" name="isPublic" id="isPublic" value="@(Model.ContactInfo.isPublic == true ? "true" : "false")">
            @if (Model.ContactInfo.isPublic == true)
            {
                <input class="isPublic" checkboxfor="isPublic" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Public" data-size="small" data-off="Private" type="checkbox">
            }
            else
            {
                <input class="isPublic" checkboxfor="isPublic" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Public" data-size="small" data-off="Private" type="checkbox">
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <label><span style="color: red">*</span> Last Name:</label>
        </div>
        <div class="col-md-8">
            <input name="lastname" type="text" maxlength="250" value="@(Model.ContactInfo.lastname ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label><span style="color: red">&nbsp;&nbsp; </span>Salutation:</label>
        </div>
        <div class="col-md-8">
            <input name="salutation" maxlength="250" type="text" value="@(Model.ContactInfo.salutation ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label><span style="color: red">&nbsp;&nbsp; </span>Contact Type:</label>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px">
            <input type="hidden" name="roleIds" id="roleIds">
            @if (Model.ContactType != null && Model.ContactType.Count > 0)
            {
                @Html.DropDownList("roleId", new SelectList(Model.ContactType,
                    "Key", "Value"),
                    new {@id = "roleId", @multiple = "multiple", @class = "form-control"})
            }
            else
            {
                <select class="form-control" multiple>
                    <option>(None)</option>
                </select>
            }

        </div>
    </div>
    <div class="col-md-12 tab-head">
        <h3>Work / Business</h3>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <label>Company:</label>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px">
            @if (Model.Companies != null && Model.Companies.Count > 0)
            {
                @Html.DropDownList("companyid", new SelectList(Model.Companies,
                    "Key", "Value", Model.ContactInfo.companyid),
                    new {@id = "companyid"})
            }
            else
            {
                <select class="form-control">
                    <option>(None)</option>
                </select>
            }
        </div>
        <div class="col-md-4">
            <label>Title:</label>
        </div>
        <div class="col-md-8">
            <input name="title" type="text" maxlength="250" value="@(Model.ContactInfo.title ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label>Email:</label>
        </div>
        <div class="col-md-8">
            <input name="email" type="email" maxlength="250" value="@(Model.ContactInfo.email ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label>Mobile:</label>
        </div>
        <div class="col-md-8">
            <input name="mobilephonenumber" type="text" maxlength="15" value="@(Model.ContactInfo.mobilephonenumber ?? "")" class="form-control phoneOnly" error-msg="Invalid Mobile Number"/>
        </div>
        <div class="col-md-4">
            <label>Department:</label>
        </div>
        <div class="col-md-8">
            <input name="department" maxlength="250" type="text" value="@(Model.ContactInfo.department ?? "")" class="form-control"/>
        </div>
    </div>
    <div class="col-md-6">
       
        <div class="col-md-4">
            <label>Work Phone:</label>
        </div>
        <div class="col-md-8">
            <input name="workphonenumber" maxlength="15" type="text" value="@(Model.ContactInfo.workphonenumber ?? "")" class="form-control phoneOnly" error-msg="Invalid Work Phone Number"/>
        </div>
        <div class="col-md-4">
            <label>Fax:</label>
        </div>
        <div class="col-md-8">
            <input name="faxnumber" maxlength="100" type="text" value="@(Model.ContactInfo.faxnumber ?? "")" class="form-control phoneOnly" error-msg="Invalid Fax Number"/>
        </div>
        <div class="col-md-4">
            <label>Pager:</label>
        </div>
        <div class="col-md-8">
            <input name="pagernumber" maxlength="250" type="text" value="@(Model.ContactInfo.pagernumber ?? "")" class="form-control"/>
        </div>
    </div>

    if (Model.ContactInfo.ContactID > 0)
    {
    <div class="col-md-12 tab-head">
        <h3>Home / Personal</h3>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <label><span style="color: red">&nbsp;&nbsp; </span>Home Phone:</label>
        </div>
        <div class="col-md-8">
            <input name="homephonenumber" maxlength="15" type="text" value="@(Model.ContactInfo.homephonenumber ?? "")" class="form-control phoneOnly" error-msg="Invalid Home Phone Number"/>
        </div>
        <div class="col-md-4">
            <label><span style="color: red">*</span> Address #1:</label>
        </div>
        <div class="col-md-8">
            <input name="address1" maxlength="500" type="text" value="@(Model.ContactInfo.address1 ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label><span style="color: red">&nbsp;&nbsp; </span>Address #2:</label>
        </div>
        <div class="col-md-8">
            <input name="address2" maxlength="500" type="text" value="@(Model.ContactInfo.address2 ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label><span style="color: red">&nbsp;&nbsp; </span>City:</label>
        </div>
        <div class="col-md-8">
            <input name="city" maxlength="100" type="text" value="@(Model.ContactInfo.city ?? "")" class="form-control"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <label>Postal Code:</label>
        </div>
        <div class="col-md-8">
            <input name="postalcode" maxlength="8" type="text" value="@(Model.ContactInfo.postalcode ?? "")" class="form-control allownumericwithhippen"/>
        </div>
        <div class="col-md-4">
            <label>State/Province:</label>
        </div>
        <div class="col-md-8">
            <input name="stateprovinceregion" maxlength="500" type="text" value="@(Model.ContactInfo.stateprovinceregion ?? "")" class="form-control"/>
        </div>
        <div class="col-md-4">
            <label><span style="color: red">*</span> Country:</label>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px">
            <input type="hidden" id="hcountryId" value="@(Model.ContactInfo.countryid??0)"> 
            @if (Model.Countries != null && Model.Countries.Count > 0)
            {
                @Html.DropDownList("countryid", new SelectList(Model.Countries,
                     "Key", "Value", Model.ContactInfo.countryid),
                     new { @id = "countryid" })
            }
            else
            {
                <select class="form-control">
                    <option>(None)</option>
                </select>
            }
        </div>
    </div>
    }

    <div class="col-md-12 tab-head">
        <h3>Notes</h3>
    </div>
    <div class="col-md-12">
        <textarea class="form-control" maxlength="2000" rows="5" name="contactNotes">@(Model.ContactInfo.contactNotes ?? "")</textarea>
    </div>

    if (Model.ContactInfo.ContactID > 0)
    {
        <div class="col-md-12 tab-head">
            <h3>Attachments</h3>
        </div>
        <div class="col-md-12">
            <h2>Contact Attachments:</h2>
        </div>
        if (Model.contactAttachments.Count > 0)
        {

            foreach (var item in Model.contactAttachments)
            {
                <div class="col-md-12" style="padding-left: 10px;padding-top:5px">
                    <div class="col-md-12">
                        <img style="width: 16px;height: 16px;" src="~/Content/images/mime_types/mime_types/@(item.mimetypeicon)">
                        <a style="color: black; word-wrap: break-word;" href="/Company/DownloadContactAttachement?contactId=@Model.ContactInfo.ContactID&fileName=@HttpUtility.UrlEncode(item.daurl)">@(item.daname)</a>
                    </div>
                </div>
            }

        }

        <div class="col-md-12">
            <h3>Add Attachment:</h3>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="input-group" style="width: 270px;">
                    <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse… <input id="fileQuoteRequest" class="btn btn-default attachFile" name="attachFile" type="file">
                            </span>
                        </span>
                    <input type="text" class="form-control fileUploadTxtBox" name="FileName" readonly="">
                </div>
                <span><b>Note: Maximum file size 5MB.</b></span>
            </div>

        </div>
    }

    <div class="clearfix"></div>
    <div class="col-md-12 back-btn" style="padding-right: 0px; margin-top: 15px;">
        <button style="margin-right: 0px;" type="submit" class="btn btn-default btnSubmit blueBtn" id="addContactBtn">@(Model.ContactInfo.ContactID > 0 ? "Update" : "Add")</button>
    </div>
    <div class="clearfix"></div>
}
</div>

<script>
    $(function () {
        StartLoader();

        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".company").addClass("active");

        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }

        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
      
        var roleIds = "@Model.roleIds";
        if (roleIds != null && roleIds != "") {
            $.each(roleIds.split(","), function (i, e) {
                $("#roleId option[value='" + e + "']").prop("selected", true);
            });
        }
    });

    $(window).ready(function () {
        EndLoader();
    });

    $('#ContactForm').submit(function () {
        var roleIds = "";
        if ($('#roleId').val() != null) {
            $.each($('#roleId').val(), function (key, value) {
                roleIds += value + ",";
            });
            roleIds = roleIds.substring(0, roleIds.length - 1);
        }
        $('#roleIds').val(roleIds);

        if ($('input[name="lastname"]').val().trim() == "") {
            alert("Please provide the last name.");
            return false;
        }

        if ($('#hcountryId').val() != "0" && $('#countryid').val() == "0") {
            alert("Please provide country.");
            return false;
        }

        if (($('input[name="address2"]').val().trim() != "" ||
            $('input[name="city"]').val().trim() != "" ||
            $('input[name="postalcode"]').val().trim() != "" ||
            $('input[name="stateprovinceregion"]').val().trim() != "") &&
            $('#countryid').val() == "0") {
            alert("Please provide all required fields.");
            return false;
        }

        if (($('input[name="address1"]').val().trim() != "" ) && $('#countryid').val() == "0") {
            alert("Please provide country.");
            return false;
        }

        if ($('#countryid').val() != "0") {
            if ($('input[name="address1"]').val().trim() == "") {
                alert("Please provide address1.");
                return false;
            }
        }

        StartLoader();

    });
    $("input:file").change(function () {
        var names = [];
        var notAllowedExtension = "";
        var notAllowedSize = "";
        var allowedExtensions = ["doc", "docx", "xls", "xlsx", "pdf", "ppt", "htm", "jpg", "jpeg","pptx", "png", "gif", "txt"];
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            var length = $(this).get(0).files[i].name.split('.').length;
            if ($.inArray(($(this).get(0).files[i].name.split('.')[length - 1]).toLowerCase(), allowedExtensions) != -1) {
                names.push($(this).get(0).files[i].name);
            }
            else {
                notAllowedExtension += $(this).get(0).files[i].name + ",";
            }
            if ($(this).get(0).files[i].size >= 5242880) {
                notAllowedSize += $(this).get(0).files[i].name + ",";
            }
        }
        if (notAllowedExtension != "") {
            notAllowedExtension = notAllowedExtension.substring(0, notAllowedExtension.length - 1);
            alert("Allowed extensions are doc, docx, xls, xlsx, pdf, ppt, pptx, png, htm, jpg, jpeg, gif, txt");
            $("input:file").val("");
        }
        if (notAllowedSize != "") {
            notAllowedSize = notAllowedSize.substring(0, notAllowedSize.length - 1);
            alert("Each file must be 5MB or less.");
            $("input:file").val("");
        }

    });
   
    $("#addContactBtn").click(function (e) {



        $("#ContactForm :input").each(function () {
            var input = $(this);
            if (!(input)[0].checkValidity()) {

                if ((input).attr("required") != null && (input).val() == "") {
                    alert("Please fill all mandatory fields.");
                    $(input).focus();
                    return false;
                } else {

                    if ((input).attr("type") == 'email') {
                        alert("Invalid email address.");
                        $(input).focus();
                        return false;

                    } else if ((input).attr("type") == 'number') {
                        alert("Enter valid integer value.");
                        $(input).focus();
                        return false;
                    } else {
                        alert("Invalid input value.");
                        $(input).focus();
                        return false;
                    }
                }
            }
        });



    });

    $('.topAddNewButton').click(function () {
        StartLoader();
    });



</script>

