﻿@model OneSourceAdminCore.Model.CompanyModel
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                      margin-right: -19px;">
    @if (Session["cCompanyId"]!=null)
    {
        <div class="col-md-8" style="padding: 10px; color: #FFF;"><b> Dashboard > @(Session["CurrentCompanyRole"] != null ? Session["CurrentCompanyRole"] : "") @(Session["currentCompanyName"] != null ? "(" + Session["currentCompanyName"] + ")" : "")</b>
        </div>
    }
    else
    {
        <div class="col-md-8" style="padding: 10px; color: #FFF;"><b> Dashboard > Company</b>
    </div>
    }
    

    <div class="col-md-4" style="padding: 10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float:right !important;">
        @*<input class="btn btn-default topAddNewButton1" id="backToSearch1" value="Back To Search dsadas" type="button">*@
        @*<button type="button" class="btn btn-default btn-sm btnRefresh">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>*@
    </div>
    @*<input type="hidden" name="ParentCompanyId" id="ParentCompanyId" value="@Model.CompanyId" >*@
</div>
<style>
    .btnRefresh {
    padding: 0px 10px !important;
    color: white !important;
    border: 1px solid rgb(255, 255, 255) !important;
    position: absolute !important;
    top: 6px !important;
    height: 28px !important;
    right: 385px !important;
    background-color: #3b9ad2 !important;
    font-weight: 600 !important;
}
</style>

<br /><br />
<div class="os-admin-tabs cards" style="padding-top:15px;">
   
    
       
        @if (ViewBag.RoleType == "Mfg")
        {
            @Html.Partial("~/Views/Company/Manufacturer/_companyManufacturer.cshtml", Model)
        }
        else if (ViewBag.RoleType == "Customer")
        {
         @Html.Partial("~/Views/Company/Customer/_CompanyCustomerPartial.cshtml", Model)
        }
        else if (ViewBag.RoleType == "Supplier")
        {
            @Html.Partial("~/Views/Company/Supplier/_CompanySupplier.cshtml", Model)
        }
        else if (ViewBag.RoleType == null && ViewBag.Operation == null)
        {
            <h1 style="color:red">You are restricted to view company information</h1>
        }

        @if (ViewBag.Operation == "Add")
        {
            @Html.Partial("_CompanyInfo", Model)
        }
       

   
</div>
<script>

    $(window).load(function () {
        ActivateTabFromUrlOrSession();
        
    });
    $(document).ready(function () {
      
        $(".manfTabs select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $("#companyInfo select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });


        var message = '@ViewBag.Message';
        if(message!='')
        {
            showNotification(message);
        }

    });

    $(function () {

        StartLoader();
        var roleIds = "@Model.roleIds";
        var sicIds = "@Model.sicIds";
        if (roleIds != null && roleIds != "") {

            $.each(roleIds.split(","), function (i, e) {
                $("#roleid option[value='" + e + "']").prop("selected", true);

            });
        }
        if (sicIds != null && sicIds != "") {

            $.each(sicIds.split(","), function (i, e) {
                $("#sic option[value='" + e + "']").prop("selected", true);

            });
        }

    });
    $(window).ready(function () {

        EndLoader();
    });

    $(document).ready(function () {
        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".company").addClass("active");

        $('.date-picker').datepicker({
            autoclose: true
        });
    });
    $('.resetDate').click(function () {
        $(this).parent().parent().find('.date-picker').datepicker("setDate", "+0");
        $(this).parent().siblings().find('input').val("");
    });
    $('#backToSearch').click(function () {
        // window.location.href = '/admin/search-company';
        var url='@(Session["CompanyBackUrl"]==null? "/admin/search-company" : Session["CompanyBackUrl"].ToString())';
        window.location.href = url.replace('&amp;', '&');

    });
    //$('.isdocmgvisible').change(function () {
    //    $('#docmgtvisible').val($(this).prop("checked") == true ? "1" : "0");
    //});
    //$('.isActiveListButton').change(function () {
    //    $('#isActive').val($(this).prop("checked") == true ? "true" : "false");
    //});



    $('#CompanyForm').submit(function () {



        var sicIds = "";
        if ($('#sic').val() != null) {
            $.each($('#sic').val(), function (key, value) {
                sicIds += value + ",";
            });
            sicIds = sicIds.substring(0, sicIds.length - 1);
        }
        $('#sicIds').val(sicIds);

        var roleIds = "";
        if ($('#roleid').val() != null) {
            $.each($('#roleid').val(), function (key, value) {
                roleIds += value + ",";
            });
            roleIds = roleIds.substring(0, roleIds.length - 1);
        }
        $('#roleIds').val(roleIds);


        if ($('input[name="companyName"]').val().trim() == "") {
            alert("Please provide company name");
            return false;
        }
        if (roleIds == "") {
            alert("Role is required to create company");
            return false;
        }
        $('#isActive').val($('.isActiveListButton').prop("checked") == true ? "true" : "false");
        $('#docmgtvisible').val($('.isdocmgvisible').prop("checked") == true ? "1" : "0");

        StartLoader();
    });
    $("input[name='yearInc']").blur(function () {
        if ($(this).val().trim() != "") {
            var year = parseInt($(this).val());
            if (year >= 1800 && year <= new Date().getFullYear()) { }
            else { $(this).val(""); alert("Year should be 1800 or greater and less than or equal to current year"); }
        }
    });
    $('input[name="companyURL"]').focusout(function () {

        if ($(this).val() != "") {            
            var url = /^(https?:\/\/)(www)\.([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;
            //var url = new RegExp("^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@@)*((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(\:[0-9]+)*(/($|[a-zA-Z0-9\.\,\?\'\\\+&amp;%\$#\=~_\-]+))*$");
            var test = url.test($(this).val());
            if (!test) {
                alert("Please provide correct company url with http or https");
                $(this).val("");
                return false;
            }
        }
    });

  


    $('.btnRefresh').click(function () {
        StartLoader();
        location.reload();
    });
</script>
