﻿@model OneSourceAdminCore.Model.CompanySearchModel
@{
    ViewBag.Title = "Search Company";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .companyGridAnc {
        color: blue !important;
    }
</style>
<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Dashboard > Companies </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        @if (ViewBag.AddEditAccess == true)
        {
            <input class="btn btn-default topAddNewButton" id="addNewCompany" value="Add New Company" type="button" style="float:right !important;">
        }
    </div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
<div class="row" style="margin-top: 60px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-3"><span style="color:red">&nbsp;&nbsp; </span> Company :</label>
            <div class="col-md-6">
                <input type="text" class="form-control companyname" value="@(HttpUtility.ParseQueryString(Request.Url.AbsoluteUri).Get("company")??"")" name="company">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:15px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-3"><span style="color:red">* </span>Company Type :</label>
            <div class="col-md-6">
                @*<select name="searchType" id="searchType" class="form-control">
                        <option value="">All</option>
                        <option value="customer">Customer</option>
                        <option value="mfg">Manufacturer</option>
                        <option value="fsc">Supplier</option>
                    </select>*@
                @Html.DropDownList("searchType", new SelectList(Model.RolesList,
                         "Key", "Value", @ViewBag.roleId), new { @class = "form-control" })

            </div>
        </div>
    </div>

</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-4"></div>
    <div class="col-md-8" style="padding-left: 23px;">
        <button type="button" class="btn btn-default btnSearch" style="float: left; margin-left: 20px; margin: 0px;" id="per">Search</button>
        <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per">Reset</button>
@if (Model != null && Model.CompaniesList != null && Model.CompaniesList.Count >= 500)
{
        <div style="float: right;font-size: 12px;font-weight: 700;font-style: italic;padding-top: 10px;">Returning the first 500 results; try narrowing your search criteria</div>
}
    </div>
    <br>
    <br>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-12">

        @using GridMvc.Html;
        @if (Model != null && Model.CompaniesList != null && Model.CompaniesList.Count > 0)
        {
            @Html.Grid(Model.CompaniesList).Columns(columns =>
       {
           if (ViewBag.AddEditAccess == true)
           {
               columns.Add(C => C.parentcompanyname).Sortable(true).Filterable(true).Titled("Company").Encoded(false).Sanitized(false).SetWidth(5)
               .RenderValueAs(o => @<span>
                <input type="hidden" value="@o.parentcompanyid"><input type="hidden" value="@o.partyid"><input type="hidden" value="@o.roleid">
                <a href=@("/admin/company/" + o.parentcompanyid + "/" + o.partyid + "/" + o.roleid) class="companyGridAnc">@o.parentcompanyname</a>
            </span>);
           }
           else
           {
               columns.Add(c => c.parentcompanyname).Sortable(true).Filterable(true).Titled("Company").SetWidth(30);
           }

           columns.Add(c => c.rolename).Sortable(true).Filterable(true).Titled("Role").SetWidth(30);
           columns.Add(c => c.isactive).Sortable(true).Filterable(true).Titled("Active").SetWidth(30);

       }).WithPaging(15)
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".company").addClass("active");
    });

    $('.companyname').on("keypress", function (e,l) {      
        if (e.which == 13) {
            $('.btnSearch').click();
        }
    });

    $('.btnSearch').click(function () {

        if ($('#searchType').val() == "0") {

            alert("Please provide company type");
            return false;
        }

        StartLoader();
        var data = {
            company: $('.companyname').val(),
            roleId: $('#searchType').val()
        };
        $.ajax({
            url: '/Company/Search',
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != null) {
                    window.location.href = '/admin/search-company?roleId=' + data.roleId + "&company=" + data.company;
                }
                else {
                    alert("Error occurred");
                }
            },
            error: function (result) {

            }
        });


    });
    @if (ViewBag.AddEditAccess == true)
      {
        <text>
    $('#addNewCompany').click(function () {
        window.location.href = '/admin/company';
    });
    </text>
    }
    $('.btnReset').click(function () {
        $('.companyname').val("");
        $('#searchType').val("0");
    });
    $('.companyGridAnc').click(function () {
        StartLoader();
    });
</script>