﻿@model List<OneSourceAdminCore.Entity.tblAdminMenu>


@if (Model != null && Model.Count > 0)
{

    foreach (var item in Model.Where(x => x.IsMainMenu && x.MenuType == "Side Menu").OrderBy(x => x.MenuName))
    {

 if (Model.Any(x => x.ParentMenuId == item.MenuId))
  {
  
            <li class="start active">
                <a href="javascript:;">
                    <i class="@item.IconClassName"></i>
                    <span class="title">@item.MenuName</span>
                    <span class="arrow closr"></span>
                </a>
               
                    <ul class="sub-menu" style="display: none">


                        @foreach (var child in Model.Where(x => x.ParentMenuId == item.MenuId && x.MenuType == "Side Menu").OrderBy(x => x.MenuName))
                        {

                            <li class="@child.DataTokenName">
                                <a href="@child.MenuLink">
                                    @child.MenuName
                                </a>
                            </li>

                        }
                    </ul>
                 
            </li>
        
  }


      
    }



}