﻿
@{
    ViewBag.Title = "Image Upload";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    table {
    table-layout: fixed;
    word-wrap: break-word;
}
</style>

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Settings > Image Upload </b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-3" style="padding: 10px;"></div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span style="word-wrap: break-word; ;color:@(ViewBag.Message.ToString().Contains("<br>")==true?"red":"")">@Html.Raw(ViewBag.Message)</span>
        </div>
    }
</div>
<div class="row " style="margin-top:60px">
@if (ViewBag.AddEditAccess == true)
{
    using (Html.BeginForm("UploadFiles", "Upload", FormMethod.Post, new { @id = "UploadFilesForm", @enctype = "multipart/form-data" }))
    {
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="input-group ">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse… <input id="fileQuoteRequest" class="btn btn-default attachFile" name="attachFiles" multiple type="file">
                </span>
            </span>
            <input type="text" class="form-control fileUploadTxtBox" name="FileName" readonly="">
        </div>
        <div style="font-weight: 600;font-size: 11px;">Note: The maximum size of each file is 10 MB.<br>Number of files must be 50 or less</div>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Reset</span>
        </button>
        <input type="hidden" name="filesNames">
    </div>
    }
}
</div>
<div class="row menuScroller uploadedfiles" style="margin-top:15px;max-height: 500px !important;    overflow: scroll;    overflow-x: hidden;">
    <table role="presentation" class="table table-striped">
        <tbody class="files">
           
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        if (Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0) {
            $('.attachFile').removeAttr("multiple");
        }
    });
    $(function () {
        $('.uploadedfiles').hide();
    });
    $('.cancel').click(function () {
        $("input:file").val("");
        $('.files').html("");
        $('input[name="filesNames"]').val("");
        $('.uploadedfiles').hide();
    });
    $("input:file").change(function () {
        if ($(this).get(0).files.length > 50)
        {
            alert("Number of files must be 50 or less");
            $("input:file").val("");
            $('.files').html("");
            $('input[name="filesNames"]').val("");
            $('.uploadedfiles').hide();
            return false;
        }
        var names = [];
        var notAllowedExtension = "";
        var notAllowedSize = "";
        var allowedExtensions = ["png", "jpg", "jpeg","PNG","JPG","JPEG"];
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            var length = $(this).get(0).files[i].name.split('.').length;
            if ($.inArray($(this).get(0).files[i].name.split('.')[length - 1], allowedExtensions) != -1) {
                names.push($(this).get(0).files[i].name);
            }
            else {
                notAllowedExtension += $(this).get(0).files[i].name + "*";
            }
            if ($(this).get(0).files[i].size >= 10485760) {
                notAllowedSize += $(this).get(0).files[i].name + "*";
            }
        }
        if (notAllowedExtension != "") {
            notAllowedExtension = notAllowedExtension.substring(0, notAllowedExtension.length - 1);
            alert("Allowed Extensions are jpg, jpeg, png");
            $("input:file").val("");
        }
        if (notAllowedSize != "") {
            notAllowedSize = notAllowedSize.substring(0, notAllowedSize.length - 1);
            alert("Each File Must Be 10MB or less");
            $("input:file").val("");
        }
        if ($("input:file").val() != "") {
            var html = '';
            filesNames = '';
            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                var size = $(this).get(0).files[i].size / 1024;
                var name = $(this).get(0).files[i].name;
                html = html + '<tr class="template-upload fade in" ><td   class="col-md-8"><p class="name" style="margin-top: 10px;margin-left: 20px;" >' + name + '</p><strong class="error text-danger"></strong></td><td class="col-md-2">' +
                     '<p class="size" style="margin-bottom:0px">' + size.toFixed(2) + ' KB</p><div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">' +
                     '<div class="progress-bar progress-bar-success" style="width:100%;"></div></div></td><td class="col-md-2"><button class="btn btn-danger delete childCancel" style="margin-top:10px !important;background-color:#c9302c"><i class="glyphicon glyphicon-trash"></i><span> Delete</span></button></td></tr>';
                 $('.files').html(html);
                 filesNames = filesNames + $("input:file").get(0).files[i].name + '*';
            }
            $('input[name="filesNames"]').val(filesNames.substring(0, filesNames.length - 1));
            $('.uploadedfiles').show();
        }

    });
    $(document).on('click', '.childCancel', function () {
        var filesNames = '';

        var cancelFileName=$(this).parent().parent().find('.name').text().trim();
        for (var i = 0; i < $("input:file").get(0).files.length; ++i) {
            if (cancelFileName == $("input:file").get(0).files[i].name) {               
                $(this).parent().parent().remove();
            }           
        }

        $('.name').each(function () {
            filesNames = filesNames +$(this).text() +"*";
        });
        $('input[name="filesNames"]').val(filesNames.substring(0, filesNames.length - 1));

        if($('input[name="filesNames"]').val()=="")
        {
            $('.uploadedfiles').hide();
        }
    });

    $('#UploadFilesForm').submit(function () {

        if ($("input:file").val() == "" || $('input[name="filesNames"]').val()=="")
        {
            alert("Please select atleast one file")
            return false;
        }
        StartLoader();

    });
    setTimeout(function () {
        if (!$(".alert-info span:contains('fail to upload:')").length>0) {
            $('.alert-info').slideUp();
        }
       
    }, 5000);

    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".imagesetting").addClass("active");
    });
</script>