﻿@model List<OneSourceAdminCore.Model.CompanySupplierAddSetupModel>
    <div role="tabpanel" class="tab-pane active" id="sup-distriGen">
        <div class="col-md-12">
            <div class="col-md-12 update-btn1">
                <button type="submit" class="btn btn-default btnSubmit GbtnSubmit" id="per">Update</button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label><span style="color:red;">* &nbsp;</span>Manufacturer:</label>
            </div>
            <div class="col-md-4">
             
                @if (Model.Count > 0)
                {
                @Html.DropDownList("DefaultCountryId", new SelectList(Model,
                            "Id", "Name"),
                   new { @id = "ManufacturerId" })
                }
                else
                {
                 <select id="ManufacturerId">
                     <option value="0">(None)</option>
                 </select>
                }
                
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label><span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;</span>Distribution Uplift %:</label>
            </div>
            <div class="col-md-4">
                @if (Model.Count > 0)
                {
                <input type="text" id="GdistributionUplift" maxlength="8" value="@(Model[0].DistributionUplift == null ? "" : String.Format("{0:0.##}", Convert.ToDecimal(Model[0].DistributionUplift)) )" class="form-control numericwithdecimal" />
                }
                else
                {
                    <input type="text" id="GdistributionUplift" maxlength="8" value="" class="form-control numericwithdecimal" />

                }
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
<script>
    var DistributionInfo = @Html.Raw(Json.Encode(Model));
    $('#ManufacturerId').change(function(){        
        if($(this).val()!=""){
            for (var i = 0; i < DistributionInfo.length; i++) {
                if (DistributionInfo[i].Id == parseInt($(this).val())) {
                    $('#GdistributionUplift').val(DistributionInfo[i].DistributionUplift);
                }
            }
        }
    });

   

    $('.GbtnSubmit').click(function () {
        if($('#ManufacturerId').val() == "0"){
            alert("Please provide manufacturer.");
            return false;
        }
       
        if ($('#GdistributionUplift').val() != "") {
            var distributionUplift = parseFloat($('#GdistributionUplift').val());
            if (distributionUplift > 99) {
                alert("Please enter a valid uplift percentage (0-99)");
                return false;
            }                
        }       
        showHideLoader(1);
        
        var data = {
            distributionUplift: $('#GdistributionUplift').val(),
            mfgId:$('#ManufacturerId').val()
        }

        $.ajax({
            url: '/Company/UpdateDistributionUplift',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {               
                if (data != "0") {                                   
                    for (var i = 0; i < DistributionInfo.length; i++) {
                        if (DistributionInfo[i].Id == $('#ManufacturerId').val()) {
                            DistributionInfo[i].DistributionUplift=distributionUplift;
                        }
                    }
                   
                    showNotification("Record updated successfully.");

                } else {
                    
                    showNotification("Error while adding.");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });

    });
</script>