﻿@model List<OneSourceAdminCore.Model.CompanySupplierAddSetupModel>
<ul class="nav nav-tabs" role="tablist">  

    <li role="presentation" class="active"><a href="#sup-distriGen" aria-controls="profile" role="tab" data-toggle="tab"  > Distribution Uplifts (GEN)</a></li>
    <li role="presentation"><a href="#sup-distri" aria-controls="messages" role="tab" data-toggle="tab"   onclick="GetView('SupplierDistri')">Distribution Uplifts</a></li>
    <li role="presentation"><a href="#sup-mfg" aria-controls="messages" role="tab" data-toggle="tab"  onclick="GetView('SupplierMfgTier')" >Supplier - Manufacturer (Tier)</a></li>
</ul>
<div class="col-md-12 tab-content manfTabs">
    @Html.Partial("/Views/Company/Supplier/_additionalSetupGenDistri.cshtml", Model)  
    <div role="tabpanel" class="tab-pane active" id="sup-distri"></div>
    <div role="tabpanel" class="tab-pane active" id="sup-mfg"></div>
</div>