﻿
@model List<OneSourceAdminCore.Model.CompanySupplierAddSetupModel>

    <div class="col-md-12">
        <div class="col-md-12 update-btn1">
            <button type="submit" class="btn btn-default btnSubmit btnUSubmit" id="per">Update</button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label><span style="color:red;">*</span> Manufacturer:</label>
        </div>
        <div class="col-md-4">


            @Html.DropDownList("DefaultCountryId", new SelectList(Model,
                   "Id", "Name"),
          new { @id = "DmanufacturerId" })

        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label><span style="color:red;">*</span> Country:</label>
        </div>
        <div class="col-md-4">
            <select id="CountryId" >
                <option>(None)</option>
            </select>

        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label><span style="color:red;">&nbsp;&nbsp;</span> Distribution Uplift %:</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="distributionUplift"  maxlength="8"  class="form-control numericwithdecimal" />
        </div>
        <div class="col-md-2"></div>
    </div>

<script>
    var countryDistribution;
    $('#DmanufacturerId').change(function () {

        if ($(this).val() != "0") {

            showHideLoader(1);
            var data = {
                mfgId: $(this).val()
            }

            $.ajax({
                url: '/Company/GetManufacturerCountries',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null && data != undefined) {
                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            html += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                        }
                        $('#CountryId').html(html);
                        $('#CountryId').val(data[0].Id);
                        $('#distributionUplift').val(data[0].DistributionUplift);
                        $('#s2id_CountryId span').text(data[0].Name);

                        countryDistribution = data;
                    }
                    else {

                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else {
            GetView('SupplierDistri');
        }
    });

    $('#CountryId').change(function () {
        if ($(this).val() != "") {
            for (var i = 0; i < countryDistribution.length; i++) {
                if (countryDistribution[i].Id == parseInt($(this).val())) {
                    $('#distributionUplift').val(countryDistribution[i].DistributionUplift);
                }
            }
        }
    });
    
    $('.btnUSubmit').click(function () {

        if ($('#distributionUplift').val() != "") {
            var distributionUplift = parseFloat($('#distributionUplift').val());
            if (distributionUplift > 99) {
                alert("Please enter a valid uplift percentage (0-99)");
                return false;
            }
        }

        if ($('#DmanufacturerId').val() == "0" || $('#CountryId').val() == "0")
        {
            alert("Please provide required fields.");
            return false;
        }


        showHideLoader(1);

        var data = {
            distributionUplift: $('#distributionUplift').val(),
            countryId: $('#CountryId').val(),
            mfgId: $('#DmanufacturerId').val()
        }

        $.ajax({
            url: '/Company/UpdateCountryDistributionUplift',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data != "0") {                   
                    for (var i = 0; i < countryDistribution.length; i++) {
                        if (countryDistribution[i].Id == $('#CountryId').val()) {
                            countryDistribution[i].DistributionUplift = distributionUplift;
                        }
                    }

                    showNotification("Record updated successfully.");

                } else {

                    showNotification("Error while adding.");
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });

    });
</script>