﻿
@model List<OneSourceAdminCore.Model.CompanySupplierAddSetupModel>
@using OneSourceAdminCore.Model;
<div class="col-md-12">
    <div class="col-md-12 update-btn1">
        <button type="submit" class="btn btn-default btnSubmit btnTier" id="per">Update</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red;">* &nbsp;</span>Manufacturer:</label>
    </div>
    <div class="col-md-4">

        @if (Model.Count > 0)
        {
        @Html.DropDownList("manufacturerId", new SelectList(Model,
                            "Id", "Name"),
                   new { @id = "TmanufacturerId" })
        }
        else
        {  <select id="TmanufacturerId">
            <option value="0">(None)</option>
        </select>

        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;</span>Tier Status:</label>
    </div>
    <div class="col-md-4">
        @if (Model.Count > 0)
        {
        @Html.DropDownList("TierId", new SelectList((List<GenericList>)ViewBag.Tiers,
                            "Key", "Value", (Model[0].TierId ?? 0)),
                   new { @id = "TierId" })
        }
        else
        {
            <select id="TierId">
                <option value="0">(None)</option>
            </select>
        }
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label><span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;</span>Comments:</label>
    </div>
    <div class="col-md-4">
        @if (Model.Count > 0)
        {
        <textarea name="comments" id="comments" maxlength="255" class="form-controls" rows="3" cols="300">@(!string.IsNullOrEmpty(Model[0].Comments) ? Model[0].Comments : "")</textarea>
        }
        else
        {
            <textarea name="comments" id="comments" maxlength="255" class="form-controls" rows="3" cols="300"></textarea>
        }
    </div>
    <div class="col-md-2"></div>
</div>

<script>
    var TierInfo = @Html.Raw(Json.Encode(Model));
    $('#TmanufacturerId').change(function(){
        if($(this).val()!="" && $(this).val()!="0"){
            $('#TierId').val(0);
            $('#comments').val("");
            for (var i = 0; i < TierInfo.length; i++) {
                if (TierInfo[i].Id == parseInt($(this).val())) {

                    $('#TierId').val(TierInfo[i].TierId==null?0:TierInfo[i].TierId).trigger("change");
                    $('#comments').val(TierInfo[i].Comments==null?"":TierInfo[i].Comments);
                    return false;
                }
            }
        }
    });
    $('#TierId').change(function(){
        if($(this).val()=="0"){
            $('#comments').val("");
        }
        else{
            if($('#TmanufacturerId').val()!="0" && $('#TmanufacturerId').val()!=""){
                for (var i = 0; i < TierInfo.length; i++) {
                    if (TierInfo[i].Id == parseInt($('#TmanufacturerId').val()) && TierInfo[i].TierId==$(this).val()) {
                        $('#comments').val(TierInfo[i].Comments==null?"":TierInfo[i].Comments);
                        return false;
                    }
                    //else{
                    //    $('#comments').val("");
                    //}
                }
            }
        }
    });

    $('.btnTier').click(function () {

        if($('#TmanufacturerId').val()=="0")
        {
            alert("Please provide manufacturer.");
            return false;
        }
        if($('#comments').val().trim()!="" && ($('#TierId').val()=="0" || $('#TierId').val()=="" )){
            alert("Please provide tier status for comment.");
            return false;
        }

        showHideLoader(1);
        var data1 = {
            comment: $('#comments').val().trim(),
            tierId: $('#TierId').val(),
            mfgId: $('#TmanufacturerId').val()
        }
        $.ajax({
            url: '/Company/UpdateManufacturerTier',
            type: 'POST',
            data: JSON.stringify(data1),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data != "-1") {
                    showNotification("Record updated successfully.");

                    for (var i = 0; i < TierInfo.length; i++) {
                        if (TierInfo[i].Id == parseInt($('#TmanufacturerId').val())) {

                            TierInfo[i].TierId= data1.tierId
                            TierInfo[i].Comments= data1.comment;
                            return false;
                        }

                    }

                    showHideLoader(0);

                } else {

                    showNotification("Error while adding.");
                }
            },
            complete: function (data) {
                showHideLoader(0);

            }
        });

    });
</script>
