﻿@using System.Configuration;
@model OneSourceAdminCore.Model.CompanyModel
<!-- Nav tabs -->
<div class="alert alert-warning">
    Click on Add/Update button to save changes before switching tabs.
</div>
<ul class="nav nav-tabs" role="tablist">
    <input type="hidden" id="currentTabId" value="@(Session["currentTabId"])" />
    <li role="presentation" class="active"><a href="#companyInfo" aria-controls="home" role="tab" data-toggle="tab" >Company Info</a></li>
    <li role="presentation">
        <a href="#sup-info" aria-controls="messages" role="tab" data-toggle="tab" onclick="GetView('SupplierInfo')">Supplier Info</a>
    </li>
    <li role="presentation">
        <a href="#sup-address" aria-controls="profile" role="tab" data-toggle="tab" onclick="GetView('SupplierAddress')">Addresses</a>
    </li>
    <li role="presentation">
        <a href="#sup-acc" aria-controls="profile" role="tab" data-toggle="tab" onclick="GetView('SupplierAcc')">Accreditation</a>
    </li>
    <li role="presentation"><a href="#sup-service" aria-controls="profile" role="tab" data-toggle="tab" onclick="GetView('SupplierService')">Services</a></li>
    <li role="presentation"><a href="#sup-users" aria-controls="messages" role="tab" data-toggle="tab" onclick="GetView('SupplierUser')">Users</a></li>
    <li role="presentation"><a href="#mfg-contacts" aria-controls="messages" role="tab" data-toggle="tab" onclick="GetView('SupplierContact')">Contacts</a></li>
    <li role="presentation"><a href="#sup-addsetup" aria-controls="messages" role="tab" data-toggle="tab" onclick="GetView('SupplierAddSetup')">Add'l Setup</a></li>
</ul>
<div class="col-md-12 tab-content manfTabs">
    @{ 
        ViewBag.IsSupplier = Model.CompanyRoleModel.CompanySupplierModel.IsSupplier;
        ViewBag.ISLive = Model.CompanyRoleModel.CompanySupplierModel.ISLive;
    }
    @Html.Partial("_CompanyInfo", Model)
    <input type="hidden" id="Offering" value="@(Session["SelectedCustServiceId"]==null? Convert.ToInt32(ConfigurationManager.AppSettings["OfferingProcurementId"]) :Convert.ToInt32(Session["SelectedCustServiceId"]))"> 
    <div role="tabpanel" class="tab-pane active" id="sup-info"></div>
    <div role="tabpanel" class="tab-pane active" id="sup-acc"></div>
    <div role="tabpanel" class="tab-pane active" id="sup-service"></div>
    
    @Html.Partial("~/Views/Company/Supplier/_supplierAddress.cshtml", Model.CompanyRoleModel.CompanySupplierModel.SupplierAddress)
    @Html.Partial("~/Views/Company/Supplier/_supplierUsers.cshtml", Model.CompanyRoleModel.CompanySupplierModel.SupplierUsers)
    @Html.Partial("~/Views/Company/_ContactList.cshtml", Model.CompanyRoleModel.CompanySupplierModel.SupplierContacts)
    <div role="tabpanel" class="tab-pane active" id="sup-addsetup"></div>

</div>

<div class="clearfix"></div>
<script>

    function GetView(viewName) {


        if (viewName == 'SupplierInfo') {
            var data = {
                companyId: '@Session["cCompanyId"].ToString()',
                custserviceId: $('#Offering').val(),
                selectedCustomerId: 0
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetSupplierInfo',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#sup-info').html(data);
                        HtmlActions();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        if (viewName == 'SupplierAcc') {
            var data = {
                companyId: '@Session["cCompanyId"].ToString()',
                custserviceId: $('#Offering').val(),
                selectedCustomerId: 0
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetSupplierAccreditation',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#sup-acc').html(data);
                        HtmlActions();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        if (viewName == 'SupplierService') {
            var data = {
                companyId: '@Session["cCompanyId"].ToString()'
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetSupplierServices',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#sup-service').html(data);
                        HtmlActions();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        if ( viewName=='SupplierAddSetup') {
            var data = {
                companyId: '@Session["cCompanyId"].ToString()'
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetSupplierAdditionSetup',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#sup-addsetup').html(data);
                        HtmlActions();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        if (viewName == 'SupplierDistri') {
            var data = {
                companyId: '@Session["cCompanyId"].ToString()'
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetSupplierDistri',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#sup-distri').html(data);
                        HtmlActions();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        } 
        if (viewName == 'SupplierMfgTier') {
            var data = {
                companyId: '@Session["cCompanyId"].ToString()'
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/GetSupplierMfgTier',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#sup-mfg').html(data);
                        HtmlActions();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        if (viewName == 'SupplierAddress' || viewName == 'SupplierUser' || viewName == 'SupplierContact') {
            showHideLoader(1);
            setTimeout(function () { showHideLoader(0) }, 1000);
        }
    }

    function HtmlActions() {
        $('.date-picker').datepicker({
            autoclose: true,
            onClose: function (selectedDate) {
            }
        });
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        $('.select2-container').parent().css("margin-bottom", "15px");

        $('.resetDate').click(function () {
            $(this).parent().parent().find('.date-picker').datepicker("setDate", "+0");
            $(this).parent().siblings().find('input').val("");
        });
        $("select[multiselectidfor]").change(function () {
            var element = ("#" + $(this).attr("multiselectidfor"));
            var thisselect = ("#" + $(this).attr("id"));
            $(element).val("");
            var selMulti = $.map($(thisselect + " option:selected"), function (el, i) {
                return $(el).val();
            });
            $(element).val(selMulti.join(", "));
        });
        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        $('input[type="email"]').focus(function () {
            var emailaddress = $(this);
            if ($(emailaddress).val() != null && $(emailaddress).val().trim() != '') {
                if (isEmail($(emailaddress).val())) {
                    $(emailaddress).attr("preEmail", emailaddress.val());
                }
            }
        });
        $('input[type="email"]').focusout(function () {
            var emailaddress = $(this);
            if ($(emailaddress).val() != null && $(emailaddress).val().trim() != '') {
                if (!isEmail($(emailaddress).val())) {
                    $(emailaddress).val(emailaddress.attr("preemail"));
                    $('html, body').animate({
                        scrollTop: $(emailaddress).offset().top - 170
                    });
                    alert("Please enter valid email address");
                    $(emailaddress).focus();
                }
            }

        });
        $(".allownumericwithoutdecimal").on("keypress keyup blur", function (event) {         
            if ((event.which < 48 || event.which > 57) && event.which != 8 && event.which != 0 && !event.ctrlKey) {
                event.preventDefault();
            }

        }).bind("paste", function (e) {
            e.preventDefault();
        });

        $(".numericwithdecimal").on("keypress keyup blur", function (event) {
            if ((event.which < 46 || event.which > 57 || event.which == 47) && event.which != 8 && event.which != 0 && !event.ctrlKey) {
                event.preventDefault();
            } // prevent if not number/dot
            if (event.which == 46 && $(this).val().indexOf('.') != -1) {
                event.preventDefault();
            } // prevent if already dot
        }).bind("paste", function (e) {
            e.preventDefault();
        });

    }

</script>
