﻿@model List<OneSourceAdminCore.Model.GenericList>
<div class="modal-header" style="background-color: #399bd3;color: white;">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="modal-title" style="font-weight:800">Contacts</h3>
</div>
<div class="modal-body" style="height: 420px;">
    <div class="col-md-12">
        <p>Select one or more contacts from the list below:</p>
    </div>
    <div class="col-md-12 ddlDiv">

        @Html.DropDownList("ddlContacts", new SelectList(Model,
                      "Key", "Value"),
             new { @id = "ddlContacts", @multiple = "multiple", @class = "form-control", @style = "height: 300px;" })
    </div>
    <div class="col-md-12">
        <p><a  class="btn btn-default btnSubmit addToSupplierContactList"  style="float: right;">Update</a><p>
    </div>
</div>
