﻿@model List<OneSourceAdminCore.Model.GenericList>
<div class="col-md-12 update-btn1" style="padding-bottom:10px">
    <button type="submit" class="btn btn-default updateMfg" id="per">Update</button>
</div>
<div class="col-md-12 supplier-multi-slt">
    <div class="col-md-2"></div>
    <select id="ddlServiceId" multiple>
        @foreach (var item in Model.Where(x=>x.Count!=0).ToList())
        {
            <option value="@item.Key" @(item.Count == 0 ? "" : "selected")>@item.Value</option>
        }
        @foreach (var item in Model.Where(x => x.Count == 0).ToList())
        {
            <option value="@item.Key" @(item.Count == 0 ? "" : "selected")>@item.Value</option>
        }
    </select>

    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-12 supplier-tab-head">
        <h3>Services</h3>
    </div>
    <div class="col-md-12 location-tab-one supplier-info-tab" style="padding-left: 0px;padding-right: 0px;">
        <div class="menuScroller1" style="height:300px !important;">
            @if (Model.Where(x => x.Count != 0).ToList().Count > 0)
            {
                var count = 1;
                <table class="table">
                    <tbody>

                        @foreach (var item in Model.Where(x => x.Count != 0))
                {
                            <tr>
                                <td>@count) @item.Value</td>

                            </tr>
                            count++;
                        }


                    </tbody>
                </table>
            }
            else
            {
                <p>No service assign to this supplier.</p>
            }
        </div>
        </div>


</div>
<script>

    $('.menuScroller1')
      .slimscroll({ destroy: true })
      .slimscroll({ height: '200px' });
    $(function () {
        var Message = "@ViewBag.Message";
        if (Message != "") {
            showNotification(Message);
        }
    });

    $('#ddlServiceId').multipleSelect({
        placeholder: 'Services',
        selectAll: true,
        filter: true,
        onClose: function (view) { }
    });
    $('.updateMfg').click(function () {
        var serviceIds = $('#ddlServiceId').multipleSelect('getSelects');

        var data = {
            companyId: '@Session["cCompanyId"].ToString()',
            serviceIds: serviceIds.join()
        }
        showHideLoader(1);
        $.ajax({
            url: '/Company/UpdateSupplierService',
            type: 'POST',
            data: data,
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    $('#sup-service').html(data);
                    HtmlActions();
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });

    });

</script>
