﻿@using System.Configuration;
@model OneSourceAdminCore.Model.SupplierInfoModel
<style>
    .supplier-info-tab span {
        top: 0px;
    }
</style>
@using (Html.BeginForm("UpdateSupplierInformation", "Company", FormMethod.Post, new { @id = "SFAForm", @enctype = "multipart/form-data" }))
{
    <input type="hidden" value="@Model.SFAId" name="SFAId">
    <div class="col-md-12 supplier-tab-head">
        <h3>Supplier Information</h3>
    </div>
    <div class="col-md-12 back-btn">
        <button type="submit" class="btn btn-default btnSubmit" id="per">Update</button>
    </div>
    <div class="col-md-6 location-tab-one supplier-info-tab">
        <div class="col-md-4">
            <label>Fulfillment Services Agreement Date:</label>
        </div>
        <div class="col-md-8">
            <div class="col-md-10" style="padding-left: 0px;">
                <div class="input-group input-medium date date-picker" data-date="@(Model.Fsadate ==null ? DateTime.Now.Date.ToString("MM/dd/yyyy"): Convert.ToDateTime(Model.Fsadate).Date.ToString("MM/dd/yyyy"))" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width:auto !important;">
                    <input type="text" name="Fsadate" value="@(Model.Fsadate == null ? "" : Convert.ToDateTime(Model.Fsadate).Date.ToString("MM/dd/yyyy"))" class="form-control" readonly>
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                    <img src="/Content/images/reset-btn.png">
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4" style="padding-top:10px">
            <label>Is Global:</label>
        </div>
        <div class="col-md-8" style="height: 40px;padding-top: 10px;">
            <input type="hidden" name="IsGlobal" id="IsGlobal" value="@(Model.IsGlobal ? "true" : "false")">
            <input type="checkbox" style="height: 13px;margin: 0px;" class="form-control" checkboxfor="IsGlobal" @(Model.IsGlobal == true ? "Checked" : "")>
        </div>
        <div class="col-md-4">
            <label>Default Country:</label>
        </div>
        <div class="col-md-8">
            @if (Model.DefaultCountryId == 0)
            {
                @Html.DropDownList("DefaultCountryId", new SelectList(Model.CountryList,
                   "Key", "Value", Model.DateTimeId),
          new { @id = "DefaultCountryId" })
            }
            else
            {
                <input type="hidden" name="DefaultCountryId" id="DefaultCountryId" value="@Model.DefaultCountryId">
                <p>@Model.CountryName </p>
            }

        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Date Format:</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("DateTimeId", new SelectList(Model.DateTimeList,
                   "Key", "Value", Model.DateTimeId),
          new { @id = "DateTimeId" })
        </div>
    </div>
    <div class="col-md-6 location-tab-one manufacturer">
        <div class="col-md-4">
            <label>Order Format:</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("OrderFormatId", new SelectList(Model.OrderFormat,
                   "Key", "Value", Model.OrderFormatId),
          new { @id = "OrderFormatId" })
        </div>
        <div class="col-md-4">
            <label>Email:</label>
        </div>
        <div class="col-md-8">
            <input name="Email" class="form-control" maxlength="500" value="@(Model.Email ?? "")">
        </div>
        <div class="col-md-4">
            <label>CSR (Orders):</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("CSROrderId", new SelectList(Model.CSRDataList,
                   "Key", "Value", Model.CSROrderId),
          new { @id = "CSROrderId" })
        </div>
        <div class="col-md-4">
            <label>CSR (Invoice):</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("CSRInvoiceId", new SelectList(Model.CSRDataList,
                   "Key", "Value", Model.CSRInvoiceId),
          new { @id = "CSRInvoiceId" })
        </div>
    </div>
}
@using (Html.BeginForm("UpdateCustomerInformation", "Company", FormMethod.Post, new { @id = "SFACustomerForm", @enctype = "multipart/form-data" }))
{
    <input type="hidden" value="@Model.SFAId" name="SFAId">
    <div class="col-md-12 supplier-tab-head">
        <h3>Customer Specific Information</h3>
    </div>
    <input type="hidden" name="CustServiceId" id="CustServiceId">
    <div class="col-md-12 back-btn">
        <button type="button" class="btn btn-default btnSubmit" id="perRefresh">Refresh</button>
        <button type="submit" class="btn btn-default btnSubmit" id="per">Update</button>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 back-btn">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <label><span style="color:red">* &nbsp;</span>Customer:</label>
        </div>
        <div class="col-md-4">
            @if (Model.CustomerList.Count > 1)
                {
                @Html.DropDownList("SelectedCustomerId", new SelectList(Model.CustomerList,
        "customerid", "customername", Model.SelectedCustomerId),
             new { @id = "SelectedCustomerId", @onclick = "UpdateCustomerInfo(this)" })
            }
            else
            {
                <select id="SelectedCustomerId" name="SelectedCustomerId">
                    <option value="0" >(None)</option>
                </select>
            }

        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-6 location-tab-one supplier-info-tab">
        <div class="col-md-4">
            <label>Procurement</label>
        </div>
        <div class="col-md-8">
            <input type="radio"  style="height: 20px !important;" class="form-control" name="serviceType" value="@ConfigurationManager.AppSettings["OfferingProcurementId"].ToString()" id="procurement">
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            <label>Work Agreement No:</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="WANumber" value="@(Model.WANumber??"")" maxlength="255" class="form-control">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Work Agreement Length:</label>
        </div>
        <div class="col-md-8" style="padding-left: 0px;">
            <div class="col-md-9">
                <input type="text" name="WAMonths" class="form-control allownumericwithoutdecimal" maxlength="6" value="@(Model.WAMonths==null?"":Model.WAMonths.ToString())">
            </div>
            <div class="col-md-3"><span style="padding-bottom:10px">month/s</span></div>

        </div>
        <div class="netpayment">
            <div class="col-md-4">
                <label>Net Payment:</label>
            </div>
            <div class="col-md-8" style="padding-left: 0px;">
                <div class="col-md-9">
                    <input type="text" name="NetPaymentDays" maxlength="6" value="@(Model.NetPaymentDays==null?"":Model.NetPaymentDays.ToString())" class="form-control allownumericwithoutdecimal">

                </div>
                <div class="col-md-3">
                    <span style="padding-bottom:10px">calendar days</span>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-6 location-tab-one supplier-info-tab">
            <div class="col-md-4">
                <label>Support</label>
            </div>
            <div class="col-md-8">
                <input type="radio" style="height: 20px !important;" class="form-control"  name="serviceType" value="@ConfigurationManager.AppSettings["OfferingSupportId"].ToString()" id="support">
            </div>
            <div class="col-md-4">
                <label>Work Agreement Signed:</label>
            </div>
            <div class="col-md-8" style="padding-bottom: 15px;">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.Date" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width:auto !important;">
                        <input type="text" name="Wadate" value="@(Model.Wadate==null?"":Convert.ToDateTime(Model.Wadate).Date.ToString("MM/dd/yyyy"))" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
          
            <div class="deliverySla">
                <div class="col-md-4">
                    <label>Delivery SLA:</label>
                </div>
                <div class="col-md-8" style="padding-left: 0px;">
                    <div class="col-md-9">
                        <input type="text" name="DeliverySLADays" maxlength="6" value="@(Model.DeliverySLADays==null?"":Model.DeliverySLADays.ToString())" class="form-control allownumericwithoutdecimal">

                    </div>
                    <div class="col-md-3">
                        <span style="padding-bottom:10px">business days</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 supplier-tab-head" style="background-color:white !important;color:grey">
            <h4>Customer Destination Information</h4>
        </div>
        <div class="col-md-6 location-tab-one supplier-info-tab">
            <div class="col-md-3">
                <label>Addresses:</label>
            </div>
            <div class="col-md-9">
                <input type="hidden" name="AddressIds" id="AddressIds" value="@Model.AddressIds">
                @Html.DropDownList("AddressId", new SelectList(Model.AddressList,
                      "Key", "Value"),
             new { @id = "AddressId", @multiselectidfor = "AddressIds", @multiple = "multiple", @class = "form-control", @style = "height: 150px;" })
            </div>
        </div>
        <div class="col-md-6 location-tab-one supplier-info-tab">
            <div class="col-md-3">
                <label>Supplier Contacts:</label>
            </div>
            <div class="col-md-9">
                <input type="hidden" name="ContactIds" id="ContactIds" value="@Model.ContactIds">
                @Html.DropDownList("ContactId", new SelectList(Model.ContactList,
                      "Key", "Value"),
             new { @id = "ContactId", @multiselectidfor = "ContactIds", @multiple = "multiple", @class = "form-control", @style = "height: 150px;" })
                <span><a onclick="GetContacts()">(More Contacts)</a></span>
            </div>
        </div>
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

        </div>
    </div>
</div>
<script>
    $('body').on('click', 'a.addToSupplierContactList', function () {
        
        var contactIds = $('#ContactIds').val();
        var lastValue = "";
        $.each($("#ddlContacts option:selected"), function (key, option) {

            if (contactIds.indexOf(option.value) == -1) {
                $('#ContactId').append($('<option>', { value: option.value }).text(option.text));
                $("#ContactId option[value='" + option.value + "']").prop("selected", true);
                contactIds = contactIds + "," + option.value;
                lastValue = option.value;
            }
        });
        $('#ContactIds').val(contactIds);
        setTimeout(function () {
            var $s = $('#ContactId');
            var optionTop = $s.find('[value="' + lastValue + '"]').offset().top;
            var selectTop = $s.offset().top;
            $s.scrollTop($s.scrollTop() + (optionTop - selectTop));
        }, 1000);



        $('.close').click();

    });


    function GetContacts() {
        showHideLoader(1);
        $.ajax({
            url: '/Company/GetSupplierContacts',
            type: 'POST',
            dataType: 'html',
            success: function (data) {
                if (data != null && data != "0") {
                    $('.modal-content').html(data);
                    HtmlActions();
                    $('#myModal').modal('show');
                }
                else {
                    showNotification("Error while processing.");
                    showHideLoader(0);
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });

    }

    $(function () {
        StartLoader();
        $('#CustServiceId').val($('#Offering').val());

        if ($('#Offering').val() == "@ConfigurationManager.AppSettings["OfferingProcurementId"].ToString()") {
            $('#procurement').prop("checked", "checked")
            $('.netpayment').css("display", "block");
            $('.deliverySla').css("display", "block");
        }
        else {
            $('#support').prop("checked", "checked")
            $('.netpayment').css("display", "none");
            $('.deliverySla').css("display", "none");
        }

        var selectedCustomerId = "@Model.SelectedCustomerId"
        $('#SelectedCustomerId').val(selectedCustomerId);

        var AddressIds = "@Model.AddressIds";
        if (AddressIds != null && AddressIds != "") {

            $.each(AddressIds.split(","), function (i, e) {
                $("#AddressId option[value='" + e + "']").prop("selected", true);
            });
        }
        var ContactIds = "@Model.ContactIds";
        if (ContactIds != null && ContactIds != "") {

            $.each(ContactIds.split(","), function (i, e) {
                $("#ContactId option[value='" + e + "']").prop("selected", true);
            });
        }
    });


    $('input[name="serviceType"]').change(function () {
        
        $('#Offering').val($(this).val());
        GetView('SupplierInfo');
    });

    $('#SFAForm').submit(function () {
        if ($('#DefaultCountryId').val().trim() == "") {
            alert("Please Select a Default Country");
            return false;
        }
        showHideLoader(1);
    });

    $('#SFACustomerForm').submit(function () {      
        if ($('#SelectedCustomerId').val().trim() == "0") {
            alert("Please select a customer.");
            return false;
        }
        if ($('#AddressIds').val().trim() == "" || $('#AddressIds').val().trim() == "0") {
            alert("Please provide customer address.");
            return false;
        }
        showHideLoader(1);
    });


    $('#perRefresh').click(function () {
        StartLoader();
        GetView('SupplierInfo');
    });
    function UpdateCustomerInfo(event) {
        if ($(event).val() != "0") {
            showHideLoader(1);
            var data = {
                companyId: '@Session["cCompanyId"].ToString()',
                custserviceId: $('#CustServiceId').val(),
                selectedCustomerId: $(event).val()
            }
            $.ajax({
                url: '/Company/GetSupplierInfo',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#sup-info').html(data);
                        HtmlActions();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else {
          
                var data = {
                    companyId: '@Session["cCompanyId"].ToString()',
                    custserviceId: $('#Offering').val(),
                    selectedCustomerId: 0,
                    isNone:true
                }
                showHideLoader(1);
                $.ajax({
                    url: '/Company/GetSupplierInfo',
                    type: 'POST',
                    data: data,
                    dataType: 'html',
                    success: function (data) {
                        if (data != null) {
                            $('#sup-info').html(data);
                            HtmlActions();
                        }
                    },
                    complete: function (data) {
                        showHideLoader(0);
                    }
                });
            
        }
    }
</script>