﻿@using System.Configuration;
@model OneSourceAdminCore.Model.SupplierAccreditationModel
<div class="col-md-12 update-btn1">
    <button type="submit" class="btn btn-default updateMfg" id="per">Update</button>
</div>
<div class="col-md-12 supplier-multi-slt">
    <div class="col-md-2"></div>
    <div class="col-md-4 accre-supp">
        <input type="radio" class="form-control" name="accre" value="@Convert.ToInt32(ConfigurationManager.AppSettings["OfferingProcurementId"])" @(Model.custserviceId == Convert.ToInt32(ConfigurationManager.AppSettings["OfferingProcurementId"]) ? "Checked" : "") data-id="procurement" />
        Procurement
    </div>
    <div class="col-md-4 accre-supp">
        <input type="radio" class="form-control" name="accre" value="@Convert.ToInt32(ConfigurationManager.AppSettings["OfferingSupportId"])" @(Model.custserviceId == Convert.ToInt32(ConfigurationManager.AppSettings["OfferingSupportId"]) ? "Checked" : "") data-id="support" />
        Support
    </div>
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    @if (Model.Mfgs.Count > 0)
    {
    <select id="ddlMfgId" multiple>
        @foreach (var item in Model.Mfgs)
        {
            <option value="@item.ManufacturerID" @(item.SelectedMfg == null ? "" : "selected")>@item.ManufacturerName</option>
        }
       
    </select>
    }
    <div class="col-md-2"></div>
    <div class="clearfix"></div>
    <div class="col-md-12 supplier-tab-head">
        <h3>@(Model.custserviceId == Convert.ToInt32(ConfigurationManager.AppSettings["OfferingProcurementId"]) ? "Procurement" : "Support") Manufacturer</h3>
    </div>

    <div class="col-md-12 location-tab-one supplier-info-tab " style="padding-left: 0px;padding-right: 0px;">
        <div class="menuScroller1" style="height:300px !important;">
            @if (Model.Mfgs.Where(x => x.SelectedMfg != null).ToList().Count > 0)
            {
                var count = 1;
                <table class="table">
                    <tbody>

                        @foreach (var item in Model.Mfgs.Where(x => x.SelectedMfg != null))
                        {
                            <tr>
                                <td>@count) @item.ManufacturerName</td>

                            </tr>
                            count++;
                        }


                    </tbody>
                </table>
            }
            else
            {
                <p>No @(Model.custserviceId == Convert.ToInt32(ConfigurationManager.AppSettings["OfferingProcurementId"]) ? "procurement" : "support") manufacturer assign to this supplier</p>
            }

        </div>
    </div>


</div>

<script>

    $('.menuScroller1')
      .slimscroll({ destroy: true })
      .slimscroll({ height: '200px' });



    $(function () {
        var Message = "@ViewBag.Message";
        if (Message != "") {
            showNotification(Message);
        }
        // $('.menuScroller').slimScroll({});
    });

    $('#ddlMfgId').multipleSelect({
        placeholder: 'Manufacturers',
        selectAll: true,
        filter: true,
        onClose: function (view) { }
    });
    $("input[name=accre]:radio").change(function () {
        $('#Offering').val($(this).val());
        var data = {
            companyId: '@Session["cCompanyId"].ToString()',
            custserviceId: $(this).val(),
            selectedCustomerId: 0
        }
        showHideLoader(1);
        $.ajax({
            url: '/Company/GetSupplierAccreditation',
            type: 'POST',
            data: data,
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    $('#sup-acc').html(data);
                    HtmlActions();
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    });
    $('.updateMfg').click(function () {

        if ($('#ddlMfgId').val() !== undefined) {
            var mfgIds = $('#ddlMfgId').multipleSelect('getSelects');
            var data = {
                companyId: '@Session["cCompanyId"].ToString()',
                custserviceId: $("input[name=accre]:radio:checked").val(),
                mfgs: mfgIds.join()
            }
            showHideLoader(1);
            $.ajax({
                url: '/Company/UpdateSupplierAccreditation',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('#sup-acc').html(data);
                        HtmlActions();
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else {
            alert("No Item to Update.");
            return false;
        }

    });

</script>