﻿

@using GridMvc.Html
@model OneSourceAdminCore.Model.CompanySupplierAddressModel

<div role="tabpanel" class="tab-pane" id="sup-address" style="padding-top: 15px;">
    <a class="addAddress" href="/company/supplier-address/3/0/@Session["cPartyId"].ToString()">
        <button type="submit" class="btn blue-Btn topAddNewButton" id="" style="right: 21px !important;margin-bottom: 15px !important; float:right !important">Add Address</button>
    </a>
    <br />
    @if (Model.AddressList.Count > 0)
    {
        <div>
            @Html.Grid(Model.AddressList).Columns(columns =>
       {
       columns.Add(C => C.addressname).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Address").SetWidth(150);
       columns.Add(C => C.AddressType).Encoded(false).Sanitized(false).Sortable(false).Filterable(false).Titled("Address Type").SetWidth(150);
       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" class="EditAddress" href="/company/supplier-address/3/@o.AddressID/@o.PartyID/">Edit </a>);
       }).WithPaging(50, 2, "address-page")
        </div>
    }
</div>

<script>
    //$(function () {
    //    var arr = window.location.href.split('#');
    //    if (arr.length > 0) {
    //        activateTabById(arr[1]);
    //            $('body').animate({ scrollTop: 0 }, 'slow');


    //    }
    //});
    $('.EditAddress').click(function () {
        StartLoader();
    });
    $(function () {
        $('.addAddress').click(function () {
            StartLoader();
        });
    });
</script>