﻿@model OneSourceAdminCore.Model.CompanySupplierUserModel
@{
    ViewBag.Title = "AddEditSupplierUser";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top">
    <div class="col-md-9" style="padding: 10px; color: #FFF;">
        <b> Dashboard > @(Session["CurrentCompanyRole"] != null ? Session["CurrentCompanyRole"] : "") @(Session["currentCompanyName"] != null ? "(" + Session["currentCompanyName"] + ")" : "") > User </b>
    </div>
    @*<div class="col-md-3" style="padding: 10px;"></div>*@
    <div class="col-md-3" style="padding: 10px;">
        <a href="@(Session["PreviousUrlSupplierUsr"]==null? "/admin/company": Session["PreviousUrlSupplierUsr"].ToString())" aria-controls="location" role="tab" class="addressBack" aria-expanded="true">
            <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
        </a>
    </div>
</div>


@using (Html.BeginForm("AddEditSupplierUser", "Company", FormMethod.Post, new { @id = "SupplierUserForm" }))
{
    <div class="os-admin-tabs cards">
        <div class="col-md-12 tab-content">
            <h1>Supplier User</h1>
            <hr />
            <div>
                <div class="col-md-12 top-head-buttons-users" style="padding-right: 0px;">
                    <div class="col-md-5">
                        <input type="hidden" name="SFAID" value="@Model.UserInfo.SFAID">
                    </div>
                    <div class="col-md-7 mfg-users-btns">
                        @if (Model.UserInfo.UserId > 0)
                        {
                            <button type="button" class="btn btn-default btnSubmit btnSendPassword" id="per">Send Password Email</button>
                        }
                        @if (Model.UserInfo.UserId > 0)
                        {
                            <a href="/company/supplier-user/0" aria-controls="mfg-user-edit-view" class="mfg-new-user-btn">New</a>
                        }

                        @if (Model.UserInfo.UserId > 0)
                        {
                            <button type="button" class="btn btn-default btnSubmit btnContactInfo" id="per">Contact Info</button>
                        }
                    </div>
                    <div class="mfg-form-section">
                        <div class="clearfix"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <label><span style="color:red">* </span>User Name:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" maxlength="50" name="UserName" value="@(Model.UserInfo.UserName??"")" data-preval="@(Model.UserInfo.UserName??"")" class="form-control userNameTxt" />
                            <input type="hidden" name="UserId" id="currentUserId" value="@Model.UserInfo.UserId">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <label><span style="color:red">* </span>Password:</label>
                        </div>
                        <div class="col-md-4">
                            <input name="UserPassword" maxlength="50" type="text" value="@(Model.UserInfo.UserPassword??"")" class="form-control" />
                            @*<span><a href="/account/Login">Login As User</a></span>*@
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <label><span style="color:red">&nbsp;&nbsp; </span>Email:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="email" name="Email" maxlength="250" value="@(Model.UserInfo.Email??"")" class="form-control" />
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <label><span style="color:red">* </span>Date Format:</label>
                        </div>
                        <div class="col-md-4" style="margin-bottom:15px">

                            @if (Model.DateFormates.Count > 0)
                            {
                                @Html.DropDownList("DateFormatID", new SelectList(Model.DateFormates,
                            "Key", "Value", Model.UserInfo.DateFormatID),
                   new { @id = "DateFormatID", @style = "top:0px !important;" })
                            }
                            else
                            {
                                <select class="form-control" multiple>
                                    <option>(None)</option>
                                </select>
                            }
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        @if (@Model.UserInfo.UserId> 0)
                        {
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label><span style="color:red">&nbsp;&nbsp; </span>Is Active:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="hidden" name="IsActive" id="IsActive" data-isbit="true" value="@(Model.UserInfo.IsActive)">
                                @if (Model.UserInfo.IsActive == 1)
                                {
                                    <input class="IsActive" checkboxfor="IsActive" checked  data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                                }
                                else
                                {
                                    <input class="IsActive" checkboxfor="IsActive" data-toggle="toggle"  data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                                }
                            </div>
                            <div class="col-md-2"></div>
                            <div class="clearfix"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label><span style="color:red">&nbsp;&nbsp; </span>Latest Updated(mm/dd/yyyy):</label>
                            </div>
                            <div class="col-md-4">
                                @Model.UserInfo.LastUpdated
                            </div>
                            <div class="col-md-2"></div>
                            <div class="clearfix"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label><span style="color:red">&nbsp;&nbsp; </span>Updated By:</label>
                            </div>
                            <div class="col-md-4">
                                @Model.UserInfo.LastUpdatedBy
                            </div>
                            <div class="col-md-2"></div>
                            <div class="clearfix"></div>

                        }
                        <div class="col-md-2"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" style="float:right;" class="btn btn-default btnSubmit" id="per">@(Model.UserInfo.UserId > 0 ? "Update" : "Add")</button>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $(document).ready(function () {

        $("#SupplierUserForm").trackChanges();

        $('.select2-choice').css("top", "0px");
        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".company").addClass("active");

        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }

        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });
    $(window).ready(function(){
        $('.select2-container').find('a').css("top","0px");
    });
    $("#SupplierUserForm").submit(function () {
        
        if ($('input[name="UserName"]').val().trim() == "" || $('input[name="UserPassword"]').val().trim() == "") {
            alert("Please provide all required fields.");
            return false;
        }
        StartLoader();
    });
    $('.btnContactInfo').click(function () {

        var contactId = @Model.ContactId;
        if(contactId==0){
            if(confirm("No contact is associated with this user. Do you want to add?")){
                if($('#IsActive').val()=="0"){
                    alert("Please active this user first. In order to add contact");
                    return false;
                }
                window.location.href = "/company/contact/c/0/@Session["cCompanyId"]/@Model.UserInfo.UserId";
            }
        }
        else{
            window.location.href = "/company/contact/c/"+contactId+"/@Session["cCompanyId"].ToString()";
        }


    });
    $('.addressBack, .mfg-new-user-btn').click(function(){
        StartLoader();
    });
    $(".userNameTxt").focusout(function () {

        var getValue = $(this).val();
        var exitValue = $(this).data("preval").toString();
        var getUserId = $("#currentUserId").val();
        if (getValue.trim() != null && getValue.trim() != "" && getValue.trim() != exitValue.trim()) {
            showHideLoader(1);
            $.ajax({
                url: '/Company/ChkDuplicateUserByName',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ userName: getValue, userId: getUserId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {

                        if (data == true) {
                            $(".userNameTxt").val("");
                            alert("User already exist please try another!");
                        }

                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
    });
    $('.btnSendPassword').click(function(){
      
        if($("#SupplierUserForm").isChanged()){
            
            if(confirm("You have pending changes, Please update or cancel to proceed")){
                return false;
            }
        }
        if($('input[name="UserName"]').val().trim()!="" && $('input[name="Email"]').val().trim()!=""){
            showHideLoader(1);
            $.ajax({
                url: '/Company/SendSupplierUserPassword',
                type: 'POST',
                cache: false,
                data: JSON.stringify({ username: $('input[name="UserName"]').val(),email:$('input[name="Email"]').val(),userId:$('#currentUserId').val() }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data =="1") {
                        showNotification("Email has been sent successfully");
                    }
                    else{
                        showNotification("No email has been sent");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });
        }
        else{
            alert("Please provide username and email");
        }
    });
</script>

