﻿@model OneSourceAdminCore.Model.CompanySupplierAddressModel
@{
    ViewBag.Title = "AddEditSupplierAddress";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="clearfix"></div>
<div class="row bread-Crumb-Top">
    <div class="col-md-9" style="padding: 10px; color: #FFF;">
        <b> Dashboard > @(Session["CurrentCompanyRole"] != null ? Session["CurrentCompanyRole"] : "") @(Session["currentCompanyName"] != null ? "(" + Session["currentCompanyName"] + ")" : "") > Address </b>
    </div>
    @*<div class="col-md-3" style="padding: 10px;"></div>*@
    <div class="col-md-3" style="padding: 10px;">
        <a class="addressBack" href="@(Session["PreviousUrlSupplierAddr"]==null?"/admin/company":Session["PreviousUrlSupplierAddr"].ToString())">
            <input class="btn btn-default topAddNewButton" value="Back" type="button" style="float:right !important;">
        </a>
    </div>
</div>
@using (Html.BeginForm("AddEditSupplierAddress", "Company", FormMethod.Post, new { @id = "AddressForm" }))
{
    <div class="os-admin-tabs cards">
        <div class="col-md-12 tab-content">
            <h1>Address</h1>
            <hr />
            <div role="tabpanel" class="tab-pane active" id="home">

                <div class="col-md-6 location-tab-one">
                    <div class="col-md-4">
                        <label><span style="color:red">* </span>Address Name:</label>
                        <input type="hidden" name="AddressId" value="@(Model.AddressInfo.AddressId)">
                        <input type="hidden" name="partyId" value="@(Model.PartyId)">
                    </div>
                    <div class="col-md-8">
                        <input type="text" maxlength="250" name="AddressName" value="@(Model.AddressInfo.AddressName??"")" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label><span style="color:red">* </span>Address 1:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="Address1" maxlength="500" value="@(Model.AddressInfo.Address1??"")" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Address 2:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="Address2" maxlength="500" value="@(Model.AddressInfo.Address2??"")" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Address 3:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="Address3" maxlength="500" value="@(Model.AddressInfo.Address3??"")" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Address 4:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="Address4" maxlength="500" value="@(Model.AddressInfo.Address4??"")" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Phone:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="Phone" maxlength="50" value="@(Model.AddressInfo.Phone??"")" class="form-control phoneOnly" error-msg="Invalid Phone Number" />
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>City:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="City" maxlength="100" value="@(Model.AddressInfo.City??"")" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Postal Code:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" maxlength="8" name="PostalCode" value="@(Model.AddressInfo.PostalCode??"")" class="form-control allownumericwithhippen" />
                    </div>
                </div>
                <div class="col-md-6 location-tab-one supplier">
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Ship To:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" name="IsShipTo" id="IsShipTo" value="@(Model.AddressInfo.IsShipTo == true ? "true" : "false")">
                        @if (Model.AddressInfo.IsShipTo == true)
                        {
                            <input class="IsShipTo" checkboxfor="IsShipTo" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                        }
                        else
                        {
                            <input class="IsShipTo" checkboxfor="IsShipTo" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                        }
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Bill To:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" name="IsBillTo" id="IsBillTo" value="@(Model.AddressInfo.IsBillTo == true ? "true" : "false")">
                        @if (Model.AddressInfo.IsBillTo == true)
                        {
                            <input class="IsBillTo" checkboxfor="IsBillTo" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                        }
                        else
                        {
                            <input class="IsBillTo" checkboxfor="IsBillTo" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                        }
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Address Type:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom:15px">
                        @if (Model.AddressTypes.Count > 0)
                        {
                            @Html.DropDownList("AddressTypeId", new SelectList(Model.AddressTypes,
                            "Key", "Value", Model.AddressInfo.AddressTypeId),
                   new { @id = "AddressTypeId", @tabindex = "-1" })
                        }
                        else
                        {
                            <select class="form-control">
                                <option>(None)</option>
                            </select>
                        }
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Fax:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="Fax" maxlength="100" value="@(Model.AddressInfo.Fax??"")" class="form-control phoneOnly" error-msg="Invalid Fax Number" />
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>State/Province/Region:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="StateProvinceRegion" maxlength="500" value="@(Model.AddressInfo.StateProvinceRegion??"")" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">* </span>Country:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom:15px">
                        @if (Model.Countries.Count > 0)
                        {
                            @Html.DropDownList("CountryId", new SelectList(Model.Countries,
                            "Key", "Value", Model.AddressInfo.CountryId),
                   new { @id = "CountryId", @tabindex = "-1" })
                        }
                        else
                        {
                            <select class="form-control">
                                <option>(None)</option>
                            </select>
                        }
                    </div>
                    <div class="col-md-4">
                        <label><span style="color:red">&nbsp;&nbsp; </span>Directions:</label>
                    </div>
                    <div class="col-md-8">
                        <textarea name="Directions" maxlength="5000" class="form-control">@(Model.AddressInfo.Directions ?? "")</textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 back-btn">
                        @if (Model.AddressInfo.AddressId != 0)
                        {
                            <button type="button" style="margin-right: 0px;" class="btn btn-default btnSubmi" onclick="DeleteAddress(@Model.PartyId,@Model.AddressInfo.AddressId,@Model.AddressInfo.AddressTypeId)" id="per">Delete</button>
                            <button type="submit" class="btn btn-default btnSubmit" id="per">@(Model.AddressInfo.AddressId > 0 ? "Update" : "Add")</button>
                        }
                        else
                        {
                            <button type="submit" style="margin-right: 0px;" class="btn btn-default btnSubmit" id="per">@(Model.AddressInfo.AddressId > 0 ? "Update" : "Add")</button>
                        }

                    </div>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".company").addClass("active");

        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }

        });
        var message = '@ViewBag.Message';
        if (message != '') {
            if('@ViewBag.CurrentAddressId'!=''){
                $('#AddressTypeId').select2().val(@ViewBag.CurrentAddressId).trigger("change");
            }
            showNotification(message);
        }
    });
    $("#AddressForm").submit(function () {
        if ($('input[name="Address1"]').val() == "" || $('#CountryId').val() == "0" || $('input[name="AddressName"]').val() == "") {
            alert("Please provide required fields");
            return false;
        }
        StartLoader();
    });

    function DeleteAddress(partyId,addressId,corpAddId)
    {

        var corp=@ViewBag.CorporateAddressId;
        if(corp==corpAddId){
            alert("Corporate headquarters address cannot be deleted");
            return false;
        }
        if(!confirm("Are you sure you want to delete this address?\nYou will not be able to undo this operation.")){
            return false;
        }
        StartLoader();
        window.location.href = "/company/DeleteSupplierAddress?addressId=" + addressId + "&partyId=" + partyId;
    }
    $('.addressBack').click(function(){
        StartLoader();
    });
</script>