﻿@model OneSourceAdminCore.Model.PaymentModel
@{
    ViewBag.Title = "Finance - Payment Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row bread-Crumb-Top">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        <b> Finance > Payments > New payment</b>
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">

        <div style="float:right">
            <a style="float:right;" href="/paymentsearch">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
            </a>
        </div>
    </div>
</div>


<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Finance - New Payment</h1>
        <span>Use the fields below to add a new payment.</span>
        <hr />

        <div class="col-md-12">
            @using (Html.BeginForm("NewPayment", "Payment", FormMethod.Post, new { @id = "NewPaymentForm" }))
            {
                <div class="row">
                    <div class="col-md-6">

                        <!--Paid By-->
                        <div class="col-md-4">
                            <label style="font-weight:bold;margin-top:5px;">Paid By:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            @Html.DropDownList("newPaymentModel.CompanyID", new SelectList(Model.PaidByCompanyList,
                            "Key", "Value"))
                        </div>

                        <!--Amount-->
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label style="font-weight:bold;margin-top:5px;">Amount:</label>
                        </div>
                        <div class="col-md-3" style="">
                            <input type="number" min="1" class="form-control" required="required" name="newPaymentModel.PaymentAmount" value="@Model.newPaymentModel.PaymentAmount" />
                        </div>
                        <div class="col-md-5" style="">
                            @Html.DropDownList("newPaymentModel.PaymentCurrencyID", new SelectList(Model.CurrencyList,
                            "Key", "Value"))
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label style="font-weight:bold;margin-top:5px;">Vendor Payment Id:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="newPaymentModel.VendorPaymentID" value="@Model.newPaymentModel.VendorPaymentID" />
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label style="font-weight:bold;margin-top:5px;">Payment Method:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            @Html.DropDownList("newPaymentModel.PaymentTypeID", new SelectList(Model.PaymentMethod,
                            "Key", "Value"))
                        </div>

                    </div>
                    <div class="col-md-6">

                        <!--Paid To-->
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label style="font-weight:bold;margin-top:5px;">Paid to:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            @Html.DropDownList("newPaymentModel.PayToCompanyID", new SelectList(Model.PaidToCompanyList,
                            "Key", "Value"))

                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label style="font-weight:bold;margin-top:5px;">Payment Date:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                <input type="text" name="newPaymentModel.PaymentDate" class="form-control" readonly value="@DateTime.Now.ToShortDateString()" />
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>



                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <label style="font-weight:bold; margin-top:5px;">Payment TxType:</label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px;">
                            @Html.DropDownList("newPaymentModel.PaymentTxTypeID", new SelectList(Model.PaymentTxType,
                            "Key", "Value"))
                        </div>


                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col-md-2">
                        <label style="font-weight:bold; margin-left:15px;">Comments:</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(x => x.newPaymentModel.Comments, new { style = "width:100%", rows = "5", id = "txtComments" })

                        <div style="margin-top:10px; text-align:right;">
                            <button type="submit" class="btn btn-default btnSubmit" id="per">Submit</button>
                            <a href="/Payment/NewPayment" class="btn btn-default btnSubmit" style="margin-right:5px;" id="Reset">
                                Reset
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {

        //$("select").prepend("<option value='0' selected='selected'>None</option>");
        $("select").select2({ allowClear: true });
        //$("select").val("0").trigger("change");

        $('#NewPaymentForm').submit(function () {
            StartLoader();
        });

        //var dateToday = new Date();
        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true
        });

        $('#newPaymentModel_PaymentCurrencyID').val("12").trigger("change");
        $('#newPaymentModel_PayToCompanyID').val("" + @Session["ParentCompanyID"].ToString() +"").trigger("change");

    });

</script>
