﻿@model OneSourceAdminCore.Model.PaymentModel
@{
    ViewBag.Title = "Finance - Payment Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        <b> Finance > Payments > Payment Detail</b>
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">

        <div style="float:right">
            <a style="float:right;" href="/Payment/SearchResult/">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
            </a>
        </div>
    </div>
</div>

<style>
    input.amountTextBox {
        text-align: right;
    }
</style>

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Finance - Edit payment</h1>
        <span>Use the fields below to view/edit details of this payment.</span>
        <hr />

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label style="font-weight:bold;">Payment #:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Payment_)
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;">Paid By:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Paid_By)
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;">Amount:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Payment_Amount)
                        @Model.SelectedRecord.CurrencyName
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;">Payment Date:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Payment_Date)
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;">Payment Method:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Method)
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;">Last Updated:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Last_Updated)
                    </div>

                </div>
                <div class="col-md-6">


                    <div class="col-md-4" style="margin-bottom: 10px;">
                        <label style="font-weight:bold;">Vendor Payment Id:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Vendor_ID)
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-4">
                        <label style="font-weight:bold;">Paid to:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Paid_To)
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-4">
                        <label style="font-weight:bold;">Amount (USD):</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 30px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Payment_Amount_USD_)
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-4">
                        <label style="font-weight:bold;">Payment TxType:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.TxType)
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;">Updated By:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                        @Html.DisplayFor(x => x.SelectedRecord.Updated_By)
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-md-2">
                    <label style="font-weight:bold; margin-left:15px;">Comments:</label>
                </div>
                <div class="col-md-8">

                    @using (Html.BeginForm("UpdateComment", "Payment", FormMethod.Post, new { @id = "UpdateCommentForm" }))
                    {
                        @Html.HiddenFor(x => x.SelectedRecord.Payment_);
                        @Html.TextAreaFor(x => x.SelectedRecord.Comments, new { style = "width:100%", rows = "3", id = "txtComments" })

                        <div style="margin-top:10px; text-align:right">
                            <button type="submit" class="btn btn-default btnSubmit" style="background-color:#3b9ad2; color:white;">Update</button>

                            <a class="btn btn-default btnSubmit" style="background-color:#3b9ad2; color:white;" id="Reset">
                                Reset
                            </a>
                        </div>
                    }

                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">


                @using (Html.BeginForm("AddPayment", "Payment", FormMethod.Post, new { @id = "AddPaymentForm" }))
                {



                    @Html.HiddenFor(x => x.SelectedRecord.Payment_);
                    <div class="row col-md-offset-2" style="margin-bottom:80px;">

                        <div class="row">
                            <div class="col-md-9">
                                <div class="row" style="text-align:center; background-color:#3b9ad2; padding:10px; margin-bottom:10px; font-size:small; color:white; font-weight:bold;">
                                    <div class="col-md-4">
                                        Invoice
                                    </div>
                                    <div class="col-md-4">
                                        Description
                                    </div>
                                    <div class="col-md-4">
                                        Amount
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.SelectedInvoices.Count > 0)
                        {
                            foreach (var items in Model.AllInvoices)
                            {
                                var count = 0;
                                var selectedInvoice = Convert.ToInt32(items.Where(x => x.Selected == true).FirstOrDefault().Value);
                                var selectedInvoiceDetails = Model.SelectedInvoices.Where(x => x.InvoiceId == selectedInvoice).FirstOrDefault();

                                <text>
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DropDownList("invoiceid", new SelectList(Model.AllInvoices[count],
                                      "Value", "Text", selectedInvoice), new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="description" value="@(selectedInvoiceDetails.Description)" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" onkeypress="return isNumberKey(event)" class="form-control amount amountTextBox" name="invoiceamount" value="@(selectedInvoiceDetails.Amount.ToString("0.00"))" />
                                        </div>
                                    </div>
                                </text>

                                count++;
                            }





                            <div class="row">
                                <div class="col-md-3">
                                    @Html.DropDownList("invoiceid", new SelectList(Model.NewInvoices,
                                                      "Value", "Text"), new { @class = "form-control", @id = "Select1" })
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="description" value="" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" onkeypress="return isNumberKey(event)" class="form-control amountTextBox" name="invoiceamount" value="" />
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" class="btn btn-primary" style="background-color:#3b9ad2; color:white;" id="btnUpdateInvoice" name="1" value="Update" />
                                </div>
                            </div>

                        }

                        <div class="row">

                            <div class="col-md-3 col-md-offset-3" style="text-align:right; margin-top:5px;">
                                <b>Total</b>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control amountTextBox" value="@(Model.PaymentTotal.ToString("0.00"))" />
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                @(Model.SelectedRecord.CurrencyName)
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-3 col-md-offset-3" style="text-align:right;margin-top:5px">
                                <b>Balance</b>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control amountTextBox" value="@((Convert.ToDecimal(Model.SelectedRecord.Payment_Amount) - Model.PaymentTotal).ToString("0.00"))" />
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                @(Model.SelectedRecord.CurrencyName)
                            </div>
                        </div>



                    </div>
                }
                }


            </div>

        </div>


    </div>
</div>

<script>
    $(document).ready(function () {

        $('#UpdateCommentForm').submit(function () {
            StartLoader();
        });

        $("#Reset").click(
            function () {
                $("#txtComments").val('');
            });

        $("#btnUpdateInvoice").click(
           function () {
             
               var inputsForEmptyCheck = $(".amount");
               for (var i = 0; i < inputsForEmptyCheck.length ; i++) {
                   var val = parseFloat(inputsForEmptyCheck[i].value);
                   if (isNaN(val)) {
                       alert('You cannot leave amount empty.');
                       event.preventDefault();
                       return false;
                   }
               }

               var InputsWithAmount = $("input[name=invoiceamount]");
               var totalInvoicesAmount = 0.00;
               for (var i = 0; i < InputsWithAmount.length ; i++) {
                   var val = parseFloat(InputsWithAmount[i].value);
                   if (val <= 0)
                   {
                       alert('The value cannot be zero.');
                       event.preventDefault();
                       return false;
                   }
                   if (val > 0 && val != NaN && val != null)
                   { 
                       totalInvoicesAmount += val;
                   }
               }

               var totalPayment = parseFloat(@(Model.SelectedRecord.Payment_Amount));

               if (totalInvoicesAmount > totalPayment) {
                   alert('The total amount you have applied against invoices is greater than the amount of the payment.');
                   event.preventDefault();
                   return false;
               }
               else {
                   StartLoader();
                   return true;
               }
           });

       
    });

    function isNumberKey(evt) {
       
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>