﻿@model OneSourceAdminCore.Model.PaymentModel
@{
    ViewBag.Title = "Finance - Payment Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        <b> Finance > Payments</b>
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">

        <div style="float:right">
            <a style="float:right;" href="/Payment/NewPayment">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">New Payment</button>
            </a>
        </div>
    </div>
</div>

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Finance - Payments Search</h1>
        <span>Select the criteria for your search, or click the icon to the right to create a new payment.</span>
        <hr />

        <div class="col-md-12">
            @using (Html.BeginForm("Search", "Payment", FormMethod.Post, new { @id = "PaymentSearch" }))
            {
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label style="font-weight:bold;margin-top:5px;">Payment #:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="PaymentId" value="@Model.PaymentId" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;margin-top:5px;">Invoice #:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="InvoiceId" value="@Model.InvoiceId" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;margin-top:5px;">Paid By:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("PaidBy", new SelectList(Model.PaidByCompanyList,
                            "Key", "Value"))
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;margin-top:5px;">Payment Method:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("PaymentMethodSelected", new SelectList(Model.PaymentMethod,
                            "Key", "Value"))
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;margin-top:5px;">Paid After:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">

                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="PaidAfter" class="form-control" readonly value="@Model.PaidAfter" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-6" style="margin-top: 50px;">

                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;margin-top:5px;">Vendor Payment Id:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="VendorPaymentId" value="@Model.VendorPaymentId" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;margin-top:5px;">Paid to:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("PaidTo", new SelectList(Model.PaidToCompanyList,
                            "Key", "Value"))

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold;margin-top:5px;">Payment TxType:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        @Html.DropDownList("PaymentTypeSelected", new SelectList(Model.PaymentTxType,
                            "Key", "Value"))
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <label style="font-weight:bold; margin-top:5px;">Paid Before:</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 15px;">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" name="PaidBefore" class="form-control" readonly value="@Model.PaidBefore" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                   

                    <div class="row" style="text-align:right; margin-top:70px;">
                        <button type="submit" class="btn btn-primary" style="background-color:#3b9ad2; color:white;">Search</button>

                        <a href="/paymentsearch" class="btn btn-primary" style="background-color:#3b9ad2; color:white;margin-right:5px;" id="Reset">
                            Reset
                        </a>
                    </div>
                    
                </div>

            }
        </div>


    </div>
</div>




<script>


    $(document).ready(function () {

        //$("select").prepend("<option value='0' selected='selected'>None</option>");
        $("select").select2({ allowClear: true });
        //$("select").val("0").trigger("change");

        $('#PaymentSearch').submit(function () {
            StartLoader();
        });
        //var dateToday = new Date();
        $('.date-picker').datepicker({
            todayHighlight: true,
            autoclose: true
        });


    });

</script>
