﻿@model OneSourceAdminCore.Model.PaymentModel

@using GridMvc.Html

@{
    ViewBag.Title = "Finance - Payment Search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row bread-Crumb-Top">
    <div class="col-md-4" style="padding: 10px; color: #FFF;">
        <b> Finance > Payments > Search Result</b>
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding: 7px; text-align:right;">

        <div style="float:right">
            <a style="float:right;" href="/paymentsearch">
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToReport" style="float:right;">Back</button>
            </a>
        </div>
    </div>
</div>


<div class="row" style="padding-top:15px !important;">
   
    <div class="col-md-12">
        <br />
        @if (Model != null && Model.SearchRecords.Count > 0)
        {
            <div style="text-align:center;">
                Returning the first 500 results; try narrowing your search criteria.
            </div>
            <br />
            @Html.Grid(Model.SearchRecords.OrderBy(x => x.Payment_)).Columns(columns =>
   {
       columns.Add(C => C.Payment_).Sanitized(false).Encoded(false).Sortable(true).Titled("Payment #").SetWidth(50).RenderValueAs(o => @<a style="color: blue" href="/Payment/PaymentDetail?id=@o.Payment_">@o.Payment_</a>);
       columns.Add(C => C.Payment_Date).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Payment Date").SetWidth(150);
       columns.Add(C => C.Vendor_ID).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Vendor ID").SetWidth(150);
       columns.Add(C => C.Paid_By).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Paid By").SetWidth(300);
       columns.Add(C => C.Paid_To).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Paid To").SetWidth(200);
       columns.Add(C => C.Method).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Method").SetWidth(130);
       columns.Add(C => C.TxType).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Tx Type").SetWidth(100);
   }).WithPaging(50)
        }
        else
        {
            <div style="text-align:center;">
                <p>No records found. Please try changing your search filters.</p>
            </div>
        }

    </div>
</div>