@charset "utf-8";
/* CSS Document */


#dpbox{ width:100px;
      height:200px;
	  background-color:#F00;
	 
	
	}

@media screen and (max-width: 1900px) {

  #addtocartplus {
	  background-color:#0F0;
  float: right;
  /* margin-left: 76%; */
  right: 16px;
  margin-top: 128px;
  /* position: inherit; */
  vertical-align: bottom;}
}

@media screen and (max-width: 1280px) {


#addtocartplus {
    float: right;
    margin-left: 103px;
    margin-top: 0px;
    position: relative;
    right: 1px;
}
