﻿@model OneSourceAdminCore.Model.SupportReportModel
@{
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}


<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-7" style="padding: 10px; color: #FFF;">
        @{
            <b> Reports > @Session["parentName"].ToString() > @Session["reportName"].ToString() </b>
        }
    </div>


    <div class="col-md-5" style="padding: 7px; text-align:right;">

        @if (Session["routeName"].ToString() != "sfaaddress" 
            && Session["routeName"].ToString() != "customerbuyeraddressassociationdetail"
            && Session["routeName"].ToString() != "distributionupliftbyoem")//Adnan 10-july-2019
        {
            <div style="float:right">
                @using (Html.BeginForm("RedirectToParent", "SupportReports", FormMethod.Post, new { @id = "SupportReportRedirectToParent" }))
                {
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
                }
            </div>
            <div style="">
                @using (Html.BeginForm("ExportSupportReportToExcel", "SupportReports", FormMethod.Post, new { @id = "SupportReportFormExcel" }))
                {
                <button class="btn btn-default topAddNewButton" type="submit" id="exportExcel" style="float:right;margin-right:10px;">Export to excel</button>
                }
            </div>
            if (Session["routeName"].ToString() != "requestsrawdata" && Session["routeName"].ToString() != "billablerequests")
            {
                <div style="">
                    @using (Html.BeginForm("ExportSupportReportToPdf", "SupportReports", FormMethod.Post, new { @id = "SupportReportsFormPdf" }))
                    {
                    <button class="btn btn-default topAddNewButton" type="submit" id="exportPdf" style="margin-right:10px;">Export to pdf</button>
                    }
                </div>
            }
        }
        else if (Session["routeName"].ToString() == "sfaaddress")//Adnan 24-june-2019
        {
            <div style="float:right">
                @using (Html.BeginForm("RedirectToParent", "SupportReports", FormMethod.Post, new { @id = "SupportReportRedirectToParent" }))
                {
                    <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
                }
            </div>
            <div style="">
                @using (Html.BeginForm("ExportSFAaddressReportToExcel", "SupportReports", FormMethod.Post, new { @id = "SupportReportFormExcel" }))
                {
                    <input type="hidden" name="parentcompanyid" id="parentcompanyid" value="0" />
                    <button class="btn btn-default topAddNewButton" type="submit" id="exportExcel" style="float:right;margin-right:10px; display:none;">Export to excel</button>
                }
            </div>
        }
        else if (Session["routeName"].ToString() == "customerbuyeraddressassociationdetail")//Adnan 10-july-2019
        {
            <div style="float:right">
                @using (Html.BeginForm("RedirectToParent", "SupportReports", FormMethod.Post, new { @id = "SupportReportRedirectToParent" }))
                {
                    <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
                }
            </div>
            <div style="">
                @using (Html.BeginForm("ExportCustomerBuyerAddressAssociationDetailToExcel", "SupportReports", FormMethod.Post, new { @id = "SupportReportFormExcel" }))
                {
                    <input type="hidden" name="customerId" id="customerId" value="0">
                    <input type="hidden" name="parentcompanyid" id="parentcompanyid" value="0" />
                    <button class="btn btn-default topAddNewButton" type="submit" id="exportExcel" style="float:right;margin-right:10px; display:none;">Export to excel</button>
                }
            </div>
        }
        else if (Session["routeName"].ToString() == "distributionupliftbyoem")
        {
            <div style="float:right">
                @using (Html.BeginForm("RedirectToParent", "SupportReports", FormMethod.Post, new { @id = "SupportReportRedirectToParent" }))
                {
                    <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
                }
            </div>
            <div style="">
                @using (Html.BeginForm("ExportDistributionUpliftbyOEMReportToExcel", "SupportReports", FormMethod.Post, new { @id = "SupportReportFormExcel" }))
                {
                    <input type="hidden" name="ManufacturerId" id="ManufacturerId" value="0" />
                    <button class="btn btn-default topAddNewButton" type="submit" id="exportExcel" style="float:right;margin-right:10px; display:none;">Export to excel</button>
                }
            </div>
        }
    </div>
</div>





<div class="row" style="margin-top:48px;">

    <div class="col-md-8 col-md-offset-3">

        @if (Session["routeName"].ToString() != "sfaaddress"
            && Session["routeName"].ToString() != "customerbuyeraddressassociationdetail"
             && Session["routeName"].ToString() != "distributionupliftbyoem")//Adnan 24-june-2019
        {


            using (Html.BeginForm("GetReportData", "SupportReports", FormMethod.Post, new { @id = "SupportReportForm" }))
            {
                if (Session["routeName"].ToString() == "globalservesupportsummary"
                    || Session["routeName"].ToString() == "requestsbycountry"
                    || Session["routeName"].ToString() == "requestsbysupplier"
                    || Session["routeName"].ToString() == "requestsvs.slasummary(byrequest)"
                    || Session["routeName"].ToString() == "requestsbycsm"
                    || Session["routeName"].ToString() == "replacementserialrequests"
                    || Session["routeName"].ToString() == "requestsrawdata"
                    || Session["routeName"].ToString() == "billablerequests")
                {
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            @if (Session["routeName"].ToString() != "requestsvs.slasummary(byrequest)" && Session["routeName"].ToString() != "requestsbycsm" && Session["routeName"].ToString() != "replacementserialrequests" && Session["routeName"].ToString() != "requestsrawdata" && Session["routeName"].ToString() != "billablerequests")
                            {
                            <span style="color:red">
                                *
                            </span>
                            }
                            Customer:
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                {
                                @Html.DropDownList("CustomerId", new SelectList(Model.ListCustomers,
   "CustomerId", "CustomerName", Model.CustomerId),
   new { @id = "customerDrp", @idFor = "CustomerId", @valueFor = "CustomerName", @class = "Support", @tabindex = "-1" });
                                }

                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:5px;">
                            <span id="lblCustomer" style="color:red">

                            </span>

                        </div>
                    </div>
                }

                if (Session["routeName"].ToString() == "requestsbycountry")
                {
                    <div class="row" style="margin-top: 10px; margin-bottom: -10px;">
                        <div class="col-md-2">Country:</div>
                        <div class="col-md-6">
                            <div class="form-group customerCountries">
                                <select id="customerCountries" multiple="multiple" class="support"></select>
                            </div>
                        </div>
                    </div>
                }
                if (Session["routeName"].ToString() == "requestsvs.slasummary(byrequest)")
                {
                    <div class="row" style="margin-top: 10px; margin-bottom: -10px;">
                        <div class="col-md-2">Request Types:</div>
                        <div class="col-md-6">
                            <div class="form-group customerRequestTypes">
                                <select id="customerRequestTypes" multiple="multiple" class="support"></select>
                            </div>
                        </div>
                    </div>
                }


                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>Start Date:
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@Model.StartDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="DateFrom" name="StartDate" value="@Model.StartDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblStartDate" style="color:red">

                        </span>

                    </div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>End Date:
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@Model.EndDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="DateTo" name="EndDate" value="@Model.EndDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblEndDate" style="color:red">

                        </span>

                    </div>

                </div>
                <br />

                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="BTN" style="color: #399BD3;">Generate</button> &nbsp;
                        </span>
                        @if (Session["routeName"].ToString() != "globalservesupportsummary" && Session["routeName"].ToString() != "requestsvs.slasummary(byrequest)" && Session["routeName"].ToString() != "replacementserialrequests" && Session["routeName"].ToString() != "requestsrawdata" && Session["routeName"].ToString() != "billablerequests")
                        {
                        <span class="input-group-btn" style="">
                            <button class="btn btn-default" type="button" id="btnViewChart" style="color: #399BD3; margin-left:10px;">View Chart</button>
                        </span>

                        }
                        <span class="input-group-btn" style="">
                            <button class="btn btn-default" type="submit" value="Reset" name="submit" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</button>
                        </span>

                    </div>
                </div>

            }
        }
        else if (Session["routeName"].ToString() == "sfaaddress")//Adnan 24-june-2019
        {
            using (Html.BeginForm("GetReportData", "SupportReports", FormMethod.Post, new { @id = "SupportReportForm" }))
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">

                        <span style="color:red">
                            *
                        </span>

                        Supplier:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="ddlSupplier" name="SupplierID" class="ddlSupplier">
                                <option value="0">--select--</option>
                                @foreach (var item in Model.SFAsList)
                                {
                                    <option value="@item.Key"> @item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblSupplier" style="color:red;">

                        </span>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="BTN" style="color: #399BD3;" onclick="$('#exportExcel').click();">Generate</button> &nbsp;
                        </span>

                        <span class="input-group-btn" style="">
                                <button class="btn btn-default" type="submit" value="Reset" name="submit" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</button>
                            </span>

                    </div>
                </div>
            }
        }
        else if (Session["routeName"].ToString() == "customerbuyeraddressassociationdetail")//Adnan 10-july-2019
        {
            using (Html.BeginForm("GetReportData", "SupportReports", FormMethod.Post, new { @id = "SupportReportForm" }))
            {

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">

                        <span style="color:red">
                            *
                        </span>

                        Customer:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="ddlCustomer" name="CustomerID" class="ddlCustomer">
                             
                                @foreach (var item in Model.ListCustomers)
                                {
                                    <option data-parentcompanyid="@item.ParentCompanyId" value="@item.CustomerId"> @item.CustomerName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblCustomer" style="color:red;">

                        </span>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="BTN" style="color: #399BD3;" onclick="$('#exportExcel').click();">Generate</button> &nbsp;
                        </span>

                        <span class="input-group-btn" style="">
                            <button class="btn btn-default" type="submit" value="Reset" name="submit" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</button>
                        </span>

                    </div>
                </div>
            }
        }
        else if (Session["routeName"].ToString() == "distributionupliftbyoem")
        {

            using (Html.BeginForm("GetReportData", "SupportReports", FormMethod.Post, new { @id = "SupportReportForm" }))
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">

                        <span style="color:red">
                            *
                        </span>

                        OEM :
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="ddlManufacturer" name="ddlManufacturer" class="ddlManufacturer">
                                <option value="0">--select--</option>
                                @foreach (var item in Model.ManufacturerList)
                                {
                                    <option value="@item.Key"> @item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblManufacturer" style="color:red;">

                        </span>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="BTN" style="color: #399BD3;" onclick="$('#exportExcel').click();">Generate</button> &nbsp;
                        </span>

                        <span class="input-group-btn" style="">
                            <button class="btn btn-default" type="submit" value="Reset" name="submit" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</button>
                        </span>

                    </div>
                </div>
            }
        }
    </div>

</div>
