﻿@model OneSourceAdminCore.Model.SupportReportModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = Session["reportName"].ToString();
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}

<link href="~/Content/css/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
<script src="~/Content/js/jquery.floatingscroll.js"></script>
<script src="~/Content/js/gijgo.min.js"></script>
<script src="~/Content/js/jquery.cookie.js"></script>

@Html.Partial("~/Views/SupportReports/_ReportFilters.cshtml", Model)
@Html.Partial("~/Views/SupportReports/_ReportGrids.cshtml", Model)


<div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 97%; padding-top:1%;">

        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:22px;">
                @if (Session["routeName"].ToString() == "requestsbysupplier")
                {
                    <span style="font-weight: bold">
                        Filter by:
                    </span>
                    <span>
                        <select class="" id="drpdwnChartSelection" style="width:120px; margin-left:10px;color:#399BD3; border-color:#ccc;">
                            <option selected="selected" value="country">By Country</option>
                            <option value="supplier">By Supplier</option>
                        </select>
                    </span>
                }
                <span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </span>
            </div>
            <div class="modal-body" id="modalbody" style="max-height:650px; overflow-y:auto; ">
                <div id="chartContainer" style="min-width: 430px; height: 600px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>


<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_customerCountries.support {
        display: none !important;
    }

    #s2id_customerRequestTypes.support {
        display: none !important;
    }

    #s2id_customerDrp.Support {
        display: block !important;
    }

    .modal {
        overflow: hidden !important;
    }
</style>

<script>
    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });

    $('.modal-body').slimscroll({ destroy: true });

    $("#btnViewChart").click(function () {


        @if (Session["routeName"].ToString() != "requestsvs.slasummary(byrequest)" 
            && Session["routeName"].ToString() != "requestsbycsm" 
            && Session["routeName"].ToString() != "replacementserialrequests" 
            && Session["routeName"].ToString() != "requestsrawdata" && Session["routeName"].ToString() != "billablerequests")
        {
            <text>
        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null")
        {

            showValidationError('Please select customer','lblCustomer');
            return false;

        }
        </text>
        }


        if (($("#DateFrom").val() == "" || $("#DateFrom").val() == null || $("#DateFrom").val() == "0") || $("#DateFrom").val() == "null") {

            showValidationError('Please enter start date','lblStartDate');
            return false;
        }

        if (($("#DateTo").val() == "" || $("#DateTo").val() == null || $("#DateTo").val() == "0") || $("#DateTo").val() == "null") {

            showValidationError('Please enter end date','lblEndDate');
            return false;
        }

        var countryId = $("#customerCountries").val();
        var countryIds = "";
        if (countryId != null && countryId != "" && countryId != "null") {
            var countryIds = countryId.join(", ");
        }

        var requestTypeId = $("#customerRequestTypes").val();
        var requestTypeIds = "";
        if (requestTypeId != null && requestTypeId != "" && requestTypeId != "null") {
            var requestTypeIds = requestTypeId.join(", ");
        }

        var customerId = $("#customerDrp").val();
        var startDate = $("#DateFrom").val();
        var endDate = $("#DateTo").val();

        var values = { "CustomerId": customerId, "StartDate": startDate, "EndDate": endDate ,"CountryIDs": countryIds, "RequestTypeIDs" : requestTypeIds}

        var selectedType = $("#drpdwnChartSelection").val();
        showHideLoader(1);
        $.ajax({
            url: '/SupportReports/GetReportChartData?type='+selectedType,
            type: 'POST',
            cache: false,
            data: values,
            success: function (data) {

                var result = data.data;
                if (data.msg != "") {
                    showNotification(data.msg);
                }
                else {

                    RenderChart(result.dataList, result.seriesList,result.leftLabel, false);
                    $(".gridDiv").html("");
                    $('#chartModal').modal('show');

                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });
        //chartModal
    });

    function RenderChart(data,category,title, popup) {
        Highcharts.chart('chartContainer', {
            chart: {
                type: 'column'
            },
            title: {
                text: '@Session["reportName"].ToString()'
            },
            xAxis: {
                categories: category
            },
            yAxis: {
                min: 0,
                title: {
                    text: title
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },
            series: data,
            credits: {
                enabled: false
            },
        });
    }

    $(function () {

        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 5000);

        $(".select2-container select2-container-multi").attr("display", "none");

        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });

        @if (ViewBag.Message == "NoData")
                {
                    <text>
        showNotification("No records found");
        </text>
                }


        @if (Session["routeName"].ToString() == "requestsbycountry")
                {
                    <text>

        var customerId = @Model.CustomerId;

        getcountriesbycustomer(customerId, "0");

        $("#customerCountries").multipleSelect(
                                   {
                                       placeholder: 'All Selected',
                                       filter: true,
                                       allowClear: true,
                                       includeSelectAllOption: true,
                                       selectAllValue: -1
                                   });
        $("#customerCountries").select2({ width: 'resolve' });
        $('.customerCountries input:checkbox').prop('checked', true);

        $("#customerDrp").change(function () {
            var customerId = $(this).val();
            var selectedId = $("#customerCountries").val();
            if(selectedId==null || selectedId==""){
                selectedId=0;
            }
            console.log(customerId, selectedId);
            getcountriesbycustomer(customerId, selectedId);
        });


        function getcountriesbycustomer(customerId, selectedId) {
            $.ajax({
                url: '/ProcurementReports/GetCountryByCustomerId?customerId=' + customerId + "&selectedId=" + selectedId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#customerCountries").html(options);
                        if (data != null && data.length > 0) {
                            $("#customerCountries").multipleSelect(
                               {
                                   placeholder: 'All Selected',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
                            $("#customerCountries").select2({ width: 'resolve' });
                            $('.customerCountries input:checkbox').prop('checked', true);

                            //$("#customerCountries").select2().val(data[0].SelectedId).trigger("change");

                        }
                    }
                    else {

                        $("#customerCountries").multipleSelect(
                               {
                                   placeholder: 'All Selected',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
                        $("#customerCountries").select2({ width: 'resolve' });
                        $('.customerCountries input:checkbox').prop('checked', true);

                        //$("#customerCountries").select().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }


        </text>
                }


        @if (Session["routeName"].ToString() == "requestsvs.slasummary(byrequest)")
         {
             <text>

        var customerId = @Model.CustomerId;
        getRequestTypesByCustomer(customerId);

        $("#customerRequestTypes").multipleSelect(
                                   {
                                       placeholder: 'All Selected',
                                       filter: true,
                                       allowClear: true,
                                       includeSelectAllOption: true,
                                       selectAllValue: -1
                                   });
        $("#customerRequestTypes").select2({ width: 'resolve' });
        $('.customerRequestTypes input:checkbox').prop('checked', true);

        $("#customerDrp").change(function () {
            var customerId = $(this).val();
            getRequestTypesByCustomer(customerId);
        });


        function getRequestTypesByCustomer(customerId) {
            $.ajax({
                url: '/SupportReports/GetRequestTypesByCustomerId?customerId=' + customerId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    var options = '';
                    if (data != null) {
                        $.each(data, function (index, item) {
                            options = options + ' <option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        $("#customerRequestTypes").html(options);
                        if (data != null && data.length > 0) {
                            $("#customerRequestTypes").multipleSelect(
                               {
                                   placeholder: 'All Selected',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
                            $("#customerRequestTypes").select2({ width: 'resolve' });
                            $('.customerRequestTypes input:checkbox').prop('checked', true);

                            //$("#customerRequestTypes").select2().val(data[0].SelectedId).trigger("change");

                        }
                    }
                    else {

                        $("#customerRequestTypes").multipleSelect(
                               {
                                   placeholder: 'All Selected',
                                   filter: true,
                                   allowClear: true,
                                   includeSelectAllOption: true,
                                   selectAllValue: -1
                               });
                        $("#customerRequestTypes").select2({ width: 'resolve' });
                        $('.customerRequestTypes input:checkbox').prop('checked', true);

                        //$("#customerRequestTypes").select().val("0").trigger("change");
                    }
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });

        }


        </text>
         }
         @if (Session["routeName"].ToString() == "sfaaddress")//Adnan 24-june-2019
         {

             <text>
    
        $("#ddlSupplier").select2();
        $("#ddlSupplier").change(function () {
            $("#parentcompanyid").val($(this).val());
           
        });

        $("#exportExcel").on("click", function (e) {
            var parentcompanyid = parseInt($("#parentcompanyid").val()||0);
            if (parentcompanyid == 0) {
                showValidationError("please select supplier","lblSupplier");
                return false;
            }else {
                StartLoader();
                var newForm = $('#SupportReportFormExcel');
                checkExcelCookie();
                newForm.submit();
               // EndLoader();

            }
        });
       
        </text>
         }
        @if (Session["routeName"].ToString() == "distributionupliftbyoem")
         {
             <text>

        $("#ddlManufacturer").select2();
        $("#ddlManufacturer").change(function () {
            $("#ManufacturerId").val($(this).val());
           
        });
        $("#exportExcel").on("click", function (e) {
            var maufacturerId = parseInt($("#ManufacturerId").val()||0);
            if (maufacturerId == 0) {
                showValidationError("please select OEM","lblManufacturer");
                return false;
            }else {
                StartLoader();
                var newForm = $('#SupportReportFormExcel');
                checkExcelCookie();
                newForm.submit();
                // EndLoader();

            }
        });
        </text>
         }
        @if (Session["routeName"].ToString() == "customerbuyeraddressassociationdetail")
        {
            <text>
      $('#ddlCustomer').select2({ width: 'resolve' });
            $("#ddlCustomer").change(function () {
                $('#customerId').val($(this).val());
                var parentcompanyid =  $(this).find('option:selected').attr("data-parentcompanyid");
                $('#parentcompanyid').val(parentcompanyid);

            });

            $("#exportExcel").on("click", function (e) {
                var customerId = parseInt($("#customerId").val()||0);
                if (customerId == 0) {
                    showValidationError("please select customer","lblCustomer");
                    return false;
                }else {
                    StartLoader();
                    var newForm = $('#SupportReportFormExcel');
                    checkExcelCookie();
                    newForm.submit();
                    // EndLoader();

                }
            });
            </text>
        }

    });
    function checkExcelCookie() {
        var cookieVal = $.cookie('excelDownloadStatus');
        if (cookieVal == null || cookieVal === 'undefined' || cookieVal === 'pending') {
            setTimeout("checkExcelCookie();", 1000);
        }
        else {
            $.removeCookie('excelDownloadStatus',{ path: '/' })
            EndLoader();
        }
    }
    $('#SupportReportForm').submit(function () {
        StartLoader();
    });



    @if (Session["routeName"].ToString() == "globalservesupportsummary" 
        || Session["routeName"].ToString() == "requestsbycountry" 
        || Session["routeName"].ToString() == "requestsbysupplier" 
        || Session["routeName"].ToString() == "requestsvs.slasummary(byrequest)" 
        || Session["routeName"].ToString() == "requestsbycsm" 
        || Session["routeName"].ToString() == "replacementserialrequests" 
        || Session["routeName"].ToString() == "requestsrawdata" 
        || Session["routeName"].ToString() == "billablerequests")
    {
                    <text>

    $("#customerDrp").select2({ allowClear: true });

    $("#BTN").on("click", function (e) {

        @if (Session["routeName"].ToString() != "requestsvs.slasummary(byrequest)" && Session["routeName"].ToString() != "requestsbycsm" && Session["routeName"].ToString() != "replacementserialrequests" && Session["routeName"].ToString() != "requestsrawdata" && Session["routeName"].ToString() != "billablerequests")
        {
            <text>
        if (($("#customerDrp").val() == "" || $("#customerDrp").val() == null || $("#customerDrp").val() == "0") || $("#customerDrp").val() == "null")
        {

            showValidationError('Please select customer','lblCustomer');
            return false;

        }
        </text>
         }


        if (($("#DateFrom").val() == "" || $("#DateFrom").val() == null || $("#DateFrom").val() == "0") || $("#DateFrom").val() == "null") {

            showValidationError('Please enter start date','lblStartDate');
            return false;
        }

        if (($("#DateTo").val() == "" || $("#DateTo").val() == null || $("#DateTo").val() == "0") || $("#DateTo").val() == "null") {

            showValidationError('Please enter end date','lblEndDate');
            return false;
        }

        var countryId = $("#customerCountries").val();
        var countryIds = "";
        if (countryId != null && countryId != "" && countryId != "null") {
            var countryIds = countryId.join(", ");
        }

        var requestTypeId = $("#customerRequestTypes").val();
        var requestTypeIds = "";
        if (requestTypeId != null && requestTypeId != "" && requestTypeId != "null") {
            var requestTypeIds = requestTypeId.join(", ");
        }

        var customerId = $("#customerDrp").val();
        var startDate = $("#DateFrom").val();
        var endDate = $("#DateTo").val();

        var values = { "CustomerId": customerId, "StartDate": startDate, "EndDate": endDate ,"CountryIDs": countryIds, "RequestTypeIDs" : requestTypeIds}

        $(".gridDiv").html("");
        $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
        StartLoader();
        $.ajax({
            url: "/SupportReports/GetReportData",
            type: "POST",
            data: values,
            success: function (data) {
                EndLoader();
                if (data.msg != null && data.msg != "") {

                    if(data.msg == "DownloadExcel")
                    {
                        window.location = "/SupportReports/ExportSupportReportToExcel";
                        showNotification("Data is downloaded because it exceeds limit");
                    }
                    else if(data.msg == "NoRecordsFound")
                    {
                        showNotification("No records found");
                    }
                    else {
                        showNotification("Start date should not be greater than end date");
                    }

                }
                else
                {

                    var table = JSON.parse(data.data);
                    var tableObj = [];
                    if (table.length > 0) {

                        for (i = 0; i < Object.keys(table[0]).length; i++) {

                            var obj = {};
                            obj.field = Object.keys(table[0])[i];
                            if(obj.field == "Address" || obj.field == "Action") {
                                obj.width = 200;
                            }
                            else if(obj.field == "Description" || obj.field == "Summary") {
                                obj.width = 500;
                            }
                            else if(obj.field == "GSTicketNo"|| obj.field == "Address Cross Reference"  || obj.field == "SLA" || obj.field == "HoursToResolition" || obj.field == "Resolution" || obj.field == "FSC" || obj.field == "AverageResolutionTime" || obj.field == "Asset System Name" || obj.field == "Create Date" )
                            {
                                obj.width = 150;
                            }
                            else {
                                obj.width = 100;
                            }
                            obj.sortable = true;
                            obj.align = 'center';
                            obj.headerCssClass = 'headerClass';
                            obj.cssClass = 'rowClass';
                            tableObj.push(obj);
                        }
                    }

                    if(table.length>50){
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: { limit: 50, sizes: [50,100,500,1000] },
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    else
                    {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: null,
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    var refreshButton = $("button[data-role='page-refresh']");
                    if (refreshButton != undefined)
                    {
                        refreshButton.hide();
                    }
                    var selectCounter = $("select[data-role='page-size']")[0];
                    if (selectCounter != undefined) {
                        selectCounter.style.width = "80px";
                    }
                    $(".gj-grid-wrapper").floatingScroll();
                    $(".gj-grid-wrapper").attr("style","overflow:auto");
                }
            }
        });

    });
    </text>
    }


    @if (Session["routeName"].ToString() == "requestsbysupplier")
     {
         <text>
    $('#drpdwnChartSelection').change(function(){
        showHideLoader(1);
        //$('#chartModal').modal('hide');
        $('#btnViewChart').trigger('click');
    });
    </text>
         }

    function showValidationError(msg,label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }
</script>
