﻿@using GridMvc.Html
@model OneSourceAdminCore.Model.SupplierRoleModel
@{
    ViewBag.Title = "Supplier Role";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top">
    <div class="col-md-8" style="padding: 10px; color: #FFF;">
        <b> Dashboard > Supplier Role</b>
    </div>
    <div class="col-md-4" style="padding: 10px;">

    </div>
</div>

<div class="col-md-12 tab-content">
    <div role="tabpanel" class="tab-pane active" id="address">
        <h1>Supplier Role</h1>
        <hr />
        <div class="addEditDiv">



            <div class="row" id="isoCountryDiv">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4"> Supplier : </label>
                        <div class="col-md-7">
                            @Html.DropDownList("sfaDrp", new SelectList(Model.SfaList,
                                "SFAID", "SFAName"), new { @class = "drpSelect2" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span style="color: red">* </span>Role Name :</label>
                        <div class="col-md-7">
                            <input type="text" value="" name="sfaRoleName" maxlength="500" class="form-control roleName">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">

                <div class="col-md-2"></div>
                <div class="col-md-8" style="">
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-7" style="text-align: right;">
                            <button type="submit" class="btn btn-default btnSubmit" id="updateDetailsBtn" style="margin: 0px;" id="per">Update</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>

        </div>
    </div>
    <hr />
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            @if (Model != null && Model.SfaDetailNameList != null)
            {
                @Html.Grid(Model.SfaDetailNameList).Columns(columns =>
           {

               columns.Add(c => c.SfaName).Sortable(true).Filterable(true).Titled("SFA Name").SetWidth(30);
               columns.Add(c => c.SfaDetailName).Sortable(true).Filterable(true).Titled("SFA Detail Name").SetWidth(30);



           }).WithPaging(15)

            }

        </div>
    </div>
</div>
<script>


    $(document).ready(function () {


        $(".drpSelect2").select2(
        {
            allowClear: true
        });


        $("#updateDetailsBtn").click(function () {
         
            var chkName = $(".roleName").val();
            var sfaId = $("#sfaDrp").val();

            if (chkName == null || chkName.trim() == "") {
                alert("Please enter sfa detail name");
            }
            if (sfaId == null || sfaId == 0) {
                alert("Please select supplier");
            }
            showHideLoader(1);
            $.ajax({
                url: '/SupplierSettings/UpdateSfaDetails',
                type: 'Get',
                cache: false,
                data: { "sfaId": sfaId, "sfaName": chkName },
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            alert("Supplier updated successfuly!");
                        } else {
                            alert("Error whlie processing please try again!");
                            location.reload();
                        }
                        location.reload();
                    } else {
                        alert("Error whlie processing please try again!");
                        location.reload();
                    }
                    
                }, complete: function (data) {
                    showHideLoader(0);
                }
            });


        });


        $("#sfaDrp").change(function () {

          var sfaId = $("#sfaDrp").val();

          
            if (sfaId == null || sfaId == 0) {
                alert("Please select supplier");
            }
            showHideLoader(1);
            $.ajax({
                url: '/SupplierSettings/GetSfaNameDetails',
                type: 'Get',
                cache: false,
                data: { sfaId: sfaId},
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data != 0) {

                            $(".roleName").val(data.SfaDetailName);

                        } else {
                            $(".roleName").val("");
                        }
 
                    } else {
                        alert("Error whlie processing please try again!");
                        location.reload();
                    }

                }, complete: function (data) {
                    showHideLoader(0);
                }
            });


        });
    });



</script>
