﻿@model OneSourceAdminCore.Model.SOCShiftModel
@{
    ViewBag.Title = "SOC Shift";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style type="text/css">
    .input-medium {
        width: 270px !important;
    }

    #s2id_CountryId {
        display:none !important;
    }
</style>

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">

    <div class="col-md-5" style="padding: 10px; color: #FFF;">
        <b> Settings > SOC Shift </b>
    </div>
    <div class="col-md-7" style="padding-top: 5px;padding-bottom: 15px;">
        <div>
            <a data-toggle="modal" href="#addSOCShift" style="float: right;">
                <button class="btn btn-default topAddNewButton" type="button" style="color: #399BD3;">Add New</button>
            </a>
            @using (Html.BeginForm("ExportToExcel", "SOCShift", FormMethod.Post, new { @id = "SocShiftExportToExcel" }))
            {
                <button class="btn btn-default topAddNewButton" type="submit" id="exporttoexcel" style="float:right;margin-right:10px">Export to Excel</button>
            }
        </div>
    </div>
</div>
<div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@ViewBag.Message</span>
        </div>
    }
</div>
<div class="row" style="background-color:#FFF; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-12">
        <h1>SOC Shift</h1>
        <hr />
    </div>
</div>
<!-- CLOSED TABLE DIV -->
<div class="row ">
    <div class="col-md-8 col-md-offset-4" style="margin-top: -40px;">
        <div class="row">
            <div class="col-md-2" style="padding-top:45px">
                <span style="color:red">* </span><label>SOC Shift  </label>
            </div>
            <div class="col-md-5" style="padding-left:20px;padding-top:40px;">
                @if (Model.ListSOCShifts != null && Model.ListSOCShifts.Count > 0)
            {
                    @Html.DropDownList("SOCShiftId", new SelectList(Model.ListSOCShifts,
                "Key", "Value", Model.SOCShiftId),
                new { @id = "MainSOCShiftId", @idFor = "SOCShiftId", @valueFor = "SOCShiftName", @tabindex = "-1" });
            }
            else
            {
                    <select class="form-control" value="All Manufactures"></select>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="padding-top:15px">
                <span style="color:red">* </span><label>Time Zone  </label>
            </div>
            <div class="col-md-5" style="padding-left:20px;padding-top:15px">
                <select id="timeZoneDrp" name="timeZoneDrp"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="padding-top:20px">
                <span style="color:red">* </span><label>Country  </label>
            </div>
            <div class="col-md-5" style="padding-left:20px;padding-top:15px" id="countryDiv">
                <select id="CountryId" name="CountryId"></select>
            </div>
        </div>
      

        <div class="row">

            <div class="col-md-6 col-md-offset-1" style="margin-top:20px;">
                <span>
                    <button class="btn btn-default btnMapping" type="button" style="color: #399BD3;float: right;">Update</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="menuDiv">

</div>
<div class="modal" id="SOCShift">
    <div class="modal-dialog" id="dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddSOCShiftCountryMap", "SOCShift", FormMethod.Post, new { @id = "SOCShiftForm" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Country For Mapping</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 50px;">
                    <h3>
                        <span style="color: red">*</span>Country
                    </h3>
                    <div class="col-md-11">
                        <input type="hidden" name="SOCShiftName" id="SOCShiftName" value="@Model.SOCShiftName">
                        <input type="hidden" name="SOCShiftId" id="SOCShiftId" value="@Model.SOCShiftId">
                        <input type="hidden" name="CountryName" id="CountryName" value="@Model.CountryName">
                        <input type="hidden" name="CountryIds" id="CountryIds" value="@Model.CountryIds">
                        <input type="hidden" name="CountryNames" id="CountryNames" value="@Model.CountryNames">
                        <input type="hidden" name="TimeZone" id="TimeZone">
                        @Html.DropDownList("CountryId", new SelectList(Model.ListCountries,
                   "Key", "Value"), "--Select--",
                new { @id = "CountryId", @valueFor = "CountryName", @class = "form-control ", @tabindex = "-1" })
                    </div>
                    <img id="countryImg" />

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btnSubmit" id="per" style=" background-color: #428bca; border-color: #357ebd; margin-left: 20px;" type="submit">Submit</button>
                    <a href="#" class="btn btn-primary cancel">Cancel</a>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal" id="addSOCShift">
    <div class="modal-dialog" id="dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddSOCShift", "SOCShift", FormMethod.Post, new { @id = "AddSOCShiftForm" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add SOC Shift</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 50px;">
                    <h3>
                        <span style="color: red">*</span>SOC Shift Name
                    </h3>
                    <div class="col-md-6">
                        <input type="hidden" name="DefaultRegionId" id="AddSOCShiftId" value="@Model.SOCShiftId">
                        <input type="text" id="SOCShiftName2" value="@Model.SOCShiftName" name="SOCShiftName" onkeypress="return alphaNumeric(event)" required class="form-control" />

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="per" style="background-color: #428bca; border-color: #357ebd; margin-left: 20px;" type="submit">Submit</button>
                    <a href="#" class="btn btn-primary cancel">Cancel</a>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        StartLoader();
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 5000);
        $("#MainSOCShiftId").select2({ width: 'resolve' });
        $("#CountryId").removeAttr('multiple');
        $("#CountryId").addClass('form-control');
        $("#CountryId").select2({ width: 'resolve' });
        $("#CountryId").prop("disabled", true);
        $("#CountryId").prepend("<option value='-1' selected='selected'>--Select--</option>");
        //$("#CountryId").val("-1").trigger("change");

        $("#timeZoneDrp").addClass('form-control');
        $("#timeZoneDrp").select2({ width: 'resolve' });
        $("#timeZoneDrp").prop("disabled", true);
        $("#timeZoneDrp").prepend("<option value='-1' selected='selected'>--Select--</option>");
        $("#timeZoneDrp").val("-1").trigger("change");

        $('#MainSOCShiftId').change();
    });
    $(window).load(function () {
        EndLoader();
    });
    $('.cancel').click(function () {
        $('.close').click();

    });
    $('.btnMapping').click(function () {
        if ($('#MainSOCShiftId').val() <= 0) {
            $('#MainSOCShiftId').css("border-color", "red");
        }
        else {
            $('#MainSOCShiftId').css("border-color", "");
        }

        if ($('#MainSOCShiftId').val() <= 0 || $('#CountryId').val() <= 0 || $('#timeZoneDrp').val() <= 0) {
            $('.menuDiv').after('<div style="margin-top: 20px;margin-bottom: 0px;height:70px" class="alert alert-warning"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Warning!</strong> In Order To Map SOC Shift With Country, Please Select SOC Shift,Country and Time Zone</div>');

            $('.alert-warning').fadeTo(3000, 500).slideUp(500, function () {
                $('.alert-warning').alert('close');
            });
            return false;
        }

        var countryIds = $("#CountryId").val();
        $('#CountryIds').val(countryIds);

        var timeZone = $("#timeZoneDrp").val();
        $('#TimeZone').val(timeZone);
        //if (countryIds != null && countryIds != undefined && countryIds != "") {
        //    $('#CountryIds').val(countryIds.join(", "));
        //    var names = []
        //    $("#CountryId option:selected").each(function () {
        //        var $this = $(this);
        //        if ($this.length) {
        //            var selText = $this.text();
        //            names.push(selText);
        //        }
        //    });
        //    $('#CountryNames').val(names.join(", "));
        //}
        $('#CountryNames').val(countryIds);
        StartLoader();
        $(".btnSubmit").click();
    });
    $('#RegionForm').submit(function () {
        if ($('#CountryId').val() === '') {
            return false;
        }
        StartLoader();
    });
    $('.btnDeleteCountryMapping').click(function () {
        var currentValue = $($(this).siblings()[0]).val();
        $("#CountrySOCShiftMappingId").val(currentValue);
        currentValue = $($(this).siblings()[1]).val();
        $("#SOCShiftId").val(currentValue);
        currentValue = $($(this).siblings()[2]).val();
        $('#DeleteRegionCountryForm').submit();
    });
    $('#DeleteRegionCountryForm').submit(function () {
        if (confirm("Are you sure you want to delete this record?")) {
            StartLoader();
        } else {
            return false;
        }
        return true;
    });
    $('#MainSOCShiftId').change(function () {
        $('#defaultSOCShiftId').val($(this).val());
        $('#AddRegionId').val($(this).val());

        if ($(this).val() > -1) {
            //$("#CountryId").prop("disabled", false);
            //$("#CountryId option[value='0']").remove();
            $("#timeZoneDrp").prop("disabled", false);
            $("#timeZoneDrp option[value='0']").remove();
            $(".ms-choice").removeClass("disabled");
            $("#timeZoneDrp").val("-1").trigger("change");
            //$("#CountryId").removeClass('form-control');
            //$("#CountryId").val("").trigger("change");
            $("#timeZoneDrp").removeClass('form-control');
            //$("#timeZoneDrp").val("").trigger("change");
            //$('#CountryId').multipleSelect(
            //                    {
            //                        placeholder: '  --Select--',
            //                        filter: true,
            //                        allowClear: true
            //                    });

            $(".ms-parent").show();
          //  $("#CountryId").select2({ width: 'resolve' });
            $("#timeZoneDrp").select2({ width: 'resolve' });
            $(".ms-select-all").hide();
            //$(".placeholder").css("color", "black");
            //$(".placeholder").css("padding-left", "17px");
            //$("#CountryId").attr('multiple', 'multiple');

            //$("#countryDiv").css("padding-bottom", "");
            $('#MainSOCShiftId').css("border-color", "");
            shiftTimeZones($(this).val());
            
        }
        else {
            $('#CountryId').select2("destroy");
            $("#CountryId").removeAttr('multiple');
           $("#CountryId").addClass('form-control');
           $("#CountryId").prop("disabled", true);
            $("#CountryId").prepend("<option value='0' selected='selected'>--Select--</option>");
           $("#CountryId").val("-1").trigger("change");

            $('#timeZoneDrp').select2("destroy");
            //$("#CountryId").removeAttr('multiple');
            $("#timeZoneDrp").addClass('form-control');
            $("#timeZoneDrp").prop("disabled", true);
            $("#timeZoneDrp").prepend("<option value='0' selected='selected'>--Select--</option>");
            $("#timeZoneDrp").val("-1").trigger("change");

            $(".ms-parent").hide();

            //$("#countryDiv").css("padding-bottom", "15px");
        }
    });


    $('#timeZoneDrp').change(function () {
        var timeZone = $(this).val();
        $('#TimeZone').val(timeZone);
        if (timeZone != '-1') {
           


            $("#CountryId").prop("disabled", false);
            $("#CountryId option[value='0']").remove();

            $(".ms-choice").removeClass("disabled");

            $("#CountryId").removeClass('form-control');
            $("#CountryId").val("").trigger("change");

            $('#CountryId').multipleSelect(
                                {
                                    placeholder: '  --Select--',
                                    filter: true,
                                    allowClear: true
                                });

            $(".ms-parent").show();
            $('#countryDiv').find('.ms-choice').show();
            $("#CountryId").select2({ width: 'resolve' });

            $(".ms-select-all").hide();
            $(".placeholder").css("color", "black");
            $(".placeholder").css("padding-left", "17px");
            $("#CountryId").attr('multiple', 'multiple');

            $("#countryDiv").css("padding-bottom", "");
            $('#MainSOCShiftId').css("border-color", "");
            shiftCountries(timeZone);

        }
        else {
            $('#CountryId').select2("destroy");
            $("#CountryId").removeAttr('multiple');
            $("#CountryId").addClass('form-control');
            $("#CountryId").prop("disabled", true);
            $("#CountryId").prepend("<option value='0' selected='selected'>--Select--</option>");
            $('#countryDiv').find('.ms-choice').hide();
        }
        
    });

    //sunny gohar on 9th Jan 2018 =====================================

    $('#MainCustomerId').change(function () {
        $('#customerId').val($(this).val());
        $('#AddCustomerId').val($(this).val());
    });

    //$('#CountryId').change(function () {
    //    $("#timeZoneDrp").val("-1").trigger("change");
    //});

    $('#SOCShifCountryForm').submit(function () {

        var defaultValue = $('#defaultSOCShiftId').val();
        if (defaultValue == 0) {
            $('#defaultSOCShiftId').val(-1);
        }

        StartLoader();
    });
    $(document).ready(function () {
        $(".page-sidebar-menu").find(".settings").addClass("open");
        $(".page-sidebar-menu .settings").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .settings").find(".regionsetting").addClass("active");
    });

    function alphaNumeric(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }

    function shiftCountries(timeZone) {
        showHideLoader(1);
        var SOCShift = $('#MainSOCShiftId').val();

        $.ajax({
            url: '/SOCShift/GetCountriesByTimeZone',
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({
                timeZone: timeZone,
                shiftId: SOCShift
            }),
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var array = [];
                var options = '';

                if (data != null && data.Countries.length > 0) {
                    $.each(data.Countries, function (index, item) {
                        var checkSelected = "";
                        if (item.Selected == true) {
                            checkSelected = "selected";
                            array.push(item.Value);
                        }
                        options = options + ' <option value="' + item.Value + '" ' + checkSelected + '>' + item.Text + '</option>';

                    });

                 

                    $("#CountryId").html(options);
                 
                    if (data != null && data.Countries.length > 0) {
                        $("#CountryId").multipleSelect(
                           {
                               placeholder: '--Select--',
                               filter: true,
                               selectAll: false
                           });
                        $("#CountryId").select2({ width: 'resolve' });
                      
                    }
                    $("#CountryId").multipleSelect("setSelects", array);
                    $(".ms-select-all").hide();
                }
                else {
                    $("#CountryId").html("");
                 
                    $("#CountryId").multipleSelect(
                           {
                               placeholder: '--Select--',
                               filter: true,
                               allowClear: true
                           });
                    $("#CountryId").select2({ width: 'resolve' });
                
                    $(".ms-select-all").hide();
                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });
    }


    function shiftTimeZones(shiftId) {
        showHideLoader(1);
        $.ajax({
            url: '/SOCShift/GetSOCShiftTimeZones?shiftId=' + shiftId,
            type: 'GET',
            cache: false,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var array2 = [];
                var options2 = '';

                if (data != null) {
                    $.each(data.TimeZones, function (index, item) {
                        var checkSelected = "";
                        if (item.Selected == true) {
                            checkSelected = "selected";
                            array2.push(item.Value);
                        }
                        options2 = options2 + ' <option value="' + item.Value + '" ' + checkSelected + '>' + item.Text + '</option>';

                    });
                    $("#timeZoneDrp").html(options2);

                    if (data != null) {
                        $("#timeZoneDrp").select2({ width: 'resolve' });
                    }
                    $(".ms-select-all").hide();
                }
                else {
                    $("#timeZoneDrp").html("");
                    $("#timeZoneDrp").select2({ width: 'resolve' });
                    $(".ms-select-all").hide();
                }
            }, complete: function (data) {
                showHideLoader(0);
            }
        });
    }
</script>
