﻿@model OneSourceAdminCore.Model.QuoteRequestResponseModel
<div class="col-md-4" style="padding-left: 0px;">
    <h3>Requests:</h3>
</div>
<div class="col-md-8">

</div>
<div class="clearfix"></div>
@{ var count = 1;}
<div class="col-md-12 update-btn">
    <input type="hidden" value="@Model.CustomerId" id="hCustomerId">
    @if (Model.PartQuoteRequests.Count == 0)
    {
        <p>Your search returned no results.</p>
    }
    else
    {
        
            <div class="row" style="max-height: 300px;overflow-y: auto;">
                <div class="panel panel-default">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Manufacturer</th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">SKU</th>
                                <th class="col-xs-6" style="color: #fff;background-color: #399bd3;">Part Description<span style="color:red;">*</span></th>
                                <th class="col-xs-1" style="color: #fff;background-color: #399bd3;">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PartQuoteRequests)
                            {
                                <tr>
                                    <td class="col-xs-2">@(count + ". " + item.Manufacturer ?? "")</td>
                                    <td class="col-xs-2">@(item.SKU ?? "")</td>
                                    <td class="col-xs-6">@(item.Description ?? "")</td>
                                    <td class="col-xs-1">@(item.Quantity == null ? "-" : Convert.ToInt32(item.Quantity).ToString())</td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
     
    }
</div>
<div class="clearfix"></div>
<div class="col-md-4" style="padding-left: 0px;">
    <h3>Quote Response:</h3>
</div>
<div class="col-md-8">

</div>
<div class="clearfix"></div>
<div class="col-md-4">
    <h3>Responses:</h3>
</div>
<div class="col-md-8">
    <button type="button" class="btn btn-default pull-right" style="background-color: #3b9cd3;color:#FFF;" id="deleteOldResponsesBtn">Remove Selected</button>
</div>
<div class="col-md-12 update-btn">
    @if (Model.OldQuoteResponse.Count == 0)
    {
        <p>Your search returned no results.</p>
    }
    else
    {
        <div >
            <div class="row" style="max-height: 300px;overflow-y:auto">
                <div class="panel panel-default">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-1" style="color: #fff;background-color: #399bd3;"></th>
                                <th class="col-xs-1" style="color: #fff;background-color: #399bd3;">Manufacturer<span style="color:red;">*</span></th>
                                <th class="col-xs-1" style="color: #fff;background-color: #399bd3;">SKU<span style="color:red;">*</span></th>
                                <th class="col-xs-3" style="color: #fff;background-color: #399bd3;">Description<span style="color:red;">*</span></th>
                                <th class="col-xs-2" style="color: #fff;background-color: #399bd3;">Category<span style="color:red;">*</span></th>


                                @if (Convert.ToString(Session["DateFormatID"]) == "2")
                                {
                                    <th class="col-xs-1" style="color: #fff;background-color: #399bd3;">EOL <span style="font-size: 10px;">(mm/dd/yyyy)</span><span style="color:red;">*</span></th>
                                }
                                else
                                {
                                    <th class="col-xs-1" style="color: #fff;background-color: #399bd3;">EOL <span style="font-size: 10px;">(dd/mm/yyyy)</span><span style="color:red;">*</span></th>
                                }



                                <th class="col-xs-1" style="color: #fff;background-color: #399bd3;">Quantity <span style="color:red;">*</span></th>
                                <th class="col-xs-1" style="color: #fff;background-color: #399bd3;">Unit Price <span style="font-size: 10px;">(@Model.CurrencySymbol)</span> <span style="color:red;">*</span></th>
                                @*<th class="col-xs-1" style="color: #fff;background-color: #399bd3;">Delete</th>*@
                                <th class="col-xs-1" style="color: #fff;background-color: #399bd3;">Edit</th>

                            </tr>
                        </thead> 
                        <tbody>
                            @{ count = 1;}  
                            @foreach (var item in Model.OldQuoteResponse)
                            {
                                <tr>
                                    <td class="col-xs-1"><input type="checkbox" id="chkResponse_@item.partquoteresponseid" name="chkResponse" value="@item.partquoteresponseid"><br></td>
                                    <td class="col-xs-1">@(count + ". " + item.manufacturername ?? "")</td>
                                    <td class="col-xs-1">@(item.sku ?? "")</td>
                                    <td class="col-xs-3">@(item.description ?? "")</td>
                                    <td class="col-xs-2">@(item.partcategoryname ?? "")</td>
                                    <td class="col-xs-1">@(item.eol ?? "")</td>
                                    <td class="col-xs-1">@(item.quantity == null ? "" : Convert.ToInt32(item.quantity).ToString())</td>
                                    <td class="col-xs-1">@(item.price == null ? "" : String.Format("{0:0.##}", Convert.ToDecimal(item.price)))</td>
                                    @*<td class="col-xs-1">
                                        <i class="glyphicon glyphicon-remove-circle deleteResponse" onclick="DeleteResponse(@item.partquoteresponseid)" style="color: red;cursor:pointer;"></i>                                       
                                    </td>*@
                                    <td class="col-xs-1">
                                        <a style="padding-left: 15px;color: blue;" href="#" class="editResponse" onclick="GetResponse(@item.partquoteresponseid)"><span class="glyphicon glyphicon-edit"></span></a>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

@*@if (Model.QuoteStatusCode == "P" || Model.QuoteStatusCode == "C")
    {
        <div class="col-md-12 update-btn" style="padding-right: 30px !important;">
            <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="QuoteNotification()">Send Notification</button>
        </div>
    }*@

<div class="clearfix"></div>
<div class="col-md-4" style="padding-left: 0px;">
    <h3>Upload Quote Responses:</h3>
</div>
<div class="col-md-8">
</div>
<div class="clearfix"></div>
<div class="col-md-12">
    @using (Html.BeginForm("UploadBulkOldQuoteResponseISD", "QuoteSearch", FormMethod.Post, new { id = "UploadForm", @enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="quoteType" value="@Model.quoteType" />
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3" style="padding-left: 25px;">Choose File</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse… <input id="fileQuoteRequest" class="btn btn-default attachFile" name="attachFile" type="file">
                            </span>
                        </span>
                        <input type="text" class="form-control fileUploadTxtBox" name="FileName" readonly="">
                    </div>
                    <span style="font-size: 10px;"><b>Note: The maximum size of attachment is 10MB</b></span>
                </div>
                <div class="col-md-1">
                    <button class="resetFile" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-default btnSubmit" id="per">Upload</button>
            <a href="/QuoteSearch/DownloadTemplate?quoteType=@Model.quoteType" style="color: #23527c;">Download Template</a>
        </div>
    }
</div>
<div class="clearfix"></div>
<br /><br />
@using (Html.BeginForm("UploadOldQuoteResponses", "QuoteSearch", FormMethod.Post, new { @id = "UploadQuoteResForm" }))
{
    <input type="hidden" name="quoteType" value="@Model.quoteType" />
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }

    <div class="col-md-12 update-btn" style="padding-right: 0px !important;padding-bottom: 10px;">

        @if (Convert.ToString(Session["DateFormatID"]) == "2")
        {
            <div class="col-md-2" style="padding-left: 0px;padding-top: 6px;"><b><span style="color:red">*</span> Valid until : <span style="font-size: 10px;">(mm/dd/yyyy)</span></b></div>
        }
        else
        {
            <div class="col-md-2" style="padding-left: 0px;padding-top: 6px;"><b><span style="color:red">*</span> Valid until :<span style="font-size: 10px;">(dd/mm/yyyy)</span></b></div>
        }

        <div class="col-md-8" style="padding-left: 0px;">
            <div class="form-group">
                <div class="col-md-4" style="padding-left: 0px;">
                    <div style="width: 250px!important;" class="input-group input-medium date date-picker" data-date="@(DateTime.Now.AddDays(30).ToString("MM/dd/yyyy"))" data-date-format="@DateFormate" data-date-viewmode="years">
                        <input type="text" name="EOL" class="form-control" value="@(DateTime.Now.AddDays(30).ToString("MM/dd/yyyy"))" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="UploadResponses()">Add Responses</button>
    </div>
    <div class="col-md-12 update-btn">

        <table class="table table-striped">
            <tr style="color: white !important;background-color: #399bd3;">
                <th class="grid-header" style="width:5px;">
                    <div class="grid-header-title">
                        <a>Manufacturer<span style="color:red;">*</span></a>
                    </div>
                </th>
                <th class="grid-header" style="width:30px;">
                    <div class="grid-header-title">
                        <a>SKU<span style="color:red;">*</span></a>
                    </div>
                </th>
                <th class="grid-header" style="width:30px;">
                    <div class="grid-header-title">
                        <a>Description<span style="color:red;">*</span></a>
                    </div>
                </th>
                <th class="grid-header" style="width:30px;">
                    <div class="grid-header-title">
                        <a>Category<span style="color:red;">*</span></a>
                    </div>
                </th>
                @*<th class="grid-header" style="width:30px;">
                        <div class="grid-header-title">
                            <a>Lead Time</a>
                        </div>
                    </th>*@
                @*<th class="grid-header" style="width:30px;">
                        <div class="grid-header-title">
                            <a>EOL<span style="font-size: 10px;"> (@DateFormate)</span><span style="color:red;">*</span></a>
                        </div>
                    </th>*@
                <th class="grid-header" style="width:30px;">
                    <div class="grid-header-title">
                        <a>Quantity<span style="color:red;">*</span></a>
                    </div>
                </th>
                <th class="grid-header" style="width:30px;">
                    <div class="grid-header-title">
                        <a>Cost Price/Unit <span style="font-size: 10px;">(@Model.CurrencySymbol)</span><span style="color:red;">*</span></a>
                    </div>
                </th>
            </tr>
            @for (int i = 0; i < 9; i++)
            {
                <tr class="grid-row ">
                    <td class="grid-cell" data-name="CountryName">
                        @Html.DropDownList("model[" + i + "].ManufacturerIds", new SelectList(Model.Manufacturers,
            "Key", "Value"),
   new { @class = "manufacturerId form-control" })
                    </td>
                    <td class="grid-cell" data-name="CustomerName">
                        <input type="text" name="@("model[" + i + "].SKU")" maxlength="50" class="form-control" />
                    </td>
                    <td class="grid-cell" data-name="strStartDate">
                        <input type="text" name="@("model[" + i + "].Description")" maxlength="1000" class="form-control" />
                    </td>
                    <td class="grid-cell" data-name="strEndDate">
                        @Html.DropDownList("model[" + i + "].CategoryId", new SelectList(Model.Categories,
            "partcategoryid", "partcategoryname"),
   new { @class = "categoryId form-control" })
                    </td>
                    @*<td class="grid-cell" data-name="strEndDate">
                            <input type="text" name="@("model[" + i + "].LeadTime")" maxlength="4" class="form-control allownumericwithoutdecimal" />
                        </td>
                        <td class="grid-cell" data-name="strEndDate">
                            <div class="form-group">
                                <div class="col-md-9" style="padding-left: 0px;">
                                    <div style="width:190px!important" class="input-group input-medium date date-picker" data-date="@DateTime.Now" data-date-format="@DateFormate" data-date-viewmode="years">
                                        <input type="text" name="@("model[" + i + "].EOL")" class="form-control" readonly>
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                                        <img src="/Content/images/reset-btn.png">
                                    </button>
                                </div>
                            </div>
                        </td>*@
                    <td class="grid-cell" data-name="strEndDate">
                        <input type="text" name="@("model[" + i + "].Quantity")" value="1" maxlength="4" class="form-control allownumericwithoutdecimal" />
                    </td>
                    <td class="grid-cell" data-name="strEndDate">
                        <input type="text" name="@("model[" + i + "].Price")" maxlength="6" class="form-control numericwithdecimal" />
                    </td>
                </tr>
            }

        </table>

    </div>
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("UpdateQuoteResponse", "QuoteSearch", FormMethod.Post, new { @id = "EditQuoteResponseForm", @enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="quoteType" value="@Model.quoteType" />
                <div class="modal-header" style="background-color: #399bd3;color: white;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="font-weight:800">Quote Response</h3>
                </div>
                <div class="modal-body" style="padding: 0px;">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#deleteOldResponsesBtn").click(function () {
            var selectedVals = [];  
            $("input:checkbox[name=chkResponse]:checked").each(function () {
                selectedVals.push($(this).val());
            });
            var responseIds = selectedVals.toString();
            var QuoteId = $('#quoteId').val();
            var QuoteType = "@Model.quoteType";
            var setups = {
                quoteRId: responseIds,
                quoteId: QuoteId,
                quoteType: QuoteType
            };
            if (responseIds == "") {
                alert("Please select atleast 1 item to remove.");
            }
            else {
                if (confirm("Are you sure you want to remove selected item(s)? You will not be able to undo this action.")) {
                    $.ajax({
                        url: '/QuoteSearch/DeleteResponse',
                        type: 'POST',
                        data: JSON.stringify({ quoteRId: responseIds,quoteId:QuoteId,quoteType:QuoteType }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            //showNotification(data);
                            location.reload();
                            //window.location.href = '/QuoteSearch/DeleteResponse?quoteRId=' + responseId + "&quoteId=" + $('#quoteId').val() + "&quoteType=" + 'Model.quoteType';
                        },
                        complete: function (data) {
                            //StartLoader();
                            //window.location.href = '/QuoteSearch/DeleteResponse?quoteRId=' + responseId + "&quoteId=" + $('#quoteId').val() + "&quoteType=" + '@Model.quoteType';
                        }
                    });
                } 
            }           
        });
    });


    function GetResponse(responseId) {
        $('#responseId').val(responseId);
        if (responseId != "") {
            showHideLoader(1);
            var data = {

                quoteRId: responseId,
                quoteId: $('#quoteId').val(),
                customerId: $('#hCustomerId').val(),
                quoteType: '@Model.quoteType'
            };

            $.ajax({
                url: '/QuoteSearch/GetQuoteResponse',
                type: 'POST',
                data: data,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $('.modal-body').html(data)
                        $('#myModal').modal('show');
                        $('.date-picker').datepicker({
                            autoclose: true
                        });
                        $(".allownumericwithoutdecimal").on("keypress keyup blur", function (event) { if ((event.which < 48 || event.which > 57) && event.which != 8 && event.which != 0 && !event.ctrlKey) { event.preventDefault(); } }).bind("paste", function (e) { e.preventDefault(); });
                        $(".numericwithdecimal").on("keypress keyup blur", function (event) { if ((event.which < 46 || event.which > 57 || event.which == 47) && event.which != 8 && event.which != 0 && !event.ctrlKey) { event.preventDefault(); } if (event.which == 46 && $(this).val().indexOf('.') != -1) { event.preventDefault(); } }).bind("paste", function (e) { e.preventDefault(); });

                    }
                    else if (data == "-1") {
                        showNotification("Error occured");
                    }
                    else if (data == "0") {
                        showNotification("Please provide correct data");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

    }
    @*function DeleteResponse(responseId) {
        if (confirm("Are you sure you want to delete this response? You will not be able to undo this action.")) {
            StartLoader();
            window.location.href = '/QuoteSearch/DeleteResponse?quoteRId=' + responseId + "&quoteId=" + $('#quoteId').val() + "&quoteType=" + '@Model.quoteType';
        }
        return false;

    }*@

    $('#EditQuoteResponseForm').submit(function () {
        if ($('.ManufacturerID').val() == "0" || $('input[name="SKU"]').val().trim() == "" ||
            $('input[name="description"]').val().trim() == "" || $('.partCategoryID').val() == "0" ||
            $('input[name="SKU"]').val().trim() == "" ||
               $('input[name="Quantity"]').val().trim() == "" || $('input[name="Price"]').val().trim() == "") {
            alert("Please provide all required fields");
            return false;
        }
        $(this).append('<input type="hidden" name="quoteId" value="' + $('#quoteId').val() + '" />');
        if ($('.modal-body').find('input[name="EOL"]').val() != "") {
            var today = new Date();
            var eol = new Date($('.modal-body').find('input[name="EOL"]').val());
            if (eol <= today) {
                alert("EOL should be a future date.");
                return false;
            }
            var timeDiff = Math.abs(eol.getTime() - today.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            if (diffDays > 60) {
                alert("Lifespan of the response should be less than 60 days.");
                return false;
            }

        }

        StartLoader();
    });


    $('#UploadQuoteResForm').submit(function () {

        if ($('input[name="EOL"]').val() == "") {
            alert("Valid until date is required.");
            return false;
        }
        if ($('#hDateFormatId').val() == "0" || $('#hDateFormatId').val() == "1") {
            //convert to standard datetime
            var strDate = "";
            if ($('input[name="EOL"]').val() != "") {

                strDate = $('input[name="EOL"]').val();
                var arrStrDate = strDate.split('/');
                strDate = arrStrDate[1] + "/" + arrStrDate[0] + "/" + arrStrDate[2];
                $('input[name="EOL"]').val(strDate);
            }

        }

        if ($('input[name="EOL"]').val() != "") {
            var today = new Date();
            var eol = new Date($('input[name="EOL"]').val());
            if (eol <= today) {
                alert("Valid until should be a future date.");
                return false;
            }
            var timeDiff = Math.abs(eol.getTime() - today.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            if (diffDays > 60) {
                alert("Lifespan of the response should be less than 60 days.");
                return false;
            }

        }

        invalid = false;
        isRowChange = false;
        for (var i = 0; i < 9; i++) {
              if ($('select[name="model[' + i + '].ManufacturerIds"]').val() == "0" && $('input[name="model[' + i + '].Description"]').val().trim() == "" &&
                    $('select[name="model[' + i + '].CategoryId"]').val() == "0" && $('input[name="model[' + i + '].SKU"]').val().trim() == "" &&
                 $('input[name="model[' + i + '].Quantity"]').val().trim() == "1" && $('input[name="model[' + i + '].Price"]').val().trim() == ""
                ) {
            $('input[name="model[' + i + '].Quantity"]').val("");
        }
        }

        for (var i = 0; i < 9; i++) {
            if ($('select[name="model[' + i + '].ManufacturerIds"]').val() != "0" || $('input[name="model[' + i + '].Description"]').val().trim() != "" ||
                $('select[name="model[' + i + '].CategoryId"]').val() != "0" || $('input[name="model[' + i + '].SKU"]').val().trim() != "" ||
                 $('input[name="model[' + i + '].Quantity"]').val().trim() != "" || $('input[name="model[' + i + '].Price"]').val().trim() != ""
                ) {
                if ($('select[name="model[' + i + '].ManufacturerIds"]').val() != "0" && $('input[name="model[' + i + '].Description"]').val().trim() != "" &&
                    $('select[name="model[' + i + '].CategoryId"]').val() != "0" && $('input[name="model[' + i + '].SKU"]').val().trim() != "" &&
                 $('input[name="model[' + i + '].Quantity"]').val().trim() != "" && $('input[name="model[' + i + '].Price"]').val().trim() != ""
                ) {
                    invalid = false;
                    isRowChange = true;
                }
                else {
                    invalid = true;
                    isRowChange = false;
                }
            }

            if (invalid) {
                alert("Please provide all required fields at row " + (i + 1))
                return false;
            }
        }
        if (!isRowChange) {
            alert("Please provide at least one record.");
            return false;
        }
        $(this).append('<input type="hidden" name="quoteId" value="' + $('#quoteId').val() + '" />');




        StartLoader();

    });
    $('#UploadForm').submit(function () {
        if ($('.attachFile').val() != "") {

            if ($('.attachFile')[0].files[0].size >= 10485760) {
                alert("File Size Must Be 10 MB OR Less");
                return false;
            }
            if ($('.attachFile')[0].files[0].name.split('.')[1] == "xls" || $('.attachFile')[0].files[0].name.split('.')[1] == "xlsx") {

            }
            else {
                alert("File Size Must Be xls or xlsx");
                return false;
            }

        }
        else {

            alert("Please Select File");
            return false;
        }

        if ($('input[name="EOL"]').val() == "") {
            alert("Valid until date is required.");
            return false;
        }
        if ($('#hDateFormatId').val() == "0" || $('#hDateFormatId').val() == "1") {
            //convert to standard datetime
            var strDate = "";
            if ($('input[name="EOL"]').val() != "") {

                strDate = $('input[name="EOL"]').val();
                var arrStrDate = strDate.split('/');
                strDate = arrStrDate[1] + "/" + arrStrDate[0] + "/" + arrStrDate[2];
                $('input[name="EOL"]').val(strDate);
            }

        }

        if ($('input[name="EOL"]').val() != "") {
            var today = new Date();
            var eol = new Date($('input[name="EOL"]').val());
            if (eol <= today) {
                alert("Valid until should be a future date.");
                return false;
            }
            var timeDiff = Math.abs(eol.getTime() - today.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            if (diffDays > 60) {
                alert("Lifespan of the response should be less than 60 days.");
                return false;
            }

        }

        $(this).append('<input type="hidden" name="eol" value="' + $('input[name="EOL"]').val() + '" />');
        $(this).append('<input type="hidden" name="quoteId" value="' + $('#quoteId').val() + '" />');
        StartLoader();
    });
    $('.resetFile').click(function () {
        $(this).parent().parent().find('.attachFile').val("");
        $('.fileUploadTxtBox').val("");
    });

</script>