﻿
@model OneSourceAdminCore.Model.QuoteResponseEditModel
@{
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}
<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">

        <input type="hidden" name="responseId" value="@Model.PartQuoteResponse.responseId">

        <div class="col-md-4">
            <label><span>&nbsp;&nbsp;&nbsp;</span>Quote # </label>
        </div>
        <div class="col-md-8">
            <p>
                @Model.QuoteId
            </p>
        </div>
        <div class="col-md-4">
            <label><span style="color:red">* </span> Manufacturer</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("ManufacturerID", new SelectList(Model.Manufacturers,
            "Key", "Value", Model.PartQuoteResponse.ManufacturerID),
   new { @class = "ManufacturerID form-control" })
        </div>
        <div class="col-md-4">
            <label><span style="color:red">* </span>SKU</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" maxlength="50" value="@(Model.PartQuoteResponse.SKU??"")" name="SKU" />
        </div>
        <div class="col-md-4">
            <label><span style="color:red">* </span>Description</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" maxlength="1000" value="@(Model.PartQuoteResponse.description??"")" name="description" />
        </div>
        <div class="col-md-4">
            <label><span style="color:red">* </span>Category</label>
        </div>
        <div class="col-md-8">
            @Html.DropDownList("PartCategoryID", new SelectList(Model.Categories,
            "partcategoryid", "partcategoryname", Model.PartQuoteResponse.PartCategoryID ?? 0),
   new { @class = "partCategoryID form-control" })
        </div>
        @*<div class="col-md-4">
            <label><span style="color:red">* </span>Lead Time & Days</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control allownumericwithoutdecimal" maxlength="4" value="@(Model.PartQuoteResponse.LeadTime==null?"":Model.PartQuoteResponse.LeadTime.ToString())" name="LeadTime" />
        </div>*@
        <div class="col-md-4">
            <label><span style="color:red">* </span>EOL</label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">

            <div class="form-group">
                <div class="col-md-10" style="padding-left: 0px;">
                    <div style="" class="input-group input-medium date date-picker" data-date="@(Model.PartQuoteResponse.EOL==null?Convert.ToString(DateTime.Now):Convert.ToDateTime(Model.PartQuoteResponse.EOL).ToString(DateFormateView))" data-date-format="@DateFormate" data-date-viewmode="years">
                        <input type="text" name="EOL" value="@(Model.PartQuoteResponse.EOL==null?"":Convert.ToDateTime(Model.PartQuoteResponse.EOL).ToString(DateFormateView))" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="float: right;width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label><span style="color:red">* </span>Quantity</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control allownumericwithoutdecimal" maxlength="4" value="@(Model.PartQuoteResponse.Quantity==null?"":Model.PartQuoteResponse.Quantity.ToString())" name="Quantity" />
        </div>
        <div class="col-md-4">
            <label><span style="color:red">* </span>GSP Cost each</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control numericwithdecimal" maxlength="8" value="@(Model.PartQuoteResponse.Price==null?"":String.Format("{0:0.##}", Convert.ToDecimal(Model.PartQuoteResponse.Price)))" name="Price" />
        </div>

    </div>
</div>