﻿@model OneSourceAdminCore.Model.QuoteAttachmentModel
<div class="col-md-12">
    <h2>Attachment:</h2>
</div>
<div class="col-md-3"></div>
<div class="col-md-6">

    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                Browse… <input id="fileQuoteRequest" class="btn btn-default attachFile" name="attachFile" type="file">
            </span>
        </span>
        <input type="text" class="form-control fileUploadTxtBox" name="FileName" readonly="">
    </div>
    <span style="font-size: 10px;"><b>Note: The maximum size of attachment is 10MB</b></span>
    <div class="col-md-8" style="padding-left: 0;">

    </div>
    <div class="col-md-4" style="padding-right: 0;">
        <input type="submit" id="per" class="form-control pull-right btnAddAttachment" value="Add Attachment" />
    </div>
</div>
<div class="col-md-3"></div>
<div class="clearfix"></div>
<div class="row">
    @if (Model.Attachments.Count == 0)
    {
        <h4>Attachments:</h4>
        <p>Your search returned no results.</p>
    }
    else
    {
        <h4>Attachments:</h4>
        <div class="col-md-12">
            @foreach (var item in Model.Attachments)
            {
                <div class="row" style="margin-bottom:5px">                
                    <div class="col-md-10" style="padding: 0px;margin: 0px;">
                        <i class="glyphicon glyphicon-remove remove-quote-attachment" style="font-size:10px;color:red;margin-right: 5px;cursor: pointer;" data-daid="@item.daid"></i>
                        <img style="width:16px;height:16px;cursor: default;" src="/Content/images/mime_types/mime_types/@item.mimetypeicon"> &nbsp;
                        <a style="color: blue;" href="@item.daurl"> @item.daname</a> &nbsp;&nbsp;

                    </div>

                </div>
                <div class="clearfix"></div>
            }
        </div>
    }
</div>
<script>
    $('.attachFile').change(function () {

        if ($('.attachFile').get(0).files.length > 0) {
            var fileName = $('.attachFile').get(0).files[0].name;
            if (fileName.indexOf('#') != -1 || fileName.indexOf('%') != -1 || fileName.indexOf('+') != -1) {
                alert("Please provide valid file without special character like %,#,+ etc ");
                $('.attachFile').get(0).value = "";
                return false;
            }
        }
    });
    $('.btnAddAttachment').click(function () {

        var fileCount = 0;
        if ($('.attachFile').length == 2)
        {
            fileCount = 1;
        }

        if ($('.attachFile').get(fileCount).files.length <= 0) {
            alert("Please provide file in order to add attachment");
            return false;
        } else {
            var length = $('.attachFile').get(fileCount).files[0].name.split('.').length;
            var fileExtension = '.' + ($('.attachFile').get(fileCount).files[0].name.split('.')[length - 1]).toLowerCase();
            if (fileExtension == ".doc" || fileExtension == ".docx" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".pdf" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".htm" || fileExtension == ".jpg" || fileExtension == ".jpeg" || fileExtension == ".gif" ||  fileExtension == ".csv" || fileExtension == ".txt" || fileExtension == ".png") {

            } else {
                alert('Please provide valid file with doc, docx, xls, xlsx, pdf, ppt, pptx, htm, jpg, jpeg, gif, csv, txt extension');
                return false;
            }

        }
        if ($('.attachFile').get(fileCount).files.length > 0) {
            if ($('.attachFile').get(fileCount).files[0].name.length > 176) {
                alert('File name is too long, File name must have 175 or less characters');
                return false;
            }
            if ($('.attachFile').get(fileCount).files[0].size > 10485760) {
                alert('File size must be less than 10 MB');
                return false;
            }
        }

        var quoteId = $('#quoteId').val();
        var quoteType = '@Model.quoteType';

        var data = new FormData();
        data.append('attachFile', jQuery('.attachFile')[fileCount].files[0]);
        data.append('quoteId', quoteId);
        data.append('quoteType', quoteType);

        showHideLoader(1);
        jQuery.ajax({
            url: '/QuoteSearch/AddQuoteAttachment',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                if (data != null) {
                    if (data.isSuccess) {
                        showNotification(data.msg);

                        setTimeout(function () {
                            GetView('QuoteAttachments');
                        }, 2000);

                    }
                    else {
                        showNotification(data.msg);
                    }
                }
            },
            complete: function (data) {
                showHideLoader(0);

            }
        });
    });


      $('.remove-quote-attachment').click(function () {
        var quoteId = $('#quoteId').val();
        var quoteType = '@Model.quoteType';
        var daId = $(this).attr("data-daid");
        data = {
            quoteId,
            quoteType , 
            daId
        }
        showHideLoader(1);
        jQuery.ajax({
            url: '/QuoteSearch/DeActivateQuoteAttachment',
            data: data,
            cache: false,
            type: 'POST',
            success: function (data) {
                if (data != null) {
                    if (data == true) {
                        showNotification("Attachment removed successfully.");
                    } else {

                        showNotification("Error removing attachment.");
                    }

                    setTimeout(function () {
                        GetView('QuoteAttachments');
                    }, 2000);
                }
            }
        ,
            complete: function (data) {
                showHideLoader(0);

            }
            });
        });


</script>
