﻿@model OneSourceAdminCore.Model.PriceDeskReportModel
@{
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }
}


<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-7" style="padding: 10px; color: #FFF;">
        @{
            <b> Reports > @Model.parentName > @Model.reportName </b>
        }
    </div>


    <div class="col-md-5" style="padding: 7px; text-align:right;">

        <div style="float:right">
            @using (Html.BeginForm("RedirectToParent", "PriceDeskReports", FormMethod.Post, new { @id = "ProcurementReportsRedirectToParent" }))
            {
                <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
                <input type="hidden" name="routeName" id="routeName" value="@Model.routeName">
                <input type="hidden" name="reportName" id="reportName" value="@Model.reportName">
                <input type="hidden" name="parentRouteId" id="parentRouteId" value="@Model.parentRouteId" />
                    <input type="hidden" name="parentName" id="parentName" value="@Model.parentName" />
                    <input type="hidden" name="parentRoute" id="parentRoute" value="@Model.parentRoute" />
                <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
            }
        </div>
            @using (Html.BeginForm(Model.excelAction, "PriceDeskReports", FormMethod.Post, new { @id = "ProcurementReportsFormExcel" }))
            {
                <div style="">
                    <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
                    <input type="hidden" name="routeName" id="routeName" value="@Model.routeName">
                    <input type="hidden" name="reportName" id="reportName" value="@Model.reportName">
                    <input type="hidden" name="parentRouteId" id="parentRouteId" value="@Model.parentRouteId" />
                    <input type="hidden" name="parentName" id="parentName" value="@Model.parentName" />
                    <input type="hidden" name="parentRoute" id="parentRoute" value="@Model.parentRoute" />

                    <input type="hidden" name="quoteStatusId" id="quoteStatusId" value="0"/>
                    <input type="hidden" name="supplierId" id="supplierId" value="0"/>
                    <input type="hidden" name="dateStart" id="dateStart" value="@Model.StartDate">
                    <input type="hidden" name="dateEnd" id="dateEnd" value="@Model.EndDate">
                    <input type="hidden" name="quotetypeId" id="quotetypeId" value="0">
                    <input type="hidden" name="AccountManagerId" id="accountManagerId" value="@Model.AccountManagerId"/>
                    <button class="btn btn-default topAddNewButton" type="button" id="exportExcel" style="margin-right:10px">Export to excel</button>
                </div>
            }



    </div>
</div>



<div class="row" style="margin-top:48px;">
    <div class="col-md-8 col-md-offset-3">

        @using (Html.BeginForm("GetReportData", "PriceDeskReports", FormMethod.Post, new { @id = "PriceDeskReportForm" }))
        {
            <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
            <input type="hidden" name="routeName" id="routeName" value="@Model.routeName">
            <input type="hidden" name="reportName" id="reportName" value="@Model.reportName">
            <input type="hidden" name="parentRouteId" id="parentRouteId" value="@Model.parentRouteId" />
                    <input type="hidden" name="parentName" id="parentName" value="@Model.parentName" />
                    <input type="hidden" name="parentRoute" id="parentRoute" value="@Model.parentRoute" />

            if (Model.routeName == "quotesbysupplierreport")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Supplier:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            @if (Model.Suppliers != null && Model.Suppliers.Count > 0)
                            {
                                @Html.DropDownList("SupplierId", new SelectList(Model.Suppliers,
             "SupplierId", "SupplierName", Model.SupplierId),
             new { @id = "SupplierId", @idFor = "SupplierId", @valueFor = "SupplierName", @tabindex = "-1" });
                            }

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblSupplier" style="color:red">

                        </span>

                    </div>
                </div>
            }
            if (Model.routeName == "quotescountbyaccountmanager")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Account Manager:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            @if (Model.AccountManagers != null && Model.AccountManagers.Count > 0)
                            {
                                @Html.DropDownList("AccountManagerId", new SelectList(Model.AccountManagers,
             "AccountManagerId", "AccountManagerName", Model.AccountManagerId),
             new { @id = "AccountManagerId", @idFor = "AccountManagerId", @valueFor = "AccountManagerName", @tabindex = "-1" });
                            }

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblAccountManager" style="color:red">

                        </span>

                    </div>
                </div>
            }
            if (Model.routeName != "quotescountbyaccountmanager" 
                && Model.routeName != "quotereport"
                && Model.routeName != "jdetraxxorders")
            {

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">
                        *
                    </span>
                    Quote Type:
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select id="quoteTypeId" name="quoteTypeId" class="form-control">
                            <option value="0" selected>--Select--</option>
                            <option value="3">Asset Disposal</option>
                            <option value="1">Hardware</option>
                            <option value="4">IT Service</option>
                            <option value="2">Software</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblquoteType" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">
                        &nbsp;&nbsp;
                    </span>
                    Status:
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select id="quoteStatus" name="quoteStatus" class="form-control">
                            <option value="" selected>--Select--</option>
                            <option value="New">New</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Pending">Pending</option>
                            <option value="Completed">Completed</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblstatus" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <span style="color:red">
                        &nbsp;&nbsp;
                    </span>
                    Start Date:
                </div>
                <div class="col-md-4">
                    <div class="input-group input-medium date date-picker" data-date="@Model.StartDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                        <input type="text" id="DateFrom" name="StartDate" value="@Model.StartDate" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
                <div class="col-md-3" style="margin-top:5px;">
                    <span id="lblStartDate" style="color:red">

                    </span>

                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            &nbsp;&nbsp;
                        </span>
                        End Date:
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="DateTo" name="EndDate" value="@Model.EndDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblEndDate" style="color:red">

                        </span>

                    </div>

                </div>

            }
            if (Model.routeName == "quotereport")// Added by Adnan on 11-7-2019 for Quote Report
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            *
                        </span>
                        Quote Type:
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="quoteTypeId" name="quoteTypeId" >
                                <option value="0" selected>--Select--</option>
                                <option value="1">Hardware</option>
                                <option value="2">Software</option>
                                <option value="3">Asset Disposal</option>
                                <option value="4">IT Service</option>
                              
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblquoteType" style="color:red">

                        </span>

                    </div>
                </div>
            }
            if (Model.routeName == "jdetraxxorders")
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            &nbsp;&nbsp;
                        </span>
                        Start Date:
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@Model.StartDate" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="StartDate" name="StartDate" value="@Model.StartDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblStartDate" style="color:red">

                        </span>

                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <span style="color:red">
                            &nbsp;&nbsp;
                        </span>
                        End Date:
                    </div>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" data-date-viewmode="years" style="width: auto !important;">
                            <input type="text" id="EndDate" name="EndDate" value="@Model.EndDate" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                            <img src="/Content/images/reset-btn.png">
                        </button>
                    </div>
                    <div class="col-md-3" style="margin-top:5px;">
                        <span id="lblEndDate" style="color:red">

                        </span>

                    </div>

                </div>
            }
            if (Model.routeName == "quotereport" || Model.routeName == "jdetraxxorders")
            {
                <br />

                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="BTNQuote" style="color: #399BD3;" onclick="$('#exportExcel').click();">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn" style="">
                            <button class="btn btn-default" type="submit" value="Reset" name="submit" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</button>
                        </span>
                    </div>
                </div>
            }
            else
            {
                <br />

                <div class="row">

                    <div class="col-md-2 col-md-offset-2" style="margin-top:10px; text-align:left; ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" value="Generate" name="submit" id="BTN" style="color: #399BD3;">Generate</button> &nbsp;
                        </span>
                        <span class="input-group-btn" style="">
                            <button class="btn btn-default" type="submit" value="Reset" name="submit" id="btnReset" style="color: #399BD3; margin-left:10px;">Reset</button>
                        </span>
                    </div>
                </div>
            }



        }
    </div>

</div>
