﻿@model OneSourceAdminCore.Model.PriceDeskReportModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = Model.reportName;
}
<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }
</style>

<div class="row bread-Crumb-Top" style="background-color: #216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
    <div class="col-md-7" style="padding: 10px; color: #FFF;">
        @{
            <b> Reports > @Model.parentName > @Model.reportName </b>
        }
    </div>


    <div class="col-md-5" style="padding: 7px; text-align:right;">
        @if (Model.routeName == "quotesbysupplierreport")
        {
            <div style="float:right">
                @using (Html.BeginForm("PriceDeskReport", "PriceDeskReports", new { id = Model.routeId, fromBack = true }, FormMethod.Get))
                {
                    <input type="hidden" name="routeId" id="routeId" value="@Model.routeId">
                    <input type="hidden" name="routeName" id="routeName" value="@Model.routeName">
                    <input type="hidden" name="reportName" id="reportName" value="@Model.reportName">
                    <input type="hidden" name="parentRouteId" id="parentRouteId" value="@Model.parentRouteId" />
                    <input type="hidden" name="parentName" id="parentName" value="@Model.parentName" />
                    <input type="hidden" name="parentRoute" id="parentRoute" value="@Model.parentRoute" />
                    <button class="btn btn-default topAddNewButton" type="submit" id="redirectToParent" style="float:right;background-color:green">Back</button>
                }
            </div>
            using (Html.BeginForm("ExportQuotesWithDetail", "PriceDeskReports", FormMethod.Post, new { @id = "QuotesDetailToExcel" }))
            {
                <input type="hidden" name="SupplierId" id="SupplierId" value="@Model.SupplierId" />
                <input type="hidden" name="StartDate" id="StartDate" value="@Model.StartDate">
                <input type="hidden" name="EndDate" id="EndDate" value="@Model.EndDate">
                <input type="hidden" name="Quoteids" id="Quoteids" value="@Model.Quoteids" />
                <input type="hidden" name="QuoteTypeId" id="QuoteTypeId" value="@Model.QuoteTypeId" />
                <input type="hidden" name="Status" id="Status" value="@Model.Status"/>
                <input type="hidden" name="reportName" id="reportName" value="@Model.reportName"/>
                <input type="hidden" name="routeId" id="routeId" value="@Model.routeId" />
                <div style="">
                    <button class="btn btn-default topAddNewButton" type="submit" id="exportExcel" style="margin-right:10px">Export to excel</button>
                </div>
            }
        }

    </div>
</div>
<h2>Supplier Quotes</h2>
<br />
<div class="col-md-12">
    <div class="row detailGridDiv">
    </div>


</div>
<script>

    $(document).ready(function () {

        @if(Model.Quoteids!=null)
        {


            @*if (Session["Error"]!=null)
            {
                <text>
                showNotification("No line items to export.");
                </text>
            }*@


            <text>
        $(".detailGridDiv").html("");
        $(".detailGridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
        StartLoader();
        var model = {QuoteIds:"@Model.Quoteids.ToString()",QuoteTypeId:"@Model.QuoteTypeId",Status:"@Model.Status"};
        $.ajax({
            url: '/SupplierQuotes',
            type: "POST",
            data: model,
            success: function (data) {
                EndLoader();
                if (data != null && data != "" && data != undefined) {

                    var table = JSON.parse(data);
                    $("#txt").val(data);
                    var tableObj = [];
                    if (table.length > 0) {

                        for (i = 0; i < Object.keys(table[0]).length; i++) {

                            var obj = {};
                            obj.field = Object.keys(table[0])[i];
                            obj.width = 100;
                            obj.sortable = true;
                            obj.align = 'left';
                            obj.headerCssClass = 'headerClass';
                            obj.cssClass = 'rowClass';

                            if(obj.field=="QuoteId"){
                                obj.title = "Quote #";
                            }
                            if(obj.field=="QuoteType"){
                                obj.title = "Quote Type";
                            }
                            if(obj.field=="AccountManagerName"){
                                obj.title = "Account Manager";
                            }
                            if(obj.field=="AccountManagerType"){
                                obj.title = "Business Type";
                            }
                            if(obj.field=="CustomerName"){
                                obj.title = "Customer";
                            }
                            @*if(@Model.Status=="Cancelled"){
                                    if(obj.field=="Status"){
                                        obj. = "Customer";
                                    }
                                }*@

                            tableObj.push(obj);
                        }

                    }

                    var detailColumns = [];
                    if(@Model.QuoteTypeId==1){
                        detailColumns = [
                   { field: 'Description', width: 200,headerCssClass:'headerClass',cssClass :'rowClass' },
                   { field: 'Manufacturer', width:100,headerCssClass:'headerClass',cssClass :'rowClass'  },
                   { field: 'Sku', width:100,headerCssClass:'headerClass',cssClass :'rowClass'   },
                   { field: 'Category', width:100,headerCssClass:'headerClass',cssClass :'rowClass'  },
                   { field: 'LeadTime', width:100,title:"Lead Time",headerCssClass:'headerClass',cssClass :'rowClass'  },
                   { field: 'EOL', width:100,headerCssClass:'headerClass',cssClass :'rowClass' },
                   { field: 'Quantity', width:100,headerCssClass:'headerClass',cssClass :'rowClass'  },
                   { field: 'UnitPrice', width:100 ,title:"Unit Price",headerCssClass:'headerClass',cssClass :'rowClass' }
                        ];
                    }
                    else if(@Model.QuoteTypeId==2){
                        detailColumns = [
                  { field: 'Description', width: 200 ,headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'Manufacturer', width:100 ,headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'Sku', width:100  ,headerCssClass:'headerClass',cssClass :'rowClass' },{ field: 'SerialNumber', width:100,title:'Serial #' ,headerCssClass:'headerClass',cssClass :'rowClass'  },
                  { field: 'Category', width:100,headerCssClass:'headerClass',cssClass :'rowClass'  },
                  { field: 'LeadTime', width:100,title:"Lead Time",headerCssClass:'headerClass',cssClass :'rowClass'  },
                  { field: 'EOL', width:100,headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'Quantity', width:100 ,headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'UnitPrice', width:100 ,title:"Unit Price",headerCssClass:'headerClass',cssClass :'rowClass' }
                        ];
                    }
                    else if(@Model.QuoteTypeId==3){
                        detailColumns = [
                  { field: 'Description', width: 200,headerCssClass:'headerClass',cssClass :'rowClass'  },
                  { field: 'Category', width:100,headerCssClass:'headerClass',cssClass :'rowClass'  },
                  { field: 'LeadTime', width:100,title:"Lead Time",headerCssClass:'headerClass',cssClass :'rowClass'  },
                  { field: 'EOL', width:100,headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'Quantity', width:100 ,headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'UnitPrice', width:100 ,title:"Unit Price",headerCssClass:'headerClass',cssClass :'rowClass' }
                        ];
                    }
                    else if(@Model.QuoteTypeId==4){
                        detailColumns = [
                  { field: 'ServiceType', width: 200 ,title:'Service Type',headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'SLAType', width:100,title:'SLA Type' ,headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'Resources', width:100,headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'HourlyRate', width:100,title:'Hourly Rate',headerCssClass:'headerClass',cssClass :'rowClass' },
                  { field: 'TravelCharges', width:100 ,title:'Travel Charges',headerCssClass:'headerClass',cssClass :'rowClass' },
                        ];
                    }


                    if (table.length > 50) {
                        var grid = $('#grid').grid({
                            primaryKey: 'QuoteId',
                            dataSource: table,
                            columns: tableObj,
                            pager: { limit: 50, sizes: [50, 100, 500, 1000] },
                            cache: false,
                            uiLibrary: 'bootstrap',
                            detailTemplate: '<div><table/></div>'
                        });
                        grid.on('detailExpand', function (e, $detailWrapper, id) {
                            $detailWrapper.find('table').grid({
                                params: { Quoteids: id, QuoteTypeId: "@Model.QuoteTypeId" },
                                dataSource: '/PriceDeskReports/GetQuoteResponseItems',
                                columns:detailColumns,
                                pager: { limit: 5, sizes: [10, 50, 100, 500, 1000] },
                                cache: false,
                                headerCssClass:'headerClass',
                                cssClass : 'rowClass',
                                uiLibrary: 'bootstrap'
                            });
                        });
                        grid.on('detailCollapse', function (e, $detailWrapper, id) {
                            $detailWrapper.find('table').grid('destroy', true, true);
                        });
                    }
                    else {
                        var grid = $('#grid').grid({
                            primaryKey: 'QuoteId',
                            dataSource: table,
                            columns: tableObj,
                            pager: null,
                            cache: false,
                            uiLibrary: 'bootstrap',
                            detailTemplate: '<div><table/></div>'
                        });
                        grid.on('detailExpand', function (e, $detailWrapper, id) {
                            $detailWrapper.find('table').grid({
                                params: { Quoteids: id, QuoteTypeId: "@Model.QuoteTypeId" },
                                dataSource: '/PriceDeskReports/GetQuoteResponseItems',
                                columns:detailColumns,
                                pager: { limit: 5, sizes: [10, 50, 100, 500, 1000] },
                                cache: false,
                                headerCssClass:'headerClass',
                                cssClass : 'rowClass',
                                uiLibrary: 'bootstrap'
                            });
                        });
                        grid.on('detailCollapse', function (e, $detailWrapper, id) {
                            $detailWrapper.find('table').grid('destroy', true, true);
                        });
                    }
                    var refreshButton = $("button[data-role='page-refresh']");
                    if (refreshButton != undefined)
                    {
                        refreshButton.hide();
                    }
                    var selectCounter = $("select[data-role='page-size']")[0];
                    if (selectCounter != undefined) {
                        selectCounter.style.width = "80px";
                    }

                    //$(".gj-grid-wrapper").floatingScroll();
                    $(".gj-grid-wrapper").attr("style","overflow:auto");

                }
                else {
                    showNotification("Something went wrong, please try again later!");
                }
            }
        });
        </text>

        }


    });


</script>