﻿@model OneSourceAdminCore.Model.PriceDeskReportModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = Model.reportName;
}

<link href="~/Content/css/gijgo.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery.floatingscroll.css" rel="stylesheet" />
<script src="~/Content/js/jquery.floatingscroll.js"></script>
<script src="~/Content/js/gijgo.min.js"></script>

@Html.Partial("~/Views/PriceDeskReports/_ReportFilters.cshtml", Model)
<br />
@Html.Partial("~/Views/PriceDeskReports/_ReportGrids.cshtml", Model)


<div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 97%; padding-top:0.5%;">

        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:22px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="modalbody" style="max-height:650px; overflow-y:auto; ">
                <div id="chartContainer" style="height:490px"></div>
            </div>
        </div>
    </div>
</div>


<style>
    .headerClass {
        background: #3b9ad2 !important;
        color: white;
        border: none !important;
    }

    .rowClass {
        border: none !important;
        border: 1px solid #ddd !important;
    }

    .backgroundColor {
        background-color: red;
    }

    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .exportbutton {
        background: none !important;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
    }

    .gj-grid-bootstrap tfoot tr[data-role=pager] th {
        background-color: #3b9ad2 !important;
        color: white !important;
    }

    #s2id_columnsDrp {
        display: none !important;
    }

    #s2id_customerCountries.procurement {
        display: none !important;
    }

    #s2id_customerDrp.procurement {
        display: block !important;
    }

    #s2id_orderStatuses.procurement {
        display: none !important;
    }

    .modal {
        overflow: hidden !important;
    }
</style>


<script>

    $('.resetDate').click(function () {
        $(this).parent().parent().find('input').val("");
    });
    @if (Model.routeName == "quotesbysupplierreport")
    {

       <text>
    $(document).ready(function () {


        $("#SupplierId").change(function () {
            $('#supplierId').val($(this).val());

        });
        $("#quoteTypeId").change(function () {
            $('#quotetypeId').val($(this).val());

        });
        $("#quoteStatus").change(function () {
            $('#quoteStatusId').val($(this).val());

        });
        $("#DateFrom").change(function () {
            $('#dateStart').val($(this).val());

        });
        $("#DateTo").change(function () {
            $('#dateEnd').val($(this).val());

        });

    });
    </text>
    }
    @if (Model.routeName == "quotescountbyaccountmanager")
    {
        <text>
   
    </text>
    }
    @if (Model.routeName == "quotesbystatusreport")
    {
          <text>
    $(document).ready(function () {


        $("#quoteTypeId").change(function () {
            $('#quotetypeId').val($(this).val());

        });
        $("#quoteStatus").change(function () {
            $('#quoteStatusId').val($(this).val());

        });
        $("#DateFrom").change(function () {
            $('#dateStart').val($(this).val());

        });
        $("#DateTo").change(function () {
            $('#dateEnd').val($(this).val());

        });

    });
    </text>
    }
    @if (Model.routeName == "quotereport")
    {
        <text>
    $(document).ready(function () {

        $("#quoteTypeId").select2({ allowClear: true });
        $("#quoteTypeId").change(function () {
            $('#quotetypeId').val($(this).val());

        });

    });
    </text>
    }
    @if (Model.routeName== "quotescountbyaccountmanager")
    {
        <text>
    $(document).ready(function () {

       
        $("#AccountManagerId").change(function () {
            $('#accountManagerId').val($(this).val());

        });

    });
    </text>
    }

    @if (Model.routeName == "jdetraxxorders")
    {
        <text>
    $(document).ready(function () {


        $('.resetStartDate').click(function () {
            $(this).parent().parent().find('input').val("");
            $('#dateStart').val($(this).val());

        });
        $('.resetEndDate').click(function () {
            $(this).parent().parent().find('input').val("");
            $('#dateEnd').val($(this).val());

        });

        $("#StartDate").change(function () {
            $('#dateStart').val($(this).val());

        });

        $("#EndDate").change(function () {
            $('#dateEnd').val($(this).val());

        });
    });
    </text>
    }
    $(function () {


        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 5000);

        $(".select2-container select2-container-multi").attr("display", "none");

        var dateToday = new Date();
        $('.date-picker').datepicker({
            autoclose: true
        });

        @*if ("@Session["TempFilters"]" == "True") {
            var status = "@Model.Status";

            if (status != null && status != "") {
                $("#quoteStatus").val(status);
            }


            var quoteType = "@Model.QuoteTypeId";

            if (quoteType != null && quoteType != "") {
                $("#quoteTypeId").val(quoteType);
            }
            else {
                $("#quoteTypeId").val("0");
            }

            $("#BTN").click();
        }*@



        $("#SupplierId").select2({ allowClear: true });
       
        $("#AccountManagerId").select2();
        @if (ViewBag.Message == "NoUserError")
        {
            <text>
        showValidationError("Please select user", "lblUser");
        </text>
        }
        @if (ViewBag.Message == "NoCustomerError")
         {
             <text>
        showValidationError("Please select customer", "lblCustomer");
        </text>
         }
        @if (ViewBag.Message == "DateError")
        {
        <text>
        showNotification("Start date should not be greater than end date");
        </text>
        }
        @if (ViewBag.Message == "NoData")
        {
             <text>
        showNotification("Please generate the data");
        </text>
        }
        @if (ViewBag.Message == "MissingDateError")
        {
             <text>
        showNotification("Please provide both the date filters");
        </text>
        }
    });


    $("#BTN").on("click", function (e) {

        var url = "";

        @if (Model.routeName == "quotesbysupplierreport") {
                <text>
        var supplierId = $("#SupplierId").val();
        if (($("#SupplierId").val() == "" || $("#SupplierId").val() == null || $("#SupplierId").val() == "0") || $("#SupplierId").val() == "null") {

            showValidationError('Please select supplier', 'lblSupplier');
            return false;
        }
        </text>


        }

        @if (Model.routeName == "quotescountbyaccountmanager") {
             <text>
        var accountmanagerId = $("#AccountManagerId").val();
        if (($("#AccountManagerId").val() == "" || $("#AccountManagerId").val() == null || $("#AccountManagerId").val() == "0") || $("#AccountManagerId").val() == "null") {

            showValidationError('Please select account manager', 'lblAccountManager');
            return false;
        }
        </text>


         }
         else
         {
             <text>

        var quoteTypeId = $("#quoteTypeId").val();
        if (($("#quoteTypeId").val() == "" || $("#quoteTypeId").val() == null || $("#quoteTypeId").val() == "0") || $("#quoteTypeId").val() == "null" || $("#quoteTypeId").val() == undefined) {

            showValidationError('Please select quote type', 'lblquoteType');
            return false;
        }

        </text>
         }

        var quoteStatus = $("#quoteStatus").val();

        var startDate = $("#DateFrom").val();
        var endDate = $("#DateTo").val();
        var rotueId = $("#routeId").val();
        var routeName = $("#routeName").val();
        var reportName = $("#reportName").val();

        var values = {};

        @if (Model.routeName == "quotesbysupplierreport") {
            <text>

        values = {
            "QuoteTypeId": quoteTypeId, "SupplierId": supplierId, "StartDate": startDate, "EndDate": endDate, "Status": quoteStatus,
            "routeId": rotueId,
            "routeName": routeName,
            "reportName": reportName,
        }

        </text>


        }

        @if (Model.routeName == "quotesbystatusreport") {
            <text>

        values = {
            "QuoteTypeId": quoteTypeId, "StartDate": startDate, "EndDate": endDate, "Status": quoteStatus,
            "routeId": rotueId,
            "routeName": routeName,
            "reportName": reportName,
        }

        </text>


        }

        @if (Model.routeName == "quotescountbyaccountmanager") {
             <text>

        values = {
            "AccountManagerId": accountmanagerId,
            "routeId": rotueId,
            "routeName": routeName,
            "reportName": reportName,
        }

        </text>


         }


        $(".gridDiv").html("");
        $(".gridDiv").html("<table class='scrollbar-inner' id='grid'></table>");
        StartLoader();
        $.ajax({
            url: "/GetReportData",
            type: "POST",
            data: values,
            success: function (data) {
                EndLoader();
                if (data.msg != null && data.msg != "") {

                    if (data.msg == "DownloadExcel") {
                        window.location = "/ProcurementReports/ExportProcurementReportToExcel";
                        showNotification("Data is downloaded because it exceeds limit");
                    }
                    else if (data.msg == "NoRecordsFound") {
                        showNotification("No records found");
                    }
                    else {
                        showNotification("Start date should not be greater than end date");
                    }

                }
                else {

                    var table = JSON.parse(data.data);
                    var tableObj = [];
                    if (table.length > 0) {

                        for (i = 0; i < Object.keys(table[0]).length; i++) {

                            var obj = {};
                            obj.field = Object.keys(table[0])[i];
                            obj.sortable = true;
                            obj.align = 'center';
                            obj.headerCssClass = 'headerClass';
                            obj.cssClass = 'rowClass';


                            if (obj.field == "Action") {
                                obj.tooltip = "Details";
                            }

                            tableObj.push(obj);
                        }
                    }

                    if (table.length > 50) {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: { limit: 50, sizes: [50, 100, 500, 1000] },
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }
                    else {
                        var grid = $('#grid').grid({
                            dataSource: table,
                            columns: tableObj,
                            pager: null,
                            cache: false,
                            uiLibrary: 'bootstrap'
                        });
                    }

                    var refreshButton = $("button[data-role='page-refresh']");
                    if (refreshButton != undefined) {
                        refreshButton.hide();
                    }
                    var selectCounter = $("select[data-role='page-size']")[0];
                    if (selectCounter != undefined) {
                        selectCounter.style.width = "80px";
                    }
                    $(".gj-grid-wrapper").floatingScroll();
                    $(".gj-grid-wrapper").attr("style", "overflow:auto");

                    @if (Model.routeName == "quotesbystatusreport") {
                        <text>

                    $("div[title='New']").parent().css("background-color", "rgb(65, 167, 226)");
                    $("div[title='New']").css("color", "white");
                    $("div[title='In Progress']").parent().css("background-color", "rgb(255, 185, 57)");
                    $("div[title='In Progress']").css("color", "white");
                    $("div[title='Completed']").parent().css("background-color", "rgb(9, 197, 9)");
                    $("div[title='Completed']").css("color", "white");
                    $("div[title='Pending']").parent().css("background-color", "Grey");
                    $("div[title='Pending']").css("color", "white");
                    $("div[title='Cancelled']").parent().css("background-color", "rgb(249, 93, 93)");
                    $("div[title='Cancelled']").css("color", "white");

                    </text>
                        }




                }
            }
        });

    });

    @*@if (Model.routeName == "openorderscomment")
     {
         <text>
     $(document).ready(function () {

         $(".gridDiv").html("");
         $(".gridDiv").html("<table id='grid'></table>");
         StartLoader();
         $.ajax({
             url: "/ProcurementReports/GetOpenOrdersCommentData",
             type: "GET",
             processData: false,
             cache: false,
             contentType: false,
             success: function (data) {
                 EndLoader();
                 if(data!=null && data!="" && data!=undefined && data!="null"){

                     var table = JSON.parse(data.data);
                     $("#txt").val(data.data);
                     var tableObj = [];
                     if (table.length > 0) {

                         $("#exportExcel").removeAttr("disabled");
                         $("#exportPdf").removeAttr("disabled");

                         for (i = 0; i < Object.keys(table[0]).length; i++) {

                             var obj = {};
                             obj.field = Object.keys(table[0])[i];
                             obj.width = 200;
                             obj.sortable = true;
                             obj.align = 'left';
                             obj.headerCssClass = 'headerClass';
                             obj.cssClass = 'rowClass';

                             if (obj.field == "Order Comments") {
                                 obj.hidden = true;
                             }
                             if (obj.field == "Role") {
                                 obj.hidden = true;
                             }
                             if (obj.field == "Comment By") {
                                 obj.hidden = true;
                             }

                             if (obj.field == "MfgTrackingID") {
                                 obj.hidden = true;
                             }

                             if (obj.field == "Comments By Admin") {
                                 obj.width = 300;
                                 obj.tooltip = "Comment By Admin";
                             }
                             if (obj.field == "Comments By Supplier") {
                                 obj.width = 300;
                                 obj.tooltip = "Comment By Supplier";

                             }

                             tableObj.push(obj);
                         }

                         //showNotification("These are only top 1000 records, Please export to excel for more");
                     }

                     var grid = $('#grid').grid({
                         dataSource: table,
                         columns: tableObj,
                         pager: { limit: 50, sizes: [50,100,500,1000] },
                         cache: false,
                         uiLibrary: 'bootstrap'
                     });

                     var refreshButton = $("button[data-role='page-refresh']");
                     if (refreshButton != undefined)
                     {
                         refreshButton.hide();
                     }
                     var selectCounter = $("select[data-role='page-size']")[0];
                     if (selectCounter != undefined) {
                         selectCounter.style.width = "80px";
                     }

                     $(".gj-grid-wrapper").floatingScroll();
                     $(".gj-grid-wrapper").attr("style","overflow:auto");
                 }
                 else
                 {
                     showNotification("Something went wrong or no records found, please try again later");
                     setTimeout(function(){
                         $("#redirectToParent").click();
                     }, 3000)
                 }

             },
             error:function(err){
                 EndLoader();
                 showNotification("Something went wrong or no records found, please try again later");
                 setTimeout(function(){
                     $("#redirectToParent").click();
                 }, 3000)

             }
         });

     });

         function ViewComment(id,isAdmin) {
             var idstring = id.toString();
             StartLoader();
             $(".gridCommentDiv").html("");
             $(".gridCommentDiv").html("<table id='commentgrid'></table>");
             $.ajax({
                 cache: false,
                 url: "/ProcurementReports/GetOpenOrderCommentReportsCommentBySessionTrackingNumber?sessionTrackingNumber=" + idstring+"&isAdmin="+isAdmin,
                 type: "GET",
                 success: function (data) {
                     if (data.data != null && data.data != "" && data.data != undefined) {

                         var table = JSON.parse(data.data);
                         $("#txt").val(data.data);
                         var tableObj = [];
                         if (table.length > 0) {

                             for (i = 0; i < Object.keys(table[0]).length; i++) {

                                 var obj = {};
                                 obj.field = Object.keys(table[0])[i];
                                 obj.width = 10;
                                 obj.sortable = true;
                                 obj.align = 'left';
                                 obj.headerCssClass = 'headerClass';
                                 obj.cssClass = 'rowClass';

                                 if(obj.field=="Comments"){
                                     obj.width = 300;
                                 }

                                 tableObj.push(obj);
                             }

                         }

                         var grid = $('#commentgrid').grid({
                             dataSource: table,
                             columns: tableObj,
                             pager: null,
                             cache: false,
                             uiLibrary: 'bootstrap'
                         });

                         var refreshButton = $("button[data-role='page-refresh']");
                         if (refreshButton != undefined)
                         {
                             refreshButton.hide();
                         }
                         var selectCounter = $("select[data-role='page-size']")[0];
                         if (selectCounter != undefined) {
                             selectCounter.style.width = "80px";
                         }

                         $(".gj-grid-wrapper").floatingScroll();
                         $(".gj-grid-wrapper").attr("style","overflow:auto");

                         //$("#commentgrid .headerClass").attr("style","display:none");

                         $('#commentModal').modal('show');
                     }
                     else {
                         showNotification("Something went wrong, please try again later!");
                     }
                 }
                 , complete: function (data) {
                     EndLoader();
                 }
             });
         }
         </text>

     }*@

    function showValidationError(msg, label) {
        $('#' + label).text(msg.trim()).fadeIn('slow').delay(3000).fadeOut('slow');
    }

    $("#DetailBtn").click(function () {
        alert("abc");
    });



    function GetQuoteDetailsBySupplier(obj) {

        var ids = $(obj).attr("ids");
        var quoteTypeId = $(obj).attr("quoteTypeId");
        var quoteStatus = $(obj).attr("status");
        var routeId = $("#routeId").val();
        var startDate = $(obj).attr("startDate");
        var endDate = $(obj).attr("endDate");
        var supplierId = $(obj).attr("supplierId");
        //var model = { QuoteIds: ids, QuoteTypeId: quoteTypeId };
        //$.ajax({
        //    url: '/PriceDeskReports/Details',
        //    type: "POST",
        //    data: model,
        //    success: function (data) {
        //        EndLoader();
        //    }
        //});
        window.location = "/PriceDeskReports/GotoDetails?ids=" + ids + "&quoteTypeId=" + quoteTypeId + "&status=" + quoteStatus + "&routeId=" + routeId + "&supplierId=" + supplierId + "&startDate=" + startDate + "&endDate=" + endDate;
    }


    $("#exportExcel").on("click", function (e) {

        @if (Model.routeName == "quotesbysupplierreport")
        {
            <text>
        var supplierId = $("#SupplierId").val();
        if (($("#SupplierId").val() == "" || $("#SupplierId").val() == null || $("#SupplierId").val() == "0") || $("#SupplierId").val() == "null") {

            showValidationError('Please select supplier', 'lblSupplier');
            return false;
        }




        var quoteTypeId = $("#quoteTypeId").val();
        if (($("#quoteTypeId").val() == "" || $("#quoteTypeId").val() == null || $("#quoteTypeId").val() == "0") || $("#quoteTypeId").val() == "null" || $("#quoteTypeId").val() == undefined) {

            showValidationError('Please select quote type', 'lblquoteType');
            return false;
        } else {
            $("#ProcurementReportsFormExcel").submit();
        }


        </text>
        }
         @if (Model.routeName == "quotescountbyaccountmanager")
         {
             <text>
      
             if (($("#AccountManagerId").val() == "" || $("#AccountManagerId").val() == null || $("#AccountManagerId").val() == "0") || $("#AccountManagerId").val() == "null") {

                 showValidationError('Please select account manager', 'lblAccountManager');
                 return false;
             } else {
                 $("#ProcurementReportsFormExcel").submit();
             }
             </text>
         }

       
        @if (Model.routeName == "quotesbystatusreport")
        {
            <text>
        var quoteTypeId = $("#quoteTypeId").val();
        if (($("#quoteTypeId").val() == "" || $("#quoteTypeId").val() == null || $("#quoteTypeId").val() == "0") || $("#quoteTypeId").val() == "null" || $("#quoteTypeId").val() == undefined) {

            showValidationError('Please select quote type', 'lblquoteType');
            return false;
        } else {
            $("#ProcurementReportsFormExcel").submit();
        }
        </text>
        }
        @if (Model.routeName == "quotereport") {
            <text>
        var quoteTypeId = $("#quoteTypeId").val();
        if (($("#quoteTypeId").val() == "" || $("#quoteTypeId").val() == null || $("#quoteTypeId").val() == "0") || $("#quoteTypeId").val() == "null" || $("#quoteTypeId").val() == undefined) {

            showValidationError('Please select quote type', 'lblquoteType');
            return false;
        }


        $("#ProcurementReportsFormExcel").submit();
        </text>
        }
        @if (Model.routeName == "jdetraxxorders")
         {
             <text>
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();
        if (startDate == undefined || startDate == "" || startDate == null) {
            showValidationError('Please enter start date', 'lblStartDate');
            return false;
        }
        else if (endDate == undefined || endDate == "" || endDate == null) {
            showValidationError('Please enter end date', 'lblEndDate');
            return false;
        }
        $("#ProcurementReportsFormExcel").submit();
        </text>

         }

    });
</script>