﻿@model OneSourceAdminCore.Model.OneStreetCustomerUserModel
@{
    ViewBag.Title = "User Setup";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/assets/global/plugins/angularjs/angular.min.js"></script>

<script>
    var myApp = angular.module("myModule", []);
    myApp.controller("myController", function ($scope, $http) {

        $scope.getUsers = function (id) {


            $scope.$apply(function () {
                $scope.users = null;
            });
            if (id != "") {
                StartLoader();
                $http.get('/User/GetUsers' + '?' + new Date().toString(), { params: { customerid: id } }).success(function (response) {
                    $scope.users = response;
                    EndLoader();
                });
            }

        };


                    
        $scope.reset = function () {
            $("#CustomerID").select2().val("0").trigger("change");
            $("#UserId").select2().val("0").trigger("change");
            
            $('#chkOnstreetAccess').prop("checked", false);

            $scope.users = null;
        };

    });
</script>
<div ng-app="myModule" ng-controller="myController" id="myController">
    <div class="clearfix"></div>
    <div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
                                       margin-right: -19px;">
        <div class="col-md-3" style="padding:10px; color:#FFF;"><b> OneStreet > User Setup </b></div>
        <div class="col-md-3" style="padding:10px;"></div>
        <div class="col-md-3" style="padding:10px;"></div>
    </div>
    <div style="text-align: center; color: blue; font-weight: 600; margin-top: 10px; margin-bottom: -20px;">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span>@ViewBag.Message</span>
            </div>
        }
    </div>
    @*@using (Html.BeginForm("UpdateCustomerUserSetting", "User", FormMethod.Post, new { @id = "UserForm" }))
        {*@
    @if (ViewBag.AddEditAccess == true)
    {
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style=" padding-left: 20px;"><span style="color:red">* </span>Customer </label>
                    <div class="col-md-6">
                        <input type="hidden" name="CustomerName" id="CustomerName">
                        <input type="hidden" name="CustomerAlertId" id="CustomerAlertId">
                        @Html.DropDownList("CustomerId", new SelectList(Model.Customers,
                        "Key", "Value"),
  new { @id = "CustomerID", @valueFor = "CustomerName", @class = "", @tabindex = "-1" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3" style="padding-left: 20px;"><span style="color:red">&nbsp;&nbsp; </span>User</label>
                    <div class="col-md-6">
                        <select class="" id="UserId" name="UserId" tabindex="-1">
                            @*<option value="0">All</option>*@
                            <option ng-repeat="row in users" value="{{row.UserID}}">{{row.UserName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <label class="control-label col-md-3"><span style="color: red; padding-left: 11px;"> </span>&nbsp;Authorise for <br><span style="color: red; padding-left: 11px;"> </span>&nbsp;OneStreet</label>
                <div class="col-md-7">
                    <div class="">
                        <input type="hidden" name="OnstreetAccess" id="OnstreetAccess">
                        <input type="checkbox" id="chkOnstreetAccess">
                    </div>
                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 15px;">

            <div class="col-md-4"></div>
            <div class="col-md-7" style="padding-left: 23px;">
                <button type="button" class="btn btn-default btnSubmit" style="float: left; margin-left: 20px; margin: 0px;" id="per">Submit</button>
                <button type="button" class="btn btn-default btnReset" style="float: left; margin-left: 5px;" id="per" ng-click="reset()">Reset</button>
            </div>
            <br>
            <br>
        </div>
    }
    @*}*@
    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #399bd3;color: white;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="font-weight:800"></h3>
                </div>
                <div class="modal-body">
                    <p class="msg" style="color: red;">These users are already authorised for Onestreet</p>
                    <div class="row modelbodyDiv">

                        <div class="col-md-11" style="margin-top: 15px;padding-right:0px">
                            <table class="table" style="margin-bottom: 0px !important;">
                                <thead style="color: #fff;background-color: #399bd3;">
                                    <tr>
                                        <th style="width: 40%;font-size: 14px;">Users</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>

                        <div class="col-md-12"></div>


                        <div class="col-md-11" style="max-height:200px !important;overflow:scroll;overflow-x:hidden">
                            <table class="table detailtable">
                                <tbody class="detailtablebody"></tbody>
                            </table>

                        </div>


                    </div>
                    <p style="color: red;padding-top: 15px;">Select update to change authorization for users of this customer.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary allowAll" onclick="allowAll()">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
</div>
<br>
<div class="row" style="margin-top: 40px;">
    <div class="col-md-12">
        @using GridMvc.Html;
        @if (Model.OneStreetUserInfo != null && Model.OneStreetUserInfo.Count > 0)
        {
            @Html.Grid(Model.OneStreetUserInfo).Columns(columns =>
              {
                  columns.Add(C => C.CustomerName).Sortable(true).Filterable(true).Titled("Customer").Encoded(false).Sanitized(false).SetWidth(5)
        .RenderValueAs(o => @<span>
                <input type="hidden" value="@o.OneStreetUserAccessID">
                <input type="hidden" value="@o.CustomerID">
                <input type="hidden" value="@o.UserID">
                <input type="hidden" value="@o.OnstreetAccess.ToString()">

                @(String.IsNullOrEmpty(o.CustomerName) == true ? "All Customer" : o.CustomerName)
            </span>);

                           columns.Add(c => c.UserName).Sortable(true).Filterable(true).Titled("User").SetWidth(30);
                           columns.Add(C => C.OnstreetAccess).Sortable(true).Filterable(true).Titled("Authorised").Encoded(false).Sanitized(false).SetWidth(5)
.RenderValueAs(o => @<span style="color:@(o.OnstreetAccess == true ? "Green" : "Red")">@(o.OnstreetAccess == true ? "Yes" : "No")</span>);
                       if (ViewBag.AddEditAccess == true)
                       {
                           columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(30).
RenderValueAs(o => @<a style="color:blue" onclick="EditAlert(this)">Edit </a>);
                       }
                   }).WithPaging(15)
        }
    </div>
</div>
<script>
    $(function () {
        StartLoader();
        setTimeout(function () {
            $('.alert-info').slideUp();
        }, 2000);

        var url = window.location.href.split('?');
        if (url.length > 1) {
            var customerId = url[1].split('&')[0].split('=')[1];
            angular.element(document.getElementById('myController')).scope().getUsers(customerId);
        }

    });
    $(window).ready(function () {
        $("#CustomerID").prepend("<option value='0'>--Select--</option>");
        $("#CustomerID").select2().val("0").trigger("change");

        $("#UserId").prepend("<option value='0'>--All--</option>");
        $("#UserId").select2().val("0").trigger("change");

        EndLoader();

    });

    $('#CustomerID').change(function () {
        angular.element(document.getElementById('myController')).scope().getUsers($(this).val());
        $("#UserId").select2().val("0").trigger("change");
        $('#back-to-top').click();
    });
    $('#UserForm').submit(function () {

        if ($('#CustomerID').val() == "" || $('#UserId').val() == "") {
            alert("Please select all fields");
            return false;
        }
    });
    $('#chkOnstreetAccess').click(function () {
        $('#OnstreetAccess').val($(this).prop('checked'));
    });

    function EditAlert(event) {

        var customerID = $($(event).parent().parent().find('input:hidden')[1]).val();

        var userID = $($(event).parent().parent().find('input:hidden')[2]).val();

        //$('#CustomerID').val();
        $("#CustomerID").select2().val(customerID).trigger("change");

        var accessStatus = $($(event).parent().parent().find('input:hidden')[3]).val();

        angular.element(document.getElementById('myController')).scope().getUsers(customerID);
        StartLoader();
        setTimeout(function () {
            $("#UserId").select2().val(userID).trigger("change");
            EndLoader();
        }, 2000);

        $('#chkOnstreetAccess').prop("checked", accessStatus == "True" ? true : false);
        $('#OnstreetAccess').val($('#chkOnstreetAccess').prop('checked'));

        $('body').animate({ scrollTop: 0 }, 'slow');
    }

    $(document).ready(function () {
        $(".page-sidebar-menu").find(".onestreet").addClass("open");
        $(".page-sidebar-menu .onestreet").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .onestreet").find(".usersetup").addClass("active");
    });
    $('.btnSubmit').click(function () {
        if ($('#CustomerID').val() == "") {
            alert("Please provide Customer");
            return false;
        }
        GetCustomerUser();
    });
    function GetCustomerUser() {
        StartLoader();
        var data = {
            customerID: $('#CustomerID').val(),
            userID: $('#UserId').val()
        };
        $.ajax({
            url: '/User/GetSelectedCustomerUser',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data.length > 0) {
                    html = "";

                    if (data == "All") {
                        // html += "<tr><td>All</td></tr>";
                        $('.msg').text("All users are already authorized for this customer");
                        $('.modelbodyDiv').hide();
                    }
                    else if (data == "AllowToAdd") {
                        allowAll();
                        return false;
                    }
                    else {
                        $('.msg').text("These users are already authorized for Onestreet");
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr><td>" + data[i].UserName + "</td></tr>";
                        }
                        $('.modelbodyDiv').show();
                    }
                    $('#myModal .detailtablebody').html(html);
                    $('.modal-title').text($('#CustomerID option:selected').text());
                    $('#myModal').modal('show');



                }
                else {
                    allowAll();
                }
                EndLoader();
            }
        });
    }
    function allowAll(val) {
        $('<form action="/user/updatecustomerusersetting" id="UserForm1"><input type="hidden" name="UserID" value=' + $('#UserId').val() + '><input type="hidden" name="CustomerID" value=' + $('#CustomerID').val() + '><input type="hidden" name="OnstreetAccess" value="' + $('#chkOnstreetAccess').prop("checked") + '"></form>').appendTo('body').submit();
    }
</script>