﻿@using GridMvc.Html
@model  List<OneSourceAdminCore.Entity.Sp_GetWorkFlowList_AdminR_Result>

@{
    ViewBag.Title = "Workflow";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Support > Workflow</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;"><a href="/support/workflow/new"><input class="btn btn-default topAddNewButton" style="float:right" value="Add Workflow" type="button"></a></div>
</div>

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content">
        <h1>Support - Workflow</h1>
        <span>Search for workflows, select a link below to view or edit a current workflow, or click the icon to the right to create a new one.</span>
        <hr />

        <div class="col-md-12">

            <div class="col-md-3">


            </div>

            <div class="col-md-6">
                <form action="@Url.Action("Index", "Workflows")" method="GET">
                    <div class="col-md-8">
                        <input class="form-control" name="search" type="text" maxlength="50">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn blue-Btn" value="Search">

                    </div>
                </form>
            </div>

        </div>
        <div style="font-size: 11px;">
            @if (Model != null && Model.Count > 0)
            {
                <div>
                    @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(C => C.WorkflowName).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Workflow Name").SetWidth(30);

                            columns.Add(C => C.IsActive).RenderValueAs(x => (@x.IsActive ? "Yes" : "No")).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("IsActive").SetWidth(20);

                            columns.Add(C => C.LastRun).Encoded(false).Sanitized(false).Sortable(true).Titled("Last Run").SetWidth(20);

                            columns.Add(C => C.LastUpdated).Encoded(false).Sanitized(false).Sortable(true).Titled("Last Updated").SetWidth(20);

                            columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" id="@o.WorkflowId" class="actionLink">View </a>);

                        }).WithPaging(50)
                </div>
            }
            else
            {
                <hr />
                <h4 style="">No data found.</h4>
            }


        </div>
    </div>
</div>

<div class="modal" id="wfDetailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #3b9ad2; color: white; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(59, 154, 210); background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <b>Workflow Wizard</b>
                </h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="currentWfId" id="currentWfId" value="0" />
                <div class="col-md-6">
                    <label>Name :</label>
                </div>
                <div class="col-md-6 lblName">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Description :</label>

                </div>
                <div class="col-md-6 lblDesc">
                    <label class="add1">-</label>

                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Workflow Sequence:</label>
                </div>
                <div class="col-md-6 lblSeq">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Cancel on Error:</label>

                </div>
                <div class="col-md-6 lblErro">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Execute Once Only per SLA: </label>
                </div>
                <div class="col-md-6 lblSLa">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label>Make Inactive On Completion:</label>

                </div>
                <div class="col-md-6 lblInactive">
                    <label>-</label>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <span id="workflowCopyBtn" class="btn btn-primary">Copy</span>
                <span id="workflowEditBtn" class="btn btn-primary">Edit</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="clearfix"></div>


<style>
    #wfDetailModal label {
        font-size: 12px;
        font-weight: bold;
        overflow-wrap: normal;
    }

    #wfDetailModal .modal-body {
        font-size: 11px;
    }

    #wfDetailModal .col-md-6 {
        margin-bottom: 5px;
    }
</style>

<script>


    $(document).ready(function () {

        $(".actionLink").click(function () {
            var wfId = $(this).attr("id");
            $("#currentWfId").val(wfId);
            // var actionModal = $("#actionDetailModal");
            showHideLoader(1);
            $.ajax({
                url: '/Workflows/GetWorkFlowDetails',
                type: 'Get',
                cache: false,
                data: { id: wfId },
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null && data != 'null' && data != "0") {
                        $("#wfDetailModal .lblName").html(data.Name);
                        $("#wfDetailModal .lblDesc").html(data.Description);
                        $("#wfDetailModal .lblSeq").html(data.Steps);
                        $("#wfDetailModal .lblErro").html(data.ErrorCancel);
                        $("#wfDetailModal .lblSLa").html(data.ExecuteSlaPer);
                        $("#wfDetailModal .lblInactive").html(data.InactiveCompletion);
                        $("#wfDetailModal").modal("show");
                    } else {
                        alert("Error while processing.");
                    }
                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });


        });

        $("#workflowCopyBtn").click(function () {
            var id = $("#currentWfId").val();
          
            if (id != null && id !== '' && id !== "0") {
                showHideLoader(1);
                $.ajax({
                    url: '/Workflows/CopyWorkFlow',
                    type: 'Get',
                    cache: false,
                    data: { id: id },
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data != null && data==true) {
                            alert("Workflow copied");
                            location.reload();
                        } else {
                            alert("Error while processing.");
                            location.reload();
                        }
                    },
                    complete: function (data) {
                        showHideLoader(0);
                    }
                });
            }


        });


    });

</script>
