

/* Global */
.container { max-width: 960px; }↓
body {
    background: #fff;
    padding: 40px;
}  

img { max-width:100%; }

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }


/* Container */
.container-fluid {
    background: #FFFFFF;
    margin: 40px auto 10px;
    padding: 20px 40px 0;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
    }
.page-header h3 {
        line-height: 0.88rem;
        color: #000;
        }



/* Thumbnail Box */
.caption h4 {
    font-size:1.80rem;
    color: #444;
	font-weight:600;
    }
.caption p {
        font-size: 1.25rem;
        color:#000 /*#999*/;
        }
.btn.btn-mini {
            font-size: 0.63rem;
			background-color:#06F;
            }


.captions h4 {
    font-size:1.60rem;
    color: #444;
    }
.captions p {
        font-size: 1.10rem;
        color: #ff0000;
        font-weight: bold;
        }
.btn.btn-mini {
            font-size: 0.63rem;
			background-color:#06F;
            }

/* Carousel Control 
.control-box {
    text-align: right;
    width: 100%;
    }*/
.carousel-control{
        color: #000 !important;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 16px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 0px 0px;
        position: absolute;
        height: 30px;
        width: 15px;
        top: 0;
		width:1500px;
		background-color:#F00;
  background: none !important;
        }




/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}

