

#jcl-demo .carousel {
   float: left;
    height: 130px;
    left: -5000px;
    overflow: hidden;
    padding-left: 0;
    position: relative;
    visibility: hidden;
	margin-left: 50px;
    width: 87% !important;
}


.lcd-img{
	margin-top: 35px !important;
	}
.lcd-2{
	padding-left:13px;	
	}
	
.lcd-3{
		padding-left:13px;
	}	
	
.lcd-4{
	margin-left: 48px !important;	
	}	

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-demo .carousel>ul>li>img {
        background: none repeat scroll 0 0 #fff;
	    margin: 24px 10px 10px 0;
		vertical-align: middle;
}

    /* Styling for text based carousel content. Only width and height are mandatory */
    #jcl-demo .carousel>ul>li>p {
        font-size: 12px;
		margin-left: 100px;
		margin-top: -61px;
		width: 100%;
    }

#jcl-demo .carousel>ul>li>span{
   color: red;
    font-size: 13px;
    font-weight: bold;
    margin-left: 115px;}

/* Styles for PREV and NEXT anchor buttons */
#jcl-demo a.prev, #jcl-demo a.next, #jcl-demo a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
    border-radius: 8px;
    float: left;
}
    #jcl-demo a.prev.disabled, #jcl-demo a.next.disabled,
    #jcl-demo a.prev.disabled:hover, #jcl-demo a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-demo a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    
    #jcl-demo a.next {
        margin: 50px 0 0 -5px;
        text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
        padding: 21px 0;
        width: 45px;
        position: relative;
        right: -3px;
}

#jcl-demo a.prev
{
		margin: 55px 5px 0 0;
        text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		padding: 4px 1px;
		width: 45px;
		position: relative;
		left: 55px !important;
}
        #jcl-demo a.prev:hover, #jcl-demo a.next:hover, #jcl-demo a.go:hover {
            
        }
		
		#jcl-demo a.next:hover
		{
			
			/*background:url(../images/arrows.png) no-repeat;*/
			 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
		}

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-demo .externalControl button,
#jcl-demo .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-demo .externalControl a.next, #jcl-demo .externalControl a.prev, #jcl-demo .externalControl a.go,
#jcl-demo .imageSliderExt a.next, #jcl-demo .imageSliderExt a.prev, #jcl-demo .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#jcl-demo .widget img {
    cursor: pointer;
}
#jcl-demo .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-demo .vertical {
    margin-left: 170px;
}

#jcl-demo .imageSlider .carousel>ul>li>img,
#jcl-demo .imageSliderExt .carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-demo .imageSlider .carousel>ul>li>p,
#jcl-demo .imageSliderExt .carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

.carousel ul li {
    padding: 0 48px !important;
	width: 385px !important;
	height: 125px !important;
	margin-bottom: 0 !important;
	border-right: 1px solid #cbcdcc;
}
 
  /*top-slider-end*/
  
 /*producr-nav-slider-start*/ 
  
#jcl-demo1
{
    margin: 0px 0 0;
	padding: 0px 0;
	background: #282828;
	position: relative;
	float: left;
	width: 58%;
   }

#jcl-demo1 .carousel_nav {
    float: left;
    height: 58px;
    position: relative;
    visibility: hidden;
    width: 95% !important;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-demo1 .carousel_nav>ul>li>img {
        background: none repeat scroll 0 0 #fff;
	    margin: 24px 10px 10px 0;
		vertical-align: middle;
}

    /* Styling for text based carousel content. Only width and height are mandatory */
    #jcl-demo1 .carousel_nav>ul>li>p {
        font-size: 11px;
		margin-left: 100px;
		margin-top: -61px;
		width: 100%;
    }

#jcl-demo1 .carousel_nav>ul>li>span{
   color: red;
    font-size: 13px;
    font-weight: bold;
    margin-left: 115px;}

/* Styles for PREV and NEXT anchor buttons */
#jcl-demo1 a.prev, #jcl-demo1 a.next, #jcl-demo1 a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
    border-radius: 8px;
    float: left;
}
    #jcl-demo1 a.prev.disabled, #jcl-demo1 a.next.disabled,
    #jcl-demo1 a.prev.disabled:hover, #jcl-demo1 a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-demo1 a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-demo1 a.prev {
        margin: 50px -5px 0 0;
        text-indent: 7px;
    }
    #jcl-demo1 a.next {
		text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		-webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
		transition: all 0.2s;
		width: 45px;
		position: relative;
		float: right;
		margin-top: 2px;
}

#jcl-demo1 a.prev
{
		margin: 55px 5px 0 0;
        text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		transform: rotate(180deg);
		padding: 4px 1px;
		width: 45px;
		position: relative;
		left: 55px !important;
}
        #jcl-demo1 a.prev:hover, #jcl-demo1 a.next:hover, #jcl-demo1 a.go:hover {
            
        }
		
		#jcl-demo1 a.next:hover
		{
			
			/*background:url(../images/arrows.png) no-repeat;*/
			 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
		}

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-demo1 .externalControl button,
#jcl-demo1 .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-demo1 .externalControl a.next, #jcl-demo1.externalControl a.prev, #jcl-demo1 .externalControl a.go,
#jcl-demo1 .imageSliderExt a.next, #jcl-demo1 .imageSliderExt a.prev, #jcl-demo1 .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#jcl-demo1 .widget img {
    cursor: pointer;
}
#jcl-demo1 .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-demo1 .vertical {
    margin-left: 170px;
}

#jcl-demo1 .imageSlider .carousel_nav>ul>li>img,
#jcl-demo1 .imageSliderExt .carousel_nav>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-demo1 .imageSlider .carousel_nav>ul>li>p,
#jcl-demo1 .imageSliderExt .carousel_nav>ul>li>p {
    width: 380px;
    height: 280px;
}

.carousel_nav ul li {
    padding: 16px 0px !important;
	width: 178px !important;
	height: 58px !important;
	margin-bottom: 0 !important;
	font-size: 21px;
}
.carousel_nav ul li a{
	color:#FFF;	
	font-size: 16px;
	text-decoration: none;
	
	}

.carousel_nav ul li.active{
	 background:#636363;
	 padding:18px 14px 11px 14px;
	}

.carousel_nav ul li:hover{
	/*background:#666;*/
	}	


 /*producr-nav-slider-end*/ 

		/*laptop-slider-css-start*/

#jcl-demos
{
	float: right;
    width: 97%;
	
}

#jcl-demos .laptop_carousel {
margin-left: 38px;
width: 90% !important;
border-bottom:1px solid #e9e9e9;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-demos .laptop_carousel>ul>li>img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f0f0f0;
    margin-left: -15px;
    margin-top: 24px;
    padding: 16px 11px 43px;
    vertical-align: middle;
    width: 129px;
	height: 134px;
}

    /* Styling for text based carousel content. Only width and height are mandatory */
    #jcl-demos .laptop_carousel>ul>li>p {
        width: 130px;
        height: 98px;

        margin: 10px 10px 10px 0;
        border: 1px solid #808080;
        border-radius: 5px;
        line-height: normal;
        background-color: #fff;
        padding: 10px;
    }

/* Styles for PREV and NEXT anchor buttons */
#jcl-demos a.prev, #jcl-demo a.next, #jcl-demo a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
   	margin-top: 25px;
	margin-left: 17px;
}
    #jcl-demos a.prev.disabled, #jcl-demo a.next.disabled,
    #jcl-demos a.prev.disabled:hover, #jcl-demo a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-demos a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-demos a.prev {
        margin: 50px -5px 0 0;
        text-indent: 7px;
    }
    #jcl-demos a.next {
        margin: 50px 0 0 -5px;
        text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
        padding: 21px 0;
        /*width: 45px;*/
        position: relative;
        right: 7px;
}

#jcl-demos a.prev
{
		background: no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		float:right;
		transform: rotate(180deg);
		width: 45px;
}
        #jcl-demos a.prev{
	background:url(../images/bottom-slider.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 75px;
    left: -4px;
    margin-top: 61px;
    position: relative;
    text-indent: 10px;
    transform: rotate(180deg);
    width: 45px;
        }
	
        #jcl-demos a.next{
            
	background:url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 75px;
    left: -4px;
    margin-top: 61px;
    position: relative;
    text-indent: 10px;
    transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
    width: 45px;
        }	
		
		
		
.cs_op_next_prev{
    display: block;  width: 26px;   height: 30px;    line-height: 1;    color: ghostwhite;    text-decoration: none; font-family: Arial, sans-serif;
    font-size: 25px; 	margin-top: 25px;	margin-left: 0px; float:right;}		
		
		
		#jcl-demos a.next:hover
		{
			
			/*background:url(../images/arrows.png) no-repeat;
			 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;*/
		}

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-demos .externalControl button,
#jcl-demos .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-demos .externalControl a.next, #jcl-demos .externalControl a.prev, #jcl-demos .externalControl a.go,
#jcl-demos .imageSliderExt a.next, #jcl-demos .imageSliderExt a.prev, #jcl-demos .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#jcl-demos .widget img {
    cursor: pointer;
}
#jcl-demos .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-demos .vertical {
    margin-left: 170px;
}

#jcl-demos .imageSlider .laptop_carousel>ul>li>img,
#jcl-demos .imageSliderExt .laptop_carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-demos .imageSlider .laptop_carousel>ul>li>p,
#jcl-demos .imageSliderExt .laptop_carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

.laptop_carousel ul li {
height: 240px !important;
margin-bottom: 0 !important;
margin-left: -4px;
margin-top: 9px !important;
padding-left: 60px;
width: 180px !important;
}

   /*laptop-slider-css-end*/
     /* new network-slider-css-start*/
   
   
   #jcl-demos2
{
	float: right;
    width: 97%;
	
	
}

#jcl-demos2 .networkings_carousel {
	margin-left: 38px;
	width: 92% !important;
	border-bottom:1px solid#CCC;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-demos2 .networkings_carousel>ul>li>img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f0f0f0;
    margin-left: -15px;
    margin-top: 24px;
    padding: 16px 11px 43px;
    vertical-align: middle;
    width: 129px;
	height: 134px;
}

    /* Styling for text based carousel content. Only width and height are mandatory */
    #jcl-demos2 .networkings_carousel>ul>li>p {
        width: 130px;
        height: 98px;

        margin: 10px 10px 10px 0;
        border: 1px solid #808080;
        border-radius: 5px;
        line-height: normal;
        background-color: #fff;
        padding: 10px;
    }

/* Styles for PREV and NEXT anchor buttons */
#jcl-demos2 a.prev, #jcl-demo a.next, #jcl-demo a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
   	margin-top: 25px;
	margin-left: 17px;
}
    #jcl-demos2 a.prev.disabled, #jcl-demo a.next.disabled,
    #jcl-demos2 a.prev.disabled:hover, #jcl-demo a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-demos2 a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-demos2 a.prev {
        margin: 50px -5px 0 0;
        text-indent: 7px;
    }
    #jcl-demos2 a.next {
        margin: 50px 0 0 -5px;
        text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
        padding: 21px 0;
        /*width: 45px;*/
        position: relative;
        right: 7px;
}

#jcl-demos2 a.prev
{
		background: no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		float:right;
		transform: rotate(180deg);
		width: 45px;
}
        #jcl-demos2 a.prev{
	background:url(../images/bottom-slider.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 75px;
    left: -4px;
    margin-top: 61px;
    position: relative;
    text-indent: 10px;
    transform: rotate(180deg);
    width: 45px;
        }
	
        #jcl-demos2 a.next{
            
	background:url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 75px;
    left: 14px;
    margin-top: 61px;
    position: relative;
    text-indent: 10px;
    transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
    width: 45px;
        }	
		
		
		#jcl-demos2 a.next:hover
		{
			
			/*background:url(../images/arrows.png) no-repeat;
			 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;*/
		}

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-demos2.externalControl button,
#jcl-demos2 .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-demos2 .externalControl a.next, #jcl-demos2 .externalControl a.prev, #jcl-demos2 .externalControl a.go,
#jcl-demos2 .imageSliderExt a.next, #jcl-demos2 .imageSliderExt a.prev, #jcl-demos2 .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#jcl-demos2 .widget img {
    cursor: pointer;
}
#jcl-demos2 .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-demos2 .vertical {
    margin-left: 170px;
}

#jcl-demos2 .imageSlider .networkings_carousel>ul>li>img,
#jcl-demos2 .imageSliderExt .networkings_carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-demos2 .imageSlider .networkings_carousel>ul>li>p,
#jcl-demos2 .imageSliderExt .networkings_carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

.networkings_carousel ul li {
height: 240px !important;
margin-bottom: 0 !important;
margin-left: -4px;
margin-top: 9px !important;
padding-left: 60px;
width: 180px !important;
}
   
    /* new network-slider-css-end*/
	/*servers slider start*/
   #jcl-demos3
{
	float: right;
    width: 97%;
	
}

#jcl-demos3 .servers_carousel {
margin-left: 38px;
width: 95% !important;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-demos3 .servers_carousel>ul>li>img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f0f0f0;
    margin-left: -15px;
    margin-top: 24px;
    padding: 16px 11px 43px;
    vertical-align: middle;
    width: 129px;
	height: 134px;
}

    /* Styling for text based carousel content. Only width and height are mandatory */
    #jcl-demos3 .servers_carousel>ul>li>p {
        width: 130px;
        height: 98px;

        margin: 10px 10px 10px 0;
        border: 1px solid #808080;
        border-radius: 5px;
        line-height: normal;
        background-color: #fff;
        padding: 10px;
    }

/* Styles for PREV and NEXT anchor buttons */
#jcl-demos3 a.prev, #jcl-demo a.next, #jcl-demo a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
   	margin-top: 25px;
	margin-left: 17px;
}
    #jcl-demos3 a.prev.disabled, #jcl-demo a.next.disabled,
    #jcl-demos3 a.prev.disabled:hover, #jcl-demo a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-demos3 a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-demos3 a.prev {
        margin: 50px -5px 0 0;
        text-indent: 7px;
    }
    #jcl-demos3 a.next {
        margin: 50px 0 0 -5px;
        text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
        padding: 21px 0;
        /*width: 45px;*/
        position: relative;
        right: 7px;
}

#jcl-demos3 a.prev
{
		background: no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		float:right;
		transform: rotate(180deg);
		width: 45px;
}
        #jcl-demos3 a.prev{
	background:url(../images/bottom-slider.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 75px;
    left: -4px;
    margin-top: 61px;
    position: relative;
    text-indent: 10px;
    transform: rotate(180deg);
    width: 45px;
        }
	
        #jcl-demos3 a.next{
            
	background:url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 75px;
    left: 26px;
    margin-top: 61px;
    position: relative;
    text-indent: 10px;
    transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
    width: 45px;
        }	
		
		
		#jcl-demos3 a.next:hover
		{
			
			/*background:url(../images/arrows.png) no-repeat;
			 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;*/
		}

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-demos3.externalControl button,
#jcl-demos3 .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-demos3 .externalControl a.next, #jcl-demos3 .externalControl a.prev, #jcl-demos3 .externalControl a.go,
#jcl-demos3 .imageSliderExt a.next, #jcl-demos3 .imageSliderExt a.prev, #jcl-demos3 .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#jcl-demos3 .widget img {
    cursor: pointer;
}
#jcl-demos3 .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-demos3 .vertical {
    margin-left: 170px;
}

#jcl-demos3 .imageSlider .servers_carousel>ul>li>img,
#jcl-demos3 .imageSliderExt .servers_carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-demos3 .imageSlider .servers_carousel>ul>li>p,
#jcl-demos3 .imageSliderExt .servers_carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

.servers_carousel ul li {
height: 240px !important;
margin-bottom: 0 !important;
margin-left: -4px;
margin-top: 9px !important;
padding-left: 60px;
width: 180px !important;
}
   	
	
	
	
	
	
	
	
	
	
	/*servers slider end*/
   
   /*network-slider-css-start*/
   #jcl-network
{
	float: right;
	margin-top: 28px;
    width: 100%;
	}

#jcl-network .network_carousel {
    width: 97% !important;
	margin-left: 27px;
	margin-top: -17px;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-network .network_carousel>ul>li>img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f0f0f0;
    margin-left: -15px;
    margin-top: 24px;
    padding: 16px 11px 43px;
    vertical-align: middle;
    width: 129px;
	height: 134px;
}

    /* Styling for text based carousel content. Only width and height are mandatory */
    #jcl-network .network_carousel>ul>li>p {
        width: 130px;
        height: 98px;

        margin: 10px 10px 10px 0;
        border: 1px solid #808080;
        border-radius: 5px;
        line-height: normal;
        background-color: #fff;
        padding: 10px;
    }

/* Styles for PREV and NEXT anchor buttons */
#jcl-network a.prev, #jcl-network a.next, #jcl-network a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;

    border-radius: 8px;
    float: left;
}
    #jcl-network a.prev.disabled, #jcl-network a.next.disabled,
    #jcl-network a.prev.disabled:hover, #jcl-network a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-network a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-network a.prev {
        margin: 50px -5px 0 0;
        text-indent: 7px;
    }
    #jcl-network a.next {
        margin: 50px 0 0 -5px;
        text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
        padding: 21px 0;
        /*width: 45px;*/
        position: relative;
        right: 7px;
}

#jcl-network a.prev
{
		background: no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		float:right;
		transform: rotate(180deg);
		width: 45px;
}
    #jcl-network a.prev{
	background:url(../images/bottom-slider.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 75px;
    left: 13px;
    margin-top: 64px;
    position: relative;
    text-indent: 10px;
    transform: rotate(180deg);
    width: 24px;
        }
		
		#jcl-network a.next:hover
		{
			
			background:url(../images/arrows.png) no-repeat;
			 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
		}

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-network .externalControl button,
#jcl-network .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-network .externalControl a.next, #jcl-network .externalControl a.prev, #jcl-network .externalControl a.go,
#jcl-network .imageSliderExt a.next, #jcl-network .imageSliderExt a.prev, #jcl-network .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#jcl-network .widget img {
    cursor: pointer;
}
#jcl-network .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-network .vertical {
    margin-left: 170px;
}

#jcl-network .imageSlider .network_carousel>ul>li>img,
#jcl-network .imageSliderExt .network_carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-network.imageSlider .network_carousel>ul>li>p,
#jcl-network .imageSliderExt .network_carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

.network_carousel ul li {
    height: 240px !important;
	margin-bottom: 0 !important;
	margin-left: 7px;
	margin-top: 9px !important;
	padding-left: 29px;
	width: 145px !important;
}

   
   
   
   /*network-slider-css-end*/
   
   /*server-slider-css-start*/
   
   
   
   #jcl-server
{
	float: right;
	margin-top: 28px;
    width: 100%;
	}

#jcl-server .server_carousel {
    
    width: 97% !important;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-server .server_carousel>ul>li>img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f0f0f0;
    margin-left: -15px;
    margin-top: 24px;
    padding: 16px 11px 43px;
    vertical-align: middle;
    width: 129px;
	height: 134px;
}

    /* Styling for text based carousel content. Only width and height are mandatory */
    #jcl-server .server_carousel>ul>li>p {
        width: 130px;
        height: 98px;
        margin: 10px 10px 10px 0;
        border: 1px solid #808080;
        border-radius: 5px;
        line-height: normal;
        background-color: #fff;
        padding: 10px;
    }

/* Styles for PREV and NEXT anchor buttons */
#jcl-server a.prev, #jcl-server a.next, #jcl-server a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;

    border-radius: 8px;
    float: left;
}
    #jcl-server a.prev.disabled, #jcl-server a.next.disabled,
    #jcl-server a.prev.disabled:hover, #jcl-server a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-server a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-server a.prev {
        margin: 50px -5px 0 0;
        text-indent: 7px;
    }
    #jcl-server a.next {
        margin: 50px 0 0 -5px;
        text-indent: 10px;
		background:url(../images/arrows-2.png) no-repeat;
		 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
        padding: 21px 0;
        /*width: 45px;*/
        position: relative;
        right: 7px;
}

#jcl-server a.prev
{
		background: no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		float:right;
		transform: rotate(180deg);
		width: 45px;
}
 #jcl-server a.prev{
	background:url(../images/bottom-slider.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 72px;
	left: 15px;
	margin-top: 65px;
	position: relative;
	text-indent: 10px;
	transform: rotate(180deg);
	width: 20px;
        }
		
		#jcl-server a.next:hover
		{
			
			background:url(../images/arrows.png) no-repeat;
			 -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: all 0.2s;
		}

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-server .externalControl button,
#jcl-server .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-server .externalControl a.next, #jcl-server .externalControl a.prev, #jcl-server .externalControl a.go,
#jcl-server .imageSliderExt a.next, #jcl-server .imageSliderExt a.prev, #jcl-server .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#jcl-server .widget img {
    cursor: pointer;
}
#jcl-server .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-server .vertical {
    margin-left: 170px;
}

#jcl-server .imageSlider .server_carousel>ul>li>img,
#jcl-server.imageSliderExt .server_carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-server.imageSlider .server_carousel>ul>li>p,
#jcl-server .imageSliderExt .server_carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

.server_carousel ul li {
    height: 240px !important;
	margin-bottom: 0 !important;
	margin-left: 6px;
	margin-top: 9px !important;
	padding-left: 29px;
	width: 144px !important;
	}

 	/*server-slider-css-end*/



/*---------bundle Css Start-------*/
#jcl-demo {
	margin: 0px 0 0;
	padding: 0px 0;
	position: relative;
	top: 0px;
	height: 130px;
	width: 100%;
	border-bottom: 1px solid #CCC;
}


/*---------bundle Css closed-------*/



@media only screen and (min-width: 1600px) and (max-width: 1899px) {
	
#jcl-demo a.prev {
	left: 40px !important;
}
	
	#jcl-demo {
	margin: 0px 0px 0;
	width: 100%;
}	

#jcl-demo .carousel {
	width: 84% !important;
}
.carousel ul li {
	padding: 0 15px !important;
	width: 295px !important;
	}
	
		
#jcl-demo a.next, #jcl-demo a.go {
	margin-left: 41px;
}	
		
		
#jcl-demos {
	float: right;
	width: 98%;
}	
		
#jcl-demos .laptop_carousel {
	margin-left: 38px;
	width: 94% !important;
}	

#jcl-demos2 {
	 	width: 98%;
}

#jcl-demos2 .networkings_carousel {
	margin-left: 32px;
	width: 96% !important;
}

#jcl-demos2 a.prev {
	left: 15px;	
	
	}

#jcl-demos3 {
	float: right;
	width: 100%;
}




#jcl-demos3 .servers_carousel {
	margin-left: 38px;
	width: 96% !important;
}
#jcl-demos3 a.prev {
	left: 32px;}

}


@media only screen and (min-width: 1366px) and (max-width: 1599px) {
	
.left_sidebar {
  height: 171vh;
}




#jcl-demo .carousel {

width: 85% !important;
}

.carousel ul li {
	padding: 0 13px !important;
	width: 252px !important;
	height: 125px !important;
	margin-bottom: 0 !important;
	border-right: 1px solid #cbcdcc;
}

#jcl-demo .carousel>ul>li>p {
	font-size: 10px;
	margin-left: 84px;}

#jcl-demo1 {
width: 31% !important;}



#jcl-demo1 a.next {
	text-indent: 10px;
	background: url(../images/arrows-2.png) no-repeat;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	width: 16px;
	position: relative;
	float: right;
	margin-top: 2px;
}


#jcl-demo1 .carousel_nav {
	float: left;
	height: 58px;
	position: relative;
	visibility: hidden;
	width: 74% !important;
}

#jcl-demos {
	float: right;
	width: 100%;
}

#jcl-demos .laptop_carousel {
	margin-left: 38px;
	width: 95% !important;
}

#jcl-demos {
	float: right;
	width: 100%;
	margin-right: 21px;
}

#jcl-demos .laptop_carousel {
 	width: 97% !important;
}


#jcl-demos a.next {
	background: url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 75px;
	left: 23px;
	margin-top: 61px;
	position: relative;
	text-indent: 10px;
	transform: rotate(180deg);
	width: 25px;
}

#jcl-demos2 {
	float: right;
	width: 100%;
}

#jcl-demos2 a.prev {
 width: 20px;
}

#jcl-demos2 a.next {
	background: url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 75px;
	left: 22px;
	margin-top: 61px;
	position: relative;
	text-indent: 10px;
	transform: rotate(180deg);
	width: 25px;
}

#jcl-demos2 .networkings_carousel {
	margin-left: 18px;
	width: 98% !important;
}

.networkings_carousel ul li {
	width: 178px !important;
}

#jcl-demos2 a.prev {
	 height: 75px;
	left: 15px;
}

#jcl-demos3 {
	float: right;
	width: 100%;
}

#jcl-demos3 a.prev {
	left: 24px;
}

#jcl-demos3 .servers_carousel {
 	width: 98% !important;
}

.servers_carousel ul li {
	width: 176px !important;
}

#jcl-demos3 .servers_carousel {
	width: 96% !important;
}


#jcl-demos3 a.next {
	background: url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 75px;
	left: 36px;
	margin-top: 61px;
	position: relative;
	text-indent: 10px;
	transform: rotate(180deg);
	width: 45px;
}


}

@media only screen and (max-width: 1365px) and (min-width: 1281px){
#jcl-demo1 {
	margin: 0px 0 0;
	padding: 0px 0;
	background: #282828;
	position: relative;
	float: left;
	width: 29%;
}	
	
	
	#jcl-demo1 a.next {
	text-indent: 10px;
	background: url(../images/arrows-2.png) no-repeat;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	width: 15px;}
}

@media only screen and (max-width: 1280px) and (max-width: 1365px){

#jcl-demo .carousel {
	width: 83% !important;
}
.carousel ul li {
	padding: 0 48px !important;
	width: 210px !important;
	height: 125px !important;
	margin-bottom: 0 !important;
	border-right: 1px solid #cbcdcc;
}

#jcl-demo a.prev {
	margin: 55px 0px 0 0;
	text-indent: 10px;
	background: url(../images/arrows-2.png) no-repeat;
	transform: rotate(180deg);
	padding: 4px 1px;
	width: 25px;
	position: relative;
	left: 94px !important;
}

#jcl-demo {
	width: 97%;
	margin-left: 6px;
	}


#jcl-demos {
	width: 98%;
	}

#jcl-demo a.prev {
 left: 17px !important;
}

#jcl-demos2 {
	float: right;
	width: 100%;
}

#jcl-demos2 .networkings_carousel {
	width: 92% !important;
}

#jcl-demos3 {
	float: right;
	width: 108%;

}


}



@media only screen and (max-width: 1024px) and (max-width: 1365px){
	
.carousel_nav ul li {
	font-size: 18px;
}
	
	
#jcl-demos {
	float: right;
	width: 97%;
}
	
#jcl-demos .laptop_carousel {
	margin-left: 38px;
	width: 90% !important;
}
#jcl-demos2 {
	float: right;
	width: 103%;
}


#jcl-demos2 a.prev {
	left: 14px;
	}
	
	
#jcl-demos2 .networkings_carousel {
	margin-left: 38px;
	width: 92% !important;
}


#jcl-demos3 {
	float: right;
	width: 110%;
}



#jcl-demos3 a.prev {
	left: 33px;
	width: 22px;
	}
	
	
#jcl-demos3 a.next {
	background: url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 75px;
	left: 35px;
	margin-top: 61px;
	position: relative;
	text-indent: 10px;
	transform: rotate(180deg);
	width: 28px;
}
	
#jcl-demo {
	width: 97%;
	margin-left: 6px;
}
#jcl-demo .carousel {
	width: 83% !important;
}
.carousel ul li {
	padding: 0 31px !important;
	width: 233px !important;}
	
.carousel>ul>li>p {
	font-size: 12px;}
	
	
#jcl-demos {
	float: right;
	width: 103%;
}

}

@media (max-width: 480px){
	
	#jcl-demo .carousel
	{
		width: 76% !important;
	}
	
	.carousel ul li {
    padding: 0 7px 0 7px !important;
    width: 140px !important;
    height: 90px !important;
	overflow:hidden;
}


#jcl-demo .carousel > ul > li > img
	{
		width: 100% !important;
    	height: 100% !important;
		margin-top: 0;
		margin-right: 0;
	}
	

.carousel ul li img
{
	width: 80% !important;
}
	
}

@media (max-width: 320px){
	
	#jcl-demo .carousel
	{
		width: 66% !important;
	}
	
	

.carousel ul li img
{
	width: 80% !important;
}
	
}

@media (max-width:1160px){
#jcl-demo .carousel
{
	width: 80% !important;
}

#jcl-demo a.next
{
	float:right;
}

}





/*@media (max-width: 480px){
	
	#jcl-demo .carousel
	{
		width: 76% !important;
	}
	
	.carousel ul li {
    padding: 0 7px 0 7px !important;
    width: 140px !important;
    height: 90px !important;
	overflow:hidden;
}

#jcl-demo .carousel > ul > li > img
	{
		width: 100% !important;
    	height: 100% !important;
		margin-top: 0;
		margin-right: 0;
	}
	

.carousel ul li img
{
	width: 80% !important;
}
	
}

@media (max-width: 320px){
	
	#jcl-demo .carousel
	{
		width: 66% !important;
	}
	
	

.carousel ul li img
{
	width: 80% !important;
}
	
}

@media (max-width:1160px){
#jcl-demo .carousel
{
	width: 80% !important;
}

#jcl-demo a.next
{
	float:right;
}

}*/