@charset "utf-8";
/* CSS Document */
.left_sidebar ul li ul
{
	display: none;
}
@font-face
{
	font-family: Marid pro;
	src:url(font/MyriadPro-Regular.otf);
}
/*.left_sidebar  ul > li:first-child ul
{
	display: block !important;
}
*/
/*body{
	margin: 0;
	padding: 0;
	font-family: "Marid pro";
	text-align: justify;
}*/

/*.carousel ul li {
	padding: 0 34px !important;
	width: 394px !important;
	height: 143px !important;
	margin-top: -24px !important;
	margin-bottom: 0 !important;
}*/


.cmntqbox
{
	float: left;
	height:auto;
	width: 100%;
}


#Commentquote-box {
	display: none;
}

#preview-box {
	display: none;
}

#submit-box {
	display: none;
}

.clear{
	clear:both;	
	}
	
	
	.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
	background-size: 5%;
}

#jcl-demos .carousel
{
	width: 86% !important;
}

#jcl-demos2 .carousel
{
	width: 86% !important;
}
#jcl-demos3 .servers_carousel
{
	width: 86% !important;
}

#jcl-network .network_carousel
{
	width: 86% !important;
}
#jcl-server .server_carousel
{
	width: 86% !important;
}





  
   /*popup -start*/


.container-custom_item {
	background: none repeat scroll 0 0 #112c3f;
	height: 100vh;
	left: 0;
	margin: 0;
	opacity: 0.7;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}


.container{
 	/*background: none repeat scroll 0 0 #112c3f;
    height: 100vh;
    left: 0;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999; */
}
	
/*.item_myButton {
	background-color: #282828;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 25px;
	text-decoration:none;
    padding: 4px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}*/
/*.item_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.item_myButton:active {
	position:relative;
	top:1px;
}*/	
	
/*.describ_myButton {
	background-color: #636363;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 25px;
	text-decoration:none;
    margin-left: 4px;
    padding: 4px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}*/
/*.describ_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.describ_myButton:active {
	position:relative;
	top:1px;
}		
	
.basket_myButton {
	background-color: #3a9ad2;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: arial;
    font-size: 14px;
    height: 25px;
	text-decoration:none;
   	margin-right: 30px !important;
    padding: 4px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
	
}
.basket_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.basket_myButton:active {
	position:relative;
	top:1px;
}		*/	

	
/*.text_area span{
	color: #F00;
	font-size: 15px;	
	}	

.popup_basket{
	background:#F00;	
	}

.product_detail{
	width: 511px;
	height: 174px;
	background:#e4eef2;
	font-size:11px;
	}
	
	
.table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#074765;
	border-width: 0px;
	background:#e4eef2;
	border-collapse: collapse;
}

table.gridtable td {
	border-width: 0px;
	color:#074765;
	border-style: solid;
	border-color: #666666;
	background-color: #e4eef2;
}


.gridtable h5{
	color:#a8adaf;	
	}*/

.main_product{
	float: left;
	padding-left: 54px;
	width: 85%;
}	

.continue_myButton:active {
	position:relative;
	top:1px;
}		

 

/* new order closed */

/* new quote start */
/*.newquote_wrapper1{	
	left: 27%;
	top: 21%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}
.newquote_wrapper{	
	left: 37%;
	top: 33%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 368px;
}
.newquote_wrapper2{	
	top: 33%;
	background: #FFF;
	margin: 0px auto;
	position:relative;
	width: 500px;
	z-index: 99999;
	height: 345px;
}
.newquote_wrapper3{	
	 
	top: 33%;
	background: #FFF;
	margin: 0px auto;
	position: relative;
	width: 500px;
	z-index: 99999;
	height: 368px;
}
.newquote_wrapper4{	
	left: 27%;
	top: 19%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}

.quote-continue_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.quote-continue_myButton:active {
	position:relative;
	top:1px;
}		

.existing_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.existing_myButton:active {
	position:relative;
	top:1px;
}*/		

/*quoted closed*/

/* new quote end */
 
/* change pop up start */

<!--.change_container{
	background: none repeat scroll 0 0 rgba(17, 44, 63, 0.86);
    height: 100vh;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.change_wrapper{	
	left: 24%;
	top: 17%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}

.change_heading h4{
	font-size: 21px;
	font-weight: normal;
	line-height: 0;
	}
	
.change_bottom{
	text-align: center;
	font-size: 19px;
	width: 95%;	
	}	-->
	
/*change pop up closed*/

/*currancy pop up start*/

/*<!--.change_wrapper{	
	left: 24%;
	top: 17%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}
 
	
.currancy_heading h4{
	font-size: 21px;
	font-weight: normal;
	line-height: 0;
	}
	
.currancy-popup_nav{
	}	
.currancy_nam{
	font-size:10px;
	color:#000;
	text-align:center;
	}	
	
.currancy_bottom{
	text-align: center;
	font-size: 19px;
	width: 95%;	
	}	
.currancy_img{
	float:right;
	cursor:pointer;
	margin-top: -8px;
	}	-->*/
	
/*currancy pop up closed*/
/*default address pop up start*/

/*
.address_wrapper{	
	left: 24%;
	top: 17%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}
 .address_box{
	max-width: 710px;
  	margin: 0 auto;
  	height: 315px;
	background:#FFF;	
	}


.address_heading{
	float: left;
	padding-left: 45px;
	width: 92%;
}	
.address_heading h3{
	font-size: 16px;
	font-weight: normal;
	}

.address_heading h4{
	font-size: 21px;
	font-weight: normal;
	line-height: 0;
	}

.addres_text{
	float:left;	
	margin-left: 30px;
	margin-top: 10px;
	}
.addres_text h5{
	float:left;	
	font-size:19px;
	}	
.addres_text h6{
	font-size:18px;
	color:#666666;
	float:left;
	}				
.flag_address{
	float:right;
	cursor:pointer;	
	}
.address_country-code{
	margin-left: 30px;
	}	

.address_country-code h2{
	font-size:18px;
	color:#666666;	
	margin-top: 1px;
	}	
.address_delevry-heading{
	font-size: 22px;
	float: left;
	margin-left: 28px;
	
	}	
.default-address_select {
	width: 71%;
	float: left;
	font-size: 19px;
	margin-left: 45px;
	margin-top: 0px;
	color:#c2c3c5;
	cursor:pointer;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(229,229,229,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1 );
	 	}	
		
		
.address_bottom{	
	text-align: center;
	font-size: 19px;
	width: 94%;
	float: left;}
	
.address_closed {
	float: right;
	position: relative;
	left: -15px;
	top: 6px;
	cursor:pointer;
}*/

/*default address pop up closed*/

/*popup -endt*/

/*.top_header p{
	color:#FFF;
	float:left;
	font-size:12px;
	font-family:Helvetica;
	margin: 12px 0px 0px 20px;
	}
.top_nav{
	float:right;
	}
.top_nav ul{
	margin: 10px 22px 0px 0px;
	}		
.top_nav ul li{
	display:inline-block;
	font-size: 14px;
	color:#FFF;
	}	
	
.top_nav ul li a {
	color:#FFF;
	text-decoration:none;
	}	
.logout a{
	 color:#000 !important;
	}	
			
.inner_header{
	width:100%;
	height:76px;
	float:left;
	background:#3c5665;
}	
.logo {
	margin: 14px 0px 0px 20px;
	float: left;
	}
	
.basket_procurment {
	float: right;
	color: #fff;
	font-size: 20px;
	height: 27px;
	text-transform: uppercase;
	margin: 9% -98%;
	padding-left: 40px;
	background: url(images/Basket.png) no-repeat scroll 0 0;
	padding-top: 0px;
}

.cycle{
	background:url(images/icon-life-cycle.png) no-repeat;
	width:25px;
	height:25px;
	float:left;
	margin: 0px 0px;
	}	

.dashboard{
	background:url(images/icon-dashboard.png) no-repeat;
	width:25px;
	height:25px;
	float:left;
	margin: 1px 0px;
	}	
	
.disposition{
	background:url(images/icon-disposition.png) no-repeat;
	width:25px;
	height:25px;
	float:left;	
	margin: -3px 0px;
	}	
	
.redisburation{
	background:url(images/icon-redistribution.png) no-repeat;
	width:25px;
	height:25px;
	float:left;	
	}	
	
.vsrm{
   background:url(images/icon-vsrm.png) no-repeat;
   width:25px;
   height:25px;
   float:left;
   margin: -3px 0px;		
	}	

.conatiner{
	width:100%;
	padding:0;
	margin:0;
	float:left;
	}
.left_sidebar{
	 width: 14%;
	 background:#3c5665;
	 position:fixed;
	 top:116px;
	 bottom:0;
	 left:0;
	 height: 100vh;
	}




.left_sidebar > ul > ul{
  display:block;
}
input.left_search {
	background-image:url(images/icon-search.png);
	background-repeat: no-repeat;
	background-position: 100% 45%;
	background-color: #fff;
	width: 92%;
	height: 36px;
	margin-left: 8px;
	margin-top: 10px;
	border: 1px solid #fff;
	padding-right: 1.8%;
	padding-left: 0.5%;
	position: absolute;
	
}

.search-class
{
	width: 100%;
	float: left;
	height:100%;
}

.main_nav{
	background: url(images/nav-background.jpg);
	background-repeat: x-repeat;
	width: 86%;
	height: 50px;
	color: #000;
	position: fixed;
	top: 116px;
	float: right;
	right: 0;
	z-index: 99;
	}
.main_nav ul{
	display:inline-block;
	padding: 14px 2px;
	color:#000;
	font-size:15px;}
	
.main_nav ul li{
	color:#000;
	padding:0px 9px;
	display:inline-block;
	font-size:15px;
	text-decoration:none;
	}					
.main_nav ul li a{
	color:#000;
	text-decoration:none;}	
	
.right-container{
	float: right;
	width: 86%;
	position: relative;
	top: 184px;
	left: 0px;
	}
.top_heading{
	float: left;
	width: 350px;
	margin-left: 21px;
	cursor:pointer;
	
	}
.top_heading span{
	font-size: 17px;
	float:left;
	width: 140%;	
	}	
	
.span-img{
	float:left;
	margin-top:10px;	
	}	
.text{
	float: left;
	font-size: 17px;
	margin-left: 6px;
	margin-top: 6px;	
	
	}	
.address{
	float: left;
	font-size: 17px;
	margin-top: -18px;
	margin-left: 7px;	
	}
.change{
	color: #adaeb0;
	font-size: 17px;
	float: right;
	margin-top: -32px;
	margin-right: -18px;
	cursor: pointer;
	border-bottom: 1px dashed #adaeb0;
}	
	
.boxex-area{
	float:right;
	width: 715px;
	margin-right: 13px;
	margin-top: 3px;
	margin-bottom: 5px;
	}	
	
.box1{
	width:212px;
	float:left;
	background-size:100%;
	}
	
.box1 p{
	font-size: 13px;
	color: #FFF;
	margin-top: -73px;
	margin-left: 72px;
	}	
	
.box1 h1{
	color: #FFF;
	font-size: 20px;
	margin-left: 40%;
	font-weight: normal;
	margin-top: -5%;
	}
.box1 h2{
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 17px;	
	}	
	
.box2{
	width:212px;
	float:left;
	margin-left: 15px;
	}
.box2 p{
	font-size: 16px;
	color: #FFF;
	margin-top: -76px;
	margin-left: 100px;
	}		
	
.box2 h1{
	color: #FFF;
	font-size: 17px;
	margin-left: 113px;
	font-weight: normal;
	margin-top: -11px;	
	}
.box2 h2{
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 22px;
	}		
	
	
.box3{
	width:212px;
	float:left;
	margin-left: 15px;
	}	

.box3 p {
	font-size: 16px;
	color: #FFF;
	margin-top: -76px;
	margin-left: 145px;
}	
	
.box3 h1 {
	color: #FFF;
	font-size: 19px;
	margin-left: 113px;
	font-weight: normal;
	margin-top: -15px;
}

.box3 h2{
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 24px;
	}	


.slider-area{
	float:right;
	height:130px;
	background:#FFF;
	position:relative;
	top: 60px;
	width:98%;
	}

.slider-arrow {
	float: left;
	padding: 24px 0px 0px 5px;
}

	
				
.navigation{
	float: right;
	width: 84%;
	position: relative;
	top: 184px;
	left: 0px;
	}	
.nav-area{
	float: left;
	width: 100%;
	height: 48px;
	background: #3b9ad2;
	margin-top: 4px;
	}	
.nav-area ul{	
	display: inline-block;
	float: left;
	margin-left: -38px;
	font-size: 17px;
	width: 500px;
	font-weight: normal;}	

.pipe{
	
	color:#FFF;	
	margin-right: 23px;
	
	}

.active {
	/*background: #216481;*/
	/*padding: 18px 14px 13px 22px;
	margin-left: -17px;
	}
	
.actives {
    background:#216481;
    /*margin: -13%;
    margin-left: -17px !important;
    padding: 17px 24px 13px 18px;	
	
}*/
/*.inner-area{
	
	height: 40px;
	background: #0b111f;
	float: left;
	}	
.inner-area img {
	margin-left: 22px;
	margin-top: 6px;
	float:left;

}

.inner-area p{
	color: #FFF;
	float: left;
	margin-left: 8px;
	margin-top: 6px;
	font-size: 23px;
	font-weight: normal;
	cursor: pointer;	
	}
.inner-area i{	
	color: #FFF;
	font-size: 12px;
	margin-left: 11px;
	float: left;
	margin-top: 17px;
	border-bottom: #CCC dotted 1px;
	cursor:pointer;}*/	

.red-basket{
	float:right !important;
	margin-right:103px !important;
	}
	
	
.checkout_area{
	float:right !important;	

	}
	
.slider-area{
	float: right;
	height: 130px;
	background: #FFF;
	position: relative;
	top: 0px;
	width: 100%;
	}

.slider-arrow {
	float: left;
	padding: 46px 0px 0px 5px;
}	

.Slider1_img1{
	width: 300px;
	float: left;
	padding: 29px 0px 0px 49px;
	height: 130px;
	position: relative;
	border-right: 1px solid #999999;}

.Slider1_img1 p {
	font-size: 10px;
	float: left;
	margin: -43px 0px 0px 87px;}
	
.Slider1_img1 span{
	color:#F00;
	position: relative;
	top: -9px;
	}
/*.close-img{
	margin-left: -17px;
	margin-top: -40px;
	}	
.close-imgs{
	margin-left: -32px;
    margin-top: -56px;

	}		
*/
.Slider2_img1{
	width: 300px;
	float: left;
	padding: 29px 0px 0px 49px;
	height: 130px;
	position: relative;
	border-right: 1px solid #999999;}

.Slider2_img1 p {
	font-size: 10px;
	float: left;
	margin: -43px 0px 0px 104px;}
	
.Slider2_img1 span{
	color:#F00;
	position: relative;
	top: -9px;
	}
.close-img2{
	position: absolute;
	left: 136px;
	top:20px;
	}		

.Slider3_img1{
	width: 300px;
	float: left;
	padding: 29px 0px 0px 49px;
	height: 130px;
	position: relative;
	border-right: 1px solid #999999;}

.Slider3_img1 p {
	font-size: 10px;
	float: left;
	margin: -43px 0px 0px 106px;}
	
.Slider3_img1 span{
	color:#F00;
	position: relative;
	top: -9px;
	}
.close-img3{
	position: absolute;
	left: 136px;
	top:20px;
	}		
	


.Slider4_img1{
	width: 280px;
	float: left;
	padding: 29px 0px 0px 17px;
	height: 130px;
	position: relative;
	}

.Slider4_img1 p {
	font-size: 10px;
	float: left;
	margin: -43px 0px 0px 65px;}
	
.Slider4_img1 span{
	color:#F00;
	position: relative;
	top: -9px;
	left: 25px;
	}
.close-img4{
	position: absolute;
	left: 48px;
	top: 20px;
	}		
	
.slider-arrow-right {
	float: right;
	margin: 54px 24px 0px 0px;
}


.slider_sepretor {
height: 1px;
width: 0px;
}*/
.product{
	float: left;
	height: 58px;
	background: #282828;
	position: relative;
	width: 42%;
	z-index: 9;
	}				
	
.product ul{
	display: inline-block;
	float: left;
	font-size: 18px;
	margin: 0 0 0 0px;
	padding: 0;
	width: 100%;
	}

.product ul li{
	color: #FFF;
	padding: 19px 38px 12px 7px;
	display: inline-block;
	text-decoration: none;
	max-width: 291px;
}
.product ul li.active{
	 background:#636363;
	 padding:18px 14px 11px 14px;
	}
.product ul li:hover{
	background:#666;
	}	

	
		
.product ul li a{	
	color:#FFF;
	text-decoration:none;}	
	
.product_img{	
	float: right;
	margin-top: -46px;
	cursor:pointer;}	
	
.byod{	
	background: url(images/xproduct1.png) no-repeat;
	width: 28px;
	height: 33px;
	float: left;
	margin: -3px 9px;
	}
.laptops{
	background: url(images/product2.png) no-repeat;
	width: 56px;
	height: 30px;
	float: left;
	margin-top: -3px;
	/*margin-left: 30px;*/
	}		
.networkings{
	background: url(images/product3.png) no-repeat;
	width: 41px;
	height: 30px;
	float: left;
	margin-top: -3px;
	}	
.servers{
	background: url(images/product4.png) no-repeat;
	width: 41px;
	height: 30px;
	float: left;
	margin-top: -3px;
	}	
	
.batteries{
	background:url(images/product5.png) no-repeat;
	width: 41px;
	height: 30px;
	float: left;
	margin-top: 1px;
	}

.cabel{
	background:url(images/product6.png) no-repeat;
	width: 32px;
	height: 30px;
	float: left;
	margin-top: 1px;
	}
.hardesk{
	background:url(images/product7.png) no-repeat;
	width: 32px;
	height: 30px;
	float: left;
	margin-top: 1px;
	}

.desktop{
	background:url(images/product9.png) no-repeat;
	width: 35px;
	height: 30px;
	float: left;
	margin-top: 1px;
	}

.desktops{
	background:url(images/product8.png) no-repeat;
	width: 24px;
	height: 30px;
	float: left;
	margin-top: 1px;
	}
	
.container-bottom{
		float: right;
		height: auto;
		background: #fff;
		width: 100%;
		}	
.left-arrows{
	float:right;
	margin: 38px 10px 0px 0px;
	}	
	
	
.product ul li:nth-child(1){
	width: 136px;
	margin-left: -15px;
	}	
	
	
.carousel_nav ul li:nth-child(4) {
	width: 182px !important;

}
.carousel_nav ul li:nth-child(5) {
	width: 135px !important;
 
}	

.carousel_nav ul li:nth-child(6) {
	width: 160px !important;
	 
}
.carousel_nav ul li:nth-child(7) {
	width: 237px !important;
	margin-left: 10px;
}
.carousel_nav ul li:nth-child(8) {
	width: 195px !important;
	
}


.carousel_nav ul li:nth-child(10) {
	width: 153px !important;
	
}

.carousel_nav ul li:nth-child(11) {
	width: 240px !important;
	
}
	
/**laptop -product**/	

.laptop_container{
	width: 97%;
	float: left;
	position: relative;
	height: auto;
	top: -189px;
	left: -61px;
	}

.laptop_container ul{
		width: 100%;
		float: left;
		list-style: none;}
		
.laptop_container ul li{
		width: 11.1%;
		float: left;
		padding: 1% 2%;
		margin-left: -2px;}
		
.laptop_container ul li figure{
		float: left;
		padding: 24px 0px 0px 10px;
		height: 130px;
		width: 130px;
		border: 1px solid #f0f0f0;
}
.laptop_container ul li figure img{
		float: left;
		margin: -14px 0px 0px 4px;
		}

.laptop_container ul li h1{
		width: 195px;
		float: left;
		font-size: 8px;
		text-align: left;
		margin: -37px 0px 0px -48px;
}
.laptop_container ul li p{
		float: left;
		font-size: 8px;
		text-align: left;
		width: 151px;
		margin-top: -12px;
		margin-left: 42px;
		}

.laptop_container ul li p span{
	color:red;
	}


.networking_container{
		width: 97%;
		float: left;
		position: relative;
		height: auto;
		margin-left: -50px;
		}
.networking_container ul{
		width: 100%;
		float: left;
		list-style: none;}
		
.networking_container ul li{
		width: 8%;
		float: left;
		padding: 1% 2%;
		margin-left: -2px;}
		
.networking_container ul li figure{
		float: left;
		padding: 24px 0px 0px 10px;
		height: 130px;
		width: 130px;
		border: 1px solid #f0f0f0;
}
.networking_container ul li figure img{
		float: left;
		margin: -14px 0px 0px 4px;
		}

.networking_container ul li h1{
		width: 195px;
		float: left;
		font-size: 8px;
		text-align: left;
		margin: -37px 0px 0px -48px;
}
.networking_container ul li p{
		float: left;
		font-size: 8px;
		text-align: left;
		width: 151px;
		margin-top: -12px;
		margin-left: 42px;
		}

.networking_container ul li p span{
	color:red;
	}
.card-blank{
	border: 1px solid #6ab5dc;
    border-radius: 3px;
    float: left;
    height: 27px;
    margin-left: -11px;
    margin-top: 1px;
    width: 25px;
	}		
		
.server_container{
		width: 97%;
		float: left;
		position: relative;
		height: 210px;
		margin-bottom:100px;
		margin-left: -50px;
		}

.server_container ul{
		width: 100%;
		float: left;
		list-style: none;}
		
.server_container ul li{
		width: 8%;
		float: left;
		padding: 1% 2%;
		margin-left: -2px;}
		
.server_container ul li figure{
		float: left;
		padding: 24px 0px 0px 10px;
		height: 130px;
		width: 130px;
		border: 1px solid #f0f0f0;
}
.server_container ul li figure img{
		float: left;
		margin: -14px 0px 0px 4px;
		}

.server_container ul li h1{
		width: 195px;
		float: left;
		font-size: 8px;
		text-align: left;
		margin: -37px 0px 0px -48px;
}
.server_container ul li p{
		float: left;
		font-size: 8px;
		text-align: left;
		width: 151px;
		margin-top: -12px;
		margin-left: 42px;
		}

.server_container ul li p span{
	color:red;
	}
		
.main-navslider{
    width: 100%;
    height: auto;
    float: left;
    background: #282828;
}


/*request-css-start*/

.nav-bar-area{
	float: left;
	width: 100%;
	height: 50px;
	background: #3b9ad2;
	margin-top: 4px;
	}	
.nav-bar-area ul{	
	display: inline-block;
	float: left;
	margin-left: -45px;
	font-size: 17px;
	font-weight: normal;}	

.nav-bar-area ul li {
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	margin: 14px 7px 0px;
	border-right: 1px solid;
}

.nav-bar-area ul li a {
	color: #FFF;
	text-decoration: none;
	padding: 16px 25px;
	margin-left: -17px;
	cursor:pointer;
}

.nav-bar-area ul li a:hover{
	background:#216481;
	}

.pipe{
	color:#FFF;	
	margin-right: 23px;
	}

.active {
	/*background: #216481;*/
	/*padding: 18px 14px 13px 22px;*/
	margin-left: -17px;
	}
	
/*.actives {
    background:#216481;
    margin: 0%;
    padding: 17px 18px 13px 18px;	
	
}*/

.upload_area{
	text-align: center;
	float: left;
	top: 16px;
	font-size:18px;
	}
input.custom_form {
	color: #FFF;
	background: #216481;
	width: 4%;
	font-size: 16px;
	border: 0px;
}

input.custom_txtbox{
	width: 28%;
	height: 27px;
	}

input.custom_button{
	color: #FFF;
	background: #3b9cd3;
	font-size: 16px;
	border: 0px;
	width: 8%;
	}

.upload_area span{
		color:#c3c4c6;
		font-size:12px;
		cursor:pointer;
		border-bottom:2px solid #c3c4c6;	
	}	
	
.upload_area strong{
	font-size: 14px;
	font-weight: 100;
	position: relative;
	right: 7%;
	}	

.table_button{
	float: right;
	color: #FFF;
	background: #3b9cd3;
	font-size: 16px;
	border: 0px;
	width: 12%;
	left: 22%;
	position: relative;
	margin-top: 43px;
}	
		
.table-heading{
	background:#216481;
	color:#FFF;
	border-bottom: 6px solid;
	padding: 0;
	margin: 0px 1%;
	width: 98%;
	height:40px;
	font-size: 16px;
	padding-top: 7px;
	}	


.table>tbody>tr>td {
	border: none;
	padding: 0px;
}
.custom-td{
	border-radius: 5px;
	margin-right:2px;
	margin-top:5px;
	border:1px solid #c9c9cb;
	background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0, rgb(207, 207, 207)),
	color-stop(0.54, rgb(247, 247, 247)),
	color-stop(0.57, rgb(245, 245, 245)),
	color-stop(1, rgb(216, 214, 215))
);
background-image: -o-linear-gradient(left, rgb(207, 207, 207) 0%, rgb(247, 247, 247) 54%, rgb(245, 245, 245) 57%, rgb(216, 214, 215) 100%);
background-image: -moz-linear-gradient(left, rgb(207, 207, 207) 0%, rgb(247, 247, 247) 54%, rgb(245, 245, 245) 57%, rgb(216, 214, 215) 100%);
background-image: -webkit-linear-gradient(left, rgb(207, 207, 207) 0%, rgb(247, 247, 247) 54%, rgb(245, 245, 245) 57%, rgb(216, 214, 215) 100%);
background-image: -ms-linear-gradient(left, rgb(207, 207, 207) 0%, rgb(247, 247, 247) 54%, rgb(245, 245, 245) 57%, rgb(216, 214, 215) 100%);
background-image: linear-gradient(to left, rgb(207, 207, 207) 0%, rgb(247, 247, 247) 54%, rgb(245, 245, 245) 57%, rgb(216, 214, 215) 100%);ss
	}
.bottom_buttom{
	text-align:center;	
	margin-top: 2%;
	margin-bottom: 2%;
	}
	
	
.custom-width{
	width: 25%;
	
	}	
	
.previous{
	background-image:url(images/areo.png);
	background-position: 4px;
	background-repeat:no-repeat;
	color: #FFF;
	background-color: #3b9cd3;
	font-size: 16px;
	border: 0px;
	width: 6%;
	}	
		
/* comment&quote css start*/


.custom-massegbox {
	width: 100%;
	background: #f0f0f0;
	height: 230px;
	border: none;
}



.previous_custom{
	background-image:url(images/areo.png);
	background-position: 4px;
	background-repeat:no-repeat;
	margin-right: 16px;
	color: #FFF;
	background-color: #3b9cd3;
	font-size: 16px;
	border: 0px;
	width: 13%;
	}	
	
.next_custom{
	background-image:url(images/areo2.png);
	background-position:right;
	background-repeat:no-repeat;
	background-position: 90%;
	color: #FFF;
	background-color: #216481;
	font-size: 16px;
	border: 0px;
	width: 11%
	}	



.bottom-uploadarea{
	float: right;
	padding-top: 0px;
	width: 100%;
	}

input.custom_txtbox-bottom {
	width: 49%;
	margin-left: -19px;
}

/* comment&quote css closed*/	
	
	/*submit  quote area css start*/
	
	
.custom_quotesarea{
	background: #f0f0f0;
	margin-top: 5%;
	height: 31px;
	text-align: center;
	color:#808082;	
	margin-bottom: 46%;
	}
	
.text_quotearea{
	margin-top: 5px;
		
	}	



/*Submit quote area css closed*/
	
	
	
	
/*Submit & Quote css star*/
.form_box{
	width: 70%;
	margin-left: 25%;
	float:left;
	}
	
.button_area{
	float: right;
	margin-top: 30%;
}
		
	
.add_button{
	float:right;
	background:#3b9bd5;
	color:#FFF;	
	border:none;
	font-size:19px;
	}	
	
.tool-box{
	background: #3a3e41;
	margin-top: 11px;
	height: 56px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	width: 98.5%;
	padding-left: 0px;
	padding-right: 0px;
	}	


.tool-box ul{
	display: inline-block;
	float: left;
	margin-left: -35px;
	}


.tool-box ul li{
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	margin-left: 10px;
	}
	
	
select.select-language {
	width: 172px;
	height: 23px;
	background:#d0d1d3;
	color:#000;
}

select.select-font-size{
	width: 55px;
	height: 23px;
	margin-left:-10px;
	background:#d0d1d3;
	color:#000;
}	
	
.custom-textarea{
	border:none;	
	}	
	
	
.box-bottomarea{
	background: #3a3e41;
	margin-top: 11px;
	height: 56px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	width: 98.5%;
	padding-left: 0px;
	padding-right: 0px;
	float:left;
	}	
	
.tool-box-bottom{
	width: 100%;
	float:left;
	background:#3a3e41;
	height: 39px;
	}	
	

.tool-box-bottom ul{
	display: inline-block;
	float: left;
	margin-left: -35px;
	}


.tool-box-bottom ul li{
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	margin-left: 11px;
	}
		
input.custom_txtbox {
	width: 34%;
	margin-left: 3px;
	height: 37px;
}	
	
.custom_select{
	background:#216481;
	color:#FFF;
	border:none;
	font-size: 17px;
	margin-left: -3px;
	}	


.custom_upload-button{
	background:#3b9cd3;
	color:#FFF;
	border:none;
	font-size: 17px;	
	}	
	
.bottom_button{
	text-align: center;
	margin-top: 26px;
	margin-bottom: 28px;
	}	

.previous{
	background-image:url(images/areo.png);
	background-position: 4px;
	background-repeat:no-repeat;
	color: #FFF;
	background-color: #3b9cd3;
	margin-right: 15px;
	font-size: 16px;
	border: 0px;
	}	
	
.next{
	background-image:url(images/areo2.png);
	background-position:right;
	background-repeat:no-repeat;
	background-position: 91%;
	color: #FFF;
	background-color: #216481;
	font-size: 16px;
	border: 0px;
	width:5%;
	}	


/*Submit & Quote css closed*/


/*preview quote css star*/
.custom_priview{
	border: 1px solid #CCC;
	margin-top: 15px;
	height:240px;
	margin-bottom: 15px;
	}	
	
	
.custom_country-area{
	background:#f0f0f0;
	margin-top: 5%;
	font-weight: 600;
	height: 30px;
	}	
	
.country{
	margin-top:5px;	
	}	
	
.state{
	font-size:14px;
	color:#999;
	font-weight: normal;
	margin-top: 5px;	
	}	
	
	
.currency{
	font-weight: 800;
	margin-top: 5px;	
	}	
.currency_nam{
	color:#999;
	font-weight:normal;
	margin-top: 5px;	
	}	
	
.supplier{
	font-weight: 800;
	margin-top: 5px;	
	}		
	
.state_nam{
	color:#999;
	font-weight:normal;	
	margin-top: 5px;
	}
	
.custom_refrencearea{
	background: #f0f0f0;
	margin-top: 1%;
	font-weight: 600;
	height: 30px;
	}
	
.quote_refrence{
	margin-top: 5px;	
	}	
.attachment{
	margin-top: 5px;	
	}	
	
	textarea.col-md-1.custom-td.custom-lastcoulum {
width: 16%;
}
	
/*preview quote css closed*/
 
/*request-css-closed*/

/*order-pop up*/	
.order_container{
	background: none repeat scroll 0 0 #112c3f;
    height: 100vh;
    left: 0;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.order_wrapper{	
	left: 37%;
	top: 32%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	
}
.orderpopup_box {
	height: 189px;
	text-align:center;
}

.orderpopup_box span{
	 font-size: 34px;
	color: #45a1d4;
	top: 70px;
	position: relative;	
	}
	
.orderpopup_box strong{
	top: 70px;
	position: relative;	
	font-size: 30px;
	color:#3c5665;
	}	
	
.order_closed {
	float: right;
	margin-right: 15px;
	margin-top: 7px;
	cursor:pointer;
}
	
.order-area {
	float: left;
	width: 100%;
	height: 50px;
	background: #3b9ad2;
	margin-top: 4px;
}

.order-heading {
	text-align: center;
	font-size: 25px;
	color: #FFF;
	font-weight: 700;
	margin-top: 8px;
}

.custom-drop {
	width: 20% !important;
	margin-left: 47px !important;
}

.checkout_area a:hover {
	text-decoration: none;
}
.custom_currency {
	margin-left: -15px;
}

.custom_doller {
	margin-left: 17px;
}

.custom-shipping {
	margin-left: -19px;
	width: 27%;
}
	
.order-number {
	margin-left: -4px;
}

.custom-ship {
	margin-left: -18px;
	width: 25.3%;
}
		
.custom-ref {
	margin-left: -17px;
}	
		
.custom-text {
	margin-top: -3px !important;
}	

.cust-ref {
	margin-top: -21px;
}	

.disabled { pointer-events: none; }

a#order {
text-decoration: none;
}
		
		/*media Query started here*/
	
@media only screen and (min-width: 1600px) and (max-width: 1899px) {
	
.styled-select select {
	margin-top: -1px;
	background: #FFF;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('images/searchbox.png') no-repeat #fff 184px center !important;
}
	
.custom_country-area {
	width: 94%;
}

.custom_refrencearea {
	width: 94%;
}
	
.table_button {
	float: right;
	color: #FFF;
	background: #3b9cd3;
	font-size: 16px;
	border: 0px;
	width: 12%;
	left: 10%;
	position: relative;
	margin-top: 43px;
}
	
	
.custom-shipping{
	width: 35% !important;
	}
	
.refrence-textbox {
	margin-left: 17.4% !important ;
}	
	
.custom-total{
	width: 34%;		
		}
	
	
.left_sidebar > ul > li {
	margin: 1px 0;
	position: relative;
	font-size: 15px;
	font-weight: 300;
}
.left_sidebar {
	width: 14%;
	background: #3c5665;
	position: fixed;
	top: 116px;
	bottom: 0;
	left: 0;
	height: 171vh;
}

.product {
 	height: 45px;
 	width: 49%;
	
}
	
.product ul {
	display: inline-block;
	float: left;
	font-size: 17px;
	margin: 0 0 0 0px;
	padding: 0;
	width: 100%;
}
	
	
#jcl-demo1 {
	margin: 0px 0 0;
	padding: 0px 0;
	background: #282828;
	position: relative;
	float: left;
	width: 50% !important;
}

	
#jcl-demo1 .carousel_nav {
	float: left;
	height: 58px;
	position: relative;
	visibility: hidden;
	width: 93% !important;
}


#jcl-demo1 a.next {
	width: 22px !important;
	position: relative;
	float: right;
	margin-top: 11px;
	}


form .custom_form {
	/*float: right;
	padding-top: 12px;
	width: 22%;*/
}
	
	 
}
	
	
	
@media only screen and (min-width: 1366px) and (max-width: 1599px) {


.left_sidebar > ul > li > a {
	padding: 5px !important;
	text-indent: 10px !important;
}
	.left_searchbar h2 {
font-size: 16px; !important;}

.styled-select {
width: 92% !important;
height: 30px; !important;}

input.left_search {
	height: 30px; !important;}
	
	
	.styled-select select {
margin-top: -4px; !important;}
	
textarea.col-md-1.custom-td.custom-lastcoulum {
width: 15% !important;
}	

	

input.custom_form {
width: 5%;
font-size: 15px;

}

input.custom_button {

font-size: 15px;
width: 11%;
}

.neworder_wrapper1 {
	left: 27% !important;
	top: 3% !important;
	}
.newquote_wrapper1 {
	left: 27% !important;
	top: 3% !important;
	}


textarea.col-md-1.custom-td.custom-lastcoulum {
width: 15%;
}	
	
.styled-select select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('images/searchbox.png') no-repeat #fff 190px center !important;
}	
	
.custom_country-area {
	width: 94%;
}


.custom_refrencearea {
	width: 94%;
}
		
.table_button {
	float: right;
	color: #FFF;
	background: #3b9cd3;
	font-size: 16px;
	border: 0px;
	width: 12%;
	left: -1%;
	position: relative;
	margin-top: 43px;
}	
		
	.order-number{
		width: 42%;	
		}

.custom-shipping{
	width: 37%;	
	}
	
.refrence-textbox {
	margin-left: 17%;
}

.custom_bundle{
	font-size:13px;	
	}

.main-basket {
	width: 100%;
	height: auto;
	float: left;
	background: #0b111f;
	margin-top: -2px;
}

.main-navslider {
	width: 100%;
	float: right;
}

.product {
	width: 64%;
	float: left;
	top: 0 !important;
}

.product ul {
	padding: 0px 4px;
	font-size: 16px;
	width: 100%;
}



.top_nav ul li {
	font-size: 16px;
	
}	

.right-container {
	float: right;
	width: 83%;}

.top_heading {
	float: left;
	width: 350px;
	 
}
.top_heading span {
	font-size: 17px;
	float: left;
}

.text {
float: left;
font-size: 16px;
margin-left: 6px;
margin-top: 6px;
}


.basket_procurment {
	font-size: 16px;
	margin: 11% -98%;
}


.left_sidebar {
width: 17%;
left: 0;
height: 100vh;
}


.left_sidebar > ul > li {
	font-size: 15px;
	 
}

input.left_search {
	width: 15.4%;
	}

.main_nav {
	width: 83%;
	height: 48px;

}	
.main_nav ul li {
	padding: 0px 9px;
	font-size: 14px;
	text-decoration: none;
}
	
.nav-area {
	float: left;
	width: 100%;
	height: 52px;
	background: #3b9ad2;
	margin-top: 14px;
	 
	}	
	
.inner-area {
	width: auto;
	float: left;
	height: 40px;
	background: #0b111f;
	margin-left: 36px;
}	
.slider-area {
	float: right;
	height: 130px;
	background: #FFF;
	position: relative;
	top: 0px;
	width: 96%;
}	
	
	
.Slider1_img1 {
	width: 305px;
	margin-left: -30px;
}

.Slider2_img1 {
	width: 294px;
	margin-left: -28px;}

.Slider3_img1 {
	width: 325px;
	margin-left: -38px;}

.Slider4_img1 {
	width: 229px;
}


.laptop {
	width: 100%;
}

.col-md-10.server {
	width: 102%;
}

.server h1 {
	font-weight: normal;
	margin-left: -13px;
	margin-top: 110px;
}


#jcl-demos3 a.next {
	background: url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 75px;
	left: 40px;
	margin-top: 61px;
	position: relative;
	text-indent: 10px;
	transform: rotate(180deg);
	width: 26px;
}


}

@media only screen and (max-width: 1365px) and (min-width: 1281px){
	
.styled-select select {
	margin-top: -1px;
	background: #FFF;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('images/searchbox.png') no-repeat #fff 175px center !important;
}		
	
	.table_button {
	left: -11%;
}
	
	
.product {
	height: 51px;
	width: 60%;}

.left_sidebar > ul > li {
	margin: 1px 0;
	position: relative;
	font-size: 13px;
	font-weight: 300;
}

.product ul {
	display: inline-block;
	float: left;
	font-size: 16px;
	}
	
} 

@media only screen and (max-width: 1280px) and (max-width: 1365px){
	
	
	
	
.custom_country-area {
	width: 84%;
}

.custom_refrencearea {
	width: 84%;
}
	
textarea.col-md-1.custom-td.custom-lastcoulum {
width: 14%;
}	
.custom-td.custom-lastcoulum {
	width: 10%;
}	
	
.table_button {
	left: -16%;
}
	
.order-number {
	width: 38%;
}
	
	.custom_bundle{
	font-size:12px;	
	}
	
	
	.top_nav ul li {
	display: inline-block;
	font-size: 15px;
	color: #FFF;
}

.basket_procurment {
	float: right;
	color: #fff;
	font-size: 15px;
	height: 27px;
	text-transform: uppercase;
	margin: 15% -98%;
}
.main_nav {
	background: url(images/nav-background.jpg);
	background-repeat: x-repeat;
	width: 80%;
	height: 50px;
	color: #000;
	position: fixed;
	top: 116px;
	float: right;
	right: 0;
	z-index: 99;
}
.main_nav ul li {
	color: #000;
	padding: 0px 9px;
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
}	
	
.left_sidebar {
	width: 20%;
	background: #3c5665;
	position: fixed;
	top: 116px;
	bottom: 0;
	left: 0;
}	

.right-container {
float: right;
width: 80%;}
	
.top_heading {
	float: left;
	width: 277px;
	margin-left: 5px;
}

.top_heading span {
	font-size: 12px;
	float: left;
	
}

.text {
	float: left;
	font-size: 12px;
	margin-left: 6px;
	margin-top: 8px;
}
.address {
	float: left;
	font-size: 12px;
	margin-top: -7px;
	margin-left: 6px;
}
.change {
	color: #adaeb0;
	font-size: 12px;
	float: left;
	margin-top: -30px;
	margin-left: 52px;
}

	
.boxex-area {
	float: right;
	width: 536px;
	margin-right: -3px;
}

.box1 {
	float: left;
	background-size: 100%;
	margin-left: 0px;
	 
}

.box1 img {
	width: 86%;
}

.box1 p {
	font-size: 11px;
	color: #FFF;
	margin-top: -66px;
	margin-left: 47px;
	}
.box1 h1 {
	color: #FFF;
	font-size: 11px;
	margin-left: 36%;
	font-weight: normal;
	margin-top: 7%;
	}

.box1 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 12px;
}

.box2 {
	float: left;
	background-size: 100%;
	margin-left: -42px;
	 
}

.box2 img {
	width: 86%;
}
.box2 p {
	font-size: 13px;
	color: #FFF;
	margin-top: -70px;
	margin-left: 68px;
}

.box2 h1 {
	color: #FFF;
	font-size: 13px;
	margin-left: 92px;
	font-weight: normal;
	margin-top: 13px;
}

.box2 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 11px;
}

.box3 {
	float: right;
	background-size: 100%;
	margin-right: -37px;
	margin-top: -78px;
}

.box3 img {
	width: 86%;
}

.box3 p {
	font-size: 11px;
	color: #FFF;
	margin-top: -66px;
	margin-left: 104px;
}
.box3 h1 {
	color: #FFF;
	font-size: 15px;
	margin-left: 82px;
	font-weight: normal;
	margin-top: 5px;
}

.box3 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 12px;
}


.nav-area {
	float: left;
	width: 100%;
	height: 48px;
	background: #3b9ad2;
	margin-top: 13px;
	 
}
.nav-area ul {
	display: inline-block;
	float: left;
	margin-left: -38px;
	font-size: 15px;
	width: 479px;
	margin-top: 11px;
}

.nav-area ul li {
	color: #FFF;
	padding: 10px 0px;
	display: inline-block;
	text-decoration: none;
	margin-top: -4px;
}
.inner-area {
	width: auto;
	float: left;
	height: 39px;
	background: #0b111f;
	margin-left: 62px;
}

.slider-area {
width: 93%;
}


.Slider1_img1 {
	width: 222px;
	margin-left: -30px;
}

.Slider2_img1 {
width: 251px;}

.Slider3_img1 {
width: 201px;}

.Slider4_img1 {
width: 128px;
}

.product {
height: 51px;
width: 93%;}

.left_sidebar > ul > li {
	margin: 1px 0;
	position: relative;
	font-size: 13px;
	font-weight: 300;
}


.left_sidebar {
	height: 181vh;
}

input.left_search {
	width: 18.3%;}



.main-basket {
	width: 100%;
	height: auto;
	float: right;}
	
.main-navslider {
	width: 100%;
	float:right;
}	

.product{
	width: 71%;
	float: left;
	top:0 !important;
}
.product ul{
	padding: 0px 4px;
	font-size: 16px;
	width: 100%;
}

.product ul li {
 padding: 19px 24px 12px 7px;
}

.product ul li:nth-child(1) {
	width: 118px;
	margin-left: -16px;
}



#jcl-demo1 {
	width: 26% !important;
	float:right;
}

#jcl-demo1 a.next {
	width: 0 !important;
}
.laptop {
	width: 100%;
	
}

.col-md-10.server {
	width: 95%;
}
.server h1 {
	font-weight: normal;
	margin-left: -13px;
	margin-top: 110px;
}

}
	 
@media only screen and (max-width: 1024px) and (max-width: 1365px){
	
	
	.styled-select select {
	margin-top: -1px;
	background: #FFF;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('images/searchbox.png') no-repeat #fff 165px center !important;
}	
	
	
.tool-box ul li {
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	margin-left: 0px;
}

input.custom_button {
	font-size: 15px;
}	

input.custom_form {
 font-size: 15px;
}
.nav-bar-area {
	float: left;
	width: 100%;
	height: 42px;}
	
.nav-bar-area ul {
	float: left;
	margin-left: -45px;
	font-size: 12px;
	}
	
	nav-bar-area ul li {
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	margin: 13px -2px 0px;
	border-right: 1px solid;
}

form {
	float: right;
	padding-top: 12px;
	width: 18%;
}

.search-magnifing {
	width: 47px !important;
	font-size: 10px;
	margin-right: 0px;
}

input.add-to-quote {
	width: 59px !important;
	font-size: 10px;
	padding: 2px 2px;
}


.custom-flag{
	width:40%;	
	}
	
.shippings-textbox {
	margin-left: 5%;
	width: 44%;}

.top_nav ul li {
	display: inline-block;
	font-size: 15px;
	color: #FFF;
}

.basket_procurment {
	float: right;
	color: #fff;
	font-size: 15px;
	height: 27px;
	text-transform: uppercase;
	margin: 15% -98%;
}
.main_nav {
	background: url(images/nav-background.jpg);
	background-repeat: x-repeat;
	width: 80%;
	height: 50px;
	color: #000;
	position: fixed;
	top: 116px;
	float: right;
	right: 0;
	z-index: 99;
}
.main_nav ul li {
	color: #000;
	padding: 0px 9px;
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
}	
	
.left_sidebar {
	width: 20%;
	background: #3c5665;
	position: fixed;
	top: 116px;
	bottom: 0;
	left: 0;
}	
	
.top_heading {
	float: left;
	width: 322px;
	margin-left: 0px;
}

.top_heading span {
	font-size: 12px;
	float: left;
	
}

.text {
	float: left;
	font-size: 12px;
	margin-left: 6px;
	margin-top: 8px;
}
.address {
	float: left;
	font-size: 12px;
	margin-top: -7px;
	margin-left: 6px;
}
.change {
	color: #adaeb0;
	font-size: 12px;
	float: left;
	margin-top: -30px;
	margin-left: 52px;
}

	
.boxex-area {
	float: right;
	width: 545px;
}

.box1 {
	float: left;
	background-size: 100%;
	margin-left: 0px;
	margin-top: -69px;
}

.box1 img {
	width: 86%;
}

.box1 p {
	font-size: 11px;
	color: #FFF;
	margin-top: -66px;
	margin-left: 47px;
	}
.box1 h1 {
	color: #FFF;
	font-size: 11px;
	margin-left: 36%;
	font-weight: normal;
	margin-top: 7%;
	}

.box1 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 12px;
}

.box2 {
	float: left;
	background-size: 100%;
	margin-left: -42px;
	margin-top: -69px;
}

.box2 img {
	width: 86%;
}
.box2 p {
	font-size: 13px;
	color: #FFF;
	margin-top: -70px;
	margin-left: 68px;
}

.box2 h1 {
	color: #FFF;
	font-size: 13px;
	margin-left: 92px;
	font-weight: normal;
	margin-top: 13px;
}

.box2 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 11px;
}

.box3 {
	float: right;
	background-size: 100%;
	margin-right: -37px;
	margin-top: -78px;
}

.box3 img {
	width: 86%;
}

.box3 p {
	font-size: 11px;
	color: #FFF;
	margin-top: -66px;
	margin-left: 104px;
}
.box3 h1 {
	color: #FFF;
	font-size: 15px;
	margin-left: 82px;
	font-weight: normal;
	margin-top: 5px;
}

.box3 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 12px;
}


.nav-area {
	float: left;
	width: 100%;
	height: 48px;
	background: #3b9ad2;
	margin-top: 13px;
	 
}
.nav-area ul {
	display: inline-block;
	float: left;
	margin-left: -38px;
	font-size: 15px;
	width: 479px;
	margin-top: 11px;
}

.nav-area ul li {
	color: #FFF;
	padding: 10px 0px;
	display: inline-block;
	text-decoration: none;
	margin-top: -4px;
}
.inner-area {
	width: auto;
	float: left;
	height: 39px;
	background: #0b111f;
	margin-left: 62px;
}

.slider-area {
width: 93%;
}


.Slider1_img1 {
	width: 222px;
	margin-left: -30px;
}

.Slider2_img1 {
width: 251px;}

.Slider3_img1 {
width: 201px;}

.Slider4_img1 {
width: 128px;
}

.product {
height: 51px;
width: 93%;}

.left_sidebar > ul > li {
	margin: 1px 0;
	position: relative;
	font-size: 13px;
	font-weight: 300;
}


.left_sidebar {
	height: 181vh;
}

input.left_search {
	width: 18.3%;}



.main-basket {
	width: 100%;
	height: auto;
	float: right;}
	
.main-navslider {
	width: 100%;
	float:right;
}	

.product{
	width: 71%;
	float: left;
	top:0 !important;
}
.product ul{
	padding: 0px 4px;
	font-size: 14px;
	width: 100%;
}

.product ul li {
 padding: 19px 24px 12px 7px;
}

.product ul li:nth-child(1) {
	width: 118px;
	margin-left: -16px;
}



#jcl-demo1 {
	width: 26% !important;
	float:right;
}

#jcl-demo1 a.next {
	width: 0 !important;
}
.laptop {
	width: 96%;
}

.col-md-10.networking {
	width: 102%;
}


}

.asdds{ position:fixed; width: 100%; height: 100%;}

/*request-style.css start*/
 
@charset "utf-8";
/* CSS Document */

/*@font-face
{
	font-family: Marid pro;
	src:url(font/MyriadPro-Regular.otf);
}
*/


.clear{
	clear:both;	
	}

#jcl-demos .carousel
{
	width: 86% !important;
}

#jcl-demos2 .carousel
{
	width: 86% !important;
}
#jcl-demos3 .servers_carousel
{
	width: 86% !important;
}

#jcl-network .network_carousel
{
	width: 86% !important;
}
#jcl-server .server_carousel
{
	width: 86% !important;
}

   /*popup -start*/




.container{
	/* background: none repeat scroll 0 0 #112c3f;
    height: 100vh;
    left: 0;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;*/
}

.wrapper {	
	left: 30%;  
	top: 29%;
    margin: 0px auto;
    position: fixed;
    width: auto;
    z-index: 99999;
}

.closed{
	float: right;
	margin-right: 7px;
	margin-top: 4px;	
	cursor:pointer;  
	}

.pop_box{
	max-width: 710px;
  	margin: 0 auto;
  	height:390px;
	background:#FFF;	
	}
	
	
.popup_product{
	width: 25%;
	float:left;	
	padding-left: 10px;
	cursor: pointer;
	}
	
.popup_product h2{
	font-size:12px;
	font-weight: normal;
	}	
	
.popup_product h3{
	font-size:12px;	
	font-weight: normal;
	}	
.popup_product h4{
	font-size:12px;	
	font-weight: normal;
	margin-top: -9px;
	}	
	
.popup_product p{
	font-size:12px;	
	font-weight: normal;
	margin-top: -9px;
	color:#F00;
	}	
	
.popup_describtion{
	float:right;
	margin-top: 16px;
	width:75%;
	}	
	
.item_myButton {
	background-color: #636363;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 25px;
	text-decoration:none;
    padding: 4px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}
.item_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.item_myButton:active {
	position:relative;
	top:1px;
}	
	  
.describ_myButton {
	background-color: #282828;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 25px;
	text-decoration:none;
    margin-left: 4px;
    padding: 4px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}
.describ_myButton:hover {
	background-color:#636363;
	text-decoration:none;
}
.describ_myButton:active {
	position:relative;
	top:1px;
}		
	
.basket_myButton {
	background-color: #3a9ad2;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: arial;
    font-size: 14px;
    height: 25px;
	text-decoration:none;
   	margin-right: 30px !important;
    padding: 4px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
	
}
.basket_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.basket_myButton:active {
	position:relative;
	top:1px;
}			
.text_container{
	float:left;
	background:#e4eef2;
	width:83%;
	margin-top: 15px;
	font-size: 11px;
	}	
	
.text_area{
	width:100%;
	background:#e4eef2;
	font-size:11px;
	padding-left: 14px;
	}	
	
.text_area span{
	color: #F00;
	font-size: 15px;	
	}
	
.text-bold {
	font-size: 12px;
	font-weight: 700;
}	
		

.popup_basket{
	background:#F00;	
	}

.product_detail{
	width: 511px;
	height: 174px;
	background:#e4eef2;
	font-size:11px;
	}
	
	
.table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#074765;
	border-width: 0px;
	background:#e4eef2;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 0px;
	color:#074765;
	border-style: solid;
	border-color: #666666;
	font-size:15px;
	background-color: #e4eef2;
}
table.gridtable td {
	border-width: 0px;
	color:#074765;
	border-style: solid;
	border-color: #666666;
	background-color: #e4eef2;
}


.gridtable h5{
	color:#a8adaf;	
	
	}


.neworder_container{
	background: none repeat scroll 0 0 #112c3f;
    height: 100vh;
    left: 0;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.neworder_wrapper1{	
	left: 27%;
	top: 17%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}

.neworder_wrapper{	
	left: 37%;
	top: 32%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}
.leftside_box{
	max-width: 710px;
  	margin: 0 auto;
  	height:390px;
	background:#FFF;	
	}

.main_product h3{
	margin-bottom: 17px;
	font-size: 17px;
	font-weight: normal;	
	}


.continue_myButton{
	background-color: #3a9ad2;
	margin-top: 11px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 25px;
	text-decoration:none;
   	margin-right: 30px !important;
    padding: 4px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}

.continue_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.continue_myButton:active {
	position:relative;
	top:1px;
}		

.neworder_closed{
	float: right;
	position: relative;
	left: -12px;
	top: 6px;
	cursor: pointer;
	}

/* new order closed */

/* new quote start */

.newquote_container{
	background: none repeat scroll 0 0 #112c3f;
    height: 100vh;
    left: 0;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

 
.quote_box{
	max-width: 710px;
  	margin: 0 auto;
  	height: 415px;
	background:#FFF;	
	}


.quote_heading{
	float: left;
	padding-left: 54px;
	width: 85%;
}	

.neworder_images{
	float: right;
	margin-top: -32px;	
	cursor:pointer;
	}
.main_product h4{
	font-size:15px;
	font-weight:700;	
	}
	
.quote_country{
	margin-bottom:-6px;
	
	}	

.quote_Currency{
	margin-top: -10px;
	}
.quote_Address{
	margin-top: -8px;
	
	}	

select {
	 
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e7e7e7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e7e7e7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e7e7e7 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e7e7e7 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e7e7e7 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	width: 100%;
	margin-top: 12px;
	height: 35px;
	border: 0px;
	z-index:99;
}


.quote_heading h3{
	margin-bottom: 17px;
	font-size: 15px;
	font-weight: normal;
	}

.quote_heading h4{
	font-size: 17px;
	font-weight: normal;
	}

.quote-continue_myButton{
	background-color: #216481;
	margin-top: 15px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 16px;
    height: 25px;
	text-decoration:none;
   /*	margin-right: 30px !important;*/
    padding: 2px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}

.quote-continue_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.quote-continue_myButton:active {
	position:relative;
	top:1px;
}		

.existing_myButton{
	background-color: #3a9ad2;
	margin-top: 15px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 16px;
    height: 25px;
	text-decoration:none;
	margin-left:15px;
  /* 	margin-right: 30px !important;*/
    padding: 2px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}

.existing_myButton:hover {
	background-color:#1a1919;
	text-decoration:none;
}
.existing_myButton:active {
	position:relative;
	top:1px;
}		

.quote_textarea{
	width: 90%;
	height: 36px;
	float:left;
	}



/*quoted closed*/






.newquote_closed {
	float: right;
	position: relative;
	left: -15px;
	top: 6px;
	cursor: pointer;
}

/* new quote end */
 
/* change pop up start */

.change_wrapper{	
	left: 24%;
	top: 17%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}

 
.change_box{
	max-width: 710px;
  	margin: 0 auto;
  	height: 400px;
	background:#FFF;	
	}


.change_heading{
	float: left;
	padding-left: 45px;
	width: 85%;
}	
.change_heading h3{
	font-size: 16px;
	font-weight: normal;
	}

.change_heading h4{
	font-size: 21px;
	font-weight: normal;
	line-height: 0;
	}
	
	
.chang-popup_nav{
	
	}	
.chang-popup_nav ul{
	float: left;
	width: 100%;
	}
.chang-popup_nav ul li{
	display: inline-block;
	font-size: 14px;
	color: #FFF;
	padding: 3% 1.2%;
	}	
.country_nam{
	font-size:10px;
	color:#000;
	text-align:center;
	}	
	
.change_bottom{
	text-align: center;
	font-size: 19px;
	width: 95%;	
	}	
.chang_img{
	float:right;
	cursor:pointer;
	margin-top: -6px;
	}	
	
.change_closed {
	float: right;
	position: relative;
	left: -15px;
	top: 6px;
	cursor:pointer;
}

/*change pop up closed*/

/*currancy pop up start*/
.currancy_container{
	
	background: none repeat scroll 0 0 rgba(17, 44, 63, 0.86);
    height: 100vh;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.change_wrapper{	
	left: 24%;
	top: 17%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}
 .currancy_box{
	max-width: 710px;
  	margin: 0 auto;
  	height: 400px;
	background:#FFF;	
	}


.currancy_heading{
	float: left;
	padding-left: 45px;
	width: 85%;
}	
.currancy_heading h3{
	font-size: 16px;
	font-weight: normal;
	}

.currancy_heading h4{
	font-size: 21px;
	font-weight: normal;
	line-height: 0;
	}
	
.currancy-popup_nav{
	}	
.currancy-popup_nav ul{
	float: left;
	width: 100%;
	margin-bottom: -11px;
	margin-left: 24px;
	}
.currancy-popup_nav ul li{
	display: inline-block;
	font-size: 14px;
	color: #FFF;
	padding: 3% 1.2%;
	}	
.currancy_nam{
	font-size:10px;
	color:#000;
	text-align:center;
	}	
	
.currancy_bottom{
	text-align: center;
	font-size: 19px;
	width: 95%;	
	}	
.currancy_img{
	float:right;
	cursor:pointer;
	margin-top: -8px;
	}	
	
.currancy_closed {
	float: right;
	position: relative;
	left: -15px;
	top: 6px;
	cursor:pointer;
}
/*currancy pop up closed*/
/*default address pop up start*/


.address_container{
	background: none repeat scroll 0 0 #112c3f;
    height: 100vh;
    left: 0;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.address_wrapper{	
	left: 24%;
	top: 17%;
	background: #FFF;
	margin: 0px auto;
	position: absolute;
	width: 500px;
	z-index: 99999;
	height: 345px;
}
 .address_box{
	max-width: 710px;
  	margin: 0 auto;
  	height: 315px;
	background:#FFF;	
	}


.address_heading{
	float: left;
	padding-left: 45px;
	width: 92%;
}	
.address_heading h3{
	font-size: 16px;
	font-weight: normal;
	}

.address_heading h4{
	font-size: 21px;
	font-weight: normal;
	line-height: 0;
	}

.addres_text{
	float:left;	
	margin-left: 30px;
	margin-top: 10px;
	}
.addres_text h5{
	float:left;	
	font-size:19px;
	}	
.addres_text h6{
	font-size:18px;
	color:#666666;
	float:left;
	}				
.flag_address{
	float:right;
	cursor:pointer;	
	}
.address_country-code{
	margin-left: 30px;
	}	

.address_country-code h2{
	font-size:18px;
	color:#666666;	
	margin-top: 1px;
	}	
.address_delevry-heading{
	font-size: 22px;
	float: left;
	margin-left: 28px;
	
	}	
.default-address_select {
	width: 71%;
	float: left;
	font-size: 19px;
	margin-left: 45px;
	margin-top: 0px;
	color:#c2c3c5;
	cursor:pointer;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(229,229,229,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1 );
	 	}	
		
		
.address_bottom{	
	text-align: center;
	font-size: 19px;
	width: 94%;
	float: left;}
	
.address_closed {
	float: right;
	position: relative;
	left: -15px;
	top: 6px;
	cursor:pointer;
}

/*default address pop up closed*/

/*popup -endt*/
header{
	position:fixed;
	width:100%;
	color:#FFF;
	height:118px;
	z-index:99;
	}
.top_header{
	width:100%;
	height:40px;
	float:left;
	background:#c63226;
	}		


.basket {
	
	background:url(images/Basket.png) no-repeat;
	width:25px;
	height:25px;
	float:left;
	margin: -3px 0px;
	}
.cycle{
	background:url(images/icon-life-cycle.png) no-repeat;
	width:25px;
	height:25px;
	float:left;
	margin: 0px 0px;
	}	

.dashboard{
	background:url(images/icon-dashboard.png) no-repeat;
	width:25px;
	height:25px;
	float:left;
	margin: 1px 0px;
	}	
	
.disposition{
	background:url(images/icon-disposition.png) no-repeat;
	width:25px;
	height:25px;
	float:left;	
	margin: -3px 0px;
	}	
	
.redisburation{
	background:url(images/icon-redistribution.png) no-repeat;
	width:25px;
	height:25px;
	float:left;	
	}	
	
.vsrm{
   background:url(images/icon-vsrm.png) no-repeat;
   width:25px;
   height:25px;
   float:left;
   margin: -3px 0px;		
	}	
.arrow{
	background:url(images/areo.png) no-repeat;
	width:25px;
	height:25px;
	float:right;
	margin-top: 4px;
	margin-right: -9px;
	}
	
.left_sidebar ul{
 margin:0;
 padding:0;
 list-style:none;
 
 
}

.left_sidebar li a {
  color: #fff;
  display: block;
  text-decoration: none;
  
}

.left_sidebar > ul > li > a {
  background: none repeat scroll 0 0 #2f4552;
  padding: 10px;
  text-indent: 10px;
}

.left_sidebar ul ul > li > a {
  background: none repeat scroll 0 0 #364c5a;
  margin: 5px 0;
  padding: 10px;
  text-indent: 36px;
}

.left_sidebar > ul {
  margin-top: 57px;
  
}

.left_sidebar > ul > ul{
  display:block;
}

.left_sidebar > ul > li {
  margin: 1px 0;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  
}

.left-bottom{
	float: left;
	width: 100%;
	margin-top: 20px;
	}
 
.left_searchbar{
	width: 100%;
	height: 160px;
	background: #2f4552;}

.left_searchbar h2{
	font-size: 19px;
	color: #FFF;
	padding-top: 15px;
	margin-left: 12px;
	}


.styled-select {
      width: 92%;
   height: 35px;
   margin-left: 8px;
   overflow: hidden;
   border: 1px solid #ccc;
   }

.styled-select select {
	margin-top: -1px;
	background: #FFF;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('images/searchbox.png') no-repeat #fff 215px center;
}

.hvr-clr {background-color: #333 !important;}
.arrow-click{margin-top: -9px; transform: rotate(-90deg); transition: 0.2s all;}
.left_arrow{
	background:url(images/left-background.png) no-repeat;
	width: 26px;
	height: 27px;
	float: right;
	margin-top: -6px;
	margin-right: -41px;
	transition: ease-in 0.5s;
	transform: rotate(0deg);
	}
.slider-area{
	float:right;
	height:130px;
	background:#FFF;
	position:relative;
	top: 60px;
	width:98%;
	}

.slider-arrow {
	float: left;
	padding: 24px 0px 0px 5px;
}

	
				
.navigation{
	float: right;
	width: 84%;
	position: relative;
	top: 184px;
	left: 0px;
	}	
 

.nav-area ul li{	
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	margin: 15px 14px 0px 0px;
	width: 17%;
	border-right: 1px solid;
}
.nav-area ul li a{
	color:#FFF;
	text-decoration:none;}	


.pipe{
	
	color:#FFF;	
	margin-right: 23px;
	
	}

.active {
	/*background: #216481;*/
	/*padding: 18px 14px 13px 22px;*/
	margin-left: -17px;
	}

form .custom_form {
	/*width: 5%*/;
}	

.order{
	float: right !important;
	margin-right: -135px;
	color: #119108 !important;
	font-size: 22px !important;
	margin-top: 7px !important;
}	
	
.slider-area{
	float: right;
	height: 130px;
	background: #FFF;
	position: relative;
	top: 0px;
	width: 100%;
	}

.slider-arrow {
	float: left;
	padding: 46px 0px 0px 5px;
}	

.Slider1_img1{
	width: 300px;
	float: left;
	padding: 29px 0px 0px 49px;
	height: 130px;
	position: relative;
	border-right: 1px solid #999999;}

.Slider1_img1 p {
	font-size: 10px;
	float: left;
	margin: -43px 0px 0px 87px;}
	
.Slider1_img1 span{
	color:#F00;
	position: relative;
	top: -9px;
	}
.close-img{
	margin-left: -17px;
	margin-top: -40px;
	}	
.close-imgs{
	margin-left: -32px;
    margin-top: -56px;

	}		

.Slider2_img1{
	width: 300px;
	float: left;
	padding: 29px 0px 0px 49px;
	height: 130px;
	position: relative;
	border-right: 1px solid #999999;}

.Slider2_img1 p {
	font-size: 10px;
	float: left;
	margin: -43px 0px 0px 104px;}
	
.Slider2_img1 span{
	color:#F00;
	position: relative;
	top: -9px;
	}
.close-img2{
	position: absolute;
	left: 136px;
	top:20px;
	}		

.Slider3_img1{
	width: 300px;
	float: left;
	padding: 29px 0px 0px 49px;
	height: 130px;
	position: relative;
	border-right: 1px solid #999999;}

.Slider3_img1 p {
	font-size: 10px;
	float: left;
	margin: -43px 0px 0px 106px;}
	
.Slider3_img1 span{
	color:#F00;
	position: relative;
	top: -9px;
	}
.close-img3{
	position: absolute;
	left: 136px;
	top:20px;
	}		
	


.Slider4_img1{
	width: 280px;
	float: left;
	padding: 29px 0px 0px 17px;
	height: 130px;
	position: relative;
	}

.Slider4_img1 p {
	font-size: 10px;
	float: left;
	margin: -43px 0px 0px 65px;}
	
.Slider4_img1 span{
	color:#F00;
	position: relative;
	top: -9px;
	left: 25px;
	}
.close-img4{
	position: absolute;
	left: 48px;
	top: 20px;
	}		
	
.slider-arrow-right {
	float: right;
	margin: 54px 24px 0px 0px;
}


.slider_sepretor {
height: 1px;
width: 0px;
}

.product ul li.active{
	 background:#636363;
	 padding:18px 14px 11px 14px;
	}
.product ul li:hover{
	background:#666;
	}	

.disable{
	color:#484848 !important;
	font-size: 18px;
	font-weight: lighter;	
	}
		
.product_img{	
	float: right;
	margin-top: -46px;
	cursor:pointer;}	
	
	
.container-bottom{
		float: right;
		height: auto;
		background: #fff;
		width: 100%;
		}	
.left-arrows{
	float:right;
	margin: 38px 10px 0px 0px;
	}	
	
.carousel_nav ul li:nth-child(4) {
	width: 182px !important;

}
.carousel_nav ul li:nth-child(5) {
	width: 135px !important;
 
}	

.carousel_nav ul li:nth-child(6) {
	width: 160px !important;
	 
}
.carousel_nav ul li:nth-child(7) {
	width: 237px !important;
	margin-left: 10px;
}
.carousel_nav ul li:nth-child(8) {
	width: 195px !important;
	
}


.carousel_nav ul li:nth-child(10) {
	width: 153px !important;
	
}

.carousel_nav ul li:nth-child(11) {
	width: 240px !important;
	
}
	
/**laptop -product**/	
	
.laptop{
	float: right;
	height: 302px;
	width:100%;
	}
.laptop h1{
	color: #282828;
	padding: 5px 0px 0px 16px;
	font-weight: normal;
	}

.laptop_container{
	width: 97%;
	float: left;
	position: relative;
	height: auto;
	top: -189px;
	left: -61px;
	}
.border-top{
		width: 700px;
		border-bottom: 1px solid #CCC;
		margin-left: 109px;
	}

.laptop_container ul{
		width: 100%;
		float: left;
		list-style: none;}
		
.laptop_container ul li{
		width: 11.1%;
		float: left;
		padding: 1% 2%;
		margin-left: -2px;}
		
.laptop_container ul li figure{
		float: left;
		padding: 24px 0px 0px 10px;
		height: 130px;
		width: 130px;
		border: 1px solid #f0f0f0;
}
.laptop_container ul li figure img{
		float: left;
		margin: -14px 0px 0px 4px;
		}

.laptop_container ul li h1{
		width: 195px;
		float: left;
		font-size: 8px;
		text-align: left;
		margin: -37px 0px 0px -48px;
}
.laptop_container ul li p{
		float: left;
		font-size: 8px;
		text-align: left;
		width: 151px;
		margin-top: -12px;
		margin-left: 42px;
		}

.laptop_container ul li p span{
	color:red;
	}
	
.plus{
	background: none repeat scroll 0 0 #f00;
    color: #fff;
    float: right;
    font-size: 16px;
    height: 23px;
    margin-left: 96px;
    margin-top: -24px;
    padding-left: 5px;
    position: absolute;
    width: 17px;
    z-index: 99;

}

.plus a{
        color: #F8FAFC;
  		
}

	
.model{
	color:#000;
	font-size:10px;	
	margin-left: -10px;
	}	

.model span{
	font-size: 9px;
	color: #F00;
	} 
		
.version{
	font-size: 9px;
	color: #F00;
	margin-left: 47px;
	margin-top: -11px;
	}	


.networking{
	float: right;
	height: 302px;
	width: 100%;
	margin-top: -30px;
	}


.networking_container{
		width: 97%;
		float: left;
		position: relative;
		height: auto;
		margin-left: -50px;
		}
.networking_container ul{
		width: 100%;
		float: left;
		list-style: none;}
		
.networking_container ul li{
		width: 8%;
		float: left;
		padding: 1% 2%;
		margin-left: -2px;}
		
.networking_container ul li figure{
		float: left;
		padding: 24px 0px 0px 10px;
		height: 130px;
		width: 130px;
		border: 1px solid #f0f0f0;
}
.networking_container ul li figure img{
		float: left;
		margin: -14px 0px 0px 4px;
		}

.networking_container ul li h1{
		width: 195px;
		float: left;
		font-size: 8px;
		text-align: left;
		margin: -37px 0px 0px -48px;
}
.networking_container ul li p{
		float: left;
		font-size: 8px;
		text-align: left;
		width: 151px;
		margin-top: -12px;
		margin-left: 42px;
		}

.networking_container ul li p span{
	color:red;
	}
.card{
	width: 24px;
	height: 26px;
	float: left;
	background: #c63228;
	padding: 3px 0px 0px 1px;
	border-radius: 3px;
	margin-left: -10px;
	}
	
.cards{
	border: 1px solid #6ab5dc;
    border-radius: 3px;
    float: left;
    height: 26px;
    margin: 1px 0 0 8px;
    padding: 2px 0 0 5px;
    width: 22px;
	}
.card-blank{
	border: 1px solid #6ab5dc;
    border-radius: 3px;
    float: left;
    height: 27px;
    margin-left: -11px;
    margin-top: 1px;
    width: 25px;
	}		
.server{
	float: right;
	height: 302px;
	width: 100%;
	 margin-top: -109px;
	}
	
.server h1{
	font-weight: normal;
	margin-left: -13px;
	margin-top: 96px;
	}			

.server_container{
		width: 97%;
		float: left;
		position: relative;
		height: 210px;
		margin-bottom:100px;
		margin-left: -50px;
		}

.server_container ul{
		width: 100%;
		float: left;
		list-style: none;}
		
.server_container ul li{
		width: 8%;
		float: left;
		padding: 1% 2%;
		margin-left: -2px;}
		
.server_container ul li figure{
		float: left;
		padding: 24px 0px 0px 10px;
		height: 130px;
		width: 130px;
		border: 1px solid #f0f0f0;
}
.server_container ul li figure img{
		float: left;
		margin: -14px 0px 0px 4px;
		}

.server_container ul li h1{
		width: 195px;
		float: left;
		font-size: 8px;
		text-align: left;
		margin: -37px 0px 0px -48px;
}
.server_container ul li p{
		float: left;
		font-size: 8px;
		text-align: left;
		width: 151px;
		margin-top: -12px;
		margin-left: 42px;
		}

.server_container ul li p span{
	color:red;
	}
.main-basket {
    width: 100%;
    height: auto;
    float: left;
    background: #0b111f;
}
	
/*bundle css start*/


.navigation-bar{
	float: left;
	width: 100%;
	height: 50px;
	background: #3b9ad2;
	margin-top: 4px;
	}	
.navigation-bar ul{	
	display: inline-block;
	float: left;
	margin-left: -38px;
	font-size: 17px;
	width: 500px;
	font-weight: normal;}	

.navigation-bar ul li{	
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	margin: 15px 15px 0px 0px;
	width:17%;
	border-right: 1px solid;
	padding: 0 0px;
}
.navigation-bar ul li a{
	color:#FFF;
	text-decoration:none;}	


.pipe{
	
	color:#FFF;	
	margin-right: 23px;
	
	}

.active {
	/*background: #216481;*/
	/*padding: 18px 14px 13px 22px;*/
	margin-left: -17px;
	}


form {
	float: right;
	padding-top: 12px;
	/*width: 16%;*/
}
	
.search-magnifing {
	width: 107px;
	background: #FFF;
	background-image: url(images/magnifing-icon3.png);
	background-repeat: no-repeat;
	background-position: 100% 45%;
	padding-left: 1.2%;
	margin-right: 12px;
	border: none;
	padding-top: 5px;
}	

input.add-to-quote {
	background: #FFF;
	color: #09C;
	border: none;
	margin-right: 20px;
	padding-top: 5px;
}
	
.custom_bundle {
	background: #e5eef3;
	height: 230px;
}
	
	
	
	
.custom-back {
	margin-top: 2%;
}	

.custom-link{
	float:right;	
	}	
	
	
input.update_basket {
	background: #3a9ad6;
	color: #FFF;
	border: none;
	padding: 2px 10px;
	margin-right: 20px;
}
	
input.update_basket {
	background: #3a9ad6;
	color: #FFF;
	border: none;
	padding: 2px 10px;
	margin-right: 6px;
}

input.update_excel{
	background: #3a9ad6;
	color: #FFF;
	border: none;
	padding: 2px 10px;
	margin-right: 5px;
}

input.update_pdf{
	background: #3a9ad6;
	color: #FFF;
	border: none;
	padding: 2px 10px;
	margin-right: 50px;
	margin-left: 0px;
	}	

select.address_dropdown{
	width: 20%;
	height: 22px;
	background:#ccdfe6;
	margin-left: 5%;
}	
	
.heading_name {
	width: 34%;
	margin-top: 1%;
}

.custom-textarea{
	margin-top: 11px;	
	}


input.custom-textbox {
	margin-left: 11%;
}
	
	
.shipping_address {
	width: 33%;
	margin-top: 6px;
}	
	
.shipping_dropdown {
	width: 31%;
	margin-left: 15%;
	background: #ccdfe6;
	height: 27px;
}	
	
.shipping_contact {
	width: 33%;
	margin-top: 0.7%;
}	
	
.shippings-textbox {
	margin-left: 5%;
}	

.shipping_refrence {
	width: 33%;
	margin-top: 10px;
}

.refrence-textbox {
	margin-left: 15%;
}

.custum-describtion {
	width: 18%;
	margin-top: 1%;
	margin-right: 0%;
}

.custum-describtion span{
	color: #F00;
	margin-left: 18%;
}

.custum-describtion strong{
	color: #F00;
	margin-left: 7%;
}
	
.box {
	width: 7%;
	margin-left: 41%;
	border: 1px solid #CCC;
	padding-left: 8px;
}
	
/*Custom budle css end*/	
	

form.custom-upload_area {
	width: 100%;
}

.custom-country {
	margin-left: -15px;
}
	
.custom-flag {
	margin-left: 13px;
}
	
		/*media Query started here*/
		
.estimed {
float: left;
margin-left: -36%;
width: 104%;
}

.estimed p {
float: right;
font-weight: bold;
color: red;
}

.estimed strong {
margin-left: 21px;
}
	
.disable-custom{
	 cursor:none !important;
	}	
	
p.change a {
	text-decoration: none;
	color: #adaeb0;
}
@media only screen and (min-width: 1600px) and (max-width: 1899px) {
	
	.previous {
	width: 12%;
}	
	
.next {
	width: 10%;
}	

.custom-textarea {
	width: 52%;
}

form {
	float: right;
	padding-top: 12px;
	width: 20%;
}


.left_sidebar > ul > li {
	margin: 1px 0;
	position: relative;
	font-size: 15px;
	font-weight: 300;
}

.product {
 	height: 45px;
 	width: 49%;
	
}
	
.product ul {
	display: inline-block;
	float: left;
	font-size: 17px;
	margin: 0 0 0 0px;
	padding: 0;
	width: 100%;
}
	
	
#jcl-demo1 {
	margin: 0px 0 0;
	padding: 0px 0;
	background: #282828;
	position: relative;
	float: left;
	width: 50% !important;
}

	
#jcl-demo1 .carousel_nav {
	float: left;
	height: 58px;
	position: relative;
	visibility: hidden;
	width: 93% !important;
}


#jcl-demo1 a.next {
	width: 22px !important;
	position: relative;
	float: right;
	margin-top: 11px;
	}

	
	 
}
	
	
	
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
	
	.previous {
	width: 12%;
}	
	
.next {
	width: 10%;
}	

.custom-textarea {
	width: 52%;
}

 
 
 .custom-country{
	 width: 17%;
	 }
 
 

.main-basket {
	width: 100%;
	height: auto;
	float: left;
	background: #0b111f;
	margin-top: -2px;
}

.main-navslider {
	width: 100%;
	float: right;
}

.product {
	width: 64%;
	float: left;
	top: 0 !important;
}

.product ul {
	padding: 0px 4px;
	font-size: 16px;
	width: 100%;
}



.top_nav ul li {
	font-size: 16px;
	
}	

.right-container {
	float: right;
	width: 83%;}

.top_heading {
	float: left;
	width: 350px;
	 
}
.top_heading span {
	font-size: 17px;
	float: left;
}

.text {
float: left;
font-size: 16px;
margin-left: 6px;
margin-top: 6px;
}


.basket_procurment {
	font-size: 16px;
	margin: 11% -98%;
}


.left_sidebar {
width: 17%;
left: 0;
height: 100vh;
}


.left_sidebar > ul > li {
	font-size: 15px;
	 
}

input.left_search {
	width: 91.4%;
	}

.main_nav {
	width: 83%;
	height: 48px;

}	
.main_nav ul li {
	padding: 0px 9px;
	font-size: 14px;
	text-decoration: none;
}
	
.nav-area {
	float: left;
	width: 100%;
	height: 52px;
	background: #3b9ad2;
	margin-top: 14px;
	 
	}	
	
.inner-area {
	width: auto;
	float: left;
	height: 40px;
	background: #0b111f;
	margin-left: 36px;
}	
.slider-area {
	float: right;
	height: 130px;
	background: #FFF;
	position: relative;
	top: 0px;
	width: 96%;
}	
	
	
.Slider1_img1 {
	width: 305px;
	margin-left: -30px;
}

.Slider2_img1 {
	width: 294px;
	margin-left: -28px;}

.Slider3_img1 {
	width: 325px;
	margin-left: -38px;}

.Slider4_img1 {
	width: 229px;
}


.laptop {
	width: 100%;
}

.col-md-10.server {
	width: 102%;
}

.server h1 {
	font-weight: normal;
	margin-left: -13px;
	margin-top: 110px;
}


#jcl-demos3 a.next {
	background: url(../images/laptops-sliderimg.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 75px;
	left: 40px;
	margin-top: 61px;
	position: relative;
	text-indent: 10px;
	transform: rotate(180deg);
	width: 26px;
}


}

@media only screen and (max-width: 1365px) and (min-width: 1281px){




	
.product {
	height: 51px;
	width: 60%;}

.left_sidebar > ul > li {
	margin: 1px 0;
	position: relative;
	font-size: 13px;
	font-weight: 300;
}

.product ul {
	display: inline-block;
	float: left;
	font-size: 16px;
	}
	
} 

@media only screen and (max-width: 1280px) and (max-width: 1365px){
	
	.previous {
	width: 12%;
}	
	
.next {
	width: 10%;
}	
	
	
.custom-flag {
width: 40%;
}
	
	
	.custom-country{
	 width: 20%;
	 }
	 
	
	.top_nav ul li {
	display: inline-block;
	font-size: 15px;
	color: #FFF;
}

.basket_procurment {
	float: right;
	color: #fff;
	font-size: 15px;
	height: 27px;
	text-transform: uppercase;
	margin: 15% -98%;
}
.main_nav {
	background: url(images/nav-background.jpg);
	background-repeat: x-repeat;
	width: 80%;
	height: 50px;
	color: #000;
	position: fixed;
	top: 116px;
	float: right;
	right: 0;
	z-index: 99;
}
.main_nav ul li {
	color: #000;
	padding: 0px 9px;
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
}	
	
.left_sidebar {
	width: 20%;
	background: #3c5665;
	position: fixed;
	top: 116px;
	bottom: 0;
	left: 0;
}	

.right-container {
float: right;
width: 80%;}
	
.top_heading {
	float: left;
	width: 277px;
	margin-left: 5px;
}

.top_heading span {
	font-size: 12px;
	float: left;
	
}

.text {
	float: left;
	font-size: 12px;
	margin-left: 6px;
	margin-top: 8px;
}
.address {
	float: left;
	font-size: 12px;
	margin-top: -7px;
	margin-left: 6px;
}
.change {
	color: #adaeb0;
	font-size: 12px;
	float: left;
	margin-top: -30px;
	margin-left: 52px;
}

	
.boxex-area {
	float: right;
	width: 536px;
	margin-right: -3px;
}

.box1 {
	float: left;
	background-size: 100%;
	margin-left: 0px;
	 
}

.box1 img {
	width: 86%;
}

.box1 p {
	font-size: 11px;
	color: #FFF;
	margin-top: -66px;
	margin-left: 47px;
	}
.box1 h1 {
	color: #FFF;
	font-size: 11px;
	margin-left: 36%;
	font-weight: normal;
	margin-top: 7%;
	}

.box1 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 12px;
}

.box2 {
	float: left;
	background-size: 100%;
	margin-left: -42px;
	 
}

.box2 img {
	width: 86%;
}
.box2 p {
	font-size: 13px;
	color: #FFF;
	margin-top: -70px;
	margin-left: 68px;
}

.box2 h1 {
	color: #FFF;
	font-size: 13px;
	margin-left: 92px;
	font-weight: normal;
	margin-top: 13px;
}

.box2 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 11px;
}

.box3 {
	float: right;
	background-size: 100%;
	margin-right: -37px;
	margin-top: -78px;
}

.box3 img {
	width: 86%;
}

.box3 p {
	font-size: 11px;
	color: #FFF;
	margin-top: -66px;
	margin-left: 104px;
}
.box3 h1 {
	color: #FFF;
	font-size: 15px;
	margin-left: 82px;
	font-weight: normal;
	margin-top: 5px;
}

.box3 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 12px;
}


.nav-area {
	float: left;
	width: 100%;
	height: 48px;
	background: #3b9ad2;
	margin-top: 13px;
	 
}
.nav-area ul {
	display: inline-block;
	float: left;
	margin-left: -38px;
	font-size: 15px;
	width: 479px;
	margin-top: 11px;
}

.nav-area ul li {
	color: #FFF;
	padding: 10px 0px;
	display: inline-block;
	text-decoration: none;
	margin-top: -4px;
}
.inner-area {
	width: auto;
	float: left;
	height: 39px;
	background: #0b111f;
	margin-left: 62px;
}

.slider-area {
width: 93%;
}


.Slider1_img1 {
	width: 222px;
	margin-left: -30px;
}

.Slider2_img1 {
width: 251px;}

.Slider3_img1 {
width: 201px;}

.Slider4_img1 {
width: 128px;
}

.product {
height: 51px;
width: 93%;}

.left_sidebar > ul > li {
	margin: 1px 0;
	position: relative;
	font-size: 13px;
	font-weight: 300;
}


.left_sidebar {
	height: 181vh;
}

input.left_search {
	width: 91.3%;}



.main-basket {
	width: 100%;
	height: auto;
	float: right;}
	
.main-navslider {
	width: 100%;
	float:right;
}	

.product{
	width: 71%;
	float: left;
	top:0 !important;
}
.product ul{
	padding: 0px 4px;
	font-size: 16px;
	width: 100%;
}

.product ul li {
 padding: 19px 24px 12px 7px;
}

.product ul li:nth-child(1) {
	width: 118px;
	margin-left: -16px;
}



#jcl-demo1 {
	width: 26% !important;
	float:right;
}

#jcl-demo1 a.next {
	width: 0 !important;
}
.laptop {
	width: 100%;
	
}

.col-md-10.server {
	width: 95%;
}
.server h1 {
	font-weight: normal;
	margin-left: -13px;
	margin-top: 110px;
}

}
	 
@media only screen and (max-width: 1024px) and (max-width: 1365px){
	
input.custom_form {
	color: #FFF;
	background: #216481;
	width: 7%;}

input.custom_button {
	width: 14%;
}

.previous {
	width: 12%;
}	
	
.next {
	width: 10%;
}	
	
	
.custom_country-area {
	 
	width: 80%;
font-size: 13px;
	}

.custom_refrencearea {
	width: 80%;
}
	
input.custom_txtbox {
	width: 27%;
 
}
	
	

.order-number {
	width: 41%;
	}
	
.custom-shipping {
	width: 54%;
}

.custom-country{
	 width: 25%;
	 }

.custom-flag {
width: 40%;
}


.refrence-textbox {
	margin-left: 26%;
	width: 44%;
}

.top_nav ul li {
	display: inline-block;
	font-size: 15px;
	color: #FFF;
}

.basket_procurment {
	float: right;
	color: #fff;
	font-size: 15px;
	height: 27px;
	text-transform: uppercase;
	margin: 15% -98%;
}
.main_nav {
	background: url(images/nav-background.jpg);
	background-repeat: x-repeat;
	width: 80%;
	height: 50px;
	color: #000;
	position: fixed;
	top: 116px;
	float: right;
	right: 0;
	z-index: 99;
}
.main_nav ul li {
	color: #000;
	padding: 0px 9px;
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
}	
	
.left_sidebar {
	width: 20%;
	background: #3c5665;
	position: fixed;
	top: 116px;
	bottom: 0;
	left: 0;
}	
	
.top_heading {
	float: left;
	width: 322px;
	margin-left: 0px;
}

.top_heading span {
	font-size: 12px;
	float: left;
	
}

.text {
	float: left;
	font-size: 12px;
	margin-left: 6px;
	margin-top: 8px;
}
.address {
	float: left;
	font-size: 12px;
	margin-top: -7px;
	margin-left: 6px;
}
.change {
	color: #adaeb0;
	font-size: 12px;
	float: left;
	margin-top: -30px;
	margin-left: 52px;
}

	
.boxex-area {
	float: right;
	width: 545px;
}

.box1 {
	float: left;
	background-size: 100%;
	margin-left: 0px;
	margin-top: -69px;
}

.box1 img {
	width: 86%;
}

.box1 p {
	font-size: 11px;
	color: #FFF;
	margin-top: -66px;
	margin-left: 47px;
	}
.box1 h1 {
	color: #FFF;
	font-size: 11px;
	margin-left: 36%;
	font-weight: normal;
	margin-top: 7%;
	}

.box1 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 12px;
}

.box2 {
	float: left;
	background-size: 100%;
	margin-left: -42px;
	margin-top: -69px;
}

.box2 img {
	width: 86%;
}
.box2 p {
	font-size: 13px;
	color: #FFF;
	margin-top: -70px;
	margin-left: 68px;
}

.box2 h1 {
	color: #FFF;
	font-size: 13px;
	margin-left: 92px;
	font-weight: normal;
	margin-top: 13px;
}

.box2 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 11px;
}

.box3 {
	float: right;
	background-size: 100%;
	margin-right: -37px;
	margin-top: -78px;
}

.box3 img {
	width: 86%;
}

.box3 p {
	font-size: 11px;
	color: #FFF;
	margin-top: -66px;
	margin-left: 104px;
}
.box3 h1 {
	color: #FFF;
	font-size: 15px;
	margin-left: 82px;
	font-weight: normal;
	margin-top: 5px;
}

.box3 h2 {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	margin-left: 8px;
	margin-top: 12px;
}


.nav-area {
	float: left;
	width: 100%;
	height: 48px;
	background: #3b9ad2;
	margin-top: 13px;
	 
}
.nav-area ul {
	display: inline-block;
	float: left;
	margin-left: -38px;
	font-size: 15px;
	width: 479px;
	margin-top: 11px;
}

.nav-area ul li {
	color: #FFF;
	padding: 10px 0px;
	display: inline-block;
	text-decoration: none;
	margin-top: -4px;
}
.inner-area {
	width: auto;
	float: left;
	height: 39px;
	background: #0b111f;
	margin-left: 62px;
}

.slider-area {
width: 93%;
}


.Slider1_img1 {
	width: 222px;
	margin-left: -30px;
}

.Slider2_img1 {
width: 251px;}

.Slider3_img1 {
width: 201px;}

.Slider4_img1 {
width: 128px;
}

.product {
height: 51px;
width: 93%;}

.left_sidebar > ul > li {
	margin: 1px 0;
	position: relative;
	font-size: 13px;
	font-weight: 300;
}


.left_sidebar {
	height: 181vh;
}

input.left_search {
	width: 90.3%;}



.main-basket {
	width: 100%;
	height: auto;
	float: right;}
	
.main-navslider {
	width: 100%;
	float:right;
}	

.product{
	width: 71%;
	float: left;
	top:0 !important;
}
.product ul{
	padding: 0px 4px;
	font-size: 14px;
	width: 100%;
}

.product ul li {
 padding: 19px 24px 12px 7px;
}

.product ul li:nth-child(1) {
	width: 118px;
	margin-left: -16px;
}



#jcl-demo1 {
	width: 26% !important;
	float:right;
}

#jcl-demo1 a.next {
	width: 0 !important;
}
.laptop {
	width: 96%;
}

.col-md-10.networking {
	width: 102%;
}


}

.asdds{ position:fixed; width: 100%; height: 100%;}

/*request-style.css start*/
 


 
/*request-style.css closed*/