﻿@model OneSourceAdminCore.Model.ScoreboardModel
@{
    ViewBag.Title = "Scoreboard";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <meta http-equiv="refresh" content="30" >
}
 
<script src="~/Content/GijgoGrid-Core.js"></script>
<link href="~/Content/grid-0.4.5.css" rel="stylesheet" />
<script src="~/Content/grid-0.4.5.js"></script>

<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Support > Scoreboard</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;"></div>
</div>

<div class="os-admin-tabs cards">
    <div class="col-md-12 tab-content" style="padding:0px">
        <h1>Support - scoreboard</h1>
        <hr />

        <div class="col-md-12" style="padding:0px">
            <div class="col-md-12">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        Filter:
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownList("filterDrp", new SelectList(Model.FiltersList, "Key", "Value"), new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <div class="col-md-3">

                    </div>

                    <div class="col-md-9">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <input type="checkbox" name="interChk" value="@Model.InternalRequest" />
                            </div>
                            <div class="col-md-9" style="font-size: 12px">Hide Internal Requests</div>
                        </div>
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <input type="checkbox" name="systemRequest" checked="checked" value="@Model.SystemRequest" />
                            </div>
                            <div class="col-md-9" style="font-size: 12px"> Hide System and Non-Ticket Requests </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                </div>
            </div>
            <div id="result" class="col-md-12" style="overflow-x: scroll"></div>

        </div>

        <hr />
        <div class="col-md-12"></div>


    </div>
</div>


<script>

    $(document).ready(function () {
        function GetScoreboardList() {

            $("#result").html('<table id="grid" ></table>');
            var grid = $("#grid").html("");

            showHideLoader(1);
            $("#grid").grid({
                dataKey: "ManfId",
                dataSource: {
                    url: "/Scoreboard/GetScorboardList",
                    cache: false,
                    data: { internalRequest: $("input[name='interChk']").is(':checked'), systemRequest: $("input[name='systemRequest']").is(':checked'), filterStr: $("#filterDrp").val().toString(), },
                    complete: function () {
                        $(".gj-grid-bootstrap-tfoot-cell").attr("colspan", "16");
                        //$("#manfPartModal").modal("show");
                        $(".gj-grid-wrapper").css("width","140%");
                        showHideLoader(0);
                    }
                },
                uiLibrary: "bootstrap",
                columns: [
                    //{ field: "ManfId", sortable: true, title: "ManfId" },
                    {
                        field: "TicketId",
                        tmpl: '<a href="/ticket-detail/{TicketId}">{TicketId}</a>', sortable: true, title: "Ticket #", width: 60
                    },
                    { field: "TypeName", sortable: true, title: "Type" },
                    { field: "DateReceived", title: "Date Received", sortable: true },
                    { field: "CompanyName", title: "Company", sortable: true },
                    { field: "Status", title: "Status", sortable: true },
                    { field: "Priority", title: "Priority", sortable: true },
                    { field: "SlaName", title: "SLA", sortable: true, tmpl: '<a href="/sla-history/{SlaInstanceId}">{SlaName}</a>', },
                    { field: "MinutesToBreach", title: "Minutes To Breach", sortable: true },
                    { field: "CSR", title: "CSR", sortable: true },
                    { field: "GSP", title: "GSP", sortable: true },
                    { field: "Country", renderer: function (value, record) { return record.CustomerId > 0 ? value : record.Country2; }, title: "Country", sortable: true },
                    { field: "Mfg", title: "Mfg", sortable: true },
                    { field: "Model", title: "Model", sortable: true },
                    { field: "Coverge", title: "Coverge", sortable: true },
                    { field: "LastUpdated", title: "Last Updated", sortable: true },
                    { field: "LastUpdateBy", title: "Last Update By", sortable: true }
                ],

                pager: { enable: true, limit: 25, sizes: [25, 50] },
     

            });


        }


        GetScoreboardList();

        $("#filterDrp").change(function () {
            GetScoreboardList();
        });

        $('input[type="checkbox"]').change(function () {
            GetScoreboardList();
        });

    });


</script>



<style>
    .gj-grid-bootstrap-thead-cell.gj-grid-thead-sortable > div {
        font-size: 12px;
    }

    #result table tbody tr td {
        font-size: 11px;
    }

    .gj-cursor-pointer {
        background-color: #3b9ad2 !important;
        color: white;
    }
    .gj-grid-bootstrap-tfoot-cell {
        background-color: #3b9ad2 !important;
        color: white;
    }

    #grid td {
        padding: 5px 4px;
    }

    .form-control.input-sm {
        margin-bottom: 0;
    }
    #grid a {
        color: blue;
    }
</style>