﻿@model OneSourceAdminCore.Model.CountryCrudModal

<div class="addEditDiv" style="margin-top: 60px; display: none;">
    <input type="hidden" id="crudMsg" value="@(TempData["crudMsg"] != null ? TempData["crudMsg"].ToString() : "")"/>
    <input type="hidden" id="crudUpdate" value="@(TempData["crudEditMsg"] != null ? TempData["crudEditMsg"].ToString() : "")" />
    @using (Html.BeginForm("AddEditCountry", "Country", FormMethod.Post, new { @id = "countryForm" }))
    {
        <input type="hidden" name="CountryID" value="0" id="CountryID" />
        <div class="row" style="margin-top: 15px" id="isoCountryDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red">* </span>ISO Country : </label>
                    <div class="col-md-7 isoDrpDiv">
                        <input type="hidden" name="CountryCodeID" value="@Model.IsoCountriesList.FirstOrDefault().Key" id="CountryCodeID"/>
                        @Html.DropDownList("CurrencyCodeID", new SelectList(Model.IsoCountriesList,
                            "Key", "Value"),
                            new {@id = "CountryCodeDrp", @valueFor = "CountryName", @idFor = "CountryCodeID", @class = "form-control ", @tabindex = "-1"})
                    </div>
                    <div class="col-md-7 isoLblDiv" style="display: none">
                        <label style="padding-left: 0px;" class="control-label col-md-5">-</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red">* </span>Country Name :</label>
                    <div class="col-md-7">
                        <input type="text" value="@Model.IsoCountriesList.FirstOrDefault().Value" name="CountryName" data-defaultVal="" maxlength="50" id="CountryName" readonly="readonly" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red">* </span>Date Format :</label>
                    <div class="col-md-7">

                        <input type="hidden" name="DefaultDateFormatID" id="DefaultDateFormatID" value="@Model.DateFormatsList.FirstOrDefault().Key">
                        @Html.DropDownList("CurrencyCodeID", new SelectList(Model.DateFormatsList,
                            "Key", "Value"),
                            new { @id = "dateFormatDrp", @idFor = "DefaultDateFormatID", @class = "form-control " })
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red">* </span>Time Zone :</label>
                    <div class="col-md-7">

                        <input type="hidden" name="DefaultTimeZoneID" id="DefaultTimeZoneID" value="@Model.TimeZonesList.FirstOrDefault().Key">
                        @Html.DropDownList("CurrencyCodeID", new SelectList(Model.TimeZonesList,
                            "Key", "Value"),
                            new { @id = "timeZoneDrp", @idFor = "DefaultTimeZoneID", @class = "form-control " })
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px; display: none" id="workShiftDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;"> </span>Work Shifts :</label>
                <div class="col-md-7">

                    <a style="color: blue" id="WorkShiftsPopupLink">Add/Modify Work Shifts</a>

                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px; display: none" id="isActiveDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;"> </span>Is Active</label>
                <div class="col-md-7">

                    <input type="hidden" name="IsActive" id="IsActive">
                    <input class="isActiveCrudButton" checkboxfor="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">

                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 15px; display: none" id="lastUpdatedDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;"> </span>Last Updated(mm/dd/yyyy) :</label>
                <div class="col-md-7">
                    <label style="padding-left: 0px;" class="control-label col-md-5 updatedDate">-</label>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px; display: none" id="lastUpdatedByDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;"> </span>Last Updated By</label>
                    <div class="col-md-7">
                        <label style="padding-left: 0px;" class="control-label col-md-5 updatedBy">-</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">

            <div class="col-md-2"></div>
            <div class="col-md-8" style="">
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-7" style="text-align: right;">
                        <button type="submit" class="btn btn-default btnSubmit" style="margin: 0px;" id="per">Submit</button>
                        <button type="button" class="btn btn-default btnReset" style="" id="per">Reset</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    }
</div>