﻿@model OneSourceAdminCore.Model.IsoCountryCrudModal

<div class="addEditDiv" style="margin-top: 60px; display: none;">
    <input type="hidden" id="crudMsg" value="@(TempData["crudMsg"] != null ? TempData["crudMsg"].ToString() : "")" />
    <input type="hidden" id="crudUpdate" value="@(TempData["crudEditMsg"] != null ? TempData["crudEditMsg"].ToString() : "")" />
    @using (Html.BeginForm("AddEditISoCountry", "Country", FormMethod.Post, new { @id = "isoCountryForm" }))
    {
        <input type="hidden" name="CountryCodeID" value="0" id="CountryCodeID" />
        <div class="row" style="margin-top: 15px" id="isoCountryDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red">* </span>ISO Country Name : </label>
                    <div class="col-md-7">
                        <input type="text" name="ISOCountryName" value="" maxlength="50" class="form-control chkExisting" id="ISOCountryName"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red">* </span>ISO Country Code(A2) :</label>
                    <div class="col-md-7">
                        <input type="text" value="" name="ISOCountryCodeA2" data-defaultval="" maxlength="2" id="ISOCountryCodeA2" class="form-control chkExisting">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red">* </span>ISO Country Code(A3) : 	</label>
                    <div class="col-md-7">

                        <input type="text" name="ISOCountryCodeA3" id="ISOCountryCodeA3" value="" maxlength="3" class="form-control chkExisting" />

                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red">* </span>ISO Country Code Number :</label>
                    <div class="col-md-7">
                        <input type="text" maxlength="3" name="ISOCountryCodeNumber" id="ISOCountryCodeNumber" value="" class="form-control chkExisting" />
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;">* </span>Default ISO Currency :</label>
                <div class="col-md-7">
                    <input type="hidden" name="CurrencyCodeID" id="CurrencyCodeID" value="@Model.CurrencyCodesList.FirstOrDefault().Key">
                    @Html.DropDownList("CurrencyCodeID", new SelectList(Model.CurrencyCodesList,
                            "Key", "Value"),
                            new { @id = "CurrencyCodeIdDrp", @idFor = "CurrencyCodeID", @class = "form-control " })
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px; display: none" id="isActiveDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;"> </span>Is Active</label>
                <div class="col-md-7">

                    <input type="hidden" name="IsActive" id="IsActive">
                    <input class="isActiveCrudButton" checkboxfor="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">

                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 15px; display: none" id="lastUpdatedDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;"> </span>Last Updated(mm/dd/yyyy) :</label>
                <div class="col-md-7">
                    <label style="padding-left: 0px;" class="control-label col-md-5 updatedDate">-</label>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 15px; display: none" id="lastUpdatedByDiv">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color: red; padding-left: 11px;"> </span>Last Updated By</label>
                    <div class="col-md-7">
                        <label style="padding-left: 0px;" class="control-label col-md-5 updatedBy">-</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">

            <div class="col-md-2"></div>
            <div class="col-md-8" style="">
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-7" style="text-align: right;">
                        <button type="submit" class="btn btn-default btnSubmit" style="margin: 0px;" id="per">Submit</button>
                        <button type="button" class="btn btn-default btnReset" style="" id="per">Reset</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    }
</div>