﻿@model OneSourceAdminCore.Model.CountryCrudModal
@using GridMvc.Html;
@using OneSourceAdmin.Helper


@{
    ViewBag.Title = "Countries";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Locale Settings > Countries</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    @if (@ViewBag.AddEditAccess == true)
    {
        <div class="col-md-6" style="padding: 10px;"><input class="btn btn-default topAddNewButton" value="Add New Country" type="button" style="float:right !important;"></div>
    }


</div>


@Html.Partial("_CountryCrudPartial", Model)

@helper RenderIsActiveButton(int countryId, bool isActive)
{
    if (@ViewBag.AddEditAccess == true)
    {

        if (@isActive)
        {
            <input class="isActiveListButton" data-countryid="@countryId" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
        else
        {
            <input class="isActiveListButton" data-countryid="@countryId" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
        }
    }
    else
    {
        if (isActive)
        {
            <text>Yes</text>
        }
        else
        {
            <text>No</text>
        }
       
    }

}
<br /><br />
<div>

    @Html.Grid(Model.CountryListing).Columns(columns =>
    {
        columns.Add(C => C.CountryName).Sortable(true).Filterable(true).Titled("Country").SetWidth(150);
        columns.Add(C => C.IsoCountryName).Sortable(true).Filterable(true).Titled("ISO Name").SetWidth(40);
        columns.Add(C => C.IsActive).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Active").RenderValueAs(p => RenderIsActiveButton(p.CountryId, p.IsActive)).SetWidth(10);
        if (@ViewBag.AddEditAccess == true)
        {
            columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" data-countryid="@o.CountryId" class="countryEdit">Edit </a>);
        }
    }).WithPaging(50)
</div>


<div class="modal fade" id="workShiftsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style=" border-bottom: 1px solid #3b9ad2; color: white;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(59, 154, 210);background-color: #3b9ad2;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><b>Country Work Shifts</b></h3>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <b>Day Of Week</b>
                    </div>
                    <div class="col-md-4">
                        <b>Start Time</b>
                    </div>
                    <div class="col-md-4">
                        <b>End Time</b>
                    </div>
                </div>
                <br /><br />
                <div class="col-md-12">
                    <div class="col-md-4">
                        <select class="form-control" style="width: 110px; padding: 5px;" id="shiftsDaysDrp">
                            @for (var i = 1; i <= StaticHelper.GetDays().Count(); i++)
                            {
                                <option value="@i">@StaticHelper.GetDays()[i - 1]</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="startHour" style="width: 50px; padding: 0px; margin-right: 7px; float: left;">
                            @for (var i = 0; i < 24; i++)
                            {
                                <option value="@i">@i</option>
                            }

                        </select>

                        <select class="form-control" id="startMinutes" style="width: 50px; padding: 0px;">
                            @for (var i = 0; i <= 59; i++)
                            {
                                <option value="@i">@i</option>
                            }

                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="endHour" style="width: 50px; padding: 0px; float: left; margin-right: 7px;">
                            @for (var i = 0; i < 24; i++)
                            {
                                <option value="@i">@i</option>
                            }

                        </select>

                        <select class="form-control" id="endMinutes" style="width: 50px; padding: 0px;">
                            @for (var i = 0; i <= 59; i++)
                            {
                                <option value="@i">@i</option>
                            }

                        </select>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="col-md-12">
                    <div class="col-md-2" style="float: right; right: 43px; display: none">
                        <input type="hidden" name="name" id="currentWorkShiftCountryId" value="0" />
                        <input type="hidden" name="name" id="currentShiftId" value="0" />
                        <input class="form-control" value="Add" id="addNewShift" type="button" style="background-color: rgb(59, 154, 210); color: white;">


                    </div>
                    <div class="col-md-2" style="float: right; right: 43px; display: none">
                        <input class="form-control" value="Reset" id="resetShift" type="button" style="background-color: rgb(59, 154, 210); color: white; ">
                    </div>
                    <div class="col-md-2" style="float: right; right: 43px; padding: 0px 5px; display: none">
                        <input class="form-control" value="Update" id="updateShift" type="button" style="background-color: rgb(59, 154, 210); color: white; ">
                    </div>

                </div>
                <br /><hr />
                <table class="table table-striped grid-table" id="workShiftsTbl">

                    <thead>
                        <tr>
                            <th class="grid-header" style="width: 50px;">
                                <div><a>Day Of Week</a></div>
                            </th>
                            <th class="grid-header" style="width: 50px;">
                                <div>
                                    <a>Start Time</a>
                                </div>
                            </th>
                            <th class="grid-header" style="width: 50px;">
                                <div>
                                    <a>End Time</a>
                                </div>
                            </th>
                            <th class="grid-header" style="width: 30px;">
                                <div>
                                    <a>Actions</a>
                                </div>
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        @*<tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span class="EditWorkShift">Edit</span><span class="deleteWorkShift">Delete</span></td>
                            </tr>*@
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <span class="popupErrorMsg" style="color: red; float: left; font-weight: bold; display: none; margin-top: 10px;"></span>
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script>


    $(".topAddNewButton").click(function () {
        resetCountryForm();
        $(".addEditDiv").slideToggle("slow");
    });
    $('.isActiveListButton').change(function () {
        showHideLoader(1);
        var data = {
            countryId: $(this).data("countryid"),
            isActive: $(this).prop("checked")
        };
        $.ajax({
            url: '/country/UpdateCountryStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == true) {
                    showNotification("Record update successfully.");
                } else if (data == false) {
                    showNotification("Error while processing.");
                } else if (data == "sessionOut") {
                    showNotification("Login session expired.");
                    window.location.href = "/account/logout";
                }
                showHideLoader(0);
            }
        });

    });

    ///Crud Operations start

    $(".countryEdit").click(function () {

        var countryId = $(this).data("countryid");
        showHideLoader(1);

        $.ajax({
            url: '/country/GetCountryById',
            type: 'POST',
            data: JSON.stringify({ countryId: countryId }),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    $("#CountryID").val(countryId);
                    $("#CountryCodeDrp").val(data.country.CountryCodeID);
                    $("#dateFormatDrp").val(data.country.DefaultDateFormatID);
                    $("#timeZoneDrp").val(data.country.DefaultTimeZoneID);
                    $("#CountryName").attr("data-edit", "true");
                    $("#CountryName").val(data.country.CountryName);
                    $("#CountryName").removeAttr("readonly");
                    $("#CountryName").attr("data-defaultval", data.country.CountryName);
                    $("label.updatedBy").text(data.userName);
                    $("label.updatedDate").text(data.country.LastUpdated);
                    if (data.country.IsActive) {
                        $('.isActiveCrudButton').bootstrapToggle('on');
                    } else {
                        $('.isActiveCrudButton').bootstrapToggle('off');
                    }
                    $(".isoLblDiv").show();
                    $(".isoDrpDiv").hide();
                    $(".isoLblDiv label").text(data.isoCountryName);
                    $("#workShiftDiv").show();
                    $("#isActiveDiv").show();
                    $("#lastUpdatedDiv").show();
                    $("#lastUpdatedByDiv").show();
                    $("#WorkShiftsPopupLink").attr("countryId", countryId);
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $(".addEditDiv").slideDown("slow");
                }
                showHideLoader(0);
            }
        });

    });

    $("#CountryName").focusout(function () {

        if ($(this).attr("data-edit") == "true") {
            var countryName = $(this).val();
            var countryId = $("#CountryID").val();
            showHideLoader(1);
            $.ajax({
                url: '/country/CheckCountryNameExist',
                type: 'POST',
                data: JSON.stringify({ countryName: countryName, countryId: countryId }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            showNotification("Country already exist.");
                            $("#CountryName").val($("#CountryName").attr("data-defaultval"));
                        }
                    }

                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        }

    });

    function resetCountryForm() {
        $(".isoLblDiv").hide();
        $(".isoDrpDiv").show();
        $(".isoLblDiv label").text("-");
        $("#workShiftDiv").hide();
        $("#isActiveDiv").hide();
        $("#lastUpdatedDiv").hide();
        $("#lastUpdatedByDiv").hide();
        $("#CountryName").removeAttr("data-edit");
        $("#CountryName").attr("readonly", "readonly");
        $("#CountryName").removeAttr("data-defaultval");
        $("#CountryID").val("0");

        $("#countryForm select").each(function () {
            $(this).val($(this).find("option:first").val());
            //$(this).val($(this+" option:first").val());
            $(this).trigger('change');

        });


        $("html, body").animate({ scrollTop: 0 }, "slow");

    }

    $(".btnReset").click(function () {
        resetCountryForm();
    });
    //Crud Operations End


    $(document).ready(function () {

        var crudMsg = $("#crudMsg").val();

        if (crudMsg == "True") {
            showNotification("Country added successfully.");
        } else if (crudMsg == "False") {
            showNotification("Error while adding.");
        }

        var crudUpdate = $("#crudUpdate").val();
        if (crudUpdate == "True") {
            showNotification("Country updated successfully.");
        } else if (crudUpdate == "False") {
            showNotification("Error while updating.");
        }

        $(".page-sidebar-menu").find(".locale").addClass("open");
        $(".page-sidebar-menu .locale").find(".sub-menu").css("display", "block");
        $(".page-sidebar-menu .locale").find(".country").addClass("active");


        $('body').on('click', 'td .EditWorkShift', function () {

            //$(".EditWorkShift").live( "click", function() {
            var shiftId = $(this).data("shiftid");
            var countryId = $("#currentWorkShiftCountryId").val();
            var startTime = $(this).parent().data("starttime");
            var endTime = $(this).parent().data("endtime");
            var weekDay = $(this).parent().data("day");

            var starthour = startTime.split(":")[0];
            var startMints = startTime.split(":")[1];

            var endHour = endTime.split(":")[0];
            var endMints = endTime.split(":")[1];

            starthour = removeFirstZero(starthour);
            startMints = removeFirstZero(startMints);
            $("#startHour").val(starthour);
            $("#startMinutes").val(startMints);

            endHour = removeFirstZero(endHour);
            endMints = removeFirstZero(endMints);

            $("#startHour").val(starthour);
            $("#startMinutes").val(startMints);

            $("#endHour").val(endHour);
            $("#endMinutes").val(endMints);

            $("#shiftsDaysDrp").val(weekDay);
            $("#currentShiftId").val(shiftId);

            $("#addNewShift").parent().hide();
            $("#updateShift").parent().show();
            $("#resetShift").parent().show();

            $("#shiftsDaysDrp").attr("disabled", "disabled");

        });


        $('body').on('click', 'td .deleteWorkShift', function () {

            var shiftId = $(this).data("shiftid");
            var countryId = $("#currentWorkShiftCountryId").val();
            if (confirm('Are you sure you want to delete this Work Shift?  You will not be able to undo this action.')) {
                $.ajax({
                    url: '/country/DeletCountryWorkShiftByShiftId',
                    type: 'POST',
                    data: JSON.stringify({ shiftId: shiftId }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data != null) {
                            if (data == true) {
                                GetWorkShiftListByCountryId(countryId);
                                $(".popupErrorMsg").text("Work shift deleted successfully.").show();
                            } else {
                                $(".popupErrorMsg").text("Error while deleting.").show();

                            }
                            if (data == "sessionOut") {
                                window.location.href = "/account/logout";
                            }
                        }

                    },
                    complete: function (data) {
                        showHideLoader(0);
                    }
                });
            }
        });


    });

    function removeFirstZero(value) {
        if (value.indexOf("0") == 0) {
            return value.substring(1);
        }
        return value;
    }

    $("#WorkShiftsPopupLink").click(function () {

        var countryId = $(this).attr("countryid");
        GetWorkShiftListByCountryId(countryId);
    });

    function GetWorkShiftListByCountryId(countryId) {
        showHideLoader(1);
        $("#currentWorkShiftCountryId").val(countryId);
        $(".popupErrorMsg").hide();
        $("#updateShift").parent().hide();
        $("#resetShift").parent().hide();
        $("#addNewShift").parent().show();
        $("#shiftsDaysDrp").removeAttr("disabled");

        $("#workShiftsTbl tbody").html("<b>No Data Found</b>");

        $.ajax({
            url: '/country/GetWorkshiftsByCountryId',
            type: 'POST',
            data: JSON.stringify({ countryId: countryId }),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    $("#workShiftsTbl tbody").html("");
                    $.each(data, function (index, item) {
                        $("#workShiftsTbl tbody").append('<tr data-dayId=' + item.WeekDayId + ' data-shiftId=' + item.ShiftId + '>' +
                            '<td>' + select_optionOfShift(item.WeekDayId) + '</td>' +
                            '<td>' + item.StartTime + '</td>' +
                            '<td>' + item.EndTime + '</td>' +
                            '<td data-day=' + item.WeekDayId + ' data-startTime=' + item.StartTime + ' data-endTime =' + item.EndTime + '>' +
                            '<span class="EditWorkShift" data-shiftid=' + item.ShiftId + ' >Edit</span>|<span class="deleteWorkShift" data-shiftid=' + item.ShiftId + '>Delete</span></td></tr>');

                    });
                    if (data == "sessionOut") {
                        window.location.href = "/account/logout";
                    }
                }

            },
            complete: function (data) {
                showHideLoader(0);
            }
        });

        $("#workShiftsModal select").val($("#workShiftsModal select option:first").val());
        $('#workShiftsModal').modal('show');

    }

    function select_optionOfShift(i) {
        return $('#shiftsDaysDrp option[value="' + i + '"]').html().trim();
    }

    $("#addNewShift").click(function () {

        $(".popupErrorMsg").hide();
        var getWeekDay = $("#shiftsDaysDrp").val();

        var getExistingData = $("#workShiftsTbl tbody tr[data-dayid='" + getWeekDay + "']").data("shiftid");

        if (getExistingData == null || getWeekDay == 'undefined') {
            showHideLoader(1);
            var startTime = $("#startHour").val() + ":" + $("#startMinutes").val();
            var endTime = $("#endHour").val() + ":" + $("#endMinutes").val();
            var countryId = $("#currentWorkShiftCountryId").val();
            var data = {
                WeekDayId: getWeekDay,
                StartTime: startTime,
                EndTime: endTime,
                CountryId: countryId
            }

            $.ajax({
                url: '/country/AddNewWorkShiftByCountry',
                type: 'POST',
                data: JSON.stringify({ workShift: data }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data != null) {
                        if (data == true) {
                            GetWorkShiftListByCountryId(countryId);
                            $(".popupErrorMsg").text("Work shift added successfully.").show();
                        } else {
                            $(".popupErrorMsg").text("Error while adding.").show();

                        }
                        if (data == "sessionOut") {
                            window.location.href = "/account/logout";
                        }
                    }


                },
                complete: function (data) {
                    showHideLoader(0);
                }
            });
        } else {
            $(".popupErrorMsg").text("Day already exist please delete existing record to add.").show();
            showHideLoader(0);
        }

    });

    $("#updateShift").click(function () {

        $(".popupErrorMsg").hide();
        var getWeekDay = $("#shiftsDaysDrp").val();
        var currentShiftId = $("#currentShiftId").val();
        showHideLoader(1);
        var startTime = $("#startHour").val() + ":" + $("#startMinutes").val();
        var endTime = $("#endHour").val() + ":" + $("#endMinutes").val();
        var countryId = $("#currentWorkShiftCountryId").val();
        var data = {
            WeekDayId: getWeekDay,
            StartTime: startTime,
            EndTime: endTime,
            CountryId: countryId,
            ShiftId: currentShiftId
        }

        $.ajax({
            url: '/country/UpdateShiftByCountryId',
            type: 'POST',
            data: JSON.stringify({ workShift: data }),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    if (data == true) {
                        GetWorkShiftListByCountryId(countryId);
                        $(".popupErrorMsg").text("Work shift updated successfully.").show();
                    } else {
                        $(".popupErrorMsg").text("Error while updating.").show();

                    }
                    if (data == "sessionOut") {
                        window.location.href = "/account/logout";
                    }
                }

            },
            complete: function (data) {
                showHideLoader(0);
            }
        });


    });

    $("#resetShift").click(function () {

        $("#workShiftsModal select").val($("#workShiftsModal select option:first").val());
        $(".popupErrorMsg").hide();
        $("#currentShiftId").val("0");
        $("#updateShift").parent().hide();
        $("#resetShift").parent().hide();
        $("#addNewShift").parent().show();
        $("#shiftsDaysDrp").removeAttr("disabled");
    });


</script>

<style>
    .EditWorkShift {
        color: blue;
        cursor: pointer;
        padding: 0 10px;
    }

    .deleteWorkShift {
        color: blue;
        cursor: pointer;
        padding: 0 10px;
    }
</style>