﻿@model OneSourceAdminCore.Model.IsoCountryCrudModal
@using GridMvc.Html;
@using OneSourceAdmin.Helper

@{
    ViewBag.Title = "ISO Countries";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="clearfix"></div>
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Locale Settings > ISO Countries</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    @if (@ViewBag.AddEditAccess == true)
    {
        <div class="col-md-6" style="padding: 10px;"><input style="float:right !important;" class="btn btn-default topAddNewButton" value="Add New Country" type="button"></div>}
</div>

@Html.Partial("_ISOCountryCrudPartial", Model)
@helper RenderIsActiveButton(int isoCountryId, bool isActive)
{
if (@ViewBag.AddEditAccess == true)
{
    if (@isActive)
    {
            <input class="isActiveListButton" data-isocountryid="@isoCountryId" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
    }
    else
    {
            <input class="isActiveListButton" data-isocountryid="@isoCountryId" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
    }
}
else
{
    if (isActive)
    {
            <text>Yes</text>
    }
    else
    {
            <text>No</text>
    }

}

}
<br /><br />
<div>
    @Html.Grid(Model.IsoCountryListing).Columns(columns =>
    {
        columns.Add(C => C.IsoCountryName).Sortable(true).Filterable(true).Titled("ISO Country").SetWidth(150);
        columns.Add(C => C.Code).Sortable(true).Filterable(true).Titled("Code").SetWidth(40);
        columns.Add(C => C.DefaultCurrency).Sortable(true).Filterable(true).Titled("Default Currency").SetWidth(40);
        columns.Add(C => C.IsActive).Sortable(true).Filterable(true).Encoded(false).Sanitized(false).Titled("Active").RenderValueAs(p => RenderIsActiveButton(p.IsoCountryId, p.IsActive)).SetWidth(10);
        if (@ViewBag.AddEditAccess == true)
        {
            columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" data-isocountryid="@o.IsoCountryId" class="isoCountryEdit">Edit </a>);
        }
    }).WithPaging(50)
</div>

<script>


    $(".topAddNewButton").click(function () {
        resetCountryForm();
        $(".addEditDiv").slideToggle("slow");
    });




    $('.isActiveListButton').change(function () {
        showHideLoader(1);
        var data = {
            isoCountryId: $(this).data("isocountryid"),
            isActive: $(this).prop("checked")
        };
        $.ajax({
            url: '/country/UpdateIsoCountryStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data == true) {
                    showNotification("Record update successfully.");
                } else if (data == false) {
                    showNotification("Error while processing.");
                } else if (data == "sessionOut") {
                    showNotification("Login session expired.");
                    window.location.href = "/account/logout";
                }
                showHideLoader(0);
            }
        });

    });

    ///Crud Operations start

    $(".isoCountryEdit").click(function () {

        var isoCountryId = $(this).data("isocountryid");
        showHideLoader(1);

        $.ajax({
            url: '/country/GetIsoCountryById',
            type: 'POST',
            data: JSON.stringify({ isoCountryId: isoCountryId }),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    $("#CountryCodeID").val(isoCountryId);
                    $("#ISOCountryName").val(data.country.CountryName);
                    $("#ISOCountryName").attr("data-defaultval", data.country.CountryName);
                    $("#ISOCountryName").attr("data-edit", "true");

                    $("#ISOCountryCodeA2").val(data.country.CountryCodeA2);
                    $("#ISOCountryCodeA2").attr("data-defaultval", data.country.CountryCodeA2);
                    $("#ISOCountryCodeA2").attr("data-edit", "true");

                    $("#ISOCountryCodeA3").val(data.country.CountryCodeA3);
                    $("#ISOCountryCodeA3").attr("data-defaultval", data.country.CountryCodeA3);
                    $("#ISOCountryCodeA3").attr("data-edit", "true");

                    $("#ISOCountryCodeNumber").val("" + data.country.CountryCode);
                    $("#ISOCountryCodeNumber").attr("data-defaultval", data.country.CountryCode);
                    $("#ISOCountryCodeNumber").attr("data-edit", "true");

                    $("#CurrencyCodeIdDrp").val(data.country.CurrencyId);
                    $("label.updatedBy").text(data.userName);
                    $("label.updatedDate").text(data.country.LastUpdated);
                    if (data.country.IsActive) {
                        $('.isActiveCrudButton').bootstrapToggle('on');
                    } else {
                        $('.isActiveCrudButton').bootstrapToggle('off');
                    }

                    $("#isActiveDiv").show();
                    $("#lastUpdatedDiv").show();
                    $("#lastUpdatedByDiv").show();

                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $(".addEditDiv").slideDown("slow");
                }
                showHideLoader(0);
            }
        });

    });

    $(".chkExisting").focusout(function () {

        var currentTxtbox = $(this);
        var name = $(this).attr("name");
        var isEdit = $(this).data("edit");
        var defaultVal = $(this).data("defaultval");

        var value = $(this).val();
        var isoCountryId = $("#CountryCodeID").val();

        showHideLoader(1);
        $.ajax({
            url: '/country/CheckIsoAlreadyExist',
            type: 'POST',
            data: JSON.stringify({ checkFor: name, value: value, isoCountryId: isoCountryId }),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    if (data == true) {
                        showNotification("Similar record already exist.");
                        if (isEdit == true) {
                            $(currentTxtbox).val(defaultVal);
                        } else {
                            $(currentTxtbox).val("");
                        }

                    }
                }

            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    });

    function resetCountryForm() {

        $("#isActiveDiv").hide();
        $("#lastUpdatedDiv").hide();
        $("#lastUpdatedByDiv").hide();
        $("#ISOCountryName").removeAttr("data-edit");
        $("#ISOCountryName").val("");
        $("#ISOCountryName").removeAttr("data-defaultval");
        $("#CountryCodeID").val("0");

        $("#isoCountryForm .chkExisting").each(function () {
            $(this).val("");
            //$(this).val($(this+" option:first").val());
        });

        $("#isoCountryForm select").each(function () {
            $(this).val($(this).find("option:first").val());
            //$(this).val($(this+" option:first").val());
            $(this).trigger('change');

        });


        $("html, body").animate({ scrollTop: 0 }, "slow");

    }

    $(".btnReset").click(function () {
        resetCountryForm();
    });
    //Crud Operations End


    $(document).ready(function () {

        $('#ISOCountryCodeNumber').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        $('input').on('keypress', function (event) {
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });

        var crudMsg = $("#crudMsg").val();

        if (crudMsg == "True") {
            showNotification("Record added successfully.");
        } else if (crudMsg == "False") {
            showNotification("Error while adding.");
        }

        var crudUpdate = $("#crudUpdate").val();
        if (crudUpdate == "True") {
            showNotification("Record updated successfully.");
        } else if (crudUpdate == "False") {
            showNotification("Error while updating.");
        }

    });



    $("#isoCountryForm").submit(function (e) {

        var isoCountryName = $("#ISOCountryName").val().trim();
        var codeA2 = $("#ISOCountryCodeA2").val().trim();
        var codeA3 = $("#ISOCountryCodeA3").val().trim();
        var codeNumber = $("#ISOCountryCodeNumber").val().trim();

        if (isoCountryName.length == 0 || codeA2.length == 0 || codeA3.length == 0 || codeNumber.length == 0) {
            e.preventDefault();
            alert("All fields are required.");

            return false;
        }

        if (codeA2.length != 2) {
            e.preventDefault();
            alert("Please enter a 2 character ISO Country Code for A2 (i.e. US).");
            return false;
        }
        if (codeA3.length != 3) {
            e.preventDefault();
            alert("Please enter a 3 character ISO Country Code for A3 (i.e. USA).");
            return false;
        }
        if (codeNumber.length != 3) {
            e.preventDefault();
            alert("Please enter a 3 digit ISO country code number (i.e. 004).");
            return false;
        }

    });

</script>
<style>
    .EditWorkShift {
        color: blue;
        cursor: pointer;
        padding: 0 10px;
    }

    .deleteWorkShift {
        color: blue;
        cursor: pointer;
        padding: 0 10px;
    }
</style>