﻿@model OneSourceAdminCore.Model.OrderDetailModel
<link href="~/Content/assets/admin/layout/css/OrderStatusBar.css" rel="stylesheet" />
<div class="col-md-12 back-btn" style="padding-bottom: 15px;">
    @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print Excel</button>*@
    <button type="submit" class="btn btn-default btnSubmit" id="per" onclick="downloadPDF()">Print PDF</button>
    @*<button type="submit" class="btn btn-default btnSubmit" id="per">Print</button>*@
</div>
<div class="clearfix"></div>
<div class="container" style="max-width: 1000px !important;">
    <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-xs-2 bs-wizard-step  N">
            <div class="text-center bs-wizard-stepnum"><b>Order placed</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-2 bs-wizard-step  A">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum"><b>Order accepted by supplier</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-2 bs-wizard-step Z">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum"><b>Order placed with OEM</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-2 bs-wizard-step P">
            <!-- active -->
            <div class="text-center bs-wizard-stepnum"><b>Order partially shipped</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-xs-2 bs-wizard-step C">
            <!-- active -->
            <div class="text-center bs-wizard-stepnum"><b>Order complete/Delivered</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm("UpdateOrderDetail", "OrderSearch", FormMethod.Post, new { @id = "OrderDetailForm", @enctype = "multipart/form-data" }))
{
    var DateFormate = string.Empty;
    var DateFormateView = string.Empty;
    if (Session["DateFormatID"].ToString() == "0" || Session["DateFormatID"].ToString() == "1")
    {
        DateFormate = "dd/mm/yyyy";
        DateFormateView = "dd/MM/yyyy";
    }
    else if (Session["DateFormatID"].ToString() == "2")
    {
        DateFormate = "mm/dd/yyyy";
        DateFormateView = "MM/dd/yyyy";
    }

    <div class="col-md-6">
        <div class="col-md-4">
            <label>Order No:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.SessionTrackingNumber + "-" + Model.OrderDetail.OrderTrackingNumber + "-" + Model.OrderDetail.DestinationTrackingNumber)</p>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Ordered By:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.UserName ?? "")</p>
            <input type="hidden" id="SessionTrackingNumber" name="SessionTrackingNumber" value="@(Model.OrderDetail.SessionTrackingNumber)">
            <input type="hidden" id="OrderTrackingNumber" name="OrderTrackingNumber" value="@(Model.OrderDetail.OrderTrackingNumber)">
            <input type="hidden" id="DestinationTrackingNumber" name="DestinationTrackingNumber" value="@(Model.OrderDetail.DestinationTrackingNumber)">

        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Created By:</label>
        </div>
        <div class="col-md-8">
            @(Model.CreatedBy ?? "-")
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Order PO:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="100" value="@(Model.OrderDetail.OrderPO ?? " ")" name="OrderPO" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Destination PO:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="50" value="@(Model.OrderDetail.DestinationPO == null ? " " : Model.OrderDetail.DestinationPO.ToString())" name="DestinationPO" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label><span style="color:red">*</span> Order Date: <span style="font-size: 10px;">(@DateFormate)</span></label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-9" style="padding-left: 0px;">
                    <div style="width: 190px !important;" class="input-group input-medium date date-picker" data-date="@(Model.OrderDetail.OrderDate == null ?DateTime.Now.ToString("MM/dd/yyyy"):Model.OrderDetail.OrderDate.ToString("MM/dd/yyyy"))" data-date-format=@DateFormate data-date-viewmode="years">
                        <input type="text" name="OrderDate" value="@(Model.OrderDetail.OrderDate == null ? " " : Model.OrderDetail.OrderDate.ToString(DateFormateView) )" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Country:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.OrderCountry ?? "")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Delivery Address:</label>
        </div>
        <div class="col-md-8">
            <p>
                @(Model.OrderDetail.ShippingCondensedAddress ?? "-")<br>@(Model.OrderDetail.ShippingAddress1 ?? "-")<br>
                @(Model.OrderDetail.ShippingAddress2 ?? "-")<br>@(Model.OrderDetail.ShippingCity ?? "-")<br>
                @(Model.OrderDetail.ShippingStateProvinceRegion ?? "-")<br> @(Model.OrderDetail.ShippingPostalCode ?? "-")<br>@(Model.OrderDetail.ShippingCountryName ?? "-")
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Invoice Address:</label>
        </div>
        <div class="col-md-8">
            <p>
                @(Model.OrderDetail.BillingCondensedAddress ?? "-")<br>@(Model.OrderDetail.BillingAddress1 ?? "-")<br>
                @(Model.OrderDetail.BillingAddress2 ?? "-")<br>@(Model.OrderDetail.BillingCity ?? "-")<br>
                @(Model.OrderDetail.BillingStateProvinceRegion ?? "-")<br> @(Model.OrderDetail.BillingPostalCode ?? "-")<br>@(Model.OrderDetail.BillingCountryName ?? "-")
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Contact:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.ShippingContact ?? "-")</p>
        </div>
        <div class="clearfix"></div>
        @if (Model.OrderDetail.CustomerName == "EIPC(subway)")//by Adnan 27-june-2019
        {
            <div class="col-md-4">
                <label>VAT #:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.VAT ?? "-")</p>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4">
                <label>Email #:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.Email ?? "-")</p>
            </div>
            <div class="clearfix"></div>
        }




        <div class="col-md-4">
            <label>Order Status:</label>
        </div>
        <div class="col-md-8 pm-mp">

            @if (Model.OrderDetail.OrderStatusID == 13)
            {
                <p>Cancelled</p>
            }
            else
            {
                <div class="col-md-6" style="padding-left: 0;padding-right:0px;">
                    @Html.DropDownList("orderStatusId", new SelectList(Model.OrderStatusList,
            "Key", "Value", Model.OrderDetail.OrderStatusID),
            new { @id = "orderStatusId" })
                </div>
                <div class="col-md-6" style="padding-right: 0;padding-right:0px;">
                    <input type="button" class="form-control BtnUpdateStatus" id="per" style="font-size: 12px;" value="Update Status" />
                </div>
            }
        </div>


        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <label>Customer:</label>
        </div>
        <div class="col-md-8">
            @(Model.OrderDetail.CustomerName ?? "-")
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Delivery Status:</label>
        </div>
        <div class="col-md-8">
            @{
                var sCode = Model.StatusCode ?? "-";
                if (sCode.Trim() == "N")
                {
                    <span>New</span>
                }
                else if (sCode.Trim() == "P")
                {
                    <span>In Progress</span>
                }
                else if (sCode.Trim() == "D")
                {
                    <span>Delivered</span>
                }
                else if (sCode.Trim() == "S")
                {
                    <span>Shipped</span>
                }

            }
        </div>



        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Delivery Date:<span style="font-size: 10px;"> (@DateFormate) </span></label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.DateShipped == null ? "-" : Model.OrderDetail.DateShipped.ToString())</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Order Total:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.Total == null ? "" : String.Format("{0:0.##}", Model.OrderDetail.Total) )</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Currency:</label>
        </div>
        <div class="col-md-8">
            <p>@(Model.OrderDetail.Currency ?? Model.OrderDetail.Currency)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Shipping Method:</label>
        </div>
        <div class="col-md-8">
            <p style="color:red">@(Model.ShippingMethod ?? "-")</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Total VAT:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="8" value="@(Model.OrderDetail.VAT == null ? " " :String.Format("{0:0.##}", Model.OrderDetail.VAT))" name="VAT" class="form-control numericwithdecimal" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Basket Name:</label>
        </div>
        <div class="col-md-8">
            <p>@(string.IsNullOrEmpty(Model.BasketName) ? "-" : Model.BasketName) </p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Shipping Charges:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="8" value="@(Model.OrderDetail.ShippingAmount == null ? " " : String.Format("{0:0.##}", Model.OrderDetail.ShippingAmount))" name="ShippingAmount" class="form-control numericwithdecimal" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Invoice Number:</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="250" value="@(Model.OrderDetail.InvoiceNumber == null ? " " : Model.OrderDetail.InvoiceNumber.ToString())" name="InvoiceNumber" class="form-control" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Invoice Date: <span style="font-size: 10px;">(@DateFormate)</span></label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-9" style="padding-left: 0px;">
                    <div style="width:190px!important" class="input-group input-medium date date-picker" data-date="@(Model.OrderDetail.InvoiceDate == null?DateTime.Now.ToString("MM/dd/yyyy"):Convert.ToDateTime(Model.OrderDetail.InvoiceDate).ToString("MM/dd/yyyy"))" data-date-format=@DateFormate data-date-viewmode="years">
                        <input type="text" name="InvoiceDate" value="@(Model.OrderDetail.InvoiceDate == null ? " " : Convert.ToDateTime(Model.OrderDetail.InvoiceDate).ToString(DateFormateView))" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Accepted Date: <span style="font-size: 10px;">(@DateFormate)</span></label>
        </div>
        <div class="col-md-8" style="padding-bottom: 15px;">
            <div class="form-group">
                <div class="col-md-9" style="padding-left: 0px;">
                    <div style="width:190px!important" class="input-group input-medium date date-picker" data-date="@(Model.OrderDetail.DateAcceptedBySupplier==null?DateTime.Now.ToString("MM/dd/yyyy"):Convert.ToDateTime(Model.OrderDetail.DateAcceptedBySupplier).ToString("MM/dd/yyyy"))" data-date-format=@DateFormate data-date-viewmode="years">
                        <input type="text" name="DateAcceptedBySupplier" value="@(Model.OrderDetail.DateAcceptedBySupplier == null ? " " : Convert.ToDateTime(Model.OrderDetail.DateAcceptedBySupplier).ToString(DateFormateView))" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="resetDate" type="button" style="width: 44px; border-style: none; background-color: white; height: 34px;">
                        <img src="/Content/images/reset-btn.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            <label>Quote#:</label>
        </div>
        <div class="col-md-8">
            @(Model.QuoteId > 0 ? Model.QuoteId.ToString() : "-")
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>SMB Quote#:</label>
        </div>
        <div class="col-md-8">
            @(Model.SMBQuoteId > 0 ? Model.SMBQuoteId.ToString() : "-")
        </div>

        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Contact:</label>
        </div>
        <div class="col-md-8">
            @(Model.OrderDetail.BillingContact ?? "-")
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="padding-top:10px">
            <a onclick="ChangesAndCancellationRequest()" style="color: blue;">Changes & Cancellation Request</a>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        @if (Model.OrderDetail.CustomerName == "EIPC(subway)")//by Adnan 27-june-2019
        {
            <div class="col-md-4">
                <label>Tel #:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.TelephoneNumber ?? "-")</p>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4">
                <label>Corporate Name:</label>
            </div>
            <div class="col-md-8">
                <p>@(Model.CorporateName ?? "-")</p>
            </div>
            <div class="clearfix"></div>
        }
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="padding-top:10px">
            @if (Model.OrderDetail.OrderStatusID == 3 || Model.OrderDetail.OrderStatusID == 5 || Model.OrderDetail.OrderStatusID == 7 || Model.OrderDetail.OrderStatusID == 8 || Model.OrderDetail.OrderStatusID == 9)
            {
                <a onclick="ResendOrder()" style="color: blue;">Resend Order</a>
            }
        </div>
        <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>
    <div class="col-md-8">
        @if (Model.OrderDetail.OrderStatusID == 7 || Model.OrderDetail.OrderStatusID == 6)
        {
            if (Convert.ToInt32(Session["UserSecurityLevel"]) == 2 || Convert.ToInt32(Session["UserSecurityLevel"]) == 3)
            {
                <div class="col-md-3">
                    <label style="color:red;">Order Status Override:</label>
                </div>
                <div class="col-md-8 pm-mp">
                    <div class="col-md-5" style="padding-left: 0;">
                        <select name="ChangeTStatus" id="ChangeTStatus">
                            <option value="A">Accepted by Supplier</option>
                        </select>
                    </div>
                    <div class="col-md-6" style="padding-right: 0;">
                        <input name="ChangeOrderStatus" class="btn btn-default" onclick="ChangeCompleteOrderStatus()" type="button" value="Change Order Status" style="color:red;" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="reasonChangeOrderStatusDiv" style="display:none">
                    <div class="col-md-4">
                        <label style="color:red;">Add Reasons for changing Order Status:</label>
                    </div>
                    <div class="col-md-8">
                        <textarea name="ReasonChangeOrderStatus" class="form-control" style="width: 250px;height: 150px;" cols="5" rows="5"></textarea>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        }
    </div>
    <div class="col-md-12 back-btn">
        <button type="button" class="btn btn-default btnCancel" id="per">Cancel</button>
        <button type="submit" class="btn btn-default btnSubmit" id="per">Update</button>
    </div>
                }

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("ChangesAndCancellationRequest", "OrderSearch", FormMethod.Post, new { @id = "sendCommentForm", @enctype = "multipart/form-data" }))
            {
            <div class="modal-header" style="background-color: #399bd3;color: white;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="font-weight:800">Order Change/Cancellation Request - Comments</h3>
            </div>
            <div class="modal-body">
                <div class="col-md-12"><p><b>Note: This request will be handled on a best effort basis.</b></p></div>
                <div class="clearfix"></div>
                <input type="hidden" id="SessionTrackingNumber" name="SessionTrackingNumber" value="@(Model.OrderDetail.SessionTrackingNumber)">
                <input type="hidden" id="OrderTrackingNumber" name="OrderTrackingNumber" value="@(Model.OrderDetail.OrderTrackingNumber)">
                <input type="hidden" id="DestinationTrackingNumber" name="DestinationTrackingNumber" value="@(Model.OrderDetail.DestinationTrackingNumber)">
                <div class="col-md-12">
                    <textarea cols="15" rows="6" class="form-control" name="Comments"></textarea>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <p>
                        <b>
                            Enter order change/cancellation comments for the
                            current order (destination) only.
                        </b>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            }

        </div>
    </div>
</div>
<script>
    $(function () {
        getOrderStatus(@Model.OrderDetail.SessionTrackingNumber);
    });

    function ChangeCompleteOrderStatus() {

        if ($('#reasonChangeOrderStatusDiv:visible').length == 0) {
            $('#reasonChangeOrderStatusDiv').show();
            $('textarea[name="ReasonChangeOrderStatus"]').focus();
        }
        else {

            if ($('textarea[name="ReasonChangeOrderStatus"]').val().trim().length == 0) {
                alert("You did not enter a value into the Add reasons to change order status field. This is a required field. Please enter it now");
                $('textarea[name="ReasonChangeOrderStatus"]').focus();
            }
            else {
                //work for change status
                if (confirm("Are you sure you want to change the Order Status, These changes cannot be undone ?")) {
                    showHideLoader(1);
                    var data = {
                        SessionTrackingNumber: $('#SessionTrackingNumber').val(),
                        OrderTrackingNumber: $('#OrderTrackingNumber').val(),
                        DestinationTrackingNumber: $('#DestinationTrackingNumber').val(),
                        Ostatus: $('#ChangeTStatus').val(),
                        Reason: $('textarea[name="ReasonChangeOrderStatus"]').val()
                    }
                    $.ajax({
                        url: '/OrderSearch/ChangeOrderStatus',
                        type: 'POST',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json;charset=utf-8',
                        success: function (data) {
                            if (data != null) {
                                showNotification(data.message);
                                setTimeout(function () {
                                    window.location.href = "/order-detail/" + data.strTrackingNo;
                                }, 2000);

                            }
                            else {
                                showNotification("Error Occured.");
                            }
                        },
                        complete: function (data) {
                            showHideLoader(0);
                        }
                    });
                }
                //
            }
        }
    }
    $('.BtnUpdateStatus').click(function () {

        if (!confirm("Are you sure you want to update the Order Status ?")) {
            return false;
        }

        showHideLoader(1);
        var data = {
            SessionTrackingNumber: $('#SessionTrackingNumber').val(),
            OrderTrackingNumber: $('#OrderTrackingNumber').val(),
            DestinationTrackingNumber: $('#DestinationTrackingNumber').val(),
            OrderStatusId: $('#orderStatusId').val()
        }


        $.ajax({
            url: '/OrderSearch/UpdateOrderStatus',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data != null) {

                    window.location.href = "/order-detail/" + data;
                }
            },
            complete: function (data) {
                showHideLoader(0);
            }
        });
    });
    $(".btnCancel").click(function () {
        location.reload();
    });
    $("#OrderDetailForm").submit(function () {

        if ($('#hDateFormatId').val() == "0" || $('#hDateFormatId').val() == "1") {
            var strDate = "";
            if ($("input[name='OrderDate']").val().trim() != "") {
                strDate = $("input[name='OrderDate']").val();
                var arrStrDate = strDate.split('/');
                strDate = arrStrDate[1] + "/" + arrStrDate[0] + "/" + arrStrDate[2];
                $("input[name='OrderDate']").val(strDate);
            }
            if ($("input[name='InvoiceDate']").val().trim() != "") {
                strDate = $("input[name='InvoiceDate']").val();
                var arrStrDate = strDate.split('/');
                strDate = arrStrDate[1] + "/" + arrStrDate[0] + "/" + arrStrDate[2];
                $("input[name='InvoiceDate']").val(strDate);
            }
            if ($("input[name='DateAcceptedBySupplier']").val().trim() != "") {
                strDate = $("input[name='DateAcceptedBySupplier']").val();
                var arrStrDate = strDate.split('/');
                strDate = arrStrDate[1] + "/" + arrStrDate[0] + "/" + arrStrDate[2];
                $("input[name='DateAcceptedBySupplier']").val(strDate);
            }
        }







        var orderDate = $("input[name='OrderDate']").val().trim();
        if (orderDate == "") {
            alert("Order Date is required");
            return false;
        }
        var DateAcceptedBySupplier = $('input[name="DateAcceptedBySupplier"]').val();

        if (DateAcceptedBySupplier != "") {
            DateAcceptedBySupplier = new Date(DateAcceptedBySupplier);
            orderDate = new Date(orderDate);
            if (orderDate > DateAcceptedBySupplier) {
                alert("Order Date cannot be after Date Accepted.");
                return false;
            }
        }
        showHideLoader(1);
    });
    function ChangesAndCancellationRequest() {
        $('#myModal').modal('show');
    }

    $('#sendCommentForm').submit(function () {
        if ($('textarea[name="Comments"]').val().trim() == "") {
            alert("Please provide change/cancellation comments");
            return false;
        }
        StartLoader();
    });
    function ResendOrder() {
        if (confirm("Are you sure you want to resend the Order (" + $('#SessionTrackingNumber').val() + "-" + $('#OrderTrackingNumber').val() + "-" + $('#DestinationTrackingNumber').val() + ") ?")) {
            StartLoader();
            window.location.href = "/ResendOrder/" + $('#SessionTrackingNumber').val() + "/" + $('#OrderTrackingNumber').val() + "/" + $('#DestinationTrackingNumber').val();
        }
    }
    function getOrderStatus(sessionTrackingNo) {
        $.ajax({
            url: '/OrderSearch/GetOrderStatusCode?sessionTrackingNo=' + sessionTrackingNo,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (response) {
                $('.container').find('.' + response).addClass('complete').next().addClass('active disabled').nextAll().addClass('disabled');
                $('.container').find('.' + response).prevAll().addClass('complete');
            }
        });
    }

    function downloadPDF() {
        window.location = "/OrderSearch/ExportOrderDetailToPdf?sessionTrackingNumber=" + '@Model.SessionTrackingNumber' + "-" + '@(Model.OrderDetail.OrderTrackingNumber)' + "-" + '@Model.OrderDetail.DestinationTrackingNumber';
    }

</script>
