﻿@model OneSourceAdminCore.Model.PartCategoryModel
@{
    ViewBag.Title = "Add Update Part Category";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Product Maintenance > Part Categories </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button" style="float: right;">
    </div>
</div>

@using (Html.BeginForm("AddEditPartCategory", "ProductMaintenance", FormMethod.Post, new { @id = "PartCategoryForm" }))
{
    <div class="os-admin-companies">
        <input type="hidden" value="@Model.PCId" name="PartCategoryID">
        <!-- Tab panes -->
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label><span style="color:red">* </span>Part Category Name:</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="PartCategoryName" maxlength="100" class="form-control" value="@(Model.PartCategoryName)" />
        </div>
        <div class="col-md-3"></div>
        
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label><span style="color:red">&nbsp;&nbsp; </span>Company:</label>
        </div>
        <div class="col-md-4" style="margin-bottom:15px">
            @if (Model.Companies != null && Model.Companies.Count > 0)
            {
                @Html.DropDownList("CompanyID", new SelectList(Model.Companies,
                    "Key", "Value", Model.CompanyId),
           new { @id = "CompanyID" })
            }
        </div>
        <div class="col-md-3"></div>    
        @if (Model.PCId > 0)
        {
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Is Active:</label>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">  
                <input type="hidden" name="IsActive" id="IsActive" value="@(Model.IsActive == true ? "true" : "false")">
                @if (Model.IsActive == true)
                {
                    <input class="IsActive" checkboxfor="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
                else
                {
                    <input class="IsActive" checkboxfor="IsActive" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }        
            </div>
            <div class="col-md-3"></div>

            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Last Updated(mm/dd/yyyy):</label>  
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
               @Model.LastUpdated
            </div>
            <div class="col-md-3"></div>

            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Updated By:</label>                   
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                @Model.UserName
            </div>
            <div class="col-md-3"></div>
        }


        <div class="clearfix"></div>

        <div class="col-md-3"></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-default btnSubmit pull-right" id="per">@(Model.PCId == 0 ? "Add" : "Update")</button>
        </div>
        <div class="col-md-3"></div>



        <div class="clearfix"></div>
    </div>
}

<script>
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "/product-maintenance/part-categories";
    });




    $('#PartCategoryForm').submit(function () {
    
        if ($('input[name="PartCategoryName"]').val().trim() == "") {
            alert("Please provide required fields");
            return false;
        }
        StartLoader();
    });

</script>   

