﻿@model OneSourceAdminCore.Model.FreightCarieerModel
@{
    ViewBag.Title = "Add Update Freight Carrier";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Product Maintenance > Freight Carrier </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        <input class="btn btn-default topAddNewButton" id="backToSearch" value="Back To Search" type="button">
    </div>
</div>

@using (Html.BeginForm("AddEditFreightCarrier", "ProductMaintenance", FormMethod.Post, new { @id = "FreightCarrierForm" }))
{
    <div class="os-admin-companies">
        <input type="hidden" value="@Model.FreightCarrier.FreightCarrierID" name="FreightCarrierID">
        <!-- Tab panes -->
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label><span style="color:red">* </span>Freight Carrier Name:</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="FreightCarrierName" maxlength="50" class="form-control" value="@(Model.FreightCarrier.FreightCarrierName??"")" />
        </div>
        <div class="col-md-3"></div>

        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label><span style="color:red">&nbsp;&nbsp; </span>Freight Carrier Code:</label>
        </div>
        <div class="col-md-4" style="margin-bottom:15px">
            <input type="text" name="CarrierCode" maxlength="100" class="form-control" value="@(Model.FreightCarrier.CarrierCode??"")" />
        </div>
        <div class="col-md-3"></div>
        @if (Model.FreightCarrier.FreightCarrierID > 0)
        {
            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Is Active:</label>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                <input type="hidden" name="IsActive" id="IsActive" value="@(Model.FreightCarrier.IsActive == 1 ? "1" : "0")">
                @if (Model.FreightCarrier.IsActive == 1)
                {
                    <input class="IsActive" checkboxfor="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
                else
                {
                    <input class="IsActive" checkboxfor="IsActive" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                }
            </div>
            <div class="col-md-3"></div>

            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Last Updated(mm/dd/yyyy):</label>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
                @Model.FreightCarrier.LastUpdated
            </div>
            <div class="col-md-3"></div>

            <div class="clearfix"></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label><span style="color:red">&nbsp;&nbsp; </span>Updated By:</label>
            </div>
            <div class="col-md-4" style="padding-bottom: 15px;">
               @Model.UserName
            </div>
            <div class="col-md-3"></div>
        }


        <div class="clearfix"></div>

        <div class="col-md-3"></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-default btnSubmit pull-right" id="per">@(Model.FreightCarrier.FreightCarrierID == 0 ? "Add" : "Update")</button>
        </div>
        <div class="col-md-3"></div>



        <div class="clearfix"></div>
    </div>
}

<script>
    $(function () {
        $("select").each(function (i, e) {
            if ($(this).attr("multiple") != "multiple") {
                $(this).select2({ allowClear: true });
            }
        });
        var message = '@ViewBag.Message';
        if (message != '') {
            showNotification(message);
        }
    });
    $('#backToSearch').click(function () {
        window.location.href = "/product-maintenance/freight-carriers";
    });




    $('#FreightCarrierForm').submit(function () {

        if ($('input[name="FreightCarrierName"]').val().trim() == "") {
            alert("Please provide required fields");
            return false;
        }
        StartLoader();
    });

</script>

