﻿@using GridMvc.Html
@model OneSourceAdminCore.Model.ManufacturerPartsModel
@{
    ViewBag.Title = "Manufacturer Parts";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Product Maintenance > Manfacturer Parts</b>
    </div>
    <div class="col-md-3" style="padding: 10px;"></div>
    <div class="col-md-6" style="padding: 5px 10px 0px;"><a href="/product-maintenance/manufacturer-part/0" style="float: right;"><input class="btn btn-default topAddNewButton" value="Add New Part" type="button" ></a></div>
</div>
@using (Html.BeginForm("ManufacturerParts", "ProductMaintenance", FormMethod.Post, new { @id = "customerUpdateForm" }))
{
    <div class="os-admin-companies">
        <!-- Tab panes -->
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="margin-bottom: 10px;">
            @* <input type="hidden" name="SearchType" value="@Model.SearchType" id="txtSearchType" />*@
            <input type="hidden" value="@Model.ManfId" id="hdnManfId" />
            <input type="hidden" value="@Model.CategoryId" id="hdnCatId" />
            <input type="hidden" name="Posted" value="true" id="" />
            <div class="col-md-6">
                @{
    string desChk = "";
    string skuChk = "";
    if (string.IsNullOrWhiteSpace(@Model.SearchType))
    {
        skuChk = "checked=checked";
    }
    if (@Model.SearchType == "sku")
    {
        skuChk = "checked=checked";
    }
    if (@Model.SearchType == "description")
    {
        desChk = "checked=checked";
    }
                }

                <input type="radio" class="form-control cus-radio" name="SearchType" @skuChk value="sku" /> <span>SKU</span>
            </div>
            <div class="col-md-6">
                <input type="radio" class="form-control cus-radio" name="SearchType" @desChk value="description" /> <span>ProductName</span>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Enter Product SKU or Name :</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" maxlength="50" value="@Model.SearchTxt" id="txtSearchText" name="SearchTxt" />
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Category : </label>
        </div>
        <div class="col-md-4 pm-mp" style="margin-bottom: 15px">
            @Html.DropDownList("CategoryId", new SelectList(Model.CategoryList,
                "Key", "Value", @Model.CategoryId), new { })
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Manufactured by :</label>
        </div>
        <div class="col-md-4 pm-mp" style="margin-bottom: 15px">
            @Html.DropDownList("ManfId", new SelectList(Model.ManfList,
                "Key", "Value", @Model.ManfId), new { })
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" id="subForm" class="btn btn-default blueBtn" style="float: right;">Search</button>
        </div>
        <div class="col-md-2"></div>
    </div>
}
<hr />
@if (Model != null && Model.ManfPartList != null)
{

    <div>
        @Html.Grid(Model.ManfPartList.OrderBy(x => x.ManufacturerSKU)).Columns(columns =>
            {
                columns.Add(C => C.ManufacturerSKU).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("SKU").SetWidth(30);

                columns.Add(C => C.Description).Encoded(false).Sanitized(false).Sortable(true).Filterable(true).Titled("Description").SetWidth(40);

                columns.Add(C => C.PartCategoryName).Encoded(false).Sanitized(false).Sortable(true).Titled("Category").SetWidth(40);

                columns.Add(C => C.ManufacturerName).Encoded(false).Sanitized(false).Sortable(true).Titled("Manufacturer").SetWidth(40);

                columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(5).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/product-maintenance/manufacturer-part/@o.ManufacturerPartID" class="isoCountryEdit">Edit </a>);


            }).WithPaging(50)


    </div>
}



<script>

    $(window).load(function () {
        showHideLoader(0);
    });

    $(document).ready(function () {
        showHideLoader(1);
        //to set country drp value none
        $("#CategoryId").prepend("<option value='0' selected='selected'>All Categories</option>");
        $("#CategoryId").select2().val("0").trigger("change");

        $("#ManfId").prepend("<option value='0' selected='selected'>All Manufacturers</option>");
        $("#ManfId").select2().val("0").trigger("change");

        if ($("#hdnManfId").val() != null && $("#hdnManfId").val() > 0) {
            $("#ManfId").select2().val($("#hdnManfId").val()).trigger("change");
        }
        if ($("#hdnCatId").val() != null && $("#hdnCatId").val() > 0) {
            $("#CategoryId").select2().val($("#hdnCatId").val()).trigger("change");
        }

        $('input[type=radio][name=sku-product][checked=checked]').change(function () {
            alert(this.value);
            if (this.value == "sku") {
                $("#txtSearchType").val("sku");
            }
            else {
                $("#txtSearchType").val("description");
            }
        });
        $('input[type=radio][name=sku-product]').change();
    });
</script>