﻿@model OneSourceAdminCore.Model.ManufacturerPartsModel
@{
    ViewBag.Title = "Manufacturer Parts";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="clearfix"></div>
<input type="hidden" id="addMsg" value="@(TempData["addMsg"] != null ? TempData["addMsg"].ToString() : "")" />
<input type="hidden" id="updateMsg" value="@(TempData["editMsg"] != null ? TempData["editMsg"].ToString() : "")" />
<div class="row bread-Crumb-Top">
    <div class="col-md-3" style="padding: 10px; color: #FFF;">
        <b> Product Maintenance > Manufacturer Parts </b>
    </div>
    <div class="col-md-3" style=";padding: 10px;"></div>
    <div class="col-md-6" style="padding: 10px;"><a href="/product-maintenance/manufacturer-parts"><input class="btn btn-default topAddNewButton" value="Back" type="button"></a></div>
</div>



@using (Html.BeginForm("AddUpdateManfPart", "ProductMaintenance", FormMethod.Post, new { @id = "manfPartForm" }))
{
    <div class="os-admin-tabs cards">
        <div class="col-md-12 tab-content">
            <h1> Manufacturer Part</h1>
            <hr />
            <div class="addEditDiv">
                <input type="hidden" name="ManufacturerPartID" class="manfPartIdHdn" value="@Model.ManfPart.ManufacturerPartID" />

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="padding-right: 2px;"><span style="color: red">* </span>Manufacturer : </label>
                            <div class="col-md-8">
                                @Html.DropDownList("ManufacturerID", new SelectList(Model.ManfList,
                                    "Key", "Value", @Model.ManfPart.ManufacturerID),
                                    new { @class = "" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <br /><br /><br />
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="padding-right: 2px;"><span style="color: red">* </span>SKU : </label>
                            <div class="col-md-8">
                                <input type="text" name="ManufacturerSKU" class="form-control manfPartSkuTxt" preval="@Model.ManfPart.ManufacturerSKU" required="" maxlength="50" value="@Model.ManfPart.ManufacturerSKU" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <br /><br /><br />
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="padding-right: 2px;"><span style="color: red">* </span>Category : </label>
                            <div class="col-md-8">
                                @Html.DropDownList("PartCategoryID", new SelectList(Model.CategoryList,
                                    "Key", "Value", @Model.ManfPart.PartCategoryID),
                                    new { @class = "" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <br /><br /><br />
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="padding-right: 2px;">Model : </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="model" maxlength="255" value="@Model.ManfPart.Model" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    @if (@Model.ManfPart.ManufacturerPartID < 1)
                    {
                        <br />
                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;"><span style="color: red">* </span>Availability : </label>
                                <div class="col-md-8">
                                    @Html.DropDownList("PartAvailabilityID", new SelectList(Model.AvailabilityList,
                                        "Key", "Value", @Model.ManfPart.PartAvailabilityID),
                                        new { @class = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>


                        <br />
                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;">UNSPSC : </label>
                                <div class="col-md-8">
                                    @Html.DropDownList("UNSPSC", new SelectList(Model.UnSpsList,
                                        "Key", "Value", @Model.ManfPart.UNSPSC),
                                        new { @class = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>


                        <br />
                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;">Price Code : </label>
                                <div class="col-md-8">
                                    @{
                        int? priceCode = null;
                        if (Model.PriceCodeList.Any(x => x.Key == 3))
                        {
                            priceCode = 3;
                        }
                        else
                        {
                            priceCode = Model.PriceCodeList.FirstOrDefault().Key;
                        }
                                    }
                                    @Html.Hidden("PriceCodeID", priceCode)
                                    @Html.DropDownList("PriceCodeIDdrp", new SelectList(Model.PriceCodeList,
                                        "Key", "Value", priceCode),
                                 new { @class = "", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>


                        <br />
                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;">Exclusive Supplier : </label>
                                <div class="col-md-8">

                                    @Html.DropDownList("SFAID", new SelectList(Model.SupplierList,
                                        "Key", "Value", @Model.ManfPart.SFAID),
                                        new { @class = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    }
                    <br /><br /><br />
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="padding-right: 2px;"><span style="color: red">* </span>Description : </label>
                            <div class="col-md-8">
                                <textarea name="Description" required="" class="form-control" maxlength="3500" rows="2">@Model.ManfPart.Description</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <br />
                    <br />
                    @if (@Model.ManfPart.ManufacturerPartID > 0)
                    {

                        <br />
                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;">Part Details :</label>
                                <div class="col-md-8">
                                    <textarea name="LongDescription" class="form-control" maxlength="4000" rows="2">@Model.ManfPart.LongDescription</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>


                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;">Image Name :</label>
                                <div class="col-md-8">
                                    <input type="text" name="ImageName" class="form-control" maxlength="50" value="@Model.ManfPart.ImageName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>


                        <br />
                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;">Is Active :</label>
                                <div class="col-md-8">

                                    <input type="hidden" name="IsActive" id="IsActive" value="@Model.ManfPart.IsActive.ToString()">
                                    @if (Model.ManfPart.IsActive)
                                    {
                                        <input class="" tabindex="9" checked data-toggle="toggle" data-onstyle="success" checkboxfor="IsActive" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                                    }
                                    else
                                    {
                                        <input class="isActiveListButton" tabindex="9" data-toggle="toggle" checkboxfor="IsActive" data-onstyle="success" data-offstyle="warning" data-on="Yes" data-size="small" data-off="No" type="checkbox">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>

                        <br />
                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;">Last Updated :</label>
                                <div class="col-md-7">
                                    <label style="padding-left: 0px;" class="control-label col-md-5 updatedBy">@Model.ManfPart.LastUpdated.Date.ToString("MM/dd/yyy")</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>


                        <br />
                        <br />
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-right: 2px;">Updated By :</label>
                                <div class="col-md-7">
                                    <label style="padding-left: 0px;" class="control-label col-md-5 updatedBy">@Model.LastUpdateByUser</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    }
                    <br /><br /><br />
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="">
                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-8" style="text-align: right;">
                                <button type="submit" class="btn btn-default btnSubmit" style="margin: 0px;" id="per">
                                    @if (@Model.ManfPart.ManufacturerPartID > 0)
                                    {<text>Update</text>
                                    }
                                    else
                                    { <text>Insert</text>}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}



<div class="clearfix"></div>

<script type="text/javascript">

    $(window).load(function () {
        showHideLoader(0);

        var updateMsg = $("#updateMsg").val();
        if (updateMsg == "True") {
            showNotification("Record updated successfully.");
        } else if (updateMsg == "False") {
            showNotification("Error while updating.");
        }

        var addMsg = $("#addMsg").val();
        if (addMsg == "True") {
            showNotification("Record inserted successfully.");
        } else if (addMsg == "False") {
            showNotification("Error while inserting.");
        }

    });

    $(document).ready(function () {
        showHideLoader(1);

        $("#manfPartForm select").select2({ allowClear: true });

        $("#ManufacturerID").change(function () {
            $(".manfPartSkuTxt").focusout();
        });

        $(".manfPartSkuTxt").focusout(function () {

            var getValue = $(this).val();
            var getManfId = $("#ManufacturerID").val();
            var exitValue = $(this).data("preval");
            var currentManfPartId = $(".manfPartIdHdn").val();
            if (getValue.trim() != null && getValue.trim() != "") {
                showHideLoader(1);
                $.ajax({
                    url: '/ProductMaintenance/ChkDuplicateManfPartBySku',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ sku: getValue, manfId: getManfId, manfPartId: currentManfPartId }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data != null) {

                            if (data == true) {
                                $(".manfPartSkuTxt").val("");
                                alert("A Part with this SKU and Manufacturer already exists.");
                            }
                        }
                    }, complete: function (data) {
                        showHideLoader(0);
                    }
                });
            }
        });


    });

</script>