﻿@model List<OneSourceAdminCore.Entity.sp_getPartCategories_AdminR_Result>
@{
    ViewBag.Title = "Part Categories";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="clearfix"></div>
<div class="row bread-Crumb-Top" style="background-color:#216481; padding: -10px; margin-left: -20px;
  margin-right: -19px;">
    <div class="col-md-3" style="padding:10px; color:#FFF;"><b> Product Maintenance > Part Categories </b></div>
    <div class="col-md-3" style="padding:10px;"></div>
    <div class="col-md-6" style="padding:10px;">
        @if (ViewBag.AddEditAccess == true)
        {
            <input class="btn btn-default topAddNewButton" id="backToSearch" value="Add New Part Category" type="button" style="float:right">
        }
    </div>
</div>

@using GridMvc.Html

<div class="clearfix"></div>
<div class="col-md-12 catalog-add-new" style="margin-top: 40px;">
    <button type="submit" class="btn btn-default btnSubmit pull-right" id="pmfc-back" style="margin-right: 10px;">Back</button>
</div>
<div class="clearfix"></div>
<div role="tabpanel" class="tab-pane">



    <br />
    @if (Model != null && Model.Count > 0)
    {

        @Html.Grid(Model).Columns(columns =>
   {
   columns.Add(c => c.PartCategoryName).Sortable(true).Filterable(true).Titled("Category").SetWidth(30);
   columns.Add(c => c.Company).Sortable(true).Filterable(true).Titled("Company").SetWidth(30);
   columns.Add(c => c.Active).Sortable(true).Filterable(true).Titled("Active").SetWidth(30);
   if (ViewBag.AddEditAccess == true)
   {
       columns.Add().Encoded(false).Sanitized(false).Sortable(false).Filterable(false).SetWidth(10).Titled("Action").RenderValueAs(o => @<a style="color: blue" href="/product-maintenance/part-category/@o.PartCategoryID" >Edit </a>);
       }
   }).WithPaging(15)
    }


</div>

<script>
     @if (ViewBag.AddEditAccess == true)
     {
      <text>
        $('.topAddNewButton').click(function() {
            window.location.href = "/product-maintenance/part-category/0";
         });
      </text>
     }
    $('#pmfc-back').click(function () {
        window.location.href = "/admin-dashboard";
    });
</script>

